{
  "swagger": "2.0",
  "info": {
    "version": "2015-03-20",
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference for LinkTargets, StorageInsightConfigs and SavedSearches."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.OperationalInsights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "OperationsList": {
            "parameters": {
              "api-version": "2015-03-02"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/write",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace",
                      "operation": "Create Workspace",
                      "description": "Creates a new workspace or links to an existing workspace by providing the customer id from the existing workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace",
                      "operation": "Get Workspace",
                      "description": "Gets an existing workspace"
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/delete",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace",
                      "operation": "Delete Workspace",
                      "description": "Deletes a workspace. If the workspace was linked to an existing workspace at creation time then the workspace it was linked to is not deleted."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/generateregistrationcertificate/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Registration Certificate",
                      "operation": "Generates Registration Certificate for Workspace.",
                      "description": "Generates Registration Certificate for the workspace. This Certificate is used to connect Microsoft System Center Operation Manager to the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/write",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration",
                      "operation": "Create Storage Configuration",
                      "description": "Creates a new storage configuration. These configurations are used to pull data from a location in an existing storage account."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration",
                      "operation": "Get Storage Configuration",
                      "description": "Gets a storage configuration."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/delete",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration",
                      "operation": "Delete Storage Configuration",
                      "description": "Deletes a storage configuration. This will stop Microsoft Operational Insights from reading data from the storage account."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/register/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Register",
                      "operation": "Register a subscription to a resource provider.",
                      "description": "Register a subscription to a resource provider."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/sharedKeys/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Shared Keys",
                      "operation": "List Workspace Shared Keys",
                      "description": "Retrieves the shared keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/sharedKeys/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Shared Keys",
                      "operation": "List Workspace Shared Keys",
                      "description": "Retrieves the shared keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/listKeys/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "List Keys",
                      "operation": "List Workspace Keys",
                      "description": "Retrieves the list keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/listKeys/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "List Keys",
                      "operation": "List Workspace Keys",
                      "description": "Retrieves the list keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/managementGroups/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Management Group",
                      "operation": "Get Management Groups for Workspace",
                      "description": "Gets the names and metadata for System Center Operations Manager management groups connected to this workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/usages/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Usage Metric",
                      "operation": "Get Usage Data for Workspace",
                      "description": "Gets usage data for a workspace including the amount of data read by the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/search/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Search",
                      "operation": "Search Workspace Data",
                      "description": "Executes a search query"
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/schema/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Search Schema",
                      "operation": "Get Search Schema",
                      "description": "Gets the search schema for the workspace.  Search schema includes the exposed fields and their types."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/datasources/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Data Source",
                      "operation": "Get datasources under a workspace.",
                      "description": "Get datasources under a workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/datasources/write",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Data Source",
                      "operation": "Create/Update datasources under a workspace.",
                      "description": "Create/Update datasources under a workspace."
                    }
                  },
                  {},
                  {},
                  {},
                  {},
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/notificationSettings/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Notification Settings",
                      "operation": "Get Notification Settings",
                      "description": "Get the user's notification settings for the workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/notificationSettings/write",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Notification Settings",
                      "operation": "Put Notification Settings",
                      "description": "Set the user's notification settings for the workspace."
                    }
                  },
                  {},
                  {},
                  {},
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/configurationScopes/delete",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Configuration Scope",
                      "operation": "Delete Configuration Scope",
                      "description": "Delete Configuration Scope"
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services",
                      "operation": "Get linked services under given workspace.",
                      "description": "Get linked services under given workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/write",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services",
                      "operation": "Create/Update linked services under given workspace.",
                      "description": "Create/Update linked services under given workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/delete",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services",
                      "operation": "Delete linked services under given workspace.",
                      "description": "Delete linked services under given workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs",
                      "operation": "List Intelligence Packs",
                      "description": "Lists all intelligence packs that are visible for a given worksapce and also lists whether the pack is enabled or disabled for that workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/enable/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs",
                      "operation": "Enable Intelligence Pack",
                      "description": "Enables an intelligence pack for a given workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/disable/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs",
                      "operation": "Disable Intelligence Pack",
                      "description": "Disables an intelligence pack for a given workspace."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/analytics/query/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics",
                      "operation": "Search using new engine.",
                      "description": "Search using new engine."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/analytics/query/schema/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics",
                      "operation": "Get search schema V2.",
                      "description": "Get search schema V2."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/api/query/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics",
                      "operation": "Search using new engine.",
                      "description": "Search using new engine."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/api/query/schema/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics",
                      "operation": "Get search schema V2.",
                      "description": "Get search schema V2."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/purge/action",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics",
                      "operation": "Delete specified data from workspace",
                      "description": "Delete specified data from workspace"
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/linkTargets/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Unlinked Account",
                      "operation": "List Unlinked Accounts",
                      "description": "Lists existing accounts that are not associated with an Azure subscription. To link this Azure subscription to a workspace, use a customer id returned by this operation in the customer id property of the Create Workspace operation."
                    }
                  },
                  {
                    "name": "Microsoft.OperationalInsights/workspaces/metricDefinitions/read",
                    "display": {
                      "provider": "Microsoft Operational Insights",
                      "resource": "Metric Definitions",
                      "operation": "Metric Definition operation",
                      "description": "Get Metric Definitions under workspace"
                    },
                    "properties": {
                      "serviceSpecification": {
                        "metricSpecifications": [
                          {
                            "name": "Average_% Free Inodes",
                            "displayName": "Average_% Free Inodes",
                            "displayDescription": "Average_% Free Inodes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Free Space",
                            "displayName": "Average_% Free Space",
                            "displayDescription": "Average_% Free Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Used Inodes",
                            "displayName": "Average_% Used Inodes",
                            "displayDescription": "Average_% Used Inodes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Used Space",
                            "displayName": "Average_% Used Space",
                            "displayDescription": "Average_% Used Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Read Bytes/sec",
                            "displayName": "Average_Disk Read Bytes/sec",
                            "displayDescription": "Average_Disk Read Bytes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Reads/sec",
                            "displayName": "Average_Disk Reads/sec",
                            "displayDescription": "Average_Disk Reads/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Transfers/sec",
                            "displayName": "Average_Disk Transfers/sec",
                            "displayDescription": "Average_Disk Transfers/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Write Bytes/sec",
                            "displayName": "Average_Disk Write Bytes/sec",
                            "displayDescription": "Average_Disk Write Bytes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Writes/sec",
                            "displayName": "Average_Disk Writes/sec",
                            "displayDescription": "Average_Disk Writes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Free Megabytes",
                            "displayName": "Average_Free Megabytes",
                            "displayDescription": "Average_Free Megabytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Logical Disk Bytes/sec",
                            "displayName": "Average_Logical Disk Bytes/sec",
                            "displayDescription": "Average_Logical Disk Bytes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Available Memory",
                            "displayName": "Average_% Available Memory",
                            "displayDescription": "Average_% Available Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Available Swap Space",
                            "displayName": "Average_% Available Swap Space",
                            "displayDescription": "Average_% Available Swap Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Used Memory",
                            "displayName": "Average_% Used Memory",
                            "displayDescription": "Average_% Used Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Used Swap Space",
                            "displayName": "Average_% Used Swap Space",
                            "displayDescription": "Average_% Used Swap Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Available MBytes Memory",
                            "displayName": "Average_Available MBytes Memory",
                            "displayDescription": "Average_Available MBytes Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Available MBytes Swap",
                            "displayName": "Average_Available MBytes Swap",
                            "displayDescription": "Average_Available MBytes Swap",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Page Reads/sec",
                            "displayName": "Average_Page Reads/sec",
                            "displayDescription": "Average_Page Reads/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Page Writes/sec",
                            "displayName": "Average_Page Writes/sec",
                            "displayDescription": "Average_Page Writes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Pages/sec",
                            "displayName": "Average_Pages/sec",
                            "displayDescription": "Average_Pages/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Used MBytes Swap Space",
                            "displayName": "Average_Used MBytes Swap Space",
                            "displayDescription": "Average_Used MBytes Swap Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Used Memory MBytes",
                            "displayName": "Average_Used Memory MBytes",
                            "displayDescription": "Average_Used Memory MBytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Bytes Transmitted",
                            "displayName": "Average_Total Bytes Transmitted",
                            "displayDescription": "Average_Total Bytes Transmitted",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Bytes Received",
                            "displayName": "Average_Total Bytes Received",
                            "displayDescription": "Average_Total Bytes Received",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Bytes",
                            "displayName": "Average_Total Bytes",
                            "displayDescription": "Average_Total Bytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Packets Transmitted",
                            "displayName": "Average_Total Packets Transmitted",
                            "displayDescription": "Average_Total Packets Transmitted",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Packets Received",
                            "displayName": "Average_Total Packets Received",
                            "displayDescription": "Average_Total Packets Received",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Rx Errors",
                            "displayName": "Average_Total Rx Errors",
                            "displayDescription": "Average_Total Rx Errors",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Tx Errors",
                            "displayName": "Average_Total Tx Errors",
                            "displayDescription": "Average_Total Tx Errors",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Total Collisions",
                            "displayName": "Average_Total Collisions",
                            "displayDescription": "Average_Total Collisions",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Avg. Disk sec/Read",
                            "displayName": "Average_Avg. Disk sec/Read",
                            "displayDescription": "Average_Avg. Disk sec/Read",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Avg. Disk sec/Transfer",
                            "displayName": "Average_Avg. Disk sec/Transfer",
                            "displayDescription": "Average_Avg. Disk sec/Transfer",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Avg. Disk sec/Write",
                            "displayName": "Average_Avg. Disk sec/Write",
                            "displayDescription": "Average_Avg. Disk sec/Write",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Physical Disk Bytes/sec",
                            "displayName": "Average_Physical Disk Bytes/sec",
                            "displayDescription": "Average_Physical Disk Bytes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Pct Privileged Time",
                            "displayName": "Average_Pct Privileged Time",
                            "displayDescription": "Average_Pct Privileged Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Pct User Time",
                            "displayName": "Average_Pct User Time",
                            "displayDescription": "Average_Pct User Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Used Memory kBytes",
                            "displayName": "Average_Used Memory kBytes",
                            "displayDescription": "Average_Used Memory kBytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Virtual Shared Memory",
                            "displayName": "Average_Virtual Shared Memory",
                            "displayDescription": "Average_Virtual Shared Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% DPC Time",
                            "displayName": "Average_% DPC Time",
                            "displayDescription": "Average_% DPC Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Idle Time",
                            "displayName": "Average_% Idle Time",
                            "displayDescription": "Average_% Idle Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Interrupt Time",
                            "displayName": "Average_% Interrupt Time",
                            "displayDescription": "Average_% Interrupt Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% IO Wait Time",
                            "displayName": "Average_% IO Wait Time",
                            "displayDescription": "Average_% IO Wait Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Nice Time",
                            "displayName": "Average_% Nice Time",
                            "displayDescription": "Average_% Nice Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Privileged Time",
                            "displayName": "Average_% Privileged Time",
                            "displayDescription": "Average_% Privileged Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Processor Time",
                            "displayName": "Average_% Processor Time",
                            "displayDescription": "Average_% Processor Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% User Time",
                            "displayName": "Average_% User Time",
                            "displayDescription": "Average_% User Time",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Free Physical Memory",
                            "displayName": "Average_Free Physical Memory",
                            "displayDescription": "Average_Free Physical Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Free Space in Paging Files",
                            "displayName": "Average_Free Space in Paging Files",
                            "displayDescription": "Average_Free Space in Paging Files",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Free Virtual Memory",
                            "displayName": "Average_Free Virtual Memory",
                            "displayDescription": "Average_Free Virtual Memory",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Processes",
                            "displayName": "Average_Processes",
                            "displayDescription": "Average_Processes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Size Stored In Paging Files",
                            "displayName": "Average_Size Stored In Paging Files",
                            "displayDescription": "Average_Size Stored In Paging Files",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {},
                          {},
                          {},
                          {},
                          {
                            "name": "Average_Current Disk Queue Length",
                            "displayName": "Average_Current Disk Queue Length",
                            "displayDescription": "Average_Current Disk Queue Length",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Reads/sec",
                            "displayName": "Average_Disk Reads/sec",
                            "displayDescription": "Average_Disk Reads/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Transfers/sec",
                            "displayName": "Average_Disk Transfers/sec",
                            "displayDescription": "Average_Disk Transfers/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Disk Writes/sec",
                            "displayName": "Average_Disk Writes/sec",
                            "displayDescription": "Average_Disk Writes/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Free Megabytes",
                            "displayName": "Average_Free Megabytes",
                            "displayDescription": "Average_Free Megabytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Free Space",
                            "displayName": "Average_% Free Space",
                            "displayDescription": "Average_% Free Space",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Available MBytes",
                            "displayName": "Average_Available MBytes",
                            "displayDescription": "Average_Available MBytes",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_% Committed Bytes In Use",
                            "displayName": "Average_% Committed Bytes In Use",
                            "displayDescription": "Average_% Committed Bytes In Use",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Bytes Received/sec",
                            "displayName": "Average_Bytes Received/sec",
                            "displayDescription": "Average_Bytes Received/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
                                "name": "InstanceName",
                                "displayName": "InstanceName"
                              },
                              {
                                "name": "CounterPath",
                                "displayName": "CounterPath"
                              },
                              {
                                "name": "SourceSystem",
                                "displayName": "SourceSystem"
                              }
                            ]
                          },
                          {
                            "name": "Average_Bytes Sent/sec",
                            "displayName": "Average_Bytes Sent/sec",
                            "displayDescription": "Average_Bytes Sent/sec",
                            "unit": "Count",
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "name": "Computer",
                                "displayName": "Computer"
                              },
                              {
                                "name": "ObjectName",
                                "displayName": "ObjectName"
                              },
                              {
[...]
