{
  "swagger": "2.0",
  "info": {
    "version": "2019-03-01",
    "title": "RunCommandsClient",
    "description": "The Run Commands Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommand": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_RunCommand",
        "x-ms-examples": {
          "VirtualMachineRunCommand": {
            "parameters": {
              "subscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e",
              "resourceGroupName": "crptestar98131",
              "vmName": "vm3036",
              "$top": 1,
              "api-version": "2019-03-01",
              "monitor": "true",
              "parameters": {
                "commandId": "RunPowerShellScript"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "code": "ComponentStatus/StdOut/succeeded",
                      "level": "Info",
                      "displayStatus": "Provisioning succeeded",
                      "message": "This is a sample script with parameters value1 value2"
                    },
                    {
                      "code": "ComponentStatus/StdErr/succeeded",
                      "level": "Info",
                      "displayStatus": "Provisioning succeeded",
                      "message": ""
                    }
                  ]
                }
              },
              "202": {}
            }
          }
        },
        "description": "Run command on the VM.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunCommandInput"
            },
            "description": "Parameters supplied to the Run command operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunCommandResult"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "produces": [
          "application/json",
          "text/json"
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "x-internal-toc-name": "Run Command"
      }
    }
  },
  "definitions": {
    "RunCommandInputParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "value": {
          "type": "string",
          "description": "The run command parameter value."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandInput": {
      "properties": {
        "commandId": {
          "type": "string",
          "description": "The run command id."
        },
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The script to be executed.  When this value is given, the given script will override the default script of the command."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandInputParameter"
          },
          "description": "The run command parameters."
        }
      },
      "required": [
        "commandId"
      ],
      "description": "Capture Virtual Machine parameters."
    },
    "RunCommandParameterDefinition": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "type": {
          "type": "string",
          "description": "The run command parameter type."
        },
        "defaultValue": {
          "type": "string",
          "description": "The run command parameter default value."
        },
        "required": {
          "type": "boolean",
          "description": "The run command parameter required.",
          "default": false
        }
      },
      "required": [
        "name",
        "type"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandDocumentBase": {
      "properties": {
        "$schema": {
          "type": "string",
          "description": "The VM run command schema."
        },
        "id": {
          "type": "string",
          "description": "The VM run command id."
        },
        "osType": {
          "type": "string",
          "description": "The Operating System type.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "label": {
          "type": "string",
          "description": "The VM run command label."
        },
        "description": {
          "type": "string",
          "description": "The VM run command description."
        }
      },
      "required": [
        "$schema",
        "id",
        "osType",
        "label",
        "description"
      ],
      "description": "Describes the properties of a Run Command metadata."
    },
    "RunCommandDocument": {
      "allOf": [
        {
          "$ref": "#/definitions/RunCommandDocumentBase"
        }
      ],
      "properties": {
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The script to be executed."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandParameterDefinition"
          },
          "description": "The parameters used by the script."
        }
      },
      "required": [
        "script"
      ],
      "description": "Describes the properties of a Run Command."
    },
    "RunCommandListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandDocumentBase"
          },
          "description": "The list of virtual machine run commands."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of run commands. Call ListNext() with this to fetch the next page of run commands."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Virtual Machine operation response."
    },
    "InstanceViewStatus": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The status code."
        },
        "level": {
          "type": "string",
          "description": "The level code.",
          "enum": [
            "Info",
            "Warning",
            "Error"
          ],
          "x-ms-enum": {
            "name": "StatusLevelTypes",
            "modelAsString": false
          }
        },
        "displayStatus": {
          "type": "string",
          "description": "The short localizable label for the status."
        },
        "message": {
          "type": "string",
          "description": "The detailed status message, including for alerts and error messages."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "The time of the status."
        }
      },
      "description": "Instance view status."
    },
    "RunCommandResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceViewStatus"
          },
          "description": "Run command operation response."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-id": "compute",
  "x-internal-service-name": "Compute",
  "x-internal-operation-group-name": "Virtual Machines Run Commands",
  "x-internal-toc-name": "Virtual Machines Run Commands",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "RunCommand",
  "x-internal-operation-name": "Run Command"
}