{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-01",
    "title": "PolicyClient",
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "put": {
        "tags": [
          "PolicySetDefinitions"
        ],
        "operationId": "PolicySetDefinitions_CreateOrUpdate",
        "summary": "Creates or updates a policy set definition.",
        "description": "This operation creates or updates a policy set definition in the given subscription with the given name.",
        "x-ms-examples": {
          "Create or update a policy set definition": {
            "parameters": {
              "subscriptionId": "ae640e6b-ba3e-4256-9d62-2993eecfa6f2",
              "policySetDefinitionName": "CostManagement",
              "api-version": "2019-09-01",
              "parameters": {
                "properties": {
                  "displayName": "Cost Management",
                  "description": "Policies to enforce low cost storage SKUs",
                  "metadata": {
                    "category": "Cost Management"
                  },
                  "parameters": {
                    "namePrefix": {
                      "type": "String",
                      "defaultValue": "myPrefix",
                      "metadata": {
                        "displayName": "Prefix to enforce on resource names"
                      }
                    }
                  },
                  "policyDefinitions": [
                    {
                      "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                      "policyDefinitionReferenceId": "Limit_Skus",
                      "parameters": {
                        "listOfAllowedSKUs": {
                          "value": [
                            "Standard_GRS",
                            "Standard_LRS"
                          ]
                        }
                      }
                    },
                    {
                      "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                      "policyDefinitionReferenceId": "Resource_Naming",
                      "parameters": {
                        "prefix": {
                          "value": "[parameters('namePrefix')]"
                        },
                        "suffix": {
                          "value": "-LC"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement",
                  "type": "Microsoft.Authorization/policySetDefinitions",
                  "name": "CostManagement",
                  "properties": {
                    "displayName": "Cost Management",
                    "description": "Policies to enforce low cost storage SKUs",
                    "metadata": {
                      "category": "Cost Management"
                    },
                    "parameters": {
                      "namePrefix": {
                        "type": "String",
                        "defaultValue": "myPrefix",
                        "metadata": {
                          "displayName": "Prefix to enforce on resource names"
                        }
                      }
                    },
                    "policyDefinitions": [
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                        "policyDefinitionReferenceId": "Limit_Skus",
                        "parameters": {
                          "listOfAllowedSKUs": {
                            "value": [
                              "Standard_GRS",
                              "Standard_LRS"
                            ]
                          }
                        }
                      },
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                        "policyDefinitionReferenceId": "Resource_Naming",
                        "parameters": {
                          "prefix": {
                            "value": "[parameters('namePrefix')]"
                          },
                          "suffix": {
                            "value": "-LC"
                          }
                        }
                      }
                    ]
                  }
                }
              },
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement",
                  "type": "Microsoft.Authorization/policySetDefinitions",
                  "name": "CostManagement",
                  "properties": {
                    "displayName": "Cost Management",
                    "description": "Policies to enforce low cost storage SKUs",
                    "metadata": {
                      "category": "Cost Management"
                    },
                    "parameters": {
                      "namePrefix": {
                        "type": "String",
                        "defaultValue": "myPrefix",
                        "metadata": {
                          "displayName": "Prefix to enforce on resource names"
                        }
                      }
                    },
                    "policyDefinitions": [
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                        "policyDefinitionReferenceId": "Limit_Skus",
                        "parameters": {
                          "listOfAllowedSKUs": {
                            "value": [
                              "Standard_GRS",
                              "Standard_LRS"
                            ]
                          }
                        }
                      },
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                        "policyDefinitionReferenceId": "Resource_Naming",
                        "parameters": {
                          "prefix": {
                            "value": "[parameters('namePrefix')]"
                          },
                          "suffix": {
                            "value": "-LC"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "Create or update a policy set definition with groups": {
            "parameters": {
              "subscriptionId": "ae640e6b-ba3e-4256-9d62-2993eecfa6f2",
              "policySetDefinitionName": "CostManagement",
              "api-version": "2019-09-01",
              "parameters": {
                "properties": {
                  "displayName": "Cost Management",
                  "description": "Policies to enforce low cost storage SKUs",
                  "metadata": {
                    "category": "Cost Management"
                  },
                  "policyDefinitionGroups": [
                    {
                      "name": "CostSaving",
                      "displayName": "Cost Management Policies",
                      "description": "Policies designed to control spend within a subscription."
                    },
                    {
                      "name": "Organizational",
                      "displayName": "Organizational Policies",
                      "description": "Policies that help enforce resource organization standards within a subscription."
                    }
                  ],
                  "policyDefinitions": [
                    {
                      "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                      "policyDefinitionReferenceId": "Limit_Skus",
                      "groupNames": [
                        "CostSaving"
                      ],
                      "parameters": {
                        "listOfAllowedSKUs": {
                          "value": [
                            "Standard_GRS",
                            "Standard_LRS"
                          ]
                        }
                      }
                    },
                    {
                      "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                      "policyDefinitionReferenceId": "Resource_Naming",
                      "groupNames": [
                        "Organizational"
                      ],
                      "parameters": {
                        "prefix": {
                          "value": "DeptA"
                        },
                        "suffix": {
                          "value": "-LC"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement",
                  "type": "Microsoft.Authorization/policySetDefinitions",
                  "name": "CostManagement",
                  "properties": {
                    "displayName": "Cost Management",
                    "description": "Policies to enforce low cost storage SKUs",
                    "metadata": {
                      "category": "Cost Management"
                    },
                    "policyDefinitionGroups": [
                      {
                        "name": "CostSaving",
                        "displayName": "Cost Management Policies",
                        "description": "Policies designed to control spend within a subscription."
                      },
                      {
                        "name": "Organizational",
                        "displayName": "Organizational Policies",
                        "description": "Policies that help enforce resource organization standards within a subscription."
                      }
                    ],
                    "policyDefinitions": [
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                        "policyDefinitionReferenceId": "Limit_Skus",
                        "groupNames": [
                          "CostSaving"
                        ],
                        "parameters": {
                          "listOfAllowedSKUs": {
                            "value": [
                              "Standard_GRS",
                              "Standard_LRS"
                            ]
                          }
                        }
                      },
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                        "policyDefinitionReferenceId": "Resource_Naming",
                        "groupNames": [
                          "Organizational"
                        ],
                        "parameters": {
                          "prefix": {
                            "value": "DeptA"
                          },
                          "suffix": {
                            "value": "-LC"
                          }
                        }
                      }
                    ]
                  }
                }
              },
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement",
                  "type": "Microsoft.Authorization/policySetDefinitions",
                  "name": "CostManagement",
                  "properties": {
                    "displayName": "Cost Management",
                    "description": "Policies to enforce low cost storage SKUs",
                    "metadata": {
                      "category": "Cost Management"
                    },
                    "policyDefinitionGroups": [
                      {
                        "name": "CostSaving",
                        "displayName": "Cost Management Policies",
                        "description": "Policies designed to control spend within a subscription."
                      },
                      {
                        "name": "Organizational",
                        "displayName": "Organizational Policies",
                        "description": "Policies that help enforce resource organization standards within a subscription."
                      }
                    ],
                    "policyDefinitions": [
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1",
                        "policyDefinitionReferenceId": "Limit_Skus",
                        "groupNames": [
                          "CostSaving"
                        ],
                        "parameters": {
                          "listOfAllowedSKUs": {
                            "value": [
                              "Standard_GRS",
                              "Standard_LRS"
                            ]
                          }
                        }
                      },
                      {
                        "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                        "policyDefinitionReferenceId": "Resource_Naming",
                        "groupNames": [
                          "Organizational"
                        ],
                        "parameters": {
                          "prefix": {
                            "value": "DeptA"
                          },
                          "suffix": {
                            "value": "-LC"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy set definition to create."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            },
            "description": "The policy set definition properties."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created - Returns information about the policy set definition.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "200": {
            "description": "OK - Returns information about the policy set definition.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponse"
        }
      },
      "description": "An error response from a policy operation."
    },
    "PolicySetDefinitionProperties": {
      "properties": {
        "policyType": {
          "type": "string",
          "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, Custom, and Static.",
          "enum": [
            "NotSpecified",
            "BuiltIn",
            "Custom",
            "Static"
          ],
          "x-ms-enum": {
            "name": "policyType",
            "modelAsString": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the policy set definition."
        },
        "description": {
          "type": "string",
          "description": "The policy set definition description."
        },
        "metadata": {
          "type": "object",
          "description": "The policy set definition metadata.  Metadata is an open ended object and is typically a collection of key value pairs."
        },
        "parameters": {
          "description": "The policy set definition parameters that can be used in policy definition references.",
          "$ref": "#/definitions/ParameterDefinitions"
        },
        "policyDefinitions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyDefinitionReference"
          },
          "description": "An array of policy definition references."
        },
        "policyDefinitionGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyDefinitionGroup"
          },
          "description": "The metadata describing groups of policy definition references within the policy set definition."
        }
      },
      "required": [
        "policyDefinitions"
      ],
      "description": "The policy set definition properties."
    },
    "PolicyDefinitionReference": {
      "properties": {
        "policyDefinitionId": {
          "type": "string",
          "description": "The ID of the policy definition or policy set definition."
        },
        "parameters": {
          "description": "The parameter values for the referenced policy rule. The keys are the parameter names.",
          "$ref": "#/definitions/ParameterValues"
        },
        "policyDefinitionReferenceId": {
          "type": "string",
          "description": "A unique id (within the policy set definition) for this policy definition reference."
        },
        "groupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name of the groups that this policy definition reference belongs to."
        }
      },
      "required": [
        "policyDefinitionId"
      ],
      "description": "The policy definition reference."
    },
    "PolicyDefinitionGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group."
        },
        "displayName": {
          "type": "string",
          "description": "The group's display name."
        },
        "category": {
          "type": "string",
          "description": "The group's category."
        },
        "description": {
          "type": "string",
          "description": "The group's description."
        },
        "additionalMetadataId": {
          "type": "string",
          "description": "A resource ID of a resource that contains additional metadata about the group."
        }
      },
      "required": [
        "name"
      ],
      "description": "The policy definition group."
    },
    "PolicySetDefinition": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicySetDefinitionProperties",
          "description": "The policy definition properties."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the policy set definition."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the policy set definition."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource (Microsoft.Authorization/policySetDefinitions)."
        }
      },
      "description": "The policy set definition.",
      "x-ms-azure-resource": true
    },
    "PolicySetDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicySetDefinition"
          },
          "description": "An array of policy set definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of policy set definitions."
    },
    "ParameterValuesValue": {
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "object"
        }
      },
      "description": "The value of a parameter."
    },
    "ParameterValues": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/ParameterValuesValue"
      },
      "description": "The parameter values for the policy rule. The keys are the parameter names."
    },
    "ParameterDefinitionsValue": {
      "properties": {
        "type": {
          "description": "The data type of the parameter.",
          "type": "string",
          "enum": [
            "String",
            "Array",
            "Object",
            "Boolean",
            "Integer",
            "Float",
            "DateTime"
          ],
          "x-ms-enum": {
            "name": "parameterType",
            "modelAsString": true
          }
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "The allowed values for the parameter."
        },
        "defaultValue": {
          "type": "object",
          "description": "The default value for the parameter if no value is provided."
        },
        "metadata": {
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The display name for the parameter."
            },
            "description": {
              "type": "string",
              "description": "The description of the parameter."
            }
          },
          "additionalProperties": {
            "type": "object"
          },
          "description": "General metadata for the parameter."
        }
      },
      "description": "The definition of a parameter that can be provided to the policy."
    },
    "ParameterDefinitions": {
      "description": "The parameter definitions for parameters used in the policy. The keys are the parameter names.",
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/ParameterDefinitionsValue"
      }
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the management group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the operation."
    }
  },
  "x-internal-service-id": "resources",
  "x-internal-service-name": "Resource Management",
  "x-internal-toc-name": "Policy Set Definitions",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "CreateOrUpdate",
  "x-internal-operation-name": "Create Or Update"
}