{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Location Based Services",
    "description": "Azure Location Based Services REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "api-version": {
      "name": "api-version",
      "description": "Version of the API",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "method"
    },
    "format": {
      "name": "format",
      "description": "Format of the response",
      "type": "string",
      "in": "path",
      "required": true,
      "default": "json",
      "enum": [
        "json",
        "png",
        "pbf"
      ],
      "x-ms-parameter-location": "method"
    },
    "zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for tile",
      "required": true,
      "default": "6",
      "type": "string"
    },
    "x": {
      "name": "x",
      "in": "query",
      "description": "X value for tile",
      "required": true,
      "default": "10",
      "type": "string"
    },
    "y": {
      "name": "y",
      "in": "query",
      "description": "Y value for tile",
      "required": true,
      "default": "22",
      "type": "string"
    },
    "query": {
      "name": "query",
      "in": "query",
      "description": "The query applicable string/coordinates",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/timezone/enumWindows/{format}": {
      "get": {
        "description": "Returns all the Windows timezones",
        "operationId": "GetTimezoneEnumWindows",
        "x-ms-examples": {
          "GetTimezoneEnumWindows": {
            "parameters": {
              "format": "json",
              "api-version": "1.0"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "WindowsId": "Dateline Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT+12"
                    ]
                  },
                  {
                    "WindowsId": "Dateline Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+12"
                    ]
                  },
                  {
                    "WindowsId": "UTC-11",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT+11"
                    ]
                  },
                  {
                    "WindowsId": "UTC-11",
                    "Territory": "AS",
                    "IanaIds": [
                      "Pacific/Pago_Pago"
                    ]
                  },
                  {
                    "WindowsId": "UTC-11",
                    "Territory": "NU",
                    "IanaIds": [
                      "Pacific/Niue"
                    ]
                  },
                  {
                    "WindowsId": "UTC-11",
                    "Territory": "UM",
                    "IanaIds": [
                      "Pacific/Midway"
                    ]
                  },
                  {
                    "WindowsId": "UTC-11",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+11"
                    ]
                  },
                  {
                    "WindowsId": "Aleutian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Adak"
                    ]
                  },
                  {
                    "WindowsId": "Aleutian Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Adak"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Pacific/Honolulu"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "CK",
                    "IanaIds": [
                      "Pacific/Rarotonga"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "PF",
                    "IanaIds": [
                      "Pacific/Tahiti"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "UM",
                    "IanaIds": [
                      "Pacific/Johnston"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "Pacific/Honolulu"
                    ]
                  },
                  {
                    "WindowsId": "Hawaiian Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+10"
                    ]
                  },
                  {
                    "WindowsId": "Marquesas Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Pacific/Marquesas"
                    ]
                  },
                  {
                    "WindowsId": "Marquesas Standard Time",
                    "Territory": "PF",
                    "IanaIds": [
                      "Pacific/Marquesas"
                    ]
                  },
                  {
                    "WindowsId": "Alaskan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Anchorage"
                    ]
                  },
                  {
                    "WindowsId": "Alaskan Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Anchorage",
                      "America/Juneau",
                      "America/Metlakatla",
                      "America/Nome",
                      "America/Sitka",
                      "America/Yakutat"
                    ]
                  },
                  {
                    "WindowsId": "UTC-09",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT+9"
                    ]
                  },
                  {
                    "WindowsId": "UTC-09",
                    "Territory": "PF",
                    "IanaIds": [
                      "Pacific/Gambier"
                    ]
                  },
                  {
                    "WindowsId": "UTC-09",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+9"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time (Mexico)",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Tijuana"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time (Mexico)",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Tijuana",
                      "America/Santa_Isabel"
                    ]
                  },
                  {
                    "WindowsId": "UTC-08",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT+8"
                    ]
                  },
                  {
                    "WindowsId": "UTC-08",
                    "Territory": "PN",
                    "IanaIds": [
                      "Pacific/Pitcairn"
                    ]
                  },
                  {
                    "WindowsId": "UTC-08",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+8"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Los_Angeles"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Vancouver",
                      "America/Dawson",
                      "America/Whitehorse"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Los_Angeles"
                    ]
                  },
                  {
                    "WindowsId": "Pacific Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "PST8PDT"
                    ]
                  },
                  {
                    "WindowsId": "US Mountain Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Phoenix"
                    ]
                  },
                  {
                    "WindowsId": "US Mountain Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Dawson_Creek",
                      "America/Creston",
                      "America/Fort_Nelson"
                    ]
                  },
                  {
                    "WindowsId": "US Mountain Standard Time",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Hermosillo"
                    ]
                  },
                  {
                    "WindowsId": "US Mountain Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Phoenix"
                    ]
                  },
                  {
                    "WindowsId": "US Mountain Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+7"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time (Mexico)",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Chihuahua"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time (Mexico)",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Chihuahua",
                      "America/Mazatlan"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Denver"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Edmonton",
                      "America/Cambridge_Bay",
                      "America/Inuvik",
                      "America/Yellowknife"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Ojinaga"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Denver",
                      "America/Boise"
                    ]
                  },
                  {
                    "WindowsId": "Mountain Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "MST7MDT"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Guatemala"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "BZ",
                    "IanaIds": [
                      "America/Belize"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "CR",
                    "IanaIds": [
                      "America/Costa_Rica"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "EC",
                    "IanaIds": [
                      "Pacific/Galapagos"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "GT",
                    "IanaIds": [
                      "America/Guatemala"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "HN",
                    "IanaIds": [
                      "America/Tegucigalpa"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "NI",
                    "IanaIds": [
                      "America/Managua"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "SV",
                    "IanaIds": [
                      "America/El_Salvador"
                    ]
                  },
                  {
                    "WindowsId": "Central America Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+6"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Chicago"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Winnipeg",
                      "America/Rainy_River",
                      "America/Rankin_Inlet",
                      "America/Resolute"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Matamoros"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Chicago",
                      "America/Indiana/Knox",
                      "America/Indiana/Tell_City",
                      "America/Menominee",
                      "America/North_Dakota/Beulah",
                      "America/North_Dakota/Center",
                      "America/North_Dakota/New_Salem"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "CST6CDT"
                    ]
                  },
                  {
                    "WindowsId": "Easter Island Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Pacific/Easter"
                    ]
                  },
                  {
                    "WindowsId": "Easter Island Standard Time",
                    "Territory": "CL",
                    "IanaIds": [
                      "Pacific/Easter"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time (Mexico)",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Mexico_City"
                    ]
                  },
                  {
                    "WindowsId": "Central Standard Time (Mexico)",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Mexico_City",
                      "America/Bahia_Banderas",
                      "America/Merida",
                      "America/Monterrey"
                    ]
                  },
                  {
                    "WindowsId": "Canada Central Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Regina"
                    ]
                  },
                  {
                    "WindowsId": "Canada Central Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Regina",
                      "America/Swift_Current"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Bogota"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Rio_Branco",
                      "America/Eirunepe"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Coral_Harbour"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "CO",
                    "IanaIds": [
                      "America/Bogota"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "EC",
                    "IanaIds": [
                      "America/Guayaquil"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "JM",
                    "IanaIds": [
                      "America/Jamaica"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "KY",
                    "IanaIds": [
                      "America/Cayman"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "PA",
                    "IanaIds": [
                      "America/Panama"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "PE",
                    "IanaIds": [
                      "America/Lima"
                    ]
                  },
                  {
                    "WindowsId": "SA Pacific Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+5"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time (Mexico)",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Cancun"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time (Mexico)",
                    "Territory": "MX",
                    "IanaIds": [
                      "America/Cancun"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/New_York"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time",
                    "Territory": "BS",
                    "IanaIds": [
                      "America/Nassau"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Toronto",
                      "America/Iqaluit",
                      "America/Montreal",
                      "America/Nipigon",
                      "America/Pangnirtung",
                      "America/Thunder_Bay"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/New_York",
                      "America/Detroit",
                      "America/Indiana/Petersburg",
                      "America/Indiana/Vincennes",
                      "America/Indiana/Winamac",
                      "America/Kentucky/Monticello",
                      "America/Louisville"
                    ]
                  },
                  {
                    "WindowsId": "Eastern Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "EST5EDT"
                    ]
                  },
                  {
                    "WindowsId": "Haiti Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Port-au-Prince"
                    ]
                  },
                  {
                    "WindowsId": "Haiti Standard Time",
                    "Territory": "HT",
                    "IanaIds": [
                      "America/Port-au-Prince"
                    ]
                  },
                  {
                    "WindowsId": "Cuba Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Havana"
                    ]
                  },
                  {
                    "WindowsId": "Cuba Standard Time",
                    "Territory": "CU",
                    "IanaIds": [
                      "America/Havana"
                    ]
                  },
                  {
                    "WindowsId": "US Eastern Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Indianapolis"
                    ]
                  },
                  {
                    "WindowsId": "US Eastern Standard Time",
                    "Territory": "US",
                    "IanaIds": [
                      "America/Indianapolis",
                      "America/Indiana/Marengo",
                      "America/Indiana/Vevay"
                    ]
                  },
                  {
                    "WindowsId": "Paraguay Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Asuncion"
                    ]
                  },
                  {
                    "WindowsId": "Paraguay Standard Time",
                    "Territory": "PY",
                    "IanaIds": [
                      "America/Asuncion"
                    ]
                  },
                  {
                    "WindowsId": "Atlantic Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Halifax"
                    ]
                  },
                  {
                    "WindowsId": "Atlantic Standard Time",
                    "Territory": "BM",
                    "IanaIds": [
                      "Atlantic/Bermuda"
                    ]
                  },
                  {
                    "WindowsId": "Atlantic Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Halifax",
                      "America/Glace_Bay",
                      "America/Goose_Bay",
                      "America/Moncton"
                    ]
                  },
                  {
                    "WindowsId": "Atlantic Standard Time",
                    "Territory": "GL",
                    "IanaIds": [
                      "America/Thule"
                    ]
                  },
                  {
                    "WindowsId": "Venezuela Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Caracas"
                    ]
                  },
                  {
                    "WindowsId": "Venezuela Standard Time",
                    "Territory": "VE",
                    "IanaIds": [
                      "America/Caracas"
                    ]
                  },
                  {
                    "WindowsId": "Central Brazilian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Cuiaba"
                    ]
                  },
                  {
                    "WindowsId": "Central Brazilian Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Cuiaba",
                      "America/Campo_Grande"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/La_Paz"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "AG",
                    "IanaIds": [
                      "America/Antigua"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "AI",
                    "IanaIds": [
                      "America/Anguilla"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "AW",
                    "IanaIds": [
                      "America/Aruba"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "BB",
                    "IanaIds": [
                      "America/Barbados"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "BL",
                    "IanaIds": [
                      "America/St_Barthelemy"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "BO",
                    "IanaIds": [
                      "America/La_Paz"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "BQ",
                    "IanaIds": [
                      "America/Kralendijk"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Manaus",
                      "America/Boa_Vista",
                      "America/Porto_Velho"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/Blanc-Sablon"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "CW",
                    "IanaIds": [
                      "America/Curacao"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "DM",
                    "IanaIds": [
                      "America/Dominica"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "DO",
                    "IanaIds": [
                      "America/Santo_Domingo"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "GD",
                    "IanaIds": [
                      "America/Grenada"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "GP",
                    "IanaIds": [
                      "America/Guadeloupe"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "GY",
                    "IanaIds": [
                      "America/Guyana"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "KN",
                    "IanaIds": [
                      "America/St_Kitts"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "LC",
                    "IanaIds": [
                      "America/St_Lucia"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "MF",
                    "IanaIds": [
                      "America/Marigot"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "MQ",
                    "IanaIds": [
                      "America/Martinique"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "MS",
                    "IanaIds": [
                      "America/Montserrat"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "PR",
                    "IanaIds": [
                      "America/Puerto_Rico"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "SX",
                    "IanaIds": [
                      "America/Lower_Princes"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "TT",
                    "IanaIds": [
                      "America/Port_of_Spain"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "VC",
                    "IanaIds": [
                      "America/St_Vincent"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "VG",
                    "IanaIds": [
                      "America/Tortola"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "VI",
                    "IanaIds": [
                      "America/St_Thomas"
                    ]
                  },
                  {
                    "WindowsId": "SA Western Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+4"
                    ]
                  },
                  {
                    "WindowsId": "Pacific SA Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Santiago"
                    ]
                  },
                  {
                    "WindowsId": "Pacific SA Standard Time",
                    "Territory": "CL",
                    "IanaIds": [
                      "America/Santiago"
                    ]
                  },
                  {
                    "WindowsId": "Turks And Caicos Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Grand_Turk"
                    ]
                  },
                  {
                    "WindowsId": "Turks And Caicos Standard Time",
                    "Territory": "TC",
                    "IanaIds": [
                      "America/Grand_Turk"
                    ]
                  },
                  {
                    "WindowsId": "Newfoundland Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/St_Johns"
                    ]
                  },
                  {
                    "WindowsId": "Newfoundland Standard Time",
                    "Territory": "CA",
                    "IanaIds": [
                      "America/St_Johns"
                    ]
                  },
                  {
                    "WindowsId": "Tocantins Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Araguaina"
                    ]
                  },
                  {
                    "WindowsId": "Tocantins Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Araguaina"
                    ]
                  },
                  {
                    "WindowsId": "E. South America Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Sao_Paulo"
                    ]
                  },
                  {
                    "WindowsId": "E. South America Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Sao_Paulo"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Cayenne"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Rothera"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Fortaleza",
                      "America/Belem",
                      "America/Maceio",
                      "America/Recife",
                      "America/Santarem"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "FK",
                    "IanaIds": [
                      "Atlantic/Stanley"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "GF",
                    "IanaIds": [
                      "America/Cayenne"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "SR",
                    "IanaIds": [
                      "America/Paramaribo"
                    ]
                  },
                  {
                    "WindowsId": "SA Eastern Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+3"
                    ]
                  },
                  {
                    "WindowsId": "Argentina Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Buenos_Aires"
                    ]
                  },
                  {
                    "WindowsId": "Argentina Standard Time",
                    "Territory": "AR",
                    "IanaIds": [
                      "America/Buenos_Aires",
                      "America/Argentina/La_Rioja",
                      "America/Argentina/Rio_Gallegos",
                      "America/Argentina/Salta",
                      "America/Argentina/San_Juan",
                      "America/Argentina/San_Luis",
                      "America/Argentina/Tucuman",
                      "America/Argentina/Ushuaia",
                      "America/Catamarca",
                      "America/Cordoba",
                      "America/Jujuy",
                      "America/Mendoza"
                    ]
                  },
                  {
                    "WindowsId": "Greenland Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Godthab"
                    ]
                  },
                  {
                    "WindowsId": "Greenland Standard Time",
                    "Territory": "GL",
                    "IanaIds": [
                      "America/Godthab"
                    ]
                  },
                  {
                    "WindowsId": "Montevideo Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Montevideo"
                    ]
                  },
                  {
                    "WindowsId": "Montevideo Standard Time",
                    "Territory": "UY",
                    "IanaIds": [
                      "America/Montevideo"
                    ]
                  },
                  {
                    "WindowsId": "Magallanes Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Punta_Arenas"
                    ]
                  },
                  {
                    "WindowsId": "Magallanes Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Palmer"
                    ]
                  },
                  {
                    "WindowsId": "Magallanes Standard Time",
                    "Territory": "CL",
                    "IanaIds": [
                      "America/Punta_Arenas"
                    ]
                  },
                  {
                    "WindowsId": "Saint Pierre Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Miquelon"
                    ]
                  },
                  {
                    "WindowsId": "Saint Pierre Standard Time",
                    "Territory": "PM",
                    "IanaIds": [
                      "America/Miquelon"
                    ]
                  },
                  {
                    "WindowsId": "Bahia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "America/Bahia"
                    ]
                  },
                  {
                    "WindowsId": "Bahia Standard Time",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Bahia"
                    ]
                  },
                  {
                    "WindowsId": "UTC-02",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT+2"
                    ]
                  },
                  {
                    "WindowsId": "UTC-02",
                    "Territory": "BR",
                    "IanaIds": [
                      "America/Noronha"
                    ]
                  },
                  {
                    "WindowsId": "UTC-02",
                    "Territory": "GS",
                    "IanaIds": [
                      "Atlantic/South_Georgia"
                    ]
                  },
                  {
                    "WindowsId": "UTC-02",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+2"
                    ]
                  },
                  {
                    "WindowsId": "Azores Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Atlantic/Azores"
                    ]
                  },
                  {
                    "WindowsId": "Azores Standard Time",
                    "Territory": "GL",
                    "IanaIds": [
                      "America/Scoresbysund"
                    ]
                  },
                  {
                    "WindowsId": "Azores Standard Time",
                    "Territory": "PT",
                    "IanaIds": [
                      "Atlantic/Azores"
                    ]
                  },
                  {
                    "WindowsId": "Cape Verde Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Atlantic/Cape_Verde"
                    ]
                  },
                  {
                    "WindowsId": "Cape Verde Standard Time",
                    "Territory": "CV",
                    "IanaIds": [
                      "Atlantic/Cape_Verde"
                    ]
                  },
                  {
                    "WindowsId": "Cape Verde Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT+1"
                    ]
                  },
                  {
                    "WindowsId": "UTC",
                    "Territory": "001",
                    "IanaIds": [
                      "Etc/GMT"
                    ]
                  },
                  {
                    "WindowsId": "UTC",
                    "Territory": "GL",
                    "IanaIds": [
                      "America/Danmarkshavn"
                    ]
                  },
                  {
                    "WindowsId": "UTC",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT",
                      "Etc/UTC"
                    ]
                  },
                  {
                    "WindowsId": "Morocco Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Casablanca"
                    ]
                  },
                  {
                    "WindowsId": "Morocco Standard Time",
                    "Territory": "EH",
                    "IanaIds": [
                      "Africa/El_Aaiun"
                    ]
                  },
                  {
                    "WindowsId": "Morocco Standard Time",
                    "Territory": "MA",
                    "IanaIds": [
                      "Africa/Casablanca"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/London"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "ES",
                    "IanaIds": [
                      "Atlantic/Canary"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "FO",
                    "IanaIds": [
                      "Atlantic/Faeroe"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "GB",
                    "IanaIds": [
                      "Europe/London"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "GG",
                    "IanaIds": [
                      "Europe/Guernsey"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "IE",
                    "IanaIds": [
                      "Europe/Dublin"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "IM",
                    "IanaIds": [
                      "Europe/Isle_of_Man"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "JE",
                    "IanaIds": [
                      "Europe/Jersey"
                    ]
                  },
                  {
                    "WindowsId": "GMT Standard Time",
                    "Territory": "PT",
                    "IanaIds": [
                      "Europe/Lisbon",
                      "Atlantic/Madeira"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Atlantic/Reykjavik"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "BF",
                    "IanaIds": [
                      "Africa/Ouagadougou"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "CI",
                    "IanaIds": [
                      "Africa/Abidjan"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "GH",
                    "IanaIds": [
                      "Africa/Accra"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "GM",
                    "IanaIds": [
                      "Africa/Banjul"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "GN",
                    "IanaIds": [
                      "Africa/Conakry"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "GW",
                    "IanaIds": [
                      "Africa/Bissau"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "IS",
                    "IanaIds": [
                      "Atlantic/Reykjavik"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "LR",
                    "IanaIds": [
                      "Africa/Monrovia"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "ML",
                    "IanaIds": [
                      "Africa/Bamako"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "MR",
                    "IanaIds": [
                      "Africa/Nouakchott"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "SH",
                    "IanaIds": [
                      "Atlantic/St_Helena"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "SL",
                    "IanaIds": [
                      "Africa/Freetown"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "SN",
                    "IanaIds": [
                      "Africa/Dakar"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "ST",
                    "IanaIds": [
                      "Africa/Sao_Tome"
                    ]
                  },
                  {
                    "WindowsId": "Greenwich Standard Time",
                    "Territory": "TG",
                    "IanaIds": [
                      "Africa/Lome"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Berlin"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "AD",
                    "IanaIds": [
                      "Europe/Andorra"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "AT",
                    "IanaIds": [
                      "Europe/Vienna"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "CH",
                    "IanaIds": [
                      "Europe/Zurich"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "DE",
                    "IanaIds": [
                      "Europe/Berlin",
                      "Europe/Busingen"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "GI",
                    "IanaIds": [
                      "Europe/Gibraltar"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "IT",
                    "IanaIds": [
                      "Europe/Rome"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "LI",
                    "IanaIds": [
                      "Europe/Vaduz"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "LU",
                    "IanaIds": [
                      "Europe/Luxembourg"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "MC",
                    "IanaIds": [
                      "Europe/Monaco"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "MT",
                    "IanaIds": [
                      "Europe/Malta"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "NL",
                    "IanaIds": [
                      "Europe/Amsterdam"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "NO",
                    "IanaIds": [
                      "Europe/Oslo"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "SE",
                    "IanaIds": [
                      "Europe/Stockholm"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "SJ",
                    "IanaIds": [
                      "Arctic/Longyearbyen"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "SM",
                    "IanaIds": [
                      "Europe/San_Marino"
                    ]
                  },
                  {
                    "WindowsId": "W. Europe Standard Time",
                    "Territory": "VA",
                    "IanaIds": [
                      "Europe/Vatican"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Budapest"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "AL",
                    "IanaIds": [
                      "Europe/Tirane"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "CZ",
                    "IanaIds": [
                      "Europe/Prague"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "HU",
                    "IanaIds": [
                      "Europe/Budapest"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "ME",
                    "IanaIds": [
                      "Europe/Podgorica"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "RS",
                    "IanaIds": [
                      "Europe/Belgrade"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "SI",
                    "IanaIds": [
                      "Europe/Ljubljana"
                    ]
                  },
                  {
                    "WindowsId": "Central Europe Standard Time",
                    "Territory": "SK",
                    "IanaIds": [
                      "Europe/Bratislava"
                    ]
                  },
                  {
                    "WindowsId": "Romance Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Paris"
                    ]
                  },
                  {
                    "WindowsId": "Romance Standard Time",
                    "Territory": "BE",
                    "IanaIds": [
                      "Europe/Brussels"
                    ]
                  },
                  {
                    "WindowsId": "Romance Standard Time",
                    "Territory": "DK",
                    "IanaIds": [
                      "Europe/Copenhagen"
                    ]
                  },
                  {
                    "WindowsId": "Romance Standard Time",
                    "Territory": "ES",
                    "IanaIds": [
                      "Europe/Madrid",
                      "Africa/Ceuta"
                    ]
                  },
                  {
                    "WindowsId": "Romance Standard Time",
                    "Territory": "FR",
                    "IanaIds": [
                      "Europe/Paris"
                    ]
                  },
                  {
                    "WindowsId": "Central European Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Warsaw"
                    ]
                  },
                  {
                    "WindowsId": "Central European Standard Time",
                    "Territory": "BA",
                    "IanaIds": [
                      "Europe/Sarajevo"
                    ]
                  },
                  {
                    "WindowsId": "Central European Standard Time",
                    "Territory": "HR",
                    "IanaIds": [
                      "Europe/Zagreb"
                    ]
                  },
                  {
                    "WindowsId": "Central European Standard Time",
                    "Territory": "MK",
                    "IanaIds": [
                      "Europe/Skopje"
                    ]
                  },
                  {
                    "WindowsId": "Central European Standard Time",
                    "Territory": "PL",
                    "IanaIds": [
                      "Europe/Warsaw"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Lagos"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "AO",
                    "IanaIds": [
                      "Africa/Luanda"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "BJ",
                    "IanaIds": [
                      "Africa/Porto-Novo"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "CD",
                    "IanaIds": [
                      "Africa/Kinshasa"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "CF",
                    "IanaIds": [
                      "Africa/Bangui"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "CG",
                    "IanaIds": [
                      "Africa/Brazzaville"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "CM",
                    "IanaIds": [
                      "Africa/Douala"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "DZ",
                    "IanaIds": [
                      "Africa/Algiers"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "GA",
                    "IanaIds": [
                      "Africa/Libreville"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "GQ",
                    "IanaIds": [
                      "Africa/Malabo"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "NE",
                    "IanaIds": [
                      "Africa/Niamey"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "NG",
                    "IanaIds": [
                      "Africa/Lagos"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "TD",
                    "IanaIds": [
                      "Africa/Ndjamena"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "TN",
                    "IanaIds": [
                      "Africa/Tunis"
                    ]
                  },
                  {
                    "WindowsId": "W. Central Africa Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-1"
                    ]
                  },
                  {
                    "WindowsId": "Namibia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Windhoek"
                    ]
                  },
                  {
                    "WindowsId": "Namibia Standard Time",
                    "Territory": "NA",
                    "IanaIds": [
                      "Africa/Windhoek"
                    ]
                  },
                  {
                    "WindowsId": "Jordan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Amman"
                    ]
                  },
                  {
                    "WindowsId": "Jordan Standard Time",
                    "Territory": "JO",
                    "IanaIds": [
                      "Asia/Amman"
                    ]
                  },
                  {
                    "WindowsId": "GTB Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Bucharest"
                    ]
                  },
                  {
                    "WindowsId": "GTB Standard Time",
                    "Territory": "CY",
                    "IanaIds": [
                      "Asia/Nicosia"
                    ]
                  },
                  {
                    "WindowsId": "GTB Standard Time",
                    "Territory": "GR",
                    "IanaIds": [
                      "Europe/Athens"
                    ]
                  },
                  {
                    "WindowsId": "GTB Standard Time",
                    "Territory": "RO",
                    "IanaIds": [
                      "Europe/Bucharest"
                    ]
                  },
                  {
                    "WindowsId": "Middle East Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Beirut"
                    ]
                  },
                  {
                    "WindowsId": "Middle East Standard Time",
                    "Territory": "LB",
                    "IanaIds": [
                      "Asia/Beirut"
                    ]
                  },
                  {
                    "WindowsId": "Egypt Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Cairo"
                    ]
                  },
                  {
                    "WindowsId": "Egypt Standard Time",
                    "Territory": "EG",
                    "IanaIds": [
                      "Africa/Cairo"
                    ]
                  },
                  {
                    "WindowsId": "E. Europe Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Chisinau"
                    ]
                  },
                  {
                    "WindowsId": "E. Europe Standard Time",
                    "Territory": "MD",
                    "IanaIds": [
                      "Europe/Chisinau"
                    ]
                  },
                  {
                    "WindowsId": "Syria Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Damascus"
                    ]
                  },
                  {
                    "WindowsId": "Syria Standard Time",
                    "Territory": "SY",
                    "IanaIds": [
                      "Asia/Damascus"
                    ]
                  },
                  {
                    "WindowsId": "West Bank Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Hebron"
                    ]
                  },
                  {
                    "WindowsId": "West Bank Standard Time",
                    "Territory": "PS",
                    "IanaIds": [
                      "Asia/Hebron",
                      "Asia/Gaza"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Johannesburg"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "BI",
                    "IanaIds": [
                      "Africa/Bujumbura"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "BW",
                    "IanaIds": [
                      "Africa/Gaborone"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "CD",
                    "IanaIds": [
                      "Africa/Lubumbashi"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "LS",
                    "IanaIds": [
                      "Africa/Maseru"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "MW",
                    "IanaIds": [
                      "Africa/Blantyre"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "MZ",
                    "IanaIds": [
                      "Africa/Maputo"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "RW",
                    "IanaIds": [
                      "Africa/Kigali"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "SZ",
                    "IanaIds": [
                      "Africa/Mbabane"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "ZA",
                    "IanaIds": [
                      "Africa/Johannesburg"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "ZM",
                    "IanaIds": [
                      "Africa/Lusaka"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "ZW",
                    "IanaIds": [
                      "Africa/Harare"
                    ]
                  },
                  {
                    "WindowsId": "South Africa Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-2"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Kiev"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "AX",
                    "IanaIds": [
                      "Europe/Mariehamn"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "BG",
                    "IanaIds": [
                      "Europe/Sofia"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "EE",
                    "IanaIds": [
                      "Europe/Tallinn"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "FI",
                    "IanaIds": [
                      "Europe/Helsinki"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "LT",
                    "IanaIds": [
                      "Europe/Vilnius"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "LV",
                    "IanaIds": [
                      "Europe/Riga"
                    ]
                  },
                  {
                    "WindowsId": "FLE Standard Time",
                    "Territory": "UA",
                    "IanaIds": [
                      "Europe/Kiev",
                      "Europe/Uzhgorod",
                      "Europe/Zaporozhye"
                    ]
                  },
                  {
                    "WindowsId": "Israel Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Jerusalem"
                    ]
                  },
                  {
                    "WindowsId": "Israel Standard Time",
                    "Territory": "IL",
                    "IanaIds": [
                      "Asia/Jerusalem"
                    ]
                  },
                  {
                    "WindowsId": "Kaliningrad Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Kaliningrad"
                    ]
                  },
                  {
                    "WindowsId": "Kaliningrad Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Europe/Kaliningrad"
                    ]
                  },
                  {
                    "WindowsId": "Libya Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Tripoli"
                    ]
                  },
                  {
                    "WindowsId": "Libya Standard Time",
                    "Territory": "LY",
                    "IanaIds": [
                      "Africa/Tripoli"
                    ]
                  },
                  {
                    "WindowsId": "Arabic Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Baghdad"
                    ]
                  },
                  {
                    "WindowsId": "Arabic Standard Time",
                    "Territory": "IQ",
                    "IanaIds": [
                      "Asia/Baghdad"
                    ]
                  },
                  {
                    "WindowsId": "Turkey Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Istanbul"
                    ]
                  },
                  {
                    "WindowsId": "Turkey Standard Time",
                    "Territory": "CY",
                    "IanaIds": [
                      "Asia/Famagusta"
                    ]
                  },
                  {
                    "WindowsId": "Turkey Standard Time",
                    "Territory": "TR",
                    "IanaIds": [
                      "Europe/Istanbul"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Riyadh"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "BH",
                    "IanaIds": [
                      "Asia/Bahrain"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "KW",
                    "IanaIds": [
                      "Asia/Kuwait"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "QA",
                    "IanaIds": [
                      "Asia/Qatar"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "SA",
                    "IanaIds": [
                      "Asia/Riyadh"
                    ]
                  },
                  {
                    "WindowsId": "Arab Standard Time",
                    "Territory": "YE",
                    "IanaIds": [
                      "Asia/Aden"
                    ]
                  },
                  {
                    "WindowsId": "Belarus Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Minsk"
                    ]
                  },
                  {
                    "WindowsId": "Belarus Standard Time",
                    "Territory": "BY",
                    "IanaIds": [
                      "Europe/Minsk"
                    ]
                  },
                  {
                    "WindowsId": "Russian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Moscow"
                    ]
                  },
                  {
                    "WindowsId": "Russian Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Europe/Moscow",
                      "Europe/Kirov",
                      "Europe/Volgograd"
                    ]
                  },
                  {
                    "WindowsId": "Russian Standard Time",
                    "Territory": "UA",
                    "IanaIds": [
                      "Europe/Simferopol"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Africa/Nairobi"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Syowa"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "DJ",
                    "IanaIds": [
                      "Africa/Djibouti"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "ER",
                    "IanaIds": [
                      "Africa/Asmera"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "ET",
                    "IanaIds": [
                      "Africa/Addis_Ababa"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "KE",
                    "IanaIds": [
                      "Africa/Nairobi"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "KM",
                    "IanaIds": [
                      "Indian/Comoro"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "MG",
                    "IanaIds": [
                      "Indian/Antananarivo"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "SD",
                    "IanaIds": [
                      "Africa/Khartoum"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "SO",
                    "IanaIds": [
                      "Africa/Mogadishu"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "SS",
                    "IanaIds": [
                      "Africa/Juba"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "TZ",
                    "IanaIds": [
                      "Africa/Dar_es_Salaam"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "UG",
                    "IanaIds": [
                      "Africa/Kampala"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "YT",
                    "IanaIds": [
                      "Indian/Mayotte"
                    ]
                  },
                  {
                    "WindowsId": "E. Africa Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-3"
                    ]
                  },
                  {
                    "WindowsId": "Iran Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Tehran"
                    ]
                  },
                  {
                    "WindowsId": "Iran Standard Time",
                    "Territory": "IR",
                    "IanaIds": [
                      "Asia/Tehran"
                    ]
                  },
                  {
                    "WindowsId": "Arabian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Dubai"
                    ]
                  },
                  {
                    "WindowsId": "Arabian Standard Time",
                    "Territory": "AE",
                    "IanaIds": [
                      "Asia/Dubai"
                    ]
                  },
                  {
                    "WindowsId": "Arabian Standard Time",
                    "Territory": "OM",
                    "IanaIds": [
                      "Asia/Muscat"
                    ]
                  },
                  {
                    "WindowsId": "Arabian Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-4"
                    ]
                  },
                  {
                    "WindowsId": "Astrakhan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Astrakhan"
                    ]
                  },
                  {
                    "WindowsId": "Astrakhan Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Europe/Astrakhan",
                      "Europe/Ulyanovsk"
                    ]
                  },
                  {
                    "WindowsId": "Azerbaijan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Baku"
                    ]
                  },
                  {
                    "WindowsId": "Azerbaijan Standard Time",
                    "Territory": "AZ",
                    "IanaIds": [
                      "Asia/Baku"
                    ]
                  },
                  {
                    "WindowsId": "Russia Time Zone 3",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Samara"
                    ]
                  },
                  {
                    "WindowsId": "Russia Time Zone 3",
                    "Territory": "RU",
                    "IanaIds": [
                      "Europe/Samara"
                    ]
                  },
                  {
                    "WindowsId": "Mauritius Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Indian/Mauritius"
                    ]
                  },
                  {
                    "WindowsId": "Mauritius Standard Time",
                    "Territory": "MU",
                    "IanaIds": [
                      "Indian/Mauritius"
                    ]
                  },
                  {
                    "WindowsId": "Mauritius Standard Time",
                    "Territory": "RE",
                    "IanaIds": [
                      "Indian/Reunion"
                    ]
                  },
                  {
                    "WindowsId": "Mauritius Standard Time",
                    "Territory": "SC",
                    "IanaIds": [
                      "Indian/Mahe"
                    ]
                  },
                  {
                    "WindowsId": "Saratov Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Europe/Saratov"
                    ]
                  },
                  {
                    "WindowsId": "Saratov Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Europe/Saratov"
                    ]
                  },
                  {
                    "WindowsId": "Georgian Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Tbilisi"
                    ]
                  },
                  {
                    "WindowsId": "Georgian Standard Time",
                    "Territory": "GE",
                    "IanaIds": [
                      "Asia/Tbilisi"
                    ]
                  },
                  {
                    "WindowsId": "Caucasus Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Yerevan"
                    ]
                  },
                  {
                    "WindowsId": "Caucasus Standard Time",
                    "Territory": "AM",
                    "IanaIds": [
                      "Asia/Yerevan"
                    ]
                  },
                  {
                    "WindowsId": "Afghanistan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Kabul"
                    ]
                  },
                  {
                    "WindowsId": "Afghanistan Standard Time",
                    "Territory": "AF",
                    "IanaIds": [
                      "Asia/Kabul"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Tashkent"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Mawson"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "KZ",
                    "IanaIds": [
                      "Asia/Oral",
                      "Asia/Aqtau",
                      "Asia/Aqtobe",
                      "Asia/Atyrau"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "MV",
                    "IanaIds": [
                      "Indian/Maldives"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "TF",
                    "IanaIds": [
                      "Indian/Kerguelen"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "TJ",
                    "IanaIds": [
                      "Asia/Dushanbe"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "TM",
                    "IanaIds": [
                      "Asia/Ashgabat"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "UZ",
                    "IanaIds": [
                      "Asia/Tashkent",
                      "Asia/Samarkand"
                    ]
                  },
                  {
                    "WindowsId": "West Asia Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-5"
                    ]
                  },
                  {
                    "WindowsId": "Ekaterinburg Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Yekaterinburg"
                    ]
                  },
                  {
                    "WindowsId": "Ekaterinburg Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Yekaterinburg"
                    ]
                  },
                  {
                    "WindowsId": "Pakistan Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Karachi"
                    ]
                  },
                  {
                    "WindowsId": "Pakistan Standard Time",
                    "Territory": "PK",
                    "IanaIds": [
                      "Asia/Karachi"
                    ]
                  },
                  {
                    "WindowsId": "India Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Calcutta"
                    ]
                  },
                  {
                    "WindowsId": "India Standard Time",
                    "Territory": "IN",
                    "IanaIds": [
                      "Asia/Calcutta"
                    ]
                  },
                  {
                    "WindowsId": "Sri Lanka Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Colombo"
                    ]
                  },
                  {
                    "WindowsId": "Sri Lanka Standard Time",
                    "Territory": "LK",
                    "IanaIds": [
                      "Asia/Colombo"
                    ]
                  },
                  {
                    "WindowsId": "Nepal Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Katmandu"
                    ]
                  },
                  {
                    "WindowsId": "Nepal Standard Time",
                    "Territory": "NP",
                    "IanaIds": [
                      "Asia/Katmandu"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Almaty"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Vostok"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "CN",
                    "IanaIds": [
                      "Asia/Urumqi"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "IO",
                    "IanaIds": [
                      "Indian/Chagos"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "KG",
                    "IanaIds": [
                      "Asia/Bishkek"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "KZ",
                    "IanaIds": [
                      "Asia/Almaty",
                      "Asia/Qyzylorda"
                    ]
                  },
                  {
                    "WindowsId": "Central Asia Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-6"
                    ]
                  },
                  {
                    "WindowsId": "Bangladesh Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Dhaka"
                    ]
                  },
                  {
                    "WindowsId": "Bangladesh Standard Time",
                    "Territory": "BD",
                    "IanaIds": [
                      "Asia/Dhaka"
                    ]
                  },
                  {
                    "WindowsId": "Bangladesh Standard Time",
                    "Territory": "BT",
                    "IanaIds": [
                      "Asia/Thimphu"
                    ]
                  },
                  {
                    "WindowsId": "Omsk Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Omsk"
                    ]
                  },
                  {
                    "WindowsId": "Omsk Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Omsk"
                    ]
                  },
                  {
                    "WindowsId": "Myanmar Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Rangoon"
                    ]
                  },
                  {
                    "WindowsId": "Myanmar Standard Time",
                    "Territory": "CC",
                    "IanaIds": [
                      "Indian/Cocos"
                    ]
                  },
                  {
                    "WindowsId": "Myanmar Standard Time",
                    "Territory": "MM",
                    "IanaIds": [
                      "Asia/Rangoon"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Bangkok"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "AQ",
                    "IanaIds": [
                      "Antarctica/Davis"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "CX",
                    "IanaIds": [
                      "Indian/Christmas"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "ID",
                    "IanaIds": [
                      "Asia/Jakarta",
                      "Asia/Pontianak"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "KH",
                    "IanaIds": [
                      "Asia/Phnom_Penh"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "LA",
                    "IanaIds": [
                      "Asia/Vientiane"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "TH",
                    "IanaIds": [
                      "Asia/Bangkok"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "VN",
                    "IanaIds": [
                      "Asia/Saigon"
                    ]
                  },
                  {
                    "WindowsId": "SE Asia Standard Time",
                    "Territory": "ZZ",
                    "IanaIds": [
                      "Etc/GMT-7"
                    ]
                  },
                  {
                    "WindowsId": "Altai Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Barnaul"
                    ]
                  },
                  {
                    "WindowsId": "Altai Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Barnaul"
                    ]
                  },
                  {
                    "WindowsId": "W. Mongolia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Hovd"
                    ]
                  },
                  {
                    "WindowsId": "W. Mongolia Standard Time",
                    "Territory": "MN",
                    "IanaIds": [
                      "Asia/Hovd"
                    ]
                  },
                  {
                    "WindowsId": "North Asia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Krasnoyarsk"
                    ]
                  },
                  {
                    "WindowsId": "North Asia Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Krasnoyarsk",
                      "Asia/Novokuznetsk"
                    ]
                  },
                  {
                    "WindowsId": "N. Central Asia Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Novosibirsk"
                    ]
                  },
                  {
                    "WindowsId": "N. Central Asia Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Novosibirsk"
                    ]
                  },
                  {
                    "WindowsId": "Tomsk Standard Time",
                    "Territory": "001",
                    "IanaIds": [
                      "Asia/Tomsk"
                    ]
                  },
                  {
                    "WindowsId": "Tomsk Standard Time",
                    "Territory": "RU",
                    "IanaIds": [
                      "Asia/Tomsk"
                    ]
                  },
                  {
                    "WindowsId": "China Standard Time",
                    "Territory": "001",
                    "IanaIds": [
[...]
