{
  "swagger": "2.0",
  "info": {
    "version": "2017-12-12-preview",
    "title": "PolicyStatesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.PolicyInsights/policyStates/$metadata": {
      "get": {
        "operationId": "PolicyStates_GetMetadata",
        "description": "Gets OData metadata XML document.",
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OData metadata XML document.",
            "schema": {
              "$ref": "#/definitions/MetadataDocument"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Get metadata": {
            "parameters": {
              "scope": "subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852",
              "api-version": "2017-12-12-preview"
            },
            "responses": {
              "200": {
                "headers": {
                  "content-type": "application/xml"
                },
                "body": "<edmx:Edmx Version=\"4.0\" xmlns:edmx=\"http://docs.oasis-open.org/odata/ns/edmx\">  <edmx:DataServices>    <Schema Namespace=\"Microsoft.WindowsAzure.Governance.Policy.Provider\" xmlns=\"http://docs.oasis-open.org/odata/ns/edm\">      <EntityType Name=\"PolicyState\">        <Key>          <PropertyRef Name=\"Timestamp\" />          <PropertyRef Name=\"ResourceId\" />          <PropertyRef Name=\"PolicyAssignmentId\" />          <PropertyRef Name=\"PolicyDefinitionId\" />        </Key>        <Property Name=\"Timestamp\" Type=\"Edm.DateTimeOffset\" />        <Property Name=\"ResourceId\" Type=\"Edm.String\" />        <Property Name=\"PolicyAssignmentId\" Type=\"Edm.String\" />        <Property Name=\"PolicyDefinitionId\" Type=\"Edm.String\" />        <Property Name=\"EffectiveParameters\" Type=\"Edm.String\" />        <Property Name=\"IsCompliant\" Type=\"Edm.Boolean\" />        <Property Name=\"SubscriptionId\" Type=\"Edm.String\" />        <Property Name=\"ResourceType\" Type=\"Edm.String\" />        <Property Name=\"ResourceLocation\" Type=\"Edm.String\" />        <Property Name=\"ResourceGroup\" Type=\"Edm.String\" />        <Property Name=\"ResourceTags\" Type=\"Edm.String\" />        <Property Name=\"PolicyAssignmentName\" Type=\"Edm.String\" />        <Property Name=\"PolicyAssignmentOwner\" Type=\"Edm.String\" />        <Property Name=\"PolicyAssignmentParameters\" Type=\"Edm.String\" />        <Property Name=\"PolicyAssignmentScope\" Type=\"Edm.String\" />        <Property Name=\"PolicyDefinitionName\" Type=\"Edm.String\" />        <Property Name=\"PolicyDefinitionAction\" Type=\"Edm.String\" />        <Property Name=\"PolicyDefinitionCategory\" Type=\"Edm.String\" />        <Property Name=\"PolicySetDefinitionId\" Type=\"Edm.String\" />        <Property Name=\"PolicySetDefinitionName\" Type=\"Edm.String\" />        <Property Name=\"PolicySetDefinitionOwner\" Type=\"Edm.String\" />        <Property Name=\"PolicySetDefinitionCategory\" Type=\"Edm.String\" />        <Property Name=\"PolicySetDefinitionParameters\" Type=\"Edm.String\" />        <Property Name=\"ManagementGroupIds\" Type=\"Edm.String\" />        <Property Name=\"PolicyDefinitionReferenceId\" Type=\"Edm.String\" />      </EntityType>      <ComplexType Name=\"SummaryResults\">        <Property Name=\"QueryResultsUri\" Type=\"Edm.String\" Nullable=\"false\" />        <Property Name=\"NonCompliantResources\" Type=\"Edm.Int64\" Nullable=\"false\" />        <Property Name=\"NonCompliantPolicies\" Type=\"Edm.Int64\" />      </ComplexType>      <ComplexType Name=\"PolicyDefinitionSummary\">        <Property Name=\"PolicyDefinitionId\" Type=\"Edm.String\" Nullable=\"false\" />        <Property Name=\"Effect\" Type=\"Edm.String\" Nullable=\"false\" />        <Property Name=\"Results\" Type=\"Microsoft.WindowsAzure.Governance.Policy.Provider.SummaryResults\" Nullable=\"false\" />      </ComplexType>      <ComplexType Name=\"PolicyAssignmentSummary\">        <Property Name=\"PolicyAssignmentId\" Type=\"Edm.String\" Nullable=\"false\" />        <Property Name=\"PolicySetDefinitionId\" Type=\"Edm.String\" />        <Property Name=\"Results\" Type=\"Microsoft.WindowsAzure.Governance.Policy.Provider.SummaryResults\" Nullable=\"false\" />        <Property Name=\"PolicyDefinitions\" Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyDefinitionSummary)\" />      </ComplexType>      <EntityType Name=\"Summary\">        <Property Name=\"Results\" Type=\"Microsoft.WindowsAzure.Governance.Policy.Provider.SummaryResults\" Nullable=\"false\" />        <Property Name=\"PolicyAssignments\" Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyAssignmentSummary)\" />      </EntityType>      <Action Name=\"queryResults\" IsBound=\"true\" EntitySetPath=\"default\">        <Parameter Name=\"default\" Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)\" Nullable=\"false\" />        <ReturnType Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)\" Nullable=\"false\" />      </Action>      <Action Name=\"queryResults\" IsBound=\"true\" EntitySetPath=\"latest\">        <Parameter Name=\"latest\" Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)\" Nullable=\"false\" />        <ReturnType Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)\" Nullable=\"false\" />      </Action>      <Action Name=\"summarize\" IsBound=\"true\" EntitySetPath=\"summary\">        <Parameter Name=\"summary\" Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)\" Nullable=\"false\" />        <ReturnType Type=\"Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.Summary)\" Nullable=\"false\" />      </Action>      <EntityContainer Name=\"DefaultContainer\">        <EntitySet Name=\"default\" EntityType=\"Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState\">          <Annotation Term=\"Org.OData.Core.V1.ResourcePath\" String=\"default\" />          <Annotation Term=\"Org.OData.Capabilities.V1.SearchRestrictions\">            <Record>              <PropertyValue Property=\"Searchable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.InsertRestrictions\">            <Record>              <PropertyValue Property=\"Insertable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.UpdateRestrictions\">            <Record>              <PropertyValue Property=\"Updatable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.DeleteRestrictions\">            <Record>              <PropertyValue Property=\"Deletable\" Bool=\"false\" />            </Record>          </Annotation>        </EntitySet>        <EntitySet Name=\"latest\" EntityType=\"Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState\">          <Annotation Term=\"Org.OData.Core.V1.ResourcePath\" String=\"latest\" />          <Annotation Term=\"Org.OData.Capabilities.V1.SearchRestrictions\">            <Record>              <PropertyValue Property=\"Searchable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.InsertRestrictions\">            <Record>              <PropertyValue Property=\"Insertable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.UpdateRestrictions\">            <Record>              <PropertyValue Property=\"Updatable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.DeleteRestrictions\">            <Record>              <PropertyValue Property=\"Deletable\" Bool=\"false\" />            </Record>          </Annotation>        </EntitySet>        <EntitySet Name=\"summary\" EntityType=\"Microsoft.WindowsAzure.Governance.Policy.Provider.Summary\">          <Annotation Term=\"Org.OData.Core.V1.ResourcePath\" String=\"summary\" />          <Annotation Term=\"Org.OData.Capabilities.V1.SearchRestrictions\">            <Record>              <PropertyValue Property=\"Searchable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.InsertRestrictions\">            <Record>              <PropertyValue Property=\"Insertable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.UpdateRestrictions\">            <Record>              <PropertyValue Property=\"Updatable\" Bool=\"false\" />            </Record>          </Annotation>          <Annotation Term=\"Org.OData.Capabilities.V1.DeleteRestrictions\">            <Record>              <PropertyValue Property=\"Deletable\" Bool=\"false\" />            </Record>          </Annotation>        </EntitySet>        <Annotation Term=\"Org.OData.Core.V1.Description\" String=\"Policy States\" />      </EntityContainer>      <Annotations Target=\"Microsoft.WindowsAzure.Governance.Policy.Provider.DefaultContainer\">        <Annotation Term=\"Org.OData.Capabilities.V1.ConformanceLevel\">          <EnumMember>Org.OData.Capabilities.V1.ConformanceLevelType/Minimal</EnumMember>        </Annotation>        <Annotation Term=\"Org.OData.Capabilities.V1.SupportedFormats\">          <Collection>            <String>application/json;odata.metadata=minimal;IEEE754Compatible=false;odata.streaming=true</String>            <String>application/json;odata.metadata=none;IEEE754Compatible=false;odata.streaming=true</String>          </Collection>        </Annotation>        <Annotation Term=\"Org.OData.Capabilities.V1.AsynchronousRequestsSupported\" Bool=\"true\" />      </Annotations>    </Schema>  </edmx:DataServices></edmx:Edmx>"
              }
            }
          }
        },
        "x-internal-toc-name": "Get Metadata"
      }
    }
  },
  "definitions": {
    "PolicyStatesQueryResults": {
      "description": "Query results.",
      "properties": {
        "@odata.context": {
          "description": "OData context string; used by OData clients to resolve type information based on metadata.",
          "type": "string"
        },
        "@odata.count": {
          "description": "OData entity count; represents the number of policy state records returned.",
          "type": "integer",
          "format": "int32",
          "minimum": 0
        },
        "value": {
          "description": "Query results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyState"
          }
        }
      }
    },
    "PolicyState": {
      "type": "object",
      "description": "Policy state record.",
      "properties": {
        "@odata.id": {
          "description": "OData entity ID; always set to null since policy state records do not have an entity ID.",
          "type": "string"
        },
        "@odata.context": {
          "description": "OData context string; used by OData clients to resolve type information based on metadata.",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp for the policy state record.",
          "type": "string",
          "format": "date-time"
        },
        "resourceId": {
          "description": "Resource ID.",
          "type": "string"
        },
        "policyAssignmentId": {
          "description": "Policy assignment ID.",
          "type": "string"
        },
        "policyDefinitionId": {
          "description": "Policy definition ID.",
          "type": "string"
        },
        "effectiveParameters": {
          "description": "Effective parameters for the policy assignment.",
          "type": "string"
        },
        "isCompliant": {
          "description": "Flag which states whether the resource is compliant against the policy assignment it was evaluated against.",
          "type": "boolean"
        },
        "subscriptionId": {
          "description": "Subscription ID.",
          "type": "string"
        },
        "resourceType": {
          "description": "Resource type.",
          "type": "string"
        },
        "resourceLocation": {
          "description": "Resource location.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Resource group name.",
          "type": "string"
        },
        "resourceTags": {
          "description": "List of resource tags.",
          "type": "string"
        },
        "policyAssignmentName": {
          "description": "Policy assignment name.",
          "type": "string"
        },
        "policyAssignmentOwner": {
          "description": "Policy assignment owner.",
          "type": "string"
        },
        "policyAssignmentParameters": {
          "description": "Policy assignment parameters.",
          "type": "string"
        },
        "policyAssignmentScope": {
          "description": "Policy assignment scope.",
          "type": "string"
        },
        "policyDefinitionName": {
          "description": "Policy definition name.",
          "type": "string"
        },
        "policyDefinitionAction": {
          "description": "Policy definition action, i.e. effect.",
          "type": "string"
        },
        "policyDefinitionCategory": {
          "description": "Policy definition category.",
          "type": "string"
        },
        "policySetDefinitionId": {
          "description": "Policy set definition ID, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "policySetDefinitionName": {
          "description": "Policy set definition name, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "policySetDefinitionOwner": {
          "description": "Policy set definition owner, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "policySetDefinitionCategory": {
          "description": "Policy set definition category, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "policySetDefinitionParameters": {
          "description": "Policy set definition parameters, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "managementGroupIds": {
          "description": "Comma seperated list of management group IDs, which represent the hierarchy of the management groups the resource is under.",
          "type": "string"
        },
        "policyDefinitionReferenceId": {
          "description": "Reference ID for the policy definition inside the policy set, if the policy assignment is for a policy set.",
          "type": "string"
        }
      },
      "additionalProperties": {
        "description": "The list of key/value pairs for the additional properties, in the format 'key':'value' where key = the field name, and value = the field value. By default this is not populated"
      }
    },
    "SummarizeResults": {
      "description": "Summarize action results.",
      "properties": {
        "@odata.context": {
          "description": "OData context string; used by OData clients to resolve type information based on metadata.",
          "type": "string"
        },
        "@odata.count": {
          "description": "OData entity count; represents the number of summaries returned; always set to 1.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1
        },
        "value": {
          "description": "Summarize action results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Summary"
          }
        }
      }
    },
    "Summary": {
      "description": "Summary results.",
      "properties": {
        "@odata.id": {
          "description": "OData entity ID; always set to null since summaries do not have an entity ID.",
          "type": "string"
        },
        "@odata.context": {
          "description": "OData context string; used by OData clients to resolve type information based on metadata.",
          "type": "string"
        },
        "results": {
          "description": "Non-compliance summary for all policy assignments.",
          "$ref": "#/definitions/SummaryResults"
        },
        "policyAssignments": {
          "description": "Policy assignments summary.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyAssignmentSummary"
          }
        }
      }
    },
    "SummaryResults": {
      "description": "Non-compliance summary on a particular summary level.",
      "properties": {
        "queryResultsUri": {
          "description": "HTTP POST URI for queryResults action on Microsoft.PolicyInsights to retrieve raw results for the non-compliance summary.",
          "type": "string"
        },
        "nonCompliantResources": {
          "description": "Number of non-compliant resources.",
          "type": "integer",
          "format": "int32",
          "minimum": 0
        },
        "nonCompliantPolicies": {
          "description": "Number of non-compliant policies.",
          "type": "integer",
          "format": "int32",
          "minimum": 0
        }
      }
    },
    "PolicyAssignmentSummary": {
      "description": "Policy assignment summary.",
      "properties": {
        "policyAssignmentId": {
          "description": "Policy assignment ID.",
          "type": "string"
        },
        "policySetDefinitionId": {
          "description": "Policy set definition ID, if the policy assignment is for a policy set.",
          "type": "string"
        },
        "results": {
          "description": "Non-compliance summary for the policy assignment.",
          "$ref": "#/definitions/SummaryResults"
        },
        "policyDefinitions": {
          "description": "Policy definitions summary.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyDefinitionSummary"
          }
        }
      }
    },
    "PolicyDefinitionSummary": {
      "description": "Policy definition summary.",
      "properties": {
        "policyDefinitionId": {
          "description": "Policy definition ID.",
          "type": "string"
        },
        "effect": {
          "description": "Policy effect, i.e. policy definition action.",
          "type": "string"
        },
        "results": {
          "description": "Non-compliance summary for the policy definition.",
          "$ref": "#/definitions/SummaryResults"
        }
      }
    },
    "QueryFailure": {
      "description": "Error response.",
      "properties": {
        "error": {
          "description": "Error definition.",
          "properties": {
            "code": {
              "description": "Service specific error code which serves as the substatus for the HTTP error code.",
              "type": "string"
            },
            "message": {
              "description": "Description of the error.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationsListResults": {
      "description": "List of available operations.",
      "properties": {
        "@odata.count": {
          "description": "OData entity count; represents the number of operations returned.",
          "type": "integer",
          "format": "int32",
          "minimum": 1
        },
        "value": {
          "description": "List of available operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "Operation": {
      "description": "Operation definition.",
      "properties": {
        "name": {
          "description": "Operation name.",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Resource provider name.",
              "type": "string"
            },
            "resource": {
              "description": "Resource name on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "Operation name.",
              "type": "string"
            },
            "description": {
              "description": "Operation description.",
              "type": "string"
            }
          }
        }
      }
    },
    "MetadataDocument": {
      "description": "Metadata XML document.",
      "type": "string"
    }
  },
  "parameters": {
    "policyStatesResourceParameter": {
      "name": "policyStatesResource",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "default",
        "latest"
      ],
      "x-ms-enum": {
        "name": "PolicyStatesResource",
        "modelAsString": true
      },
      "description": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).",
      "x-ms-parameter-location": "method"
    },
    "policyStatesSummaryResourceParameter": {
      "name": "policyStatesSummaryResource",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "latest"
      ],
      "description": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value.",
      "x-ms-parameter-location": "method"
    },
    "managementGroupsNamespaceParameter": {
      "name": "managementGroupsNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "Microsoft.Management"
      ],
      "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
      "x-ms-parameter-location": "method"
    },
    "managementGroupNameParameter": {
      "name": "managementGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Management group name.",
      "x-ms-parameter-location": "method"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Microsoft Azure subscription ID.",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource group name.",
      "x-ms-parameter-location": "method"
    },
    "resourceIdParameter": {
      "name": "resourceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource ID.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "authorizationNamespaceParameter": {
      "name": "authorizationNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "Microsoft.Authorization"
      ],
      "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
      "x-ms-parameter-location": "method"
    },
    "policySetDefinitionNameParameter": {
      "name": "policySetDefinitionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Policy set definition name.",
      "x-ms-parameter-location": "method"
    },
    "policyDefinitionNameParameter": {
      "name": "policyDefinitionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Policy definition name.",
      "x-ms-parameter-location": "method"
    },
    "policyAssignmentNameParameter": {
      "name": "policyAssignmentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Policy assignment name.",
      "x-ms-parameter-location": "method"
    },
    "scopeParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A valid scope, i.e. management group, subscription, resource group, or resource ID. Scope used has no effect on metadata returned.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "API version to use with the client requests.",
      "x-ms-parameter-location": "client"
    },
    "topParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "description": "Maximum number of records to return.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Top"
    },
    "orderByParameter": {
      "name": "$orderby",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "OrderBy"
    },
    "selectParameter": {
      "name": "$select",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Select"
    },
    "fromParameter": {
      "name": "$from",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date-time",
      "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "From"
    },
    "toParameter": {
      "name": "$to",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date-time",
      "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "To"
    },
    "filterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "OData filter expression.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Filter"
    },
    "applyParameter": {
      "name": "$apply",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "OData apply expression for aggregations.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Apply"
    }
  },
  "x-internal-service-name": "Policy Insights",
  "x-internal-toc-name": "Policy States",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get Metadata"
}