{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "put": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_CreateOrUpdate",
        "description": "Create a connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Create or update connection type": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount22",
              "connectionTypeName": "myCT",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "myCT",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount22/connectionTypes/myCT",
                  "name": "myCT",
                  "properties": {
                    "isGlobal": false,
                    "fieldDefinitions": {
                      "myStringField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "string"
                      },
                      "myBoolField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "bool"
                      },
                      "myStringFieldEncrypted": {
                        "isEncrypted": true,
                        "isOptional": false,
                        "type": "string"
                      }
                    },
                    "creationTime": "2017-03-27T03:47:53.433+00:00",
                    "lastModifiedTime": "2017-03-27T03:47:53.433+00:00"
                  }
                }
              },
              "409": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "FieldDefinition": {
      "properties": {
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the isEncrypted flag of the connection field definition."
        },
        "isOptional": {
          "type": "boolean",
          "description": "Gets or sets the isOptional flag of the connection field definition."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the connection field definition."
        }
      },
      "required": [
        "type"
      ],
      "description": "Definition of the connection fields."
    },
    "ConnectionTypeProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "readOnly": true,
          "description": "Gets the field definitions of the connection type."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the connection type."
    },
    "ConnectionType": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the connection type."
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the connection type."
        }
      },
      "description": "Definition of the connection type."
    },
    "ConnectionTypeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionType"
          },
          "description": "Gets or sets a list of connection types."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list connection type operation."
    },
    "ConnectionTypeCreateOrUpdateProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "description": "Gets or sets the field definitions of the connection type."
        }
      },
      "required": [
        "fieldDefinitions"
      ],
      "description": "The properties of the create connection type."
    },
    "ConnectionTypeCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the connection type."
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the connection type."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update connection type operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Connection Type",
  "x-internal-split-type": "Operation"
}