{
  "swagger": "2.0",
  "info": {
    "version": "2019-01-01",
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on PortalSettings entity associated with your Azure API Management deployment. Using this entity you can manage settings for a Developer Portal."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/portalsettings/signup": {
      "head": {
        "tags": [
          "SignUpSettings"
        ],
        "operationId": "SignUpSettings_GetEntityTag",
        "description": "Gets the entity state (Etag) version of the SignUpSettings.",
        "x-ms-examples": {
          "ApiManagementHeadSignUpSettings": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2019-01-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "headers": {
                  "etag": "AAAAAAAAAAa="
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get Entity Tag"
      }
    }
  },
  "definitions": {
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "ErrorResponseBody": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error Body contract."
    },
    "ErrorResponse": {
      "properties": {
        "error": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ErrorResponseBody",
          "description": "Properties of the Error Response."
        }
      },
      "description": "Error Response."
    },
    "Resource": {
      "description": "The Resource definition.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for API Management resource."
        }
      }
    },
    "RegistrationDelegationSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable or disable delegation for user registration."
        }
      },
      "description": "User registration delegation settings properties."
    },
    "SubscriptionsDelegationSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable or disable delegation for subscriptions."
        }
      },
      "description": "Subscriptions delegation settings properties."
    },
    "PortalDelegationSettingsProperties": {
      "properties": {
        "url": {
          "type": "string",
          "description": "A delegation Url."
        },
        "validationKey": {
          "type": "string",
          "description": "A base64-encoded validation key to validate, that a request is coming from Azure API Management."
        },
        "subscriptions": {
          "$ref": "#/definitions/SubscriptionsDelegationSettingsProperties",
          "description": "Subscriptions delegation settings."
        },
        "userRegistration": {
          "$ref": "#/definitions/RegistrationDelegationSettingsProperties",
          "description": "User registration delegation settings."
        }
      },
      "description": "Delegation settings contract properties."
    },
    "PortalDelegationSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalDelegationSettingsProperties",
          "description": "Delegation settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Delegation settings for a developer portal."
    },
    "TermsOfServiceProperties": {
      "properties": {
        "text": {
          "type": "string",
          "description": "A terms of service text."
        },
        "enabled": {
          "type": "boolean",
          "description": "Display terms of service during a sign-up process."
        },
        "consentRequired": {
          "type": "boolean",
          "description": "Ask user for consent to the terms of service."
        }
      },
      "description": "Terms of service contract properties."
    },
    "PortalSignupSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Allow users to sign up on a developer portal."
        },
        "termsOfService": {
          "type": "object",
          "$ref": "#/definitions/TermsOfServiceProperties",
          "description": "Terms of service contract properties."
        }
      },
      "description": "Sign-up settings contract properties."
    },
    "PortalSignupSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalSignupSettingsProperties",
          "description": "Sign-up settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Sign-Up settings for a developer portal."
    },
    "PortalSigninSettingProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Redirect Anonymous users to the Sign-In page."
        }
      },
      "description": "Sign-in settings contract properties."
    },
    "PortalSigninSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalSigninSettingProperties",
          "description": "Sign-in settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Sign-In settings for the Developer Portal."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "IfMatchOptionalParameter": {
      "name": "If-Match",
      "in": "header",
      "required": false,
      "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "IfMatchRequiredParameter": {
      "name": "If-Match",
      "in": "header",
      "required": true,
      "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "apimanagement",
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Sign Up Settings",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "GetEntityTag",
  "x-internal-operation-name": "Get Entity Tag"
}