{
  "swagger": "2.0",
  "info": {
    "version": "2019-11-01",
    "title": "CostManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_List",
        "description": "Lists the dimensions by the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "SubscriptionDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "$top": 5,
              "$expand": "properties/data",
              "scope": "subscriptions/00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "dcrg",
                          "rg",
                          "offlinegalleryrg",
                          "system.orlando.adminkeyvault",
                          "system.orlando.keyvault"
                        ],
                        "total": 68,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.storage/storageaccounts",
                          "microsoft.web.admin/role",
                          "microsoft.sql/servers",
                          "microsoft.compute/virtualmachines"
                        ],
                        "total": 4,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "ResourceGroupDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "system.orlando",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.storage/storageaccounts"
                        ],
                        "total": 1,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/authprod",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/systemevents",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/armadminprod",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/publicsystemportal"
                        ],
                        "total": 27,
                        "category": "ResourceId",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "ManagementGroupDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "managementGroupId": "MyMgId",
              "scope": "providers/Microsoft.Management/managementGroups/MyMgId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "ManagementGroupDimensionsListExpandAndTop-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "managementGroupId": "MyMgId",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Management/managementGroups/MyMgId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "ManagementGroupDimensionsListWithFilter-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "managementGroupId": "MyMgId",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Management/managementGroups/MyMgId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "DepartmentDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "departmentId": "123",
              "scope": "providers/Microsoft.Billing/billingAccounts/100/departments/123"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "DepartmentDimensionsListExpandAndTop-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "departmentId": "123",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/100/departments/123"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "DepartmentDimensionsListWithFilter-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "departmentId": "123",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/100/departments/123"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "EnrollmentAccountDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "enrollmentAccountId": "456",
              "scope": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "EnrollmentAccountDimensionsListExpandAndTop-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "enrollmentAccountId": "456",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "EnrollmentAccountDimensionsListWithFilter-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "enrollmentAccountId": "456",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsList-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "scope": "providers/Microsoft.Billing/billingAccounts/100"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsListExpandAndTop-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/100"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceGroup_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceType_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsListWithFilter-Legacy": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "100",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/100"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "name": "dimensions_ResourceId_2018-05-01_2018-05-31_5",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2018-05-01T00:00:00-07:00",
                        "usageEnd": "2018-05-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsList-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsListExpandAndTop-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingAccountDimensionsListWithFilter-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/providers/microsoft.CostManagement/dimensions_ResourceId_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceId_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Billing/billingAccounts/12345:6789/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingProfileDimensionsList-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingProfileDimensionsListExpandAndTop-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "BillingProfileDimensionsListWithFilter-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/microsoft.CostManagement/dimensions_ResourceId_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceId_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "InvoiceSectionDimensionsList-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "invoiceSectionId": "9876",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "InvoiceSectionDimensionsListExpandAndTop-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "invoiceSectionId": "9876",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "InvoiceSectionDimensionsListWithFilter-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "billingProfileId": "13579",
              "invoiceSectionId": "9876",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/microsoft.CostManagement/dimensions_ResourceId_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceId_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Billing/billingAccounts/12345:6789/billingProfiles/13579/invoiceSections/9876/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          },
          "CustomerDimensionsList-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "customerId": "5678",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "CustomerDimensionsListExpandAndTop-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "customerId": "5678",
              "$expand": "properties/data",
              "$top": 5,
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/microsoft.CostManagement/dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceGroup_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "thoroetrg01",
                          "default-notificationhubs-westus",
                          "jedikeyvaultrg",
                          "contosocodeflow8d4a",
                          "noobaa"
                        ],
                        "total": 377,
                        "category": "ResourceGroup",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource group",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    },
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/microsoft.CostManagement/dimensions_ResourceType_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceType_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "microsoft.automation/automationaccounts",
                          "microsoft.databricks/workspaces",
                          "microsoft.dbformysql/servers",
                          "microsoft.containerregistry/registries",
                          "microsoft.search/searchservices"
                        ],
                        "total": 37,
                        "category": "ResourceType",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource type",
                        "filterEnabled": true,
                        "groupingEnabled": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "CustomerDimensionsListWithFilter-Modern": {
            "parameters": {
              "api-version": "2019-10-01",
              "billingAccountId": "12345:6789",
              "customerId": "13579",
              "$expand": "properties/data",
              "$top": 5,
              "$filter": "properties/category eq 'resourceId'",
              "scope": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/microsoft.CostManagement/dimensions_ResourceId_2019-10-01_2019-10-31",
                      "name": "dimensions_ResourceId_2019-10-01_2019-10-31",
                      "type": "microsoft.CostManagement/dimensions",
                      "properties": {
                        "data": [
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount",
                          "/subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus",
                          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1",
                          "/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume"
                        ],
                        "total": 1409,
                        "category": "ResourceId",
                        "usageStart": "2019-10-01T00:00:00-07:00",
                        "usageEnd": "2019-10-31T00:00:00-07:00",
                        "description": "Resource Id",
                        "filterEnabled": true,
                        "groupingEnabled": true,
                        "nextLink": "http://management.azure.com/providers/Microsoft.Billing/billingAccounts/12345:6789/customers/5678/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-10-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeDimensionParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "DimensionsListResult": {
      "description": "Result of listing dimensions. It contains a list of available dimensions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of dimensions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        }
      }
    },
    "Dimension": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DimensionProperties",
          "title": "Dimension properties"
        }
      }
    },
    "DimensionProperties": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Dimension description.",
          "type": "string",
          "readOnly": true
        },
        "filterEnabled": {
          "description": "Filter enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "groupingEnabled": {
          "description": "Grouping enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "data": {
          "type": "array",
          "items": {
            "description": "Dimension data item.",
            "type": "string",
            "readOnly": true
          }
        },
        "total": {
          "description": "Total number of data for the dimension.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "category": {
          "description": "Dimension category.",
          "type": "string",
          "readOnly": true
        },
        "usageStart": {
          "description": "Usage start.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "usageEnd": {
          "description": "Usage end.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QueryResult": {
      "description": "Result of query. It contains all columns listed under groupings and aggregation.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QueryProperties",
          "title": "Query properties"
        }
      }
    },
    "QueryProperties": {
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string"
        },
        "columns": {
          "description": "Array of columns",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryColumn"
          }
        },
        "rows": {
          "description": "Array of rows",
          "type": "array",
          "items": {
            "type": "array",
            "items": {}
          }
        }
      }
    },
    "QueryColumn": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of column.",
          "type": "string"
        },
        "type": {
          "description": "The type of column.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of cost management operations supported by the Microsoft.CostManagement resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A Cost management REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.CostManagement.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Dimensions, Query.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "QueryDefinition": {
      "description": "The definition of a query.",
      "properties": {
        "type": {
          "description": "The type of the query.",
          "type": "string",
          "enum": [
            "Usage",
            "ActualCost",
            "AmortizedCost"
          ],
          "x-ms-enum": {
            "name": "ExportType",
            "modelAsString": true
          }
        },
        "timeframe": {
          "description": "The time frame for pulling data for the query. If custom, then a specific time period must be provided.",
          "type": "string",
          "enum": [
            "MonthToDate",
            "BillingMonthToDate",
            "TheLastMonth",
            "TheLastBillingMonth",
            "WeekToDate",
            "Custom"
          ],
          "x-ms-enum": {
            "name": "TimeframeType",
            "modelAsString": true
          }
        },
        "timePeriod": {
          "description": "Has time period for pulling data for the query.",
          "$ref": "#/definitions/QueryTimePeriod"
        },
        "dataset": {
          "description": "Has definition for data in this query.",
          "$ref": "#/definitions/QueryDataset"
        }
      },
      "required": [
        "type",
        "timeframe"
      ]
    },
    "QueryTimePeriod": {
      "description": "The start and end date for pulling data for the query.",
      "properties": {
        "from": {
          "description": "The start date to pull data from.",
          "type": "string",
          "format": "date-time"
        },
        "to": {
          "description": "The end date to pull data to.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "QueryDataset": {
      "description": "The definition of data present in the query.",
      "properties": {
        "granularity": {
          "description": "The granularity of rows in the query.",
          "type": "string",
          "enum": [
            "Daily"
          ],
          "x-ms-enum": {
            "name": "GranularityType",
            "modelAsString": true
          }
        },
        "configuration": {
          "description": "Has configuration information for the data in the export. The configuration will be ignored if aggregation and grouping are provided.",
          "$ref": "#/definitions/QueryDatasetConfiguration"
        },
        "aggregation": {
          "type": "object",
          "description": "Dictionary of aggregation expression to use in the query. The key of each item in the dictionary is the alias for the aggregated column. Query can have up to 2 aggregation clauses.",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/QueryAggregation"
          },
          "maxItems": 2
        },
        "grouping": {
          "description": "Array of group by expression to use in the query. Query can have up to 2 group by clauses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryGrouping"
          },
          "maxItems": 2
        },
        "filter": {
          "type": "object",
          "description": "Has filter expression to use in the query.",
          "$ref": "#/definitions/QueryFilter"
        }
      }
    },
    "QueryDatasetConfiguration": {
      "description": "The configuration of dataset in the query.",
      "properties": {
        "columns": {
          "description": "Array of column names to be included in the query. Any valid query column name is allowed. If not provided, then query includes all columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryAggregation": {
      "description": "The aggregation expression to be used in the query.",
      "properties": {
        "name": {
          "description": "The name of the column to aggregate.",
          "type": "string"
        },
        "function": {
          "description": "The name of the aggregation function to use.",
          "type": "string",
          "enum": [
            "Sum"
          ],
          "x-ms-enum": {
            "name": "FunctionType",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "function"
      ]
    },
    "QueryGrouping": {
      "description": "The group by expression to be used in the query.",
      "properties": {
        "type": {
          "description": "Has type of the column to group.",
          "$ref": "#/definitions/QueryColumnType"
        },
        "name": {
          "description": "The name of the column to group.",
          "type": "string"
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "QueryFilter": {
      "description": "The filter expression to be used in the export.",
      "properties": {
        "and": {
          "description": "The logical \"AND\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryFilter"
          },
          "minItems": 2
        },
        "or": {
          "description": "The logical \"OR\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryFilter"
          },
          "minItems": 2
        },
        "not": {
          "description": "The logical \"NOT\" expression.",
          "$ref": "#/definitions/QueryFilter"
        },
        "dimension": {
          "description": "Has comparison expression for a dimension",
          "$ref": "#/definitions/QueryComparisonExpression"
        },
        "tag": {
          "description": "Has comparison expression for a tag",
          "$ref": "#/definitions/QueryComparisonExpression"
        }
      }
    },
    "QueryColumnType": {
      "description": "The type of the column in the export.",
      "type": "string",
      "enum": [
        "Tag",
        "Dimension"
      ],
      "x-ms-enum": {
        "name": "QueryColumnType",
        "modelAsString": true
      }
    },
    "QueryComparisonExpression": {
      "description": "The comparison expression to be used in the query.",
      "properties": {
        "name": {
          "description": "The name of the column to use in comparison.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for comparison.",
          "type": "string",
          "enum": [
            "In"
          ],
          "x-ms-enum": {
            "name": "OperatorType",
            "modelAsString": true
          }
        },
        "values": {
          "description": "Array of values to use for comparison",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "ExportListResult": {
      "description": "Result of listing exports. It contains a list of available exports in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of exports.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Export"
          }
        }
      }
    },
    "Export": {
      "description": "A export resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExportProperties",
          "title": "Export properties"
        }
      }
    },
    "ExportProperties": {
      "description": "The properties of the export.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonExportProperties"
        }
      ],
      "properties": {
        "schedule": {
          "description": "Has schedule information for the export.",
          "$ref": "#/definitions/ExportSchedule"
        }
      }
    },
    "CommonExportProperties": {
      "description": "The common properties of the export.",
      "properties": {
        "format": {
          "description": "The format of the export being delivered.",
          "type": "string",
          "enum": [
            "Csv"
          ],
          "x-ms-enum": {
            "name": "FormatType",
            "modelAsString": true
          }
        },
        "deliveryInfo": {
          "description": "Has delivery information for the export.",
          "$ref": "#/definitions/ExportDeliveryInfo"
        },
        "definition": {
          "description": "Has definition for the export.",
          "$ref": "#/definitions/QueryDefinition"
        }
      },
      "required": [
        "deliveryInfo",
        "definition"
      ]
    },
    "ExportSchedule": {
      "description": "The schedule associated with a export.",
      "properties": {
        "status": {
          "description": "The status of the schedule. Whether active or not. If inactive, the export's scheduled execution is paused.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          }
        },
        "recurrence": {
          "description": "The schedule recurrence.",
          "type": "string",
          "enum": [
            "Daily",
            "Weekly",
            "Monthly",
            "Annually"
          ],
          "x-ms-enum": {
            "name": "RecurrenceType",
            "modelAsString": true
          }
        },
        "recurrencePeriod": {
          "description": "Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date.",
          "$ref": "#/definitions/ExportRecurrencePeriod"
        }
      },
      "required": [
        "recurrence"
      ]
    },
    "ExportDeliveryInfo": {
      "description": "The delivery information associated with a export.",
      "properties": {
        "destination": {
          "description": "Has destination for the export being delivered.",
          "$ref": "#/definitions/ExportDeliveryDestination"
        }
      },
      "required": [
        "destination"
      ]
    },
    "ExportRecurrencePeriod": {
      "description": "The start and end date for recurrence schedule.",
      "properties": {
        "from": {
          "description": "The start date of recurrence.",
          "type": "string",
          "format": "date-time"
        },
        "to": {
          "description": "The end date of recurrence.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "from"
      ]
    },
    "ExportDeliveryDestination": {
      "description": "The destination information for the delivery of the export. To allow access to a storage account, you must register the account's subscription with the Microsoft.CostManagementExports resource provider. This is required once per subscription. When creating an export in the Azure portal, it is done automatically, however API users need to register the subscription. For more information see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services .",
      "properties": {
        "resourceId": {
          "description": "The resource id of the storage account where exports will be delivered.",
          "type": "string"
        },
        "container": {
          "description": "The name of the container where exports will be uploaded.",
          "type": "string"
        },
        "rootFolderPath": {
          "description": "The name of the directory where exports will be uploaded.",
          "type": "string"
        }
      },
      "required": [
        "resourceId",
        "container"
      ]
    },
    "ExportExecutionListResult": {
      "description": "Result of listing exports execution history of a export by name",
      "properties": {
        "value": {
          "description": "The list of export executions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExportExecution"
          }
        }
      }
    },
    "ExportExecution": {
      "description": "A export execution.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExportExecutionProperties",
          "title": "Export execution properties"
        }
      }
    },
    "ExportExecutionProperties": {
      "description": "The properties of the export execution.",
      "properties": {
        "executionType": {
          "description": "The type of the export execution.",
          "type": "string",
          "enum": [
            "OnDemand",
            "Scheduled"
          ],
          "x-ms-enum": {
            "name": "ExecutionType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The status of the export execution.",
          "type": "string",
          "enum": [
            "Queued",
            "InProgress",
            "Completed",
            "Failed",
            "Timeout",
            "NewDataNotAvailable",
            "DataNotAvailable"
          ],
          "x-ms-enum": {
            "name": "ExecutionStatus",
            "modelAsString": true
          }
        },
        "submittedBy": {
          "description": "The identifier for the entity that executed the export. For OnDemand executions, it is the email id. For Scheduled executions, it is the constant value - System.",
          "type": "string"
        },
        "submittedTime": {
          "description": "The time when export was queued to be executed.",
          "type": "string",
          "format": "date-time"
        },
        "processingStartTime": {
          "description": "The time when export was picked up to be executed.",
          "type": "string",
          "format": "date-time"
        },
        "processingEndTime": {
          "description": "The time when export execution finished.",
          "type": "string",
          "format": "date-time"
        },
        "fileName": {
          "description": "The name of the file export got written to.",
          "type": "string"
        },
        "runSettings": {
          "$ref": "#/definitions/CommonExportProperties"
        }
      }
    }
  },
  "parameters": {
    "scopeDimensionParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The scope associated with dimension operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "scopeQueryParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2019-11-01."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Azure Resource Group Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "managementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "description": "ManagementGroup ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "departmentIdParameter": {
      "name": "departmentId",
      "in": "path",
      "description": "Department ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "enrollmentAccountIdParameter": {
      "name": "enrollmentAccountId",
      "in": "path",
      "description": "Enrollment Account ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "exportNameParameter": {
      "name": "exportName",
      "in": "path",
      "description": "Export Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "cost-management",
  "x-internal-service-name": "Cost Management",
  "x-internal-toc-name": "Dimensions",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}