{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2018-07-01",
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework."
  },
  "host": "management.azure.com",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "PresentationTimeRange": {
      "properties": {
        "startTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute start time boundary."
        },
        "endTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute end time boundary."
        },
        "presentationWindowDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end sliding window."
        },
        "liveBackoffDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end right edge."
        },
        "timescale": {
          "type": "integer",
          "format": "int64",
          "description": "The time scale of time stamps."
        },
        "forceEndTimestamp": {
          "type": "boolean",
          "description": "The indicator of forcing existing of end time stamp."
        }
      },
      "type": "object",
      "description": "The presentation time range, this is asset related and not recommended for Account Filter."
    },
    "FilterTrackPropertyCondition": {
      "properties": {
        "property": {
          "type": "string",
          "enum": [
            "Unknown",
            "Type",
            "Name",
            "Language",
            "FourCC",
            "Bitrate"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyType",
            "values": [
              {
                "value": "Unknown",
                "description": "The unknown track property type."
              },
              {
                "value": "Type",
                "description": "The type."
              },
              {
                "value": "Name",
                "description": "The name."
              },
              {
                "value": "Language",
                "description": "The language."
              },
              {
                "value": "FourCC",
                "description": "The fourCC."
              },
              {
                "value": "Bitrate",
                "description": "The bitrate."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property type."
        },
        "value": {
          "type": "string",
          "description": "The track property value."
        },
        "operation": {
          "type": "string",
          "enum": [
            "Equal",
            "NotEqual"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyCompareOperation",
            "values": [
              {
                "value": "Equal",
                "description": "The equal operation."
              },
              {
                "value": "NotEqual",
                "description": "The not equal operation."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property condition operation."
        }
      },
      "type": "object",
      "required": [
        "property",
        "value",
        "operation"
      ],
      "description": "The class to specify one track property condition."
    },
    "FirstQuality": {
      "properties": {
        "bitrate": {
          "type": "integer",
          "format": "int32",
          "description": "The first quality bitrate."
        }
      },
      "type": "object",
      "required": [
        "bitrate"
      ],
      "description": "Filter First Quality"
    },
    "FilterTrackSelection": {
      "properties": {
        "trackSelections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackPropertyCondition"
          },
          "description": "The track selections."
        }
      },
      "type": "object",
      "required": [
        "trackSelections"
      ],
      "description": "Representing a list of FilterTrackPropertyConditions to select a track.  The filters are combined using a logical AND operation."
    },
    "MediaFilterProperties": {
      "properties": {
        "presentationTimeRange": {
          "$ref": "#/definitions/PresentationTimeRange",
          "description": "The presentation time range."
        },
        "firstQuality": {
          "$ref": "#/definitions/FirstQuality",
          "description": "The first quality."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackSelection"
          },
          "description": "The tracks selection conditions."
        }
      },
      "type": "object",
      "description": "The Media Filter properties."
    },
    "AccountFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "description": "An Account Filter."
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "AccountFilterCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountFilter"
          },
          "description": "A collection of AccountFilter items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of AccountFilter items."
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters/{filterName}": {
      "delete": {
        "summary": "Delete an Account Filter.",
        "description": "Deletes an Account Filter in the Media Services account.",
        "operationId": "AccountFilters_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Account Filter name"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete an Account Filter": {
            "parameters": {
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "contoso",
              "accountName": "contosomedia",
              "filterName": "accountFilterWithTimeWindowAndTrack",
              "api-version": "2018-07-01"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  },
  "x-internal-service-id": "media",
  "x-internal-service-name": "Media Services",
  "x-internal-toc-name": "Account Filters",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Delete",
  "x-internal-operation-name": "Delete"
}