{
  "swagger": "2.0",
  "info": {
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes": {
      "get": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_ListByAutomationAccount",
        "description": "Retrieve a list of dsc nodes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "x-ms-examples": {
          "List DSC nodes by Automation Account": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
                      "name": "DSCCOMP",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "nodeId",
                        "status": "Pending",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId2",
                      "name": "DSCCOMP2",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "nodeId2",
                        "status": "Pending",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account with no filters": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 2,
              "$inlinecount": "allpages"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
                      "name": "DSCCOMP",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "FCC20208-E781-41C4-A757-17AA0429B3A4",
                        "status": "Pending",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId2",
                      "name": "DSCCOMP2",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "A63C781C-0C50-4825-B295-B7F8ECFD0DBC",
                        "status": "Pending",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 152
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account with name filter": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 6,
              "$inlinecount": "allpages",
              "$filter": "contains('DSCCOMP',name)"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/DSCCOMP",
                      "name": "DSCCOMP",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "708D250A-2169-4B54-89FF-76F5F71C252A",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/DSCCOMP2",
                      "name": "DSCCOMP2",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "3B4BB31A-5132-4669-A15F-A17E234D1634",
                        "status": "Failed",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 2
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account with node status filter": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 4,
              "$inlinecount": "allpages",
              "$filter": "contains(properties/status,'Compliant,NotCompliant')"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node12",
                      "name": "Node12",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "01D64CDE-85DD-4C9B-B8F1-2F725348FDEC",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node13",
                      "name": "Node13",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "E13076D7-A959-4067-B02F-4F014AAD22D7",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node14",
                      "name": "Node14",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "4289B441-B9A0-4309-93FC-0C5100CFBE46",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node15",
                      "name": "Node15",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "CBD2212B-8F4C-4049-98E7-1DBCBED7343B",
                        "status": "NotCompliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 67
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account with Node Configuration Custom filter": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 4,
              "$inlinecount": "allpages",
              "$filter": "contains(properties/nodeConfiguration/name,'SetupServer.localhost,SetupClient.localhost,$$Not$$Configured$$')"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node32",
                      "name": "Node32",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "477F9596-92F3-479A-82F2-9EE149F2C6B0",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": ""
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node33",
                      "name": "Node33",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "E5D5D0B5-400D-48F7-A791-612945DAC5EB",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node34",
                      "name": "Node34",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "Node34",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupClient.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node35",
                      "name": "Node35",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "Node35",
                        "status": "NotCompliant",
                        "nodeConfiguration": {
                          "name": "SetupClient.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 12
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account where Node Configurations are not assigned filter": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 20,
              "$inlinecount": "allpages",
              "$filter": "properties/nodeConfiguration/name eq ''"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node60",
                      "name": "Node60",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "477F9596-92F3-479A-82F2-9EE149F2C6B0",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": ""
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node61",
                      "name": "Node61",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "E5D5D0B5-400D-48F7-A791-612945DAC5EB",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": ""
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.75.0.0"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 2
                }
              }
            }
          },
          "List Paged DSC nodes by Automation Account with version filter": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 4,
              "$inlinecount": "allpages",
              "$filter": "properties/extensionHandler/any(eh: eh/version le '2.70')"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node62",
                      "name": "Node62",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "01D64CDE-85DD-4C9B-B8F1-2F725348FDEC",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": null
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node63",
                      "name": "Node63",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "E13076D7-A959-4067-B02F-4F014AAD22D7",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.70.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node64",
                      "name": "Node64",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "4289B441-B9A0-4309-93FC-0C5100CFBE46",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.70.0.0"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node65",
                      "name": "Node65",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "CBD2212B-8F4C-4049-98E7-1DBCBED7343B",
                        "status": "NotCompliant",
                        "nodeConfiguration": {
                          "name": "SetupServer.localhost"
                        },
                        "extensionHandler": null
                      }
                    }
                  ],
                  "totalCount": 7
                }
              }
            }
          },
          "List Paged DSC nodes with filters separated by 'and'": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 10,
              "$inlinecount": "allpages",
              "$filter": "properties/extensionHandler/any(eh: eh/version gt '2.70') and contains(name,'sql') and contains(properties/nodeConfiguration/name,'$$Not$$Configured$$')"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Sql1",
                      "name": "Sql1",
                      "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                      "properties": {
                        "lastSeen": "2018-03-22T22:25:39.0963773+00:00",
                        "registrationTime": "2018-03-10T00:51:12.5393083+00:00",
                        "ip": "ip",
                        "nodeId": "01D64CDE-85DD-4C9B-B8F1-2F725348FDEC",
                        "status": "Compliant",
                        "nodeConfiguration": {
                          "name": "SetupSqlServer.localhost"
                        },
                        "extensionHandler": [
                          {
                            "name": "Microsoft.Powershell.DSC",
                            "version": "2.70.0.1"
                          }
                        ]
                      }
                    }
                  ],
                  "totalCount": 1
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of rows to skip."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of rows to take."
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return total rows."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DscNode",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "DscNodeReportListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeReport"
          },
          "description": "Gets or sets a list of dsc node reports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "DscReportResourceNavigation": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource to navigate to."
        }
      },
      "description": "Navigation for DSC Report Resource."
    },
    "DscMetaConfiguration": {
      "properties": {
        "configurationModeFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration."
        },
        "rebootNodeIfNeeded": {
          "type": "boolean",
          "description": "Gets or sets the RebootNodeIfNeeded value of the meta configuration."
        },
        "configurationMode": {
          "type": "string",
          "description": "Gets or sets the ConfigurationMode value of the meta configuration."
        },
        "actionAfterReboot": {
          "type": "string",
          "description": "Gets or sets the ActionAfterReboot value of the meta configuration."
        },
        "certificateId": {
          "type": "string",
          "description": "Gets or sets the CertificateId value of the meta configuration."
        },
        "refreshFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the RefreshFrequencyMins value of the meta configuration."
        },
        "allowModuleOverwrite": {
          "type": "boolean",
          "description": "Gets or sets the AllowModuleOverwrite value of the meta configuration."
        }
      },
      "description": "Definition of the DSC Meta Configuration."
    },
    "DscNodeReport": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the node report.",
          "x-nullable": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the lastModifiedTime of the node report.",
          "x-nullable": false
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the node report.",
          "x-nullable": true
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the node report."
        },
        "reportId": {
          "type": "string",
          "description": "Gets or sets the id of the node report."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node report."
        },
        "refreshMode": {
          "type": "string",
          "description": "Gets or sets the refreshMode of the node report."
        },
        "rebootRequested": {
          "type": "string",
          "description": "Gets or sets the rebootRequested of the node report."
        },
        "reportFormatVersion": {
          "type": "string",
          "description": "Gets or sets the reportFormatVersion of the node report."
        },
        "configurationVersion": {
          "type": "string",
          "description": "Gets or sets the configurationVersion of the node report."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportError"
          },
          "description": "Gets or sets the errors for the node report."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResource"
          },
          "description": "Gets or sets the resource for the node report."
        },
        "metaConfiguration": {
          "$ref": "#/definitions/DscMetaConfiguration",
          "description": "Gets or sets the metaConfiguration of the node at the time of the report."
        },
        "hostName": {
          "type": "string",
          "description": "Gets or sets the hostname of the node that sent the report."
        },
        "iPV4Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv4 address of the node that sent the report."
        },
        "iPV6Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv6 address of the node that sent the report."
        },
        "numberOfResources": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of resource in the node report."
        },
        "rawErrors": {
          "type": "string",
          "description": "Gets or sets the unparsed errors for the node report."
        }
      },
      "description": "Definition of the dsc node report type."
    },
    "DscReportResource": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource."
        },
        "sourceInfo": {
          "type": "string",
          "description": "Gets or sets the source info of the resource."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResourceNavigation"
          },
          "description": "Gets or sets the Resource Navigation values for resources the resource depends on."
        },
        "moduleName": {
          "type": "string",
          "description": "Gets or sets the module name of the resource."
        },
        "moduleVersion": {
          "type": "string",
          "description": "Gets or sets the module version of the resource."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "error": {
          "type": "string",
          "description": "Gets or sets the error of the resource."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the resource."
        },
        "durationInSeconds": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the duration in seconds for the resource."
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start date of the resource.",
          "x-nullable": false
        }
      },
      "description": "Definition of the DSC Report Resource."
    },
    "DscReportError": {
      "properties": {
        "errorSource": {
          "type": "string",
          "description": "Gets or sets the source of the error."
        },
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the resource ID which generated the error."
        },
        "errorCode": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message."
        },
        "locale": {
          "type": "string",
          "description": "Gets or sets the locale of the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "Gets or sets the error details."
        }
      },
      "description": "Definition of the dsc node report error type."
    },
    "AgentRegistration": {
      "properties": {
        "dscMetaConfiguration": {
          "type": "string",
          "description": "Gets or sets the dsc meta configuration."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the dsc server endpoint."
        },
        "keys": {
          "$ref": "#/definitions/AgentRegistrationKeys",
          "description": "Gets or sets the agent registration keys."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        }
      },
      "description": "Definition of the agent registration information type."
    },
    "AgentRegistrationKeys": {
      "properties": {
        "primary": {
          "type": "string",
          "description": "Gets or sets the primary key."
        },
        "secondary": {
          "type": "string",
          "description": "Gets or sets the secondary key."
        }
      },
      "description": "Definition of the agent registration keys."
    },
    "DscNode": {
      "description": "Definition of a DscNode",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscNodeProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a DscNode."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "DscNodeProperties": {
      "description": "The properties of a DscNode",
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node.",
          "x-nullable": false
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node.",
          "x-nullable": false
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "x-nullable": true,
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        },
        "totalCount": {
          "type": "integer",
          "description": "Gets the total number of records matching filter criteria."
        },
        "extensionHandler": {
          "type": "array",
          "description": "Gets or sets the list of extensionHandler properties for a Node.",
          "items": {
            "$ref": "#/definitions/DscNodeExtensionHandlerAssociationProperty"
          }
        }
      }
    },
    "DscNodeExtensionHandlerAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the extension handler."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the extension handler."
        }
      },
      "description": "The dsc extensionHandler property associated with the node"
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc node configuration."
        }
      },
      "description": "The dsc node configuration property associated with the entity."
    },
    "AgentRegistrationRegenerateKeyParameter": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Gets or sets the agent registration key name - primary or secondary.",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "AgentRegistrationKeyName",
            "modelAsString": true
          }
        }
      },
      "required": [
        "keyName"
      ],
      "description": "The parameters supplied to the regenerate keys operation."
    },
    "DscNodeUpdateParameters": {
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the id of the dsc node."
        },
        "properties": {
          "properties": {
            "nodeConfiguration": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
              "description": "Gets or sets the configuration of the node."
            }
          }
        }
      },
      "description": "The parameters supplied to the update dsc node operation."
    },
    "DscNodeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNode"
          },
          "description": "Gets or sets a list of dsc nodes."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        },
        "totalCount": {
          "type": "integer",
          "description": "Gets the total number of nodes matching filter criteria."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Dsc Node",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByAutomationAccount",
  "x-internal-operation-name": "List By Automation Account"
}