{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database replication links",
    "description": "Provides read, delete, and failover functionality for Azure SQL Database replication links."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}": {
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "ReplicationLinks_Get",
        "description": "Gets a database replication link.",
        "x-ms-examples": {
          "Get a replication link": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-8931",
              "serverName": "sqlcrudtest-2137",
              "databaseName": "testdb",
              "linkId": "f0550bf5-07ce-4270-8e4b-71737975973a",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-2137/databases/testdb/replicationLinks/f0550bf5-07ce-4270-8e4b-71737975973a",
                  "name": "f0550bf5-07ce-4270-8e4b-71737975973a",
                  "type": "Microsoft.Sql/servers/databases/replicationLinks",
                  "location": "Japan East",
                  "properties": {
                    "partnerServer": "sqlcrudtest-1932",
                    "partnerDatabase": "testdb",
                    "partnerLocation": "Japan East",
                    "role": "Secondary",
                    "partnerRole": "Primary",
                    "replicationMode": "ASYNC",
                    "startTime": "2017-02-10T01:37:49.153",
                    "percentComplete": 100,
                    "replicationState": "CATCH_UP",
                    "isTerminationAllowed": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to get the link for."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The replication link ID to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicationLink"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ReplicationLinkProperties": {
      "properties": {
        "isTerminationAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Legacy value indicating whether termination is allowed.  Currently always returns true."
        },
        "replicationMode": {
          "readOnly": true,
          "type": "string",
          "description": "Replication mode of this replication link."
        },
        "partnerServer": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server hosting the partner database."
        },
        "partnerDatabase": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the partner database."
        },
        "partnerLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The Azure Region of the partner database."
        },
        "role": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "partnerRole": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the partner database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The start time for the replication link."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage of seeding complete for the replication link."
        },
        "replicationState": {
          "readOnly": true,
          "type": "string",
          "description": "The replication state for the replication link.",
          "enum": [
            "PENDING",
            "SEEDING",
            "CATCH_UP",
            "SUSPENDED"
          ],
          "x-ms-enum": {
            "name": "ReplicationState",
            "modelAsString": true
          }
        }
      },
      "description": "Represents the properties of a database replication link."
    },
    "ReplicationLink": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the server that contains this firewall rule.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of resource this is.",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReplicationLinkProperties",
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a database replication link."
    },
    "ReplicationLinkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReplicationLink"
          },
          "description": "The list of database replication links housed in the database."
        }
      },
      "description": "Represents the response to a List database replication link request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Replication Links",
  "x-internal-split-type": "Operation"
}