{
  "swagger": "2.0",
  "info": {
    "version": "2017-09-01-preview",
    "title": "DataFactoryManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}": {
      "get": {
        "tags": [
          "datasets"
        ],
        "operationId": "Datasets_Get",
        "x-ms-examples": {
          "Datasets_Get": {
            "parameters": {
              "subscriptionId": "12345678-1234-1234-12345678abc",
              "resourceGroupName": "exampleResourceGroup",
              "factoryName": "exampleFactoryName",
              "datasetName": "exampleDataset",
              "api-version": "2017-09-01-preview"
            },
            "responses": {
              "200": {
                "headers": {
                  "Date": "Wed, 13 Sep 2017 17:55:55 GMT",
                  "x-ms-request-id": "a60fc528-1652-4619-9477-f00ab05e9a24",
                  "X-Content-Type-Options": "nosniff",
                  "x-ms-ratelimit-remaining-subscription-reads": "14912",
                  "x-ms-correlation-request-id": "949f7936-4ad4-49bc-8d2a-5f56a8938fba"
                },
                "body": {
                  "id": "/subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset",
                  "name": "exampleDataset",
                  "properties": {
                    "type": "AzureBlob",
                    "typeProperties": {
                      "folderPath": {
                        "value": "@dataset().MyFolderPath",
                        "type": "Expression"
                      },
                      "fileName": {
                        "value": "@dataset().MyFileName",
                        "type": "Expression"
                      },
                      "format": {
                        "type": "TextFormat"
                      }
                    },
                    "description": "Example description",
                    "linkedServiceName": {
                      "referenceName": "exampleLinkedService",
                      "type": "LinkedServiceReference"
                    },
                    "parameters": {
                      "MyFolderPath": {
                        "type": "String"
                      },
                      "MyFileName": {
                        "type": "String"
                      }
                    }
                  },
                  "etag": "280320a7-0000-0000-0000-59b9712a0000"
                }
              }
            }
          }
        },
        "description": "Gets a dataset.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/factoryName"
          },
          {
            "$ref": "#/parameters/datasetName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DatasetResource"
            }
          },
          "default": {
            "description": "An error response received from the Azure Data Factory service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Resource": {
      "x-ms-azure-resource": true,
      "description": "Azure Data Factory top-level resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource identifier.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The resource location.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      }
    },
    "SubResource": {
      "description": "Azure Data Factory nested resource, which belongs to a factory.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource identifier.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Etag identifies change in the resource.",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "Expression": {
      "description": "Azure Data Factory expression definition.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Expression type.",
          "enum": [
            "Expression"
          ]
        },
        "value": {
          "type": "string",
          "description": "Expression value."
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "SecureString": {
      "description": "Azure Data Factory secure string definition. The string value will be masked with asterisks '*' during Get or List API calls.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "SecureString type.",
          "enum": [
            "SecureString"
          ]
        },
        "value": {
          "type": "string",
          "description": "Value of secure string."
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "FactoryListResponse": {
      "description": "A list of factory resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of factories.",
          "items": {
            "$ref": "#/definitions/Factory"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "IntegrationRuntimeListResponse": {
      "description": "A list of integration runtime resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of integration runtimes.",
          "items": {
            "$ref": "#/definitions/IntegrationRuntimeResource"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "IntegrationRuntimeReference": {
      "description": "Integration runtime reference type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of integration runtime.",
          "enum": [
            "IntegrationRuntimeReference"
          ]
        },
        "referenceName": {
          "type": "string",
          "description": "Reference integration runtime name."
        },
        "parameters": {
          "$ref": "#/definitions/ParameterValueSpecification",
          "description": "Arguments for integration runtime."
        }
      },
      "required": [
        "type",
        "referenceName"
      ]
    },
    "IntegrationRuntimeResource": {
      "description": "Integration runtime resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/IntegrationRuntime",
          "description": "Integration runtime properties."
        }
      },
      "required": [
        "properties"
      ]
    },
    "IntegrationRuntimeStatusResponse": {
      "description": "Integration runtime status response.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The integration runtime name.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/IntegrationRuntimeStatus",
          "description": "Integration runtime properties."
        }
      },
      "required": [
        "properties"
      ]
    },
    "IntegrationRuntimeStatusListResponse": {
      "description": "A list of integration runtime status.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of integration runtime status.",
          "items": {
            "$ref": "#/definitions/IntegrationRuntimeStatusResponse"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "LinkedServiceListResponse": {
      "description": "A list of linked service resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of linked services.",
          "items": {
            "$ref": "#/definitions/LinkedServiceResource"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "DatasetListResponse": {
      "description": "A list of dataset resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of datasets.",
          "items": {
            "$ref": "#/definitions/DatasetResource"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "PipelineListResponse": {
      "description": "A list of pipeline resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of pipelines.",
          "items": {
            "$ref": "#/definitions/PipelineResource"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "TriggerListResponse": {
      "description": "A list of trigger resources.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of triggers.",
          "items": {
            "$ref": "#/definitions/TriggerResource"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "CreateRunResponse": {
      "description": "Response body with a run identifier.",
      "type": "object",
      "properties": {
        "runId": {
          "description": "Identifier of a run.",
          "type": "string"
        }
      },
      "required": [
        "runId"
      ]
    },
    "ErrorResponse": {
      "description": "The object that defines the structure of an Azure Data Factory response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        },
        "target": {
          "description": "Property name/path in request associated with error.",
          "type": "string"
        },
        "details": {
          "description": "Array with additional error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          }
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ParameterDefinitionSpecification": {
      "description": "Definition of all parameters for an entity.",
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/ParameterSpecification"
      }
    },
    "ParameterSpecification": {
      "description": "Definition of a single parameter for an entity.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Parameter type.",
          "enum": [
            "Object",
            "String",
            "Int",
            "Float",
            "Bool",
            "Array"
          ],
          "x-ms-enum": {
            "name": "ParameterType",
            "modelAsString": true
          }
        },
        "defaultValue": {
          "type": "object",
          "description": "Default value of parameter."
        }
      },
      "required": [
        "type"
      ]
    },
    "ParameterValueSpecification": {
      "description": "An object mapping parameter names to argument values.",
      "type": "object",
      "additionalProperties": {
        "type": "object"
      }
    },
    "FactoryProperties": {
      "description": "Factory resource properties.",
      "properties": {
        "provisioningState": {
          "description": "Factory provisioning state, example Succeeded.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Time the factory was created in ISO8601 format.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "version": {
          "description": "Version of the factory.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PipelineResource": {
      "description": "Pipeline resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Pipeline",
          "description": "Properties of the pipeline."
        }
      },
      "required": [
        "properties"
      ]
    },
    "PipelineReference": {
      "description": "Pipeline reference type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Pipeline reference type.",
          "enum": [
            "PipelineReference"
          ]
        },
        "referenceName": {
          "type": "string",
          "description": "Reference pipeline name."
        },
        "name": {
          "type": "string",
          "description": "Reference name."
        }
      },
      "required": [
        "type",
        "referenceName"
      ]
    },
    "TriggerPipelineReference": {
      "description": "Pipeline that needs to be triggered with the given parameters.",
      "properties": {
        "pipelineReference": {
          "description": "Pipeline reference.",
          "$ref": "#/definitions/PipelineReference"
        },
        "parameters": {
          "description": "Pipeline parameters.",
          "$ref": "#/definitions/ParameterValueSpecification"
        }
      }
    },
    "TriggerResource": {
      "description": "Trigger resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/Trigger",
          "description": "Properties of the trigger."
        }
      },
      "required": [
        "properties"
      ]
    },
    "Factory": {
      "description": "Factory resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/FactoryIdentity",
          "description": "Managed service identity of the factory."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FactoryProperties",
          "description": "Properties of the factory."
        }
      }
    },
    "FactoryUpdateParameters": {
      "description": "Parameters for updating a factory resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        },
        "identity": {
          "$ref": "#/definitions/FactoryIdentity",
          "description": "Managed service identity of the factory."
        }
      }
    },
    "FactoryIdentity": {
      "description": "Identity properties of the factory resource.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The identity type. Currently the only supported type is 'SystemAssigned'.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "name": "FactoryIdentityType",
            "modelAsString": false
          }
        },
        "principalId": {
          "type": "string",
          "format": "uuid",
          "readOnly": true,
          "description": "The principal id of the identity."
        },
        "tenantId": {
          "type": "string",
          "format": "uuid",
          "readOnly": true,
          "description": "The client tenant id of the identity."
        }
      },
      "required": [
        "type"
      ]
    },
    "DatasetReference": {
      "description": "Dataset reference type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Dataset reference type.",
          "enum": [
            "DatasetReference"
          ]
        },
        "referenceName": {
          "type": "string",
          "description": "Reference dataset name."
        },
        "parameters": {
          "$ref": "#/definitions/ParameterValueSpecification",
          "description": "Arguments for dataset."
        }
      },
      "required": [
        "type",
        "referenceName"
      ]
    },
    "DatasetResource": {
      "description": "Dataset resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/Dataset",
          "description": "Dataset properties."
        }
      },
      "required": [
        "properties"
      ]
    },
    "LinkedServiceReference": {
      "description": "Linked service reference type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Linked service reference type.",
          "enum": [
            "LinkedServiceReference"
          ]
        },
        "referenceName": {
          "type": "string",
          "description": "Reference LinkedService name."
        }
      },
      "required": [
        "type",
        "referenceName"
      ]
    },
    "LinkedServiceResource": {
      "description": "Linked service resource type.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedService",
          "description": "Properties of linked service."
        }
      },
      "required": [
        "properties"
      ]
    },
    "PipelineRunFilterParameters": {
      "description": "Query parameters for listing pipeline runs.",
      "type": "object",
      "properties": {
        "continuationToken": {
          "description": "The continuation token for getting the next page of results. Null for first page.",
          "type": "string"
        },
        "lastUpdatedAfter": {
          "description": "The time at or after which the pipeline run event was updated in 'ISO 8601' format.",
          "type": "string",
          "format": "date-time"
        },
        "lastUpdatedBefore": {
          "description": "The time at or before which the pipeline run event was updated in 'ISO 8601' format.",
          "type": "string",
          "format": "date-time"
        },
        "filters": {
          "type": "array",
          "description": "List of filters.",
          "items": {
            "$ref": "#/definitions/PipelineRunQueryFilter"
          }
        },
        "orderBy": {
          "type": "array",
          "description": "List of OrderBy option.",
          "items": {
            "$ref": "#/definitions/PipelineRunQueryOrderBy"
          }
        }
      },
      "required": [
        "lastUpdatedAfter",
        "lastUpdatedBefore"
      ]
    },
    "PipelineRunQueryFilter": {
      "description": "Query filter option for listing pipeline runs.",
      "type": "object",
      "properties": {
        "operand": {
          "description": "Parameter name to be used for filter.",
          "type": "string",
          "enum": [
            "PipelineName",
            "Status",
            "RunStart",
            "RunEnd"
          ],
          "x-ms-enum": {
            "name": "PipelineRunQueryFilterOperand",
            "modelAsString": true
          }
        },
        "operator": {
          "description": "Operator to be used for filter.",
          "type": "string",
          "enum": [
            "Equals",
            "NotEquals",
            "In",
            "NotIn"
          ],
          "x-ms-enum": {
            "name": "PipelineRunQueryFilterOperator",
            "modelAsString": true
          }
        },
        "values": {
          "type": "array",
          "description": "List of filter values.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operand",
        "operator",
        "values"
      ]
    },
    "PipelineRunQueryOrderBy": {
      "description": "An object to provide order by options for listing pipeline runs.",
      "type": "object",
      "properties": {
        "orderBy": {
          "description": "Parameter name to be used for order by.",
          "type": "string",
          "enum": [
            "RunStart",
            "RunEnd"
          ],
          "x-ms-enum": {
            "name": "PipelineRunQueryOrderByField",
            "modelAsString": true
          }
        },
        "order": {
          "description": "Sorting order of the parameter.",
          "type": "string",
          "enum": [
            "ASC",
            "DESC"
          ],
          "x-ms-enum": {
            "name": "PipelineRunQueryOrder",
            "modelAsString": true
          }
        }
      },
      "required": [
        "orderBy",
        "order"
      ]
    },
    "PipelineRunQueryResponse": {
      "description": "A list pipeline runs.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of pipeline runs.",
          "items": {
            "$ref": "#/definitions/PipelineRun"
          }
        },
        "continuationToken": {
          "description": "The continuation token for getting the next page of results, if any remaining results exist, null otherwise.",
          "type": "string"
        }
      }
    },
    "PipelineRun": {
      "description": "Information about a pipeline run.",
      "type": "object",
      "properties": {
        "runId": {
          "description": "Identifier of a run.",
          "type": "string",
          "readOnly": true
        },
        "pipelineName": {
          "description": "The pipeline name.",
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "description": "The full or partial list of parameter name, value pair used in the pipeline run.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "invokedBy": {
          "description": "Entity that started the pipeline run.",
          "$ref": "#/definitions/PipelineRunInvokedBy",
          "readOnly": true
        },
        "lastUpdated": {
          "description": "The last updated timestamp for the pipeline run event in ISO8601 format.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "runStart": {
          "description": "The start time of a pipeline run in ISO8601 format.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "runEnd": {
          "description": "The end time of a pipeline run in ISO8601 format.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "durationInMs": {
          "description": "The duration of a pipeline run.",
          "type": "integer",
          "readOnly": true
        },
        "status": {
          "description": "The status of a pipeline run.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The message from a pipeline run.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PipelineRunInvokedBy": {
      "description": "Provides entity name and id that started the pipeline run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the entity that started the pipeline run.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "The ID of the entity that started the run.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ActivityRunsListResponse": {
      "description": "A list activity runs.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of activity runs.",
          "items": {
            "$ref": "#/definitions/ActivityRun"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "ActivityRun": {
      "description": "Information about an activity run in a pipeline.",
      "type": "object",
      "properties": {
        "pipelineName": {
          "description": "The name of the pipeline.",
          "type": "string",
          "readOnly": true
        },
        "pipelineRunId": {
          "description": "The id of the pipeline run.",
          "type": "string",
          "readOnly": true
        },
        "activityName": {
          "description": "The name of the activity.",
          "type": "string",
          "readOnly": true
        },
        "activityType": {
          "description": "The type of the activity.",
          "type": "string",
          "readOnly": true
        },
        "activityRunId": {
          "description": "The id of the activity run.",
          "type": "string",
          "readOnly": true
        },
        "linkedServiceName": {
          "description": "The name of the compute linked service.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The status of the activity run.",
          "type": "string",
          "readOnly": true
        },
        "activityRunStart": {
          "description": "The start time of the activity run in 'ISO 8601' format.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "activityRunEnd": {
          "description": "The end time of the activity run in 'ISO 8601' format.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "durationInMs": {
          "description": "The duration of the activity run.",
          "type": "integer",
          "readOnly": true
        },
        "input": {
          "description": "The input for the activity.",
          "type": "object",
          "readOnly": true
        },
        "output": {
          "description": "The output for the activity.",
          "type": "object",
          "readOnly": true
        },
        "error": {
          "description": "The error if any from the activity run.",
          "type": "object",
          "readOnly": true
        }
      }
    },
    "TriggerRunListResponse": {
      "description": "A list of trigger runs.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of trigger runs.",
          "items": {
            "$ref": "#/definitions/TriggerRun"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        }
      }
    },
    "TriggerRun": {
      "description": "Trigger runs.",
      "type": "object",
      "properties": {
        "triggerRunId": {
          "type": "string",
          "description": "Trigger run id.",
          "readOnly": true
        },
        "triggerName": {
          "type": "string",
          "description": "Trigger name.",
          "readOnly": true
        },
        "triggerType": {
          "type": "string",
          "description": "Trigger type.",
          "readOnly": true
        },
        "triggerRunTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Trigger run start time.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Inprogress"
          ],
          "x-ms-enum": {
            "name": "TriggerRunStatus",
            "modelAsString": true
          },
          "description": "Trigger run status.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Trigger error message.",
          "readOnly": true
        },
        "properties": {
          "description": "List of property name and value related to trigger run. Name, value pair depends on type of trigger.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "triggeredPipelines": {
          "description": "List of pipeline name and run Id triggered by the trigger run.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "OperationListResponse": {
      "description": "A list of operations that can be performed by the Data Factory service.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Data Factory operations supported by the Data Factory resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of results, if any remaining results exist."
        }
      }
    },
    "Operation": {
      "description": "Azure Data Factory API operation definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "origin": {
          "description": "The intended executor of the operation.",
          "type": "string"
        },
        "display": {
          "description": "Metadata associated with the operation.",
          "properties": {
            "description": {
              "description": "The description of the operation.",
              "type": "string"
            },
            "provider": {
              "description": "The name of the provider.",
              "type": "string"
            },
            "resource": {
              "description": "The name of the resource type on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "The type of operation: get, read, delete, etc.",
              "type": "string"
            }
          }
        },
        "properties": {
          "description": "Additional details about the operation.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationProperties"
        }
      }
    },
    "OperationProperties": {
      "description": "Additional details about an operation.",
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "serviceSpecification": {
          "description": "Details about a service operation.",
          "$ref": "#/definitions/OperationServiceSpecification"
        }
      }
    },
    "OperationServiceSpecification": {
      "description": "Details about a service operation.",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "Details about operations related to logs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationLogSpecification"
          }
        },
        "metricSpecifications": {
          "description": "Details about operations related to metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationMetricSpecification"
          }
        }
      }
    },
    "OperationLogSpecification": {
      "description": "Details about an operation related to logs.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the log category.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized display name.",
          "type": "string"
        },
        "blobDuration": {
          "description": "Blobs created in the customer storage account, per hour.",
          "type": "string"
        }
      }
    },
    "OperationMetricSpecification": {
      "description": "Details about an operation related to metrics.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the metric.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized display name of the metric.",
          "type": "string"
        },
        "displayDescription": {
          "description": "The description of the metric.",
          "type": "string"
        },
        "unit": {
          "description": "The unit that the metric is measured in.",
          "type": "string"
        },
        "aggregationType": {
          "description": "The type of metric aggregation.",
          "type": "string"
        },
        "enableRegionalMdmAccount": {
          "description": "Whether or not the service is using regional MDM accounts.",
          "type": "string"
        },
        "sourceMdmAccount": {
          "description": "The name of the MDM account.",
          "type": "string"
        },
        "sourceMdmNamespace": {
          "description": "The name of the MDM namespace.",
          "type": "string"
        },
        "availabilities": {
          "description": "Defines how often data for metrics becomes available.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationMetricAvailability"
          }
        }
      }
    },
    "OperationMetricAvailability": {
      "description": "Defines how often data for a metric becomes available.",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "The granularity for the metric.",
          "type": "string"
        },
        "blobDuration": {
          "description": "Blob created in the customer storage account, per hour.",
          "type": "string"
        }
      }
    },
    "AzureDataLakeAnalyticsLinkedServiceTypeProperties": {
      "description": "Azure Data Lake Analytics linked service properties.",
      "properties": {
        "accountName": {
          "type": "object",
          "description": "The Azure Data Lake Analytics account name. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalId": {
          "type": "object",
          "description": "The ID of the application used to authenticate against the Azure Data Lake Analytics account. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalKey": {
          "description": "The Key of the application used to authenticate against the Azure Data Lake Analytics account.",
          "$ref": "#/definitions/SecureString"
        },
        "tenant": {
          "type": "object",
          "description": "The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with resultType string)."
        },
        "subscriptionId": {
          "type": "object",
          "description": "Data Lake Analytics account subscription ID (if different from Data Factory account). Type: string (or Expression with resultType string)."
        },
        "resourceGroupName": {
          "type": "object",
          "description": "Data Lake Analytics account resource group name (if different from Data Factory account). Type: string (or Expression with resultType string)."
        },
        "dataLakeAnalyticsUri": {
          "type": "object",
          "description": "Azure Data Lake Analytics URI Type: string (or Expression with resultType string)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "accountName",
        "tenant"
      ]
    },
    "AzureDataLakeAnalyticsLinkedService": {
      "x-ms-discriminator-value": "AzureDataLakeAnalytics",
      "description": "Azure Data Lake Analytics linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Azure Data Lake Analytics linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureDataLakeAnalyticsLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "HDInsightOnDemandLinkedServiceTypeProperties": {
      "description": "HDInsight ondemand linked service properties.",
      "properties": {
        "clusterSize": {
          "type": "object",
          "description": "Number of worker/data nodes in the cluster. Suggestion value: 4. Type: string (or Expression with resultType string)."
        },
        "timeToLive": {
          "type": "object",
          "description": "The allowed idle time for the on-demand HDInsight cluster. Specifies how long the on-demand HDInsight cluster stays alive after completion of an activity run if there are no other active jobs in the cluster. The minimum value is 5 mins. Type: string (or Expression with resultType string)."
        },
        "version": {
          "type": "object",
          "description": "Version of the HDInsight cluster.  Type: string (or Expression with resultType string)."
        },
        "linkedServiceName": {
          "description": "Azure Storage linked service to be used by the on-demand cluster for storing and processing data.",
          "$ref": "#/definitions/LinkedServiceReference"
        },
        "hostSubscriptionId": {
          "type": "object",
          "description": "The customer’s subscription to host the cluster. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalId": {
          "type": "object",
          "description": "The service principal id for the hostSubscriptionId. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalKey": {
          "description": "The key for the service principal id.",
          "$ref": "#/definitions/SecureString"
        },
        "tenant": {
          "type": "object",
          "description": "The Tenant id/name to which the service principal belongs. Type: string (or Expression with resultType string)."
        },
        "clusterResourceGroup": {
          "type": "object",
          "description": "The resource group where the cluster belongs. Type: string (or Expression with resultType string)."
        },
        "clusterNamePrefix": {
          "type": "object",
          "description": "The prefix of cluster name, postfix will be distinct with timestamp. Type: string (or Expression with resultType string)."
        },
        "clusterUserName": {
          "type": "object",
          "description": "The username to access the cluster. Type: string (or Expression with resultType string)."
        },
        "clusterPassword": {
          "description": "The password to access the cluster.",
          "$ref": "#/definitions/SecureString"
        },
        "clusterSshUserName": {
          "type": "object",
          "description": "The username to SSH remotely connect to cluster’s node (for Linux). Type: string (or Expression with resultType string)."
        },
        "clusterSshPassword": {
          "description": "The password to SSH remotely connect cluster’s node (for Linux).",
          "$ref": "#/definitions/SecureString"
        },
        "additionalLinkedServiceNames": {
          "description": "Specifies additional storage accounts for the HDInsight linked service so that the Data Factory service can register them on your behalf.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkedServiceReference"
          }
        },
        "hcatalogLinkedServiceName": {
          "description": "The name of Azure SQL linked service that point to the HCatalog database. The on-demand HDInsight cluster is created by using the Azure SQL database as the metastore.",
          "$ref": "#/definitions/LinkedServiceReference"
        },
        "clusterType": {
          "type": "object",
          "description": "The cluster type. Type: string (or Expression with resultType string)."
        },
        "sparkVersion": {
          "type": "object",
          "description": "The version of spark if the cluster type is 'spark'. Type: string (or Expression with resultType string)."
        },
        "coreConfiguration": {
          "description": "Specifies the core configuration parameters (as in core-site.xml) for the HDInsight cluster to be created.",
          "type": "object"
        },
        "hBaseConfiguration": {
          "description": "Specifies the HBase configuration parameters (hbase-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "hdfsConfiguration": {
          "description": "Specifies the HDFS configuration parameters (hdfs-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "hiveConfiguration": {
          "description": "Specifies the hive configuration parameters (hive-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "mapReduceConfiguration": {
          "description": "Specifies the MapReduce configuration parameters (mapred-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "oozieConfiguration": {
          "description": "Specifies the Oozie configuration parameters (oozie-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "stormConfiguration": {
          "description": "Specifies the Storm configuration parameters (storm-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "yarnConfiguration": {
          "description": "Specifies the Yarn configuration parameters (yarn-site.xml) for the HDInsight cluster.",
          "type": "object"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "clusterSize",
        "timeToLive",
        "version",
        "linkedServiceName",
        "hostSubscriptionId",
        "tenant",
        "clusterResourceGroup"
      ]
    },
    "HDInsightOnDemandLinkedService": {
      "x-ms-discriminator-value": "HDInsightOnDemand",
      "description": "HDInsight ondemand linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "HDInsight ondemand linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HDInsightOnDemandLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "SapHanaLinkedServiceProperties": {
      "description": "Properties specific to this linked service type.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Host name of the SAP HANA server. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "The authentication type to be used to connect to the SAP HANA server.",
          "type": "string",
          "enum": [
            "Basic",
            "Windows"
          ],
          "x-ms-enum": {
            "name": "SapHanaAuthenticationType",
            "modelAsString": true
          }
        },
        "userName": {
          "type": "object",
          "description": "Username to access the SAP HANA server. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password to access the SAP HANA server.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server"
      ]
    },
    "SapHanaLinkedService": {
      "x-ms-discriminator-value": "SapHana",
      "description": "SAP HANA Linked Service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Properties specific to this linked service type.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapHanaLinkedServiceProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "SapBWLinkedServiceTypeProperties": {
      "description": "Properties specific to this linked service type.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Host name of the SAP BW instance. Type: string (or Expression with resultType string)."
        },
        "systemNumber": {
          "type": "object",
          "description": "System number of the BW system. (Usually a two-digit decimal number represented as a string.) Type: string (or Expression with resultType string)."
        },
        "clientId": {
          "type": "object",
          "description": "Client ID of the client on the BW system. (Usually a three-digit decimal number represented as a string) Type: string (or Expression with resultType string)."
        },
        "userName": {
          "type": "object",
          "description": "Username to access the SAP BW server. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password to access the SAP BW server.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "systemNumber",
        "clientId"
      ]
    },
    "SapBWLinkedService": {
      "x-ms-discriminator-value": "SapBW",
      "description": "SAP Business Warehouse Linked Service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Properties specific to this linked service type.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapBWLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "SftpServerLinkedServiceTypeProperties": {
      "description": "Properties specific to this linked service type.",
      "properties": {
        "host": {
          "type": "object",
          "description": "The SFTP server host name. Type: string (or Expression with resultType string)."
        },
        "port": {
          "type": "object",
          "description": "The TCP port number that the SFTP server uses to listen for client connections. Default value is 22. Type: integer (or Expression with resultType integer), minimum: 0."
        },
        "authenticationType": {
          "description": "The authentication type to be used to connect to the FTP server.",
          "type": "string",
          "enum": [
            "Basic",
            "SshPublicKey"
          ],
          "x-ms-enum": {
            "name": "SftpAuthenticationType",
            "modelAsString": true
          }
        },
        "userName": {
          "type": "object",
          "description": "The username used to log on to the SFTP server. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password to logon the SFTP server for Basic authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        },
        "privateKeyPath": {
          "type": "object",
          "description": "The SSH private key file path for SshPublicKey authentication. Only valid for on-premises copy. For on-premises copy with SshPublicKey authentication, either PrivateKeyPath or PrivateKeyContent should be specified. SSH private key should be OpenSSH format. Type: string (or Expression with resultType string)."
        },
        "privateKeyContent": {
          "description": "Base64 encoded SSH private key content for SshPublicKey authentication. For on-premises copy with SshPublicKey authentication, either PrivateKeyPath or PrivateKeyContent should be specified. SSH private key should be OpenSSH format.",
          "$ref": "#/definitions/SecureString"
        },
        "passPhrase": {
          "description": "The password to decrypt the SSH private key if the SSH private key is encrypted.",
          "$ref": "#/definitions/SecureString"
        },
        "skipHostKeyValidation": {
          "type": "object",
          "description": "If true, skip the SSH host key validation. Default value is false. Type: boolean (or Expression with resultType boolean)."
        },
        "hostKeyFingerprint": {
          "type": "object",
          "description": "The host key finger-print of the SFTP server. When SkipHostKeyValidation is false, HostKeyFingerprint should be specified. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "host"
      ]
    },
    "SftpServerLinkedService": {
      "x-ms-discriminator-value": "Sftp",
      "description": "A linked service for an SSH File Transfer Protocol (SFTP) server. ",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Properties specific to this linked service type.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SftpServerLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "FtpServerLinkedServiceTypeProperties": {
      "description": "Properties specific to this linked service type.",
      "properties": {
        "host": {
          "type": "object",
          "description": "Host name of the FTP server. Type: string (or Expression with resultType string)."
        },
        "port": {
          "type": "object",
          "description": "The TCP port number that the FTP server uses to listen for client connections. Default value is 21. Type: integer (or Expression with resultType integer), minimum: 0."
        },
        "authenticationType": {
          "description": "The authentication type to be used to connect to the FTP server.",
          "type": "string",
          "enum": [
            "Basic",
            "Anonymous"
          ],
          "x-ms-enum": {
            "name": "FtpAuthenticationType",
            "modelAsString": true
          }
        },
        "userName": {
          "type": "object",
          "description": "Username to logon the FTP server. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password to logon the FTP server.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        },
        "enableSsl": {
          "type": "object",
          "description": "If true, connect to the FTP server over SSL/TLS channel. Default value is true. Type: boolean (or Expression with resultType boolean)."
        },
        "enableServerCertificateValidation": {
          "type": "object",
          "description": "If true, validate the FTP server SSL certificate when connect over SSL/TLS channel. Default value is true. Type: boolean (or Expression with resultType boolean)."
        }
      },
      "required": [
        "host"
      ]
    },
    "FtpServerLinkedService": {
      "x-ms-discriminator-value": "FtpServer",
      "description": "A FTP server Linked Service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Properties specific to this linked service type.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FtpServerLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "HttpLinkedServiceTypeProperties": {
      "description": "Properties specific to this linked service type.",
      "properties": {
        "url": {
          "type": "object",
          "description": "The base URL of the HTTP endpoint, e.g. http://www.microsoft.com. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "The authentication type to be used to connect to the HTTP server.",
          "type": "string",
          "enum": [
            "Basic",
            "Anonymous",
            "Digest",
            "Windows",
            "ClientCertificate"
          ],
          "x-ms-enum": {
            "name": "HttpAuthenticationType",
            "modelAsString": true
          }
        },
        "userName": {
          "type": "object",
          "description": "User name for Basic, Digest, or Windows authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for Basic, Digest, Windows, or ClientCertificate with EmbeddedCertData authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "embeddedCertData": {
          "type": "object",
          "description": "Base64 encoded certificate data for ClientCertificate authentication. For on-premises copy with ClientCertificate authentication, either CertThumbprint or EmbeddedCertData/Password should be specified. Type: string (or Expression with resultType string)."
        },
        "certThumbprint": {
          "type": "object",
          "description": "Thumbprint of certificate for ClientCertificate authentication. Only valid for on-premises copy. For on-premises copy with ClientCertificate authentication, either CertThumbprint or EmbeddedCertData/Password should be specified. Type: string (or Expression with resultType string)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        },
        "enableServerCertificateValidation": {
          "type": "object",
          "description": "If true, validate the HTTPS server SSL certificate. Default value is true. Type: boolean (or Expression with resultType boolean)."
        }
      },
      "required": [
        "url"
      ]
    },
    "HttpLinkedService": {
      "x-ms-discriminator-value": "HttpServer",
      "description": "Linked service for an HTTP source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Properties specific to this linked service type.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HttpLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "AzureSearchLinkedServiceTypeProperties": {
      "description": "Windows Azure Search Service linked service properties.",
      "properties": {
        "url": {
          "type": "object",
          "description": "URL for Azure Search service. Type: string (or Expression with resultType string)."
        },
        "key": {
          "description": "Admin Key for Azure Search service",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "url"
      ]
    },
    "AzureSearchLinkedService": {
      "x-ms-discriminator-value": "AzureSearch",
      "description": "Linked service for Windows Azure Search Service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Windows Azure Search Service linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureSearchLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "CustomDataSourceLinkedService": {
      "x-ms-discriminator-value": "CustomDataSource",
      "description": "Custom linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Custom linked service properties.",
          "x-ms-client-flatten": true,
          "type": "object"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "AmazonRedshiftLinkedServiceTypeProperties": {
      "description": "Amazon Redshift linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "The name of the Amazon Redshift server. Type: string (or Expression with resultType string)."
        },
        "username": {
          "type": "object",
          "description": "The username of the Amazon Redshift source. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "The password of the Amazon Redshift source.",
          "$ref": "#/definitions/SecureString"
        },
        "database": {
          "type": "object",
          "description": "The database name of the Amazon Redshift source. Type: string (or Expression with resultType string)."
        },
        "port": {
          "type": "object",
          "description": "The TCP port number that the Amazon Redshift server uses to listen for client connections. The default value is 5439. Type: integer (or Expression with resultType integer)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "database"
      ]
    },
    "AmazonRedshiftLinkedService": {
      "x-ms-discriminator-value": "AmazonRedshift",
      "description": "Linked service for Amazon Redshift.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Amazon Redshift linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmazonRedshiftLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "AmazonS3LinkedServiceTypeProperties": {
      "description": "Amazon S3 linked service properties.",
      "properties": {
        "accessKeyId": {
          "type": "object",
          "description": "The access key identifier of the Amazon S3 Identity and Access Management (IAM) user. Type: string (or Expression with resultType string)."
        },
        "secretAccessKey": {
          "description": "The secret access key of the Amazon S3 Identity and Access Management (IAM) user.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      }
    },
    "AmazonS3LinkedService": {
      "x-ms-discriminator-value": "AmazonS3",
      "description": "Linked service for Amazon S3.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Amazon S3 linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmazonS3LinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "SalesforceLinkedServiceTypeProperties": {
      "description": "Salesforce linked service properties.",
      "properties": {
        "environmentUrl": {
          "type": "object",
          "description": "The URL of Salesforce instance. Default is 'https://login.salesforce.com'. To copy data from sandbox, specify 'https://test.salesforce.com'. To copy data from custom domain, specify, for example, 'https://[domain].my.salesforce.com'. Type: string (or Expression with resultType string)."
        },
        "username": {
          "type": "object",
          "description": "The username for Basic authentication of the Salesforce source. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "The password for Basic authentication of the Salesforce source.",
          "$ref": "#/definitions/SecureString"
        },
        "securityToken": {
          "description": "The security token is required to remotely access Salesforce source.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      }
    },
    "SalesforceLinkedService": {
      "x-ms-discriminator-value": "Salesforce",
      "description": "Linked service for Salesforce.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Salesforce linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SalesforceLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "AzureDataLakeStoreLinkedServiceTypeProperties": {
      "description": "Azure Data Lake Store linked service properties.",
      "properties": {
        "dataLakeStoreUri": {
          "type": "object",
          "description": "Data Lake Store service URI. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalId": {
          "type": "object",
          "description": "The ID of the application used to authenticate against the Azure Data Lake Store account. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalKey": {
          "description": "The Key of the application used to authenticate against the Azure Data Lake Store account.",
          "$ref": "#/definitions/SecureString"
        },
        "tenant": {
          "type": "object",
          "description": "The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with resultType string)."
        },
        "accountName": {
          "type": "object",
          "description": "Data Lake Store account name. Type: string (or Expression with resultType string)."
        },
        "subscriptionId": {
          "type": "object",
          "description": "Data Lake Store account subscription ID (if different from Data Factory account). Type: string (or Expression with resultType string)."
        },
        "resourceGroupName": {
          "type": "object",
          "description": "Data Lake Store account resource group name (if different from Data Factory account). Type: string (or Expression with resultType string)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "dataLakeStoreUri"
      ]
    },
    "AzureDataLakeStoreLinkedService": {
      "x-ms-discriminator-value": "AzureDataLakeStore",
      "description": "Azure Data Lake Store linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Azure Data Lake Store linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureDataLakeStoreLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "MongoDbLinkedServiceTypeProperties": {
      "description": "MongoDB linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "The IP address or server name of the MongoDB server. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "The authentication type to be used to connect to the MongoDB database.",
          "type": "string",
          "enum": [
            "Basic",
            "Anonymous"
          ],
          "x-ms-enum": {
            "name": "MongoDbAuthenticationType",
            "modelAsString": true
          }
        },
        "databaseName": {
          "type": "object",
          "description": "The name of the MongoDB database that you want to access. Type: string (or Expression with resultType string)."
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "authSource": {
          "type": "object",
          "description": "Database to verify the username and password. Type: string (or Expression with resultType string)."
        },
        "port": {
          "type": "object",
          "description": "The TCP port number that the MongoDB server uses to listen for client connections. The default value is 27017. Type: integer (or Expression with resultType integer), minimum: 0."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "databaseName"
      ]
    },
    "MongoDbLinkedService": {
      "x-ms-discriminator-value": "MongoDb",
      "description": "Linked service for MongoDb data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "MongoDB linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MongoDbLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "CassandraLinkedServiceTypeProperties": {
      "description": "Cassandra linked service properties.",
      "properties": {
        "host": {
          "type": "object",
          "description": "Host name for connection. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "type": "object",
          "description": "AuthenticationType to be used for connection. Type: string (or Expression with resultType string)."
        },
        "port": {
          "type": "object",
          "description": "The port for the connection. Type: integer (or Expression with resultType integer)."
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "host"
      ]
    },
    "CassandraLinkedService": {
      "x-ms-discriminator-value": "Cassandra",
      "description": "Linked service for Cassandra data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Cassandra linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CassandraLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "WebClientCertificateAuthentication": {
      "description": "A WebLinkedService that uses client certificate based authentication to communicate with an HTTP endpoint. This scheme follows mutual authentication; the server must also provide valid credentials to the client.",
      "x-ms-discriminator-value": "ClientCertificate",
      "allOf": [
        {
          "$ref": "#/definitions/WebLinkedServiceTypeProperties"
        }
      ],
      "properties": {
        "pfx": {
          "description": "Base64-encoded contents of a PFX file.",
          "$ref": "#/definitions/SecureString"
        },
        "password": {
          "description": "Password for the PFX file.",
          "$ref": "#/definitions/SecureString"
        }
      },
      "required": [
        "pfx",
        "password"
      ]
    },
    "WebBasicAuthentication": {
      "description": "A WebLinkedService that uses basic authentication to communicate with an HTTP endpoint.",
      "x-ms-discriminator-value": "Basic",
      "allOf": [
        {
          "$ref": "#/definitions/WebLinkedServiceTypeProperties"
        }
      ],
      "properties": {
        "username": {
          "type": "object",
          "description": "User name for Basic authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "The password for Basic authentication.",
          "$ref": "#/definitions/SecureString"
        }
      },
      "required": [
        "username",
        "password"
      ]
    },
    "WebAnonymousAuthentication": {
      "description": "A WebLinkedService that uses anonymous authentication to communicate with an HTTP endpoint.",
      "x-ms-discriminator-value": "Anonymous",
      "allOf": [
        {
          "$ref": "#/definitions/WebLinkedServiceTypeProperties"
        }
      ]
    },
    "WebLinkedServiceTypeProperties": {
      "description": "Base definition of WebLinkedServiceTypeProperties, this typeProperties is polymorphic based on authenticationType, so not flattened in SDK models.",
      "discriminator": "authenticationType",
      "type": "object",
      "properties": {
        "url": {
          "type": "object",
          "description": "The URL of the web service endpoint, e.g. http://www.microsoft.com . Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "Type of authentication used to connect to the web table source.",
          "type": "string",
          "enum": [
            "Basic",
            "Anonymous",
            "ClientCertificate"
          ],
          "x-ms-enum": {
            "name": "WebAuthenticationType",
            "modelAsString": true
          }
        }
      },
      "required": [
        "authenticationType",
        "url"
      ]
    },
    "WebLinkedService": {
      "x-ms-discriminator-value": "Web",
      "description": "Web linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Web linked service properties.",
          "$ref": "#/definitions/WebLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "ODataLinkedServiceTypeProperties": {
      "description": "OData linked service properties.",
      "properties": {
        "url": {
          "type": "object",
          "description": "The URL of the OData service endpoint. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "Type of authentication used to connect to the OData service.",
          "type": "string",
          "enum": [
            "Basic",
            "Anonymous"
          ],
          "x-ms-enum": {
            "name": "ODataAuthenticationType",
            "modelAsString": true
          }
        },
        "userName": {
          "type": "object",
          "description": "User name of the OData service. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password of the OData service.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "url"
      ]
    },
    "ODataLinkedService": {
      "x-ms-discriminator-value": "OData",
      "description": "Open Data Protocol (OData) linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "OData linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ODataLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "HdfsLinkedServiceTypeProperties": {
      "description": "HDFS linked service properties.",
      "properties": {
        "url": {
          "type": "object",
          "description": "The URL of the HDFS service endpoint, e.g. http://myhostname:50070/webhdfs/v1 . Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "type": "object",
          "description": "Type of authentication used to connect to the HDFS. Possible values are: Anonymous and Windows. Type: string (or Expression with resultType string)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        },
        "userName": {
          "type": "object",
          "description": "User name for Windows authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for Windows authentication.",
          "$ref": "#/definitions/SecureString"
        }
      },
      "required": [
        "url"
      ]
    },
    "HdfsLinkedService": {
      "x-ms-discriminator-value": "Hdfs",
      "description": "Hadoop Distributed File System (HDFS) linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "HDFS linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HdfsLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "OdbcLinkedServiceTypeProperties": {
      "description": "ODBC linked service properties.",
      "properties": {
        "connectionString": {
          "description": "The non-access credential portion of the connection string as well as an optional encrypted credential.",
          "$ref": "#/definitions/SecureString"
        },
        "authenticationType": {
          "type": "object",
          "description": "Type of authentication used to connect to the ODBC data store. Possible values are: Anonymous and Basic. Type: string (or Expression with resultType string)."
        },
        "credential": {
          "description": "The access credential portion of the connection string specified in driver-specific property-value format.",
          "$ref": "#/definitions/SecureString"
        },
        "userName": {
          "type": "object",
          "description": "User name for Basic authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for Basic authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "connectionString"
      ]
    },
    "OdbcLinkedService": {
      "x-ms-discriminator-value": "Odbc",
      "description": "Open Database Connectivity (ODBC) linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "ODBC linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OdbcLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "AzureMLLinkedServiceTypeProperties": {
      "description": "Azure ML Web Service linked service properties.",
      "properties": {
        "mlEndpoint": {
          "type": "object",
          "description": "The Batch Execution REST URL for an Azure ML Web Service endpoint. Type: string (or Expression with resultType string)."
        },
        "apiKey": {
          "description": "The API key for accessing the Azure ML model endpoint.",
          "$ref": "#/definitions/SecureString"
        },
        "updateResourceEndpoint": {
          "type": "object",
          "description": "The Update Resource REST URL for an Azure ML Web Service endpoint. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalId": {
          "type": "object",
          "description": "The ID of the service principal used to authenticate against the ARM-based updateResourceEndpoint of an Azure ML web service. Type: string (or Expression with resultType string)."
        },
        "servicePrincipalKey": {
          "$ref": "#/definitions/SecureString",
          "description": "The key of the service principal used to authenticate against the ARM-based updateResourceEndpoint of an Azure ML web service."
        },
        "tenant": {
          "type": "object",
          "description": "The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with resultType string)."
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "mlEndpoint",
        "apiKey"
      ]
    },
    "AzureMLLinkedService": {
      "x-ms-discriminator-value": "AzureML",
      "description": "Azure ML Web Service linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Azure ML Web Service linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureMLLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "TeradataLinkedServiceTypeProperties": {
      "description": "Teradata linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Server name for connection. Type: string (or Expression with resultType string)."
        },
        "schema": {
          "type": "object",
          "description": "Schema name for connection. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "AuthenticationType to be used for connection.",
          "type": "string",
          "enum": [
            "Basic",
            "Windows"
          ],
          "x-ms-enum": {
            "name": "TeradataAuthenticationType",
            "modelAsString": true
          }
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server"
      ]
    },
    "TeradataLinkedService": {
      "x-ms-discriminator-value": "Teradata",
      "description": "Linked service for Teradata data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Teradata linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TeradataLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "Db2LinkedServiceTypeProperties": {
      "description": "DB2 linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Server name for connection. Type: string (or Expression with resultType string)."
        },
        "database": {
          "type": "object",
          "description": "Database name for connection. Type: string (or Expression with resultType string)."
        },
        "schema": {
          "type": "object",
          "description": "Schema name for connection. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "AuthenticationType to be used for connection.",
          "type": "string",
          "enum": [
            "Basic"
          ],
          "x-ms-enum": {
            "name": "Db2AuthenticationType",
            "modelAsString": true
          }
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "database"
      ]
    },
    "Db2LinkedService": {
      "x-ms-discriminator-value": "Db2",
      "description": "Linked service for DB2 data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "DB2 linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Db2LinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "SybaseLinkedServiceTypeProperties": {
      "description": "Sybase linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Server name for connection. Type: string (or Expression with resultType string)."
        },
        "database": {
          "type": "object",
          "description": "Database name for connection. Type: string (or Expression with resultType string)."
        },
        "schema": {
          "type": "object",
          "description": "Schema name for connection. Type: string (or Expression with resultType string)."
        },
        "authenticationType": {
          "description": "AuthenticationType to be used for connection.",
          "type": "string",
          "enum": [
            "Basic",
            "Windows"
          ],
          "x-ms-enum": {
            "name": "SybaseAuthenticationType",
            "modelAsString": true
          }
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "database"
      ]
    },
    "SybaseLinkedService": {
      "x-ms-discriminator-value": "Sybase",
      "description": "Linked service for Sybase data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Sybase linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SybaseLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "PostgreSqlLinkedServiceTypeProperties": {
      "description": "PostgreSQL linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Server name for connection. Type: string (or Expression with resultType string)."
        },
        "database": {
          "type": "object",
          "description": "Database name for connection. Type: string (or Expression with resultType string)."
        },
        "schema": {
          "type": "object",
          "description": "Schema name for connection. Type: string (or Expression with resultType string)."
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "database"
      ]
    },
    "PostgreSqlLinkedService": {
      "x-ms-discriminator-value": "PostgreSql",
      "description": "Linked service for PostgreSQL data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "PostgreSQL linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PostgreSqlLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "MySqlLinkedServiceTypeProperties": {
      "description": "MySQL linked service properties.",
      "properties": {
        "server": {
          "type": "object",
          "description": "Server name for connection. Type: string (or Expression with resultType string)."
        },
        "database": {
          "type": "object",
          "description": "Database name for connection. Type: string (or Expression with resultType string)."
        },
        "schema": {
          "type": "object",
          "description": "Schema name for connection. Type: string (or Expression with resultType string)."
        },
        "username": {
          "type": "object",
          "description": "Username for authentication. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password for authentication.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "server",
        "database"
      ]
    },
    "MySqlLinkedService": {
      "x-ms-discriminator-value": "MySql",
      "description": "Linked service for MySQL data source.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "MySQL linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MySqlLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "OracleLinkedServiceTypeProperties": {
      "description": "Oracle database linked service properties.",
      "properties": {
        "connectionString": {
          "description": "The connection string.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "connectionString"
      ]
    },
    "OracleLinkedService": {
      "x-ms-discriminator-value": "Oracle",
      "description": "Oracle database.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "Oracle database linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OracleLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "FileServerLinkedServiceTypeProperties": {
      "description": "File system linked service properties.",
      "properties": {
        "host": {
          "type": "object",
          "description": "Host name of the server. Type: string (or Expression with resultType string)."
        },
        "userId": {
          "type": "object",
          "description": "User ID to logon the server. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "Password to logon the server.",
          "$ref": "#/definitions/SecureString"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "host"
      ]
    },
    "FileServerLinkedService": {
      "x-ms-discriminator-value": "FileServer",
      "description": "File system linked service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LinkedService"
        }
      ],
      "properties": {
        "typeProperties": {
          "description": "File system linked service properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FileServerLinkedServiceTypeProperties"
        }
      },
      "required": [
        "typeProperties"
      ]
    },
    "HDInsightLinkedServiceTypeProperties": {
      "description": "HDInsight linked service properties.",
      "properties": {
        "clusterUri": {
          "type": "object",
          "description": "HDInsight cluster URI. Type: string (or Expression with resultType string)."
        },
        "userName": {
          "type": "object",
          "description": "HDInsight cluster user name. Type: string (or Expression with resultType string)."
        },
        "password": {
          "description": "HDInsight cluster password.",
          "$ref": "#/definitions/SecureString"
        },
        "linkedServiceName": {
          "description": "The Azure Storage linked service reference.",
          "$ref": "#/definitions/LinkedServiceReference"
        },
        "hcatalogLinkedServiceName": {
          "description": "A reference to the Azure SQL linked service that points to the HCatalog database.",
          "$ref": "#/definitions/LinkedServiceReference"
        },
        "encryptedCredential": {
          "type": "object",
          "description": "The encrypted credential used for authentication. Credentials are encrypted using the integration runtime credential manager. Type: string (or Expression with resultType string)."
        }
      },
      "required": [
        "clusterUri"
      ]
    },
    "HDInsightLinkedService": {
      "x-ms-discriminator-value": "HDInsight",
      "description": "HDInsight linked service.",
      "type": "object",
      "allOf": [
        {
[...]
