{
  "swagger": "2.0",
  "info": {
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2015-04-01",
    "title": "MonitorManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/microsoft.insights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available operations from Microsoft.Insights provider.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get a list of operations for a resource provider": {
            "parameters": {
              "api-version": "2015-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.Insights/Operations/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Operations",
                        "operation": "Operations read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/MetricDefinitions/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metric Definitions",
                        "operation": "Metric definitions read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Metrics/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metrics",
                        "operation": "Metrics read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/MetricAlerts/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metric alerts",
                        "operation": "Metric alert write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/MetricAlerts/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metric alerts",
                        "operation": "Metric alert delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/MetricAlerts/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metric alerts",
                        "operation": "Metric alert read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Autoscale",
                        "operation": "Autoscale Setting write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Autoscale",
                        "operation": "Autoscale Setting delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Autoscale",
                        "operation": "Autoscale Setting read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Incidents/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rule Incident resource",
                        "operation": "Alert Rule Incidents read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/providers/Microsoft.Insights/MetricDefinitions/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Metric Definitions",
                        "operation": "Metric definitions read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActionGroups/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Action groups",
                        "operation": "Action group write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActionGroups/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Action groups",
                        "operation": "Action group delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActionGroups/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Action groups",
                        "operation": "Action group read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActivityLogAlerts/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Activity log alert",
                        "operation": "Activity log alert read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActivityLogAlerts/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Activity log alert",
                        "operation": "Activity log alert delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActivityLogAlerts/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Activity log alert",
                        "operation": "Activity log alert read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ActivityLogAlerts/Activated/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Activity Log Alert",
                        "operation": "Activity Log Alert Activated"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/EventCategories/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Event category",
                        "operation": "Event category read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/eventtypes/values/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Events",
                        "operation": "Event types management values read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/eventtypes/digestevents/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Digest events",
                        "operation": "Event types management digest read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/DiagnosticSettings/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Diagnostic settings",
                        "operation": "Diagnostic settings write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/DiagnosticSettings/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Diagnostic settings",
                        "operation": "Diagnostic settings delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/DiagnosticSettings/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Diagnostic settings",
                        "operation": "Diagnostic settings read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ExtendedDiagnosticSettings/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Extended Diagnostic settings",
                        "operation": "Extended Diagnostic settings write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ExtendedDiagnosticSettings/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Extended Diagnostic settings",
                        "operation": "Extended Diagnostic settings delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/ExtendedDiagnosticSettings/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Extended Diagnostic settings",
                        "operation": "Extended Diagnostic settings read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/LogProfiles/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Log Profiles",
                        "operation": "Log profile write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/LogProfiles/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Log Profiles",
                        "operation": "Log profile delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/LogProfiles/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Log Profiles",
                        "operation": "Log profile read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/LogDefinitions/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Log Definitions",
                        "operation": "Log Definitions read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/Scaleup/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Autoscale",
                        "operation": "Autoscale scale up operation"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AutoscaleSettings/Scaledown/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Autoscale",
                        "operation": "Autoscale scale down operation"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Activated/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule activated"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Resolved/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule resolved"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/AlertRules/Throttled/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Alert Rules",
                        "operation": "Alert Rule throttled"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Register/Action",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Microsoft.Insights",
                        "operation": "Register Microsoft.Insights"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Components/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Application insights components",
                        "operation": "Application insights component write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Components/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Application insights components",
                        "operation": "Application insights component delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Components/Read",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Application insights components",
                        "operation": "Application insights component read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Webtests/Write",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Web tests",
                        "operation": "Webtest write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Webtests/Delete",
                      "display": {
                        "provider": "Microsoft Monitoring Insights",
                        "resource": "Web tests",
                        "operation": "Webtest delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Workbooks/Read",
                      "display": {
                        "provider": "Microsoft Application Insights",
                        "resource": "Workbooks",
                        "operation": "Workbooks read"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Workbooks/Write",
                      "display": {
                        "provider": "Microsoft Application Insights",
                        "resource": "Workbooks",
                        "operation": "Workbooks write"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Workbooks/Delete",
                      "display": {
                        "provider": "Microsoft Application Insights",
                        "resource": "Workbooks",
                        "operation": "Workbooks delete"
                      }
                    },
                    {
                      "name": "Microsoft.Insights/Workbooks/Read",
                      "display": {
                        "provider": "Microsoft Application Insights",
                        "resource": "Workbooks",
                        "operation": "Workbooks read"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Microsoft.Insights operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations supported by the Microsoft.Insights provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "Microsoft Insights API operation definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Insights",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: AlertRules, Autoscale, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-id": "monitor",
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Operations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}