{
  "swagger": "2.0",
  "info": {
    "version": "2019-01-01",
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for getting the network connectivity status of your Azure API Management deployment. When the API Management service is deployed inside a Virtual Network, it needs to have access to other Azure resources it depends on. This also gives details about the DNS Servers visible to Azure API Management deployment."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus": {
      "get": {
        "tags": [
          "NetworkStatus"
        ],
        "operationId": "NetworkStatus_ListByService",
        "description": "Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.",
        "x-ms-examples": {
          "ApiManagementServiceGetNetworkStatus": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2019-01-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "location": "North Central US",
                    "networkStatus": {
                      "dnsServers": [
                        "100.78.90.70"
                      ],
                      "connectivityStatus": [
                        {
                          "name": "apimgmtst6mtxxxxxxxx.blob.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:07.3274887Z",
                          "lastStatusChange": "2018-06-13T20:31:06.6590782Z"
                        },
                        {
                          "name": "apimgmtst6mtxxxxxxxx.file.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:08.54627Z",
                          "lastStatusChange": "2018-06-13T20:31:06.8934611Z"
                        },
                        {
                          "name": "apimgmtst6mtxxxxxxxx.table.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:08.6556497Z",
                          "lastStatusChange": "2018-06-13T20:31:06.7529128Z"
                        },
                        {
                          "name": "https://prod3.metrics.nsatc.net:1886/RecoveryService",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:08.5618943Z",
                          "lastStatusChange": "2018-06-13T20:31:07.1125257Z"
                        },
                        {
                          "name": "n20fxxxxxxxx.database.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:09.3275394Z",
                          "lastStatusChange": "2018-06-13T20:31:07.0968711Z"
                        },
                        {
                          "name": "Scm",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:31:28.0942291Z",
                          "lastStatusChange": "2018-06-13T20:41:09.8627827Z"
                        }
                      ]
                    }
                  },
                  {
                    "location": "South Central US",
                    "networkStatus": {
                      "dnsServers": [
                        "100.92.34.14"
                      ],
                      "connectivityStatus": [
                        {
                          "name": "apimgmtst6mtxxxxxxxx.file.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:36:26.6522053Z",
                          "lastStatusChange": "2018-06-13T21:36:24.6042279Z"
                        },
                        {
                          "name": "apimgmtst6mtxxxxxxxx.table.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:36:25.9959344Z",
                          "lastStatusChange": "2018-06-13T21:36:24.1587528Z"
                        },
                        {
                          "name": "apimgmtstufddxxxxxxxx.blob.core.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:36:25.0115192Z",
                          "lastStatusChange": "2018-06-13T21:36:24.5104599Z"
                        },
                        {
                          "name": "https://prod2.metrics.nsatc.net:1886/RecoveryService",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:36:26.042817Z",
                          "lastStatusChange": "2018-06-13T21:36:24.0962419Z"
                        },
                        {
                          "name": "n20fxxxxxxxx.database.windows.net",
                          "status": "success",
                          "error": "",
                          "lastUpdated": "2018-06-13T22:36:26.7615872Z",
                          "lastStatusChange": "2018-06-13T21:36:24.80737Z"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the list Network status details for all regions in which service is deployed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkStatusContractByLocation"
              },
              "description": "List of Network Status values."
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Service"
      }
    }
  },
  "definitions": {
    "ConnectivityStatusContract": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The hostname of the resource which the service depends on. This can be the database, storage or any other azure resource on which the service depends upon.",
          "minLength": 1
        },
        "status": {
          "type": "string",
          "enum": [
            "initializing",
            "success",
            "failure"
          ],
          "x-ms-enum": {
            "name": "ConnectivityStatusType",
            "modelAsString": true
          },
          "description": "Resource Connectivity Status Type identifier."
        },
        "error": {
          "type": "string",
          "description": "Error details of the connectivity to the resource."
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status was last updated. This status should be updated every 15 minutes. If this status has not been updated, then it means that the service has lost network connectivity to the resource, from inside the Virtual Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        },
        "lastStatusChange": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status last Changed from success to failure or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        }
      },
      "required": [
        "name",
        "status",
        "lastUpdated",
        "lastStatusChange"
      ],
      "description": "Details about connectivity to a resource."
    },
    "NetworkStatusContractByLocation": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of service",
          "minLength": 1
        },
        "networkStatus": {
          "$ref": "#/definitions/NetworkStatusContract",
          "description": "Network status in Location"
        }
      },
      "description": "Network Status in the Location"
    },
    "NetworkStatusContract": {
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets the list of DNS servers IPV4 addresses."
        },
        "connectivityStatus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityStatusContract"
          },
          "description": "Gets the list of Connectivity Status to the Resources on which the service depends upon."
        }
      },
      "required": [
        "dnsServers",
        "connectivityStatus"
      ],
      "description": "Network Status details."
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "ErrorResponseBody": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error Body contract."
    },
    "ErrorResponse": {
      "properties": {
        "error": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ErrorResponseBody",
          "description": "Properties of the Error Response."
        }
      },
      "description": "Error Response."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "LocationNameParameter": {
      "name": "locationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Location in which the API Management service is deployed. This is one of the Azure Regions like West US, East US, South Central US.",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    }
  },
  "x-internal-service-id": "apimanagement",
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Network Status",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByService",
  "x-internal-operation-name": "List By Service"
}