{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01",
    "title": "ResourceManagementClient",
    "description": "Provides operations for working with resources and resource groups."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate": {
      "post": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_ExportTemplate",
        "description": "Captures the specified resource group as a template.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportTemplateRequest"
            },
            "description": "Parameters for exporting the template."
          }
        ],
        "x-ms-examples": {
          "Export a resource group": {
            "parameters": {
              "subscriptionId": "eaee6a92-e973-4922-9471-3a0a6abf81cd",
              "resourceGroupName": "myResourceGroup",
              "api-version": "2019-10-01",
              "parameters": {
                "resources": [
                  "*"
                ],
                "options": "IncludeParameterDefaultValue,IncludeComments"
              }
            },
            "responses": {
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/eaee6a92-e973-4922-9471-3a0a6abf81cd/operationresults/c9bbccf4-e16a-4eb7-befb-2e2e5195c347?api-version=2018-08-01"
                }
              },
              "200": {
                "body": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                      "myResourceType_myFirstResource_name": {
                        "defaultValue": "myFirstResource",
                        "type": "String"
                      },
                      "myResourceType_mySecondResource_name": {
                        "defaultValue": "mySecondResource",
                        "type": "String"
                      },
                      "myResourceType_myFirstResource_secret": {
                        "defaultValue": null,
                        "type": "SecureString"
                      }
                    },
                    "variables": {},
                    "resources": [
                      {
                        "type": "My.RP/myResourceType",
                        "apiVersion": "2019-01-01",
                        "name": "[parameters('myResourceType_myFirstResource_name')]",
                        "location": "West US",
                        "properties": {
                          "secret": "[parameters('myResourceType_myFirstResource_secret')]"
                        }
                      },
                      {
                        "type": "My.RP/myResourceType",
                        "apiVersion": "2019-01-01",
                        "name": "[parameters('myResourceType_mySecondResource_name')]",
                        "location": "West US",
                        "properties": {
                          "customProperty": "hello!"
                        }
                      }
                    ]
                  },
                  "error": {
                    "code": "ExportTemplateCompletedWithErrors",
                    "message": "Export template operation completed with errors. Some resources were not exported. Please see details for more information.",
                    "details": []
                  }
                }
              }
            }
          },
          "Export a resource group with filtering": {
            "parameters": {
              "subscriptionId": "eaee6a92-e973-4922-9471-3a0a6abf81cd",
              "resourceGroupName": "myResourceGroup",
              "api-version": "2019-10-01",
              "parameters": {
                "resources": [
                  "/subscriptions/eaee6a92-e973-4922-9471-3a0a6abf81cd/resourceGroups/myResourceGroup/providers/My.RP/myResourceType/myFirstResource"
                ],
                "options": "SkipResourceNameParameterization"
              }
            },
            "responses": {
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/eaee6a92-e973-4922-9471-3a0a6abf81cd/operationresults/c9bbccf4-e16a-4eb7-befb-2e2e5195c347?api-version=2018-08-01"
                }
              },
              "200": {
                "body": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                      "myResourceType_myFirstResource_secret": {
                        "defaultValue": null,
                        "type": "SecureString"
                      }
                    },
                    "variables": {},
                    "resources": [
                      {
                        "type": "My.RP/myResourceType",
                        "apiVersion": "2019-01-01",
                        "name": "myFirstResource",
                        "location": "West US",
                        "properties": {
                          "secret": "[parameters('myResourceType_myFirstResource_secret')]"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Returns the result of the export.",
            "schema": {
              "$ref": "#/definitions/ResourceGroupExportResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Export Template"
      }
    }
  },
  "definitions": {
    "DeploymentExtendedFilter": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state."
        }
      },
      "description": "Deployment filter."
    },
    "GenericResourceFilter": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type."
        },
        "tagname": {
          "type": "string",
          "description": "The tag name."
        },
        "tagvalue": {
          "type": "string",
          "description": "The tag value."
        }
      },
      "description": "Resource filter."
    },
    "ResourceGroupFilter": {
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The tag name."
        },
        "tagValue": {
          "type": "string",
          "description": "The tag value."
        }
      },
      "description": "Resource group filter."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the template to deploy."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included, must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the parameters file."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included, must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment parameters."
    },
    "DeploymentProperties": {
      "properties": {
        "template": {
          "type": "object",
          "description": "The template content. You use this element when you want to pass the template syntax directly in the request rather than link to an existing template. It can be a JObject or well-formed JSON string. Use either the templateLink property or the template property, but not both."
        },
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "The URI of the template. Use either the templateLink property or the template property, but not both."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the deployment parameters for the template. You use this element when you want to provide the parameter values directly in the request rather than link to an existing parameter file. Use either the parametersLink property or the parameters property, but not both. It can be a JObject or a well formed JSON string."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "The URI of parameters file. You use this element to link to an existing parameters file. Use either the parametersLink property or the parameters property, but not both."
        },
        "mode": {
          "type": "string",
          "description": "The mode that is used to deploy resources. This value can be either Incremental or Complete. In Incremental mode, resources are deployed without deleting existing resources that are not included in the template. In Complete mode, resources are deployed and existing resources in the resource group that are not included in the template are deleted. Be careful when using Complete mode as you may unintentionally delete resources.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        },
        "debugSetting": {
          "$ref": "#/definitions/DebugSetting",
          "description": "The debug setting of the deployment."
        },
        "onErrorDeployment": {
          "$ref": "#/definitions/OnErrorDeployment",
          "description": "The deployment on error behavior."
        }
      },
      "required": [
        "mode"
      ],
      "description": "Deployment properties."
    },
    "DebugSetting": {
      "properties": {
        "detailLevel": {
          "type": "string",
          "description": "Specifies the type of information to log for debugging. The permitted values are none, requestContent, responseContent, or both requestContent and responseContent separated by a comma. The default is none. When setting this value, carefully consider the type of information you are passing in during deployment. By logging information about the request or response, you could potentially expose sensitive data that is retrieved through the deployment operations."
        }
      },
      "description": "The debug setting."
    },
    "Deployment": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location to store the deployment data."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The deployment properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Deployment operation parameters."
    },
    "ScopedDeployment": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location to store the deployment data."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The deployment properties."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "Deployment operation parameters."
    },
    "DeploymentExportResult": {
      "properties": {
        "template": {
          "type": "object",
          "description": "The template content."
        }
      },
      "description": "The deployment export result. "
    },
    "DeploymentWhatIf": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location to store the deployment data."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentWhatIfProperties",
          "description": "The deployment properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Deployment What-if operation parameters."
    },
    "DeploymentWhatIfProperties": {
      "properties": {
        "whatIfSettings": {
          "$ref": "#/definitions/DeploymentWhatIfSettings",
          "description": "Optional What-If operation settings."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentProperties"
        }
      ],
      "description": "Deployment What-if properties."
    },
    "DeploymentWhatIfSettings": {
      "properties": {
        "resultFormat": {
          "type": "string",
          "description": "The format of the What-If results",
          "enum": [
            "ResourceIdOnly",
            "FullResourcePayloads"
          ],
          "x-ms-enum": {
            "name": "WhatIfResultFormat",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment What-If operation settings."
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponse"
        }
      },
      "description": "An error response for a resource management request."
    },
    "AliasPathType": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The path of an alias."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The API versions."
        }
      },
      "description": "The type of the paths for alias. "
    },
    "AliasType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AliasPathType"
          },
          "description": "The paths for an alias."
        }
      },
      "description": "The alias type. "
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The collection of locations where this resource type can be created."
        },
        "aliases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AliasType"
          },
          "description": "The aliases that are supported by this resource type."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The API version."
        },
        "capabilities": {
          "type": "string",
          "description": "The additional capabilities offered by this resource type."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The additional properties. "
          },
          "description": "The properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The provider ID."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace of the resource provider."
        },
        "registrationState": {
          "readOnly": true,
          "type": "string",
          "description": "The registration state of the resource provider."
        },
        "registrationPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "The registration policy of the resource provider."
        },
        "resourceTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "The collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "The dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "The dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "The list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "The ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "The dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "The dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the provisioning."
        },
        "correlationId": {
          "readOnly": true,
          "type": "string",
          "description": "The correlation ID of the deployment."
        },
        "timestamp": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of the template deployment."
        },
        "duration": {
          "readOnly": true,
          "type": "string",
          "description": "The duration of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Key/value pairs that represent deployment output."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "The list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "The list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "The template content. Use only one of Template or TemplateLink."
        },
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "The URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "The URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "The deployment mode. Possible values are Incremental and Complete.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        },
        "debugSetting": {
          "$ref": "#/definitions/DebugSetting",
          "description": "The debug setting of the deployment."
        },
        "onErrorDeployment": {
          "$ref": "#/definitions/OnErrorDeploymentExtended",
          "description": "The deployment on error behavior."
        }
      },
      "description": "Deployment properties with additional details."
    },
    "OnErrorDeployment": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The deployment on error behavior type. Possible values are LastSuccessful and SpecificDeployment.",
          "enum": [
            "LastSuccessful",
            "SpecificDeployment"
          ],
          "x-ms-enum": {
            "name": "OnErrorDeploymentType",
            "modelAsString": false
          }
        },
        "deploymentName": {
          "type": "string",
          "description": "The deployment to be used on error case."
        }
      },
      "description": "Deployment on error behavior."
    },
    "OnErrorDeploymentExtended": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the provisioning for the on error deployment."
        },
        "type": {
          "type": "string",
          "description": "The deployment on error behavior type. Possible values are LastSuccessful and SpecificDeployment.",
          "enum": [
            "LastSuccessful",
            "SpecificDeployment"
          ],
          "x-ms-enum": {
            "name": "OnErrorDeploymentType",
            "modelAsString": false
          }
        },
        "deploymentName": {
          "type": "string",
          "description": "The deployment to be used on error case."
        }
      },
      "description": "Deployment on error behavior with additional details."
    },
    "DeploymentValidateResult": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponse",
          "description": "The deployment validation error."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "The template deployment properties."
        }
      },
      "description": "Information from validate template deployment response."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the deployment."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the deployment."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the deployment."
        },
        "location": {
          "type": "string",
          "description": "the location of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Deployment properties."
        }
      },
      "x-ms-azure-resource": true,
      "description": "Deployment information."
    },
    "DeploymentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentExtended"
          },
          "description": "An array of deployments."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of deployments."
    },
    "ProviderListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "An array of resource providers."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of resource providers."
    },
    "GenericResource": {
      "properties": {
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan of the resource."
        },
        "properties": {
          "type": "object",
          "description": "The resource properties."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the resource.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information."
    },
    "Plan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The offer ID."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "description": "Plan for the resource."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        },
        "tier": {
          "type": "string",
          "description": "The SKU tier."
        },
        "size": {
          "type": "string",
          "description": "The SKU size."
        },
        "family": {
          "type": "string",
          "description": "The SKU family."
        },
        "model": {
          "type": "string",
          "description": "The SKU model."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU capacity."
        }
      },
      "description": "SKU for the resource."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          },
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the resource."
    },
    "ResourceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericResource"
          },
          "description": "An array of resources."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of resource groups."
    },
    "ResourceGroup": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the resource group."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource group."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource group."
        },
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties",
          "description": "The resource group properties."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations."
        },
        "managedBy": {
          "type": "string",
          "description": "The ID of the resource that manages this resource group."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The additional properties. "
          },
          "description": "The tags attached to the resource group."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "Resource group information."
    },
    "ResourceGroupPatchable": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource group."
        },
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties",
          "description": "The resource group properties."
        },
        "managedBy": {
          "type": "string",
          "description": "The ID of the resource that manages this resource group."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The additional properties. "
          },
          "description": "The tags attached to the resource group."
        }
      },
      "description": "Resource group information."
    },
    "ResourceGroupProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state. "
        }
      },
      "description": "The resource group properties."
    },
    "ResourceGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          },
          "description": "An array of resource groups."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of resource groups."
    },
    "ResourcesMoveInfo": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the resources."
        },
        "targetResourceGroup": {
          "type": "string",
          "description": "The target resource group."
        }
      },
      "description": "Parameters of move resources."
    },
    "ExportTemplateRequest": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the resources to filter the export by. To export all resources, supply an array with single entry '*'."
        },
        "options": {
          "type": "string",
          "description": "The export template options. A CSV-formatted list containing zero or more of the following: 'IncludeParameterDefaultValue', 'IncludeComments', 'SkipResourceNameParameterization', 'SkipAllParameterization'"
        }
      },
      "description": "Export resource group template request parameters."
    },
    "TagCount": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of count."
        },
        "value": {
          "type": "integer",
          "description": "Value of count."
        }
      },
      "description": "Tag count."
    },
    "TagValue": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The tag ID."
        },
        "tagValue": {
          "type": "string",
          "description": "The tag value."
        },
        "count": {
          "$ref": "#/definitions/TagCount",
          "description": "The tag value count."
        }
      },
      "x-ms-azure-resource": true,
      "description": "Tag information."
    },
    "TagDetails": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The tag ID."
        },
        "tagName": {
          "type": "string",
          "description": "The tag name."
        },
        "count": {
          "$ref": "#/definitions/TagCount",
          "description": "The total number of resources that use the resource tag. When a tag is initially created and has no associated resources, the value is 0."
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagValue"
          },
          "description": "The list of tag values."
        }
      },
      "description": "Tag details."
    },
    "TagsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDetails"
          },
          "description": "An array of tags."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of subscription tags."
    },
    "TargetResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the resource."
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource."
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "description": "Target resource."
    },
    "HttpMessage": {
      "properties": {
        "content": {
          "type": "object",
          "description": "HTTP message content."
        }
      },
      "description": "HTTP message."
    },
    "DeploymentOperationProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the provisioning."
        },
        "timestamp": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The date and time of the operation."
        },
        "duration": {
          "readOnly": true,
          "type": "string",
          "description": "The duration of the operation."
        },
        "serviceRequestId": {
          "readOnly": true,
          "type": "string",
          "description": "Deployment operation service request id."
        },
        "statusCode": {
          "readOnly": true,
          "type": "string",
          "description": "Operation status code."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "object",
          "description": "Operation status message."
        },
        "targetResource": {
          "readOnly": true,
          "$ref": "#/definitions/TargetResource",
          "description": "The target resource."
        },
        "request": {
          "readOnly": true,
          "$ref": "#/definitions/HttpMessage",
          "description": "The HTTP request message."
        },
        "response": {
          "readOnly": true,
          "$ref": "#/definitions/HttpMessage",
          "description": "The HTTP response message."
        }
      },
      "description": "Deployment operation properties."
    },
    "DeploymentOperation": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Full deployment operation ID."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "Deployment operation ID."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentOperationProperties",
          "description": "Deployment properties."
        }
      },
      "description": "Deployment operation information."
    },
    "DeploymentOperationsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentOperation"
          },
          "description": "An array of deployment operations."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of deployment operations."
    },
    "ResourceProviderOperationDisplayProperties": {
      "properties": {
        "publisher": {
          "type": "string",
          "description": "Operation description."
        },
        "provider": {
          "type": "string",
          "description": "Operation provider."
        },
        "resource": {
          "type": "string",
          "description": "Operation resource."
        },
        "operation": {
          "type": "string",
          "description": "Resource provider operation."
        },
        "description": {
          "type": "string",
          "description": "Operation description."
        }
      },
      "description": "Resource provider operation's display properties."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true,
      "description": "Specified resource."
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID"
        }
      },
      "x-ms-azure-resource": true,
      "description": "Sub-resource."
    },
    "ResourceGroupExportResult": {
      "properties": {
        "template": {
          "type": "object",
          "description": "The template content."
        },
        "error": {
          "$ref": "#/definitions/ErrorResponse",
          "description": "The template export error."
        }
      },
      "description": "Resource group export result."
    },
    "Operation": {
      "description": "Microsoft.Resources operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Resources",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description of the operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Microsoft.Resources operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Microsoft.Resources operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "TemplateHashResult": {
      "description": "Result of the request to calculate template hash. It contains a string of minified template and its hash.",
      "properties": {
        "minifiedTemplate": {
          "type": "string",
          "description": "The minified template string."
        },
        "templateHash": {
          "type": "string",
          "description": "The template hash."
        }
      }
    },
    "WhatIfPropertyChange": {
      "required": [
        "path",
        "propertyChangeType"
      ],
      "properties": {
        "path": {
          "type": "string",
          "description": "The path of the property."
        },
        "propertyChangeType": {
          "type": "string",
          "description": "The type of property change.",
          "enum": [
            "Create",
            "Delete",
            "Modify",
            "Array"
          ],
          "x-ms-enum": {
            "name": "PropertyChangeType",
            "modelAsString": false,
            "values": [
              {
                "value": "Create",
                "description": "The property does not exist in the current state but is present in the desired state. The property will be created when the deployment is executed."
              },
              {
                "value": "Delete",
                "description": "The property exists in the current state and is missing from the desired state. It will be deleted when the deployment is executed."
              },
              {
                "value": "Modify",
                "description": "The property exists in both current and desired state and is different. The value of the property will change when the deployment is executed."
              },
              {
                "value": "Array",
                "description": "The property is an array and contains nested changes."
              }
            ]
          }
        },
        "before": {
          "type": "object",
          "description": "The value of the property before the deployment is executed."
        },
        "after": {
          "type": "object",
          "description": "The value of the property after the deployment is executed."
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WhatIfPropertyChange"
          },
          "description": "Nested property changes."
        }
      },
      "description": "The predicted change to the resource property."
    },
    "WhatIfChange": {
      "description": "Information about a single resource change predicted by What-If operation.",
      "required": [
        "resourceId",
        "changeType"
      ],
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID"
        },
        "changeType": {
          "type": "string",
          "description": "Type of change that will be made to the resource when the deployment is executed.",
          "enum": [
            "Create",
            "Delete",
            "Ignore",
            "Deploy",
            "NoChange",
            "Modify"
          ],
          "x-ms-enum": {
            "name": "ChangeType",
            "modelAsString": false,
            "values": [
              {
                "value": "Create",
                "description": "The resource does not exist in the current state but is present in the desired state. The resource will be created when the deployment is executed."
              },
              {
                "value": "Delete",
                "description": "The resource exists in the current state and is missing from the desired state. The resource will be deleted when the deployment is executed."
              },
              {
                "value": "Ignore",
                "description": "The resource exists in the current state and is missing from the desired state. The resource will not be deployed or modified when the deployment is executed."
              },
              {
                "value": "Deploy",
                "description": "The resource exists in the current state and the desired state and will be redeployed when the deployment is executed. The properties of the resource may or may not change."
              },
              {
                "value": "NoChange",
                "description": "The resource exists in the current state and the desired state and will be redeployed when the deployment is executed. The properties of the resource will not change."
              },
              {
                "value": "Modify",
                "description": "The resource exists in the current state and the desired state and will be redeployed when the deployment is executed. The properties of the resource will change."
              }
            ]
          }
        },
        "before": {
          "type": "object",
          "description": "The snapshot of the resource before the deployment is executed."
        },
        "after": {
          "type": "object",
          "description": "The predicted snapshot of the resource after the deployment is executed."
        },
        "delta": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WhatIfPropertyChange"
          },
          "description": "The predicted changes to resource properties."
        }
      }
    },
    "WhatIfOperationProperties": {
      "description": "Deployment operation properties.",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WhatIfChange"
          },
          "description": "List of resource changes predicted by What-If operation."
        }
      }
    },
    "WhatIfOperationResult": {
      "description": "Result of the What-If operation. Contains a list of predicted changes and a URL link to get to the next set of results.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the What-If operation."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WhatIfOperationProperties",
          "description": "What-If operation properties."
        },
        "error": {
          "$ref": "#/definitions/ErrorResponse",
          "description": "Error when What-If operation fails."
        }
      }
    },
    "Tags": {
      "description": "key and value pairs for tags",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The tag value."
          }
        }
      }
    },
    "TagPatchRequest": {
      "type": "object",
      "description": "Tag Request for Patch operation.",
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation type for the patch api.",
          "enum": [
            "Replace",
            "Merge",
            "Delete"
          ]
        },
        "properties": {
          "$ref": "#/definitions/Tags",
          "description": "tags object passing in the request."
        }
      }
    },
    "TagsResource": {
      "type": "object",
      "description": "Tags for the resource.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/Tags",
          "description": "tags property."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    }
  },
  "parameters": {
    "ScopeParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource scope.",
      "x-ms-parameter-location": "method"
    },
    "GroupIdParameter": {
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The management group ID.",
      "x-ms-parameter-location": "method",
      "minLength": 1,
      "maxLength": 90
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "DeploymentNameParameter": {
      "name": "deploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method",
      "minLength": 1,
      "maxLength": 64,
      "description": "The name of the deployment."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "resources",
  "x-internal-service-name": "Resource Management",
  "x-internal-operation-group-name": "Resources (Preview)",
  "x-internal-toc-name": "Resource Groups",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ExportTemplate",
  "x-internal-operation-name": "Export Template"
}