{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database elastic pools."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}": {
      "put": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_CreateOrUpdate",
        "description": "Creates a new elastic pool or updates an existing elastic pool.",
        "x-ms-examples": {
          "Create elastic pool max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-2369",
              "serverName": "sqlcrudtest-8069",
              "elasticPoolName": "sqlcrudtest-8102",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "creationDate": "2017-02-10T01:25:25.033Z",
                  "edition": "Basic",
                  "state": "Ready",
                  "dtu": 50,
                  "databaseDtuMin": 0,
                  "databaseDtuMax": 5,
                  "storageMB": 5000
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102",
                  "name": "sqlcrudtest-8102",
                  "type": "Microsoft.Sql/servers/elasticPools",
                  "location": "Japan East",
                  "kind": null,
                  "properties": {
                    "creationDate": "2017-02-10T01:25:25.033Z",
                    "edition": "Basic",
                    "state": "Ready",
                    "dtu": 50,
                    "databaseDtuMin": 0,
                    "databaseDtuMax": 5,
                    "storageMB": 5000
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102",
                  "name": "sqlcrudtest-8102",
                  "type": "Microsoft.Sql/servers/elasticPools",
                  "location": "Japan East",
                  "kind": null,
                  "properties": {
                    "creationDate": "2017-02-10T01:25:25.033Z",
                    "edition": "Basic",
                    "state": "Ready",
                    "dtu": 50,
                    "databaseDtuMin": 0,
                    "databaseDtuMax": 5,
                    "storageMB": 5000
                  }
                }
              },
              "202": {}
            }
          },
          "Create elastic pool min": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-2369",
              "serverName": "sqlcrudtest-8069",
              "elasticPoolName": "sqlcrudtest-8102",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102",
                  "name": "sqlcrudtest-8102",
                  "type": "Microsoft.Sql/servers/elasticPools",
                  "location": "Japan East",
                  "kind": null,
                  "properties": {
                    "creationDate": "2017-02-10T01:25:25.033Z",
                    "edition": "Standard",
                    "state": "Ready",
                    "dtu": 100,
                    "databaseDtuMin": 0,
                    "databaseDtuMax": 100,
                    "storageMB": 102400
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102",
                  "name": "sqlcrudtest-8102",
                  "type": "Microsoft.Sql/servers/elasticPools",
                  "location": "Japan East",
                  "kind": null,
                  "properties": {
                    "creationDate": "2017-02-10T01:25:25.033Z",
                    "edition": "Standard",
                    "state": "Ready",
                    "dtu": 100,
                    "databaseDtuMin": 0,
                    "databaseDtuMax": 100,
                    "storageMB": 102400
                  }
                }
              },
              "202": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the elastic pool to be operated on (updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            },
            "description": "The required parameters for creating or updating an elastic pool."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ElasticPoolProperties": {
      "properties": {
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the elastic pool (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Creating",
            "Ready",
            "Disabled"
          ],
          "description": "The state of the elastic pool.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ElasticPoolState"
          }
        },
        "edition": {
          "type": "string",
          "description": "The edition of the elastic pool.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEdition",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The total shared DTU for the database elastic pool."
        },
        "databaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum DTU any one database can consume."
        },
        "databaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum DTU all databases are guaranteed."
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets storage limit for the database elastic pool in MB."
        },
        "zoneRedundant": {
          "description": "Whether or not this database elastic pool is zone redundant, which means the replicas of this database will be spread across multiple availability zones.",
          "type": "boolean"
        }
      },
      "description": "Represents the properties of an elastic pool."
    },
    "ElasticPool": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of elastic pool.  This is metadata used for the Azure portal experience."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a database elastic pool."
    },
    "ElasticPoolUpdate": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an elastic pool update."
    },
    "ElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPool"
          },
          "description": "The list of elastic pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    },
    "TransparentDataEncryptionNameParameter": {
      "name": "transparentDataEncryptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "current"
      ],
      "description": "The name of the transparent data encryption configuration.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TransparentDataEncryptionName"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Elastic Pools",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create Or Update"
}