{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethods_ListByBillingProfile",
        "description": "Lists the Payment Methods by billing profile Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingProfile": {
            "parameters": {
              "api-version": "2019-10-01-preview",
              "billingAccountName": "{billingAccountName}",
              "billingProfileName": "{billingProfileName}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods/00000000-0000-0000-0000-000000000055",
                      "name": "00000000-0000-0000-0000-000000000055",
                      "type": "Microsoft.Billing/billingAccounts/billingProfiles/paymentMethods",
                      "properties": {
                        "currency": "USD",
                        "details": "Credits",
                        "expiration": "4/2020",
                        "paymentMethodType": "Credits"
                      }
                    },
                    {
                      "id": "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods/00000000-0000-0000-0000-000000000026",
                      "name": "00000000-0000-0000-0000-000000000026",
                      "type": "Microsoft.Billing/billingAccounts/billingProfiles/paymentMethods",
                      "properties": {
                        "details": "Check Wire",
                        "paymentMethodType": "CheckWire"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Billing Profile"
      }
    }
  },
  "definitions": {
    "CustomerListResult": {
      "description": "Result of listing customers.",
      "properties": {
        "value": {
          "description": "The list of customers.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Customer"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Customer": {
      "description": "A partner's customer.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The customer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CustomerProperties"
        }
      }
    },
    "CustomerProperties": {
      "description": "The properties of a customer.",
      "properties": {
        "displayName": {
          "description": "The name of the customer.",
          "type": "string"
        },
        "enabledAzurePlans": {
          "description": "Information about the product.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzurePlan"
          }
        },
        "resellers": {
          "description": "The resellers which are allowed to provide service to this customer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Reseller"
          }
        }
      }
    },
    "InitiateTransferRequest": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to initiate transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitiateTransferProperties"
        }
      }
    },
    "ValidateAddressResponse": {
      "type": "object",
      "description": "Result of the address validation",
      "properties": {
        "status": {
          "description": "status of the address validation.",
          "$ref": "#/definitions/AddressValidationStatus"
        },
        "suggestedAddresses": {
          "description": "list of suggested addresses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressDetails"
          }
        },
        "validationMessage": {
          "description": "Validation error message.",
          "type": "string"
        }
      }
    },
    "AddressValidationStatus": {
      "type": "string",
      "description": "Status of the address validation response.",
      "enum": [
        "Valid",
        "Invalid"
      ],
      "x-ms-enum": {
        "name": "addressValidationStatus",
        "modelAsString": true
      }
    },
    "InitiateTransferProperties": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "recipientEmailId": {
          "type": "string",
          "description": "Email Id of recipient for transfer."
        },
        "resellerId": {
          "type": "string",
          "description": "Optional reseller Id for transfer."
        }
      }
    },
    "AcceptTransferRequest": {
      "type": "object",
      "description": "Request parameters to accept transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to accept transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AcceptTransferProperties"
        }
      }
    },
    "AcceptTransferProperties": {
      "type": "object",
      "description": "Request parameters to accept transfer.",
      "properties": {
        "productDetails": {
          "description": "Request parameters to accept transfer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductDetails"
          }
        }
      }
    },
    "ProductDetails": {
      "type": "object",
      "description": "Details of the product to be transferred.",
      "properties": {
        "productType": {
          "description": "Type of the product to be transferred.",
          "$ref": "#/definitions/ProductType"
        },
        "productId": {
          "type": "string",
          "description": "Id of product to be transferred."
        }
      }
    },
    "ProductType": {
      "type": "string",
      "description": "Type of the product to be transferred.",
      "enum": [
        "AzureSubscription",
        "AzureReservation"
      ],
      "x-ms-enum": {
        "name": "productType",
        "modelAsString": true
      }
    },
    "TransferDetails": {
      "type": "object",
      "description": "Details of the transfer.",
      "properties": {
        "properties": {
          "description": "Details of the transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransferProperties"
        }
      }
    },
    "RecipientTransferDetails": {
      "type": "object",
      "description": "Details of the transfer.",
      "properties": {
        "properties": {
          "description": "Details of the transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecipientTransferProperties"
        }
      }
    },
    "DetailedTransferStatus": {
      "type": "object",
      "description": "Detailed transfer status.",
      "properties": {
        "productType": {
          "type": "string",
          "$ref": "#/definitions/ProductType",
          "readOnly": true,
          "description": "Type of product being transferred."
        },
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of product being transferred."
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/ProductTransferStatus",
          "readOnly": true,
          "description": "Transfer status."
        },
        "errorDetails": {
          "description": "Error details for transfer execution.",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error details for transfer execution.",
      "properties": {
        "errorCode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Error message."
        }
      }
    },
    "EligibleProductType": {
      "type": "string",
      "description": "Type of the products that can be transferred.",
      "enum": [
        "DevTestAzureSubscription",
        "StandardAzureSubscription",
        "AzureReservation"
      ],
      "x-ms-enum": {
        "name": "eligibleProductType",
        "modelAsString": true
      }
    },
    "TransferProperties": {
      "description": "Transfer details",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Transfer creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer expiration time."
        },
        "invoiceSectionId": {
          "type": "string",
          "description": "Target invoice section Id.",
          "readOnly": true
        },
        "billingAccountId": {
          "type": "string",
          "description": "Target billing account Id.",
          "readOnly": true
        },
        "resellerId": {
          "type": "string",
          "description": "Reseller Id for transfer.",
          "readOnly": true
        },
        "resellerName": {
          "type": "string",
          "description": "Reseller name for transfer.",
          "readOnly": true
        },
        "initiatorCustomerType": {
          "type": "string",
          "description": "Customer type of the initiator.",
          "readOnly": true
        },
        "billingProfileId": {
          "type": "string",
          "description": "Target billing profile Id.",
          "readOnly": true
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/TransferStatus",
          "description": "Overall transfer status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of transfer."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of transfer."
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the transfer."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer last modification time."
        },
        "detailedTransferStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed transfer status.",
          "items": {
            "$ref": "#/definitions/DetailedTransferStatus"
          }
        }
      }
    },
    "RecipientTransferProperties": {
      "description": "Transfer Details.",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Transfer creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer expiration time."
        },
        "allowedProductType": {
          "type": "array",
          "readOnly": true,
          "description": "Type of subscriptions that can be transferred.",
          "items": {
            "$ref": "#/definitions/EligibleProductType"
          }
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/TransferStatus",
          "description": "Overall transfer status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of transfer."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of transfer."
        },
        "resellerId": {
          "type": "string",
          "description": "Reseller Id for transfer.",
          "readOnly": true
        },
        "resellerName": {
          "type": "string",
          "description": "Reseller name for transfer.",
          "readOnly": true
        },
        "initiatorCustomerType": {
          "type": "string",
          "description": "Customer type of the initiator.",
          "readOnly": true
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the transfer."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer last modification time."
        },
        "detailedTransferStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed transfer status.",
          "items": {
            "$ref": "#/definitions/DetailedTransferStatus"
          }
        }
      }
    },
    "TransferStatus": {
      "type": "string",
      "description": "Possible transfer status.",
      "enum": [
        "Pending",
        "InProgress",
        "Completed",
        "CompletedWithErrors",
        "Failed",
        "Canceled",
        "Declined"
      ],
      "x-ms-enum": {
        "name": "transferStatus",
        "modelAsString": true
      }
    },
    "ProductTransferStatus": {
      "type": "string",
      "description": "Possible transfer status.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "productTransferStatus",
        "modelAsString": true
      }
    },
    "RecipientTransferDetailsListResult": {
      "description": "Result of listing details of the transfer received by caller.",
      "properties": {
        "value": {
          "description": "The list of transfers received by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RecipientTransferDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TransferDetailsListResult": {
      "description": "Result of listing details of the transfer initiated by caller.",
      "properties": {
        "value": {
          "description": "The list of transfers initiated by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TransferDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TransferProductRequestProperties": {
      "description": "The properties of the product to initiate a transfer.",
      "properties": {
        "destinationInvoiceSectionId": {
          "type": "string",
          "description": "The destination invoice section id."
        },
        "destinationBillingProfileId": {
          "type": "string",
          "description": "The destination billing profile id."
        }
      }
    },
    "TransferBillingSubscriptionResult": {
      "type": "object",
      "description": "Request parameters to transfer billing subscription.",
      "properties": {
        "properties": {
          "description": "Request parameters to transfer billing subscription.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransferBillingSubscriptionResultProperties"
        }
      }
    },
    "TransferBillingSubscriptionResultProperties": {
      "type": "object",
      "description": "Transfer billing subscription result properties.",
      "properties": {
        "billingSubscriptionName": {
          "type": "string",
          "description": "The destination billing subscription id."
        }
      }
    },
    "TransferBillingSubscriptionRequest": {
      "type": "object",
      "description": "Request parameters to transfer billing subscription.",
      "properties": {
        "properties": {
          "description": "Request parameters to transfer billing subscription.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransferBillingSubscriptionRequestProperties"
        }
      }
    },
    "TransferBillingSubscriptionRequestProperties": {
      "type": "object",
      "description": "Request parameters to transfer billing subscription.",
      "properties": {
        "destinationInvoiceSectionId": {
          "type": "string",
          "description": "The destination invoice section id."
        },
        "destinationBillingProfileId": {
          "type": "string",
          "description": "The destination billing profile id."
        }
      }
    },
    "ValidateSubscriptionTransferEligibilityResult": {
      "type": "object",
      "description": "Result of the transfer eligibility validation.",
      "properties": {
        "isTransferEligible": {
          "description": "Specifies whether the transfer is eligible or not.",
          "type": "boolean",
          "readOnly": true
        },
        "errorDetails": {
          "description": "Validation error details.",
          "$ref": "#/definitions/ValidateSubscriptionTransferEligibilityError"
        }
      }
    },
    "ValidateSubscriptionTransferEligibilityError": {
      "type": "object",
      "description": "Error details of the transfer eligibility validation",
      "properties": {
        "code": {
          "description": "Error code for the product transfer validation.",
          "$ref": "#/definitions/SubscriptionTransferValidationErrorCode"
        },
        "message": {
          "description": "The error message.",
          "type": "string"
        },
        "details": {
          "description": "Detailed error message explaining the error.",
          "type": "string"
        }
      }
    },
    "SubscriptionTransferValidationErrorCode": {
      "type": "string",
      "description": "Error code of the transfer validation response.",
      "enum": [
        "InvalidSource",
        "SubscriptionNotActive",
        "InsufficientPermissionOnSource",
        "InsufficientPermissionOnDestination",
        "DestinationBillingProfilePastDue",
        "SubscriptionTypeNotSupported",
        "CrossBillingAccountNotAllowed",
        "NotAvailableForDestinationMarket"
      ],
      "x-ms-enum": {
        "name": "subscriptionTransferValidationErrorCode",
        "modelAsString": true
      }
    },
    "UpdateAutoRenewOperation": {
      "type": "object",
      "description": "Summary of cancel product operation",
      "properties": {
        "properties": {
          "description": "Summary of update auto renew operation properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpdateAutoRenewOperationProperties"
        }
      }
    },
    "UpdateAutoRenewOperationProperties": {
      "type": "object",
      "description": "update auto renew operation properties",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of this asset"
        }
      }
    },
    "BillingAccountListResult": {
      "description": "Result of listing billing accounts.",
      "properties": {
        "value": {
          "description": "The list of billing accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingAccount": {
      "description": "A billing account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingAccountProperties"
        }
      }
    },
    "BillingAccountProperties": {
      "description": "The properties of the billing account.",
      "properties": {
        "displayName": {
          "description": "The billing account name.",
          "type": "string",
          "readOnly": true
        },
        "address": {
          "description": "The address associated with billing account.",
          "$ref": "#/definitions/AddressDetails"
        },
        "agreementType": {
          "description": "The type of agreement.",
          "type": "string",
          "enum": [
            "MicrosoftCustomerAgreement",
            "EnterpriseAgreement",
            "MicrosoftOnlineServicesProgram",
            "MicrosoftPartnerAgreement"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "AgreementType",
            "modelAsString": true
          }
        },
        "customerType": {
          "description": "The type of customer.",
          "type": "string",
          "enum": [
            "Enterprise",
            "Individual",
            "Partner"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "CustomerType",
            "modelAsString": true
          }
        },
        "accountType": {
          "description": "The type of customer.",
          "type": "string",
          "enum": [
            "Enterprise",
            "Individual",
            "Partner"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "AccountType",
            "modelAsString": true
          }
        },
        "billingProfiles": {
          "description": "The billing profiles associated to the billing account. By default this is not populated, unless it's specified in $expand.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingProfile"
          }
        },
        "enrollmentDetails": {
          "description": "The details about the associated legacy enrollment. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/Enrollment",
          "readOnly": true
        },
        "departments": {
          "description": "The departments associated to the enrollment.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "enrollmentAccounts": {
          "description": "The accounts associated to the enrollment.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "organizationId": {
          "description": "Organization id.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingAccountUpdateRequest": {
      "description": "The request properties of the billing account that can be updated.",
      "properties": {
        "properties": {
          "description": "A billing property.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingAccountProperties"
        }
      }
    },
    "BillingProperty": {
      "description": "A billing property resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing property.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPropertyProperties"
        }
      }
    },
    "BillingPropertyProperties": {
      "description": "The billing property.",
      "properties": {
        "billingTenantId": {
          "description": "Billing tenant Id.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountId": {
          "description": "Billing account Id.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountDisplayName": {
          "description": "Billing account display name.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Billing profile Id.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "Billing profile display name.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileStatus": {
          "description": "The status of the billing profile.",
          "enum": [
            "Active",
            "Disabled",
            "Warned"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatus",
            "modelAsString": true
          }
        },
        "billingProfileStatusReasonCode": {
          "description": "Reason for the specified billing profile status.",
          "enum": [
            "PastDue",
            "SpendingLimitReached",
            "SpendingLimitExpired"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatusReasonCode",
            "modelAsString": true
          }
        },
        "billingProfileSpendingLimit": {
          "description": "The billing profile spending limit.",
          "enum": [
            "Off",
            "On"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileSpendingLimit",
            "modelAsString": true
          }
        },
        "costCenter": {
          "description": "Cost center name.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Invoice Section Id.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "Invoice Section display name.",
          "type": "string",
          "readOnly": true
        },
        "productId": {
          "description": "Product Id.",
          "type": "string",
          "readOnly": true
        },
        "productName": {
          "description": "Product name.",
          "type": "string",
          "readOnly": true
        },
        "skuId": {
          "description": "SKU Id.",
          "type": "string",
          "readOnly": true
        },
        "skuDescription": {
          "description": "SKU description.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Enrollment": {
      "description": "Current entity level details",
      "properties": {
        "startDate": {
          "description": "Enrollment Start Date",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "Enrollment End Date",
          "type": "string",
          "format": "date-time"
        },
        "currency": {
          "description": "The currency associated with enrollment",
          "type": "string",
          "readOnly": true
        },
        "channel": {
          "description": "The channel for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "policies": {
          "description": "The attributes associated with legacy enrollment.",
          "$ref": "#/definitions/EnrollmentPolicies",
          "readOnly": true
        },
        "language": {
          "description": "The language for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "The countryCode for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Enrollment status",
          "type": "string",
          "readOnly": true
        },
        "billingCycle": {
          "description": "Enrollment billing cycle",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentPolicies": {
      "description": "The attributes associated with legacy enrollment",
      "properties": {
        "accountOwnerViewCharges": {
          "description": "The accountOwnerViewCharges flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "departmentAdminViewCharges": {
          "description": "The departmentAdminViewCharges flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "marketplacesEnabled": {
          "description": "The marketplaces flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "reservedInstancesEnabled": {
          "description": "The reserved instances flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DepartmentListResult": {
      "description": "Result of listing departments.",
      "properties": {
        "value": {
          "description": "The list of departments.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Department": {
      "description": "A department resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A department.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DepartmentProperties"
        }
      }
    },
    "DepartmentProperties": {
      "description": "The properties of the department.",
      "properties": {
        "departmentName": {
          "description": "The name for department.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center name.",
          "type": "string"
        },
        "status": {
          "description": "The status for department.",
          "type": "string"
        },
        "enrollmentAccounts": {
          "description": "Associated enrollment accounts. By default this is not populated, unless it's specified in $expand.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        }
      }
    },
    "EnrollmentAccountListResult": {
      "description": "Result of listing enrollment accounts.",
      "properties": {
        "value": {
          "description": "The list of enrollment accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccount": {
      "description": "An account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of the account.",
      "properties": {
        "accountName": {
          "description": "The account name.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center name.",
          "type": "string"
        },
        "accountOwner": {
          "description": "The account owner",
          "type": "string"
        },
        "status": {
          "description": "The status for account.",
          "type": "string"
        },
        "startDate": {
          "description": "Account Start Date",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "Account End Date",
          "type": "string",
          "format": "date-time"
        },
        "department": {
          "description": "Associated department. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/Department"
        }
      }
    },
    "InstructionListResult": {
      "description": "Result of listing instructions.",
      "properties": {
        "value": {
          "description": "The list of instructions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Instruction"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingProfileListResult": {
      "description": "Result of listing billing profiles.",
      "properties": {
        "value": {
          "description": "The list of billing profiles.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingProfile"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingProfile": {
      "description": "A billing profile resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing profile.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingProfileProperties"
        }
      }
    },
    "Instruction": {
      "description": "A instruction resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing instruction.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InstructionProperties"
        }
      }
    },
    "InstructionProperties": {
      "description": "A billing instruction used during invoice generation.",
      "required": [
        "amount",
        "startDate",
        "endDate"
      ],
      "properties": {
        "amount": {
          "description": "The amount budgeted for this billing instruction.",
          "type": "number"
        },
        "startDate": {
          "description": "The date this billing instruction goes into effect.",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The date this billing instruction is no longer in effect.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "BillingProfileCreationRequest": {
      "description": "The request parameters for creating a new billing profile.",
      "properties": {
        "displayName": {
          "description": "The billing profile name.",
          "type": "string"
        },
        "poNumber": {
          "description": "Purchase order number.",
          "type": "string"
        },
        "address": {
          "description": "Billing address.",
          "$ref": "#/definitions/AddressDetails"
        },
        "invoiceEmailOptIn": {
          "description": "If the billing profile is opted in to receive invoices via email.",
          "type": "boolean"
        },
        "enabledAzurePlans": {
          "description": "Enabled azure plans for this billing profile.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzurePlan"
          }
        }
      }
    },
    "BillingProfileProperties": {
      "description": "The properties of the billing profile.",
      "properties": {
        "displayName": {
          "description": "The billing profile name.",
          "type": "string"
        },
        "poNumber": {
          "description": "Purchase order number.",
          "type": "string"
        },
        "address": {
          "description": "Billing address.",
          "$ref": "#/definitions/AddressDetails"
        },
        "invoiceEmailOptIn": {
          "description": "If the billing profile is opted in to receive invoices via email.",
          "type": "boolean"
        },
        "invoiceDay": {
          "description": "Invoice day.",
          "type": "integer",
          "readOnly": true
        },
        "currency": {
          "description": "The currency associated with the billing profile.",
          "type": "string",
          "readOnly": true
        },
        "enabledAzurePlans": {
          "description": "Information about the enabled azure plans.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzurePlan"
          }
        },
        "invoiceSections": {
          "description": "The invoice sections associated to the billing profile.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvoiceSection"
          }
        },
        "status": {
          "description": "The status of the billing profile.",
          "enum": [
            "Active",
            "Disabled",
            "Warned"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatus",
            "modelAsString": true
          }
        },
        "statusReasonCode": {
          "description": "Reason for the specified billing profile status.",
          "enum": [
            "PastDue",
            "SpendingLimitReached",
            "SpendingLimitExpired"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "StatusReasonCode",
            "modelAsString": true
          }
        },
        "spendingLimit": {
          "description": "The billing profile spending limit.",
          "enum": [
            "Off",
            "On"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "SpendingLimit",
            "modelAsString": true
          }
        }
      }
    },
    "AddressDetails": {
      "description": "Address details.",
      "properties": {
        "firstName": {
          "description": "First Name.",
          "type": "string"
        },
        "lastName": {
          "description": "Last Name.",
          "type": "string"
        },
        "companyName": {
          "description": "Company Name.",
          "type": "string"
        },
        "addressLine1": {
          "description": "Address Line1.",
          "type": "string"
        },
        "addressLine2": {
          "description": "Address Line2.",
          "type": "string"
        },
        "addressLine3": {
          "description": "Address Line3.",
          "type": "string"
        },
        "city": {
          "description": "Address City.",
          "type": "string"
        },
        "region": {
          "description": "Address Region.",
          "type": "string"
        },
        "country": {
          "description": "Country code uses ISO2, 2-digit format.",
          "type": "string"
        },
        "postalCode": {
          "description": "Address Postal Code.",
          "type": "string"
        }
      }
    },
    "InvoiceSectionCreationRequest": {
      "description": "The properties of an InvoiceSection.",
      "properties": {
        "displayName": {
          "description": "The name of the InvoiceSection.",
          "type": "string"
        }
      }
    },
    "InvoiceSectionListResult": {
      "description": "Result of listing invoice sections.",
      "properties": {
        "value": {
          "description": "The list of invoice sections.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/InvoiceSection"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceSection": {
      "description": "An InvoiceSection resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The InvoiceSection.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceSectionProperties"
        }
      }
    },
    "InvoiceSectionProperties": {
      "description": "The properties of an InvoiceSection.",
      "properties": {
        "displayName": {
          "description": "The name of the InvoiceSection.",
          "type": "string"
        }
      }
    },
    "InvoiceSectionListWithCreateSubPermissionResult": {
      "type": "object",
      "description": "Result of listing invoice section properties with create subscription permission.",
      "properties": {
        "value": {
          "description": "The list of invoice section properties with create subscription permission.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvoiceSectionWithCreateSubPermission"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceSectionWithCreateSubPermission": {
      "description": "Invoice section properties with create subscription permission.",
      "properties": {
        "invoiceSectionId": {
          "description": "Invoice Section Id.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "Invoice Section display name.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Billing profile Id.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "Billing profile display name.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileStatus": {
          "description": "The status of the billing profile.",
          "enum": [
            "Active",
            "Disabled",
            "Warned"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatus",
            "modelAsString": true
          }
        },
        "billingProfileStatusReasonCode": {
          "description": "Reason for the specified billing profile status.",
          "enum": [
            "PastDue",
            "SpendingLimitReached",
            "SpendingLimitExpired"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatusReasonCode",
            "modelAsString": true
          }
        },
        "billingProfileSpendingLimit": {
          "description": "The billing profile spending limit.",
          "enum": [
            "Off",
            "On"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileSpendingLimit",
            "modelAsString": true
          }
        },
        "enabledAzurePlans": {
          "description": "Enabled azure plans for the associated billing profile.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzurePlan"
          }
        }
      }
    },
    "AzurePlan": {
      "description": "Details about the azure plan.",
      "properties": {
        "skuId": {
          "description": "The sku id.",
          "type": "string"
        },
        "skuDescription": {
          "description": "The sku description.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DownloadUrl": {
      "description": "A secure URL that can be used to download a an entity until the URL expires.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download URL will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "url": {
          "description": "The URL to the PDF file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Reseller": {
      "description": "Details about a reseller.",
      "properties": {
        "resellerId": {
          "description": "The reseller id.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "A description of the reseller.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "InvoiceListResult": {
      "description": "Result of listing invoices.",
      "properties": {
        "value": {
          "description": "The list of invoices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Invoice": {
      "description": "An invoice resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An invoice.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      }
    },
    "InvoiceProperties": {
      "description": "The properties of the invoice.",
      "properties": {
        "dueDate": {
          "description": "The due date for invoice.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "invoiceDate": {
          "description": "The date when invoice was created.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "description": "Invoice status.",
          "type": "string",
          "enum": [
            "PastDue",
            "Due",
            "Paid",
            "Void"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "InvoiceStatus",
            "modelAsString": true
          }
        },
        "amountDue": {
          "description": "Amount due.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "billedAmount": {
          "description": "Amount billed.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "invoicePeriodStartDate": {
          "description": "The start date of the billing period.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "invoicePeriodEndDate": {
          "description": "The end date of the billing period.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "invoiceType": {
          "description": "Invoice type.",
          "enum": [
            "AzureService",
            "AzureMarketplace",
            "AzureSupport"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "InvoiceType",
            "modelAsString": true
          }
        },
        "billingProfileId": {
          "description": "The billing profile id this invoice belongs to.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "The billing profile display name this invoice belongs to.",
          "type": "string",
          "readOnly": true
        },
        "purchaseOrderNumber": {
          "description": "The purchase identifier for the invoice.",
          "type": "string",
          "readOnly": true
        },
        "documents": {
          "description": "List of documents available to download including invoice and tax documents.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "payments": {
          "description": "List of payments.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PaymentProperties"
          }
        }
      }
    },
    "PaymentProperties": {
      "description": "The properties of the payment.",
      "properties": {
        "paymentType": {
          "description": "The type of payment.",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "description": "The paid amount.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "date": {
          "description": "The date of the payment.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "paymentMethodFamily": {
          "description": "The payment method family.",
          "type": "string",
          "enum": [
            "Credits",
            "CheckWire",
            "CreditCard",
            "None"
          ],
          "x-ms-enum": {
            "name": "PaymentMethodFamily",
            "modelAsString": true
          }
        },
        "paymentMethodType": {
          "description": "The type of payment method.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Document": {
      "description": "The properties of the invoice download.",
      "properties": {
        "kind": {
          "description": "Document type.",
          "type": "string",
          "enum": [
            "Invoice",
            "VoidNote",
            "Receipt",
            "CreditNote"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "DocumentType",
            "modelAsString": true
          }
        },
        "url": {
          "description": "Document URL.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProductsListResult": {
      "description": "Result of listing products. It contains a list of available products summaries in reverse chronological order by purchase date.",
      "properties": {
        "value": {
          "description": "The list of products.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Product": {
      "description": "A product resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductProperties",
          "title": "Product properties"
        }
      }
    },
    "ProductProperties": {
      "description": "The properties of the product.",
      "properties": {
        "displayName": {
          "description": "The display name of the product.",
          "type": "string",
          "readOnly": true
        },
        "purchaseDate": {
          "description": "The date of purchase.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "productTypeId": {
          "description": "The product type id.",
          "type": "string",
          "readOnly": true
        },
        "productType": {
          "description": "The type of product.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Product status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "PastDue",
            "Expiring",
            "Expired",
            "Disabled",
            "Cancelled",
            "AutoRenew"
          ],
          "x-ms-enum": {
            "name": "ProductStatusType",
            "modelAsString": true
          }
        },
        "endDate": {
          "description": "end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingFrequency": {
          "description": "Billing frequency.",
          "type": "string",
          "enum": [
            "OneTime",
            "Monthly",
            "UsageBased"
          ],
          "x-ms-enum": {
            "name": "BillingFrequency",
            "modelAsString": true
          }
        },
        "lastCharge": {
          "description": "Last month charges.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "lastChargeDate": {
          "description": "The date of the last charge.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "quantity": {
          "description": "The purchased product quantity.",
          "type": "number",
          "readOnly": true
        },
        "skuId": {
          "description": "Sku Id.",
          "type": "string",
          "readOnly": true
        },
        "skuDescription": {
          "description": "Sku description.",
          "type": "string",
          "readOnly": true
        },
        "availabilityId": {
          "description": "Availability Id.",
          "type": "string",
          "readOnly": true
        },
        "parentProductId": {
          "description": "Parent Product Id.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Invoice section id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "Invoice section display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Billing Profile id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "Billing Profile display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerId": {
          "description": "Customer id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerDisplayName": {
          "description": "Display name of customer to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "reseller": {
          "description": "Reseller for this product.",
          "readOnly": true,
          "$ref": "#/definitions/Reseller"
        }
      }
    },
    "ValidateProductTransferEligibilityResult": {
      "type": "object",
      "description": "Result of the product transfer eligibility validation.",
      "properties": {
        "isTransferEligible": {
          "description": "Specifies whether the transfer is eligible or not.",
          "type": "boolean",
          "readOnly": true
        },
        "errorDetails": {
          "description": "Validation error details.",
          "$ref": "#/definitions/ValidateProductTransferEligibilityError"
        }
      }
    },
    "ValidateProductTransferEligibilityError": {
      "type": "object",
      "description": "Error details of the product transfer eligibility validation.",
      "properties": {
        "code": {
          "description": "Error code for the product transfer validation.",
          "$ref": "#/definitions/ProductTransferValidationErrorCode"
        },
        "message": {
          "description": "The error message.",
          "type": "string"
        },
        "details": {
          "description": "Detailed error message explaining the error.",
          "type": "string"
        }
      }
    },
    "ProductTransferValidationErrorCode": {
      "type": "string",
      "description": "Error code of the transfer validation response.",
      "enum": [
        "InvalidSource",
        "ProductNotActive",
        "InsufficientPermissionOnSource",
        "InsufficientPermissionOnDestination",
        "DestinationBillingProfilePastDue",
        "ProductTypeNotSupported",
        "CrossBillingAccountNotAllowed",
        "NotAvailableForDestinationMarket",
        "OneTimePurchaseProductTransferNotAllowed"
      ],
      "x-ms-enum": {
        "name": "productTransferValidationErrorCode",
        "modelAsString": true
      }
    },
    "BillingSubscriptionsListResult": {
      "description": "Result of listing billing subscriptions.",
      "properties": {
        "value": {
          "description": "The list of billing subscriptions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingSubscription"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingSubscription": {
      "description": "A billing Subscription resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingSubscriptionProperties",
          "title": "Billing subscription properties"
        }
      }
    },
    "BillingSubscriptionProperties": {
      "description": "The usage context properties.",
      "properties": {
        "displayName": {
          "description": "display name.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionId": {
          "description": "Subscription Id.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "subscriptionBillingStatus": {
          "description": "Subscription billing status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Abandoned",
            "Deleted",
            "Warning"
          ],
          "x-ms-enum": {
            "name": "BillingSubscriptionStatusType",
            "modelAsString": true
          }
        },
        "lastMonthCharges": {
          "description": "Last month charges.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "monthToDateCharges": {
          "description": "Month to date charges.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "billingProfileId": {
          "description": "Billing Profile id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "Billing Profile display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerId": {
          "description": "Customer id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerDisplayName": {
          "description": "Display name of customer to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Invoice section id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "Invoice section display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "reseller": {
          "description": "Reseller for this subscription.",
          "readOnly": true,
          "$ref": "#/definitions/Reseller"
        },
        "skuId": {
          "description": "The sku id.",
          "type": "string"
        },
        "skuDescription": {
          "description": "The sku description.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccountContext": {
      "description": "The rating context.",
      "properties": {
        "costCenter": {
          "description": "The cost center name.",
          "type": "string"
        },
        "startDate": {
          "description": "Account Start Date",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "Account End Date",
          "type": "string",
          "format": "date-time"
        },
        "enrollmentAccountName": {
          "description": "The enrollment account id.",
          "type": "string"
        }
      }
    },
    "TransactionListResult": {
      "description": "Result of listing reservation transactions.",
      "properties": {
        "value": {
          "description": "The list of reservation transactions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Transaction"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Transaction": {
      "description": "A reservation transaction resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransactionProperties",
          "title": "Reservation transaction properties"
        }
      }
    },
    "TransactionProperties": {
      "description": "The properties of the reservation transaction.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of transaction. Choices are all and reservation.",
          "enum": [
            "all",
            "reservation"
          ],
          "x-ms-enum": {
            "name": "TransactionTypeKind",
            "modelAsString": true
          }
        },
        "date": {
          "description": "The date of reservation transaction.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "invoice": {
          "description": "Invoice number or 'pending' if not invoiced.",
          "type": "string",
          "readOnly": true
        },
        "orderId": {
          "description": "The reservation order id.",
          "type": "string",
          "readOnly": true
        },
        "orderName": {
          "description": "The reservation order name.",
          "type": "string",
          "readOnly": true
        },
        "productFamily": {
          "description": "The product family.",
          "type": "string",
          "readOnly": true
        },
        "productTypeId": {
          "description": "The product type id.",
          "type": "string",
          "readOnly": true
        },
        "productType": {
          "description": "The type of product.",
          "type": "string",
          "readOnly": true
        },
        "productDescription": {
          "description": "Product description.",
          "type": "string",
          "readOnly": true
        },
        "transactionType": {
          "description": "Transaction types.",
          "type": "string",
          "enum": [
            "Purchase",
            "Usage Charge"
          ],
          "x-ms-enum": {
            "name": "ReservationType",
            "modelAsString": true
          }
        },
        "transactionAmount": {
          "description": "Last charge associated with the purchase.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "quantity": {
          "description": "Purchase quantity.",
          "type": "integer",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Invoice section id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "Invoice section display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Billing Profile id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "Billing Profile display name to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerId": {
          "description": "Customer id to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "customerDisplayName": {
          "description": "Display name of customer to which this product belongs.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionId": {
          "description": "The subscription id.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "The subscription name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Policy": {
      "description": "The Policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicyProperties",
          "title": "Policy properties"
        }
      }
    },
    "PolicyProperties": {
      "description": "The properties of policy.",
      "properties": {
        "marketplacePurchases": {
          "description": "The marketplace purchases are free, allowed or not allowed.",
          "type": "string",
          "enum": [
            "AllAllowed",
            "OnlyFreeAllowed",
            "NotAllowed"
          ],
          "x-ms-enum": {
            "name": "MarketplacePurchasesPolicy",
            "modelAsString": true
          }
        },
        "reservationPurchases": {
          "description": "The reservation purchases allowed or not.",
          "type": "string",
          "enum": [
            "Allowed",
            "NotAllowed"
          ],
          "x-ms-enum": {
            "name": "ReservationPurchasesPolicy",
            "modelAsString": true
          }
        },
        "viewCharges": {
          "description": "Who can view charges.",
          "type": "string",
          "enum": [
            "Allowed",
            "NotAllowed"
          ],
          "x-ms-enum": {
            "name": "ViewChargesPolicy",
            "modelAsString": true
          }
        }
      }
    },
    "CustomerPolicy": {
      "description": "The Customer's Policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CustomerPolicyProperties",
          "title": "Customer Policy properties"
        }
      }
    },
    "CustomerPolicyProperties": {
      "description": "The properties of a Customer's policy.",
      "properties": {
        "viewCharges": {
          "description": "Customer can view retail prices.",
          "type": "string",
          "enum": [
            "Allowed",
            "NotAllowed"
          ],
          "x-ms-enum": {
            "name": "ViewCharges",
            "modelAsString": true
          }
        }
      }
    },
    "AvailableBalance": {
      "description": "Latest available balance on Monetary Credit PI.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AvailableBalanceProperties",
          "title": "Available balance properties"
        }
      }
    },
    "AvailableBalanceProperties": {
      "description": "The properties of available balance.",
      "properties": {
        "amount": {
          "description": "Balance Amount.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        }
      }
    },
    "Amount": {
      "description": "The Amount.",
      "properties": {
        "currency": {
          "description": "The currency for the amount value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Amount value.",
          "type": "number"
        }
      }
    },
    "PaymentMethodsListResult": {
      "description": "Result of listing payment methods.",
      "properties": {
        "value": {
          "description": "The list of payment methods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PaymentMethod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PaymentMethod": {
      "description": "A payment method resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PaymentMethodProperties",
          "title": "Payment method properties"
        }
      }
    },
    "PaymentMethodProperties": {
      "description": "The properties of the payment method.",
      "properties": {
        "paymentMethodType": {
          "description": "Payment method type.",
          "type": "string",
          "enum": [
            "Credits",
            "ChequeWire"
          ],
          "x-ms-enum": {
            "name": "PaymentMethodType",
            "modelAsString": true
          }
        },
        "details": {
          "description": "Details about the payment method.",
          "type": "string",
          "readOnly": true
        },
        "expiration": {
          "description": "Expiration month and year.",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "description": "The currency associated with the payment method.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateAutoRenewRequest": {
      "type": "object",
      "description": "Request parameters to update auto renew for support product.",
      "properties": {
        "autoRenew": {
          "description": "Request parameters to update auto renew policy a product.",
          "type": "string",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "name": "UpdateAutoRenew",
            "modelAsString": true
          }
        }
      }
    },
    "Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result listing billing operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingRoleAssignmentPayload": {
      "description": "The payload use to update role assignment on a scope",
      "properties": {
        "principalId": {
          "description": "The user's principal id that the role gets assigned to",
          "type": "string"
        },
        "billingRoleDefinitionId": {
          "description": "The role definition id",
          "type": "string"
        }
      }
    },
    "BillingRoleAssignmentListResult": {
      "description": "Result of get list of role assignments",
      "properties": {
        "value": {
          "description": "The list role assignments",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingRoleAssignment"
          }
        }
      }
    },
    "BillingRoleAssignment": {
      "description": "a role assignment",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The role assignment the caller has",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingRoleAssignmentProperties"
        }
      }
    },
    "BillingRoleAssignmentProperties": {
      "description": "The properties of the a role assignment.",
      "properties": {
        "createdOn": {
          "description": "the date the role assignment is created",
          "type": "string",
          "readOnly": true
        },
        "createdByPrincipalTenantId": {
          "description": "the creator's tenant Id",
          "type": "string",
          "readOnly": true
        },
        "createdByPrincipalId": {
          "description": "the creator's principal Id",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "the name of the role assignment",
          "type": "string",
          "readOnly": true
        },
        "principalId": {
          "description": "The user's principal id that the role gets assigned to",
          "type": "string",
          "readOnly": true
        },
        "roleDefinitionName": {
          "description": "The role definition id",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "description": "The scope the role get assigned to",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingRoleDefinitionListResult": {
      "description": "list the role definitions.",
      "properties": {
        "value": {
          "description": "The list of role definitions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingRoleDefinition"
          }
        }
      }
    },
    "BillingRoleDefinition": {
      "description": "Result of get role definition for a role.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The role definition for a role.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingRoleDefinitionProperties"
        }
      }
    },
    "BillingRoleDefinitionProperties": {
      "description": "The properties of the a role definition.",
      "properties": {
        "description": {
          "description": "The role description",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "description": "The billingPermissions the role has",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingPermissionsProperties"
          }
        },
        "roleName": {
          "description": "The name of the role",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPermissionsListResult": {
      "description": "Result of list billingPermissions a caller has on a billing account.",
      "properties": {
        "value": {
          "description": "The list of billingPermissions a caller has on a billing account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingPermissionsProperties"
          }
        }
      }
    },
    "BillingPermissionsProperties": {
      "description": "The set of allowed action and not allowed actions a caller has on a billing account",
      "type": "object",
      "properties": {
        "actions": {
          "description": "The set of actions that the caller is allowed to do",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Action"
          }
        },
        "notActions": {
          "description": "The set of actions the caller is not allowed to do",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/NotAction"
          }
        }
      }
    },
    "AgreementListResult": {
      "description": "Result of listing agreements.",
      "properties": {
        "value": {
          "description": "The list of agreements.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Agreement"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Agreement": {
      "description": "An agreement resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An agreement.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgreementProperties"
        }
      }
    },
    "AgreementProperties": {
      "description": "The properties of the agreement.",
      "properties": {
        "agreementLink": {
          "description": "The link to the agreement.",
          "type": "string",
          "readOnly": true
        },
        "effectiveDate": {
          "description": "Effective date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "expirationDate": {
          "description": "Expiration date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "participants": {
          "description": "Participants or signer of the agreement.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Participants"
          }
        },
        "status": {
          "description": "The agreement status",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ValidateTransferListResponse": {
      "description": "Result of transfer validation.",
      "properties": {
        "value": {
          "description": "The list of transfer validation results.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ValidateTransferResponse"
          }
        }
      }
    },
    "ValidateTransferResponse": {
      "type": "object",
      "description": "Transfer validation response.",
      "properties": {
        "properties": {
          "description": "Transfer validation response properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ValidateTransferResponseProperties"
        }
      }
    },
    "ValidateTransferResponseProperties": {
      "type": "object",
      "description": "Properties of transfer validation response.",
      "properties": {
        "status": {
          "description": "The status of validation",
          "type": "string",
          "readOnly": true
        },
        "productId": {
          "description": "The product id for which this result applies.",
          "type": "string",
          "readOnly": true
        },
        "results": {
          "description": "Array of validation results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResultProperties"
          }
        }
      }
    },
    "ValidationResultProperties": {
      "description": "The properties of the validation result.",
      "properties": {
        "level": {
          "description": "Result Level.",
          "type": "string",
          "readOnly": true
        },
        "code": {
          "description": "Result Code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The validation message.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Participants": {
      "description": "Details about the participant or signer.",
      "properties": {
        "status": {
          "description": "The signing status",
          "type": "string",
          "readOnly": true
        },
        "statusDate": {
          "description": "The date when status got changed.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "email": {
          "description": "The email address of the participant or signer.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LineOfCredit": {
      "description": "Line of credit resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A line of credit.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LineOfCreditProperties"
        }
      }
    },
    "LineOfCreditProperties": {
      "description": "The properties of the line of credit.",
      "properties": {
        "creditLimit": {
          "description": "The current credit limit.",
          "$ref": "#/definitions/Amount",
          "readOnly": false
        },
        "reason": {
          "description": "The reason for the line of credit status when not approved.",
          "type": "string",
          "readOnly": true
        },
        "remainingBalance": {
          "description": "Remaining balance.",
          "$ref": "#/definitions/Amount",
          "readOnly": true
        },
        "status": {
          "description": "The line of credit status.",
          "type": "string",
          "enum": [
            "Approved",
            "Rejected"
          ],
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        }
      }
    },
    "Action": {
      "description": "the action the caller allowed to do",
      "type": "string",
      "readOnly": true
    },
    "NotAction": {
      "description": "the action the caller doesn't allowed to do",
      "type": "string",
      "readOnly": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2019-10-01-preview."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "billing Account Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "invoiceSectionNameParameter": {
      "name": "invoiceSectionName",
      "in": "path",
      "description": "InvoiceSection Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "enrollmentAccountNameParameter": {
      "name": "enrollmentAccountName",
      "in": "path",
      "description": "Enrollment Account Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "departmentNameParameter": {
      "name": "departmentName",
      "in": "path",
      "description": "Department Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "instructionNameParameter": {
      "name": "instructionName",
      "in": "path",
      "description": "Instruction Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileNameParameter": {
      "name": "billingProfileName",
      "in": "path",
      "description": "Billing Profile Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "operationIdParameter": {
      "name": "operationId",
      "in": "path",
      "description": "Operation Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingRoleDefinitionNameParameter": {
      "name": "billingRoleDefinitionName",
      "in": "path",
      "description": "role definition id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingRoleAssignmentNameParameter": {
      "name": "billingRoleAssignmentName",
      "in": "path",
      "description": "role assignment id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "invoiceNameParameter": {
      "name": "invoiceName",
      "in": "path",
      "description": "Invoice Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "productNameParameter": {
      "name": "productName",
      "in": "path",
      "description": "Invoice Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingSubscriptionNameParameter": {
      "name": "billingSubscriptionName",
      "in": "path",
      "description": "Billing Subscription Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "transferNameParameter": {
      "name": "transferName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Transfer Name."
    },
    "agreementNameParameter": {
      "name": "agreementName",
      "in": "path",
      "description": "Agreement Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "transactionNameParameter": {
      "name": "transactionName",
      "in": "path",
      "description": "Transaction name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "updateAutoRenewRequestParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Update auto renew request parameters.",
      "schema": {
        "$ref": "#/definitions/UpdateAutoRenewRequest"
      }
    },
    "customerNameParameter": {
      "name": "customerName",
      "in": "path",
      "description": "Customer name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-id": "billing",
  "x-internal-service-name": "Billing",
  "x-internal-toc-name": "Payment Methods",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByBillingProfile",
  "x-internal-operation-name": "List By Billing Profile"
}