{
  "swagger": "2.0",
  "info": {
    "version": "2018-04-01",
    "x-ms-code-generation-settings": {
      "header": "MICROSOFT_MIT_NO_VERSION"
    },
    "title": "iotHubClient",
    "description": "Use this API to manage the IoT hubs in your Azure subscription."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Devices/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "Operations_List": {
            "parameters": {
              "api-version": "2018-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.Devices/register/action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Register Resource Provider",
                        "description": "Register the subscription for the IotHub resource provider and enables the creation of IotHub resources"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/IotHubs/diagnosticSettings/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get Diagnostic Setting",
                        "description": "Gets the diagnostic setting for the resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/IotHubs/diagnosticSettings/write",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Set Diagnostic Setting",
                        "description": "Creates or updates the diagnostic setting for the resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/IotHubs/metricDefinitions/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Read IotHub service metric definitions",
                        "description": "Gets the available metrics for the IotHub service"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/IotHubs/logDefinitions/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Read IotHub service log definitions",
                        "description": "Gets the available log definitions for the IotHub Service"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/operations/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get All ResourceProvider Operations",
                        "description": "Get All ResourceProvider Operations"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/checkNameAvailability/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Check If IotHub name is available",
                        "description": "Check If IotHub name is available"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/usages/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get Subscription Usages",
                        "description": "Get subscription usage details for this provider."
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get IotHub(s)",
                        "description": "Gets the IotHub resource(s)"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/Write",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Create or update IotHub Resource",
                        "description": "Create or update IotHub Resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/Delete",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Delete IotHub Resource",
                        "description": "Delete IotHub Resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/iotHubStats/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get IotHub Statistics",
                        "description": "Get IotHub Statistics"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/skus/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get valid IotHub Skus",
                        "description": "Get valid IotHub Skus"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/listkeys/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get all IotHub Keys",
                        "description": "Get all IotHub Keys"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/iotHubKeys/listkeys/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get IotHub Key for the given name",
                        "description": "Get IotHub Key for the given name"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Write",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Create EventHub Consumer Group",
                        "description": "Create EventHub Consumer Group"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get EventHub Consumer Group(s)",
                        "description": "Get EventHub Consumer Group(s)"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Delete",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Delete EventHub Consumer Group",
                        "description": "Delete EventHub Consumer Group"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/exportDevices/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Export Devices",
                        "description": "Export Devices"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/importDevices/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Import Devices",
                        "description": "Import Devices"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/jobs/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get the Job(s) on IotHub",
                        "description": "Get Job(s) details submitted on given IotHub"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/quotaMetrics/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get Quota Metrics",
                        "description": "Get Quota Metrics"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/routing/routes/$testall/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Routing Rule Test All",
                        "description": "Test a message against all existing Routes"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/routing/routes/$testnew/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Routing Rule Test Route",
                        "description": "Test a message against a provided test Route"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/iotHubs/routingEndpointsHealth/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get Endpoint Health",
                        "description": "Gets the health of all routing Endpoints for an IotHub"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/ProvisioningServices/diagnosticSettings/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Get Diagnostic Setting",
                        "description": "Gets the diagnostic setting for the resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/ProvisioningServices/diagnosticSettings/write",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Set Diagnostic Setting",
                        "description": "Creates or updates the diagnostic setting for the resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/ProvisioningServices/metricDefinitions/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Read DPS service metric definitions",
                        "description": "Gets the available metrics for the DPS service"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/ProvisioningServices/logDefinitions/read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "IotHubs",
                        "operation": "Read DPS service log definitions",
                        "description": "Gets the available log definitions for the DPS Service"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/checkProvisioningServiceNameAvailability/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServives",
                        "operation": "Check If Provisioning Service name is available",
                        "description": "Check If Provisioning Service name is available"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/provisioningServices/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServices",
                        "operation": "Get Provisioning Service resource",
                        "description": "Get Provisioning Service resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/provisioningServices/Write",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServices",
                        "operation": "Create Provisioning Service resource",
                        "description": "Create Provisioning Service resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/provisioningServices/Delete",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServices",
                        "operation": "Delete Provisioning Service resource",
                        "description": "Delete Provisioning Service resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/provisioningServices/skus/Read",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServices",
                        "operation": "Delete Provisioning Service resource",
                        "description": "Delete Provisioning Service resource"
                      }
                    },
                    {
                      "name": "Microsoft.Devices/provisioningServices/listkeys/Action",
                      "display": {
                        "provider": "Microsoft Devices",
                        "resource": "ProvisioningServices",
                        "operation": "get security related metadata",
                        "description": "get security related metadata"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Operations_List",
        "description": "Lists all of the available IoT Hub REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "CertificateVerificationDescription": {
      "description": "The JSON-serialized leaf certificate",
      "type": "object",
      "properties": {
        "certificate": {
          "description": "base-64 representation of X509 certificate .cer file or just .pem file content.",
          "type": "string"
        }
      }
    },
    "CertificateBodyDescription": {
      "description": "The JSON-serialized X509 Certificate.",
      "type": "object",
      "properties": {
        "certificate": {
          "description": "base-64 representation of the X509 leaf certificate .cer file or just .pem file content.",
          "type": "string"
        }
      }
    },
    "CertificateListDescription": {
      "description": "The JSON-serialized array of Certificate objects.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Certificate objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateDescription"
          }
        }
      }
    },
    "CertificateDescription": {
      "description": "The X509 Certificate.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificateProperties"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource identifier."
        },
        "name": {
          "description": "The name of the certificate.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The entity tag.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "CertificateWithNonceDescription": {
      "description": "The X509 Certificate.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificatePropertiesWithNonce"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource identifier."
        },
        "name": {
          "description": "The name of the certificate.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The entity tag.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "SharedAccessSignatureAuthorizationRule": {
      "description": "The properties of an IoT hub shared access policy.",
      "type": "object",
      "properties": {
        "keyName": {
          "description": "The name of the shared access policy.",
          "type": "string"
        },
        "primaryKey": {
          "description": "The primary key.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "The secondary key.",
          "type": "string"
        },
        "rights": {
          "description": "The permissions assigned to the shared access policy.",
          "enum": [
            "RegistryRead",
            "RegistryWrite",
            "ServiceConnect",
            "DeviceConnect",
            "RegistryRead, RegistryWrite",
            "RegistryRead, ServiceConnect",
            "RegistryRead, DeviceConnect",
            "RegistryWrite, ServiceConnect",
            "RegistryWrite, DeviceConnect",
            "ServiceConnect, DeviceConnect",
            "RegistryRead, RegistryWrite, ServiceConnect",
            "RegistryRead, RegistryWrite, DeviceConnect",
            "RegistryRead, ServiceConnect, DeviceConnect",
            "RegistryWrite, ServiceConnect, DeviceConnect",
            "RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AccessRights",
            "modelAsString": false
          }
        }
      },
      "required": [
        "keyName",
        "rights"
      ]
    },
    "CertificateProperties": {
      "description": "The description of an X509 CA Certificate.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "The certificate's subject name.",
          "type": "string",
          "readOnly": true
        },
        "expiry": {
          "description": "The certificate's expiration date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        },
        "thumbprint": {
          "description": "The certificate's thumbprint.",
          "type": "string",
          "readOnly": true
        },
        "isVerified": {
          "description": "Determines whether certificate has been verified.",
          "type": "boolean",
          "readOnly": true
        },
        "created": {
          "description": "The certificate's create date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        },
        "updated": {
          "description": "The certificate's last update date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        }
      }
    },
    "CertificatePropertiesWithNonce": {
      "description": "The description of an X509 CA Certificate including the challenge nonce issued for the Proof-Of-Possession flow.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "The certificate's subject name.",
          "type": "string",
          "readOnly": true
        },
        "expiry": {
          "description": "The certificate's expiration date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        },
        "thumbprint": {
          "description": "The certificate's thumbprint.",
          "type": "string",
          "readOnly": true
        },
        "isVerified": {
          "description": "Determines whether certificate has been verified.",
          "type": "boolean",
          "readOnly": true
        },
        "created": {
          "description": "The certificate's create date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        },
        "updated": {
          "description": "The certificate's last update date and time.",
          "type": "string",
          "format": "date-time-rfc1123",
          "readOnly": true
        },
        "verificationCode": {
          "description": "The certificate's verification code that will be used for proof of possession.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubProperties": {
      "description": "The properties of an IoT hub.",
      "type": "object",
      "properties": {
        "authorizationPolicies": {
          "description": "The shared access policies you can use to secure a connection to the IoT hub.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
          }
        },
        "ipFilterRules": {
          "description": "The IP filter rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpFilterRule"
          }
        },
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Thehub state state.",
          "type": "string",
          "readOnly": true
        },
        "hostName": {
          "description": "The name of the host.",
          "type": "string",
          "readOnly": true
        },
        "eventHubEndpoints": {
          "description": "The Event Hub-compatible endpoint properties. The possible keys to this dictionary are events and operationsMonitoringEvents. Both of these keys have to be present in the dictionary while making create or update calls for the IoT hub.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/EventHubProperties"
          }
        },
        "routing": {
          "$ref": "#/definitions/RoutingProperties"
        },
        "storageEndpoints": {
          "description": "The list of Azure Storage endpoints where you can upload files. Currently you can configure only one Azure Storage account and that MUST have its key as $default. Specifying more than one storage account causes an error to be thrown. Not specifying a value for this property when the enableFileUploadNotifications property is set to True, causes an error to be thrown.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/StorageEndpointProperties"
          }
        },
        "messagingEndpoints": {
          "description": "The messaging endpoint properties for the file upload notification queue.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/MessagingEndpointProperties"
          }
        },
        "enableFileUploadNotifications": {
          "description": "If True, file upload notifications are enabled.",
          "type": "boolean"
        },
        "cloudToDevice": {
          "$ref": "#/definitions/CloudToDeviceProperties"
        },
        "comments": {
          "description": "IoT hub comments.",
          "type": "string"
        },
        "operationsMonitoringProperties": {
          "$ref": "#/definitions/OperationsMonitoringProperties"
        },
        "features": {
          "description": "The capabilities and features enabled for the IoT hub.",
          "enum": [
            "None",
            "DeviceManagement"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Capabilities",
            "modelAsString": true
          }
        }
      }
    },
    "IotHubSkuInfo": {
      "description": "Information about the SKU of the IoT hub.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU.",
          "enum": [
            "F1",
            "S1",
            "S2",
            "S3",
            "B1",
            "B2",
            "B3"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IotHubSku",
            "modelAsString": true
          }
        },
        "tier": {
          "description": "The billing tier for the IoT hub.",
          "enum": [
            "Free",
            "Standard",
            "Basic"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "IotHubSkuTier",
            "modelAsString": false
          }
        },
        "capacity": {
          "format": "int64",
          "description": "The number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits.",
          "type": "integer"
        }
      },
      "required": [
        "name"
      ]
    },
    "EventHubProperties": {
      "description": "The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.",
      "type": "object",
      "properties": {
        "retentionTimeInDays": {
          "format": "int64",
          "description": "The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages",
          "type": "integer"
        },
        "partitionCount": {
          "format": "int32",
          "description": "The number of partitions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages.",
          "type": "integer"
        },
        "partitionIds": {
          "description": "The partition ids in the Event Hub-compatible endpoint.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "path": {
          "description": "The Event Hub-compatible name.",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "description": "The Event Hub-compatible endpoint.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StorageEndpointProperties": {
      "description": "The properties of the Azure Storage endpoint for file upload.",
      "type": "object",
      "properties": {
        "sasTtlAsIso8601": {
          "description": "The period of time for which the the SAS URI generated by IoT Hub for file upload is valid. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options.",
          "type": "string",
          "format": "duration"
        },
        "connectionString": {
          "description": "The connection string for the Azure Storage account to which files are uploaded.",
          "type": "string"
        },
        "containerName": {
          "description": "The name of the root container where you upload files. The container need not exist but should be creatable using the connectionString specified.",
          "type": "string"
        }
      },
      "required": [
        "connectionString",
        "containerName"
      ]
    },
    "MessagingEndpointProperties": {
      "description": "The properties of the messaging endpoints used by this IoT hub.",
      "type": "object",
      "properties": {
        "lockDurationAsIso8601": {
          "description": "The lock duration. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.",
          "type": "string",
          "format": "duration"
        },
        "ttlAsIso8601": {
          "description": "The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.",
          "type": "string",
          "format": "duration"
        },
        "maxDeliveryCount": {
          "description": "The number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.",
          "format": "int32",
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "CloudToDeviceProperties": {
      "description": "The IoT hub cloud-to-device messaging properties.",
      "type": "object",
      "properties": {
        "maxDeliveryCount": {
          "description": "The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "format": "int32",
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        },
        "defaultTtlAsIso8601": {
          "description": "The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "type": "string",
          "format": "duration"
        },
        "feedback": {
          "$ref": "#/definitions/FeedbackProperties"
        }
      }
    },
    "OperationsMonitoringProperties": {
      "description": "The operations monitoring properties for the IoT hub. The possible keys to the dictionary are Connections, DeviceTelemetry, C2DCommands, DeviceIdentityOperations, FileUploadOperations, Routes, D2CTwinOperations, C2DTwinOperations, TwinQueries, JobsOperations, DirectMethods.",
      "type": "object",
      "properties": {
        "events": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "None",
              "Error",
              "Information",
              "Error, Information"
            ],
            "description": "The operations monitoring level.",
            "type": "string",
            "x-ms-enum": {
              "name": "OperationMonitoringLevel",
              "modelAsString": true
            }
          }
        }
      }
    },
    "IpFilterRule": {
      "description": "The IP filter rules for the IoT hub.",
      "type": "object",
      "properties": {
        "filterName": {
          "description": "The name of the IP filter rule.",
          "type": "string"
        },
        "action": {
          "description": "The desired action for requests captured by this rule.",
          "enum": [
            "Accept",
            "Reject"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IpFilterActionType",
            "modelAsString": false
          }
        },
        "ipMask": {
          "description": "A string that contains the IP address range in CIDR notation for the rule.",
          "type": "string"
        }
      },
      "required": [
        "filterName",
        "action",
        "ipMask"
      ]
    },
    "FeedbackProperties": {
      "description": "The properties of the feedback queue for cloud-to-device messages.",
      "type": "object",
      "properties": {
        "lockDurationAsIso8601": {
          "description": "The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "type": "string",
          "format": "duration"
        },
        "ttlAsIso8601": {
          "description": "The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "type": "string",
          "format": "duration"
        },
        "maxDeliveryCount": {
          "description": "The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "format": "int32",
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "RoutingProperties": {
      "description": "The routing related properties of the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging",
      "type": "object",
      "properties": {
        "endpoints": {
          "$ref": "#/definitions/RoutingEndpoints"
        },
        "routes": {
          "description": "The list of user-provided routing rules that the IoT hub uses to route messages to built-in and custom endpoints. A maximum of 100 routing rules are allowed for paid hubs and a maximum of 5 routing rules are allowed for free hubs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouteProperties"
          }
        },
        "fallbackRoute": {
          "description": "The properties of the route that is used as a fall-back route when none of the conditions specified in the 'routes' section are met. This is an optional parameter. When this property is not set, the messages which do not meet any of the conditions specified in the 'routes' section get routed to the built-in eventhub endpoint.",
          "$ref": "#/definitions/FallbackRouteProperties"
        }
      }
    },
    "RoutingEndpoints": {
      "description": "The properties related to the custom endpoints to which your IoT hub routes messages based on the routing rules. A maximum of 10 custom endpoints are allowed across all endpoint types for paid hubs and only 1 custom endpoint is allowed across all endpoint types for free hubs.",
      "type": "object",
      "properties": {
        "serviceBusQueues": {
          "description": "The list of Service Bus queue endpoints that IoT hub routes the messages to, based on the routing rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoutingServiceBusQueueEndpointProperties"
          }
        },
        "serviceBusTopics": {
          "description": "The list of Service Bus topic endpoints that the IoT hub routes the messages to, based on the routing rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoutingServiceBusTopicEndpointProperties"
          }
        },
        "eventHubs": {
          "description": "The list of Event Hubs endpoints that IoT hub routes messages to, based on the routing rules. This list does not include the built-in Event Hubs endpoint.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoutingEventHubProperties"
          }
        },
        "storageContainers": {
          "description": "The list of storage container endpoints that IoT hub routes messages to, based on the routing rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoutingStorageContainerProperties"
          }
        }
      }
    },
    "RoutingServiceBusQueueEndpointProperties": {
      "description": "The properties related to service bus queue endpoint types.",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string of the service bus queue endpoint.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types. The name need not be the same as the actual queue name.",
          "type": "string",
          "pattern": "^[A-Za-z0-9-._]{1,64}$"
        },
        "subscriptionId": {
          "description": "The subscription identifier of the service bus queue endpoint.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The name of the resource group of the service bus queue endpoint.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "connectionString"
      ]
    },
    "RoutingServiceBusTopicEndpointProperties": {
      "description": "The properties related to service bus topic endpoint types.",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string of the service bus topic endpoint.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types.  The name need not be the same as the actual topic name.",
          "type": "string",
          "pattern": "^[A-Za-z0-9-._]{1,64}$"
        },
        "subscriptionId": {
          "description": "The subscription identifier of the service bus topic endpoint.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The name of the resource group of the service bus topic endpoint.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "connectionString"
      ]
    },
    "RoutingEventHubProperties": {
      "description": "The properties related to an event hub endpoint.",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string of the event hub endpoint. ",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types.",
          "type": "string",
          "pattern": "^[A-Za-z0-9-._]{1,64}$"
        },
        "subscriptionId": {
          "description": "The subscription identifier of the event hub endpoint.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The name of the resource group of the event hub endpoint.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "connectionString"
      ]
    },
    "RoutingStorageContainerProperties": {
      "description": "The properties related to a storage container endpoint.",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string of the storage account.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types.",
          "type": "string",
          "pattern": "^[A-Za-z0-9-._]{1,64}$"
        },
        "subscriptionId": {
          "description": "The subscription identifier of the storage account.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The name of the resource group of the storage account.",
          "type": "string"
        },
        "containerName": {
          "description": "The name of storage container in the storage account.",
          "type": "string"
        },
        "fileNameFormat": {
          "description": "File name format for the blob. Default format is {iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}. All parameters are mandatory but can be reordered.",
          "type": "string"
        },
        "batchFrequencyInSeconds": {
          "description": "Time interval at which blobs are written to storage. Value should be between 60 and 720 seconds. Default value is 300 seconds.",
          "format": "int32",
          "type": "integer",
          "maximum": 720,
          "minimum": 60
        },
        "maxChunkSizeInBytes": {
          "description": "Maximum number of bytes for each blob written to storage. Value should be between 10485760(10MB) and 524288000(500MB). Default value is 314572800(300MB).",
          "format": "int32",
          "type": "integer",
          "maximum": 524288000,
          "minimum": 10485760
        },
        "encoding": {
          "description": "Encoding that is used to serialize messages to blobs. Supported values are 'avro' and 'avrodeflate'. Default value is 'avro'.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "connectionString",
        "containerName"
      ]
    },
    "RouteProperties": {
      "description": "The properties of a routing rule that your IoT hub uses to route messages to endpoints.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.",
          "type": "string",
          "pattern": "^[A-Za-z0-9-._]{1,64}$"
        },
        "source": {
          "description": "The source that the routing rule is to be applied to, such as DeviceMessages.",
          "enum": [
            "DeviceMessages",
            "TwinChangeEvents",
            "DeviceLifecycleEvents",
            "DeviceJobLifecycleEvents"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RoutingSource",
            "modelAsString": true
          }
        },
        "condition": {
          "description": "The condition that is evaluated to apply the routing rule. If no condition is provided, it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language",
          "type": "string"
        },
        "endpointNames": {
          "description": "The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed.",
          "minItems": 1,
          "maxItems": 1,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isEnabled": {
          "description": "Used to specify whether a route is enabled.",
          "type": "boolean"
        }
      },
      "required": [
        "name",
        "endpointNames",
        "source",
        "isEnabled"
      ]
    },
    "FallbackRouteProperties": {
      "description": "The properties of the fallback route. IoT Hub uses these properties when it routes messages to the fallback endpoint.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.",
          "type": "string"
        },
        "source": {
          "description": "The source to which the routing rule is to be applied to. For example, DeviceMessages",
          "enum": [
            "DeviceMessages"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RoutingSource",
            "modelAsString": true
          }
        },
        "condition": {
          "description": "The condition which is evaluated in order to apply the fallback route. If the condition is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language",
          "type": "string"
        },
        "endpointNames": {
          "description": "The list of endpoints to which the messages that satisfy the condition are routed to. Currently only 1 endpoint is allowed.",
          "minItems": 1,
          "maxItems": 1,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isEnabled": {
          "description": "Used to specify whether the fallback route is enabled.",
          "type": "boolean"
        }
      },
      "required": [
        "endpointNames",
        "source",
        "isEnabled"
      ]
    },
    "IotHubDescription": {
      "description": "The description of the IoT hub.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/IotHubProperties"
        },
        "sku": {
          "$ref": "#/definitions/IotHubSkuInfo"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "sku"
      ]
    },
    "Resource": {
      "description": "The common properties of an Azure resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource identifier."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The resource name.",
          "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        },
        "location": {
          "type": "string",
          "description": "The resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "x-ms-azure-resource": true,
      "required": [
        "location"
      ]
    },
    "SharedAccessSignatureAuthorizationRuleListResult": {
      "description": "The list of shared access policies with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of shared access policies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list IoT Hub operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of IoT Hub operations supported by the Microsoft.Devices resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "IoT Hub REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{read | write | action | delete}"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "readOnly": true,
              "type": "string",
              "description": "Service provider: Microsoft Devices"
            },
            "resource": {
              "readOnly": true,
              "type": "string",
              "description": "Resource Type: IotHubs"
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "Name of the operation"
            }
          }
        }
      }
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string",
          "readOnly": true
        },
        "httpStatusCode": {
          "description": "The HTTP status code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The error details.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubQuotaMetricInfoListResult": {
      "description": "The JSON-serialized array of IotHubQuotaMetricInfo objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of quota metrics objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IotHubQuotaMetricInfo"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RegistryStatistics": {
      "description": "Identity registry statistics.",
      "type": "object",
      "properties": {
        "totalDeviceCount": {
          "format": "int64",
          "description": "The total count of devices in the identity registry.",
          "type": "integer",
          "readOnly": true
        },
        "enabledDeviceCount": {
          "format": "int64",
          "description": "The count of enabled devices in the identity registry.",
          "type": "integer",
          "readOnly": true
        },
        "disabledDeviceCount": {
          "format": "int64",
          "description": "The count of disabled devices in the identity registry.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "JobResponseListResult": {
      "description": "The JSON-serialized array of JobResponse objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of JobResponse objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobResponse"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubSkuDescription": {
      "description": "SKU properties.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "sku": {
          "description": "The type of the resource.",
          "$ref": "#/definitions/IotHubSkuInfo"
        },
        "capacity": {
          "$ref": "#/definitions/IotHubCapacity"
        }
      },
      "required": [
        "sku",
        "capacity"
      ]
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on an IoT Hub instance."
    },
    "IotHubCapacity": {
      "description": "IoT Hub capacity information.",
      "type": "object",
      "properties": {
        "minimum": {
          "format": "int64",
          "description": "The minimum number of units.",
          "type": "integer",
          "minimum": 1,
          "maximum": 1,
          "readOnly": true
        },
        "maximum": {
          "format": "int64",
          "description": "The maximum number of units.",
          "type": "integer",
          "readOnly": true
        },
        "default": {
          "format": "int64",
          "description": "The default number of units.",
          "type": "integer",
          "readOnly": true
        },
        "scaleType": {
          "description": "The type of the scaling enabled.",
          "enum": [
            "Automatic",
            "Manual",
            "None"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "name": "IotHubScaleType",
            "modelAsString": false
          }
        }
      }
    },
    "EventHubConsumerGroupsListResult": {
      "description": "The JSON-serialized array of Event Hub-compatible consumer group names with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of consumer groups objects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventHubConsumerGroupInfo"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EventHubConsumerGroupInfo": {
      "description": "The properties of the EventHubConsumerGroupInfo object.",
      "x-ms-azure-resource": true,
      "type": "object",
      "properties": {
        "properties": {
          "description": "The tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "The Event Hub-compatible consumer group identifier.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The Event Hub-compatible consumer group name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "the resource type.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The etag.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubSkuDescriptionListResult": {
      "description": "The JSON-serialized array of IotHubSkuDescription objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of IotHubSkuDescription.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IotHubSkuDescription"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JobResponse": {
      "description": "The properties of the Job Response object.",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "The job identifier.",
          "type": "string",
          "readOnly": true
        },
        "startTimeUtc": {
          "format": "date-time-rfc1123",
          "description": "The start time of the job.",
          "type": "string",
          "readOnly": true
        },
        "endTimeUtc": {
          "format": "date-time-rfc1123",
          "description": "The time the job stopped processing.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the job.",
          "enum": [
            "unknown",
            "export",
            "import",
            "backup",
            "readDeviceProperties",
            "writeDeviceProperties",
            "updateDeviceConfiguration",
            "rebootDevice",
            "factoryResetDevice",
            "firmwareUpdate"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "JobType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The status of the job.",
          "enum": [
            "unknown",
            "enqueued",
            "running",
            "completed",
            "failed",
            "cancelled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": false
          }
        },
        "failureReason": {
          "description": "If status == failed, this string containing the reason for the failure.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "The status message for the job.",
          "type": "string",
          "readOnly": true
        },
        "parentJobId": {
          "description": "The job identifier of the parent job, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubDescriptionListResult": {
      "description": "The JSON-serialized array of IotHubDescription objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of IotHubDescription objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IotHubDescription"
          }
        },
        "nextLink": {
          "description": "The next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IotHubQuotaMetricInfo": {
      "description": "Quota metrics properties.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the quota metric.",
          "type": "string",
          "readOnly": true
        },
        "currentValue": {
          "format": "int64",
          "description": "The current value for the quota metric.",
          "type": "integer",
          "readOnly": true
        },
        "maxValue": {
          "format": "int64",
          "description": "The maximum value of the quota metric.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "OperationInputs": {
      "description": "Input values.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the IoT hub to check.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "IotHubNameAvailabilityInfo": {
      "description": "The properties indicating whether a given IoT hub name is available.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "The value which indicates whether the provided name is available.",
          "type": "boolean",
          "readOnly": true
        },
        "reason": {
          "description": "The reason for unavailability.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "IotHubNameUnavailabilityReason",
            "modelAsString": false
          }
        },
        "message": {
          "description": "The detailed reason message.",
          "type": "string"
        }
      }
    },
    "ExportDevicesRequest": {
      "description": "Use to provide parameters when requesting an export of all devices in the IoT hub.",
      "type": "object",
      "properties": {
        "exportBlobContainerUri": {
          "description": "The export blob container URI.",
          "type": "string"
        },
        "excludeKeys": {
          "description": "The value indicating whether keys should be excluded during export.",
          "type": "boolean"
        }
      },
      "required": [
        "exportBlobContainerUri",
        "excludeKeys"
      ]
    },
    "ImportDevicesRequest": {
      "description": "Use to provide parameters when requesting an import of all devices in the hub.",
      "type": "object",
      "properties": {
        "inputBlobContainerUri": {
          "description": "The input blob container URI.",
          "type": "string"
        },
        "outputBlobContainerUri": {
          "description": "The output blob container URI.",
          "type": "string"
        }
      },
      "required": [
        "inputBlobContainerUri",
        "outputBlobContainerUri"
      ]
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription identifier.",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the API.",
      "required": true,
      "type": "string"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group that contains the IoT hub.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the IoT hub.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "certificateName": {
      "name": "certificateName",
      "in": "path",
      "description": "The name of the certificate",
      "required": true,
      "type": "string",
      "pattern": "^[A-Za-z0-9-._]{1,64}$",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "IoT Hub",
  "x-internal-toc-name": "Operations",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List"
}