{
  "swagger": "2.0",
  "info": {
    "version": "2016-09-01-preview",
    "title": "ManagedApplicationClient",
    "description": "ARM managed applications (appliances)"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances/{applianceName}": {
      "get": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_Get",
        "description": "Gets the appliance.",
        "x-ms-examples": {
          "Get an appliance": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "applianceName": "myAppliance",
              "api-version": "2016-09-01-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "name": "myAppliance",
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/appliances/myAppliance",
                  "type": "Microsoft.Solutions/appliances",
                  "location": "East US 2",
                  "managedBy": null,
                  "resourceGroup": "rg",
                  "tags": null,
                  "plan": null,
                  "identity": null,
                  "kind": "ServiceCatalog",
                  "sku": null,
                  "properties": {
                    "applianceDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef",
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "outputs": null,
                    "parameters": null,
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/applianceCreateUiDefinition.json"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the appliance.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Appliance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplianceProperties",
          "description": "The appliance properties."
        },
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the appliance. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        }
      },
      "required": [
        "properties",
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance."
    },
    "AppliancePatchable": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AppliancePropertiesPatchable",
          "description": "The appliance properties."
        },
        "plan": {
          "$ref": "#/definitions/PlanPatchable",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the appliance. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance."
    },
    "ApplianceDefinition": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplianceDefinitionProperties",
          "description": "The appliance definition properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance definition."
    },
    "ApplianceProperties": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applianceDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of appliance definition Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the appliance parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the appliance outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The appliance provisioning state."
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "The blob URI where the UI definition file is located."
        }
      },
      "required": [
        "managedResourceGroupId"
      ],
      "description": "The appliance properties."
    },
    "AppliancePropertiesPatchable": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applianceDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of appliance definition Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the appliance parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the appliance outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The appliance provisioning state."
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "The blob URI where the UI definition file is located."
        }
      },
      "description": "The appliance properties."
    },
    "ApplianceDefinitionProperties": {
      "properties": {
        "lockLevel": {
          "$ref": "#/definitions/ApplianceLockLevel",
          "description": "The appliance lock level."
        },
        "displayName": {
          "type": "string",
          "description": "The appliance definition display name."
        },
        "authorizations": {
          "description": "The appliance provider authorizations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceProviderAuthorization"
          }
        },
        "artifacts": {
          "description": "The collection of appliance artifacts. The portal will use the files specified as artifacts to construct the user experience of creating an appliance from an appliance definition.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceArtifact"
          }
        },
        "description": {
          "type": "string",
          "description": "The appliance definition description."
        },
        "packageFileUri": {
          "type": "string",
          "description": "The appliance definition package file Uri."
        }
      },
      "required": [
        "lockLevel",
        "authorizations",
        "packageFileUri"
      ],
      "description": "The appliance definition properties."
    },
    "Plan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "required": [
        "name",
        "publisher",
        "product",
        "version"
      ],
      "description": "Plan for the appliance."
    },
    "PlanPatchable": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "description": "Plan for the appliance."
    },
    "GenericResource": {
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        },
        "tier": {
          "type": "string",
          "description": "The SKU tier."
        },
        "size": {
          "type": "string",
          "description": "The SKU size."
        },
        "family": {
          "type": "string",
          "description": "The SKU family."
        },
        "model": {
          "type": "string",
          "description": "The SKU model."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU for the resource."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      },
      "description": "Identity for the resource."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Resource information.",
      "x-ms-azure-resource": true
    },
    "ApplianceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Appliance"
          },
          "description": "The array of appliances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of appliances."
    },
    "ApplianceDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceDefinition"
          },
          "description": "The array of appliance definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of appliance definitions."
    },
    "ProvisioningState": {
      "description": "Provisioning status of the appliance.",
      "readOnly": true,
      "enum": [
        "Accepted",
        "Running",
        "Ready",
        "Creating",
        "Created",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "Updating"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ApplianceLockLevel": {
      "description": "The appliance lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly",
        "None"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceLockLevel",
        "modelAsString": false
      }
    },
    "ApplianceArtifactType": {
      "description": "The appliance artifact type.",
      "enum": [
        "Template",
        "Custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceArtifactType",
        "modelAsString": false
      }
    },
    "ApplianceArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The appliance artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The appliance artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplianceArtifactType",
          "description": "The the appliance artifact type."
        }
      },
      "description": "Appliance artifact."
    },
    "ApplianceProviderAuthorization": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the appliance resources."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the appliance's container resource group. This role definition cannot have permission to delete the resource group."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ],
      "description": "The appliance provider authorization."
    },
    "ErrorResponse": {
      "description": "Error reponse indicates ARM appliance is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "Http status code.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error code.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  },
  "x-internal-service-name": "Resource Management",
  "x-internal-toc-name": "Appliances",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get"
}