{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    },
    "title": "RecoveryServicesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/providers/Microsoft.RecoveryServices/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns the list of available operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientDiscoveryResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        },
        "x-ms-examples": {
          "ListOperations": {
            "parameters": {
              "api-version": "2016-06-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "microsoft.recoveryservices/vaults/usages/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Vault Usage",
                        "operation": "Recovery Services Vault usage details.",
                        "description": "Returns usage details for a Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupUsageSummaries/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Usages Summaries",
                        "operation": "Recovery Services Protected Items and Protected Servers usage summaries details.",
                        "description": "Returns summaries for Protected Items and Protected Servers for a Recovery Services ."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/storageConfig/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Vault Storage Config",
                        "operation": "Get Resource Storage Config",
                        "description": "Returns Storage Configuration for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/storageConfig/write",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Vault Storage Config",
                        "operation": "Write Resource Storage Config",
                        "description": "Updates Storage Configuration for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupconfig/vaultconfig/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Vault Config",
                        "operation": "Get Resource Config",
                        "description": "Returns Configuration for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupconfig/vaultconfig/write",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Vault Config",
                        "operation": "Update Resource Config",
                        "description": "Updates Configuration for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/tokenInfo/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Token Info",
                        "operation": "Get Vault Token Info",
                        "description": "Returns token information for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupSecurityPIN/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "SecurityPINInfo",
                        "operation": "Get Security PIN Info",
                        "description": "Returns Security PIN Information for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupManagementMetaData/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Management Metadata",
                        "operation": "Get Backup Management Metadata",
                        "description": "Returns Backup Management Metadata for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupOperationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Operation Results",
                        "operation": "Get Backup Operation Result",
                        "description": "Returns Backup Operation Result for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupOperations/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Operation Status",
                        "operation": "Get Backup Operation Status",
                        "description": "Returns Backup Operation Status for Recovery Services Vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupJobs/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Jobs",
                        "operation": "Get Jobs",
                        "description": "Returns all Job Objects"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupJobs/cancel/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Jobs",
                        "operation": "Cancel Jobs",
                        "description": "Cancel the Job"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupJobsExport/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Export Backup Jobs",
                        "operation": "Export Jobs",
                        "description": "Export Jobs"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupJobs/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Jobs Operation Results",
                        "operation": "Get Job Operation Result",
                        "description": "Returns the Result of Job Operation."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupJobsExport/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Export Backup Jobs Operation Results",
                        "operation": "Get Export Job Operation Result",
                        "description": "Returns the Result of Export Job Operation."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Recovery Points",
                        "operation": "Get Recovery Points",
                        "description": "Get Recovery Points for Protected Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/restore/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Recovery Points",
                        "operation": "Restore Recovery Points",
                        "description": "Restore Recovery Points for Protected Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/provisionInstantItemRecovery/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Recovery Points",
                        "operation": "Provision Instant Item Recovery for Protected Item",
                        "description": "Provision Instant Item Recovery for Protected Item"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/revokeInstantItemRecovery/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Recovery Points",
                        "operation": "Revoke Instant Item Recovery for Protected Item",
                        "description": "Revoke Instant Item Recovery for Protected Item"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPolicies/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Policies",
                        "operation": "Get Protection Policy",
                        "description": "Returns all Protection Policies"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPolicies/write",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Policies",
                        "operation": "Create Protection Policy",
                        "description": "Creates Protection Policy"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPolicies/delete",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Policies",
                        "operation": "Delete Protection Policy",
                        "description": "Delete a Protection Policy"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPolicies/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Policy Operation Results",
                        "operation": "Get Policy Operation Results",
                        "description": "Get Results of Policy Operation."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPolicies/operationsStatus/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Policy Operation Status",
                        "operation": "Get Policy Operation Status",
                        "description": "Get Status of Policy Operation."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Items",
                        "operation": "Get Protected Item Details",
                        "description": "Returns object details of the Protected Item"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupProtectedItems/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Items",
                        "operation": "Get All Protected Items",
                        "description": "Returns the list of all Protected Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/write",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Items",
                        "operation": "Create Backup Protected Item",
                        "description": "Create a backup Protected Item"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/delete",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Items",
                        "operation": "Delete Protected Items",
                        "description": "Deletes Protected Item"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Item Operation Results",
                        "operation": "Get Protected Items Operation Results",
                        "description": "Gets Result of Operation Performed on Protected Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationsStatus/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Item Operation Status",
                        "operation": "Get Protected Items operation status",
                        "description": "Returns the status of Operation performed on Protected Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/backup/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protected Items",
                        "operation": "Backup Protected Item",
                        "description": "Performs Backup for Protected Item."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupProtectableItems/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Protectable Items",
                        "operation": "Get Protectable Items",
                        "description": "Returns list of all Protectable Items."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/refreshContainers/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Refresh Containers",
                        "operation": "Refresh container",
                        "description": "Refreshes the container list"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Refresh Containers Operation Results",
                        "operation": "Get Operation Results",
                        "description": "Returns status of the operation"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupProtectionContainers/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Protection Containers",
                        "operation": "Get Containers In Subscription",
                        "description": "Returns all containers belonging to the subscription"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protection Containers",
                        "operation": "Get Registered Container",
                        "description": "Returns all registered containers"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/operationResults/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protection Containers Operation Results",
                        "operation": "Get Container Operation Results",
                        "description": "Gets result of Operation performed on Protection Container."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupEngines",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Engines",
                        "operation": "List of backup management servers.",
                        "description": "Returns all the backup management servers registered with vault."
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupStatus",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Backup Status",
                        "operation": "Check Backup Status for Vault",
                        "description": "Check Backup Status for Recovery Services Vaults"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupPreValidateProtection",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "PreValidate Protection",
                        "operation": "Pre Validate Enable Protection",
                        "description": ""
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupValidateFeatures",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Validate Features",
                        "operation": "Validate Features",
                        "description": "Validate Features"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/backupProtectionIntent/write",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protection Intent",
                        "operation": "Create backup Protection Intent",
                        "description": "Create a backup Protection Intent"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/{fabricName}/protectionContainers/{containerName}/items/read",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Workload Items",
                        "operation": "Get all items in a container",
                        "description": "Get all items in a container"
                      },
                      "origin": "user"
                    },
                    {
                      "name": "microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/inquire/action",
                      "display": {
                        "provider": "microsoft.recoveryservices",
                        "resource": "Protection Containers Inquire",
                        "operation": "Get all items in a container",
                        "description": "Get all items in a container"
                      },
                      "origin": "user"
                    }
                  ]
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "ClientDiscoveryDisplay": {
      "description": "Localized display information of an operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the provider for display purposes",
          "type": "string"
        },
        "resource": {
          "description": "ResourceType for which this Operation can be performed.",
          "type": "string"
        },
        "operation": {
          "description": "Operations Name itself.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation having details of what operation is about.",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForLogSpecification": {
      "description": "Class to represent shoebox log specification in json client discovery.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the log.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized display name",
          "type": "string"
        },
        "blobDuration": {
          "description": "Blobs created in customer storage account per hour",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForProperties": {
      "description": "Class to represent shoebox properties in json client discovery.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ClientDiscoveryForServiceSpecification",
          "description": "Operation properties."
        }
      }
    },
    "ClientDiscoveryForServiceSpecification": {
      "description": "Class to represent shoebox service specification in json client discovery.",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "List of log specifications of this operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryForLogSpecification"
          }
        }
      }
    },
    "ClientDiscoveryResponse": {
      "description": "Operations List response which contains list of available APIs.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available operationss.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryValueForSingleApi"
          }
        },
        "nextLink": {
          "description": "Link to the next chunk of the response",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryValueForSingleApi": {
      "description": "Available operation details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/ClientDiscoveryDisplay",
          "description": "Contains the localized display information for this particular operation"
        },
        "origin": {
          "description": "The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ClientDiscoveryForProperties",
          "description": "ShoeBox properties for the given operation."
        }
      }
    },
    "Resource": {
      "description": "ARM Resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource Id represents the complete path to the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name associated with the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Optional ETag.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "description": "Identifies the unique system identifier for each Azure resource.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The Sku name.",
          "enum": [
            "Standard",
            "RS0"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        }
      }
    },
    "TrackedResource": {
      "description": "Tracked resource with location.",
      "type": "object",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PatchTrackedResource": {
      "description": "Tracked resource with location.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpgradeDetails": {
      "description": "Details for upgrading vault.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "ID of the vault upgrade operation.",
          "type": "string",
          "readOnly": true
        },
        "startTimeUtc": {
          "description": "UTC time at which the upgrade operation has started.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "lastUpdatedTimeUtc": {
          "description": "UTC time at which the upgrade operation status was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "endTimeUtc": {
          "description": "UTC time at which the upgrade operation has ended.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "status": {
          "description": "Status of the vault upgrade operation.",
          "enum": [
            "Unknown",
            "InProgress",
            "Upgraded",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "VaultUpgradeState",
            "modelAsString": true
          }
        },
        "message": {
          "description": "Message to the user containing information about the upgrade operation.",
          "type": "string",
          "readOnly": true
        },
        "triggerType": {
          "description": "The way the vault upgradation was triggered.",
          "enum": [
            "UserTriggered",
            "ForcedUpgrade"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          }
        },
        "upgradedResourceId": {
          "description": "Resource ID of the upgraded vault.",
          "type": "string",
          "readOnly": true
        },
        "previousResourceId": {
          "description": "Resource ID of the vault before the upgrade.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Vault": {
      "description": "Resource information, as returned by the resource provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "PatchVault": {
      "description": "Patch Resource information, as returned by the resource provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PatchTrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "VaultExtendedInfo": {
      "description": "Vault extended information.",
      "type": "object",
      "properties": {
        "integrityKey": {
          "description": "Integrity key.",
          "type": "string"
        },
        "encryptionKey": {
          "description": "Encryption key.",
          "type": "string"
        },
        "encryptionKeyThumbprint": {
          "description": "Encryption key thumbprint.",
          "type": "string"
        },
        "algorithm": {
          "description": "Algorithm for Vault ExtendedInfo",
          "type": "string"
        }
      }
    },
    "VaultExtendedInfoResource": {
      "description": "Vault extended information.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultExtendedInfo",
          "x-ms-client-flatten": true
        }
      }
    },
    "VaultList": {
      "description": "The response model for a list of Vaults.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vault"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VaultProperties": {
      "description": "Properties of the vault.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning State.",
          "type": "string",
          "readOnly": true
        },
        "upgradeDetails": {
          "$ref": "#/definitions/UpgradeDetails"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription Id.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group where the recovery services vault is present.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "VaultName": {
      "name": "vaultName",
      "in": "path",
      "description": "The name of the recovery services vault.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "Recovery Services",
  "x-internal-operation-group-name": "Operations Vaults",
  "x-internal-toc-name": "Operations Vaults",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List"
}