{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-01",
    "title": "PolicyClient",
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}": {
      "put": {
        "tags": [
          "PolicyAssignments"
        ],
        "operationId": "PolicyAssignments_Create",
        "summary": "Creates or updates a policy assignment.",
        "description": " This operation creates or updates a policy assignment with the given scope and name. Policy assignments apply to all resources contained within their scope. For example, when you assign a policy at resource group scope, that policy applies to all resources in the group.",
        "x-ms-examples": {
          "Create or update a policy assignment": {
            "parameters": {
              "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2",
              "policyAssignmentName": "EnforceNaming",
              "api-version": "2019-09-01",
              "parameters": {
                "properties": {
                  "displayName": "Enforce resource naming rules",
                  "description": "Force resource names to begin with given DeptA and end with -LC",
                  "metadata": {
                    "assignedBy": "Special Someone"
                  },
                  "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                  "parameters": {
                    "prefix": {
                      "value": "DeptA"
                    },
                    "suffix": {
                      "value": "-LC"
                    }
                  }
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "properties": {
                    "displayName": "Enforce resource naming rules",
                    "description": "Force resource names to begin with given DeptA and end with -LC",
                    "metadata": {
                      "assignedBy": "Special Someone"
                    },
                    "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                    "notScopes": [],
                    "parameters": {
                      "prefix": {
                        "value": "DeptA"
                      },
                      "suffix": {
                        "value": "-LC"
                      }
                    },
                    "enforcementMode": "Default",
                    "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2"
                  },
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyAssignments/EnforceNaming",
                  "type": "Microsoft.Authorization/policyAssignments",
                  "name": "EnforceNaming"
                }
              }
            }
          },
          "Create or update a policy assignment with a managed identity": {
            "parameters": {
              "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2",
              "policyAssignmentName": "EnforceNaming",
              "api-version": "2019-09-01",
              "parameters": {
                "location": "eastus",
                "identity": {
                  "type": "SystemAssigned"
                },
                "properties": {
                  "displayName": "Enforce resource naming rules",
                  "description": "Force resource names to begin with given DeptA and end with -LC",
                  "metadata": {
                    "assignedBy": "Foo Bar"
                  },
                  "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                  "parameters": {
                    "prefix": {
                      "value": "DeptA"
                    },
                    "suffix": {
                      "value": "-LC"
                    }
                  },
                  "enforcementMode": "Default"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "properties": {
                    "displayName": "Enforce resource naming rules",
                    "description": "Force resource names to begin with given DeptA and end with -LC",
                    "metadata": {
                      "assignedBy": "Special Someone"
                    },
                    "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                    "notScopes": [],
                    "parameters": {
                      "prefix": {
                        "value": "DeptA"
                      },
                      "suffix": {
                        "value": "-LC"
                      }
                    },
                    "enforcementMode": "Default",
                    "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2"
                  },
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "e6d23f8d-af97-4fbc-bda6-00604e4e3d0a",
                    "tenantId": "4bee2b8a-1bee-47c2-90e9-404241551135"
                  },
                  "location": "eastus",
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyAssignments/EnforceNaming",
                  "type": "Microsoft.Authorization/policyAssignments",
                  "name": "EnforceNaming"
                }
              }
            }
          },
          "Create or update a policy assignment without enforcing policy effect during resource creation or update.": {
            "parameters": {
              "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2",
              "policyAssignmentName": "EnforceNaming",
              "api-version": "2019-09-01",
              "parameters": {
                "properties": {
                  "displayName": "Enforce resource naming rules",
                  "description": "Force resource names to begin with given DeptA and end with -LC",
                  "metadata": {
                    "assignedBy": "Special Someone"
                  },
                  "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                  "parameters": {
                    "prefix": {
                      "value": "DeptA"
                    },
                    "suffix": {
                      "value": "-LC"
                    }
                  },
                  "enforcementMode": "DoNotEnforce"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "properties": {
                    "displayName": "Enforce resource naming rules",
                    "description": "Force resource names to begin with given DeptA and end with -LC",
                    "metadata": {
                      "assignedBy": "Special Someone"
                    },
                    "policyDefinitionId": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming",
                    "notScopes": [],
                    "parameters": {
                      "prefix": {
                        "value": "DeptA"
                      },
                      "suffix": {
                        "value": "-LC"
                      }
                    },
                    "enforcementMode": "DoNotEnforce",
                    "scope": "subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2"
                  },
                  "id": "/subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyAssignments/EnforceNaming",
                  "type": "Microsoft.Authorization/policyAssignments",
                  "name": "EnforceNaming"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scope of the policy assignment. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'), resource group (format: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}', or resource (format: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy assignment."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            },
            "description": "Parameters for the policy assignment."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created - Returns information about the new policy assignment.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponse"
        }
      },
      "description": "An error response from a policy operation."
    },
    "PolicyAssignmentProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the policy assignment."
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "The ID of the policy definition or policy set definition being assigned."
        },
        "scope": {
          "type": "string",
          "description": "The scope for the policy assignment."
        },
        "notScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The policy's excluded scopes."
        },
        "parameters": {
          "description": "The parameter values for the assigned policy rule. The keys are the parameter names.",
          "$ref": "#/definitions/ParameterValues"
        },
        "description": {
          "type": "string",
          "description": "This message will be part of response in case of policy violation."
        },
        "metadata": {
          "type": "object",
          "description": "The policy assignment metadata. Metadata is an open ended object and is typically a collection of key value pairs."
        },
        "enforcementMode": {
          "type": "string",
          "description": "The policy assignment enforcement mode. Possible values are Default and DoNotEnforce.",
          "enum": [
            "Default",
            "DoNotEnforce"
          ],
          "x-ms-enum": {
            "name": "enforcementMode",
            "modelAsString": true,
            "values": [
              {
                "value": "Default",
                "description": "The policy effect is enforced during resource creation or update."
              },
              {
                "value": "DoNotEnforce",
                "description": "The policy effect is not enforced during resource creation or update."
              }
            ]
          }
        }
      },
      "description": "The policy assignment properties."
    },
    "ParameterValues": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/ParameterValuesValue"
      },
      "description": "The parameter values for the policy rule. The keys are the parameter names."
    },
    "ParameterValuesValue": {
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "object"
        }
      },
      "description": "The value of a parameter."
    },
    "PolicySku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the policy sku. Possible values are A0 and A1."
        },
        "tier": {
          "type": "string",
          "description": "The policy sku tier. Possible values are Free and Standard."
        }
      },
      "required": [
        "name"
      ],
      "description": "The policy sku. This property is optional, obsolete, and will be ignored."
    },
    "PolicyAssignment": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicyAssignmentProperties",
          "description": "Properties for the policy assignment."
        },
        "id": {
          "type": "string",
          "description": "The ID of the policy assignment.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the policy assignment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the policy assignment.",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/PolicySku",
          "description": "The policy sku. This property is optional, obsolete, and will be ignored."
        },
        "location": {
          "type": "string",
          "description": "The location of the policy assignment. Only required when utilizing managed identity."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The managed identity associated with the policy assignment."
        }
      },
      "description": "The policy assignment.",
      "x-ms-azure-resource": true
    },
    "PolicyAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyAssignment"
          },
          "description": "An array of policy assignments."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of policy assignments."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of the resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of the resource identity."
        },
        "type": {
          "type": "string",
          "description": "The identity type. This is the only required field when adding a system assigned identity to a resource.",
          "enum": [
            "SystemAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false,
            "values": [
              {
                "value": "SystemAssigned",
                "description": "Indicates that a system assigned identity is associated with the resource."
              },
              {
                "value": "None",
                "description": "Indicates that no identity is associated with the resource or that the existing identity should be removed."
              }
            ]
          }
        }
      },
      "description": "Identity for the resource."
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the operation."
    },
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the management group.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "resources",
  "x-internal-service-name": "Resource Management",
  "x-internal-toc-name": "Policy Assignments",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Create",
  "x-internal-operation-name": "Create"
}