{
  "swagger": "2.0",
  "info": {
    "version": "2018-06-01-preview",
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
      "put": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Create",
        "description": "Creates a new HDInsight cluster with the specified parameters.",
        "x-ms-examples": {
          "Create Hadoop on Linux cluster with SSH password": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": "true",
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Hadoop on Linux cluster with SSH public key": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Spark on Linux Cluster with SSH password": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Spark",
                    "componentVersion": {
                      "Spark": "2.0"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storageapikey*"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D12_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Secure Hadoop cluster": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Premium",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storage account key"
                      }
                    ]
                  },
                  "securityProfile": {
                    "directoryType": "ActiveDirectory",
                    "domain": "DomainName",
                    "organizationalUnitDN": "OU=Hadoop,DC=hdinsight,DC=test",
                    "ldapsUrls": [
                      "ldaps://10.10.0.4:636"
                    ],
                    "domainUsername": "DomainUsername",
                    "domainUserPassword": "**********",
                    "clusterUsersGroupDNs": [
                      "hdiusers"
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Hadoop cluster with Azure Data Lake Storage Gen 2": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": "true",
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.dfs.core.windows.net",
                        "isDefault": true,
                        "fileSystem": "default",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create HDInsight cluster with Autoscale configuration": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "hadoop",
                    "componentVersion": {
                      "Hadoop": "2.7"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "hdinsight-autoscale-tes-2019-06-18t05-49-16-591z",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "autoscale": {
                          "capacity": null,
                          "recurrence": {
                            "timeZone": "China Standard Time",
                            "schedule": [
                              {
                                "days": [
                                  "Monday",
                                  "Tuesday",
                                  "Wednesday",
                                  "Thursday",
                                  "Friday"
                                ],
                                "timeAndCapacity": {
                                  "time": "09:00",
                                  "minInstanceCount": 3,
                                  "maxInstanceCount": 3
                                }
                              },
                              {
                                "days": [
                                  "Monday",
                                  "Tuesday",
                                  "Wednesday",
                                  "Thursday",
                                  "Friday"
                                ],
                                "timeAndCapacity": {
                                  "time": "18:00",
                                  "minInstanceCount": 6,
                                  "maxInstanceCount": 6
                                }
                              },
                              {
                                "days": [
                                  "Saturday",
                                  "Sunday"
                                ],
                                "timeAndCapacity": {
                                  "time": "09:00",
                                  "minInstanceCount": 2,
                                  "maxInstanceCount": 2
                                }
                              },
                              {
                                "days": [
                                  "Saturday",
                                  "Sunday"
                                ],
                                "timeAndCapacity": {
                                  "time": "18:00",
                                  "minInstanceCount": 4,
                                  "maxInstanceCount": 4
                                }
                              }
                            ]
                          }
                        },
                        "name": "workernode",
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        },
                        "virtualNetworkProfile": null,
                        "scriptActions": [],
                        "dataDisksGroups": null
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Kafka cluster with Kafka Rest Proxy": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "4.0",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "kafka",
                    "componentVersion": {
                      "Kafka": "2.1"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "kafkaRestProperties": {
                    "clientGroupInfo": {
                      "groupName": "Kafka security group name",
                      "groupId": "00000000-0000-0000-0000-111111111111"
                    }
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        },
                        "dataDisksGroups": [
                          {
                            "disksPerNode": 8
                          }
                        ]
                      },
                      {
                        "name": "zookeepernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "kafkamanagementnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_v2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "kafkauser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "South Central US",
                  "etag": "e1266b83-9bda-4797-a906-1bf82c8eb09a",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/kafka-4.0.1000.1.1911212244.json",
                      "kind": "KAFKA",
                      "componentVersion": {
                        "Kafka": "2.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d3_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d3_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          },
                          "dataDisksGroups": [
                            {
                              "disksPerNode": 2,
                              "storageAccountType": "Standard_LRS",
                              "diskSizeGB": 1023
                            }
                          ]
                        },
                        {
                          "name": "kafkamanagementnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-25T03:43:23.663",
                    "quotaInfo": {
                      "coresUsed": 52
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      },
                      {
                        "name": "KafkaRestProxyPublicEndpoint",
                        "protocol": "TCP",
                        "location": "cluster1-kafkarest.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard",
                    "kafkaRestProperties": {
                      "clientGroupInfo": {
                        "groupName": "security group name",
                        "groupId": "00000000-0000-0000-0000-000000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "Create cluster with TLS 1.2": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "default8525",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "minSupportedTlsVersion": "1.2"
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "South Central US",
                  "etag": "3b76ce3d-892c-4036-9d8b-8ade18ba7a4b",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "3.6.1000.67",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2001080246.json",
                      "kind": "Hadoop",
                      "componentVersion": {
                        "Hadoop": "2.7"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2020-01-10T08:36:39.153",
                    "quotaInfo": {
                      "coresUsed": 20
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard",
                    "minSupportedTlsVersion": "1.2"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterCreateParametersExtended"
            },
            "description": "The cluster create request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "ClusterDefinition": {
      "description": "The cluster definition.",
      "properties": {
        "blueprint": {
          "type": "string",
          "description": "The link to the blueprint."
        },
        "kind": {
          "type": "string",
          "description": "The type of cluster."
        },
        "componentVersion": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The versions of different services in the cluster."
        },
        "configurations": {
          "type": "object",
          "description": "The cluster configurations."
        }
      }
    },
    "ClientGroupInfo": {
      "description": "The information of AAD security group.",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "The AAD security group name."
        },
        "groupId": {
          "type": "string",
          "description": "The AAD security group id."
        }
      }
    },
    "KafkaRestProperties": {
      "description": "The kafka rest proxy configuration which contains AAD security group information.",
      "properties": {
        "clientGroupInfo": {
          "$ref": "#/definitions/ClientGroupInfo",
          "description": "The information of AAD security group."
        }
      }
    },
    "SecurityProfile": {
      "description": "The security profile which contains Ssh public key for the HDInsight cluster.",
      "properties": {
        "directoryType": {
          "type": "string",
          "description": "The directory type.",
          "enum": [
            "ActiveDirectory"
          ],
          "x-ms-enum": {
            "name": "DirectoryType",
            "modelAsString": false
          }
        },
        "domain": {
          "type": "string",
          "description": "The organization's active directory domain."
        },
        "organizationalUnitDN": {
          "type": "string",
          "description": "The organizational unit within the Active Directory to place the cluster and service accounts."
        },
        "ldapsUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The LDAPS protocol URLs to communicate with the Active Directory."
        },
        "domainUsername": {
          "type": "string",
          "description": "The domain user account that will have admin privileges on the cluster."
        },
        "domainUserPassword": {
          "type": "string",
          "format": "password",
          "description": "The domain admin password."
        },
        "clusterUsersGroupDNs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Distinguished Names for cluster user groups"
        },
        "aaddsResourceId": {
          "type": "string",
          "description": "The resource ID of the user's Azure Active Directory Domain Service."
        },
        "msiResourceId": {
          "type": "string",
          "description": "User assigned identity that has permissions to read and create cluster-related artifacts in the user's AADDS."
        }
      }
    },
    "AutoscaleTimeAndCapacity": {
      "properties": {
        "time": {
          "type": "string",
          "description": "24-hour time in the form xx:xx"
        },
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster"
        },
        "maxInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum instance count of the cluster"
        }
      },
      "description": "Time and capacity request parameters"
    },
    "AutoscaleSchedule": {
      "properties": {
        "days": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "x-ms-enum": {
              "name": "DaysOfWeek",
              "modelAsString": false
            }
          },
          "description": "Days of the week for a schedule-based autoscale rule"
        },
        "timeAndCapacity": {
          "$ref": "#/definitions/AutoscaleTimeAndCapacity",
          "description": "Time and capacity for a schedule-based autoscale rule"
        }
      },
      "description": "Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity"
    },
    "AutoscaleCapacity": {
      "properties": {
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster"
        },
        "maxInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum instance count of the cluster"
        }
      },
      "description": "The load-based autoscale request parameters"
    },
    "AutoscaleRecurrence": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The time zone for the autoscale schedule times"
        },
        "schedule": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutoscaleSchedule"
          },
          "description": "Array of schedule-based autoscale rules"
        }
      },
      "description": "Schedule-based autoscale request parameters"
    },
    "Autoscale": {
      "properties": {
        "capacity": {
          "$ref": "#/definitions/AutoscaleCapacity",
          "description": "Parameters for load-based autoscale"
        },
        "recurrence": {
          "$ref": "#/definitions/AutoscaleRecurrence",
          "description": "Parameters for schedule-based autoscale"
        }
      },
      "description": "The autoscale request parameters"
    },
    "HardwareProfile": {
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "The size of the VM"
        }
      },
      "description": "The hardware profile."
    },
    "VirtualNetworkProfile": {
      "description": "The virtual network properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the virtual network."
        },
        "subnet": {
          "type": "string",
          "description": "The name of the subnet."
        }
      }
    },
    "DataDisksGroups": {
      "description": "The data disks groups for the role.",
      "properties": {
        "disksPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks per node."
        },
        "storageAccountType": {
          "type": "string",
          "description": "ReadOnly. The storage account type. Do not set this value.",
          "readOnly": true
        },
        "diskSizeGB": {
          "type": "integer",
          "description": "ReadOnly. The DiskSize in GB. Do not set this value.",
          "readOnly": true
        }
      }
    },
    "SshPublicKey": {
      "description": "The SSH public key for the cluster nodes.",
      "properties": {
        "certificateData": {
          "type": "string",
          "description": "The certificate for SSH."
        }
      }
    },
    "SshProfile": {
      "description": "The list of SSH public keys.",
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "The list of SSH public keys."
        }
      }
    },
    "LinuxOperatingSystemProfile": {
      "description": "The ssh username, password, and ssh public key.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username."
        },
        "password": {
          "type": "string",
          "description": "The password."
        },
        "sshProfile": {
          "$ref": "#/definitions/SshProfile",
          "description": "The SSH profile."
        }
      }
    },
    "OsProfile": {
      "description": "The Linux operation systems profile.",
      "properties": {
        "linuxOperatingSystemProfile": {
          "$ref": "#/definitions/LinuxOperatingSystemProfile",
          "description": "The Linux OS profile."
        }
      }
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the role."
        },
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster."
        },
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The instance count of the cluster."
        },
        "autoscale": {
          "$ref": "#/definitions/Autoscale",
          "x-ms-client-name": "autoscaleConfiguration",
          "description": "The autoscale configurations."
        },
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "The hardware profile."
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "The operating system profile."
        },
        "virtualNetworkProfile": {
          "$ref": "#/definitions/VirtualNetworkProfile",
          "description": "The virtual network profile."
        },
        "dataDisksGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDisksGroups"
          },
          "description": "The data disks groups for the role."
        },
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScriptAction"
          },
          "description": "The list of script actions on the role."
        }
      },
      "description": "Describes a role on the cluster."
    },
    "ComputeProfile": {
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          },
          "description": "The list of roles in the cluster."
        }
      },
      "description": "Describes the compute profile."
    },
    "StorageAccount": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the storage account."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether or not the storage account is the default storage account."
        },
        "container": {
          "type": "string",
          "description": "The container in the storage account, only to be specified for WASB storage accounts."
        },
        "fileSystem": {
          "type": "string",
          "description": "The filesystem, only to be specified for Azure Data Lake Storage Gen 2."
        },
        "key": {
          "type": "string",
          "description": "The storage account access key."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource ID of storage account, only to be specified for Azure Data Lake Storage Gen 2."
        },
        "msiResourceId": {
          "type": "string",
          "description": "The managed identity (MSI) that is allowed to access the storage account, only to be specified for Azure Data Lake Storage Gen 2."
        }
      },
      "description": "The storage Account."
    },
    "StorageProfile": {
      "properties": {
        "storageaccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "description": "The list of storage accounts in the cluster."
        }
      },
      "description": "The storage profile."
    },
    "ClusterCreateProperties": {
      "description": "The cluster create parameters.",
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "The version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "The type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "The cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "The cluster definition."
        },
        "kafkaRestProperties": {
          "$ref": "#/definitions/KafkaRestProperties",
          "description": "The cluster kafka rest proxy configuration."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "The security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "The compute profile."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "The storage profile."
        },
        "diskEncryptionProperties": {
          "$ref": "#/definitions/DiskEncryptionProperties",
          "description": "The disk encryption properties."
        },
        "minSupportedTlsVersion": {
          "type": "string",
          "description": "The minimal supported tls version."
        }
      }
    },
    "ClusterCreateParametersExtended": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the cluster."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ClusterCreateProperties",
          "description": "The cluster create parameters."
        },
        "identity": {
          "$ref": "#/definitions/ClusterIdentity",
          "description": "The identity of the cluster, if configured."
        }
      },
      "description": "The CreateCluster request parameters."
    },
    "ClusterPatchParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "x-nullable": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "description": "The PatchCluster request parameters"
    },
    "QuotaInfo": {
      "description": "The quota properties for the cluster.",
      "properties": {
        "coresUsed": {
          "type": "integer",
          "format": "int32",
          "description": "The cores used by the cluster."
        }
      }
    },
    "Errors": {
      "description": "The error message associated with the cluster creation.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "ConnectivityEndpoint": {
      "description": "The connectivity properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the endpoint."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the endpoint."
        },
        "location": {
          "type": "string",
          "description": "The location of the endpoint."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port to connect to."
        }
      }
    },
    "ClusterGetProperties": {
      "description": "The properties of cluster.",
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "The version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "The type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "The cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "The cluster definition."
        },
        "kafkaRestProperties": {
          "$ref": "#/definitions/KafkaRestProperties",
          "description": "The cluster kafka rest proxy configuration."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "The security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "The compute profile."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "enum": [
            "InProgress",
            "Failed",
            "Succeeded",
            "Canceled",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "HDInsightClusterProvisioningState",
            "modelAsString": false
          }
        },
        "createdDate": {
          "type": "string",
          "description": "The date on which the cluster was created."
        },
        "clusterState": {
          "type": "string",
          "description": "The state of the cluster."
        },
        "quotaInfo": {
          "$ref": "#/definitions/QuotaInfo",
          "description": "The quota information."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Errors"
          },
          "description": "The list of errors."
        },
        "connectivityEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityEndpoint"
          },
          "description": "The list of connectivity endpoints."
        },
        "diskEncryptionProperties": {
          "$ref": "#/definitions/DiskEncryptionProperties",
          "description": "The disk encryption properties."
        },
        "minSupportedTlsVersion": {
          "type": "string",
          "description": "The minimal supported tls version."
        }
      },
      "required": [
        "clusterDefinition"
      ]
    },
    "Cluster": {
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag for the resource"
        },
        "properties": {
          "$ref": "#/definitions/ClusterGetProperties",
          "description": "The properties of the cluster."
        },
        "identity": {
          "$ref": "#/definitions/ClusterIdentity",
          "description": "The identity of the cluster, if configured."
        }
      },
      "description": "The HDInsight cluster."
    },
    "RuntimeScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "The URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "The parameters for the script"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of roles where script will be executed."
        },
        "applicationName": {
          "readOnly": true,
          "type": "string",
          "description": "The application name of the script action, if any."
        }
      },
      "required": [
        "name",
        "uri",
        "roles"
      ],
      "description": "Describes a script action on a running cluster."
    },
    "ExecuteScriptActionParameters": {
      "properties": {
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          },
          "description": "The list of run time script actions."
        },
        "persistOnSuccess": {
          "type": "boolean",
          "description": "Gets or sets if the scripts needs to be persisted."
        }
      },
      "required": [
        "persistOnSuccess"
      ],
      "description": "The parameters for the script actions to execute on a running cluster."
    },
    "ClusterListPersistedScriptActionsResult": {
      "properties": {
        "value": {
          "description": "The list of Persisted Script Actions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The ListPersistedScriptActions operation response."
    },
    "ScriptActionExecutionSummary": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of script action execution."
        },
        "instanceCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The instance count for a given script action execution status."
        }
      },
      "description": "The execution summary of a script action."
    },
    "RuntimeScriptActionDetail": {
      "allOf": [
        {
          "$ref": "#/definitions/RuntimeScriptAction"
        },
        {
          "properties": {
            "scriptExecutionId": {
              "readOnly": true,
              "type": "integer",
              "format": "int64",
              "description": "The execution id of the script action."
            },
            "startTime": {
              "readOnly": true,
              "type": "string",
              "description": "The start time of script action execution."
            },
            "endTime": {
              "readOnly": true,
              "type": "string",
              "description": "The end time of script action execution."
            },
            "status": {
              "readOnly": true,
              "type": "string",
              "description": "The current execution status of the script action."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "The reason why the script action was executed."
            },
            "executionSummary": {
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScriptActionExecutionSummary"
              },
              "description": "The summary of script action execution result."
            },
            "debugInformation": {
              "readOnly": true,
              "type": "string",
              "description": "The script action execution debug information."
            }
          }
        }
      ],
      "description": "The execution details of a script action."
    },
    "ClusterListRuntimeScriptActionDetailResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptActionDetail"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The list runtime script action detail response."
    },
    "ClusterIdentity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of cluster identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the cluster. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          },
          "description": "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the cluster."
    },
    "ClusterListResult": {
      "properties": {
        "value": {
          "description": "The list of Clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The List Cluster operation response."
    },
    "ClusterResizeParameters": {
      "properties": {
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The target instance count for the operation."
        }
      },
      "description": "The Resize Cluster request parameters."
    },
    "ClusterDiskEncryptionParameters": {
      "properties": {
        "vaultUri": {
          "type": "string",
          "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
        },
        "keyName": {
          "type": "string",
          "description": "Key name that is used for enabling disk encryption."
        },
        "keyVersion": {
          "type": "string",
          "description": "Specific key version that is used for enabling disk encryption."
        }
      },
      "description": "The Disk Encryption Cluster request parameters."
    },
    "DiskEncryptionProperties": {
      "description": "The disk encryption properties",
      "properties": {
        "vaultUri": {
          "type": "string",
          "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
        },
        "keyName": {
          "type": "string",
          "description": "Key name that is used for enabling disk encryption."
        },
        "keyVersion": {
          "type": "string",
          "description": "Specific key version that is used for enabling disk encryption."
        },
        "encryptionAlgorithm": {
          "type": "string",
          "description": "Algorithm identifier for encryption, default RSA-OAEP.",
          "enum": [
            "RSA-OAEP",
            "RSA-OAEP-256",
            "RSA1_5"
          ],
          "x-ms-enum": {
            "name": "JsonWebKeyEncryptionAlgorithm",
            "modelAsString": true
          }
        },
        "msiResourceId": {
          "type": "string",
          "description": "Resource ID of Managed Identity that is used to access the key vault."
        }
      }
    },
    "UpdateGatewaySettingsParameters": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "boolean",
          "default": true,
          "x-ms-client-name": "isCredentialEnabled",
          "description": "Indicates whether or not the gateway settings based authorization is enabled."
        },
        "restAuthCredential.username": {
          "type": "string",
          "x-ms-client-name": "userName",
          "description": "The gateway settings user name."
        },
        "restAuthCredential.password": {
          "type": "string",
          "x-ms-client-name": "password",
          "description": "The gateway settings user password."
        }
      },
      "description": "The update gateway settings request parameters."
    },
    "GatewaySettings": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "string",
          "x-ms-client-name": "isCredentialEnabled",
          "description": "Indicates whether or not the gateway settings based authorization is enabled.",
          "readOnly": true
        },
        "restAuthCredential.username": {
          "type": "string",
          "x-ms-client-name": "userName",
          "description": "The gateway settings user name.",
          "readOnly": true
        },
        "restAuthCredential.password": {
          "type": "string",
          "x-ms-client-name": "password",
          "description": "The gateway settings user password.",
          "readOnly": true
        }
      },
      "description": "Gateway settings."
    },
    "OperationResource": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The async operation state.",
          "enum": [
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "AsyncOperationState",
            "modelAsString": false
          }
        },
        "error": {
          "$ref": "#/definitions/Errors",
          "description": "The operation error information."
        }
      },
      "description": "The azure async operation response."
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "The URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "The parameters for the script provided."
        }
      },
      "required": [
        "name",
        "uri",
        "parameters"
      ],
      "description": "Describes a script action on role on the cluster."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The HDInsight client API Version."
    }
  },
  "x-internal-service-id": "hdinsight",
  "x-internal-service-name": "HDInsight",
  "x-internal-toc-name": "Clusters",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Create",
  "x-internal-operation-name": "Create"
}