{
  "swagger": "2.0",
  "info": {
    "title": "EventHubManagementClient",
    "description": "Azure Event Hubs client",
    "version": "2015-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}": {
      "put": {
        "tags": [
          "ConsumerGroups"
        ],
        "operationId": "ConsumerGroups_CreateOrUpdate",
        "x-ms-examples": {
          "ConsumerGroupCreate": {
            "parameters": {
              "resourceGroupName": "Default-ServiceBus-WestUS",
              "namespaceName": "sdk-Namespace736",
              "eventHubName": "sdk-EventHub5290",
              "consumerGroupName": "sdk-ConsumerGroup115",
              "api-version": "2015-08-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093",
              "parameters": {
                "location": "West US"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115",
                  "name": "sdk-ConsumerGroup115",
                  "type": "Microsoft.EventHub/ConsumerGroups",
                  "properties": {
                    "createdAt": "2017-03-12T21:11:46.308019Z",
                    "updatedAt": "2017-03-12T21:11:46.308019Z"
                  }
                }
              }
            }
          }
        },
        "description": "Creates or updates an Event Hubs consumer group as a nested resource within a Namespace.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639498.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/parameters/eventHubNameParameter"
          },
          {
            "$ref": "#/parameters/consumerGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsumerGroupCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create or update a consumer group resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Consumer group successfully created.",
            "schema": {
              "$ref": "#/definitions/ConsumerGroupResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ConsumerGroups"
        ],
        "operationId": "ConsumerGroups_Delete",
        "x-ms-examples": {
          "ConsumerGroupDelete": {
            "parameters": {
              "resourceGroupName": "Default-ServiceBus-WestUS",
              "namespaceName": "sdk-Namespace736",
              "eventHubName": "sdk-EventHub5290",
              "consumerGroupName": "sdk-ConsumerGroup115",
              "api-version": "2015-08-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "description": "Deletes a consumer group from the specified Event Hub and resource group.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639491.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/parameters/eventHubNameParameter"
          },
          {
            "$ref": "#/parameters/consumerGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "200": {
            "description": "Consumer group deleted."
          }
        }
      },
      "get": {
        "tags": [
          "ConsumerGroups"
        ],
        "operationId": "ConsumerGroups_Get",
        "x-ms-examples": {
          "ConsumerGroupGet": {
            "parameters": {
              "resourceGroupName": "Default-ServiceBus-WestUS",
              "namespaceName": "sdk-Namespace736",
              "eventHubName": "sdk-EventHub5290",
              "consumerGroupName": "sdk-ConsumerGroup115",
              "api-version": "2015-08-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115",
                  "name": "sdk-ConsumerGroup115",
                  "type": "Microsoft.EventHub/ConsumerGroups",
                  "properties": {
                    "createdAt": "2017-03-12T09:19:03.577Z",
                    "updatedAt": "2017-03-12T09:19:05.577Z"
                  }
                }
              }
            }
          }
        },
        "description": "Gets a description for the specified consumer group.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639488.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/parameters/eventHubNameParameter"
          },
          {
            "$ref": "#/parameters/consumerGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the consumer group description.",
            "schema": {
              "$ref": "#/definitions/ConsumerGroupResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups": {
      "get": {
        "tags": [
          "ConsumerGroups"
        ],
        "operationId": "ConsumerGroups_ListAll",
        "x-ms-examples": {
          "ConsumerGroupsListAll": {
            "parameters": {
              "resourceGroupName": "Default-ServiceBus-WestUS",
              "namespaceName": "sdk-Namespace736",
              "eventHubName": "sdk-EventHub5290",
              "api-version": "2015-08-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/$Default",
                      "name": "$Default",
                      "type": "Microsoft.EventHub/ConsumerGroups",
                      "properties": {
                        "createdAt": "2017-03-12T09:19:03.577Z",
                        "updatedAt": "2017-03-12T09:19:05.577Z"
                      }
                    },
                    {
                      "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-consumergroup115",
                      "name": "sdk-consumergroup115",
                      "type": "Microsoft.EventHub/ConsumerGroups",
                      "properties": {
                        "createdAt": "2017-03-12T09:19:07.577Z",
                        "updatedAt": "2017-03-12T09:19:09.577Z"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Gets all the consumer groups in a Namespace. An empty feed is returned if no consumer group exists in the Namespace.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639503.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/parameters/eventHubNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of consumer groups.",
            "schema": {
              "$ref": "#/definitions/ConsumerGroupListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Event Hub operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of Event Hub operations supported by the Microsoft.EventHub resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A Event Hub REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.EventHub",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "TrackedResource": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of Resource"
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        }
      },
      "description": "The Resource definition",
      "x-ms-azure-resource": true
    },
    "NamespaceCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Namespace location."
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Namespace tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Namespace operation."
    },
    "NamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "description": "Result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of namespaces."
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "NamespaceResource": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Single Namespace item in List or Get Operation"
    },
    "NamespaceProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "State of the Namespace.",
          "enum": [
            "Unknown",
            "Creating",
            "Created",
            "Activating",
            "Enabling",
            "Active",
            "Disabling",
            "Disabled",
            "SoftDeleting",
            "SoftDeleted",
            "Removing",
            "Removed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "NamespaceState",
            "modelAsString": false
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the Namespace."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the Namespace was created."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the Namespace was updated."
        },
        "serviceBusEndpoint": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Endpoint you can use to perform Service Bus operations."
        },
        "metricId": {
          "type": "string",
          "readOnly": true,
          "description": "Identifier for Azure Insights metrics"
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether this instance is enabled."
        }
      },
      "description": "Properties of the Namespace supplied for create or update Namespace operation"
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this SKU.",
          "enum": [
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "The billing tier of this particular SKU.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "The Event Hubs throughput units."
        }
      },
      "required": [
        "tier"
      ],
      "description": "SKU parameters supplied to the create Namespace operation"
    },
    "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Data center location."
        },
        "name": {
          "type": "string",
          "description": "Name of the AuthorizationRule."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
        }
      },
      "description": "Parameters supplied to the Create Or Update Authorization Rules operation."
    },
    "SharedAccessAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "description": "Result of the List Authorization Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains an incomplete list of Authorization Rules"
        }
      },
      "description": "The response from the List Namespace operation."
    },
    "SharedAccessAuthorizationRuleResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in a List or Get AuthorizationRule operation"
    },
    "SharedAccessAuthorizationRuleProperties": {
      "properties": {
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        }
      },
      "required": [
        "rights"
      ],
      "description": "Properties supplied to create or update SharedAccessAuthorizationRule"
    },
    "ResourceListKeys": {
      "properties": {
        "primaryConnectionString": {
          "type": "string",
          "readOnly": true,
          "description": "Primary connection string of the created Namespace AuthorizationRule."
        },
        "secondaryConnectionString": {
          "type": "string",
          "readOnly": true,
          "description": "Secondary connection string of the created Namespace AuthorizationRule."
        },
        "primaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "secondaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "keyName": {
          "type": "string",
          "readOnly": true,
          "description": "A string that describes the AuthorizationRule."
        }
      },
      "description": "Namespace/EventHub Connection String"
    },
    "RegenerateKeysParameters": {
      "properties": {
        "policykey": {
          "type": "string",
          "description": "Key that needs to be regenerated.",
          "enum": [
            "PrimaryKey",
            "SecondaryKey"
          ],
          "x-ms-enum": {
            "name": "Policykey",
            "modelAsString": false
          }
        }
      },
      "description": "Parameters supplied to the Regenerate Authorization Rule keys operation."
    },
    "EventHubCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "type": {
          "type": "string",
          "description": "ARM type of the Namespace."
        },
        "name": {
          "type": "string",
          "description": "Name of the Event Hub."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EventHubProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Event Hub operation."
    },
    "EventHubProperties": {
      "properties": {
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Exact time the Event Hub was created."
        },
        "messageRetentionInDays": {
          "format": "int64",
          "type": "integer",
          "description": "Number of days to retain the events for this Event Hub."
        },
        "partitionCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of partitions created for the Event Hub."
        },
        "partitionIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Current number of shards on the Event Hub."
        },
        "status": {
          "type": "string",
          "description": "Enumerates the possible values for the status of the Event Hub.",
          "enum": [
            "Active",
            "Disabled",
            "Restoring",
            "SendDisabled",
            "ReceiveDisabled",
            "Creating",
            "Deleting",
            "Renaming",
            "Unknown"
          ],
          "x-ms-enum": {
            "name": "EntityStatus",
            "modelAsString": false
          }
        },
        "updatedAt": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The exact time the message was updated."
        }
      },
      "description": "Properties supplied to the Create Or Update Event Hub operation."
    },
    "EventHubResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EventHubProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Event Hub operation"
    },
    "EventHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventHubResource"
          },
          "description": "Result of the List EventHubs operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of EventHubs."
        }
      },
      "description": "The result of the List EventHubs operation."
    },
    "ConsumerGroupCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "type": {
          "type": "string",
          "description": "ARM type of the Namespace."
        },
        "name": {
          "type": "string",
          "description": "Name of the consumer group."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConsumerGroupProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Consumer Group operation."
    },
    "ConsumerGroupProperties": {
      "properties": {
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Exact time the message was created."
        },
        "eventHubPath": {
          "type": "string",
          "readOnly": true,
          "description": "The path of the Event Hub."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The exact time the message was updated."
        },
        "userMetadata": {
          "type": "string",
          "description": "The user metadata."
        }
      },
      "description": "Properties supplied to the Create Or Update Consumer Group operation."
    },
    "ConsumerGroupResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConsumerGroupProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Consumer group operation"
    },
    "ConsumerGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConsumerGroupResource"
          },
          "description": "Result of the List Consumer Group operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Consumer Group"
        }
      },
      "description": "The result to the List Consumer Group operation."
    },
    "UnavailableReason": {
      "type": "string",
      "enum": [
        "None",
        "InvalidName",
        "SubscriptionIsDisabled",
        "NameInUse",
        "NameInLockdown",
        "TooManyNamespaceInCurrentSubscription"
      ],
      "x-ms-enum": {
        "name": "UnavailableReason",
        "modelAsString": false
      },
      "description": "Specifies the reason for the unavailability of the service."
    },
    "CheckNameAvailabilityParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name to check the namespace name availability"
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameter supplied to check Namespace name availability operation "
    },
    "CheckNameAvailabilityResult": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Value indicating Namespace is availability, true if the Namespace is available; otherwise, false."
        },
        "reason": {
          "$ref": "#/definitions/UnavailableReason",
          "description": "The reason for unavailability of a Namespace."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The detailed info regarding the reason associated with the Namespace."
        }
      },
      "description": "The Result of the CheckNameAvailability operation"
    },
    "NamespaceUpdateParameter": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created Namespace"
        }
      },
      "description": "Parameters supplied to the Patch/update Namespace operation."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API Version."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the resource group within the azure subscription."
    },
    "namespaceNameParameter": {
      "name": "namespaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 6,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The Namespace name"
    },
    "authorizationRuleNameParameter": {
      "name": "authorizationRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The authorization rule name."
    },
    "eventHubNameParameter": {
      "name": "eventHubName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The Event Hub name"
    },
    "consumerGroupNameParameter": {
      "name": "consumerGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The consumer group name"
    }
  }
}