{
  "swagger": "2.0",
  "info": {
    "version": "2018-11-30",
    "title": "ManagedServiceIdentityClient",
    "description": "The Managed Service Identity Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ManagedIdentity/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Lists available operations for the Microsoft.ManagedIdentity provider",
        "x-ms-examples": {
          "MsiOperationsList": {
            "parameters": {
              "api-version": "2018-11-30"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Gets an existing user assigned identity",
                        "operation": "Get User Assigned Identity",
                        "resource": "User Assigned Identities",
                        "provider": "Managed Service Identity"
                      },
                      "name": "Microsoft.ManagedIdentity/userAssignedIdentities/read"
                    },
                    {
                      "display": {
                        "description": "Creates a new user assigned identity or updates the tags associated with an existing user assigned identity",
                        "operation": "Create/Update User Assigned Identity",
                        "resource": "User Assigned Identities",
                        "provider": "Managed Service Identity"
                      },
                      "name": "Microsoft.ManagedIdentity/userAssignedIdentities/write"
                    },
                    {
                      "display": {
                        "description": "Deletes an existing user assigned identity",
                        "operation": "Delete User Assigned Identity",
                        "resource": "User Assigned Identities",
                        "provider": "Managed Service Identity"
                      },
                      "name": "Microsoft.ManagedIdentity/userAssignedIdentities/delete"
                    }
                  ],
                  "nextLink": "https://serviceRoot/providers/Microsoft.ManagedIdentity/operations?api-version=2018-11-30&$skiptoken=X'12345'"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the list of available operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "Identity": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The id of the created identity."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the created identity."
        },
        "location": {
          "type": "string",
          "description": "The Azure region where the identity lives."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "The properties associated with the identity.",
          "$ref": "#/definitions/IdentityProperties"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Microsoft.ManagedIdentity/userAssignedIdentities"
          ],
          "x-ms-enum": {
            "name": "UserAssignedIdentities",
            "modelAsString": true
          },
          "description": "The type of resource i.e. Microsoft.ManagedIdentity/userAssignedIdentities"
        }
      },
      "x-ms-azure-resource": true,
      "description": "Describes an identity resource."
    },
    "IdentityProperties": {
      "description": "The properties associated with the identity.",
      "type": "object",
      "title": "Identity properties.",
      "properties": {
        "tenantId": {
          "type": "string",
          "readOnly": true,
          "format": "uuid",
          "description": "The id of the tenant which the identity belongs to."
        },
        "principalId": {
          "type": "string",
          "readOnly": true,
          "format": "uuid",
          "description": "The id of the service principal object associated with the created identity."
        },
        "clientId": {
          "type": "string",
          "readOnly": true,
          "format": "uuid",
          "description": "The id of the app associated with the identity. This is a random generated UUID by MSI."
        },
        "clientSecretUrl": {
          "type": "string",
          "readOnly": true,
          "description": " The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials. If identity is user assigned, then the clientSecretUrl will not be present in the response, otherwise it will be present."
        }
      }
    },
    "UserAssignedIdentitiesListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Identity"
          },
          "description": "The collection of userAssignedIdentities returned by the listing operation."
        },
        "nextLink": {
          "type": "string",
          "description": "The url to get the next page of results, if any."
        }
      },
      "description": "Values returned by the List operation."
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "description": "A list of additional details about the error.",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the ManagedServiceIdentity service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the ManagedServiceIdentity service."
    },
    "Operation": {
      "title": "Microsoft.ManagedIdentity Operation.",
      "description": "Operation supported by the Microsoft.ManagedIdentity REST API.",
      "type": "object",
      "properties": {
        "name": {
          "title": "Operation Name.",
          "description": "The name of the REST Operation. This is of the format {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "title": "Operation Display.",
          "description": "The object that describes the operation.",
          "$ref": "#/definitions/OperationDisplay"
        }
      }
    },
    "OperationDisplay": {
      "title": "Operation Display.",
      "description": "The object that describes the operation.",
      "properties": {
        "provider": {
          "title": "Resource Provider Name.",
          "description": "Friendly name of the resource provider.",
          "type": "string"
        },
        "operation": {
          "title": "Operation Type.",
          "description": "The type of operation. For example: read, write, delete.",
          "type": "string"
        },
        "resource": {
          "title": "Resource Type.",
          "description": "The resource type on which the operation is performed.",
          "type": "string"
        },
        "description": {
          "title": "Operation description",
          "description": "A description of the operation.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "title": "Operations List.",
      "description": "A list of operations supported by Microsoft.ManagedIdentity Resource Provider.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "title": "Operations List.",
          "description": "A list of operations supported by Microsoft.ManagedIdentity Resource Provider."
        },
        "nextLink": {
          "type": "string",
          "title": "Next Link",
          "description": "The url to get the next page of results, if any."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Id of the Subscription to which the identity belongs.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the Resource Group to which the identity belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the identity resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Version of API to invoke.",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-service-id": "managedidentity",
  "x-internal-service-name": "Managed Identity",
  "x-internal-toc-name": "Operations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}