{
  "swagger": "2.0",
  "info": {
    "version": "2017-11-01-preview",
    "title": "Visual Studio Resource Provider Client",
    "description": "Use these APIs to manage Visual Studio Team Services resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Projects_Create",
        "description": "Creates a Team Services project in the collection with the specified name. 'VersionControlOption' and 'ProcessTemplateId' must be specified in the resource properties. Valid values for VersionControlOption: Git, Tfvc. Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45, ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01 (these IDs correspond to Scrum, Agile, and CMMI process templates).",
        "operationId": "Projects_Create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The request data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectResource"
            }
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "in": "path",
            "name": "rootResourceName",
            "description": "Name of the Team Services account.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceName",
            "description": "Name of the Team Services project.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "validating",
            "description": "This parameter is ignored and should be set to an empty string.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the details of the created or updated team project resource.",
            "schema": {
              "$ref": "#/definitions/ProjectResource"
            }
          },
          "202": {
            "description": "The operation succeeded. A job to create the team project resource has been queued. The URI to monitor the status of the job is provided in the 'location' header."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create a project resource": {
            "parameters": {
              "body": {
                "id": "/subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/project/ExampleProject",
                "name": "ExampleProject",
                "type": "Microsoft.VisualStudio/account/project",
                "location": "Central US",
                "tags": {},
                "properties": {
                  "processTemplateId": "Scrum",
                  "versionControlOption": "Git",
                  "bootstrapPipelineTemplate": {
                    "applicationSource": {
                      "sourceType": "CodeTemplate",
                      "applicationType": "NodeJs",
                      "applicationConfiguration": {
                        "nodeJsVersion": "8.5.0"
                      }
                    },
                    "applicationTarget": {
                      "targetType": "WindowsAppService",
                      "resources": [
                        {
                          "id": "/subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite",
                          "role": "AppService"
                        }
                      ]
                    },
                    "authorizationDetails": {
                      "azure": {
                        "authorizationType": "authorizationToken",
                        "parameters": {
                          "token": "AAD_Access_Token_For_VSTS_Resource"
                        }
                      }
                    }
                  }
                }
              },
              "subscriptionId": "0de7f055-dbea-498d-8e9e-da287eedca90",
              "resourceGroupName": "VS-Example-Group",
              "resourceName": "ExampleProject",
              "rootResourceName": "ExampleAccount",
              "api-version": "2017-11-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject",
                  "name": "ExampleProject",
                  "type": "microsoft.visualstudio/account/project",
                  "location": "North Central US",
                  "tags": {},
                  "kind": "bootstrappedProject",
                  "properties": {
                    "processTemplateId": "Scrum",
                    "versionControlOption": "Git",
                    "tfsUniqueIdentifier": "vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25",
                    "bootstrapPipelineTemplate": {
                      "applicationSource": {
                        "sourceType": "CodeTemplate",
                        "applicationType": "NodeJs",
                        "applicationConfiguration": {
                          "nodeJsVersion": "8.5.0"
                        }
                      },
                      "applicationTarget": {
                        "targetType": "WindowsAppService",
                        "resources": [
                          {
                            "id": "/subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite",
                            "role": "AppService"
                          }
                        ]
                      },
                      "authorizationDetails": {}
                    }
                  }
                }
              },
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject/subContainers/ExampleProject/status/?api-version=2017-11-01-preview&jobId=126167d2-d710-4b5d-80a8-a1d58717142d&operation=put",
                  "retry-after": "5"
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "AccountResource": {
      "description": "The response to an account resource GET request.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Resource properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "AccountResourceListResult": {
      "description": "The response to an account resource list GET request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of resource details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResource"
          }
        }
      }
    },
    "AccountResourceRequest": {
      "description": "The body of a PUT request to modify a Visual Studio account resource.",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The account name.",
          "type": "string"
        },
        "location": {
          "description": "The Azure instance location.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of the operation.",
          "enum": [
            "unknown",
            "create",
            "update",
            "link"
          ],
          "x-ms-enum": {
            "name": "AccountResourceRequestOperationType"
          }
        },
        "properties": {
          "description": "The custom properties of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The custom tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CheckNameAvailabilityParameter": {
      "description": "The body of a POST request to check name availability.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource to check availability for.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource to check availability for.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResult": {
      "description": "The response to a name availability request.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message describing the detailed reason.",
          "type": "string"
        },
        "nameAvailable": {
          "description": "The value which indicates whether the provided name is available.",
          "type": "boolean"
        }
      }
    },
    "ExtensionResource": {
      "description": "The response to an extension resource GET request.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "plan": {
          "description": "The extension plan that was purchased.",
          "$ref": "#/definitions/ExtensionResourcePlan"
        },
        "properties": {
          "description": "Resource properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExtensionResourceListResult": {
      "description": "The response to an extension resource list GET request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of extension resource details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionResource"
          }
        }
      }
    },
    "ExtensionResourcePlan": {
      "description": "Plan data for an extension resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the plan.",
          "type": "string"
        },
        "product": {
          "description": "Product name.",
          "type": "string"
        },
        "promotionCode": {
          "description": "Optional: the promotion code associated with the plan.",
          "type": "string"
        },
        "publisher": {
          "description": "Name of the extension publisher.",
          "type": "string"
        },
        "version": {
          "description": "A string that uniquely identifies the plan version.",
          "type": "string"
        }
      }
    },
    "ExtensionResourceRequest": {
      "description": "The body of an extension resource PUT request.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)",
          "type": "string"
        },
        "plan": {
          "description": "Extended information about the plan being purchased for this extension resource.",
          "$ref": "#/definitions/ExtensionResourcePlan"
        },
        "properties": {
          "description": "A dictionary of extended properties. This property is currently unused.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "A dictionary of user-defined tags to be stored with the extension resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "display": {
          "description": "The properties of the resource operation.",
          "$ref": "#/definitions/OperationProperties"
        },
        "name": {
          "description": "The name of the resource operation.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Container for a list of operations supported by a resource provider.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of operations supported by a resource provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the resource operation.",
          "type": "string"
        },
        "operation": {
          "description": "The operation name.",
          "type": "string"
        },
        "provider": {
          "description": "The provider name.",
          "type": "string"
        },
        "resource": {
          "description": "The resource name.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "A generic Azure Resource Manager resource.",
      "x-ms-azure-resource": true,
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "name": {
          "description": "Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Resource type.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProjectResource": {
      "description": "A Visual Studio Team Services project resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "kind": {
          "description": "Kind of project resource",
          "type": "string",
          "enum": [
            "project",
            "bootstrappedProject"
          ],
          "x-ms-enum": {
            "name": "ProjectResourceKind",
            "modelAsString": true
          }
        },
        "properties": {
          "description": "Custom properties of project resource.",
          "$ref": "#/definitions/ProjectResourceProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ProjectResourceProperties": {
      "description": "Defines the custom properties of project resource.",
      "type": "object",
      "properties": {
        "processTemplateId": {
          "description": "Process template to use in the project.",
          "type": "string",
          "enum": [
            "Scrum",
            "Agile",
            "Cmmi"
          ],
          "x-ms-enum": {
            "name": "ProcessTemplate",
            "modelAsString": true
          }
        },
        "versionControlOption": {
          "description": "Version control to use for the default repo created in the project.",
          "type": "string",
          "enum": [
            "Git",
            "Tfvc"
          ],
          "x-ms-enum": {
            "name": "VersionControlOption",
            "modelAsString": true
          }
        },
        "ownerUpn": {
          "description": "Optional UPN of the owner, on-behalf-of whom the project is being created.",
          "type": "string"
        },
        "tfsUniqueIdentifier": {
          "description": "Unique identifier of the VSTS project.",
          "readOnly": true,
          "type": "string"
        },
        "bootstrapPipelineTemplate": {
          "description": "Template used to configure a bootstrap pipeline in the VSTS project.",
          "$ref": "#/definitions/PipelineTemplate"
        }
      }
    },
    "PipelineTemplate": {
      "description": "Defines a VSTS pipeline template.",
      "type": "object",
      "properties": {
        "applicationSource": {
          "description": "Source application for the VSTS pipeline.",
          "$ref": "#/definitions/ApplicationSource"
        },
        "applicationTarget": {
          "description": "Target resources for the VSTS pipeline.",
          "$ref": "#/definitions/ApplicationTarget"
        },
        "authorizationDetails": {
          "description": "Global dictionary of authorization details used by the pipeline, with a friendly name as key. Individual resource in the pipeline can reference to a specific authorization info using the friendly name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Authorization"
          }
        }
      },
      "required": [
        "applicationSource",
        "applicationTarget",
        "authorizationDetails"
      ]
    },
    "ApplicationSource": {
      "description": "Defines the source application for a VSTS pipeline.",
      "type": "object",
      "discriminator": "sourceType",
      "properties": {
        "sourceType": {
          "description": "Type of application source.",
          "type": "string",
          "enum": [
            "CodeTemplate",
            "CodeRepository"
          ],
          "x-ms-enum": {
            "name": "ApplicationSourceType",
            "modelAsString": true
          }
        },
        "applicationType": {
          "description": "Type of application.",
          "type": "string",
          "enum": [
            "AspDotNet",
            "AspDotNetCore",
            "NodeJs"
          ],
          "x-ms-enum": {
            "name": "ApplicationType",
            "modelAsString": true
          }
        },
        "applicationConfiguration": {
          "description": "Application specific properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "sourceType",
        "applicationType"
      ]
    },
    "CodeTemplateApplicationSource": {
      "x-ms-discriminator-value": "CodeTemplate",
      "description": "Defines the source application template.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApplicationSource"
        }
      ]
    },
    "CodeRepositoryApplicationSource": {
      "x-ms-discriminator-value": "CodeRepository",
      "description": "Defines the source application, when it resides in a code repository.",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Code repository where the application source resides.",
          "$ref": "#/definitions/CodeRepository"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ApplicationSource"
        }
      ],
      "required": [
        "repository"
      ]
    },
    "CodeRepository": {
      "description": "Defines a code repository.",
      "type": "object",
      "properties": {
        "repositoryType": {
          "description": "Type of code repository.",
          "type": "string",
          "enum": [
            "gitHub",
            "vstsGit"
          ],
          "x-ms-enum": {
            "name": "CodeRepositoryType",
            "modelAsString": true
          }
        },
        "id": {
          "description": "Unique identifier of the code repository.",
          "type": "string"
        },
        "defaultBranch": {
          "description": "Default branch for which continuous integration should be configured in the VSTS pipeline.",
          "type": "string"
        },
        "authorizationReference": {
          "description": "Reference to the authorization info used to access the code repository. This value is used as a key into the global authorization details dictionary.",
          "type": "string"
        },
        "properties": {
          "description": "Repository-specific properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "repositoryType",
        "id",
        "defaultBranch"
      ]
    },
    "ApplicationTarget": {
      "description": "Defines the target resources for a VSTS pipeline.",
      "type": "object",
      "properties": {
        "targetType": {
          "description": "Type of target.",
          "type": "string",
          "enum": [
            "WindowsAppService"
          ],
          "x-ms-enum": {
            "name": "ApplicationTargetType",
            "modelAsString": true
          }
        },
        "resources": {
          "description": "List of target resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TargetResource"
          }
        }
      },
      "required": [
        "targetType",
        "resources"
      ]
    },
    "TargetResource": {
      "description": "Defines a single resource used as target for a VSTS pipeline.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the target resource.",
          "type": "string"
        },
        "role": {
          "description": "Role of the target resource.",
          "type": "string"
        },
        "authorizationReference": {
          "description": "Reference to the authorization info used to access the target resource. This value is used as a key into the global authorization details dictionary.",
          "type": "string"
        }
      },
      "required": [
        "id",
        "role"
      ]
    },
    "Authorization": {
      "description": "Defines the authorization type and its parameters.",
      "type": "object",
      "properties": {
        "authorizationType": {
          "description": "Type of authorization.",
          "type": "string",
          "enum": [
            "authorizationToken",
            "personalAccessToken"
          ],
          "x-ms-enum": {
            "name": "AuthorizationType",
            "modelAsString": true
          }
        },
        "parameters": {
          "description": "Authorization parameters corresponding to the authorization type.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "authorizationType"
      ]
    },
    "ProjectResourceListResult": {
      "description": "The response to a request to list Team Services project resources in a resource group/account.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of project resource details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResource"
          }
        }
      }
    },
    "ProjectResourceUpdateParameters": {
      "description": "The parameters to update a project resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "The custom tags to be set on the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Azure subscription identifier.",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Name of the resource group within the Azure subscription."
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-service-name": "Visual Studio",
  "x-internal-toc-name": "Projects",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create"
}