{
  "swagger": "2.0",
  "info": {
    "version": "3.0",
    "title": "Custom Vision Training Client"
  },
  "host": "southcentralus.api.cognitive.microsoft.com",
  "basePath": "/customvision/v3.0/training",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "Domain": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "type": {
          "enum": [
            "Classification",
            "ObjectDetection"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "DomainType",
            "modelAsString": true
          }
        },
        "exportable": {
          "type": "boolean",
          "readOnly": true,
          "x-nullable": false
        },
        "enabled": {
          "type": "boolean",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "ImageTagCreateBatch": {
      "description": "Batch of image tags.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Image Tag entries to include in this batch.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTagCreateEntry",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageTagCreateEntry": {
      "description": "Entry associating a tag to an image.",
      "type": "object",
      "properties": {
        "imageId": {
          "format": "uuid",
          "description": "Id of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the tag.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImageTagCreateSummary": {
      "type": "object",
      "properties": {
        "created": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTagCreateEntry"
          },
          "readOnly": false,
          "x-nullable": true
        },
        "duplicated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTagCreateEntry"
          },
          "readOnly": false,
          "x-nullable": true
        },
        "exceeded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTagCreateEntry"
          },
          "readOnly": false,
          "x-nullable": true
        }
      }
    },
    "ImageRegionCreateBatch": {
      "description": "Batch of image region information to create.",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegionCreateEntry",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageRegionCreateEntry": {
      "description": "Entry associating a region to an image.",
      "required": [
        "imageId",
        "tagId",
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "imageId": {
          "format": "uuid",
          "description": "Id of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the tag associated with this region.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImageRegionCreateSummary": {
      "type": "object",
      "properties": {
        "created": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegionCreateResult"
          },
          "readOnly": false,
          "x-nullable": true
        },
        "duplicated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegionCreateEntry"
          },
          "readOnly": false,
          "x-nullable": true
        },
        "exceeded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegionCreateEntry"
          },
          "readOnly": false,
          "x-nullable": true
        }
      }
    },
    "ImageRegionCreateResult": {
      "required": [
        "tagId",
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "imageId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "regionId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagName": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the tag associated with this region.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "Image": {
      "description": "Image model to be sent as JSON.",
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Id of the image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Date the image was created.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "width": {
          "format": "int32",
          "description": "Width of the image.",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        },
        "height": {
          "format": "int32",
          "description": "Height of the image.",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        },
        "resizedImageUri": {
          "description": "The URI to the (resized) image used for training.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "thumbnailUri": {
          "description": "The URI to the thumbnail of the original image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "originalImageUri": {
          "description": "The URI to the original uploaded image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tags": {
          "description": "Tags associated with this image.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTag"
          },
          "readOnly": true,
          "x-nullable": true
        },
        "regions": {
          "description": "Regions associated with this image.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegion"
          },
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "ImageTag": {
      "type": "object",
      "properties": {
        "tagId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagName": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "ImageRegion": {
      "required": [
        "tagId",
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "regionId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagName": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the tag associated with this region.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImageCreateSummary": {
      "type": "object",
      "properties": {
        "isBatchSuccessful": {
          "description": "True if all of the images in the batch were created successfully, otherwise false.",
          "type": "boolean",
          "readOnly": true,
          "x-nullable": false
        },
        "images": {
          "description": "List of the image creation results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageCreateResult",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "ImageCreateResult": {
      "type": "object",
      "properties": {
        "sourceUrl": {
          "description": "Source URL of the image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "status": {
          "description": "Status of the image creation.",
          "enum": [
            "OK",
            "OKDuplicate",
            "ErrorSource",
            "ErrorImageFormat",
            "ErrorImageSize",
            "ErrorStorage",
            "ErrorLimitExceed",
            "ErrorTagLimitExceed",
            "ErrorRegionLimitExceed",
            "ErrorUnknown",
            "ErrorNegativeAndRegularTagOnSameImage"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "ImageCreateStatus",
            "modelAsString": true
          }
        },
        "image": {
          "$ref": "#/definitions/Image",
          "description": "The image.",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "ImageFileCreateBatch": {
      "type": "object",
      "properties": {
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageFileCreateEntry",
            "x-nullable": false
          },
          "readOnly": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageFileCreateEntry": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "contents": {
          "format": "byte",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "Region": {
      "required": [
        "tagId",
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "tagId": {
          "format": "uuid",
          "description": "Id of the tag associated with this region.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImageUrlCreateBatch": {
      "type": "object",
      "properties": {
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageUrlCreateEntry",
            "x-nullable": false
          },
          "readOnly": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageUrlCreateEntry": {
      "required": [
        "url"
      ],
      "type": "object",
      "properties": {
        "url": {
          "description": "Url of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageIdCreateBatch": {
      "type": "object",
      "properties": {
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageIdCreateEntry",
            "x-nullable": false
          },
          "readOnly": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageIdCreateEntry": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Id of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "tagIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "ImageRegionProposal": {
      "type": "object",
      "properties": {
        "projectId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "imageId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionProposal",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "RegionProposal": {
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "boundingBox": {
          "$ref": "#/definitions/BoundingBox",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "BoundingBox": {
      "description": "Bounding box that defines a region of an image.",
      "required": [
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImageUrl": {
      "description": "Image url.",
      "required": [
        "url"
      ],
      "type": "object",
      "properties": {
        "url": {
          "description": "Url of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImagePrediction": {
      "description": "Result of an image prediction request.",
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Prediction Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "project": {
          "format": "uuid",
          "description": "Project Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "iteration": {
          "format": "uuid",
          "description": "Iteration Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Date this prediction was created.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "predictions": {
          "description": "List of predictions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prediction",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "Prediction": {
      "description": "Prediction result.",
      "type": "object",
      "properties": {
        "probability": {
          "format": "float",
          "description": "Probability of the tag.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the predicted tag.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagName": {
          "description": "Name of the predicted tag.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        },
        "boundingBox": {
          "$ref": "#/definitions/BoundingBox",
          "description": "Bounding box of the prediction.",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "PredictionQueryToken": {
      "type": "object",
      "properties": {
        "session": {
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "continuation": {
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "maxCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": false,
          "x-nullable": false
        },
        "orderBy": {
          "enum": [
            "Newest",
            "Oldest",
            "Suggested"
          ],
          "type": "string",
          "readOnly": false,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "OrderBy",
            "modelAsString": true
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PredictionQueryTag",
            "x-nullable": false
          },
          "readOnly": false
        },
        "iterationId": {
          "format": "uuid",
          "type": "string",
          "readOnly": false,
          "x-nullable": true
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": false,
          "x-nullable": true
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": false,
          "x-nullable": true
        },
        "application": {
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "PredictionQueryTag": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "minThreshold": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "maxThreshold": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "PredictionQueryResult": {
      "type": "object",
      "properties": {
        "token": {
          "$ref": "#/definitions/PredictionQueryToken",
          "readOnly": true,
          "x-nullable": false
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StoredImagePrediction",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "StoredImagePrediction": {
      "description": "result of an image classification request.",
      "type": "object",
      "properties": {
        "resizedImageUri": {
          "description": "The URI to the (resized) prediction image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "thumbnailUri": {
          "description": "The URI to the thumbnail of the original prediction image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "originalImageUri": {
          "description": "The URI to the original prediction image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "domain": {
          "format": "uuid",
          "description": "Domain used for the prediction.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "id": {
          "format": "uuid",
          "description": "Prediction Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "project": {
          "format": "uuid",
          "description": "Project Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "iteration": {
          "format": "uuid",
          "description": "Iteration Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Date this prediction was created.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "predictions": {
          "description": "List of predictions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prediction",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "IterationPerformance": {
      "description": "Represents the detailed performance data for a trained iteration.",
      "type": "object",
      "properties": {
        "perTagPerformance": {
          "description": "Gets the per-tag performance details for this iteration.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagPerformance",
            "x-nullable": false
          },
          "readOnly": true
        },
        "precision": {
          "format": "float",
          "description": "Gets the precision.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "precisionStdDeviation": {
          "format": "float",
          "description": "Gets the standard deviation for the precision.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "recall": {
          "format": "float",
          "description": "Gets the recall.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "recallStdDeviation": {
          "format": "float",
          "description": "Gets the standard deviation for the recall.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "averagePrecision": {
          "format": "float",
          "description": "Gets the average precision when applicable.",
          "type": "number",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "TagPerformance": {
      "description": "Represents performance data for a particular tag in a trained iteration.",
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "precision": {
          "format": "float",
          "description": "Gets the precision.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "precisionStdDeviation": {
          "format": "float",
          "description": "Gets the standard deviation for the precision.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "recall": {
          "format": "float",
          "description": "Gets the recall.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "recallStdDeviation": {
          "format": "float",
          "description": "Gets the standard deviation for the recall.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "averagePrecision": {
          "format": "float",
          "description": "Gets the average precision when applicable.",
          "type": "number",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "ImagePerformance": {
      "description": "Image performance model.",
      "type": "object",
      "properties": {
        "predictions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prediction"
          },
          "readOnly": true,
          "x-nullable": true
        },
        "id": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        },
        "imageUri": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "thumbnailUri": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTag"
          },
          "readOnly": true,
          "x-nullable": true
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageRegion"
          },
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "Project": {
      "description": "Represents a project.",
      "required": [
        "name",
        "description",
        "settings"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Gets the project id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "name": {
          "description": "Gets or sets the name of the project.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "description": {
          "description": "Gets or sets the description of the project.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "settings": {
          "$ref": "#/definitions/ProjectSettings",
          "description": "Gets or sets the project settings.",
          "readOnly": false,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Gets the date this project was created.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "lastModified": {
          "format": "date-time",
          "description": "Gets the date this project was last modified.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "thumbnailUri": {
          "description": "Gets the thumbnail url representing the image.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "drModeEnabled": {
          "description": "Gets if the DR mode is on.",
          "type": "boolean",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "ProjectSettings": {
      "description": "Represents settings associated with a project.",
      "type": "object",
      "properties": {
        "domainId": {
          "format": "uuid",
          "description": "Gets or sets the id of the Domain to use with this project.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "classificationType": {
          "description": "Gets or sets the classification type of the project.",
          "enum": [
            "Multiclass",
            "Multilabel"
          ],
          "type": "string",
          "readOnly": false,
          "x-nullable": true,
          "x-ms-enum": {
            "name": "Classifier",
            "modelAsString": true
          }
        },
        "targetExportPlatforms": {
          "description": "A list of ExportPlatform that the trained model should be able to support.",
          "type": "array",
          "items": {
            "enum": [
              "CoreML",
              "TensorFlow",
              "DockerFile",
              "ONNX",
              "VAIDK"
            ],
            "type": "string",
            "x-nullable": false
          },
          "readOnly": false
        }
      }
    },
    "Iteration": {
      "description": "Iteration model to be sent over JSON.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Gets the id of the iteration.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "name": {
          "description": "Gets or sets the name of the iteration.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "status": {
          "description": "Gets the current iteration status.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Gets the time this iteration was completed.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "lastModified": {
          "format": "date-time",
          "description": "Gets the time this iteration was last modified.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "trainedAt": {
          "format": "date-time",
          "description": "Gets the time this iteration was last modified.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        },
        "projectId": {
          "format": "uuid",
          "description": "Gets the project id of the iteration.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "exportable": {
          "description": "Whether the iteration can be exported to another format for download.",
          "type": "boolean",
          "readOnly": true,
          "x-nullable": false
        },
        "exportableTo": {
          "description": "A set of platforms this iteration can export to.",
          "type": "array",
          "items": {
            "enum": [
              "CoreML",
              "TensorFlow",
              "DockerFile",
              "ONNX",
              "VAIDK"
            ],
            "type": "string",
            "x-nullable": false
          },
          "readOnly": true
        },
        "domainId": {
          "format": "uuid",
          "description": "Get or sets a guid of the domain the iteration has been trained on.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        },
        "classificationType": {
          "description": "Gets the classification type of the project.",
          "enum": [
            "Multiclass",
            "Multilabel"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "x-ms-enum": {
            "name": "Classifier",
            "modelAsString": true
          }
        },
        "trainingType": {
          "description": "Gets the training type of the iteration.",
          "enum": [
            "Regular",
            "Advanced"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "TrainingType",
            "modelAsString": true
          }
        },
        "reservedBudgetInHours": {
          "format": "int32",
          "description": "Gets the reserved advanced training budget for the iteration.",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        },
        "publishName": {
          "description": "Name of the published model.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        },
        "originalPublishResourceId": {
          "description": "Resource Provider Id this iteration was originally published to.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "Export": {
      "type": "object",
      "properties": {
        "platform": {
          "description": "Platform of the export.",
          "enum": [
            "CoreML",
            "TensorFlow",
            "DockerFile",
            "ONNX",
            "VAIDK"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "ExportPlatform",
            "modelAsString": true
          }
        },
        "status": {
          "description": "Status of the export.",
          "enum": [
            "Exporting",
            "Failed",
            "Done"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "ExportStatus",
            "modelAsString": true
          }
        },
        "downloadUri": {
          "description": "URI used to download the model.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "flavor": {
          "description": "Flavor of the export.",
          "enum": [
            "Linux",
            "Windows",
            "ONNX10",
            "ONNX12",
            "ARM"
          ],
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "x-ms-enum": {
            "name": "ExportFlavor",
            "modelAsString": true
          }
        },
        "newerVersionAvailable": {
          "description": "Indicates an updated version of the export package is available and should be re-exported for the latest changes.",
          "type": "boolean",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "Tag": {
      "description": "Represents a Tag.",
      "required": [
        "name",
        "description",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Gets the Tag ID.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "name": {
          "description": "Gets or sets the name of the tag.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "description": {
          "description": "Gets or sets the description of the tag.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        },
        "type": {
          "description": "Gets or sets the type of the tag.",
          "enum": [
            "Regular",
            "Negative"
          ],
          "type": "string",
          "readOnly": false,
          "x-nullable": false,
          "x-ms-enum": {
            "name": "TagType",
            "modelAsString": true
          }
        },
        "imageCount": {
          "format": "int32",
          "description": "Gets the number of images with this tag.",
          "type": "integer",
          "readOnly": true,
          "x-nullable": false
        }
      }
    },
    "CustomVisionError": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "enum": [
            "NoError",
            "BadRequest",
            "BadRequestExceededBatchSize",
            "BadRequestNotSupported",
            "BadRequestInvalidIds",
            "BadRequestProjectName",
            "BadRequestProjectNameNotUnique",
            "BadRequestProjectDescription",
            "BadRequestProjectUnknownDomain",
            "BadRequestProjectUnknownClassification",
            "BadRequestProjectUnsupportedDomainTypeChange",
            "BadRequestProjectUnsupportedExportPlatform",
            "BadRequestIterationName",
            "BadRequestIterationNameNotUnique",
            "BadRequestIterationDescription",
            "BadRequestIterationIsNotTrained",
            "BadRequestWorkspaceCannotBeModified",
            "BadRequestWorkspaceNotDeletable",
            "BadRequestTagName",
            "BadRequestTagNameNotUnique",
            "BadRequestTagDescription",
            "BadRequestTagType",
            "BadRequestMultipleNegativeTag",
            "BadRequestImageTags",
            "BadRequestImageRegions",
            "BadRequestNegativeAndRegularTagOnSameImage",
            "BadRequestRequiredParamIsNull",
            "BadRequestIterationIsPublished",
            "BadRequestInvalidPublishName",
            "BadRequestInvalidPublishTarget",
            "BadRequestUnpublishFailed",
            "BadRequestIterationNotPublished",
            "BadRequestSubscriptionApi",
            "BadRequestExceedProjectLimit",
            "BadRequestExceedIterationPerProjectLimit",
            "BadRequestExceedTagPerProjectLimit",
            "BadRequestExceedTagPerImageLimit",
            "BadRequestExceededQuota",
            "BadRequestCannotMigrateProjectWithName",
            "BadRequestNotLimitedTrial",
            "BadRequestImageBatch",
            "BadRequestImageStream",
            "BadRequestImageUrl",
            "BadRequestImageFormat",
            "BadRequestImageSizeBytes",
            "BadRequestImageExceededCount",
            "BadRequestTrainingNotNeeded",
            "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
            "BadRequestTrainingValidationFailed",
            "BadRequestClassificationTrainingValidationFailed",
            "BadRequestMultiClassClassificationTrainingValidationFailed",
            "BadRequestMultiLabelClassificationTrainingValidationFailed",
            "BadRequestDetectionTrainingValidationFailed",
            "BadRequestTrainingAlreadyInProgress",
            "BadRequestDetectionTrainingNotAllowNegativeTag",
            "BadRequestInvalidEmailAddress",
            "BadRequestDomainNotSupportedForAdvancedTraining",
            "BadRequestExportPlatformNotSupportedForAdvancedTraining",
            "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
            "BadRequestExportValidationFailed",
            "BadRequestExportAlreadyInProgress",
            "BadRequestPredictionIdsMissing",
            "BadRequestPredictionIdsExceededCount",
            "BadRequestPredictionTagsExceededCount",
            "BadRequestPredictionResultsExceededCount",
            "BadRequestPredictionInvalidApplicationName",
            "BadRequestPredictionInvalidQueryParameters",
            "BadRequestInvalid",
            "UnsupportedMediaType",
            "Forbidden",
            "ForbiddenUser",
            "ForbiddenUserResource",
            "ForbiddenUserSignupDisabled",
            "ForbiddenUserSignupAllowanceExceeded",
            "ForbiddenUserDoesNotExist",
            "ForbiddenUserDisabled",
            "ForbiddenUserInsufficientCapability",
            "ForbiddenDRModeEnabled",
            "ForbiddenInvalid",
            "NotFound",
            "NotFoundProject",
            "NotFoundProjectDefaultIteration",
            "NotFoundIteration",
            "NotFoundIterationPerformance",
            "NotFoundTag",
            "NotFoundImage",
            "NotFoundDomain",
            "NotFoundApimSubscription",
            "NotFoundInvalid",
            "Conflict",
            "ConflictInvalid",
            "ErrorUnknown",
            "ErrorProjectInvalidWorkspace",
            "ErrorProjectInvalidPipelineConfiguration",
            "ErrorProjectInvalidDomain",
            "ErrorProjectTrainingRequestFailed",
            "ErrorProjectExportRequestFailed",
            "ErrorFeaturizationServiceUnavailable",
            "ErrorFeaturizationQueueTimeout",
            "ErrorFeaturizationInvalidFeaturizer",
            "ErrorFeaturizationAugmentationUnavailable",
            "ErrorFeaturizationUnrecognizedJob",
            "ErrorFeaturizationAugmentationError",
            "ErrorExporterInvalidPlatform",
            "ErrorExporterInvalidFeaturizer",
            "ErrorExporterInvalidClassifier",
            "ErrorPredictionServiceUnavailable",
            "ErrorPredictionModelNotFound",
            "ErrorPredictionModelNotCached",
            "ErrorPrediction",
            "ErrorPredictionStorage",
            "ErrorRegionProposal",
            "ErrorInvalid"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "CustomVisionErrorCodes",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A message explaining the error reported by the service.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiKey": {
      "name": "Training-Key",
      "in": "header",
      "description": "API key.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "ApiKey",
      "x-ms-parameter-location": "client"
    },
    "Endpoint": {
      "name": "Endpoint",
      "in": "path",
      "description": "Supported Cognitive Services endpoints.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true
    }
  },
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/Endpoint"
      }
    ]
  },
  "x-internal-service-id": "cognitiveservices",
  "x-internal-service-name": "Cognitive Services",
  "x-internal-toc-name": "Get Project",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Get Project",
      "relativePath": "GetProject/GetProject"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}