{
  "swagger": "2.0",
  "info": {
    "version": "2019-03-01",
    "title": "RunCommandsClient",
    "description": "The Run Commands Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands": {
      "get": {
        "tags": [
          "VirtualMachineRunCommands"
        ],
        "operationId": "VirtualMachineRunCommands_List",
        "x-ms-examples": {
          "VirtualMachineRunCommandList": {
            "parameters": {
              "subscriptionId": "subid",
              "location": "SoutheastAsia",
              "api-version": "2019-03-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "EnableRemotePS",
                      "osType": "Windows",
                      "label": "Enable remote PowerShell",
                      "description": "Configure the machine to enable remote PowerShell."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "IPConfig",
                      "osType": "Windows",
                      "label": "List IP configuration",
                      "description": "Shows detailed information for the IP address, subnet mask and default gateway for each adapter bound to TCP/IP."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "RunPowerShellScript",
                      "osType": "Windows",
                      "label": "Executes a PowerShell script",
                      "description": "Custom multiline PowerShell script should be defined in script property. Optional parameters can be set in parameters property."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "RunShellScript",
                      "osType": "Linux",
                      "label": "Executes a Linux shell script",
                      "description": "Custom multiline shell script should be defined in script property. Optional parameters can be set in parameters property."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "ifconfig",
                      "osType": "Linux",
                      "label": "List network configuration",
                      "description": "Get the configuration of all network interfaces."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "EnableAdminAccount",
                      "osType": "Windows",
                      "label": "Enable administrator account",
                      "description": "Checks if the local Administrator account is disabled, and if so enables it."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "ResetAccountPassword",
                      "osType": "Windows",
                      "label": "Reset built-in Administrator account password",
                      "description": "Reset built-in Administrator account password."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "RDPSettings",
                      "osType": "Windows",
                      "label": "Verify RDP Listener Settings",
                      "description": "Checks registry settings and domain policy settings. Suggests policy actions if machine is part of a domain or modifies the settings to default values."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "SetRDPPort",
                      "osType": "Windows",
                      "label": "Set Remote Desktop port",
                      "description": "Sets the default or user specified port number for Remote Desktop connections. Enables firewall rule for inbound access to the port."
                    },
                    {
                      "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
                      "id": "ResetRDPCert",
                      "osType": "Windows",
                      "label": "Restore RDP Authentication mode to defaults",
                      "description": "Removes the SSL certificate tied to the RDP listener and restores the RDP listerner security to default. Use this script if you see any issues with the certificate."
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Lists all available run commands for a subscription in a location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location upon which run commands is queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunCommandListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json",
          "text/json"
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "RunCommandInputParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "value": {
          "type": "string",
          "description": "The run command parameter value."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandInput": {
      "properties": {
        "commandId": {
          "type": "string",
          "description": "The run command id."
        },
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The script to be executed.  When this value is given, the given script will override the default script of the command."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandInputParameter"
          },
          "description": "The run command parameters."
        }
      },
      "required": [
        "commandId"
      ],
      "description": "Capture Virtual Machine parameters."
    },
    "RunCommandParameterDefinition": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "type": {
          "type": "string",
          "description": "The run command parameter type."
        },
        "defaultValue": {
          "type": "string",
          "description": "The run command parameter default value."
        },
        "required": {
          "type": "boolean",
          "description": "The run command parameter required.",
          "default": false
        }
      },
      "required": [
        "name",
        "type"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandDocumentBase": {
      "properties": {
        "$schema": {
          "type": "string",
          "description": "The VM run command schema."
        },
        "id": {
          "type": "string",
          "description": "The VM run command id."
        },
        "osType": {
          "type": "string",
          "description": "The Operating System type.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "label": {
          "type": "string",
          "description": "The VM run command label."
        },
        "description": {
          "type": "string",
          "description": "The VM run command description."
        }
      },
      "required": [
        "$schema",
        "id",
        "osType",
        "label",
        "description"
      ],
      "description": "Describes the properties of a Run Command metadata."
    },
    "RunCommandDocument": {
      "allOf": [
        {
          "$ref": "#/definitions/RunCommandDocumentBase"
        }
      ],
      "properties": {
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The script to be executed."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandParameterDefinition"
          },
          "description": "The parameters used by the script."
        }
      },
      "required": [
        "script"
      ],
      "description": "Describes the properties of a Run Command."
    },
    "RunCommandListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandDocumentBase"
          },
          "description": "The list of virtual machine run commands."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of run commands. Call ListNext() with this to fetch the next page of run commands."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Virtual Machine operation response."
    },
    "InstanceViewStatus": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The status code."
        },
        "level": {
          "type": "string",
          "description": "The level code.",
          "enum": [
            "Info",
            "Warning",
            "Error"
          ],
          "x-ms-enum": {
            "name": "StatusLevelTypes",
            "modelAsString": false
          }
        },
        "displayStatus": {
          "type": "string",
          "description": "The short localizable label for the status."
        },
        "message": {
          "type": "string",
          "description": "The detailed status message, including for alerts and error messages."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "The time of the status."
        }
      },
      "description": "Instance view status."
    },
    "RunCommandResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceViewStatus"
          },
          "description": "Run command operation response."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-id": "compute",
  "x-internal-service-name": "Compute",
  "x-internal-toc-name": "Virtual Machine Run Commands",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}