{
  "swagger": "2.0",
  "info": {
    "version": "2017-11-15",
    "title": "DeviceProvisioningService_ServiceRuntimeClient",
    "description": "API for service operations with the Azure IotHub Device Provisioning Service"
  },
  "host": "contoso.azure-devices-provisioning.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "IndividualEnrollment": {
      "description": "The device enrollment record.",
      "required": [
        "registrationId",
        "attestation"
      ],
      "type": "object",
      "properties": {
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "deviceId": {
          "description": "Desired IoT Hub device ID (optional).",
          "type": "string"
        },
        "registrationState": {
          "$ref": "#/definitions/DeviceRegistrationState",
          "description": "Current registration status."
        },
        "attestation": {
          "$ref": "#/definitions/AttestationMechanism",
          "description": "Attestation method used by the device."
        },
        "iotHubHostName": {
          "description": "The Iot Hub host name.",
          "type": "string"
        },
        "initialTwin": {
          "$ref": "#/definitions/InitialTwin",
          "description": "Initial device twin."
        },
        "etag": {
          "description": "The entity tag associated with the resource.",
          "type": "string"
        },
        "provisioningStatus": {
          "description": "The provisioning status.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "type": "string"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "The DateTime this resource was created.",
          "type": "string"
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "The DateTime this resource was last updated.",
          "type": "string"
        }
      }
    },
    "DeviceRegistrationState": {
      "description": "Device registration state.",
      "required": [
        "registrationId",
        "status"
      ],
      "type": "object",
      "properties": {
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Registration create date time (in UTC).",
          "type": "string"
        },
        "assignedHub": {
          "description": "Assigned Azure IoT Hub.",
          "type": "string"
        },
        "deviceId": {
          "description": "Device ID.",
          "type": "string"
        },
        "status": {
          "description": "Enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Error message.",
          "type": "string"
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "Last updated date time (in UTC).",
          "type": "string"
        },
        "etag": {
          "description": "The entity tag associated with the resource.",
          "type": "string"
        }
      }
    },
    "AttestationMechanism": {
      "description": "Device attestation method.",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "none",
            "tpm",
            "x509"
          ],
          "type": "string"
        },
        "tpm": {
          "$ref": "#/definitions/TpmAttestation"
        },
        "x509": {
          "$ref": "#/definitions/X509Attestation"
        }
      }
    },
    "InitialTwin": {
      "description": "Initial device twin. Contains a subset of the properties of Twin.",
      "type": "object",
      "properties": {
        "tags": {
          "$ref": "#/definitions/TwinCollection",
          "description": "Twin tags."
        },
        "properties": {
          "$ref": "#/definitions/InitialTwinProperties",
          "description": "Twin desired properties."
        }
      }
    },
    "TpmAttestation": {
      "description": "Attestation via TPM.",
      "required": [
        "endorsementKey"
      ],
      "type": "object",
      "properties": {
        "endorsementKey": {
          "type": "string"
        },
        "storageRootKey": {
          "type": "string"
        }
      }
    },
    "X509Attestation": {
      "description": "Attestation via X509.",
      "type": "object",
      "properties": {
        "clientCertificates": {
          "$ref": "#/definitions/X509Certificates"
        },
        "signingCertificates": {
          "$ref": "#/definitions/X509Certificates"
        },
        "caReferences": {
          "$ref": "#/definitions/X509CAReferences"
        }
      }
    },
    "InitialTwinProperties": {
      "type": "object",
      "properties": {
        "desired": {
          "$ref": "#/definitions/TwinCollection",
          "description": "Gets and sets the InitialTwin desired properties."
        }
      }
    },
    "X509Certificates": {
      "description": "Primary and secondary certificates",
      "type": "object",
      "properties": {
        "primary": {
          "$ref": "#/definitions/X509CertificateWithInfo"
        },
        "secondary": {
          "$ref": "#/definitions/X509CertificateWithInfo"
        }
      }
    },
    "X509CAReferences": {
      "description": "Primary and secondary CA references.",
      "type": "object",
      "properties": {
        "primary": {
          "type": "string"
        },
        "secondary": {
          "type": "string"
        }
      }
    },
    "X509CertificateWithInfo": {
      "description": "Certificate and Certificate info",
      "type": "object",
      "properties": {
        "certificate": {
          "type": "string"
        },
        "info": {
          "$ref": "#/definitions/X509CertificateInfo"
        }
      }
    },
    "X509CertificateInfo": {
      "description": "X509 certificate info.",
      "required": [
        "subjectName",
        "sha1Thumbprint",
        "sha256Thumbprint",
        "issuerName",
        "notBeforeUtc",
        "notAfterUtc",
        "serialNumber",
        "version"
      ],
      "type": "object",
      "properties": {
        "subjectName": {
          "type": "string"
        },
        "sha1Thumbprint": {
          "type": "string"
        },
        "sha256Thumbprint": {
          "type": "string"
        },
        "issuerName": {
          "type": "string"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "notAfterUtc": {
          "format": "date-time",
          "type": "string"
        },
        "serialNumber": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EnrollmentGroup": {
      "description": "Enrollment group record.",
      "required": [
        "enrollmentGroupId",
        "attestation"
      ],
      "type": "object",
      "properties": {
        "enrollmentGroupId": {
          "description": "Enrollment Group ID.",
          "type": "string"
        },
        "attestation": {
          "$ref": "#/definitions/AttestationMechanism",
          "description": "Attestation method used by the device."
        },
        "iotHubHostName": {
          "description": "The Iot Hub host name.",
          "type": "string"
        },
        "initialTwin": {
          "$ref": "#/definitions/InitialTwin",
          "description": "Initial device twin."
        },
        "etag": {
          "description": "The entity tag associated with the resource.",
          "type": "string"
        },
        "provisioningStatus": {
          "description": "The provisioning status.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "type": "string"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "The DateTime this resource was created.",
          "type": "string"
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "The DateTime this resource was last updated.",
          "type": "string"
        }
      }
    },
    "BulkEnrollmentOperation": {
      "description": "Bulk operation",
      "required": [
        "mode",
        "enrollments"
      ],
      "type": "object",
      "properties": {
        "mode": {
          "description": "Operation mode",
          "enum": [
            "create",
            "update",
            "updateIfMatchETag",
            "delete"
          ],
          "type": "string"
        },
        "enrollments": {
          "description": "Enrollment items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndividualEnrollment"
          }
        }
      }
    },
    "BulkEnrollmentOperationResult": {
      "description": "Bulk enrollment operation result",
      "required": [
        "isSuccessful"
      ],
      "type": "object",
      "properties": {
        "isSuccessful": {
          "description": "Indicates if the operation was successful in its entirety",
          "type": "boolean"
        },
        "errors": {
          "description": "Registration errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkEnrollmentOperationError"
          }
        }
      }
    },
    "BulkEnrollmentOperationError": {
      "description": "Bulk enrollment operation error",
      "required": [
        "registrationId",
        "errorCode",
        "errorStatus"
      ],
      "type": "object",
      "properties": {
        "registrationId": {
          "description": "Device registration id.",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Error code",
          "type": "integer"
        },
        "errorStatus": {
          "description": "Error status",
          "type": "string"
        }
      }
    },
    "QuerySpecification": {
      "description": "A Json query request",
      "required": [
        "query"
      ],
      "type": "object",
      "properties": {
        "query": {
          "description": "The query.",
          "type": "string"
        }
      }
    },
    "TwinCollection": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "integer"
        },
        "count": {
          "type": "integer"
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      },
      "additionalProperties": {
        "type": "object"
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "lastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "lastUpdatedVersion": {
          "format": "int64",
          "description": "This SHOULD be null for Reported properties metadata and MUST not be null for Desired properties metadata.",
          "type": "integer"
        }
      }
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request. Supported versions include: 2017-11-15",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {},
  "x-internal-service-name": "IoT Hub Device Provisioning Service",
  "x-internal-toc-name": "Device Enrollment",
  "x-internal-split-members": [
    {
      "displayName": "Bulk Operation",
      "relativePath": "DeviceEnrollment/BulkOperation"
    },
    {
      "displayName": "Create Or Update",
      "relativePath": "DeviceEnrollment/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "DeviceEnrollment/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "DeviceEnrollment/Get"
    },
    {
      "displayName": "Query",
      "relativePath": "DeviceEnrollment/Query"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}