{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01",
    "title": "SubscriptionsManagementClient",
    "description": "The Admin Subscriptions Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}": {
      "delete": {
        "x-ms-examples": {
          "Delete the specified offer.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "api-version": "2015-11-01",
              "name": "sampleoffer1",
              "resourceGroupName": "RG1",
              "offer": "offername"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "description": "Delete the specified offer.",
        "tags": [
          "Offers"
        ],
        "operationId": "Offers_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/OfferParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "Offer": {
      "description": "Represents an offering of services against which a subscription can be created.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Represents an offering of services against which a subscription can be created.",
          "$ref": "#/definitions/OfferProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "OfferProperties": {
      "description": "Represents an offering of services against which a subscription can be created.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Offer.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of offer.",
          "type": "string"
        },
        "description": {
          "description": "Description of offer.",
          "type": "string"
        },
        "externalReferenceId": {
          "description": "External reference identifier.",
          "type": "string"
        },
        "state": {
          "description": "Offer accessibility state.",
          "$ref": "#/definitions/AccessibilityState"
        },
        "subscriptionCount": {
          "description": "Current subscription count.",
          "type": "integer"
        },
        "maxSubscriptionsPerAccount": {
          "description": "Maximum subscriptions per account.",
          "type": "integer"
        },
        "basePlanIds": {
          "description": "Identifiers of the base plans that become available to the tenant immediately when a tenant subscribes to the offer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addonPlans": {
          "description": "References to add-on plans that a tenant can optionally acquire as a part of the offer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddonPlanDefinition"
          }
        }
      }
    },
    "AccessibilityState": {
      "type": "string",
      "description": "Represents the state of the offer",
      "enum": [
        "Private",
        "Public",
        "Decommissioned"
      ],
      "x-ms-enum": {
        "name": "AccessibilityState",
        "modelAsString": true,
        "values": [
          {
            "description": "The offer or plan is private. Only an Admin can see and manage it.",
            "name": "Private",
            "value": "Private"
          },
          {
            "description": "The offer or plan is public. Users can see and self-subscribe to it.",
            "name": "Public",
            "value": "Public"
          },
          {
            "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
            "name": "Decommissioned",
            "value": "Decommissioned"
          }
        ]
      }
    },
    "AddonPlanDefinition": {
      "description": "Contains the name of the desired plan to be linked or unlinked from an offer.",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Plan identifier.",
          "type": "string"
        },
        "maxAcquisitionCount": {
          "description": "Maximum number of instances that can be acquired by a single subscription. If not specified, the assumed value is 1.",
          "type": "integer"
        }
      }
    },
    "OfferList": {
      "description": "List of offers.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of offers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URI to next page."
        }
      }
    },
    "PlanLinkDefinition": {
      "description": "Definition for linking and unlinking plans to offers.",
      "type": "object",
      "properties": {
        "planName": {
          "description": "Name of the plan.",
          "type": "string"
        },
        "planLinkType": {
          "description": "Type of the plan link.",
          "$ref": "#/definitions/PlanLinkType"
        },
        "maxAcquisitionCount": {
          "description": "The maximum acquisition count by subscribers",
          "type": "integer"
        }
      }
    },
    "PlanLinkType": {
      "description": "Plan link type.",
      "type": "string",
      "enum": [
        "None",
        "Base",
        "Addon"
      ],
      "x-ms-enum": {
        "name": "PlanLinkType",
        "modelAsString": true
      }
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "URI of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "MetricAvailability": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "The time grain. Metrics will be available for this time grain.",
          "type": "string"
        },
        "retention": {
          "description": "the retention. Metrics may be queried for this interval.",
          "type": "string"
        }
      }
    },
    "MetricAvailabilityList": {
      "description": "List of metric definitions.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricAvailability"
      }
    },
    "MetricPrimaryAggregationType": {
      "description": "The primary aggregation type for resource metric.",
      "type": "string",
      "enum": [
        "None",
        "Average",
        "Total",
        "Minimum",
        "Maximum",
        "Last"
      ],
      "x-ms-enum": {
        "name": "MetricPrimaryAggregationType",
        "modelAsString": true,
        "values": [
          {
            "description": "No aggregation applied to resource.",
            "name": "None",
            "value": "None"
          },
          {
            "description": "The average aggregation type.",
            "name": "Average",
            "value": "Average"
          },
          {
            "description": "The total aggregation type.",
            "name": "Total",
            "value": "Total"
          },
          {
            "description": "The minimum aggregation type.",
            "name": "Minimum",
            "value": "Minimum"
          },
          {
            "description": "The maximum aggregation type.",
            "name": "Maximum",
            "value": "Maximum"
          },
          {
            "description": "The last aggregation type.",
            "name": "Last",
            "value": "Last"
          }
        ]
      }
    },
    "MetricUnit": {
      "description": "The resource metric unit.",
      "type": "string",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond"
      ],
      "x-ms-enum": {
        "name": "MetricUnit",
        "modelAsString": true,
        "values": [
          {
            "description": "The count.",
            "name": "Count",
            "value": "Count"
          },
          {
            "description": "The bytes.",
            "name": "Bytes",
            "value": "Bytes"
          },
          {
            "description": "The seconds.",
            "name": "Seconds",
            "value": "Seconds"
          },
          {
            "description": "The count per second.",
            "name": "CountPerSecond",
            "value": "CountPerSecond"
          },
          {
            "description": "The bytes per second.",
            "name": "BytesPerSecond",
            "value": "BytesPerSecond"
          }
        ]
      }
    },
    "MetricDefinition": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "name": {
          "description": "Metric definition name.",
          "type": "string"
        },
        "unit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "primaryAggregationType": {
          "description": "Type of the primary aggregation.",
          "$ref": "#/definitions/MetricPrimaryAggregationType"
        },
        "metricAvailabilities": {
          "description": "Metric availabilities.",
          "$ref": "#/definitions/MetricAvailabilityList"
        }
      }
    },
    "MetricDefinitionList": {
      "description": "List of metric definitions.",
      "properties": {
        "value": {
          "description": "Array of metric definitions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    },
    "MetricValue": {
      "description": "Metric value",
      "type": "object",
      "properties": {
        "timeStamp": {
          "description": "Timestamp of when the metric value was collected.",
          "type": "string",
          "format": "date-time"
        },
        "average": {
          "description": "Average value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "minimum": {
          "description": "Minimum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Maximum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "total": {
          "description": "Total value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "description": "Number of measurements for metric sample period.",
          "type": "integer"
        },
        "properties": {
          "x-ms-client-name": "extendedProperties",
          "description": "Extended properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "MetricValueList": {
      "description": "List of metric values.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricValue"
      }
    },
    "Metric": {
      "description": "The resource metric set that represents the metrics for a particular resource.",
      "type": "object",
      "properties": {
        "metricUnit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "timeGrain": {
          "description": "Timespan of the metric.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "End time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "metricValues": {
          "description": "Collected metric values in the timespan.",
          "$ref": "#/definitions/MetricValueList"
        }
      }
    },
    "MetricList": {
      "description": "List of metrics.",
      "properties": {
        "value": {
          "description": "List of metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    }
  },
  "parameters": {
    "NewOfferParameter": {
      "description": "New offer.",
      "name": "newOffer",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Offer"
      },
      "x-ms-parameter-location": "method"
    },
    "PlanLinkParameter": {
      "description": "New plan link.",
      "name": "planLink",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PlanLinkDefinition"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2015-11-01"
    },
    "OfferParameter": {
      "description": "Name of an offer.",
      "name": "offer",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The resource group the resource is located under.",
      "name": "resourceGroupName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Offers",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Delete",
  "x-internal-operation-name": "Delete"
}