{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "InfrastructureInsightsManagementClient",
    "description": "Resource provider health operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}": {
      "get": {
        "x-ms-examples": {
          "Returns the requested service health object.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local",
              "serviceHealth": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                  "name": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                  "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                  "location": "local",
                  "tags": {},
                  "properties": {
                    "registrationId": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                    "displayName": "Compute",
                    "namespace": "Microsoft.Compute.Admin",
                    "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/",
                    "serviceLocation": "local",
                    "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/infraRoles/Compute",
                    "alertSummary": {
                      "criticalAlertCount": 0,
                      "warningAlertCount": 0
                    },
                    "healthState": "Unknown"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "ServiceHealths"
        ],
        "description": "Returns the requested service health object.",
        "operationId": "ServiceHealths_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ServiceHealthParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceHealth"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "ServiceHealth": {
      "description": "Holds information about the health of a service.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Holds information about the health of a service.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceHealthModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "ServiceHealthModel": {
      "description": "Holds information about the health of a service.",
      "properties": {
        "displayName": {
          "description": "Name of the service.",
          "type": "string"
        },
        "serviceLocation": {
          "description": "Location of the service.",
          "type": "string"
        },
        "infraURI": {
          "description": "The route prefix to the service.",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseHealth"
        }
      ]
    },
    "ServiceHealthList": {
      "description": "Pageable list of service health objects.",
      "properties": {
        "value": {
          "description": "List of service health objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceHealth"
          }
        },
        "nextLink": {
          "description": "URI of the next page.",
          "type": "string"
        }
      }
    },
    "AlertSummary": {
      "description": "Summary of the alerts.",
      "properties": {
        "criticalAlertCount": {
          "description": "The number of critical alerts for the service.",
          "type": "integer"
        },
        "warningAlertCount": {
          "description": "The number of warning alerts for the service.",
          "type": "integer"
        }
      }
    },
    "BaseHealth": {
      "description": "Models the base properties for health resource.",
      "properties": {
        "alertSummary": {
          "description": "Alert summary.",
          "$ref": "#/definitions/AlertSummary"
        },
        "healthState": {
          "description": "Health state.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace of the health resource.",
          "type": "string"
        },
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "routePrefix": {
          "description": "Route prefix.",
          "type": "string"
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ServiceHealthParameter": {
      "description": "Service Health name.",
      "name": "serviceHealth",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Name of the region",
      "name": "location",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Service Healths",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}