{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "InfrastructureInsightsManagementClient",
    "description": "Resource provider health operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths": {
      "get": {
        "x-ms-examples": {
          "Returns the list of all resource provider health states.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local",
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/23c54265-0e65-4d53-abdc-6734bd6a59f6",
                      "name": "23c54265-0e65-4d53-abdc-6734bd6a59f6",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "23c54265-0e65-4d53-abdc-6734bd6a59f6",
                        "displayName": "Network",
                        "namespace": "Microsoft.Network.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Network.Admin/",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Network.Admin/infraRoles/Network",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Healthy"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/385a3e01-3685-45ae-a073-f00dda2b1f7d",
                      "name": "385a3e01-3685-45ae-a073-f00dda2b1f7d",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "385a3e01-3685-45ae-a073-f00dda2b1f7d",
                        "displayName": "Storage",
                        "namespace": "Microsoft.Storage.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/84e1c82f-06e2-4bf7-8a9e-646cfa4e4988",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/84e1c82f-06e2-4bf7-8a9e-646cfa4e4988/infraRoles/Storage",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Healthy"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                      "name": "9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                        "displayName": "Key Vault",
                        "namespace": "Microsoft.KeyVault.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.KeyVault.Admin/locations/local",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.KeyVault.Admin/locations/local/infraRoles/Key Vault",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Healthy"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                      "name": "bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                        "displayName": "Region Management",
                        "namespace": "Microsoft.InfrastructureInsights.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/infraRoles/Region Management",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Unknown"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                      "name": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                        "displayName": "Compute",
                        "namespace": "Microsoft.Compute.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/infraRoles/Compute",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Unknown"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                      "name": "ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                        "displayName": "Updates",
                        "namespace": "Microsoft.Update.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Update.Admin/updateLocations/local",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Update.Admin/updateLocations/local/infraRoles/Updates",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "healthState": "Unknown"
                      }
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                      "name": "e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "registrationId": "e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                        "displayName": "Capacity",
                        "namespace": "Microsoft.Fabric.Admin",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local",
                        "serviceLocation": "local",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Capacity",
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 1
                        },
                        "healthState": "Warning"
                      }
                    }
                  ],
                  "nextLink": null
                }
              }
            }
          }
        },
        "tags": [
          "ServiceHealths"
        ],
        "description": "Returns the list of all resource provider health states.",
        "operationId": "ServiceHealths_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceHealthList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ServiceHealth",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "ServiceHealth": {
      "description": "Holds information about the health of a service.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Holds information about the health of a service.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceHealthModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "ServiceHealthModel": {
      "description": "Holds information about the health of a service.",
      "properties": {
        "displayName": {
          "description": "Name of the service.",
          "type": "string"
        },
        "serviceLocation": {
          "description": "Location of the service.",
          "type": "string"
        },
        "infraURI": {
          "description": "The route prefix to the service.",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseHealth"
        }
      ]
    },
    "ServiceHealthList": {
      "description": "Pageable list of service health objects.",
      "properties": {
        "value": {
          "description": "List of service health objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceHealth"
          }
        },
        "nextLink": {
          "description": "URI of the next page.",
          "type": "string"
        }
      }
    },
    "AlertSummary": {
      "description": "Summary of the alerts.",
      "properties": {
        "criticalAlertCount": {
          "description": "The number of critical alerts for the service.",
          "type": "integer"
        },
        "warningAlertCount": {
          "description": "The number of warning alerts for the service.",
          "type": "integer"
        }
      }
    },
    "BaseHealth": {
      "description": "Models the base properties for health resource.",
      "properties": {
        "alertSummary": {
          "description": "Alert summary.",
          "$ref": "#/definitions/AlertSummary"
        },
        "healthState": {
          "description": "Health state.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace of the health resource.",
          "type": "string"
        },
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "routePrefix": {
          "description": "Route prefix.",
          "type": "string"
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ServiceHealthParameter": {
      "description": "Service Health name.",
      "name": "serviceHealth",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Name of the region",
      "name": "location",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Service Healths",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}