{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Maps",
    "description": "Azure Maps REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "SubscriptionKey": {
      "name": "subscription-key",
      "description": "Azure Maps subscription key",
      "type": "string",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "client"
    },
    "ApiVersion": {
      "name": "api-version",
      "description": "Version number of Azure Maps API.  Current version is 1.0",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "client"
    },
    "AcceptLanguage": {
      "name": "Accept-Language",
      "in": "header",
      "description": "Specifies the list of acceptable ISO 639-1 language codes in which the timezone names should be returned.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TimezoneOptions": {
      "name": "options",
      "in": "query",
      "description": "Alternatively, use alias \"o\". Options available for types of information returned in the result.",
      "required": false,
      "type": "string",
      "enum": [
        "none",
        "zoneInfo",
        "transitions",
        "all"
      ],
      "x-ms-enum": {
        "name": "options",
        "modelAsString": false,
        "values": [
          {
            "value": "none",
            "description": "Do not include zoneinfo or transitions in the result."
          },
          {
            "value": "zoneInfo",
            "description": "Include additional time zone info in the result."
          },
          {
            "value": "transitions",
            "description": "Include transition information in the result (The number of transitions is currently capped at 250)."
          },
          {
            "value": "all",
            "description": "Include both zoneinfo and transitions in the result."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TimezoneTimeStamp": {
      "name": "timeStamp",
      "in": "query",
      "description": "Alternatively, use alias \"stamp\", or \"s\". Reference time, if omitted, the API will use the machine time serving the request.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsFrom": {
      "name": "transitionsFrom",
      "in": "query",
      "description": "Alternatively, use alias \"tf\". The start date from which daylight savings time (DST) transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsYears": {
      "name": "transitionsYears",
      "in": "query",
      "description": "Alternatively, use alias \"ty\". The number of years from \"transitionsFrom\" for which DST transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "TextFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are json & xml.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "json",
        "xml"
      ],
      "x-ms-parameter-location": "method"
    },
    "RasterTileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible value: png.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are png & pbf.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png",
        "pbf"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          },
          {
            "value": "pbf",
            "description": "Vector graphic in the pbf format. Supports zoom levels 0 through 20."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "xTileIndex": {
      "name": "x",
      "x-ms-client-name": "xTileIndex",
      "in": "query",
      "description": "X index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857) ",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "yTileIndex": {
      "name": "y",
      "x-ms-client-name": "yTileIndex",
      "in": "query",
      "description": "Y index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857)",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for desired tile.",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Text": {
      "name": "text",
      "in": "query",
      "description": "Yes/no value to exclude textual data from response. Only images and country names will be in response.",
      "required": false,
      "type": "string",
      "enum": [
        "yes",
        "no"
      ],
      "default": "yes",
      "x-ms-parameter-location": "method"
    },
    "Language": {
      "name": "language",
      "in": "query",
      "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Typeahead": {
      "name": "typeahead",
      "in": "query",
      "description": "Boolean.  If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
      "required": false,
      "type": "boolean",
      "default": false,
      "x-ms-parameter-location": "method"
    },
    "Limit": {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of responses that will be returned.",
      "required": false,
      "type": "integer",
      "default": 10,
      "minimum": 1,
      "maximum": 100,
      "x-ms-parameter-location": "method"
    },
    "CountrySet": {
      "name": "countrySet",
      "in": "query",
      "description": "Comma separated string of country codes, e.g. FR, ES. This will limit the search to the specified countries",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "Radius": {
      "name": "radius",
      "in": "query",
      "description": "The radius in meters to for the results to be constrained to the defined area",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Query": {
      "name": "query",
      "in": "query",
      "description": "The applicable query string and/or coordinates",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SearchResultIndexSet": {
      "name": "idxSet",
      "in": "query",
      "description": "A comma separated list of indexes which should be utilized for the search. Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo = Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross Streets (intersections)",
      "required": false,
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "Addr",
          "Geo",
          "PAD",
          "POI",
          "Str",
          "Xstr"
        ],
        "x-ms-enum": {
          "name": "idxSet",
          "modelAsString": false,
          "values": [
            {
              "value": "Addr",
              "description": "Address range interpolation"
            },
            {
              "value": "Geo",
              "description": "Geographies"
            },
            {
              "value": "PAD",
              "description": "Point Addresses"
            },
            {
              "value": "POI",
              "description": "Points of interest"
            },
            {
              "value": "Str",
              "description": "Streets"
            },
            {
              "value": "Xstr",
              "description": "Cross Streets (Intersections)"
            }
          ]
        }
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxTopLeft": {
      "x-client-name": "BoundingBoxTopLeft",
      "name": "topLeft",
      "in": "query",
      "description": "Top left position of the bounding box.  E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxBottomRight": {
      "x-client-name": "BoundingBoxBottomRight",
      "name": "btmRight",
      "in": "query",
      "description": "Bottom right position of the bounding box. E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/traffic/incident/detail/{format}": {
      "get": {
        "description": "Get the traffic incident detail for a given coordinates",
        "operationId": "Traffic_GetTrafficIncidentDetail",
        "x-ms-examples": {
          "GetTrafficIncidentDetail": {
            "parameters": {
              "api-version": "1.0",
              "format": "json",
              "style": "s3",
              "boundingbox": "6841263.950712,511972.674418,6886056.049288,582676.925582",
              "boundingZoom": 11,
              "trafficmodelid": "1335294634919",
              "subscription-key": "{subscription-key}"
            },
            "responses": {
              "200": {
                "body": {
                  "tm": {
                    "@id": "1521671948910",
                    "poi": [
                      {
                        "id": "europe_HD_NL_TTR116377227776064",
                        "p": {
                          "x": 538636.9,
                          "y": 6842004.5
                        },
                        "ic": 9,
                        "ty": 1,
                        "cs": 0,
                        "d": "roadworks",
                        "c": "new roadworks layout",
                        "f": "Amstelveen/Vinkeveen - N201 (N196)",
                        "t": "Uithoorn-Centrum (N196)",
                        "l": 220,
                        "dl": 14,
                        "r": "N196"
                      },
                      {
                        "id": "europe_CLUSTER_11_-34959639",
                        "p": {
                          "x": 528668.6,
                          "y": 6848897.9
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 528622.5,
                          "y": 6848661.2
                        },
                        "ctr": {
                          "x": 528714.7,
                          "y": 6849134.6
                        },
                        "cs": 2,
                        "l": 190
                      },
                      {
                        "id": "europe_CLUSTER_11_-1540737434",
                        "p": {
                          "x": 518277,
                          "y": 6852206.8
                        },
                        "ic": 9,
                        "ty": 1,
                        "cbl": {
                          "x": 517421.3,
                          "y": 6851776.4
                        },
                        "ctr": {
                          "x": 519132.8,
                          "y": 6852637.2
                        },
                        "cs": 2,
                        "l": 1620
                      },
                      {
                        "id": "europe_CLUSTER_11_-26712906",
                        "p": {
                          "x": 529902.2,
                          "y": 6855622.4
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 529524.6,
                          "y": 6855377.2
                        },
                        "ctr": {
                          "x": 530279.9,
                          "y": 6855867.7
                        },
                        "cs": 4,
                        "l": 660
                      },
                      {
                        "id": "europe_HD_NL_TTR116367997504816",
                        "p": {
                          "x": 568216,
                          "y": 6851287.6
                        },
                        "ic": 9,
                        "ty": 1,
                        "cs": 0,
                        "d": "roadworks",
                        "c": "new roadworks layout",
                        "f": "Ankeveen (N236)",
                        "t": "Weesp (N236)",
                        "l": 2760,
                        "dl": 73,
                        "r": "N236"
                      },
                      {
                        "id": "europe_HD_NL_TTR116367997261488",
                        "p": {
                          "x": 561973.7,
                          "y": 6854259.4
                        },
                        "ic": 9,
                        "ty": 3,
                        "cs": 0,
                        "d": "roadworks",
                        "c": "new roadworks layout",
                        "f": "Weesp (N236)",
                        "t": "Ankeveen (N236)",
                        "l": 2650,
                        "r": "N236"
                      },
                      {
                        "id": "europe_HD_NL_TTR116331064819392",
                        "p": {
                          "x": 571268.5,
                          "y": 6858435.4
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "IJsselmeerweg",
                        "t": "A6",
                        "l": 370
                      },
                      {
                        "id": "europe_CLUSTER_11_-1442937814",
                        "p": {
                          "x": 563934,
                          "y": 6859271.3
                        },
                        "ic": 9,
                        "ty": 1,
                        "cbl": {
                          "x": 563726.1,
                          "y": 6859250.4
                        },
                        "ctr": {
                          "x": 564141.9,
                          "y": 6859292.2
                        },
                        "cs": 2,
                        "l": 460
                      },
                      {
                        "id": "europe_CLUSTER_11_258400781",
                        "p": {
                          "x": 558055.6,
                          "y": 6861147.1
                        },
                        "ic": 13,
                        "ty": 1,
                        "cbl": {
                          "x": 557493.3,
                          "y": 6860514.8
                        },
                        "ctr": {
                          "x": 558618,
                          "y": 6861779.4
                        },
                        "cs": 3,
                        "l": 1030
                      },
                      {
                        "id": "europe_HD_NL_TTR116100227865681",
                        "p": {
                          "x": 542665,
                          "y": 6861959.7
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Strawinskylaan",
                        "t": "Matthijs Vermeulenpad",
                        "l": 110
                      },
                      {
                        "id": "europe_CLUSTER_11_1438243625",
                        "p": {
                          "x": 545058.7,
                          "y": 6864571.6
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 543779.5,
                          "y": 6864070.7
                        },
                        "ctr": {
                          "x": 546337.8,
                          "y": 6865072.6
                        },
                        "cs": 5,
                        "l": 1590
                      },
                      {
                        "id": "europe_HD_NL_TTR116081762316976",
                        "p": {
                          "x": 547507.8,
                          "y": 6866259.3
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Alexanderplein (s113)",
                        "t": "Stadhouderskade",
                        "l": 390,
                        "r": "S100"
                      },
                      {
                        "id": "europe_CLUSTER_11_691732516",
                        "p": {
                          "x": 541448.7,
                          "y": 6867162.1
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 541160.1,
                          "y": 6866710.7
                        },
                        "ctr": {
                          "x": 541737.2,
                          "y": 6867613.5
                        },
                        "cs": 4,
                        "l": 430
                      },
                      {
                        "id": "europe_CLUSTER_11_1582351486",
                        "p": {
                          "x": 534709.6,
                          "y": 6865174.7
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 534562.2,
                          "y": 6865025.3
                        },
                        "ctr": {
                          "x": 534856.9,
                          "y": 6865324.2
                        },
                        "cs": 2,
                        "l": 380
                      },
                      {
                        "id": "europe_CLUSTER_11_-2070222267",
                        "p": {
                          "x": 536813.1,
                          "y": 6868188.3
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 536191.1,
                          "y": 6867699.7
                        },
                        "ctr": {
                          "x": 537435.1,
                          "y": 6868677
                        },
                        "cs": 7,
                        "l": 1380
                      },
                      {
                        "id": "europe_CLUSTER_11_-496866890",
                        "p": {
                          "x": 516025.5,
                          "y": 6871606.3
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 514115.1,
                          "y": 6870216.9
                        },
                        "ctr": {
                          "x": 517935.9,
                          "y": 6872995.7
                        },
                        "cs": 7,
                        "l": 1510
                      },
                      {
                        "id": "europe_HD_NL_TTR115675492352160",
                        "p": {
                          "x": 517835.3,
                          "y": 6883216.3
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Amsterdamseweg",
                        "t": "A22",
                        "l": 710
                      },
                      {
                        "id": "europe_CLUSTER_11_834920993",
                        "p": {
                          "x": 543803.8,
                          "y": 6875659.8
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 543474.7,
                          "y": 6875602.7
                        },
                        "ctr": {
                          "x": 544133,
                          "y": 6875716.9
                        },
                        "cs": 2,
                        "l": 760
                      }
                    ]
                  }
                }
              },
              "400": {
                "headers": {},
                "body": {
                  "statuscode": "400",
                  "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
                }
              },
              "401": {
                "headers": {},
                "body": {
                  "statuscode": "401",
                  "message": "Unauthorized: Access is denied due to invalid credentials."
                }
              },
              "403": {
                "headers": {},
                "body": {
                  "statuscode": "403",
                  "message": "Permission, capacity, or authentication issues."
                }
              },
              "404": {
                "headers": {},
                "body": {
                  "statuscode": "404",
                  "message": "Not Found: the requested resource could not be found, but it may be available again in the future."
                }
              },
              "500": {
                "headers": {},
                "body": {
                  "statuscode": "500",
                  "message": "An error occurred while processing the request. Please try again later."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionKey"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/TextFormat"
          },
          {
            "name": "style",
            "in": "query",
            "description": "The style that will be used to render the traffic tile in the Maps API. This will have an effect on the coordinates of traffic incidents in the reply.  Valid values are s1, s2, s3 and night",
            "required": true,
            "type": "string",
            "enum": [
              "s1",
              "s2",
              "s3",
              "night"
            ],
            "x-ms-enum": {
              "name": "TrafficIncidentDetailStyle",
              "modelAsString": false
            }
          },
          {
            "name": "boundingbox",
            "in": "query",
            "description": "The corners of the area to report on, expressed in the projection specified. These are two latitude-longitude pairs describing corners of the bounding box. First pair for lower left corner and second for upper right. All values should be separated by commas",
            "required": true,
            "type": "string"
          },
          {
            "name": "boundingZoom",
            "in": "query",
            "description": "Zoom level for desired tile.  0 to 18 for raster tiles, 0 through 20 for vector tiles",
            "required": true,
            "type": "integer",
            "minimum": 0,
            "maximum": 18
          },
          {
            "name": "trafficmodelid",
            "in": "query",
            "description": "Number referencing traffic model. This can be obtained from the Viewport API. It is updated every minute, and is valid for two minutes before it times out. If the wrong Traffic Model ID is specified, the correct one will be returned by the interface. A value of -1 will always invoke the most recent traffic model",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "ISO 639-1 code for the output language. Supported languages are ar, ca, cs, da, de, el, en, en-GB, en-US, es, et, fi, fr, he, hu, id, in*, it, lt, lv, nb, nl, no, pl, pt, ro, ru, sk, sv, th, tr, zh",
            "required": false,
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "The projection used to specify the coordinates in the request and response.  EPSG900913 (default) or EPSG4326",
            "required": false,
            "type": "string",
            "enum": [
              "EPSG900913",
              "EPSG4326"
            ]
          },
          {
            "name": "geometries",
            "in": "query",
            "description": "The type of vector geometry added to incidents (returned in the <v> element of the response).",
            "required": false,
            "type": "string",
            "enum": [
              "original",
              "shifted"
            ],
            "x-ms-enum": {
              "name": "geometries",
              "modelAsString": false,
              "values": [
                {
                  "value": "original",
                  "description": "Places incidents precisely on the road."
                },
                {
                  "value": "shifted",
                  "description": "Moves the incident slightly (depending on zoom level) to indicate specific road lanes."
                }
              ]
            }
          },
          {
            "name": "expandCluster",
            "in": "query",
            "description": "Boolean to indicate whether to list all traffic incidents in a cluster separately",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "originalPosition",
            "in": "query",
            "description": "Boolean on whether to return the original position of the incident (<op>) as well as the one shifted to the beginning of the traffic tube (<p>)",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrafficIncidentDetailResult"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "produces": [
          "application/json",
          "application/xml"
        ],
        "consumes": [],
        "x-internal-toc-name": "Get Traffic Incident Detail"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "statuscode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "Poi": {
      "description": "POI property",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "description": "Phone property",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL property",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "description": "Categories array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "classifications": {
          "description": "Classification array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Classification"
          }
        }
      }
    },
    "Classification": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Code property",
          "type": "string",
          "readOnly": true
        },
        "names": {
          "description": "Names array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ClassificationName"
          }
        }
      }
    },
    "ClassificationName": {
      "type": "object",
      "properties": {
        "nameLocale": {
          "description": "Name Locale property",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Address": {
      "description": "The address of the result",
      "type": "object",
      "properties": {
        "buildingNumber": {
          "description": "Building Number property",
          "type": "string",
          "readOnly": true
        },
        "street": {
          "description": "Street property",
          "type": "string",
          "readOnly": true
        },
        "crossStreet": {
          "description": "Cross Street property",
          "type": "string",
          "readOnly": true
        },
        "streetNumber": {
          "description": "Street Number property",
          "type": "string",
          "readOnly": true
        },
        "routeNumbers": {
          "description": "number of routes",
          "type": "array",
          "items": {
            "type": "integer",
            "readOnly": true
          },
          "readOnly": true
        },
        "streetName": {
          "description": "Street Name property",
          "type": "string",
          "readOnly": true
        },
        "streetNameAndNumber": {
          "description": "Street Name and Number property",
          "type": "string",
          "readOnly": true
        },
        "municipality": {
          "description": "Municipality property",
          "type": "string",
          "readOnly": true
        },
        "municipalitySubdivision": {
          "description": "Municipality Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countryTertiarySubdivision": {
          "description": "Country Tertiary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySecondarySubdivision": {
          "description": "Country Secondary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivision": {
          "description": "Country Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "description": "Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "extendedPostalCode": {
          "description": "Extended Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "Country Code property",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country property",
          "type": "string",
          "readOnly": true
        },
        "countryCodeISO3": {
          "description": "Country Code ISO3 property",
          "type": "string",
          "readOnly": true
        },
        "freeformAddress": {
          "description": "Free form Address property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivisionName": {
          "description": "Country Subdividion Name property",
          "type": "string",
          "readOnly": true
        },
        "boundingBox": {
          "description": "Bounding Box for the address",
          "type": "object",
          "properties": {
            "northEast": {
              "type": "string",
              "readOnly": true,
              "description": "The North East coordinates for the Bounding Box"
            },
            "southWest": {
              "type": "string",
              "readOnly": true,
              "description": "The South West coordinates for the Bounding Box"
            }
          }
        }
      }
    },
    "Position": {
      "description": "Coordinates of the result",
      "type": "object",
      "properties": {
        "lat": {
          "type": "number",
          "readOnly": true,
          "description": "Latitude property"
        },
        "lon": {
          "type": "number",
          "readOnly": true,
          "description": "Longitude property"
        }
      }
    },
    "Viewport": {
      "description": "The viewport that covers the result",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "description": "Top left of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        },
        "btmRightPoint": {
          "description": "Bottom right of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        }
      }
    },
    "EntryPoints": {
      "description": "Entry Points array",
      "type": "array",
      "items": {
        "$ref": "#/definitions/EntityPoint"
      }
    },
    "EntityPoint": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Name Locale property",
          "type": "string",
          "readOnly": true
        },
        "position": {
          "description": "Name property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lat": {
              "description": "Latitude property",
              "type": "number",
              "readOnly": true
            },
            "lon": {
              "description": "Longitude property",
              "type": "number",
              "readOnly": true
            }
          }
        }
      }
    },
    "Route": {
      "description": "Route object",
      "type": "object",
      "properties": {
        "routeGeometry": {
          "description": "Route geometry point(lat,lon) array",
          "type": "array",
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "routeInstructions": {
          "description": "RouteInstructions property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "list": {
              "description": "List of instructions",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/Instruction"
              }
            },
            "language": {
              "description": "Language property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "routeSummary": {
          "description": "RouteSummary property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "boundingBox": {
              "description": "BoundingBox property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "topLeftPoint": {
                  "description": "TopLeftPoint property. Format : lat,lon",
                  "type": "string",
                  "readOnly": true
                },
                "btmRightPoint": {
                  "description": "BottomRightPoint property. Format : lat,lon",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "totalDistance": {
              "description": "TotalDistance property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "value": {
                  "description": "Distance value property",
                  "type": "number",
                  "readOnly": true
                },
                "uom": {
                  "description": "Unit of Measurement property",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "totalTime": {
              "description": "TotalTime property",
              "type": "string",
              "readOnly": true
            },
            "totalTravelTime": {
              "description": "TotalTravelTime property",
              "type": "string",
              "readOnly": true
            },
            "totalWaitTime": {
              "description": "TotalWaitTime property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Instruction": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "Instruction": {
          "description": "Instruction property",
          "type": "string",
          "readOnly": true
        },
        "Point": {
          "description": "Point property. Format: Lat,Lon",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Description  property",
          "type": "string",
          "readOnly": true
        },
        "distance": {
          "description": "Distance property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "value": {
              "description": "Value  property",
              "type": "number",
              "readOnly": true
            },
            "uom": {
              "description": "Unit of Measure  property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "duration": {
          "description": "Duration property",
          "type": "string",
          "readOnly": true
        },
        "waitTime": {
          "description": "WaitTime property",
          "type": "string",
          "readOnly": true
        },
        "turnAngle": {
          "description": "TurnAngle property",
          "type": "number",
          "readOnly": true
        },
        "turn": {
          "description": "Turn property",
          "type": "string",
          "readOnly": true
        },
        "tour": {
          "description": "Tour property",
          "type": "integer",
          "readOnly": true
        },
        "sideOfStreet": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CopyrightBoundingResult": {
      "description": "This object is returned from a successful Copyright Bounding call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "copyrights": {
          "description": "Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "country": {
          "description": "Country property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "ISO3": {
              "description": "ISO3 property",
              "type": "string",
              "readOnly": true
            },
            "label": {
              "description": "Label property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "CopyrightCaptionResult": {
      "description": "This object is returned from a successful Copyright Caption call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyrightsCaption": {
          "description": "Copyrights Caption property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CopyrightWorldResult": {
      "description": "This object is returned from a successful Copyright World call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "CopyrightTileResult": {
      "description": "This object is returned from a successful Copyright Tile call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "MapStaticResult": {
      "description": "This image is returned from a successful Map Static call",
      "type": "string",
      "format": "binary",
      "readOnly": true
    },
    "MapTileResult": {
      "description": "This image is returned from a successful Map Tile call",
      "type": "string",
      "format": "binary",
      "readOnly": true
    },
    "SearchFuzzyResult": {
      "description": "This object is returned from a successful Search Fuzzy call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchFuzzyResultArray"
          }
        }
      }
    },
    "SearchFuzzyResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "boundingBox": {
          "description": "Bounding box of the result",
          "type": "object",
          "properties": {
            "topLeftPoint": {
              "description": "Top left of the viewport",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude"
                }
              }
            },
            "btmRightPoint": {
              "description": "Bottom right of the viewport",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude"
                }
              }
            }
          }
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchPoiResult": {
      "description": "This object is returned from a successful Search POI call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "$ref": "#/definitions/Poi"
              },
              "address": {
                "$ref": "#/definitions/Address"
              },
              "position": {
                "$ref": "#/definitions/Position"
              },
              "viewport": {
                "$ref": "#/definitions/Viewport"
              },
              "entryPoints": {
                "$ref": "#/definitions/EntryPoints"
              }
            }
          }
        }
      }
    },
    "SearchRoutedResult": {
      "description": "This object is returned from a successful Routed Search call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "GeoBias property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "lat": {
                  "description": "Latitude property",
                  "type": "number",
                  "readOnly": true
                },
                "lon": {
                  "description": "Longitude property",
                  "type": "number",
                  "readOnly": true
                }
              }
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchRoutedResultArray"
          }
        }
      }
    },
    "SearchRoutedResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "dist": {
          "description": "Distance property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "route": {
          "$ref": "#/definitions/Route"
        }
      }
    },
    "SearchPoiCategoryResult": {
      "description": "This object is returned from a successful Search POI Category call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchPoiCategoryResultArray"
          }
        }
      }
    },
    "SearchPoiCategoryResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAddressResult": {
      "description": "This object is returned from a successful Search Address call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAddressResultArray"
          }
        }
      }
    },
    "SearchAddressResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAddressReverseResult": {
      "description": "This object is returned from a successful Search Address Reverse call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AddressResult"
          }
        }
      }
    },
    "SearchAddressReverseCrossStreetResult": {
      "description": "This object is returned from a successful Search Address Reverse CrossStreet call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AddressResult"
          }
        }
      }
    },
    "AddressResult": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "type": "string",
          "readOnly": true,
          "description": "Position property"
        }
      }
    },
    "SearchAddressStructuredResult": {
      "description": "This object is returned from a successful Search Address Structured call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "limit": {
              "description": "Maximum number of responses that will be returned",
              "readOnly": true,
              "type": "integer"
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "Geo Bias of the result",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude property"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude property"
                }
              }
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAddressStructuredResultArray"
          }
        }
      }
    },
    "SearchAddressStructuredResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "dist": {
          "description": "Dist property",
          "type": "number",
          "readOnly": true
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "addressRanges": {
          "type": "object",
          "properties": {
            "rangeLeft": {
              "type": "string"
            },
            "rangeRight": {
              "type": "string"
            },
            "from": {
              "description": "A postion of start point",
              "type": "object",
              "properties": {
                "lon": {
                  "description": "longitude of start point",
                  "type": "number",
                  "format": "double"
                },
                "lat": {
                  "description": "latitude of start point",
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "to": {
              "description": "A postion of destination",
              "type": "object",
              "properties": {
                "lon": {
                  "description": "longitude of destination",
                  "type": "number",
                  "format": "double"
                },
                "lat": {
                  "description": "latitude of destination",
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      }
    },
    "SearchGeometryResult": {
      "description": "This object is returned from a successful Search By Geometry call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchGeometryResultArray"
          }
        }
      }
    },
    "SearchGeometryResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAlongRouteResult": {
      "description": "This object is returned from a successful Search Along Route call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAlongRouteResultArray"
          }
        }
      }
    },
    "SearchAlongRouteResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "dist": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "detourTime": {
          "type": "number",
          "readOnly": true
        }
      }
    },
    "RouteDirectionsResult": {
      "description": "This object is returned from a successful Route Directions call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "Copyright property",
          "type": "string",
          "readOnly": true
        },
        "privacy": {
          "description": "Privacy property",
          "type": "string",
          "readOnly": true
        },
        "routes": {
          "description": "Routes array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RouteDef"
          }
        }
      }
    },
    "RouteDef": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lengthInMeters": {
              "description": "Length In Meters property",
              "type": "integer",
              "readOnly": true
            },
            "travelTimeInSeconds": {
              "description": "Travel Time In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "trafficDelayInSeconds": {
              "description": "Traffic Delay In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "departureTime": {
              "description": "Departure Time property",
              "type": "string",
              "readOnly": true
            },
            "arrivalTime": {
              "description": "Arrival Time property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "legs": {
          "description": "Legs array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Leg"
          }
        },
        "sections": {
          "description": "Sections object",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Section"
          }
        }
      }
    },
    "Leg": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lengthInMeters": {
              "description": "Length In Meters property",
              "type": "integer",
              "readOnly": true
            },
            "travelTimeInSeconds": {
              "description": "Travel Time In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "trafficDelayInSeconds": {
              "description": "Traffic Delay In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "departureTime": {
              "description": "Departure Time property",
              "type": "string",
              "readOnly": true
            },
            "arrivalTime": {
              "description": "Arrival Time property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "points": {
          "description": "Points array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "latitude": {
                "description": "Latitude property",
                "type": "number",
                "readOnly": true
              },
              "longitude": {
                "description": "Longitude property",
                "type": "number",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "Section": {
      "type": "object",
      "properties": {
        "startPointIndex": {
          "description": "Start Point Index property",
          "type": "integer",
          "readOnly": true
        },
        "endPointIndex": {
          "description": "End Point Index property",
          "type": "integer",
          "readOnly": true
        },
        "sectionType": {
          "description": "Section Type property",
          "type": "string",
          "readOnly": true
        },
        "travelMode": {
          "description": "Travel Mode property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimezoneByIdResult": {
      "description": "This object is returned from a successful Timezone By ID call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "timeZones": {
          "$ref": "#/definitions/TimeZones"
        },
        "count": {
          "description": "Count property",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "TimezoneByCoordinatesResult": {
      "description": "This object is returned from a successful Timezone By Coordinates call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "timeZones": {
          "$ref": "#/definitions/TimeZones"
        },
        "count": {
          "description": "Count property",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "TimezoneEnumWindowsResult": {
      "description": "This object is returned from a successful Timezone Enum Windows call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/TimezoneEnumWindow"
      }
    },
    "TimezoneEnumWindow": {
      "type": "object",
      "properties": {
        "WindowsId": {
          "description": "Windows Id property",
          "type": "string",
          "readOnly": true
        },
        "Territory": {
          "description": "Territory property",
          "type": "string",
          "readOnly": true
        },
        "IanaIds": {
          "description": "IanaIds array",
          "type": "array",
          "items": {
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "TimezoneEnumIanaResult": {
      "description": "This object is returned from a successful Timezone Enum IANA call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/IanaId"
      }
    },
    "TimezoneIanaVersionResult": {
      "description": "This object is returned from a successful Timezone IANA Version call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimezoneWindowToIanaResult": {
      "description": "This object is returned from a successful Timezone Windows To IANA call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/IanaId"
      }
    },
    "IanaId": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "isAlias": {
          "description": "IsAlias property",
          "type": "boolean",
          "readOnly": true
        },
        "aliasOf": {
          "description": "AliasOf property",
          "type": "string",
          "readOnly": true
        },
        "hasZone1970Location": {
          "description": "HasZone1970Location property",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "TimeZones": {
      "description": "TimeZones array",
      "type": "array",
      "readOnly": true,
      "items": {
        "$ref": "#/definitions/Timezone"
      }
    },
    "Timezone": {
      "type": "object",
      "properties": {
        "Id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "Aliases": {
          "description": "Aliases array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "Countries": {
          "description": "Countries array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Country"
          }
        },
        "Names": {
          "type": "object",
          "properties": {
            "ISO6391LanguageCode": {
              "description": "The ISO 639-1 language code of the Names",
              "type": "string",
              "readOnly": true
            },
            "Generic": {
              "description": "Generic Name",
              "type": "string",
              "readOnly": true
            },
            "Standard": {
              "description": "Standard Name",
              "type": "string",
              "readOnly": true
            },
            "Daylight": {
              "description": "Daylight Name",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "ReferenceTime": {
          "description": "Reference Time object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "Tag": {
              "description": "Tag property",
              "type": "string",
              "readOnly": true
            },
            "StandardOffset": {
              "description": "Standard Offset property",
              "type": "string",
              "readOnly": true
            },
            "DaylightSavings": {
              "description": "Daylight Savings property",
              "type": "string",
              "readOnly": true
            },
            "WallTime": {
              "description": "Wall Time property",
              "type": "string",
              "readOnly": true
            },
            "PosixTimezoneValidYear": {
              "description": "Posix Timezone Valid Year property",
              "type": "integer",
              "readOnly": true
            },
            "PosixTimezone": {
              "description": "Posix timezone property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "RepresentativePoint": {
          "description": "Representative point property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "Latitude": {
              "description": "Latitude property",
              "type": "number",
              "readOnly": true
            },
            "Longitude": {
              "description": "Longitude property",
              "type": "number",
              "readOnly": true
            }
          }
        },
        "TimeTransitions": {
          "description": "TimeTransitions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TimeTransition"
          }
        }
      }
    },
    "Country": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Country Name",
          "type": "string",
          "readOnly": true
        },
        "Code": {
          "description": "Country Code",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimeTransition": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "Tag": {
          "description": "Tag property",
          "type": "string",
          "readOnly": true
        },
        "StandardOffset": {
          "description": "StandardOffset property",
          "type": "string",
          "readOnly": true
        },
        "DaylightSavings": {
          "description": "DaylightSavings property",
          "type": "string",
          "readOnly": true
        },
        "UtcStart": {
          "description": "UtcStart property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "UtcEnd": {
          "description": "UtcEnd property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        }
      }
    },
    "TrafficFlowTileResult": {
      "description": "This image is returned from a successful Traffic Flow Tile call",
      "type": "string",
      "format": "binary",
      "readOnly": true
    },
    "TrafficFlowSegmentResult": {
      "description": "This object is returned from a successful Traffic Flow Segment call",
      "type": "object",
      "properties": {
        "flowSegmentData": {
          "description": "Flow Segment Data property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "frc": {
              "description": "FRC property",
              "type": "string",
              "readOnly": true
            },
            "currentSpeed": {
              "description": "Current Speed property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowSpeed": {
              "description": "Free Flow Speed property",
              "type": "integer",
              "readOnly": true
            },
            "currentTravelTime": {
              "description": "Current Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowTravelTime": {
              "description": "Free Flow Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "confidence": {
              "description": "Confidence property",
              "type": "number",
              "readOnly": true
            },
            "coordinates": {
              "description": "Coordinates of the result",
              "type": "object",
              "properties": {
                "coordinate": {
                  "description": "Coordinate array",
                  "type": "array",
                  "readOnly": true,
                  "items": {
                    "$ref": "#/definitions/Coordinate"
                  }
                }
              }
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Coordinate": {
      "type": "object",
      "properties": {
        "latitude": {
          "description": "Latitude property",
          "type": "number",
          "readOnly": true
        },
        "longitude": {
          "description": "Longitude property",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "TrafficIncidentTileResult": {
      "description": "This object is returned from a successful Traffic Incident Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TrafficIncidentDetailResult": {
      "description": "This object is returned from a successful Traffic incident Detail call",
      "type": "object",
      "properties": {
        "tm": {
          "description": "Main response element",
          "type": "object",
          "readOnly": true,
          "properties": {
            "@id": {
              "description": "ID of the traffic incident",
              "type": "string",
              "readOnly": true
            },
            "poi": {
              "description": "A single traffic incident, or a cluster of traffic incidents",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/TrafficIncidentPoi"
              }
            }
          }
        }
      }
    },
    "TrafficIncidentPoi": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "id": {
          "description": "ID of the traffic incident",
          "type": "string",
          "readOnly": true
        },
        "p": {
          "description": "The point where an icon of the cluster or raw incident should be drawn, expressed in the requested projection. This is affected by traffic style, zoom level and road type",
          "type": "object",
          "readOnly": true,
          "properties": {
            "x": {
              "description": "x coordinate",
              "type": "number",
              "readOnly": true
            },
            "y": {
              "description": "y coordinate",
              "type": "number",
              "readOnly": true
            }
          }
        },
        "ic": {
          "description": "The icon category associated with this incident. Values are numbers in the range 0-13, with the following meanings",
          "type": "integer",
          "readOnly": true
        },
        "ty": {
          "description": "The magnitude of delay associated with incident. These values correspond to incident colors in the traffic tiles",
          "type": "integer",
          "readOnly": true
        },
        "cbl": {
          "description": "Bottom left coordinate of the cluster in the projection of the request",
          "type": "object",
          "readOnly": true,
          "properties": {
            "x": {
              "description": "x coordinate",
              "type": "number",
              "readOnly": true
            },
            "y": {
              "description": "y coordinate",
              "type": "number",
              "readOnly": true
            }
          }
        },
        "ctr": {
          "description": "Top right coordinate of the cluster in the projection of the request",
          "type": "object",
          "readOnly": true,
          "properties": {
            "x": {
              "description": "x coordinate",
              "type": "number",
              "readOnly": true
            },
            "y": {
              "description": "y coordinate",
              "type": "number",
              "readOnly": true
            }
          }
        },
        "cs": {
          "description": "Cluster size: the number of incidents in the cluster",
          "type": "integer",
          "readOnly": true
        },
        "l": {
          "description": "Length of the incident in meters",
          "type": "integer",
          "readOnly": true
        },
        "r": {
          "description": "The road number(s) affected by the incident. Multiple road numbers will delimited by slashes",
          "type": "string",
          "readOnly": true
        },
        "dl": {
          "description": "Delay caused by the incident in seconds (except in road closures)",
          "type": "integer",
          "readOnly": true
        },
        "t": {
          "description": "To: the name of the intersection or location where the traffic due to the incident ends",
          "type": "string",
          "readOnly": true
        },
        "f": {
          "description": "From: the name of the intersection or location where the traffic due to the incident starts",
          "type": "string",
          "readOnly": true
        },
        "d": {
          "description": "Description of the incident in the language requested",
          "type": "string",
          "readOnly": true
        },
        "c": {
          "description": "Cause of the incident, where available, in the language requested",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TrafficIncidentViewportResult": {
      "description": "This object is returned from a successful Traffic Incident Viewport call",
      "type": "object",
      "properties": {
        "viewpResp": {
          "description": "Viewport Response object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "trafficState": {
              "description": "Traffic State array",
              "type": "object",
              "readOnly": true,
              "properties": {
                "@trafficAge": {
                  "description": "@Traffic Age property",
                  "type": "integer",
                  "readOnly": true
                },
                "@trafficModelId": {
                  "description": "@Traffic Model Id property",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "copyrightIds": {
              "description": "Copyright Ids property",
              "type": "string",
              "readOnly": true
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            },
            "@maps": {
              "description": "@maps property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "LineStringGeoJson": {
      "description": "A GeoJSON compliant LineString Geometry object",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property. This value must be equal to LineString.",
          "type": "string"
        },
        "coordinates": {
          "description": "Coordinates for the LineString object. Each Position object in Coordinates should be GeoJSON compliant i.e. longitude precedes latitute. Refer to RFC7946 for details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineStringGeoJson"
          }
        }
      }
    }
  },
  "x-internal-service-name": "Location Based Services Functional API",
  "x-internal-toc-name": "Traffic",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get Traffic Incident Detail"
}