{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation": {
      "get": {
        "tags": [
          "AgentRegistrationInformation"
        ],
        "operationId": "AgentRegistrationInformation_Get",
        "description": "Retrieve the automation agent registration information.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey": {
      "post": {
        "tags": [
          "AgentRegistrationInformation"
        ],
        "operationId": "AgentRegistrationInformation_RegenerateKey",
        "description": "Regenerate a primary or secondary agent registration key",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentRegistrationRegenerateKeyParameter"
            },
            "description": "The name of the agent registration key to be regenerated"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentRegistrationKeys": {
      "properties": {
        "primary": {
          "type": "string",
          "description": "Gets or sets the primary key."
        },
        "secondary": {
          "type": "string",
          "description": "Gets or sets the secondary key."
        }
      },
      "description": "Definition of the agent registration keys."
    },
    "AgentRegistration": {
      "properties": {
        "dscMetaConfiguration": {
          "type": "string",
          "description": "Gets or sets the dsc meta configuration."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the dsc server endpoint."
        },
        "keys": {
          "$ref": "#/definitions/AgentRegistrationKeys",
          "description": "Gets or sets the agent registration keys."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        }
      },
      "description": "Definition of the agent registration infomration type."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "AgentRegistrationRegenerateKeyParameter": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Gets or sets the agent registration key name - Primary or Secondary.",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "AgentRegistrationKeyName",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "keyName"
      ],
      "description": "The parameters supplied to the regenerate keys operation."
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the SKU name of the account.",
          "enum": [
            "Free",
            "Basic"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        },
        "family": {
          "type": "string",
          "description": "Gets or sets the SKU family."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "The account SKU."
    },
    "AutomationAccountProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of account."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Gets status of account.",
          "enum": [
            "Ok",
            "Unavailable",
            "Suspended"
          ],
          "x-ms-enum": {
            "name": "AutomationAccountState",
            "modelAsString": true
          }
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the account property."
    },
    "AutomationAccount": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the automation account properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the automation account type."
    },
    "DscConfigurationParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the configuration parameter type."
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "DscConfigurationProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the configuration.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationProvisioningState",
            "modelAsString": false
          }
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the configuration."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DscConfigurationParameter"
          },
          "description": "Gets or sets the configuration parameters."
        },
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the configuration.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the configuration property type."
    },
    "DscConfiguration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the configuration properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the configuration type."
    },
    "DscNode": {
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node."
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node."
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the dsc node type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "ModuleErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": false
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the module property type."
    },
    "Module": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the module type."
    },
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      },
      "description": "Definition of the runbook type."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
    "DscNodeUpdateParameters": {
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the id of the dsc node."
        },
        "nodeConfiguration": {
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        }
      },
      "description": "The parameters supplied to the update dsc node operation."
    },
    "DscNodeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNode"
          },
          "description": "Gets or sets a list of dsc nodes."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "DscReportError": {
      "properties": {
        "errorSource": {
          "type": "string",
          "description": "Gets or sets the source of the error."
        },
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the resource ID which generated the error."
        },
        "errorCode": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message."
        },
        "locale": {
          "type": "string",
          "description": "Gets or sets the locale of the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "Gets or sets the error details."
        }
      },
      "description": "Definition of the dsc node report error type."
    },
    "DscReportResourceNavigation": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource to navigate to."
        }
      },
      "description": "Navigation for DSC Report Resource."
    },
    "DscReportResource": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource."
        },
        "sourceInfo": {
          "type": "string",
          "description": "Gets or sets the source info of the resource."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResourceNavigation"
          },
          "description": "Gets or sets the Resource Navigation values for resources the resource depends on."
        },
        "moduleName": {
          "type": "string",
          "description": "Gets or sets the module name of the resource."
        },
        "moduleVersion": {
          "type": "string",
          "description": "Gets or sets the module version of the resource."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "error": {
          "type": "string",
          "description": "Gets or sets the error of the resource."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the resource."
        },
        "durationInSeconds": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the duration in seconds for the resource."
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start date of the resource."
        }
      },
      "description": "Definition of the DSC Report Resource."
    },
    "DscMetaConfiguration": {
      "properties": {
        "configurationModeFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration."
        },
        "rebootNodeIfNeeded": {
          "type": "boolean",
          "description": "Gets or sets the RebootNodeIfNeeded value of the meta configuration."
        },
        "configurationMode": {
          "type": "string",
          "description": "Gets or sets the ConfigurationMode value of the meta configuration."
        },
        "actionAfterReboot": {
          "type": "string",
          "description": "Gets or sets the ActionAfterReboot value of the meta configuration."
        },
        "certificateId": {
          "type": "string",
          "description": "Gets or sets the CertificateId value of the meta configuration."
        },
        "refreshFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the RefreshFrequencyMins value of the meta configuration."
        },
        "allowModuleOverwrite": {
          "type": "boolean",
          "description": "Gets or sets the AllowModuleOverwrite value of the meta configuration."
        }
      },
      "description": "Definition of the DSC Meta Configuration."
    },
    "DscNodeReport": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the node report."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the lastModifiedTime of the node report."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the node report."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the node report."
        },
        "reportId": {
          "type": "string",
          "description": "Gets or sets the id of the node report."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node report."
        },
        "refreshMode": {
          "type": "string",
          "description": "Gets or sets the refreshMode of the node report."
        },
        "rebootRequested": {
          "type": "string",
          "description": "Gets or sets the rebootRequested of the node report."
        },
        "reportFormatVersion": {
          "type": "string",
          "description": "Gets or sets the reportFormatVersion of the node report."
        },
        "configurationVersion": {
          "type": "string",
          "description": "Gets or sets the configurationVersion of the node report."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportError"
          },
          "description": "Gets or sets the errors for the node report."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResource"
          },
          "description": "Gets or sets the resource for the node report."
        },
        "metaConfiguration": {
          "$ref": "#/definitions/DscMetaConfiguration",
          "description": "Gets or sets the metaConfiguration of the node at the time of the report."
        },
        "hostName": {
          "type": "string",
          "description": "Gets or sets the hostname of the node that sent the report."
        },
        "iPV4Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv4 address of the node that sent the report."
        },
        "iPV6Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv6 address of the node that sent the report."
        },
        "numberOfResources": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of resource in the node report."
        },
        "rawErrors": {
          "type": "string",
          "description": "Gets or sets the unparsed errors for the node report."
        }
      },
      "description": "Definition of the dsc node report type."
    },
    "DscNodeReportListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeReport"
          },
          "description": "Gets or sets a list of dsc node reports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "getDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
            "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
            "name": "DSCCOMP",
            "ip": "ip",
            "nodeId": "nodeId",
            "status": "Pending",
            "nodeConfiguration": {
              "name": "SetupServer.localhost"
            }
          }
        }
      }
    },
    "updateDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2015-10-31",
        "parameters": {
          "nodeId": "nodeId",
          "nodeConfiguration": {
            "name": "SetupServer.localhost"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
            "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
            "name": "DSCCOMP",
            "ip": "172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1",
            "nodeId": "nodeId",
            "status": null,
            "nodeConfiguration": {
              "name": "SetupServer.localhost"
            }
          }
        }
      }
    },
    "listAllDscNodesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
                "name": "DSCCOMP",
                "ip": "172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1",
                "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
                "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
                "nodeId": "nodeId",
                "status": "Pending",
                "nodeConfiguration": {
                  "name": "SetupServer.localhost"
                }
              }
            ]
          }
        }
      }
    },
    "listDscNodeReportsByNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:27.587+00:00",
                "endTime": "2017-03-28T23:16:27.587+00:00",
                "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:26.015+00:00",
                "endTime": "2017-03-28T23:16:27.015+00:00",
                "lastModifiedTime": "2017-03-28T23:16:28.3813034+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:01:25.986+00:00",
                "endTime": "2017-03-28T23:01:26.986+00:00",
                "lastModifiedTime": "2017-03-28T23:01:28.216963+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:27.668+00:00",
                "endTime": "2017-03-28T22:46:28.668+00:00",
                "lastModifiedTime": "2017-03-28T22:46:29.0439184+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:25.957+00:00",
                "endTime": "2017-03-28T22:46:26.957+00:00",
                "lastModifiedTime": "2017-03-28T22:46:27.9498533+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:31:25.941+00:00",
                "endTime": "2017-03-28T22:31:26.941+00:00",
                "lastModifiedTime": "2017-03-28T22:31:27.6825492+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:17:10.163+00:00",
                "endTime": "2017-03-28T22:17:10.163+00:00",
                "lastModifiedTime": "2017-03-28T22:17:11.0040472+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:16:25.897+00:00",
                "endTime": "2017-03-28T22:17:09.897+00:00",
                "lastModifiedTime": "2017-03-28T22:16:27.3128731+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:01:25.899+00:00",
                "endTime": "2017-03-28T22:01:27.899+00:00",
                "lastModifiedTime": "2017-03-28T22:01:26.6282252+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:38.511+00:00",
                "endTime": "2017-03-28T21:46:39.511+00:00",
                "lastModifiedTime": "2017-03-28T21:46:40.577983+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:25.843+00:00",
                "endTime": "2017-03-28T21:46:37.843+00:00",
                "lastModifiedTime": "2017-03-28T21:46:28.4660077+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:31:25.818+00:00",
                "endTime": "2017-03-28T21:31:27.818+00:00",
                "lastModifiedTime": "2017-03-28T21:31:28.1503168+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:35.538+00:00",
                "endTime": "2017-03-28T21:16:59.538+00:00",
                "lastModifiedTime": "2017-03-28T21:16:37.1768158+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:26.956+00:00",
                "endTime": "2017-03-28T21:16:34.956+00:00",
                "lastModifiedTime": "2017-03-28T21:16:29.2370664+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:01:29.916+00:00",
                "endTime": "2017-03-28T21:02:02.916+00:00",
                "lastModifiedTime": "2017-03-28T21:01:31.875597+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:38.626+00:00",
                "endTime": "2017-03-28T20:46:44.626+00:00",
                "lastModifiedTime": "2017-03-28T20:46:39.749649+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:25.676+00:00",
                "endTime": "2017-03-28T20:46:37.676+00:00",
                "lastModifiedTime": "2017-03-28T20:46:27.2602881+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:31:25.805+00:00",
                "endTime": "2017-03-28T20:40:24.805+00:00",
                "lastModifiedTime": "2017-03-28T20:31:27.1356547+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              }
            ]
          }
        }
      }
    },
    "getDscNodeReport": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
            "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
            "type": "Consistency",
            "startTime": "2017-03-28T23:16:27.587+00:00",
            "endTime": "2017-03-28T23:16:27.587+00:00",
            "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
            "status": "Compliant",
            "refreshMode": "Pull",
            "rebootRequested": "False",
            "reportFormatVersion": "2.0",
            "configurationVersion": "2.0.0",
            "errors": [],
            "resources": [
              {
                "resourceId": "[WindowsFeature]IIS",
                "sourceInfo": "::4::32::WindowsFeature",
                "dependsOn": [],
                "moduleName": "PsDesiredStateConfiguration",
                "moduleVersion": "1.1",
                "resourceName": "WindowsFeature",
                "error": null,
                "status": "Compliant",
                "durationInSeconds": 0.25,
                "startDate": "2017-03-28T23:16:28.181+00:00"
              }
            ],
            "metaConfiguration": {
              "configurationModeFrequencyMins": 15,
              "rebootNodeIfNeeded": false,
              "configurationMode": "ApplyAndMonitor",
              "actionAfterReboot": "ContinueConfiguration",
              "certificateId": "certId",
              "refreshFrequencyMins": 30,
              "allowModuleOverwrite": false
            },
            "hostName": "DSCCOMP",
            "iPV4Addresses": [
              "172.16.2.5",
              "127.0.0.1"
            ],
            "iPV6Addresses": [
              "fe80::4c51:9518:aa3c:256a%5",
              "::2000:0:0:0",
              "::1",
              "::2000:0:0:0",
              "2001:0:9d38:78cf:106b:130a:53ef:fdfa",
              "fe80::106b:130a:53ef:fdfa%7"
            ],
            "numberOfResources": 1,
            "rawErrors": null
          }
        }
      }
    },
    "listDscNodeReportsByNode199953255": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:27.587+00:00",
                "endTime": "2017-03-28T23:16:27.587+00:00",
                "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:26.015+00:00",
                "endTime": "2017-03-28T23:16:27.015+00:00",
                "lastModifiedTime": "2017-03-28T23:16:28.3813034+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:01:25.986+00:00",
                "endTime": "2017-03-28T23:01:26.986+00:00",
                "lastModifiedTime": "2017-03-28T23:01:28.216963+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:27.668+00:00",
                "endTime": "2017-03-28T22:46:28.668+00:00",
                "lastModifiedTime": "2017-03-28T22:46:29.0439184+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:25.957+00:00",
                "endTime": "2017-03-28T22:46:26.957+00:00",
                "lastModifiedTime": "2017-03-28T22:46:27.9498533+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:31:25.941+00:00",
                "endTime": "2017-03-28T22:31:26.941+00:00",
                "lastModifiedTime": "2017-03-28T22:31:27.6825492+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:17:10.163+00:00",
                "endTime": "2017-03-28T22:17:10.163+00:00",
                "lastModifiedTime": "2017-03-28T22:17:11.0040472+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:16:25.897+00:00",
                "endTime": "2017-03-28T22:17:09.897+00:00",
                "lastModifiedTime": "2017-03-28T22:16:27.3128731+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:01:25.899+00:00",
                "endTime": "2017-03-28T22:01:27.899+00:00",
                "lastModifiedTime": "2017-03-28T22:01:26.6282252+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:38.511+00:00",
                "endTime": "2017-03-28T21:46:39.511+00:00",
                "lastModifiedTime": "2017-03-28T21:46:40.577983+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:25.843+00:00",
                "endTime": "2017-03-28T21:46:37.843+00:00",
                "lastModifiedTime": "2017-03-28T21:46:28.4660077+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:31:25.818+00:00",
                "endTime": "2017-03-28T21:31:27.818+00:00",
                "lastModifiedTime": "2017-03-28T21:31:28.1503168+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:35.538+00:00",
                "endTime": "2017-03-28T21:16:59.538+00:00",
                "lastModifiedTime": "2017-03-28T21:16:37.1768158+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:26.956+00:00",
                "endTime": "2017-03-28T21:16:34.956+00:00",
                "lastModifiedTime": "2017-03-28T21:16:29.2370664+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:01:29.916+00:00",
                "endTime": "2017-03-28T21:02:02.916+00:00",
                "lastModifiedTime": "2017-03-28T21:01:31.875597+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:38.626+00:00",
                "endTime": "2017-03-28T20:46:44.626+00:00",
                "lastModifiedTime": "2017-03-28T20:46:39.749649+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:25.676+00:00",
                "endTime": "2017-03-28T20:46:37.676+00:00",
                "lastModifiedTime": "2017-03-28T20:46:27.2602881+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:31:25.805+00:00",
                "endTime": "2017-03-28T20:40:24.805+00:00",
                "lastModifiedTime": "2017-03-28T20:31:27.1356547+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}