{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "CertificateCreateOrUpdateProperties": {
      "properties": {
        "base64Value": {
          "type": "string",
          "description": "Gets or sets the base64 encoded value of the certificate."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the certificate."
        },
        "thumbprint": {
          "type": "string",
          "description": "Gets or sets the thumbprint of the certificate."
        },
        "isExportable": {
          "type": "boolean",
          "description": "Gets or sets the is exportable flag of the certificate.",
          "x-nullable": false
        }
      },
      "required": [
        "base64Value"
      ],
      "description": "The properties of the create certificate operation."
    },
    "CertificateCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the certificate."
        },
        "properties": {
          "$ref": "#/definitions/CertificateCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the certificate."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update or replace certificate operation."
    },
    "CertificateProperties": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the thumbprint of the certificate."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the expiry time of the certificate.",
          "x-nullable": false
        },
        "isExportable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Gets the is exportable flag of the certificate.",
          "x-nullable": false
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the certificate."
    },
    "Certificate": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the certificate."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the certificate."
    },
    "CertificateListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          },
          "description": "Gets or sets a list of certificates."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list certificate operation."
    },
    "CertificateUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the certificate."
        }
      },
      "description": "The properties of the update certificate operation"
    },
    "CertificateUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the certificate."
        },
        "properties": {
          "$ref": "#/definitions/CertificateUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the certificate."
        }
      },
      "description": "The parameters supplied to the update certificate operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Certificate",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Certificate/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Certificate/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Certificate/Get"
    },
    {
      "displayName": "List By Automation Account",
      "relativePath": "Certificate/ListByAutomationAccount"
    },
    {
      "displayName": "Update",
      "relativePath": "Certificate/Update"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}