{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "delete": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_Delete",
        "description": "Delete the connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Delete an existing connection type": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount22",
              "connectionTypeName": "myCT",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_Get",
        "description": "Retrieve the connectiontype identified by connectiontype name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection type": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount22",
              "connectionTypeName": "myCT",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount22/connectionTypes/myCT",
                  "name": "myCT",
                  "properties": {
                    "isGlobal": false,
                    "fieldDefinitions": {
                      "myStringField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "string"
                      },
                      "myBoolField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "bool"
                      },
                      "myStringFieldEncrypted": {
                        "isEncrypted": true,
                        "isOptional": false,
                        "type": "string"
                      }
                    },
                    "creationTime": "2017-03-27T03:47:53.433+00:00",
                    "lastModifiedTime": "2017-03-27T03:47:53.557+00:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_CreateOrUpdate",
        "description": "Create a connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Create or update connection type": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount22",
              "connectionTypeName": "myCT",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "myCT",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount22/connectionTypes/myCT",
                  "name": "myCT",
                  "properties": {
                    "isGlobal": false,
                    "fieldDefinitions": {
                      "myStringField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "string"
                      },
                      "myBoolField": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "bool"
                      },
                      "myStringFieldEncrypted": {
                        "isEncrypted": true,
                        "isOptional": false,
                        "type": "string"
                      }
                    },
                    "creationTime": "2017-03-27T03:47:53.433+00:00",
                    "lastModifiedTime": "2017-03-27T03:47:53.433+00:00"
                  }
                }
              },
              "409": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes": {
      "get": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_ListByAutomationAccount",
        "description": "Retrieve a list of connectiontypes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection types, first 100": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount25",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/Azure",
                      "name": "Azure",
                      "properties": {
                        "isGlobal": true,
                        "fieldDefinitions": {
                          "AutomationCertificateName": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "SubscriptionID": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          }
                        },
                        "creationTime": "2014-03-18T23:02:40.613+00:00",
                        "lastModifiedTime": "2014-03-18T23:02:40.74+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureClassicCertificate",
                      "name": "AzureClassicCertificate",
                      "properties": {
                        "isGlobal": true,
                        "fieldDefinitions": {
                          "SubscriptionName": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "SubscriptionId": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "CertificateAssetName": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          }
                        },
                        "creationTime": "2016-04-25T23:54:02.65+00:00",
                        "lastModifiedTime": "2016-04-25T23:54:03.167+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureServicePrincipal",
                      "name": "AzureServicePrincipal",
                      "properties": {
                        "isGlobal": true,
                        "fieldDefinitions": {
                          "ApplicationId": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "TenantId": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "CertificateThumbprint": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          },
                          "SubscriptionId": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "System.String"
                          }
                        },
                        "creationTime": "2016-03-16T23:08:41.853+00:00",
                        "lastModifiedTime": "2016-03-16T23:08:42.407+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT",
                      "name": "myCT",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:14.43+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:14.51+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT0",
                      "name": "myCT0",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:14.837+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:14.853+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT1",
                      "name": "myCT1",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:15.04+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:15.057+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT10",
                      "name": "myCT10",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:17.12+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:17.15+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT100",
                      "name": "myCT100",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:36.73+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:36.76+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT101",
                      "name": "myCT101",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:36.963+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:36.993+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT102",
                      "name": "myCT102",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:37.197+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:37.213+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT103",
                      "name": "myCT103",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:37.417+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:37.43+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT104",
                      "name": "myCT104",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:37.633+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:37.65+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT105",
                      "name": "myCT105",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:37.837+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:37.883+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT106",
                      "name": "myCT106",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:38.073+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:38.087+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT107",
                      "name": "myCT107",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:38.277+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:38.29+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT108",
                      "name": "myCT108",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:38.493+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:38.51+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT109",
                      "name": "myCT109",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:38.697+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:38.713+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT11",
                      "name": "myCT11",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:17.337+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:17.383+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT110",
                      "name": "myCT110",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:38.93+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:38.947+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT111",
                      "name": "myCT111",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:39.15+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:39.167+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT112",
                      "name": "myCT112",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:39.353+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:39.37+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT113",
                      "name": "myCT113",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:39.557+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:39.573+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT114",
                      "name": "myCT114",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:39.777+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:39.79+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT115",
                      "name": "myCT115",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:39.98+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:39.993+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT116",
                      "name": "myCT116",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:40.18+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:40.197+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT117",
                      "name": "myCT117",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:40.417+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:40.43+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT118",
                      "name": "myCT118",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:40.633+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:40.65+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT119",
                      "name": "myCT119",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:40.837+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:40.853+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT12",
                      "name": "myCT12",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:17.587+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:17.603+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT120",
                      "name": "myCT120",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:41.04+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:41.057+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT121",
                      "name": "myCT121",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:41.26+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:41.277+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT122",
                      "name": "myCT122",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:41.48+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:41.557+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT123",
                      "name": "myCT123",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:41.743+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:41.76+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT124",
                      "name": "myCT124",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:41.947+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:41.963+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT125",
                      "name": "myCT125",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:42.18+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:42.197+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT126",
                      "name": "myCT126",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:42.383+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:42.4+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT127",
                      "name": "myCT127",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:42.603+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:42.62+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT128",
                      "name": "myCT128",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:42.823+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:42.837+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT129",
                      "name": "myCT129",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:43.027+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:43.04+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT13",
                      "name": "myCT13",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:17.79+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:17.807+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT130",
                      "name": "myCT130",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:43.243+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:43.26+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT131",
                      "name": "myCT131",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:43.447+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:43.463+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT132",
                      "name": "myCT132",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:43.65+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:43.667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT133",
                      "name": "myCT133",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:43.87+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:43.887+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT134",
                      "name": "myCT134",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:44.073+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:44.087+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT135",
                      "name": "myCT135",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:44.29+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:44.307+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT136",
                      "name": "myCT136",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:44.493+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:44.51+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT137",
                      "name": "myCT137",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:44.76+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:44.807+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT138",
                      "name": "myCT138",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:45.01+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:45.027+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT139",
                      "name": "myCT139",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:45.213+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:45.23+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT14",
                      "name": "myCT14",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:17.993+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:18.01+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT140",
                      "name": "myCT140",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:45.433+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:45.463+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT141",
                      "name": "myCT141",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:45.65+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:45.667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT142",
                      "name": "myCT142",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:45.883+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:45.917+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT143",
                      "name": "myCT143",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:46.103+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:46.133+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT144",
                      "name": "myCT144",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:46.34+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:46.353+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT145",
                      "name": "myCT145",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:46.54+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:46.557+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT146",
                      "name": "myCT146",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:46.76+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:46.777+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT147",
                      "name": "myCT147",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:46.963+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:46.98+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT148",
                      "name": "myCT148",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:47.197+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:47.213+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT149",
                      "name": "myCT149",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:47.417+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:47.43+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT15",
                      "name": "myCT15",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:18.213+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:18.227+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT150",
                      "name": "myCT150",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:47.637+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:47.65+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT151",
                      "name": "myCT151",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:47.853+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:47.87+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT152",
                      "name": "myCT152",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:48.103+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:48.167+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT153",
                      "name": "myCT153",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:48.37+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:48.4+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT154",
                      "name": "myCT154",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:48.59+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:48.667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT155",
                      "name": "myCT155",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:48.887+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:48.93+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT156",
                      "name": "myCT156",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:49.12+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:49.167+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT157",
                      "name": "myCT157",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:49.37+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:49.4+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT158",
                      "name": "myCT158",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:49.603+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:49.637+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT159",
                      "name": "myCT159",
                      "properties": {
                        "isGlobal": false,
                        "fieldDefinitions": {
                          "myStringField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "string"
                          },
                          "myBoolField": {
                            "isEncrypted": false,
                            "isOptional": false,
                            "type": "bool"
                          },
                          "myStringFieldEncrypted": {
                            "isEncrypted": true,
                            "isOptional": false,
                            "type": "string"
                          }
                        },
                        "creationTime": "2017-03-27T06:25:49.84+00:00",
                        "lastModifiedTime": "2017-03-27T06:25:49.87+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT16",
                      "name": "myCT16",
                      "properties": {
[...]
