{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "delete": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_Delete",
        "description": "Delete the credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Delete a credential": {
            "$ref": "#/definitions/deleteCredentialExisting"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of credential."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_Get",
        "description": "Retrieve the credential identified by credential name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Get a credential": {
            "$ref": "#/definitions/getCredential"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of credential."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_CreateOrUpdate",
        "description": "Create a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Create a credential": {
            "$ref": "#/definitions/createOrUpdateCredential"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update credential operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update credential operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_Update",
        "description": "Update a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Update a credential": {
            "$ref": "#/definitions/updateCredential_patch"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialUpdateParameters"
            },
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials": {
      "get": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_ListByAutomationAccount",
        "description": "Retrieve a list of credentials.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "List credentials by automation account, first 100": {
            "$ref": "#/definitions/listCredentialsByAutomationAccount"
          },
          "List credentials by automation account, next 100": {
            "$ref": "#/definitions/listCredentialsByAutomationAccount_next100_using_nextLink"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "CredentialProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the user name of the credential."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the credential properties"
    },
    "Credential": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "description": "Definition of the credential."
    },
    "CredentialCreateOrUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "required": [
        "userName",
        "password"
      ],
      "description": "The properties of the create cerdential operation."
    },
    "CredentialCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update credential operation."
    },
    "CredentialUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "description": "The properties of the Update credential"
    },
    "CredentialUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the Update credential operation."
    },
    "CredentialListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Credential"
          },
          "description": "Gets or sets a list of credentials."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list credential operation."
    },
    "deleteCredentialExisting": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount20",
        "nodeConfigurationName": "SetupServer.localhost",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getCredential": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "credentialName": "myCredential",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
            "name": "myCredential",
            "properties": {
              "userName": "mylingaiah",
              "description": "my description goes here",
              "creationTime": "2017-03-26T21:04:10.27+00:00",
              "lastModifiedTime": "2017-03-26T21:04:16.423+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateCredential": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "credentialName": "myCredential",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "myCredential",
          "properties": {
            "userName": "mylingaiah",
            "password": "myPassw0rd",
            "description": "my description goes here"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
            "name": "myCredential",
            "properties": {
              "userName": "mylingaiah",
              "description": "my description goes here",
              "creationTime": "2017-03-26T21:04:10.27+00:00",
              "lastModifiedTime": "2017-03-26T21:04:10.27+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
            "name": "myCredential",
            "properties": {
              "userName": "mylingaiah",
              "description": "my description goes here",
              "creationTime": "2017-03-26T21:04:10.27+00:00",
              "lastModifiedTime": "2017-03-26T21:04:13.567+00:00"
            }
          }
        }
      }
    },
    "updateCredential_patch": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "credentialName": "myCredential",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "myCredential",
          "properties": {
            "userName": "mylingaiah",
            "password": "myPassw0rd3",
            "description": "my description goes here"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
            "name": "myCredential",
            "properties": {
              "userName": "mylingaiah",
              "description": "my description goes here",
              "creationTime": "2017-03-26T21:04:10.27+00:00",
              "lastModifiedTime": "2017-03-26T21:04:13.567+00:00"
            }
          }
        }
      }
    },
    "listCredentialsByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount20",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential",
                "name": "myCredential",
                "properties": {
                  "userName": "mylingaiah",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:38.91+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:45.393+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential0",
                "name": "myCredential0",
                "properties": {
                  "userName": "myCredential0",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:51.77+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:51.77+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential1",
                "name": "myCredential1",
                "properties": {
                  "userName": "myCredential1",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:52.113+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:52.113+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential10",
                "name": "myCredential10",
                "properties": {
                  "userName": "myCredential10",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:55.3+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:55.3+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential100",
                "name": "myCredential100",
                "properties": {
                  "userName": "myCredential100",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:25.41+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:25.41+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential101",
                "name": "myCredential101",
                "properties": {
                  "userName": "myCredential101",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:25.69+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:25.69+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential102",
                "name": "myCredential102",
                "properties": {
                  "userName": "myCredential102",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:26.003+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:26.003+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential103",
                "name": "myCredential103",
                "properties": {
                  "userName": "myCredential103",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:26.337+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:26.337+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential104",
                "name": "myCredential104",
                "properties": {
                  "userName": "myCredential104",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:26.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:26.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential105",
                "name": "myCredential105",
                "properties": {
                  "userName": "myCredential105",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:27.02+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:27.02+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential106",
                "name": "myCredential106",
                "properties": {
                  "userName": "myCredential106",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:27.35+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:27.35+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential107",
                "name": "myCredential107",
                "properties": {
                  "userName": "myCredential107",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:27.66+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:27.66+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential108",
                "name": "myCredential108",
                "properties": {
                  "userName": "myCredential108",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:27.99+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:27.99+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential109",
                "name": "myCredential109",
                "properties": {
                  "userName": "myCredential109",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:28.3+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:28.3+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential11",
                "name": "myCredential11",
                "properties": {
                  "userName": "myCredential11",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:55.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:55.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential110",
                "name": "myCredential110",
                "properties": {
                  "userName": "myCredential110",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:28.63+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:28.63+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential111",
                "name": "myCredential111",
                "properties": {
                  "userName": "myCredential111",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:28.943+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:28.943+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential112",
                "name": "myCredential112",
                "properties": {
                  "userName": "myCredential112",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:29.253+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:29.253+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential113",
                "name": "myCredential113",
                "properties": {
                  "userName": "myCredential113",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:29.567+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:29.567+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential114",
                "name": "myCredential114",
                "properties": {
                  "userName": "myCredential114",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:29.88+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:29.88+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential115",
                "name": "myCredential115",
                "properties": {
                  "userName": "myCredential115",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:30.207+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:30.207+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential116",
                "name": "myCredential116",
                "properties": {
                  "userName": "myCredential116",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:30.52+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:30.52+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential117",
                "name": "myCredential117",
                "properties": {
                  "userName": "myCredential117",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:30.833+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:30.833+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential118",
                "name": "myCredential118",
                "properties": {
                  "userName": "myCredential118",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:31.24+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:31.24+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential119",
                "name": "myCredential119",
                "properties": {
                  "userName": "myCredential119",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:31.6+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:31.6+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential12",
                "name": "myCredential12",
                "properties": {
                  "userName": "myCredential12",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:56.02+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:56.02+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential120",
                "name": "myCredential120",
                "properties": {
                  "userName": "myCredential120",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:31.943+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:31.943+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential121",
                "name": "myCredential121",
                "properties": {
                  "userName": "myCredential121",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:32.333+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:32.333+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential122",
                "name": "myCredential122",
                "properties": {
                  "userName": "myCredential122",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:32.66+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:32.66+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential123",
                "name": "myCredential123",
                "properties": {
                  "userName": "myCredential123",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:32.957+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:32.957+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential124",
                "name": "myCredential124",
                "properties": {
                  "userName": "myCredential124",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:33.27+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:33.27+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential125",
                "name": "myCredential125",
                "properties": {
                  "userName": "myCredential125",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:33.6+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:33.6+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential126",
                "name": "myCredential126",
                "properties": {
                  "userName": "myCredential126",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:33.957+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:33.957+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential127",
                "name": "myCredential127",
                "properties": {
                  "userName": "myCredential127",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:34.287+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:34.287+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential128",
                "name": "myCredential128",
                "properties": {
                  "userName": "myCredential128",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:34.613+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:34.613+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential129",
                "name": "myCredential129",
                "properties": {
                  "userName": "myCredential129",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:34.973+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:34.973+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential13",
                "name": "myCredential13",
                "properties": {
                  "userName": "myCredential13",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:56.393+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:56.393+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential130",
                "name": "myCredential130",
                "properties": {
                  "userName": "myCredential130",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:35.363+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:35.363+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential131",
                "name": "myCredential131",
                "properties": {
                  "userName": "myCredential131",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:35.707+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:35.707+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential132",
                "name": "myCredential132",
                "properties": {
                  "userName": "myCredential132",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:36.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:36.037+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential133",
                "name": "myCredential133",
                "properties": {
                  "userName": "myCredential133",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:36.38+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:36.38+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential134",
                "name": "myCredential134",
                "properties": {
                  "userName": "myCredential134",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:36.74+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:36.74+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential135",
                "name": "myCredential135",
                "properties": {
                  "userName": "myCredential135",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:37.05+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:37.05+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential136",
                "name": "myCredential136",
                "properties": {
                  "userName": "myCredential136",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:37.41+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:37.41+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential137",
                "name": "myCredential137",
                "properties": {
                  "userName": "myCredential137",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:37.723+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:37.723+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential138",
                "name": "myCredential138",
                "properties": {
                  "userName": "myCredential138",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:38.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:38.037+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential139",
                "name": "myCredential139",
                "properties": {
                  "userName": "myCredential139",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:38.35+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:38.35+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential14",
                "name": "myCredential14",
                "properties": {
                  "userName": "myCredential14",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:56.723+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:56.723+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential140",
                "name": "myCredential140",
                "properties": {
                  "userName": "myCredential140",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:38.71+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:38.71+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential141",
                "name": "myCredential141",
                "properties": {
                  "userName": "myCredential141",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:39.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:39.037+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential142",
                "name": "myCredential142",
                "properties": {
                  "userName": "myCredential142",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:39.35+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:39.35+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential143",
                "name": "myCredential143",
                "properties": {
                  "userName": "myCredential143",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:39.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:39.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential144",
                "name": "myCredential144",
                "properties": {
                  "userName": "myCredential144",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:39.99+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:39.99+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential145",
                "name": "myCredential145",
                "properties": {
                  "userName": "myCredential145",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:40.317+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:40.317+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential146",
                "name": "myCredential146",
                "properties": {
                  "userName": "myCredential146",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:40.63+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:40.63+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential147",
                "name": "myCredential147",
                "properties": {
                  "userName": "myCredential147",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:40.943+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:40.943+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential148",
                "name": "myCredential148",
                "properties": {
                  "userName": "myCredential148",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:41.27+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:41.27+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential149",
                "name": "myCredential149",
                "properties": {
                  "userName": "myCredential149",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:41.6+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:41.6+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential15",
                "name": "myCredential15",
                "properties": {
                  "userName": "myCredential15",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:57.033+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:57.033+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential150",
                "name": "myCredential150",
                "properties": {
                  "userName": "myCredential150",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:41.91+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:41.91+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential151",
                "name": "myCredential151",
                "properties": {
                  "userName": "myCredential151",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:42.24+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:42.24+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential152",
                "name": "myCredential152",
                "properties": {
                  "userName": "myCredential152",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:42.567+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:42.567+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential153",
                "name": "myCredential153",
                "properties": {
                  "userName": "myCredential153",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:42.88+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:42.88+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential154",
                "name": "myCredential154",
                "properties": {
                  "userName": "myCredential154",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:43.193+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:43.193+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential155",
                "name": "myCredential155",
                "properties": {
                  "userName": "myCredential155",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:43.52+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:43.52+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential156",
                "name": "myCredential156",
                "properties": {
                  "userName": "myCredential156",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:43.833+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:43.833+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential157",
                "name": "myCredential157",
                "properties": {
                  "userName": "myCredential157",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:44.147+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:44.147+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential158",
                "name": "myCredential158",
                "properties": {
                  "userName": "myCredential158",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:44.473+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:44.473+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential159",
                "name": "myCredential159",
                "properties": {
                  "userName": "myCredential159",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:44.787+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:44.787+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential16",
                "name": "myCredential16",
                "properties": {
                  "userName": "myCredential16",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:57.363+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:57.363+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential160",
                "name": "myCredential160",
                "properties": {
                  "userName": "myCredential160",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:45.1+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:45.1+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential161",
                "name": "myCredential161",
                "properties": {
                  "userName": "myCredential161",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:45.427+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:45.427+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential162",
                "name": "myCredential162",
                "properties": {
                  "userName": "myCredential162",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:45.74+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:45.74+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential163",
                "name": "myCredential163",
                "properties": {
                  "userName": "myCredential163",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:46.067+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:46.067+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential164",
                "name": "myCredential164",
                "properties": {
                  "userName": "myCredential164",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:46.38+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:46.38+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential165",
                "name": "myCredential165",
                "properties": {
                  "userName": "myCredential165",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:46.71+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:46.71+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential166",
                "name": "myCredential166",
                "properties": {
                  "userName": "myCredential166",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:47.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:47.037+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential167",
                "name": "myCredential167",
                "properties": {
                  "userName": "myCredential167",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:47.35+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:47.35+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential168",
                "name": "myCredential168",
                "properties": {
                  "userName": "myCredential168",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:47.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:47.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential169",
                "name": "myCredential169",
                "properties": {
                  "userName": "myCredential169",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:47.99+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:47.99+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential17",
                "name": "myCredential17",
                "properties": {
                  "userName": "myCredential17",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:57.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:57.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential170",
                "name": "myCredential170",
                "properties": {
                  "userName": "myCredential170",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:48.287+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:48.287+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential171",
                "name": "myCredential171",
                "properties": {
                  "userName": "myCredential171",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:48.613+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:48.613+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential172",
                "name": "myCredential172",
                "properties": {
                  "userName": "myCredential172",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:48.927+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:48.927+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential173",
                "name": "myCredential173",
                "properties": {
                  "userName": "myCredential173",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:49.257+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:49.257+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential174",
                "name": "myCredential174",
                "properties": {
                  "userName": "myCredential174",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:49.567+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:49.567+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential175",
                "name": "myCredential175",
                "properties": {
                  "userName": "myCredential175",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:49.88+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:49.88+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential176",
                "name": "myCredential176",
                "properties": {
                  "userName": "myCredential176",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:50.21+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:50.21+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential177",
                "name": "myCredential177",
                "properties": {
                  "userName": "myCredential177",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:50.537+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:50.537+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential178",
                "name": "myCredential178",
                "properties": {
                  "userName": "myCredential178",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:50.863+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:50.863+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential179",
                "name": "myCredential179",
                "properties": {
                  "userName": "myCredential179",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:51.193+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:51.193+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential18",
                "name": "myCredential18",
                "properties": {
                  "userName": "myCredential18",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:58.003+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:58.003+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential180",
                "name": "myCredential180",
                "properties": {
                  "userName": "myCredential180",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:51.6+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:51.6+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential181",
                "name": "myCredential181",
                "properties": {
                  "userName": "myCredential181",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:51.91+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:51.91+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential182",
                "name": "myCredential182",
                "properties": {
                  "userName": "myCredential182",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:52.223+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:52.223+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential183",
                "name": "myCredential183",
                "properties": {
                  "userName": "myCredential183",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:52.6+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:52.6+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential184",
                "name": "myCredential184",
                "properties": {
                  "userName": "myCredential184",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:52.927+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:52.927+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential185",
                "name": "myCredential185",
                "properties": {
                  "userName": "myCredential185",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:53.27+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:53.27+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential186",
                "name": "myCredential186",
                "properties": {
                  "userName": "myCredential186",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:53.583+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:53.583+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential187",
                "name": "myCredential187",
                "properties": {
                  "userName": "myCredential187",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:54.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:54.037+00:00"
                }
              }
            ],
            "nextLink": "https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials?api-version=2015-10-31&$skip=100"
          }
        }
      }
    },
    "listCredentialsByAutomationAccount_next100_using_nextLink": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount20",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential188",
                "name": "myCredential188",
                "properties": {
                  "userName": "myCredential188",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:54.397+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:54.397+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential189",
                "name": "myCredential189",
                "properties": {
                  "userName": "myCredential189",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:54.71+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:54.71+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential19",
                "name": "myCredential19",
                "properties": {
                  "userName": "myCredential19",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:58.33+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:58.33+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential190",
                "name": "myCredential190",
                "properties": {
                  "userName": "myCredential190",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:55.037+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:55.037+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential191",
                "name": "myCredential191",
                "properties": {
                  "userName": "myCredential191",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:55.35+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:55.35+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential192",
                "name": "myCredential192",
                "properties": {
                  "userName": "myCredential192",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:55.677+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:55.677+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential193",
                "name": "myCredential193",
                "properties": {
                  "userName": "myCredential193",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:56.007+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:56.007+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential194",
                "name": "myCredential194",
                "properties": {
                  "userName": "myCredential194",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:56.333+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:56.333+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential195",
                "name": "myCredential195",
                "properties": {
                  "userName": "myCredential195",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:56.66+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:56.66+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential196",
                "name": "myCredential196",
                "properties": {
                  "userName": "myCredential196",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:57.007+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:57.007+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential197",
                "name": "myCredential197",
                "properties": {
                  "userName": "myCredential197",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:57.333+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:57.333+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential198",
                "name": "myCredential198",
                "properties": {
                  "userName": "myCredential198",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:57.66+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:57.66+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential199",
                "name": "myCredential199",
                "properties": {
                  "userName": "myCredential199",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:57.973+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:57.973+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential2",
                "name": "myCredential2",
                "properties": {
                  "userName": "myCredential2",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:52.44+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:52.44+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential20",
                "name": "myCredential20",
                "properties": {
                  "userName": "myCredential20",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:58.66+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:58.66+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential200",
                "name": "myCredential200",
                "properties": {
                  "userName": "myCredential200",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:58.303+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:58.303+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential21",
                "name": "myCredential21",
                "properties": {
                  "userName": "myCredential21",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:59.033+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:59.033+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential22",
                "name": "myCredential22",
                "properties": {
                  "userName": "myCredential22",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:59.363+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:59.363+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential23",
                "name": "myCredential23",
                "properties": {
                  "userName": "myCredential23",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:59.707+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:59.707+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential24",
                "name": "myCredential24",
                "properties": {
                  "userName": "myCredential24",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:00.02+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:00.02+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential25",
                "name": "myCredential25",
                "properties": {
                  "userName": "myCredential25",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:00.33+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:00.33+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential26",
                "name": "myCredential26",
                "properties": {
                  "userName": "myCredential26",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:00.707+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:00.707+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential27",
                "name": "myCredential27",
                "properties": {
                  "userName": "myCredential27",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:01.02+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:01.02+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential28",
                "name": "myCredential28",
                "properties": {
                  "userName": "myCredential28",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:01.347+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:01.347+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential29",
                "name": "myCredential29",
                "properties": {
                  "userName": "myCredential29",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:01.847+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:01.847+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential3",
                "name": "myCredential3",
                "properties": {
                  "userName": "myCredential3",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:52.863+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:52.863+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential30",
                "name": "myCredential30",
                "properties": {
                  "userName": "myCredential30",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:02.16+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:02.16+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential31",
                "name": "myCredential31",
                "properties": {
                  "userName": "myCredential31",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:02.503+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:02.503+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential32",
                "name": "myCredential32",
                "properties": {
                  "userName": "myCredential32",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:02.88+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:02.88+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential33",
                "name": "myCredential33",
                "properties": {
                  "userName": "myCredential33",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:03.177+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:03.177+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential34",
                "name": "myCredential34",
                "properties": {
                  "userName": "myCredential34",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:03.55+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:03.55+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential35",
                "name": "myCredential35",
                "properties": {
                  "userName": "myCredential35",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:03.893+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:03.893+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential36",
                "name": "myCredential36",
                "properties": {
                  "userName": "myCredential36",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:04.207+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:04.207+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential37",
                "name": "myCredential37",
                "properties": {
                  "userName": "myCredential37",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:04.55+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:04.55+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential38",
                "name": "myCredential38",
                "properties": {
                  "userName": "myCredential38",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:04.847+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:04.847+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential39",
                "name": "myCredential39",
                "properties": {
                  "userName": "myCredential39",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:05.177+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:05.177+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential4",
                "name": "myCredential4",
                "properties": {
                  "userName": "myCredential4",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:53.253+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:53.253+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential40",
                "name": "myCredential40",
                "properties": {
                  "userName": "myCredential40",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:05.49+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:05.49+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential41",
                "name": "myCredential41",
                "properties": {
                  "userName": "myCredential41",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:05.83+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:05.83+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential42",
                "name": "myCredential42",
                "properties": {
                  "userName": "myCredential42",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:06.143+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:06.143+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential43",
                "name": "myCredential43",
                "properties": {
                  "userName": "myCredential43",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:06.457+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:06.457+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential44",
                "name": "myCredential44",
                "properties": {
                  "userName": "myCredential44",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:06.94+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:06.94+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential45",
                "name": "myCredential45",
                "properties": {
                  "userName": "myCredential45",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:07.3+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:07.3+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential46",
                "name": "myCredential46",
                "properties": {
                  "userName": "myCredential46",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:07.63+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:07.63+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential47",
                "name": "myCredential47",
                "properties": {
                  "userName": "myCredential47",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:07.957+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:07.957+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential48",
                "name": "myCredential48",
                "properties": {
                  "userName": "myCredential48",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:08.27+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:08.27+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential49",
                "name": "myCredential49",
                "properties": {
                  "userName": "myCredential49",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:08.58+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:08.58+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential5",
                "name": "myCredential5",
                "properties": {
                  "userName": "myCredential5",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:43:53.567+00:00",
                  "lastModifiedTime": "2017-03-26T21:43:53.567+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential50",
                "name": "myCredential50",
                "properties": {
                  "userName": "myCredential50",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:09.02+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:09.02+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential51",
                "name": "myCredential51",
                "properties": {
                  "userName": "myCredential51",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:09.33+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:09.33+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential52",
                "name": "myCredential52",
                "properties": {
                  "userName": "myCredential52",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:09.643+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:09.643+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential53",
                "name": "myCredential53",
                "properties": {
                  "userName": "myCredential53",
                  "description": "my description goes here",
                  "creationTime": "2017-03-26T21:44:09.973+00:00",
                  "lastModifiedTime": "2017-03-26T21:44:09.973+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential54",
                "name": "myCredential54",
                "properties": {
                  "userName": "myCredential54",
                  "description": "my description goes here",
[...]
