{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams/{jobStreamId}": {
      "get": {
        "tags": [
          "JobStream"
        ],
        "operationId": "JobStream_Get",
        "description": "Retrieve the job stream identified by job stream id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job id."
          },
          {
            "name": "jobStreamId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job stream id."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobStream"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams": {
      "get": {
        "tags": [
          "JobStream"
        ],
        "operationId": "JobStream_ListByJob",
        "description": "Retrieve a list of jobs streams identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job Id."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobStreamListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "x-ms-client-flatten": true,
      "description": "Definition of the job stream."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "JobProperties": {
      "properties": {
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "startedBy": {
          "type": "string",
          "description": "Gets or sets the job started by."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "jobId": {
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets the id of the job."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the job.",
          "enum": [
            "New",
            "Activating",
            "Running",
            "Completed",
            "Failed",
            "Stopped",
            "Blocked",
            "Suspended",
            "Disconnected",
            "Suspending",
            "Stopping",
            "Resuming",
            "Removing"
          ],
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": true
          }
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the job."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the job."
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the job."
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the job."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        }
      },
      "description": "Definition of job properties."
    },
    "Job": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job."
        }
      },
      "description": "Definition of the job."
    },
    "JobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          },
          "description": "Gets or sets a list of jobs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "JobCreateProperties": {
      "properties": {
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "required": [
        "runbook"
      ],
      "description": "The parameters supplied to the create job operation."
    },
    "JobCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}