{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_GetContent",
        "description": "Retrieve the content of runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Get runbook draft content": {
            "$ref": "#/definitions/getRunbookDraftContent"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_CreateOrUpdate",
        "description": "Updates the runbook draft with runbookStream as its content.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Create or update runbook draft": {
            "$ref": "#/definitions/createOrUpdateRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "runbookContent",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "format": "file"
            },
            "description": "The runbook draft content."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
          "200": {
            "description": "OK."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Get",
        "description": "Retrieve the runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Get runbook draft": {
            "$ref": "#/definitions/getRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookDraft"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/publish": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Publish",
        "description": "Publish runbook draft.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Publish runbook draft": {
            "$ref": "#/definitions/publishRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the publish runbook operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Runbook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_UndoEdit",
        "description": "Retrieve the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Undo draft edit to last known published state": {
            "$ref": "#/definitions/undoDraftEditToLastKnownPublishedState"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookDraftUndoEditResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      },
      "description": "Definition of the runbook type."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the SKU name of the account.",
          "enum": [
            "Free",
            "Basic"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        },
        "family": {
          "type": "string",
          "description": "Gets or sets the SKU family."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "The account SKU."
    },
    "AutomationAccountProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of account."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Gets status of account.",
          "enum": [
            "Ok",
            "Unavailable",
            "Suspended"
          ],
          "x-ms-enum": {
            "name": "AutomationAccountState",
            "modelAsString": true
          }
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the account property."
    },
    "AutomationAccount": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the automation account properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the automation account type."
    },
    "DscConfigurationParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the configuration parameter type."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "DscConfigurationProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the configuration.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationProvisioningState",
            "modelAsString": false
          }
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the configuration."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DscConfigurationParameter"
          },
          "description": "Gets or sets the configuration parameters."
        },
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the configuration.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the configuration property type."
    },
    "DscConfiguration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the configuration properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the configuration type."
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
    "DscNode": {
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node."
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node."
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the dsc node type."
    },
    "ModuleErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": false
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the module property type."
    },
    "Module": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the module type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
    "RunbookDraftUndoEditResult": {
      "properties": {
        "statusCode": {
          "type": "string",
          "enum": [
            "Continue",
            "SwitchingProtocols",
            "OK",
            "Created",
            "Accepted",
            "NonAuthoritativeInformation",
            "NoContent",
            "ResetContent",
            "PartialContent",
            "MultipleChoices",
            "Ambiguous",
            "MovedPermanently",
            "Moved",
            "Found",
            "Redirect",
            "SeeOther",
            "RedirectMethod",
            "NotModified",
            "UseProxy",
            "Unused",
            "TemporaryRedirect",
            "RedirectKeepVerb",
            "BadRequest",
            "Unauthorized",
            "PaymentRequired",
            "Forbidden",
            "NotFound",
            "MethodNotAllowed",
            "NotAcceptable",
            "ProxyAuthenticationRequired",
            "RequestTimeout",
            "Conflict",
            "Gone",
            "LengthRequired",
            "PreconditionFailed",
            "RequestEntityTooLarge",
            "RequestUriTooLong",
            "UnsupportedMediaType",
            "RequestedRangeNotSatisfiable",
            "ExpectationFailed",
            "UpgradeRequired",
            "InternalServerError",
            "NotImplemented",
            "BadGateway",
            "ServiceUnavailable",
            "GatewayTimeout",
            "HttpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "HttpStatusCode",
            "modelAsString": false
          }
        },
        "requestId": {
          "type": "string"
        }
      },
      "description": "The response model for the undoedit runbook operation."
    },
    "RunbookCreateOrUpdateProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType"
      ],
      "description": "The parameters supplied to the create or update runbook properties."
    },
    "RunbookCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets runbook create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "description": "The parameters supplied to the update runbook properties."
    },
    "RunbookUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update runbook operation."
    },
    "RunbookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Runbook"
          },
          "description": "Gets or sets a list of runbooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list runbook operation."
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "x-ms-client-flatten": true,
      "description": "Definition of the job stream."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    },
    "TestJobCreateParameters": {
      "properties": {
        "runbookName": {
          "type": "string",
          "description": "Gets or sets the runbook name."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "required": [
        "runbookName"
      ],
      "description": "The parameters supplied to the create test job operation."
    },
    "TestJob": {
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the test job."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the test job."
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the test job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the test job."
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the test job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the test job."
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the test job."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        }
      },
      "description": "Definition of the test job."
    },
    "getRunbookDraftContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "createOrUpdateRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31",
        "runbookContent": "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n            2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n            Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
      },
      "responses": {
        "202": {},
        "200": {
          "headers": {},
          "body": "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n                2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                    }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                    }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                    } else{\r\n            Write-Output $VMs[0..9\r\n                        ]\r\n                    }\r\n                }"
        }
      }
    },
    "getRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263335437500000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:32:23.75+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
            }
          }
        }
      }
    },
    "publishRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "202": {},
        "200": {}
      }
    },
    "undoDraftEditToLastKnownPublishedState": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "400": {}
      }
    },
    "getRunbookContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "getRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263335437500000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:32:23.75+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "logVerbose": false,
            "logProgress": true,
            "runbookType": "PowerShellWorkflow",
            "publishContentLink": {
              "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1",
              "contentHash": {
                "algorithm": "SHA256",
                "value": "115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80"
              }
            },
            "description": "Description of the Runbook",
            "logActivityTrace": 1
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318837230000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:04:43.66+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:04:43.723+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318866000000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": true,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:04:43.66+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:04:46.6+00:00"
            }
          }
        },
        "400": {
          "code": "BadRequest",
          "message": "{\"Message\":\"Cannot specify the content link for a published runbook and draft at the same time.\"}"
        }
      }
    },
    "updateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "200": {
          "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
          "name": "Get-AzureVMTutorial",
          "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          },
          "etag": "\"636265044994500000\"",
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1,
            "runbookType": "PowerShellWorkflow",
            "parameters": {},
            "state": "Published",
            "jobCount": 0,
            "provisioningState": "Succeeded",
            "serviceManagementTags": null,
            "outputTypes": [],
            "creationTime": "2017-03-30T21:01:33.777+00:00",
            "lastModifiedBy": "myEmaild@microsoft.com",
            "lastModifiedTime": "2017-03-30T21:01:39.45+00:00"
          }
        }
      }
    },
    "deleteRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "listRunbooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/ASR-AddPublicIp",
                "location": "East US 2",
                "name": "ASR-AddPublicIp",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:25.78+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:25.81+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/AutoExport",
                "location": "East US 2",
                "name": "AutoExport",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:27.327+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:27.327+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
                "location": "East US 2",
                "name": "Get-AzureVMTutorial",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShellWorkflow",
                  "state": "Published",
                  "logVerbose": false,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:23.75+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}