{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules/{scheduleName}": {
      "put": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_CreateOrUpdate",
        "description": "Create a schedule.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "Create or update a schedule": {
            "$ref": "#/definitions/createOrUpdateSchedule"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "scheduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update schedule operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "409": {
            "description": "Conflict"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_Update",
        "description": "Update the schedule identified by schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "Update a schedule": {
            "$ref": "#/definitions/updateSchedule"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "scheduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleUpdateParameters"
            },
            "description": "The parameters supplied to the update schedule operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_Get",
        "description": "Retrieve the schedule identified by schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "Get a schedule": {
            "$ref": "#/definitions/getSchedule"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "scheduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The schedule name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_Delete",
        "description": "Delete the schedule identified by schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "Delete schedule": {
            "$ref": "#/definitions/deleteSchedule"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "scheduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The schedule name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_ListByAutomationAccount",
        "description": "Retrieve a list of schedules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "List schedules by automation account, first 100": {
            "$ref": "#/definitions/listSchedulesByAutomationAccount_First100"
          },
          "List schedules by automation account, next 100": {
            "$ref": "#/definitions/listSchedulesByAutomationAccount_Next100"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AdvancedScheduleMonthlyOccurrence": {
      "properties": {
        "occurrence": {
          "type": "integer",
          "format": "int32",
          "description": "Occurrence of the week within the month. Must be between 1 and 5"
        },
        "day": {
          "type": "string",
          "description": "Day of the occurrence. Must be one of monday, tuesday, wednesday,thursday, friday, saturday, sunday.",
          "enum": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "x-ms-enum": {
            "name": "ScheduleDay",
            "modelAsString": true
          }
        }
      },
      "description": "The properties of the create advanced schedule monthly occurrence."
    },
    "AdvancedSchedule": {
      "properties": {
        "weekDays": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Days of the week that the job should execute on."
        },
        "monthDays": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Days of the month that the job should execute on. Must be between 1 and 31."
        },
        "monthlyOccurrences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdvancedScheduleMonthlyOccurrence"
          },
          "description": "Occurrences of days within a month."
        }
      },
      "description": "The properties of the create Advanced Schedule."
    },
    "ScheduleCreateOrUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the schedule."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule."
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the AdvancedSchedule."
        }
      },
      "required": [
        "startTime",
        "frequency"
      ],
      "description": "The parameters supplied to the create or update schedule operation."
    },
    "ScheduleCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of schedule properties."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update schedule operation."
    },
    "ScheduleProperties": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule."
        },
        "startTimeOffsetMinutes": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets the start time's offset in minutes."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule."
        },
        "expiryTimeOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the expiry time's offset in minutes."
        },
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the next run time of the schedule."
        },
        "nextRunOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the next run time's offset in minutes."
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the advanced schedule."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of schedule parameters."
    },
    "Schedule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the schedule."
        }
      },
      "description": "Definition of the schedule."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "ScheduleUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the schedule."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        }
      },
      "description": "The parameters supplied to the update schedule operation."
    },
    "ScheduleUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of schedule properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the update schedule operation."
    },
    "ScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schedule"
          },
          "description": "Gets or sets a list of schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list schedule operation."
    },
    "createOrUpdateSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "mySchedule",
          "properties": {
            "description": "my description of schedule goes here",
            "startTime": "2017-03-27T17:28:57.2494819Z",
            "expiryTime": "2017-04-01T17:28:57.2494819Z",
            "interval": 1,
            "frequency": "Hour",
            "advancedSchedule": {}
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my description of schedule goes here",
              "startTime": "2017-03-27T17:28:00+00:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-01T17:28:00+00:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": true,
              "nextRun": "2017-03-27T17:28:00+00:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-27T16:59:22.697+00:00",
              "lastModifiedTime": "2017-03-27T16:59:22.697+00:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        },
        "409": {}
      }
    },
    "updateSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "mySchedule",
          "properties": {
            "description": "my updated description of schedule goes here",
            "isEnabled": false
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my updated description of schedule goes here",
              "startTime": "2017-03-27T17:28:00+00:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-01T17:28:00+00:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": false,
              "nextRun": "2017-03-27T17:28:00+00:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-27T16:59:22.697+00:00",
              "lastModifiedTime": "2017-03-27T16:59:22.697+00:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        }
      }
    },
    "getSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my description of schedule goes here",
              "startTime": "2017-03-27T17:28:00+00:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-01T17:28:00+00:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": true,
              "nextRun": "2017-03-27T17:28:00+00:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-27T16:59:22.697+00:00",
              "lastModifiedTime": "2017-03-27T16:59:22.697+00:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        }
      }
    },
    "deleteSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "404": {}
      }
    },
    "listSchedulesByAutomationAccount_First100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
                "name": "mySchedule",
                "properties": {
                  "description": "my updated description of schedule goes here",
                  "startTime": "2017-03-27T17:28:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": false,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T16:59:22.697+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:14.027+00:00",
                  "nextRun": "2017-03-27T17:28:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule0",
                "name": "mySchedule0",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:17.18+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:17.18+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule1",
                "name": "mySchedule1",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:17.493+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:17.493+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule10",
                "name": "mySchedule10",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:20.54+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:20.54+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule100",
                "name": "mySchedule100",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:50.103+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:50.103+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule101",
                "name": "mySchedule101",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:50.433+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:50.433+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule102",
                "name": "mySchedule102",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:50.713+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:50.713+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule103",
                "name": "mySchedule103",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:51.04+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:51.04+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule104",
                "name": "mySchedule104",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:51.323+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:51.323+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule105",
                "name": "mySchedule105",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:51.62+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:51.62+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule106",
                "name": "mySchedule106",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:51.9+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:51.9+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule107",
                "name": "mySchedule107",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:52.183+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:52.183+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule108",
                "name": "mySchedule108",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:52.48+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:52.48+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule109",
                "name": "mySchedule109",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:52.76+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:52.76+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule11",
                "name": "mySchedule11",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:20.883+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:20.883+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule110",
                "name": "mySchedule110",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:53.073+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:53.073+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule111",
                "name": "mySchedule111",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:53.48+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:53.48+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule112",
                "name": "mySchedule112",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:53.807+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:53.807+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule113",
                "name": "mySchedule113",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:54.073+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:54.073+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule114",
                "name": "mySchedule114",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:54.353+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:54.353+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule115",
                "name": "mySchedule115",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:54.65+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:54.65+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule116",
                "name": "mySchedule116",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:54.933+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:54.933+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule117",
                "name": "mySchedule117",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:55.277+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:55.277+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule118",
                "name": "mySchedule118",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:55.65+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:55.65+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule119",
                "name": "mySchedule119",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:55.95+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:55.95+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule12",
                "name": "mySchedule12",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:21.213+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:21.213+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule120",
                "name": "mySchedule120",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:56.353+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:56.353+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule121",
                "name": "mySchedule121",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:56.65+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:56.65+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule122",
                "name": "mySchedule122",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:56.95+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:56.95+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule123",
                "name": "mySchedule123",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:57.247+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:57.247+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule124",
                "name": "mySchedule124",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:57.573+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:57.573+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule125",
                "name": "mySchedule125",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:57.9+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:57.9+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule126",
                "name": "mySchedule126",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:58.387+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:58.387+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule127",
                "name": "mySchedule127",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:58.7+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:58.7+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule128",
                "name": "mySchedule128",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:59.4+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:59.4+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule129",
                "name": "mySchedule129",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:59.73+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:59.73+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule13",
                "name": "mySchedule13",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:21.603+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:21.603+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule130",
                "name": "mySchedule130",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:00.09+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:00.09+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule131",
                "name": "mySchedule131",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:00.4+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:00.4+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule132",
                "name": "mySchedule132",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:00.683+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:00.683+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule133",
                "name": "mySchedule133",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:01.073+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:01.073+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule134",
                "name": "mySchedule134",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:01.387+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:01.387+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule135",
                "name": "mySchedule135",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:01.667+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:01.667+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule136",
                "name": "mySchedule136",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:01.95+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:01.95+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule137",
                "name": "mySchedule137",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:02.247+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:02.247+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule138",
                "name": "mySchedule138",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:02.557+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:02.557+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule139",
                "name": "mySchedule139",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:02.853+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:02.853+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule14",
                "name": "mySchedule14",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:21.98+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:21.98+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule140",
                "name": "mySchedule140",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:03.247+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:03.247+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule141",
                "name": "mySchedule141",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:03.573+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:03.573+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule142",
                "name": "mySchedule142",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:03.87+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:03.87+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule143",
                "name": "mySchedule143",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:04.2+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:04.2+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule144",
                "name": "mySchedule144",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:04.48+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:04.48+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule145",
                "name": "mySchedule145",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:04.76+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:04.76+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule146",
                "name": "mySchedule146",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:05.027+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:05.027+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule147",
                "name": "mySchedule147",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:05.353+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:05.353+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule148",
                "name": "mySchedule148",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:05.65+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:05.65+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule149",
                "name": "mySchedule149",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:05.95+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:05.95+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule15",
                "name": "mySchedule15",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:22.353+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:22.353+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule150",
                "name": "mySchedule150",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:06.247+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:06.247+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule151",
                "name": "mySchedule151",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:06.527+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:06.527+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule152",
                "name": "mySchedule152",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:06.81+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:06.81+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule153",
                "name": "mySchedule153",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:07.157+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:07.157+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule154",
                "name": "mySchedule154",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:07.453+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:07.453+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule155",
                "name": "mySchedule155",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:07.75+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:07.75+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule156",
                "name": "mySchedule156",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:08.093+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:08.093+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule157",
                "name": "mySchedule157",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:08.513+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:08.513+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule158",
                "name": "mySchedule158",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:08.873+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:08.873+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule159",
                "name": "mySchedule159",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:09.203+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:09.203+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule16",
                "name": "mySchedule16",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:00:22.697+00:00",
                  "lastModifiedTime": "2017-03-27T17:00:22.697+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule160",
                "name": "mySchedule160",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:09.547+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:09.547+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule161",
                "name": "mySchedule161",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:09.843+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:09.843+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule162",
                "name": "mySchedule162",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:10.14+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:10.14+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule163",
                "name": "mySchedule163",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:10.437+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:10.437+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule164",
                "name": "mySchedule164",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:10.72+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:10.72+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule165",
                "name": "mySchedule165",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:11.013+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:11.013+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule166",
                "name": "mySchedule166",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:11.297+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:11.297+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule167",
                "name": "mySchedule167",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:11.61+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:11.61+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule168",
                "name": "mySchedule168",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:11.89+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:11.89+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule169",
                "name": "mySchedule169",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T18:59:00+00:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-01T17:28:00+00:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-27T17:01:12.203+00:00",
                  "lastModifiedTime": "2017-03-27T17:01:12.203+00:00",
                  "nextRun": "2017-03-27T18:59:00+00:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
[...]
