{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "title": "Update Management API",
    "description": "APIs for managing software update configurations."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "scheduleFrequency": {
      "type": "string",
      "description": "Gets or sets the frequency of the schedule.",
      "enum": [
        "OneTime",
        "Day",
        "Hour",
        "Week",
        "Month"
      ],
      "x-ms-enum": {
        "name": "ScheduleFrequency",
        "modelAsString": true
      }
    },
    "collectionItemUpdateConfiguration": {
      "description": "object returned when requesting a collection of software update configuration",
      "properties": {
        "azureVirtualMachines": {
          "type": "array",
          "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Azure Resource Manager Id for a virtual machine."
          }
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601"
        }
      }
    },
    "softwareUpdateConfigurationCollectionItemProperties": {
      "description": "Software update configuration collection item properties.",
      "properties": {
        "updateConfiguration": {
          "description": "Update specific properties of the software update configuration.",
          "$ref": "#/definitions/collectionItemUpdateConfiguration"
        },
        "frequency": {
          "description": "execution frequency of the schedule associated with the software update configuration",
          "type": "string",
          "$ref": "#/definitions/scheduleFrequency"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "the start time of the update."
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of the software update configuration, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time software update configuration was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state for the software update configuration, which only appears in the response.",
          "readOnly": true
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "ext run time of the update."
        }
      }
    },
    "softwareUpdateConfigurationCollectionItem": {
      "description": "Software update configuration collection item properties.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationCollectionItemProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "softwareUpdateConfigurationListResult": {
      "description": "result of listing all software update configuration",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configurations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/softwareUpdateConfigurationCollectionItem"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "AdvancedScheduleMonthlyOccurrence": {
      "properties": {
        "occurrence": {
          "type": "integer",
          "format": "int32",
          "description": "Occurrence of the week within the month. Must be between 1 and 5"
        },
        "day": {
          "type": "string",
          "description": "Day of the occurrence. Must be one of monday, tuesday, wednesday,thursday, friday, saturday, sunday.",
          "enum": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "x-ms-enum": {
            "name": "ScheduleDay",
            "modelAsString": true
          }
        }
      },
      "description": "The properties of the create advanced schedule monthly occurrence."
    },
    "AdvancedSchedule": {
      "properties": {
        "weekDays": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Days of the week that the job should execute on."
        },
        "monthDays": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Days of the month that the job should execute on. Must be between 1 and 31."
        },
        "monthlyOccurrences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdvancedScheduleMonthlyOccurrence"
          },
          "description": "Occurrences of days within a month."
        }
      },
      "description": "The properties of the create Advanced Schedule."
    },
    "ScheduleProperties": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule."
        },
        "startTimeOffsetMinutes": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets the start time's offset in minutes."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule."
        },
        "expiryTimeOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the expiry time's offset in minutes."
        },
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the next run time of the schedule."
        },
        "nextRunOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the next run time's offset in minutes."
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the advanced schedule."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of schedule parameters."
    },
    "LinuxProperties": {
      "type": "object",
      "description": "Linux specific update configuration.",
      "properties": {
        "includedPackageClassifications": {
          "description": "Update classifications included in the software update configuration.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "Other"
            ]
          },
          "x-ms-enum": {
            "name": "LinuxUpdateClasses",
            "modelAsString": true
          }
        },
        "excludedPackageNameMasks": {
          "type": "array",
          "description": "packages excluded from the software update configuration.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WindowsProperties": {
      "type": "object",
      "description": "Windows specific update configuration.",
      "properties": {
        "includedUpdateClassifications": {
          "description": "Update classification included in the software update configuration.",
          "items": {
            "type": "string",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "UpdateRollup",
              "FeaturePack",
              "ServicePack",
              "Definition",
              "Tools",
              "Updates"
            ],
            "x-ms-enum": {
              "name": "WindowsUpdateClasses",
              "modelAsString": true
            }
          }
        },
        "excludedKbNumbers": {
          "type": "array",
          "description": "KB numbers excluded from the software update configuration.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "operatingSystemType": {
      "type": "string",
      "description": "Target operating system for the software update configuration.",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "modelAsString": false,
        "name": "OperatingSystemType"
      }
    },
    "updateConfiguration": {
      "type": "object",
      "description": "Update specifc properties of the software update configuration.",
      "discriminator": "operatingSystem",
      "properties": {
        "operatingSystem": {
          "description": "operating system of target machines",
          "$ref": "#/definitions/operatingSystemType"
        },
        "windows": {
          "description": "Windows specific update configuration.",
          "$ref": "#/definitions/WindowsProperties"
        },
        "linux": {
          "description": "Linux specific update configuration.",
          "$ref": "#/definitions/LinuxProperties"
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601"
        },
        "azureVirtualMachines": {
          "type": "array",
          "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Azure Resource Manager Id for a virtual machine."
          }
        },
        "nonAzureComputerNames": {
          "type": "array",
          "description": "List of names of non-azure machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Name of Non-Azure OMS Computer."
          }
        }
      },
      "required": [
        "operatingSystem"
      ]
    },
    "softwareUpdateConfigurationProperties": {
      "description": "Software update configuration properties.",
      "properties": {
        "updateConfiguration": {
          "description": "update specific properties for the Software update configuration",
          "$ref": "#/definitions/updateConfiguration"
        },
        "scheduleInfo": {
          "description": "Schedule information for the Software update configuration",
          "$ref": "#/definitions/ScheduleProperties"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state for the software update configuration, which only appears in the response.",
          "readOnly": true
        },
        "error": {
          "description": "detailes of provisioning error",
          "$ref": "#/definitions/ErrorResponse"
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      },
      "required": [
        "updateConfiguration"
      ]
    },
    "softwareUpdateConfiguration": {
      "x-ms-azure-resource": true,
      "description": "Software update configuration properties.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationProperties"
        }
      },
      "required": [
        "properties"
      ]
    }
  },
  "parameters": {
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    },
    "apiVersion": {
      "name": "api-version",
      "description": "The API version.",
      "type": "string",
      "required": true,
      "in": "query"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group within user's subscription.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "subscription id for tenant issuing the request.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "softwareUpdateConfigurationName": {
      "name": "softwareUpdateConfigurationName",
      "description": "The name of the software update configuration to be created.",
      "type": "string",
      "required": true,
      "in": "path"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "software Update Configurations",
  "x-internal-split-members": [
    {
      "displayName": "Create",
      "relativePath": "softwareUpdateConfigurations/Create"
    },
    {
      "displayName": "Delete",
      "relativePath": "softwareUpdateConfigurations/Delete"
    },
    {
      "displayName": "Get By Name",
      "relativePath": "softwareUpdateConfigurations/GetByName"
    },
    {
      "displayName": "List",
      "relativePath": "softwareUpdateConfigurations/List"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}