{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "operationId": "Statistics_ListByAutomationAccount",
        "description": "Retrieve the statistics for the account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/statisticsoperations"
        },
        "x-ms-examples": {
          "Get statistics of an automation account": {
            "$ref": "#/definitions/getStatisticsOfAutomationAccount"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatisticsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the SKU name of the account.",
          "enum": [
            "Free",
            "Basic"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        },
        "family": {
          "type": "string",
          "description": "Gets or sets the SKU family."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "The account SKU."
    },
    "AutomationAccountUpdateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets account SKU."
        }
      },
      "description": "The parameters supplied to the update account properties."
    },
    "AutomationAccountUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets account update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the update automation account operation."
    },
    "AutomationAccountProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of account."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Gets status of account.",
          "enum": [
            "Ok",
            "Unavailable",
            "Suspended"
          ],
          "x-ms-enum": {
            "name": "AutomationAccountState",
            "modelAsString": true
          }
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the account property."
    },
    "AutomationAccount": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the automation account properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the automation account type."
    },
    "DscConfigurationParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the configuration parameter type."
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "DscConfigurationProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the configuration.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationProvisioningState",
            "modelAsString": false
          }
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the configuration."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DscConfigurationParameter"
          },
          "description": "Gets or sets the configuration parameters."
        },
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the configuration.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the configuration property type."
    },
    "DscConfiguration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the configuration properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the configuration type."
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
    "DscNode": {
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node."
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node."
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the dsc node type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "ModuleErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": false
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the module property type."
    },
    "Module": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the module type."
    },
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      },
      "description": "Definition of the runbook type."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "AutomationAccountCreateOrUpdateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets account SKU."
        }
      },
      "description": "The parameters supplied to the create or update account properties."
    },
    "AutomationAccountCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets account create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the create or update automation account operation."
    },
    "AutomationAccountListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutomationAccount"
          },
          "description": "Gets or sets list of accounts."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list account operation."
    },
    "Operation": {
      "description": "Automation REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Automation",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Runbooks, Jobs etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          },
          "description": "Provider, Resource and Operation values"
        }
      }
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Automation operations supported by the Automation resource provider."
        }
      },
      "description": "The response model for the list of Automation operations"
    },
    "Statistics": {
      "properties": {
        "counterProperty": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the property value of the statistic."
        },
        "counterValue": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "Gets the value of the statistic."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the startTime of the statistic."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the endTime of the statistic."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id."
        }
      },
      "description": "Definition of the statistic."
    },
    "StatisticsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Statistics"
          },
          "description": "Gets or sets a list of statistics."
        }
      },
      "description": "The response model for the list statistics operation."
    },
    "UsageCounterName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the usage counter name."
        },
        "localizedValue": {
          "type": "string",
          "description": "Gets or sets the localized usage counter name."
        }
      },
      "description": "Definition of usage counter name."
    },
    "Usage": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "$ref": "#/definitions/UsageCounterName",
          "description": "Gets or sets the usage counter name."
        },
        "unit": {
          "type": "string",
          "description": "Gets or sets the usage unit name."
        },
        "currentValue": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the current usage value."
        },
        "limit": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets max limit. -1 for unlimited"
        },
        "throttleStatus": {
          "type": "string",
          "description": "Gets or sets the throttle status."
        }
      },
      "description": "Definition of Usage."
    },
    "UsageListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Usage"
          },
          "description": "Gets or sets usage."
        }
      },
      "description": "The response model for the get usage operation."
    },
    "updateAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "sku": {
              "name": "Free"
            }
          },
          "name": "myAutomationAccount9",
          "location": "East US 2"
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T01:13:43.267+00:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T01:13:43.267+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "sku": {
              "name": "Free"
            }
          },
          "name": "myAutomationAccount9",
          "location": "East US 2"
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T01:13:43.267+00:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T01:13:43.267+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "name": "ContoseAutomationAccount",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-28T18:21:15.187+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T18:21:15.187+00:00"
            }
          }
        }
      }
    },
    "deleteAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "getAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T01:13:43.267+00:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T01:13:43.267+00:00"
            }
          }
        }
      }
    },
    "listAutomationAccountsByResourceGroup": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myaccount",
                "location": "eastus2",
                "name": "myaccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T00:47:04.227+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123",
                "location": "eastus2",
                "name": "myAccount123",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-29T00:32:32.52+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads",
                "location": "East US 2",
                "name": "myAccountasfads",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:21:03.27+00:00",
                  "lastModifiedTime": "2017-03-24T23:21:03.27+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1",
                "location": "East US 2",
                "name": "myAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:22:33.26+00:00",
                  "lastModifiedTime": "2017-03-24T23:22:33.26+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11",
                "location": "East US 2",
                "name": "myAutomationAccount11",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-26T02:10:24.523+00:00",
                  "lastModifiedTime": "2017-03-26T02:11:12.027+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2",
                "location": "East US 2",
                "name": "myAutomationAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:24:20.31+00:00",
                  "lastModifiedTime": "2017-03-24T23:24:20.31+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3",
                "location": "East US 2",
                "name": "myAutomationAccount3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:24:43.967+00:00",
                  "lastModifiedTime": "2017-03-24T23:24:43.967+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4",
                "location": "East US 2",
                "name": "myAutomationAccount4",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:04:56.9+00:00",
                  "lastModifiedTime": "2017-03-25T02:04:56.9+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6",
                "location": "East US 2",
                "name": "myAutomationAccount6",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:10:44.567+00:00",
                  "lastModifiedTime": "2017-03-25T02:10:44.567+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7",
                "location": "East US 2",
                "name": "myAutomationAccount7",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:19:17.943+00:00",
                  "lastModifiedTime": "2017-03-25T02:19:17.943+00:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              }
            ]
          }
        }
      }
    },
    "listAutomationAccountsBySubscription": {
      "parameters": {
        "subscriptionId": "subid",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/JPEDeploy1/providers/Microsoft.Automation/automationAccounts/JPEDDeployDSC1",
                "location": "japaneast",
                "name": "JPEDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-28T23:48:25.143+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.06+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/jpeDemo1/providers/Microsoft.Automation/automationAccounts/jpeDemoAutomation1",
                "location": "japaneast",
                "name": "jpeDemoAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-25T02:04:10.223+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.06+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/ASERG1/providers/Microsoft.Automation/automationAccounts/ASEAutomationAccount1",
                "location": "australiasoutheast",
                "name": "ASEAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-04-12T05:19:19.48+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.64+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo",
                "location": "East US 2",
                "name": "AAEU2DSCDemo",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-08-04T14:44:02.397+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo2",
                "location": "East US 2",
                "name": "AAEU2DSCDemo2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-08-04T15:03:45.977+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo1",
                "location": "East US 2",
                "name": "AAsnoverDemo1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-01-29T02:29:13.18+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/oaastest/providers/Microsoft.Automation/automationAccounts/automationaccdelete",
                "location": "eastus2",
                "name": "automationaccdelete",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-03-29T20:30:49.97+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/mytest1212",
                "location": "eastus2",
                "name": "mytest1212",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-12T20:25:36.34+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/deleteacc",
                "location": "eastus2",
                "name": "deleteacc",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-12T22:13:39.79+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/test/providers/Microsoft.Automation/automationAccounts/deleteme",
                "location": "eastus2",
                "name": "deleteme",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-12T21:56:10.267+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/tst/providers/Microsoft.Automation/automationAccounts/deleteme3",
                "location": "eastus2",
                "name": "deleteme3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-12T22:00:51.333+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/Eus2Account1",
                "location": "East US 2",
                "name": "Eus2Account1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-05-19T19:07:43.2+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/EUS2Deploy1/providers/Microsoft.Automation/automationAccounts/EUS2DDeployDSC1",
                "location": "eastus2",
                "name": "EUS2DDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-28T23:50:56.16+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/eusAccount2",
                "location": "eastus2",
                "name": "eusAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-05-19T19:12:19.853+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdAutomation1",
                "location": "eastus2",
                "name": "myProdAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-16T21:31:06.333+00:00",
                  "lastModifiedTime": "2017-02-16T21:31:06.333+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdDevAutomation",
                "location": "eastus2",
                "name": "myProdDevAutomation",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-10-27T21:11:16.71+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdPublicAutomation",
                "location": "eastus2",
                "name": "myProdPublicAutomation",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-18T19:49:08.893+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myTestaccount",
                "location": "eastus2",
                "name": "myTestaccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T00:47:04.227+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-19T17:29:18.493+00:00",
                  "lastModifiedTime": "2017-03-19T17:29:18.493+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-proddev",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-proddev",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-06T02:33:10.29+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-prodtest",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-10T23:40:13.103+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest2",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-prodtest2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-11T00:20:50.463+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsEUS-AA2",
                "location": "eastus2",
                "name": "LinuxPatchingOpsEUS-AA2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T03:17:00.043+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxTestNewAA",
                "location": "eastus2",
                "name": "LinuxTestNewAA",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-23T18:50:54.887+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaasCSsubid-east-us/providers/Microsoft.Automation/automationAccounts/psrdfeAccount2",
                "location": "East US 2",
                "name": "psrdfeAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-05-05T00:26:49.02+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myrg/providers/Microsoft.Automation/automationAccounts/my-account-one",
                "location": "eastus2",
                "name": "my-account-one",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-10-27T17:54:31.007+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-no-vms",
                "location": "eastus2",
                "name": "myku-no-vms",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-30T01:12:00.853+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-win-vms",
                "location": "eastus2",
                "name": "myku-win-vms",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-30T01:17:07.613+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/SVCPrnAcctTest1",
                "location": "eastus2",
                "name": "SVCPrnAcctTest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-03-28T20:12:48.163+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/tesdbgfvfhgjghjgh/providers/Microsoft.Automation/automationAccounts/testfgbhfghfgh",
                "location": "eastus2",
                "name": "testfgbhfghfgh",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-12T20:48:59.3+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/test-linux-linuxopsworkspace",
                "location": "eastus2",
                "name": "test-linux-linuxopsworkspace",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-23T18:59:56.99+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-dsc-test-1",
                "location": "eastus2",
                "name": "my-dsc-test-1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-10T00:21:05.133+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-test-automation-1",
                "location": "eastus2",
                "name": "my-test-automation-1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-09T19:57:50.043+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myresourcegroupeus/providers/Microsoft.Automation/automationAccounts/myAccount",
                "location": "eastus2",
                "name": "myAccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-10T19:10:30.453+00:00",
                  "lastModifiedTime": "2017-03-10T19:10:30.453+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123",
                "location": "eastus2",
                "name": "myAccount123",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-29T00:32:32.52+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads",
                "location": "East US 2",
                "name": "myAccountasfads",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:21:03.27+00:00",
                  "lastModifiedTime": "2017-03-24T23:21:03.27+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myResourceGroupEUS/providers/Microsoft.Automation/automationAccounts/myAccountEUS",
                "location": "eastus2",
                "name": "myAccountEUS",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-29T23:13:38.873+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.4+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1",
                "location": "East US 2",
                "name": "myAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:22:33.26+00:00",
                  "lastModifiedTime": "2017-03-24T23:22:33.26+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11",
                "location": "East US 2",
                "name": "myAutomationAccount11",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-26T02:10:24.523+00:00",
                  "lastModifiedTime": "2017-03-26T02:11:12.027+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2",
                "location": "East US 2",
                "name": "myAutomationAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:24:20.31+00:00",
                  "lastModifiedTime": "2017-03-24T23:24:20.31+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3",
                "location": "East US 2",
                "name": "myAutomationAccount3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-24T23:24:43.967+00:00",
                  "lastModifiedTime": "2017-03-24T23:24:43.967+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4",
                "location": "East US 2",
                "name": "myAutomationAccount4",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:04:56.9+00:00",
                  "lastModifiedTime": "2017-03-25T02:04:56.9+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6",
                "location": "East US 2",
                "name": "myAutomationAccount6",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:10:44.567+00:00",
                  "lastModifiedTime": "2017-03-25T02:10:44.567+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7",
                "location": "East US 2",
                "name": "myAutomationAccount7",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T02:19:17.943+00:00",
                  "lastModifiedTime": "2017-03-25T02:19:17.943+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/WEURG1/providers/Microsoft.Automation/automationAccounts/CSSCase1",
                "location": "westeurope",
                "name": "CSSCase1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-08-18T05:53:58.91+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/deleteme",
                "location": "westeurope",
                "name": "deleteme",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-12T21:48:47.98+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-weu/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsWEU-AA2",
                "location": "westeurope",
                "name": "LinuxPatchingOpsWEU-AA2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T02:27:35.713+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/LinuxPatchJobs",
                "location": "westeurope",
                "name": "LinuxPatchJobs",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-14T22:02:28.223+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolAAC1",
                "location": "westeurope",
                "name": "MyCoolAAC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-22T05:59:22.443+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolACT1",
                "location": "westeurope",
                "name": "MyCoolACT1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-22T06:05:18.5+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-West-Europe/providers/Microsoft.Automation/automationAccounts/MyTestmyTest-WEU",
                "location": "West Europe",
                "name": "MyTestmyTest-WEU",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2014-11-12T02:48:51.473+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.373+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/WEDeploy1/providers/Microsoft.Automation/automationAccounts/WEDDeployDSC1",
                "location": "westeurope",
                "name": "WEDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-28T23:20:01.73+00:00",
                  "lastModifiedTime": "2017-03-13T08:43:47.36+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/SEADeploy1/providers/Microsoft.Automation/automationAccounts/SEADDeployDSC1",
                "location": "southeamyia",
                "name": "SEADDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-28T19:06:39.1+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.683+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/seaDemo1/providers/Microsoft.Automation/automationAccounts/seaDemoAutomation1",
                "location": "southeamyia",
                "name": "seaDemoAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-25T01:31:32.15+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:16.683+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo2",
                "location": "South Central US",
                "name": "AAsnoverDemo2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-01-29T02:30:05.84+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:17.107+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/SCUSDeploy1/providers/Microsoft.Automation/automationAccounts/SCUSDDeployDSC1",
                "location": "southcentralus",
                "name": "SCUSDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-06-04T23:06:44.897+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:17.107+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/scusposthydtest1",
                "location": "South Central US",
                "name": "scusposthydtest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-06-04T16:44:18.823+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:17.107+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-South-Central-US/providers/Microsoft.Automation/automationAccounts/scustestaccount1",
                "location": "South Central US",
                "name": "scustestaccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-05-30T01:54:57.313+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:17.107+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/UKSRG1/providers/Microsoft.Automation/automationAccounts/AAUKSmyTest1",
                "location": "uksouth",
                "name": "AAUKSmyTest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-15T02:31:03.19+00:00",
                  "lastModifiedTime": "2017-02-15T02:31:03.19+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/Gaurav_machines/providers/Microsoft.Automation/automationAccounts/Tip-WCUS-AutomationAccount",
                "location": "westcentralus",
                "name": "Tip-WCUS-AutomationAccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-08T19:53:36.2933333+00:00",
                  "lastModifiedTime": "2017-03-08T19:53:36.2933333+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myRG/providers/Microsoft.Automation/automationAccounts/aa-my",
                "location": "northeurope",
                "name": "aa-my",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-21T18:59:56.26+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:15.457+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/CIDAccout1",
                "location": "Central India",
                "name": "CIDAccout1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-02-24T20:04:58.867+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:19.003+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/aaspntest",
                "location": "northcentralus",
                "name": "aaspntest",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-06T17:18:51.88+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:19.37+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsccomposite",
                "location": "northcentralus",
                "name": "dsccomposite",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-13T17:37:55.163+00:00",
                  "lastModifiedTime": "2017-03-06T17:19:15.09+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsclinux",
                "location": "northcentralus",
                "name": "dsclinux",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-06T21:50:05.493+00:00",
                  "lastModifiedTime": "2017-03-06T21:50:05.493+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc",
                "location": "northcentralus",
                "name": "mydsc",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-01T17:28:36.197+00:00",
                  "lastModifiedTime": "2017-02-09T21:35:19.37+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc2",
                "location": "northcentralus",
                "name": "mydsc2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-01T18:50:06.063+00:00",
                  "lastModifiedTime": "2017-03-11T01:33:13.113+00:00"
                }
              }
            ]
          }
        }
      }
    },
    "getStatisticsOfAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount11",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/New",
                "counterProperty": "New",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Activating",
                "counterProperty": "Activating",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Running",
                "counterProperty": "Running",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Completed",
                "counterProperty": "Completed",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Failed",
                "counterProperty": "Failed",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopped",
                "counterProperty": "Stopped",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Blocked",
                "counterProperty": "Blocked",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspended",
                "counterProperty": "Suspended",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Disconnected",
                "counterProperty": "Disconnected",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspending",
                "counterProperty": "Suspending",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopping",
                "counterProperty": "Stopping",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Resuming",
                "counterProperty": "Resuming",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Removing",
                "counterProperty": "Removing",
                "counterValue": 0,
                "startTime": "2017-03-19T02:11:49.9879197+00:00",
                "endTime": "2017-03-26T02:11:49.9879197+00:00"
              }
            ]
          }
        }
      }
    },
    "getUsagesOfAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount11",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "name": {
                  "value": "AccountUsage",
                  "localizedValue": "AccountUsage"
                },
                "unit": "Minute",
                "currentValue": 0.0,
                "limit": 500,
                "throttleStatus": "NotThrottled"
              },
              {
                "name": {
                  "value": "SubscriptionUsage",
                  "localizedValue": "SubscriptionUsage"
                },
                "unit": "Minute",
                "currentValue": 429.0,
                "limit": 500,
                "throttleStatus": "NotThrottled"
              },
              {
                "name": {
                  "value": "DscSubscriptionUsage",
                  "localizedValue": "DscSubscriptionUsage"
                },
                "unit": "Count",
                "currentValue": 8.0,
                "limit": 5,
                "throttleStatus": "ThrottledAtSubscriptionLevel"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}