{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_GenerateUri",
        "description": "Generates a Uri for use in creating a webhook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}": {
      "delete": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Delete",
        "description": "Delete the webhook by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Delete webhook": {
            "$ref": "#/definitions/deleteWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Get",
        "description": "Retrieve the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Get webhook": {
            "$ref": "#/definitions/getWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_CreateOrUpdate",
        "description": "Create the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Create or update webhook": {
            "$ref": "#/definitions/createOrUpdateWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for webhook."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Update",
        "description": "Update the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Update webhook": {
            "$ref": "#/definitions/updateWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUpdateParameters"
            },
            "description": "The update parameters for webhook."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_ListByAutomationAccount",
        "description": "Retrieve a list of webhooks.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "List webhooks by Automation Account": {
            "$ref": "#/definitions/listWebhooksByAutomationAccount"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebhookListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "WebhookProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets the value of the enabled flag of the webhook."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the webhook uri."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the expiry time."
        },
        "lastInvokedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last invoked time."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook the webhook is associated with."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the webhook properties"
    },
    "Webhook": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the webhook."
        },
        "properties": {
          "$ref": "#/definitions/WebhookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the webhook properties."
        }
      },
      "description": "Definition of the webhook type."
    },
    "WebhookCreateOrUpdateProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the value of the enabled flag of webhook."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the expiry time."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        }
      },
      "description": "The properties of the create webhook operation."
    },
    "WebhookCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the webhook."
        },
        "properties": {
          "$ref": "#/definitions/WebhookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the webhook."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update webhook operation."
    },
    "WebhookUpdateProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the value of the enabled flag of webhook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the webhook."
        }
      },
      "description": "The properties of the update webhook."
    },
    "WebhookUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the webhook."
        },
        "properties": {
          "$ref": "#/definitions/WebhookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the webhook."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the update webhook operation."
    },
    "WebhookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Webhook"
          },
          "description": "Gets or sets a list of webhooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list webhook operation."
    },
    "deleteWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": true,
            "uri": "https://s1events.azure-automation.net/webhooks?token=7u3KfQvM1vUPWaDMFRv2%2fAA4Jqx8QwS8aBuyO6Xsdcw%3d",
            "expiryTime": "2018-03-29T22:18:13.7002872Z",
            "runbook": {
              "name": "TestRunbook"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        }
      }
    },
    "updateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": false,
            "description": "updated webhook"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": false,
              "expiryTime": "2018-03-30T23:03:14.5752078+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-30T21:52:01.272378+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-30T23:03:14.9069441+00:00"
            }
          }
        }
      }
    },
    "listWebhooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                "name": "TestWebhook",
                "properties": {
                  "isEnabled": true,
                  "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "lastInvokedTime": null,
                  "runOn": null,
                  "parameters": null,
                  "uri": null,
                  "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}