{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-01",
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "tags": [
          "AzureFirewalls"
        ],
        "operationId": "AzureFirewalls_List",
        "description": "Lists all Azure Firewalls in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The operation returns a list of AzureFirewall resources.",
            "schema": {
              "$ref": "#/definitions/AzureFirewallListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewalls for a given resource group": {
            "parameters": {
              "api-version": "2019-09-01",
              "subscriptionId": "subid",
              "resourceGroupName": "rg1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "azurefirewall",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                      "type": "Microsoft.Network/azureFirewalls",
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "location": "West US",
                      "zones": [],
                      "tags": {
                        "key1": "value1"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "threatIntelMode": "Alert",
                        "ipConfigurations": [
                          {
                            "name": "azureFirewallIpConfiguration",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration",
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "properties": {
                              "provisioningState": "Succeeded",
                              "privateIPAddress": "10.0.0.0",
                              "subnet": {
                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                              },
                              "publicIPAddress": {
                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                              }
                            }
                          }
                        ],
                        "applicationRuleCollections": [
                          {
                            "name": "apprulecoll",
                            "properties": {
                              "priority": 110,
                              "action": {
                                "type": "Deny"
                              },
                              "rules": [
                                {
                                  "name": "rule1",
                                  "description": "Deny inbound rule",
                                  "protocols": [
                                    {
                                      "protocolType": "Https",
                                      "port": 443
                                    }
                                  ],
                                  "targetFqdns": [
                                    "www.test.com"
                                  ],
                                  "sourceAddresses": [
                                    "216.58.216.164",
                                    "10.0.0.0/24"
                                  ]
                                }
                              ]
                            }
                          }
                        ],
                        "natRuleCollections": [
                          {
                            "name": "natrulecoll",
                            "properties": {
                              "priority": 112,
                              "action": {
                                "type": "Dnat"
                              },
                              "rules": [
                                {
                                  "name": "DNAT-HTTPS-traffic",
                                  "description": "D-NAT all outbound web traffic for inspection",
                                  "sourceAddresses": [
                                    "*"
                                  ],
                                  "destinationAddresses": [
                                    "1.2.3.4"
                                  ],
                                  "destinationPorts": [
                                    "443"
                                  ],
                                  "protocols": [
                                    "TCP"
                                  ],
                                  "translatedAddress": "1.2.3.5",
                                  "translatedPort": "8443"
                                },
                                {
                                  "name": "DNAT-HTTP-traffic-With-FQDN",
                                  "description": "D-NAT all inbound web traffic for inspection",
                                  "sourceAddresses": [
                                    "*"
                                  ],
                                  "destinationAddresses": [
                                    "1.2.3.4"
                                  ],
                                  "destinationPorts": [
                                    "80"
                                  ],
                                  "protocols": [
                                    "TCP"
                                  ],
                                  "translatedFqdn": "internalhttpserver",
                                  "translatedPort": "880"
                                }
                              ]
                            }
                          }
                        ],
                        "networkRuleCollections": [
                          {
                            "name": "netrulecoll",
                            "properties": {
                              "priority": 112,
                              "action": {
                                "type": "Deny"
                              },
                              "rules": [
                                {
                                  "name": "L4-traffic",
                                  "description": "Block traffic based on source IPs and ports",
                                  "sourceAddresses": [
                                    "192.168.1.1-192.168.1.12",
                                    "10.1.4.12-10.1.4.255"
                                  ],
                                  "destinationPorts": [
                                    "443-444",
                                    "8443"
                                  ],
                                  "destinationAddresses": [
                                    "*"
                                  ],
                                  "protocols": [
                                    "TCP"
                                  ]
                                },
                                {
                                  "name": "L4-traffic-with-FQDN",
                                  "description": "Block traffic based on source IPs and ports to amazon",
                                  "sourceAddresses": [
                                    "10.2.4.12-10.2.4.255"
                                  ],
                                  "destinationPorts": [
                                    "443-444",
                                    "8443"
                                  ],
                                  "destinationFqdns": [
                                    "www.amazon.com"
                                  ],
                                  "protocols": [
                                    "TCP"
                                  ]
                                }
                              ]
                            }
                          }
                        ],
                        "additionalProperties": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "AzureFirewallIPConfigurationPropertiesFormat": {
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "readOnly": true,
          "description": "The Firewall Internal Load Balancer IP to be used as the next hop in User Defined Routes."
        },
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference of the subnet resource. This resource must be named 'AzureFirewallSubnet'."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference of the PublicIP resource. This field is a mandatory input if subnet is not null."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Azure firewall IP configuration resource."
        }
      },
      "description": "Properties of IP configuration of an Azure Firewall."
    },
    "AzureFirewallIPConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureFirewallIPConfigurationPropertiesFormat",
          "description": "Properties of the azure firewall IP configuration."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "IP configuration of an Azure Firewall."
    },
    "AzureFirewallPublicIPAddress": {
      "properties": {
        "address": {
          "type": "string",
          "description": "Public IP Address value."
        }
      },
      "description": "Public IP Address associated with azure firewall."
    },
    "HubIPAddresses": {
      "properties": {
        "publicIPAddresses": {
          "type": "array",
          "description": "List of Public IP addresses associated with azure firewall.",
          "items": {
            "$ref": "#/definitions/AzureFirewallPublicIPAddress"
          }
        },
        "privateIPAddress": {
          "type": "string",
          "description": "Private IP Address associated with azure firewall."
        }
      },
      "description": "IP addresses associated with azure firewall."
    },
    "AzureFirewallPropertiesFormat": {
      "properties": {
        "applicationRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallApplicationRuleCollection"
          },
          "description": "Collection of application rule collections used by Azure Firewall."
        },
        "natRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNatRuleCollection"
          },
          "description": "Collection of NAT rule collections used by Azure Firewall."
        },
        "networkRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNetworkRuleCollection"
          },
          "description": "Collection of network rule collections used by Azure Firewall."
        },
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallIPConfiguration"
          },
          "description": "IP configuration of the Azure Firewall resource."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Azure firewall resource."
        },
        "threatIntelMode": {
          "description": "The operation mode for Threat Intelligence.",
          "$ref": "#/definitions/AzureFirewallThreatIntelMode"
        },
        "virtualHub": {
          "$ref": "#/definitions/SubResource",
          "description": "The virtualHub to which the firewall belongs."
        },
        "firewallPolicy": {
          "$ref": "#/definitions/SubResource",
          "description": "The firewallPolicy associated with this azure firewall."
        },
        "hubIpAddresses": {
          "readOnly": true,
          "description": "IP addresses associated with AzureFirewall.",
          "$ref": "#/definitions/HubIPAddresses"
        },
        "sku": {
          "description": "The Azure Firewall Resource SKU.",
          "$ref": "#/definitions/AzureFirewallSku"
        },
        "additionalProperties": {
          "$ref": "#/definitions/AzureFirewallAdditionalProperties",
          "description": "The additional properties used to further config this azure firewall."
        }
      },
      "description": "Properties of the Azure Firewall."
    },
    "AzureFirewall": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureFirewallPropertiesFormat",
          "description": "Properties of the azure firewall."
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of availability zones denoting where the resource needs to come from."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Azure Firewall resource."
    },
    "AzureFirewallListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewall"
          },
          "description": "List of Azure Firewalls in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of results."
        }
      },
      "description": "Response for ListAzureFirewalls API service call."
    },
    "AzureFirewallThreatIntelMode": {
      "type": "string",
      "description": "The operation mode for Threat Intel.",
      "enum": [
        "Alert",
        "Deny",
        "Off"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallThreatIntelMode",
        "modelAsString": true
      }
    },
    "AzureFirewallAdditionalProperties": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "The additional properties of azure firewall."
    },
    "AzureFirewallApplicationRuleCollectionPropertiesFormat": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "maximum": 65000,
          "exclusiveMaximum": false,
          "minimum": 100,
          "exclusiveMinimum": false,
          "description": "Priority of the application rule collection resource."
        },
        "action": {
          "$ref": "#/definitions/AzureFirewallRCAction",
          "description": "The action type of a rule collection."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallApplicationRule"
          },
          "description": "Collection of rules used by a application rule collection."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the application rule collection resource."
        }
      },
      "description": "Properties of the application rule collection."
    },
    "AzureFirewallApplicationRuleCollection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureFirewallApplicationRuleCollectionPropertiesFormat",
          "description": "Properties of the azure firewall application rule collection."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Application rule collection resource."
    },
    "AzureFirewallApplicationRuleProtocol": {
      "properties": {
        "protocolType": {
          "description": "Protocol type.",
          "$ref": "#/definitions/AzureFirewallApplicationRuleProtocolType"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "maximum": 64000,
          "exclusiveMaximum": false,
          "minimum": 0,
          "exclusiveMinimum": false,
          "description": "Port number for the protocol, cannot be greater than 64000. This field is optional."
        }
      },
      "description": "Properties of the application rule protocol."
    },
    "AzureFirewallApplicationRule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the application rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallApplicationRuleProtocol"
          },
          "description": "Array of ApplicationRuleProtocols."
        },
        "targetFqdns": {
          "type": "array",
          "description": "List of FQDNs for this rule.",
          "items": {
            "type": "string"
          }
        },
        "fqdnTags": {
          "type": "array",
          "description": "List of FQDN Tags for this rule.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Properties of an application rule."
    },
    "AzureFirewallNatRuleCollectionProperties": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "maximum": 65000,
          "exclusiveMaximum": false,
          "minimum": 100,
          "exclusiveMinimum": false,
          "description": "Priority of the NAT rule collection resource."
        },
        "action": {
          "$ref": "#/definitions/AzureFirewallNatRCAction",
          "description": "The action type of a NAT rule collection."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNatRule"
          },
          "description": "Collection of rules used by a NAT rule collection."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the NAT rule collection resource."
        }
      },
      "description": "Properties of the NAT rule collection."
    },
    "AzureFirewallNatRuleCollection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureFirewallNatRuleCollectionProperties",
          "description": "Properties of the azure firewall NAT rule collection."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "NAT rule collection resource."
    },
    "AzureFirewallNatRule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the NAT rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses for this rule. Supports IP ranges, prefixes, and service tags.",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "List of destination ports.",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNetworkRuleProtocol"
          },
          "description": "Array of AzureFirewallNetworkRuleProtocols applicable to this NAT rule."
        },
        "translatedAddress": {
          "type": "string",
          "description": "The translated address for this NAT rule."
        },
        "translatedPort": {
          "type": "string",
          "description": "The translated port for this NAT rule."
        },
        "translatedFqdn": {
          "type": "string",
          "description": "The translated FQDN for this NAT rule."
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Properties of a NAT rule."
    },
    "AzureFirewallNatRCAction": {
      "properties": {
        "type": {
          "description": "The type of action.",
          "$ref": "#/definitions/AzureFirewallNatRCActionType"
        }
      },
      "description": "AzureFirewall NAT Rule Collection Action."
    },
    "AzureFirewallNatRCActionType": {
      "type": "string",
      "description": "The action type of a NAT rule collection.",
      "enum": [
        "Snat",
        "Dnat"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallNatRCActionType",
        "modelAsString": true
      }
    },
    "AzureFirewallNetworkRuleCollectionPropertiesFormat": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "maximum": 65000,
          "exclusiveMaximum": false,
          "minimum": 100,
          "exclusiveMinimum": false,
          "description": "Priority of the network rule collection resource."
        },
        "action": {
          "$ref": "#/definitions/AzureFirewallRCAction",
          "description": "The action type of a rule collection."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNetworkRule"
          },
          "description": "Collection of rules used by a network rule collection."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the network rule collection resource."
        }
      },
      "description": "Properties of the network rule collection."
    },
    "AzureFirewallNetworkRuleCollection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureFirewallNetworkRuleCollectionPropertiesFormat",
          "description": "Properties of the azure firewall network rule collection."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Network rule collection resource."
    },
    "AzureFirewallNetworkRule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "protocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFirewallNetworkRuleProtocol"
          },
          "description": "Array of AzureFirewallNetworkRuleProtocols."
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "List of destination ports.",
          "items": {
            "type": "string"
          }
        },
        "destinationFqdns": {
          "type": "array",
          "description": "List of destination FQDNs.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationIpGroups": {
          "type": "array",
          "description": "List of destination IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Properties of the network rule."
    },
    "AzureFirewallRCAction": {
      "properties": {
        "type": {
          "description": "The type of action.",
          "$ref": "#/definitions/AzureFirewallRCActionType"
        }
      },
      "description": "Properties of the AzureFirewallRCAction."
    },
    "AzureFirewallRCActionType": {
      "type": "string",
      "description": "The action type of a rule collection.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallRCActionType",
        "modelAsString": true
      }
    },
    "AzureFirewallNetworkRuleProtocol": {
      "type": "string",
      "description": "The protocol of a Network Rule resource.",
      "enum": [
        "TCP",
        "UDP",
        "Any",
        "ICMP"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallNetworkRuleProtocol",
        "modelAsString": true
      }
    },
    "AzureFirewallApplicationRuleProtocolType": {
      "type": "string",
      "description": "The protocol type of a Application Rule resource.",
      "enum": [
        "Http",
        "Https",
        "Mssql"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallApplicationRuleProtocolType",
        "modelAsString": true
      }
    },
    "AzureFirewallSku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of an Azure Firewall SKU.",
          "enum": [
            "AZFW_VNet",
            "AZFW_Hub"
          ],
          "x-ms-enum": {
            "name": "AzureFirewallSkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "Tier of an Azure Firewall.",
          "enum": [
            "Standard"
          ],
          "x-ms-enum": {
            "name": "AzureFirewallSkuTier",
            "modelAsString": true
          }
        }
      },
      "description": "SKU of an Azure Firewall."
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another subresource.",
      "x-ms-azure-resource": true
    },
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Updating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Common resource representation.",
      "x-ms-azure-resource": true
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the service."
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "Cloud error body."
        }
      },
      "description": "An error response from the service."
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  },
  "x-internal-service-id": "firewall",
  "x-internal-service-name": "Firewall",
  "x-internal-toc-name": "Azure Firewalls",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}