{
  "swagger": "2.0",
  "info": {
    "version": "2017-11-15",
    "title": "DeviceProvisioningService_DeviceRuntimeClient",
    "description": "API for device runtime operations with the Azure IotHub Device Provisioning Service"
  },
  "host": "global.azure-devices-provisioning.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{idScope}/registrations/{registrationId}/operations/{operationId}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Gets the registration operation status.",
        "operationId": "RuntimeRegistration_OperationStatusLookup",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "required": true,
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            },
            "headers": {
              "Retry-After": {
                "description": "The retry interval in seconds.",
                "type": "string"
              },
              "Location": {
                "description": "The location of the resource.",
                "type": "string"
              }
            }
          }
        },
        "x-internal-toc-name": "Operation Status Lookup"
      }
    }
  },
  "definitions": {
    "RegistrationOperationStatus": {
      "description": "Registration operation status.",
      "required": [
        "operationId"
      ],
      "type": "object",
      "properties": {
        "operationId": {
          "description": "Operation ID.",
          "type": "string"
        },
        "status": {
          "description": "Device enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string"
        },
        "registrationState": {
          "$ref": "#/definitions/DeviceRegistrationResult",
          "description": "Device registration status."
        }
      }
    },
    "DeviceRegistrationResult": {
      "description": "Device registration result.",
      "required": [
        "registrationId",
        "status"
      ],
      "type": "object",
      "properties": {
        "tpm": {
          "$ref": "#/definitions/TpmRegistrationResult",
          "description": "TPM registration result."
        },
        "x509": {
          "$ref": "#/definitions/X509RegistrationResult",
          "description": "X509 registration result."
        },
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Registration create date time (in UTC).",
          "type": "string"
        },
        "assignedHub": {
          "description": "Assigned Azure IoT Hub.",
          "type": "string"
        },
        "deviceId": {
          "description": "Device ID.",
          "type": "string"
        },
        "status": {
          "description": "Enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Error message.",
          "type": "string"
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "Last updated date time (in UTC).",
          "type": "string"
        },
        "etag": {
          "description": "The entity tag associated with the resource.",
          "type": "string"
        }
      }
    },
    "TpmRegistrationResult": {
      "description": "TPM registration result.",
      "type": "object",
      "properties": {
        "authenticationKey": {
          "type": "string"
        }
      }
    },
    "X509RegistrationResult": {
      "description": "X509 registration result.",
      "type": "object",
      "properties": {
        "certificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        },
        "enrollmentGroupId": {
          "type": "string"
        },
        "signingCertificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        }
      }
    },
    "X509CertificateInfo": {
      "description": "X509 certificate info.",
      "required": [
        "subjectName",
        "sha1Thumbprint",
        "sha256Thumbprint",
        "issuerName",
        "notBeforeUtc",
        "notAfterUtc",
        "serialNumber",
        "version"
      ],
      "type": "object",
      "properties": {
        "subjectName": {
          "type": "string"
        },
        "sha1Thumbprint": {
          "type": "string"
        },
        "sha256Thumbprint": {
          "type": "string"
        },
        "issuerName": {
          "type": "string"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "notAfterUtc": {
          "format": "date-time",
          "type": "string"
        },
        "serialNumber": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeviceRegistration": {
      "description": "Device registration.",
      "type": "object",
      "properties": {
        "registrationId": {
          "type": "string"
        },
        "tpm": {
          "$ref": "#/definitions/TpmAttestation"
        }
      }
    },
    "TpmAttestation": {
      "description": "Attestation via TPM.",
      "required": [
        "endorsementKey"
      ],
      "type": "object",
      "properties": {
        "endorsementKey": {
          "type": "string"
        },
        "storageRootKey": {
          "type": "string"
        }
      }
    },
    "TwinCollection": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "integer"
        },
        "count": {
          "type": "integer"
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      },
      "additionalProperties": {
        "type": "object"
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "lastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "lastUpdatedVersion": {
          "format": "int64",
          "description": "This SHOULD be null for Reported properties metadata and MUST not be null for Desired properties metadata.",
          "type": "integer"
        }
      }
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request. Supported versions include: 2017-11-15",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {},
  "x-internal-service-name": "IoT Hub Device Provisioning Service",
  "x-internal-toc-name": "Runtime Registration",
  "x-internal-split-type": "Operation"
}