{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01-preview",
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list solution operations.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of solution operations supported by the OperationsManagement resource provider."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "Supported operation of OperationalInsights resource provider.",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft OperationsManagement.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed etc.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "LinkedServiceProperties": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource id of the resource that will be linked to the workspace."
        }
      },
      "required": [
        "resourceId"
      ],
      "description": "Linked service properties."
    },
    "LinkedService": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LinkedServiceProperties",
          "description": "The properties of the linked service."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "The top level Linked service resource container.",
      "x-ms-azure-resource": true
    },
    "LinkedServiceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkedService"
          },
          "description": "Gets or sets a list of linked service instances."
        }
      },
      "description": "The list linked service operation response."
    },
    "DataSourceKind": {
      "type": "string",
      "enum": [
        "AzureActivityLog",
        "ChangeTrackingPath",
        "ChangeTrackingDefaultPath",
        "ChangeTrackingDefaultRegistry",
        "ChangeTrackingCustomRegistry",
        "CustomLog",
        "CustomLogCollection",
        "GenericDataSource",
        "IISLogs",
        "LinuxPerformanceObject",
        "LinuxPerformanceCollection",
        "LinuxSyslog",
        "LinuxSyslogCollection",
        "WindowsEvent",
        "WindowsPerformanceCounter"
      ],
      "x-ms-enum": {
        "name": "DataSourceKind",
        "modelAsString": true
      },
      "description": "The kind of the DataSource."
    },
    "DataSource": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/Object",
          "description": "The data source properties in raw json format, each kind of data source have it's own schema."
        },
        "eTag": {
          "type": "string",
          "description": "The ETag of the data source."
        },
        "kind": {
          "$ref": "#/definitions/DataSourceKind"
        }
      },
      "required": [
        "kind",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Datasources under OMS Workspace.",
      "x-ms-azure-resource": true
    },
    "DataSourceFilter": {
      "properties": {
        "kind": {
          "$ref": "#/definitions/DataSourceKind"
        }
      },
      "description": "DataSource filter. Right now, only filter by kind is supported."
    },
    "DataSourceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSource"
          },
          "description": "A list of datasources."
        },
        "nextLink": {
          "type": "string",
          "description": "The link (url) to the next page of datasources."
        }
      },
      "description": "The list data source by workspace operation response."
    },
    "IntelligencePack": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the intelligence pack."
        },
        "enabled": {
          "type": "boolean",
          "description": "The enabled boolean for the intelligence pack."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the intelligence pack."
        }
      },
      "description": "Intelligence Pack containing a string name and boolean indicating if it's enabled."
    },
    "SharedKeys": {
      "properties": {
        "primarySharedKey": {
          "type": "string",
          "description": "The primary shared key of a workspace."
        },
        "secondarySharedKey": {
          "type": "string",
          "description": "The secondary shared key of a workspace."
        }
      },
      "description": "The shared keys for a workspace."
    },
    "MetricName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The system name of the metric."
        },
        "localizedValue": {
          "type": "string",
          "description": "The localized name of the metric."
        }
      },
      "description": "The name of a metric."
    },
    "UsageMetric": {
      "properties": {
        "name": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric."
        },
        "unit": {
          "type": "string",
          "description": "The units used for the metric."
        },
        "currentValue": {
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "type": "number",
          "format": "double",
          "description": "The quota limit for the metric."
        },
        "nextResetTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the metric's value will reset."
        },
        "quotaPeriod": {
          "type": "string",
          "description": "The quota period that determines the length of time between value resets."
        }
      },
      "description": "A metric describing the usage of a resource."
    },
    "WorkspaceListUsagesResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UsageMetric"
          },
          "description": "Gets or sets a list of usage metrics for a workspace."
        }
      },
      "description": "The list workspace usages operation response."
    },
    "ManagementGroupProperties": {
      "properties": {
        "serverCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of servers connected to the management group."
        },
        "isGateway": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether the management group is a gateway."
        },
        "name": {
          "type": "string",
          "description": "The name of the management group."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the management group."
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime that the management group was created."
        },
        "dataReceived": {
          "type": "string",
          "format": "date-time",
          "description": "The last datetime that the management group received data."
        },
        "version": {
          "type": "string",
          "description": "The version of System Center that is managing the management group."
        },
        "sku": {
          "type": "string",
          "description": "The SKU of System Center that is managing the management group."
        }
      },
      "description": "Management group properties."
    },
    "ManagementGroup": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The properties of the management group."
        }
      },
      "description": "A management group that is connected to a workspace"
    },
    "WorkspaceListManagementGroupsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagementGroup"
          },
          "description": "Gets or sets a list of management groups attached to the workspace."
        }
      },
      "description": "The list workspace management groups operation response."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU.",
          "enum": [
            "Free",
            "Standard",
            "Premium",
            "PerNode",
            "PerGB2018",
            "Standalone"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name"
      ],
      "description": "The SKU (tier) of a workspace."
    },
    "WorkspaceProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the workspace.",
          "enum": [
            "Creating",
            "Succeeded",
            "Failed",
            "Canceled",
            "Deleting",
            "ProvisioningAccount"
          ],
          "x-ms-enum": {
            "name": "EntityStatus",
            "modelAsString": true
          }
        },
        "source": {
          "type": "string",
          "description": "This is a read-only legacy property. It is always set to 'Azure' by the service. Kept here for backward compatibility.",
          "readOnly": true
        },
        "customerId": {
          "type": "string",
          "description": "This is a read-only property. Represents the ID associated with the workspace.",
          "readOnly": true
        },
        "portalUrl": {
          "type": "string",
          "description": "This is a legacy property and is not used anymore. Kept here for backward compatibility.",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the workspace."
        },
        "retentionInDays": {
          "type": "integer",
          "format": "int32",
          "minimum": -1,
          "maximum": 730,
          "description": "The workspace data retention in days. -1 means Unlimited retention for the Unlimited Sku. 730 days is the maximum allowed for all other Skus. "
        }
      },
      "description": "Workspace properties."
    },
    "Workspace": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "Workspace properties."
        },
        "eTag": {
          "type": "string",
          "description": "The ETag of the workspace."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "The top level Workspace resource container.",
      "x-ms-azure-resource": true
    },
    "WorkspaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          },
          "description": "A list of workspaces."
        }
      },
      "description": "The list workspaces operation response."
    },
    "Object": {
      "type": "object",
      "properties": {},
      "description": "JSON object"
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The resource definition.",
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Common properties of proxy resource."
    },
    "PrivateLinkResourceListResult": {
      "description": "A list of private link resources",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateLinkResource": {
      "description": "A private link resource",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceProperties": {
      "description": "Properties of a private link resource.",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The private link resource group id.",
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "description": "The private link resource required member names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "description": "Properties of a private endpoint connection.",
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpointProperty",
          "description": "Private endpoint which the connection belongs to."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionStateProperty",
          "description": "Connection state of the private endpoint connection."
        },
        "provisioningState": {
          "description": "State of the private endpoint connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointProperty": {
      "description": "Private endpoint which the connection belongs to.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource id of the private endpoint.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "PrivateLinkServiceConnectionStateProperty": {
      "description": "State of the private endpoint connection.",
      "type": "object",
      "required": [
        "status",
        "description"
      ],
      "properties": {
        "status": {
          "description": "The private link service connection status.",
          "type": "string"
        },
        "description": {
          "description": "The private link service connection description.",
          "type": "string"
        },
        "actionsRequired": {
          "description": "The actions required for private link service connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "A private endpoint connection",
      "x-ms-azure-resource": true,
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateEndpointConnectionListResult": {
      "description": "A list of private endpoint connections.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "OperationStatus": {
      "description": "The status of operation.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation Id."
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "error": {
          "type": "object",
          "description": "The error detail of the operation if any.",
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The name of the resource group to get. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90
    },
    "GroupNameParameter": {
      "name": "groupName",
      "in": "path",
      "description": "The name of the private link resource.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  },
  "x-internal-service-id": "loganalytics",
  "x-internal-service-name": "Log Analytics",
  "x-internal-operation-group-name": "Operations (preview)",
  "x-internal-toc-name": "Private Endpoint Connections",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "PrivateEndpointConnections/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "PrivateEndpointConnections/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "PrivateEndpointConnections/Get"
    },
    {
      "displayName": "List By Workspace",
      "relativePath": "PrivateEndpointConnections/ListByWorkspace"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}