{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Location Based Services",
    "description": "Azure Location Based Services REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "api-version": {
      "name": "api-version",
      "description": "Version of the API",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "method"
    },
    "format": {
      "name": "format",
      "description": "Format of the response",
      "type": "string",
      "in": "path",
      "required": true,
      "default": "json",
      "enum": [
        "json",
        "png",
        "pbf"
      ],
      "x-ms-parameter-location": "method"
    },
    "zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for tile",
      "required": true,
      "default": "6",
      "type": "string"
    },
    "x": {
      "name": "x",
      "in": "query",
      "description": "X value for tile",
      "required": true,
      "default": "10",
      "type": "string"
    },
    "y": {
      "name": "y",
      "in": "query",
      "description": "Y value for tile",
      "required": true,
      "default": "22",
      "type": "string"
    },
    "query": {
      "name": "query",
      "in": "query",
      "description": "The query applicable string/coordinates",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/search/poi/{format}": {
      "get": {
        "description": "Returns the search results from a POI search",
        "operationId": "GetSearchPOI",
        "x-ms-examples": {
          "GetSearchPOI": {
            "parameters": {
              "format": "json",
              "api-version": "1.0",
              "query": "statue of liberty"
            },
            "responses": {
              "200": {
                "body": {
                  "summary": {
                    "query": "statue of liberty",
                    "queryType": "NON_NEAR",
                    "queryTime": 77,
                    "numResults": 10,
                    "offset": 0,
                    "totalResults": 15,
                    "fuzzyLevel": 1
                  },
                  "results": [
                    {
                      "type": "POI",
                      "id": "US/POI/p0/4562302",
                      "score": 9.204,
                      "info": "search:decarta:ta:840369001174316-US",
                      "poi": {
                        "name": "Statue of Liberty",
                        "categories": [
                          "important tourist attraction",
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "important tourist attraction"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "NYC, New York, New York City",
                        "municipality": "Bowling Green, Manhattan, NYC, New York, New York City, NY, NY City",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "New York, NY 10004",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68955,
                        "lon": -74.04483
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69045,
                          "lon": -74.04602
                        },
                        "btmRightPoint": {
                          "lat": 40.68865,
                          "lon": -74.04364
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.69001,
                            "lon": -74.04683
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p1/5808358",
                      "score": 9.204,
                      "info": "search:decarta:ta:840369001800251-US",
                      "poi": {
                        "name": "Statue of Liberty",
                        "phone": "+(1)-(212)-3633200",
                        "url": "www.nps.gov",
                        "categories": [
                          "important tourist attraction",
                          "statue"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "important tourist attraction"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "statue"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetName": "Liberty Is",
                        "municipalitySubdivision": "NYC, New York, New York City",
                        "municipality": "Bowling Green, Manhattan, NYC, New York, New York City, NY, NY City",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "extendedPostalCode": "100041414",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "Liberty Is, New York, NY 100041414",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68995,
                        "lon": -74.04508
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69085,
                          "lon": -74.04627
                        },
                        "btmRightPoint": {
                          "lat": 40.68905,
                          "lon": -74.04389
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.68992,
                            "lon": -74.04514
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/7362888",
                      "score": 9.204,
                      "info": "search:decarta:ta:840019000296120-US",
                      "poi": {
                        "name": "Statue of Liberty",
                        "phone": "+(1)-(205)-9700251",
                        "url": "www.1bsa.org",
                        "categories": [
                          "important tourist attraction"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "important tourist attraction"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "516",
                        "streetName": "Liberty Pkwy",
                        "municipalitySubdivision": "Vestavia, Vestavia Hills",
                        "municipality": "Birmingham, Meadowbrook, Shoal Creek, Vestavia, Vestavia Hills, Vestavia HLS",
                        "countrySecondarySubdivision": "Jefferson",
                        "countryTertiarySubdivision": "Leeds",
                        "countrySubdivision": "AL",
                        "postalCode": "35242",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "516 Liberty Pkwy, Birmingham, AL 35242",
                        "countrySubdivisionName": "Alabama"
                      },
                      "position": {
                        "lat": 33.48234,
                        "lon": -86.70719
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 33.48324,
                          "lon": -86.70827
                        },
                        "btmRightPoint": {
                          "lat": 33.48144,
                          "lon": -86.70611
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 33.48152,
                            "lon": -86.70607
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "FR/POI/p0/2218464",
                      "score": 8.26,
                      "info": "search:decarta:geonames:8379506",
                      "poi": {
                        "name": "Statue of Liberty replica",
                        "categories": [
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "Paris",
                        "municipality": "Paris",
                        "countrySecondarySubdivision": "Paris",
                        "countrySubdivision": "Ile-de-France",
                        "countryCode": "FR",
                        "country": "France",
                        "countryCodeISO3": "FRA",
                        "freeformAddress": "Paris"
                      },
                      "position": {
                        "lat": 48.85003,
                        "lon": 2.27972
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 48.85093,
                          "lon": 2.27835
                        },
                        "btmRightPoint": {
                          "lat": 48.84913,
                          "lon": 2.28109
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "GU/POI/p0/23",
                      "score": 8.26,
                      "info": "search:decarta:geonames:7839086",
                      "poi": {
                        "name": "Statue of Liberty - Small NY Replica",
                        "categories": [
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "Hag�t�a",
                        "municipality": "Guam",
                        "countrySubdivision": "Guam",
                        "countryCode": "GU",
                        "country": "Guam",
                        "countryCodeISO3": "GUM",
                        "freeformAddress": "Guam, Guam"
                      },
                      "position": {
                        "lat": 13.48129,
                        "lon": 144.7534
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 13.48219,
                          "lon": 144.75248
                        },
                        "btmRightPoint": {
                          "lat": 13.48039,
                          "lon": 144.75432
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/4495111",
                      "score": 8.26,
                      "info": "search:decarta:geonames:5139572",
                      "poi": {
                        "name": "Statue of Liberty",
                        "categories": [
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "Manhattan, NY",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68899,
                        "lon": -74.04431
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.68989,
                          "lon": -74.0455
                        },
                        "btmRightPoint": {
                          "lat": 40.68809,
                          "lon": -74.04312
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p1/4516891",
                      "score": 8.26,
                      "info": "search:decarta:geonames:5079603",
                      "poi": {
                        "name": "Statue of Liberty Replica",
                        "categories": [
                          "park"
                        ],
                        "classifications": [
                          {
                            "code": "PARK_RECREATION_AREA",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "park"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipality": "Columbus",
                        "countrySecondarySubdivision": "Platte",
                        "countrySubdivision": "NE",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "Columbus, NE",
                        "countrySubdivisionName": "Nebraska"
                      },
                      "position": {
                        "lat": 41.42029,
                        "lon": -97.36726
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 41.42119,
                          "lon": -97.36846
                        },
                        "btmRightPoint": {
                          "lat": 41.41939,
                          "lon": -97.36606
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/8049363",
                      "score": 8.26,
                      "info": "search:decarta:ta:840369001522852-US",
                      "poi": {
                        "name": "Statue of Liberty Deli",
                        "phone": "+(1)-(718)-5560700",
                        "categories": [
                          "delicatessen",
                          "shop"
                        ],
                        "classifications": [
                          {
                            "code": "SHOP",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "delicatessen"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "shop"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "1",
                        "streetName": "Bay St",
                        "municipalitySubdivision": "Staten Island, NYC, New York, New York City",
                        "municipality": "Staten Island, NYC, New York, New York City",
                        "countrySecondarySubdivision": "Richmond",
                        "countryTertiarySubdivision": "Staten Island",
                        "countrySubdivision": "NY",
                        "postalCode": "10301",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "1 Bay St, Staten Island, NY 10301",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.6421,
                        "lon": -74.07509
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.643,
                          "lon": -74.07628
                        },
                        "btmRightPoint": {
                          "lat": 40.6412,
                          "lon": -74.0739
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.64212,
                            "lon": -74.07514
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/4540927",
                      "score": 8.26,
                      "info": "search:decarta:ta:840369001250480-US",
                      "poi": {
                        "name": "Statue of Liberty Information Center",
                        "phone": "+(1)-(212)-3633200",
                        "url": "www.nps.gov/stli/planyourvisit/things2do.htm#informationCenter",
                        "categories": [
                          "tourist information office"
                        ],
                        "classifications": [
                          {
                            "code": "TOURIST_INFORMATION_OFFICE",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "tourist information office"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "NYC, New York, New York City",
                        "municipality": "Bowling Green, Manhattan, NYC, New York, New York City, NY, NY City",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "New York, NY 10004",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68999,
                        "lon": -74.04609
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69089,
                          "lon": -74.04728
                        },
                        "btmRightPoint": {
                          "lat": 40.68909,
                          "lon": -74.0449
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.69027,
                            "lon": -74.04636
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p1/5740271",
                      "score": 8.26,
                      "info": "search:decarta:geonames:5139573",
                      "poi": {
                        "name": "Statue of Liberty National Monument",
                        "categories": [
                          "park"
                        ],
                        "classifications": [
                          {
                            "code": "PARK_RECREATION_AREA",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "park"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "Manhattan, NY",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68955,
                        "lon": -74.04403
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69045,
                          "lon": -74.04522
                        },
                        "btmRightPoint": {
                          "lat": 40.68865,
                          "lon": -74.04284
                        }
                      }
                    }
                  ]
                }
              },
              "400": {
                "headers": {},
                "body": {
                  "statuscode": "400",
                  "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
                }
              },
              "401": {
                "headers": {},
                "body": {
                  "statuscode": "401",
                  "message": "Unauthorized: Access is denied due to invalid credentials."
                }
              },
              "403": {
                "headers": {},
                "body": {
                  "statuscode": "403",
                  "message": "Permission, capacity, or authentication issues."
                }
              },
              "404": {
                "headers": {},
                "body": {
                  "statuscode": "404",
                  "message": "Not Found: the requested resource could not be found, but it may be available again in the future."
                }
              },
              "500": {
                "headers": {},
                "body": {
                  "statuscode": "500",
                  "message": "An error occurred while processing the request. Please try again later."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "typeahead",
            "in": "query",
            "description": "If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter�predictive�mode",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "If radius�and�position are set, the results will be constrained to the defined area",
            "required": false,
            "type": "string"
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchpoi200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "produces": [
          "application/json",
          "application/xml"
        ],
        "consumes": [],
        "x-internal-toc-name": "Get Search POI"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "statuscode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "poi": {
      "description": "POI property",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "description": "Phone property",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL property",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "description": "Categories array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "classifications": {
          "description": "Classification array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "Code property",
                "type": "string",
                "readOnly": true
              },
              "names": {
                "description": "Names array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "nameLocale": {
                      "description": "Name Locale property",
                      "type": "string",
                      "readOnly": true
                    },
                    "name": {
                      "description": "Name property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "address": {
      "description": "The address of the result",
      "type": "object",
      "properties": {
        "buildingNumber": {
          "description": "Building Number property",
          "type": "string",
          "readOnly": true
        },
        "street": {
          "description": "Street property",
          "type": "string",
          "readOnly": true
        },
        "crossStreet": {
          "description": "Cross Street property",
          "type": "string",
          "readOnly": true
        },
        "streetNumber": {
          "description": "Street Number property",
          "type": "string",
          "readOnly": true
        },
        "streetName": {
          "description": "Street Name property",
          "type": "string",
          "readOnly": true
        },
        "streetNameAndNumber": {
          "description": "Street Name and Number property",
          "type": "string",
          "readOnly": true
        },
        "municipality": {
          "description": "Municipality property",
          "type": "string",
          "readOnly": true
        },
        "municipalitySubdivision": {
          "description": "Municipality Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countryTertiarySubdivision": {
          "description": "Country Tertiary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySecondarySubdivision": {
          "description": "Country Secondary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivision": {
          "description": "Country Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "description": "Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "extendedPostalCode": {
          "description": "Extended Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "Country Code property",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country property",
          "type": "string",
          "readOnly": true
        },
        "countryCodeISO3": {
          "description": "Country Code ISO3 property",
          "type": "string",
          "readOnly": true
        },
        "freeformAddress": {
          "description": "Free form Address property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivisionName": {
          "description": "Country Subdividion Name property",
          "type": "string",
          "readOnly": true
        },
        "boundingBox": {
          "description": "Bounding Box for the address",
          "type": "object",
          "properties": {
            "northEast": {
              "type": "string",
              "readOnly": true,
              "description": "The North East coordinates for the Bounding Box"
            },
            "southWest": {
              "type": "string",
              "readOnly": true,
              "description": "The South West coordinates for the Bounding Box"
            }
          }
        }
      }
    },
    "position": {
      "description": "Coordinates of the result",
      "type": "object",
      "properties": {
        "lat": {
          "type": "number",
          "readOnly": true,
          "description": "Latitude property"
        },
        "lon": {
          "type": "number",
          "readOnly": true,
          "description": "Longitude property"
        }
      }
    },
    "viewport": {
      "description": "The viewport that covers the result",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "description": "Top left of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        },
        "btmRightPoint": {
          "description": "Bottom right of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        }
      }
    },
    "entrypoints": {
      "description": "Entry Points array",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Name Locale property",
            "type": "string",
            "readOnly": true
          },
          "position": {
            "description": "Name property",
            "type": "object",
            "readOnly": true,
            "properties": {
              "lat": {
                "description": "Latitude property",
                "type": "number",
                "readOnly": true
              },
              "lon": {
                "description": "Longitude property",
                "type": "number",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "copyrightbounding200": {
      "description": "This object is returned from a successful Copyright Bounding call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrightcaption200": {
      "description": "This object is returned from a successful Copyright Caption call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyrightsCaption": {
          "description": "Copyrights Caption property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "copyrightworld200": {
      "description": "This object is returned from a successful Copyright World call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrighttile200": {
      "description": "This object is returned from a successful Copyright Tile call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "mapstatic200": {
      "description": "This object is returned from a successful Map Static call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "maptile200": {
      "description": "This object is returned from a successful Map Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "searchfuzzy200": {
      "description": "This object is returned from a successful Search Fuzzy call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "boundingBox": {
                "description": "Bounding box of the result",
                "type": "object",
                "properties": {
                  "topLeftPoint": {
                    "description": "Top left of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  },
                  "btmRightPoint": {
                    "description": "Bottom right of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "searchpoi200": {
      "description": "This object is returned from a successful Search POI call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchpoicategory200": {
      "description": "This object is returned from a successful Search POI Category call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddress200": {
      "description": "This object is returned from a successful Search Address call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddressreverse200": {
      "description": "This object is returned from a successful Search Address Reverse call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressreversecrossstreet200": {
      "description": "This object is returned from a successful Search Address Reverse CrossStreet call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressstructured200": {
      "description": "This object is returned from a successful Search Address Structured call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "Geo Bias of the result",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude property"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude property"
                }
              }
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "dist": {
                "description": "Dist property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "routedirections200": {
      "description": "This object is returned from a successful Route Directions call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "Copyright property",
          "type": "string",
          "readOnly": true
        },
        "privacy": {
          "description": "Privacy property",
          "type": "string",
          "readOnly": true
        },
        "routes": {
          "description": "Routes array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "summary": {
                "description": "Summary object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "lengthInMeters": {
                    "description": "Length In Meters property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "travelTimeInSeconds": {
                    "description": "Travel Time In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "trafficDelayInSeconds": {
                    "description": "Traffic Delay In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "departureTime": {
                    "description": "Departure Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "arrivalTime": {
                    "description": "Arrival Time property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              },
              "legs": {
                "description": "Legs array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "description": "Summary object",
                      "type": "object",
                      "readOnly": true,
                      "properties": {
                        "lengthInMeters": {
                          "description": "Length In Meters property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "travelTimeInSeconds": {
                          "description": "Travel Time In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "trafficDelayInSeconds": {
                          "description": "Traffic Delay In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "departureTime": {
                          "description": "Departure Time property",
                          "type": "string",
                          "readOnly": true
                        },
                        "arrivalTime": {
                          "description": "Arrival Time property",
                          "type": "string",
                          "readOnly": true
                        }
                      }
                    },
                    "points": {
                      "description": "Points array",
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "description": "Latitude property",
                            "type": "number",
                            "readOnly": true
                          },
                          "longitude": {
                            "description": "Longitude property",
                            "type": "number",
                            "readOnly": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "sections": {
                "description": "Sections object",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "startPointIndex": {
                      "description": "Start Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "endPointIndex": {
                      "description": "End Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "sectionType": {
                      "description": "Section Type property",
                      "type": "string",
                      "readOnly": true
                    },
                    "travelMode": {
                      "description": "Travel Mode property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezonebyid200": {
      "description": "This object is returned from a successful Timezone By ID call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true
        },
        "timeZones": {
          "description": "TimeZones array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "Id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "ReferenceTime": {
                "description": "Reference Time object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "Tag": {
                    "description": "Tag property",
                    "type": "string",
                    "readOnly": true
                  },
                  "StandardOffset": {
                    "description": "Standard Offset property",
                    "type": "string",
                    "readOnly": true
                  },
                  "DaylightSavings": {
                    "description": "Daylight Savings property",
                    "type": "string",
                    "readOnly": true
                  },
                  "WallTime": {
                    "description": "Wall Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "PosixTzValidYear": {
                    "description": "Posix Tz Valid Year property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "PosixTz": {
                    "description": "Posix Tz property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezonebycoordinates200": {
      "description": "This object is returned from a successful Timezone By Coordinates call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true
        },
        "timeZones": {
          "description": "TimeZones array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "Id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "ReferenceTime": {
                "description": "Reference Time object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "Tag": {
                    "description": "Tag property",
                    "type": "string",
                    "readOnly": true
                  },
                  "StandardOffset": {
                    "description": "Standard Offset property",
                    "type": "string",
                    "readOnly": true
                  },
                  "DaylightSavings": {
                    "description": "Daylight Savings property",
                    "type": "string",
                    "readOnly": true
                  },
                  "WallTime": {
                    "description": "Wall Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "PosixTzValidYear": {
                    "description": "Posix Tz Valid Year property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "PosixTz": {
                    "description": "Posix Tz property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezoneenumwindows200": {
      "description": "This object is returned from a successful Timezone Enum Windows call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "windowsId": {
            "description": "Windows Id property",
            "type": "string",
            "readOnly": true
          },
          "territory": {
            "description": "Territory property",
            "type": "string",
            "readOnly": true
          },
          "ianaIds": {
            "description": "IanaIds object",
            "type": "array",
            "items": {
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "timezoneenumiana200": {
      "description": "This object is returned from a successful Timezone Enum IANA call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Id property",
            "type": "string",
            "readOnly": true
          },
          "isAlias": {
            "description": "IsAlias property",
            "type": "string",
            "readOnly": true
          },
          "aliasOf": {
            "description": "AliasOf property",
            "type": "string",
            "readOnly": true
          },
          "hasZone1970Location": {
            "description": "HasZone1970Location property",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "timezoneianaversion200": {
      "description": "This object is returned from a successful Timezone IANA Version call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "timezonewindowstoiana200": {
      "description": "This object is returned from a successful Timezone Windows To IANA call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Id property",
            "type": "string",
            "readOnly": true
          },
          "isAlias": {
            "description": "IsAlias property",
            "type": "string",
            "readOnly": true
          },
          "hasZone1970Location": {
            "description": "HasZone1970Location property",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "trafficflowtile200": {
      "description": "This object is returned from a successful Traffic Flow Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "trafficflowsegment200": {
      "description": "This object is returned from a successful Traffic Flow Segment call",
      "type": "object",
      "properties": {
        "flowSegmentData": {
          "description": "Flow Segment Data property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "frc": {
              "description": "FRC property",
              "type": "string",
              "readOnly": true
            },
            "currentSpeed": {
              "description": "Current Speed property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowSpeed": {
              "description": "Free Flow Speed property",
              "type": "integer",
              "readOnly": true
            },
            "currentTravelTime": {
              "description": "Current Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowTravelTime": {
              "description": "Free Flow Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "confidence": {
              "description": "Confidence property",
              "type": "number",
              "readOnly": true
            },
            "coordinates": {
              "description": "Coordinates of the result",
              "type": "object",
              "properties": {
                "coordinate": {
                  "description": "Coordinate array",
                  "type": "array",
                  "readOnly": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "description": "Latitude property",
                        "type": "number",
                        "readOnly": true
                      },
                      "Longitude": {
                        "description": "Longitude property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "trafficincidenttile200": {
      "description": "This object is returned from a successful Traffic Incident Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "trafficincidentdetail200": {
      "description": "This object is returned from a successful Traffic incident Detail call",
      "type": "object",
      "properties": {
        "tm": {
          "description": "TM object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "@id": {
              "description": "@ID property",
              "type": "string",
              "readOnly": true
            },
            "poi": {
              "description": "POI array",
              "type": "array",
              "readOnly": true,
              "items": {
                "type": "object",
                "readOnly": true,
                "properties": {
                  "id": {
                    "description": "ID property",
                    "type": "string",
                    "readOnly": true
                  },
                  "p": {
                    "description": "ID property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "ic": {
                    "description": "IC property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "ty": {
                    "description": "TY property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "cbl": {
                    "description": "CBL property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "ctr": {
                    "description": "CTR property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "cs": {
                    "description": "CS property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "l": {
                    "description": "L property",
                    "type": "integer",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "trafficincidentviewport200": {
      "description": "This object is returned from a successful Traffic Incident Viewport call",
      "type": "object",
      "properties": {
        "viewpResp": {
          "description": "Viewport Response object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "trafficState": {
              "description": "Traffic State array",
              "type": "object",
              "readOnly": true,
              "properties": {
                "@trafficAge": {
                  "description": "@Traffic Age property",
                  "type": "integer",
                  "readOnly": true
                },
                "@trafficModelId": {
                  "description": "@Traffic Model Id property",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "copyrightIds": {
              "description": "Copyright Ids property",
              "type": "string",
              "readOnly": true
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            },
            "@maps": {
              "description": "@maps property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    }
  },
  "x-internal-service-name": "Location Based Services Functional API",
  "x-internal-toc-name": "Get Search POI",
  "x-internal-split-type": "Operation"
}