{
  "swagger": "2.0",
  "info": {
    "title": "BatchService",
    "version": "2017-01-01.4.0",
    "description": "A client for issuing REST requests to the Azure Batch service.",
    "x-ms-code-generation-settings": {
      "name": "BatchServiceClient"
    }
  },
  "host": "batch.core.windows.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; odata=minimalmetadata"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lifetimejobstats": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_GetAllLifetimeStatistics",
        "x-ms-examples": {
          "Job get lifetime statistics": {
            "$ref": "#/definitions/JobGetLifetimeStatistics"
          }
        },
        "summary": "Gets lifetime summary statistics for all of the jobs in the specified account.",
        "description": "Statistics are aggregated across all jobs that have ever existed in the account, from account creation to the last update time of the statistics.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the job statistics for the lifetime of the Batch account.",
            "schema": {
              "$ref": "#/definitions/JobStatistics"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "delete": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Delete",
        "summary": "Deletes a job.",
        "description": "Deleting a job also deletes all tasks that are part of that job, and all job statistics. This also overrides the retention period for task data; that is, if the job contains tasks which are still retained on compute nodes, the Batch services deletes those tasks' working directories and all their contents.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job to delete."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Get",
        "x-ms-examples": {
          "Job get": {
            "$ref": "#/definitions/JobGet"
          }
        },
        "summary": "Gets information about the specified job.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $expand clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the job.",
            "schema": {
              "$ref": "#/definitions/CloudJob"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Patch",
        "x-ms-examples": {
          "Job patch": {
            "$ref": "#/definitions/JobPatch"
          }
        },
        "summary": "Updates the properties of the specified job.",
        "description": "This replaces only the job properties specified in the request. For example, if the job has constraints, and a request does not specify the constraints element, then the job keeps the existing constraints.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job whose properties you want to update."
          },
          {
            "name": "jobPatchParameter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobPatchParameter"
            },
            "description": "The parameters for the request."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Update",
        "x-ms-examples": {
          "Job update": {
            "$ref": "#/definitions/JobUpdate"
          }
        },
        "summary": "Updates the properties of the specified job.",
        "description": "This fully replaces all the updateable properties of the job. For example, if the job has constraints associated with it and if constraints is not specified with this request, then the Batch service will remove the existing constraints.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job whose properties you want to update."
          },
          {
            "name": "jobUpdateParameter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobUpdateParameter"
            },
            "description": "The parameters for the request."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/disable": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Disable",
        "x-ms-examples": {
          "Job disable": {
            "$ref": "#/definitions/JobDisable"
          }
        },
        "summary": "Disables the specified job, preventing new tasks from running.",
        "description": "The Batch Service immediately moves the job to the disabling state. Batch then uses the disableTasks parameter to determine what to do with the currently running tasks of the job. The job remains in the disabling state until the disable operation is completed and all tasks have been dealt with according to the disableTasks option; the job then moves to the disabled state. No new tasks are started under the job until it moves back to active state. If you try to disable a job that is in any state other than active, disabling, or disabled, the request fails with status code 409.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job to disable."
          },
          {
            "name": "jobDisableParameter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDisableParameter"
            },
            "description": "The parameters for the request."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/enable": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Enable",
        "x-ms-examples": {
          "Job enable": {
            "$ref": "#/definitions/JobEnable"
          }
        },
        "summary": "Enables the specified job, allowing new tasks to run.",
        "description": "When you call this API, the Batch service sets a disabled job to the enabling state. After the this operation is completed, the job moves to the active state, and scheduling of new tasks under the job resumes. The Batch service does not allow a task to remain in the active state for more than 7 days. Therefore, if you enable a job containing active tasks which were added more than 7 days ago, those tasks will not run.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job to enable."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/terminate": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Terminate",
        "x-ms-examples": {
          "Job terminate": {
            "$ref": "#/definitions/JobTerminate"
          }
        },
        "summary": "Terminates the specified job, marking it as completed.",
        "description": "When a Terminate Job request is received, the Batch service sets the job to the terminating state. The Batch service then terminates any active or running tasks associated with the job, and runs any required Job Release tasks. The job then moves into the completed state.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job to terminate."
          },
          {
            "name": "jobTerminateParameter",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JobTerminateParameter"
            },
            "description": "The parameters for the request."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_Add",
        "x-ms-examples": {
          "Add a basic job": {
            "$ref": "#/definitions/JobAdd_Basic"
          },
          "Add a complex job": {
            "$ref": "#/definitions/JobAdd_Complex"
          }
        },
        "summary": "Adds a job to the specified account.",
        "description": "The Batch service supports two ways to control the work done as part of a job. In the first approach, the user specifies a Job Manager task. The Batch service launches this task when it is ready to start the job. The Job Manager task controls all other tasks that run under this job, by using the Task APIs. In the second approach, the user directly controls the execution of tasks under an active job, by using the Task APIs. Also note: when naming jobs, avoid including sensitive information such as user names or secret project names. This information may appear in telemetry logs accessible to Microsoft Support engineers.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "description": "The job to be added.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobAddParameter"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Job_List",
        "x-ms-examples": {
          "Job list": {
            "$ref": "#/definitions/JobList"
          }
        },
        "summary": "Lists all of the jobs in the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $expand clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of jobs.",
            "schema": {
              "$ref": "#/definitions/CloudJobListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobschedules/{jobScheduleId}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Job_ListFromJobSchedule",
        "summary": "Lists the jobs that have been created under the specified job schedule.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job schedule from which you want to get a list of jobs."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $expand clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of jobs.",
            "schema": {
              "$ref": "#/definitions/CloudJobListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/jobpreparationandreleasetaskstatus": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Job_ListPreparationAndReleaseTaskStatus",
        "x-ms-examples": {
          "Job list preparation and release task status": {
            "$ref": "#/definitions/JobListPreparationAndReleaseTaskStatus"
          }
        },
        "summary": "Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.",
        "description": "This API returns the Job Preparation and Job Release task status on all compute nodes that have run the Job Preparation or Job Release task. This includes nodes which have since been removed from the pool. ",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 tasks can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing a list of Job Preparation and Job Release task statuses.",
            "schema": {
              "$ref": "#/definitions/CloudJobListPreparationAndReleaseTaskStatusResult"
            }
          },
          "default": {
            "description": "The error from the Batch service. If this API is invoked on a job which has no Job Preparation or Job Release task, the Batch service returns HTTP status code 409.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PoolUsageMetrics": {
      "properties": {
        "poolId": {
          "type": "string",
          "title": "The ID of the pool whose metrics are aggregated in this entry."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the aggregation interval covered by this entry."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "title": "The end time of the aggregation interval covered by this entry."
        },
        "vmSize": {
          "type": "string",
          "title": "The size of virtual machines in the pool. All VMs in a pool are the same size.",
          "description": "For information about available sizes of virtual machines for Cloud Services pools (pools created with cloudServiceConfiguration), see Sizes for Cloud Services (http://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/). Batch supports all Cloud Services VM sizes except ExtraSmall. For information about available VM sizes for pools using images from the Virtual Machines Marketplace (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/) or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."
        },
        "totalCoreHours": {
          "type": "number",
          "format": "double",
          "title": "The total core hours used in the pool during this aggregation interval."
        },
        "dataIngressGiB": {
          "type": "number",
          "format": "double",
          "title": "The cross data center network ingress to the pool during this interval, in GiB."
        },
        "dataEgressGiB": {
          "type": "number",
          "format": "double",
          "title": "The cross data center network egress from the pool during this interval, in GiB."
        }
      },
      "required": [
        "poolId",
        "startTime",
        "endTime",
        "vmSize",
        "totalCoreHours",
        "dataIngressGiB",
        "dataEgressGiB"
      ],
      "title": "Usage metrics for a pool across an aggregation interval."
    },
    "PoolListUsageMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PoolUsageMetrics"
          },
          "title": "The pool usage metrics data."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of a listing the usage metrics for an account."
    },
    "NodeAgentSku": {
      "properties": {
        "id": {
          "type": "string",
          "title": "The ID of the node agent SKU."
        },
        "verifiedImageReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageReference"
          },
          "title": "The list of images verified to be compatible with this node agent SKU.",
          "description": "This collection is not exhaustive (the node agent may be compatible with other images)."
        },
        "osType": {
          "type": "string",
          "title": "The type of operating system (e.g. Windows or Linux) compatible with the node agent SKU.",
          "enum": [
            "linux",
            "windows",
            "unmapped"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        }
      },
      "title": "A node agent SKU supported by the Batch service.",
      "description": "The Batch node agent is a program that runs on each node in the pool, and provides the command-and-control interface between the node and the Batch service. There are different implementations of the node agent, known as SKUs, for different operating systems."
    },
    "AuthenticationTokenSettings": {
      "properties": {
        "access": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "job"
            ],
            "x-ms-enum": {
              "name": "AccessScope",
              "modelAsString": false
            }
          },
          "title": "The Batch resources to which the token grants access.",
          "description": "The authentication token grants access to a limited set of Batch service operations. Currently the only supported value for the access property is 'job', which grants access to all operations related to the job which contains the task."
        }
      },
      "title": "The settings for an authentication token that the task can use to perform Batch service operations."
    },
    "AccountListNodeAgentSkusResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeAgentSku"
          },
          "title": "The list of supported node agent SKUs."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the supported node agent SKUs."
    },
    "UsageStatistics": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "dedicatedCoreTime": {
          "type": "string",
          "format": "duration",
          "title": "The aggregated wall-clock time of the dedicated compute node cores being part of the pool."
        }
      },
      "required": [
        "startTime",
        "lastUpdateTime",
        "dedicatedCoreTime"
      ],
      "title": "Statistics related to pool usage information."
    },
    "ResourceStatistics": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "avgCPUPercentage": {
          "type": "number",
          "format": "double",
          "title": "The average CPU usage across all nodes in the pool (percentage per node)."
        },
        "avgMemoryGiB": {
          "type": "number",
          "format": "double",
          "title": "The average memory usage in GiB across all nodes in the pool."
        },
        "peakMemoryGiB": {
          "type": "number",
          "format": "double",
          "title": "The peak memory usage in GiB across all nodes in the pool."
        },
        "avgDiskGiB": {
          "type": "number",
          "format": "double",
          "title": "The average used disk space in GiB across all nodes in the pool."
        },
        "peakDiskGiB": {
          "type": "number",
          "format": "double",
          "title": "The peak used disk space in GiB across all nodes in the pool."
        },
        "diskReadIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk read operations across all nodes in the pool."
        },
        "diskWriteIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk write operations across all nodes in the pool."
        },
        "diskReadGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of disk reads across all nodes in the pool."
        },
        "diskWriteGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of disk writes across all nodes in the pool."
        },
        "networkReadGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of network reads across all nodes in the pool."
        },
        "networkWriteGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of network writes across all nodes in the pool."
        }
      },
      "required": [
        "startTime",
        "lastUpdateTime",
        "avgCPUPercentage",
        "avgMemoryGiB",
        "peakMemoryGiB",
        "avgDiskGiB",
        "peakDiskGiB",
        "diskReadIOps",
        "diskWriteIOps",
        "diskReadGiB",
        "diskWriteGiB",
        "networkReadGiB",
        "networkWriteGiB"
      ],
      "title": "Statistics related to resource consumption by compute nodes in a pool."
    },
    "PoolStatistics": {
      "properties": {
        "url": {
          "type": "string",
          "title": "The URL for the statistics."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "usageStats": {
          "$ref": "#/definitions/UsageStatistics",
          "title": "Statistics related to pool usage, such as the amount of core-time used."
        },
        "resourceStats": {
          "$ref": "#/definitions/ResourceStatistics",
          "title": "Statistics related to resource consumption by compute nodes in the pool."
        }
      },
      "required": [
        "url",
        "startTime",
        "lastUpdateTime"
      ],
      "title": "Contains utilization and resource usage statistics for the lifetime of a pool."
    },
    "JobStatistics": {
      "properties": {
        "url": {
          "type": "string",
          "title": "The URL of the statistics."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "userCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total user mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in the job."
        },
        "kernelCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total kernel mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in the job."
        },
        "wallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wall clock time of all tasks in the job."
        },
        "readIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk read operations made by all tasks in the job."
        },
        "writeIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk write operations made by all tasks in the job."
        },
        "readIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB read from disk by all tasks in the job."
        },
        "writeIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB written to disk by all tasks in the job."
        },
        "numSucceededTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks successfully completed in the job during the given time range.",
          "description": "A task completes successfully if it returns exit code 0."
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks in the job that failed during the given time range.",
          "description": "A task fails if it exhausts its maximum retry count without returning exit code 0."
        },
        "numTaskRetries": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of retries on all the tasks in the job during the given time range."
        },
        "waitTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wait time of all tasks in the job.",
          "description": "The wait time for a task is defined as the elapsed time between the creation of the task and the start of task execution. (If the task is retried due to failures, the wait time is the time to the most recent task execution.) This value is only reported in the account lifetime statistics; it is not included in the job statistics."
        }
      },
      "required": [
        "url",
        "startTime",
        "lastUpdateTime",
        "userCPUTime",
        "kernelCPUTime",
        "wallClockTime",
        "readIOps",
        "writeIOps",
        "readIOGiB",
        "writeIOGiB",
        "numSucceededTasks",
        "numFailedTasks",
        "numTaskRetries",
        "waitTime"
      ],
      "title": "Resource usage statistics for a job."
    },
    "NameValuePair": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The name in the name-value pair."
        },
        "value": {
          "type": "string",
          "title": "The value in the name-value pair."
        }
      },
      "title": "Represents a name-value pair."
    },
    "DeleteCertificateError": {
      "properties": {
        "code": {
          "type": "string",
          "title": "An identifier for the certificate deletion error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "title": "A message describing the certificate deletion error, intended to be suitable for display in a user interface."
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValuePair"
          },
          "title": "A list of additional error details related to the certificate deletion error.",
          "description": "This list includes details such as the active pools and nodes referencing this certificate. However, if a large number of resources reference the certificate, the list contains only about the first hundred."
        }
      },
      "title": "An error encountered by the Batch service when deleting a certificate."
    },
    "Certificate": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "title": "The X.509 thumbprint of the certificate. This is a sequence of up to 40 hex digits."
        },
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm used to derive the thumbprint."
        },
        "url": {
          "type": "string",
          "title": "The URL of the certificate."
        },
        "state": {
          "title": "The current state of the certificate.",
          "$ref": "#/definitions/CertificateState"
        },
        "stateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its current state."
        },
        "previousState": {
          "title": "The previous state of the certificate.",
          "description": "This property is not set if the certificate is in its initial active state.",
          "$ref": "#/definitions/CertificateState"
        },
        "previousStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its previous state.",
          "description": "This property is not set if the certificate is in its initial Active state."
        },
        "publicData": {
          "type": "string",
          "title": "The public part of the certificate as a base-64 encoded .cer file."
        },
        "deleteCertificateError": {
          "$ref": "#/definitions/DeleteCertificateError",
          "title": "The error that occurred on the last attempt to delete this certificate.",
          "description": "This property is set only if the certificate is in the DeleteFailed state."
        }
      },
      "description": "A certificate that can be installed on compute nodes and can be used to authenticate operations on the machine."
    },
    "ApplicationPackageReference": {
      "properties": {
        "applicationId": {
          "type": "string",
          "title": "The ID of the application to deploy."
        },
        "version": {
          "type": "string",
          "title": "The version of the application to deploy. If omitted, the default version is deployed.",
          "description": "If this is omitted, and no default version is specified for this application, the request fails with the error code InvalidApplicationPackageReferences. If you are calling the REST API directly, the HTTP status code is 409."
        }
      },
      "required": [
        "applicationId"
      ],
      "title": "A reference to an application package to be deployed to compute nodes."
    },
    "ApplicationSummary": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the application within the account."
        },
        "displayName": {
          "type": "string",
          "title": "The display name for the application."
        },
        "versions": {
          "type": "array",
          "title": "The versions of the application which are available.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "id",
        "displayName",
        "versions"
      ],
      "title": "Contains information about an application in an Azure Batch account."
    },
    "CertificateAddParameter": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "title": "The X.509 thumbprint of the certificate. This is a sequence of up to 40 hex digits (it may include spaces but these are removed)."
        },
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm used to derive the thumbprint. This must be sha1."
        },
        "data": {
          "type": "string",
          "title": "The base64-encoded contents of the certificate. The maximum size is 10KB."
        },
        "certificateFormat": {
          "type": "string",
          "title": "The format of the certificate data.",
          "enum": [
            "pfx",
            "cer",
            "unmapped"
          ],
          "x-ms-enum": {
            "name": "CertificateFormat",
            "modelAsString": false
          }
        },
        "password": {
          "type": "string",
          "title": "The password to access the certificate's private key.",
          "description": "This is required if the certificate format is pfx. It should be omitted if the certificate format is cer."
        }
      },
      "required": [
        "thumbprint",
        "thumbprintAlgorithm",
        "data"
      ],
      "title": "A certificate that can be installed on compute nodes and can be used to authenticate operations on the machine."
    },
    "CertificateListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          },
          "title": "The list of certificates."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the certificates in the account."
    },
    "FileProperties": {
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "title": "The file creation time.",
          "description": "The creation time is not returned for files on Linux compute nodes."
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the file was last modified."
        },
        "contentLength": {
          "type": "integer",
          "format": "int64",
          "title": "The length of the file."
        },
        "contentType": {
          "type": "string",
          "title": "The content type of the file."
        },
        "fileMode": {
          "type": "string",
          "title": "The file mode attribute in octal format.",
          "description": "The file mode is returned only for files on Linux compute nodes."
        }
      },
      "required": [
        "lastModified",
        "contentLength"
      ],
      "title": "The properties of a file on a compute node."
    },
    "NodeFile": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The file path."
        },
        "url": {
          "type": "string",
          "title": "The URL of the file."
        },
        "isDirectory": {
          "type": "boolean",
          "title": "Whether the object represents a directory."
        },
        "properties": {
          "$ref": "#/definitions/FileProperties",
          "title": "The file properties."
        }
      },
      "title": "Information about a file or directory on a compute node."
    },
    "NodeFileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeFile"
          },
          "title": "The list of files."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the files on a compute node, or the files associated with a task on a node."
    },
    "Schedule": {
      "properties": {
        "doNotRunUntil": {
          "type": "string",
          "format": "date-time",
          "title": "The earliest time at which any job may be created under this job schedule.",
          "description": "If you do not specify a doNotRunUntil time, the schedule becomes ready to create jobs immediately."
        },
        "doNotRunAfter": {
          "type": "string",
          "format": "date-time",
          "title": "A time after which no job will be created under this job schedule. The schedule will move to the completed state as soon as this deadline is past and there is no active job under this job schedule.",
          "description": "If you do not specify a doNotRunAfter time, and you are creating a recurring job schedule, the job schedule will remain active until you explicitly terminate it."
        },
        "startWindow": {
          "type": "string",
          "format": "duration",
          "title": "The time interval, starting from the time at which the schedule indicates a job should be created, within which a job must be created.",
[...]
