{
  "swagger": "2.0",
  "info": {
    "version": "2017-09-01.6.0",
    "x-ms-code-generation-settings": {
      "name": "BatchServiceClient"
    },
    "title": "BatchService",
    "description": "A client for issuing REST requests to the Azure Batch service."
  },
  "host": "batch.core.windows.net",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "PoolUsageMetrics": {
      "properties": {
        "poolId": {
          "type": "string",
          "title": "The ID of the pool whose metrics are aggregated in this entry."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the aggregation interval covered by this entry."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "title": "The end time of the aggregation interval covered by this entry."
        },
        "vmSize": {
          "type": "string",
          "title": "The size of virtual machines in the pool. All VMs in a pool are the same size.",
          "description": "For information about available sizes of virtual machines for Cloud Services pools (pools created with cloudServiceConfiguration), see Sizes for Cloud Services (http://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/). Batch supports all Cloud Services VM sizes except ExtraSmall, STANDARD_A1_V2 and STANDARD_A2_V2. For information about available VM sizes for pools using images from the Virtual Machines Marketplace (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/) or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."
        },
        "totalCoreHours": {
          "type": "number",
          "format": "double",
          "title": "The total core hours used in the pool during this aggregation interval."
        },
        "dataIngressGiB": {
          "type": "number",
          "format": "double",
          "title": "The cross data center network ingress to the pool during this interval, in GiB."
        },
        "dataEgressGiB": {
          "type": "number",
          "format": "double",
          "title": "The cross data center network egress from the pool during this interval, in GiB."
        }
      },
      "required": [
        "poolId",
        "startTime",
        "endTime",
        "vmSize",
        "totalCoreHours",
        "dataIngressGiB",
        "dataEgressGiB"
      ],
      "title": "Usage metrics for a pool across an aggregation interval."
    },
    "PoolListUsageMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PoolUsageMetrics"
          },
          "title": "The pool usage metrics data."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of a listing the usage metrics for an account."
    },
    "NodeAgentSku": {
      "properties": {
        "id": {
          "type": "string",
          "title": "The ID of the node agent SKU."
        },
        "verifiedImageReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageReference"
          },
          "title": "The list of Azure Marketplace images verified to be compatible with this node agent SKU.",
          "description": "This collection is not exhaustive (the node agent may be compatible with other images)."
        },
        "osType": {
          "type": "string",
          "title": "The type of operating system (e.g. Windows or Linux) compatible with the node agent SKU.",
          "enum": [
            "linux",
            "windows"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        }
      },
      "title": "A node agent SKU supported by the Batch service.",
      "description": "The Batch node agent is a program that runs on each node in the pool, and provides the command-and-control interface between the node and the Batch service. There are different implementations of the node agent, known as SKUs, for different operating systems."
    },
    "AuthenticationTokenSettings": {
      "properties": {
        "access": {
          "type": "array",
          "items": {
            "type": "string",
            "x-nullable": false,
            "enum": [
              "job"
            ],
            "x-ms-enum": {
              "name": "AccessScope",
              "modelAsString": false
            }
          },
          "title": "The Batch resources to which the token grants access.",
          "description": "The authentication token grants access to a limited set of Batch service operations. Currently the only supported value for the access property is 'job', which grants access to all operations related to the job which contains the task."
        }
      },
      "title": "The settings for an authentication token that the task can use to perform Batch service operations."
    },
    "AccountListNodeAgentSkusResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeAgentSku"
          },
          "title": "The list of supported node agent SKUs."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the supported node agent SKUs."
    },
    "UsageStatistics": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "dedicatedCoreTime": {
          "type": "string",
          "format": "duration",
          "title": "The aggregated wall-clock time of the dedicated compute node cores being part of the pool."
        }
      },
      "required": [
        "startTime",
        "lastUpdateTime",
        "dedicatedCoreTime"
      ],
      "title": "Statistics related to pool usage information."
    },
    "ResourceStatistics": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "avgCPUPercentage": {
          "type": "number",
          "format": "double",
          "title": "The average CPU usage across all nodes in the pool (percentage per node)."
        },
        "avgMemoryGiB": {
          "type": "number",
          "format": "double",
          "title": "The average memory usage in GiB across all nodes in the pool."
        },
        "peakMemoryGiB": {
          "type": "number",
          "format": "double",
          "title": "The peak memory usage in GiB across all nodes in the pool."
        },
        "avgDiskGiB": {
          "type": "number",
          "format": "double",
          "title": "The average used disk space in GiB across all nodes in the pool."
        },
        "peakDiskGiB": {
          "type": "number",
          "format": "double",
          "title": "The peak used disk space in GiB across all nodes in the pool."
        },
        "diskReadIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk read operations across all nodes in the pool."
        },
        "diskWriteIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk write operations across all nodes in the pool."
        },
        "diskReadGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of disk reads across all nodes in the pool."
        },
        "diskWriteGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of disk writes across all nodes in the pool."
        },
        "networkReadGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of network reads across all nodes in the pool."
        },
        "networkWriteGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB of network writes across all nodes in the pool."
        }
      },
      "required": [
        "startTime",
        "lastUpdateTime",
        "avgCPUPercentage",
        "avgMemoryGiB",
        "peakMemoryGiB",
        "avgDiskGiB",
        "peakDiskGiB",
        "diskReadIOps",
        "diskWriteIOps",
        "diskReadGiB",
        "diskWriteGiB",
        "networkReadGiB",
        "networkWriteGiB"
      ],
      "title": "Statistics related to resource consumption by compute nodes in a pool."
    },
    "PoolStatistics": {
      "properties": {
        "url": {
          "type": "string",
          "title": "The URL for the statistics."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "usageStats": {
          "$ref": "#/definitions/UsageStatistics",
          "title": "Statistics related to pool usage, such as the amount of core-time used."
        },
        "resourceStats": {
          "$ref": "#/definitions/ResourceStatistics",
          "title": "Statistics related to resource consumption by compute nodes in the pool."
        }
      },
      "required": [
        "url",
        "startTime",
        "lastUpdateTime"
      ],
      "title": "Contains utilization and resource usage statistics for the lifetime of a pool."
    },
    "JobStatistics": {
      "properties": {
        "url": {
          "type": "string",
          "title": "The URL of the statistics."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "userCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total user mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in the job."
        },
        "kernelCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total kernel mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in the job."
        },
        "wallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wall clock time of all tasks in the job.",
          "description": " The wall clock time is the elapsed time from when the task started running on a compute node to when it finished (or to the last time the statistics were updated, if the task had not finished by then). If a task was retried, this includes the wall clock time of all the task retries."
        },
        "readIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk read operations made by all tasks in the job."
        },
        "writeIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk write operations made by all tasks in the job."
        },
        "readIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB read from disk by all tasks in the job."
        },
        "writeIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total amount of data in GiB written to disk by all tasks in the job."
        },
        "numSucceededTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks successfully completed in the job during the given time range.",
          "description": "A task completes successfully if it returns exit code 0."
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks in the job that failed during the given time range.",
          "description": "A task fails if it exhausts its maximum retry count without returning exit code 0."
        },
        "numTaskRetries": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of retries on all the tasks in the job during the given time range."
        },
        "waitTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wait time of all tasks in the job.",
          "description": "The wait time for a task is defined as the elapsed time between the creation of the task and the start of task execution. (If the task is retried due to failures, the wait time is the time to the most recent task execution.) This value is only reported in the account lifetime statistics; it is not included in the job statistics."
        }
      },
      "required": [
        "url",
        "startTime",
        "lastUpdateTime",
        "userCPUTime",
        "kernelCPUTime",
        "wallClockTime",
        "readIOps",
        "writeIOps",
        "readIOGiB",
        "writeIOGiB",
        "numSucceededTasks",
        "numFailedTasks",
        "numTaskRetries",
        "waitTime"
      ],
      "title": "Resource usage statistics for a job."
    },
    "NameValuePair": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The name in the name-value pair."
        },
        "value": {
          "type": "string",
          "title": "The value in the name-value pair."
        }
      },
      "title": "Represents a name-value pair."
    },
    "DeleteCertificateError": {
      "properties": {
        "code": {
          "type": "string",
          "title": "An identifier for the certificate deletion error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "title": "A message describing the certificate deletion error, intended to be suitable for display in a user interface."
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValuePair"
          },
          "title": "A list of additional error details related to the certificate deletion error.",
          "description": "This list includes details such as the active pools and nodes referencing this certificate. However, if a large number of resources reference the certificate, the list contains only about the first hundred."
        }
      },
      "title": "An error encountered by the Batch service when deleting a certificate."
    },
    "Certificate": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "title": "The X.509 thumbprint of the certificate. This is a sequence of up to 40 hex digits."
        },
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm used to derive the thumbprint."
        },
        "url": {
          "type": "string",
          "title": "The URL of the certificate."
        },
        "state": {
          "title": "The current state of the certificate.",
          "$ref": "#/definitions/CertificateState"
        },
        "stateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its current state."
        },
        "previousState": {
          "title": "The previous state of the certificate.",
          "description": "This property is not set if the certificate is in its initial active state.",
          "$ref": "#/definitions/CertificateState"
        },
        "previousStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its previous state.",
          "description": "This property is not set if the certificate is in its initial Active state."
        },
        "publicData": {
          "type": "string",
          "title": "The public part of the certificate as a base-64 encoded .cer file."
        },
        "deleteCertificateError": {
          "$ref": "#/definitions/DeleteCertificateError",
          "title": "The error that occurred on the last attempt to delete this certificate.",
          "description": "This property is set only if the certificate is in the DeleteFailed state."
        }
      },
      "description": "A certificate that can be installed on compute nodes and can be used to authenticate operations on the machine."
    },
    "ApplicationPackageReference": {
      "properties": {
        "applicationId": {
          "type": "string",
          "title": "The ID of the application to deploy."
        },
        "version": {
          "type": "string",
          "title": "The version of the application to deploy. If omitted, the default version is deployed.",
          "description": "If this is omitted on a pool, and no default version is specified for this application, the request fails with the error code InvalidApplicationPackageReferences and HTTP status code 409. If this is omitted on a task, and no default version is specified for this application, the task fails with a pre-processing error."
        }
      },
      "required": [
        "applicationId"
      ],
      "title": "A reference to an application package to be deployed to compute nodes."
    },
    "ApplicationSummary": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the application within the account."
        },
        "displayName": {
          "type": "string",
          "title": "The display name for the application."
        },
        "versions": {
          "type": "array",
          "title": "The list of available versions of the application.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "id",
        "displayName",
        "versions"
      ],
      "title": "Contains information about an application in an Azure Batch account."
    },
    "CertificateAddParameter": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "title": "The X.509 thumbprint of the certificate. This is a sequence of up to 40 hex digits (it may include spaces but these are removed)."
        },
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm used to derive the thumbprint. This must be sha1."
        },
        "data": {
          "type": "string",
          "title": "The base64-encoded contents of the certificate. The maximum size is 10KB."
        },
        "certificateFormat": {
          "type": "string",
          "title": "The format of the certificate data.",
          "enum": [
            "pfx",
            "cer"
          ],
          "x-ms-enum": {
            "name": "CertificateFormat",
            "modelAsString": false
          }
        },
        "password": {
          "type": "string",
          "title": "The password to access the certificate's private key.",
          "description": "This is required if the certificate format is pfx. It should be omitted if the certificate format is cer."
        }
      },
      "required": [
        "thumbprint",
        "thumbprintAlgorithm",
        "data"
      ],
      "title": "A certificate that can be installed on compute nodes and can be used to authenticate operations on the machine."
    },
    "CertificateListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          },
          "title": "The list of certificates."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the certificates in the account."
    },
    "FileProperties": {
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "title": "The file creation time.",
          "description": "The creation time is not returned for files on Linux compute nodes."
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the file was last modified."
        },
        "contentLength": {
          "type": "integer",
          "format": "int64",
          "title": "The length of the file."
        },
        "contentType": {
          "type": "string",
          "title": "The content type of the file."
        },
        "fileMode": {
          "type": "string",
          "title": "The file mode attribute in octal format.",
          "description": "The file mode is returned only for files on Linux compute nodes."
        }
      },
      "required": [
        "lastModified",
        "contentLength"
      ],
      "title": "The properties of a file on a compute node."
    },
    "NodeFile": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The file path."
        },
        "url": {
          "type": "string",
          "title": "The URL of the file."
        },
        "isDirectory": {
          "type": "boolean",
          "title": "Whether the object represents a directory."
        },
        "properties": {
          "$ref": "#/definitions/FileProperties",
          "title": "The file properties."
        }
      },
      "title": "Information about a file or directory on a compute node."
    },
    "NodeFileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeFile"
          },
          "title": "The list of files."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the files on a compute node, or the files associated with a task on a node."
    },
    "Schedule": {
      "properties": {
        "doNotRunUntil": {
          "type": "string",
          "format": "date-time",
          "title": "The earliest time at which any job may be created under this job schedule.",
          "description": "If you do not specify a doNotRunUntil time, the schedule becomes ready to create jobs immediately."
        },
        "doNotRunAfter": {
          "type": "string",
          "format": "date-time",
          "title": "A time after which no job will be created under this job schedule. The schedule will move to the completed state as soon as this deadline is past and there is no active job under this job schedule.",
          "description": "If you do not specify a doNotRunAfter time, and you are creating a recurring job schedule, the job schedule will remain active until you explicitly terminate it."
        },
        "startWindow": {
          "type": "string",
          "format": "duration",
          "title": "The time interval, starting from the time at which the schedule indicates a job should be created, within which a job must be created.",
          "description": "If a job is not created within the startWindow interval, then the 'opportunity' is lost; no job will be created until the next recurrence of the schedule. If the schedule is recurring, and the startWindow is longer than the recurrence interval, then this is equivalent to an infinite startWindow, because the job that is 'due' in one recurrenceInterval is not carried forward into the next recurrence interval. The default is infinite. The minimum value is 1 minute. If you specify a lower value, the Batch service rejects the schedule with an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        },
        "recurrenceInterval": {
          "type": "string",
          "format": "duration",
          "title": "The time interval between the start times of two successive jobs under the job schedule. A job schedule can have at most one active job under it at any given time.",
          "description": "Because a job schedule can have at most one active job under it at any given time, if it is time to create a new job under a job schedule, but the previous job is still running, the Batch service will not create the new job until the previous job finishes. If the previous job does not finish within the startWindow period of the new recurrenceInterval, then no new job will be scheduled for that interval. For recurring jobs, you should normally specify a jobManagerTask in the jobSpecification. If you do not use jobManagerTask, you will need an external process to monitor when jobs are created, add tasks to the jobs and terminate the jobs ready for the next recurrence. The default is that the schedule does not recur: one job is created, within the startWindow after the doNotRunUntil time, and the schedule is complete as soon as that job finishes. The minimum value is 1 minute. If you specify a lower value, the Batch service rejects the schedule with an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        }
      },
      "title": "The schedule according to which jobs will be created"
    },
    "JobConstraints": {
      "properties": {
        "maxWallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The maximum elapsed time that the job may run, measured from the time the job is created.",
          "description": "If the job does not complete within the time limit, the Batch service terminates it and any tasks that are still running. In this case, the termination reason will be MaxWallClockTimeExpiry. If this property is not specified, there is no time limit on how long the job may run."
        },
        "maxTaskRetryCount": {
          "type": "integer",
          "format": "int32",
          "title": "The maximum number of times each task may be retried. The Batch service retries a task if its exit code is nonzero.",
          "description": "Note that this value specifically controls the number of retries. The Batch service will try each task once, and may then retry up to this limit. For example, if the maximum retry count is 3, Batch tries a task up to 4 times (one initial try and 3 retries). If the maximum retry count is 0, the Batch service does not retry tasks. If the maximum retry count is -1, the Batch service retries tasks without limit. The default value is 0 (no retries)."
        }
      },
      "title": "The execution constraints for a job."
    },
    "TaskContainerSettings": {
      "properties": {
        "containerRunOptions": {
          "type": "string",
          "title": "Additional options to the container create command.",
          "description": "These additional options are supplied as arguments to the \"docker create\" command, in addition to those controlled by the Batch Service."
        },
        "imageName": {
          "type": "string",
          "title": "The image to use to create the container in which the task will run.",
          "description": "This is the full image reference, as would be specified to \"docker pull\". If no tag is provided as part of the image name, the tag \":latest\" is used as a default."
        },
        "registry": {
          "$ref": "#/definitions/ContainerRegistry",
          "title": "The private registry which contains the container image.",
          "description": "This setting can be omitted if was already provided at pool creation."
        }
      },
      "required": [
        "imageName"
      ],
      "title": "The container settings for a task."
    },
    "ResourceFile": {
      "properties": {
        "blobSource": {
          "type": "string",
          "title": "The URL of the file within Azure Blob Storage.",
          "description": "This URL must be readable using anonymous access; that is, the Batch service does not present any credentials when downloading the blob. There are two ways to get such a URL for a blob in Azure storage: include a Shared Access Signature (SAS) granting read permissions on the blob, or set the ACL for the blob or its container to allow public access."
        },
        "filePath": {
          "type": "string",
          "title": "The location on the compute node to which to download the file, relative to the task's working directory."
        },
        "fileMode": {
          "type": "string",
          "title": "The file permission mode attribute in octal format.",
          "description": "This property applies only to files being downloaded to Linux compute nodes. It will be ignored if it is specified for a resourceFile which will be downloaded to a Windows node. If this property is not specified for a Linux node, then a default value of 0770 is applied to the file."
        }
      },
      "required": [
        "blobSource",
        "filePath"
      ],
      "title": "A file to be downloaded from Azure blob storage to a compute node."
    },
    "EnvironmentSetting": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The name of the environment variable."
        },
        "value": {
          "type": "string",
          "title": "The value of the environment variable."
        }
      },
      "required": [
        "name"
      ],
      "title": "An environment variable to be set on a task process."
    },
    "ExitConditions": {
      "properties": {
        "exitCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExitCodeMapping"
          },
          "title": "A list of individual task exit codes and how the Batch service should respond to them."
        },
        "exitCodeRanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExitCodeRangeMapping"
          },
          "title": "A list of task exit code ranges and how the Batch service should respond to them."
        },
        "preProcessingError": {
          "$ref": "#/definitions/ExitOptions",
          "title": "How the Batch service should respond if the task fails to start due to an error."
        },
        "fileUploadError": {
          "$ref": "#/definitions/ExitOptions",
          "title": "How the Batch service should respond if a file upload error occurs.",
          "description": "If the task exited with an exit code that was specified via exitCodes or exitCodeRanges, and then encountered a file upload error, then the action specified by the exit code takes precedence."
        },
        "default": {
          "$ref": "#/definitions/ExitOptions",
          "title": "How the Batch service should respond if the task fails with an exit condition not covered by any of the other properties.",
          "description": "This value is used if the task exits with any nonzero exit code not listed in the exitCodes or exitCodeRanges collection, with a pre-processing error if the preProcessingError property is not present, or with a file upload error if the fileUploadError property is not present. If you want non-default behaviour on exit code 0, you must list it explicitly using the exitCodes or exitCodeRanges collection."
        }
      },
      "title": "Specifies how the Batch service should respond when the task completes."
    },
    "ExitCodeMapping": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "title": "A process exit code."
        },
        "exitOptions": {
          "$ref": "#/definitions/ExitOptions",
          "title": "How the Batch service should respond if the task exits with this exit code."
        }
      },
      "title": "How the Batch service should respond if a task exits with a particular exit code.",
      "required": [
        "code",
        "exitOptions"
      ]
    },
    "ExitCodeRangeMapping": {
      "properties": {
        "start": {
          "type": "integer",
          "format": "int32",
          "title": "The first exit code in the range."
        },
        "end": {
          "type": "integer",
          "format": "int32",
          "title": "The last exit code in the range."
        },
        "exitOptions": {
          "$ref": "#/definitions/ExitOptions",
          "title": "How the Batch service should respond if the task exits with an exit code in the range start to end (inclusive)."
        }
      },
      "title": "A range of exit codes and how the Batch service should respond to exit codes within that range.",
      "required": [
        "start",
        "end",
        "exitOptions"
      ]
    },
    "ExitOptions": {
      "properties": {
        "jobAction": {
          "type": "string",
          "title": "An action to take on the job containing the task, if the task completes with the given exit condition and the job's onTaskFailed property is 'performExitOptionsJobAction'.",
          "description": "Values are:\n\n none - Take no action.\n disable - Disable the job. This is equivalent to calling the disable job API, with a disableTasks value of requeue.\n terminate - Terminate the job. The terminateReason in the job's executionInfo is set to \"TaskFailed\". The default is none for exit code 0 and terminate for all other exit conditions.\n\n If the job's onTaskFailed property is noAction, then specifying this property returns an error and the add task request fails with an invalid property value error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request).",
          "enum": [
            "none",
            "disable",
            "terminate"
          ],
          "x-ms-enum": {
            "name": "JobAction",
            "modelAsString": false
          }
        },
        "dependencyAction": {
          "type": "string",
          "title": "An action that the Batch service performs on tasks that depend on this task.",
          "description": "Values are:\n\n satisfy - Satisfy the task's dependencies.\n block - Block the task's dependencies.\n\n The default is 'satisfy' for exit code 0, and 'block' for all other exit conditions. If the job's usesTaskDependencies property is set to false, then specifying the dependencyAction property returns an erro and the add task request fails with an invalid property value error; if you are calling the REST API directly, the HTTP status code is 400  (Bad Request).",
          "enum": [
            "satisfy",
            "block"
          ],
          "x-ms-enum": {
            "name": "DependencyAction",
            "modelAsString": false
          }
        }
      },
      "title": "Specifies how the Batch service responds to a particular exit condition."
    },
    "AutoUserSpecification": {
      "properties": {
        "scope": {
          "type": "string",
          "title": "The scope for the auto user",
          "description": "Values are:\n\n pool - specifies that the task runs as the common auto user account which is created on every node in a pool.\n task - specifies that the service should create a new user for the task.\n The default value is task.",
          "enum": [
            "task",
            "pool"
          ],
          "x-ms-enum": {
            "name": "AutoUserScope",
            "modelAsString": false
          }
        },
        "elevationLevel": {
          "title": "The elevation level of the auto user.",
          "description": "nonAdmin - The auto user is a standard user without elevated access. admin - The auto user is a user with elevated access and operates with full Administrator permissions. The default value is nonAdmin.",
          "$ref": "#/definitions/ElevationLevel"
        }
      },
      "title": "Specifies the parameters for the auto user that runs a task on the Batch service."
    },
    "UserIdentity": {
      "properties": {
        "username": {
          "type": "string",
          "x-ms-client-name": "userName",
          "title": "The name of the user identity under which the task is run.",
          "description": "The userName and autoUser properties are mutually exclusive; you must specify one but not both."
        },
        "autoUser": {
          "$ref": "#/definitions/AutoUserSpecification",
          "title": "The auto user under which the task is run.",
          "description": "The userName and autoUser properties are mutually exclusive; you must specify one but not both."
        }
      },
      "title": "The definition of the user identity under which the task is run.",
      "description": "Specify either the userName or autoUser property, but not both."
    },
    "LinuxUserConfiguration": {
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int32",
          "title": "The user ID of the user account.",
          "description": "The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the uid."
        },
        "gid": {
          "type": "integer",
          "format": "int32",
          "title": "The group ID for the user account.",
          "description": "The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the gid."
        },
        "sshPrivateKey": {
          "type": "string",
          "title": "The SSH private key for the user account.",
          "description": "The private key must not be password protected. The private key is used to automatically configure asymmetric-key based authentication for SSH between nodes in a Linux pool when the pool's enableInterNodeCommunication property is true (it is ignored if enableInterNodeCommunication is false). It does this by placing the key pair into the user's .ssh directory. If not specified, password-less SSH is not configured between nodes (no modification of the user's .ssh directory is done)."
        }
      },
      "title": "Properties used to create a user account on a Linux node."
    },
    "UserAccount": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The name of the user account."
        },
        "password": {
          "type": "string",
          "title": "The password for the user account."
        },
        "elevationLevel": {
          "title": "The elevation level of the user account.",
          "description": "nonAdmin - The auto user is a standard user without elevated access. admin - The auto user is a user with elevated access and operates with full Administrator permissions. The default value is nonAdmin.",
          "$ref": "#/definitions/ElevationLevel"
        },
        "linuxUserConfiguration": {
          "title": "The Linux-specific user configuration for the user account.",
          "description": "This property is ignored if specified on a Windows pool. If not specified, the user is created with the default options.",
          "$ref": "#/definitions/LinuxUserConfiguration"
        }
      },
      "required": [
        "name",
        "password"
      ],
      "title": "Properties used to create a user used to execute tasks on an Azure Batch node."
    },
    "TaskConstraints": {
      "properties": {
        "maxWallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The maximum elapsed time that the task may run, measured from the time the task starts. If the task does not complete within the time limit, the Batch service terminates it.",
          "description": "If this is not specified, there is no time limit on how long the task may run."
        },
        "retentionTime": {
          "type": "string",
          "format": "duration",
          "title": "The minimum time to retain the task directory on the compute node where it ran, from the time it completes execution. After this time, the Batch service may delete the task directory and all its contents.",
          "description": "The default is infinite, i.e. the task directory will be retained until the compute node is removed or reimaged."
        },
        "maxTaskRetryCount": {
          "type": "integer",
          "format": "int32",
          "title": "The maximum number of times the task may be retried. The Batch service retries a task if its exit code is nonzero.",
          "description": "Note that this value specifically controls the number of retries. The Batch service will try the task once, and may then retry up to this limit. For example, if the maximum retry count is 3, Batch tries the task up to 4 times (one initial try and 3 retries). If the maximum retry count is 0, the Batch service does not retry the task. If the maximum retry count is -1, the Batch service retries the task without limit."
        }
      },
      "title": "Execution constraints to apply to a task."
    },
    "JobManagerTask": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the Job Manager task within the job.",
          "description": "The ID can contain any combination of alphanumeric characters including hyphens and underscores and cannot contain more than 64 characters."
        },
        "displayName": {
          "type": "string",
          "title": "The display name of the Job Manager task.",
          "description": "It need not be unique and can contain any Unicode characters up to a maximum length of 1024."
        },
        "commandLine": {
          "type": "string",
          "title": "The command line of the Job Manager task.",
          "description": "The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux."
        },
        "containerSettings": {
          "$ref": "#/definitions/TaskContainerSettings",
          "title": "The settings for the container under which the Job Manager task runs.",
          "description": "If the pool that will run this task has containerConfiguration set, this must be set as well. If the pool that will run this task doesn't have containerConfiguration set, this must not be set. When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container."
        },
        "resourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceFile"
          },
          "title": "A list of files that the Batch service will download to the compute node before running the command line.",
          "description": "Files listed under this element are located in the task's working directory."
        },
        "outputFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputFile"
          },
          "title": "A list of files that the Batch service will upload from the compute node after running the command line.",
          "description": "For multi-instance tasks, the files will only be uploaded from the compute node on which the primary task is executed."
        },
        "environmentSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentSetting"
          },
          "title": "A list of environment variable settings for the Job Manager task."
        },
        "constraints": {
          "$ref": "#/definitions/TaskConstraints",
          "title": "Constraints that apply to the Job Manager task."
        },
        "killJobOnCompletion": {
          "type": "boolean",
          "title": "Whether completion of the Job Manager task signifies completion of the entire job.",
          "description": "If true, when the Job Manager task completes, the Batch service marks the job as complete. If any tasks are still running at this time (other than Job Release), those tasks are terminated. If false, the completion of the Job Manager task does not affect the job status. In this case, you should either use the onAllTasksComplete attribute to terminate the job, or have a client or user terminate the job explicitly. An example of this is if the Job Manager creates a set of tasks but then takes no further role in their execution. The default value is true. If you are using the onAllTasksComplete and onTaskFailure attributes to control job lifetime, and using the Job Manager task only to create the tasks for the job (not to monitor progress), then it is important to set killJobOnCompletion to false."
        },
        "userIdentity": {
          "$ref": "#/definitions/UserIdentity",
          "title": "The user identity under which the Job Manager task runs.",
          "description": "If omitted, the task runs as a non-administrative user unique to the task."
        },
        "runExclusive": {
          "type": "boolean",
          "title": "Whether the Job Manager task requires exclusive use of the compute node where it runs.",
          "description": "If true, no other tasks will run on the same compute node for as long as the Job Manager is running. If false, other tasks can run simultaneously with the Job Manager on a compute node. The Job Manager task counts normally against the node's concurrent task limit, so this is only relevant if the node allows multiple concurrent tasks. The default value is true."
        },
        "applicationPackageReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationPackageReference"
          },
          "title": "A list of application packages that the Batch service will deploy to the compute node before running the command line.",
          "description": "Application packages are downloaded and deployed to a shared directory, not the task working directory. Therefore, if a referenced package is already on the compute node, and is up to date, then it is not re-downloaded; the existing copy on the compute node is used. If a referenced application package cannot be installed, for example because the package has been deleted or because download failed, the task fails."
        },
        "authenticationTokenSettings": {
          "title": "The settings for an authentication token that the task can use to perform Batch service operations.",
          "description": "If this property is set, the Batch service provides the task with an authentication token which can be used to authenticate Batch service operations without requiring an account access key. The token is provided via the AZ_BATCH_AUTHENTICATION_TOKEN environment variable. The operations that the task can carry out using the token depend on the settings. For example, a task can request job permissions in order to add other tasks to the job, or check the status of the job or of other tasks under the job.",
          "$ref": "#/definitions/AuthenticationTokenSettings"
        },
        "allowLowPriorityNode": {
          "type": "boolean",
          "title": "Whether the Job Manager task may run on a low-priority compute node.",
          "description": "The default value is false."
        }
      },
      "required": [
        "id",
        "commandLine"
      ],
      "title": "Specifies details of a Job Manager task.",
      "description": "The Job Manager task is automatically started when the job is created. The Batch service tries to schedule the Job Manager task before any other tasks in the job. When shrinking a pool, the Batch service tries to preserve compute nodes where Job Manager tasks are running for as long as possible (that is, nodes running 'normal' tasks are removed before nodes running Job Manager tasks). When a Job Manager task fails and needs to be restarted, the system tries to schedule it at the highest priority. If there are no idle nodes available, the system may terminate one of the running tasks in the pool and return it to the queue in order to make room for the Job Manager task to restart. Note that a Job Manager task in one job does not have priority over tasks in other jobs. Across jobs, only job level priorities are observed. For example, if a Job Manager in a priority 0 job needs to be restarted, it will not displace tasks of a priority 1 job."
    },
    "JobPreparationTask": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the Job Preparation task within the job.",
          "description": "The ID can contain any combination of alphanumeric characters including hyphens and underscores and cannot contain more than 64 characters. If you do not specify this property, the Batch service assigns a default value of 'jobpreparation'. No other task in the job can have the same ID as the Job Preparation task. If you try to submit a task with the same id, the Batch service rejects the request with error code TaskIdSameAsJobPreparationTask; if you are calling the REST API directly, the HTTP status code is 409 (Conflict)."
        },
        "commandLine": {
          "type": "string",
          "title": "The command line of the Job Preparation task.",
          "description": "The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux."
        },
        "containerSettings": {
          "$ref": "#/definitions/TaskContainerSettings",
          "title": "The settings for the container under which the Job Preparation task runs.",
          "description": "When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container."
        },
        "resourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceFile"
          },
          "title": "A list of files that the Batch service will download to the compute node before running the command line.",
          "description": "Files listed under this element are located in the task's working directory."
        },
        "environmentSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentSetting"
          },
          "title": "A list of environment variable settings for the Job Preparation task."
        },
        "constraints": {
          "$ref": "#/definitions/TaskConstraints",
          "title": "Constraints that apply to the Job Preparation task."
        },
        "waitForSuccess": {
          "type": "boolean",
          "title": "Whether the Batch service should wait for the Job Preparation task to complete successfully before scheduling any other tasks of the job on the compute node. A Job Preparation task has completed successfully if it exits with exit code 0.",
          "description": "If true and the Job Preparation task fails on a compute node, the Batch service retries the Job Preparation task up to its maximum retry count (as specified in the constraints element). If the task has still not completed successfully after all retries, then the Batch service will not schedule tasks of the job to the compute node. The compute node remains active and eligible to run tasks of other jobs. If false, the Batch service will not wait for the Job Preparation task to complete. In this case, other tasks of the job can start executing on the compute node while the Job Preparation task is still running; and even if the Job Preparation task fails, new tasks will continue to be scheduled on the node. The default value is true."
        },
        "userIdentity": {
          "$ref": "#/definitions/UserIdentity",
          "title": "The user identity under which the Job Preparation task runs.",
          "description": "If omitted, the task runs as a non-administrative user unique to the task on Windows nodes, or a a non-administrative user unique to the pool on Linux nodes."
        },
        "rerunOnNodeRebootAfterSuccess": {
          "type": "boolean",
          "title": "Whether the Batch service should rerun the Job Preparation task after a compute node reboots.",
          "description": "The Job Preparation task is always rerun if a compute node is reimaged, or if the Job Preparation task did not complete (e.g. because the reboot occurred while the task was running). Therefore, you should always write a Job Preparation task to be idempotent and to behave correctly if run multiple times. The default value is true."
        }
      },
      "required": [
        "commandLine"
      ],
      "title": "A Job Preparation task to run before any tasks of the job on any given compute node.",
      "description": "You can use Job Preparation to prepare a compute node to run tasks for the job. Activities commonly performed in Job Preparation include: Downloading common resource files used by all the tasks in the job. The Job Preparation task can download these common resource files to the shared location on the compute node. (AZ_BATCH_NODE_ROOT_DIR\\shared), or starting a local service on the compute node so that all tasks of that job can communicate with it. If the Job Preparation task fails (that is, exhausts its retry count before exiting with exit code 0), Batch will not run tasks of this job on the compute node. The node remains ineligible to run tasks of this job until it is reimaged. The node remains active and can be used for other jobs. The Job Preparation task can run multiple times on the same compute node. Therefore, you should write the Job Preparation task to handle re-execution. If the compute node is rebooted, the Job Preparation task is run again on the node before scheduling any other task of the job, if rerunOnNodeRebootAfterSuccess is true or if the Job Preparation task did not previously complete. If the compute node is reimaged, the Job Preparation task is run again before scheduling any task of the job."
    },
    "JobReleaseTask": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the Job Release task within the job.",
          "description": "The ID can contain any combination of alphanumeric characters including hyphens and underscores and cannot contain more than 64 characters. If you do not specify this property, the Batch service assigns a default value of 'jobrelease'. No other task in the job can have the same ID as the Job Release task. If you try to submit a task with the same id, the Batch service rejects the request with error code TaskIdSameAsJobReleaseTask; if you are calling the REST API directly, the HTTP status code is 409 (Conflict)."
        },
        "commandLine": {
          "type": "string",
          "title": "The command line of the Job Release task.",
          "description": "The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux."
        },
        "containerSettings": {
          "$ref": "#/definitions/TaskContainerSettings",
          "title": "The settings for the container under which the Job Release task runs.",
          "description": "When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container."
        },
        "resourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceFile"
          },
          "title": "A list of files that the Batch service will download to the compute node before running the command line.",
          "description": "Files listed under this element are located in the task's working directory."
        },
        "environmentSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentSetting"
          },
          "title": "A list of environment variable settings for the Job Release task."
        },
        "maxWallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The maximum elapsed time that the Job Release task may run on a given compute node, measured from the time the task starts. If the task does not complete within the time limit, the Batch service terminates it. The default value is 15 minutes. You may not specify a timeout longer than 15 minutes. If you do, the Batch service rejects it with an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        },
        "retentionTime": {
          "type": "string",
          "format": "duration",
          "title": "The minimum time to retain the task directory for the Job Release task on the compute node. After this time, the Batch service may delete the task directory and all its contents.",
          "description": "The default is infinite, i.e. the task directory will be retained until the compute node is removed or reimaged."
        },
        "userIdentity": {
          "$ref": "#/definitions/UserIdentity",
          "title": "The user identity under which the Job Release task runs.",
          "description": "If omitted, the task runs as a non-administrative user unique to the task."
        }
      },
      "required": [
        "commandLine"
      ],
      "title": "A Job Release task to run on job completion on any compute node where the job has run.",
      "description": "The Job Release task runs when the job ends, because of one of the following: The user calls the Terminate Job API, or the Delete Job API while the job is still active, the job's maximum wall clock time constraint is reached, and the job is still active, or the job's Job Manager task completed, and the job is configured to terminate when the Job Manager completes. The Job Release task runs on each compute node where tasks of the job have run and the Job Preparation task ran and completed. If you reimage a compute node after it has run the Job Preparation task, and the job ends without any further tasks of the job running on that compute node (and hence the Job Preparation task does not re-run), then the Job Release task does not run on that node. If a compute node reboots while the Job Release task is still running, the Job Release task runs again when the compute node starts up. The job is not marked as complete until all Job Release tasks have completed. The Job Release task runs in the background. It does not occupy a scheduling slot; that is, it does not count towards the maxTasksPerNode limit specified on the pool."
    },
    "TaskSchedulingPolicy": {
      "properties": {
        "nodeFillType": {
          "type": "string",
          "title": "How tasks are distributed across compute nodes in a pool. Values are:\n\n pack - As many tasks as possible (maxTasksPerNode) should be assigned to each node in the pool before any tasks are assigned to the next node in the pool.\n spread - Tasks should be assigned evenly across all nodes in the pool.",
          "enum": [
            "spread",
            "pack"
          ],
          "x-ms-enum": {
            "name": "ComputeNodeFillType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "nodeFillType"
      ],
      "title": "Specifies how tasks should be distributed across compute nodes."
    },
    "StartTask": {
      "properties": {
        "commandLine": {
          "type": "string",
          "title": "The command line of the start task.",
          "description": "The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux."
        },
        "containerSettings": {
          "$ref": "#/definitions/TaskContainerSettings",
          "title": "The settings for the container under which the start task runs.",
          "description": "When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container."
        },
        "resourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceFile"
          },
          "title": "A list of files that the Batch service will download to the compute node before running the command line.",
          "description": "Files listed under this element are located in the task's working directory."
        },
        "environmentSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentSetting"
          },
          "title": "A list of environment variable settings for the start task."
        },
        "userIdentity": {
          "$ref": "#/definitions/UserIdentity",
          "title": "The user identity under which the start task runs.",
          "description": "If omitted, the task runs as a non-administrative user unique to the task."
        },
        "maxTaskRetryCount": {
          "type": "integer",
          "format": "int32",
          "title": "The maximum number of times the task may be retried.",
          "description": "The Batch service retries a task if its exit code is nonzero. Note that this value specifically controls the number of retries. The Batch service will try the task once, and may then retry up to this limit. For example, if the maximum retry count is 3, Batch tries the task up to 4 times (one initial try and 3 retries). If the maximum retry count is 0, the Batch service does not retry the task. If the maximum retry count is -1, the Batch service retries the task without limit."
        },
        "waitForSuccess": {
          "type": "boolean",
          "title": "Whether the Batch service should wait for the start task to complete successfully (that is, to exit with exit code 0) before scheduling any tasks on the compute node.",
          "description": "If true and the start task fails on a compute node, the Batch service retries the start task up to its maximum retry count (maxTaskRetryCount). If the task has still not completed successfully after all retries, then the Batch service marks the compute node unusable, and will not schedule tasks to it. This condition can be detected via the node state and failure info details. If false, the Batch service will not wait for the start task to complete. In this case, other tasks can start executing on the compute node while the start task is still running; and even if the start task fails, new tasks will continue to be scheduled on the node. The default is false."
        }
      },
      "required": [
        "commandLine"
      ],
      "title": "A task which is run when a compute node joins a pool in the Azure Batch service, or when the compute node is rebooted or reimaged."
    },
    "CertificateReference": {
      "properties": {
        "thumbprint": {
          "type": "string",
          "title": "The thumbprint of the certificate."
        },
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm with which the thumbprint is associated. This must be sha1."
        },
        "storeLocation": {
          "type": "string",
          "title": "The location of the certificate store on the compute node into which to install the certificate.",
          "description": "The default value is currentUser. This property is applicable only for pools configured with Windows nodes (that is, created with cloudServiceConfiguration, or with virtualMachineConfiguration using a Windows image reference). For Linux compute nodes, the certificates are stored in a directory inside the task working directory and an environment variable AZ_BATCH_CERTIFICATES_DIR is supplied to the task to query for this location. For certificates with visibility of 'remoteUser', a 'certs' directory is created in the user's home directory (e.g., /home/{user-name}/certs) and certificates are placed in that directory.",
          "enum": [
            "currentUser",
            "localMachine"
          ],
          "x-ms-enum": {
            "name": "CertificateStoreLocation",
            "modelAsString": false
          }
        },
        "storeName": {
          "type": "string",
          "title": "The name of the certificate store on the compute node into which to install the certificate.",
          "description": "This property is applicable only for pools configured with Windows nodes (that is, created with cloudServiceConfiguration, or with virtualMachineConfiguration using a Windows image reference). Common store names include: My, Root, CA, Trust, Disallowed, TrustedPeople, TrustedPublisher, AuthRoot, AddressBook, but any custom store name can also be used. The default value is My."
        },
        "visibility": {
          "type": "array",
          "items": {
            "type": "string",
            "x-nullable": false,
            "enum": [
              "startTask",
              "task",
              "remoteUser"
            ],
            "x-ms-enum": {
              "name": "CertificateVisibility",
              "modelAsString": false
            }
          },
          "title": "Which user accounts on the compute node should have access to the private data of the certificate.",
          "description": "Values are:\n\n starttask - The user account under which the start task is run.\n task - The accounts under which job tasks are run.\n remoteuser - The accounts under which users remotely access the node.\n\n You can specify more than one visibility in this collection. The default is all accounts."
        }
      },
      "required": [
        "thumbprint",
        "thumbprintAlgorithm"
      ],
      "title": "A reference to a certificate to be installed on compute nodes in a pool."
    },
    "MetadataItem": {
      "properties": {
        "name": {
          "type": "string",
          "title": "The name of the metadata item."
        },
        "value": {
          "type": "string",
          "title": "The value of the metadata item."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "title": "A name-value pair associated with a Batch service resource.",
      "description": "The Batch service does not assign any meaning to this metadata; it is solely for the use of user code."
    },
    "PoolSpecification": {
      "properties": {
        "displayName": {
          "type": "string",
          "title": "The display name for the pool.",
          "description": "The display name need not be unique and can contain any Unicode characters up to a maximum length of 1024."
        },
        "vmSize": {
          "type": "string",
          "title": "The size of the virtual machines in the pool. All virtual machines in a pool are the same size.",
          "description": "For information about available sizes of virtual machines for Cloud Services pools (pools created with cloudServiceConfiguration), see Sizes for Cloud Services (http://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/). Batch supports all Cloud Services VM sizes except ExtraSmall, A1V2 and A2V2. For information about available VM sizes for pools using images from the Virtual Machines Marketplace (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/) or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."
        },
        "cloudServiceConfiguration": {
          "$ref": "#/definitions/CloudServiceConfiguration",
          "title": "The cloud service configuration for the pool.",
          "description": "This property must be specified if the pool needs to be created with Azure PaaS VMs. This property and virtualMachineConfiguration are mutually exclusive and one of the properties must be specified. If neither is specified then the Batch service returns an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request). This property cannot be specified if the Batch account was created with its poolAllocationMode property set to 'UserSubscription'."
        },
        "virtualMachineConfiguration": {
          "$ref": "#/definitions/VirtualMachineConfiguration",
          "title": "The virtual machine configuration for the pool.",
          "description": "This property must be specified if the pool needs to be created with Azure IaaS VMs. This property and cloudServiceConfiguration are mutually exclusive and one of the properties must be specified. If neither is specified then the Batch service returns an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        },
        "maxTasksPerNode": {
          "type": "integer",
          "format": "int32",
          "title": "The maximum number of tasks that can run concurrently on a single compute node in the pool.",
          "description": "The default value is 1. The maximum value of this setting depends on the size of the compute nodes in the pool (the vmSize setting)."
        },
        "taskSchedulingPolicy": {
          "$ref": "#/definitions/TaskSchedulingPolicy",
          "title": "How tasks are distributed across compute nodes in a pool."
        },
        "resizeTimeout": {
          "type": "string",
          "format": "duration",
          "title": "The timeout for allocation of compute nodes to the pool.",
          "description": "This timeout applies only to manual scaling; it has no effect when enableAutoScale is set to true. The default value is 15 minutes. The minimum value is 5 minutes. If you specify a value less than 5 minutes, the Batch service rejects the request with an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        },
        "targetDedicatedNodes": {
          "type": "integer",
          "format": "int32",
          "title": "The desired number of dedicated compute nodes in the pool.",
          "description": "This property must not be specified if enableAutoScale is set to true. If enableAutoScale is set to false, then you must set either targetDedicatedNodes, targetLowPriorityNodes, or both."
        },
        "targetLowPriorityNodes": {
          "type": "integer",
          "format": "int32",
          "title": "The desired number of low-priority compute nodes in the pool.",
          "description": "This property must not be specified if enableAutoScale is set to true. If enableAutoScale is set to false, then you must set either targetDedicatedNodes, targetLowPriorityNodes, or both."
        },
        "enableAutoScale": {
          "type": "boolean",
          "title": "Whether the pool size should automatically adjust over time.",
          "description": "If false, at least one of targetDedicateNodes and targetLowPriorityNodes must be specified. If true, the autoScaleFormula element is required. The pool automatically resizes according to the formula. The default value is false."
        },
        "autoScaleFormula": {
          "type": "string",
          "title": "The formula for the desired number of compute nodes in the pool.",
          "description": "This property must not be specified if enableAutoScale is set to false. It is required if enableAutoScale is set to true. The formula is checked for validity before the pool is created. If the formula is not valid, the Batch service rejects the request with detailed error information."
        },
        "autoScaleEvaluationInterval": {
          "type": "string",
          "format": "duration",
          "title": "The time interval at which to automatically adjust the pool size according to the autoscale formula.",
          "description": "The default value is 15 minutes. The minimum and maximum value are 5 minutes and 168 hours respectively. If you specify a value less than 5 minutes or greater than 168 hours, the Batch service rejects the request with an invalid property value error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
        },
        "enableInterNodeCommunication": {
          "type": "boolean",
          "title": "Whether the pool permits direct communication between nodes.",
          "description": "Enabling inter-node communication limits the maximum size of the pool due to deployment restrictions on the nodes of the pool. This may result in the pool not reaching its desired size. The default value is false."
        },
        "networkConfiguration": {
          "$ref": "#/definitions/NetworkConfiguration",
          "title": "The network configuration for the pool."
        },
        "startTask": {
          "$ref": "#/definitions/StartTask",
          "title": "A task to run on each compute node as it joins the pool. The task runs when the node is added to the pool or when the node is restarted."
        },
        "certificateReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateReference"
          },
          "title": "A list of certificates to be installed on each compute node in the pool.",
          "description": "For Windows compute nodes, the Batch service installs the certificates to the specified certificate store and location. For Linux compute nodes, the certificates are stored in a directory inside the task working directory and an environment variable AZ_BATCH_CERTIFICATES_DIR is supplied to the task to query for this location. For certificates with visibility of 'remoteUser', a 'certs' directory is created in the user's home directory (e.g., /home/{user-name}/certs) and certificates are placed in that directory."
        },
        "applicationPackageReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationPackageReference"
          },
          "title": "The list of application packages to be installed on each compute node in the pool."
        },
        "applicationLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "The list of application licenses the Batch service will make available on each compute node in the pool.",
          "description": "The list of application licenses must be a subset of available Batch service application licenses. If a license is requested which is not supported, pool creation will fail."
        },
        "userAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserAccount"
          },
          "title": "The list of user accounts to be created on each node in the pool."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetadataItem"
          },
          "title": "A list of name-value pairs associated with the pool as metadata.",
          "description": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
        }
      },
      "required": [
        "vmSize"
      ],
      "title": "Specification for creating a new pool."
    },
    "AutoPoolSpecification": {
      "properties": {
        "autoPoolIdPrefix": {
          "type": "string",
          "title": "A prefix to be added to the unique identifier when a pool is automatically created.",
          "description": "The Batch service assigns each auto pool a unique identifier on creation. To distinguish between pools created for different purposes, you can specify this element to add a prefix to the ID that is assigned. The prefix can be up to 20 characters long."
        },
        "poolLifetimeOption": {
          "type": "string",
          "title": "The minimum lifetime of created auto pools, and how multiple jobs on a schedule are assigned to pools.",
          "description": "When the pool lifetime is jobSchedule the pool exists for the lifetime of the job schedule. The Batch Service creates the pool when it creates the first job on the schedule. You may apply this option only to job schedules, not to jobs. When the pool lifetime is job the pool exists for the lifetime of the job to which it is dedicated. The Batch service creates the pool when it creates the job. If the 'job' option is applied to a job schedule, the Batch service creates a new auto pool for every job created on the schedule.",
          "enum": [
            "jobSchedule",
            "job"
          ],
          "x-ms-enum": {
            "name": "PoolLifetimeOption",
            "modelAsString": false
          }
        },
        "keepAlive": {
          "type": "boolean",
          "title": "Whether to keep an auto pool alive after its lifetime expires.",
          "description": "If false, the Batch service deletes the pool once its lifetime (as determined by the poolLifetimeOption setting) expires; that is, when the job or job schedule completes. If true, the Batch service does not delete the pool automatically. It is up to the user to delete auto pools created with this option."
        },
        "pool": {
          "$ref": "#/definitions/PoolSpecification",
          "title": "The pool specification for the auto pool."
        }
      },
      "required": [
        "poolLifetimeOption"
      ],
      "title": "Specifies characteristics for a temporary 'auto pool'. The Batch service will create this auto pool when the job is submitted."
    },
    "PoolInformation": {
      "properties": {
        "poolId": {
          "type": "string",
          "title": "The ID of an existing pool. All the tasks of the job will run on the specified pool.",
          "description": "You must ensure that the pool referenced by this property exists. If the pool does not exist at the time the Batch service tries to schedule a job, no tasks for the job will run until you create a pool with that id. Note that the Batch service will not reject the job request; it will simply not run tasks until the pool exists. You must specify either the pool ID or the auto pool specification, but not both."
        },
        "autoPoolSpecification": {
          "$ref": "#/definitions/AutoPoolSpecification",
          "title": "Characteristics for a temporary 'auto pool'. The Batch service will create this auto pool when the job is submitted.",
          "description": "If auto pool creation fails, the Batch service moves the job to a completed state, and the pool creation error is set in the job's scheduling error property. The Batch service manages the lifetime (both creation and, unless keepAlive is specified, deletion) of the auto pool. Any user actions that affect the lifetime of the auto pool while the job is active will result in unexpected behavior. You must specify either the pool ID or the auto pool specification, but not both."
        }
      },
      "title": "Specifies how a job should be assigned to a pool."
    },
    "JobSpecification": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "title": "The priority of jobs created under this schedule.",
          "description": "Priority values can range from -1000 to 1000, with -1000 being the lowest priority and 1000 being the highest priority. The default value is 0. This priority is used as the default for all jobs under the job schedule. You can update a job's priority after it has been created using by using the update job API."
        },
        "displayName": {
          "type": "string",
          "title": "The display name for jobs created under this schedule.",
          "description": "The name need not be unique and can contain any Unicode characters up to a maximum length of 1024."
        },
        "usesTaskDependencies": {
          "type": "boolean",
          "title": "Whether tasks in the job can define dependencies on each other. The default is false."
        },
        "onAllTasksComplete": {
          "title": "The action the Batch service should take when all tasks in a job created under this schedule are in the completed state.",
          "description": "Note that if a job contains no tasks, then all tasks are considered complete. This option is therefore most commonly used with a Job Manager task; if you want to use automatic job termination without a Job Manager, you should initially set onAllTasksComplete to noAction and update the job properties to set onAllTasksComplete to terminateJob once you have finished adding tasks. The default is noAction.",
          "$ref": "#/definitions/OnAllTasksComplete"
        },
        "onTaskFailure": {
          "title": "The action the Batch service should take when any task fails in a job created under this schedule. A task is considered to have failed if it have failed if has a failureInfo. A failureInfo is set if the task completes with a non-zero exit code after exhausting its retry count, or if there was an error starting the task, for example due to a resource file download error.",
          "description": "The default is noAction.",
          "$ref": "#/definitions/OnTaskFailure"
        },
        "constraints": {
          "$ref": "#/definitions/JobConstraints",
          "title": "The execution constraints for jobs created under this schedule."
        },
        "jobManagerTask": {
          "$ref": "#/definitions/JobManagerTask",
          "title": "The details of a Job Manager task to be launched when a job is started under this schedule.",
          "description": "If the job does not specify a Job Manager task, the user must explicitly add tasks to the job using the Task API. If the job does specify a Job Manager task, the Batch service creates the Job Manager task when the job is created, and will try to schedule the Job Manager task before scheduling other tasks in the job."
        },
        "jobPreparationTask": {
          "$ref": "#/definitions/JobPreparationTask",
          "title": "The Job Preparation task for jobs created under this schedule.",
          "description": "If a job has a Job Preparation task, the Batch service will run the Job Preparation task on a compute node before starting any tasks of that job on that compute node."
        },
        "jobReleaseTask": {
          "$ref": "#/definitions/JobReleaseTask",
          "title": "The Job Release task for jobs created under this schedule.",
          "description": "The primary purpose of the Job Release task is to undo changes to compute nodes made by the Job Preparation task. Example activities include deleting local files, or shutting down services that were started as part of job preparation. A Job Release task cannot be specified without also specifying a Job Preparation task for the job. The Batch service runs the Job Release task on the compute nodes that have run the Job Preparation task."
        },
        "commonEnvironmentSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentSetting"
          },
          "title": "A list of common environment variable settings. These environment variables are set for all tasks in jobs created under this schedule (including the Job Manager, Job Preparation and Job Release tasks).",
          "description": "Individual tasks can override an environment setting specified here by specifying the same setting name with a different value."
        },
        "poolInfo": {
          "$ref": "#/definitions/PoolInformation",
          "title": "The pool on which the Batch service runs the tasks of jobs created under this schedule."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetadataItem"
          },
          "title": "A list of name-value pairs associated with each job created under this schedule as metadata.",
          "description": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
        }
      },
      "required": [
        "poolInfo"
      ],
      "title": "Specifies details of the jobs to be created on a schedule."
    },
    "RecentJob": {
      "properties": {
        "id": {
          "type": "string",
          "title": "The ID of the job."
        },
        "url": {
          "type": "string",
          "title": "The URL of the job."
        }
      },
      "title": "Information about the most recent job to run under the job schedule."
    },
    "JobScheduleExecutionInformation": {
      "properties": {
        "nextRunTime": {
          "type": "string",
          "format": "date-time",
          "title": "The next time at which a job will be created under this schedule.",
          "description": "This property is meaningful only if the schedule is in the active state when the time comes around. For example, if the schedule is disabled, no job will be created at nextRunTime unless the job is enabled before then."
        },
        "recentJob": {
          "$ref": "#/definitions/RecentJob",
          "title": "Information about the most recent job under the job schedule.",
          "description": "This property is present only if the at least one job has run under the schedule."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the schedule ended.",
          "description": "This property is set only if the job schedule is in the completed state."
        }
      },
      "title": "Contains information about jobs that have been and will be run under a job schedule."
    },
    "JobScheduleStatistics": {
      "properties": {
        "url": {
          "type": "string",
          "title": "The URL of the statistics."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the time range covered by the statistics."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the statistics were last updated. All statistics are limited to the range between startTime and lastUpdateTime."
        },
        "userCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total user mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in all jobs created under the schedule."
        },
        "kernelCPUTime": {
          "type": "string",
          "format": "duration",
          "title": "The total kernel mode CPU time (summed across all cores and all compute nodes) consumed by all tasks in all jobs created under the schedule."
        },
        "wallClockTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wall clock time of all the tasks in all the jobs created under the schedule.",
          "description": "The wall clock time is the elapsed time from when the task started running on a compute node to when it finished (or to the last time the statistics were updated, if the task had not finished by then). If a task was retried, this includes the wall clock time of all the task retries."
        },
        "readIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk read operations made by all tasks in all jobs created under the schedule."
        },
        "writeIOps": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of disk write operations made by all tasks in all jobs created under the schedule."
        },
        "readIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total gibibytes read from disk by all tasks in all jobs created under the schedule."
        },
        "writeIOGiB": {
          "type": "number",
          "format": "double",
          "title": "The total gibibytes written to disk by all tasks in all jobs created under the schedule."
        },
        "numSucceededTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks successfully completed during the given time range in jobs created under the schedule. A task completes successfully if it returns exit code 0."
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of tasks that failed during the given time range in jobs created under the schedule. A task fails if it exhausts its maximum retry count without returning exit code 0."
        },
        "numTaskRetries": {
          "type": "integer",
          "format": "int64",
          "title": "The total number of retries during the given time range on all tasks in all jobs created under the schedule."
        },
        "waitTime": {
          "type": "string",
          "format": "duration",
          "title": "The total wait time of all tasks in all jobs created under the schedule. The wait time for a task is defined as the elapsed time between the creation of the task and the start of task execution. (If the task is retried due to failures, the wait time is the time to the most recent task execution.)",
          "description": "This value is only reported in the account lifetime statistics; it is not included in the job statistics."
        }
      },
      "required": [
        "url",
        "startTime",
        "lastUpdateTime",
        "userCPUTime",
        "kernelCPUTime",
        "wallClockTime",
        "readIOps",
        "writeIOps",
        "readIOGiB",
        "writeIOGiB",
        "numSucceededTasks",
        "numFailedTasks",
        "numTaskRetries",
        "waitTime"
      ],
      "title": "Resource usage statistics for a job schedule."
    },
    "CloudJobSchedule": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the schedule within the account."
        },
        "displayName": {
          "type": "string",
          "title": "The display name for the schedule."
        },
        "url": {
          "type": "string",
          "title": "The URL of the job schedule."
        },
        "eTag": {
          "type": "string",
          "title": "The ETag of the job schedule.",
          "description": "This is an opaque string. You can use it to detect whether the job schedule has changed between requests. In particular, you can be pass the ETag with an Update Job Schedule request to specify that your changes should take effect only if nobody else has modified the schedule in the meantime."
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "title": "The last modified time of the job schedule.",
          "description": "This is the last time at which the schedule level data, such as the job specification or recurrence information, changed. It does not factor in job-level changes such as new jobs being created or jobs changing state."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "title": "The creation time of the job schedule."
        },
        "state": {
          "title": "The current state of the job schedule.",
          "$ref": "#/definitions/JobScheduleState"
        },
        "stateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the job schedule entered the current state."
        },
        "previousState": {
          "title": "The previous state of the job schedule.",
          "description": "This property is not present if the job schedule is in its initial active state.",
          "$ref": "#/definitions/JobScheduleState"
        },
        "previousStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the job schedule entered its previous state.",
          "description": "This property is not present if the job schedule is in its initial active state."
        },
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "title": "The schedule according to which jobs will be created."
        },
        "jobSpecification": {
          "$ref": "#/definitions/JobSpecification",
          "title": "The details of the jobs to be created on this schedule."
        },
        "executionInfo": {
          "$ref": "#/definitions/JobScheduleExecutionInformation",
          "title": "Information about jobs that have been and will be run under this schedule."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetadataItem"
          },
          "title": "A list of name-value pairs associated with the schedule as metadata.",
          "description": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
        },
        "stats": {
          "$ref": "#/definitions/JobScheduleStatistics",
          "title": "The lifetime resource usage statistics for the job schedule."
        }
      },
      "title": "A job schedule that allows recurring jobs by specifying when to run jobs and a specification used to create each job."
    },
    "JobScheduleAddParameter": {
      "properties": {
        "id": {
          "type": "string",
          "title": "A string that uniquely identifies the schedule within the account.",
          "description": "The ID can contain any combination of alphanumeric characters including hyphens and underscores, and cannot contain more than 64 characters. The ID is case-preserving and case-insensitive (that is, you may not have two IDs within an account that differ only by case)."
        },
        "displayName": {
          "type": "string",
          "title": "The display name for the schedule.",
          "description": "The display name need not be unique and can contain any Unicode characters up to a maximum length of 1024."
        },
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "title": "The schedule according to which jobs will be created."
        },
        "jobSpecification": {
          "$ref": "#/definitions/JobSpecification",
          "title": "The details of the jobs to be created on this schedule."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetadataItem"
          },
          "title": "A list of name-value pairs associated with the schedule as metadata.",
          "description": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
        }
      },
      "required": [
        "id",
        "schedule",
        "jobSpecification"
      ],
      "title": "A job schedule that allows recurring jobs by specifying when to run jobs and a specification used to create each job."
    },
    "CloudJobScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudJobSchedule"
          },
          "title": "The list of job schedules."
        },
        "odata.nextLink": {
          "type": "string",
          "title": "The URL to get the next set of results."
        }
      },
      "title": "The result of listing the job schedules in an account."
    },
    "JobSchedulingError": {
      "properties": {
        "category": {
          "title": "The category of the job scheduling error.",
          "$ref": "#/definitions/ErrorCategory"
        },
        "code": {
          "type": "string",
          "title": "An identifier for the job scheduling error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "title": "A message describing the job scheduling error, intended to be suitable for display in a user interface."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValuePair"
          },
          "title": "A list of additional error details related to the scheduling error."
        }
      },
      "required": [
        "category"
      ],
      "title": "An error encountered by the Batch service when scheduling a job."
    },
    "JobExecutionInformation": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "title": "The start time of the job.",
          "description": "This is the time at which the job was created."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "title": "The completion time of the job.",
[...]
