{
  "swagger": "2.0",
  "info": {
    "version": "2015-03-20",
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference for LinkTargets, StorageInsightConfigs and SavedSearches."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/search": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesGetSearchResults": {
            "parameters": {
              "resourceGroupName": "mms-eus",
              "workspaceName": "atlantisdemo",
              "api-version": "2015-03-02",
              "parameters": {
                "top": 25,
                "query": "*"
              },
              "subscriptionId": "00000000-0000-0000-0000-00000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "metaData": {
                    "schema": {
                      "name": "CloudOps",
                      "version": 2
                    },
                    "resultType": "schema",
                    "requestTime": 28
                  },
                  "value": [
                    {
                      "name": "TenantId",
                      "displayName": "TenantId",
                      "type": "Guid",
                      "indexed": true,
                      "stored": false,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "AzureActivity",
                        "AzureAudit",
                        "AzureMetrics",
                        "ComputerGroup",
                        "ETWEvent",
                        "Event",
                        "ExtraHopDBLogin",
                        "ExtraHopDBTransaction",
                        "ExtraHopDNSResponse",
                        "ExtraHopFTPResponse",
                        "ExtraHopHTTPTransaction",
                        "ExtraHopSMTPMessage",
                        "ExtraHopSYNScanDetect",
                        "ExtraHopTCPOpen",
                        "Heartbeat",
                        "Operation",
                        "Perf",
                        "ReservedAzureCommonFields",
                        "ReservedCommonFields",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "Syslog",
                        "Usage",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "MG",
                      "displayName": "MG",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "Event",
                        "Heartbeat",
                        "Operation",
                        "Perf",
                        "Syslog",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "SourceSystem",
                      "displayName": "SourceSystem",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "AzureActivity",
                        "AzureAudit",
                        "AzureMetrics",
                        "ComputerGroup",
                        "ETWEvent",
                        "Event",
                        "ExtraHopDBLogin",
                        "ExtraHopDBTransaction",
                        "ExtraHopDNSResponse",
                        "ExtraHopFTPResponse",
                        "ExtraHopHTTPTransaction",
                        "ExtraHopSMTPMessage",
                        "ExtraHopSYNScanDetect",
                        "ExtraHopTCPOpen",
                        "Heartbeat",
                        "Operation",
                        "Perf",
                        "ReservedAzureCommonFields",
                        "ReservedCommonFields",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "Syslog",
                        "Usage",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "Description",
                      "displayName": "Description",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TimeGenerated",
                      "displayName": "TimeGenerated",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert",
                        "AzureActivity",
                        "AzureAudit",
                        "AzureMetrics",
                        "ComputerGroup",
                        "ETWEvent",
                        "Event",
                        "ExtraHopDBLogin",
                        "ExtraHopDBTransaction",
                        "ExtraHopDNSResponse",
                        "ExtraHopFTPResponse",
                        "ExtraHopHTTPTransaction",
                        "ExtraHopSMTPMessage",
                        "ExtraHopSYNScanDetect",
                        "ExtraHopTCPOpen",
                        "Heartbeat",
                        "Operation",
                        "Perf",
                        "ReservedAzureCommonFields",
                        "ReservedCommonFields",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "Syslog",
                        "Usage",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Computer",
                      "displayName": "Computer",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert",
                        "ComputerGroup",
                        "ETWEvent",
                        "Event",
                        "Heartbeat",
                        "Operation",
                        "Perf",
                        "ReservedCommonFields",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "Syslog",
                        "Usage",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "HelpLink",
                      "displayName": "HelpLink",
                      "type": "Uri",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Operation"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertName",
                      "displayName": "AlertName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertDescription",
                      "displayName": "AlertDescription",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertState",
                      "displayName": "AlertState",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "PriorityNumber",
                      "displayName": "PriorityNumber",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "HostName",
                      "displayName": "HostName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert",
                        "Syslog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "StateType",
                      "displayName": "StateType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertSeverity",
                      "displayName": "AlertSeverity",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "SourceDisplayName",
                      "displayName": "SourceDisplayName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "QueryExecutionStartTime",
                      "displayName": "QueryExecutionStartTime",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "QueryExecutionEndTime",
                      "displayName": "QueryExecutionEndTime",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Query",
                      "displayName": "Query",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RemediationJobId",
                      "displayName": "RemediationJobId",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RemediationRunbookName",
                      "displayName": "RemediationRunbookName",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertRuleId",
                      "displayName": "AlertRuleId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertRuleInstanceId",
                      "displayName": "AlertRuleInstanceId",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ThresholdOperator",
                      "displayName": "ThresholdOperator",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ThresholdValue",
                      "displayName": "ThresholdValue",
                      "type": "Int",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "LinkToSearchResults",
                      "displayName": "LinkToSearchResults",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ServiceDeskConnectionName",
                      "displayName": "ServiceDeskConnectionName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ServiceDeskId",
                      "displayName": "ServiceDeskId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ServiceDeskWorkItemLink",
                      "displayName": "ServiceDeskWorkItemLink",
                      "type": "Uri",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ServiceDeskWorkItemType",
                      "displayName": "ServiceDeskWorkItemType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ResourceId",
                      "displayName": "ResourceId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResourceType",
                      "displayName": "ResourceType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResourceValue",
                      "displayName": "ResourceValue",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RootObjectName",
                      "displayName": "RootObjectName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ObjectDisplayName",
                      "displayName": "ObjectDisplayName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertPriority",
                      "displayName": "AlertPriority",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "SourceFullName",
                      "displayName": "SourceFullName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertId",
                      "displayName": "AlertId",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RepeatCount",
                      "displayName": "RepeatCount",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ResolvedBy",
                      "displayName": "ResolvedBy",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "LastModifiedBy",
                      "displayName": "LastModifiedBy",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TimeRaised",
                      "displayName": "TimeRaised",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TimeResolved",
                      "displayName": "TimeResolved",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TimeLastModified",
                      "displayName": "TimeLastModified",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertContext",
                      "displayName": "AlertContext",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TicketId",
                      "displayName": "TicketId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom1",
                      "displayName": "Custom1",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom2",
                      "displayName": "Custom2",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom3",
                      "displayName": "Custom3",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom4",
                      "displayName": "Custom4",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom5",
                      "displayName": "Custom5",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom6",
                      "displayName": "Custom6",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom7",
                      "displayName": "Custom7",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom8",
                      "displayName": "Custom8",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom9",
                      "displayName": "Custom9",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Custom10",
                      "displayName": "Custom10",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ManagementGroupName",
                      "displayName": "ManagementGroupName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert",
                        "Event",
                        "Heartbeat",
                        "Operation",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertUniqueId",
                      "displayName": "AlertUniqueId",
                      "type": "Guid",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertTypeDescription",
                      "displayName": "AlertTypeDescription",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertTypeNumber",
                      "displayName": "AlertTypeNumber",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertError",
                      "displayName": "AlertError",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "StatusDescription",
                      "displayName": "StatusDescription",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertStatus",
                      "displayName": "AlertStatus",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TriggerId",
                      "displayName": "TriggerId",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Url",
                      "displayName": "Url",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ValueDescription",
                      "displayName": "ValueDescription",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AlertValue",
                      "displayName": "AlertValue",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Comments",
                      "displayName": "Comments",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TemplateId",
                      "displayName": "TemplateId",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "FlagsDescription",
                      "displayName": "FlagsDescription",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Flags",
                      "displayName": "Flags",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ValueFlagsDescription",
                      "displayName": "ValueFlagsDescription",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ValueFlags",
                      "displayName": "ValueFlags",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Expression",
                      "displayName": "Expression",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Alert"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ApplicationName",
                      "displayName": "ApplicationName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "OperationName",
                      "displayName": "OperationName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "Role",
                      "displayName": "Role",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "Event",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RoleInstance",
                      "displayName": "RoleInstance",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "csUserAgent",
                      "displayName": "csUserAgent",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ApplicationTypeVersion",
                      "displayName": "ApplicationTypeVersion",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ServiceFabricOperationalEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "sPort",
                      "displayName": "sPort",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ResponseCode",
                      "displayName": "ResponseCode",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ExtraHopHTTPTransaction"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "OperationVersion",
                      "displayName": "OperationVersion",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "Category",
                      "displayName": "Category",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResultType",
                      "displayName": "ResultType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResultSignature",
                      "displayName": "ResultSignature",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResultDescription",
                      "displayName": "ResultDescription",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "DurationMs",
                      "displayName": "DurationMs",
                      "type": "BigInt",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "CallerIpAddress",
                      "displayName": "CallerIpAddress",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "CorrelationId",
                      "displayName": "CorrelationId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Operation",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "Resource",
                      "displayName": "Resource",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResourceGroup",
                      "displayName": "ResourceGroup",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ResourceProvider",
                      "displayName": "ResourceProvider",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "SubscriptionId",
                      "displayName": "SubscriptionId",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureMetrics",
                        "Heartbeat",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "RunbookName_s",
                      "displayName": "RunbookName_s",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ReservedAzureCommonFields"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "JobId_g",
                      "displayName": "JobId_g",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ReservedAzureCommonFields"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Caller_s",
                      "displayName": "Caller_s",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ReservedAzureCommonFields"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "StreamType_s",
                      "displayName": "StreamType_s",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ReservedAzureCommonFields"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RemoteIPCountry",
                      "displayName": "RemoteIPCountry",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "Heartbeat",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RemoteIPLatitude",
                      "displayName": "RemoteIPLatitude",
                      "type": "Float",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "Heartbeat",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RemoteIPLongitude",
                      "displayName": "RemoteIPLongitude",
                      "type": "Float",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "Heartbeat",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "MaliciousIP",
                      "displayName": "MaliciousIP",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "IndicatorThreatType",
                      "displayName": "IndicatorThreatType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TLPLevel",
                      "displayName": "TLPLevel",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Confidence",
                      "displayName": "Confidence",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Severity",
                      "displayName": "Severity",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics",
                        "ReservedCommonFields",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "FirstReportedDateTime",
                      "displayName": "FirstReportedDateTime",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "LastReportedDateTime",
                      "displayName": "LastReportedDateTime",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "IsActive",
                      "displayName": "IsActive",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ReportReferenceLink",
                      "displayName": "ReportReferenceLink",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AdditionalInformation",
                      "displayName": "AdditionalInformation",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "AzureMetrics",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Level",
                      "displayName": "Level",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity",
                        "ETWEvent",
                        "ReservedCommonFields",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ActivityStatus",
                      "displayName": "ActivityStatus",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ActivitySubstatus",
                      "displayName": "ActivitySubstatus",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Caller",
                      "displayName": "Caller",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "HTTPRequest",
                      "displayName": "HTTPRequest",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Properties",
                      "displayName": "Properties",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventSubmissionTimestamp",
                      "displayName": "EventSubmissionTimestamp",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Authorization",
                      "displayName": "Authorization",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "OperationId",
                      "displayName": "OperationId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "AzureActivity"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventDataId",
                      "displayName": "EventDataId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "AzureActivity",
                        "AzureAudit"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "MetricName",
                      "displayName": "MetricName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Total",
                      "displayName": "Total",
                      "type": "Double",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Count",
                      "displayName": "Count",
                      "type": "Double",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Maximum",
                      "displayName": "Maximum",
                      "type": "Double",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Minimum",
                      "displayName": "Minimum",
                      "type": "Double",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AverageValue",
                      "displayName": "Average",
                      "type": "Double",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TimeGrain",
                      "displayName": "TimeGrain",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "UnitName",
                      "displayName": "UnitName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "AzureMetrics"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "SourceIP",
                      "displayName": "SourceIP",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "ProcessName",
                      "displayName": "ProcessName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Syslog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ProcessID",
                      "displayName": "ProcessID",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Syslog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "FilePath",
                      "displayName": "FilePath",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ExtraHopFTPResponse"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Message",
                      "displayName": "Message",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "Event",
                        "ReservedCommonFields"
                      ],
                      "extraction": null,
                      "common": true
                    },
                    {
                      "name": "StartTime",
                      "displayName": "StartTime",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Usage"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EndTime",
                      "displayName": "EndTime",
                      "type": "DateTime",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Usage"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Version",
                      "displayName": "Version",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "Heartbeat"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Group",
                      "displayName": "Group",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ComputerGroup"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "GroupId",
                      "displayName": "GroupId",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ComputerGroup"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "GroupSourceName",
                      "displayName": "GroupSourceName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ComputerGroup"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "GroupSource",
                      "displayName": "GroupSource",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ComputerGroup"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "GroupFullName",
                      "displayName": "GroupFullName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ComputerGroup"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "SourceComputerId",
                      "displayName": "SourceComputerId",
                      "type": "Guid",
                      "indexed": true,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Heartbeat",
                        "Operation"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventId",
                      "displayName": "EventId",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "QueryType",
                      "displayName": "QueryType",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ExtraHopDNSResponse"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "PartitionKey",
                      "displayName": "PartitionKey",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ProviderGuid",
                      "displayName": "ProviderGuid",
                      "type": "Guid",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventSourceName",
                      "displayName": "EventSourceName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Pid",
                      "displayName": "Pid",
                      "type": "Int",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Tid",
                      "displayName": "Tid",
                      "type": "Int",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "OpcodeName",
                      "displayName": "OpcodeName",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "KeywordName",
                      "displayName": "KeywordName",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "TaskName",
                      "displayName": "TaskName",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": true,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "ChannelName",
                      "displayName": "ChannelName",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "RowKey",
                      "displayName": "RowKey",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": true,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "AzureDeploymentID",
                      "displayName": "AzureDeploymentID",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "Event",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent",
                        "W3CIISLog"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventMessage",
                      "displayName": "EventMessage",
                      "type": "String",
                      "indexed": false,
                      "stored": true,
                      "facet": false,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "ETWEvent",
                        "ServiceFabricOperationalEvent",
                        "ServiceFabricReliableActorEvent",
                        "ServiceFabricReliableServiceEvent"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "Source",
                      "displayName": "Source",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Event"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventLog",
                      "displayName": "EventLog",
                      "type": "String",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Event"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventCategory",
                      "displayName": "EventCategory",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Event"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventLevel",
                      "displayName": "EventLevel",
                      "type": "Int",
                      "indexed": true,
                      "stored": true,
                      "facet": true,
                      "hidden": false,
                      "display": false,
                      "ownerType": [
                        "Event"
                      ],
                      "extraction": null,
                      "common": false
                    },
                    {
                      "name": "EventLevelName",
                      "displayName": "EventLevelName",
                      "type": "String",
[...]
