{
  "swagger": "2.0",
  "info": {
    "version": "2018-05-01",
    "x-ms-code-generation-settings": {
      "name": "MapsManagementClient"
    },
    "title": "Azure Maps Resource Provider",
    "description": "Resource Provider"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey": {
      "post": {
        "description": "Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.",
        "operationId": "Accounts_RegenerateKeys",
        "x-ms-examples": {
          "RegenerateKey": {
            "parameters": {
              "api-version": "2018-05-01",
              "subscriptionId": "21a9967a-e8a9-4656-a70b-96ff1c4d05a0",
              "resourceGroupName": "myResourceGroup",
              "accountName": "myMapsAccount",
              "keySpecification": {
                "keyType": "primary"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount",
                  "primaryKey": "uj0yqjjz8zG3IOSWvb_smi1q1QenGtupAqrOA1zCO6s",
                  "secondaryKey": "cJHpmUGNaGGO8H59p6NKGhfff9VjD278-2bi5wo0_mU"
                }
              },
              "404": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "keySpecification",
            "in": "body",
            "required": true,
            "description": "Which key to regenerate:  primary or secondary.",
            "schema": {
              "$ref": "#/definitions/MapsKeySpecification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccountKeys"
            }
          },
          "404": {
            "description": "The specified Account does not exist."
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Regenerate Keys"
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the Azure Resource Group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the Maps Account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Maps API",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "If available, the component generating the error."
        },
        "details": {
          "type": "array",
          "readOnly": true,
          "description": "If available, a list of additional details about the error.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "readOnly": true,
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "readOnly": true,
                "description": "If available, a human readable description of the error."
              },
              "target": {
                "type": "string",
                "readOnly": true,
                "description": "If available, the component generating the error."
              }
            }
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified Maps Account resource identifier."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Maps Account, which is unique within a Resource Group."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Azure resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "MapsAccount": {
      "description": "An Azure resource which represents access to a suite of Maps REST APIs.",
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "readOnly": true,
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "MapsAccountCreateParameters": {
      "description": "Parameters used to create a new Maps Account.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      },
      "required": [
        "location",
        "sku"
      ]
    },
    "MapsAccountUpdateParameters": {
      "description": "Parameters used to update an existing Maps Account.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "MapsAccounts": {
      "description": "A list of Maps Accounts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "a Maps Account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/MapsAccount"
          }
        }
      }
    },
    "Sku": {
      "description": "The SKU of the Maps Account.",
      "properties": {
        "name": {
          "description": "The name of the SKU, in standard format (such as S0).",
          "type": "string"
        },
        "tier": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the sku tier. This is based on the SKU name."
        }
      },
      "required": [
        "name"
      ]
    },
    "MapsAccountsMoveRequest": {
      "description": "The description of what resources to move between resource groups.",
      "type": "object",
      "required": [
        "targetResourceGroup",
        "resourceIds"
      ],
      "properties": {
        "targetResourceGroup": {
          "type": "string",
          "description": "The name of the destination resource group."
        },
        "resourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of resource names to move from the source resource group."
        }
      }
    },
    "MapsKeySpecification": {
      "description": "Whether the operation refers to the primary or secondary key.",
      "type": "object",
      "required": [
        "keyType"
      ],
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": true
          },
          "description": "Whether the operation refers to the primary or secondary key."
        }
      }
    },
    "MapsAccountKeys": {
      "description": "The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The full Azure resource identifier of the Maps Account."
        },
        "primaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The primary key for accessing the Maps REST APIs."
        },
        "secondaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The secondary key for accessing the Maps REST APIs."
        }
      }
    },
    "MapsOperations": {
      "description": "The set of operations available for Maps.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An operation available for Maps.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "readOnly": true,
                "description": "Operation name: {provider}/{resource}/{operation}."
              },
              "display": {
                "description": "The human-readable description of the operation.",
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Service provider: Microsoft Maps."
                  },
                  "resource": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource on which the operation is performed."
                  },
                  "operation": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The action that users can perform, based on their permission level."
                  },
                  "description": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The description of the operation."
                  }
                }
              },
              "origin": {
                "type": "string",
                "readOnly": true,
                "description": "The origin of the operation."
              }
            }
          }
        }
      }
    }
  },
  "x-internal-service-id": "maps-management",
  "x-internal-service-name": "Maps Management",
  "x-internal-toc-name": "Accounts",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "RegenerateKeys",
  "x-internal-operation-name": "Regenerate Keys"
}