{
  "swagger": "2.0",
  "info": {
    "version": "2019-04-01",
    "title": "Azure Resource Graph",
    "description": "Azure Resource Graph API Reference"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ResourceGraph/resources": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources",
        "description": "Queries the resources managed by Azure Resource Manager for all subscriptions specified in the request.",
        "externalDocs": {
          "description": "Learn more about the query syntax here",
          "url": "https://aka.ms/resource-graph/learntoquery"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryRequest"
            },
            "description": "Request specifying query and its options."
          }
        ],
        "responses": {
          "200": {
            "description": "Result of the query operation",
            "schema": {
              "$ref": "#/definitions/QueryResponse"
            }
          },
          "default": {
            "description": "An error occurred while processing the request. See the error.code parameter to identify the specific error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Basic query": {
            "title": "Basic Query",
            "description": "A simple resources query.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "project id, name, type, location, tags | limit 3"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 3,
                  "count": 3,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      },
                      {
                        "name": "tags",
                        "type": "object"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG1/providers/Microsoft.Network/networkInterfaces/myNetworkInterface",
                        "myNetworkInterface",
                        "microsoft.network/networkinterfaces",
                        "centralus",
                        {
                          "tag1": "Value1"
                        }
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Network/virtualNetworks/myVnet",
                        "myVnet",
                        "microsoft.network/virtualnetworks",
                        "westus",
                        {}
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Network/publicIPAddresses/myPublicIp",
                        "myPublicIp",
                        "microsoft.network/publicipaddresses",
                        "westus",
                        {}
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Filter resources": {
            "title": "Filter query",
            "description": "A filtering query on resources.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "project id, name, type, location | where type =~ 'Microsoft.Compute/virtualMachines' | limit 3"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 3,
                  "count": 3,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG1/providers/Microsoft.Compute/virtualMachines/myVm1",
                        "myVm1",
                        "microsoft.compute/virtualmachines",
                        "centralus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Compute/virtualMachines/myVirtualMachine",
                        "myVirtualMachine",
                        "microsoft.compute/virtualmachines",
                        "eastus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG3/providers/Microsoft.Compute/virtualMachines/testVm",
                        "testVm",
                        "microsoft.compute/virtualmachines",
                        "eastus"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Summarize resources by location": {
            "title": "Summarize Query",
            "description": "A summarizing query on resources.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "project id, name, type, location | summarize by location"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 3,
                  "count": 3,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "centralus"
                      ],
                      [
                        "eastus"
                      ],
                      [
                        "westus"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Complex query": {
            "title": "Complex Query",
            "description": "A complex query on resources featuring multiple operations.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "project id, name, type, location | where type =~ 'Microsoft.Compute/virtualMachines' | summarize count() by location | top 3 by count_"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 3,
                  "count": 3,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "location",
                        "type": "string"
                      },
                      {
                        "name": "count_",
                        "type": "integer"
                      }
                    ],
                    "rows": [
                      [
                        "centralus",
                        11
                      ],
                      [
                        "eastus",
                        11
                      ],
                      [
                        "southcentralus",
                        3
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Access a properties field": {
            "title": "Properties Query",
            "description": "A query accessing one of the resource properties.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where type =~ 'Microsoft.Compute/virtualMachines' | summarize count() by tostring(properties.storageProfile.osDisk.osType)"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 2,
                  "count": 2,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "properties_storageProfile_osDisk_osType",
                        "type": "string"
                      },
                      {
                        "name": "count_",
                        "type": "integer"
                      }
                    ],
                    "rows": [
                      [
                        "Linux",
                        7
                      ],
                      [
                        "Windows",
                        23
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Access a properties field through alias": {
            "title": "Alias Query",
            "description": "A query accessing one of the resource properties through [alias](https://docs.microsoft.com/en-us/azure/azure-policy/policy-definition#aliases).",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where type =~ 'Microsoft.Web/serverFarms' | extend skuName = tostring(aliases['Microsoft.Web/serverfarms/sku.name']) | summarize count() by skuName"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 3,
                  "count": 3,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "skuName",
                        "type": "string"
                      },
                      {
                        "name": "count_",
                        "type": "integer"
                      }
                    ],
                    "rows": [
                      [
                        "S2",
                        1
                      ],
                      [
                        "Y1",
                        3
                      ],
                      [
                        "S1",
                        1
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Query with a facet request": {
            "title": "Facet Query",
            "description": "A query on resources requesting extra facets.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where type =~ 'Microsoft.Compute/virtualMachines' | project id, name, location, resourceGroup, properties.storageProfile.osDisk.osType | limit 5",
                "facets": [
                  {
                    "expression": "location",
                    "options": {
                      "sortOrder": "desc",
                      "$top": 3
                    }
                  },
                  {
                    "expression": "properties.storageProfile.osDisk.osType",
                    "options": {
                      "sortOrder": "desc",
                      "$top": 3
                    }
                  },
                  {
                    "expression": "nonExistingColumn",
                    "options": {
                      "sortOrder": "desc",
                      "$top": 3
                    }
                  },
                  {
                    "expression": "resourceGroup",
                    "options": {
                      "sortBy": "tolower(resourceGroup)",
                      "sortOrder": "asc",
                      "$top": 3
                    }
                  },
                  {
                    "expression": "resourceGroup",
                    "options": {
                      "filter": "resourceGroup contains 'test'",
                      "$top": 3
                    }
                  }
                ]
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 5,
                  "count": 5,
                  "resultTruncated": "false",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      },
                      {
                        "name": "resourceGroup",
                        "type": "string"
                      },
                      {
                        "name": "properties_storageProfile_osDisk_osType",
                        "type": "object"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/B-TEST-RG/providers/Microsoft.Compute/virtualMachines/myTestVm",
                        "myTestVm",
                        "eastus",
                        "B-TEST-RG",
                        "Windows"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/c-rg/providers/Microsoft.Compute/virtualMachines/myTestAccountVm",
                        "myTestAccountVm",
                        "westcentralus",
                        "c-rg",
                        "Windows"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/I-RG/providers/Microsoft.Compute/virtualMachines/yetanothertest",
                        "yetanothertest",
                        "eastus",
                        "I-RG",
                        "Linux"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/x-test-rg/providers/Microsoft.Compute/virtualMachines/drafttest1bux4cv7a7q3aw",
                        "drafttest1bux4cv7a7q3aw",
                        "southcentralus",
                        "x-test-rg",
                        "Linux"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/y-rg/providers/Microsoft.Compute/virtualMachines/testvmntp25370",
                        "testvmntp25370",
                        "eastus",
                        "y-rg",
                        "Windows"
                      ]
                    ]
                  },
                  "facets": [
                    {
                      "expression": "location",
                      "resultType": "FacetResult",
                      "totalRecords": 3,
                      "count": 3,
                      "data": {
                        "columns": [
                          {
                            "name": "location",
                            "type": "string"
                          },
                          {
                            "name": "count",
                            "type": "integer"
                          }
                        ],
                        "rows": [
                          [
                            "eastus",
                            3
                          ],
                          [
                            "southcentralus",
                            1
                          ],
                          [
                            "westcentralus",
                            1
                          ]
                        ]
                      }
                    },
                    {
                      "expression": "properties.storageProfile.osDisk.osType",
                      "resultType": "FacetResult",
                      "totalRecords": 2,
                      "count": 2,
                      "data": {
                        "columns": [
                          {
                            "name": "properties_storageProfile_osDisk_osType",
                            "type": "string"
                          },
                          {
                            "name": "count",
                            "type": "integer"
                          }
                        ],
                        "rows": [
                          [
                            "Linux",
                            2
                          ],
                          [
                            "Windows",
                            3
                          ]
                        ]
                      }
                    },
                    {
                      "expression": "nonExistingColumn",
                      "resultType": "FacetError",
                      "errors": [
                        {
                          "code": "NoValidColumns",
                          "message": "No valid columns in facet expression."
                        },
                        {
                          "code": "InvalidColumnNames",
                          "message": "Invalid column names: [nonExistingColumn]."
                        }
                      ]
                    },
                    {
                      "expression": "resourceGroup",
                      "resultType": "FacetResult",
                      "totalRecords": 5,
                      "count": 3,
                      "data": {
                        "columns": [
                          {
                            "name": "resourceGroup",
                            "type": "string"
                          },
                          {
                            "name": "count",
                            "type": "integer"
                          }
                        ],
                        "rows": [
                          [
                            "B-TEST-RG",
                            1
                          ],
                          [
                            "c-rg",
                            1
                          ],
                          [
                            "I-RG",
                            1
                          ]
                        ]
                      }
                    },
                    {
                      "expression": "resourceGroup",
                      "resultType": "FacetResult",
                      "totalRecords": 2,
                      "count": 2,
                      "data": {
                        "columns": [
                          {
                            "name": "resourceGroup",
                            "type": "string"
                          },
                          {
                            "name": "count",
                            "type": "integer"
                          }
                        ],
                        "rows": [
                          [
                            "B-TEST-RG",
                            1
                          ],
                          [
                            "x-test-rg",
                            1
                          ]
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "Query options": {
            "title": "Query options",
            "description": "A query on resources specifying paging and max rows through query options",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where name contains 'test' | project id, name, type, location",
                "options": {
                  "$top": 3,
                  "$skip": 10
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 386,
                  "count": 3,
                  "resultTruncated": "false",
                  "$skipToken": "eyAibm8yIjogImx1Y2syIiwgImJ1dDIiOiAibmljZTIiLCAidHJ5MiI6ICIhIiB9",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG4/providers/Microsoft.Compute/disks/yetanothertest_OsDisk_1_f396cbcb625a457bb69fe2abf5975820",
                        "yetanothertest_OsDisk_1_f396cbcb625a457bb69fe2abf5975820",
                        "microsoft.compute/disks",
                        "eastus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG5/providers/Microsoft.Automation/automationAccounts/TestAA",
                        "TestAA",
                        "microsoft.automation/automationaccounts",
                        "westcentralus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG5/providers/Microsoft.Automation/automationAccounts/TestAA/runbooks/TestRB",
                        "TestRB",
                        "microsoft.automation/automationaccounts/runbooks",
                        "westcentralus"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "First page query": {
            "title": "First page query",
            "description": "A query requesting a first page with of results. Please note id field is required in the response to return the pages in stable sorted fashion.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where name contains 'test' | project id, name, type, location",
                "options": {
                  "$top": 3,
                  "$skip": 0
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 386,
                  "count": 3,
                  "resultTruncated": "false",
                  "$skipToken": "eyAibm8iOiAibHVjayIsICJidXQiOiAibmljZSIsICJ0cnkiOiAiISIgfQ==",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG1/providers/Microsoft.Compute/disks/yetanothertest_OsDisk_1_f396cbcb625a457bb69fe2abf5975820",
                        "yetanothertest_OsDisk_1_f396cbcb625a457bb69fe2abf5975820",
                        "microsoft.compute/disks",
                        "eastus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Automation/automationAccounts/TestAA",
                        "TestAA",
                        "microsoft.automation/automationaccounts",
                        "westcentralus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Automation/automationAccounts/TestAA/runbooks/TestRB",
                        "TestRB",
                        "microsoft.automation/automationaccounts/runbooks",
                        "westcentralus"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Next page query": {
            "title": "Next page query",
            "description": "A query on resources requesting the next page using skip token. Please note id field is required in the response to return the pages in stable sorted fashion.",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where name contains 'test' | project id, name, type, location",
                "options": {
                  "$skipToken": "eyAibm8iOiAibHVjayIsICJidXQiOiAibmljZSIsICJ0cnkiOiAiISIgfQ=="
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 386,
                  "count": 3,
                  "resultTruncated": "false",
                  "$skipToken": "eyAibm8yIjogImx1Y2syIiwgImJ1dDIiOiAibmljZTIiLCAidHJ5MiI6ICIhIiB9",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG1/providers/Microsoft.Compute/disks/second_OsDisk_dddddbcb625a457bb69fe2abf5975820",
                        "second_OsDisk_dddddbcb625a457bb69fe2abf5975820",
                        "microsoft.compute/disks",
                        "eastus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Automation/automationAccounts/AATest",
                        "AATest",
                        "microsoft.automation/automationaccounts",
                        "westcentralus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Automation/automationAccounts/TestAA/runbooks/RBTest",
                        "RBTest",
                        "microsoft.automation/automationaccounts/runbooks",
                        "westcentralus"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "Random page query": {
            "title": "Random page query",
            "description": "A query on resources requesting the random page using skip token, top and skip overrides",
            "parameters": {
              "api-version": "2019-04-01",
              "query": {
                "subscriptions": [
                  "cfbbd179-59d2-4052-aa06-9270a38aa9d6"
                ],
                "query": "where name contains 'test' | project id, name, type, location",
                "options": {
                  "$skipToken": "eyAibm8iOiAibHVjayIsICJidXQiOiAibmljZSIsICJ0cnkiOiAiISIgfQ==",
                  "$top": 2,
                  "$skip": 10
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "totalRecords": 386,
                  "count": 2,
                  "resultTruncated": "false",
                  "$skipToken": "eyAibm8yIjogImx1Y2syIiwgImJ1dDIiOiAibmljZTIiLCAidHJ5MiI6ICIhIiB9",
                  "data": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "string"
                      },
                      {
                        "name": "name",
                        "type": "string"
                      },
                      {
                        "name": "type",
                        "type": "string"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      }
                    ],
                    "rows": [
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG1/providers/Microsoft.Compute/disks/third_OsDisk_dddddbcb625a457bb69fe2abf5975820",
                        "third_OsDisk_dddddbcb625a457bb69fe2abf5975820",
                        "microsoft.compute/disks",
                        "eastus"
                      ],
                      [
                        "/subscriptions/cfbbd179-59d2-4052-aa06-9270a38aa9d6/resourceGroups/RG2/providers/Microsoft.Automation/automationAccounts/CCTest",
                        "CCTest",
                        "microsoft.automation/automationaccounts",
                        "westcentralus"
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Resources"
      }
    }
  },
  "definitions": {
    "QueryRequest": {
      "description": "Describes a query to be executed.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "Azure subscriptions against which to execute the query.",
          "type": "array",
          "items": {
            "type": "string",
            "description": "Subscription Id."
          }
        },
        "query": {
          "description": "The resources query.",
          "type": "string"
        },
        "options": {
          "description": "The query evaluation options",
          "$ref": "#/definitions/QueryRequestOptions"
        },
        "facets": {
          "description": "An array of facet requests to be computed against the query result.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetRequest"
          }
        }
      },
      "required": [
        "subscriptions",
        "query"
      ]
    },
    "QueryRequestOptions": {
      "description": "The options for query evaluation",
      "properties": {
        "$skipToken": {
          "description": "Continuation token for pagination, capturing the next page size and offset, as well as the context of the query.",
          "type": "string"
        },
        "$top": {
          "description": "The maximum number of rows that the query should return. Overrides the page size when ```$skipToken``` property is present.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000
        },
        "$skip": {
          "description": "The number of rows to skip from the beginning of the results. Overrides the next page offset when ```$skipToken``` property is present.",
          "type": "integer",
          "format": "int32",
          "minimum": 0
        },
        "resultFormat": {
          "description": "Defines in which format query result returned.",
          "type": "string",
          "enum": [
            "table",
            "objectArray"
          ],
          "x-ms-enum": {
            "name": "ResultFormat",
            "modelAsString": false
          }
        }
      }
    },
    "FacetRequest": {
      "description": "A request to compute additional statistics (facets) over the query results.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "The column or list of columns to summarize by",
          "type": "string"
        },
        "options": {
          "description": "The options for facet evaluation",
          "$ref": "#/definitions/FacetRequestOptions"
        }
      },
      "required": [
        "expression"
      ]
    },
    "FacetRequestOptions": {
      "description": "The options for facet evaluation",
      "properties": {
        "sortBy": {
          "description": "The column name or query expression to sort on. Defaults to count if not present.",
          "type": "string"
        },
        "sortOrder": {
          "description": "The sorting order by the selected column (count by default).",
          "type": "string",
          "default": "desc",
          "enum": [
            "asc",
            "desc"
          ],
          "x-ms-enum": {
            "name": "FacetSortOrder",
            "modelAsString": false
          }
        },
        "filter": {
          "description": "Specifies the filter condition for the 'where' clause which will be run on main query's result, just before the actual faceting.",
          "type": "string"
        },
        "$top": {
          "description": "The maximum number of facet rows that should be returned.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "QueryResponse": {
      "description": "Query result.",
      "type": "object",
      "properties": {
        "totalRecords": {
          "description": "Number of total records matching the query.",
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "description": "Number of records returned in the current response. In the case of paging, this is the number of records in the current page.",
          "type": "integer",
          "format": "int64"
        },
        "resultTruncated": {
          "description": "Indicates whether the query results are truncated.",
          "type": "string",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "name": "ResultTruncated",
            "modelAsString": false
          }
        },
        "$skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and subscriptions used in the current request) to retrieve the next page of data.",
          "type": "string"
        },
        "data": {
          "description": "Query output in tabular format."
        },
        "facets": {
          "description": "Query facets.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Facet"
          }
        }
      },
      "required": [
        "totalRecords",
        "count",
        "resultTruncated",
        "data"
      ]
    },
    "Table": {
      "description": "Query output in tabular format.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Query result column descriptors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Column",
            "description": "Column descriptor."
          }
        },
        "rows": {
          "description": "Query result rows.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Row",
            "description": "Query result row."
          }
        }
      },
      "required": [
        "columns",
        "rows"
      ]
    },
    "Column": {
      "description": "Query result column descriptor.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Column name.",
          "type": "string"
        },
        "type": {
          "description": "Column data type.",
          "$ref": "#/definitions/ColumnDataType"
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "ColumnDataType": {
      "description": "Data type of a column in a table.",
      "type": "string",
      "enum": [
        "string",
        "integer",
        "number",
        "boolean",
        "object"
      ],
      "x-ms-enum": {
        "name": "ColumnDataType",
        "modelAsString": false
      }
    },
    "Row": {
      "description": "Query result row.",
      "type": "array",
      "items": {
        "type": "object",
        "description": "Cell value."
      }
    },
    "Facet": {
      "description": "A facet containing additional statistics on the response of a query. Can be either FacetResult or FacetError.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Facet expression, same as in the corresponding facet request.",
          "type": "string"
        },
        "resultType": {
          "description": "Result type",
          "type": "string"
        }
      },
      "required": [
        "expression",
        "resultType"
      ],
      "discriminator": "resultType"
    },
    "FacetResult": {
      "x-ms-discriminator-value": "FacetResult",
      "description": "Successfully executed facet containing additional statistics on the response of a query.",
      "type": "object",
      "properties": {
        "totalRecords": {
          "description": "Number of total records in the facet results.",
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "description": "Number of records returned in the facet response.",
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "description": "A table containing the desired facets. Only present if the facet is valid."
        }
      },
      "required": [
        "totalRecords",
        "count",
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Facet"
        }
      ]
    },
    "FacetError": {
      "x-ms-discriminator-value": "FacetError",
      "description": "A facet whose execution resulted in an error.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "An array containing detected facet errors with details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      },
      "required": [
        "errors"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Facet"
        }
      ]
    },
    "ErrorResponse": {
      "title": "Error response.",
      "type": "object",
      "description": "An error response from the API.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error",
          "description": "Error information."
        }
      },
      "required": [
        "error"
      ]
    },
    "Error": {
      "title": "Error info.",
      "type": "object",
      "description": "Error details.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code identifying the specific error."
        },
        "message": {
          "type": "string",
          "description": "A human readable error message."
        },
        "details": {
          "type": "array",
          "description": "Error details",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorDetails": {
      "title": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code identifying the specific error."
        },
        "message": {
          "type": "string",
          "description": "A human readable error message."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "code",
        "message"
      ]
    },
    "OperationListResult": {
      "description": "Result of the request to list Resource Graph operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Resource Graph operations supported by the Resource Graph resource provider."
        }
      }
    },
    "Operation": {
      "description": "Resource Graph REST API operation definition.",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft Resource Graph.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed etc.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description for the operation.",
              "type": "string"
            }
          }
        },
        "origin": {
          "type": "string",
          "description": "The origin of operations."
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "API version."
    }
  },
  "x-internal-service-id": "azureresourcegraph",
  "x-internal-service-name": "Azure Resource Graph",
  "x-internal-toc-name": "Resources",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Resources",
  "x-internal-operation-name": "Resources"
}