{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_ListByAutomationAccount",
        "description": "Retrieve a list of connections.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "x-ms-examples": {
          "List connections by automation account, first 100": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount28",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection",
                      "name": "myConnection",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:29.29+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:33.617+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection0",
                      "name": "myConnection0",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:36.493+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:36.493+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection1",
                      "name": "myConnection1",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:36.76+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:36.76+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection10",
                      "name": "myConnection10",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:39.117+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:39.117+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection100",
                      "name": "myConnection100",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:04.527+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:04.527+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection101",
                      "name": "myConnection101",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:04.777+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:04.777+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection102",
                      "name": "myConnection102",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:05.027+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:05.027+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection103",
                      "name": "myConnection103",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:05.277+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:05.277+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection104",
                      "name": "myConnection104",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:05.527+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:05.527+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection105",
                      "name": "myConnection105",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:05.82+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:05.82+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection106",
                      "name": "myConnection106",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:06.07+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:06.07+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection107",
                      "name": "myConnection107",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:06.37+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:06.37+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection108",
                      "name": "myConnection108",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:06.62+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:06.62+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection109",
                      "name": "myConnection109",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:06.87+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:06.87+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection11",
                      "name": "myConnection11",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:39.367+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:39.367+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection110",
                      "name": "myConnection110",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:07.167+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:07.167+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection111",
                      "name": "myConnection111",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:07.463+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:07.463+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection112",
                      "name": "myConnection112",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:07.73+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:07.73+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection113",
                      "name": "myConnection113",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:07.963+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:07.963+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection114",
                      "name": "myConnection114",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:08.213+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:08.213+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection115",
                      "name": "myConnection115",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:08.527+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:08.527+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection116",
                      "name": "myConnection116",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:08.76+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:08.76+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection117",
                      "name": "myConnection117",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:09.103+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:09.103+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection118",
                      "name": "myConnection118",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:09.37+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:09.37+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection119",
                      "name": "myConnection119",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:09.65+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:09.65+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection12",
                      "name": "myConnection12",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:39.617+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:39.617+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection120",
                      "name": "myConnection120",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:09.883+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:09.883+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection121",
                      "name": "myConnection121",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:10.167+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:10.167+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection122",
                      "name": "myConnection122",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:10.43+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:10.43+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection123",
                      "name": "myConnection123",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:10.68+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:10.68+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection124",
                      "name": "myConnection124",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:10.93+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:10.93+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection125",
                      "name": "myConnection125",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:11.18+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:11.18+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection126",
                      "name": "myConnection126",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:11.43+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:11.43+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection127",
                      "name": "myConnection127",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:11.667+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:11.667+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection128",
                      "name": "myConnection128",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:11.917+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:11.917+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection129",
                      "name": "myConnection129",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:12.18+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:12.18+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection13",
                      "name": "myConnection13",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:39.883+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:39.883+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection130",
                      "name": "myConnection130",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:12.43+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:12.43+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection131",
                      "name": "myConnection131",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:12.667+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:12.667+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection132",
                      "name": "myConnection132",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:12.917+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:12.917+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection133",
                      "name": "myConnection133",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:13.213+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:13.213+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection134",
                      "name": "myConnection134",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:13.463+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:13.463+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection135",
                      "name": "myConnection135",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:13.73+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:13.73+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection136",
                      "name": "myConnection136",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:14.01+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:14.01+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection137",
                      "name": "myConnection137",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:14.29+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:14.29+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection138",
                      "name": "myConnection138",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:14.54+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:14.54+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection139",
                      "name": "myConnection139",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:14.807+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:14.807+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection14",
                      "name": "myConnection14",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:40.133+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:40.133+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection140",
                      "name": "myConnection140",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:15.057+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:15.057+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection141",
                      "name": "myConnection141",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:15.307+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:15.307+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection142",
                      "name": "myConnection142",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:15.603+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:15.603+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection143",
                      "name": "myConnection143",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:15.853+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:15.853+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection144",
                      "name": "myConnection144",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:16.12+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:16.12+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection145",
                      "name": "myConnection145",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:16.37+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:16.37+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection146",
                      "name": "myConnection146",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:16.633+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:16.633+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection147",
                      "name": "myConnection147",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:16.9+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:16.9+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection148",
                      "name": "myConnection148",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:17.167+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:17.167+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection149",
                      "name": "myConnection149",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:17.43+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:17.43+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection15",
                      "name": "myConnection15",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:40.37+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:40.37+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection150",
                      "name": "myConnection150",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:17.68+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:17.68+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection151",
                      "name": "myConnection151",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:17.963+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:17.963+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection152",
                      "name": "myConnection152",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:18.527+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:18.527+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection153",
                      "name": "myConnection153",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:18.79+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:18.79+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection154",
                      "name": "myConnection154",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:19.073+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:19.073+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection155",
                      "name": "myConnection155",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:19.353+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:19.353+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection156",
                      "name": "myConnection156",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:19.68+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:19.68+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection157",
                      "name": "myConnection157",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:19.93+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:19.93+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection158",
                      "name": "myConnection158",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:20.243+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:20.243+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection159",
                      "name": "myConnection159",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:20.557+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:20.557+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection16",
                      "name": "myConnection16",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:40.62+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:40.62+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection160",
                      "name": "myConnection160",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:20.823+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:20.823+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection161",
                      "name": "myConnection161",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:21.15+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:21.15+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection162",
                      "name": "myConnection162",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:21.417+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:21.417+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection163",
                      "name": "myConnection163",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:21.65+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:21.65+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection164",
                      "name": "myConnection164",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:21.993+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:21.993+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection165",
                      "name": "myConnection165",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:22.323+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:22.323+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection166",
                      "name": "myConnection166",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:22.68+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:22.68+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection167",
                      "name": "myConnection167",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:23.057+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:23.057+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection168",
                      "name": "myConnection168",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:23.417+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:23.417+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection169",
                      "name": "myConnection169",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:23.697+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:23.697+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection17",
                      "name": "myConnection17",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:40.87+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:40.87+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection170",
                      "name": "myConnection170",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:23.963+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:23.963+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection171",
                      "name": "myConnection171",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:24.243+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:24.243+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection172",
                      "name": "myConnection172",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:24.51+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:24.51+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection173",
                      "name": "myConnection173",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:24.777+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:24.777+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection174",
                      "name": "myConnection174",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:25.057+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:25.057+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection175",
                      "name": "myConnection175",
                      "properties": {
                        "creationTime": "2017-03-27T07:53:25.34+00:00",
                        "lastModifiedTime": "2017-03-27T07:53:25.34+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection18",
                      "name": "myConnection18",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:41.197+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:41.197+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection19",
                      "name": "myConnection19",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:41.57+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:41.57+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection2",
                      "name": "myConnection2",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:37.01+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:37.01+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection20",
                      "name": "myConnection20",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:41.913+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:41.913+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection21",
                      "name": "myConnection21",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:42.273+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:42.273+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection22",
                      "name": "myConnection22",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:42.663+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:42.663+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection23",
                      "name": "myConnection23",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:42.993+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:42.993+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection24",
                      "name": "myConnection24",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:43.26+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:43.26+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection25",
                      "name": "myConnection25",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:43.587+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:43.587+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection26",
                      "name": "myConnection26",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:43.87+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:43.87+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection27",
                      "name": "myConnection27",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:44.227+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:44.227+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection28",
                      "name": "myConnection28",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:44.557+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:44.557+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection29",
                      "name": "myConnection29",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:44.807+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:44.807+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    }
                  ],
                  "nextLink": "https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections?api-version=2015-10-31&$skip=100"
                }
              }
            }
          },
          "List connections by automation account, next 100": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount28",
              "api-version": "2015-10-31",
              "skip": "100"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection3",
                      "name": "myConnection3",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:37.29+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:37.29+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection30",
                      "name": "myConnection30",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:45.04+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:45.04+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection31",
                      "name": "myConnection31",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:45.307+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:45.307+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection32",
                      "name": "myConnection32",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:45.557+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:45.557+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection33",
                      "name": "myConnection33",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:45.853+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:45.853+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection34",
                      "name": "myConnection34",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:46.087+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:46.087+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection35",
                      "name": "myConnection35",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:46.353+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:46.353+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection36",
                      "name": "myConnection36",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:46.603+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:46.603+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection37",
                      "name": "myConnection37",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:46.853+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:46.853+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection38",
                      "name": "myConnection38",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:47.103+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:47.103+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection39",
                      "name": "myConnection39",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:47.353+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:47.353+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection4",
                      "name": "myConnection4",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:37.54+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:37.54+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection40",
                      "name": "myConnection40",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:47.62+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:47.62+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection41",
                      "name": "myConnection41",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:47.883+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:47.883+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection42",
                      "name": "myConnection42",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:48.167+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:48.167+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection43",
                      "name": "myConnection43",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:48.43+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:48.43+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection44",
                      "name": "myConnection44",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:48.82+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:48.82+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection45",
                      "name": "myConnection45",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:49.18+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:49.18+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection46",
                      "name": "myConnection46",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:49.477+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:49.477+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection47",
                      "name": "myConnection47",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:49.773+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:49.773+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection48",
                      "name": "myConnection48",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:50.197+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:50.197+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection49",
                      "name": "myConnection49",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:50.603+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:50.603+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection5",
                      "name": "myConnection5",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:37.79+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:37.79+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection50",
                      "name": "myConnection50",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:50.837+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:50.837+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection51",
                      "name": "myConnection51",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:51.087+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:51.087+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection52",
                      "name": "myConnection52",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:51.337+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:51.337+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection53",
                      "name": "myConnection53",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:51.587+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:51.587+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection54",
                      "name": "myConnection54",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:51.87+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:51.87+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection55",
                      "name": "myConnection55",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:52.15+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:52.15+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection56",
                      "name": "myConnection56",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:52.4+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:52.4+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection57",
                      "name": "myConnection57",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:52.667+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:52.667+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection58",
                      "name": "myConnection58",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:52.917+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:52.917+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection59",
                      "name": "myConnection59",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:53.167+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:53.167+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection6",
                      "name": "myConnection6",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:38.103+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:38.103+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection60",
                      "name": "myConnection60",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:53.463+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:53.463+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection61",
                      "name": "myConnection61",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:53.727+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:53.727+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection62",
                      "name": "myConnection62",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:54.01+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:54.01+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection63",
                      "name": "myConnection63",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:54.273+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:54.273+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection64",
                      "name": "myConnection64",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:54.523+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:54.523+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection65",
                      "name": "myConnection65",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:54.807+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:54.807+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection66",
                      "name": "myConnection66",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:55.103+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:55.103+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection67",
                      "name": "myConnection67",
                      "properties": {
                        "creationTime": "2017-03-27T07:52:55.37+00:00",
                        "lastModifiedTime": "2017-03-27T07:52:55.37+00:00",
                        "description": null,
                        "fieldDefinitionValues": null,
                        "connectionType": {
                          "name": "Azure"
                        }
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection68",
[...]
