{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "InfrastructureInsightsManagementClient",
    "description": "Alert operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}": {
      "put": {
        "x-ms-examples": {
          "Closes the given alert.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local",
              "alertName": "ca55be03-9be9-4deb-8467-e890ab1d116b",
              "alert": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/ca55be03-9be9-4deb-8467-e890ab1d116b",
                "name": "ca55be03-9be9-4deb-8467-e890ab1d116b",
                "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/alerts",
                "location": "local",
                "tags": {},
                "properties": {
                  "state": "Closed",
                  "closedByUserAlias": "ciserviceadmin@msazurestack.onmicrosoft.com"
                }
              },
              "user": "ciserviceadmin@msazurestack.onmicrosoft.com",
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/ca55be03-9be9-4deb-8467-e890ab1d116b",
                  "name": "ca55be03-9be9-4deb-8467-e890ab1d116b",
                  "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/alerts",
                  "location": "local",
                  "tags": {},
                  "properties": {
                    "closedTimestamp": "",
                    "createdTimestamp": "2017-08-12T20:28:56.912712Z",
                    "description": [
                      {
                        "text": "The infrastructure role Infrastructure management controller is experiencing issues.",
                        "type": "Text"
                      }
                    ],
                    "faultId": "ServiceFabric:/FabricControllerRing/FabricControllerRing",
                    "alertId": "ca55be03-9be9-4deb-8467-e890ab1d116b",
                    "faultTypeId": "ServiceFabricClusterUnhealthy",
                    "lastUpdatedTimestamp": "2017-08-12T20:28:56.912712Z",
                    "alertProperties": {
                      "healthState": "Warning",
                      "name": "Infrastructure management controller",
                      "fabricName": "FabricControllerRing",
                      "description": "",
                      "serviceType": "FabricControllerRing"
                    },
                    "remediation": [
                      {
                        "text": "Please contact Support. Before you do, start the log file collection process using the guidance from ",
                        "type": "Text"
                      },
                      {
                        "linkType": "Uri",
                        "uri": "https://aka.ms/azurestacklogfiles",
                        "resourceId": "",
                        "type": "LinkBegin"
                      },
                      {
                        "text": "https://aka.ms/azurestacklogfiles",
                        "type": "Text"
                      },
                      {
                        "type": "LinkEnd"
                      },
                      {
                        "text": ".",
                        "type": "Text"
                      }
                    ],
                    "resourceRegistrationId": "7cd4c25c-e946-4502-926b-e3c32737b116",
                    "resourceProviderRegistrationId": "e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                    "severity": "Warning",
                    "state": "Closed",
                    "title": "Infrastructure role is unhealthy",
                    "impactedResourceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricControllerRing",
                    "impactedResourceDisplayName": "Infrastructure management controller",
                    "closedByUserAlias": "ciserviceadmin@msazurestack.onmicrosoft.com"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Closes the given alert.",
        "operationId": "Alerts_Close",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/AlertNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/UserParameter"
          },
          {
            "$ref": "#/parameters/AlertParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Close"
      }
    }
  },
  "definitions": {
    "Alert": {
      "description": "This object represents an alert resource.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Contains information related to alerts.",
          "$ref": "#/definitions/AlertModel",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "AlertModel": {
      "description": "Contains alert data.",
      "properties": {
        "closedTimestamp": {
          "description": "Timestamp when the alert was closed.",
          "type": "string"
        },
        "createdTimestamp": {
          "description": "Timestamp when the alert was created.",
          "type": "string"
        },
        "description": {
          "description": "Description of the alert.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dictionary"
          }
        },
        "faultId": {
          "description": "Gets or sets the fault ID of the alert.",
          "type": "string"
        },
        "alertId": {
          "description": "Gets or sets the ID of the alert.",
          "type": "string"
        },
        "faultTypeId": {
          "description": "Gets or sets the fault type ID of the alert.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "Timestamp when the alert was last updated.",
          "type": "string"
        },
        "alertProperties": {
          "description": "Properties of the alert.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "remediation": {
          "description": "Gets or sets the admin friendly remediation instructions for the alert.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dictionary"
          }
        },
        "resourceRegistrationId": {
          "description": "Gets or sets the registration ID of the resource associated with the alert. If the alert is not associated with a resource, the resource registration ID is null.",
          "type": "string"
        },
        "resourceProviderRegistrationId": {
          "description": "Gets or sets the registration ID of the service the alert belongs to.",
          "type": "string"
        },
        "severity": {
          "description": "Severity of the alert.",
          "type": "string"
        },
        "state": {
          "description": "State of the alert.",
          "type": "string"
        },
        "title": {
          "description": "Gets or sets the Resource ID for the impacted item.",
          "type": "string"
        },
        "impactedResourceId": {
          "description": "Gets or sets the Resource ID for the impacted item.",
          "type": "string"
        },
        "impactedResourceDisplayName": {
          "description": "Display name for the impacted item.",
          "type": "string"
        },
        "closedByUserAlias": {
          "description": "User alias who closed the alert.",
          "type": "string"
        },
        "hasValidRemediationAction": {
          "description": "Indicates if the alert can be remediated.",
          "type": "boolean"
        }
      }
    },
    "AlertList": {
      "description": "A pageable list of alerts",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          },
          "description": "List of alerts."
        },
        "nextLink": {
          "type": "string",
          "description": "URI to the next page."
        }
      }
    },
    "Dictionary": {
      "description": "Dictionary of string key-value pairs.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "AlertNameParameter": {
      "name": "alertName",
      "description": "Name of the alert.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "UserParameter": {
      "description": "The username used to perform the operation.",
      "name": "user",
      "type": "string",
      "required": true,
      "in": "query",
      "x-ms-parameter-location": "method"
    },
    "AlertParameter": {
      "description": "Updated alert parameter.",
      "name": "alert",
      "schema": {
        "$ref": "#/definitions/Alert"
      },
      "required": true,
      "in": "body",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Name of the region",
      "name": "location",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Alerts",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Close",
  "x-internal-operation-name": "Close"
}