{
  "swagger": "2.0",
  "info": {
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_ListByNode",
        "description": "Retrieve the Dsc node report list by node id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "nodeId": "nodeId",
              "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
              "api-version": "2018-01-15"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                      "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T23:16:27.587+00:00",
                      "endTime": "2017-03-28T23:16:27.587+00:00",
                      "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                      "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T23:16:26.015+00:00",
                      "endTime": "2017-03-28T23:16:27.015+00:00",
                      "lastModifiedTime": "2017-03-28T23:16:28.3813034+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                      "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T23:01:25.986+00:00",
                      "endTime": "2017-03-28T23:01:26.986+00:00",
                      "lastModifiedTime": "2017-03-28T23:01:28.216963+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                      "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:46:27.668+00:00",
                      "endTime": "2017-03-28T22:46:28.668+00:00",
                      "lastModifiedTime": "2017-03-28T22:46:29.0439184+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                      "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:46:25.957+00:00",
                      "endTime": "2017-03-28T22:46:26.957+00:00",
                      "lastModifiedTime": "2017-03-28T22:46:27.9498533+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                      "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:31:25.941+00:00",
                      "endTime": "2017-03-28T22:31:26.941+00:00",
                      "lastModifiedTime": "2017-03-28T22:31:27.6825492+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                      "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:17:10.163+00:00",
                      "endTime": "2017-03-28T22:17:10.163+00:00",
                      "lastModifiedTime": "2017-03-28T22:17:11.0040472+00:00",
                      "status": "Failed",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                      "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:16:25.897+00:00",
                      "endTime": "2017-03-28T22:17:09.897+00:00",
                      "lastModifiedTime": "2017-03-28T22:16:27.3128731+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                      "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T22:01:25.899+00:00",
                      "endTime": "2017-03-28T22:01:27.899+00:00",
                      "lastModifiedTime": "2017-03-28T22:01:26.6282252+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                      "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:46:38.511+00:00",
                      "endTime": "2017-03-28T21:46:39.511+00:00",
                      "lastModifiedTime": "2017-03-28T21:46:40.577983+00:00",
                      "status": "Failed",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                      "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:46:25.843+00:00",
                      "endTime": "2017-03-28T21:46:37.843+00:00",
                      "lastModifiedTime": "2017-03-28T21:46:28.4660077+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                      "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:31:25.818+00:00",
                      "endTime": "2017-03-28T21:31:27.818+00:00",
                      "lastModifiedTime": "2017-03-28T21:31:28.1503168+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                      "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:16:35.538+00:00",
                      "endTime": "2017-03-28T21:16:59.538+00:00",
                      "lastModifiedTime": "2017-03-28T21:16:37.1768158+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                      "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:16:26.956+00:00",
                      "endTime": "2017-03-28T21:16:34.956+00:00",
                      "lastModifiedTime": "2017-03-28T21:16:29.2370664+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                      "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T21:01:29.916+00:00",
                      "endTime": "2017-03-28T21:02:02.916+00:00",
                      "lastModifiedTime": "2017-03-28T21:01:31.875597+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                      "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T20:46:38.626+00:00",
                      "endTime": "2017-03-28T20:46:44.626+00:00",
                      "lastModifiedTime": "2017-03-28T20:46:39.749649+00:00",
                      "status": "Failed",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                      "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T20:46:25.676+00:00",
                      "endTime": "2017-03-28T20:46:37.676+00:00",
                      "lastModifiedTime": "2017-03-28T20:46:27.2602881+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                      "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                      "type": "Consistency",
                      "startTime": "2017-03-28T20:31:25.805+00:00",
                      "endTime": "2017-03-28T20:40:24.805+00:00",
                      "lastModifiedTime": "2017-03-28T20:31:27.1356547+00:00",
                      "status": "Compliant",
                      "configurationVersion": "2.0.0",
                      "rebootRequested": "False",
                      "refreshMode": "Pull",
                      "reportFormatVersion": "2.0"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the list operation."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeReportListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DscNodeReport",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Node"
      }
    }
  },
  "definitions": {
    "DscNodeReportListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeReport"
          },
          "description": "Gets or sets a list of dsc node reports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "DscReportResourceNavigation": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource to navigate to."
        }
      },
      "description": "Navigation for DSC Report Resource."
    },
    "DscMetaConfiguration": {
      "properties": {
        "configurationModeFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration."
        },
        "rebootNodeIfNeeded": {
          "type": "boolean",
          "description": "Gets or sets the RebootNodeIfNeeded value of the meta configuration."
        },
        "configurationMode": {
          "type": "string",
          "description": "Gets or sets the ConfigurationMode value of the meta configuration."
        },
        "actionAfterReboot": {
          "type": "string",
          "description": "Gets or sets the ActionAfterReboot value of the meta configuration."
        },
        "certificateId": {
          "type": "string",
          "description": "Gets or sets the CertificateId value of the meta configuration."
        },
        "refreshFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the RefreshFrequencyMins value of the meta configuration."
        },
        "allowModuleOverwrite": {
          "type": "boolean",
          "description": "Gets or sets the AllowModuleOverwrite value of the meta configuration."
        }
      },
      "description": "Definition of the DSC Meta Configuration."
    },
    "DscNodeReport": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the node report.",
          "x-nullable": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the lastModifiedTime of the node report.",
          "x-nullable": false
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the node report.",
          "x-nullable": true
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the node report."
        },
        "reportId": {
          "type": "string",
          "description": "Gets or sets the id of the node report."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node report."
        },
        "refreshMode": {
          "type": "string",
          "description": "Gets or sets the refreshMode of the node report."
        },
        "rebootRequested": {
          "type": "string",
          "description": "Gets or sets the rebootRequested of the node report."
        },
        "reportFormatVersion": {
          "type": "string",
          "description": "Gets or sets the reportFormatVersion of the node report."
        },
        "configurationVersion": {
          "type": "string",
          "description": "Gets or sets the configurationVersion of the node report."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportError"
          },
          "description": "Gets or sets the errors for the node report."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResource"
          },
          "description": "Gets or sets the resource for the node report."
        },
        "metaConfiguration": {
          "$ref": "#/definitions/DscMetaConfiguration",
          "description": "Gets or sets the metaConfiguration of the node at the time of the report."
        },
        "hostName": {
          "type": "string",
          "description": "Gets or sets the hostname of the node that sent the report."
        },
        "iPV4Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv4 address of the node that sent the report."
        },
        "iPV6Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv6 address of the node that sent the report."
        },
        "numberOfResources": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of resource in the node report."
        },
        "rawErrors": {
          "type": "string",
          "description": "Gets or sets the unparsed errors for the node report."
        }
      },
      "description": "Definition of the dsc node report type."
    },
    "DscReportResource": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource."
        },
        "sourceInfo": {
          "type": "string",
          "description": "Gets or sets the source info of the resource."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResourceNavigation"
          },
          "description": "Gets or sets the Resource Navigation values for resources the resource depends on."
        },
        "moduleName": {
          "type": "string",
          "description": "Gets or sets the module name of the resource."
        },
        "moduleVersion": {
          "type": "string",
          "description": "Gets or sets the module version of the resource."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "error": {
          "type": "string",
          "description": "Gets or sets the error of the resource."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the resource."
        },
        "durationInSeconds": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the duration in seconds for the resource."
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start date of the resource.",
          "x-nullable": false
        }
      },
      "description": "Definition of the DSC Report Resource."
    },
    "DscReportError": {
      "properties": {
        "errorSource": {
          "type": "string",
          "description": "Gets or sets the source of the error."
        },
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the resource ID which generated the error."
        },
        "errorCode": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message."
        },
        "locale": {
          "type": "string",
          "description": "Gets or sets the locale of the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "Gets or sets the error details."
        }
      },
      "description": "Definition of the dsc node report error type."
    },
    "AgentRegistration": {
      "properties": {
        "dscMetaConfiguration": {
          "type": "string",
          "description": "Gets or sets the dsc meta configuration."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the dsc server endpoint."
        },
        "keys": {
          "$ref": "#/definitions/AgentRegistrationKeys",
          "description": "Gets or sets the agent registration keys."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        }
      },
      "description": "Definition of the agent registration infomration type."
    },
    "AgentRegistrationKeys": {
      "properties": {
        "primary": {
          "type": "string",
          "description": "Gets or sets the primary key."
        },
        "secondary": {
          "type": "string",
          "description": "Gets or sets the secondary key."
        }
      },
      "description": "Definition of the agent registration keys."
    },
    "DscNode": {
      "description": "Definition of a DscNode",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscNodeProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a DscNode."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "DscNodeProperties": {
      "description": "The properties of a DscNode",
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node.",
          "x-nullable": false
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node.",
          "x-nullable": false
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        },
        "extensionHandler": {
          "type": "array",
          "description": "Gets or sets the list of extensionHandler properties for a Node.",
          "items": {
            "$ref": "#/definitions/DscNodeExtensionHandlerAssociationProperty"
          }
        }
      }
    },
    "DscNodeExtensionHandlerAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the extension handler."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the extension handler."
        }
      },
      "description": "The dsc extensionHandler property associated with the node"
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
    "AgentRegistrationRegenerateKeyParameter": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Gets or sets the agent registration key name - primary or secondary.",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "AgentRegistrationKeyName",
            "modelAsString": true
          }
        }
      },
      "required": [
        "keyName"
      ],
      "description": "The parameters supplied to the regenerate keys operation."
    },
    "DscNodeUpdateParameters": {
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the id of the dsc node."
        },
        "properties": {
          "properties": {
            "nodeConfiguration": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
              "description": "Gets or sets the configuration of the node."
            }
          }
        }
      },
      "description": "The parameters supplied to the update dsc node operation."
    },
    "DscNodeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNode"
          },
          "description": "Gets or sets a list of dsc nodes."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Node Reports",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Node"
}