{
  "swagger": "2.0",
  "info": {
    "version": "2019-08-01",
    "title": "DataBoxEdgeManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users/{name}": {
      "put": {
        "tags": [
          "Users"
        ],
        "description": "Creates a new user or updates an existing user's information on a Data Box Edge/Data Box Gateway device.",
        "operationId": "Users_CreateOrUpdate",
        "parameters": [
          {
            "name": "deviceName",
            "in": "path",
            "description": "The device name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The user name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "The user details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the user.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "202": {
            "description": "Accepted the request to create or update the user."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "UserPut": {
            "parameters": {
              "api-version": "2019-08-01",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "resourceGroupName": "GroupForEdgeAutomation",
              "deviceName": "testedgedevice",
              "name": "user1",
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "Content-Length": [
                "200"
              ],
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ],
              "accept-language": [
                "en-US"
              ],
              "user": {
                "properties": {
                  "encryptedPassword": {
                    "value": "Password@1",
                    "encryptionAlgorithm": "None",
                    "encryptionCertThumbprint": "blah"
                  },
                  "shareAccessRights": [],
                  "userType": "Share"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "properties": {
                    "userType": "Share"
                  },
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/users/user1",
                  "name": "user1",
                  "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/users"
                }
              },
              "202": {}
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "Address": {
      "description": "The shipping address of the customer.",
      "required": [
        "addressLine1",
        "postalCode",
        "city",
        "state",
        "country"
      ],
      "type": "object",
      "properties": {
        "addressLine1": {
          "description": "The address line1.",
          "type": "string"
        },
        "addressLine2": {
          "description": "The address line2.",
          "type": "string"
        },
        "addressLine3": {
          "description": "The address line3.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code.",
          "type": "string"
        },
        "city": {
          "description": "The city name.",
          "type": "string"
        },
        "state": {
          "description": "The state name.",
          "type": "string"
        },
        "country": {
          "description": "The country name.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "description": "Alert on the data box edge/gateway device.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertProperties",
          "description": "Properties of alert.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "AlertErrorDetails": {
      "description": "Error details for the alert.",
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "errorMessage": {
          "description": "Error Message.",
          "type": "string",
          "readOnly": true
        },
        "occurrences": {
          "format": "int32",
          "description": "Number of occurrences.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "AlertList": {
      "description": "Collection of alerts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AlertProperties": {
      "description": "Properties of alert.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Alert title.",
          "type": "string",
          "readOnly": true
        },
        "alertType": {
          "description": "Alert type.",
          "type": "string",
          "readOnly": true
        },
        "appearedAtDateTime": {
          "format": "date-time",
          "description": "UTC time when the alert appeared.",
          "type": "string",
          "readOnly": true
        },
        "recommendation": {
          "description": "Alert recommendation.",
          "type": "string",
          "readOnly": true
        },
        "severity": {
          "description": "Severity of the alert.",
          "enum": [
            "Informational",
            "Warning",
            "Critical"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertSeverity",
            "modelAsString": true
          }
        },
        "errorDetails": {
          "$ref": "#/definitions/AlertErrorDetails",
          "description": "Error details of the alert.",
          "readOnly": true
        },
        "detailedInformation": {
          "description": "Alert details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ARMBaseModel": {
      "description": "Represents the base class for all object models.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The path ID that uniquely identifies the object.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The object name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The hierarchical type of the object.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "AsymmetricEncryptedSecret": {
      "description": "Represent the secrets intended for encryption with asymmetric key pair.",
      "required": [
        "value",
        "encryptionAlgorithm"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the secret.",
          "type": "string"
        },
        "encryptionCertThumbprint": {
          "description": "Thumbprint certificate used to encrypt \\\"Value\\\". If the value is unencrypted, it will be null.",
          "type": "string"
        },
        "encryptionAlgorithm": {
          "description": "The algorithm used to encrypt \"Value\".",
          "enum": [
            "None",
            "AES256",
            "RSAES_PKCS1_v_1_5"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "EncryptionAlgorithm",
            "modelAsString": true
          }
        }
      }
    },
    "Authentication": {
      "description": "Authentication mechanism for IoT devices.",
      "type": "object",
      "properties": {
        "symmetricKey": {
          "$ref": "#/definitions/SymmetricKey",
          "description": "Symmetric key for authentication."
        }
      }
    },
    "AzureContainerInfo": {
      "description": "Azure container mapping of the endpoint.",
      "required": [
        "storageAccountCredentialId",
        "containerName",
        "dataFormat"
      ],
      "type": "object",
      "properties": {
        "storageAccountCredentialId": {
          "description": "ID of the storage account credential used to access storage.",
          "type": "string"
        },
        "containerName": {
          "description": "Container name (Based on the data format specified, this represents the name of Azure Files/Page blob/Block blob).",
          "type": "string"
        },
        "dataFormat": {
          "description": "Storage format used for the file represented by the share.",
          "enum": [
            "BlockBlob",
            "PageBlob",
            "AzureFile"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AzureContainerDataFormat",
            "modelAsString": true
          }
        }
      }
    },
    "BandwidthSchedule": {
      "description": "The bandwidth schedule details.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BandwidthScheduleProperties",
          "description": "The properties of the bandwidth schedule.",
          "x-ms-client-flatten": true
        }
      }
    },
    "BandwidthScheduleProperties": {
      "description": "The properties of the bandwidth schedule.",
      "required": [
        "start",
        "stop",
        "rateInMbps",
        "days"
      ],
      "type": "object",
      "properties": {
        "start": {
          "description": "The start time of the schedule in UTC.",
          "type": "string"
        },
        "stop": {
          "description": "The stop time of the schedule in UTC.",
          "type": "string"
        },
        "rateInMbps": {
          "format": "int32",
          "description": "The bandwidth rate in Mbps.",
          "type": "integer"
        },
        "days": {
          "description": "The days of the week when this schedule is applicable.",
          "type": "array",
          "items": {
            "enum": [
              "Sunday",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "DayOfWeek",
              "modelAsString": true
            }
          }
        }
      }
    },
    "BandwidthSchedulesList": {
      "description": "The collection of bandwidth schedules.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of bandwidth schedules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BandwidthSchedule"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ClientAccessRight": {
      "description": "The mapping between a particular client IP and the type of access client has on the NFS share.",
      "required": [
        "client",
        "accessPermission"
      ],
      "type": "object",
      "properties": {
        "client": {
          "description": "IP of the client.",
          "type": "string"
        },
        "accessPermission": {
          "description": "Type of access to be allowed for the client.",
          "enum": [
            "NoAccess",
            "ReadOnly",
            "ReadWrite"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClientPermissionType",
            "modelAsString": true
          }
        }
      }
    },
    "CloudError": {
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error details."
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "description": "An error response from the service.",
      "properties": {
        "code": {
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
          "type": "string"
        },
        "message": {
          "description": "A message describing the error, intended to be suitable for display in a user interface.",
          "type": "string"
        },
        "details": {
          "description": "A list of additional details about the error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          }
        }
      },
      "x-ms-external": true
    },
    "ContactDetails": {
      "description": "Contains all the contact details of the customer.",
      "required": [
        "contactPerson",
        "companyName",
        "phone",
        "emailList"
      ],
      "type": "object",
      "properties": {
        "contactPerson": {
          "description": "The contact person name.",
          "type": "string"
        },
        "companyName": {
          "description": "The name of the company.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number.",
          "type": "string"
        },
        "emailList": {
          "description": "The email list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Container": {
      "description": "Represents a container on the  Data Box Edge/Gateway device.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerProperties",
          "description": "The container properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ContainerList": {
      "description": "Collection of all the containers on the Data Box Edge/Gateway device.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of containers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Container"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ContainerProperties": {
      "description": "The container properties.",
      "required": [
        "dataFormat"
      ],
      "type": "object",
      "properties": {
        "containerStatus": {
          "description": "Current status of the container.",
          "enum": [
            "OK",
            "Offline",
            "Unknown",
            "Updating",
            "NeedsAttention"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ContainerStatus",
            "modelAsString": true
          }
        },
        "dataFormat": {
          "description": "DataFormat for Container",
          "enum": [
            "BlockBlob",
            "PageBlob",
            "AzureFile"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AzureContainerDataFormat",
            "modelAsString": true
          }
        },
        "refreshDetails": {
          "$ref": "#/definitions/RefreshDetails",
          "description": "Details of the refresh job on this container.",
          "readOnly": true
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The UTC time when container got created.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataBoxEdgeDevice": {
      "description": "The Data Box Edge/Gateway device.",
      "required": [
        "location"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "location": {
          "description": "The location of the device. This is a supported and registered Azure geographical region (for example, West US, East US, or Southeast Asia). The geographical region of a device cannot be changed once it is created, but if an identical geographical region is specified on update, the request will succeed.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "The list of tags that describe the device. These tags can be used to view and group this device (across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU type."
        },
        "etag": {
          "description": "The etag for the devices.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/DataBoxEdgeDeviceProperties",
          "description": "The properties of the Data Box Edge/Gateway device.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataBoxEdgeDeviceExtendedInfo": {
      "description": "The extended Info of the Data Box Edge/Gateway device.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataBoxEdgeDeviceExtendedInfoProperties",
          "description": "The extended info properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataBoxEdgeDeviceExtendedInfoProperties": {
      "description": "The properties of the Data Box Edge/Gateway device extended info.",
      "type": "object",
      "properties": {
        "encryptionKeyThumbprint": {
          "description": "The digital signature of encrypted certificate.",
          "type": "string"
        },
        "encryptionKey": {
          "description": "The public part of the encryption certificate. Client uses this to encrypt any secret.",
          "type": "string"
        },
        "resourceKey": {
          "description": "The Resource ID of the Resource.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataBoxEdgeDeviceList": {
      "description": "The collection of Data Box Edge/Gateway devices.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of Data Box Edge/Gateway devices.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataBoxEdgeDevice"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataBoxEdgeDevicePatch": {
      "description": "The Data Box Edge/Gateway device patch.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "The tags attached to the Data Box Edge/Gateway resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DataBoxEdgeDeviceProperties": {
      "description": "The properties of the Data Box Edge/Gateway device.",
      "type": "object",
      "properties": {
        "dataBoxEdgeDeviceStatus": {
          "description": "The status of the Data Box Edge/Gateway device.",
          "enum": [
            "ReadyToSetup",
            "Online",
            "Offline",
            "NeedsAttention",
            "Disconnected",
            "PartiallyDisconnected",
            "Maintenance"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataBoxEdgeDeviceStatus",
            "modelAsString": true
          }
        },
        "serialNumber": {
          "description": "The Serial Number of Data Box Edge/Gateway device.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The Description of the Data Box Edge/Gateway device.",
          "type": "string"
        },
        "modelDescription": {
          "description": "The description of the Data Box Edge/Gateway device model.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the Data Box Edge/Gateway device.",
          "enum": [
            "DataBoxEdgeDevice"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DeviceType",
            "modelAsString": true
          }
        },
        "friendlyName": {
          "description": "The Data Box Edge/Gateway device name.",
          "type": "string"
        },
        "culture": {
          "description": "The Data Box Edge/Gateway device culture.",
          "type": "string",
          "readOnly": true
        },
        "deviceModel": {
          "description": "The Data Box Edge/Gateway device model.",
          "type": "string",
          "readOnly": true
        },
        "deviceSoftwareVersion": {
          "description": "The Data Box Edge/Gateway device software version.",
          "type": "string",
          "readOnly": true
        },
        "deviceLocalCapacity": {
          "format": "int64",
          "description": "The Data Box Edge/Gateway device local capacity in MB.",
          "type": "integer",
          "readOnly": true
        },
        "timeZone": {
          "description": "The Data Box Edge/Gateway device timezone.",
          "type": "string",
          "readOnly": true
        },
        "deviceHcsVersion": {
          "description": "The device software version number of the device (eg: 1.2.18105.6).",
          "type": "string",
          "readOnly": true
        },
        "configuredRoleTypes": {
          "description": "Type of compute roles configured.",
          "type": "array",
          "items": {
            "enum": [
              "IOT",
              "ASA",
              "Functions",
              "Cognitive"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "RoleTypes",
              "modelAsString": true
            }
          },
          "readOnly": true
        },
        "nodeCount": {
          "format": "int32",
          "description": "The number of nodes in the cluster.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "FileEventTrigger": {
      "description": "Trigger details.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Trigger"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileTriggerProperties",
          "description": "File trigger properties.",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "The path ID that uniquely identifies the object.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The object name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The hierarchical type of the object.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "FileEvent"
    },
    "FileSourceInfo": {
      "description": "File source details.",
      "required": [
        "shareId"
      ],
      "type": "object",
      "properties": {
        "shareId": {
          "description": "File share ID.",
          "type": "string"
        }
      }
    },
    "FileTriggerProperties": {
      "description": "File trigger properties.",
      "required": [
        "sourceInfo",
        "sinkInfo"
      ],
      "type": "object",
      "properties": {
        "sourceInfo": {
          "$ref": "#/definitions/FileSourceInfo",
          "description": "File event source details."
        },
        "sinkInfo": {
          "$ref": "#/definitions/RoleSinkInfo",
          "description": "Role sink info."
        },
        "customContextTag": {
          "description": "A custom context tag typically used to correlate the trigger against its usage. For example, if a periodic timer trigger is intended for certain specific IoT modules in the device, the tag can be the name or the image URL of the module.",
          "type": "string"
        }
      }
    },
    "IoTDeviceInfo": {
      "description": "Metadata of IoT device/IoT Edge device to be configured.",
      "required": [
        "deviceId",
        "ioTHostHub"
      ],
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "ID of the IoT device/edge device.",
          "type": "string"
        },
        "ioTHostHub": {
          "description": "Host name for the IoT hub associated to the device.",
          "type": "string"
        },
        "ioTHostHubId": {
          "description": "Id for the IoT hub associated to the device.",
          "type": "string"
        },
        "authentication": {
          "$ref": "#/definitions/Authentication",
          "description": "IoT device authentication info."
        }
      }
    },
    "IoTRole": {
      "description": "Compute role.",
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Role"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/IoTRoleProperties",
          "description": "Properties specific to IoT role.",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "The path ID that uniquely identifies the object.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The object name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The hierarchical type of the object.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "IOT"
    },
    "IoTRoleProperties": {
      "description": "IoT role properties.",
      "required": [
        "hostPlatform",
        "ioTDeviceDetails",
        "ioTEdgeDeviceDetails",
        "roleStatus"
      ],
      "type": "object",
      "properties": {
        "hostPlatform": {
          "description": "Host OS supported by the IoT role.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PlatformType",
            "modelAsString": true
          }
        },
        "ioTDeviceDetails": {
          "$ref": "#/definitions/IoTDeviceInfo",
          "description": "IoT device metadata to which data box edge device needs to be connected."
        },
        "ioTEdgeDeviceDetails": {
          "$ref": "#/definitions/IoTDeviceInfo",
          "description": "IoT edge device to which the IoT role needs to be configured."
        },
        "shareMappings": {
          "description": "Mount points of shares in role(s).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MountPointMap"
          }
        },
        "roleStatus": {
          "description": "Role status.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RoleStatus",
            "modelAsString": true
          }
        }
      }
    },
    "Ipv4Config": {
      "description": "Details related to the IPv4 address configuration.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The IPv4 address of the network adapter.",
          "type": "string",
          "readOnly": true
        },
        "subnet": {
          "description": "The IPv4 subnet of the network adapter.",
          "type": "string",
          "readOnly": true
        },
        "gateway": {
          "description": "The IPv4 gateway of the network adapter.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Ipv6Config": {
      "description": "Details related to the IPv6 address configuration.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The IPv6 address of the network adapter.",
          "type": "string",
          "readOnly": true
        },
        "prefixLength": {
          "format": "int32",
          "description": "The IPv6 prefix of the network adapter.",
          "type": "integer",
          "readOnly": true
        },
        "gateway": {
          "description": "The IPv6 gateway of the network adapter.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Job": {
      "description": "A device job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The path ID that uniquely identifies the object.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The hierarchical type of the object.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The current status of the job.",
          "enum": [
            "Invalid",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled",
            "Paused",
            "Scheduled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": true
          }
        },
        "startTime": {
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "type": "string",
          "readOnly": true
        },
        "percentComplete": {
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "type": "integer",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/JobErrorDetails",
          "description": "The error details.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "description": "The properties of the job.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "JobErrorDetails": {
      "description": "The job error information containing the list of job errors.",
      "type": "object",
      "properties": {
        "errorDetails": {
          "description": "The error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobErrorItem"
          },
          "readOnly": true
        },
        "code": {
          "description": "The code intended for programmatic access.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The message that describes the error in detail.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JobErrorItem": {
      "description": "The job error items.",
      "type": "object",
      "properties": {
        "recommendations": {
          "description": "The recommended actions.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "code": {
          "description": "The code intended for programmatic access.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The message that describes the error in detail.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JobProperties": {
      "description": "The properties for the job.",
      "type": "object",
      "properties": {
        "jobType": {
          "description": "The type of the job.",
          "enum": [
            "Invalid",
            "ScanForUpdates",
            "DownloadUpdates",
            "InstallUpdates",
            "RefreshShare",
            "RefreshContainer"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "JobType",
            "modelAsString": true
          }
        },
        "currentStage": {
          "description": "Current stage of the update operation.",
          "enum": [
            "Unknown",
            "Initial",
            "ScanStarted",
            "ScanComplete",
            "ScanFailed",
            "DownloadStarted",
            "DownloadComplete",
            "DownloadFailed",
            "InstallStarted",
            "InstallComplete",
            "InstallFailed",
            "RebootInitiated",
            "Success",
            "Failure",
            "RescanStarted",
            "RescanComplete",
            "RescanFailed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "UpdateOperationStage",
            "modelAsString": true
          }
        },
        "downloadProgress": {
          "$ref": "#/definitions/UpdateDownloadProgress",
          "description": "The download progress.",
          "readOnly": true
        },
        "installProgress": {
          "$ref": "#/definitions/UpdateInstallProgress",
          "description": "The install progress.",
          "readOnly": true
        },
        "totalRefreshErrors": {
          "format": "int32",
          "description": "Total number of errors encountered during the refresh process.",
          "type": "integer",
          "readOnly": true
        },
        "errorManifestFile": {
          "description": "Local share/remote container relative path to the error manifest file of the refresh.",
          "type": "string",
          "readOnly": true
        },
        "refreshedEntityId": {
          "description": "ARM ID of the entity that was refreshed.",
          "type": "string",
          "readOnly": true
        },
        "folder": {
          "description": "If only subfolders need to be refreshed, then the subfolder path inside the share or container. (The path is empty if there are no subfolders.)",
          "type": "string"
        }
      }
    },
    "MetricDimension_V1": {
      "description": "Metric Dimension v1.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metrics dimension.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the metrics dimension.",
          "type": "string"
        },
        "toBeExportedForShoebox": {
          "description": "To be exported to shoe box.",
          "type": "boolean"
        }
      }
    },
    "MetricSpecification_V1": {
      "description": "Metric specification version 1.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metric.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the metric.",
          "type": "string"
        },
        "displayDescription": {
          "description": "Description of the metric to be displayed.",
          "type": "string"
        },
        "unit": {
          "description": "Metric units.",
          "enum": [
            "NotSpecified",
            "Percent",
            "Count",
            "Seconds",
            "Milliseconds",
            "Bytes",
            "BytesPerSecond",
            "CountPerSecond"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MetricUnit",
            "modelAsString": true
          }
        },
        "aggregationType": {
          "description": "Metric aggregation type.",
          "enum": [
            "NotSpecified",
            "None",
            "Average",
            "Minimum",
            "Maximum",
            "Total",
            "Count"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MetricAggregationType",
            "modelAsString": true
          }
        },
        "dimensions": {
          "description": "Metric dimensions, other than default dimension which is resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDimension_V1"
          }
        },
        "fillGapWithZero": {
          "description": "Set true to fill the gaps with zero.",
          "type": "boolean"
        },
        "category": {
          "description": "Metric category.",
          "enum": [
            "Capacity",
            "Transaction"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MetricCategory",
            "modelAsString": true
          }
        },
        "resourceIdDimensionNameOverride": {
          "description": "Resource name override.",
          "type": "string"
        },
        "supportedTimeGrainTypes": {
          "description": "Support granularity of metrics.",
          "type": "array",
          "items": {
            "enum": [
              "PT1M",
              "PT5M",
              "PT15M",
              "PT30M",
              "PT1H",
              "PT6H",
              "PT12H",
              "PT1D"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TimeGrain",
              "modelAsString": true
            }
          }
        },
        "supportedAggregationTypes": {
          "description": "Support metric aggregation type.",
          "type": "array",
          "items": {
            "enum": [
              "NotSpecified",
              "None",
              "Average",
              "Minimum",
              "Maximum",
              "Total",
              "Count"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "MetricAggregationType",
              "modelAsString": true
            }
          }
        }
      }
    },
    "MountPointMap": {
      "description": "The share mount point.",
      "required": [
        "shareId"
      ],
      "type": "object",
      "properties": {
        "shareId": {
          "description": "ID of the share mounted to the role VM.",
          "type": "string"
        },
        "roleId": {
          "description": "ID of the role to which share is mounted.",
          "type": "string",
          "readOnly": true
        },
        "mountPoint": {
          "description": "Mount point for the share.",
          "type": "string",
          "readOnly": true
        },
        "roleType": {
          "description": "Role type.",
          "enum": [
            "IOT",
            "ASA",
            "Functions",
            "Cognitive"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "RoleTypes",
            "modelAsString": true
          }
        }
      }
    },
    "NetworkAdapter": {
      "description": "Represents the networkAdapter on a device.",
      "type": "object",
      "properties": {
        "adapterId": {
          "description": "Instance ID of network adapter.",
          "type": "string",
          "readOnly": true
        },
        "adapterPosition": {
          "$ref": "#/definitions/NetworkAdapterPosition",
          "description": "Hardware position of network adapter.",
          "readOnly": true
        },
        "index": {
          "format": "int32",
          "description": "Logical index of the adapter.",
          "type": "integer",
          "readOnly": true
        },
        "nodeId": {
          "description": "Node ID of the network adapter.",
          "type": "string",
          "readOnly": true
        },
        "networkAdapterName": {
          "description": "Network adapter name.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "description": "Hardware label for the adapter.",
          "type": "string",
          "readOnly": true
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string",
          "readOnly": true
        },
        "linkSpeed": {
          "format": "int64",
          "description": "Link speed.",
          "type": "integer",
          "readOnly": true
        },
        "status": {
          "description": "Value indicating whether this adapter is valid.",
          "enum": [
            "Inactive",
            "Active"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NetworkAdapterStatus",
            "modelAsString": true
          }
        },
        "rdmaStatus": {
          "description": "Value indicating whether this adapter is RDMA capable.",
          "enum": [
            "Incapable",
            "Capable"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NetworkAdapterRDMAStatus",
            "modelAsString": true
          }
        },
        "dhcpStatus": {
          "description": "Value indicating whether this adapter has DHCP enabled.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NetworkAdapterDHCPStatus",
            "modelAsString": true
          }
        },
        "ipv4Configuration": {
          "$ref": "#/definitions/Ipv4Config",
          "description": "The IPv4 configuration of the network adapter.",
          "readOnly": true
        },
        "ipv6Configuration": {
          "$ref": "#/definitions/Ipv6Config",
          "description": "The IPv6 configuration of the network adapter.",
          "readOnly": true
        },
        "ipv6LinkLocalAddress": {
          "description": "The IPv6 local address.",
          "type": "string",
          "readOnly": true
        },
        "dnsServers": {
          "description": "The list of DNS Servers of the device.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "NetworkAdapterPosition": {
      "description": "The network adapter position.",
      "type": "object",
      "properties": {
        "networkGroup": {
          "description": "The network group.",
          "enum": [
            "None",
            "NonRDMA",
            "RDMA"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NetworkGroup",
            "modelAsString": true
          }
        },
        "port": {
          "format": "int32",
          "description": "The port.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "NetworkSettings": {
      "description": "The network settings of a device.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSettingsProperties",
          "description": "The properties of network settings of a device.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkSettingsProperties": {
      "description": "The properties of network settings.",
      "type": "object",
      "properties": {
        "networkAdapters": {
          "description": "The network adapter list on the device.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkAdapter"
          },
          "readOnly": true
        }
      }
    },
    "Node": {
      "description": "Represents a single node in a Data box Edge/Gateway device\r\nGateway devices, standalone Edge devices and a single node cluster Edge device will all have 1 node\r\nMulti-node Edge devices will have more than 1 nodes",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NodeProperties",
          "description": "The properties of the node",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "NodeList": {
      "description": "Collection of Nodes.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of Nodes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Node"
          },
          "readOnly": true
        }
      }
    },
    "NodeProperties": {
      "description": "This class represents the nodes in a highly available cluster",
      "type": "object",
      "properties": {
        "nodeStatus": {
          "description": "The current status of the individual node",
          "enum": [
            "Unknown",
            "Up",
            "Down",
            "Rebooting",
            "ShuttingDown"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NodeStatus",
            "modelAsString": true
          }
        },
        "nodeChassisSerialNumber": {
          "description": "Serial number of the Chassis",
          "type": "string",
          "readOnly": true
        },
        "nodeSerialNumber": {
          "description": "Serial number of the individual node",
          "type": "string",
          "readOnly": true
        },
        "nodeDisplayName": {
          "description": "Display Name of the individual node",
          "type": "string",
          "readOnly": true
        },
        "nodeFriendlySoftwareVersion": {
          "description": "Friendly software version name that is currently installed on the node",
          "type": "string",
          "readOnly": true
        },
        "nodeHcsVersion": {
          "description": "HCS version that is currently installed on the node",
          "type": "string",
          "readOnly": true
        },
        "nodeInstanceId": {
          "description": "Guid instance id of the node",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Operations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Properties displayed for the operation."
        },
        "origin": {
          "description": "Origin of the operation.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Operation properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display properties.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Provider name.",
          "type": "string"
        },
        "resource": {
          "description": "The type of resource in which the operation is performed.",
          "type": "string"
        },
        "operation": {
          "description": "Operation to be performed on the resource.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation to be performed.",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Operation properties.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "Service specification."
        }
      }
    },
    "OperationsList": {
      "description": "The list of operations used for the discovery of available provider operations.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "The value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string"
        }
      }
    },
    "Order": {
      "description": "The order details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderProperties",
          "description": "The order properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OrderList": {
      "description": "List of order entities.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of orders.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OrderProperties": {
      "description": "Order properties.",
      "required": [
        "contactInformation",
        "shippingAddress"
      ],
      "type": "object",
      "properties": {
        "contactInformation": {
          "$ref": "#/definitions/ContactDetails",
          "description": "The contact details."
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address",
          "description": "The shipping address."
        },
        "currentStatus": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Current status of the order."
        },
        "orderHistory": {
          "description": "List of status changes in the order.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderStatus"
          },
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial number of the device.",
          "type": "string",
          "readOnly": true
        },
        "deliveryTrackingInfo": {
          "description": "Tracking information for the package delivered to the customer whether it has an original or a replacement device.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrackingInfo"
          },
          "readOnly": true
        },
        "returnTrackingInfo": {
          "description": "Tracking information for the package returned from the customer whether it has an original or a replacement device.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrackingInfo"
          },
          "readOnly": true
        }
      }
    },
    "OrderStatus": {
      "description": "Represents a single status change.",
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the order as per the allowed status types.",
          "enum": [
            "Untracked",
            "AwaitingFulfilment",
            "AwaitingPreparation",
            "AwaitingShipment",
            "Shipped",
            "Arriving",
            "Delivered",
            "ReplacementRequested",
            "LostDevice",
            "Declined",
            "ReturnInitiated",
            "AwaitingReturnShipment",
            "ShippedBack",
            "CollectedAtMicrosoft"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OrderState",
            "modelAsString": true
          }
        },
        "updateDateTime": {
          "format": "date-time",
          "description": "Time of status update.",
          "type": "string",
          "readOnly": true
        },
        "comments": {
          "description": "Comments related to this status change.",
          "type": "string"
        },
        "additionalOrderDetails": {
          "description": "Dictionary to hold generic information which is not stored\r\nby the already existing properties",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PeriodicTimerEventTrigger": {
      "description": "Trigger details.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Trigger"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PeriodicTimerProperties",
          "description": "Periodic timer trigger properties.",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "The path ID that uniquely identifies the object.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The object name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The hierarchical type of the object.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "PeriodicTimerEvent"
    },
    "PeriodicTimerProperties": {
      "description": "Periodic timer trigger properties.",
      "required": [
        "sourceInfo",
        "sinkInfo"
      ],
      "type": "object",
      "properties": {
        "sourceInfo": {
          "$ref": "#/definitions/PeriodicTimerSourceInfo",
          "description": "Periodic timer details."
        },
        "sinkInfo": {
          "$ref": "#/definitions/RoleSinkInfo",
          "description": "Role Sink information."
        },
        "customContextTag": {
          "description": "A custom context tag typically used to correlate the trigger against its usage. For example, if a periodic timer trigger is intended for certain specific IoT modules in the device, the tag can be the name or the image URL of the module.",
          "type": "string"
        }
      }
    },
    "PeriodicTimerSourceInfo": {
      "description": "Periodic timer event source.",
      "required": [
        "startTime",
        "schedule"
      ],
      "type": "object",
      "properties": {
        "startTime": {
          "format": "date-time",
          "description": "The time of the day that results in a valid trigger. Schedule is computed with reference to the time specified upto seconds. If timezone is not specified the time will considered to be in device timezone. The value will always be returned as UTC time.",
          "type": "string"
        },
        "schedule": {
          "description": "Periodic frequency at which timer event needs to be raised. Supports daily, hourly, minutes, and seconds.",
          "type": "string"
        },
        "topic": {
          "description": "Topic where periodic events are published to IoT device.",
          "type": "string"
        }
      }
    },
    "RawCertificateData": {
      "description": "Raw Certificate Data.",
      "required": [
        "certificate"
      ],
      "type": "object",
      "properties": {
        "authenticationType": {
          "description": "The authentication type.",
          "enum": [
            "Invalid",
            "AzureActiveDirectory"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AuthenticationType",
            "modelAsString": true
          }
        },
        "certificate": {
          "description": "The base64 encoded certificate raw data.",
          "type": "string"
        }
      }
    },
    "RefreshDetails": {
      "description": "Fields for tracking refresh job on the share or container.",
      "type": "object",
      "properties": {
        "inProgressRefreshJobId": {
          "description": "If a refresh job is currently in progress on this share or container, this field indicates the ARM resource ID of that job. The field is empty if no job is in progress.",
          "type": "string"
        },
        "lastCompletedRefreshJobTimeInUTC": {
          "format": "date-time",
          "description": "Indicates the completed time for the last refresh job on this particular share or container, if any.This could be a failed job or a successful job.",
          "type": "string"
        },
        "errorManifestFile": {
          "description": "Indicates the relative path of the error xml for the last refresh job on this particular share or container, if any. This could be a failed job or a successful job.",
          "type": "string"
        },
        "lastJob": {
          "description": "Indicates the id of the last refresh job on this particular share or container,if any. This could be a failed job or a successful job.",
          "type": "string"
        }
      }
    },
    "ResourceTypeSku": {
      "description": "SkuInformation object",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The type of the resource",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The Sku name",
          "enum": [
            "Gateway",
            "Edge",
            "TEA_1Node",
            "TEA_1Node_UPS",
            "TEA_1Node_Heater",
            "TEA_1Node_UPS_Heater",
            "TEA_4Node_Heater",
            "TEA_4Node_UPS_Heater",
            "TMA"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "kind": {
          "description": "The Sku kind",
          "type": "string",
          "readOnly": true
        },
        "tier": {
          "description": "The Sku tier",
          "enum": [
            "Standard"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "family": {
          "description": "The Sku family",
          "type": "string",
          "readOnly": true
        },
        "locations": {
          "description": "Availability of the SKU for the region",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "apiVersions": {
          "description": "The API versions in which SKU is available",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "locationInfo": {
          "description": "Availability of the SKU for the location/zone",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuLocationInfo"
          },
          "readOnly": true
        },
        "costs": {
          "description": "The pricing info of the Sku.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCost"
          },
          "readOnly": true
        },
        "restrictions": {
          "description": "Restrictions of the SKU availability.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuRestriction"
          },
          "readOnly": true
        }
      }
    },
    "Role": {
      "description": "Compute role.",
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "kind": {
          "description": "Role type.",
          "enum": [
            "IOT",
            "ASA",
            "Functions",
            "Cognitive"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RoleTypes",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "RoleList": {
      "description": "Collection of all the roles on the Data Box Edge device.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The Value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RoleSinkInfo": {
      "description": "Compute role against which events will be raised.",
      "required": [
        "roleId"
      ],
      "type": "object",
      "properties": {
        "roleId": {
          "description": "Compute role ID.",
          "type": "string"
        }
      }
    },
    "SecuritySettings": {
      "description": "The security settings of a device.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecuritySettingsProperties",
          "description": "Properties of the security settings.",
          "x-ms-client-flatten": true
        }
      }
    },
    "SecuritySettingsProperties": {
      "description": "The properties of security settings.",
      "required": [
        "deviceAdminPassword"
      ],
      "type": "object",
      "properties": {
        "deviceAdminPassword": {
          "$ref": "#/definitions/AsymmetricEncryptedSecret",
          "description": "Device administrator password as an encrypted string (encrypted using RSA PKCS #1) is used to sign into the  local web UI of the device. The Actual password should have at least 8 characters that are a combination of  uppercase, lowercase, numeric, and special characters."
        }
      }
    },
    "ServiceSpecification": {
      "description": "Service specification.",
      "type": "object",
      "properties": {
        "metricSpecifications": {
          "description": "Metric specification as defined by shoebox.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification_V1"
          }
        }
      }
    },
    "Share": {
      "description": "Represents a share on the  Data Box Edge/Gateway device.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ShareProperties",
          "description": "The share properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ShareAccessRight": {
      "description": "Specifies the mapping between this particular user and the type of access he has on shares on this device.",
      "required": [
        "shareId",
        "accessType"
      ],
      "type": "object",
      "properties": {
        "shareId": {
          "description": "The share ID.",
          "type": "string"
        },
        "accessType": {
          "description": "Type of access to be allowed on the share for this user.",
          "enum": [
            "Change",
            "Read",
            "Custom"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ShareAccessType",
            "modelAsString": true
          }
        }
      }
    },
    "ShareList": {
      "description": "Collection of all the shares on the Data Box Edge/Gateway device.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of shares.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Share"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ShareProperties": {
      "description": "The share properties.",
      "required": [
        "shareStatus",
        "monitoringStatus",
        "accessProtocol"
      ],
      "type": "object",
      "properties": {
        "description": {
          "description": "Description for the share.",
          "type": "string"
        },
        "shareStatus": {
          "description": "Current status of the share.",
          "enum": [
            "Offline",
            "Unknown",
            "OK",
            "Updating",
            "NeedsAttention"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ShareStatus",
            "modelAsString": true
          }
        },
        "monitoringStatus": {
          "description": "Current monitoring status of the share.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MonitoringStatus",
            "modelAsString": true
          }
        },
        "azureContainerInfo": {
          "$ref": "#/definitions/AzureContainerInfo",
          "description": "Azure container mapping for the share."
        },
        "accessProtocol": {
          "description": "Access protocol to be used by the share.",
          "enum": [
            "SMB",
            "NFS"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ShareAccessProtocol",
            "modelAsString": true
          }
        },
        "userAccessRights": {
          "description": "Mapping of users and corresponding access rights on the share (required for SMB protocol).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserAccessRight"
          }
        },
        "clientAccessRights": {
          "description": "List of IP addresses and corresponding access rights on the share(required for NFS protocol).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientAccessRight"
          }
        },
        "refreshDetails": {
          "$ref": "#/definitions/RefreshDetails",
          "description": "Details of the refresh job on this share."
        },
        "shareMappings": {
          "description": "Share mount point to the role.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MountPointMap"
          },
          "readOnly": true
        },
        "dataPolicy": {
          "description": "Data policy of the share.",
          "enum": [
            "Cloud",
            "Local"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataPolicy",
            "modelAsString": true
          }
        }
      }
    },
    "Sku": {
      "description": "The SKU type.",
      "type": "object",
      "properties": {
        "name": {
          "description": "SKU name.",
          "enum": [
            "Gateway",
            "Edge",
            "TEA_1Node",
            "TEA_1Node_UPS",
            "TEA_1Node_Heater",
            "TEA_1Node_UPS_Heater",
            "TEA_4Node_Heater",
            "TEA_4Node_UPS_Heater",
            "TMA"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "description": "The SKU tier. This is based on the SKU name.",
          "enum": [
            "Standard"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      }
    },
    "SkuCost": {
      "description": "The metadata for retrieving price info.",
      "type": "object",
      "properties": {
        "meterId": {
          "description": "Used for querying price from commerce.",
          "type": "string",
          "readOnly": true
        },
        "quantity": {
          "format": "int64",
          "description": "The cost quantity.",
          "type": "integer",
          "readOnly": true
        },
        "extendedUnit": {
          "description": "Restriction of the SKU for the location/zone",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SkuInformationList": {
      "description": "List of SKU Information objects",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of ResourceType Sku",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceTypeSku"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Links to the next set of results",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SkuLocationInfo": {
      "description": "The location info.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location.",
          "type": "string",
          "readOnly": true
        },
        "zones": {
          "description": "The zones.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sites": {
          "description": "The sites.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "SkuRestriction": {
      "description": "The restrictions because of which SKU cannot be used.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the restriction.",
          "type": "string",
          "readOnly": true
        },
        "values": {
          "description": "The locations where sku is restricted.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "reasonCode": {
          "description": "The SKU restriction reason.",
          "enum": [
            "NotAvailableForSubscription",
            "QuotaId"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "SkuRestrictionReasonCode",
            "modelAsString": true
          }
        },
        "restrictionInfo": {
          "$ref": "#/definitions/SkuRestrictionInfo",
          "description": "Restriction of the SKU for the location/zone",
          "readOnly": true
        }
      }
    },
    "SkuRestrictionInfo": {
      "description": "The restriction info with locations and zones.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "The locations.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "zones": {
          "description": "The zones.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "StorageAccount": {
      "description": "Represents a Storage Account on the  Data Box Edge/Gateway device.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The Storage Account properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "StorageAccountCredential": {
      "description": "The storage account credential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageAccountCredentialProperties",
          "description": "The storage account credential properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "StorageAccountCredentialList": {
      "description": "The collection of storage account credentials.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccountCredential"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StorageAccountCredentialProperties": {
      "description": "The storage account credential properties.",
      "required": [
        "alias",
        "sslStatus",
        "accountType"
      ],
      "type": "object",
      "properties": {
        "alias": {
          "description": "Alias for the storage account.",
          "type": "string"
        },
        "userName": {
          "description": "Username for the storage account.",
          "type": "string"
        },
        "accountKey": {
          "$ref": "#/definitions/AsymmetricEncryptedSecret",
          "description": "Encrypted storage key."
        },
        "connectionString": {
          "description": "Connection string for the storage account. Use this string if username and account key are not specified.",
          "type": "string"
        },
        "sslStatus": {
          "description": "Signifies whether SSL needs to be enabled or not.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SSLStatus",
            "modelAsString": true
          }
        },
        "blobDomainName": {
          "description": "Blob end point for private clouds.",
          "type": "string"
        },
        "accountType": {
          "description": "Type of storage accessed on the storage account.",
          "enum": [
            "GeneralPurposeStorage",
            "BlobStorage"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AccountType",
            "modelAsString": true
          }
        },
        "storageAccountId": {
          "description": "Id of the storage account.",
          "type": "string"
        }
      }
    },
    "StorageAccountList": {
      "description": "Collection of all the Storage Accounts on the Data Box Edge/Gateway device.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of storageAccounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StorageAccountProperties": {
      "description": "The storage account properties.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description for the storage Account.",
          "type": "string"
        },
        "storageAccountStatus": {
          "description": "Current status of the storage account",
          "enum": [
            "OK",
            "Offline",
            "Unknown",
            "Updating",
            "NeedsAttention"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StorageAccountStatus",
            "modelAsString": true
          }
        },
        "dataPolicy": {
          "description": "Data policy of the storage Account.",
          "enum": [
            "Cloud",
            "Local"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataPolicy",
            "modelAsString": true
          }
        },
        "storageAccountCredentialId": {
          "description": "Storage Account Credential Id",
          "type": "string"
        },
        "blobEndpoint": {
          "description": "BlobEndpoint of Storage Account",
          "type": "string",
          "readOnly": true
        },
        "containerCount": {
          "format": "int32",
          "description": "The Container Count. Present only for Storage Accounts with DataPolicy set to Cloud.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "SymmetricKey": {
      "description": "Symmetric key for authentication.",
      "type": "object",
      "properties": {
        "connectionString": {
          "$ref": "#/definitions/AsymmetricEncryptedSecret",
          "description": "Connection string based on the symmetric key."
        }
      }
    },
    "TrackingInfo": {
      "description": "Tracking courier information.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "Serial number of the device being tracked.",
          "type": "string"
        },
        "carrierName": {
          "description": "Name of the carrier used in the delivery.",
          "type": "string"
        },
        "trackingId": {
          "description": "Tracking ID of the shipment.",
          "type": "string"
        },
        "trackingUrl": {
          "description": "Tracking URL of the shipment.",
          "type": "string"
        }
      }
    },
    "Trigger": {
      "description": "Trigger details.",
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "kind": {
          "description": "Trigger Kind.",
          "enum": [
            "FileEvent",
            "PeriodicTimerEvent"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerEventType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "TriggerList": {
      "description": "Collection of all trigger on the data box edge device.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of triggers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trigger"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateDownloadProgress": {
      "description": "Details about the download progress of update.",
      "type": "object",
      "properties": {
        "downloadPhase": {
          "description": "The download phase.",
          "enum": [
            "Unknown",
            "Initializing",
            "Downloading",
            "Verifying"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DownloadPhase",
            "modelAsString": true
          }
        },
        "percentComplete": {
          "format": "int32",
          "description": "Percentage of completion.",
          "type": "integer",
          "readOnly": true
        },
        "totalBytesToDownload": {
          "format": "double",
          "description": "Total bytes to download.",
          "type": "number",
          "readOnly": true
        },
        "totalBytesDownloaded": {
          "format": "double",
          "description": "Total bytes downloaded.",
          "type": "number",
          "readOnly": true
        },
        "numberOfUpdatesToDownload": {
          "format": "int32",
          "description": "Number of updates to download.",
          "type": "integer",
          "readOnly": true
        },
        "numberOfUpdatesDownloaded": {
          "format": "int32",
          "description": "Number of updates downloaded.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "UpdateInstallProgress": {
      "description": "Progress details during installation of updates.",
      "type": "object",
      "properties": {
        "percentComplete": {
          "format": "int32",
          "description": "Percentage completed.",
          "type": "integer",
          "readOnly": true
        },
        "numberOfUpdatesToInstall": {
          "format": "int32",
          "description": "Number of updates to install.",
          "type": "integer",
          "readOnly": true
        },
        "numberOfUpdatesInstalled": {
          "format": "int32",
          "description": "Number of updates installed.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "UpdateSummary": {
      "description": "Details about ongoing updates and availability of updates on the device.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/UpdateSummaryProperties",
          "description": "The device update information summary.",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateSummaryProperties": {
      "description": "The device update information summary.",
      "type": "object",
      "properties": {
        "deviceVersionNumber": {
          "description": "The current version of the device in format: 1.2.17312.13.\",",
          "type": "string"
        },
        "friendlyDeviceVersionName": {
          "description": "The current version of the device in text format.",
          "type": "string"
        },
        "deviceLastScannedDateTime": {
          "format": "date-time",
          "description": "The last time when a scan was done on the device.",
          "type": "string"
        },
        "lastCompletedScanJobDateTime": {
          "format": "date-time",
          "description": "The time when the last scan job was completed (success/cancelled/failed) on the appliance.",
          "type": "string"
        },
        "lastCompletedDownloadJobDateTime": {
          "format": "date-time",
          "description": "The time when the last Download job was completed (success/cancelled/failed) on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "lastCompletedInstallJobDateTime": {
          "format": "date-time",
          "description": "The time when the last Install job was completed (success/cancelled/failed) on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "totalNumberOfUpdatesAvailable": {
          "format": "int32",
          "description": "The number of updates available for the current device version as per the last device scan.",
          "type": "integer",
          "readOnly": true
        },
        "totalNumberOfUpdatesPendingDownload": {
          "format": "int32",
          "description": "The total number of items pending download.",
          "type": "integer",
          "readOnly": true
        },
        "totalNumberOfUpdatesPendingInstall": {
          "format": "int32",
          "description": "The total number of items pending install.",
          "type": "integer",
          "readOnly": true
        },
        "rebootBehavior": {
          "description": "Indicates if updates are available and at least one of the updates needs a reboot.",
          "enum": [
            "NeverReboots",
            "RequiresReboot",
            "RequestReboot"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "InstallRebootBehavior",
            "modelAsString": true
          }
        },
        "ongoingUpdateOperation": {
          "description": "The current update operation.",
          "enum": [
            "None",
            "Scan",
            "Download",
            "Install"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "UpdateOperation",
            "modelAsString": true
          }
        },
        "inProgressDownloadJobId": {
          "description": "The job ID of the download job in progress.",
          "type": "string",
          "readOnly": true
        },
        "inProgressInstallJobId": {
          "description": "The job ID of the install job in progress.",
          "type": "string",
          "readOnly": true
        },
        "inProgressDownloadJobStartedDateTime": {
          "format": "date-time",
          "description": "The time when the currently running download (if any) started.",
          "type": "string",
          "readOnly": true
        },
        "inProgressInstallJobStartedDateTime": {
          "format": "date-time",
          "description": "The time when the currently running install (if any) started.",
          "type": "string",
          "readOnly": true
        },
        "updateTitles": {
          "description": "The list of updates available for install.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "totalUpdateSizeInBytes": {
          "format": "double",
          "description": "The total size of updates available for download in bytes.",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "UploadCertificateRequest": {
      "description": "The upload certificate request.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RawCertificateData",
          "description": "The Base 64 encoded certificate raw data.",
          "x-ms-client-flatten": true
        }
      }
    },
    "UploadCertificateResponse": {
      "description": "The upload registration certificate response.",
      "type": "object",
      "properties": {
        "authType": {
          "description": "Specifies authentication type.",
          "enum": [
            "Invalid",
            "AzureActiveDirectory"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AuthenticationType",
            "modelAsString": true
          }
        },
        "resourceId": {
          "description": "The resource ID of the Data Box Edge/Gateway device.",
          "type": "string",
          "readOnly": true
        },
        "aadAuthority": {
          "description": "Azure Active Directory tenant authority.",
          "type": "string",
          "readOnly": true
        },
        "aadTenantId": {
          "description": "Azure Active Directory tenant ID.",
          "type": "string",
          "readOnly": true
        },
        "servicePrincipalClientId": {
          "description": "Azure Active Directory service principal client ID.",
          "type": "string",
          "readOnly": true
        },
        "servicePrincipalObjectId": {
          "description": "Azure Active Directory service principal object ID.",
          "type": "string",
          "readOnly": true
        },
        "azureManagementEndpointAudience": {
          "description": "The azure management endpoint audience.",
          "type": "string",
          "readOnly": true
        },
        "aadAudience": {
          "description": "Identifier of the target resource that is the recipient of the requested token.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "User": {
      "description": "Represents a user who has access to one or more shares on the Data Box Edge/Gateway device.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ARMBaseModel"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/UserProperties",
          "description": "The storage account credential properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "UserAccessRight": {
      "description": "The mapping between a particular user and the access type on the SMB share.",
      "required": [
        "userId",
        "accessType"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "User ID (already existing in the device).",
          "type": "string"
        },
        "accessType": {
          "description": "Type of access to be allowed for the user.",
          "enum": [
            "Change",
            "Read",
            "Custom"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ShareAccessType",
            "modelAsString": true
          }
        }
      }
    },
    "UserList": {
      "description": "Collection of users.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of users.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UserProperties": {
      "description": "The user properties.",
      "required": [
        "userType"
      ],
      "type": "object",
      "properties": {
        "encryptedPassword": {
          "$ref": "#/definitions/AsymmetricEncryptedSecret",
          "description": "The password details."
        },
        "shareAccessRights": {
          "description": "List of shares that the user has rights on. This field should not be specified during user creation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShareAccessRight"
          }
        },
        "userType": {
          "description": "Type of the user.",
          "enum": [
            "Share",
            "LocalManagement",
            "ARM"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UserType",
            "modelAsString": true
          }
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version.",
      "required": true,
      "type": "string"
    },
    "locationParameter": {
      "name": "location",
      "in": "path",
      "description": "The location of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The resource group name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "databoxedgegateway",
  "x-internal-service-name": "Data Box Edge/Data Box Gateway",
  "x-internal-toc-name": "Users",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "CreateOrUpdate",
  "x-internal-operation-name": "Create Or Update"
}