{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}": {
      "get": {
        "tags": [
          "Watcher"
        ],
        "operationId": "Watcher_Get",
        "description": "Retrieve the watcher identified by watcher name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "x-ms-examples": {
          "Get watcher": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "MyTestAutomationAccount",
              "watcherName": "MyTestWatcher",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/MyTestAutomationAccount/watchers/MyTestWatcher",
                  "name": "MyTestWatcher",
                  "type": null,
                  "location": null,
                  "tags": {},
                  "etag": null,
                  "properties": {
                    "executionFrequencyInSeconds": 60,
                    "scriptName": "MyTestWatcherRunbook",
                    "scriptParameters": {},
                    "description": "",
                    "status": "Running",
                    "scriptRunOn": "MyTestHybridWorkerGroup",
                    "creationTime": "2017-11-30T18:50:17.163+00:00",
                    "lastModifiedBy": null,
                    "lastModifiedTime": "2017-11-30T18:50:17.163+00:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "watcherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The watcher name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Watcher"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Watcher": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/WatcherProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the watcher properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "description": "Definition of the watcher type.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "WatcherProperties": {
      "properties": {
        "executionFrequencyInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the frequency at which the watcher is invoked."
        },
        "scriptName": {
          "type": "string",
          "description": "Gets or sets the name of the script the watcher is attached to, i.e. the name of an existing runbook."
        },
        "scriptParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the script."
        },
        "scriptRunOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the watcher will run on."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the current status of the watcher."
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "lastModifiedBy": {
          "type": "string",
          "readOnly": true,
          "description": "Details of the user who last modified the watcher."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the watcher properties"
    },
    "WatcherUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/WatcherUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the watcher update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        }
      }
    },
    "WatcherUpdateProperties": {
      "properties": {
        "executionFrequencyInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the frequency at which the watcher is invoked."
        }
      },
      "description": "The properties of the update watcher operation."
    },
    "WatcherListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Watcher"
          },
          "description": "Gets or sets a list of watchers."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list watcher operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Watcher",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}