{
  "swagger": "2.0",
  "info": {
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2017-04-01",
    "title": "Azure Activity Log Alerts API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}": {
      "get": {
        "description": "Get an activity log alert.",
        "operationId": "ActivityLogAlerts_Get",
        "x-ms-examples": {
          "Get an activity log alert": {
            "parameters": {
              "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d",
              "resourceGroupName": "Default-ActivityLogAlerts",
              "activityLogAlertName": "SampleActivityLogAlert",
              "api-version": "2017-04-01"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert",
                  "type": "Microsoft.Insights/ActivityLogAlerts",
                  "name": "SampleActivityLogAlert",
                  "location": "Global",
                  "tags": {},
                  "properties": {
                    "scopes": [
                      "subscriptions/187f412d-1758-44d9-b052-169e2564721d"
                    ],
                    "enabled": true,
                    "condition": {
                      "allOf": [
                        {
                          "field": "Category",
                          "equals": "Administrative"
                        },
                        {
                          "field": "Level",
                          "equals": "Error"
                        }
                      ]
                    },
                    "actions": {
                      "actionGroups": [
                        {
                          "actionGroupId": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup",
                          "webhookProperties": {
                            "sampleWebhookProperty": "samplePropertyValue"
                          }
                        }
                      ]
                    },
                    "description": "Sample activity log alert description"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActivityLogAlertNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "$ref": "#/definitions/ActivityLogAlertResource"
            }
          },
          "default": {
            "description": "An error occurred and the activity log alert could not be retrieved.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "ActivityLogAlertResource": {
      "description": "An activity log alert resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActivityLogAlert",
          "description": "The activity log alert properties of the resource."
        }
      }
    },
    "ActivityLogAlertList": {
      "description": "A list of activity log alerts.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityLogAlertResource"
          },
          "description": "The list of activity log alerts."
        },
        "nextLink": {
          "type": "string",
          "description": "Provides the link to retrieve the next set of elements."
        }
      }
    },
    "ActivityLogAlert": {
      "description": "An Azure activity log alert.",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of resourceIds that will be used as prefixes. The alert will only apply to activityLogs with resourceIds that fall under one of these prefixes. This list must include at least one item."
        },
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this activity log alert is enabled. If an activity log alert is not enabled, then none of its actions will be activated."
        },
        "condition": {
          "$ref": "#/definitions/ActivityLogAlertAllOfCondition",
          "description": "The condition that will cause this alert to activate."
        },
        "actions": {
          "$ref": "#/definitions/ActivityLogAlertActionList",
          "description": "The actions that will activate when the condition is met."
        },
        "description": {
          "type": "string",
          "description": "A description of this activity log alert."
        }
      },
      "required": [
        "scopes",
        "condition",
        "actions"
      ]
    },
    "ActivityLogAlertAllOfCondition": {
      "properties": {
        "allOf": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityLogAlertLeafCondition"
          },
          "description": "The list of activity log alert conditions."
        }
      },
      "description": "An Activity Log alert condition that is met when all its member conditions are met.",
      "required": [
        "allOf"
      ]
    },
    "ActivityLogAlertLeafCondition": {
      "properties": {
        "field": {
          "type": "string",
          "description": "The name of the field that this condition will examine. The possible values for this field are (case-insensitive): 'resourceId', 'category', 'caller', 'level', 'operationName', 'resourceGroup', 'resourceProvider', 'status', 'subStatus', 'resourceType', or anything beginning with 'properties.'."
        },
        "equals": {
          "type": "string",
          "description": "The field value will be compared to this value (case-insensitive) to determine if the condition is met."
        }
      },
      "description": "An Activity Log alert condition that is met by comparing an activity log field and value.",
      "required": [
        "field",
        "equals"
      ]
    },
    "ActivityLogAlertActionList": {
      "description": "A list of activity log alert actions.",
      "properties": {
        "actionGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityLogAlertActionGroup"
          },
          "description": "The list of activity log alerts."
        }
      }
    },
    "ActivityLogAlertActionGroup": {
      "description": "A pointer to an Azure Action Group.",
      "properties": {
        "actionGroupId": {
          "type": "string",
          "description": "The resourceId of the action group. This cannot be null or empty."
        },
        "webhookProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload."
        }
      },
      "required": [
        "actionGroupId"
      ]
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "ActivityLogAlertPatchBody": {
      "description": "An activity log alert object for the body of patch operations.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActivityLogAlertPatch",
          "description": "The activity log alert settings for an update operation."
        }
      }
    },
    "ActivityLogAlertPatch": {
      "description": "An Azure activity log alert for patch operations.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this activity log alert is enabled. If an activity log alert is not enabled, then none of its actions will be activated."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ActivityLogAlertNameParameter": {
      "name": "activityLogAlertName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the activity log alert.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Activity Log Alerts",
  "x-internal-split-type": "Operation"
}