{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "BackupManagementClient",
    "description": "The Admin Backup Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}": {
      "put": {
        "x-ms-examples": {
          "Update new backup location.": {
            "parameters": {
              "subscriptionId": "11111111-2222-3333-4444-555555555555",
              "resourceGroupName": "System.local",
              "location": "local",
              "backup": {
                "properties": {
                  "externalStoreDefault": {
                    "path": "\\\\192.168.1.1\\Share",
                    "userName": "UserName",
                    "password": "secretPassword",
                    "encryptionKeyBase64": "YVVOa0J3S2xTamhHZ1lyRU9wQ1pKQ0xWanhjaHlkaU5ZQnNDeHRPTGFQenJKdWZsRGtYT25oYmlaa1RMVWFKeQ==",
                    "availableCapacity": "10GB",
                    "isBackupSchedulerEnabled": false
                  }
                },
                "location": "local",
                "tags": {}
              },
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local",
                  "name": "local",
                  "type": "Microsoft.Backup.Admin/backupLocations",
                  "location": "local",
                  "tags": {},
                  "properties": {
                    "externalStoreDefault": {
                      "path": "\\\\192.168.1.1\\Share",
                      "userName": "UserName",
                      "password": "",
                      "encryptionKeyBase64": "",
                      "availableCapacity": "10GB",
                      "isBackupSchedulerEnabled": false
                    }
                  }
                }
              },
              "202": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local",
                  "name": "local",
                  "type": "Microsoft.Backup.Admin/backupLocations",
                  "location": "local",
                  "tags": {},
                  "properties": {
                    "externalStoreDefault": {
                      "path": "\\\\192.168.1.1\\Share",
                      "userName": "UserName",
                      "password": "",
                      "encryptionKeyBase64": "",
                      "availableCapacity": "10GB",
                      "isBackupSchedulerEnabled": false
                    }
                  }
                }
              },
              "404": {}
            }
          }
        },
        "description": "Update a backup location.",
        "tags": [
          "BackupLocations"
        ],
        "operationId": "BackupLocations_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/BackupLocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BackupLocationObjectParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupLocation"
            }
          },
          "202": {
            "description": "ACCEPTED",
            "schema": {
              "$ref": "#/definitions/BackupLocation"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "BackupLocation": {
      "description": "Information about the backup location.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a backup location.",
          "$ref": "#/definitions/BackupLocationModel",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "BackupLocationModel": {
      "type": "object",
      "description": "Properties of a backup location.",
      "properties": {
        "externalStoreDefault": {
          "description": "Information about an external storage location.",
          "$ref": "#/definitions/ExternalStore",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExternalStore": {
      "type": "object",
      "description": "Information about an external storage location.",
      "properties": {
        "path": {
          "description": "Path to the update location",
          "type": "string"
        },
        "userName": {
          "description": "Username to access the location.",
          "type": "string"
        },
        "password": {
          "description": "Password to access the location.",
          "type": "string"
        },
        "encryptionKeyBase64": {
          "description": "Encryption key.",
          "type": "string"
        },
        "backupFrequencyInHours": {
          "description": "The interval, in hours, for the frequency that the scheduler takes a backup.",
          "type": "integer"
        },
        "availableCapacity": {
          "description": "Free space at the backup location.",
          "type": "string"
        },
        "isBackupSchedulerEnabled": {
          "description": "True if the backup scheduler is enabled.",
          "type": "boolean"
        },
        "nextBackupTime": {
          "description": "The scheduled time of the next backup.",
          "type": "string",
          "format": "date-time"
        },
        "lastBackupTime": {
          "description": "Time of backup.",
          "type": "string",
          "format": "date-time"
        },
        "backupRetentionPeriodInDays": {
          "description": "The retention period, in days, for backs in the storage location.",
          "type": "integer"
        }
      }
    },
    "BackupLocationList": {
      "type": "object",
      "description": "List of backup locations.",
      "properties": {
        "value": {
          "description": "List of backup locations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BackupLocation"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "List of key value pairs.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "OperationStatus": {
      "description": "Status of an operation.",
      "type": "string",
      "enum": [
        "Creating",
        "Queued",
        "Running",
        "Deleted",
        "Failed",
        "PartialSucceeded",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "OperationStatus",
        "modelAsString": false
      }
    },
    "RoleOperationStatus": {
      "description": "Backup status for a role.",
      "type": "object",
      "properties": {
        "roleName": {
          "description": "Name of the role.",
          "type": "string"
        },
        "status": {
          "description": "Status of the role.",
          "$ref": "#/definitions/OperationStatus"
        }
      }
    },
    "RoleOperationStatusList": {
      "description": "object",
      "type": "array",
      "items": {
        "$ref": "#/definitions/RoleOperationStatus"
      }
    },
    "BackupInfo": {
      "type": "object",
      "description": "Holds information for a backup.",
      "properties": {
        "backupDataVersion": {
          "description": "Version of the backup data.",
          "type": "string",
          "readOnly": true
        },
        "backupId": {
          "description": "Unique GUID for the backup.",
          "type": "string",
          "readOnly": true
        },
        "roleStatus": {
          "description": "Backup status for each role.",
          "$ref": "#/definitions/RoleOperationStatusList",
          "readOnly": true
        },
        "status": {
          "description": "Current status of the backup.",
          "$ref": "#/definitions/OperationStatus",
          "readOnly": true
        },
        "createdDateTime": {
          "description": "Creation time of the backup.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "timeTakenToCreate": {
          "description": "Duration to create the backup.",
          "type": "string",
          "readOnly": true
        },
        "deploymentID": {
          "description": "Deployment Id of the stamp.",
          "type": "string",
          "readOnly": true
        },
        "stampVersion": {
          "description": "Current version.",
          "type": "string",
          "readOnly": true
        },
        "oemVersion": {
          "description": "OEM version.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BackupModel": {
      "description": "Properties for a backup.",
      "properties": {
        "backupInfo": {
          "description": "Holds information for a backup.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BackupInfo"
        }
      }
    },
    "Backup": {
      "description": "Information related to a backup.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties for a backup.",
          "$ref": "#/definitions/BackupModel",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    }
  },
  "parameters": {
    "BackupLocationParameter": {
      "name": "location",
      "in": "path",
      "description": "Name of the backup location.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "BackupLocationObjectParameter": {
      "name": "backup",
      "in": "body",
      "description": "Backup location object.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/BackupLocation"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Backup Locations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Update",
  "x-internal-operation-name": "Update"
}