{
  "swagger": "2.0",
  "info": {
    "version": "2017-04-01",
    "title": "EventHubManagementClient",
    "description": "Azure Event Hubs client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_List",
        "x-ms-examples": {
          "NamespacesListBySubscription": {
            "parameters": {
              "api-version": "2017-04-01",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.EventHub/namespaces/eh-ns1",
                      "name": "eh-ns1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:eh-ns1",
                        "createdAt": "2016-08-23T04:15:35.263Z",
                        "updatedAt": "2017-02-03T20:13:04.007Z",
                        "serviceBusEndpoint": "https://eh-ns1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 9
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace1",
                      "name": "ehnamespace1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 20,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace1",
                        "createdAt": "2016-08-05T16:56:48.657Z",
                        "updatedAt": "2017-05-03T23:49:12.69Z",
                        "serviceBusEndpoint": "https://ehnamespace1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95",
                      "name": "NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95",
                        "createdAt": "2016-09-16T01:10:00.96Z",
                        "updatedAt": "2017-02-11T11:15:32.313Z",
                        "serviceBusEndpoint": "https://NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-027302b7-df82-43a1-abf7-b6a2e2429115",
                      "name": "NS-027302b7-df82-43a1-abf7-b6a2e2429115",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-027302b7-df82-43a1-abf7-b6a2e2429115",
                        "createdAt": "2016-08-05T04:13:34.727Z",
                        "updatedAt": "2017-02-11T10:35:30.053Z",
                        "serviceBusEndpoint": "https://NS-027302b7-df82-43a1-abf7-b6a2e2429115.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 7
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/abc-7-14",
                      "name": "abc-7-14",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 14,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:abc-7-14",
                        "createdAt": "2017-05-05T17:58:58.433Z",
                        "updatedAt": "2017-05-05T17:59:20Z",
                        "serviceBusEndpoint": "https://abc-7-14.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3054",
                      "name": "sdk-Namespace-3054",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3054",
                        "createdAt": "2017-05-24T18:43:53.58Z",
                        "updatedAt": "2017-05-24T18:44:16.657Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-3054.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/namespace1asdfsa",
                      "name": "namespace1asdfsa",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:namespace1asdfsa",
                        "createdAt": "2016-09-12T18:23:15.833Z",
                        "updatedAt": "2017-02-04T01:58:49.523Z",
                        "serviceBusEndpoint": "https://namespace1asdfsa.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 3
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/hello1-3-8",
                      "name": "hello1-3-8",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 8,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:hello1-3-8",
                        "createdAt": "2017-05-05T19:23:18.96Z",
                        "updatedAt": "2017-05-05T19:23:42.497Z",
                        "serviceBusEndpoint": "https://hello1-3-8.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBPerplexed",
                      "name": "SBPerplexed",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbperplexed",
                        "createdAt": "2016-10-10T19:18:57.773Z",
                        "updatedAt": "2017-02-03T23:46:15.22Z",
                        "serviceBusEndpoint": "https://SBPerplexed.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace123",
                      "name": "ehnamespace123",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace123",
                        "createdAt": "2016-08-05T16:57:09Z",
                        "updatedAt": "2017-02-11T08:25:30.093Z",
                        "serviceBusEndpoint": "https://ehnamespace123.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/oaisdjfoiasdjfoiajsdfoijasd",
                      "name": "oaisdjfoiasdjfoiajsdfoijasd",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:oaisdjfoiasdjfoiajsdfoijasd",
                        "createdAt": "2017-05-03T22:05:29.61Z",
                        "updatedAt": "2017-05-03T22:05:51.593Z",
                        "serviceBusEndpoint": "https://oaisdjfoiasdjfoiajsdfoijasd.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ns3",
                      "name": "rrama-ns3",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns3",
                        "createdAt": "2016-08-23T04:22:40.633Z",
                        "updatedAt": "2017-02-11T12:52:58.277Z",
                        "serviceBusEndpoint": "https://rrama-ns3.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/abc123",
                      "name": "abc123",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:abc123",
                        "createdAt": "2017-05-04T19:06:00.813Z",
                        "updatedAt": "2017-05-04T19:06:23.71Z",
                        "serviceBusEndpoint": "https://abc123.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace21",
                      "name": "ehnamespace21",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace21",
                        "createdAt": "2016-08-05T16:57:00.377Z",
                        "updatedAt": "2017-02-11T09:50:32.86Z",
                        "serviceBusEndpoint": "https://ehnamespace21.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBFlerbederp",
                      "name": "SBFlerbederp",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbflerbederp",
                        "createdAt": "2016-10-10T19:32:17.56Z",
                        "updatedAt": "2017-02-03T20:46:59.227Z",
                        "serviceBusEndpoint": "https://SBFlerbederp.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 9
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/aaa-001-9-11",
                      "name": "aaa-001-9-11",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 11,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:aaa-001-9-11",
                        "createdAt": "2017-05-05T17:32:22.37Z",
                        "updatedAt": "2017-05-05T17:32:44.76Z",
                        "serviceBusEndpoint": "https://aaa-001-9-11.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-47a32389-7331-47c8-9228-4c145b2650d7",
                      "name": "NS-47a32389-7331-47c8-9228-4c145b2650d7",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-47a32389-7331-47c8-9228-4c145b2650d7",
                        "createdAt": "2016-09-16T01:41:51.857Z",
                        "updatedAt": "2017-02-11T08:28:03.157Z",
                        "serviceBusEndpoint": "https://NS-47a32389-7331-47c8-9228-4c145b2650d7.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7",
                      "name": "NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7",
                        "createdAt": "2016-08-05T03:39:52.323Z",
                        "updatedAt": "2017-02-11T04:40:32.24Z",
                        "serviceBusEndpoint": "https://NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBFeasible",
                      "name": "SBFeasible",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbfeasible",
                        "createdAt": "2016-10-10T19:05:24.76Z",
                        "updatedAt": "2017-02-03T19:51:55.893Z",
                        "serviceBusEndpoint": "https://SBFeasible.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-3b72258b-a8a1-4250-8952-e89a15af71fc",
                      "name": "NS-3b72258b-a8a1-4250-8952-e89a15af71fc",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3b72258b-a8a1-4250-8952-e89a15af71fc",
                        "createdAt": "2016-09-16T17:59:27.227Z",
                        "updatedAt": "2017-02-27T19:34:26.633Z",
                        "serviceBusEndpoint": "https://NS-3b72258b-a8a1-4250-8952-e89a15af71fc.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5849",
                      "name": "sdk-Namespace-5849",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-5849",
                        "createdAt": "2017-05-24T23:23:27.877Z",
                        "updatedAt": "2017-05-24T23:23:50.467Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-5849.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/testDC/providers/Microsoft.EventHub/namespaces/TestNamespace1",
                      "name": "TestNamespace1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Updating",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:testnamespace1",
                        "createdAt": "2017-04-25T00:28:00.243Z",
                        "updatedAt": "2017-04-26T20:54:41.18Z",
                        "serviceBusEndpoint": "https://TestNamespace1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ehns",
                      "name": "rrama-ehns",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ehns",
                        "createdAt": "2016-08-23T04:22:49.74Z",
                        "updatedAt": "2017-02-11T07:03:51.793Z",
                        "serviceBusEndpoint": "https://rrama-ehns.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/testDC/providers/Microsoft.EventHub/namespaces/TestNamespace3",
                      "name": "TestNamespace3",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:testnamespace3",
                        "createdAt": "2017-05-03T22:33:17.84Z",
                        "updatedAt": "2017-05-03T22:33:40.087Z",
                        "serviceBusEndpoint": "https://TestNamespace3.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4984",
                      "name": "sdk-Namespace-4984",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-4984",
                        "createdAt": "2017-05-24T21:31:03.587Z",
                        "updatedAt": "2017-05-24T21:31:24.967Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-4984.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-19df9616-54d6-47c9-8779-a4651835a95c",
                      "name": "NS-19df9616-54d6-47c9-8779-a4651835a95c",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-19df9616-54d6-47c9-8779-a4651835a95c",
                        "createdAt": "2016-08-23T02:38:33.8Z",
                        "updatedAt": "2017-02-11T04:28:01.093Z",
                        "serviceBusEndpoint": "https://NS-19df9616-54d6-47c9-8779-a4651835a95c.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-463af3de-8c87-4347-a614-a4c24f748109",
                      "name": "NS-463af3de-8c87-4347-a614-a4c24f748109",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-463af3de-8c87-4347-a614-a4c24f748109",
                        "createdAt": "2016-08-05T00:55:04.807Z",
                        "updatedAt": "2017-02-11T06:13:53.343Z",
                        "serviceBusEndpoint": "https://NS-463af3de-8c87-4347-a614-a4c24f748109.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5606",
                      "name": "sdk-Namespace-5606",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-5606",
                        "createdAt": "2017-05-24T18:56:05.093Z",
                        "updatedAt": "2017-05-24T18:56:27.32Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-5606.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3",
                      "name": "NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3",
                        "createdAt": "2016-08-05T04:18:53.27Z",
                        "updatedAt": "2017-02-11T06:49:39.877Z",
                        "serviceBusEndpoint": "https://NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-7703",
                      "name": "sdk-Namespace-7703",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-7703",
                        "createdAt": "2017-05-24T19:05:23.817Z",
                        "updatedAt": "2017-05-24T19:05:44.717Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-7703.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 3
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/zzzzzzzzzzzzzzzzzzzzzz-00001",
                      "name": "zzzzzzzzzzzzzzzzzzzzzz-00001",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 11,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:zzzzzzzzzzzzzzzzzzzzzz-00001",
                        "createdAt": "2017-05-04T21:35:49.383Z",
                        "updatedAt": "2017-05-05T17:01:20.733Z",
                        "serviceBusEndpoint": "https://zzzzzzzzzzzzzzzzzzzzzz-00001.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBQuestionable",
                      "name": "SBQuestionable",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbquestionable",
                        "createdAt": "2016-10-10T18:56:24.723Z",
                        "updatedAt": "2017-02-03T19:51:46.983Z",
                        "serviceBusEndpoint": "https://SBQuestionable.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace1234",
                      "name": "ehnamespace1234",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace1234",
                        "createdAt": "2016-08-05T16:57:17.863Z",
                        "updatedAt": "2017-02-11T10:35:33.817Z",
                        "serviceBusEndpoint": "https://ehnamespace1234.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3919",
                      "name": "sdk-Namespace-3919",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3919",
                        "createdAt": "2017-05-24T02:08:20.15Z",
                        "updatedAt": "2017-05-24T02:08:41.313Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-3919.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/arunarchivetest",
                      "name": "arunarchivetest",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:arunarchivetest",
                        "createdAt": "2017-03-08T19:25:49.897Z",
                        "updatedAt": "2017-03-08T19:26:17.49Z",
                        "serviceBusEndpoint": "https://arunarchivetest.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/aiosdjfaoidjasdoijasdfoijasdfofijsdf",
                      "name": "aiosdjfaoidjasdoijasdfoijasdfofijsdf",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:aiosdjfaoidjasdoijasdfoijasdfofijsdf",
                        "createdAt": "2017-05-04T21:23:23.9Z",
                        "updatedAt": "2017-05-04T21:23:46.78Z",
                        "serviceBusEndpoint": "https://aiosdjfaoidjasdoijasdfoijasdfofijsdf.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3413",
                      "name": "sdk-Namespace-3413",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3413",
                        "createdAt": "2017-05-24T19:02:15.45Z",
                        "updatedAt": "2017-05-24T19:02:38.047Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-3413.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBConfuzzled",
                      "name": "SBConfuzzled",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbconfuzzled",
                        "createdAt": "2016-10-10T19:30:45.71Z",
                        "updatedAt": "2017-02-03T22:49:17.82Z",
                        "serviceBusEndpoint": "https://SBConfuzzled.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8695",
                      "name": "sdk-Namespace-8695",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-8695",
                        "createdAt": "2017-05-24T20:03:43.81Z",
                        "updatedAt": "2017-05-24T20:04:05.88Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-8695.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 11
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/aaa-11-17",
                      "name": "aaa-11-17",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 17,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:aaa-11-17",
                        "createdAt": "2017-05-08T18:47:07.64Z",
                        "updatedAt": "2017-05-08T18:47:29.587Z",
                        "serviceBusEndpoint": "https://aaa-11-17.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 4
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/hello1-4-14",
                      "name": "hello1-4-14",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 14,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:hello1-4-14",
                        "createdAt": "2017-05-05T18:54:20.563Z",
                        "updatedAt": "2017-05-05T18:54:42.507Z",
                        "serviceBusEndpoint": "https://hello1-4-14.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4801",
                      "name": "sdk-Namespace-4801",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-4801",
                        "createdAt": "2017-05-24T18:39:39.213Z",
                        "updatedAt": "2017-05-24T18:40:00.087Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-4801.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 8
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/RichardsEventHub1",
                      "name": "RichardsEventHub1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 15,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:richardseventhub1",
                        "createdAt": "2017-04-27T19:15:13.05Z",
                        "updatedAt": "2017-05-09T19:34:41.127Z",
                        "serviceBusEndpoint": "https://RichardsEventHub1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 7
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-test",
                      "name": "rrama-autoinflate-test",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-test",
                        "createdAt": "2017-05-01T16:58:11.34Z",
                        "updatedAt": "2017-05-08T21:52:42.663Z",
                        "serviceBusEndpoint": "https://rrama-autoinflate-test.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/foofoofoofoof",
                      "name": "foofoofoofoof",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:foofoofoofoof",
                        "createdAt": "2017-04-29T02:47:53.523Z",
                        "updatedAt": "2017-04-29T02:48:17.95Z",
                        "serviceBusEndpoint": "https://foofoofoofoof.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/asdf1234asdf",
                      "name": "asdf1234asdf",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:asdf1234asdf",
                        "createdAt": "2016-09-13T01:45:40.58Z",
                        "updatedAt": "2017-02-11T06:54:38.623Z",
                        "serviceBusEndpoint": "https://asdf1234asdf.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2812",
                      "name": "sdk-Namespace-2812",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2812",
                        "createdAt": "2017-05-24T18:55:44.687Z",
                        "updatedAt": "2017-05-24T18:56:05.587Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-2812.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c",
                      "name": "NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4aadc830-1029-49b8-8fbd-dd0130e7a84c",
                        "createdAt": "2016-08-05T04:02:53.43Z",
                        "updatedAt": "2017-02-11T05:13:02.697Z",
                        "serviceBusEndpoint": "https://NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-5e79a429-aa52-42b9-8120-2fe72fc00727",
                      "name": "NS-5e79a429-aa52-42b9-8120-2fe72fc00727",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5e79a429-aa52-42b9-8120-2fe72fc00727",
                        "createdAt": "2016-08-05T01:13:41.527Z",
                        "updatedAt": "2017-02-11T04:24:44.797Z",
                        "serviceBusEndpoint": "https://NS-5e79a429-aa52-42b9-8120-2fe72fc00727.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-df-ns1",
                      "name": "rrama-df-ns1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-df-ns1",
                        "createdAt": "2016-10-27T23:35:05.453Z",
                        "updatedAt": "2017-02-03T20:23:49.533Z",
                        "serviceBusEndpoint": "https://rrama-df-ns1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 9
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/bbbb-9-12",
                      "name": "bbbb-9-12",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 12,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bbbb-9-12",
                        "createdAt": "2017-05-05T17:47:35.123Z",
                        "updatedAt": "2017-05-05T17:47:56.1Z",
                        "serviceBusEndpoint": "https://bbbb-9-12.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/eh-autoInflate/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-template1",
                      "name": "rrama-autoinflate-template1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-template1",
                        "createdAt": "2017-05-03T17:46:36.71Z",
                        "updatedAt": "2017-05-03T17:47:00.163Z",
                        "serviceBusEndpoint": "https://rrama-autoinflate-template1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/RandomPlotTwists",
                      "name": "RandomPlotTwists",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:randomplottwists",
                        "createdAt": "2017-05-18T00:37:26.13Z",
                        "updatedAt": "2017-05-18T00:37:49.533Z",
                        "serviceBusEndpoint": "https://RandomPlotTwists.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-1862d295-09cc-4e54-b23d-a2bc3bab2392",
                      "name": "NS-1862d295-09cc-4e54-b23d-a2bc3bab2392",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-1862d295-09cc-4e54-b23d-a2bc3bab2392",
                        "createdAt": "2016-08-05T04:08:14.253Z",
                        "updatedAt": "2017-02-11T04:33:53.34Z",
                        "serviceBusEndpoint": "https://NS-1862d295-09cc-4e54-b23d-a2bc3bab2392.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-MigrateThis",
                      "name": "NS-MigrateThis",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-migratethis",
                        "createdAt": "2016-08-06T00:23:12.3Z",
                        "updatedAt": "2017-02-04T00:25:08.043Z",
                        "serviceBusEndpoint": "https://NS-MigrateThis.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-5e01d977-125c-4fd2-8a78-cc50be544d1f",
                      "name": "NS-5e01d977-125c-4fd2-8a78-cc50be544d1f",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5e01d977-125c-4fd2-8a78-cc50be544d1f",
                        "createdAt": "2016-08-05T04:34:33.617Z",
                        "updatedAt": "2017-02-11T05:54:42.25Z",
                        "serviceBusEndpoint": "https://NS-5e01d977-125c-4fd2-8a78-cc50be544d1f.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 10
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-2b17fb74-2719-4c68-9ba3-13a018485b1f",
                      "name": "NS-2b17fb74-2719-4c68-9ba3-13a018485b1f",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-2b17fb74-2719-4c68-9ba3-13a018485b1f",
                        "createdAt": "2016-08-05T04:29:17.147Z",
                        "updatedAt": "2017-05-02T19:52:53.243Z",
                        "serviceBusEndpoint": "https://NS-2b17fb74-2719-4c68-9ba3-13a018485b1f.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ehns123",
                      "name": "rrama-int7-ehns123",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ehns123",
                        "createdAt": "2016-09-13T23:35:15.473Z",
                        "updatedAt": "2016-09-13T23:35:38.63Z",
                        "serviceBusEndpoint": "https://rrama-int7-ehns123.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-test",
                      "name": "rrama-autoinflate-test",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-test",
                        "createdAt": "2017-05-01T17:48:04.55Z",
                        "updatedAt": "2017-05-04T21:15:36.013Z",
                        "serviceBusEndpoint": "https://rrama-autoinflate-test.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate2",
                      "name": "rrama-autoinflate2",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "North Europe",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": true,
                        "maximumThroughputUnits": 10,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate2",
                        "createdAt": "2017-05-01T20:50:00.22Z",
                        "updatedAt": "2017-05-01T20:50:24.687Z",
                        "serviceBusEndpoint": "https://rrama-autoinflate2.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/db3-rrama-foo1",
                      "name": "db3-rrama-foo1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "North Europe",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo1",
                        "createdAt": "2017-04-28T23:47:36.503Z",
                        "updatedAt": "2017-05-01T21:14:37.133Z",
                        "serviceBusEndpoint": "https://db3-rrama-foo1.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ehns1",
                      "name": "rrama-int7-ehns1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ehns1",
                        "createdAt": "2016-09-13T23:20:44.853Z",
                        "updatedAt": "2016-09-13T23:20:47.35Z",
                        "serviceBusEndpoint": "https://rrama-int7-ehns1.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ns1",
                      "name": "rrama-int7-ns1",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ns1",
                        "createdAt": "2016-09-13T23:17:25.24Z",
                        "updatedAt": "2016-09-13T23:17:28.223Z",
                        "serviceBusEndpoint": "https://rrama-int7-ns1.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard",
                        "capacity": 0
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ehns2-int7",
                      "name": "rrama-ehns2-int7",
                      "type": "Microsoft.EventHub/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ehns2-int7",
                        "createdAt": "2016-09-13T23:26:21.64Z",
                        "updatedAt": "2016-09-13T23:26:37.95Z",
                        "serviceBusEndpoint": "https://rrama-ehns2-int7.servicebus.int7.windows-int.net:443/"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Lists all the available Namespaces within a subscription, irrespective of the resource groups.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespaces returned successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespaceListResult"
            }
          },
          "default": {
            "description": "Eventhub error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "TrackedResource": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of Resource"
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        }
      },
      "description": "The Resource definition",
      "x-ms-azure-resource": true
    },
    "EHNamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EHNamespace"
          },
          "description": "Result of the List Namespace operation"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of namespaces."
        }
      },
      "description": "The response of the List Namespace operation"
    },
    "EHNamespace": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Properties of sku resource"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "provisioningState": {
              "readOnly": true,
              "type": "string",
              "description": "Provisioning state of the Namespace."
            },
            "createdAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The time the Namespace was created."
            },
            "updatedAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The time the Namespace was updated."
            },
            "serviceBusEndpoint": {
              "readOnly": true,
              "type": "string",
              "description": "Endpoint you can use to perform Service Bus operations."
            },
            "metricId": {
              "readOnly": true,
              "type": "string",
              "description": "Identifier for Azure Insights metrics."
            },
            "isAutoInflateEnabled": {
              "type": "boolean",
              "description": "Value that indicates whether AutoInflate is enabled for eventhub namespace."
            },
            "maximumThroughputUnits": {
              "format": "int32",
              "type": "integer",
              "maximum": 20,
              "minimum": 0,
              "description": "Upper limit of throughput units when AutoInflate is enabled, vaule should be within 0 to 20 throughput units. ( '0' if AutoInflateEnabled = true)"
            }
          },
          "description": "Namespace properties supplied for create namespace operation."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Single Namespace item in List or Get Operation"
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this SKU.",
          "enum": [
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "The billing tier of this particular SKU.",
          "enum": [
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "capacity": {
          "format": "int32",
          "maximum": 20,
          "minimum": 0,
          "type": "integer",
          "description": "The Event Hubs throughput units, vaule should be 0 to 20 throughput units."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU parameters supplied to the create namespace operation"
    },
    "AuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthorizationRule"
          },
          "description": "Result of the List Authorization Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains an incomplete list of Authorization Rules"
        }
      },
      "description": "The response from the List namespace operation."
    },
    "AuthorizationRule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "rights": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Manage",
                  "Send",
                  "Listen"
                ],
                "x-ms-enum": {
                  "name": "AccessRights",
                  "modelAsString": true
                }
              },
              "description": "The rights associated with the rule."
            }
          },
          "required": [
            "rights"
          ],
          "description": "Properties supplied to create or update AuthorizationRule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in a List or Get AuthorizationRule operation"
    },
    "AccessKeys": {
      "properties": {
        "primaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Primary connection string of the created namespace AuthorizationRule."
        },
        "secondaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Secondary connection string of the created namespace AuthorizationRule."
        },
        "aliasPrimaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Primary connection string of the alias if GEO DR is enabled"
        },
        "aliasSecondaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Secondary  connection string of the alias if GEO DR is enabled"
        },
        "primaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "secondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "keyName": {
          "readOnly": true,
          "type": "string",
          "description": "A string that describes the AuthorizationRule."
        }
      },
      "description": "Namespace/EventHub Connection String"
    },
    "RegenerateAccessKeyParameters": {
      "properties": {
        "keyType": {
          "type": "string",
          "description": "The access key to regenerate.",
          "enum": [
            "PrimaryKey",
            "SecondaryKey"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": false
          }
        },
        "key": {
          "type": "string",
          "description": "Optional, if the key value provided, is set for KeyType or autogenerated Key value set for keyType"
        }
      },
      "required": [
        "keyType"
      ],
      "description": "Parameters supplied to the Regenerate Authorization Rule operation, specifies which key neeeds to be reset."
    },
    "Eventhub": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "partitionIds": {
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Current number of shards on the Event Hub."
            },
            "createdAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "Exact time the Event Hub was created."
            },
            "updatedAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The exact time the message was updated."
            },
            "messageRetentionInDays": {
              "format": "int64",
              "type": "integer",
              "minimum": 1,
              "description": "Number of days to retain the events for this Event Hub, value should be 1 to 7 days"
            },
            "partitionCount": {
              "format": "int64",
              "type": "integer",
              "minimum": 1,
              "description": "Number of partitions created for the Event Hub, allowed values are from 1 to 32 partitions."
            },
            "status": {
              "type": "string",
              "description": "Enumerates the possible values for the status of the Event Hub.",
              "enum": [
                "Active",
                "Disabled",
                "Restoring",
                "SendDisabled",
                "ReceiveDisabled",
                "Creating",
                "Deleting",
                "Renaming",
                "Unknown"
              ],
              "x-ms-enum": {
                "name": "EntityStatus",
                "modelAsString": false
              }
            },
            "captureDescription": {
              "$ref": "#/definitions/CaptureDescription",
              "description": "Properties of capture description"
            }
          },
          "description": "Properties supplied to the Create Or Update Event Hub operation."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Event Hub operation"
    },
    "CaptureDescription": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "A value that indicates whether capture description is enabled. "
        },
        "encoding": {
          "type": "string",
          "description": "Enumerates the possible values for the encoding format of capture description. Note: 'AvroDeflate' will be deprecated in New API Version",
          "enum": [
            "Avro",
            "AvroDeflate"
          ],
          "x-ms-enum": {
            "name": "EncodingCaptureDescription",
            "modelAsString": false
          }
        },
        "intervalInSeconds": {
          "format": "int32",
          "type": "integer",
          "maximum": 900,
          "minimum": 60,
          "description": "The time window allows you to set the frequency with which the capture to Azure Blobs will happen, value should between 60 to 900 seconds"
        },
        "sizeLimitInBytes": {
          "format": "int32",
          "type": "integer",
          "maximum": 524288000,
          "minimum": 10485760,
          "description": "The size window defines the amount of data built up in your Event Hub before an capture operation, value should be between 10485760 to 524288000 bytes"
        },
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "Properties of Destination where capture will be stored. (Storage Account, Blob Names)"
        }
      },
      "description": "Properties to configure capture description for eventhub"
    },
    "Destination": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for capture destination"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "storageAccountResourceId": {
              "type": "string",
              "description": "Resource id of the storage account to be used to create the blobs"
            },
            "blobContainer": {
              "type": "string",
              "description": "Blob container Name"
            },
            "archiveNameFormat": {
              "type": "string",
              "description": "Blob naming convention for archive, e.g. {Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}. Here all the parameters (Namespace,EventHub .. etc) are mandatory irrespective of order"
            }
          },
          "description": "Properties describing the storage account, blob container and acrchive anme format for capture destination"
        }
      },
      "description": "Capture storage details for capture description"
    },
    "EventHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Eventhub"
          },
          "description": "Result of the List EventHubs operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of EventHubs."
        }
      },
      "description": "The result of the List EventHubs operation."
    },
    "ConsumerGroup": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "createdAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "Exact time the message was created."
            },
            "updatedAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The exact time the message was updated."
            },
            "userMetadata": {
              "type": "string",
              "description": "Usermetadata is a placeholder to store user-defined string data with maximum length 1024. e.g. it can be used to store descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored."
            }
          },
          "description": "Single item in List or Get Consumer group operation"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Consumer group operation"
    },
    "ConsumerGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConsumerGroup"
          },
          "description": "Result of the List Consumer Group operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Consumer Group"
        }
      },
      "description": "The result to the List Consumer Group operation."
    },
    "UnavailableReason": {
      "type": "string",
      "enum": [
        "None",
        "InvalidName",
        "SubscriptionIsDisabled",
        "NameInUse",
        "NameInLockdown",
        "TooManyNamespaceInCurrentSubscription"
      ],
      "x-ms-enum": {
        "name": "UnavailableReason",
        "modelAsString": false
      },
      "description": "Specifies the reason for the unavailability of the service."
    },
    "CheckNameAvailabilityParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name to check the namespace name availability"
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameter supplied to check Namespace name availability operation "
    },
    "CheckNameAvailabilityResult": {
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The detailed info regarding the reason associated with the Namespace."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Value indicating Namespace is availability, true if the Namespace is available; otherwise, false."
        },
        "reason": {
          "$ref": "#/definitions/UnavailableReason",
          "description": "The reason for unavailability of a Namespace."
        }
      },
      "description": "The Result of the CheckNameAvailability operation"
    },
    "OperationListResult": {
      "description": "Result of the request to list Event Hub operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of Event Hub operations supported by the Microsoft.EventHub resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "A Event Hub REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "readOnly": true,
              "type": "string",
              "description": "Service provider: Microsoft.EventHub"
            },
            "resource": {
              "readOnly": true,
              "type": "string",
              "description": "Resource on which the operation is performed: Invoice, etc."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "Operation type: Read, write, delete, etc."
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error reponse indicates EventHub service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "ArmDisasterRecovery": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "provisioningState": {
              "readOnly": true,
              "type": "string",
              "description": "Provisioning state of the Alias(Disaster Recovery configuration) - possible values 'Accepted' or 'Succeeded' or 'Failed'",
              "enum": [
                "Accepted",
                "Succeeded",
                "Failed"
              ],
              "x-ms-enum": {
                "name": "ProvisioningStateDR",
                "modelAsString": false
              }
            },
            "partnerNamespace": {
              "type": "string",
              "description": "ARM Id of the Primary/Secondary eventhub namespace name, which is part of GEO DR pairning"
            },
            "alternateName": {
              "type": "string",
              "description": "Alternate name specified when alias and namespace names are same."
            },
            "role": {
              "readOnly": true,
              "type": "string",
              "description": "role of namespace in GEO DR - possible values 'Primary' or 'PrimaryNotReplicating' or 'Secondary'",
              "enum": [
                "Primary",
                "PrimaryNotReplicating",
                "Secondary"
              ],
              "x-ms-enum": {
                "name": "RoleDisasterRecovery",
                "modelAsString": false
              }
            }
          },
          "description": "Properties required to the Create Or Update Alias(Disaster Recovery configurations)"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Alias(Disaster Recovery configuration) operation"
    },
    "ArmDisasterRecoveryListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmDisasterRecovery"
          },
          "description": "List of Alias(Disaster Recovery configurations)"
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Alias(Disaster Recovery configuration)"
        }
      },
      "description": "The result of the List Alias(Disaster Recovery configuration) operation."
    },
    "MessagingRegions": {
      "properties": {
        "properties": {
          "properties": {
[...]
