{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-01-preview",
    "title": "MonitorClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/metricDefinitions": {
      "get": {
        "tags": [
          "MetricDefinitions"
        ],
        "operationId": "MetricDefinitions_List",
        "description": "Lists the metric definitions for the resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric definitions",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionCollection"
            },
            "examples": {
              "application/json": {
                "value": [
                  {
                    "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/CpuTime",
                    "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                    "name": {
                      "value": "CpuTime",
                      "localizedValue": "CPU Time"
                    },
                    "isDimensionRequired": false,
                    "unit": "Seconds",
                    "primaryAggregationType": "Total",
                    "metricAvailabilities": [
                      {
                        "timeGrain": "PT1M",
                        "retention": "P30D"
                      },
                      {
                        "timeGrain": "PT1H",
                        "retention": "P30D"
                      }
                    ],
                    "dimensions": [
                      {
                        "value": "Instance",
                        "localizedValue": "Instance"
                      }
                    ]
                  },
                  {
                    "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/MemoryWorkingSet",
                    "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                    "name": {
                      "value": "MemoryWorkingSet",
                      "localizedValue": "Memory working set"
                    },
                    "isDimensionRequired": false,
                    "unit": "Bytes",
                    "primaryAggregationType": "Average",
                    "metricAvailabilities": [
                      {
                        "timeGrain": "PT1M",
                        "retention": "P30D"
                      },
                      {
                        "timeGrain": "PT1H",
                        "retention": "P30D"
                      }
                    ],
                    "dimensions": [
                      {
                        "value": "Instance",
                        "localizedValue": "Instance"
                      }
                    ]
                  },
                  {
                    "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/AverageMemoryWorkingSet",
                    "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                    "name": {
                      "value": "AverageMemoryWorkingSet",
                      "localizedValue": "Average memory working set"
                    },
                    "isDimensionRequired": false,
                    "unit": "Bytes",
                    "primaryAggregationType": "Average",
                    "metricAvailabilities": [
                      {
                        "timeGrain": "PT1M",
                        "retention": "P30D"
                      },
                      {
                        "timeGrain": "PT1H",
                        "retention": "P30D"
                      }
                    ],
                    "dimensions": [
                      {
                        "value": "Instance",
                        "localizedValue": "Instance"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Get Metric Definitions without filter": {
            "parameters": {
              "resourceUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricDefinitions",
              "api-version": "2017-05-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/CpuTime",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "CpuTime",
                        "localizedValue": "CPU Time"
                      },
                      "isDimensionRequired": false,
                      "unit": "Seconds",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Requests",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Requests",
                        "localizedValue": "Requests"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/BytesReceived",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "BytesReceived",
                        "localizedValue": "Data In"
                      },
                      "isDimensionRequired": false,
                      "unit": "Bytes",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/BytesSent",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "BytesSent",
                        "localizedValue": "Data Out"
                      },
                      "isDimensionRequired": false,
                      "unit": "Bytes",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http101",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http101",
                        "localizedValue": "Http 101"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http2xx",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http2xx",
                        "localizedValue": "Http 2xx"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http3xx",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http3xx",
                        "localizedValue": "Http 3xx"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http401",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http401",
                        "localizedValue": "Http 401"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http403",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http403",
                        "localizedValue": "Http 403"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http404",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http404",
                        "localizedValue": "Http 404"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http406",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http406",
                        "localizedValue": "Http 406"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http4xx",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http4xx",
                        "localizedValue": "Http 4xx"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http5xx",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "Http5xx",
                        "localizedValue": "Http Server Errors"
                      },
                      "isDimensionRequired": false,
                      "unit": "Count",
                      "primaryAggregationType": "Total",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/MemoryWorkingSet",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "MemoryWorkingSet",
                        "localizedValue": "Memory working set"
                      },
                      "isDimensionRequired": false,
                      "unit": "Bytes",
                      "primaryAggregationType": "Average",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/AverageMemoryWorkingSet",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "AverageMemoryWorkingSet",
                        "localizedValue": "Average memory working set"
                      },
                      "isDimensionRequired": false,
                      "unit": "Bytes",
                      "primaryAggregationType": "Average",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/AverageResponseTime",
                      "resourceId": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest",
                      "name": {
                        "value": "AverageResponseTime",
                        "localizedValue": "Average Response Time"
                      },
                      "isDimensionRequired": false,
                      "unit": "Seconds",
                      "primaryAggregationType": "Average",
                      "metricAvailabilities": [
                        {
                          "timeGrain": "PT1M",
                          "retention": "P30D"
                        },
                        {
                          "timeGrain": "PT1H",
                          "retention": "P30D"
                        }
                      ],
                      "dimensions": [
                        {
                          "value": "Instance",
                          "localizedValue": "Instance"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "LocalizableString": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "description": "the invariant value."
        },
        "localizedValue": {
          "type": "string",
          "description": "the locale specific value."
        }
      },
      "description": "The localizable string class."
    },
    "MetricAvailability": {
      "properties": {
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "the time grain specifies the aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc."
        },
        "retention": {
          "type": "string",
          "format": "duration",
          "description": "the retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc."
        }
      },
      "description": "Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain."
    },
    "Unit": {
      "type": "string",
      "description": "the unit of the metric.",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond",
        "Percent",
        "MilliSeconds"
      ],
      "x-ms-enum": {
        "name": "Unit",
        "modelAsString": false
      }
    },
    "MetricDefinition": {
      "properties": {
        "isDimensionRequired": {
          "type": "boolean",
          "description": "Flag to indicate whether the dimension is required."
        },
        "resourceId": {
          "type": "string",
          "description": "the resource identifier of the resource that emitted the metric."
        },
        "name": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is a localizable string."
        },
        "unit": {
          "$ref": "#/definitions/Unit",
          "description": "the unit of the metric."
        },
        "primaryAggregationType": {
          "type": "string",
          "description": "the primary aggregation type value defining how to use the values for display.",
          "enum": [
            "None",
            "Average",
            "Count",
            "Minimum",
            "Maximum",
            "Total"
          ],
          "x-ms-enum": {
            "name": "AggregationType",
            "modelAsString": false
          }
        },
        "metricAvailabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAvailability"
          },
          "description": "the collection of what aggregation intervals are available to be queried."
        },
        "id": {
          "type": "string",
          "description": "the resource identifier of the metric definition."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizableString"
          },
          "description": "the name and the display name of the dimension, i.e. it is a localizable string."
        }
      },
      "description": "Metric definition class specifies the metadata for a metric."
    },
    "MetricDefinitionCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          },
          "description": "the values for the metric definitions."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents collection of metric definitions."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Metric Definitions"
}