{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "IP pool operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all IP pools at a certain location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1",
                      "name": "13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.200.1",
                        "endIpAddress": "192.168.200.62",
                        "numberOfIpAddresses": 62,
                        "numberOfAllocatedIpAddresses": 3,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/7d78b1d4-059d-4956-bd08-a174ef5db6ae",
                      "name": "7d78b1d4-059d-4956-bd08-a174ef5db6ae",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.105.1",
                        "endIpAddress": "192.168.105.255",
                        "numberOfIpAddresses": 255,
                        "numberOfAllocatedIpAddresses": 8,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/acd04be9-69fe-4713-99d3-99046f971f73",
                      "name": "acd04be9-69fe-4713-99d3-99046f971f73",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.200.65",
                        "endIpAddress": "192.168.200.111",
                        "numberOfIpAddresses": 47,
                        "numberOfAllocatedIpAddresses": 0,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cace184f-12a4-43a7-ab22-9796cda85c56",
                      "name": "cace184f-12a4-43a7-ab22-9796cda85c56",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.200.112",
                        "endIpAddress": "192.168.200.127",
                        "numberOfIpAddresses": 16,
                        "numberOfAllocatedIpAddresses": 1,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cf9ccfbf-d902-44ef-914c-3e59c2cc5215",
                      "name": "cf9ccfbf-d902-44ef-914c-3e59c2cc5215",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.200.224",
                        "endIpAddress": "192.168.200.254",
                        "numberOfIpAddresses": 31,
                        "numberOfAllocatedIpAddresses": 1,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/e7eb5792-8240-4210-8f25-73cf2d0be74a",
                      "name": "e7eb5792-8240-4210-8f25-73cf2d0be74a",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.168.102.1",
                        "endIpAddress": "192.168.102.255",
                        "numberOfIpAddresses": 255,
                        "numberOfAllocatedIpAddresses": 33,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool199198",
                      "name": "TestIpPool199198",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.198.9.1",
                        "endIpAddress": "192.198.9.255",
                        "numberOfIpAddresses": 255,
                        "numberOfAllocatedIpAddresses": 0,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1992",
                      "name": "TestIpPool1992",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.2.9.1",
                        "endIpAddress": "192.2.9.255",
                        "numberOfIpAddresses": 255,
                        "numberOfAllocatedIpAddresses": 0,
                        "numberOfIpAddressesInTransition": 0
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1993",
                      "name": "TestIpPool1993",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/ipPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startIpAddress": "192.3.9.1",
                        "endIpAddress": "192.3.9.255",
                        "numberOfIpAddresses": 255,
                        "numberOfAllocatedIpAddresses": 0,
                        "numberOfIpAddressesInTransition": 0
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "tags": [
          "IpPools"
        ],
        "description": "Returns a list of all IP pools at a certain location.",
        "operationId": "IpPools_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpPoolList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/IpPool",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "IpPool": {
      "description": "This resource defines the range of IP addresses from which addresses are  allocated for nodes within a subnet.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of an IpPool.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/IpPoolModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "IpPoolModel": {
      "description": "Properties of an IpPool.",
      "type": "object",
      "properties": {
        "startIpAddress": {
          "description": "The starting IP address.",
          "type": "string"
        },
        "endIpAddress": {
          "description": "The ending IP address.",
          "type": "string"
        },
        "addressPrefix": {
          "description": "The address prefix.",
          "type": "string"
        },
        "numberOfIpAddresses": {
          "description": "The total number of IP addresses.",
          "type": "integer",
          "format": "int64"
        },
        "numberOfAllocatedIpAddresses": {
          "description": "The number of currently allocated IP addresses.",
          "type": "integer",
          "format": "int64"
        },
        "numberOfIpAddressesInTransition": {
          "description": "The current number of IP addresses in transition.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "IpPoolList": {
      "description": "Pageable list of IP pools.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of IP pools.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpPool"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "IpPoolParameter": {
      "name": "pool",
      "description": "IP pool object to send.",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/IpPool"
      },
      "x-ms-parameter-location": "method"
    },
    "IpPoolNameParameter": {
      "name": "ipPool",
      "description": "IP pool name.",
      "type": "string",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Ip Pools",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}