{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-01",
    "title": "MediaServicesManagementClient",
    "description": "Media Services resource management APIs."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{mediaServiceName}/regenerateKey": {
      "post": {
        "operationId": "MediaService_RegenerateKey",
        "description": "Regenerates a primary or secondary key for a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          },
          {
            "name": "RegenerateKeyInput",
            "description": "Properties needed to regenerate the Media Service key.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Media Services key specified in the input was regenerated.",
            "schema": {
              "$ref": "#/definitions/RegenerateKeyOutput"
            },
            "examples": {
              "application/json": {
                "key": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx="
              }
            }
          },
          "default": {
            "description": "Regenerate Media Service key failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Regenerate Key"
      }
    }
  },
  "definitions": {
    "ApiEndpoint": {
      "description": "The properties for a Media Services REST API endpoint.",
      "example": {
        "endpoint": "https://wamsbayclus001rest-hs.cloudapp.net/api/",
        "majorVersion": "2"
      },
      "properties": {
        "endpoint": {
          "description": "The Media Services REST endpoint.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version of Media Services REST API.",
          "type": "string"
        }
      }
    },
    "ApiError": {
      "description": "The error returned from a failed Media Services REST API call.",
      "example": {
        "error": {
          "code": "BadRequest",
          "message": "Name availability check is not supported for type Microsoft.Media/mediaservices."
        }
      },
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityInput": {
      "description": "The request body for CheckNameAvailability API.",
      "example": {
        "name": "contosomedia",
        "type": "mediaservices"
      },
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The name of the resource. A name must be globally unique.",
          "type": "string",
          "pattern": "^[a-z0-9]",
          "minLength": 3,
          "maxLength": 24
        },
        "type": {
          "description": "The type of the resource - mediaservices.",
          "$ref": "#/definitions/ResourceType"
        }
      }
    },
    "ResourceType": {
      "description": "Type of MediaService resource.",
      "enum": [
        "mediaservices"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": false
      }
    },
    "CheckNameAvailabilityOutput": {
      "description": "The response body for CheckNameAvailability API.",
      "example": {
        "value": [
          {
            "NameAvailable": true
          },
          {
            "NameAvailable": false,
            "Reason": "AlreadyExists",
            "Message": "Already in use by another Media Service instance. Please try again with a name that is not likely to be in use."
          },
          {
            "NameAvailable": false,
            "Reason": "Invalid",
            "Message": "The media service name should be between 3 and 24 characters and may contain only lowercase letters and numbers."
          }
        ]
      },
      "properties": {
        "NameAvailable": {
          "description": "Specifies if the name is available.",
          "type": "boolean"
        },
        "Reason": {
          "description": "Specifies the reason if the name is not available.",
          "type": "string",
          "enum": [
            "None",
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "EntityNameUnavailabilityReason",
            "modelAsString": false
          }
        },
        "Message": {
          "description": "Specifies the detailed reason if the name is not available.",
          "type": "string"
        }
      }
    },
    "MediaService": {
      "description": "The properties of a Media Service resource.",
      "example": {
        "location": "West US",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-media/providers/Microsoft.Storage/storageAccounts/contosomedia",
              "isPrimary": true
            }
          ]
        }
      },
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MediaServiceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "MediaServiceCollection": {
      "description": "The collection of Media Service resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaService"
          }
        }
      }
    },
    "MediaServiceProperties": {
      "description": "The additional properties of a Media Service resource.",
      "properties": {
        "apiEndpoints": {
          "description": "Read-only property that lists the Media Services REST API endpoints for this resource. If supplied on a PUT or PATCH, the value will be ignored.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiEndpoint"
          }
        },
        "storageAccounts": {
          "description": "The storage accounts for this resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          }
        }
      }
    },
    "RegenerateKeyInput": {
      "description": "The request body for a RegenerateKey API.",
      "example": {
        "keyType": "Primary"
      },
      "properties": {
        "keyType": {
          "description": "The keyType indicating which key you want to regenerate, Primary or Secondary.",
          "type": "string",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "keyType"
      ]
    },
    "RegenerateKeyOutput": {
      "description": "The response body for a RegenerateKey API.",
      "example": {
        "key": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx="
      },
      "properties": {
        "key": {
          "description": "The new value of either the primary or secondary key.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "The Azure Resource Manager resource.",
      "properties": {
        "id": {
          "description": "The id of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the resource",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The geographic location of the resource. This must be one of the supported and registered Azure Geo Regions (for example, West US, East US, Southeast Asia, and so forth)."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags to help categorize the resource in the Azure portal."
        }
      },
      "x-ms-azure-resource": true
    },
    "ServiceKeys": {
      "description": "The response body for a ListKeys API.",
      "example": {
        "primaryAuthEndpoint": "https://wamsprodglobal001acs.accesscontrol.windows.net/",
        "secondaryAuthEndpoint": "https://wamsprodglobal002acs.accesscontrol.windows.net/",
        "primaryKey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=",
        "secondaryKey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=",
        "scope": "urn:windowsazuremediaservices"
      },
      "properties": {
        "primaryAuthEndpoint": {
          "description": "The primary authorization endpoint.",
          "type": "string"
        },
        "secondaryAuthEndpoint": {
          "description": "The secondary authorization endpoint.",
          "type": "string"
        },
        "primaryKey": {
          "description": "The primary key for the Media Service resource.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "The secondary key for the Media Service resource.",
          "type": "string"
        },
        "scope": {
          "description": "The authorization scope.",
          "type": "string"
        }
      }
    },
    "StorageAccount": {
      "description": "The properties of a storage account associated with this resource.",
      "example": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-media/providers/Microsoft.Storage/storageAccounts/contosomedia",
        "isPrimary": true
      },
      "required": [
        "id",
        "isPrimary"
      ],
      "properties": {
        "id": {
          "description": "The id of the storage account resource. Media Services relies on tables and queues as well as blobs, so the primary storage account must be a Standard Storage account (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts can be added as secondary storage accounts (isPrimary false).",
          "type": "string"
        },
        "isPrimary": {
          "description": "Is this storage account resource the primary storage account for the Media Service resource. Blob only storage must set this to false.",
          "type": "boolean"
        }
      }
    },
    "SyncStorageKeysInput": {
      "description": "The request  body for a SyncStorageKeys API.",
      "example": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-media/providers/Microsoft.Storage/storageAccounts/contosomedia"
      },
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "description": "The id of the storage account resource.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "description": "The unique identifier for a Microsoft Azure subscription.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "description": "Name of the resource group within the Azure subscription.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "mediaResourceNameParameter": {
      "name": "mediaServiceName",
      "description": "Name of the Media Service.",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z0-9]",
      "minLength": 3,
      "maxLength": 24,
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "description": "Version of the API to be used with the client request. Current version is 2015-10-01",
      "in": "query",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-service-name": "Media Services",
  "x-internal-toc-name": "Media Service",
  "x-internal-split-type": "Operation"
}