{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-16",
    "x-ms-code-generation-settings": {
      "name": "AnalysisServicesManagementClient"
    },
    "title": "AzureAnalysisServices",
    "description": "The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Analysis Services servers"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus": {
      "get": {
        "description": "Lists eligible SKUs for an Analysis Services resource.",
        "x-ms-examples": {
          "List eligible SKUs for an existing server": {
            "parameters": {
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60",
              "resourceGroupName": "TestRG",
              "serverName": "azsdktest",
              "api-version": "2016-05-16"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "sku": {
                        "name": "B1",
                        "tier": "Basic"
                      }
                    },
                    {
                      "sku": {
                        "name": "B2",
                        "tier": "Basic"
                      }
                    },
                    {
                      "sku": {
                        "name": "S0",
                        "tier": "Standard"
                      }
                    },
                    {
                      "sku": {
                        "name": "S1",
                        "tier": "Standard"
                      }
                    },
                    {
                      "sku": {
                        "name": "S2",
                        "tier": "Standard"
                      }
                    },
                    {
                      "sku": {
                        "name": "S3",
                        "tier": "Standard"
                      }
                    },
                    {
                      "sku": {
                        "name": "S4",
                        "tier": "Standard"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListSkusForExisting",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SkuEnumerationForExistingResourceResult"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List Skus For Existing"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Represents an instance of an Analysis Services resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the Analysis Services resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the Analysis Services resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the Analysis Services resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the Analysis Services resource."
        },
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU of the Analysis Services resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        }
      },
      "required": [
        "location",
        "sku"
      ],
      "x-ms-azure-resource": true
    },
    "AnalysisServicesServer": {
      "description": "Represents an instance of an Analysis Services resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnalysisServicesServerProperties",
          "description": "Properties of the provision operation request."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "AnalysisServicesServers": {
      "description": "An array of Analysis Services resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnalysisServicesServer"
          },
          "description": "An array of Analysis Services resources."
        }
      },
      "required": [
        "value"
      ]
    },
    "AnalysisServicesServerUpdateParameters": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU of the Analysis Services resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional provisioning properties."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnalysisServicesServerMutableProperties",
          "description": "Properties of the provision operation request."
        }
      }
    },
    "AnalysisServicesServerProperties": {
      "description": "Properties of Analysis Services resource.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning."
        },
        "serverFullName": {
          "type": "string",
          "readOnly": true,
          "description": "The full name of the Analysis Services resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AnalysisServicesServerMutableProperties"
        }
      ]
    },
    "ResourceSku": {
      "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU level."
        },
        "tier": {
          "type": "string",
          "enum": [
            "Development",
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          },
          "description": "The name of the Azure pricing tier to which the SKU applies."
        }
      },
      "required": [
        "name"
      ]
    },
    "AnalysisServicesServerMutableProperties": {
      "description": "An object that represents a set of mutable Analysis Services resource properties.",
      "type": "object",
      "properties": {
        "asAdministrators": {
          "$ref": "#/definitions/ServerAdministrators",
          "description": "A collection of AS server administrators"
        },
        "backupBlobContainerUri": {
          "type": "string",
          "description": "The container URI of backup blob."
        }
      }
    },
    "ServerAdministrators": {
      "description": "An array of administrator user identities",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The UPN of the user. For example: johnsmith@contoso.com."
          },
          "description": "An array of administrator user identities."
        }
      }
    },
    "CheckServerNameAvailabilityParameters": {
      "description": "Details of server name request body.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9]*$",
          "minLength": 3,
          "maxLength": 63,
          "description": "Name for checking availability."
        },
        "type": {
          "type": "string",
          "default": "Microsoft.AnalysisServices/servers",
          "description": "The resource type of azure analysis services."
        }
      }
    },
    "CheckServerNameAvailabilityResult": {
      "description": "The checking result of server name availibility.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicator of available of the server name."
        },
        "reason": {
          "type": "string",
          "description": "The reason of unavailability."
        },
        "message": {
          "type": "string",
          "description": "The detailed message of the request unavailability."
        }
      }
    },
    "OperationStatus": {
      "description": "The status of operation.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation Id."
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "error": {
          "type": "object",
          "description": "The error detail of the operation if any.",
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    },
    "SkuEnumerationForNewResourceResult": {
      "description": "An object that represents enumerating SKUs for new resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceSku"
          },
          "description": "The collection of available SKUs for new resources"
        }
      }
    },
    "SkuEnumerationForExistingResourceResult": {
      "description": "An object that represents enumerating SKUs for existing resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuDetailsForExistingResource"
          },
          "description": "The collection of available SKUs for existing resources"
        }
      }
    },
    "SkuDetailsForExistingResource": {
      "description": "An object that represents SKU details for existing resources",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU in SKU details for existing resources."
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The client API version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90."
    }
  },
  "x-internal-service-name": "Analysis Services",
  "x-internal-toc-name": "Servers",
  "x-internal-split-type": "Operation"
}