{
  "swagger": "2.0",
  "info": {
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}": {
      "get": {
        "tags": [
          "NodeCountInformation"
        ],
        "operationId": "NodeCountInformation_Get",
        "description": "Retrieve counts for Dsc Nodes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/nodecounts"
        },
        "x-ms-examples": {
          "Get node's status counts": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 20,
              "$inlinecount": "allpages",
              "countType": "status"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "name": "Compliant",
                      "properties": {
                        "count": 10
                      }
                    },
                    {
                      "name": "Failed",
                      "properties": {
                        "count": 1
                      }
                    },
                    {
                      "name": "InProgress",
                      "properties": {
                        "count": 1
                      }
                    },
                    {
                      "name": "NotCompliant",
                      "properties": {
                        "count": 3
                      }
                    },
                    {
                      "name": "Pending",
                      "properties": {
                        "count": 0
                      }
                    },
                    {
                      "name": "Unresponsive",
                      "properties": {
                        "count": 4
                      }
                    }
                  ],
                  "totalCount": 6
                }
              }
            }
          },
          "Get node's node configuration counts": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "countType": "nodeconfiguration",
              "api-version": "2018-01-15",
              "$skip": 0,
              "$top": 2,
              "$inlinecount": "allpages"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "name": "client.localhost",
                      "properties": {
                        "count": 24
                      }
                    },
                    {
                      "name": "server.localhost",
                      "properties": {
                        "count": 3
                      }
                    }
                  ],
                  "totalCount": 16
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CountTypeParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NodeCounts"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "NodeCounts": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeCount"
          },
          "description": "Gets an array of counts"
        },
        "totalCount": {
          "type": "integer",
          "description": "Gets the total number of records matching countType criteria."
        }
      },
      "description": "Gets the count of nodes by count type"
    },
    "NodeCount": {
      "description": "Number of nodes based on the Filter",
      "properties": {
        "name": {
          "description": "Gets the name of a count type",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NodeCountProperties"
        }
      }
    },
    "NodeCountProperties": {
      "properties": {
        "count": {
          "description": "Gets the count for the name",
          "type": "integer"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "CountTypeParameter": {
      "name": "countType",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The type of counts to retrieve",
      "enum": [
        "status",
        "nodeconfiguration"
      ],
      "x-ms-enum": {
        "name": "CountType",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Node Count Information",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}