{
  "swagger": "2.0",
  "info": {
    "version": "2018-09-01-preview",
    "title": "Azure Resource Graph Query",
    "description": "Azure Resource Graph Query API Reference"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries": {
      "get": {
        "description": "Get all graph queries defined within a specified subscription and resource group.",
        "operationId": "GraphQuery_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more graph queries.",
            "schema": {
              "$ref": "#/definitions/GraphQueryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/GraphQueryError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of Graph Queries": {
            "title": "Get a list of saved queries",
            "description": "Get a list of saved queries within subscription id and resource group.",
            "parameters": {
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e",
              "resourceGroupName": "my-resource-group",
              "api-version": "2018-09-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.ResourceGraph/queries?api-version=2019-09-01-preview&$top=10&$skiptoken=skiptoken",
                  "value": [
                    {
                      "id": "/subscriptions/87f4f8b0-83c1-4aa9-b318-5237aeb15264/resources/rid1/providers/Microsoft.ResourceGraph/queries/MyDockerVMs",
                      "name": "MyDockerVMs",
                      "type": "Microsoft.ResourceGraph/queries",
                      "tags": {},
                      "eTag": "5d64408e-4ca3-41f7-b725-6914f3012afa",
                      "properties": {
                        "description": "Docker VMs in PROD",
                        "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'",
                        "resultKind": "basic",
                        "timeModified": "2019-03-12T13:51:13-07:00"
                      }
                    },
                    {
                      "id": "/subscriptions/6abb2f31-3e6a-4134-9968-219a596012a0/resources/rid2/providers/Microsoft.ResourceGraph/queries/MyTestVMs",
                      "name": "MyTestVMs",
                      "type": "Microsoft.ResourceGraph/queries",
                      "tags": {},
                      "eTag": "b0809832-ca62-4133-8f13-0c46580f9db1",
                      "properties": {
                        "description": "Test VMs in PROD",
                        "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'test'",
                        "resultKind": "basic",
                        "timeModified": "2019-03-13T13:51:13-07:00"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name. This is GUID value. The display name should be assigned within properties field."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "eTag": {
          "type": "string",
          "description": "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "GraphQueryListResult": {
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of queries.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GraphQueryResource"
          },
          "description": "An array of graph queries."
        }
      },
      "description": "Graph query list result."
    },
    "GraphQueryResource": {
      "description": "Graph Query entity definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a graph query for an Azure resource.",
          "$ref": "#/definitions/GraphQueryProperties"
        }
      }
    },
    "GraphQueryProperties": {
      "description": "Properties that contain a graph query.",
      "required": [
        "query"
      ],
      "properties": {
        "timeModified": {
          "type": "string",
          "description": "Date and time in UTC of the last modification that was made to this graph query definition.",
          "format": "date-time",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of a graph query."
        },
        "query": {
          "type": "string",
          "description": "KQL query that will be graph."
        },
        "resultKind": {
          "description": "Enum indicating a type of graph query.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "basic"
          ],
          "x-ms-enum": {
            "name": "ResultKind",
            "modelAsString": true
          }
        }
      }
    },
    "GraphQueryUpdateParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "eTag": {
          "type": "string",
          "description": "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a graph query for an Azure resource.",
          "$ref": "#/definitions/GraphQueryPropertiesUpdateParameters"
        }
      },
      "description": "The parameters that can be provided when updating workbook properties properties."
    },
    "GraphQueryPropertiesUpdateParameters": {
      "description": "Properties that contain a workbook for PATCH operation.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of a graph query."
        },
        "query": {
          "type": "string",
          "description": "KQL query that will be graph."
        }
      }
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "GraphQueryError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error message body that will indicate why the operation failed."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "GraphQueryResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Graph Query resource.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "azureresourcegraph",
  "x-internal-service-name": "Azure Resource Graph",
  "x-internal-toc-name": "Graph Query",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}