{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01",
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for Components."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/purge": {
      "post": {
        "description": "Purges data in an Application Insights component by a set of user-defined filters.",
        "operationId": "Components_Purge",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ComponentPurgeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for purging an Application Insights component.",
            "schema": {
              "$ref": "#/definitions/ComponentPurgeResponse"
            }
          },
          "200": {
            "description": "Returns status of purge operation in body of response. e.g.:  running, completed.",
            "schema": {
              "$ref": "#/definitions/ComponentPurgeStatusResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComponentPurge": {
            "parameters": {
              "api-version": "2015-05-01",
              "subscriptionId": "subid",
              "resourceGroupName": "my-resource-group",
              "resourceName": "my-component",
              "body": {
                "table": "requests",
                "filters": [
                  {
                    "column": "duration",
                    "operator": ">",
                    "value": 1000
                  },
                  {
                    "column": "timestamp",
                    "operator": ">=",
                    "value": "2017-09-01T00:00:00"
                  },
                  {
                    "column": "application_Version",
                    "operator": "in",
                    "value": [
                      "Draft_master_20171018.2",
                      "Draft_master_2017024.1"
                    ]
                  }
                ]
              }
            },
            "responses": {
              "202": {
                "body": {
                  "operationId": "7d7cf277-9113-4ab3-8359-d0364b74d01d"
                }
              },
              "200": {
                "body": {
                  "status": "Completed"
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Purge"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance."
    },
    "ApplicationInsightsComponent": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties that define an Application Insights component resource.",
          "$ref": "#/definitions/ApplicationInsightsComponentProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "kind"
      ],
      "description": "An Application Insights component definition."
    },
    "ApplicationInsightsComponentProperties": {
      "description": "Properties that define an Application Insights component resource.",
      "properties": {
        "ApplicationId": {
          "type": "string",
          "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
          "readOnly": true
        },
        "AppId": {
          "type": "string",
          "readOnly": true,
          "description": "Application Insights Unique ID for your Application."
        },
        "Application_Type": {
          "type": "string",
          "description": "Type of application being monitored.",
          "default": "web",
          "enum": [
            "web",
            "other"
          ],
          "x-ms-enum": {
            "name": "ApplicationType",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "Flow_Type": {
          "type": "string",
          "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
          "default": "Bluefield",
          "enum": [
            "Bluefield"
          ],
          "x-ms-enum": {
            "name": "FlowType",
            "modelAsString": true
          }
        },
        "Request_Source": {
          "type": "string",
          "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
          "default": "rest",
          "enum": [
            "rest"
          ],
          "x-ms-enum": {
            "name": "RequestSource",
            "modelAsString": true
          }
        },
        "InstrumentationKey": {
          "type": "string",
          "readOnly": true,
          "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component."
        },
        "CreationDate": {
          "type": "string",
          "readOnly": true,
          "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
          "format": "date-time"
        },
        "TenantId": {
          "type": "string",
          "readOnly": true,
          "description": "Azure Tenant Id."
        },
        "HockeyAppId": {
          "type": "string",
          "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
          "externalDocs": {
            "url": "https://aka.ms/ewjuel"
          }
        },
        "HockeyAppToken": {
          "type": "string",
          "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
          "readOnly": true,
          "externalDocs": {
            "url": "https://aka.ms/sls76s"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
          "readOnly": true
        },
        "SamplingPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
          "externalDocs": {
            "url": "https://aka.ms/sl0yqd"
          }
        }
      },
      "required": [
        "Application_Type"
      ]
    },
    "ApplicationInsightsComponentListResult": {
      "description": "Describes the list of Application Insights Resources.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Application Insights component definitions.",
          "items": {
            "$ref": "#/definitions/ApplicationInsightsComponent"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to get the next set of Application Insights component defintions if too many components where returned in the result set."
        }
      }
    },
    "ComponentPurgeBody": {
      "description": "Describes the body of a purge request for an App Insights component",
      "required": [
        "table",
        "filters"
      ],
      "properties": {
        "table": {
          "type": "string",
          "description": "Table from which to purge data."
        },
        "filters": {
          "type": "array",
          "description": "The set of columns and filters (queries) to run over them to purge the resulting data.",
          "items": {
            "$ref": "#/definitions/ComponentPurgeBodyFilters"
          }
        }
      }
    },
    "ComponentPurgeBodyFilters": {
      "description": "User-defined filters to return data which will be purged from the table.",
      "properties": {
        "column": {
          "description": "The column of the table over which the given query should run",
          "type": "string"
        },
        "operator": {
          "description": "A query operator to evaluate over the provided column and value(s).",
          "type": "string"
        },
        "value": {
          "description": "the value for the operator to function over. This can be a number (e.g., > 100), a string (timestamp >= '2017-09-01') or array of values."
        }
      }
    },
    "ComponentPurgeResponse": {
      "description": "Response containing operationId for a specific purge action.",
      "properties": {
        "operationId": {
          "description": "Id to use when querying for status for a particular purge operation.",
          "type": "string"
        }
      },
      "required": [
        "operationId"
      ]
    },
    "ComponentPurgeStatusResponse": {
      "description": "Response containing status for a specific purge operation.",
      "properties": {
        "status": {
          "description": "Status of the operation represented by the requested Id.",
          "type": "string",
          "enum": [
            "Pending",
            "Completed"
          ],
          "x-ms-enum": {
            "name": "PurgeState",
            "modelAsString": true
          }
        }
      },
      "required": [
        "status"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "ComponentPurgeParameter": {
      "name": "body",
      "in": "body",
      "description": "Describes the body of a request to purge data in a single table of an Application Insights component",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ComponentPurgeBody"
      },
      "x-ms-parameter-location": "method"
    },
    "ComponentPurgeIdParameter": {
      "name": "purgeId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "In a purge status request, this is the Id of the operation the status of which is returned.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Application Insights",
  "x-internal-toc-name": "Components",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Purge"
}