{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams": {
      "get": {
        "tags": [
          "SourceControlSyncJobStreams"
        ],
        "operationId": "SourceControlSyncJobStreams_ListBySyncJob",
        "description": "Retrieve a list of sync job streams identified by sync job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
        },
        "x-ms-examples": {
          "Get a list of sync job streams identified by sync job id": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "sourceControlName": "MySourceControl",
              "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005",
                      "properties": {
                        "sourceControlSyncJobStreamId": "b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005",
                        "summary": "ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription.",
                        "time": "2017-03-28T23:14:26.903+00:00",
                        "streamType": "Error"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006",
                      "properties": {
                        "sourceControlSyncJobStreamId": "b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006",
                        "summary": "System.Management.Automation.RuntimeException: Cannot index into a null array.\r\n   at CallSite.Target(Closure , CallSite , Object , Int32 )\r\n   at System.Dynamic.UpdateDelegates.UpdateAndExecute2[T0,T1,TRet](CallSite site, T0 arg0, T1 arg1)\r\n   at System.Management.Automation.Interpreter.DynamicInstruction`3.Run(InterpretedFrame frame)\r\n   at System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame frame)",
                        "time": "2017-03-28T23:14:27.903+00:00",
                        "streamType": "Error"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007",
                      "properties": {
                        "sourceControlSyncJobStreamId": "b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007",
                        "summary": "System.Management.Automation.ParameterBindingValidationException: Cannot validate argument on parameter 'Location'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again. ---> System.Management.Automation.ValidationMetadataException: The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.\r\n   at System.Management.Automation.ValidateNotNullOrEmptyAttribute.Validate(Object arguments, EngineIntrinsics engineIntrinsics)",
                        "time": "2017-03-28T23:14:28.903+00:00",
                        "streamType": "Error"
                      }
                    }
                  ],
                  "nextLink": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "sourceControlName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The source control name."
          },
          {
            "name": "sourceControlSyncJobId",
            "in": "path",
            "required": true,
            "format": "uuid",
            "type": "string",
            "description": "The source control sync job id."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControlSyncJobStreamsListBySyncJob"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Sync Job"
      }
    }
  },
  "definitions": {
    "SourceControlSyncJobStreamsListBySyncJob": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControlSyncJobStream"
          },
          "description": "The list of source control sync job streams."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The next link."
        }
      },
      "description": "The response model for the list source control sync job streams operation."
    },
    "SourceControlSyncJobStream": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource id."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control sync job stream."
        }
      },
      "description": "Definition of the source control sync job stream."
    },
    "SourceControlSyncJobStreamProperties": {
      "properties": {
        "sourceControlSyncJobStreamId": {
          "type": "string",
          "description": "The sync job stream id."
        },
        "summary": {
          "type": "string",
          "description": "The summary of the sync job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The time of the sync job stream."
        },
        "streamType": {
          "type": "string",
          "description": "The type of the sync job stream.",
          "enum": [
            "Error",
            "Output"
          ],
          "x-ms-enum": {
            "name": "streamType",
            "modelAsString": true
          }
        }
      },
      "description": "Definition of source control sync job stream properties."
    },
    "SourceControlSyncJobStreamById": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource id."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobStreamByIdProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control sync job stream."
        }
      },
      "description": "Definition of the source control sync job stream by id."
    },
    "SourceControlSyncJobStreamByIdProperties": {
      "properties": {
        "sourceControlSyncJobStreamId": {
          "type": "string",
          "description": "The sync job stream id."
        },
        "summary": {
          "type": "string",
          "description": "The summary of the sync job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The time of the sync job stream."
        },
        "streamType": {
          "type": "string",
          "description": "The type of the sync job stream.",
          "enum": [
            "Error",
            "Output"
          ],
          "x-ms-enum": {
            "name": "streamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "The text of the sync job stream."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "The values of the job stream."
        }
      },
      "description": "Definition of source control sync job stream by id properties."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Source Control Sync Job Streams",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListBySyncJob",
  "x-internal-operation-name": "List By Sync Job"
}