{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-01",
    "title": "ApiManagementClient",
    "description": "Use these REST APIs to manage Azure API Management deployment."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore": {
      "post": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_Restore",
        "description": "Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long running operation and could take several minutes to complete.",
        "x-ms-examples": {
          "ApiManagementRestoreService": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "storageAccount": "teststorageaccount",
                "accessKey": "**************************************************",
                "containerName": "backupContainer",
                "backupName": "apimService1backup_2017_03_19"
              }
            },
            "responses": {
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01"
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {
                    "UID": "52ed5986-717b-45b4-b17c-3df8db372cff"
                  },
                  "location": "East Asia",
                  "etag": "AAAAAAAXX6Y=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "Contoso",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2015-09-22T01:50:34.7921566Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "hostnameConfigurations": [],
                    "staticIps": [
                      "207.46.155.24"
                    ],
                    "virtualNetworkType": "None"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceBackupRestoreParameters"
            },
            "description": "Parameters supplied to the Restore API Management service from backup operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the backup onto the API Management service.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup": {
      "post": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_Backup",
        "description": "Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.",
        "x-ms-examples": {
          "ApiManagementCreateBackup": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "storageAccount": "teststorageaccount",
                "accessKey": "**************************************************",
                "containerName": "backupContainer",
                "backupName": "apimService1backup_2017_03_19"
              }
            },
            "responses": {
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01"
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {
                    "UID": "52ed5986-717b-45b4-b17c-3df8db372cff"
                  },
                  "location": "East Asia",
                  "etag": "AAAAAAAXX6Y=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "Contoso",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2015-09-22T01:50:34.7921566Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "hostnameConfigurations": [],
                    "staticIps": [
                      "207.46.155.24"
                    ],
                    "virtualNetworkType": "None"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceBackupRestoreParameters"
            },
            "description": "Parameters supplied to the ApiManagementService_Backup operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully backed up the API Management service to the storage account.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}": {
      "put": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_CreateOrUpdate",
        "description": "Creates or updates an API Management service. This is long running operation and could take several minutes to complete.",
        "x-ms-examples": {
          "ApiManagementCreateService": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "location": "West US",
                "sku": {
                  "name": "Premium",
                  "capacity": 1
                },
                "properties": {
                  "publisherEmail": "admin@live.com",
                  "publisherName": "contoso"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01"
                },
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {},
                  "location": "West US",
                  "etag": "AAAAAAAXXr0=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "contoso",
                    "provisioningState": "Created",
                    "targetProvisioningState": "Activating",
                    "createdAtUtc": "2017-05-30T18:35:50.7228425Z",
                    "hostnameConfigurations": [],
                    "staticIps": [],
                    "virtualNetworkType": "None"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {},
                  "location": "West US",
                  "etag": "AAAAAAAV8XM=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "Contoso",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "staticIps": [
                      "xx.xx.250.222"
                    ],
                    "virtualNetworkType": "None"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          },
          "ApiManagementCreateMultiRegionServiceWithCustomHostname": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "location": "Central US",
                "sku": {
                  "name": "Premium",
                  "capacity": 1
                },
                "properties": {
                  "publisherEmail": "admin@live.com",
                  "publisherName": "contoso",
                  "additionalLocations": [
                    {
                      "location": "West US",
                      "sku": {
                        "name": "Premium",
                        "capacity": 1
                      },
                      "virtualNetworkConfiguration": {
                        "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet"
                      }
                    }
                  ],
                  "hostnameConfigurations": [
                    {
                      "type": "Proxy",
                      "hostName": "proxyhostname1.contoso.com",
                      "encodedCertificate": "************Base 64 Encoded Pfx Certificate************************",
                      "certificatePassword": "**************Password of the Certificate************************************************"
                    },
                    {
                      "type": "Proxy",
                      "hostName": "proxyhostname2.contoso.com",
                      "encodedCertificate": "************Base 64 Encoded Pfx Certificate************************",
                      "certificatePassword": "**************Password of the Certificate************************************************",
                      "negotiateClientCertificate": true
                    },
                    {
                      "type": "Portal",
                      "hostName": "portalhostname1.contoso.com",
                      "encodedCertificate": "************Base 64 Encoded Pfx Certificate************************",
                      "certificatePassword": "**************Password of the Certificate************************************************"
                    }
                  ],
                  "virtualNetworkConfiguration": {
                    "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet"
                  },
                  "virtualNetworkType": "External"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2017-03-01"
                },
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {},
                  "location": "Central US",
                  "etag": "AAAAAAAXXpw=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "contoso",
                    "provisioningState": "Created",
                    "targetProvisioningState": "Activating",
                    "createdAtUtc": "2017-05-30T18:06:23.0096164Z",
                    "hostnameConfigurations": [
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname1.contoso.com",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=proxyhostname1.contoso.com"
                        }
                      },
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname2.contoso.com",
                        "negotiateClientCertificate": true,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=proxyhostname2.contoso.com"
                        }
                      },
                      {
                        "type": "Portal",
                        "hostName": "portalhostname1.contoso.com",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=portalhostname1.contoso.com"
                        }
                      }
                    ],
                    "staticIps": [],
                    "additionalLocations": [
                      {
                        "location": "West US",
                        "sku": {
                          "name": "Premium",
                          "capacity": 1
                        },
                        "staticIps": [],
                        "virtualNetworkConfiguration": {
                          "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet"
                        }
                      }
                    ],
                    "virtualNetworkConfiguration": {
                      "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet"
                    },
                    "virtualNetworkType": "External"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {},
                  "location": "Central US",
                  "etag": "AAAAAAAXXwI=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "contoso",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2017-05-30T19:00:47.1121713Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "hostnameConfigurations": [
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname1.contoso.com",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=proxyhostname1.contoso.com"
                        }
                      },
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname2.contoso.com",
                        "negotiateClientCertificate": true,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=proxyhostname2.contoso.com"
                        }
                      },
                      {
                        "type": "Portal",
                        "hostName": "portalhostname1.contoso.com",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=portalhostname1.contoso.com"
                        }
                      }
                    ],
                    "staticIps": [
                      "52.173.193.207"
                    ],
                    "additionalLocations": [
                      {
                        "location": "West US",
                        "sku": {
                          "name": "Premium",
                          "capacity": 1
                        },
                        "staticIps": [
                          "104.210.41.234"
                        ],
                        "virtualNetworkConfiguration": {
                          "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet"
                        }
                      }
                    ],
                    "virtualNetworkConfiguration": {
                      "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet"
                    },
                    "virtualNetworkType": "External"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            },
            "description": "Parameters supplied to the CreateOrUpdate API Management service operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The service was successfully set up.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_Update",
        "description": "Updates an existing API Management service.",
        "x-ms-examples": {
          "ApiManagementUpdateServiceDisableTls10": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "false"
                  }
                }
              }
            },
            "responses": {
              "202": {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                "name": "apimService1",
                "type": "Microsoft.ApiManagement/service",
                "tags": {
                  "TestExpiration": "Thu, 29 Jun 2017 18:50:40 GMT"
                },
                "location": "West US",
                "etag": "AAAAAAAYRPs=",
                "properties": {
                  "publisherEmail": "admin@live.com",
                  "publisherName": "Contoso",
                  "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                  "provisioningState": "Succeeded",
                  "targetProvisioningState": "",
                  "createdAtUtc": "2017-06-29T17:50:42.3191122Z",
                  "gatewayUrl": "https://apimService1.azure-api.net",
                  "portalUrl": "https://apimService1.portal.azure-api.net",
                  "managementApiUrl": "https://apimService1.management.azure-api.net",
                  "scmUrl": "https://apimService1.scm.azure-api.net",
                  "hostnameConfigurations": [],
                  "staticIps": [
                    "40.86.176.232"
                  ],
                  "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False"
                  },
                  "virtualNetworkType": "None"
                },
                "sku": {
                  "name": "Standard",
                  "capacity": 1
                }
              },
              "200": {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                "name": "apimService1",
                "type": "Microsoft.ApiManagement/service",
                "tags": {
                  "Owner": "sasolank",
                  "UID": "4f5025fe-0669-4e2e-8320-5199466e5eb3",
                  "Reserved": "",
                  "TestExpiration": "Thu, 29 Jun 2017 18:50:40 GMT",
                  "Pool": "Manual",
                  "TestSuiteExpiration": "Thu, 29 Jun 2017 18:51:46 GMT"
                },
                "location": "West US",
                "etag": "AAAAAAAYRPs=",
                "properties": {
                  "publisherEmail": "admin@live.com",
                  "publisherName": "Contoso",
                  "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                  "provisioningState": "Succeeded",
                  "targetProvisioningState": "",
                  "createdAtUtc": "2017-06-29T17:50:42.3191122Z",
                  "gatewayUrl": "https://apimService1.azure-api.net",
                  "portalUrl": "https://apimService1.portal.azure-api.net",
                  "managementApiUrl": "https://apimService1.management.azure-api.net",
                  "scmUrl": "https://apimService1.scm.azure-api.net",
                  "hostnameConfigurations": [],
                  "staticIps": [
                    "40.86.176.232"
                  ],
                  "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False"
                  },
                  "virtualNetworkType": "None"
                },
                "sku": {
                  "name": "Standard",
                  "capacity": 1
                }
              }
            }
          },
          "ApiManagementUpdateServicePublisherDetails": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "publisherEmail": "foobar@live.com",
                  "publisherName": "Contoso Vnext"
                }
              }
            },
            "responses": {
              "202": {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                "name": "apimService1",
                "type": "Microsoft.ApiManagement/service",
                "tags": {
                  "TestExpiration": "Thu, 29 Jun 2017 18:50:40 GMT"
                },
                "location": "West US",
                "etag": "AAAAAAAYRPs=",
                "properties": {
                  "publisherEmail": "admin@live.com",
                  "publisherName": "Contoso",
                  "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                  "provisioningState": "Succeeded",
                  "targetProvisioningState": "",
                  "createdAtUtc": "2017-06-29T17:50:42.3191122Z",
                  "gatewayUrl": "https://apimService1.azure-api.net",
                  "portalUrl": "https://apimService1.portal.azure-api.net",
                  "managementApiUrl": "https://apimService1.management.azure-api.net",
                  "scmUrl": "https://apimService1.scm.azure-api.net",
                  "hostnameConfigurations": [],
                  "staticIps": [
                    "40.86.176.232"
                  ],
                  "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False"
                  },
                  "virtualNetworkType": "None"
                },
                "sku": {
                  "name": "Standard",
                  "capacity": 1
                }
              },
              "200": {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                "name": "apimService1",
                "type": "Microsoft.ApiManagement/service",
                "tags": {
                  "Owner": "sasolank",
                  "UID": "4f5025fe-0669-4e2e-8320-5199466e5eb3",
                  "Reserved": "",
                  "TestExpiration": "Thu, 29 Jun 2017 18:50:40 GMT",
                  "Pool": "Manual",
                  "TestSuiteExpiration": "Thu, 29 Jun 2017 18:51:46 GMT"
                },
                "location": "West US",
                "etag": "AAAAAAAYRPs=",
                "properties": {
                  "publisherEmail": "foobar@live.com",
                  "publisherName": "Contoso Vnext",
                  "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                  "provisioningState": "Succeeded",
                  "targetProvisioningState": "",
                  "createdAtUtc": "2017-06-29T17:50:42.3191122Z",
                  "gatewayUrl": "https://apimService1.azure-api.net",
                  "portalUrl": "https://apimService1.portal.azure-api.net",
                  "managementApiUrl": "https://apimService1.management.azure-api.net",
                  "scmUrl": "https://apimService1.scm.azure-api.net",
                  "hostnameConfigurations": [],
                  "staticIps": [
                    "40.86.176.232"
                  ],
                  "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False"
                  },
                  "virtualNetworkType": "None"
                },
                "sku": {
                  "name": "Standard",
                  "capacity": 1
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceUpdateParameters"
            },
            "description": "Parameters supplied to the CreateOrUpdate API Management service operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The service was successfully updated.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "202": {
            "description": "The service update request was Accepted."
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_Get",
        "description": "Gets an API Management service resource description.",
        "x-ms-examples": {
          "ApiManagementServiceGetService": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {},
                  "location": "Central US",
                  "etag": "AAAAAAAYP5M=",
                  "properties": {
                    "publisherEmail": "contoso@microsoft.com",
                    "publisherName": "admin",
                    "notificationSenderEmail": "contoso@live.com",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2017-06-28T23:01:33.0667959Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "hostnameConfigurations": [
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname4.contoso.net",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=*.contoso.net"
                        }
                      },
                      {
                        "type": "Proxy",
                        "hostName": "proxyhostname9.contoso.net",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=*.contoso.net"
                        }
                      },
                      {
                        "type": "Portal",
                        "hostName": "portalhostname2.contoso.net",
                        "negotiateClientCertificate": false,
                        "certificate": {
                          "expiry": "2018-03-17T21:55:07+00:00",
                          "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                          "subject": "CN=*.contoso.net"
                        }
                      }
                    ],
                    "staticIps": [
                      "52.173.22.222"
                    ],
                    "additionalLocations": [
                      {
                        "location": "West US",
                        "sku": {
                          "name": "Premium",
                          "capacity": 1
                        },
                        "staticIps": [
                          "40.78.99.244"
                        ]
                      }
                    ],
                    "virtualNetworkType": "None"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got the API Management Service Resource.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_Delete",
        "description": "Deletes an existing API Management service.",
        "x-ms-examples": {
          "ApiManagementServiceDeleteService": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Service was successfully deleted."
          },
          "204": {
            "description": "Service is already deleted."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_ListByResourceGroup",
        "description": "List all API Management services within a resource group.",
        "x-ms-examples": {
          "ApiManagementListServiceBySubscriptionAndResourceGroup": {
            "parameters": {
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3",
                      "name": "apimService3",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXXAQ=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "contoso",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-27T15:33:55.5426123Z",
                        "gatewayUrl": "https://apimService3.azure-api.net",
                        "portalUrl": "https://apimService3.portal.azure-api.net",
                        "managementApiUrl": "https://apimService3.management.azure-api.net",
                        "scmUrl": "https://apimService3.scm.azure-api.net",
                        "hostnameConfigurations": [],
                        "staticIps": [
                          "13.88.16.64"
                        ],
                        "additionalLocations": [
                          {
                            "location": "West Europe",
                            "sku": {
                              "name": "Premium",
                              "capacity": 1
                            },
                            "staticIps": [
                              "52.233.184.197"
                            ]
                          }
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService2",
                      "name": "apimService2",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXW4U=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "MS",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-26T23:55:31.1405115Z",
                        "gatewayUrl": "https://apimService2.azure-api.net",
                        "portalUrl": "https://apimService2.portal.azure-api.net",
                        "managementApiUrl": "https://apimService2.management.azure-api.net",
                        "scmUrl": "https://apimService2.scm.azure-api.net",
                        "hostnameConfigurations": [],
                        "staticIps": [
                          "13.64.237.151"
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Developer",
                        "capacity": 1
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5",
                      "name": "apimService5",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXW5c=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "contoso",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-26T18:13:02.0196315Z",
                        "gatewayUrl": "https://apimService5.azure-api.net",
                        "portalUrl": "https://apimService5.portal.azure-api.net",
                        "managementApiUrl": "https://apimService5.management.azure-api.net",
                        "scmUrl": "https://apimService5.scm.azure-api.net",
                        "hostnameConfigurations": [
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname1.contoso.com",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=proxytemplatehostname1.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname2.contoso.com",
                            "negotiateClientCertificate": true,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=proxytemplatehostname2.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname3.azure-api.net",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                              "subject": "CN=proxytemplatehostname3.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname4.azure-api.net",
                            "negotiateClientCertificate": true,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                              "subject": "CN=proxytemplatehostname4.contoso.com"
                            }
                          },
                          {
                            "type": "Portal",
                            "hostName": "portaltemplatehostname1.contoso.com",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=portaltemplatehostname1.contoso.com"
                            }
                          }
                        ],
                        "staticIps": [
                          "13.93.167.166"
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The API Management service list.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_List",
        "description": "Lists all API Management services within an Azure subscription.",
        "x-ms-examples": {
          "ApiManagementListServiceBySubscription": {
            "parameters": {
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3",
                      "name": "apimService3",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXXAQ=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "contoso",
                        "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-27T15:33:55.5426123Z",
                        "gatewayUrl": "https://apimService3.azure-api.net",
                        "portalUrl": "https://apimService3.portal.azure-api.net",
                        "managementApiUrl": "https://apimService3.management.azure-api.net",
                        "scmUrl": "https://apimService3.scm.azure-api.net",
                        "hostnameConfigurations": [],
                        "staticIps": [
                          "13.88.16.64"
                        ],
                        "additionalLocations": [
                          {
                            "location": "West Europe",
                            "sku": {
                              "name": "Premium",
                              "capacity": 1
                            },
                            "staticIps": [
                              "52.233.184.197"
                            ]
                          }
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.ApiManagement/service/apimService2",
                      "name": "apimService2",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXW4U=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "MS",
                        "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-26T23:55:31.1405115Z",
                        "gatewayUrl": "https://apimService2.azure-api.net",
                        "portalUrl": "https://apimService2.portal.azure-api.net",
                        "managementApiUrl": "https://apimService2.management.azure-api.net",
                        "scmUrl": "https://apimService2.scm.azure-api.net",
                        "hostnameConfigurations": [],
                        "staticIps": [
                          "13.64.237.151"
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Developer",
                        "capacity": 1
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5",
                      "name": "apimService5",
                      "type": "Microsoft.ApiManagement/service",
                      "tags": {},
                      "location": "West US",
                      "etag": "AAAAAAAXW5c=",
                      "properties": {
                        "publisherEmail": "admin@live.com",
                        "publisherName": "contoso",
                        "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                        "provisioningState": "Succeeded",
                        "targetProvisioningState": "",
                        "createdAtUtc": "2017-05-26T18:13:02.0196315Z",
                        "gatewayUrl": "https://apimService5.azure-api.net",
                        "portalUrl": "https://apimService5.portal.azure-api.net",
                        "managementApiUrl": "https://apimService5.management.azure-api.net",
                        "scmUrl": "https://apimService5.scm.azure-api.net",
                        "hostnameConfigurations": [
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname1.contoso.com",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=proxytemplatehostname1.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname2.contoso.com",
                            "negotiateClientCertificate": true,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=proxytemplatehostname2.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname3.azure-api.net",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                              "subject": "CN=proxytemplatehostname3.contoso.com"
                            }
                          },
                          {
                            "type": "Proxy",
                            "hostName": "proxytemplatehostname4.azure-api.net",
                            "negotiateClientCertificate": true,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "918D7785B926AC5AEE66322778A147BCE7237CF3",
                              "subject": "CN=proxytemplatehostname4.contoso.com"
                            }
                          },
                          {
                            "type": "Portal",
                            "hostName": "portaltemplatehostname1.contoso.com",
                            "negotiateClientCertificate": false,
                            "certificate": {
                              "expiry": "2018-03-17T21:55:07+00:00",
                              "thumbprint": "DE57B67BA63D21E925DA8BEFA436E6B7553A4C19",
                              "subject": "CN=portaltemplatehostname1.contoso.com"
                            }
                          }
                        ],
                        "staticIps": [
                          "13.93.167.166"
                        ],
                        "virtualNetworkType": "None"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The API Management service list.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken": {
      "post": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_GetSsoToken",
        "description": "Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.",
        "x-ms-examples": {
          "ApiManagementServiceGetSsoToken": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "redirectUri": "https://apimService1.portal.azure-api.net:443/signin-sso?token=1%26201705301929%26eIkr3%2fnfaLs1GVJ0OVbzkJjAcwPFkEZAPM8VUXvXPf7cJ6lWsB9oUwsk2zln9x0KLkn21txCPJWWheSPq7SNeA%3d%3d"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK if successful with the SSO Redirect URI.",
            "schema": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/ApiManagementServiceGetSsoTokenResult"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability": {
      "post": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_CheckNameAvailability",
        "description": "Checks availability and correctness of a name for an API Management service.",
        "x-ms-examples": {
          "ApiManagementServiceCheckNameAvailability": {
            "parameters": {
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "name": "apimService1"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": true,
                  "reason": "Valid",
                  "message": ""
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceCheckNameAvailabilityParameters"
            },
            "description": "Parameters supplied to the CheckNameAvailability operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The result of check name availability.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceNameAvailabilityResult"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates": {
      "post": {
        "tags": [
          "ApiManagementService"
        ],
        "operationId": "ApiManagementService_ApplyNetworkConfigurationUpdates",
        "description": "Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated network settings.",
        "x-ms-examples": {
          "ApiManagementApplyNetworkConfigurationUpdates": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "parameters": {
                "location": "west us"
              }
            },
            "responses": {
              "202": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01"
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
                  "name": "apimService1",
                  "type": "Microsoft.ApiManagement/service",
                  "tags": {
                    "UID": "52ed5986-717b-45b4-b17c-3df8db372cff"
                  },
                  "location": "East Asia",
                  "etag": "AAAAAAAXX6Y=",
                  "properties": {
                    "publisherEmail": "admin@live.com",
                    "publisherName": "Contoso",
                    "provisioningState": "Succeeded",
                    "targetProvisioningState": "",
                    "createdAtUtc": "2015-09-22T01:50:34.7921566Z",
                    "gatewayUrl": "https://apimService1.azure-api.net",
                    "portalUrl": "https://apimService1.portal.azure-api.net",
                    "managementApiUrl": "https://apimService1.management.azure-api.net",
                    "scmUrl": "https://apimService1.scm.azure-api.net",
                    "hostnameConfigurations": [],
                    "staticIps": [
                      "207.46.155.24"
                    ],
                    "virtualNetworkConfiguration": {
                      "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/eastUsVirtualNetwork/subnets/apimSubnet"
                    },
                    "virtualNetworkType": "External"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceApplyNetworkConfigurationParameters"
            },
            "description": "Parameters supplied to the Apply Network Configuration operation. If the parameters are empty, all the regions in which the Api Management service is deployed will be updated sequentially without incurring downtime in the region."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          },
          "200": {
            "description": "Network configuration updates were successfully applied on the Api Management service.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "CertificateInformation": {
      "properties": {
        "expiry": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint of the certificate."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the certificate."
        }
      },
      "required": [
        "expiry",
        "thumbprint",
        "subject"
      ],
      "description": "SSL certificate information."
    },
    "HostnameConfiguration": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Hostname type.",
          "enum": [
            "Proxy",
            "Portal",
            "Management",
            "Scm"
          ],
          "x-ms-enum": {
            "name": "HostnameType",
            "modelAsString": false
          }
        },
        "hostName": {
          "type": "string",
          "description": "Hostname to configure on the Api Management service."
        },
        "encodedCertificate": {
          "type": "string",
          "description": "Base64 Encoded certificate."
        },
        "certificatePassword": {
          "type": "string",
          "description": "Certificate Password."
        },
        "negotiateClientCertificate": {
          "type": "boolean",
          "description": "Specify true to always negotiate client certificate on the hostname. Default Value is false.",
          "default": false
        },
        "certificate": {
          "$ref": "#/definitions/CertificateInformation",
          "description": "Certificate information.",
          "readOnly": true
        }
      },
      "required": [
        "type",
        "hostName"
      ],
      "description": "Custom hostname configuration."
    },
    "VirtualNetworkConfiguration": {
      "properties": {
        "vnetid": {
          "readOnly": true,
          "type": "string",
          "description": "The virtual network ID. This is typically a GUID. Expect a null GUID by default."
        },
        "subnetname": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the subnet."
        },
        "subnetResourceId": {
          "type": "string",
          "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
          "description": "The full resource ID of a subnet in a virtual network to deploy the API Management service in."
        }
      },
      "description": "Configuration of a virtual network to which API Management service is deployed."
    },
    "AdditionalLocation": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location name of the additional region among Azure Data center regions."
        },
        "sku": {
          "$ref": "#/definitions/ApiManagementServiceSkuProperties",
          "description": "SKU properties of the API Management service."
        },
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Static IP addresses of the location's virtual machines."
        },
        "virtualNetworkConfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual network configuration for the location."
        }
      },
      "required": [
        "location",
        "sku"
      ],
      "description": "Description of an additional API Management resource location."
    },
    "ApiManagementServiceBackupRestoreParameters": {
      "properties": {
        "storageAccount": {
          "type": "string",
          "description": "Azure Cloud Storage account (used to place/retrieve the backup) name."
        },
        "accessKey": {
          "type": "string",
          "description": "Azure Cloud Storage account (used to place/retrieve the backup) access key."
        },
        "containerName": {
          "type": "string",
          "description": "Azure Cloud Storage blob container name used to place/retrieve the backup."
        },
        "backupName": {
          "type": "string",
          "description": "The name of the backup file to create."
        }
      },
      "required": [
        "storageAccount",
        "accessKey",
        "containerName",
        "backupName"
      ],
      "description": "Parameters supplied to the Backup/Restore of an API Management service operation."
    },
    "ApiManagementServiceProperties": {
      "properties": {
        "publisherEmail": {
          "type": "string",
          "description": "Publisher email.",
          "maxLength": 100
        },
        "publisherName": {
          "type": "string",
          "description": "Publisher name.",
          "maxLength": 100
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ApiManagementServiceBaseProperties"
        }
      ],
      "required": [
        "publisherEmail",
        "publisherName"
      ],
      "description": "Properties of an API Management service resource description."
    },
    "ApiManagementServiceUpdateProperties": {
      "properties": {
        "publisherEmail": {
          "type": "string",
          "description": "Publisher email.",
          "maxLength": 100
        },
        "publisherName": {
          "type": "string",
          "description": "Publisher name.",
          "maxLength": 100
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ApiManagementServiceBaseProperties"
        }
      ],
      "description": "Properties of an API Management service resource description."
    },
    "ApiManagementServiceBaseProperties": {
      "properties": {
        "notificationSenderEmail": {
          "type": "string",
          "description": "Email address from which the notification will be sent.",
          "maxLength": 100
        },
        "provisioningState": {
          "type": "string",
          "description": "The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.",
          "readOnly": true
        },
        "targetProvisioningState": {
          "type": "string",
          "description": "The provisioning state of the API Management service, which is targeted by the long running operation started on the service.",
          "readOnly": true
        },
        "createdAtUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.",
          "readOnly": true
        },
        "gatewayUrl": {
          "type": "string",
          "description": "Gateway URL of the API Management service.",
          "readOnly": true
        },
        "portalUrl": {
          "type": "string",
          "description": "Publisher portal endpoint Url of the API Management service.",
          "readOnly": true
        },
        "managementApiUrl": {
          "type": "string",
          "description": "Management API endpoint URL of the API Management service.",
          "readOnly": true
        },
        "scmUrl": {
          "type": "string",
          "description": "SCM endpoint URL of the API Management service.",
          "readOnly": true
        },
        "hostnameConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HostnameConfiguration"
          },
          "description": "Custom hostname configuration of the API Management service."
        },
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Static IP addresses of the API Management service virtual machines. Available only for Standard and Premium SKU."
        },
        "virtualNetworkConfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual network configuration of the API Management service."
        },
        "additionalLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalLocation"
          },
          "description": "Additional datacenter locations of the API Management service."
        },
        "customProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom properties of the API Management service, like disabling TLS 1.0."
        },
        "virtualNetworkType": {
          "type": "string",
          "description": "The type of VPN in which API Managemet service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.",
          "default": "None",
          "enum": [
            "None",
            "External",
            "Internal"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkType",
            "modelAsString": false
          }
        }
      },
      "description": "Base Properties of an API Management service resource description."
    },
    "ApiManagementServiceSkuProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Sku.",
          "externalDocs": {
            "url": "https://azure.microsoft.com/en-us/pricing/details/api-management/"
          },
          "enum": [
            "Developer",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuType",
            "modelAsString": false
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Capacity of the SKU (number of deployed units of the SKU). The default value is 1.",
          "default": 1
        }
      },
      "required": [
        "name"
      ],
      "description": "API Management service resource SKU properties."
    },
    "ApiManagementServiceResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApiManagementServiceProperties",
          "description": "Properties of the API Management service."
        },
        "sku": {
          "$ref": "#/definitions/ApiManagementServiceSkuProperties",
          "description": "SKU properties of the API Management service."
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ApimResource"
        }
      ],
      "required": [
        "location",
        "sku",
        "properties"
      ],
      "description": "A single API Management service resource in List or Get response."
    },
    "ApimResource": {
      "description": "The Resource definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for API Management resource is set to Microsoft.ApiManagement."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ApiManagementServiceUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApiManagementServiceUpdateProperties",
          "description": "Properties of the API Management service."
        },
        "sku": {
          "$ref": "#/definitions/ApiManagementServiceSkuProperties",
          "description": "SKU properties of the API Management service."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ApimResource"
        }
      ],
      "description": "Parameter supplied to Update Api Management Service."
    },
    "ApiManagementServiceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiManagementServiceResource"
          },
          "description": "Result of the List API Management services operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of API Management services."
        }
      },
      "required": [
        "value"
      ],
      "description": "The response of the List API Management services operation."
    },
    "ApiManagementServiceGetSsoTokenResult": {
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Redirect URL to the Publisher Portal containing the SSO token."
        }
      },
      "description": "The response of the GetSsoToken operation."
    },
    "ApiManagementServiceCheckNameAvailabilityParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name to check for availability."
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameters supplied to the CheckNameAvailability operation."
    },
    "ApiManagementServiceNameAvailabilityResult": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create a new API Management service; otherwise false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Invalid indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.",
          "enum": [
            "Valid",
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "NameAvailabilityReason",
            "modelAsString": false
          }
        }
      },
      "description": "Response of the CheckNameAvailability operation."
    },
    "ApiManagementServiceApplyNetworkConfigurationParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the Api Management service to update for a multi-region service. For a service deployed in a single region, this parameter is not required."
        }
      },
      "description": "Parameter supplied to the Apply Network configuration operation."
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that describes the operation.",
          "properties": {
            "provider": {
              "description": "Friendly name of the resource provider",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: read, write, delete, listKeys/action, etc.",
              "type": "string"
            },
            "resource": {
              "description": "Resource type on which the operation is performed.",
              "type": "string"
            },
            "description": {
              "description": "Friendly name of the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations supported by the resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Api Management Service",
  "x-internal-split-members": null,
  "x-internal-split-type": null
}