{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-01",
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Email Templates associated with your Azure API Management deployment."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates": {
      "get": {
        "tags": [
          "EmailTemplate"
        ],
        "operationId": "EmailTemplate_ListByService",
        "description": "Lists a collection of properties defined within a service instance.",
        "x-ms-examples": {
          "ApiManagementListEmailTemplates": {
            "parameters": {
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/ApplicationApprovedNotificationMessage",
                      "type": "Microsoft.ApiManagement/service/templates",
                      "name": "ApplicationApprovedNotificationMessage",
                      "properties": {
                        "subject": "Your application $AppName is published in the application gallery",
                        "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          We are happy to let you know that your request to publish the $AppName application in the application gallery has been approved. Your application has been published and can be viewed <a href=\"http://$DevPortalUrl/Applications/Details/$AppId\">here</a>.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                        "title": "Application gallery submission approved",
                        "description": "Developers who submitted their application for publication in the application gallery on the developer portal receive this email after their submission is approved.",
                        "isDefault": true,
                        "parameters": [
                          {
                            "name": "AppId",
                            "title": "Application id"
                          },
                          {
                            "name": "AppName",
                            "title": "Application name"
                          },
                          {
                            "name": "DevFirstName",
                            "title": "Developer first name"
                          },
                          {
                            "name": "DevLastName",
                            "title": "Developer last name"
                          },
                          {
                            "name": "OrganizationName",
                            "title": "Organization name"
                          },
                          {
                            "name": "DevPortalUrl",
                            "title": "Developer portal URL"
                          }
                        ]
                      }
                    }
                  ],
                  "nextLink": ""
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TopQueryParameter"
          },
          {
            "$ref": "#/parameters/SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A Collection of the Email Template for the specified API Management service instance.",
            "schema": {
              "$ref": "#/definitions/EmailTemplateCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates/{templateName}": {
      "get": {
        "tags": [
          "EmailTemplates"
        ],
        "operationId": "EmailTemplate_Get",
        "description": "Gets the details of the email template specified by its identifier.",
        "x-ms-examples": {
          "ApiManagementGetEmailTemplate": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "templateName": "newIssueNotificationMessage"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage",
                  "type": "Microsoft.ApiManagement/service/templates",
                  "name": "NewIssueNotificationMessage",
                  "properties": {
                    "subject": "Your request $IssueName was received",
                    "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you for contacting us. Our API team will review your issue and get back to you soon.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to view or edit your request.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                    "title": "New issue received",
                    "description": "This email is sent to developers after they create a new topic on the Issues page of the developer portal.",
                    "isDefault": true,
                    "parameters": [
                      {
                        "name": "DevFirstName",
                        "title": "Developer first name"
                      },
                      {
                        "name": "DevLastName",
                        "title": "Developer last name"
                      },
                      {
                        "name": "IssueId",
                        "title": "Issue id"
                      },
                      {
                        "name": "IssueName",
                        "title": "Issue name"
                      },
                      {
                        "name": "OrganizationName",
                        "title": "Organization name"
                      },
                      {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TemplateNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The response body contains the specified Email template.",
            "schema": {
              "$ref": "#/definitions/EmailTemplateContract"
            },
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "EmailTemplates"
        ],
        "operationId": "EmailTemplate_CreateOrUpdate",
        "description": "Updates an Email Template.",
        "x-ms-examples": {
          "ApiManagementCreateEmailTemplate": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "templateName": "newIssueNotificationMessage",
              "parameters": {
                "properties": {
                  "subject": "Your request for $IssueName was successfully received."
                }
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage",
                  "type": "Microsoft.ApiManagement/service/templates",
                  "name": "NewIssueNotificationMessage",
                  "properties": {
                    "subject": "Your request for $IssueName was successfully received.",
                    "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you for contacting us. Our API team will review your issue and get back to you soon.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to view or edit your request.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                    "title": "New issue received",
                    "description": "This email is sent to developers after they create a new topic on the Issues page of the developer portal.",
                    "isDefault": false,
                    "parameters": [
                      {
                        "name": "DevFirstName",
                        "title": "Developer first name"
                      },
                      {
                        "name": "DevLastName",
                        "title": "Developer last name"
                      },
                      {
                        "name": "IssueId",
                        "title": "Issue id"
                      },
                      {
                        "name": "IssueName",
                        "title": "Issue name"
                      },
                      {
                        "name": "OrganizationName",
                        "title": "Organization name"
                      },
                      {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL"
                      }
                    ]
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/templates/NewIssueNotificationMessage",
                  "type": "Microsoft.ApiManagement/service/templates",
                  "name": "NewIssueNotificationMessage",
                  "properties": {
                    "subject": "Your request for $IssueName was successfully received.",
                    "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you for contacting us. Our API team will review your issue and get back to you soon.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to view or edit your request.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                    "title": "New issue received",
                    "description": "This email is sent to developers after they create a new topic on the Issues page of the developer portal.",
                    "isDefault": false,
                    "parameters": [
                      {
                        "name": "DevFirstName",
                        "title": "Developer first name"
                      },
                      {
                        "name": "DevLastName",
                        "title": "Developer last name"
                      },
                      {
                        "name": "IssueId",
                        "title": "Issue id"
                      },
                      {
                        "name": "IssueName",
                        "title": "Issue name"
                      },
                      {
                        "name": "OrganizationName",
                        "title": "Organization name"
                      },
                      {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TemplateNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailTemplateUpdateParameters"
            },
            "description": "Email Template update parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Email Template was successfully updated.",
            "schema": {
              "$ref": "#/definitions/EmailTemplateContract"
            }
          },
          "200": {
            "description": "Email Template was successfully updated.",
            "schema": {
              "$ref": "#/definitions/EmailTemplateContract"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "EmailTemplates"
        ],
        "operationId": "EmailTemplate_Update",
        "description": "Updates the specific Email Template.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TemplateNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailTemplateUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Email Template was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "EmailTemplates"
        ],
        "operationId": "EmailTemplate_Delete",
        "description": "Reset the Email Template to default template provided by the API Management service instance.",
        "x-ms-examples": {
          "ApiManagementDeleteEmailTemplate": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "templateName": "newIssueNotificationMessage",
              "If-Match": "*"
            },
            "responses": {
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TemplateNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "description": "The entity state (Etag) version of the Email Template to delete. A value of \"*\" can be used for If-Match to unconditionally apply the operation.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Email Template was successfully reset to default."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "EmailTemplateCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailTemplateContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged email template list representation."
    },
    "EmailTemplateContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EmailTemplateContractProperties",
          "description": "Email Template entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Email Template details."
    },
    "EmailTemplateContractProperties": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Subject of the Template.",
          "minLength": 1,
          "maxLength": 1000
        },
        "body": {
          "type": "string",
          "description": "Email Template Body. This should be a valid XDocument",
          "minLength": 1
        },
        "title": {
          "type": "string",
          "description": "Title of the Template."
        },
        "description": {
          "type": "string",
          "description": "Description of the Email Template."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether the template is the default template provided by Api Management or has been edited.",
          "readOnly": true
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailTemplateParametersContractProperties"
          },
          "description": "Email Template Parameter values."
        }
      },
      "required": [
        "body",
        "subject"
      ],
      "description": "Email Template Contract properties."
    },
    "EmailTemplateUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EmailTemplateUpdateParameterProperties",
          "description": "Email Template Update contract properties."
        }
      },
      "description": "Email Template update Parameters."
    },
    "EmailTemplateUpdateParameterProperties": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Subject of the Template.",
          "minLength": 1,
          "maxLength": 1000
        },
        "title": {
          "type": "string",
          "description": "Title of the Template."
        },
        "description": {
          "type": "string",
          "description": "Description of the Email Template."
        },
        "body": {
          "type": "string",
          "description": "Email Template Body. This should be a valid XDocument",
          "minLength": 1
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailTemplateParametersContractProperties"
          },
          "description": "Email Template Parameter values."
        }
      },
      "description": "Email Template Update Contract properties."
    },
    "EmailTemplateParametersContractProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Template parameter name.",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "title": {
          "type": "string",
          "description": "Template parameter title.",
          "minLength": 1,
          "maxLength": 4096
        },
        "description": {
          "type": "string",
          "description": "Template parameter description.",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "^[A-Za-z0-9-._]+$"
        }
      },
      "description": "Email Template Parameter contract."
    },
    "PolicyContractProperties": {
      "properties": {
        "policyContent": {
          "type": "string",
          "description": "Xml Encoded contents of the Policy."
        }
      },
      "required": [
        "policyContent"
      ],
      "description": "Policy contract Properties."
    },
    "PolicyContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicyContractProperties",
          "description": "Properties of the Policy."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Policy Contract details."
    },
    "Resource": {
      "description": "The Resource definition.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for API Management resource."
        }
      }
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error Body contract."
    }
  },
  "parameters": {
    "TemplateNameParameter": {
      "name": "templateName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "applicationApprovedNotificationMessage",
        "accountClosedDeveloper",
        "quotaLimitApproachingDeveloperNotificationMessage",
        "newDeveloperNotificationMessage",
        "emailChangeIdentityDefault",
        "inviteUserNotificationMessage",
        "newCommentNotificationMessage",
        "confirmSignUpIdentityDefault",
        "newIssueNotificationMessage",
        "purchaseDeveloperNotificationMessage",
        "passwordResetIdentityDefault",
        "passwordResetByAdminNotificationMessage",
        "rejectDeveloperNotificationMessage",
        "requestDeveloperNotificationMessage"
      ],
      "x-ms-enum": {
        "name": "TemplateName",
        "modelAsString": true
      },
      "description": "Email Template Name Identifier.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SkipQueryParameter": {
      "name": "$skip",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to skip.",
      "minimum": 0,
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Email Template"
}