{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for getting the network connectivity status of your Azure API Management deployment. When the API Management service is deployed inside a Virtual Network, it needs to have access to other Azure resources it depends on. This also gives details about the DNS Servers visible to Azure API Management deployment.",
    "version": "2016-10-10"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus": {
      "get": {
        "tags": [
          "NetworkStatus"
        ],
        "operationId": "NetworkStatus_GetByService",
        "description": "Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.",
        "x-ms-examples": {
          "ApiManagementServiceGetNetworkStatus": {
            "$ref": "#/definitions/ApiManagementServiceGetNetworkStatus"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the Network status details.",
            "schema": {
              "$ref": "#/definitions/NetworkStatusContract"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorBodyContract"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectivityStatusContract": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The hostname of the resource which the service depends on. This can be the database, storage or any other azure resource on which the service depends upon.",
          "minLength": 1
        },
        "status": {
          "type": "string",
          "enum": [
            "initializing",
            "success",
            "failure"
          ],
          "x-ms-enum": {
            "name": "ConnectivityStatusType",
            "modelAsString": true
          },
          "description": "Resource Connectivity Status Type identifier."
        },
        "error": {
          "type": "string",
          "description": "Error details of the connectivity to the resource."
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status was last updated. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        },
        "lastStatusChange": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status last Changed from success to failure or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        }
      },
      "required": [
        "name",
        "status",
        "lastUpdated",
        "lastStatusChange"
      ],
      "description": "Details about connectivity to a resource."
    },
    "NetworkStatusContract": {
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets the list of DNS servers IPV4 addresses."
        },
        "connectivityStatus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityStatusContract"
          },
          "description": "Gets the list of Connectivity Status to the Resources."
        }
      },
      "required": [
        "dnsServers",
        "connectivityStatus"
      ],
      "description": "Network Status details."
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "ErrorBodyContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error Body contract."
    },
    "ApiManagementServiceGetNetworkStatus": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "dnsServers": [
              "10.xx.3.87",
              "10.xx.5.29",
              "10.xx.32.105"
            ],
            "connectivityStatus": [
              {
                "name": "xxxxx.database.windows.net",
                "status": "success",
                "lastUpdated": "2017-03-20T08:47:20.7043553Z",
                "lastStatusChange": "2017-03-20T08:47:20.7981057Z"
              },
              {
                "name": "xxxxxxx.blob.core.windows.net",
                "status": "success",
                "lastUpdated": "2017-03-20T08:47:20.720918Z",
                "lastStatusChange": "2017-03-20T08:47:20.9075183Z"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    }
  }
}