{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs to manage Azure API Management deployment.",
    "version": "2016-10-10"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ApiManagement/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.ApiManagement provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CertificateInformation": {
      "properties": {
        "expiry": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint of the certificate."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the certificate."
        }
      },
      "required": [
        "expiry",
        "thumbprint",
        "subject"
      ],
      "description": "SSL certificate information."
    },
    "HostnameConfiguration": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Hostname type.",
          "enum": [
            "Proxy",
            "Portal",
            "Management",
            "Scm"
          ],
          "x-ms-enum": {
            "name": "HostnameType",
            "modelAsString": false
          }
        },
        "hostname": {
          "type": "string",
          "description": "Hostname."
        },
        "certificate": {
          "$ref": "#/definitions/CertificateInformation",
          "description": "Certificate information."
        }
      },
      "required": [
        "type",
        "hostname",
        "certificate"
      ],
      "description": "Custom hostname configuration."
    },
    "VirtualNetworkConfiguration": {
      "properties": {
        "vnetid": {
          "readOnly": true,
          "type": "string",
          "description": "The virtual network ID. This is typically a GUID. Expect a null GUID by default."
        },
        "subnetname": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the subnet."
        },
        "subnetResourceId": {
          "type": "string",
          "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
          "description": "The full resource ID of a subnet in a virtual network to deploy the API Management service in."
        },
        "location": {
          "type": "string",
          "description": "The location of the virtual network."
        }
      },
      "description": "Configuration of a virtual network to which API Management service is deployed."
    },
    "AdditionalRegion": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location name of the additional region among Azure Data center regions."
        },
        "skuType": {
          "type": "string",
          "description": "The SKU type in the location.",
          "enum": [
            "Developer",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuType",
            "modelAsString": false
          }
        },
        "skuUnitCount": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU Unit count at the location. The maximum SKU Unit count depends on the SkuType. Maximum allowed for Developer SKU is 1, for Standard SKU is 4, and for Premium SKU is 10, at a location.",
          "default": 1,
          "maximum": 10
        },
        "staticIPs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Static IP addresses of the location's virtual machines."
        },
        "vpnconfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual network configuration for the location."
        }
      },
      "required": [
        "location",
        "skuType"
      ],
      "description": "Description of an additional API Management resource location."
    },
    "ApiManagementServiceManageDeploymentsParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the API Management service Azure data center."
        },
        "skuType": {
          "type": "string",
          "description": "SKU type of the API Management service.",
          "enum": [
            "Developer",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuType",
            "modelAsString": false
          }
        },
        "skuUnitCount": {
          "type": "integer",
          "format": "int32",
          "description": "SKU Unit count of the API Management service. Default value is 1.",
          "default": 1
        },
        "additionalLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalRegion"
          },
          "description": "Additional data center locations for the API Management service."
        },
        "vpnConfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual network configuration."
        },
        "vpnType": {
          "type": "string",
          "description": "The type of VPN in which API Managemet service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that the API Management service deployment is set up inside a Virtual Network having an Intranet Facing Endpoint only. When vpnConfiguration is specified, vpnType must be specified.",
          "default": "None",
          "enum": [
            "None",
            "External",
            "Internal"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "location",
        "skuType"
      ],
      "description": "Parameters supplied to the ManageDeployments operation."
    },
    "ApiManagementServiceBackupRestoreParameters": {
      "properties": {
        "storageAccount": {
          "type": "string",
          "description": "Azure Cloud Storage account (used to place/retrieve the backup) name."
        },
        "accessKey": {
          "type": "string",
          "description": "Azure Cloud Storage account (used to place/retrieve the backup) access key."
        },
        "containerName": {
          "type": "string",
          "description": "Azure Cloud Storage blob container name used to place/retrieve the backup."
        },
        "backupName": {
          "type": "string",
          "description": "The name of the backup file to create."
        }
      },
      "required": [
        "storageAccount",
        "accessKey",
        "containerName",
        "backupName"
      ],
      "description": "Parameters supplied to the Backup/Restore of an API Management service operation."
    },
    "ApiManagementServiceProperties": {
      "properties": {
        "publisherEmail": {
          "type": "string",
          "description": "Publisher email.",
          "maxLength": 100
        },
        "publisherName": {
          "type": "string",
          "description": "Publisher name."
        },
        "provisioningState": {
          "type": "string",
          "description": "The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.",
          "readOnly": true
        },
        "targetProvisioningState": {
          "type": "string",
          "description": "The provisioning state of the API Management service, which is targeted by the long running operation started on the service.",
          "readOnly": true
        },
        "createdAtUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.",
          "readOnly": true
        },
        "runtimeUrl": {
          "type": "string",
          "description": "Proxy endpoint URL of the API Management service.",
          "readOnly": true
        },
        "portalUrl": {
          "type": "string",
          "description": "Publisher portal endpoint Url of the API Management service.",
          "readOnly": true
        },
        "managementApiUrl": {
          "type": "string",
          "description": "Management API endpoint URL of the API Management service.",
          "readOnly": true
        },
        "scmUrl": {
          "type": "string",
          "description": "SCM endpoint URL of the API Management service.",
          "readOnly": true
        },
        "addresserEmail": {
          "type": "string",
          "description": "Addresser email."
        },
        "hostnameConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HostnameConfiguration"
          },
          "description": "Custom hostname configuration of the API Management service."
        },
        "staticIPs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Static IP addresses of the API Management service virtual machines. Available only for Standard and Premium SKU."
        },
        "vpnconfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual network configuration of the API Management service."
        },
        "additionalLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalRegion"
          },
          "description": "Additional datacenter locations of the API Management service."
        },
        "customProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom properties of the API Management service, like disabling TLS 1.0."
        },
        "vpnType": {
          "type": "string",
          "description": "The type of VPN in which API Managemet service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.",
          "default": "None",
          "enum": [
            "None",
            "External",
            "Internal"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "publisherEmail",
        "publisherName"
      ],
      "description": "Properties of an API Management service resource description."
    },
    "ApiManagementServiceSkuProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Sku.",
          "externalDocs": {
            "url": "https://azure.microsoft.com/en-us/pricing/details/api-management/"
          },
          "enum": [
            "Developer",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuType",
            "modelAsString": false
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Capacity of the SKU (number of deployed units of the SKU). The default value is 1.",
          "default": 1
        }
      },
      "required": [
        "name"
      ],
      "description": "API Management service resource SKU properties."
    },
    "ApiManagementServiceResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApiManagementServiceProperties",
          "description": "Properties of the API Management service."
        },
        "sku": {
          "$ref": "#/definitions/ApiManagementServiceSkuProperties",
          "description": "SKU properties of the API Management service."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "sku",
        "properties"
      ],
      "description": "A single API Management service resource in List or Get response."
    },
    "Resource": {
      "description": "The Resource definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for API Management resource is set to Microsoft.ApiManagement."
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "ApiManagementServiceUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApiManagementServiceProperties",
          "description": "Properties of the API Management service."
        },
        "sku": {
          "$ref": "#/definitions/ApiManagementServiceSkuProperties",
          "description": "SKU properties of the API Management service."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Parameters supplied to the Update API Management service operation."
    },
    "ApiManagementServiceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiManagementServiceResource"
          },
          "description": "Result of the List API Management services operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of API Management services."
        }
      },
      "required": [
        "value"
      ],
      "description": "The response of the List API Management services operation."
    },
    "ApiManagementServiceGetSsoTokenResult": {
      "properties": {
        "redirect_uri": {
          "type": "string",
          "description": "Redirect URL containing the SSO token."
        }
      },
      "description": "The response of the GetSsoToken operation."
    },
    "ApiManagementServiceCheckNameAvailabilityParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name to check for availability."
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameters supplied to the CheckNameAvailability operation."
    },
    "ApiManagementServiceNameAvailabilityResult": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create a new API Management service; otherwise false."
        },
        "message": {
          "type": "string",
          "description": "If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name."
        },
        "reason": {
          "type": "string",
          "description": "Invalid indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.",
          "enum": [
            "Valid",
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "NameAvailabilityReason",
            "modelAsString": false
          }
        }
      },
      "required": [
        "nameAvailable"
      ],
      "description": "Response of the CheckNameAvailability operation."
    },
    "ApiManagementServiceUploadCertificateParameters": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Hostname type.",
          "enum": [
            "Proxy",
            "Portal",
            "Management",
            "Scm"
          ],
          "x-ms-enum": {
            "name": "HostnameType",
            "modelAsString": false
          }
        },
        "certificate": {
          "type": "string",
          "description": "Base64 Encoded certificate."
        },
        "certificate_password": {
          "type": "string",
          "description": "Certificate password."
        }
      },
      "required": [
        "type",
        "certificate",
        "certificate_password"
      ],
      "description": "Parameters supplied to the Upload SSL certificate for an API Management service operation."
    },
    "ApiManagementServiceUpdateHostnameParameters": {
      "properties": {
        "update": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HostnameConfiguration"
          },
          "description": "Hostnames to create or update."
        },
        "delete": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Proxy",
              "Portal",
              "Management",
              "Scm"
            ],
            "x-ms-enum": {
              "name": "HostnameType",
              "modelAsString": false
            }
          },
          "description": "Hostnames types to delete."
        }
      },
      "description": "Parameters supplied to the UpdateHostname operation."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error Response."
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that describes the operation.",
          "properties": {
            "provider": {
              "description": "Friendly name of the resource provider",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: read, write, delete, listKeys/action, etc.",
              "type": "string"
            },
            "resource": {
              "description": "Resource type on which the operation is performed.",
              "type": "string"
            },
            "description": {
              "description": "Friendly name of the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations supported by the resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "ApiManagementServiceManageDeployment": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "location": "West US",
          "skuType": "Developer",
          "skuUnitCount": 1,
          "vpnConfiguration": {
            "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/dfVirtualNetwork/subnets/backendSubnet",
            "location": "West US"
          },
          "vpnType": "External"
        }
      },
      "responses": {
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          },
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {},
            "location": "West US",
            "etag": "AAAAAAAAjQM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2017-03-20T03:45:14.1412986Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "hostnameConfigurations": [],
              "staticIPs": [
                "xx.xxx.xx.xxx"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Developer",
              "capacity": 1
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8XM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xx.xxx.xxx"
              ],
              "vpnconfiguration": {
                "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/dfVirtualNetwork/subnets/backendSubnet",
                "location": "West US"
              },
              "vpnType": "External"
            },
            "sku": {
              "name": "Developer",
              "capacity": 1
            }
          }
        }
      }
    },
    "ApiManagementRestoreService": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "storageAccount": "teststorageaccount",
          "accessKey": "**************************************************",
          "containerName": "backupContainer",
          "backupName": "apimService1backup_2017_03_19"
        }
      },
      "responses": {
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8XM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xxx.xx.xxx"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        }
      }
    },
    "ApiManagementCreateBackup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "storageAccount": "teststorageaccount",
          "accessKey": "**************************************************",
          "containerName": "backupContainer",
          "backupName": "apimService1backup_2017_03_19"
        }
      },
      "responses": {
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8XM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xxx.xx.xxx"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        }
      }
    },
    "ApiManagementCreateService": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "location": "West US",
          "sku": {
            "name": "Premium",
            "capacity": 1
          },
          "properties": {
            "publisherEmail": "admin@live.com",
            "publisherName": "contoso"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          },
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {},
            "location": "West US",
            "etag": "AAAAAAAV8Yo=",
            "properties": {
              "publisherEmail": "sasolank@microsoft.com",
              "publisherName": "sasolank@microsoft.com",
              "provisioningState": "Created",
              "targetProvisioningState": "Activating",
              "createdAtUtc": "2017-03-19T21:55:27.7443915Z",
              "hostnameConfigurations": [],
              "staticIPs": [],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {},
            "location": "West US",
            "etag": "AAAAAAAV8XM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xx.250.222"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        }
      }
    },
    "ApiManagementServiceGetSsoToken": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "redirect_uri": "https://apimService1.portal.azure-api.net:443/signin-sso?token=1%26201703200238%26nmWpz5mPSCMn%2b7BJXmwufoEn5AGN6xUt3y1aSQ8p6Gi4IdRHcEOo959Qt8nxojihYgSj%2fbxwykTUETMdyr4f%2fw%3d%3d"
          }
        }
      }
    },
    "ApiManagementServiceCheckNameAvailability": {
      "parameters": {
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "name": "apimService1"
        }
      },
      "responses": {
        "200": {
          "body": {
            "nameAvailable": true,
            "reason": "Valid",
            "message": ""
          }
        }
      }
    },
    "ApiManagementServiceUploadProxyCertificate": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "type": "Proxy",
          "certificate": "MIIZ7wI************************************************************",
          "certificate_password": "******"
        }
      },
      "responses": {
        "200": {
          "body": {
            "expiry": "2018-03-17T21:55:07+00:00",
            "thumbprint": "DE57B************************",
            "subject": "CN=*.contoso.com"
          }
        }
      }
    },
    "ApiManagementServiceUpdateHostName": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid",
        "parameters": {
          "update": [
            {
              "type": "Proxy",
              "hostname": "internalproxy2.contoso.com",
              "certificate": {
                "expiry": "2018-03-17T21:55:07+00:00",
                "thumbprint": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "subject": "CN=*.contoso.com"
              }
            },
            {
              "type": "Portal",
              "hostname": "internalportal2.contoso.com",
              "certificate": {
                "expiry": "2018-03-17T21:55:07+00:00",
                "thumbprint": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "subject": "CN=*.contoso.com"
              }
            },
            {
              "type": "Management",
              "hostname": "internalmgmt2.contoso.com",
              "certificate": {
                "expiry": "2018-03-17T21:55:07+00:00",
                "thumbprint": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "subject": "CN=*.contoso.com"
              }
            },
            {
              "type": "Scm",
              "hostname": "internalscm2.contoso.com",
              "certificate": {
                "expiry": "2018-03-17T21:55:07+00:00",
                "thumbprint": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "subject": "CN=*.contoso.com"
              }
            }
          ]
        }
      },
      "responses": {
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          },
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8ZY=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xx.xxxx.xxxx"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            },
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service"
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Admin-ResourceGroup/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8aU=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "hostnameConfigurations": [
                {
                  "type": "Portal",
                  "hostname": "internalportal2.contoso.com",
                  "certificate": {
                    "expiry": "2018-03-17T21:55:07+00:00",
                    "thumbprint": "*******************************",
                    "subject": "CN=*.contoso.com"
                  }
                },
                {
                  "type": "Proxy",
                  "hostname": "internalproxy2.contoso.com",
                  "certificate": {
                    "expiry": "2018-03-17T21:55:07+00:00",
                    "thumbprint": "*******************************",
                    "subject": "CN=*.contoso.com"
                  }
                },
                {
                  "type": "Management",
                  "hostname": "internalmgmt2.contoso.com",
                  "certificate": {
                    "expiry": "2018-03-17T21:55:07+00:00",
                    "thumbprint": "*******************************",
                    "subject": "CN=*.contoso.com"
                  }
                },
                {
                  "type": "Scm",
                  "hostname": "internalscm2.contoso.com",
                  "certificate": {
                    "expiry": "2018-03-17T21:55:07+00:00",
                    "thumbprint": "*******************************",
                    "subject": "CN=*.contoso.com"
                  }
                }
              ],
              "staticIPs": [
                "xx.xxx.xx.xxx"
              ],
              "vpnType": "None"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        }
      }
    },
    "ApiManagementApplyNetworkConfigurationUpdates": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2016-10-10",
        "subscriptionId": "subid"
      },
      "responses": {
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10"
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1",
            "name": "apimService1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {
              "TestExpiration": "Tue, 22 Sep 2015 02:52:00 GMT",
              "Pool": "Manual",
              "TestSuiteExpiration": "Tue, 22 Sep 2015 05:10:46 GMT"
            },
            "location": "West US",
            "etag": "AAAAAAAV8XM=",
            "properties": {
              "publisherEmail": "admin@live.com",
              "publisherName": "Contoso",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2015-09-22T01:52:02.4307221Z",
              "runtimeUrl": "https://apimService1.azure-api.net",
              "portalUrl": "https://apimService1.portal.azure-api.net",
              "managementApiUrl": "https://apimService1.management.azure-api.net",
              "scmUrl": "https://apimService1.scm.azure-api.net",
              "staticIPs": [
                "xx.xxx.xx.xxx"
              ],
              "vpnconfiguration": {
                "subnetResourceId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/dfVirtualNetwork/subnets/backendSubnet",
                "location": "West US"
              },
              "vpnType": "External"
            },
            "sku": {
              "name": "Premium",
              "capacity": 1
            }
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-operation-group-name": "Operation APIDeployment"
}