{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "BackupManagementClient",
    "description": "The Admin Backup Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups": {
      "get": {
        "x-ms-examples": {
          "Returns a list of backups from a location.": {
            "parameters": {
              "subscriptionId": "11111111-2222-3333-4444-555555555555",
              "resourceGroupName": "System.local",
              "location": "local",
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/de038ae0-294d-468d-90a1-fbe5ae028ce2",
                      "name": "de038ae0-294d-468d-90a1-fbe5ae028ce2",
                      "type": "Microsoft.Backup.Admin/backupLocations/backups",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "backupInfo": {
                          "backupDataVersion": "",
                          "backupId": "de038ae0-294d-468d-90a1-fbe5ae028ce2",
                          "roleStatus": [
                            {
                              "roleName": "NRP",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "SRP",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "CRP",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "KeyVaultInternalControlPlane",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "KeyVaultInternalDataPlane",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "KeyVaultControlPlane",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "KeyVaultDataPlane",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "KeyVaultNamingService",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "WAS",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "ECE",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "CA",
                              "status": "Succeeded"
                            },
                            {
                              "roleName": "ACS",
                              "status": "Succeeded"
                            }
                          ],
                          "status": "Succeeded",
                          "createdDateTime": "2018-02-16T16:06:10.1160531Z",
                          "timeTakenToCreate": "PT5M1.5611298S",
                          "stampVersion": "",
                          "oemVersion": "",
                          "deploymentID": ""
                        }
                      }
                    }
                  ],
                  "nextLink": null
                }
              },
              "404": {}
            }
          }
        },
        "description": "Returns a list of backups from a location.",
        "tags": [
          "Backups"
        ],
        "operationId": "Backups_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/BackupLocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "Backup": {
      "description": "Information related to a backup.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties for a backup.",
          "$ref": "#/definitions/BackupModel",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "BackupModel": {
      "description": "Properties for a backup.",
      "properties": {
        "backupInfo": {
          "description": "Holds information for a backup.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BackupInfo"
        }
      }
    },
    "BackupInfo": {
      "type": "object",
      "description": "Holds information for a backup.",
      "properties": {
        "backupDataVersion": {
          "description": "Version of the backup data.",
          "type": "string",
          "readOnly": true
        },
        "backupId": {
          "description": "Unique GUID for the backup.",
          "type": "string",
          "readOnly": true
        },
        "roleStatus": {
          "description": "Backup status for each role.",
          "$ref": "#/definitions/RoleOperationStatusList",
          "readOnly": true
        },
        "status": {
          "description": "Current status of the backup.",
          "$ref": "#/definitions/OperationStatus",
          "readOnly": true
        },
        "createdDateTime": {
          "description": "Creation time of the backup.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "timeTakenToCreate": {
          "description": "Duration to create the backup.",
          "type": "string",
          "readOnly": true
        },
        "deploymentID": {
          "description": "Deployment Id of the stamp.",
          "type": "string",
          "readOnly": true
        },
        "stampVersion": {
          "description": "Current version.",
          "type": "string",
          "readOnly": true
        },
        "oemVersion": {
          "description": "OEM version.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationStatus": {
      "description": "Status of an operation.",
      "type": "string",
      "enum": [
        "Creating",
        "Queued",
        "Running",
        "Deleted",
        "Failed",
        "PartialSucceeded",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "OperationStatus",
        "modelAsString": false
      }
    },
    "RoleOperationStatusList": {
      "description": "object",
      "type": "array",
      "items": {
        "$ref": "#/definitions/RoleOperationStatus"
      }
    },
    "RoleOperationStatus": {
      "description": "Backup status for a role.",
      "type": "object",
      "properties": {
        "roleName": {
          "description": "Name of the role.",
          "type": "string"
        },
        "status": {
          "description": "Status of the role.",
          "$ref": "#/definitions/OperationStatus"
        }
      }
    },
    "BackupList": {
      "type": "object",
      "description": "List of backups.",
      "properties": {
        "value": {
          "description": "List of backups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Backup"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "List of key value pairs.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "BackupParameter": {
      "name": "backup",
      "in": "path",
      "description": "Name of the backup.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "BackupLocationParameter": {
      "name": "location",
      "in": "path",
      "description": "Name of the backup location.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Backups",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}