{
  "swagger": "2.0",
  "info": {
    "version": "2015-06-15",
    "title": "NetworkAdminManagementClient",
    "description": "Public IP Address admin endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminPublicIpAddresses": {
      "get": {
        "x-ms-examples": {
          "List of public ip addresses": {
            "parameters": {
              "api-version": "2015-06-15",
              "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "192.168.1.2",
                      "type": "Microsoft.Network.Admin/adminPublicIPAddresses",
                      "location": "",
                      "id": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminPublicIPAddresses/192.168.1.2",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "ipAddress": "192.168.102.32",
                        "ipPool": "5e85a60b-1da2-45e2-8780-11617421a708",
                        "allocationMethod": "Static",
                        "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73",
                        "tenantResourceUri": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/publicIPAddresses/192.168.1.2"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "PublicIpAddresses"
        ],
        "description": "List of public ip addresses.",
        "operationId": "PublicIPAddresses_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/OrderByParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipParameter"
          },
          {
            "$ref": "#/parameters/InlineCountParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PublicIpAddressList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/PublicIpAddress",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "PublicIpAddress": {
      "description": "This resource represents an IP Address.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of an IP Address.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PublicIPAddressProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PublicIPAddressProperties": {
      "description": "Properties of a public IP Address.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The IP address.",
          "type": "string"
        },
        "ipPool": {
          "description": "The IP pool.",
          "type": "string"
        },
        "allocationMethod": {
          "description": "The allocation method.",
          "enum": [
            "Dynamic",
            "Static"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "AllocationMethodType"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProvisionedResource"
        },
        {
          "$ref": "#/definitions/TenantResource"
        }
      ]
    },
    "PublicIpAddressList": {
      "description": "Pageable list of public ip addresses.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of public ip addresses for this page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PublicIpAddress"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "TenantResource": {
      "description": "These resources are utilized by a single tenant.",
      "type": "object",
      "properties": {
        "subscriptionId": {
          "description": "The subscription ID.",
          "type": "string",
          "readOnly": true
        },
        "tenantResourceUri": {
          "description": "The tenant resource URI.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProvisionedResource": {
      "description": "Objects which have a provisioning state.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AdminOverviewResourceUsage": {
      "description": "Resource usage information.",
      "properties": {
        "totalResourceCount": {
          "description": "Total number of resources.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "inUseResourceCount": {
          "description": "Number of resources in use.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "AdminOverviewResourceHealth": {
      "description": "Resource health information.",
      "properties": {
        "totalResourceCount": {
          "description": "Total number of resources.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "healthyResourceCount": {
          "description": "Number of resources in the success state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "errorResourceCount": {
          "description": "Number of resources in the error state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "warningResourceCount": {
          "description": "Number of resources in the warning state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "healthUnknownCount": {
          "description": "Number of resources in an unknown state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "AdminOverviewProperties": {
      "description": "Admin overview properties.",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        },
        "virtualNetworkHealth": {
          "description": "Health for all virtual networks as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "loadBalancerMuxHealth": {
          "description": "Health for all LB MUXes as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "virtualGatewayHealth": {
          "description": "Health for all gateways as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "publicIpAddressUsage": {
          "description": "Total Public IP usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        },
        "backendIpUsage": {
          "description": "Total Backend IP usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        },
        "macAddressUsage": {
          "description": "Total MAC address usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        }
      }
    },
    "AdminOverview": {
      "description": "Admin overview resource object.",
      "properties": {
        "properties": {
          "description": "Admin overview properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdminOverviewProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Region location of resource.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "List of key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "PublicIpAddressParameter": {
      "name": "publicIpAddress",
      "description": "Public IP address parameter.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "InlineCountParameter": {
      "description": "OData inline count parameter.",
      "name": "$inlineCount",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SkipParameter": {
      "description": "OData skip parameter.",
      "name": "$skip",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TopParameter": {
      "description": "OData top parameter.",
      "name": "$top",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "OrderByParameter": {
      "description": "OData orderBy parameter.",
      "name": "$orderBy",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2015-06-15"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Public IP Addresses",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}