{
  "swagger": "2.0",
  "info": {
    "version": "2015-06-15",
    "title": "NetworkAdminManagementClient",
    "description": "Quota admin operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas/{resourceName}": {
      "put": {
        "x-ms-examples": {
          "Create or update a new quota": {
            "parameters": {
              "api-version": "2015-06-15",
              "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73",
              "location": "local",
              "resourceName": "TestQuotaForUpdate",
              "Quota": "test"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "TestQuotaForUpdate",
                  "type": "Microsoft.Network.Admin/quotas",
                  "properties": {
                    "provisioningState": "Updating",
                    "maxPublicIpsPerSubscription": 32,
                    "maxVnetsPerSubscription": 0,
                    "maxVirtualNetworkGatewaysPerSubscription": 0,
                    "maxVirtualNetworkGatewayConnectionsPerSubscription": 0,
                    "maxLoadBalancersPerSubscription": 0,
                    "maxNicsPerSubscription": 8,
                    "maxSecurityGroupsPerSubscription": 0,
                    "migrationPhase": "None"
                  },
                  "id": "/subscriptions/2a6b336c-6c7f-4a19-bab9-b51119d8fec8/providers/Microsoft.Network.Admin/locations/local/quotas/TestQuotaForUpdate"
                }
              },
              "201": {
                "body": {
                  "name": "TestQuotaForRemoval",
                  "type": "Microsoft.Network.Admin/quotas",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "maxPublicIpsPerSubscription": 32,
                    "maxVnetsPerSubscription": 32,
                    "maxVirtualNetworkGatewaysPerSubscription": 32,
                    "maxVirtualNetworkGatewayConnectionsPerSubscription": 32,
                    "maxLoadBalancersPerSubscription": 32,
                    "maxNicsPerSubscription": 4,
                    "maxSecurityGroupsPerSubscription": 2,
                    "migrationPhase": "None"
                  },
                  "id": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/locations/local/quotas/TestQuotaForRemoval"
                }
              }
            }
          }
        },
        "tags": [
          "Network"
        ],
        "description": "Create or update a quota.",
        "operationId": "Quotas_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/QuotaParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Quota"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Quota"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "Quota": {
      "description": "Network quota resource.",
      "properties": {
        "properties": {
          "description": "Network quota properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "QuotaProperties": {
      "description": "Properties of a quota.",
      "properties": {
        "maxPublicIpsPerSubscription": {
          "description": "Maximum number of public IP addresses a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxVnetsPerSubscription": {
          "description": "Maximum number of virtual networks a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxVirtualNetworkGatewaysPerSubscription": {
          "description": "Maximum number of virtual network gateways a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxVirtualNetworkGatewayConnectionsPerSubscription": {
          "description": "Maximum number of virtual network gateway Connections a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxLoadBalancersPerSubscription": {
          "description": "Maximum number of load balancers a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxNicsPerSubscription": {
          "description": "Maximum number of NICs a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "maxSecurityGroupsPerSubscription": {
          "description": "Maximum number of security groups a tenant subscription can provision.",
          "type": "integer",
          "format": "int64"
        },
        "migrationPhase": {
          "description": "State of migration such as None, Prepare, Commit, and Abort.",
          "$ref": "#/definitions/MigrationPhase",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProvisionedResource"
        }
      ]
    },
    "QuotaList": {
      "description": "A pageable list of network quotas.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of quotas on this page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Quota"
          }
        },
        "nextLink": {
          "description": "The URI to the next page.",
          "type": "string"
        }
      }
    },
    "MigrationPhase": {
      "description": "State of migration such as None, Prepare, Commit, and Abort.",
      "enum": [
        "None",
        "Prepare",
        "Commit",
        "Abort"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MigrationPhaseType"
      }
    },
    "ProvisionedResource": {
      "description": "Objects which have a provisioning state.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AdminOverviewResourceUsage": {
      "description": "Resource usage information.",
      "properties": {
        "totalResourceCount": {
          "description": "Total number of resources.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "inUseResourceCount": {
          "description": "Number of resources in use.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "AdminOverviewResourceHealth": {
      "description": "Resource health information.",
      "properties": {
        "totalResourceCount": {
          "description": "Total number of resources.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "healthyResourceCount": {
          "description": "Number of resources in the success state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "errorResourceCount": {
          "description": "Number of resources in the error state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "warningResourceCount": {
          "description": "Number of resources in the warning state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "healthUnknownCount": {
          "description": "Number of resources in an unknown state.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "AdminOverviewProperties": {
      "description": "Admin overview properties.",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        },
        "virtualNetworkHealth": {
          "description": "Health for all virtual networks as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "loadBalancerMuxHealth": {
          "description": "Health for all LB MUXes as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "virtualGatewayHealth": {
          "description": "Health for all gateways as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceHealth"
        },
        "publicIpAddressUsage": {
          "description": "Total Public IP usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        },
        "backendIpUsage": {
          "description": "Total Backend IP usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        },
        "macAddressUsage": {
          "description": "Total MAC address usage as reported by the NC.",
          "$ref": "#/definitions/AdminOverviewResourceUsage"
        }
      }
    },
    "AdminOverview": {
      "description": "Admin overview resource object.",
      "properties": {
        "properties": {
          "description": "Admin overview properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdminOverviewProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Region location of resource.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "List of key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "QuotaParameter": {
      "name": "Quota",
      "description": "New network quota to create.",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Quota"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2015-06-15"
    },
    "ResourceNameParameter": {
      "description": "Name of the resource.",
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-operation-group-name": "Quotas (Network)",
  "x-internal-toc-name": "Quotas (Network)",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "CreateOrUpdate",
  "x-internal-operation-name": "Create Or Update"
}