{
  "swagger": "2.0",
  "info": {
    "version": "2018-03-01",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "title": "MonitorManagementClient",
    "description": "Azure Monitor client to create/update/delete metric based alerts."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}": {
      "get": {
        "tags": [
          "MetricAlerts"
        ],
        "description": "Retrieve an alert rule definiton.",
        "operationId": "MetricAlerts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of metric alerts",
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            },
            "examples": {
              "application/json": {
                "location": "global",
                "tags": {
                  "key1": "value1",
                  "key2": "value2"
                },
                "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourcegroups/test/providers/microsoft.insights/metricalerts/storageTest",
                "name": "storageTest",
                "properties": {
                  "description": "This is the description of the xstore multidim rule1",
                  "severity": 3,
                  "enabled": true,
                  "scopes": [
                    "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/test/providers/Microsoft.Storage/storageAccounts/testmultidim/blobServices/default"
                  ],
                  "evaluationFrequency": "PT1M",
                  "windowSize": "PT15M",
                  "criteria": {
                    "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
                    "allOf": [
                      {
                        "name": "HowManyBytes",
                        "metricName": "BlobCapacity",
                        "dimensions": [
                          {
                            "name": "BlobType",
                            "operator": "Include",
                            "values": [
                              "BlockBlob",
                              "PageBlob"
                            ]
                          }
                        ],
                        "operator": "GreaterThanOrEqual",
                        "threshold": 5,
                        "timeAggregation": "Maximum"
                      }
                    ]
                  },
                  "actions": [
                    {
                      "actionGroupId": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/test/providers/microsoft.insights/actionGroups/testActionGroup"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an alert rule": {
            "parameters": {
              "subscriptionId": "14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7",
              "resourceGroupName": "gigtest",
              "ruleName": "chiricutin",
              "api-version": "2018-03-01"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7/resourceGroups/gigtest/providers/providers/microsoft.insights/metricalerts/chiricutin",
                  "type": "Microsoft.Insights/metricAlerts",
                  "location": "global",
                  "tags": {
                    "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                  },
                  "properties": {
                    "description": "This is the description of the rule1",
                    "severity": 3,
                    "enabled": true,
                    "scopes": [
                      "/subscriptions/14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7/resourceGroups/gigtest/providers/Microsoft.Compute/virtualMachines/gigwadme"
                    ],
                    "evaluationFrequency": "Pt1m",
                    "windowSize": "Pt15m",
                    "criteria": {
                      "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
                      "allOf": [
                        {
                          "name": "High_CPU_80",
                          "metricName": "\\Processor(_Total)\\% Processor Time",
                          "dimensions": [],
                          "operator": "GreaterThan",
                          "threshold": 80.5,
                          "timeAggregation": "Average"
                        }
                      ]
                    },
                    "actions": [
                      {
                        "actionGroupId": "/subscriptions/14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7/resourcegroups/gigtest/providers/microsoft.insights/notificationgroups/group2",
                        "webhookProperties": {
                          "key11": "value11",
                          "key12": "value12"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "Action": {
      "description": "An alert action.",
      "properties": {
        "actionGroupId": {
          "type": "string",
          "description": "the id of the action group to use."
        },
        "webhookProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload."
          }
        }
      }
    },
    "MetricAlertProperties": {
      "required": [
        "enabled",
        "description",
        "severity",
        "evaluationFrequency",
        "windowSize",
        "criteria"
      ],
      "properties": {
        "description": {
          "type": "string",
          "description": "the description of the metric alert that will be included in the alert email."
        },
        "severity": {
          "type": "integer",
          "description": "Alert severity {0, 1, 2, 3, 4}"
        },
        "enabled": {
          "type": "boolean",
          "description": "the flag that indicates whether the metric alert is enabled."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the list of resource id's that this metric alert is scoped to."
        },
        "evaluationFrequency": {
          "type": "string",
          "format": "duration",
          "description": "how often the metric alert is evaluated represented in ISO 8601 duration format."
        },
        "windowSize": {
          "type": "string",
          "format": "duration",
          "description": "the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold."
        },
        "criteria": {
          "$ref": "#/definitions/MetricAlertCriteria",
          "description": "defines the specific alert criteria information."
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved."
        },
        "lastUpdatedTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Last time the rule was updated in ISO8601 format."
        }
      },
      "description": "An alert rule."
    },
    "MetricAlertResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MetricAlertProperties",
          "description": "The alert rule properties of the resource."
        }
      },
      "description": "The metric alert resource."
    },
    "MetricAlertResourcePatch": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MetricAlertProperties",
          "description": "The alert rule properties of the resource."
        }
      },
      "description": "The metric alert resource for patch operations."
    },
    "MetricAlertResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAlertResource"
          },
          "description": "the values for the alert rule resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "MetricAlertStatusCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAlertStatus"
          },
          "description": "the values for the alert rule resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "MetricAlertStatusProperties": {
      "description": "An alert status properties.",
      "properties": {
        "dimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "description": "status value"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "UTC time when the status was checked."
        }
      }
    },
    "MetricAlertStatus": {
      "description": "An alert status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The status name."
        },
        "id": {
          "type": "string",
          "description": "The alert rule arm id."
        },
        "type": {
          "type": "string",
          "description": "The extended resource type name."
        },
        "properties": {
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/MetricAlertStatusProperties",
          "description": "The alert status properties of the metric alert status."
        }
      }
    },
    "MetricAlertCriteria": {
      "type": "object",
      "additionalProperties": {
        "type": "object"
      },
      "discriminator": "odata.type",
      "properties": {
        "odata.type": {
          "enum": [
            "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
            "Microsoft.Azure.Monitor.DefaultCriteria"
          ],
          "x-ms-enum": {
            "name": "odatatype",
            "modelAsString": true
          },
          "description": "specifies the type of the alert criteria."
        }
      },
      "required": [
        "odata.type"
      ],
      "description": "The rule criteria that defines the conditions of the alert rule."
    },
    "MetricAlertSingleResourceMultipleMetricCriteria": {
      "x-ms-discriminator-value": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MetricAlertCriteria"
        }
      ],
      "properties": {
        "allOf": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricCriteria"
          },
          "description": "The list of metric criteria for this 'all of' operation. "
        }
      },
      "description": "Specifies the metric alert criteria for a single resource that has multiple metric criteria."
    },
    "MetricCriteria": {
      "required": [
        "name",
        "metricName",
        "operator",
        "timeAggregation",
        "threshold"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the criteria."
        },
        "metricName": {
          "type": "string",
          "description": "Name of the metric."
        },
        "metricNamespace": {
          "type": "string",
          "description": "Namespace of the metric."
        },
        "operator": {
          "enum": [
            "Equals",
            "NotEquals",
            "GreaterThan",
            "GreaterThanOrEqual",
            "LessThan",
            "LessThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": true
          },
          "description": "the criteria operator."
        },
        "timeAggregation": {
          "enum": [
            "Average",
            "Minimum",
            "Maximum",
            "Total"
          ],
          "x-ms-enum": {
            "name": "AggregationType",
            "modelAsString": true
          },
          "description": "the criteria time aggregation types."
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "the criteria threshold value that activates the alert."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "description": "List of dimension conditions."
        }
      }
    },
    "MetricDimension": {
      "required": [
        "name",
        "operator",
        "values"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "operator": {
          "type": "string",
          "description": "the dimension operator."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of dimension values."
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "RuleNameParameter": {
      "name": "ruleName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the rule.",
      "x-ms-parameter-location": "method"
    },
    "StatusNameParameter": {
      "name": "statusName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the status.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Metric Alerts",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get"
}