{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "Scale unit operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all scale units at a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster",
                      "name": "S-Cluster",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/scaleUnits",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "scaleUnitType": "HyperConverged",
                        "logicalFaultDomain": 0,
                        "nodes": [
                          "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437"
                        ],
                        "state": "Running",
                        "totalCapacity": {
                          "memoryGB": 511.8877,
                          "cores": 32
                        },
                        "isMultiNode": false
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "tags": [
          "ScaleUnits"
        ],
        "description": "Returns a list of all scale units at a location.",
        "operationId": "ScaleUnits_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaleUnitList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ScaleUnit",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "ScaleUnitCapacity": {
      "description": "The capacity information for a physical machine.",
      "type": "object",
      "properties": {
        "memoryGB": {
          "description": "The memory for the physical machine.",
          "type": "number",
          "format": "float"
        },
        "cores": {
          "description": "The number of CPU cores for the physical machine.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ScaleUnit": {
      "description": "Represents a cluster. Generally, the cluster will be a collection of hosts backed by failover cluster manager.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a scale unit.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ScaleUnitModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ScaleUnitModel": {
      "description": "Properties of a scale unit.",
      "type": "object",
      "properties": {
        "scaleUnitType": {
          "description": "Type of cluster.",
          "enum": [
            "Unknown",
            "ComputeOnly",
            "StorageOnly",
            "HyperConverged"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ScaleUnitType"
          }
        },
        "logicalFaultDomain": {
          "description": "Fault domain name of the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "nodes": {
          "description": "List of nodes in the server.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Current state of the cluster.",
          "enum": [
            "Unknown",
            "Creating",
            "Running",
            "Upgrading",
            "Deleting"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ScaleUnitState"
          }
        },
        "model": {
          "description": "Model of the servers in the cluster.",
          "type": "string"
        },
        "totalCapacity": {
          "description": "Capacity information for the cluster.",
          "$ref": "#/definitions/ScaleUnitCapacity"
        },
        "isMultiNode": {
          "description": "Denotes if more than one node in cluster.",
          "type": "boolean"
        }
      }
    },
    "ScaleUnitList": {
      "description": "A pageable list of scale units.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of scale units.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScaleUnit"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "ScaleOutScaleUnitParameters": {
      "description": "Input data that allows for adding a scale unit node.",
      "type": "object",
      "properties": {
        "bmcIpv4Address": {
          "x-ms-client-name": "BMCIPv4Address",
          "description": "BMC address of the physical machine.",
          "type": "string"
        },
        "computerName": {
          "description": "Computer name of the physical machine.",
          "type": "string"
        }
      }
    },
    "ScaleOutScaleUnitParametersList": {
      "description": "A list of input data that allows for adding a set of scale unit nodes.",
      "type": "object",
      "properties": {
        "nodeList": {
          "description": "List of nodes in the scale unit.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScaleOutScaleUnitParameters"
          }
        },
        "awaitStorageConvergence": {
          "description": "Flag indicates if the operation should wait for storage to converge before returning.",
          "type": "boolean"
        }
      }
    },
    "NetworkDefinitionParameter": {
      "description": "A definition of the network received from a new cluster operation.",
      "type": "object",
      "properties": {
        "subnet": {
          "description": "The subnet IP mask in the example format 10.0.0.0/25.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vlanId": {
          "description": "The Vlan ID of the subnet.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentJsonPhysicalNodeParameters": {
      "description": "Description of a bare metal node used for scale unit scale out operations.",
      "type": "object",
      "properties": {
        "bmcIpAddress": {
          "x-ms-client-name": "BMCIPAddress",
          "description": "BMC address of the physical machine.",
          "type": "string"
        },
        "name": {
          "description": "Computer name of the physical machine.",
          "type": "string"
        }
      }
    },
    "CreateFromJsonScaleUnitParametersList": {
      "description": "A list of input data that allows for creating the new scale unit.",
      "type": "object",
      "properties": {
        "clusterName": {
          "description": "Cluster name for the new scale unit.",
          "type": "string"
        },
        "physicalNodes": {
          "description": "List of nodes in the scale unit.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentJsonPhysicalNodeParameters"
          }
        },
        "torSwitchBgpAsn": {
          "description": "The ASN for the cluster's rack TOR.",
          "type": "string"
        },
        "softwareBgpAsn": {
          "description": "The software ASN for the cluster's rack.",
          "type": "string"
        },
        "torSwitchBgpPeerIp": {
          "description": "The list of IP addresses used for TOR communication.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "infrastructureNetwork": {
          "description": "The information associated with the infrastructure network that will be subdivided into subnets.",
          "$ref": "#/definitions/NetworkDefinitionParameter"
        },
        "storageNetwork": {
          "description": "The information associated with the storage network that will be subdivided into subnets.",
          "$ref": "#/definitions/NetworkDefinitionParameter"
        },
        "netQosPriority": {
          "description": "The network QOS priority setting.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ScaleUnitParameter": {
      "name": "scaleUnit",
      "description": "Name of the scale units.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ScaleOutScaleUnitParametersInBody": {
      "name": "scaleUnitNodeParameters",
      "description": "A list of input data that allows for adding a set of scale unit nodes.",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ScaleOutScaleUnitParametersList"
      },
      "x-ms-parameter-location": "method"
    },
    "CreateFromJsonScaleUnitParametersInBody": {
      "name": "creationData",
      "description": "A list of input data that allows for creating the new scale unit.",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/CreateFromJsonScaleUnitParametersList"
      },
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Scale Units",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}