{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-01",
    "title": "PolicyClient",
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponse"
        }
      },
      "description": "An error response from a policy operation."
    },
    "PolicyAssignmentProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the policy assignment."
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "The ID of the policy definition or policy set definition being assigned."
        },
        "scope": {
          "type": "string",
          "description": "The scope for the policy assignment."
        },
        "notScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The policy's excluded scopes."
        },
        "parameters": {
          "description": "The parameter values for the assigned policy rule. The keys are the parameter names.",
          "$ref": "#/definitions/ParameterValues"
        },
        "description": {
          "type": "string",
          "description": "This message will be part of response in case of policy violation."
        },
        "metadata": {
          "type": "object",
          "description": "The policy assignment metadata. Metadata is an open ended object and is typically a collection of key value pairs."
        },
        "enforcementMode": {
          "type": "string",
          "description": "The policy assignment enforcement mode. Possible values are Default and DoNotEnforce.",
          "enum": [
            "Default",
            "DoNotEnforce"
          ],
          "x-ms-enum": {
            "name": "enforcementMode",
            "modelAsString": true,
            "values": [
              {
                "value": "Default",
                "description": "The policy effect is enforced during resource creation or update."
              },
              {
                "value": "DoNotEnforce",
                "description": "The policy effect is not enforced during resource creation or update."
              }
            ]
          }
        }
      },
      "description": "The policy assignment properties."
    },
    "ParameterValues": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/ParameterValuesValue"
      },
      "description": "The parameter values for the policy rule. The keys are the parameter names."
    },
    "ParameterValuesValue": {
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "object"
        }
      },
      "description": "The value of a parameter."
    },
    "PolicySku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the policy sku. Possible values are A0 and A1."
        },
        "tier": {
          "type": "string",
          "description": "The policy sku tier. Possible values are Free and Standard."
        }
      },
      "required": [
        "name"
      ],
      "description": "The policy sku. This property is optional, obsolete, and will be ignored."
    },
    "PolicyAssignment": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicyAssignmentProperties",
          "description": "Properties for the policy assignment."
        },
        "id": {
          "type": "string",
          "description": "The ID of the policy assignment.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the policy assignment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the policy assignment.",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/PolicySku",
          "description": "The policy sku. This property is optional, obsolete, and will be ignored."
        },
        "location": {
          "type": "string",
          "description": "The location of the policy assignment. Only required when utilizing managed identity."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The managed identity associated with the policy assignment."
        }
      },
      "description": "The policy assignment.",
      "x-ms-azure-resource": true
    },
    "PolicyAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyAssignment"
          },
          "description": "An array of policy assignments."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of policy assignments."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of the resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of the resource identity."
        },
        "type": {
          "type": "string",
          "description": "The identity type. This is the only required field when adding a system assigned identity to a resource.",
          "enum": [
            "SystemAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false,
            "values": [
              {
                "value": "SystemAssigned",
                "description": "Indicates that a system assigned identity is associated with the resource."
              },
              {
                "value": "None",
                "description": "Indicates that no identity is associated with the resource or that the existing identity should be removed."
              }
            ]
          }
        }
      },
      "description": "Identity for the resource."
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the operation."
    },
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the management group.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-id": "resources",
  "x-internal-service-name": "Resource Management",
  "x-internal-toc-name": "Policy Assignments",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Create",
      "relativePath": "PolicyAssignments/Create"
    },
    {
      "displayName": "Create By Id",
      "relativePath": "PolicyAssignments/CreateById"
    },
    {
      "displayName": "Delete",
      "relativePath": "PolicyAssignments/Delete"
    },
    {
      "displayName": "Delete By Id",
      "relativePath": "PolicyAssignments/DeleteById"
    },
    {
      "displayName": "Get",
      "relativePath": "PolicyAssignments/Get"
    },
    {
      "displayName": "Get By Id",
      "relativePath": "PolicyAssignments/GetById"
    },
    {
      "displayName": "List",
      "relativePath": "PolicyAssignments/List"
    },
    {
      "displayName": "List For Management Group",
      "relativePath": "PolicyAssignments/ListForManagementGroup"
    },
    {
      "displayName": "List For Resource",
      "relativePath": "PolicyAssignments/ListForResource"
    },
    {
      "displayName": "List For Resource Group",
      "relativePath": "PolicyAssignments/ListForResourceGroup"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}