{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01-preview",
    "title": "Service Map",
    "description": "Service Map API Reference"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "operationId": "Machines_ListByWorkspace",
        "x-ms-examples": {
          "SMMachinesListByWorkspaceGet": {
            "parameters": {
              "subscriptionId": "63BE4E24-FDF0-4E9C-9342-6A5D5A359722",
              "resourceGroupName": "rg-sm",
              "workspaceName": "D6F79F14-E563-469B-84B5-9286D2803B2F",
              "api-version": "2016-08-02",
              "live": false,
              "timestamp": "2018-01-05T21:36:07.009Z"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:36:07.009Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "0ec98f01-4f24-4a46-abfa-278571e916dc",
                          "dependencyAgentId": "d742e84a-e114-4b3d-b3ba-160d5cf4129b",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "cca1e83c-e0b8-454a-b39c-581ef1211c01",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "3eaa0b8c-65e4-4c9f-8cb8-d77b9bce910f",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "60bf38dd-4204-40ac-b4f6-b94065e957ea"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-0ec98f01-4f24-4a46-abfa-278571e916dc",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-0ec98f01-4f24-4a46-abfa-278571e916dc"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "1e295878-4b4c-46ac-91d1-08e5fbd65361",
                          "dependencyAgentId": "3e285a31-7988-423b-a55b-8f5610ff0b12",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "8f19c2b2-2a98-42cf-b1bc-751fee767fc9",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "7b375bd0-69d7-4088-8211-e71c30b41f10",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "4bf527ba-20cc-4537-951d-c78664e61938"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-1e295878-4b4c-46ac-91d1-08e5fbd65361",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-1e295878-4b4c-46ac-91d1-08e5fbd65361"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "6277eb91-c8de-4696-9f5e-d0658261422c",
                          "dependencyAgentId": "9d31bd18-720a-4ff9-8952-bdfec7872421",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "cd5943b5-d731-4389-a315-cb723fc2e125",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "45eb057c-dcd9-4a98-ba4a-1f20e89cd661",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "db085678-b544-497c-bde2-165f9ee269fa"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-6277eb91-c8de-4696-9f5e-d0658261422c",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-6277eb91-c8de-4696-9f5e-d0658261422c"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:22.372Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "8811e3c4-15db-45d3-8b76-23da80efeff3",
                          "dependencyAgentId": "a04d8f0b-df9a-46cb-a212-29c7576fd75d",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "79e84f1b-2172-490e-9fd4-6119d6678d95",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "f24d41a8-2f09-4f29-b2b1-65a4a7277297",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "832578ab-2d97-4412-babd-4976d3f144c2"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-8811e3c4-15db-45d3-8b76-23da80efeff3",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-8811e3c4-15db-45d3-8b76-23da80efeff3"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "55d6b873-b60c-4091-b735-0077f04c3b88",
                          "dependencyAgentId": "125f3f0b-1e2d-4045-a6d9-1cd12fb96b61",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "e1bf385f-b092-4a6d-abc4-d2a106fda204",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "4687fc36-e40b-4c40-bdee-5727367c0777",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "e1e97460-3f12-4511-b885-c561a1476217"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-55d6b873-b60c-4091-b735-0077f04c3b88",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-55d6b873-b60c-4091-b735-0077f04c3b88"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:22.372Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "29f030f7-d41c-4474-ad09-2271cbf18cfb",
                          "dependencyAgentId": "5e05f099-8ecd-44d3-8147-08088270f1c8",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "365102e6-1843-4f88-99b2-ec398c2b9ed2",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "4d912177-543c-4539-a185-3b47c52c6ca4",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "7a9dea89-0dfa-45d8-b984-a0a645c3b6a0"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-29f030f7-d41c-4474-ad09-2271cbf18cfb",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-29f030f7-d41c-4474-ad09-2271cbf18cfb"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "f39c1cbe-1d5d-4c3f-8963-26a00b57b099",
                          "dependencyAgentId": "aa0be2b5-5faf-43d2-a060-de7d7fe37c4b",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "623b84ba-0219-41af-b839-91acc23ec8e6",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "045ed792-6d9f-4798-94a1-9b6e32f5449a",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "e6ab7207-0446-4a61-af18-a2f2fc43ebcb"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f39c1cbe-1d5d-4c3f-8963-26a00b57b099",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-f39c1cbe-1d5d-4c3f-8963-26a00b57b099"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:36:07.009Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "a57565a4-beaf-4c87-8a36-8d209d14cf9c",
                          "dependencyAgentId": "5471c74d-7d9d-4e18-b23f-fc523f5e0d68",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "f4d4bd5e-11ba-4971-8c5c-eb4553042b43",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "92e6c240-ba09-45ab-8bb3-bcc7b233c197",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "d5563a08-0d72-4e56-80a1-8c0d3888fa72"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-a57565a4-beaf-4c87-8a36-8d209d14cf9c",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-a57565a4-beaf-4c87-8a36-8d209d14cf9c"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "new name",
                        "computerName": "new name",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "92371907-1ea4-4e4b-9538-8754876c1fa3",
                          "dependencyAgentId": "fb8ebef9-e01a-4a00-a264-879fe4b33632",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "101bfb0e-75d1-4c5b-821e-987423463e6b",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "a241809b-50d8-4f8c-960d-75ec99cc79d9",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "d2edc020-02f5-4327-80ea-4443db018fe4"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-92371907-1ea4-4e4b-9538-8754876c1fa3",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-92371907-1ea4-4e4b-9538-8754876c1fa3"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:36:07.009Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "fb7d798d-ecbc-4cf8-9ad6-d6dde35cdb77",
                          "dependencyAgentId": "f068fe75-47d9-4c76-801a-0781893c250d",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "382bfc03-ece0-48e8-88dd-0c0049b0b093",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "5fc7b841-843c-4391-b5b6-5bc7e8e25028",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "52b6a8ca-3b0c-4ebf-a1f6-fec87b5b59c7"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-fb7d798d-ecbc-4cf8-9ad6-d6dde35cdb77",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-fb7d798d-ecbc-4cf8-9ad6-d6dde35cdb77"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:22.372Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "dcdbd51d-e423-4667-bce3-c1f78f0bec83",
                          "dependencyAgentId": "901407a9-0047-4b2d-8190-e546189fa1c8",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "e4e28557-bb79-4add-bd9a-adc4b1856aae",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "bd88f6a9-ead8-414a-a91c-a47fbeddb3d5",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "a344f76b-98d7-4d83-8a11-7ef9b04c6563"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-dcdbd51d-e423-4667-bce3-c1f78f0bec83",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-dcdbd51d-e423-4667-bce3-c1f78f0bec83"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "10cb867d-1b73-4b39-a9cf-31cdd2b00dab",
                          "dependencyAgentId": "e837d606-09ae-41fc-bc9a-5e8407d88942",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "3d8e1902-1875-428c-98d3-6fb02c96af47",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "594fd238-0d97-444b-a8fd-2e5087e3e97c",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "a6efc921-6c5e-4455-a83e-409a380d800f"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-10cb867d-1b73-4b39-a9cf-31cdd2b00dab",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-10cb867d-1b73-4b39-a9cf-31cdd2b00dab"
                    },
                    {
                      "kind": "machine",
                      "properties": {
                        "monitoringState": "monitored",
                        "virtualizationState": "virtual",
                        "displayName": "name1",
                        "computerName": "name1",
                        "fullyQualifiedDomainName": "name1.foo.com",
                        "bootTime": "2018-01-05T21:30:47.913Z",
                        "timezone": {
                          "fullName": "some zone"
                        },
                        "agent": {
                          "agentId": "e6ad2c87-c7e9-4663-bca2-ec5fd1e2d3ef",
                          "dependencyAgentId": "07a0ba0f-90c3-4d9b-a1bf-d1cf636eeb80",
                          "dependencyAgentVersion": "2.2.2.2",
                          "dependencyAgentRevision": "1234",
                          "rebootStatus": "rebooted",
                          "clockGranularity": 1
                        },
                        "resources": {
                          "physicalMemory": 4096,
                          "cpus": 2,
                          "cpuSpeed": 2000,
                          "cpuSpeedAccuracy": "actual"
                        },
                        "networking": {
                          "ipv4Interfaces": [
                            {
                              "ipAddress": "1.1.1.1",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.3",
                              "subnetMask": "255.255.255.0"
                            },
                            {
                              "ipAddress": "1.1.1.4",
                              "subnetMask": "255.255.255.0"
                            }
                          ],
                          "ipv6Interfaces": [
                            {
                              "ipAddress": "2602:30a:2cb8:4830:414f:a76e:59e4:4fa7"
                            }
                          ],
                          "defaultIpv4Gateways": [
                            "1.1.1.254",
                            "1.1.1.255"
                          ],
                          "macAddresses": [
                            "64:00:6A:65:E4:71"
                          ],
                          "dnsNames": [
                            "name1",
                            "name2",
                            "name3"
                          ]
                        },
                        "operatingSystem": {
                          "family": "windows",
                          "fullName": "Microsoft Windows [Version 10.0.10586]",
                          "bitness": "64bit"
                        },
                        "virtualMachine": {
                          "virtualMachineType": "hyperv",
                          "nativeMachineId": "vm-id",
                          "virtualMachineName": "vm-name-1",
                          "nativeHostMachineId": "physical-machine-id"
                        },
                        "hosting": {
                          "kind": "provider:azure",
                          "vmId": "12345",
                          "location": "Earth",
                          "name": "AHostedVm",
                          "size": "SuperBig",
                          "updateDomain": "1",
                          "faultDomain": "1",
                          "subscriptionId": "123123",
                          "resourceGroup": "myResourceGroup",
                          "resourceId": "TestResourceId",
                          "image": {
                            "publisher": "AnImagePublisher",
                            "offering": "SuperFast",
                            "sku": "10101010",
                            "version": "1.0"
                          },
                          "cloudService": {
                            "name": "MyCloudService",
                            "instanceId": "Instance#1",
                            "deployment": "72932bbb-6c12-4f06-8622-f11942aede02",
                            "roleName": "MyRoleName",
                            "roleType": "web"
                          },
                          "vmScaleSet": {
                            "name": "MyVMSS",
                            "instanceId": "VmmssInstance#1",
                            "deployment": "4ae328aa-2638-4f60-9dbe-0384b2a33b3d",
                            "resourceId": "TestResourceId"
                          },
                          "serviceFabricCluster": {
                            "name": "MyClusterName",
                            "clusterId": "6cbe41c5-4034-4376-b90d-4edbfc9d9375"
                          },
                          "provider": "azure"
                        }
                      },
                      "id": "/subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-e6ad2c87-c7e9-4663-bca2-ec5fd1e2d3ef",
                      "type": "Microsoft.OperationalInsights/workspaces/features/machines",
                      "name": "m-e6ad2c87-c7e9-4663-bca2-ec5fd1e2d3ef"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Returns a collection of machines matching the specified conditions.  The returned collection represents either machines that are active/live during the specified interval  of time (`live=true` and `startTime`/`endTime` are specified) or that are known to have existed at or  some time prior to the specified point in time (`live=false` and `timestamp` is specified).",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "Specifies whether to return live resources (true) or inventory resources (false). Defaults to **true**. When retrieving live resources, the start time (`startTime`) and end time (`endTime`) of the desired interval should be included. When retrieving inventory resources, an optional timestamp (`timestamp`) parameter can be specified to return the version of each resource closest (not-after) that timestamp."
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "UTC date and time specifying a time instance relative to which to evaluate each machine resource. Only applies when `live=false`. When not specified, the service uses DateTime.UtcNow."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 200,
            "description": "Page size to use. When not specified, the default page size is 100 records."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineCollection"
            }
          },
          "default": {
            "description": "An error occurred while processing the request. See the error.code parameter to identify the specific error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Workspace"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Resource model definition.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource identifier.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceReference": {
      "description": "Represents a reference to another resource.",
      "discriminator": "kind",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource URI."
        },
        "type": {
          "type": "string",
          "description": "Resource type qualifier.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Specifies the sub-class of the reference.",
          "enum": [
            "ref:machine",
            "ref:machinewithhints",
            "ref:process",
            "ref:port",
            "ref:onmachine",
            "ref:clientgroup"
          ]
        }
      },
      "required": [
        "id",
        "kind"
      ]
    },
    "MachineReference": {
      "description": "Reference to a machine.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "x-ms-discriminator-value": "ref:machine"
    },
    "ProcessReference": {
      "description": "Reference to a process.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "x-ms-discriminator-value": "ref:process",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "machine": {
              "$ref": "#/definitions/MachineReference",
              "description": "Machine hosting the process.",
              "readOnly": true
            }
          }
        }
      }
    },
    "PortReference": {
      "description": "Reference to a port.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "x-ms-discriminator-value": "ref:port",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "machine": {
              "$ref": "#/definitions/MachineReference",
              "description": "Machine hosting the port.",
              "readOnly": true
            },
            "ipAddress": {
              "type": "string",
              "description": "IP address of the port.",
              "readOnly": true
            },
            "portNumber": {
              "type": "integer",
              "format": "int32",
              "description": "Port number."
            }
          }
        }
      }
    },
    "MachineReferenceWithHints": {
      "description": "A machine reference with a hint of the machine's name and operating system.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "x-ms-discriminator-value": "ref:machinewithhints",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Machine reference with name and os hints.",
          "properties": {
            "displayNameHint": {
              "description": "Last known display name.",
              "type": "string",
              "readOnly": true
            },
            "osFamilyHint": {
              "description": "Last known operating system family.",
              "$ref": "#/definitions/OperatingSystemFamily",
              "readOnly": true
            }
          }
        }
      }
    },
    "ClientGroupReference": {
      "description": "Reference to a client group.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "x-ms-discriminator-value": "ref:clientgroup"
    },
    "CoreResource": {
      "description": "Marker resource for the core Service Map resources",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "discriminator": "kind",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Resource ETAG."
        },
        "kind": {
          "type": "string",
          "description": "Additional resource type qualifier.",
          "enum": [
            "machine",
            "process",
            "port",
            "clientGroup",
            "machineGroup"
          ]
        }
      },
      "required": [
        "kind"
      ]
    },
    "Machine": {
      "description": "A machine resource represents a discovered computer system. It can be *monitored*, i.e., a Dependency Agent is running on it, or *discovered*, i.e., its existence was inferred by observing the data stream from monitored machines. As machines change, prior versions of the machine resource are preserved and available for access. A machine is live during an interval of time, if either its Dependency Agent has reported data during (parts) of that interval, or a Dependency agent running on other machines has reported activity associated with the machine.",
      "allOf": [
        {
          "$ref": "#/definitions/CoreResource"
        }
      ],
      "x-ms-discriminator-value": "machine",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when this resource was updated in the system."
            },
            "monitoringState": {
              "$ref": "#/definitions/MonitoringState",
              "description": "Specifies whether the machine is actively monitored or discovered."
            },
            "virtualizationState": {
              "$ref": "#/definitions/VirtualizationState",
              "description": "Specifies whether the machine is virtualized."
            },
            "displayName": {
              "type": "string",
              "description": "Name to use for display purposes"
            },
            "computerName": {
              "type": "string",
              "description": "Name of the machine, e.g., server"
            },
            "fullyQualifiedDomainName": {
              "type": "string",
              "description": "Fully-qualified name of the machine, e.g., server.company.com"
            },
            "bootTime": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when the machine last booted"
            },
            "timezone": {
              "$ref": "#/definitions/Timezone",
              "description": "Timezone of the machine."
            },
            "agent": {
              "$ref": "#/definitions/AgentConfiguration",
              "description": "Dependency Agent configuration."
            },
            "resources": {
              "$ref": "#/definitions/MachineResourcesConfiguration",
              "description": "Machine resources (memory, cpu, etc.)."
            },
            "networking": {
              "$ref": "#/definitions/NetworkConfiguration",
              "description": "Network configuration (ips, gateways, dns, etc.)"
            },
            "operatingSystem": {
              "$ref": "#/definitions/OperatingSystemConfiguration",
              "description": "Operating system information."
            },
            "virtualMachine": {
              "$ref": "#/definitions/VirtualMachineConfiguration",
              "description": "Virtualization-related configuration. Present only when `virtualizationState` is `virtual`."
            },
            "hypervisor": {
              "$ref": "#/definitions/HypervisorConfiguration",
              "description": "Hypervisor-related configuration. Present only when 'virtualizationState' is `hypervisor`."
            },
            "hosting": {
              "$ref": "#/definitions/HostingConfiguration",
              "description": "Hosting-related configuration. Present if hosting information is discovered for the VM."
            }
          }
        }
      }
    },
    "Process": {
      "description": "A process resource represents a process running on a machine. The process may be actively *monitored*, i.e., a Dependency Agent is running on its machine, or *discovered*, i.e., its existence was inferred by observing the data stream from monitored machines. A process resource represents a pool of actual operating system resources that share command lines and metadata. As the process pool evolves over time, prior versions of the process resource are preserved and available for access. A process is live during an interval of time, if that process is executing during (parts) of that interval",
      "allOf": [
        {
          "$ref": "#/definitions/CoreResource"
        }
      ],
      "x-ms-discriminator-value": "process",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when this process resource was updated in the system"
            },
            "monitoringState": {
              "$ref": "#/definitions/MonitoringState",
              "description": "Specifies whether the process is actively monitored or discovered."
            },
            "machine": {
              "$ref": "#/definitions/ResourceReference",
              "description": "Machine hosting this process."
            },
            "executableName": {
              "type": "string",
              "description": "The name of the process executable"
            },
            "displayName": {
              "type": "string",
              "description": "Name to use for display purposes"
            },
            "startTime": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when the process started"
            },
            "role": {
              "type": "string",
              "enum": [
                "webServer",
                "appServer",
                "databaseServer",
                "ldapServer",
                "smbServer"
              ],
              "x-ms-enum": {
                "name": "ProcessRole",
                "modelAsString": true
              },
              "description": "The inferred role of this process based on its name, command line, etc."
            },
            "group": {
              "type": "string",
              "description": "The name of the product or suite of the process. The group is determined by its executable name, command line, etc."
            },
            "details": {
              "$ref": "#/definitions/ProcessDetails",
              "description": "Process metadata (command line, product name, etc.)."
            },
            "user": {
              "$ref": "#/definitions/ProcessUser",
              "description": "Information about the account under which the process is executing."
            },
            "clientOf": {
              "$ref": "#/definitions/ResourceReference",
              "description": "Present only for a discovered process acting as a client of a monitored process/machine/port. References the monitored process/machine/port that this process is a client of."
            },
            "acceptorOf": {
              "$ref": "#/definitions/ResourceReference",
              "description": "Present only for a discovered process acting as a server. References the port on which the discovered process is accepting."
            },
            "hosting": {
              "$ref": "#/definitions/ProcessHostingConfiguration",
              "description": "Information about the hosting environment"
            }
          }
        }
      }
    },
    "Port": {
      "description": "A port resource represents a server port on a machine. The port may be actively *monitored*, i.e., a Dependency Agent is running on its machine, or *discovered*, i.e., its existence was inferred by observing the data stream from monitored machines. A port is live during an interval of time, if that port had associated activity during (parts) of that interval.",
      "allOf": [
        {
          "$ref": "#/definitions/CoreResource"
        }
      ],
      "x-ms-discriminator-value": "port",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "monitoringState": {
              "$ref": "#/definitions/MonitoringState",
              "description": "Specifies whether the port is actively monitored or discovered."
            },
            "machine": {
              "$ref": "#/definitions/ResourceReference",
              "description": "Machine hosting this port."
            },
            "displayName": {
              "type": "string",
              "description": "Name to use for display purposes."
            },
            "ipAddress": {
              "type": "string",
              "description": "IP address associated with the port. At present only IPv4 addresses are supported."
            },
            "portNumber": {
              "type": "integer",
              "format": "int32",
              "description": "Port number."
            }
          }
        }
      }
    },
    "ClientGroup": {
      "description": "Represents a collection of clients of a resource. A client group can represent the clients of a port, process, or a machine.",
      "allOf": [
        {
          "$ref": "#/definitions/CoreResource"
        }
      ],
      "x-ms-discriminator-value": "clientGroup",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "clientsOf": {
              "$ref": "#/definitions/ResourceReference",
              "description": "Reference to the resource whose clients are represented by this group."
            }
          },
          "required": [
            "clientsOf"
          ]
        }
      }
    },
    "ClientGroupMember": {
      "description": "Represents a member of a client group",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "ipAddress": {
              "type": "string",
              "description": "IP address."
            },
            "port": {
              "$ref": "#/definitions/PortReference",
              "description": "Port into which this client connected"
            },
            "processes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessReference"
              },
              "description": "Processes accepting on the above port that received connections from this client."
            }
          }
        }
      }
    },
    "MachineGroup": {
      "description": "A user-defined logical grouping of machines.",
      "allOf": [
        {
          "$ref": "#/definitions/CoreResource"
        }
      ],
      "x-ms-discriminator-value": "machineGroup",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Resource ETAG."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Resource properties.",
          "properties": {
            "groupType": {
              "type": "string",
              "enum": [
                "unknown",
                "azure-cs",
                "azure-sf",
                "azure-vmss",
                "user-static"
              ],
              "x-ms-enum": {
                "name": "MachineGroupType",
                "modelAsString": true
              },
              "description": "Type of the machine group"
            },
            "displayName": {
              "type": "string",
              "description": "User defined name for the group",
              "minLength": 1,
              "maxLength": 256
            },
            "count": {
              "type": "integer",
              "format": "int32",
              "description": "Count of machines in this group. The value of count may be bigger than the number of machines in case of the group has been truncated due to exceeding the max number of machines a group can handle."
            },
            "machines": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MachineReferenceWithHints"
              },
              "description": "References of the machines in this group. The hints within each reference do not represent the current value of the corresponding fields. They are a snapshot created during the last time the machine group was updated."
            }
          },
          "required": [
            "displayName"
          ]
        }
      }
    },
    "Summary": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Base for all resource summaries."
    },
    "MachinesSummary": {
      "description": "A summary of the machines in the workspace.",
      "allOf": [
        {
          "$ref": "#/definitions/Summary"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MachinesSummaryProperties"
        }
      }
    },
    "Relationship": {
      "description": "A typed relationship between two entities.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "discriminator": "kind",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Additional resource type qualifier.",
          "enum": [
            "rel:connection",
            "rel:acceptor"
          ]
        }
      },
      "required": [
        "kind"
      ]
    },
    "Connection": {
      "description": "A network connection.",
      "allOf": [
        {
          "$ref": "#/definitions/Relationship"
        }
      ],
      "x-ms-discriminator-value": "rel:connection",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConnectionProperties"
        }
      }
    },
    "Acceptor": {
      "description": "A process accepting on a port.",
      "allOf": [
        {
          "$ref": "#/definitions/Relationship"
        }
      ],
      "x-ms-discriminator-value": "rel:acceptor",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AcceptorProperties"
        }
      }
    },
    "MachineCollection": {
      "type": "object",
      "description": "Collection of Machine resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Machine"
          },
          "description": "Collection of Machine resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "ProcessCollection": {
      "type": "object",
      "description": "Collection of Process resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Process"
          },
          "description": "Collection of Process resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "PortCollection": {
      "type": "object",
      "description": "Collection of Port resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "description": "Collection of Port resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "ClientGroupMembersCollection": {
      "type": "object",
      "description": "Collection of ClientGroupMember resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientGroupMember"
          },
          "description": "Collection of ClientGroupMember resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "ConnectionCollection": {
      "type": "object",
      "description": "Collection of Connection resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connection"
          },
          "description": "Collection of Connection resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "MachineGroupCollection": {
      "type": "object",
      "description": "Collection of Machine Group resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MachineGroup"
          },
          "description": "Collection of Machine Group resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "MonitoringState": {
      "description": "Used to specify if a resources is monitored or discovered.",
      "type": "string",
      "enum": [
        "monitored",
        "discovered"
      ],
      "x-ms-enum": {
        "name": "MonitoringState",
        "modelAsString": false
      }
    },
    "VirtualizationState": {
      "description": "Specifies if the machine is physical, virtual, hypervisor, or unknown.",
      "type": "string",
      "enum": [
        "unknown",
        "physical",
        "virtual",
        "hypervisor"
      ],
      "x-ms-enum": {
        "name": "VirtualizationState",
        "modelAsString": false
      }
    },
    "Bitness": {
      "description": "Specifies the bitness of a machine or process.",
      "type": "string",
      "enum": [
        "32bit",
        "64bit"
      ],
      "x-ms-enum": {
        "name": "Bitness",
        "modelAsString": false
      }
    },
    "OperatingSystemFamily": {
      "description": "Specifies the operating system family, e.g., Linux, Windows, etc.",
      "type": "string",
      "enum": [
        "unknown",
        "windows",
        "linux",
        "solaris",
        "aix"
      ],
      "x-ms-enum": {
        "name": "OperatingSystemFamily",
        "modelAsString": false
      }
    },
    "MachineRebootStatus": {
      "description": "Specifies if the machine has been rebooted since the installation of the dependency agent.",
      "type": "string",
      "enum": [
        "unknown",
        "rebooted",
        "notRebooted"
      ],
      "x-ms-enum": {
        "name": "MachineRebootStatus",
        "modelAsString": false
      }
    },
    "Accuracy": {
      "description": "Specifies the accuracy of a computation.",
      "type": "string",
      "enum": [
        "actual",
        "estimated"
      ],
      "x-ms-enum": {
        "name": "Accuracy",
        "modelAsString": false
      }
    },
    "VirtualMachineType": {
      "description": "Specifies the virtualization type of a machine.",
      "type": "string",
      "enum": [
[...]
