{
  "swagger": "2.0",
  "info": {
    "version": "2016-03-01",
    "title": "NotificationHubsManagementClient",
    "description": "Azure NotificationHub client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_CheckAvailability",
        "description": "Checks the availability of the given notificationHub in a namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The notificationHub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Checks if the NotificationHub name is a valid availabile name",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "x-internal-toc-name": "Check Availability"
      }
    }
  },
  "definitions": {
    "CheckAvailabilityParameters": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        },
        "isAvailiable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "required": [
        "name",
        "location"
      ],
      "description": "Parameters supplied to the Check Name Availability for Namespace and NotificationHubs."
    },
    "CheckAvailabilityResult": {
      "properties": {
        "isAvailiable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a CheckAvailibility resource."
    },
    "NamespaceProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the namespace."
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the Namespace."
        },
        "region": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan WestNorth EuropeWest Europe"
        },
        "status": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was created."
        },
        "serviceBusEndpoint": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Endpoint you can use to perform NotificationHub operations."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The Id of the Azure subscription associated with the namespace."
        },
        "scaleUnit": {
          "type": "string",
          "description": "ScaleUnit where the namespace gets created"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not the namespace is currently enabled."
        },
        "critical": {
          "type": "boolean",
          "description": "Whether or not the namespace is set as Critical."
        },
        "namespaceType": {
          "type": "string",
          "description": "The namespace type.",
          "enum": [
            "Messaging",
            "NotificationHub"
          ],
          "x-ms-enum": {
            "name": "NamespaceType",
            "modelAsString": false
          }
        }
      },
      "description": "Namespace properties."
    },
    "NamespaceCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Properties of the Namespace."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace operation."
    },
    "NamespacePatchParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        }
      },
      "description": "Parameters supplied to the Patch Namespace operation."
    },
    "NamespaceResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Properties of the Namespace."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a Namespace resource."
    },
    "SharedAccessAuthorizationRuleProperties": {
      "properties": {
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        }
      },
      "description": "SharedAccessAuthorizationRule properties."
    },
    "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Properties of the Namespace AuthorizationRules."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules."
    },
    "SharedAccessAuthorizationRuleResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Pproperties of the Namespace AuthorizationRule."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a Namespace AuthorizationRules."
    },
    "NamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "description": "Result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "SharedAccessAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "description": "Result of the List AuthorizationRules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "ResourceListKeys": {
      "properties": {
        "primaryConnectionString": {
          "type": "string",
          "description": "PrimaryConnectionString of the AuthorizationRule."
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "SecondaryConnectionString of the created AuthorizationRule"
        },
        "primaryKey": {
          "type": "string",
          "description": "PrimaryKey of the created AuthorizationRule."
        },
        "secondaryKey": {
          "type": "string",
          "description": "SecondaryKey of the created AuthorizationRule"
        },
        "keyName": {
          "type": "string",
          "description": "KeyName of the created AuthorizationRule"
        }
      },
      "description": "Namespace/NotificationHub Connection String"
    },
    "PolicykeyResource": {
      "properties": {
        "policyKey": {
          "type": "string",
          "description": "Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key."
        }
      },
      "description": "Namespace/NotificationHub Regenerate Keys"
    },
    "ApnsCredentialProperties": {
      "properties": {
        "apnsCertificate": {
          "type": "string",
          "description": "The APNS certificate."
        },
        "certificateKey": {
          "type": "string",
          "description": "The certificate key."
        },
        "endpoint": {
          "type": "string",
          "description": "The endpoint of this credential."
        },
        "thumbprint": {
          "type": "string",
          "description": "The Apns certificate Thumbprint"
        }
      },
      "description": "Description of a NotificationHub ApnsCredential."
    },
    "ApnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApnsCredentialProperties",
          "description": "Properties of NotificationHub ApnsCredential."
        }
      },
      "description": "Description of a NotificationHub ApnsCredential."
    },
    "WnsCredentialProperties": {
      "properties": {
        "packageSid": {
          "type": "string",
          "description": "The package ID for this credential."
        },
        "secretKey": {
          "type": "string",
          "description": "The secret key."
        },
        "windowsLiveEndpoint": {
          "type": "string",
          "description": "The Windows Live endpoint."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "WnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WnsCredentialProperties",
          "description": "Properties of NotificationHub WnsCredential."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "GcmCredentialProperties": {
      "properties": {
        "gcmEndpoint": {
          "type": "string",
          "description": "The GCM endpoint."
        },
        "googleApiKey": {
          "type": "string",
          "description": "The Google API key."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "GcmCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GcmCredentialProperties",
          "description": "Properties of NotificationHub GcmCredential."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "MpnsCredentialProperties": {
      "properties": {
        "mpnsCertificate": {
          "type": "string",
          "description": "The MPNS certificate."
        },
        "certificateKey": {
          "type": "string",
          "description": "The certificate key for this credential."
        },
        "thumbprint": {
          "type": "string",
          "description": "The Mpns certificate Thumbprint"
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "MpnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MpnsCredentialProperties",
          "description": "Properties of NotificationHub MpnsCredential."
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "AdmCredentialProperties": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "type": "string",
          "description": "The credential secret access key."
        },
        "authTokenUrl": {
          "type": "string",
          "description": "The URL of the authorization token."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "AdmCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdmCredentialProperties",
          "description": "Properties of NotificationHub AdmCredential."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "BaiduCredentialProperties": {
      "properties": {
        "baiduApiKey": {
          "type": "string",
          "description": "Baidu Api Key."
        },
        "baiduEndPoint": {
          "type": "string",
          "description": "Baidu Endpoint."
        },
        "baiduSecretKey": {
          "type": "string",
          "description": "Baidu Secret Key"
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "BaiduCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BaiduCredentialProperties",
          "description": "Properties of NotificationHub BaiduCredential."
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "NotificationHubProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The NotificationHub name."
        },
        "registrationTtl": {
          "type": "string",
          "description": "The RegistrationTtl of the created NotificationHub"
        },
        "authorizationRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
          },
          "description": "The AuthorizationRules of the created NotificationHub"
        },
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential",
          "description": "The ApnsCredential of the created NotificationHub"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential",
          "description": "The WnsCredential of the created NotificationHub"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential",
          "description": "The GcmCredential of the created NotificationHub"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential",
          "description": "The MpnsCredential of the created NotificationHub"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential",
          "description": "The AdmCredential of the created NotificationHub"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential",
          "description": "The BaiduCredential of the created NotificationHub"
        }
      },
      "description": "NotificationHub properties."
    },
    "NotificationHubCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Properties of the NotificationHub."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate NotificationHub operation."
    },
    "NotificationHubResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Properties of the NotificationHub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a NotificationHub Resource."
    },
    "PnsCredentialsResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PnsCredentialsProperties",
          "description": "NotificationHub PNS Credentials."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a NotificationHub PNS Credentials."
    },
    "PnsCredentialsProperties": {
      "properties": {
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential",
          "description": "The ApnsCredential of the created NotificationHub"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential",
          "description": "The WnsCredential of the created NotificationHub"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential",
          "description": "The GcmCredential of the created NotificationHub"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential",
          "description": "The MpnsCredential of the created NotificationHub"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential",
          "description": "The AdmCredential of the created NotificationHub"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential",
          "description": "The BaiduCredential of the created NotificationHub"
        }
      },
      "description": "Description of a NotificationHub PNS Credentials."
    },
    "NotificationHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationHubResource"
          },
          "description": "Result of the List NotificationHub operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub"
        }
      },
      "description": "The response of the List NotificationHub operation."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the notification hub sku",
          "enum": [
            "Free",
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "The tier of particular sku"
        },
        "size": {
          "type": "string",
          "description": "The Sku size"
        },
        "family": {
          "type": "string",
          "description": "The Sku Family"
        },
        "capacity": {
          "type": "integer",
          "description": "The capacity of the resource"
        }
      },
      "required": [
        "name"
      ],
      "description": "The Sku description for a namespace"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-name": "Notification Hubs",
  "x-internal-toc-name": "Notification Hubs",
  "x-internal-split-type": "Operation"
}