{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "MAC address pool operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools": {
      "get": {
        "x-ms-examples": {
          "Returns all MAC address pools": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/macAddressPools/8197fd09-8a69-417e-a55c-10c2c61f5ee7",
                      "name": "8197fd09-8a69-417e-a55c-10c2c61f5ee7",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/macAddressPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "startMacAddress": "00-1D-D8-B7-1C-00",
                        "endMacAddress": "00-1D-D8-F4-1F-FF",
                        "numberOfAllocatedMacAddresses": 5,
                        "numberOfAvailableMacAddresses": 3998715
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "tags": [
          "MacAddressPools"
        ],
        "description": "Returns a list of all MAC address pools at a location.",
        "operationId": "MacAddressPools_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MacAddressPoolList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/MacAddressPool",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "MacAddressPool": {
      "description": "This resource represents a MAC address pool.  The default MAC address pools are used if you set the MAC address type for a virtual machine to 'Static'.  If the virtual machine setting is 'Dynamic', the hypervisor assigns the MAC address.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a MAC address pool.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MacAddressPoolModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "MacAddressPoolModel": {
      "description": "Properties of a MAC address pool.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata related to the MAC pool.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startMacAddress": {
          "description": "Starting MAC address.",
          "type": "string"
        },
        "endMacAddress": {
          "description": "Ending MAC address.",
          "type": "string"
        },
        "numberOfAllocatedMacAddresses": {
          "description": "Number of MAC addresses allocated.",
          "type": "integer",
          "format": "int64"
        },
        "numberOfAvailableMacAddresses": {
          "description": "Number of MAC addresses available.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "MacAddressPoolList": {
      "description": "A pageable list of MAC address pools.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of MAC address pools.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MacAddressPool"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "MACAddressPoolParameter": {
      "name": "macAddressPool",
      "description": "Name of the MAC address pool.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Mac Address Pools",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}