{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}": {
      "put": {
        "tags": [
          "SourceControl"
        ],
        "operationId": "SourceControl_CreateOrUpdate",
        "description": "Create a source control.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "x-ms-examples": {
          "Create or update a source control": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "sampleAccount9",
              "sourceControlName": "sampleSourceControl",
              "api-version": "2017-05-15-preview",
              "parameters": {
                "properties": {
                  "repoUrl": "https://sampleUser.visualstudio.com/myProject/_git/myRepository",
                  "branch": "master",
                  "folderPath": "/folderOne/folderTwo",
                  "autoSync": true,
                  "publishRunbook": true,
                  "sourceType": "VsoGit",
                  "securityToken": {
                    "accessToken": "3a326f7a0dcd343ea58fee21f2fd5fb4c1234567",
                    "tokenType": "PersonalAccessToken"
                  },
                  "description": "my description"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl",
                  "name": "sampleSourceControl",
                  "properties": {
                    "creationTime": "2017-03-28T22:59:00.937+00:00",
                    "lastModifiedTime": "2017-03-28T22:59:00.937+00:00",
                    "repoUrl": "https://sampleUser.visualstudio.com/myProject/_git/myRepository",
                    "branch": "master",
                    "folderPath": "/folderOne/folderTwo",
                    "autoSync": true,
                    "publishRunbook": true,
                    "sourceType": "VsoGit",
                    "description": "my description"
                  }
                }
              },
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl",
                  "name": "sampleSourceControl",
                  "properties": {
                    "creationTime": "2017-03-28T22:59:00.937+00:00",
                    "lastModifiedTime": "2017-03-28T22:59:00.937+00:00",
                    "repoUrl": "https://sampleUser.visualstudio.com/myProject/_git/myRepository",
                    "branch": "master",
                    "folderPath": "/folderOne/folderTwo",
                    "autoSync": true,
                    "publishRunbook": true,
                    "sourceType": "VsoGit",
                    "description": "my description"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "sourceControlName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The source control name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SourceControlCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update source control operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControl"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SourceControl"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "SourceControlListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControl"
          },
          "description": "The list of source controls."
        },
        "nextLink": {
          "type": "string",
          "description": "The next link."
        }
      },
      "description": "The response model for the list source controls operation."
    },
    "SourceControlUpdateProperties": {
      "properties": {
        "branch": {
          "type": "string",
          "description": "The repo branch of the source control."
        },
        "folderPath": {
          "type": "string",
          "description": "The folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "The auto sync of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "The auto publish of the source control. Default is true."
        },
        "securityToken": {
          "description": "The authorization token for the repo of the source control.",
          "$ref": "#/definitions/SourceControlSecurityTokenProperties"
        },
        "description": {
          "type": "string",
          "description": "The user description of the source control."
        }
      },
      "description": "The properties of the update source control"
    },
    "SourceControlUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "The value of the source control."
        }
      },
      "description": "The parameters supplied to the update source control operation."
    },
    "SourceControl": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the source control."
    },
    "SourceControlProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "description": "The repo url of the source control."
        },
        "branch": {
          "type": "string",
          "description": "The repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "description": "The folder path of the source control."
        },
        "autoSync": {
          "type": "boolean",
          "description": "The auto sync of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "The auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "The description."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "description": "The creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "description": "The last modified time."
        }
      },
      "description": "Definition of the source control properties"
    },
    "SourceControlCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update source control operation."
    },
    "SourceControlCreateOrUpdateProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "maxLength": 2000,
          "description": "The repo url of the source control."
        },
        "branch": {
          "type": "string",
          "maxLength": 255,
          "description": "The repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "maxLength": 255,
          "description": "The folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "The auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "The auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "securityToken": {
          "description": "The authorization token for the repo of the source control.",
          "$ref": "#/definitions/SourceControlSecurityTokenProperties"
        },
        "description": {
          "type": "string",
          "maxLength": 512,
          "description": "The user description of the source control."
        }
      },
      "description": "The properties of the create source control operation."
    },
    "SourceControlSecurityTokenProperties": {
      "properties": {
        "accessToken": {
          "type": "string",
          "maxLength": 1024,
          "description": "The access token."
        },
        "refreshToken": {
          "type": "string",
          "maxLength": 1024,
          "description": "The refresh token."
        },
        "tokenType": {
          "type": "string",
          "description": "The token type. Must be either PersonalAccessToken or Oauth.",
          "enum": [
            "PersonalAccessToken",
            "Oauth"
          ],
          "x-ms-enum": {
            "name": "tokenType",
            "modelAsString": true
          }
        }
      }
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Source Control",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "CreateOrUpdate",
  "x-internal-operation-name": "Create Or Update"
}