{
  "swagger": "2.0",
  "info": {
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2017-05-01-preview",
    "title": "MonitorManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/diagnosticSettings/{name}": {
      "put": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_CreateOrUpdate",
        "description": "Creates or updates diagnostic settings for the specified resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to create a diagnostic setting",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            },
            "examples": {
              "application/json": {
                "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/mysetting",
                "type": "microsoft.logic/workflows",
                "name": "mysetting",
                "location": "eastus",
                "tags": null,
                "properties": {
                  "storageAccountId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1",
                  "eventHubAuthorizationRuleId": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey",
                  "workspaceId": "",
                  "metrics": [
                    {
                      "category": "WorkflowMetrics",
                      "enabled": true,
                      "retentionPolicy": {
                        "enabled": false,
                        "days": 0
                      }
                    }
                  ],
                  "logs": [
                    {
                      "category": "WorkflowRuntime",
                      "enabled": true,
                      "retentionPolicy": {
                        "enabled": false,
                        "days": 0
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Creates or Updates the diagnostic setting": {
            "parameters": {
              "resourceUri": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6",
              "name": "mysetting",
              "api-version": "2017-05-01-preview",
              "parameters": {
                "properties": {
                  "storageAccountId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1",
                  "workspaceId": "",
                  "eventHubAuthorizationRuleId": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule",
                  "eventHubName": "myeventhub",
                  "metrics": [
                    {
                      "category": "WorkflowMetrics",
                      "enabled": true,
                      "retentionPolicy": {
                        "enabled": false,
                        "days": 0
                      }
                    }
                  ],
                  "logs": [
                    {
                      "category": "WorkflowRuntime",
                      "enabled": true,
                      "retentionPolicy": {
                        "enabled": false,
                        "days": 0
                      }
                    }
                  ]
                }
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/mysetting",
                  "type": "",
                  "name": "mysetting",
                  "properties": {
                    "storageAccountId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1",
                    "workspaceId": "",
                    "eventHubAuthorizationRuleId": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule",
                    "eventHubName": "myeventhub",
                    "metrics": [
                      {
                        "category": "WorkflowMetrics",
                        "enabled": true,
                        "retentionPolicy": {
                          "enabled": false,
                          "days": 0
                        }
                      }
                    ],
                    "logs": [
                      {
                        "category": "WorkflowRuntime",
                        "enabled": true,
                        "retentionPolicy": {
                          "enabled": false,
                          "days": 0
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "ProxyOnlyResource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        }
      },
      "x-ms-azure-resource": true,
      "description": "A proxy only azure resource object"
    },
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether the retention policy is enabled."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "the number of days for the retention in days. A value of 0 will retain the events indefinitely."
        }
      },
      "required": [
        "enabled",
        "days"
      ],
      "description": "Specifies the retention policy for the log."
    },
    "MetricSettings": {
      "properties": {
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "the timegrain of the metric in ISO8601 format."
        },
        "category": {
          "type": "string",
          "description": "Name of a Diagnostic Metric category for a resource type this setting is applied to. To obtain the list of Diagnostic metric categories for a resource, first perform a GET diagnostic settings operation."
        },
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether this category is enabled."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "the retention policy for this category."
        }
      },
      "required": [
        "enabled"
      ],
      "description": "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric."
    },
    "LogSettings": {
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation."
        },
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether this log is enabled."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "the retention policy for this log."
        }
      },
      "required": [
        "enabled"
      ],
      "description": "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log."
    },
    "DiagnosticSettings": {
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource ID of the storage account to which you would like to send Diagnostic Logs."
        },
        "eventHubAuthorizationRuleId": {
          "type": "string",
          "description": "The resource Id for the event hub authorization rule."
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the event hub. If none is specified, the default event hub will be selected."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSettings"
          },
          "description": "the list of metric settings."
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSettings"
          },
          "description": "the list of logs settings."
        },
        "workspaceId": {
          "type": "string",
          "description": "The workspace ID (resource ID of a Log Analytics workspace) for a Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
        }
      },
      "description": "The diagnostic settings."
    },
    "DiagnosticSettingsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiagnosticSettings"
        }
      },
      "description": "The diagnostic setting resource."
    },
    "DiagnosticSettingsResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticSettingsResource"
          },
          "description": "The collection of diagnostic settings resources;."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method"
    },
    "NameParameter": {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the diagnostic setting.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Diagnostic Settings",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create Or Update"
}