{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "get": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_Get",
        "description": "Retrieve the credential identified by credential name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Get a credential": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount18",
              "credentialName": "myCredential",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
                  "name": "myCredential",
                  "properties": {
                    "userName": "mylingaiah",
                    "description": "my description goes here",
                    "creationTime": "2017-03-26T21:04:10.27+00:00",
                    "lastModifiedTime": "2017-03-26T21:04:16.423+00:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of credential."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "CredentialProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the user name of the credential."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the credential properties"
    },
    "Credential": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "description": "Definition of the credential."
    },
    "CredentialListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Credential"
          },
          "description": "Gets or sets a list of credentials."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list credential operation."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "CredentialUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "description": "The properties of the Update credential"
    },
    "CredentialUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the Update credential operation."
    },
    "CredentialCreateOrUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "required": [
        "userName",
        "password"
      ],
      "description": "The properties of the create cerdential operation."
    },
    "CredentialCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update credential operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Credential",
  "x-internal-split-type": "Operation"
}