{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "patch": {
        "tags": [
          "Credential"
        ],
        "operationId": "Credential_Update",
        "description": "Update a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Update a credential": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount18",
              "credentialName": "myCredential",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "myCredential",
                "properties": {
                  "userName": "mylingaiah",
                  "password": "myPassw0rd3",
                  "description": "my description goes here"
                }
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/credentials/myCredential",
                  "name": "myCredential",
                  "properties": {
                    "userName": "mylingaiah",
                    "description": "my description goes here",
                    "creationTime": "2017-03-26T21:04:10.27+00:00",
                    "lastModifiedTime": "2017-03-26T21:04:13.567+00:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialUpdateParameters"
            },
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "CredentialCreateOrUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "required": [
        "userName",
        "password"
      ],
      "description": "The properties of the create credential operation."
    },
    "CredentialCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update credential operation."
    },
    "CredentialProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the user name of the credential."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the credential properties"
    },
    "Credential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/CredentialProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the credential."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the credential."
    },
    "CredentialListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Credential"
          },
          "description": "Gets or sets a list of credentials."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list credential operation."
    },
    "CredentialUpdateProperties": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Gets or sets the user name of the credential."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password of the credential."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the credential."
        }
      },
      "description": "The properties of the Update credential"
    },
    "CredentialUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        },
        "properties": {
          "$ref": "#/definitions/CredentialUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "description": "The parameters supplied to the Update credential operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Credential",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Update",
  "x-internal-operation-name": "Update"
}