{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-31-preview",
    "contact": {
      "name": "Microsoft",
      "email": "wlmengg@microsoft.com"
    },
    "title": "Workload Monitor API",
    "description": "APIs for workload monitoring"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/components": {
      "get": {
        "tags": [
          "WLIExtension"
        ],
        "summary": "Get list of components for a resource.",
        "operationId": "Components_ListByResource",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The Namespace of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/$select"
          },
          {
            "$ref": "#/parameters/$filter"
          },
          {
            "$ref": "#/parameters/$apply"
          },
          {
            "$ref": "#/parameters/$orderby"
          },
          {
            "$ref": "#/parameters/$expand"
          },
          {
            "$ref": "#/parameters/$top"
          },
          {
            "$ref": "#/parameters/$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. At least one component found.",
            "schema": {
              "$ref": "#/definitions/ComponentsCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Components_ListByResource": {
            "parameters": {
              "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
              "resourceGroupName": "viv_rg",
              "resourceNamespace": "Microsoft.Compute",
              "resourceType": "virtualMachines",
              "resourceName": "Canary-WLI-2",
              "api-version": "2018-08-31-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "Windows Operating System",
                        "componentTypeId": "2dd80822-b238-41ed-2b0c-ccc3f8d0ad92",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.Full.OperatingSystem",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-22T08:43:36+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_d91ce384-b682-883a-d02b-129bf37f218b_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "d91ce384-b682-883a-d02b-129bf37f218b",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='d91ce384-b682-883a-d02b-129bf37f218b'",
                      "name": "ComponentId='d91ce384-b682-883a-d02b-129bf37f218b'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "Canary-WLI-2",
                        "componentTypeId": "ea99500d-8d52-fc52-b5a5-10dcd1e9d2bd",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.Full.Computer",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-22T09:08:34+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_06400e6a-6bac-1717-1e0d-e28f31a2e88b_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "06400e6a-6bac-1717-1e0d-e28f31a2e88b",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Computer (Full)",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='06400e6a-6bac-1717-1e0d-e28f31a2e88b'",
                      "name": "ComponentId='06400e6a-6bac-1717-1e0d-e28f31a2e88b'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "CPU0",
                        "componentTypeId": "933c8d32-3668-6c84-8855-11f301d04589",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.Processor",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-22T08:35:35+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_804fc44e-c49d-58f0-3b03-bf24f7d11663_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "804fc44e-c49d-58f0-3b03-bf24f7d11663",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Processor",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='804fc44e-c49d-58f0-3b03-bf24f7d11663'",
                      "name": "ComponentId='804fc44e-c49d-58f0-3b03-bf24f7d11663'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "Disk 0",
                        "componentTypeId": "d4a60d0b-5d4e-d1b2-e215-2027a73ab38e",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.PhysicalDisk",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-21T09:21:08+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_1a526816-f757-7328-d0b2-7daf65fd919b_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "1a526816-f757-7328-d0b2-7daf65fd919b",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='1a526816-f757-7328-d0b2-7daf65fd919b'",
                      "name": "ComponentId='1a526816-f757-7328-d0b2-7daf65fd919b'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "Disk 1",
                        "componentTypeId": "d4a60d0b-5d4e-d1b2-e215-2027a73ab38e",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.PhysicalDisk",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-22T08:50:11+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_767aea7b-2a28-8c7b-9a61-153eeced9466_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "767aea7b-2a28-8c7b-9a61-153eeced9466",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='767aea7b-2a28-8c7b-9a61-153eeced9466'",
                      "name": "ComponentId='767aea7b-2a28-8c7b-9a61-153eeced9466'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "D:",
                        "componentTypeId": "75582e9b-cae6-397b-6764-f7cf6cc620b0",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.LogicalDisk",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-21T09:02:52+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_ebf38b50-d78a-817b-89ee-0e5870c643ef_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "ebf38b50-d78a-817b-89ee-0e5870c643ef",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='ebf38b50-d78a-817b-89ee-0e5870c643ef'",
                      "name": "ComponentId='ebf38b50-d78a-817b-89ee-0e5870c643ef'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "C:",
                        "componentTypeId": "75582e9b-cae6-397b-6764-f7cf6cc620b0",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.LogicalDisk",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-21T09:10:46+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_05a70c91-2163-d974-638d-2ddda2308153_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "05a70c91-2163-d974-638d-2ddda2308153",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='05a70c91-2163-d974-638d-2ddda2308153'",
                      "name": "ComponentId='05a70c91-2163-d974-638d-2ddda2308153'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    },
                    {
                      "properties": {
                        "componentTypeGroupCategory": null,
                        "vmId": "0f512229-ba29-4a4d-a9b8-d97b375ab8b1",
                        "vmName": "Canary-WLI-2",
                        "vmTags": {},
                        "children": null,
                        "workspaceId": "d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d",
                        "solutionId": null,
                        "workloadType": "BaseOS",
                        "componentName": "Ethernet 2",
                        "componentTypeId": "794a5028-be4c-caf5-3063-d4a75999f3c4",
                        "componentTypeName": "Microsoft.Windows.Server.10.0.NetworkAdapter",
                        "healthState": "Unknown",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": "2018-08-21T09:10:36+05:30",
                        "aggregateProperties": {
                          "id": "a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_3d945642-b98c-37b1-a75c-ee03cdb599ad_e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "workloadId": "Canary-WLI-2",
                          "workloadId_Lower": "canary-wli-2",
                          "workloadResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2",
                          "workloadResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2",
                          "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
                          "resourceGroupId": "viv_rg",
                          "resourceGroupName_Lower": "viv_rg",
                          "vmResourceId": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2",
                          "machineResourceId_Lower": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2",
                          "componentId": "3d945642-b98c-37b1-a75c-ee03cdb599ad",
                          "monitorId": "e3ab86a1-34fa-35b5-b864-da4db993c0f5",
                          "monitorName": "System.Health.EntityState",
                          "monitorDisplayName": "Entity Health",
                          "monitorKind": "Standard",
                          "monitorCategory": "EntityHealth",
                          "monitorType": "Aggregate",
                          "currentHealth_CustomOrder": "03_Unknown",
                          "previousHealth": "Success",
                          "version": "2016.127.20180613",
                          "edition": "2016-Datacenter",
                          "location": "westcentralus",
                          "vmName_Lower": "canary-wli-2",
                          "componentTypeDisplayName": "Windows Server 2016 Network Adapter",
                          "osType": "Windows",
                          "operatingSystem": "Microsoft Windows Server 2016 Datacenter"
                        }
                      },
                      "etag": null,
                      "id": "/subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='3d945642-b98c-37b1-a75c-ee03cdb599ad'",
                      "name": "ComponentId='3d945642-b98c-37b1-a75c-ee03cdb599ad'",
                      "type": "Microsoft.WorkloadMonitor/workloadInsights/components"
                    }
                  ],
                  "nextLink": null
                }
              }
            }
          }
        },
        "x-internal-toc-name": "List By Resource"
      }
    }
  },
  "definitions": {
    "MonitorsCollection": {
      "description": "Model for collection of Monitor.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL for next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of Monitor.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "readOnly": true
        }
      }
    },
    "Monitor": {
      "description": "Model for Monitor",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorProperties",
          "description": "Properties of monitor instance",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorProperties": {
      "description": "Model for properties of a Monitor.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorDisplayName": {
          "description": "User friendly display name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorName": {
          "description": "Name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorDisplayName": {
          "description": "User friendly display name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Category of the monitor",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "componentTypeId": {
          "description": "Component Type Id of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Component Type Name of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeDisplayName": {
          "description": "Component Type Display Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorState": {
          "description": "Is the monitor state enabled or disabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorState",
            "modelAsString": false
          }
        },
        "criteria": {
          "description": "Collection of MonitorCriteria. For PATCH calls, instead of partial list, complete list of expected criteria should be passed for proper updating.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorCriteria"
          },
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alerts or not",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "frequency": {
          "format": "int32",
          "description": "Frequency at which monitor condition is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "lookbackDuration": {
          "format": "int32",
          "description": "The duration in minutes in the past during which the monitor is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "documentationURL": {
          "description": "URL pointing to the documentation of the monitor",
          "type": "string",
          "readOnly": true
        },
        "signalName": {
          "description": "Name of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        },
        "signalType": {
          "description": "Type of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MonitorCriteria": {
      "description": "Criteria for monitor configuration",
      "type": "object",
      "properties": {
        "healthState": {
          "description": "Target health state of the criteria",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "threshold": {
          "format": "double",
          "description": "Threshold value for this criteria",
          "type": "number",
          "readOnly": true
        },
        "comparisonOperator": {
          "description": "Comparison enum on threshold of this criteria",
          "enum": [
            "Equals",
            "GreaterThan",
            "GreaterThanOrEqual",
            "LessThan",
            "LessThanOrEqual",
            "NotEquals"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": false
          }
        }
      }
    },
    "ComponentsCollection": {
      "description": "Model for collection of components.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of components.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "Component": {
      "description": "Model for component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ComponentProperties",
          "description": "Properties of the component.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "ComponentProperties": {
      "description": "Model for properties of a component.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this component belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeGroupCategory": {
          "description": "Component type group category. Classification of component type groups into a logical category. e.g. Network, Disk, Memory, CPU.",
          "type": "string",
          "readOnly": true
        },
        "healthState": {
          "description": "Health state of the component.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of component's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "vmId": {
          "description": "ID of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmName": {
          "description": "Name of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmTags": {
          "description": "Tags on the VM this component belongs to.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "component children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstancesCollection": {
      "description": "Model for collection of health instances.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of health instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstance": {
      "description": "Model for monitor instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorInstanceProperties",
          "description": "Properties of the monitor instance.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorInstanceProperties": {
      "description": "Model for properties of a monitor instance.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this health instance belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentId": {
          "description": "ID of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor instance.",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor.",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor. The qualifier for the health criteria depending on the functionality it performs such as Unit, Aggregate, Dependency.",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Monitor type category. Indicates the attribute of the component that the health criteria monitors such as Performance, Availability, etc.",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "healthState": {
          "description": "Health state of monitor instance.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of monitor instance's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChanges": {
          "description": "Health state changes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthStateChange"
          },
          "readOnly": true
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alert or not.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "Health instance children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
          "readOnly": true
        }
      }
    },
    "HealthStateChange": {
      "description": "Model for health state change",
      "type": "object",
      "properties": {
        "healthState": {
          "description": "Health state of monitor instance.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateChangeTime": {
          "format": "date-time",
          "description": "Time at which this Health state was reached.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NotificationSettingsCollection": {
      "description": "Model for collection of notificationSettings.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationSetting"
          }
        },
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "NotificationSetting": {
      "description": "Model for NotificationSetting.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/NotificationSettingProperties",
          "description": "Properties of Notification Settings",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "NotificationSettingProperties": {
      "description": "Model for properties of a NotificationSetting.",
      "type": "object",
      "properties": {
        "actionGroupResourceIds": {
          "description": "List of action group resource ids to be notified",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "OperationListResult": {
      "description": "Container for a list of operations supported by the resource provider.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "List of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "display": {
          "$ref": "#/definitions/OperationProperties",
          "description": "The properties of the resource operation.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource operation.",
          "type": "string",
          "readOnly": true
        },
        "origin": {
          "description": "The origin of the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the resource provider.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "This operation name.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "description": "The provider name.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorFieldContract": {
      "description": "Error field contract.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Property level error code.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of property-level error.",
          "type": "string"
        },
        "target": {
          "description": "Property name.",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error body contract.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string"
        },
        "details": {
          "description": "The list of invalid fields send in request, in case of validation error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          }
        }
      }
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "AzureEntityResource": {
      "x-ms-client-name": "AzureEntityResource",
      "description": "The resource model definition for a Azure Resource Manager resource with an etag.",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Etag."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "enum": [
        "2018-08-31-preview"
      ]
    },
    "$select": {
      "name": "$select",
      "in": "query",
      "description": "Properties to be returned in the response.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$filter": {
      "name": "$filter",
      "in": "query",
      "description": "Filter to be applied on the operation.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$apply": {
      "name": "$apply",
      "in": "query",
      "description": "Apply aggregation.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$orderby": {
      "name": "$orderby",
      "in": "query",
      "description": "Sort the result on one or more properties.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$expand": {
      "name": "$expand",
      "in": "query",
      "description": "Include properties inline in the response.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$top": {
      "name": "$top",
      "in": "query",
      "description": "Limit the result to the specified number of rows.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$skiptoken": {
      "name": "$skiptoken",
      "in": "query",
      "description": "The page-continuation token to use with a paged version of this API.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "componentId": {
      "name": "componentId",
      "in": "path",
      "description": "Component Id.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "monitorId": {
      "name": "monitorId",
      "in": "path",
      "description": "Id of the Monitor.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "monitorInstanceId": {
      "name": "monitorInstanceId",
      "in": "path",
      "description": "MonitorInstance Id.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "notificationSettingName": {
      "name": "notificationSettingName",
      "in": "path",
      "description": "Default string modeled as parameter for URL to work correctly.",
      "required": true,
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "monitor",
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Components",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByResource",
  "x-internal-operation-name": "List By Resource"
}