{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-01",
    "title": "ExpressRouteCrossConnection REST APIs",
    "description": "The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST APIs describes the operations for the connectivity provider to provision ExpressRoute circuit, create and modify BGP peering entities and troubleshoot connectivity on customer's ExpressRoute circuit."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ExpressRouteCrossConnectionRoutesTableSummary": {
      "properties": {
        "neighbor": {
          "type": "string",
          "description": "IP address of Neighbor router."
        },
        "asn": {
          "type": "integer",
          "format": "int32",
          "description": "Autonomous system number."
        },
        "upDown": {
          "type": "string",
          "description": "The length of time that the BGP session has been in the Established state, or the current status if not in the Established state."
        },
        "stateOrPrefixesReceived": {
          "type": "string",
          "description": "Current state of the BGP session, and the number of prefixes that have been received from a neighbor or peer group."
        }
      },
      "description": "The routes table associated with the ExpressRouteCircuit."
    },
    "ExpressRouteCrossConnectionsRoutesTableSummaryListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCrossConnectionRoutesTableSummary"
          },
          "description": "A list of the routes table."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListRoutesTable associated with the Express Route Cross Connections."
    },
    "ExpressRouteCircuitReference": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Corresponding Express Route Circuit Id."
        }
      },
      "description": "Reference to an express route circuit."
    },
    "ExpressRouteCrossConnectionProperties": {
      "properties": {
        "primaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the primary port."
        },
        "secondaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the secondary port."
        },
        "sTag": {
          "readOnly": true,
          "type": "integer",
          "description": "The identifier of the circuit traffic."
        },
        "peeringLocation": {
          "type": "string",
          "description": "The peering location of the ExpressRoute circuit."
        },
        "bandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "The circuit bandwidth In Mbps."
        },
        "expressRouteCircuit": {
          "$ref": "#/definitions/ExpressRouteCircuitReference",
          "description": "The ExpressRouteCircuit."
        },
        "serviceProviderProvisioningState": {
          "$ref": "#/definitions/ServiceProviderProvisioningState",
          "description": "The provisioning state of the circuit in the connectivity provider system."
        },
        "serviceProviderNotes": {
          "type": "string",
          "description": "Additional read only notes set by the connectivity provider."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the express route cross connection resource."
        },
        "peerings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCrossConnectionPeering"
          },
          "description": "The list of peerings."
        }
      },
      "description": "Properties of ExpressRouteCrossConnection."
    },
    "ExpressRouteCrossConnection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExpressRouteCrossConnectionProperties",
          "description": "Properties of the express route cross connection."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "ExpressRouteCrossConnection resource."
    },
    "ExpressRouteCrossConnectionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCrossConnection"
          },
          "description": "A list of ExpressRouteCrossConnection resources."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListExpressRouteCrossConnection API service call."
    },
    "ExpressRouteCrossConnectionPeeringProperties": {
      "properties": {
        "peeringType": {
          "$ref": "#/definitions/ExpressRoutePeeringType",
          "description": "The peering type."
        },
        "state": {
          "$ref": "#/definitions/ExpressRoutePeeringState",
          "description": "The peering state."
        },
        "azureASN": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The Azure ASN."
        },
        "peerASN": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "The peer ASN."
        },
        "primaryPeerAddressPrefix": {
          "type": "string",
          "description": "The primary address prefix."
        },
        "secondaryPeerAddressPrefix": {
          "type": "string",
          "description": "The secondary address prefix."
        },
        "primaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The primary port."
        },
        "secondaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The secondary port."
        },
        "sharedKey": {
          "type": "string",
          "description": "The shared key."
        },
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "description": "The VLAN ID."
        },
        "microsoftPeeringConfig": {
          "$ref": "#/definitions/ExpressRouteCircuitPeeringConfig",
          "description": "The Microsoft peering configuration."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the express route cross connection peering resource."
        },
        "gatewayManagerEtag": {
          "type": "string",
          "description": "The GatewayManager Etag."
        },
        "lastModifiedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Who was the last to modify the peering."
        },
        "ipv6PeeringConfig": {
          "$ref": "#/definitions/Ipv6ExpressRouteCircuitPeeringConfig",
          "description": "The IPv6 peering configuration."
        }
      },
      "description": "Properties of express route cross connection peering."
    },
    "ExpressRouteCrossConnectionPeering": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExpressRouteCrossConnectionPeeringProperties",
          "description": "Properties of the express route cross connection peering."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Peering in an ExpressRoute Cross Connection resource."
    },
    "ExpressRouteCrossConnectionPeeringList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCrossConnectionPeering"
          },
          "description": "The peerings in an express route cross connection."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListPeering API service call retrieves all peerings that belong to an ExpressRouteCrossConnection."
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another subresource.",
      "x-ms-azure-resource": true
    },
    "ExpressRouteCircuitPeeringConfig": {
      "properties": {
        "advertisedPublicPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The reference of AdvertisedPublicPrefixes."
        },
        "advertisedCommunities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The communities of bgp peering. Specified for microsoft peering."
        },
        "advertisedPublicPrefixesState": {
          "readOnly": true,
          "type": "string",
          "description": "The advertised public prefix state of the Peering resource.",
          "enum": [
            "NotConfigured",
            "Configuring",
            "Configured",
            "ValidationNeeded"
          ],
          "x-ms-enum": {
            "name": "ExpressRouteCircuitPeeringAdvertisedPublicPrefixState",
            "modelAsString": true
          }
        },
        "legacyMode": {
          "type": "integer",
          "format": "int32",
          "description": "The legacy mode of the peering."
        },
        "customerASN": {
          "type": "integer",
          "format": "int32",
          "description": "The CustomerASN of the peering."
        },
        "routingRegistryName": {
          "type": "string",
          "description": "The RoutingRegistryName of the configuration."
        }
      },
      "description": "Specifies the peering configuration."
    },
    "Ipv6ExpressRouteCircuitPeeringConfig": {
      "properties": {
        "primaryPeerAddressPrefix": {
          "type": "string",
          "description": "The primary address prefix."
        },
        "secondaryPeerAddressPrefix": {
          "type": "string",
          "description": "The secondary address prefix."
        },
        "microsoftPeeringConfig": {
          "$ref": "#/definitions/ExpressRouteCircuitPeeringConfig",
          "description": "The Microsoft peering configuration."
        },
        "routeFilter": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference of the RouteFilter resource."
        },
        "state": {
          "type": "string",
          "description": "The state of peering.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "x-ms-enum": {
            "name": "ExpressRouteCircuitPeeringState",
            "modelAsString": true
          }
        }
      },
      "description": "Contains IPv6 peering config."
    },
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Updating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ExpressRoutePeeringState": {
      "type": "string",
      "description": "The state of peering.",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ExpressRoutePeeringState",
        "modelAsString": true
      }
    },
    "ExpressRoutePeeringType": {
      "type": "string",
      "description": "The peering type.",
      "enum": [
        "AzurePublicPeering",
        "AzurePrivatePeering",
        "MicrosoftPeering"
      ],
      "x-ms-enum": {
        "name": "ExpressRoutePeeringType",
        "modelAsString": true
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Common resource representation.",
      "x-ms-azure-resource": true
    },
    "ServiceProviderProvisioningState": {
      "type": "string",
      "description": "The ServiceProviderProvisioningState state of the resource.",
      "enum": [
        "NotProvisioned",
        "Provisioning",
        "Provisioned",
        "Deprovisioning"
      ],
      "x-ms-enum": {
        "name": "ServiceProviderProvisioningState",
        "modelAsString": true
      }
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the service."
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "Cloud error body."
        }
      },
      "description": "An error response from the service."
    },
    "ExpressRouteCircuitRoutesTable": {
      "properties": {
        "network": {
          "type": "string",
          "description": "IP address of a network entity."
        },
        "nextHop": {
          "type": "string",
          "description": "NextHop address."
        },
        "locPrf": {
          "type": "string",
          "description": "Local preference value as set with the set local-preference route-map configuration command."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Route Weight."
        },
        "path": {
          "type": "string",
          "description": "Autonomous system paths to the destination network."
        }
      },
      "description": "The routes table associated with the ExpressRouteCircuit."
    },
    "ExpressRouteCircuitsRoutesTableListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCircuitRoutesTable"
          },
          "description": "The list of routes table."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListRoutesTable associated with the Express Route Circuits API."
    },
    "ExpressRouteCircuitArpTable": {
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "Entry age in minutes."
        },
        "interface": {
          "type": "string",
          "description": "Interface address."
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address."
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address."
        }
      },
      "description": "The ARP table associated with the ExpressRouteCircuit."
    },
    "ExpressRouteCircuitsArpTableListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteCircuitArpTable"
          },
          "description": "A list of the ARP tables."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListArpTable associated with the Express Route Circuits API."
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  },
  "x-internal-service-id": "expressroute",
  "x-internal-service-name": "ExpressRoute",
  "x-internal-toc-name": "Express Route Cross Connections",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "ExpressRouteCrossConnections/CreateOrUpdate"
    },
    {
      "displayName": "Get",
      "relativePath": "ExpressRouteCrossConnections/Get"
    },
    {
      "displayName": "List",
      "relativePath": "ExpressRouteCrossConnections/List"
    },
    {
      "displayName": "List Arp Table",
      "relativePath": "ExpressRouteCrossConnections/ListArpTable"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "ExpressRouteCrossConnections/ListByResourceGroup"
    },
    {
      "displayName": "List Routes Table",
      "relativePath": "ExpressRouteCrossConnections/ListRoutesTable"
    },
    {
      "displayName": "List Routes Table Summary",
      "relativePath": "ExpressRouteCrossConnections/ListRoutesTableSummary"
    },
    {
      "displayName": "Update Tags",
      "relativePath": "ExpressRouteCrossConnections/UpdateTags"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}