{
  "swagger": "2.0",
  "info": {
    "version": "2017-12-01",
    "title": "PostgreSQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, log files and configurations with new business model."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/configurations": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_ListByServer",
        "x-ms-examples": {
          "ConfigurationList": {
            "parameters": {
              "serverName": "testserver",
              "resourceGroupName": "TestGroup",
              "api-version": "2017-12-01",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enable input of NULL elements in arrays.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/array_nulls",
                      "name": "array_nulls",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "safe_encoding",
                        "description": "Sets whether \"\\'\" is allowed in string literals.",
                        "defaultValue": "safe_encoding",
                        "dataType": "Enumeration",
                        "allowedValues": "safe_encoding,on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/backslash_quote",
                      "name": "backslash_quote",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "hex",
                        "description": "Sets the output format for bytea.",
                        "defaultValue": "hex",
                        "dataType": "Enumeration",
                        "allowedValues": "escape,hex",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/bytea_output",
                      "name": "bytea_output",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Check function bodies during CREATE FUNCTION.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/check_function_bodies",
                      "name": "check_function_bodies",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "sql_ascii",
                        "description": "Sets the client's character set encoding.",
                        "defaultValue": "sql_ascii",
                        "dataType": "Enumeration",
                        "allowedValues": "BIG5,EUC_CN,EUC_JP,EUC_JIS_2004,EUC_KR,EUC_TW,GB18030,GBK,ISO_8859_5,ISO_8859_6,ISO_8859_7,ISO_8859_8,JOHAB,KOI8R,KOI8U,LATIN1,LATIN2,LATIN3,LATIN4,LATIN5,LATIN6,LATIN7,LATIN8,LATIN9,LATIN10,MULE_INTERNAL,SJIS,SHIFT_JIS_2004,SQL_ASCII,UHC,UTF8,WIN866,WIN874,WIN1250,WIN1251,WIN1252,WIN1253,WIN1254,WIN1255,WIN1256,WIN1257,WIN1258",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_encoding",
                      "name": "client_encoding",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "notice",
                        "description": "Sets the message levels that are sent to the client.",
                        "defaultValue": "notice",
                        "dataType": "Enumeration",
                        "allowedValues": "debug5,debug4,debug3,debug2,debug1,log,notice,warning,error",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_min_messages",
                      "name": "client_min_messages",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "partition",
                        "description": "Enables the planner to use constraints to optimize queries.",
                        "defaultValue": "partition",
                        "dataType": "Enumeration",
                        "allowedValues": "partition,on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/constraint_exclusion",
                      "name": "constraint_exclusion",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.005",
                        "description": "Sets the planner's estimate of the cost of processing each index entry during an index scan.",
                        "defaultValue": "0.005",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_index_tuple_cost",
                      "name": "cpu_index_tuple_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.0025",
                        "description": "Sets the planner's estimate of the cost of processing each operator or function call.",
                        "defaultValue": "0.0025",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_operator_cost",
                      "name": "cpu_operator_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.01",
                        "description": "Sets the planner's estimate of the cost of processing each tuple (row).",
                        "defaultValue": "0.01",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_tuple_cost",
                      "name": "cpu_tuple_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.1",
                        "description": "Sets the planner's estimate of the fraction of a cursor's rows that will be retrieved.",
                        "defaultValue": "0.1",
                        "dataType": "Numeric",
                        "allowedValues": "0-1",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cursor_tuple_fraction",
                      "name": "cursor_tuple_fraction",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "iso, mdy",
                        "description": "Sets the display format for date and time values.",
                        "defaultValue": "iso, mdy",
                        "dataType": "String",
                        "allowedValues": "(iso|postgres|sql|german)\\,\\s(dmy|mdy|ymd)",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/datestyle",
                      "name": "datestyle",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1000",
                        "description": "Sets the amount of time, in milliseconds, to wait on a lock before checking for deadlock.",
                        "defaultValue": "1000",
                        "dataType": "Integer",
                        "allowedValues": "1-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/deadlock_timeout",
                      "name": "deadlock_timeout",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs each query's parse tree.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_parse",
                      "name": "debug_print_parse",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs each query's execution plan.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_plan",
                      "name": "debug_print_plan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs each query's rewritten parse tree.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_rewritten",
                      "name": "debug_print_rewritten",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "100",
                        "description": "Sets the default statistics target.",
                        "defaultValue": "100",
                        "dataType": "Integer",
                        "allowedValues": "1-10000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_statistics_target",
                      "name": "default_statistics_target",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "pg_catalog.english",
                        "description": "Sets default text search configuration.",
                        "defaultValue": "pg_catalog.english",
                        "dataType": "String",
                        "allowedValues": "[A-Za-z\\._]+",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_text_search_config",
                      "name": "default_text_search_config",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Sets the default deferrable status of new transactions.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_deferrable",
                      "name": "default_transaction_deferrable",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "read committed",
                        "description": "Sets the transaction isolation level of each new transaction.",
                        "defaultValue": "read committed",
                        "dataType": "Enumeration",
                        "allowedValues": "serializable,repeatable read,read committed,read uncommitted",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_isolation",
                      "name": "default_transaction_isolation",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Sets the default read-only status of new transactions.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_read_only",
                      "name": "default_transaction_read_only",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Create new tables with OIDs by default.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_with_oids",
                      "name": "default_with_oids",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of bitmap-scan plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_bitmapscan",
                      "name": "enable_bitmapscan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of hashed aggregation plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashagg",
                      "name": "enable_hashagg",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of hash join plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashjoin",
                      "name": "enable_hashjoin",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of index-only-scan plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexonlyscan",
                      "name": "enable_indexonlyscan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of index-scan plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexscan",
                      "name": "enable_indexscan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of materialization.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_material",
                      "name": "enable_material",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of merge join plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_mergejoin",
                      "name": "enable_mergejoin",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of nested-loop join plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_nestloop",
                      "name": "enable_nestloop",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of sequential-scan plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_seqscan",
                      "name": "enable_seqscan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of explicit sort steps.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_sort",
                      "name": "enable_sort",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables the planner's use of TID scan plans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_tidscan",
                      "name": "enable_tidscan",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Warn about backslash escapes in ordinary string literals.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/escape_string_warning",
                      "name": "escape_string_warning",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Terminate session on any error.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/exit_on_error",
                      "name": "exit_on_error",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the number of digits displayed for floating-point values.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "-15-3",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/extra_float_digits",
                      "name": "extra_float_digits",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "8",
                        "description": "Sets the FROM-list size beyond which subqueries are not collapsed.",
                        "defaultValue": "8",
                        "dataType": "Integer",
                        "allowedValues": "1-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/from_collapse_limit",
                      "name": "from_collapse_limit",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enables genetic query optimization.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo",
                      "name": "geqo",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "5",
                        "description": "GEQO: effort is used to set the default for other GEQO parameters.",
                        "defaultValue": "5",
                        "dataType": "Integer",
                        "allowedValues": "1-10",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_effort",
                      "name": "geqo_effort",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "GEQO: number of iterations of the algorithm.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_generations",
                      "name": "geqo_generations",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "GEQO: number of individuals in the population.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_pool_size",
                      "name": "geqo_pool_size",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.0",
                        "description": "GEQO: seed for random path selection.",
                        "defaultValue": "0.0",
                        "dataType": "Numeric",
                        "allowedValues": "0-1",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_seed",
                      "name": "geqo_seed",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "2.0",
                        "description": "GEQO: selective pressure within the population.",
                        "defaultValue": "2.0",
                        "dataType": "Numeric",
                        "allowedValues": "1.5-2",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_selection_bias",
                      "name": "geqo_selection_bias",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "12",
                        "description": "Sets the threshold of FROM items beyond which GEQO is used.",
                        "defaultValue": "12",
                        "dataType": "Integer",
                        "allowedValues": "2-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/geqo_threshold",
                      "name": "geqo_threshold",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum allowed result for exact search by GIN.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/gin_fuzzy_search_limit",
                      "name": "gin_fuzzy_search_limit",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "postgres",
                        "description": "Sets the display format for interval values.",
                        "defaultValue": "postgres",
                        "dataType": "Enumeration",
                        "allowedValues": "postgres,postgres_verbose,sql_standard,iso_8601",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/intervalstyle",
                      "name": "intervalstyle",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "8",
                        "description": "Sets the FROM-list size beyond which JOIN constructs are not flattened.",
                        "defaultValue": "8",
                        "dataType": "Integer",
                        "allowedValues": "1-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/join_collapse_limit",
                      "name": "join_collapse_limit",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum allowed duration (in milliseconds) of any wait for a lock. 0 turns this off.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/lock_timeout",
                      "name": "lock_timeout",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs each checkpoint.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_checkpoints",
                      "name": "log_checkpoints",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs each successful connection.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_connections",
                      "name": "log_connections",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs end of a session, including duration.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_disconnections",
                      "name": "log_disconnections",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs the duration of each completed SQL statement.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_duration",
                      "name": "log_duration",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "default",
                        "description": "Sets the verbosity of logged messages.",
                        "defaultValue": "default",
                        "dataType": "Enumeration",
                        "allowedValues": "terse,default,verbose",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_error_verbosity",
                      "name": "log_error_verbosity",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Logs long lock waits.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_lock_waits",
                      "name": "log_lock_waits",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "-1",
                        "description": "Sets the minimum execution time (in milliseconds) above which statements will be logged. -1 disables logging statement durations.",
                        "defaultValue": "-1",
                        "dataType": "Integer",
                        "allowedValues": "-1-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_duration_statement",
                      "name": "log_min_duration_statement",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "error",
                        "description": "Causes all statements generating error at or above this level to be logged.",
                        "defaultValue": "error",
                        "dataType": "Enumeration",
                        "allowedValues": "debug5,debug4,debug3,debug2,debug1,info,notice,warning,error,log,fatal,panic",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_error_statement",
                      "name": "log_min_error_statement",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "warning",
                        "description": "Sets the message levels that are logged.",
                        "defaultValue": "warning",
                        "dataType": "Enumeration",
                        "allowedValues": "debug5,debug4,debug3,debug2,debug1,info,notice,warning,error,log,fatal,panic",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_min_messages",
                      "name": "log_min_messages",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "none",
                        "description": "Sets the type of statements logged.",
                        "defaultValue": "none",
                        "dataType": "Enumeration",
                        "allowedValues": "none,ddl,mod,all",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_statement",
                      "name": "log_statement",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "64",
                        "description": "Sets the maximum number of locks per transaction.",
                        "defaultValue": "64",
                        "dataType": "Integer",
                        "allowedValues": "10-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_locks_per_transaction",
                      "name": "max_locks_per_transaction",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "64",
                        "description": "Sets the maximum number of predicate locks per transaction.",
                        "defaultValue": "64",
                        "dataType": "Integer",
                        "allowedValues": "10-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_pred_locks_per_transaction",
                      "name": "max_pred_locks_per_transaction",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum number of simultaneously prepared transactions.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-8388607",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_prepared_transactions",
                      "name": "max_prepared_transactions",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "When generating SQL fragments, quote all identifiers.",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/quote_all_identifiers",
                      "name": "quote_all_identifiers",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "4.0",
                        "description": "Sets the planner's estimate of the cost of a nonsequentially fetched disk page.",
                        "defaultValue": "4.0",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/random_page_cost",
                      "name": "random_page_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "\"$user\", public",
                        "description": "Sets the schema search order for names that are not schema-qualified.",
                        "defaultValue": "\"$user\", public",
                        "dataType": "String",
                        "allowedValues": "[A-Za-z.\"$, ]+",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/search_path",
                      "name": "search_path",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1.0",
                        "description": "Sets the planner's estimate of the cost of a sequentially fetched disk page.",
                        "defaultValue": "1.0",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/seq_page_cost",
                      "name": "seq_page_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Causes subtables to be included by default in various commands.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/sql_inheritance",
                      "name": "sql_inheritance",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Causes '...' strings to treat backslashes literally.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/standard_conforming_strings",
                      "name": "standard_conforming_strings",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum allowed duration (in milliseconds) of any statement. 0 turns this off.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/statement_timeout",
                      "name": "statement_timeout",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Enable synchronized sequential scans.",
                        "defaultValue": "on",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/synchronize_seqscans",
                      "name": "synchronize_seqscans",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "on",
                        "description": "Sets the current transaction's synchronization level.",
                        "defaultValue": "on",
                        "dataType": "Enumeration",
                        "allowedValues": "local,remote_write,on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/synchronous_commit",
                      "name": "synchronous_commit",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Treats \"expr=NULL\" as \"expr IS NULL\".",
                        "defaultValue": "off",
                        "dataType": "Boolean",
                        "allowedValues": "on,off",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/transform_null_equals",
                      "name": "transform_null_equals",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "base64",
                        "description": "Sets how binary values are to be encoded in XML.",
                        "defaultValue": "base64",
                        "dataType": "Enumeration",
                        "allowedValues": "base64,hex",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/xmlbinary",
                      "name": "xmlbinary",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "content",
                        "description": "Sets whether XML data in implicit parsing and serialization operations is to be considered as documents or content fragments.",
                        "defaultValue": "content",
                        "dataType": "Enumeration",
                        "allowedValues": "content,document",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/xmloption",
                      "name": "xmloption",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "off",
                        "description": "Forces use of parallel query facilities.",
                        "defaultValue": "off",
                        "dataType": "Enumeration",
                        "allowedValues": "off,on,regress",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/force_parallel_mode",
                      "name": "force_parallel_mode",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum allowed duration of any idling transaction.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-2147483647",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/idle_in_transaction_session_timeout",
                      "name": "idle_in_transaction_session_timeout",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Sets the maximum number of parallel processes per executor node.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-1024",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/max_parallel_workers_per_gather",
                      "name": "max_parallel_workers_per_gather",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "8388608",
                        "description": "Sets the minimum size of relations to be considered for parallel scan.",
                        "defaultValue": "8388608",
                        "dataType": "Integer",
                        "allowedValues": "0-715827882",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/min_parallel_relation_size",
                      "name": "min_parallel_relation_size",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1000",
                        "description": "Sets the planner's estimate of the cost of starting up worker processes for parallel query.",
                        "defaultValue": "1000",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/parallel_setup_cost",
                      "name": "parallel_setup_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0.1",
                        "description": "Sets the planner's estimate of the cost of passing each tuple (row) from worker to master backend.",
                        "defaultValue": "0.1",
                        "dataType": "Numeric",
                        "allowedValues": "0-1.79769e+308",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/parallel_tuple_cost",
                      "name": "parallel_tuple_cost",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "3",
                        "description": "Sets how many days a log file is saved for.",
                        "defaultValue": "3",
                        "dataType": "Integer",
                        "allowedValues": "1-7",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/log_retention_days",
                      "name": "log_retention_days",
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "List all the configurations in a given server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Server"
      }
    }
  },
  "definitions": {
    "ServerVersion": {
      "type": "string",
      "description": "The version of a server.",
      "enum": [
        "9.5",
        "9.6"
      ],
      "x-ms-enum": {
        "name": "ServerVersion",
        "modelAsString": true
      }
    },
    "SslEnforcement": {
      "type": "string",
      "description": "Enable ssl enforcement or not when connect to server.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "SslEnforcementEnum",
        "modelAsString": false
      }
    },
    "ProxyResource": {
      "description": "Resource properties.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "Resource properties including location and tags for track resources.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location the resource resides in."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "required": [
        "location"
      ]
    },
    "ServerProperties": {
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation)."
        },
        "version": {
          "$ref": "#/definitions/ServerVersion",
          "description": "Server version."
        },
        "sslEnforcement": {
          "$ref": "#/definitions/SslEnforcement",
          "description": "Enable ssl enforcement or not when connect to server."
        },
        "userVisibleState": {
          "type": "string",
          "description": "A state of a server that is visible to user.",
          "enum": [
            "Ready",
            "Dropping",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ServerState",
            "modelAsString": true
          }
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of a server."
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore point creation time (ISO8601 format)"
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Storage profile of a server."
        }
      },
      "description": "The properties of a server."
    },
    "StorageProfile": {
      "properties": {
        "backupRetentionDays": {
          "type": "integer",
          "description": "Backup retention days for the server."
        },
        "geoRedundantBackup": {
          "type": "string",
          "description": "Enable Geo-redundant or not for server backup.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "GeoRedundantBackup",
            "modelAsString": true
          }
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        }
      },
      "description": "Storage Profile properties of a server"
    },
    "ServerPropertiesForCreate": {
      "discriminator": "createMode",
      "required": [
        "createMode"
      ],
      "properties": {
        "version": {
          "$ref": "#/definitions/ServerVersion",
          "description": "Server version."
        },
        "sslEnforcement": {
          "$ref": "#/definitions/SslEnforcement",
          "description": "Enable ssl enforcement or not when connect to server."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Storage profile of a server."
        },
        "createMode": {
          "type": "string",
          "description": "The mode to create a new server.",
          "enum": [
            "Default",
            "PointInTimeRestore",
            "GeoRestore"
          ],
          "x-ms-enum": {
            "name": "CreateMode",
            "modelAsString": true
          }
        }
      },
      "description": "The properties used to create a new server."
    },
    "ServerPropertiesForDefaultCreate": {
      "x-ms-discriminator-value": "Default",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation)."
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The password of the administrator login."
        }
      },
      "required": [
        "administratorLogin",
        "administratorLoginPassword"
      ],
      "description": "The properties used to create a new server."
    },
    "ServerPropertiesForRestore": {
      "x-ms-discriminator-value": "PointInTimeRestore",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "sourceServerId": {
          "type": "string",
          "description": "The source server id to restore from."
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format), specifying the time to restore from."
        }
      },
      "required": [
        "sourceServerId",
        "restorePointInTime"
      ],
      "description": "The properties used to create a new server by restoring from a backup."
    },
    "ServerPropertiesForGeoRestore": {
      "x-ms-discriminator-value": "GeoRestore",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "sourceServerId": {
          "type": "string",
          "description": "The source server id to restore from."
        }
      },
      "required": [
        "sourceServerId"
      ],
      "description": "The properties used to create a new server by restoring to a different region from a geo replicated backup."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sku, typically, tier + family + cores, e.g. B_Gen4_1, GP_Gen5_8."
        },
        "tier": {
          "type": "string",
          "description": "The tier of the particular SKU, e.g. Basic.",
          "enum": [
            "Basic",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "The scale up/out capacity, representing server's compute units."
        },
        "size": {
          "type": "string",
          "description": "The size code, to be interpreted by resource as appropriate."
        },
        "family": {
          "type": "string",
          "description": "The family of hardware."
        }
      },
      "description": "Billing information related properties of a server."
    },
    "Server": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "x-ms-client-flatten": true,
          "description": "Properties of the server."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a server."
    },
    "ServerForCreate": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "$ref": "#/definitions/ServerPropertiesForCreate",
          "x-ms-client-flatten": false,
          "description": "Properties of the server."
        },
        "location": {
          "type": "string",
          "description": "The location the resource resides in."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "required": [
        "properties",
        "location"
      ],
      "description": "Represents a server to be created."
    },
    "ServerUpdateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "properties": {
            "storageProfile": {
              "$ref": "#/definitions/StorageProfile",
              "description": "Storage profile of a server."
            },
            "administratorLoginPassword": {
              "type": "string",
              "format": "password",
              "description": "The password of the administrator login."
            },
            "version": {
              "$ref": "#/definitions/ServerVersion",
              "description": "The version of a server."
            },
            "sslEnforcement": {
              "$ref": "#/definitions/SslEnforcement",
              "description": "Enable ssl enforcement or not when connect to server."
            }
          },
          "x-ms-client-flatten": true,
          "description": "The properties that can be updated for a server."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "description": "Parameters allowd to update for a server."
    },
    "ServerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "description": "The list of servers"
        }
      },
      "description": "A list of servers."
    },
    "FirewallRuleProperties": {
      "properties": {
        "startIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The start IP address of the server firewall rule. Must be IPv4 format."
        },
        "endIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The end IP address of the server firewall rule. Must be IPv4 format."
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ],
      "description": "The properties of a server firewall rule."
    },
    "FirewallRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallRuleProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a firewall rule."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "Represents a server firewall rule."
    },
    "FirewallRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          },
          "description": "The list of firewall rules in a server."
        }
      },
      "description": "A list of firewall rules."
    },
    "DatabaseProperties": {
      "properties": {
        "charset": {
          "type": "string",
          "description": "The charset of the database."
        },
        "collation": {
          "type": "string",
          "description": "The collation of the database."
        }
      },
      "description": "The properties of a database."
    },
    "Database": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a database."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of databases housed in a server"
        }
      },
      "description": "A List of databases."
    },
    "ConfigurationProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the configuration."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Description of the configuration."
        },
        "defaultValue": {
          "type": "string",
          "readOnly": true,
          "description": "Default value of the configuration."
        },
        "dataType": {
          "type": "string",
          "readOnly": true,
          "description": "Data type of the configuration."
        },
        "allowedValues": {
          "type": "string",
          "readOnly": true,
          "description": "Allowed values of the configuration."
        },
        "source": {
          "type": "string",
          "description": "Source of the configuration."
        }
      },
      "description": "The properties of a configuration."
    },
    "Configuration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a configuration."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Configuration."
    },
    "ConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "description": "The list of server configurations."
        }
      },
      "description": "A list of server configurations."
    },
    "OperationDisplay": {
      "properties": {
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Operation resource provider name."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Resource on which the operation is performed."
        },
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "Localized friendly name for the operation."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Operation description."
        }
      },
      "description": "Display metadata associated with the operation."
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the operation being performed on this particular object."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "readOnly": true,
          "description": "The localized display information for this particular operation or action."
        },
        "origin": {
          "type": "string",
          "readOnly": true,
          "description": "The intended executor of the operation.",
          "enum": [
            "NotSpecified",
            "user",
            "system"
          ],
          "x-ms-enum": {
            "name": "OperationOrigin",
            "modelAsString": true
          }
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "readOnly": true,
          "x-ms-client-flatten": false,
          "description": "Additional descriptions for the operation."
        }
      },
      "description": "REST API operation definition."
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of resource provider operations."
        }
      },
      "description": "A list of resource provider operations."
    },
    "LogFileProperties": {
      "properties": {
        "sizeInKB": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the log file."
        },
        "createdTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Creation timestamp of the log file."
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Last modified timestamp of the log file."
        },
        "type": {
          "type": "string",
          "description": "Type of the log file."
        },
        "url": {
          "type": "string",
          "description": "The url to download the log file from."
        }
      },
      "description": "The properties of a log file."
    },
    "LogFile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the log file."
        },
        "properties": {
          "$ref": "#/definitions/LogFileProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the log file."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a log file."
    },
    "LogFileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogFile"
          },
          "description": "The list of log files."
        }
      },
      "description": "A list of log files."
    },
    "PerformanceTierServiceLevelObjectives": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID for the service level objective."
        },
        "edition": {
          "type": "string",
          "description": "Edition of the performance tier."
        },
        "vCore": {
          "type": "integer",
          "description": "vCore associated with the service level objective"
        },
        "hardwareGeneration": {
          "type": "string",
          "description": "Hardware generation associated with the service level objective"
        },
        "maxBackupRetentionDays": {
          "type": "integer",
          "description": "Maximum Backup retention in days for the performance tier edition"
        },
        "minBackupRetentionDays": {
          "type": "integer",
          "description": "Minimum Backup retention in days for the performance tier edition"
        },
        "maxStorageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        },
        "minStorageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        }
      },
      "description": "Service level objectives for performance tier."
    },
    "PerformanceTierProperties": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the performance tier."
        },
        "serviceLevelObjectives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerformanceTierServiceLevelObjectives"
          },
          "description": "Service level objectives associated with the performance tier"
        }
      },
      "description": "Performance tier properties"
    },
    "PerformanceTierListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerformanceTierProperties"
          },
          "description": "The list of performance tiers"
        }
      },
      "description": "A list of performance tiers."
    },
    "NameAvailabilityRequest": {
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name to verify."
        },
        "type": {
          "type": "string",
          "description": "Resource type used for verification."
        }
      },
      "description": "Request from client to check resource name availability."
    },
    "NameAvailability": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Error Message."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates whether the resource name is available."
        },
        "reason": {
          "type": "string",
          "description": "Reason for name being unavailable."
        }
      },
      "description": "Represents a resource name availability."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "FirewallRuleNameParameter": {
      "name": "firewallRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server firewall rule.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the database.",
      "x-ms-parameter-location": "method"
    },
    "ConfigurationNameParameter": {
      "name": "configurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server configuration.",
      "x-ms-parameter-location": "method"
    },
    "LocationNameParameter": {
      "name": "locationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the location.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "PostgreSQL",
  "x-internal-toc-name": "Configurations",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Server"
}