{
  "swagger": "2.0",
  "info": {
    "version": "2018-07-10",
    "x-ms-code-generation-settings": {
      "header": "MICROSOFT_MIT_NO_VERSION"
    },
    "title": "SiteRecoveryManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "A2AAddDisksInput": {
      "description": "A2A add disk(s) input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AddDisksProviderSpecificInput"
        }
      ],
      "properties": {
        "vmDisks": {
          "description": "The list of vm disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmDiskInputDetails"
          }
        },
        "vmManagedDisks": {
          "description": "The list of vm managed disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmManagedDiskInputDetails"
          }
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AApplyRecoveryPointInput": {
      "description": "ApplyRecoveryPoint input specific to A2A provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApplyRecoveryPointProviderSpecificInput"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "A2A"
    },
    "A2AContainerCreationInput": {
      "description": "A2A cloud creation input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReplicationProviderSpecificContainerCreationInput"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "A2A"
    },
    "A2AContainerMappingInput": {
      "description": "A2A container mapping input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReplicationProviderSpecificContainerMappingInput"
        }
      ],
      "properties": {
        "agentAutoUpdateStatus": {
          "description": "A value indicating whether the auto update is enabled.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AgentAutoUpdateStatus",
            "modelAsString": true
          }
        },
        "automationAccountArmId": {
          "description": "The automation account arm id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AEnableProtectionInput": {
      "description": "A2A enable protection input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EnableProtectionProviderSpecificInput"
        }
      ],
      "properties": {
        "fabricObjectId": {
          "description": "The fabric specific object Id of the virtual machine.",
          "type": "string"
        },
        "recoveryContainerId": {
          "description": "The recovery container Id.",
          "type": "string"
        },
        "recoveryResourceGroupId": {
          "description": "The recovery resource group Id. Valid for V2 scenarios.",
          "type": "string"
        },
        "recoveryCloudServiceId": {
          "description": "The recovery cloud service Id. Valid for V1 scenarios.",
          "type": "string"
        },
        "recoveryAvailabilitySetId": {
          "description": "The recovery availability set Id.",
          "type": "string"
        },
        "vmDisks": {
          "description": "The list of vm disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmDiskInputDetails"
          }
        },
        "vmManagedDisks": {
          "description": "The list of vm managed disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmManagedDiskInputDetails"
          }
        },
        "multiVmGroupName": {
          "description": "The multi vm group name.",
          "type": "string"
        },
        "recoveryBootDiagStorageAccountId": {
          "description": "The boot diagnostic storage account.",
          "type": "string"
        },
        "diskEncryptionInfo": {
          "$ref": "#/definitions/DiskEncryptionInfo",
          "description": "The recovery disk encryption information."
        },
        "recoveryAvailabilityZone": {
          "description": "The recovery availability zone.",
          "type": "string"
        },
        "recoveryAzureNetworkId": {
          "description": "The recovery Azure virtual network ARM id.",
          "type": "string"
        },
        "recoverySubnetName": {
          "description": "The recovery subnet name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AEventDetails": {
      "description": "Model class for event details of a A2A event.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventProviderSpecificDetails"
        }
      ],
      "properties": {
        "protectedItemName": {
          "description": "The protected item arm name.",
          "type": "string"
        },
        "fabricObjectId": {
          "description": "The azure vm arm id.",
          "type": "string"
        },
        "fabricName": {
          "description": "Fabric arm name.",
          "type": "string"
        },
        "fabricLocation": {
          "description": "The fabric location.",
          "type": "string"
        },
        "remoteFabricName": {
          "description": "Remote fabric arm name.",
          "type": "string"
        },
        "remoteFabricLocation": {
          "description": "Remote fabric location.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AFailoverProviderInput": {
      "description": "A2A provider specific input for failover.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificFailoverInput"
        }
      ],
      "properties": {
        "recoveryPointId": {
          "description": "The recovery point id to be passed to failover to a particular recovery point. In case of latest recovery point, null should be passed.",
          "type": "string"
        },
        "cloudServiceCreationOption": {
          "description": "A value indicating whether to use recovery cloud service for TFO or not.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2APolicyCreationInput": {
      "description": "A2A Policy creation input.",
      "required": [
        "multiVmSyncStatus"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyProviderSpecificInput"
        }
      ],
      "properties": {
        "recoveryPointHistory": {
          "format": "int32",
          "description": "The duration in minutes until which the recovery points need to be stored.",
          "type": "integer"
        },
        "crashConsistentFrequencyInMinutes": {
          "format": "int32",
          "description": "The crash consistent snapshot frequency (in minutes).",
          "type": "integer"
        },
        "appConsistentFrequencyInMinutes": {
          "format": "int32",
          "description": "The app consistent snapshot frequency (in minutes).",
          "type": "integer"
        },
        "multiVmSyncStatus": {
          "description": "A value indicating whether multi-VM sync has to be enabled. Value should be 'Enabled' or 'Disabled'.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SetMultiVmSyncStatus",
            "modelAsString": true
          }
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2APolicyDetails": {
      "description": "A2A specific policy details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyProviderSpecificDetails"
        }
      ],
      "properties": {
        "recoveryPointThresholdInMinutes": {
          "format": "int32",
          "description": "The recovery point threshold in minutes.",
          "type": "integer"
        },
        "recoveryPointHistory": {
          "format": "int32",
          "description": "The duration in minutes until which the recovery points need to be stored.",
          "type": "integer"
        },
        "appConsistentFrequencyInMinutes": {
          "format": "int32",
          "description": "The app consistent snapshot frequency in minutes.",
          "type": "integer"
        },
        "multiVmSyncStatus": {
          "description": "A value indicating whether multi-VM sync has to be enabled.",
          "type": "string"
        },
        "crashConsistentFrequencyInMinutes": {
          "format": "int32",
          "description": "The crash consistent snapshot frequency in minutes.",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AProtectedDiskDetails": {
      "description": "A2A protected disk details.",
      "type": "object",
      "properties": {
        "diskUri": {
          "description": "The disk uri.",
          "type": "string"
        },
        "recoveryAzureStorageAccountId": {
          "description": "The recovery disk storage account.",
          "type": "string"
        },
        "primaryDiskAzureStorageAccountId": {
          "description": "The primary disk storage account.",
          "type": "string"
        },
        "recoveryDiskUri": {
          "description": "Recovery disk uri.",
          "type": "string"
        },
        "diskName": {
          "description": "The disk name.",
          "type": "string"
        },
        "diskCapacityInBytes": {
          "format": "int64",
          "description": "The disk capacity in bytes.",
          "type": "integer"
        },
        "primaryStagingAzureStorageAccountId": {
          "description": "The primary staging storage account.",
          "type": "string"
        },
        "diskType": {
          "description": "The type of disk.",
          "type": "string"
        },
        "resyncRequired": {
          "description": "A value indicating whether resync is required for this disk.",
          "type": "boolean"
        },
        "monitoringPercentageCompletion": {
          "format": "int32",
          "description": "The percentage of the monitoring job. The type of the monitoring job is defined by MonitoringJobType property.",
          "type": "integer"
        },
        "monitoringJobType": {
          "description": "The type of the monitoring job. The progress is contained in MonitoringPercentageCompletion property.",
          "type": "string"
        },
        "dataPendingInStagingStorageAccountInMB": {
          "format": "double",
          "description": "The data pending for replication in MB at staging account.",
          "type": "number"
        },
        "dataPendingAtSourceAgentInMB": {
          "format": "double",
          "description": "The data pending at source virtual machine in MB.",
          "type": "number"
        },
        "diskState": {
          "description": "The disk state.",
          "type": "string"
        },
        "allowedDiskLevelOperation": {
          "description": "The disk level operations list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isDiskEncrypted": {
          "description": "A value indicating whether vm has encrypted os disk or not.",
          "type": "boolean"
        },
        "secretIdentifier": {
          "description": "The secret URL / identifier (BEK).",
          "type": "string"
        },
        "dekKeyVaultArmId": {
          "description": "The KeyVault resource id for secret (BEK).",
          "type": "string"
        },
        "isDiskKeyEncrypted": {
          "description": "A value indicating whether disk key got encrypted or not.",
          "type": "boolean"
        },
        "keyIdentifier": {
          "description": "The key URL / identifier (KEK).",
          "type": "string"
        },
        "kekKeyVaultArmId": {
          "description": "The KeyVault resource id for key (KEK).",
          "type": "string"
        }
      }
    },
    "A2AProtectedManagedDiskDetails": {
      "description": "A2A protected managed disk details.",
      "type": "object",
      "properties": {
        "diskId": {
          "description": "The managed disk Arm id.",
          "type": "string"
        },
        "recoveryResourceGroupId": {
          "description": "The recovery disk resource group Arm Id.",
          "type": "string"
        },
        "recoveryTargetDiskId": {
          "description": "Recovery target disk Arm Id.",
          "type": "string"
        },
        "recoveryReplicaDiskId": {
          "description": "Recovery replica disk Arm Id.",
          "type": "string"
        },
        "recoveryReplicaDiskAccountType": {
          "description": "The replica disk type. Its an optional value and will be same as source disk type if not user provided.",
          "type": "string"
        },
        "recoveryTargetDiskAccountType": {
          "description": "The target disk type after failover. Its an optional value and will be same as source disk type if not user provided.",
          "type": "string"
        },
        "recoveryDiskEncryptionSetId": {
          "description": "The recovery disk encryption set Id.",
          "type": "string"
        },
        "diskName": {
          "description": "The disk name.",
          "type": "string"
        },
        "diskCapacityInBytes": {
          "format": "int64",
          "description": "The disk capacity in bytes.",
          "type": "integer"
        },
        "primaryStagingAzureStorageAccountId": {
          "description": "The primary staging storage account.",
          "type": "string"
        },
        "diskType": {
          "description": "The type of disk.",
          "type": "string"
        },
        "resyncRequired": {
          "description": "A value indicating whether resync is required for this disk.",
          "type": "boolean"
        },
        "monitoringPercentageCompletion": {
          "format": "int32",
          "description": "The percentage of the monitoring job. The type of the monitoring job is defined by MonitoringJobType property.",
          "type": "integer"
        },
        "monitoringJobType": {
          "description": "The type of the monitoring job. The progress is contained in MonitoringPercentageCompletion property.",
          "type": "string"
        },
        "dataPendingInStagingStorageAccountInMB": {
          "format": "double",
          "description": "The data pending for replication in MB at staging account.",
          "type": "number"
        },
        "dataPendingAtSourceAgentInMB": {
          "format": "double",
          "description": "The data pending at source virtual machine in MB.",
          "type": "number"
        },
        "diskState": {
          "description": "The disk state.",
          "type": "string"
        },
        "allowedDiskLevelOperation": {
          "description": "The disk level operations list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isDiskEncrypted": {
          "description": "A value indicating whether vm has encrypted os disk or not.",
          "type": "boolean"
        },
        "secretIdentifier": {
          "description": "The secret URL / identifier (BEK).",
          "type": "string"
        },
        "dekKeyVaultArmId": {
          "description": "The KeyVault resource id for secret (BEK).",
          "type": "string"
        },
        "isDiskKeyEncrypted": {
          "description": "A value indicating whether disk key got encrypted or not.",
          "type": "boolean"
        },
        "keyIdentifier": {
          "description": "The key URL / identifier (KEK).",
          "type": "string"
        },
        "kekKeyVaultArmId": {
          "description": "The KeyVault resource id for key (KEK).",
          "type": "string"
        },
        "failoverDiskName": {
          "description": "The failover name for the managed disk.",
          "type": "string"
        },
        "tfoDiskName": {
          "description": "The test failover name for the managed disk.",
          "type": "string"
        }
      }
    },
    "A2AProtectionContainerMappingDetails": {
      "description": "A2A provider specific settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionContainerMappingProviderSpecificDetails"
        }
      ],
      "properties": {
        "agentAutoUpdateStatus": {
          "description": "A value indicating whether the auto update is enabled.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AgentAutoUpdateStatus",
            "modelAsString": true
          }
        },
        "automationAccountArmId": {
          "description": "The automation account arm id.",
          "type": "string"
        },
        "scheduleName": {
          "description": "The schedule arm name.",
          "type": "string"
        },
        "jobScheduleName": {
          "description": "The job schedule arm name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2ARecoveryPointDetails": {
      "description": "A2A provider specific recovery point details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificRecoveryPointDetails"
        }
      ],
      "properties": {
        "recoveryPointSyncType": {
          "description": "A value indicating whether the recovery point is multi VM consistent.",
          "enum": [
            "MultiVmSyncRecoveryPoint",
            "PerVmRecoveryPoint"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryPointSyncType",
            "modelAsString": true
          }
        },
        "disks": {
          "description": "List of disk ids representing a recovery point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2ARemoveDisksInput": {
      "description": "A2A remove disk(s) input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RemoveDisksProviderSpecificInput"
        }
      ],
      "properties": {
        "vmDisksUris": {
          "description": "The list of vm disk vhd URIs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmManagedDisksIds": {
          "description": "The list of vm managed disk Ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AReplicationDetails": {
      "description": "A2A provider specific settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReplicationProviderSpecificSettings"
        }
      ],
      "properties": {
        "fabricObjectId": {
          "description": "The fabric specific object Id of the virtual machine.",
          "type": "string"
        },
        "initialPrimaryFabricLocation": {
          "description": "The initial primary fabric location.",
          "type": "string",
          "readOnly": true
        },
        "initialRecoveryFabricLocation": {
          "description": "The initial recovery fabric location.",
          "type": "string",
          "readOnly": true
        },
        "multiVmGroupId": {
          "description": "The multi vm group Id.",
          "type": "string"
        },
        "multiVmGroupName": {
          "description": "The multi vm group name.",
          "type": "string"
        },
        "multiVmGroupCreateOption": {
          "description": "Whether Multi VM group is auto created or specified by user.",
          "enum": [
            "AutoCreated",
            "UserSpecified"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MultiVmGroupCreateOption",
            "modelAsString": true
          }
        },
        "managementId": {
          "description": "The management Id.",
          "type": "string"
        },
        "protectedDisks": {
          "description": "The list of protected disks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AProtectedDiskDetails"
          }
        },
        "unprotectedDisks": {
          "description": "The list of unprotected disks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AUnprotectedDiskDetails"
          }
        },
        "protectedManagedDisks": {
          "description": "The list of protected managed disks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AProtectedManagedDiskDetails"
          }
        },
        "recoveryBootDiagStorageAccountId": {
          "description": "The recovery boot diagnostic storage account Arm Id.",
          "type": "string"
        },
        "primaryFabricLocation": {
          "description": "Primary fabric location.",
          "type": "string"
        },
        "recoveryFabricLocation": {
          "description": "The recovery fabric location.",
          "type": "string"
        },
        "osType": {
          "description": "The type of operating system.",
          "type": "string"
        },
        "recoveryAzureVMSize": {
          "description": "The size of recovery virtual machine.",
          "type": "string"
        },
        "recoveryAzureVMName": {
          "description": "The name of recovery virtual machine.",
          "type": "string"
        },
        "recoveryAzureResourceGroupId": {
          "description": "The recovery resource group.",
          "type": "string"
        },
        "recoveryCloudService": {
          "description": "The recovery cloud service.",
          "type": "string"
        },
        "recoveryAvailabilitySet": {
          "description": "The recovery availability set.",
          "type": "string"
        },
        "selectedRecoveryAzureNetworkId": {
          "description": "The recovery virtual network.",
          "type": "string"
        },
        "selectedTfoAzureNetworkId": {
          "description": "The test failover virtual network.",
          "type": "string"
        },
        "vmNics": {
          "description": "The virtual machine nic details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VMNicDetails"
          }
        },
        "vmSyncedConfigDetails": {
          "$ref": "#/definitions/AzureToAzureVmSyncedConfigDetails",
          "description": "The synced configuration details."
        },
        "monitoringPercentageCompletion": {
          "format": "int32",
          "description": "The percentage of the monitoring job. The type of the monitoring job is defined by MonitoringJobType property.",
          "type": "integer"
        },
        "monitoringJobType": {
          "description": "The type of the monitoring job. The progress is contained in MonitoringPercentageCompletion property.",
          "type": "string"
        },
        "lastHeartbeat": {
          "format": "date-time",
          "description": "The last heartbeat received from the source server.",
          "type": "string"
        },
        "agentVersion": {
          "description": "The agent version.",
          "type": "string"
        },
        "isReplicationAgentUpdateRequired": {
          "description": "A value indicating whether replication agent update is required.",
          "type": "boolean"
        },
        "recoveryFabricObjectId": {
          "description": "The recovery fabric object Id.",
          "type": "string"
        },
        "vmProtectionState": {
          "description": "The protection state for the vm.",
          "type": "string"
        },
        "vmProtectionStateDescription": {
          "description": "The protection state description for the vm.",
          "type": "string"
        },
        "lifecycleId": {
          "description": "An id associated with the PE that survives actions like switch protection which change the backing PE/CPE objects internally.The lifecycle id gets carried forward to have a link/continuity in being able to have an Id that denotes the \"same\" protected item even though other internal Ids/ARM Id might be changing.",
          "type": "string"
        },
        "testFailoverRecoveryFabricObjectId": {
          "description": "The test failover fabric object Id.",
          "type": "string"
        },
        "rpoInSeconds": {
          "format": "int64",
          "description": "The last RPO value in seconds.",
          "type": "integer"
        },
        "lastRpoCalculatedTime": {
          "format": "date-time",
          "description": "The time (in UTC) when the last RPO value was calculated by Protection Service.",
          "type": "string"
        },
        "recoveryAvailabilityZone": {
          "description": "The recovery availability zone.",
          "type": "string"
        },
        "vmEncryptionType": {
          "description": "The encryption type of the VM.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "NotEncrypted",
            "OnePassEncrypted",
            "TwoPassEncrypted"
          ],
          "x-ms-enum": {
            "name": "VmEncryptionType",
            "modelAsString": true
          }
        },
        "tfoAzureVMName": {
          "description": "The test failover VM name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AReprotectInput": {
      "description": "Azure specific reprotect input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReverseReplicationProviderSpecificInput"
        }
      ],
      "properties": {
        "recoveryContainerId": {
          "description": "The recovery container Id.",
          "type": "string"
        },
        "vmDisks": {
          "description": "The list of vm disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmDiskInputDetails"
          }
        },
        "recoveryResourceGroupId": {
          "description": "The recovery resource group Id. Valid for V2 scenarios.",
          "type": "string"
        },
        "recoveryCloudServiceId": {
          "description": "The recovery cloud service Id. Valid for V1 scenarios.",
          "type": "string"
        },
        "recoveryAvailabilitySetId": {
          "description": "The recovery availability set.",
          "type": "string"
        },
        "policyId": {
          "description": "The Policy Id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2ASwitchProtectionInput": {
      "description": "A2A specific switch protection input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SwitchProtectionProviderSpecificInput"
        }
      ],
      "properties": {
        "recoveryContainerId": {
          "description": "The recovery container Id.",
          "type": "string"
        },
        "vmDisks": {
          "description": "The list of vm disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmDiskInputDetails"
          }
        },
        "vmManagedDisks": {
          "description": "The list of vm managed disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmManagedDiskInputDetails"
          }
        },
        "recoveryResourceGroupId": {
          "description": "The recovery resource group Id. Valid for V2 scenarios.",
          "type": "string"
        },
        "recoveryCloudServiceId": {
          "description": "The recovery cloud service Id. Valid for V1 scenarios.",
          "type": "string"
        },
        "recoveryAvailabilitySetId": {
          "description": "The recovery availability set.",
          "type": "string"
        },
        "policyId": {
          "description": "The Policy Id.",
          "type": "string"
        },
        "recoveryBootDiagStorageAccountId": {
          "description": "The boot diagnostic storage account.",
          "type": "string"
        },
        "diskEncryptionInfo": {
          "$ref": "#/definitions/DiskEncryptionInfo",
          "description": "The recovery disk encryption information."
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AUnprotectedDiskDetails": {
      "description": "A2A unprotected disk details.",
      "type": "object",
      "properties": {
        "diskLunId": {
          "format": "int32",
          "description": "The source lun Id for the data disk.",
          "type": "integer"
        }
      }
    },
    "A2AUpdateContainerMappingInput": {
      "description": "A2A update protection container mapping.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReplicationProviderSpecificUpdateContainerMappingInput"
        }
      ],
      "properties": {
        "agentAutoUpdateStatus": {
          "description": "A value indicating whether the auto update is enabled.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AgentAutoUpdateStatus",
            "modelAsString": true
          }
        },
        "automationAccountArmId": {
          "description": "The automation account arm id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AUpdateReplicationProtectedItemInput": {
      "description": "InMage Azure V2 input to update replication protected item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/UpdateReplicationProtectedItemProviderInput"
        }
      ],
      "properties": {
        "recoveryCloudServiceId": {
          "description": "The target cloud service ARM Id (for V1).",
          "type": "string"
        },
        "recoveryResourceGroupId": {
          "description": "The target resource group ARM Id (for V2).",
          "type": "string"
        },
        "managedDiskUpdateDetails": {
          "description": "Managed disk update details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/A2AVmManagedDiskUpdateDetails"
          }
        },
        "recoveryBootDiagStorageAccountId": {
          "description": "The boot diagnostic storage account.",
          "type": "string"
        },
        "diskEncryptionInfo": {
          "$ref": "#/definitions/DiskEncryptionInfo",
          "description": "The recovery os disk encryption information."
        },
        "tfoAzureVMName": {
          "description": "The user given name for test failover VM.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "A2A"
    },
    "A2AVmDiskInputDetails": {
      "description": "Azure VM disk input details.",
      "type": "object",
      "properties": {
        "diskUri": {
          "description": "The disk Uri.",
          "type": "string"
        },
        "recoveryAzureStorageAccountId": {
          "description": "The recovery VHD storage account Id.",
          "type": "string"
        },
        "primaryStagingAzureStorageAccountId": {
          "description": "The primary staging storage account Id.",
          "type": "string"
        }
      }
    },
    "A2AVmManagedDiskInputDetails": {
      "description": "Azure VM managed disk input details.",
      "type": "object",
      "properties": {
        "diskId": {
          "description": "The disk Id.",
          "type": "string"
        },
        "primaryStagingAzureStorageAccountId": {
          "description": "The primary staging storage account Arm Id.",
          "type": "string"
        },
        "recoveryResourceGroupId": {
          "description": "The target resource group Arm Id.",
          "type": "string"
        },
        "recoveryReplicaDiskAccountType": {
          "description": "The replica disk type. Its an optional value and will be same as source disk type if not user provided.",
          "type": "string"
        },
        "recoveryTargetDiskAccountType": {
          "description": "The target disk type after failover. Its an optional value and will be same as source disk type if not user provided.",
          "type": "string"
        },
        "recoveryDiskEncryptionSetId": {
          "description": "The recovery disk encryption set Id.",
          "type": "string"
        },
        "diskEncryptionInfo": {
          "$ref": "#/definitions/DiskEncryptionInfo",
          "description": "The recovery disk encryption information (for one / single pass flows)."
        }
      }
    },
    "A2AVmManagedDiskUpdateDetails": {
      "description": "Azure VM managed disk update input details.",
      "type": "object",
      "properties": {
        "diskId": {
          "description": "The disk Id.",
          "type": "string"
        },
        "recoveryTargetDiskAccountType": {
          "description": "The target disk type before failover.",
          "type": "string"
        },
        "recoveryReplicaDiskAccountType": {
          "description": "The replica disk type before failover.",
          "type": "string"
        },
        "diskEncryptionInfo": {
          "$ref": "#/definitions/DiskEncryptionInfo",
          "description": "The recovery disk encryption information (for one / single pass flows)."
        },
        "failoverDiskName": {
          "description": "The target disk name for unplanned failover operation.",
          "type": "string"
        },
        "tfoDiskName": {
          "description": "The target disk name for test failover operation.",
          "type": "string"
        }
      }
    },
    "AddDisksInput": {
      "description": "Input for add disk(s) operation.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddDisksInputProperties",
          "description": "Add disks input properties."
        }
      }
    },
    "AddDisksInputProperties": {
      "description": "Add Disks input properties.",
      "type": "object",
      "properties": {
        "providerSpecificDetails": {
          "$ref": "#/definitions/AddDisksProviderSpecificInput",
          "description": "The ReplicationProviderInput. For HyperVReplicaAzure provider, it will be AzureEnableProtectionInput object. For San provider, it will be SanEnableProtectionInput object. For HyperVReplicaAzure provider, it can be null."
        }
      }
    },
    "AddDisksProviderSpecificInput": {
      "description": "Add Disks provider specific input.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "AddRecoveryServicesProviderInput": {
      "description": "Input required to add a provider.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddRecoveryServicesProviderInputProperties",
          "description": "The properties of an add provider request."
        }
      }
    },
    "AddRecoveryServicesProviderInputProperties": {
      "description": "The properties of an add provider request.",
      "required": [
        "machineName",
        "authenticationIdentityInput",
        "resourceAccessIdentityInput"
      ],
      "type": "object",
      "properties": {
        "machineName": {
          "description": "The name of the machine where the provider is getting added.",
          "type": "string"
        },
        "authenticationIdentityInput": {
          "$ref": "#/definitions/IdentityProviderInput",
          "description": "The identity provider input for DRA authentication."
        },
        "resourceAccessIdentityInput": {
          "$ref": "#/definitions/IdentityProviderInput",
          "description": "The identity provider input for resource access."
        }
      }
    },
    "AddVCenterRequest": {
      "description": "Input required to add vCenter.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddVCenterRequestProperties",
          "description": "The properties of an add vCenter request."
        }
      }
    },
    "AddVCenterRequestProperties": {
      "description": "The properties of an add vCenter request.",
      "type": "object",
      "properties": {
        "friendlyName": {
          "description": "The friendly name of the vCenter.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address of the vCenter to be discovered.",
          "type": "string"
        },
        "processServerId": {
          "description": "The process server Id from where the discovery is orchestrated.",
          "type": "string"
        },
        "port": {
          "description": "The port number for discovery.",
          "type": "string"
        },
        "runAsAccountId": {
          "description": "The account Id which has privileges to discover the vCenter.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "description": "Implements the Alert class.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertProperties",
          "description": "Alert related data."
        }
      }
    },
    "AlertCollection": {
      "description": "Collection of alerts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of alerts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        },
        "nextLink": {
          "description": "The value of next link.",
          "type": "string"
        }
      }
    },
    "AlertProperties": {
      "description": "The properties of an alert.",
      "type": "object",
      "properties": {
        "sendToOwners": {
          "description": "A value indicating whether to send email to subscription administrator.",
          "type": "string"
        },
        "customEmailAddresses": {
          "description": "The custom email address for sending emails.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locale": {
          "description": "The locale for the email notification.",
          "type": "string"
        }
      }
    },
    "ApplyRecoveryPointInput": {
      "description": "Input to apply recovery point.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplyRecoveryPointInputProperties",
          "description": "The input properties to apply recovery point."
        }
      }
    },
    "ApplyRecoveryPointInputProperties": {
      "description": "Input properties to apply recovery point.",
      "type": "object",
      "properties": {
        "recoveryPointId": {
          "description": "The recovery point Id.",
          "type": "string"
        },
        "providerSpecificDetails": {
          "$ref": "#/definitions/ApplyRecoveryPointProviderSpecificInput",
          "description": "Provider specific input for applying recovery point."
        }
      }
    },
    "ApplyRecoveryPointProviderSpecificInput": {
      "description": "Provider specific input for apply recovery point.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "AsrJobDetails": {
      "description": "This class represents job details based on specific job type.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "AsrJobDetails"
    },
    "ASRTask": {
      "description": "Task of the Job.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "The Id.",
          "type": "string"
        },
        "name": {
          "description": "The unique Task name.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time.",
          "type": "string"
        },
        "allowedActions": {
          "description": "The state/actions applicable on this task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "friendlyName": {
          "description": "The name.",
          "type": "string"
        },
        "state": {
          "description": "The State. It is one of these values - NotStarted, InProgress, Succeeded, Failed, Cancelled, Suspended or Other.",
          "type": "string"
        },
        "stateDescription": {
          "description": "The description of the task state. For example - For Succeeded state, description can be Completed, PartiallySucceeded, CompletedWithInformation or Skipped.",
          "type": "string"
        },
        "taskType": {
          "description": "The type of task. Details in CustomDetails property depend on this type.",
          "type": "string"
        },
        "customDetails": {
          "$ref": "#/definitions/TaskTypeDetails",
          "description": "The custom task details based on the task type."
        },
        "groupTaskCustomDetails": {
          "$ref": "#/definitions/GroupTaskDetails",
          "description": "The custom task details based on the task type, if the task type is GroupTaskDetails or one of the types derived from it."
        },
        "errors": {
          "description": "The task error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobErrorDetails"
          }
        }
      }
    },
    "AutomationRunbookTaskDetails": {
      "description": "This class represents the task details for an automation runbook.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskTypeDetails"
        }
      ],
      "properties": {
        "name": {
          "description": "The recovery plan task name.",
          "type": "string"
        },
        "cloudServiceName": {
          "description": "The cloud service of the automation runbook account.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "The subscription Id of the automation runbook account.",
          "type": "string"
        },
        "accountName": {
          "description": "The automation account name of the runbook.",
          "type": "string"
        },
        "runbookId": {
          "description": "The runbook Id.",
          "type": "string"
        },
        "runbookName": {
          "description": "The runbook name.",
          "type": "string"
        },
        "jobId": {
          "description": "The job Id of the runbook execution.",
          "type": "string"
        },
        "jobOutput": {
          "description": "The execution output of the runbook.",
          "type": "string"
        },
        "isPrimarySideScript": {
          "description": "A value indicating whether it is a primary side script or not.",
          "type": "boolean"
        }
      },
      "x-ms-discriminator-value": "AutomationRunbookTaskDetails"
    },
    "AzureFabricCreationInput": {
      "description": "Fabric provider specific settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FabricSpecificCreationInput"
        }
      ],
      "properties": {
        "location": {
          "description": "The Location.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Azure"
    },
    "AzureFabricSpecificDetails": {
      "description": "Azure Fabric Specific Details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FabricSpecificDetails"
        }
      ],
      "properties": {
        "location": {
          "description": "The Location for the Azure fabric.",
          "type": "string"
        },
        "containerIds": {
          "description": "The container Ids for the Azure fabric.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-ms-discriminator-value": "Azure"
    },
    "AzureToAzureCreateNetworkMappingInput": {
      "description": "Create network mappings input properties/behavior specific to Azure to Azure Network mapping.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FabricSpecificCreateNetworkMappingInput"
        }
      ],
      "properties": {
        "primaryNetworkId": {
          "description": "The primary azure vnet Id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureToAzure"
    },
    "AzureToAzureNetworkMappingSettings": {
      "description": "A2A Network Mapping fabric specific settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NetworkMappingFabricSpecificSettings"
        }
      ],
      "properties": {
        "primaryFabricLocation": {
          "description": "The primary fabric location.",
          "type": "string"
        },
        "recoveryFabricLocation": {
          "description": "The recovery fabric location.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureToAzure"
    },
    "AzureToAzureUpdateNetworkMappingInput": {
      "description": "Updates network mappings input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FabricSpecificUpdateNetworkMappingInput"
        }
      ],
      "properties": {
        "primaryNetworkId": {
          "description": "The primary azure vnet Id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureToAzure"
    },
    "AzureToAzureVmSyncedConfigDetails": {
      "description": "Azure to Azure VM synced configuration details.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "The Azure VM tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputEndpoints": {
          "description": "The Azure VM input endpoints.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputEndpoint"
          }
        }
      }
    },
    "AzureVmDiskDetails": {
      "description": "Disk details for E2A provider.",
      "type": "object",
      "properties": {
        "vhdType": {
          "description": "VHD type.",
          "type": "string"
        },
        "vhdId": {
          "description": "The VHD id.",
          "type": "string"
        },
        "diskId": {
          "description": "The disk resource id.",
          "type": "string"
        },
        "vhdName": {
          "description": "VHD name.",
          "type": "string"
        },
        "maxSizeMB": {
          "description": "Max side in MB.",
          "type": "string"
        },
        "targetDiskLocation": {
          "description": "Blob uri of the Azure disk.",
          "type": "string"
        },
        "targetDiskName": {
          "description": "The target Azure disk name.",
          "type": "string"
        },
        "lunId": {
          "description": "Ordinal\\LunId of the disk for the Azure VM.",
          "type": "string"
        },
        "diskEncryptionSetId": {
          "description": "The DiskEncryptionSet ARM ID.",
          "type": "string"
        }
      }
    },
    "ComputeSizeErrorDetails": {
      "description": "Represents the error used to indicate why the target compute size is not applicable.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The error message.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the error.",
          "type": "string"
        }
      }
    },
    "ConfigurationSettings": {
      "description": "Replication provider specific settings.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets the class type. Overridden in derived classes.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "instanceType"
    },
    "ConfigureAlertRequest": {
      "description": "Request to configure alerts for the system.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigureAlertRequestProperties",
          "description": "The properties of a configure alert request."
        }
      }
    },
    "ConfigureAlertRequestProperties": {
      "description": "Properties of a configure alert request.",
      "type": "object",
      "properties": {
        "sendToOwners": {
          "description": "A value indicating whether to send email to subscription administrator.",
          "type": "string"
        },
        "customEmailAddresses": {
          "description": "The custom email address for sending emails.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locale": {
          "description": "The locale for the email notification.",
          "type": "string"
        }
      }
    },
    "ConsistencyCheckTaskDetails": {
      "description": "This class contains monitoring details of all the inconsistent Protected Entities in Vmm.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskTypeDetails"
        }
      ],
      "properties": {
        "vmDetails": {
          "description": "The list of inconsistent Vm details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InconsistentVmDetails"
          }
        }
      },
      "x-ms-discriminator-value": "ConsistencyCheckTaskDetails"
    },
    "CreateNetworkMappingInput": {
      "description": "Create network mappings input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreateNetworkMappingInputProperties",
          "description": "Input properties for creating network mapping."
        }
      }
    },
    "CreateNetworkMappingInputProperties": {
      "description": "Common input details for network mapping operation.",
      "type": "object",
      "properties": {
        "recoveryFabricName": {
          "description": "Recovery fabric Name.",
          "type": "string"
        },
        "recoveryNetworkId": {
          "description": "Recovery network Id.",
          "type": "string"
        },
        "fabricSpecificDetails": {
          "$ref": "#/definitions/FabricSpecificCreateNetworkMappingInput",
          "description": "Fabric specific input properties."
        }
      }
    },
    "CreatePolicyInput": {
      "description": "Protection Policy input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreatePolicyInputProperties",
          "description": "Policy creation properties."
        }
      }
    },
    "CreatePolicyInputProperties": {
      "description": "Policy creation properties.",
      "type": "object",
      "properties": {
        "providerSpecificInput": {
          "$ref": "#/definitions/PolicyProviderSpecificInput",
          "description": "The ReplicationProviderSettings."
        }
      }
    },
    "CreateProtectionContainerInput": {
      "description": "Create protection container input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreateProtectionContainerInputProperties",
          "description": "Create protection container input properties."
        }
      }
    },
    "CreateProtectionContainerInputProperties": {
      "description": "Create protection container input properties.",
      "type": "object",
      "properties": {
        "providerSpecificInput": {
          "description": "Provider specific inputs for container creation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReplicationProviderSpecificContainerCreationInput"
          }
        }
      }
    },
    "CreateProtectionContainerMappingInput": {
      "description": "Configure pairing input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreateProtectionContainerMappingInputProperties",
          "description": "Configure protection input properties."
        }
      }
    },
    "CreateProtectionContainerMappingInputProperties": {
      "description": "Configure pairing input properties.",
      "type": "object",
      "properties": {
        "targetProtectionContainerId": {
          "description": "The target unique protection container name.",
          "type": "string"
        },
        "policyId": {
          "description": "Applicable policy.",
          "type": "string"
        },
        "providerSpecificInput": {
          "$ref": "#/definitions/ReplicationProviderSpecificContainerMappingInput",
          "description": "Provider specific input for pairing."
        }
      }
    },
    "CreateRecoveryPlanInput": {
      "description": "Create recovery plan input class.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreateRecoveryPlanInputProperties",
          "description": "Recovery plan creation properties."
        }
      }
    },
    "CreateRecoveryPlanInputProperties": {
      "description": "Recovery plan creation properties.",
      "required": [
        "primaryFabricId",
        "recoveryFabricId",
        "groups"
      ],
      "type": "object",
      "properties": {
        "primaryFabricId": {
          "description": "The primary fabric Id.",
          "type": "string"
        },
        "recoveryFabricId": {
          "description": "The recovery fabric Id.",
          "type": "string"
        },
        "failoverDeploymentModel": {
          "description": "The failover deployment model.",
          "enum": [
            "NotApplicable",
            "Classic",
            "ResourceManager"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "FailoverDeploymentModel",
            "modelAsString": true
          }
        },
        "groups": {
          "description": "The recovery plan groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecoveryPlanGroup"
          }
        },
        "providerSpecificInput": {
          "description": "The provider specific input.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecoveryPlanProviderSpecificInput"
          }
        }
      }
    },
    "CurrentJobDetails": {
      "description": "Current job details of the migration item.",
      "type": "object",
      "properties": {
        "jobName": {
          "description": "The job name.",
          "type": "string"
        },
        "jobId": {
          "description": "The ARM Id of the job being executed.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time of the job.",
          "type": "string"
        }
      }
    },
    "CurrentScenarioDetails": {
      "description": "Current scenario details of the protected entity.",
      "type": "object",
      "properties": {
        "scenarioName": {
          "description": "Scenario name.",
          "type": "string"
        },
        "jobId": {
          "description": "ARM Id of the job being executed.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "Start time of the workflow.",
          "type": "string"
        }
      }
    },
    "DataStore": {
      "description": "The data store details of the MT.",
      "type": "object",
      "properties": {
        "symbolicName": {
          "description": "The symbolic name of data store.",
          "type": "string"
        },
        "uuid": {
          "description": "The uuid of data store.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of data store in GBs.",
          "type": "string"
        },
        "freeSpace": {
          "description": "The free space of data store in GBs.",
          "type": "string"
        },
        "type": {
          "description": "The type of data store.",
          "type": "string"
        }
      }
    },
    "DisableProtectionInput": {
      "description": "Disable protection input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DisableProtectionInputProperties",
          "description": "Disable protection input properties."
        }
      }
    },
    "DisableProtectionInputProperties": {
      "description": "Disable protection input properties.",
      "type": "object",
      "properties": {
        "disableProtectionReason": {
          "description": "Disable protection reason. It can have values NotSpecified/MigrationComplete.",
          "enum": [
            "NotSpecified",
            "MigrationComplete"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DisableProtectionReason",
            "modelAsString": true
          }
        },
        "replicationProviderInput": {
          "$ref": "#/definitions/DisableProtectionProviderSpecificInput",
          "description": "Replication provider specific input."
        }
      }
    },
    "DisableProtectionProviderSpecificInput": {
      "description": "Disable protection provider specific input.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "DiscoverProtectableItemRequest": {
      "description": "Request to add a physical machine as a protectable item in a container.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoverProtectableItemRequestProperties",
          "description": "The properties of a discover protectable item request."
        }
      }
    },
    "DiscoverProtectableItemRequestProperties": {
      "description": "Discover protectable item properties.",
      "type": "object",
      "properties": {
        "friendlyName": {
          "description": "The friendly name of the physical machine.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address of the physical machine to be discovered.",
          "type": "string"
        },
        "osType": {
          "description": "The OS type on the physical machine.",
          "type": "string"
        }
      }
    },
    "DiskDetails": {
      "description": "On-prem disk details data.",
      "type": "object",
      "properties": {
        "maxSizeMB": {
          "format": "int64",
          "description": "The hard disk max size in MB.",
          "type": "integer"
        },
        "vhdType": {
          "description": "The type of the volume.",
          "type": "string"
        },
        "vhdId": {
          "description": "The VHD Id.",
          "type": "string"
        },
        "vhdName": {
          "description": "The VHD name.",
          "type": "string"
        }
      }
    },
    "DiskEncryptionInfo": {
      "description": "Recovery disk encryption info (BEK and KEK).",
      "type": "object",
      "properties": {
        "diskEncryptionKeyInfo": {
          "$ref": "#/definitions/DiskEncryptionKeyInfo",
          "description": "The recovery KeyVault reference for secret."
        },
        "keyEncryptionKeyInfo": {
          "$ref": "#/definitions/KeyEncryptionKeyInfo",
          "description": "The recovery KeyVault reference for key."
        }
      }
    },
    "DiskEncryptionKeyInfo": {
      "description": "Disk Encryption Key Information (BitLocker Encryption Key (BEK) on Windows).",
      "type": "object",
      "properties": {
        "secretIdentifier": {
          "description": "The secret url / identifier.",
          "type": "string"
        },
        "keyVaultResourceArmId": {
          "description": "The KeyVault resource ARM id for secret.",
          "type": "string"
        }
      }
    },
    "DiskVolumeDetails": {
      "description": "Volume details.",
      "type": "object",
      "properties": {
        "label": {
          "description": "The volume label.",
          "type": "string"
        },
        "name": {
          "description": "The volume name.",
          "type": "string"
        }
      }
    },
    "Display": {
      "description": "Contains the localized display information for this particular operation / action. These value will be used by several clients for (1) custom role definitions for RBAC; (2) complex query filters for the event service; and (3) audit history / records for management operations.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The provider. The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
          "type": "string"
        },
        "resource": {
          "description": "The resource. The localized friendly form of the resource related to this action/operation – it should match the public documentation for the resource provider. It should use Title Casing. This value should be unique for a particular URL type (e.g. nested types should *not* reuse their parent’s display.resource field). e.g. \"Virtual Machines\" or \"Scheduler Job Collections\", or \"Virtual Machine VM Sizes\" or \"Scheduler Jobs\"",
          "type": "string"
        },
        "operation": {
          "description": "The operation. The localized friendly name for the operation, as it should be shown to the user. It should be concise (to fit in drop downs) but clear (i.e. self-documenting). It should use Title Casing. Prescriptive guidance: Read Create or Update Delete 'ActionName'",
          "type": "string"
        },
        "description": {
          "description": "The description. The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise – it will be used in tool tips and detailed views. Prescriptive guidance for namespaces: Read any 'display.provider' resource Create or Update any 'display.provider' resource Delete any 'display.provider' resource Perform any other action on any 'display.provider' resource Prescriptive guidance for namespaces: Read any 'display.resource' Create or Update any 'display.resource' Delete any 'display.resource' 'ActionName' any 'display.resources'",
          "type": "string"
        }
      }
    },
    "EnableMigrationInput": {
      "description": "Enable migration input.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnableMigrationInputProperties",
          "description": "Enable migration input properties."
        }
      }
    },
    "EnableMigrationInputProperties": {
      "description": "Enable migration input properties.",
      "required": [
        "policyId",
        "providerSpecificDetails"
      ],
      "type": "object",
      "properties": {
        "policyId": {
          "description": "The policy Id.",
          "type": "string"
        },
        "providerSpecificDetails": {
          "$ref": "#/definitions/EnableMigrationProviderSpecificInput",
          "description": "The provider specific details."
        }
      }
    },
    "EnableMigrationProviderSpecificInput": {
      "description": "Enable migration provider specific input.",
      "required": [
        "instanceType"
      ],
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "EnableProtectionInput": {
      "description": "Enable protection input.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnableProtectionInputProperties",
          "description": "Enable protection input properties."
        }
      }
    },
    "EnableProtectionInputProperties": {
      "description": "Enable protection input properties.",
      "type": "object",
      "properties": {
        "policyId": {
          "description": "The Policy Id.",
          "type": "string"
        },
        "protectableItemId": {
          "description": "The protectable item Id.",
          "type": "string"
        },
        "providerSpecificDetails": {
          "$ref": "#/definitions/EnableProtectionProviderSpecificInput",
          "description": "The ReplicationProviderInput. For HyperVReplicaAzure provider, it will be AzureEnableProtectionInput object. For San provider, it will be SanEnableProtectionInput object. For HyperVReplicaAzure provider, it can be null."
        }
      }
    },
    "EnableProtectionProviderSpecificInput": {
      "description": "Enable protection provider specific input.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "EncryptionDetails": {
      "description": "Encryption details for the fabric.",
      "type": "object",
      "properties": {
        "kekState": {
          "description": "The key encryption key state for the Vmm.",
          "type": "string"
        },
        "kekCertThumbprint": {
          "description": "The key encryption key certificate thumbprint.",
          "type": "string"
        },
        "kekCertExpiryDate": {
          "format": "date-time",
          "description": "The key encryption key certificate expiry date.",
          "type": "string"
        }
      }
    },
    "Event": {
      "description": "Implements the Event class.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventProperties",
          "description": "Event related data."
        }
      }
    },
    "EventCollection": {
      "description": "Collection of fabric details.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of events.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        },
        "nextLink": {
          "description": "The value of next link.",
          "type": "string"
        }
      }
    },
    "EventProperties": {
      "description": "The properties of a monitoring event.",
      "type": "object",
      "properties": {
        "eventCode": {
          "description": "The Id of the monitoring event.",
          "type": "string"
        },
        "description": {
          "description": "The event name.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of the event. for example: VM Health, Server Health, Job Failure etc.",
          "type": "string"
        },
        "affectedObjectFriendlyName": {
          "description": "The friendly name of the source of the event on which it is raised (for example, VM, VMM etc).",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the event.",
          "type": "string"
        },
        "timeOfOccurrence": {
          "format": "date-time",
          "description": "The time of occurrence of the event.",
          "type": "string"
        },
        "fabricId": {
          "description": "The ARM ID of the fabric.",
          "type": "string"
        },
        "providerSpecificDetails": {
          "$ref": "#/definitions/EventProviderSpecificDetails",
          "description": "The provider specific settings."
        },
        "eventSpecificDetails": {
          "$ref": "#/definitions/EventSpecificDetails",
          "description": "The event specific settings."
        },
        "healthErrors": {
          "description": "The list of errors / warnings capturing details associated with the issue(s).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthError"
          }
        }
      }
    },
    "EventProviderSpecificDetails": {
      "description": "Model class for provider specific details for an event.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets the class type. Overridden in derived classes.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "instanceType"
    },
    "EventQueryParameter": {
      "description": "Implements the event query parameter.",
      "type": "object",
      "properties": {
        "eventCode": {
          "description": "The source id of the events to be queried.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the events to be queried.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of the events to be queried.",
          "type": "string"
        },
        "fabricName": {
          "description": "The affected object server id of the events to be queried.",
          "type": "string"
        },
        "affectedObjectFriendlyName": {
          "description": "The affected object name of the events to be queried.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time of the time range within which the events are to be queried.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time of the time range within which the events are to be queried.",
          "type": "string"
        }
      }
    },
    "EventSpecificDetails": {
      "description": "Model class for event specific details for an event.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets the class type. Overridden in derived classes.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "instanceType"
    },
    "ExportJobDetails": {
      "description": "This class represents details for export jobs workflow.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "blobUri": {
          "description": "BlobUri of the exported jobs.",
          "type": "string"
        },
        "sasToken": {
          "description": "The sas token to access blob.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "ExportJobDetails"
    },
    "Fabric": {
      "description": "Fabric definition.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/FabricProperties",
          "description": "Fabric related data."
        }
      }
    },
    "FabricCollection": {
      "description": "Collection of fabric details.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The fabric details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fabric"
          }
        },
        "nextLink": {
          "description": "The value of next link.",
          "type": "string"
        }
      }
    },
    "FabricCreationInput": {
      "description": "Site details provided during the time of site creation",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FabricCreationInputProperties",
          "description": "Fabric creation input."
        }
      }
    },
    "FabricCreationInputProperties": {
      "description": "Properties of site details provided during the time of site creation",
      "type": "object",
      "properties": {
        "customDetails": {
          "$ref": "#/definitions/FabricSpecificCreationInput",
          "description": "Fabric provider specific creation input."
        }
      }
    },
    "FabricProperties": {
      "description": "Fabric properties.",
      "type": "object",
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the fabric.",
          "type": "string"
        },
        "encryptionDetails": {
          "$ref": "#/definitions/EncryptionDetails",
          "description": "Encryption details for the fabric."
        },
        "rolloverEncryptionDetails": {
          "$ref": "#/definitions/EncryptionDetails",
          "description": "Rollover encryption details for the fabric."
        },
        "internalIdentifier": {
          "description": "Dra Registration Id.",
          "type": "string"
        },
        "bcdrState": {
          "description": "BCDR state of the fabric.",
          "type": "string"
        },
        "customDetails": {
          "$ref": "#/definitions/FabricSpecificDetails",
          "description": "Fabric specific settings."
        },
        "healthErrorDetails": {
          "description": "Fabric health error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthError"
          }
        },
        "health": {
          "description": "Health of fabric.",
          "type": "string"
        }
      }
    },
    "FabricReplicationGroupTaskDetails": {
      "description": "This class represents the fabric replication group task details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskTypeDetails"
        }
      ],
      "properties": {
        "skippedReason": {
          "description": "The skipped reason.",
          "type": "string"
        },
        "skippedReasonString": {
          "description": "The skipped reason string.",
          "type": "string"
        },
        "jobTask": {
          "$ref": "#/definitions/JobEntity",
          "description": "The job entity."
        }
      },
      "x-ms-discriminator-value": "FabricReplicationGroupTaskDetails"
    },
    "FabricSpecificCreateNetworkMappingInput": {
      "description": "Input details specific to fabrics during Network Mapping.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The instance type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "FabricSpecificCreationInput": {
      "description": "Fabric provider specific settings.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets the class type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "FabricSpecificDetails": {
      "description": "Fabric specific details.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets the class type. Overridden in derived classes.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "instanceType"
    },
    "FabricSpecificUpdateNetworkMappingInput": {
      "description": "Input details specific to fabrics during Network Mapping.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The instance type.",
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "FailoverJobDetails": {
      "description": "This class represents the details for a failover job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "protectedItemDetails": {
          "description": "The test VM details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FailoverReplicationProtectedItemDetails"
          }
        }
      },
      "x-ms-discriminator-value": "FailoverJobDetails"
    },
    "FailoverProcessServerRequest": {
      "description": "Request to failover a process server.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FailoverProcessServerRequestProperties",
          "description": "The properties of the PS Failover request."
        }
      }
    },
    "FailoverProcessServerRequestProperties": {
      "description": "The properties of the Failover Process Server request.",
      "type": "object",
      "properties": {
        "containerName": {
          "description": "The container identifier.",
          "type": "string"
        },
        "sourceProcessServerId": {
          "description": "The source process server.",
          "type": "string"
        },
        "targetProcessServerId": {
          "description": "The new process server.",
          "type": "string"
        },
        "vmsToMigrate": {
          "description": "The VMS to migrate.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateType": {
          "description": "A value for failover type. It can be systemlevel/serverlevel",
          "type": "string"
        }
      }
    },
    "FailoverReplicationProtectedItemDetails": {
      "description": "Failover details for a replication protected item.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name.",
          "type": "string"
        },
        "friendlyName": {
          "description": "The friendly name.",
          "type": "string"
        },
        "testVmName": {
          "description": "The test Vm name.",
          "type": "string"
        },
        "testVmFriendlyName": {
          "description": "The test Vm friendly name.",
          "type": "string"
        },
        "networkConnectionStatus": {
          "description": "The network connection status.",
          "type": "string"
        },
        "networkFriendlyName": {
          "description": "The network friendly name.",
          "type": "string"
        },
        "subnet": {
          "description": "The network subnet.",
          "type": "string"
        },
        "recoveryPointId": {
          "description": "The recovery point Id.",
          "type": "string"
        },
        "recoveryPointTime": {
          "format": "date-time",
          "description": "The recovery point time.",
          "type": "string"
        }
      }
    },
    "GroupTaskDetails": {
      "description": "This class represents the group task details when parent child relationship exists in the drill down.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "The type of task details.",
          "type": "string"
        },
        "childTasks": {
          "description": "The child tasks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ASRTask"
          }
        }
      },
      "discriminator": "instanceType"
    },
    "HealthError": {
      "description": "Health Error",
      "type": "object",
      "properties": {
        "innerHealthErrors": {
          "description": "The inner health errors. HealthError having a list of HealthError as child errors is problematic. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InnerHealthError"
          }
        },
        "errorSource": {
          "description": "Source of error.",
          "type": "string"
        },
        "errorType": {
          "description": "Type of error.",
          "type": "string"
        },
        "errorLevel": {
          "description": "Level of error.",
          "type": "string"
        },
        "errorCategory": {
          "description": "Category of error.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error code.",
          "type": "string"
        },
        "summaryMessage": {
          "description": "Summary message of the entity.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message.",
          "type": "string"
        },
        "possibleCauses": {
          "description": "Possible causes of error.",
          "type": "string"
        },
        "recommendedAction": {
          "description": "Recommended action to resolve error.",
          "type": "string"
        },
        "creationTimeUtc": {
          "format": "date-time",
          "description": "Error creation time (UTC)",
          "type": "string"
        },
        "recoveryProviderErrorMessage": {
          "description": "DRA error message.",
          "type": "string"
        },
        "entityId": {
          "description": "ID of the entity.",
          "type": "string"
        },
        "errorId": {
          "description": "The health error unique id.",
          "type": "string"
        },
        "customerResolvability": {
          "description": "Value indicating whether the health error is customer resolvable.",
          "enum": [
            "Allowed",
            "NotAllowed"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "HealthErrorCustomerResolvability",
            "modelAsString": true
          }
        }
      }
    },
    "HealthErrorSummary": {
      "description": "class to define the summary of the health error details.",
      "type": "object",
      "properties": {
        "summaryCode": {
          "description": "The code of the health error.",
          "type": "string"
        },
        "category": {
          "description": "The category of the health error.",
          "enum": [
            "None",
            "Replication",
            "TestFailover",
            "Configuration",
            "FabricInfrastructure",
            "VersionExpiry",
            "AgentAutoUpdate"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "HealthErrorCategory",
            "modelAsString": true
          }
        },
        "severity": {
          "description": "Severity of error.",
          "enum": [
            "NONE",
            "Warning",
            "Error",
            "Info"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Severity",
            "modelAsString": true
          }
        },
        "summaryMessage": {
          "description": "The summary message of the health error.",
          "type": "string"
        },
        "affectedResourceType": {
          "description": "The type of affected ARM resource.",
          "type": "string"
        },
        "affectedResourceSubtype": {
          "description": "The sub type of any subcomponent within the ARM resource that this might be applicable. Value remains null if not applicable.",
          "type": "string"
        },
        "affectedResourceCorrelationIds": {
          "description": "The list of affected resource correlation Ids. This can be used to uniquely identify the count of items affected by a specific category and severity as well as count of item affected by an specific issue.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HyperVReplica2012EventDetails": {
      "description": "Model class for event details of a HyperVReplica E2E event.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventProviderSpecificDetails"
        }
      ],
      "properties": {
        "containerName": {
          "description": "The container friendly name.",
          "type": "string"
        },
        "fabricName": {
          "description": "The fabric friendly name.",
          "type": "string"
        },
        "remoteContainerName": {
          "description": "The remote container name.",
          "type": "string"
        },
        "remoteFabricName": {
          "description": "The remote fabric name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplica2012"
    },
    "HyperVReplica2012R2EventDetails": {
      "description": "Model class for event details of a HyperVReplica blue E2E event.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventProviderSpecificDetails"
        }
      ],
      "properties": {
        "containerName": {
          "description": "The container friendly name.",
          "type": "string"
        },
        "fabricName": {
          "description": "The fabric friendly name.",
          "type": "string"
        },
        "remoteContainerName": {
          "description": "The remote container name.",
          "type": "string"
        },
        "remoteFabricName": {
          "description": "The remote fabric name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplica2012R2"
    },
    "HyperVReplicaAzureApplyRecoveryPointInput": {
      "description": "ApplyRecoveryPoint input specific to HyperVReplicaAzure provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApplyRecoveryPointProviderSpecificInput"
        }
      ],
      "properties": {
        "vaultLocation": {
          "description": "The vault location where the recovery Vm resides.",
          "type": "string"
        },
        "primaryKekCertificatePfx": {
          "description": "The primary kek certificate pfx.",
          "type": "string"
        },
        "secondaryKekCertificatePfx": {
          "description": "The secondary kek certificate pfx.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzureEnableProtectionInput": {
      "description": "Azure specific enable protection input.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EnableProtectionProviderSpecificInput"
        }
      ],
      "properties": {
        "hvHostVmId": {
          "description": "The Hyper-V host Vm Id.",
          "type": "string"
        },
        "vmName": {
          "description": "The Vm Name.",
          "type": "string"
        },
        "osType": {
          "description": "The OS type associated with vm.",
          "type": "string"
        },
        "vhdId": {
          "description": "The OS disk VHD id associated with vm.",
          "type": "string"
        },
        "targetStorageAccountId": {
          "description": "The storage account name.",
          "type": "string"
        },
        "targetAzureNetworkId": {
          "description": "The selected target Azure network Id.",
          "type": "string"
        },
        "targetAzureSubnetId": {
          "description": "The selected target Azure subnet Id.",
          "type": "string"
        },
        "enableRdpOnTargetOption": {
          "description": "The selected option to enable RDP\\SSH on target vm after failover. String value of {SrsDataContract.EnableRDPOnTargetOption} enum.",
          "type": "string"
        },
        "targetAzureVmName": {
          "description": "The target azure Vm Name.",
          "type": "string"
        },
        "logStorageAccountId": {
          "description": "The storage account to be used for logging during replication.",
          "type": "string"
        },
        "disksToInclude": {
          "description": "The list of VHD IDs of disks to be protected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetAzureV1ResourceGroupId": {
          "description": "The Id of the target resource group (for classic deployment) in which the failover VM is to be created.",
          "type": "string"
        },
        "targetAzureV2ResourceGroupId": {
          "description": "The Id of the target resource group (for resource manager deployment) in which the failover VM is to be created.",
          "type": "string"
        },
        "useManagedDisks": {
          "description": "A value indicating whether managed disks should be used during failover.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzureEventDetails": {
      "description": "Model class for event details of a HyperVReplica E2A event.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventProviderSpecificDetails"
        }
      ],
      "properties": {
        "containerName": {
          "description": "The container friendly name.",
          "type": "string"
        },
        "fabricName": {
          "description": "The fabric friendly name.",
          "type": "string"
        },
        "remoteContainerName": {
          "description": "The remote container name.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzureFailbackProviderInput": {
      "description": "HvrA provider specific input for failback.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificFailoverInput"
        }
      ],
      "properties": {
        "dataSyncOption": {
          "description": "Data sync option.",
          "type": "string"
        },
        "recoveryVmCreationOption": {
          "description": "ALR options to create alternate recovery.",
          "type": "string"
        },
        "providerIdForAlternateRecovery": {
          "description": "Provider ID for alternate location",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzureFailback"
    },
    "HyperVReplicaAzureFailoverProviderInput": {
      "description": "HvrA provider specific input for failover.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificFailoverInput"
        }
      ],
      "properties": {
        "vaultLocation": {
          "description": "Location of the vault.",
          "type": "string"
        },
        "primaryKekCertificatePfx": {
          "description": "Primary kek certificate pfx.",
          "type": "string"
        },
        "secondaryKekCertificatePfx": {
          "description": "Secondary kek certificate pfx.",
          "type": "string"
        },
        "recoveryPointId": {
          "description": "The recovery point id to be passed to failover to a particular recovery point. In case of latest recovery point, null should be passed.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzurePolicyDetails": {
      "description": "Hyper-V Replica Azure specific protection profile details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyProviderSpecificDetails"
        }
      ],
      "properties": {
        "recoveryPointHistoryDurationInHours": {
          "format": "int32",
          "description": "The duration (in hours) to which point the recovery history needs to be maintained.",
          "type": "integer"
        },
        "applicationConsistentSnapshotFrequencyInHours": {
          "format": "int32",
          "description": "The interval (in hours) at which Hyper-V Replica should create an application consistent snapshot within the VM.",
          "type": "integer"
        },
        "replicationInterval": {
          "format": "int32",
          "description": "The replication interval.",
          "type": "integer"
        },
        "onlineReplicationStartTime": {
          "description": "The scheduled start time for the initial replication. If this parameter is Null, the initial replication starts immediately.",
          "type": "string"
        },
        "encryption": {
          "description": "A value indicating whether encryption is enabled for virtual machines in this cloud.",
          "type": "string"
        },
        "activeStorageAccountId": {
          "description": "The active storage account Id.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzurePolicyInput": {
      "description": "Hyper-V Replica Azure specific input for creating a protection profile.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyProviderSpecificInput"
        }
      ],
      "properties": {
        "recoveryPointHistoryDuration": {
          "format": "int32",
          "description": "The duration (in hours) to which point the recovery history needs to be maintained.",
          "type": "integer"
        },
        "applicationConsistentSnapshotFrequencyInHours": {
          "format": "int32",
          "description": "The interval (in hours) at which Hyper-V Replica should create an application consistent snapshot within the VM.",
          "type": "integer"
        },
        "replicationInterval": {
          "format": "int32",
          "description": "The replication interval.",
          "type": "integer"
        },
        "onlineReplicationStartTime": {
          "description": "The scheduled start time for the initial replication. If this parameter is Null, the initial replication starts immediately.",
          "type": "string"
        },
        "storageAccounts": {
          "description": "The list of storage accounts to which the VMs in the primary cloud can replicate to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-ms-discriminator-value": "HyperVReplicaAzure"
    },
    "HyperVReplicaAzureReplicationDetails": {
      "description": "Hyper V Replica Azure provider specific settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReplicationProviderSpecificSettings"
        }
      ],
      "properties": {
        "azureVmDiskDetails": {
          "description": "Azure VM Disk details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureVmDiskDetails"
          }
        },
        "recoveryAzureVmName": {
          "description": "Recovery Azure given name.",
          "type": "string"
        },
        "recoveryAzureVMSize": {
          "description": "The Recovery Azure VM size.",
          "type": "string"
        },
        "recoveryAzureStorageAccount": {
          "description": "The recovery Azure storage account.",
          "type": "string"
        },
        "recoveryAzureLogStorageAccountId": {
          "description": "The ARM id of the log storage account used for replication. This will be set to null if no log storage account was provided during enable protection.",
          "type": "string"
        },
        "lastReplicatedTime": {
          "format": "date-time",
          "description": "The Last replication time.",
          "type": "string"
        },
        "rpoInSeconds": {
          "format": "int64",
          "description": "Last RPO value.",
          "type": "integer"
        },
        "lastRpoCalculatedTime": {
          "format": "date-time",
          "description": "The last RPO calculated time.",
          "type": "string"
        },
        "vmId": {
          "description": "The virtual machine Id.",
          "type": "string"
        },
        "vmProtectionState": {
          "description": "The protection state for the vm.",
          "type": "string"
        },
        "vmProtectionStateDescription": {
          "description": "The protection state description for the vm.",
          "type": "string"
        },
        "initialReplicationDetails": {
          "$ref": "#/definitions/InitialReplicationDetails",
          "description": "Initial replication details."
        },
        "vmNics": {
          "description": "The PE Network details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VMNicDetails"
          }
        },
        "selectedRecoveryAzureNetworkId": {
          "description": "The selected recovery azure network Id.",
          "type": "string"
        },
        "selectedSourceNicId": {
          "description": "The selected source nic Id which will be used as the primary nic during failover.",
          "type": "string"
        },
        "encryption": {
          "description": "The encryption info.",
          "type": "string"
        },
        "oSDetails": {
          "$ref": "#/definitions/OSDetails",
          "description": "The operating system info."
        },
        "sourceVmRamSizeInMB": {
          "format": "int32",
          "description": "The RAM size of the VM on the primary side.",
          "type": "integer"
        },
        "sourceVmCpuCount": {
          "format": "int32",
          "description": "The CPU count of the VM on the primary side.",
          "type": "integer"
        },
        "enableRdpOnTargetOption": {
          "description": "The selected option to enable RDP\\SSH on target vm after failover. String value of {SrsDataContract.EnableRDPOnTargetOption} enum.",
          "type": "string"
        },
        "recoveryAzureResourceGroupId": {
          "description": "The target resource group Id.",
          "type": "string"
        },
        "recoveryAvailabilitySetId": {
          "description": "The recovery availability set Id.",
          "type": "string"
        },
        "useManagedDisks": {
[...]
