{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Location Based Services",
    "description": "Azure Location Based Services REST APIs"
  },
  "host": "atlas.azure-api.net",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "api-version": {
      "name": "api-version",
      "description": "Version of the API",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "method"
    },
    "format": {
      "name": "format",
      "description": "Format of the response",
      "type": "string",
      "in": "path",
      "required": true,
      "default": "json",
      "enum": [
        "json",
        "png",
        "pbf"
      ],
      "x-ms-parameter-location": "method"
    },
    "zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for tile",
      "required": true,
      "default": "6",
      "type": "string"
    },
    "x": {
      "name": "x",
      "in": "query",
      "description": "X value for tile",
      "required": true,
      "default": "10",
      "type": "string"
    },
    "y": {
      "name": "y",
      "in": "query",
      "description": "Y value for tile",
      "required": true,
      "default": "22",
      "type": "string"
    },
    "query": {
      "name": "query",
      "in": "query",
      "description": "The query applicable string/coordinates",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/timezone/enumIana/{format}": {
      "get": {
        "description": "Returns all the IANA timezones",
        "operationId": "GetTimezoneEnumIANA",
        "x-ms-examples": {
          "GetTimezoneEnumIANA": {
            "parameters": {
              "format": "json",
              "api-version": "1.0"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "Id": "Africa/Bamako",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Banjul",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Conakry",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Dakar",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Freetown",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Lome",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Nouakchott",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Ouagadougou",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Sao_Tome",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/St_Helena",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Addis_Ababa",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Asmara",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Dar_es_Salaam",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Djibouti",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Kampala",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Mogadishu",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Indian/Antananarivo",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Indian/Comoro",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Indian/Mayotte",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Blantyre",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Bujumbura",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Gaborone",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Harare",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Kigali",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Lubumbashi",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Lusaka",
                    "IsAlias": true,
                    "AliasOf": "Africa/Maputo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Bangui",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Brazzaville",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Douala",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Kinshasa",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Libreville",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Luanda",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Malabo",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Niamey",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Porto-Novo",
                    "IsAlias": true,
                    "AliasOf": "Africa/Lagos",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Maseru",
                    "IsAlias": true,
                    "AliasOf": "Africa/Johannesburg",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Mbabane",
                    "IsAlias": true,
                    "AliasOf": "Africa/Johannesburg",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Juba",
                    "IsAlias": true,
                    "AliasOf": "Africa/Khartoum",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Nicosia",
                    "IsAlias": true,
                    "AliasOf": "Asia/Nicosia",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Bahrain",
                    "IsAlias": true,
                    "AliasOf": "Asia/Qatar",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Aden",
                    "IsAlias": true,
                    "AliasOf": "Asia/Riyadh",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kuwait",
                    "IsAlias": true,
                    "AliasOf": "Asia/Riyadh",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Phnom_Penh",
                    "IsAlias": true,
                    "AliasOf": "Asia/Bangkok",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Vientiane",
                    "IsAlias": true,
                    "AliasOf": "Asia/Bangkok",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Muscat",
                    "IsAlias": true,
                    "AliasOf": "Asia/Dubai",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Saipan",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Guam",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/McMurdo",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Auckland",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Midway",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Pago_Pago",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Jersey",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Guernsey",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Isle_of_Man",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Mariehamn",
                    "IsAlias": true,
                    "AliasOf": "Europe/Helsinki",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Busingen",
                    "IsAlias": true,
                    "AliasOf": "Europe/Zurich",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Vatican",
                    "IsAlias": true,
                    "AliasOf": "Europe/Rome",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/San_Marino",
                    "IsAlias": true,
                    "AliasOf": "Europe/Rome",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Vaduz",
                    "IsAlias": true,
                    "AliasOf": "Europe/Zurich",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Arctic/Longyearbyen",
                    "IsAlias": true,
                    "AliasOf": "Europe/Oslo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Ljubljana",
                    "IsAlias": true,
                    "AliasOf": "Europe/Belgrade",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Podgorica",
                    "IsAlias": true,
                    "AliasOf": "Europe/Belgrade",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Sarajevo",
                    "IsAlias": true,
                    "AliasOf": "Europe/Belgrade",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Skopje",
                    "IsAlias": true,
                    "AliasOf": "Europe/Belgrade",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Zagreb",
                    "IsAlias": true,
                    "AliasOf": "Europe/Belgrade",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Bratislava",
                    "IsAlias": true,
                    "AliasOf": "Europe/Prague",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Istanbul",
                    "IsAlias": true,
                    "AliasOf": "Europe/Istanbul",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cayman",
                    "IsAlias": true,
                    "AliasOf": "America/Panama",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Aruba",
                    "IsAlias": true,
                    "AliasOf": "America/Curacao",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Lower_Princes",
                    "IsAlias": true,
                    "AliasOf": "America/Curacao",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Kralendijk",
                    "IsAlias": true,
                    "AliasOf": "America/Curacao",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Anguilla",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Antigua",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Dominica",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Grenada",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Guadeloupe",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Marigot",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Montserrat",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Barthelemy",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Kitts",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Lucia",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Thomas",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Vincent",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Tortola",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Pacific-New",
                    "IsAlias": true,
                    "AliasOf": "America/Los_Angeles",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "GMT",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/Universal",
                    "IsAlias": true,
                    "AliasOf": "Etc/UTC",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/Zulu",
                    "IsAlias": true,
                    "AliasOf": "Etc/UTC",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/Greenwich",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Africa/Asmera",
                    "IsAlias": true,
                    "AliasOf": "Africa/Nairobi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Timbuktu",
                    "IsAlias": true,
                    "AliasOf": "Africa/Abidjan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/ComodRivadavia",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Catamarca",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Atka",
                    "IsAlias": true,
                    "AliasOf": "America/Adak",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Buenos_Aires",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Buenos_Aires",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Catamarca",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Catamarca",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Coral_Harbour",
                    "IsAlias": true,
                    "AliasOf": "America/Atikokan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cordoba",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Cordoba",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Ensenada",
                    "IsAlias": true,
                    "AliasOf": "America/Tijuana",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Fort_Wayne",
                    "IsAlias": true,
                    "AliasOf": "America/Indiana/Indianapolis",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indianapolis",
                    "IsAlias": true,
                    "AliasOf": "America/Indiana/Indianapolis",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Jujuy",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Jujuy",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Knox_IN",
                    "IsAlias": true,
                    "AliasOf": "America/Indiana/Knox",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Louisville",
                    "IsAlias": true,
                    "AliasOf": "America/Kentucky/Louisville",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Mendoza",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Mendoza",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Montreal",
                    "IsAlias": true,
                    "AliasOf": "America/Toronto",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Porto_Acre",
                    "IsAlias": true,
                    "AliasOf": "America/Rio_Branco",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Rosario",
                    "IsAlias": true,
                    "AliasOf": "America/Argentina/Cordoba",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Santa_Isabel",
                    "IsAlias": true,
                    "AliasOf": "America/Tijuana",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Shiprock",
                    "IsAlias": true,
                    "AliasOf": "America/Denver",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Virgin",
                    "IsAlias": true,
                    "AliasOf": "America/Port_of_Spain",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/South_Pole",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Auckland",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ashkhabad",
                    "IsAlias": true,
                    "AliasOf": "Asia/Ashgabat",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Calcutta",
                    "IsAlias": true,
                    "AliasOf": "Asia/Kolkata",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Chongqing",
                    "IsAlias": true,
                    "AliasOf": "Asia/Shanghai",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Chungking",
                    "IsAlias": true,
                    "AliasOf": "Asia/Shanghai",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Dacca",
                    "IsAlias": true,
                    "AliasOf": "Asia/Dhaka",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Harbin",
                    "IsAlias": true,
                    "AliasOf": "Asia/Shanghai",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kashgar",
                    "IsAlias": true,
                    "AliasOf": "Asia/Urumqi",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Katmandu",
                    "IsAlias": true,
                    "AliasOf": "Asia/Kathmandu",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Macao",
                    "IsAlias": true,
                    "AliasOf": "Asia/Macau",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Rangoon",
                    "IsAlias": true,
                    "AliasOf": "Asia/Yangon",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Saigon",
                    "IsAlias": true,
                    "AliasOf": "Asia/Ho_Chi_Minh",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tel_Aviv",
                    "IsAlias": true,
                    "AliasOf": "Asia/Jerusalem",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Thimbu",
                    "IsAlias": true,
                    "AliasOf": "Asia/Thimphu",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ujung_Pandang",
                    "IsAlias": true,
                    "AliasOf": "Asia/Makassar",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ulan_Bator",
                    "IsAlias": true,
                    "AliasOf": "Asia/Ulaanbaatar",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Faeroe",
                    "IsAlias": true,
                    "AliasOf": "Atlantic/Faroe",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Jan_Mayen",
                    "IsAlias": true,
                    "AliasOf": "Europe/Oslo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/ACT",
                    "IsAlias": true,
                    "AliasOf": "Australia/Sydney",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Canberra",
                    "IsAlias": true,
                    "AliasOf": "Australia/Sydney",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/LHI",
                    "IsAlias": true,
                    "AliasOf": "Australia/Lord_Howe",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/NSW",
                    "IsAlias": true,
                    "AliasOf": "Australia/Sydney",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/North",
                    "IsAlias": true,
                    "AliasOf": "Australia/Darwin",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Queensland",
                    "IsAlias": true,
                    "AliasOf": "Australia/Brisbane",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/South",
                    "IsAlias": true,
                    "AliasOf": "Australia/Adelaide",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Tasmania",
                    "IsAlias": true,
                    "AliasOf": "Australia/Hobart",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Victoria",
                    "IsAlias": true,
                    "AliasOf": "Australia/Melbourne",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/West",
                    "IsAlias": true,
                    "AliasOf": "Australia/Perth",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Yancowinna",
                    "IsAlias": true,
                    "AliasOf": "Australia/Broken_Hill",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Brazil/Acre",
                    "IsAlias": true,
                    "AliasOf": "America/Rio_Branco",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Brazil/DeNoronha",
                    "IsAlias": true,
                    "AliasOf": "America/Noronha",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Brazil/East",
                    "IsAlias": true,
                    "AliasOf": "America/Sao_Paulo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Brazil/West",
                    "IsAlias": true,
                    "AliasOf": "America/Manaus",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Atlantic",
                    "IsAlias": true,
                    "AliasOf": "America/Halifax",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Central",
                    "IsAlias": true,
                    "AliasOf": "America/Winnipeg",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/East-Saskatchewan",
                    "IsAlias": true,
                    "AliasOf": "America/Regina",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Eastern",
                    "IsAlias": true,
                    "AliasOf": "America/Toronto",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Mountain",
                    "IsAlias": true,
                    "AliasOf": "America/Edmonton",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Newfoundland",
                    "IsAlias": true,
                    "AliasOf": "America/St_Johns",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Pacific",
                    "IsAlias": true,
                    "AliasOf": "America/Vancouver",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Saskatchewan",
                    "IsAlias": true,
                    "AliasOf": "America/Regina",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Canada/Yukon",
                    "IsAlias": true,
                    "AliasOf": "America/Whitehorse",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Chile/Continental",
                    "IsAlias": true,
                    "AliasOf": "America/Santiago",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Chile/EasterIsland",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Easter",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Cuba",
                    "IsAlias": true,
                    "AliasOf": "America/Havana",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Egypt",
                    "IsAlias": true,
                    "AliasOf": "Africa/Cairo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Eire",
                    "IsAlias": true,
                    "AliasOf": "Europe/Dublin",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Belfast",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Tiraspol",
                    "IsAlias": true,
                    "AliasOf": "Europe/Chisinau",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "GB",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "GB-Eire",
                    "IsAlias": true,
                    "AliasOf": "Europe/London",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "GMT+0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "GMT-0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "GMT0",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Greenwich",
                    "IsAlias": true,
                    "AliasOf": "Etc/GMT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Hongkong",
                    "IsAlias": true,
                    "AliasOf": "Asia/Hong_Kong",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Iceland",
                    "IsAlias": true,
                    "AliasOf": "Atlantic/Reykjavik",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Iran",
                    "IsAlias": true,
                    "AliasOf": "Asia/Tehran",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Israel",
                    "IsAlias": true,
                    "AliasOf": "Asia/Jerusalem",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Jamaica",
                    "IsAlias": true,
                    "AliasOf": "America/Jamaica",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Japan",
                    "IsAlias": true,
                    "AliasOf": "Asia/Tokyo",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Kwajalein",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Kwajalein",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Libya",
                    "IsAlias": true,
                    "AliasOf": "Africa/Tripoli",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Mexico/BajaNorte",
                    "IsAlias": true,
                    "AliasOf": "America/Tijuana",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Mexico/BajaSur",
                    "IsAlias": true,
                    "AliasOf": "America/Mazatlan",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Mexico/General",
                    "IsAlias": true,
                    "AliasOf": "America/Mexico_City",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "NZ",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Auckland",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "NZ-CHAT",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Chatham",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Navajo",
                    "IsAlias": true,
                    "AliasOf": "America/Denver",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "PRC",
                    "IsAlias": true,
                    "AliasOf": "Asia/Shanghai",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Johnston",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Honolulu",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Ponape",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Pohnpei",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Samoa",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Pago_Pago",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Truk",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Chuuk",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Pacific/Yap",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Chuuk",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Poland",
                    "IsAlias": true,
                    "AliasOf": "Europe/Warsaw",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Portugal",
                    "IsAlias": true,
                    "AliasOf": "Europe/Lisbon",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "ROC",
                    "IsAlias": true,
                    "AliasOf": "Asia/Taipei",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "ROK",
                    "IsAlias": true,
                    "AliasOf": "Asia/Seoul",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Singapore",
                    "IsAlias": true,
                    "AliasOf": "Asia/Singapore",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Turkey",
                    "IsAlias": true,
                    "AliasOf": "Europe/Istanbul",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "UCT",
                    "IsAlias": true,
                    "AliasOf": "Etc/UCT",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "US/Alaska",
                    "IsAlias": true,
                    "AliasOf": "America/Anchorage",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Aleutian",
                    "IsAlias": true,
                    "AliasOf": "America/Adak",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Arizona",
                    "IsAlias": true,
                    "AliasOf": "America/Phoenix",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Central",
                    "IsAlias": true,
                    "AliasOf": "America/Chicago",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/East-Indiana",
                    "IsAlias": true,
                    "AliasOf": "America/Indiana/Indianapolis",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Eastern",
                    "IsAlias": true,
                    "AliasOf": "America/New_York",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Hawaii",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Honolulu",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Indiana-Starke",
                    "IsAlias": true,
                    "AliasOf": "America/Indiana/Knox",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Michigan",
                    "IsAlias": true,
                    "AliasOf": "America/Detroit",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Mountain",
                    "IsAlias": true,
                    "AliasOf": "America/Denver",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Pacific",
                    "IsAlias": true,
                    "AliasOf": "America/Los_Angeles",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "US/Samoa",
                    "IsAlias": true,
                    "AliasOf": "Pacific/Pago_Pago",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "UTC",
                    "IsAlias": true,
                    "AliasOf": "Etc/UTC",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Universal",
                    "IsAlias": true,
                    "AliasOf": "Etc/UTC",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "W-SU",
                    "IsAlias": true,
                    "AliasOf": "Europe/Moscow",
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Zulu",
                    "IsAlias": true,
                    "AliasOf": "Etc/UTC",
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Africa/Abidjan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Accra",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Algiers",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Bissau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Cairo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Casablanca",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Ceuta",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/El_Aaiun",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Johannesburg",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Khartoum",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Lagos",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Maputo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Monrovia",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Nairobi",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Ndjamena",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Tripoli",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Tunis",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Africa/Windhoek",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Adak",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Anchorage",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Araguaina",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Buenos_Aires",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Catamarca",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Cordoba",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Jujuy",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/La_Rioja",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Mendoza",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Rio_Gallegos",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Salta",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/San_Juan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/San_Luis",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Tucuman",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Argentina/Ushuaia",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Asuncion",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Atikokan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Bahia",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Bahia_Banderas",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Barbados",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Belem",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Belize",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Blanc-Sablon",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Boa_Vista",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Bogota",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Boise",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cambridge_Bay",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Campo_Grande",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cancun",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Caracas",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cayenne",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Chicago",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Chihuahua",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Costa_Rica",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Creston",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Cuiaba",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Curacao",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Danmarkshavn",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Dawson",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Dawson_Creek",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Denver",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Detroit",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Edmonton",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Eirunepe",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/El_Salvador",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Fort_Nelson",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Fortaleza",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Glace_Bay",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Godthab",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Goose_Bay",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Grand_Turk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Guatemala",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Guayaquil",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Guyana",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Halifax",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Havana",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Hermosillo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Indianapolis",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Knox",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Marengo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Petersburg",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Tell_City",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Vevay",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Vincennes",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Indiana/Winamac",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Inuvik",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Iqaluit",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Jamaica",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Juneau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Kentucky/Louisville",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Kentucky/Monticello",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/La_Paz",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Lima",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Los_Angeles",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Maceio",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Managua",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Manaus",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Martinique",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Matamoros",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Mazatlan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Menominee",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Merida",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Metlakatla",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Mexico_City",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Miquelon",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Moncton",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Monterrey",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Montevideo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Nassau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/New_York",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Nipigon",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Nome",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Noronha",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/North_Dakota/Beulah",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/North_Dakota/Center",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/North_Dakota/New_Salem",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Ojinaga",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Panama",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Pangnirtung",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Paramaribo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Phoenix",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Port-au-Prince",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Port_of_Spain",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Porto_Velho",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Puerto_Rico",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Punta_Arenas",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Rainy_River",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Rankin_Inlet",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Recife",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Regina",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Resolute",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Rio_Branco",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Santarem",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Santiago",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Santo_Domingo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Sao_Paulo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Scoresbysund",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Sitka",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/St_Johns",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Swift_Current",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Tegucigalpa",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Thule",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Thunder_Bay",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Tijuana",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Toronto",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Vancouver",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Whitehorse",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Winnipeg",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Yakutat",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "America/Yellowknife",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Casey",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Davis",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/DumontDUrville",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Macquarie",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Mawson",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Palmer",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Rothera",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Syowa",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Troll",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Antarctica/Vostok",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Almaty",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Amman",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Anadyr",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Aqtau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Aqtobe",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ashgabat",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Atyrau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Baghdad",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Baku",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Bangkok",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Barnaul",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Beirut",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Bishkek",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Brunei",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Chita",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Choibalsan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Colombo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Damascus",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Dhaka",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Dili",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Dubai",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Dushanbe",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Famagusta",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Gaza",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Hebron",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ho_Chi_Minh",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Hong_Kong",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Hovd",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Irkutsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Jakarta",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Jayapura",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Jerusalem",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kabul",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kamchatka",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Karachi",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kathmandu",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Khandyga",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kolkata",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Krasnoyarsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kuala_Lumpur",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Kuching",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Macau",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Magadan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Makassar",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Manila",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Nicosia",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Novokuznetsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Novosibirsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Omsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Oral",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Pontianak",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Pyongyang",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Qatar",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Qyzylorda",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Riyadh",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Sakhalin",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Samarkand",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Seoul",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Shanghai",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Singapore",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Srednekolymsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Taipei",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tashkent",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tbilisi",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tehran",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Thimphu",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tokyo",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Tomsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ulaanbaatar",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Urumqi",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Ust-Nera",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Vladivostok",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Yakutsk",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Yangon",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Yekaterinburg",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Asia/Yerevan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Azores",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Bermuda",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Canary",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Cape_Verde",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Faroe",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Madeira",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Reykjavik",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/South_Georgia",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Atlantic/Stanley",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Adelaide",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Brisbane",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Broken_Hill",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Currie",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Darwin",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Eucla",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Hobart",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Lindeman",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Lord_Howe",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Melbourne",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Perth",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Australia/Sydney",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "CET",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "CST6CDT",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "EET",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "EST",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "EST5EDT",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+1",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+10",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+11",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+12",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+2",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+3",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+4",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+5",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+6",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+7",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+8",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT+9",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-1",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-10",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-11",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-12",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-13",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-14",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-2",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-3",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-4",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-5",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-6",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-7",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-8",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/GMT-9",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/UCT",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Etc/UTC",
                    "IsAlias": false,
                    "HasZone1970Location": false
                  },
                  {
                    "Id": "Europe/Amsterdam",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Andorra",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Astrakhan",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Athens",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Belgrade",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Berlin",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Brussels",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Bucharest",
                    "IsAlias": false,
                    "HasZone1970Location": true
                  },
                  {
                    "Id": "Europe/Budapest",
[...]
