{
  "swagger": "2.0",
  "info": {
    "version": "3.0",
    "title": "Custom Vision Prediction Client"
  },
  "host": "southcentralus.api.cognitive.microsoft.com",
  "basePath": "/customvision/v3.0/prediction",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{projectId}/classify/iterations/{publishedName}/url": {
      "post": {
        "tags": [
          "ImagePredictionApi"
        ],
        "summary": "Classify an image url and saves the result.",
        "operationId": "ClassifyImageUrl",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "Specifies the name of the model to evaluate against.",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageUrl",
            "in": "body",
            "description": "An ImageUrl that contains the url of the image to be evaluated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageUrl"
            }
          },
          {
            "name": "application",
            "in": "query",
            "description": "Optional. Specifies the name of application using the endpoint.",
            "required": false,
            "type": "string",
            "x-nullable": true
          },
          {
            "$ref": "#/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImagePrediction"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful ClassifyImageUrl request": {
            "parameters": {
              "Endpoint": "https://westus.api.cognitive.microsoft.com",
              "Content-Type": "application/json",
              "Prediction-Key": "{API Key}",
              "projectId": "64b822c5-8082-4b36-a426-27225f4aa18c",
              "publishedName": "MyModel1",
              "imageUrl": {
                "url": "{Image URL}"
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                  "project": "64b822c5-8082-4b36-a426-27225f4aa18c",
                  "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                  "created": "2019-03-06T02:15:00Z",
                  "predictions": [
                    {
                      "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                      "tagName": "Hemlock",
                      "probability": 0.05149666
                    },
                    {
                      "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                      "tagName": "Japanese Cherry",
                      "probability": 0.000193528482
                    }
                  ]
                }
              }
            }
          }
        },
        "x-internal-toc-name": "Classify Image Url"
      }
    }
  },
  "definitions": {
    "ImageUrl": {
      "description": "Image url.",
      "required": [
        "url"
      ],
      "type": "object",
      "properties": {
        "url": {
          "description": "Url of the image.",
          "type": "string",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "ImagePrediction": {
      "description": "Result of an image prediction request.",
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Prediction Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "project": {
          "format": "uuid",
          "description": "Project Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "iteration": {
          "format": "uuid",
          "description": "Iteration Id.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "format": "date-time",
          "description": "Date this prediction was created.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "predictions": {
          "description": "List of predictions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prediction",
            "x-nullable": false
          },
          "readOnly": true
        }
      }
    },
    "Prediction": {
      "description": "Prediction result.",
      "type": "object",
      "properties": {
        "probability": {
          "format": "float",
          "description": "Probability of the tag.",
          "type": "number",
          "readOnly": true,
          "x-nullable": false
        },
        "tagId": {
          "format": "uuid",
          "description": "Id of the predicted tag.",
          "type": "string",
          "readOnly": true,
          "x-nullable": false
        },
        "tagName": {
          "description": "Name of the predicted tag.",
          "type": "string",
          "readOnly": true,
          "x-nullable": true
        },
        "boundingBox": {
          "$ref": "#/definitions/BoundingBox",
          "description": "Bounding box of the prediction.",
          "readOnly": true,
          "x-nullable": true
        }
      }
    },
    "BoundingBox": {
      "description": "Bounding box that defines a region of an image.",
      "required": [
        "left",
        "top",
        "width",
        "height"
      ],
      "type": "object",
      "properties": {
        "left": {
          "format": "float",
          "description": "Coordinate of the left boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "top": {
          "format": "float",
          "description": "Coordinate of the top boundary.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "width": {
          "format": "float",
          "description": "Width.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        },
        "height": {
          "format": "float",
          "description": "Height.",
          "type": "number",
          "readOnly": false,
          "x-nullable": false
        }
      }
    },
    "CustomVisionError": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "enum": [
            "NoError",
            "BadRequest",
            "BadRequestExceededBatchSize",
            "BadRequestNotSupported",
            "BadRequestInvalidIds",
            "BadRequestProjectName",
            "BadRequestProjectNameNotUnique",
            "BadRequestProjectDescription",
            "BadRequestProjectUnknownDomain",
            "BadRequestProjectUnknownClassification",
            "BadRequestProjectUnsupportedDomainTypeChange",
            "BadRequestProjectUnsupportedExportPlatform",
            "BadRequestIterationName",
            "BadRequestIterationNameNotUnique",
            "BadRequestIterationDescription",
            "BadRequestIterationIsNotTrained",
            "BadRequestWorkspaceCannotBeModified",
            "BadRequestWorkspaceNotDeletable",
            "BadRequestTagName",
            "BadRequestTagNameNotUnique",
            "BadRequestTagDescription",
            "BadRequestTagType",
            "BadRequestMultipleNegativeTag",
            "BadRequestImageTags",
            "BadRequestImageRegions",
            "BadRequestNegativeAndRegularTagOnSameImage",
            "BadRequestRequiredParamIsNull",
            "BadRequestIterationIsPublished",
            "BadRequestInvalidPublishName",
            "BadRequestInvalidPublishTarget",
            "BadRequestUnpublishFailed",
            "BadRequestSubscriptionApi",
            "BadRequestExceedProjectLimit",
            "BadRequestExceedIterationPerProjectLimit",
            "BadRequestExceedTagPerProjectLimit",
            "BadRequestExceedTagPerImageLimit",
            "BadRequestExceededQuota",
            "BadRequestCannotMigrateProjectWithName",
            "BadRequestNotLimitedTrial",
            "BadRequestImageBatch",
            "BadRequestImageStream",
            "BadRequestImageUrl",
            "BadRequestImageFormat",
            "BadRequestImageSizeBytes",
            "BadRequestImageExceededCount",
            "BadRequestTrainingNotNeeded",
            "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
            "BadRequestTrainingValidationFailed",
            "BadRequestClassificationTrainingValidationFailed",
            "BadRequestMultiClassClassificationTrainingValidationFailed",
            "BadRequestMultiLabelClassificationTrainingValidationFailed",
            "BadRequestDetectionTrainingValidationFailed",
            "BadRequestTrainingAlreadyInProgress",
            "BadRequestDetectionTrainingNotAllowNegativeTag",
            "BadRequestInvalidEmailAddress",
            "BadRequestDomainNotSupportedForAdvancedTraining",
            "BadRequestExportPlatformNotSupportedForAdvancedTraining",
            "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
            "BadRequestExportValidationFailed",
            "BadRequestExportAlreadyInProgress",
            "BadRequestPredictionIdsMissing",
            "BadRequestPredictionIdsExceededCount",
            "BadRequestPredictionTagsExceededCount",
            "BadRequestPredictionResultsExceededCount",
            "BadRequestPredictionInvalidApplicationName",
            "BadRequestPredictionInvalidQueryParameters",
            "BadRequestInvalid",
            "UnsupportedMediaType",
            "Forbidden",
            "ForbiddenUser",
            "ForbiddenUserResource",
            "ForbiddenUserSignupDisabled",
            "ForbiddenUserSignupAllowanceExceeded",
            "ForbiddenUserDoesNotExist",
            "ForbiddenUserDisabled",
            "ForbiddenUserInsufficientCapability",
            "ForbiddenDRModeEnabled",
            "ForbiddenInvalid",
            "NotFound",
            "NotFoundProject",
            "NotFoundProjectDefaultIteration",
            "NotFoundIteration",
            "NotFoundIterationPerformance",
            "NotFoundTag",
            "NotFoundImage",
            "NotFoundDomain",
            "NotFoundApimSubscription",
            "NotFoundInvalid",
            "Conflict",
            "ConflictInvalid",
            "ErrorUnknown",
            "ErrorProjectInvalidWorkspace",
            "ErrorProjectInvalidPipelineConfiguration",
            "ErrorProjectInvalidDomain",
            "ErrorProjectTrainingRequestFailed",
            "ErrorProjectExportRequestFailed",
            "ErrorFeaturizationServiceUnavailable",
            "ErrorFeaturizationQueueTimeout",
            "ErrorFeaturizationInvalidFeaturizer",
            "ErrorFeaturizationAugmentationUnavailable",
            "ErrorFeaturizationUnrecognizedJob",
            "ErrorFeaturizationAugmentationError",
            "ErrorExporterInvalidPlatform",
            "ErrorExporterInvalidFeaturizer",
            "ErrorExporterInvalidClassifier",
            "ErrorPredictionServiceUnavailable",
            "ErrorPredictionModelNotFound",
            "ErrorPredictionModelNotCached",
            "ErrorPrediction",
            "ErrorPredictionStorage",
            "ErrorRegionProposal",
            "ErrorInvalid"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "CustomVisionErrorCodes",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A message explaining the error reported by the service.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiKey": {
      "name": "Prediction-Key",
      "in": "header",
      "description": "API key.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "ApiKey",
      "x-ms-parameter-location": "client"
    },
    "Endpoint": {
      "name": "Endpoint",
      "in": "path",
      "description": "Supported Cognitive Services endpoints.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true
    }
  },
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/Endpoint"
      }
    ]
  },
  "x-internal-service-id": "cognitiveservices",
  "x-internal-service-name": "Cognitive Services",
  "x-internal-toc-name": "Classify Image Url",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ClassifyImageUrl",
  "x-internal-operation-name": "Classify Image Url"
}