{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2018-07-01",
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework."
  },
  "host": "management.azure.com",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "Provider": {
      "description": "A resource provider.",
      "properties": {
        "providerName": {
          "description": "The provider name.",
          "type": "string"
        }
      },
      "type": "object",
      "required": [
        "providerName"
      ]
    },
    "OperationDisplay": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "The service provider."
        },
        "resource": {
          "type": "string",
          "description": "Resource on which the operation is performed."
        },
        "operation": {
          "type": "string",
          "description": "The operation type."
        },
        "description": {
          "type": "string",
          "description": "The operation description."
        }
      },
      "type": "object",
      "description": "Operation details."
    },
    "MetricDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric dimension name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the dimension.",
          "readOnly": true
        },
        "toBeExportedForShoebox": {
          "type": "boolean",
          "description": "Whether to export metric to shoebox.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "type": "object",
      "description": "A metric dimension."
    },
    "Metric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The metric display name.",
          "readOnly": true
        },
        "displayDescription": {
          "type": "string",
          "description": "The metric display description.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "enum": [
            "Bytes",
            "Count",
            "Milliseconds"
          ],
          "x-ms-enum": {
            "name": "MetricUnit",
            "values": [
              {
                "value": "Bytes",
                "description": "The number of bytes."
              },
              {
                "value": "Count",
                "description": "The count."
              },
              {
                "value": "Milliseconds",
                "description": "The number of milliseconds."
              }
            ],
            "modelAsString": true
          },
          "description": "The metric unit",
          "readOnly": true,
          "x-nullable": false
        },
        "aggregationType": {
          "type": "string",
          "enum": [
            "Average",
            "Count",
            "Total"
          ],
          "x-ms-enum": {
            "name": "MetricAggregationType",
            "values": [
              {
                "value": "Average",
                "description": "The average."
              },
              {
                "value": "Count",
                "description": "The count of a number of items, usually requests."
              },
              {
                "value": "Total",
                "description": "The sum."
              }
            ],
            "modelAsString": true
          },
          "description": "The metric aggregation type",
          "readOnly": true,
          "x-nullable": false
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "description": "The metric dimensions.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A metric emitted by service."
    },
    "ServiceSpecification": {
      "properties": {
        "metricSpecifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "description": "List of metric specifications.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The service metric specifications."
    },
    "MetricProperties": {
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "The service specifications.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metric properties."
    },
    "Operation": {
      "description": "An operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The operation display name."
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation."
        },
        "properties": {
          "$ref": "#/definitions/MetricProperties",
          "description": "Operation properties format."
        }
      },
      "type": "object",
      "required": [
        "name"
      ]
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "required": [
        "name"
      ]
    },
    "EntityNameAvailabilityCheckOutput": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Specifies if the name is available."
        },
        "reason": {
          "type": "string",
          "description": "Specifies the reason if the name is not available."
        },
        "message": {
          "type": "string",
          "description": "Specifies the detailed reason if the name is not available."
        }
      },
      "type": "object",
      "required": [
        "nameAvailable"
      ],
      "description": "The response from the check name availability request."
    },
    "StorageAccount": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the storage account resource. Media Services relies on tables and queues as well as blobs, so the primary storage account must be a Standard Storage account (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts can be added as secondary storage accounts."
        },
        "type": {
          "type": "string",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "StorageAccountType",
            "values": [
              {
                "value": "Primary",
                "description": "The primary storage account for the Media Services account."
              },
              {
                "value": "Secondary",
                "description": "A secondary storage account for the Media Services account."
              }
            ],
            "modelAsString": true
          },
          "description": "The type of the storage account."
        }
      },
      "type": "object",
      "required": [
        "type"
      ],
      "description": "The storage account details."
    },
    "SyncStorageKeysInput": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the storage account resource."
        }
      },
      "type": "object",
      "description": "The input to the sync storage keys request."
    },
    "MediaServiceProperties": {
      "properties": {
        "mediaServiceId": {
          "type": "string",
          "format": "uuid",
          "description": "The Media Services account ID.",
          "readOnly": true,
          "x-nullable": false
        },
        "storageAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "description": "The storage accounts for this resource."
        }
      },
      "type": "object",
      "description": "Properties of the Media Services account."
    },
    "MediaService": {
      "description": "A Media Services account.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaServiceProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "SubscriptionMediaService": {
      "description": "A Media Services account.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaServiceProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "OperationCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "A collection of Operation items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of Operation items."
    },
    "MediaServiceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaService"
          },
          "description": "A collection of MediaService items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of MediaService items."
    },
    "CheckNameAvailabilityInput": {
      "description": "The input to the check name availability request.",
      "properties": {
        "name": {
          "description": "The account name.",
          "type": "string"
        },
        "type": {
          "description": "The account type. For a Media Services account, this should be 'MediaServices'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscriptionMediaServiceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionMediaService"
          },
          "description": "A collection of SubscriptionMediaService items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of SubscriptionMediaService items."
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "paths": {
    "/providers/Microsoft.Media/operations": {
      "get": {
        "summary": "List Operations",
        "description": "Lists all the Media Services operations.",
        "operationId": "Operations_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List Operations": {
            "parameters": {
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "contoso",
              "api-version": "2018-07-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.Media/register/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Microsoft Media Services",
                        "operation": "Registers the Media Services Resource Provider",
                        "description": "Registers the subscription for the Media Services resource provider and enables the creation of Media Services accounts"
                      }
                    },
                    {
                      "name": "Microsoft.Media/unregister/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Microsoft Media Services",
                        "operation": "Unregisters the Media Services Resource Provider",
                        "description": "Unregisters the subscription for the Media Services resource provider"
                      }
                    },
                    {
                      "name": "Microsoft.Media/checknameavailability/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Microsoft Media Services",
                        "operation": "Check Name Availability",
                        "description": "Checks if a Media Services account name is available"
                      }
                    },
                    {
                      "name": "Microsoft.Media/operations/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Available Operations",
                        "operation": "Get Available Operations",
                        "description": "Get Available Operations"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Media Services Account",
                        "operation": "Read Media Services Account",
                        "description": "Read any Media Services Account"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Media Services Account",
                        "operation": "Create or Update Media Services Account",
                        "description": "Create or Update any Media Services Account"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Media Services Account",
                        "operation": "Delete Media Services Account",
                        "description": "Delete any Media Services Account"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/syncStorageKeys/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Media Services Account",
                        "operation": "Synchronize Storage Keys",
                        "description": "Synchronize the Storage Keys for an attached Azure Storage account"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/eventGridFilters/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Event Grid Filter",
                        "operation": "Read Event Grid Filter",
                        "description": "Read any Event Grid Filter"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/eventGridFilters/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Event Grid Filter",
                        "operation": "Create or Update Event Grid Filter",
                        "description": "Create or Update any Event Grid Filter"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/eventGridFilters/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Event Grid Filter",
                        "operation": "Delete Event Grid Filter",
                        "description": "Delete any Event Grid Filter"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/assets/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Asset",
                        "operation": "Read Asset",
                        "description": "Read any Asset"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/assets/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Asset",
                        "operation": "Create or Update Asset",
                        "description": "Create or Update any Asset"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/assets/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Asset",
                        "operation": "Delete Asset",
                        "description": "Delete any Asset"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/assets/listContainerSas/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Asset",
                        "operation": "List Asset Container SAS URLs",
                        "description": "List Asset Container SAS URLs"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/assets/getEncryptionKey/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Asset",
                        "operation": "Get Asset Encryption Key",
                        "description": "Get Asset Encryption Key"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingPolicies/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Policy",
                        "operation": "Read Streaming Policy",
                        "description": "Read any Streaming Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingPolicies/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Policy",
                        "operation": "Create or Update Streaming Policy",
                        "description": "Create or Update any Streaming Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingPolicies/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Policy",
                        "operation": "Delete Streaming Policy",
                        "description": "Delete any Streaming Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingLocators/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Locator",
                        "operation": "Read Streaming Locator",
                        "description": "Read any Streaming Locator"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingLocators/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Locator",
                        "operation": "Create or Update Streaming Locator",
                        "description": "Create or Update any Streaming Locator"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingLocators/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Locator",
                        "operation": "Delete Streaming Locator",
                        "description": "Delete any Streaming Locator"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingLocators/listContentKeys/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Locator",
                        "operation": "List Content Keys",
                        "description": "List Content Keys"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingLocators/listPaths/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Locator",
                        "operation": "List Paths",
                        "description": "List Paths"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/contentKeyPolicies/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Content Key Policy",
                        "operation": "Read Content Key Policy",
                        "description": "Read any Content Key Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/contentKeyPolicies/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Content Key Policy",
                        "operation": "Create or Update Content Key Policy",
                        "description": "Create or Update any Content Key Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/contentKeyPolicies/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Content Key Policy",
                        "operation": "Delete Content Key Policy",
                        "description": "Delete any Content Key Policy"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/contentKeyPolicies/getPolicyPropertiesWithSecrets/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Content Key Policy",
                        "operation": "Get Policy Properties With Secrets",
                        "description": "Get Policy Properties With Secrets"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Transform",
                        "operation": "Read Transform",
                        "description": "Read any Transform"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Transform",
                        "operation": "Create or Update Transform",
                        "description": "Create or Update any Transform"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Transform",
                        "operation": "Delete Transform",
                        "description": "Delete any Transform"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/jobs/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Job",
                        "operation": "Read Job",
                        "description": "Read any Job"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/jobs/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Job",
                        "operation": "Create or Update Job",
                        "description": "Create or Update any Job"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/jobs/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Job",
                        "operation": "Delete Job",
                        "description": "Delete any Job"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/transforms/jobs/cancelJob/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Job",
                        "operation": "Cancel Job",
                        "description": "Cancel Job"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Read Streaming Endpoint",
                        "description": "Read any Streaming Endpoint"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Create or Update Streaming Endpoint",
                        "description": "Create or Update any Streaming Endpoint"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Delete Streaming Endpoint",
                        "description": "Delete any Streaming Endpoint"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/start/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Start Streaming Endpoint Operation",
                        "description": "Start any Streaming Endpoint Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/stop/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Stop Streaming Endpoint Operation",
                        "description": "Stop any Streaming Endpoint Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/scale/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint",
                        "operation": "Scale Streaming Endpoint Operation",
                        "description": "Scale any Streaming Endpoint Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/diagnosticSettings/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoints",
                        "operation": "Read diagnostic setting",
                        "description": "Gets the diagnostic setting for the resource."
                      },
                      "origin": "system"
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/diagnosticSettings/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoints",
                        "operation": "Write diagnostic setting",
                        "description": "Creates or updates the diagnostic setting for the resource."
                      },
                      "origin": "system"
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/metricDefinitions/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoints",
                        "operation": "Get list of Media Services Streaming Endpoint Metrics definitions.",
                        "description": "Get list of Media Services Streaming Endpoint Metrics definitions."
                      },
                      "origin": "system",
                      "properties": {
                        "serviceSpecification": {
                          "metricSpecifications": [
                            {
                              "name": "Egress",
                              "displayName": "Egress",
                              "displayDescription": "The amount of Egress data, in bytes.",
                              "unit": "Bytes",
                              "aggregationType": "Total",
                              "dimensions": [
                                {
                                  "name": "OutputFormat",
                                  "displayName": "Output Format",
                                  "toBeExportedForShoebox": true
                                }
                              ]
                            },
                            {
                              "name": "SuccessE2ELatency",
                              "displayName": "Success end to end Latency",
                              "displayDescription": "The average latency for successful requests in milliseconds.",
                              "unit": "Milliseconds",
                              "aggregationType": "Average",
                              "dimensions": [
                                {
                                  "name": "OutputFormat",
                                  "displayName": "Output Format",
                                  "toBeExportedForShoebox": true
                                }
                              ]
                            },
                            {
                              "name": "Requests",
                              "displayName": "Requests",
                              "displayDescription": "Requests to a Streaming Endpoint.",
                              "unit": "Count",
                              "aggregationType": "Count",
                              "dimensions": [
                                {
                                  "name": "OutputFormat",
                                  "displayName": "Output Format",
                                  "toBeExportedForShoebox": true
                                },
                                {
                                  "name": "HttpStatusCode",
                                  "displayName": "HTTP Status Code",
                                  "toBeExportedForShoebox": true
                                },
                                {
                                  "name": "ErrorCode",
                                  "displayName": "Error Code",
                                  "toBeExportedForShoebox": false
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Read Live Event",
                        "description": "Read any Live Event"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Create or Update Live Event",
                        "description": "Create or Update any Live Event"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Delete Live Event",
                        "description": "Delete any Live Event"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/start/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Start Live Event Operation",
                        "description": "Start any Live Event Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/stop/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Stop Live Event Operation",
                        "description": "Stop any Live Event Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/reset/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event",
                        "operation": "Reset Live Event Operation",
                        "description": "Reset any Live Event Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/liveOutputs/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Output",
                        "operation": "Read Live Output",
                        "description": "Read any Live Output"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/liveOutputs/write",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Output",
                        "operation": "Create or Update Live Output",
                        "description": "Create or Update any Live Output"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEvents/liveOutputs/delete",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Output",
                        "operation": "Delete Live Output",
                        "description": "Delete any Live Output"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/streamingEndpointOperations/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Streaming Endpoint Operation",
                        "operation": "Read Streaming Endpoint Operation",
                        "description": "Read any Streaming Endpoint Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveEventOperations/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Event Operation",
                        "operation": "Read Live Event Operation",
                        "description": "Read any Live Event Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/mediaservices/liveOutputOperations/read",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Live Output Operation",
                        "operation": "Read Live Output Operation",
                        "description": "Read any Live Output Operation"
                      }
                    },
                    {
                      "name": "Microsoft.Media/locations/checkNameAvailability/action",
                      "display": {
                        "provider": "Microsoft Media Services",
                        "resource": "Microsoft Media Services",
                        "operation": "Check Name Availability",
                        "description": "Checks if a Media Services account name is available"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  },
  "x-internal-service-id": "media",
  "x-internal-service-name": "Media Services",
  "x-internal-toc-name": "Operations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}