{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01",
    "title": "SubscriptionsManagementClient",
    "description": "The Admin Subscriptions Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/providers/Microsoft.Subscriptions.Admin/operations": {
      "get": {
        "x-ms-examples": {
          "Get the list of Operations.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "api-version": "2015-11-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.Subscriptions.Admin/directoryTenants/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Directory Tenant",
                        "operation": "Get Directory Tenant",
                        "description": "Gets or lists directory tenants."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/directoryTenants/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Directory Tenant",
                        "operation": "Create Directory Tenant",
                        "description": "Creates or updates a directory tenant."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/directoryTenants/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Directory Tenant",
                        "operation": "Delete Directory Tenant",
                        "description": "Deletes a directory tenant."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/delegatedProviders/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Delegated Provider",
                        "operation": "Get Delegated Provider",
                        "description": "Gets or lists delegated providers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/delegatedProviders/offers/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Delegated Provider Offer",
                        "operation": "Get Delegated Provider Offer",
                        "description": "Gets or lists delegated provider offers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/locations/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Location",
                        "operation": "Get Location",
                        "description": "Gets or lists locations."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/locations/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Location",
                        "operation": "Create Location",
                        "description": "Creates or updates a location."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/locations/quotas/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Quota",
                        "operation": "Get Quota",
                        "description": "Gets quota for delegated providers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer",
                        "operation": "Get Offer",
                        "description": "Gets or lists offers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer",
                        "operation": "Create Offer",
                        "description": "Creates or updates an offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer",
                        "operation": "Delete Offer",
                        "description": "Deletes an offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/link/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer",
                        "operation": "Links a base or add-on plan to an offer.",
                        "description": "Links a plan to an offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/unlink/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer",
                        "operation": "Unlink Offer",
                        "description": "Unlinks a base or add-on plan from an offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/offerDelegations/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer Delegation",
                        "operation": "Get Offer Delegations",
                        "description": "Gets or lists the delegations of your offer to other delegated providers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/offerDelegations/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer Delegation",
                        "operation": "Create Offer Delegation",
                        "description": "Creates or updates a delegation of your offer to another delegated provider."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/offers/offerDelegations/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Offer Delegation",
                        "operation": "Delete Offer Delegation",
                        "description": "Deletes a delegation of your offer to another delegated provider."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/plans/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Plan",
                        "operation": "Get Plan",
                        "description": "Gets or lists plans."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/plans/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Plan",
                        "operation": "Create Plan",
                        "description": "Creates or updates a plan."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/plans/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Plan",
                        "operation": "Delete Plan",
                        "description": "Deletes a plan."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Subscription",
                        "operation": "Get Subscriptions",
                        "description": "Gets or lists subscriptions consuming your offers."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Subscription",
                        "operation": "Create Subscription",
                        "description": "Creates or updates a subscription consuming your offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Subscription",
                        "operation": "Delete Subscription",
                        "description": "Deletes a subscription consuming your offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/acquiredPlans/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Acquired Plan",
                        "operation": "Get Acquired Plans",
                        "description": "Gets or lists the plans acquired by a subscription consuming your offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/acquiredPlans/write",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Acquired Plan",
                        "operation": "Create Acquired Plan",
                        "description": "Creates or updates a plan acquisition by a subscription consuming your offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/subscriptions/acquiredPlans/delete",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Acquired Plan",
                        "operation": "Delete Acquired Plan",
                        "description": "Deletes a plan acquisition for a subscription consuming your offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/operations/read",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Operation",
                        "operation": "List Operations",
                        "description": "Lists the supported operations."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/restoreData/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Restore Data",
                        "operation": "Restore Subscriptions Data",
                        "description": "Restore data from a backup into the current deployment of Subscriptions Service."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/updateEncryption/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Update Encryption",
                        "operation": "Update Encryption",
                        "description": "Updates encryption of secrets."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/moveSubscriptions/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Move Subscriptions",
                        "operation": "Move Subscriptions",
                        "description": "Move user subscriptions to a delegated provider offer."
                      }
                    },
                    {
                      "name": "Microsoft.Subscriptions.Admin/checkNameAvailability/action",
                      "display": {
                        "provider": "Microsoft Subscriptions Administration Service",
                        "resource": "Check Name Availability",
                        "operation": "Check Global Name Availability",
                        "description": "Get the global name availability for resource names requiring global uniqueness."
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Get the list of Operations.",
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "URI of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "Operation": {
      "description": "Supported REST operation.",
      "type": "object",
      "properties": {
        "display": {
          "description": "Display information for the operation.",
          "type": "object",
          "properties": {
            "description": {
              "description": "Description for the operation.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Display name of the operation.",
              "type": "string",
              "readOnly": true
            },
            "provider": {
              "description": "Resource provider display name.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource type display name related to the operation.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "name": {
          "description": "Name of the operation being performed on an object.",
          "type": "string",
          "readOnly": true
        },
        "origin": {
          "description": "Origin for the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationList": {
      "description": "List of supported operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of supported operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "CheckNameAvailabilityDefinition": {
      "description": "The check name availability action definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name to verify.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type to verify.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "description": "The check name availability response definition",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "A value indicating whether the name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason for the unavailability of the name.",
          "$ref": "#/definitions/NameUnavailabilityReason"
        },
        "message": {
          "description": "The message explaining the reason.",
          "type": "string"
        }
      }
    },
    "IdentityHealthCheckReportDefinition": {
      "description": "The identity health check report action definition.",
      "type": "object",
      "properties": {
        "reportStartTimeUtc": {
          "description": "Start time of the report.",
          "type": "string",
          "format": "date-time"
        },
        "reportEndTimeUtc": {
          "description": "End time of the report.",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "The roll-up health status for the directory.",
          "$ref": "#/definitions/HealthStatus"
        },
        "directoryTenants": {
          "description": "List of directory tenant health reports.",
          "$ref": "#/definitions/DirectoryTenantHealthReportList"
        }
      }
    },
    "DirectoryTenantHealthReportList": {
      "description": "List of directory tenant health reports.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Directory tenant health report.",
          "items": {
            "$ref": "#/definitions/DirectoryTenantHealthReport"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "DirectoryTenantHealthReport": {
      "description": "A report of the health status of a directory tenant and identity applications within.",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "The tenant unique identifier.",
          "type": "string"
        },
        "tenantName": {
          "description": "The directory tenant resource name.",
          "type": "string"
        },
        "status": {
          "description": "The roll-up health status for the directory.",
          "$ref": "#/definitions/HealthStatus"
        },
        "applications": {
          "description": "List of the application health reports.",
          "$ref": "#/definitions/ApplicationHealthReportList"
        }
      }
    },
    "ApplicationHealthReportList": {
      "description": "List of the application health reports.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A report of the health status of an identity applications.",
          "items": {
            "$ref": "#/definitions/ApplicationHealthReport"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "ApplicationHealthReport": {
      "description": "A report of the health status of an identity applications.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "The application identifier.",
          "type": "string"
        },
        "servicePrincipalObjectId": {
          "description": "The service principal identifier.",
          "type": "string"
        },
        "status": {
          "description": "The roll-up health status for the application",
          "$ref": "#/definitions/HealthStatus"
        },
        "appRoleAssignments": {
          "description": "List of AppRoleAssignment health reports for the application.",
          "$ref": "#/definitions/AppRoleAssignmentHealthReportList"
        },
        "oAuth2PermissionGrants": {
          "description": "List of OAuth2PermissionGrant health reports for the application.",
          "$ref": "#/definitions/OAuth2PermissionGrantHealthReportList"
        },
        "servicePrincipalTags": {
          "description": "List of ServicePrincipalTag health reports for the application.",
          "$ref": "#/definitions/ServicePrincipalTagHealthReportList"
        }
      }
    },
    "AppRoleAssignmentHealthReportList": {
      "description": "List of AppRoleAssignment health reports for the application.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A report of the health status of an AppRoleAssignment.",
          "items": {
            "$ref": "#/definitions/AppRoleAssignmentHealthReport"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "AppRoleAssignmentHealthReport": {
      "description": "A report of the health status of an AppRoleAssignment.",
      "type": "object",
      "properties": {
        "appRoleAssignment": {
          "description": "The permission description.",
          "$ref": "#/definitions/AppRoleAssignmentDefinition"
        },
        "status": {
          "description": "The health status for the permission.",
          "$ref": "#/definitions/HealthStatus"
        }
      }
    },
    "AppRoleAssignmentDefinition": {
      "description": "Application role assignment definition.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource identifier. This should be the application identifier of the resource application.",
          "type": "string"
        },
        "client": {
          "description": "The client identifier. This should be the application identifier of the client application.",
          "type": "string"
        },
        "roleId": {
          "description": "The role identifier. This should be the ID of the AppRole exposed by the resource application.",
          "type": "string"
        }
      }
    },
    "OAuth2PermissionGrantHealthReportList": {
      "description": "List of OAuth2PermissionGrant health reports for the application.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A report of the health status of an OAuth2PermissionGrant.",
          "items": {
            "$ref": "#/definitions/OAuth2PermissionGrantHealthReport"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "OAuth2PermissionGrantHealthReport": {
      "description": "A report of the health status of an OAuth2PermissionGrant.",
      "type": "object",
      "properties": {
        "oAuth2PermissionGrant": {
          "description": "The permission description.",
          "$ref": "#/definitions/OAuth2PermissionGrantDefinition"
        },
        "status": {
          "description": "The health status for the permission.",
          "$ref": "#/definitions/HealthStatus"
        }
      }
    },
    "OAuth2PermissionGrantDefinition": {
      "description": "Application permission grant definition.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource identifier. This should be the application identifier of the resource application.",
          "type": "string"
        },
        "client": {
          "description": "The client identifier. This should be the application identifier of the client application.",
          "type": "string"
        },
        "scope": {
          "description": "The scope identifier. This should be the scope value of the OAUTH2PERMISSION exposed by the resource application.",
          "type": "string"
        }
      }
    },
    "ServicePrincipalTagHealthReportList": {
      "description": "List of ServicePrincipalTag health reports for the application.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A report of the health status of a tag on an identity application service principal.",
          "items": {
            "$ref": "#/definitions/ServicePrincipalTagHealthReport"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "ServicePrincipalTagHealthReport": {
      "description": "A report of the health status of a tag on an identity application service principal.",
      "type": "object",
      "properties": {
        "servicePrincipalTag": {
          "description": "The tag.",
          "type": "string"
        },
        "status": {
          "description": "The health status for the tag.",
          "$ref": "#/definitions/HealthStatus"
        }
      }
    },
    "NameUnavailabilityReason": {
      "description": "The reason that the name is not available.",
      "type": "string",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "NameUnavailabilityReason",
        "modelAsString": true
      }
    },
    "MoveSubscriptionsDefinition": {
      "description": "The move subscriptions action definition",
      "type": "object",
      "required": [
        "resources"
      ],
      "properties": {
        "targetDelegatedProviderOffer": {
          "description": "The delegated provider offer identifier (from the Admin context) that the subscriptions to be moved to.",
          "type": "string"
        },
        "resources": {
          "description": "A collection of subscriptions to move to the target delegated provider offer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Subscription": {
      "description": "List of supported operations.",
      "type": "object",
      "properties": {
        "delegatedProviderSubscriptionId": {
          "description": "Parent DelegatedProvider subscription identifier.",
          "type": "string"
        },
        "displayName": {
          "description": "Subscription name.",
          "type": "string"
        },
        "id": {
          "description": "Fully qualified identifier.",
          "type": "string"
        },
        "externalReferenceId": {
          "description": "External reference identifier.",
          "type": "string"
        },
        "offerId": {
          "description": "Identifier of the offer under the scope of a delegated provider.",
          "type": "string"
        },
        "owner": {
          "description": "Subscription owner.",
          "type": "string"
        },
        "routingResourceManagerType": {
          "description": "Routing resource manager type.",
          "$ref": "#/definitions/ResourceManagerType"
        },
        "state": {
          "description": "Subscription state.",
          "$ref": "#/definitions/SubscriptionState"
        },
        "subscriptionId": {
          "description": "Subscription identifier.",
          "type": "string"
        },
        "tenantId": {
          "description": "Directory tenant identifier.",
          "type": "string"
        }
      }
    },
    "SubscriptionList": {
      "description": "List of subscriptions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Subscription definition.",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "ResourceManagerType": {
      "description": "Resource manager type.",
      "type": "string",
      "enum": [
        "Default",
        "Admin"
      ],
      "x-ms-enum": {
        "name": "ResourceManagerType",
        "modelAsString": true
      }
    },
    "SubscriptionState": {
      "description": "Subscription notification state.",
      "type": "string",
      "enum": [
        "NotDefined",
        "Enabled",
        "Warned",
        "PastDue",
        "Disabled",
        "Deleted",
        "Deleting",
        "PartiallyDeleted"
      ],
      "x-ms-enum": {
        "name": "SubscriptionState",
        "modelAsString": true,
        "values": [
          {
            "description": "Subscription is active. New resources can be created.",
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "description": "This state is not used in Azure Stack.",
            "name": "PastDue",
            "value": "PastDue"
          },
          {
            "description": "This state is not used in Azure Stack.",
            "name": "Warned",
            "value": "Warned"
          },
          {
            "description": "Subscription is not active and usage is not reported. Resources are shut down (VMs stopped and deallocated, IP addresses are freed, etc). During this period, the Azure Stack Operator can re-enable the subscription which allows creation of new resources but doesn’t automatically restore disabled resources.",
            "name": "Disabled",
            "value": "Disabled"
          },
          {
            "description": "This state is unique to Azure Stack and is only visible to the Azure Stack Operator, and if used, to the respective Delegated Provider. Resources and Data are being deleted before subscription state is set to Deleted. This state cannot be reversed. It means that deletion is in progress.",
            "name": "Deleting",
            "value": "Deleting"
          },
          {
            "description": "Final state of subscription. All resources and data are deleted. This state cannot be reversed.",
            "name": "Deleted",
            "value": "Deleted"
          },
          {
            "description": "This state is not used in Azure Stack.",
            "name": "NotDefined",
            "value": "NotDefined"
          },
          {
            "description": "This state is unique to Azure Stack and is only visible to the Azure Stack Operator, and if used, to the respective Delegated Provider. It means that deletion failed.  You can’t reverse the deletion process, so in this state all you can do is restart deletion.  This state is not reported to RPs.",
            "name": "PartiallyDeleted",
            "value": "PartiallyDeleted"
          }
        ]
      }
    },
    "HealthStatus": {
      "description": "Health Status.",
      "type": "string",
      "enum": [
        "Unknown",
        "Unhealthy",
        "Healthy"
      ],
      "x-ms-enum": {
        "name": "HealthStatus",
        "modelAsString": true,
        "values": [
          {
            "description": "The health status is unknown.",
            "name": "Unknown",
            "value": "Unknown"
          },
          {
            "description": "The health status is unhealthy, indicating something is wrong or a sub-health status is Unhealthy or Unknown.",
            "name": "Unhealthy",
            "value": "Unhealthy"
          },
          {
            "description": "The health status is healthy, indicating nothing is wrong.",
            "name": "Healthy",
            "value": "Healthy"
          }
        ]
      }
    },
    "Metric": {
      "description": "The resource metric set that represents the metrics for a particular resource.",
      "type": "object",
      "properties": {
        "metricUnit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "timeGrain": {
          "description": "Timespan of the metric.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "End time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "metricValues": {
          "description": "Collected metric values in the timespan.",
          "$ref": "#/definitions/MetricValueList"
        }
      }
    },
    "MetricValue": {
      "description": "Metric value",
      "type": "object",
      "properties": {
        "timeStamp": {
          "description": "Timestamp of when the metric value was collected.",
          "type": "string",
          "format": "date-time"
        },
        "average": {
          "description": "Average value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "minimum": {
          "description": "Minimum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Maximum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "total": {
          "description": "Total value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "description": "Number of measurements for metric sample period.",
          "type": "integer"
        },
        "properties": {
          "x-ms-client-name": "extendedProperties",
          "description": "Extended properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "MetricValueList": {
      "description": "List of metric values.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricValue"
      }
    },
    "MetricDefinition": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "name": {
          "description": "Metric definition name.",
          "type": "string"
        },
        "unit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "primaryAggregationType": {
          "description": "Type of the primary aggregation.",
          "$ref": "#/definitions/MetricPrimaryAggregationType"
        },
        "metricAvailabilities": {
          "description": "Metric availabilities.",
          "$ref": "#/definitions/MetricAvailabilityList"
        }
      }
    },
    "MetricUnit": {
      "description": "The resource metric unit.",
      "type": "string",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond"
      ],
      "x-ms-enum": {
        "name": "MetricUnit",
        "modelAsString": true,
        "values": [
          {
            "description": "The count.",
            "name": "Count",
            "value": "Count"
          },
          {
            "description": "The bytes.",
            "name": "Bytes",
            "value": "Bytes"
          },
          {
            "description": "The seconds.",
            "name": "Seconds",
            "value": "Seconds"
          },
          {
            "description": "The count per second.",
            "name": "CountPerSecond",
            "value": "CountPerSecond"
          },
          {
            "description": "The bytes per second.",
            "name": "BytesPerSecond",
            "value": "BytesPerSecond"
          }
        ]
      }
    },
    "MetricPrimaryAggregationType": {
      "description": "The primary aggregation type for resource metric.",
      "type": "string",
      "enum": [
        "None",
        "Average",
        "Total",
        "Minimum",
        "Maximum",
        "Last"
      ],
      "x-ms-enum": {
        "name": "MetricPrimaryAggregationType",
        "modelAsString": true,
        "values": [
          {
            "description": "No aggregation applied to resource.",
            "name": "None",
            "value": "None"
          },
          {
            "description": "The average aggregation type.",
            "name": "Average",
            "value": "Average"
          },
          {
            "description": "The total aggregation type.",
            "name": "Total",
            "value": "Total"
          },
          {
            "description": "The minimum aggregation type.",
            "name": "Minimum",
            "value": "Minimum"
          },
          {
            "description": "The maximum aggregation type.",
            "name": "Maximum",
            "value": "Maximum"
          },
          {
            "description": "The last aggregation type.",
            "name": "Last",
            "value": "Last"
          }
        ]
      }
    },
    "MetricAvailability": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "The time grain. Metrics will be available for this time grain.",
          "type": "string"
        },
        "retention": {
          "description": "the retention. Metrics may be queried for this interval.",
          "type": "string"
        }
      }
    },
    "MetricAvailabilityList": {
      "description": "List of metric definitions.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricAvailability"
      }
    },
    "MetricList": {
      "description": "List of metrics.",
      "properties": {
        "value": {
          "description": "List of metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    },
    "MetricDefinitionList": {
      "description": "List of metric definitions.",
      "properties": {
        "value": {
          "description": "Array of metric definitions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2015-11-01"
    },
    "ResourceGroupParameter": {
      "description": "The resource group the resource is located under.",
      "name": "resourceGroupName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "OperationsStatusParameter": {
      "description": "The operation status name.",
      "name": "operationsStatusName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "description": "The AzureStack location.",
      "name": "location",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionParameter": {
      "description": "Subscription parameter.",
      "name": "subscription",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "NewSubscriptionParameter": {
      "description": "Subscription parameter.",
      "name": "newSubscription",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/Subscription"
      },
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "OfferParameter": {
      "description": "Name of an offer.",
      "name": "offer",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PlanParameter": {
      "description": "Name of the plan.",
      "name": "plan",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DelegatedProviderParameter": {
      "description": "DelegatedProvider identifier.",
      "name": "delegatedProvider",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DelegatedProviderSubscriptionIdParameter": {
      "description": "Delegated provider subscription identifier.",
      "name": "delegatedProviderSubscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CheckNameAvailabilityParameter": {
      "description": "Check name availability parameter",
      "name": "nameAvailabilityDefinition",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/CheckNameAvailabilityDefinition"
      },
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "MoveSubscriptionsParameter": {
      "description": "Move subscriptions parameter.",
      "name": "moveSubscriptionsDefinition",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/MoveSubscriptionsDefinition"
      },
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-operation-group-name": "Operations (SubscriptionsAdmin)",
  "x-internal-toc-name": "Operations (SubscriptionsAdmin)",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}