{
  "swagger": "2.0",
  "info": {
    "title": "ServerManagement",
    "description": "REST API for Azure Server Management Service.",
    "version": "2016-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions": {
      "get": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_ListSession",
        "description": "Gets a list of the active sessions.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellSessionResources"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}": {
      "put": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_CreateSession",
        "description": "Creates a PowerShell session.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed succesfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellSessionResource"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_GetCommandStatus",
        "description": "Gets the status of a command.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "output"
            ],
            "x-ms-enum": {
              "modelAsString": false,
              "name": "PowerShellExpandOption"
            },
            "description": "Gets current output from an ongoing call."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellCommandStatus"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_UpdateCommand",
        "description": "Updates a running PowerShell command with more data.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellCommandResults"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/invokeCommand": {
      "post": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_InvokeCommand",
        "description": "Creates a PowerShell script and invokes it.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          },
          {
            "name": "PowerShellCommandParameters",
            "x-ms-client-flatten": true,
            "description": "Parameters supplied to the Invoke PowerShell Command operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PowerShellCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellCommandResults"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/cancel": {
      "post": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_CancelCommand",
        "description": "Cancels a PowerShell command.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          }
        ],
        "responses": {
          "200": {
            "description": "The cancellation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/PowerShellCommandResults"
            }
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/tab": {
      "post": {
        "tags": [
          "PowerShell"
        ],
        "operationId": "PowerShell_TabCompletion",
        "description": "Gets tab completion values for a command.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name uniquely identifies the resource group within the user subscriptionId.",
            "minLength": 3,
            "pattern": "[a-zA-Z0-9]+"
          },
          {
            "name": "nodeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node name (256 characters maximum).",
            "maxLength": 256,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sessionId from the user."
          },
          {
            "name": "pssession",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The PowerShell sessionId from the user."
          },
          {
            "name": "PowerShellTabCompletionParamters",
            "x-ms-client-flatten": true,
            "description": "Parameters supplied to the tab completion call.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PowerShellTabCompletionParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was succesfully completed.",
            "schema": {
              "$ref": "#/definitions/PowerShellTabCompletionResults"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "x-ms-azure-resource": true,
      "description": "Resource Manager Resource Information.",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Manager Resource ID."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Manager Resource Type."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Manager Resource Name."
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Manager Resource Location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource Manager Resource Tags."
        },
        "etag": {
          "type": "string"
        }
      }
    },
    "GatewayResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Data model for an arm gateway resource.",
      "properties": {
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "created": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when gateway was first added to management service."
            },
            "updated": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when node was last updated."
            },
            "upgradeMode": {
              "type": "string",
              "description": "The upgradeMode property gives the flexibility to gateway to auto upgrade itself. If properties value not specified, then we assume upgradeMode = Automatic.",
              "enum": [
                "Manual",
                "Automatic"
              ],
              "x-ms-enum": {
                "name": "upgradeMode",
                "modelAsString": false
              }
            },
            "desiredVersion": {
              "type": "string",
              "description": "Latest available MSI version."
            },
            "instances": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GatewayStatus"
              },
              "description": "Names of the nodes in the gateway."
            },
            "activeMessageCount": {
              "type": "integer",
              "description": "Number of active messages."
            },
            "latestPublishedMsiVersion": {
              "type": "string",
              "description": "Last published MSI version."
            },
            "publishedTimeUtc": {
              "type": "string",
              "format": "date-time",
              "description": "The date/time of the last published gateway."
            },
            "installerDownload": {
              "type": "string",
              "readOnly": true,
              "description": "Installer download uri."
            },
            "minimumVersion": {
              "type": "string",
              "readOnly": true,
              "description": "Minimum gateway version."
            }
          }
        }
      }
    },
    "GatewayResources": {
      "type": "object",
      "description": "Collection of Gateway Resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayResource"
          },
          "description": "Collection of Gateway Resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "GatewayStatus": {
      "description": "Expanded gateway status information.",
      "properties": {
        "availableMemoryMByte": {
          "type": "number",
          "description": "The available memory on the gateway host machine in megabytes."
        },
        "gatewayCpuUtilizationPercent": {
          "type": "number",
          "minimum": 0,
          "maximum": 100,
          "format": "float",
          "description": "The CPU utilization of the gateway process (numeric value between 0 and 100)."
        },
        "totalCpuUtilizationPercent": {
          "type": "number",
          "description": "CPU Utilization of the whole system."
        },
        "gatewayVersion": {
          "type": "string",
          "description": "The version of the gateway that is installed on the system."
        },
        "friendlyOsName": {
          "type": "string",
          "description": "The Plaintext description of the OS on the gateway."
        },
        "installedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the gateway was installed."
        },
        "logicalProcessorCount": {
          "type": "integer",
          "description": "Number of logical processors in the gateway system."
        },
        "name": {
          "type": "string",
          "description": "The computer name of the gateway system."
        },
        "gatewayId": {
          "type": "string",
          "description": "The gateway resource ID."
        },
        "gatewayWorkingSetMByte": {
          "type": "number",
          "description": "The working set size of the gateway process in megabytes."
        },
        "statusUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "UTC date and time when gateway status was last updated."
        },
        "groupPolicyError": {
          "type": "string",
          "description": "The group policy error."
        },
        "allowGatewayGroupPolicyStatus": {
          "type": "boolean",
          "description": "Status of the allowGatewayGroupPolicy setting."
        },
        "requireMfaGroupPolicyStatus": {
          "type": "boolean",
          "description": "Status of the requireMfaGroupPolicy setting."
        },
        "encryptionCertificateThumbprint": {
          "type": "string",
          "description": "Thumbprint of the encryption certificate."
        },
        "secondaryEncryptionCertificateThumbprint": {
          "type": "string",
          "description": "Secondary thumbprint of the encryption certificate."
        },
        "encryptionJwk": {
          "$ref": "#/definitions/EncryptionJwkResource",
          "description": "The encryption certificate key."
        },
        "secondaryEncryptionJwk": {
          "$ref": "#/definitions/EncryptionJwkResource",
          "description": "The secondary encryption certificate key."
        },
        "activeMessageCount": {
          "type": "integer",
          "description": "Active message count."
        },
        "latestPublishedMsiVersion": {
          "type": "string",
          "description": "Latest published version of the gateway install MSI."
        },
        "publishedTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gateway install MSI published time."
        }
      }
    },
    "GatewayProfile": {
      "description": "JSON properties that the gateway service uses know how to communicate with the resource.",
      "properties": {
        "dataPlaneServiceBaseAddress": {
          "type": "string",
          "description": "The Dataplane connection URL."
        },
        "gatewayId": {
          "type": "string",
          "description": "The ID of the gateway."
        },
        "environment": {
          "type": "string",
          "description": "The environment for the gateway (DEV, DogFood, or Production)."
        },
        "upgradeManifestUrl": {
          "type": "string",
          "description": "Gateway upgrade manifest URL."
        },
        "messagingNamespace": {
          "type": "string",
          "description": "Messaging namespace."
        },
        "messagingAccount": {
          "type": "string",
          "description": "Messaging Account."
        },
        "messagingKey": {
          "type": "string",
          "description": "Messaging Key."
        },
        "requestQueue": {
          "type": "string",
          "description": "Request queue name."
        },
        "responseTopic": {
          "type": "string",
          "description": "Response topic name."
        },
        "statusBlobSignature": {
          "type": "string",
          "description": "The gateway status blob SAS URL."
        }
      }
    },
    "GatewayParameters": {
      "description": "Collection of parameters for operations on a gateway resource.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags."
        },
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "upgradeMode": {
              "type": "string",
              "description": "The upgradeMode property gives the flexibility to gateway to auto upgrade itself. If properties value not specified, then we assume upgradeMode = Automatic.",
              "enum": [
                "Manual",
                "Automatic"
              ],
              "x-ms-enum": {
                "name": "upgradeMode",
                "modelAsString": false
              }
            }
          }
        }
      }
    },
    "NodeResource": {
      "description": "A Node Resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "gatewayId": {
              "type": "string",
              "description": "ID of the gateway."
            },
            "connectionName": {
              "type": "string",
              "description": "myhost.domain.com"
            },
            "created": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when node was first added to management service."
            },
            "updated": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when node was last updated."
            }
          }
        }
      }
    },
    "NodeResources": {
      "type": "object",
      "description": "A collection of node resource objects.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeResource"
          },
          "description": "Collection of Node Resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "NodeParameters": {
      "description": "Parameter collection for operations on arm node resource.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags."
        },
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "gatewayId": {
              "type": "string",
              "description": "Gateway ID which will manage this node."
            },
            "connectionName": {
              "type": "string",
              "description": "myhost.domain.com"
            },
            "userName": {
              "type": "string",
              "description": "User name to be used to connect to node."
            },
            "password": {
              "type": "string",
              "format": "password",
              "description": "Password associated with user name."
            }
          }
        }
      }
    },
    "SessionResource": {
      "description": "The session object.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "userName": {
              "type": "string",
              "description": "The username connecting to the session."
            },
            "created": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when node was first added to management service."
            },
            "updated": {
              "type": "string",
              "format": "date-time",
              "description": "UTC date and time when node was last updated."
            }
          }
        }
      }
    },
    "SessionParameters": {
      "description": "Parameter collection for creation and other operations on sessions.",
      "properties": {
        "properties": {
          "description": "Collection of properties",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "userName": {
              "type": "string",
              "description": "Encrypted User name to be used to connect to node."
            },
            "password": {
              "type": "string",
              "description": "Encrypted Password associated with user name."
            },
            "retentionPeriod": {
              "type": "string",
              "description": "Session retention period.",
              "enum": [
                "Session",
                "Persistent"
              ],
              "x-ms-enum": {
                "name": "retentionPeriod",
                "modelAsString": false
              }
            },
            "credentialDataFormat": {
              "type": "string",
              "description": "Credential data format.",
              "enum": [
                "RsaEncrypted"
              ],
              "x-ms-enum": {
                "name": "credentialDataFormat",
                "modelAsString": false
              }
            },
            "EncryptionCertificateThumbprint": {
              "type": "string",
              "description": "Encryption certificate thumbprint."
            }
          }
        }
      }
    },
    "PowerShellSessionResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "A PowerShell session resource (practically equivalent to a runspace instance).",
      "properties": {
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "sessionId": {
              "type": "string",
              "description": "The PowerShell Session ID."
            },
            "state": {
              "type": "string",
              "description": "The runspace state."
            },
            "runspaceAvailability": {
              "type": "string",
              "description": "The availability of the runspace."
            },
            "disconnectedOn": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last time the service disconnected from the runspace."
            },
            "expiresOn": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the runspace expires."
            },
            "version": {
              "$ref": "#/definitions/Version"
            },
            "name": {
              "type": "string",
              "description": "Name of the runspace."
            }
          }
        }
      }
    },
    "PowerShellCommandStatus": {
      "description": "Result status from invoking a PowerShell command.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PowerShellCommandResults"
        }
      }
    },
    "Version": {
      "description": "A multipart-numeric version number.",
      "properties": {
        "major": {
          "type": "integer",
          "description": "The leftmost number of the version."
        },
        "minor": {
          "type": "integer",
          "description": "The second leftmost number of the version."
        },
        "build": {
          "type": "integer",
          "description": "The third number of the version."
        },
        "revision": {
          "type": "integer",
          "description": "The fourth number of the version."
        },
        "majorRevision": {
          "type": "integer",
          "description": "The MSW of the fourth part."
        },
        "minorRevision": {
          "type": "integer",
          "description": "The LSW of the fourth part."
        }
      }
    },
    "PowerShellSessionResources": {
      "description": "A collection of PowerShell session resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerShellSessionResource"
          },
          "description": "Collection of PowerShell session resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to the next set of resources."
        }
      }
    },
    "PowerShellCommandParameters": {
      "description": "The parameters to a PowerShell script execution command.",
      "properties": {
        "properties": {
          "description": "Collection of properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "command": {
              "type": "string",
              "description": "Script to execute."
            }
          }
        }
      }
    },
    "PowerShellCommandResults": {
      "description": "A collection of results from a PowerShell command.",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerShellCommandResult"
          }
        },
        "pssession": {
          "type": "string"
        },
        "command": {
          "type": "string"
        },
        "completed": {
          "type": "boolean"
        }
      }
    },
    "PowerShellCommandResult": {
      "description": "Results from invoking a PowerShell command.",
      "properties": {
        "messageType": {
          "description": "The type of message.",
          "type": "integer"
        },
        "foregroundColor": {
          "description": "The HTML color string representing the foreground color.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The HTML color string representing the background color.",
          "type": "string"
        },
        "value": {
          "description": "Actual result text from the PowerShell Command.",
          "type": "string"
        },
        "prompt": {
          "description": "The interactive prompt message.",
          "type": "string"
        },
        "exitCode": {
          "description": "The exit code from a executable that was called from PowerShell.",
          "type": "integer"
        },
        "id": {
          "type": "integer",
          "description": "ID of the prompt message."
        },
        "caption": {
          "type": "string",
          "description": "Text that precedes the prompt."
        },
        "message": {
          "type": "string",
          "description": "Text of the prompt."
        },
        "descriptions": {
          "type": "array",
          "description": "Collection of PromptFieldDescription objects that contains the user input.",
          "items": {
            "$ref": "#/definitions/PromptFieldDescription"
          }
        }
      }
    },
    "PromptFieldDescription": {
      "description": "Field description for the implementation of PSHostUserInterface.Prompt",
      "properties": {
        "name": {
          "description": "The name of the prompt.",
          "type": "string"
        },
        "label": {
          "description": "The label text of the prompt.",
          "type": "string"
        },
        "helpMessage": {
          "description": "The help message of the prompt.",
          "type": "string"
        },
        "promptFieldTypeIsList": {
          "description": "When set to 'true' the prompt field type is a list of values.",
          "type": "boolean"
        },
        "promptFieldType": {
          "type": "string",
          "enum": [
            "String",
            "SecureString",
            "Credential"
          ],
          "x-ms-enum": {
            "name": "PromptFieldType",
            "modelAsString": false
          }
        }
      }
    },
    "PromptMessageResponse": {
      "description": "The response to a prompt message.",
      "properties": {
        "response": {
          "description": "The list of responses a cmdlet expects.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PowerShellTabCompletionParameters": {
      "description": "Collection of parameters for PowerShell tab completion.",
      "properties": {
        "command": {
          "type": "string",
          "description": "Command to get tab completion for."
        }
      }
    },
    "PowerShellTabCompletionResults": {
      "description": "An array of strings representing the different values that can be selected through.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Error": {
      "description": "Error message.",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    },
    "EncryptionJwkResource": {
      "description": "The public key of the gateway.",
      "type": "object",
      "properties": {
        "kty": {
          "type": "string"
        },
        "alg": {
          "type": "string"
        },
        "e": {
          "type": "string"
        },
        "n": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API Version."
    }
  }
}