{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "Logical network operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all logical networks at a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001",
                      "name": "00000000-2222-1111-9999-000000000001",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": false,
                        "subnets": [
                          "de2b8680-ed17-4df9-a5f9-c05c090e8f4a"
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/47931036-2874-4d45-b1f1-b69666088968",
                      "name": "47931036-2874-4d45-b1f1-b69666088968",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": false,
                        "subnets": [
                          "0af29a71-c4f4-42b3-bd7f-83b65340b0fb"
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/B60B71AA-36BF-40AC-A9CE-A6915D1EAE1A",
                      "name": "B60B71AA-36BF-40AC-A9CE-A6915D1EAE1A",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": false,
                        "subnets": [
                          "85f3102d-0213-4445-8aef-6507440f2228"
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/bb6c6f28-bad9-441b-8e62-57d2be255904",
                      "name": "bb6c6f28-bad9-441b-8e62-57d2be255904",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": true,
                        "subnets": [
                          "e5e8cf68-5daf-4d4a-a2eb-c38852a6a1dc"
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/F207C184-367C-4BC7-8C74-03AA39D68C24",
                      "name": "F207C184-367C-4BC7-8C74-03AA39D68C24",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": false,
                        "subnets": [
                          "0cb684a8-0ccd-42b9-b1e4-243a05622b8f"
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/f8f67956-3906-4303-94c5-09cf91e7e311",
                      "name": "f8f67956-3906-4303-94c5-09cf91e7e311",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "networkVirtualizationEnabled": false,
                        "subnets": [
                          "11313dcd-b797-43eb-8234-2d10b208e0b6",
                          "Subnet-TestIpPool1992",
                          "Subnet-TestIpPool199198",
                          "Subnet-TestIpPool1993",
                          "Subnet-TestIpPool1994",
                          "Subnet-TestIpPool199196"
                        ]
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "LogicalNetworks"
        ],
        "description": "Returns a list of all logical networks at a location.",
        "operationId": "LogicalNetworks_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalNetworkList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-odata": "#/definitions/LogicalNetwork",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "LogicalNetwork": {
      "description": "This resource represents a logical partition of physical network that is dedicated for a particular purpose.  A logical network comprises a collection of logical subnets.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a logical network.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogicalNetworkModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "LogicalNetworkModel": {
      "description": "Properties of a logical network.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata related to the logical network.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkVirtualizationEnabled": {
          "description": "Flag to indicate that the network virtualization is enabled on the logical network.",
          "type": "boolean"
        },
        "subnets": {
          "description": "List of subnets belonging to the logical network.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogicalNetworkList": {
      "description": "A pageable list of logical networks.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of logical networks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicalNetwork"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "LogicalNetworkParameter": {
      "name": "logicalNetwork",
      "description": "Name of the logical network.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Logical Networks",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}