{
  "swagger": "2.0",
  "info": {
    "version": "2018-07-01-preview",
    "title": "PolicyTrackedResourcesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "operationId": "PolicyTrackedResources_ListQueryResultsForResource",
        "description": "Queries policy tracked resources under the resource.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceIdParameter"
          },
          {
            "$ref": "#/parameters/policyTrackedResourcesResourceParameter"
          },
          {
            "$ref": "#/parameters/topParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Query results.",
            "schema": {
              "$ref": "#/definitions/PolicyTrackedResourcesQueryResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/QueryFailure"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Query at resource scope": {
            "parameters": {
              "policyTrackedResourcesResource": "default",
              "resourceId": "subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource",
              "api-version": "2018-07-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1",
                      "policyDetails": {
                        "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                        "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                        "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                        "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                        "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition",
                        "policyDefinitionReferenceId": "123ABC"
                      },
                      "createdBy": {
                        "policyDetails": {
                          "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition",
                          "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                          "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/"
                        },
                        "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                        "deploymentTime": "2018-03-09T00:00:00.0000000Z"
                      },
                      "lastModifiedBy": {
                        "policyDetails": {
                          "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition",
                          "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                          "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/"
                        },
                        "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                        "deploymentTime": "2018-04-09T00:00:00.0000000Z"
                      },
                      "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z"
                    },
                    {
                      "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource2",
                      "policyDetails": {
                        "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2",
                        "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2",
                        "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/"
                      },
                      "lastUpdateUtc": "2018-08-10T00:40:17.3585243Z"
                    }
                  ]
                }
              }
            }
          },
          "Query at resource scope using query parameters": {
            "parameters": {
              "policyTrackedResourcesResource": "default",
              "resourceId": "subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource",
              "api-version": "2018-07-01-preview",
              "$filter": "PolicyAssignmentId eq '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment' AND TrackedResourceId eq '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1'",
              "$top": 1
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "trackedResourceId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1",
                      "policyDetails": {
                        "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1",
                        "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1",
                        "policyAssignmentDisplayName": "My Policy Assignment 1 Display name",
                        "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/",
                        "policySetDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition",
                        "policyDefinitionReferenceId": "123ABC"
                      },
                      "createdBy": {
                        "policyDetails": {
                          "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition",
                          "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment",
                          "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/"
                        },
                        "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                        "deploymentTime": "2018-03-09T00:00:00.0000000Z"
                      },
                      "lastModifiedBy": {
                        "policyDetails": {
                          "policyDefinitionId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition",
                          "policyAssignmentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment",
                          "policyAssignmentScope": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/"
                        },
                        "deploymentId": "/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName",
                        "deploymentTime": "2018-04-09T00:00:00.0000000Z"
                      },
                      "lastUpdateUtc": "2018-08-09T20:40:17.3585243Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-internal-toc-name": "List Query Results For Resource"
      }
    }
  },
  "definitions": {
    "PolicyTrackedResourcesQueryResults": {
      "description": "Query results.",
      "properties": {
        "value": {
          "description": "Query results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyTrackedResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results.",
          "readOnly": true
        }
      }
    },
    "PolicyTrackedResource": {
      "type": "object",
      "description": "Policy tracked resource record.",
      "properties": {
        "trackedResourceId": {
          "description": "The ID of the policy tracked resource.",
          "type": "string",
          "readOnly": true
        },
        "policyDetails": {
          "$ref": "#/definitions/PolicyDetails",
          "description": "The details of the policy that require the tracked resource.",
          "readOnly": true
        },
        "createdBy": {
          "$ref": "#/definitions/TrackedResourceModificationDetails",
          "description": "The details of the policy triggered deployment that created the tracked resource.",
          "readOnly": true
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/TrackedResourceModificationDetails",
          "description": "The details of the policy triggered deployment that modified the tracked resource.",
          "readOnly": true
        },
        "lastUpdateUtc": {
          "description": "Timestamp of the last update to the tracked resource.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "TrackedResourceModificationDetails": {
      "type": "object",
      "description": "The details of the policy triggered deployment that created or modified the tracked resource.",
      "properties": {
        "policyDetails": {
          "$ref": "#/definitions/PolicyDetails",
          "description": "The details of the policy that created or modified the tracked resource.",
          "readOnly": true
        },
        "deploymentId": {
          "description": "The ID of the deployment that created or modified the tracked resource.",
          "type": "string",
          "readOnly": true
        },
        "deploymentTime": {
          "description": "Timestamp of the deployment that created or modified the tracked resource.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "PolicyDetails": {
      "type": "object",
      "description": "The policy details.",
      "properties": {
        "policyDefinitionId": {
          "description": "The ID of the policy definition.",
          "type": "string",
          "readOnly": true
        },
        "policyAssignmentId": {
          "description": "The ID of the policy assignment.",
          "type": "string",
          "readOnly": true
        },
        "policyAssignmentDisplayName": {
          "description": "The display name of the policy assignment.",
          "type": "string",
          "readOnly": true
        },
        "policyAssignmentScope": {
          "description": "The scope of the policy assignment.",
          "type": "string",
          "readOnly": true
        },
        "policySetDefinitionId": {
          "description": "The ID of the policy set definition.",
          "type": "string",
          "readOnly": true
        },
        "policyDefinitionReferenceId": {
          "description": "The policy definition reference ID within the policy set definition.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QueryFailure": {
      "description": "Error response.",
      "properties": {
        "error": {
          "description": "Error definition.",
          "properties": {
            "code": {
              "description": "Service specific error code which serves as the substatus for the HTTP error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Description of the error.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    }
  },
  "parameters": {
    "policyTrackedResourcesResourceParameter": {
      "name": "policyTrackedResourcesResource",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "default"
      ],
      "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
      "x-ms-parameter-location": "method"
    },
    "managementGroupsNamespaceParameter": {
      "name": "managementGroupsNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "Microsoft.Management"
      ],
      "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
      "x-ms-parameter-location": "method"
    },
    "managementGroupNameParameter": {
      "name": "managementGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Management group name.",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource group name.",
      "x-ms-parameter-location": "method"
    },
    "resourceIdParameter": {
      "name": "resourceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource ID.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "topParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "description": "Maximum number of records to return.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Top"
    },
    "filterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "OData filter expression.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Filter"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Microsoft Azure subscription ID."
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "x-ms-parameter-location": "client"
    }
  },
  "x-internal-service-id": "policy-insights",
  "x-internal-service-name": "Policy Insights",
  "x-internal-toc-name": "Policy Tracked Resources",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListQueryResultsForResource",
  "x-internal-operation-name": "List Query Results For Resource"
}