{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-30",
    "title": "RunCommandsClient",
    "description": "The Run Commands Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "RunCommandInputParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "value": {
          "type": "string",
          "description": "The run command parameter value."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandInput": {
      "properties": {
        "commandId": {
          "type": "string",
          "description": "The run command id."
        },
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The script to be executed.  When this value is given, the given script will override the default script of the command."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandInputParameter"
          },
          "description": "The run command parameters."
        }
      },
      "required": [
        "commandId"
      ],
      "description": "Capture Virtual Machine parameters."
    },
    "RunCommandParameterDefinition": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "type": {
          "type": "string",
          "description": "The run command parameter type."
        },
        "defaultValue": {
          "type": "string",
          "description": "The run command parameter default value."
        },
        "required": {
          "type": "boolean",
          "description": "The run command parameter required.",
          "default": false
        }
      },
      "required": [
        "name",
        "type"
      ],
      "description": "Describes the properties of a run command parameter."
    },
    "RunCommandDocumentBase": {
      "properties": {
        "$schema": {
          "type": "string",
          "description": "The VM run command schema."
        },
        "id": {
          "type": "string",
          "description": "The VM run command id."
        },
        "osType": {
          "type": "string",
          "description": "The Operating System type.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "label": {
          "type": "string",
          "description": "The VM run command label."
        },
        "description": {
          "type": "string",
          "description": "The VM run command description."
        }
      },
      "required": [
        "$schema",
        "id",
        "osType",
        "label",
        "description"
      ],
      "description": "Describes the properties of a Run Command metadata."
    },
    "RunCommandDocument": {
      "allOf": [
        {
          "$ref": "#/definitions/RunCommandDocumentBase"
        }
      ],
      "properties": {
        "script": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The script to be executed."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandParameterDefinition"
          },
          "description": "The parameters used by the script."
        }
      },
      "required": [
        "script"
      ],
      "description": "Describes the properties of a Run Command."
    },
    "RunCommandListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunCommandDocumentBase"
          },
          "description": "The list of virtual machine run commands."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of run commands. Call ListNext() with this to fetch the next page of run commands."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Virtual Machine operation response."
    },
    "RunCommandResultProperties": {
      "properties": {
        "output": {
          "type": "object",
          "description": "Operation output data (raw JSON)"
        }
      },
      "description": "Compute-specific operation properties, including output"
    },
    "RunCommandResult": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RunCommandResultProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/OperationStatusResponse"
        }
      ],
      "description": "Run command operation response."
    },
    "ApiErrorBase": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error base."
    },
    "InnerError": {
      "properties": {
        "exceptiontype": {
          "type": "string",
          "description": "The exception type."
        },
        "errordetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      },
      "description": "Inner error details."
    },
    "ApiError": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiErrorBase"
          },
          "description": "The Api error details"
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "The Api inner error"
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error."
    },
    "OperationStatusResponse": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation ID"
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Operation status"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Start time of the operation"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "End time of the operation"
        },
        "error": {
          "readOnly": true,
          "$ref": "#/definitions/ApiError",
          "description": "Api error"
        }
      },
      "description": "Operation status response"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-name": "Compute",
  "x-internal-operation-group-name": "Virtual Machines Run Commands",
  "x-internal-toc-name": "Virtual Machines Run Commands",
  "x-internal-split-members": [
    {
      "displayName": "Run Command",
      "relativePath": "Virtual Machines Run Commands/RunCommand"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}