{
  "swagger": "2.0",
  "info": {
    "version": "2018-03-01-preview",
    "title": "DnsManagementClient",
    "description": "The DNS Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_List",
        "description": "Lists the DNS zones in all resource groups in a subscription.",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of DNS zones to return. If not specified, returns up to 100 zones."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ZoneListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List zones by subscription": {
            "parameters": {
              "api-version": "2018-03-01-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://servicehost/subscriptions/subid/providers/Microsoft.Network/dnsZones?api-version=2018-03-01-preview&$skipToken=skipToken",
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1",
                      "etag": "00000000-0000-0000-0000-000000000000",
                      "location": "global",
                      "name": "zone1",
                      "type": "Microsoft.Network/dnsZones",
                      "properties": {
                        "maxNumberOfRecordSets": 5000,
                        "numberOfRecordSets": 2,
                        "nameServers": [
                          "ns1-01.azure-dns.com",
                          "ns2-01.azure-dns.net",
                          "ns3-01.azure-dns.org",
                          "ns4-01.azure-dns.info"
                        ]
                      },
                      "tags": {
                        "key1": "value1"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/dnsZones/zone2",
                      "etag": "00000000-0000-0000-0000-000000000000",
                      "location": "global",
                      "name": "zone2",
                      "type": "Microsoft.Network/dnsZones",
                      "properties": {
                        "maxNumberOfRecordSets": 5000,
                        "numberOfRecordSets": 300,
                        "nameServers": [
                          "ns1-02.azure-dns.com",
                          "ns2-02.azure-dns.net",
                          "ns3-02.azure-dns.org",
                          "ns4-02.azure-dns.info"
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "ARecord": {
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address of this A record."
        }
      },
      "description": "An A record."
    },
    "AaaaRecord": {
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address of this AAAA record."
        }
      },
      "description": "An AAAA record."
    },
    "MxRecord": {
      "properties": {
        "preference": {
          "type": "integer",
          "format": "int32",
          "description": "The preference value for this MX record."
        },
        "exchange": {
          "type": "string",
          "description": "The domain name of the mail host for this MX record."
        }
      },
      "description": "An MX record."
    },
    "NsRecord": {
      "properties": {
        "nsdname": {
          "type": "string",
          "description": "The name server name for this NS record."
        }
      },
      "description": "An NS record."
    },
    "PtrRecord": {
      "properties": {
        "ptrdname": {
          "type": "string",
          "description": "The PTR target domain name for this PTR record."
        }
      },
      "description": "A PTR record."
    },
    "SrvRecord": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority value for this SRV record."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight value for this SRV record."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port value for this SRV record."
        },
        "target": {
          "type": "string",
          "description": "The target domain name for this SRV record."
        }
      },
      "description": "An SRV record."
    },
    "TxtRecord": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The text value of this TXT record."
        }
      },
      "description": "A TXT record."
    },
    "CnameRecord": {
      "properties": {
        "cname": {
          "type": "string",
          "description": "The canonical name for this CNAME record."
        }
      },
      "description": "A CNAME record."
    },
    "SoaRecord": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The domain name of the authoritative name server for this SOA record."
        },
        "email": {
          "type": "string",
          "description": "The email contact for this SOA record."
        },
        "serialNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The serial number for this SOA record."
        },
        "refreshTime": {
          "type": "integer",
          "format": "int64",
          "description": "The refresh value for this SOA record."
        },
        "retryTime": {
          "type": "integer",
          "format": "int64",
          "description": "The retry time for this SOA record."
        },
        "expireTime": {
          "type": "integer",
          "format": "int64",
          "description": "The expire time for this SOA record."
        },
        "minimumTTL": {
          "type": "integer",
          "format": "int64",
          "x-ms-client-name": "minimumTtl",
          "description": "The minimum value for this SOA record. By convention this is used to determine the negative caching duration."
        }
      },
      "description": "An SOA record."
    },
    "CaaRecord": {
      "properties": {
        "flags": {
          "type": "integer",
          "format": "int32",
          "description": "The flags for this CAA record as an integer between 0 and 255."
        },
        "tag": {
          "type": "string",
          "description": "The tag for this CAA record."
        },
        "value": {
          "type": "string",
          "description": "The value for this CAA record."
        }
      },
      "description": "A CAA record."
    },
    "RecordSetProperties": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata attached to the record set."
        },
        "TTL": {
          "type": "integer",
          "format": "int64",
          "description": "The TTL (time-to-live) of the records in the record set."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the record set.",
          "readOnly": true
        },
        "ARecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "description": "The list of A records in the record set."
        },
        "AAAARecords": {
          "type": "array",
          "x-ms-client-name": "AaaaRecords",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "description": "The list of AAAA records in the record set."
        },
        "MXRecords": {
          "type": "array",
          "x-ms-client-name": "MxRecords",
          "items": {
            "$ref": "#/definitions/MxRecord"
          },
          "description": "The list of MX records in the record set."
        },
        "NSRecords": {
          "type": "array",
          "x-ms-client-name": "NsRecords",
          "items": {
            "$ref": "#/definitions/NsRecord"
          },
          "description": "The list of NS records in the record set."
        },
        "PTRRecords": {
          "type": "array",
          "x-ms-client-name": "PtrRecords",
          "items": {
            "$ref": "#/definitions/PtrRecord"
          },
          "description": "The list of PTR records in the record set."
        },
        "SRVRecords": {
          "type": "array",
          "x-ms-client-name": "SrvRecords",
          "items": {
            "$ref": "#/definitions/SrvRecord"
          },
          "description": "The list of SRV records in the record set."
        },
        "TXTRecords": {
          "type": "array",
          "x-ms-client-name": "TxtRecords",
          "items": {
            "$ref": "#/definitions/TxtRecord"
          },
          "description": "The list of TXT records in the record set."
        },
        "CNAMERecord": {
          "$ref": "#/definitions/CnameRecord",
          "x-ms-client-name": "CnameRecord",
          "description": "The CNAME record in the  record set."
        },
        "SOARecord": {
          "$ref": "#/definitions/SoaRecord",
          "x-ms-client-name": "SoaRecord",
          "description": "The SOA record in the record set."
        },
        "caaRecords": {
          "type": "array",
          "x-ms-client-name": "CaaRecords",
          "items": {
            "$ref": "#/definitions/CaaRecord"
          },
          "description": "The list of CAA records in the record set."
        }
      },
      "description": "Represents the properties of the records in the record set."
    },
    "RecordSet": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the record set.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the record set.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the record set.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The etag of the record set."
        },
        "properties": {
          "$ref": "#/definitions/RecordSetProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the record set."
        }
      },
      "description": "Describes a DNS record set (a collection of DNS records with the same name and type).",
      "x-ms-azure-resource": true
    },
    "RecordSetUpdateParameters": {
      "properties": {
        "RecordSet": {
          "$ref": "#/definitions/RecordSet",
          "description": "Specifies information about the record set being updated."
        }
      },
      "description": "Parameters supplied to update a record set."
    },
    "RecordSetListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecordSet"
          },
          "description": "Information about the record sets in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a record set List operation."
    },
    "ZoneProperties": {
      "properties": {
        "maxNumberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "numberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "nameServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "zoneType": {
          "type": "string",
          "enum": [
            "Public",
            "Private"
          ],
          "x-ms-enum": {
            "name": "ZoneType",
            "modelAsString": false
          },
          "default": "Public",
          "description": "The type of this DNS zone (Public or Private)."
        },
        "registrationVirtualNetworks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of references to virtual networks that register hostnames in this DNS zone. This is a only when ZoneType is Private."
        },
        "resolutionVirtualNetworks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of references to virtual networks that resolve records in this DNS zone. This is a only when ZoneType is Private."
        }
      },
      "description": "Represents the properties of the zone."
    },
    "Zone": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag of the zone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ZoneProperties",
          "description": "The properties of the zone."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes a DNS zone."
    },
    "ZoneUpdate": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Describes a request to update a DNS zone."
    },
    "ZoneListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Zone"
          },
          "description": "Information about the DNS zones."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a Zone List or ListAll operation."
    },
    "Resource": {
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ],
      "description": "Common properties of an Azure Resource Manager resource"
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id."
        }
      },
      "description": "A reference to a another resource"
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error message body"
        }
      },
      "x-ms-external": true,
      "description": "An error message"
    },
    "CloudErrorBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code"
        },
        "message": {
          "type": "string",
          "description": "A description of what caused the error"
        },
        "target": {
          "type": "string",
          "description": "The target resource of the error message"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "Extra error information"
        }
      },
      "x-ms-external": true,
      "description": "The body of an error message"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Specifies the API version."
    }
  },
  "x-internal-service-name": "DNS",
  "x-internal-toc-name": "Zones",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List"
}