{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    },
    "title": "RecoveryServicesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "description": "Get the Vault details.",
        "operationId": "Vaults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Get Recovery Services Resource": {
            "parameters": {
              "subscriptionId": "77777777-b0c6-47a2-b37c-d8e65a629c18",
              "resourceGroupName": "Default-RecoveryServices-ResourceGroup",
              "vaultName": "swaggerExample",
              "api-version": "2016-06-01"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "westus",
                  "name": "swaggerExample",
                  "eTag": "W/\"datetime'2017-12-15T12%3A36%3A51.68Z'\"",
                  "tags": {
                    "TestUpdatedKey": "TestUpdatedValue"
                  },
                  "properties": {
                    "provisioningState": "Succeeded"
                  },
                  "id": "/subscriptions/77777777-b0c6-47a2-b37c-d8e65a629c18/resourceGroups/Default-RecoveryServices-ResourceGroup/providers/Microsoft.RecoveryServices/vaults/swaggerExample",
                  "type": "Microsoft.RecoveryServices/vaults",
                  "sku": {
                    "name": "Standard"
                  }
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "ClientDiscoveryDisplay": {
      "description": "Localized display information of an operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the provider for display purposes",
          "type": "string"
        },
        "resource": {
          "description": "ResourceType for which this Operation can be performed.",
          "type": "string"
        },
        "operation": {
          "description": "Operations Name itself.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation having details of what operation is about.",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForLogSpecification": {
      "description": "Class to represent shoebox log specification in json client discovery.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the log.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized display name",
          "type": "string"
        },
        "blobDuration": {
          "description": "Blobs created in customer storage account per hour",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForProperties": {
      "description": "Class to represent shoebox properties in json client discovery.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ClientDiscoveryForServiceSpecification",
          "description": "Operation properties."
        }
      }
    },
    "ClientDiscoveryForServiceSpecification": {
      "description": "Class to represent shoebox service specification in json client discovery.",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "List of log specifications of this operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryForLogSpecification"
          }
        }
      }
    },
    "ClientDiscoveryResponse": {
      "description": "Operations List response which contains list of available APIs.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available operationss.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryValueForSingleApi"
          }
        },
        "nextLink": {
          "description": "Link to the next chunk of the response",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryValueForSingleApi": {
      "description": "Available operation details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/ClientDiscoveryDisplay",
          "description": "Contains the localized display information for this particular operation"
        },
        "origin": {
          "description": "The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ClientDiscoveryForProperties",
          "description": "ShoeBox properties for the given operation."
        }
      }
    },
    "Resource": {
      "description": "ARM Resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource Id represents the complete path to the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name associated with the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Optional ETag.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "description": "Identifies the unique system identifier for each Azure resource.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The Sku name.",
          "enum": [
            "Standard",
            "RS0"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        }
      }
    },
    "TrackedResource": {
      "description": "Tracked resource with location.",
      "type": "object",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PatchTrackedResource": {
      "description": "Tracked resource with location.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpgradeDetails": {
      "description": "Details for upgrading vault.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "ID of the vault upgrade operation.",
          "type": "string",
          "readOnly": true
        },
        "startTimeUtc": {
          "description": "UTC time at which the upgrade operation has started.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "lastUpdatedTimeUtc": {
          "description": "UTC time at which the upgrade operation status was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "endTimeUtc": {
          "description": "UTC time at which the upgrade operation has ended.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "status": {
          "description": "Status of the vault upgrade operation.",
          "enum": [
            "Unknown",
            "InProgress",
            "Upgraded",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "VaultUpgradeState",
            "modelAsString": true
          }
        },
        "message": {
          "description": "Message to the user containing information about the upgrade operation.",
          "type": "string",
          "readOnly": true
        },
        "triggerType": {
          "description": "The way the vault upgradation was triggered.",
          "enum": [
            "UserTriggered",
            "ForcedUpgrade"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          }
        },
        "upgradedResourceId": {
          "description": "Resource ID of the upgraded vault.",
          "type": "string",
          "readOnly": true
        },
        "previousResourceId": {
          "description": "Resource ID of the vault before the upgrade.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Vault": {
      "description": "Resource information, as returned by the resource provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "PatchVault": {
      "description": "Patch Resource information, as returned by the resource provider.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PatchTrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "VaultExtendedInfo": {
      "description": "Vault extended information.",
      "type": "object",
      "properties": {
        "integrityKey": {
          "description": "Integrity key.",
          "type": "string"
        },
        "encryptionKey": {
          "description": "Encryption key.",
          "type": "string"
        },
        "encryptionKeyThumbprint": {
          "description": "Encryption key thumbprint.",
          "type": "string"
        },
        "algorithm": {
          "description": "Algorithm for Vault ExtendedInfo",
          "type": "string"
        }
      }
    },
    "VaultExtendedInfoResource": {
      "description": "Vault extended information.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultExtendedInfo",
          "x-ms-client-flatten": true
        }
      }
    },
    "VaultList": {
      "description": "The response model for a list of Vaults.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vault"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VaultProperties": {
      "description": "Properties of the vault.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning State.",
          "type": "string",
          "readOnly": true
        },
        "upgradeDetails": {
          "$ref": "#/definitions/UpgradeDetails"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription Id.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group where the recovery services vault is present.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "VaultName": {
      "name": "vaultName",
      "in": "path",
      "description": "The name of the recovery services vault.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "Recovery Services",
  "x-internal-toc-name": "Vaults",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get"
}