{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01-preview",
    "title": "Compute Admin Client"
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}": {
      "get": {
        "x-ms-examples": {
          "Get a platform image by name.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-:LTS",
              "version": "16.04",
              "api-version": "2015-12-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                  "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions",
                  "location": "local",
                  "properties": {
                    "osDisk": {
                      "osType": "Linux",
                      "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                    },
                    "provisioningState": "Creating"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "PlatformImages"
        ],
        "summary": "Returns the requested platform image.",
        "description": "Returns the specific platform image matching publisher, offer, skus and version.",
        "operationId": "PlatformImages_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/PublisherParameter"
          },
          {
            "$ref": "#/parameters/OfferParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "#/parameters/VersionParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlatformImage"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "PlatformImage": {
      "description": "Platform image represents a virtual machine.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Platform image properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PlatformImageProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PlatformImageProperties": {
      "description": "Properties of platform image.",
      "type": "object",
      "properties": {
        "osDisk": {
          "description": "Operating system used for this platform image.",
          "$ref": "#/definitions/OsDisk"
        },
        "dataDisks": {
          "description": "Data disks used by the platform image.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDisk"
          }
        },
        "details": {
          "description": "Information about the image.",
          "$ref": "#/definitions/ImageDetails"
        },
        "provisioningState": {
          "description": "Provisioning status of the platform image.",
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "OsDisk": {
      "description": "Operating system disk.",
      "type": "object",
      "properties": {
        "osType": {
          "description": "Operating system type.",
          "$ref": "#/definitions/OsType"
        },
        "uri": {
          "description": "Location of the disk.",
          "type": "string"
        }
      }
    },
    "DataDisk": {
      "description": "Information about datadisk.",
      "type": "object",
      "properties": {
        "lun": {
          "description": "Logical unit number.",
          "format": "int32",
          "type": "integer"
        },
        "uri": {
          "description": "Location of the disk template.",
          "type": "string"
        }
      }
    },
    "ImageDetails": {
      "description": "Information about the disk image.",
      "type": "object",
      "properties": {
        "billingPartNumber": {
          "description": "The part number is used to bill for software costs.",
          "type": "string"
        }
      }
    },
    "OsType": {
      "description": "Operating system type.",
      "enum": [
        "Unknown",
        "Windows",
        "Linux"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "OsType"
      }
    },
    "PlatformImageList": {
      "description": "List of platform images.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/PlatformImage"
      }
    },
    "PlatformImageParameters": {
      "description": "Parameters used to create a new platform image.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Platform image properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PlatformImageProperties"
        }
      }
    },
    "ProvisioningState": {
      "description": "The provisioning state of the resource.",
      "enum": [
        "Creating",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState"
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "ID of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of Resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "OfferParameter": {
      "description": "Name of the offer.",
      "name": "offer",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SkuParameter": {
      "description": "Name of the SKU.",
      "name": "sku",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "NewPlatformImageParameter": {
      "description": "New platform image.",
      "name": "newImage",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PlatformImageParameters"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2015-12-01-preview"
    },
    "VersionParameter": {
      "description": "The version of the resource.",
      "name": "version",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PublisherParameter": {
      "description": "Name of the publisher.",
      "name": "publisher",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Platform Images",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}