{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs": {
      "get": {
        "tags": [
          "SourceControlSyncJob"
        ],
        "operationId": "SourceControlSyncJob_ListByAutomationAccount",
        "description": "Retrieve a list of source control sync jobs.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
        },
        "x-ms-examples": {
          "Get a list of source control sync jobs": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "sourceControlName": "MySourceControl",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a",
                      "properties": {
                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a",
                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                        "provisioningState": "Completed",
                        "startTime": "2017-03-28T23:14:27.903+00:00",
                        "endTime": "2017-03-28T23:14:28.903+00:00",
                        "syncType": "PartialSync"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a",
                      "properties": {
                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a",
                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                        "provisioningState": "Completed",
                        "startTime": "2017-03-28T23:14:27.903+00:00",
                        "endTime": "2017-03-28T23:14:28.903+00:00",
                        "syncType": "PartialSync"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a",
                      "properties": {
                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a",
                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                        "provisioningState": "Completed",
                        "startTime": "2017-03-28T23:14:27.903+00:00",
                        "endTime": "2017-03-28T23:14:28.903+00:00",
                        "syncType": "PartialSync"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a",
                      "properties": {
                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a",
                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                        "provisioningState": "Completed",
                        "startTime": "2017-03-28T23:14:27.903+00:00",
                        "endTime": "2017-03-28T23:14:28.903+00:00",
                        "syncType": "PartialSync"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a",
                      "properties": {
                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a",
                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                        "provisioningState": "Completed",
                        "startTime": "2017-03-28T23:14:27.903+00:00",
                        "endTime": "2017-03-28T23:14:28.903+00:00",
                        "syncType": "PartialSync"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "sourceControlName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The source control name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControlSyncJobListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "SourceControlSyncJobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControlSyncJob"
          },
          "description": "The list of source control sync jobs."
        },
        "nextLink": {
          "type": "string",
          "description": "The next link."
        }
      },
      "description": "The response model for the list source control sync jobs operation."
    },
    "SourceControlSyncJobCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobCreateProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control sync job."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create source control sync job operation."
    },
    "SourceControlSyncJobCreateProperties": {
      "properties": {
        "commitId": {
          "type": "string",
          "description": "The commit id of the source control sync job. If not syncing to a commitId, enter an empty string.",
          "minLength": 0
        }
      },
      "required": [
        "commitId"
      ],
      "description": "Definition of create source control sync job properties."
    },
    "SourceControlSyncJobById": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the job."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobByIdProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control sync job."
        }
      },
      "description": "Definition of the source control sync job."
    },
    "SourceControlSyncJobByIdProperties": {
      "properties": {
        "sourceControlSyncJobId": {
          "type": "string",
          "description": "The source control sync job id."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "readOnly": true,
          "description": "The creation time of the job."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the job.",
          "enum": [
            "Completed",
            "Failed",
            "Running"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The end time of the job."
        },
        "syncType": {
          "type": "string",
          "description": "The sync type.",
          "enum": [
            "PartialSync",
            "FullSync"
          ],
          "x-ms-enum": {
            "name": "syncType",
            "modelAsString": true
          }
        },
        "exception": {
          "type": "string",
          "description": "The exceptions that occurred while running the sync job."
        }
      },
      "description": "Definition of source control sync job properties."
    },
    "SourceControlSyncJob": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource id."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the source control sync job."
        }
      },
      "description": "Definition of the source control sync job."
    },
    "SourceControlSyncJobProperties": {
      "properties": {
        "sourceControlSyncJobId": {
          "type": "string",
          "description": "The source control sync job id."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "readOnly": true,
          "description": "The creation time of the job."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the job.",
          "enum": [
            "Completed",
            "Failed",
            "Running"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true,
          "description": "The end time of the job."
        },
        "syncType": {
          "type": "string",
          "description": "The sync type.",
          "enum": [
            "PartialSync",
            "FullSync"
          ],
          "x-ms-enum": {
            "name": "syncType",
            "modelAsString": true
          }
        }
      },
      "description": "Definition of source control sync job properties."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Source Control Sync Job",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByAutomationAccount",
  "x-internal-operation-name": "List By Automation Account"
}