{
  "swagger": "2.0",
  "info": {
    "version": "2019-11-01",
    "title": "SubscriptionClient",
    "description": "All resource groups and resources exist within subscriptions. These operation enable you get information about your subscriptions and tenants. A tenant is a dedicated instance of Azure Active Directory (Azure AD) for your organization."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_List",
        "description": "Gets all subscriptions for a tenant.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of subscriptions.",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "x-ms-examples": {
          "Get all subscriptions.": {
            "parameters": {
              "api-version": "2019-11-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/291bba3f-e0a5-47bc-a099-3bdcb2a50a05",
                      "subscriptionId": "291bba3f-e0a5-47bc-a099-3bdcb2a50a05",
                      "tenantId": "31c75423-32d6-4322-88b7-c478bdde4858",
                      "displayName": "Example Subscription",
                      "state": "Enabled",
                      "subscriptionPolicies": {
                        "locationPlacementId": "Internal_2014-09-01",
                        "quotaId": "Internal_2014-09-01",
                        "spendingLimit": "Off"
                      },
                      "authorizationSource": "RoleBased",
                      "managedByTenants": [
                        {
                          "tenantId": "8f70baf1-1f6e-46a2-a1ff-238dac1ebfb7"
                        }
                      ]
                    },
                    {
                      "id": "/subscriptions/72ac930a-f34e-42d8-b06d-dc2a9e12ed71",
                      "subscriptionId": "72ac930a-f34e-42d8-b06d-dc2a9e12ed71",
                      "tenantId": "2a0ff0de-96b2-4859-bb7c-a430d07a3e0c",
                      "displayName": "Example Subscription2",
                      "state": "Enabled",
                      "subscriptionPolicies": {
                        "locationPlacementId": "Internal_2014-09-01",
                        "quotaId": "Internal_2014-09-01",
                        "spendingLimit": "Off"
                      },
                      "authorizationSource": "RoleBased",
                      "managedByTenants": [
                        {
                          "tenantId": "8f70baf1-1f6e-46a2-a1ff-238dac1ebfb7"
                        },
                        {
                          "tenantId": "f7fb6af2-321d-47c8-9c0f-b0239eaad39a"
                        }
                      ]
                    }
                  ],
                  "nextLink": "..."
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "PairedRegion": {
      "description": "Information regarding paired region.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the paired region."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the location. For example, /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus."
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        }
      }
    },
    "LocationMetadata": {
      "description": "Location metadata information",
      "properties": {
        "regionType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the region.",
          "enum": [
            "Physical",
            "Logical"
          ],
          "x-ms-enum": {
            "name": "RegionType",
            "modelAsString": true
          }
        },
        "regionCategory": {
          "readOnly": true,
          "type": "string",
          "description": "The category of the region.",
          "enum": [
            "Recommended",
            "Other"
          ],
          "x-ms-enum": {
            "name": "RegionCategory",
            "modelAsString": true
          }
        },
        "geographyGroup": {
          "readOnly": true,
          "type": "string",
          "description": "The geography group of the location."
        },
        "longitude": {
          "readOnly": true,
          "type": "string",
          "description": "The longitude of the location."
        },
        "latitude": {
          "readOnly": true,
          "type": "string",
          "description": "The latitude of the location."
        },
        "physicalLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The physical location of the Azure location."
        },
        "pairedRegion": {
          "type": "array",
          "description": "The regions paired to this region.",
          "items": {
            "$ref": "#/definitions/PairedRegion"
          }
        }
      }
    },
    "Location": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the location. For example, /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus."
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The location name."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the location."
        },
        "regionalDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the location and its region."
        },
        "metadata": {
          "description": "Metadata of the location, such as lat/long, paired region, and others.",
          "$ref": "#/definitions/LocationMetadata"
        }
      },
      "description": "Location information."
    },
    "LocationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          },
          "description": "An array of locations."
        }
      },
      "description": "Location list operation response."
    },
    "Subscription": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID for the subscription. For example, /subscriptions/00000000-0000-0000-0000-000000000000."
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription display name."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription tenant ID."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription state. Possible values are Enabled, Warned, PastDue, Disabled, and Deleted.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies",
          "description": "The subscription policies."
        },
        "authorizationSource": {
          "type": "string",
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'."
        },
        "managedByTenants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedByTenant"
          },
          "description": "An array containing the tenants managing the subscription."
        }
      },
      "description": "Subscription information."
    },
    "SubscriptionPolicies": {
      "properties": {
        "locationPlacementId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription location placement ID. The ID indicates which regions are visible for a subscription. For example, a subscription with a location placement Id of Public_2014-09-01 has access to Azure public regions."
        },
        "quotaId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription quota ID."
        },
        "spendingLimit": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription spending limit.",
          "enum": [
            "On",
            "Off",
            "CurrentPeriodOff"
          ],
          "x-ms-enum": {
            "name": "spendingLimit",
            "modelAsString": false
          }
        }
      },
      "description": "Subscription policies."
    },
    "ManagedByTenant": {
      "properties": {
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of the managing tenant. This is a GUID."
        }
      },
      "description": "Information about a tenant managing the subscription."
    },
    "SubscriptionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          },
          "description": "An array of subscriptions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Subscription list operation response."
    },
    "TenantIdDescription": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the tenant. For example, /tenants/00000000-0000-0000-0000-000000000000."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID. For example, 00000000-0000-0000-0000-000000000000."
        }
      },
      "description": "Tenant Id information."
    },
    "TenantListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantIdDescription"
          },
          "description": "An array of tenants."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Tenant Ids information."
    },
    "Operation": {
      "description": "Microsoft.Resources operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Resources",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description of the operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Microsoft.Resources operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Microsoft.Resources operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the operation.",
      "x-ms-parameter-location": "client"
    }
  },
  "x-internal-service-id": "resources",
  "x-internal-service-name": "Resource Management",
  "x-internal-operation-group-name": "Operations (Subscription)",
  "x-internal-toc-name": "Subscriptions",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}