{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database server firewall rules",
    "description": "Provides create, read, update, and delete functionality for Azure SQL Database server firewall rules."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules": {
      "get": {
        "tags": [
          "FirewallRules"
        ],
        "operationId": "FirewallRules_ListByServer",
        "description": "Returns a list of firewall rules.",
        "x-ms-examples": {
          "List Firewall Rules": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "firewallrulecrudtest-12",
              "serverName": "firewallrulecrudtest-6285",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-2304",
                      "name": "firewallrulecrudtest-2304",
                      "type": "Microsoft.Sql/servers/firewallRules",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "startIpAddress": "0.0.0.0",
                        "endIpAddress": "0.0.0.0"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-3927",
                      "name": "firewallrulecrudtest-3927",
                      "type": "Microsoft.Sql/servers/firewallRules",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "startIpAddress": "0.0.0.1",
                        "endIpAddress": "0.0.0.1"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5370",
                      "name": "firewallrulecrudtest-5370",
                      "type": "Microsoft.Sql/servers/firewallRules",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "startIpAddress": "0.0.0.3",
                        "endIpAddress": "0.0.0.3"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5767",
                      "name": "firewallrulecrudtest-5767",
                      "type": "Microsoft.Sql/servers/firewallRules",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "startIpAddress": "0.0.0.2",
                        "endIpAddress": "0.0.0.2"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FirewallRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Server"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "FirewallRuleProperties": {
      "properties": {
        "startIpAddress": {
          "type": "string",
          "description": "The start IP address of the firewall rule. Must be IPv4 format. Use value '0.0.0.0' to represent all Azure-internal IP addresses."
        },
        "endIpAddress": {
          "type": "string",
          "description": "The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress. Use value '0.0.0.0' to represent all Azure-internal IP addresses."
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ],
      "description": "Represents the properties of a server firewall rule."
    },
    "FirewallRule": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of server that contains this firewall rule.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Location of the server that contains this firewall rule.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of resource this is.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/FirewallRuleProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a server firewall rule."
    },
    "FirewallRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          },
          "description": "The list of server firewall rules."
        }
      },
      "description": "Represents the response to a List Firewall Rules request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Firewall Rules",
  "x-internal-split-type": "Operation"
}