{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Get",
        "description": "Retrieve the runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Get runbook draft": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "ContoseAutomationAccount",
              "runbookName": "Get-AzureVMTutorial",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "body": {
                  "creationTime": "2018-02-09T03:25:59.11+00:00",
                  "lastModifiedTime": "2018-02-09T04:48:56.43+00:00",
                  "inEdit": true,
                  "parameters": {},
                  "outputTypes": []
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookDraft"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "RunbookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Runbook"
          },
          "description": "Gets or sets a list of runbooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list runbook operation."
    },
    "RunbookCreateOrUpdateProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType"
      ],
      "description": "The parameters supplied to the create or update runbook properties."
    },
    "RunbookCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets runbook create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "description": "The parameters supplied to the update runbook properties."
    },
    "RunbookUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update runbook operation."
    },
    "RunbookDraftUndoEditResult": {
      "properties": {
        "statusCode": {
          "type": "string",
          "enum": [
            "Continue",
            "SwitchingProtocols",
            "OK",
            "Created",
            "Accepted",
            "NonAuthoritativeInformation",
            "NoContent",
            "ResetContent",
            "PartialContent",
            "MultipleChoices",
            "Ambiguous",
            "MovedPermanently",
            "Moved",
            "Found",
            "Redirect",
            "SeeOther",
            "RedirectMethod",
            "NotModified",
            "UseProxy",
            "Unused",
            "TemporaryRedirect",
            "RedirectKeepVerb",
            "BadRequest",
            "Unauthorized",
            "PaymentRequired",
            "Forbidden",
            "NotFound",
            "MethodNotAllowed",
            "NotAcceptable",
            "ProxyAuthenticationRequired",
            "RequestTimeout",
            "Conflict",
            "Gone",
            "LengthRequired",
            "PreconditionFailed",
            "RequestEntityTooLarge",
            "RequestUriTooLong",
            "UnsupportedMediaType",
            "RequestedRangeNotSatisfiable",
            "ExpectationFailed",
            "UpgradeRequired",
            "InternalServerError",
            "NotImplemented",
            "BadGateway",
            "ServiceUnavailable",
            "GatewayTimeout",
            "HttpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "HttpStatusCode",
            "modelAsString": false
          }
        },
        "requestId": {
          "type": "string"
        }
      },
      "description": "The response model for the undo edit runbook operation."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft.",
          "x-nullable": false
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      }
    },
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is mandatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "TestJobCreateParameters": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "description": "The parameters supplied to the create test job operation."
    },
    "TestJob": {
      "x-ms-mutability": [
        "read",
        "create"
      ],
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the test job.",
          "x-nullable": false
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the test job."
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the test job.",
          "x-nullable": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the test job.",
          "x-nullable": true
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the test job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the test job.",
          "x-nullable": false
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the test job.",
          "x-nullable": true
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "The activity-level tracing options of the runbook."
        }
      },
      "description": "Definition of the test job."
    },
    "RunbookCreateOrUpdateDraftProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType",
        "draft"
      ],
      "description": "The parameters supplied to the create or update draft runbook properties."
    },
    "RunbookCreateOrUpdateDraftParameters": {
      "properties": {
        "runbookContent": {
          "type": "string",
          "description": "Content of the Runbook."
        }
      },
      "x-ms-client-flatten": true,
      "required": [
        "runbookContent"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job.",
          "x-nullable": false
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "x-ms-client-flatten": true,
      "description": "Definition of the job stream."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Runbook Draft",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}