{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01",
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for web test based alerting."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/webtests": {
      "get": {
        "description": "Get all Application Insights web tests defined within a specified resource group.",
        "operationId": "WebTests_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more web test definitions.",
            "schema": {
              "$ref": "#/definitions/webTestListResult"
            }
          }
        },
        "x-ms-examples": {
          "webTestListByResourceGroup": {
            "parameters": {
              "api-version": "2015-05-01",
              "subscriptionId": "subid",
              "resourceGroupName": "my-resource-group"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/webtests/my-webtest-my-component",
                      "name": "my-webtest-my-component",
                      "type": "microsoft.insights/webtests",
                      "location": "southcentralus",
                      "tags": {
                        "hidden-link:/subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component": "Resource",
                        "hidden-link:/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Web/sites/mytestwebapp": "Resource"
                      },
                      "kind": "ping",
                      "properties": {
                        "SyntheticMonitorId": "my-webtest-my-component",
                        "Name": "my-webtest",
                        "Description": "",
                        "Enabled": false,
                        "Frequency": 900,
                        "Timeout": 120,
                        "Kind": "ping",
                        "RetryEnabled": true,
                        "Locations": [
                          {
                            "Id": "apac-hk-hkn-azr"
                          }
                        ],
                        "Configuration": {
                          "WebTest": "<WebTest Name=\"my-webtest\" Id=\"678ddf96-1ab8-44c8-9274-123456789abc\" Enabled=\"True\" CssProjectStructure=\"\" CssIteration=\"\" Timeout=\"120\" WorkItemIds=\"\" xmlns=\"http://microsoft.com/schemas/VisualStudio/TeamTest/2010\" Description=\"\" CredentialUserName=\"\" CredentialPassword=\"\" PreAuthenticate=\"True\" Proxy=\"default\" StopOnError=\"False\" RecordedResultFile=\"\" ResultsLocale=\"\"><Items><Request Method=\"GET\" Guid=\"a4162485-9114-fcfc-e086-123456789abc\" Version=\"1.1\" Url=\"http://my-component.azurewebsites.net\" ThinkTime=\"0\" Timeout=\"120\" ParseDependentRequests=\"True\" FollowRedirects=\"True\" RecordResult=\"True\" Cache=\"False\" ResponseTimeGoal=\"0\" Encoding=\"utf-8\" ExpectedHttpStatusCode=\"200\" ExpectedResponseUrl=\"\" ReportingName=\"\" IgnoreHttpStatusCode=\"False\" /></Items></WebTest>"
                        },
                        "provisioningState": "Succeeded"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/webtests/my-webtest-my-other-component",
                      "name": "my-webtest-my-other-component",
                      "type": "microsoft.insights/webtests",
                      "location": "southcentralus",
                      "tags": {
                        "Test": "You can delete this synthetic monitor anytime",
                        "hidden-link:/subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-other-component": "Resource"
                      },
                      "kind": "ping",
                      "properties": {
                        "SyntheticMonitorId": "my-webtest-my-other-component",
                        "Name": "342bccf4-722f-496d-b064-123456789abc",
                        "Description": "",
                        "Enabled": false,
                        "Frequency": 300,
                        "Timeout": 90,
                        "Kind": "ping",
                        "RetryEnabled": false,
                        "Locations": [
                          {
                            "Id": "us-fl-mia-edge"
                          }
                        ],
                        "Configuration": {
                          "WebTest": "<WebTest Name=\"342bccf4-722f-496d-b064-123456789abc\" Id=\"00a15cc1-c903-4f97-9af4-123456789abc\" Enabled=\"False\" CssProjectStructure=\"\" CssIteration=\"\" Timeout=\"120\" WorkItemIds=\"\" xmlns=\"http://microsoft.com/schemas/VisualStudio/TeamTest/2010\" Description=\"\" CredentialUserName=\"\" CredentialPassword=\"\" PreAuthenticate=\"True\" Proxy=\"default\" StopOnError=\"False\" RecordedResultFile=\"\" ResultsLocale=\"\"><Items><Request Method=\"GET\" Guid=\"347e1924-9899-4c6e-ad78-123456789abc\" Version=\"1.1\" Url=\"http://my-other-component.azurewebsites.net\" ThinkTime=\"0\" Timeout=\"120\" ParseDependentRequests=\"True\" FollowRedirects=\"True\" RecordResult=\"True\" Cache=\"False\" ResponseTimeGoal=\"0\" Encoding=\"utf-8\" ExpectedHttpStatusCode=\"200\" ExpectedResponseUrl=\"\" ReportingName=\"\" IgnoreHttpStatusCode=\"False\" /></Items></WebTest>"
                        },
                        "provisioningState": "Succeeded"
                      }
                    }
                  ],
                  "nextLink": ""
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Resource Group"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance."
    },
    "webTestListResult": {
      "description": "A list of 0 or more Application Insights web test definitions.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "Set of Application Insights web test definitions.",
          "items": {
            "$ref": "#/definitions/WebTest"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link to get the next part of the returned list of web tests, should the return set be too large for a single request. May be null."
        }
      }
    },
    "WebTest": {
      "description": "An Application Insights web test definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of web test that this web test watches. Choices are ping and multistep.",
          "default": "ping",
          "enum": [
            "ping",
            "multistep"
          ],
          "x-ms-enum": {
            "name": "WebTestKind",
            "modelAsString": false
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a web test for an Azure resource.",
          "$ref": "#/definitions/WebTestProperties"
        }
      }
    },
    "WebTestProperties": {
      "description": "Metadata describing a web test for an Azure resource.",
      "required": [
        "Name",
        "Kind",
        "Locations",
        "SyntheticMonitorId"
      ],
      "properties": {
        "SyntheticMonitorId": {
          "type": "string",
          "description": "Unique ID of this WebTest. This is typically the same value as the Name field."
        },
        "Name": {
          "x-ms-client-name": "WebTestName",
          "type": "string",
          "description": "User defined name if this WebTest."
        },
        "Description": {
          "type": "string",
          "description": "Purpose/user defined descriptive test for this WebTest."
        },
        "Enabled": {
          "type": "boolean",
          "description": "Is the test actively being monitored."
        },
        "Frequency": {
          "type": "integer",
          "format": "int32",
          "description": "Interval in seconds between test runs for this WebTest. Default value is 300.",
          "default": 300
        },
        "Timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds until this WebTest will timeout and fail. Default value is 30.",
          "default": 30
        },
        "Kind": {
          "x-ms-client-name": "WebTestKind",
          "type": "string",
          "description": "The kind of web test this is, valid choices are ping and multistep.",
          "default": "ping",
          "enum": [
            "ping",
            "multistep"
          ],
          "x-ms-enum": {
            "name": "WebTestKind",
            "modelAsString": false
          }
        },
        "RetryEnabled": {
          "type": "boolean",
          "description": "Allow for retries should this WebTest fail."
        },
        "Locations": {
          "type": "array",
          "description": "A list of where to physically run the tests from to give global coverage for accessibility of your application.",
          "items": {
            "$ref": "#/definitions/WebTestGeolocation"
          }
        },
        "Configuration": {
          "type": "object",
          "description": "An XML configuration specification for a WebTest.",
          "properties": {
            "WebTest": {
              "type": "string",
              "description": "The XML specification of a WebTest to run against an application."
            }
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Current state of this component, whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
          "readOnly": true
        }
      }
    },
    "WebTestGeolocation": {
      "description": "Geo-physical location to run a web test from. You must specify one or more locations for the test to run from.",
      "type": "object",
      "properties": {
        "Id": {
          "x-ms-client-name": "location",
          "type": "string",
          "description": "Location ID for the webtest to run from."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "WebTestNameParameter": {
      "name": "webTestName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights webtest resource.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Application Insights",
  "x-internal-toc-name": "Web Tests",
  "x-internal-split-type": "Operation"
}