{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01",
    "title": "SubscriptionsManagementClient",
    "description": "The Admin Subscriptions Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}": {
      "put": {
        "x-ms-examples": {
          "Creates or updates the acquired plan.": {
            "parameters": {
              "subscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6",
              "location": "local",
              "api-version": "2015-11-01",
              "targetSubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6",
              "planAcquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
              "newAcquiredPlan": {
                "properties": {
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                  "provisioningState": "Succeeded",
                  "acquisitionTime": "2018-02-17T05:50:51.48Z"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                  "provisioningState": "Succeeded",
                  "acquisitionTime": "2018-02-17T05:50:51.48Z"
                }
              }
            }
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Creates an acquired plan.",
        "operationId": "AcquiredPlans_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PlanAcquisitionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NewAcquiredPlanParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlanAcquisition"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PlanAcquisition"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "PlanAcquisition": {
      "description": "Represents the acquisition of an add-on plan for a subscription.",
      "type": "object",
      "properties": {
        "acquisitionId": {
          "description": "Acquisition identifier.",
          "type": "string"
        },
        "id": {
          "description": "Identifier in the tenant subscription context.",
          "type": "string"
        },
        "planId": {
          "description": "Plan identifier in the tenant subscription context.",
          "type": "string"
        },
        "externalReferenceId": {
          "description": "External reference identifier.",
          "type": "string"
        },
        "provisioningState": {
          "description": "State of the provisioning.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "acquisitionTime": {
          "description": "Acquisition time.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProvisioningState": {
      "description": "Provisioning state for subscriptions service resources, for example, resource provider registration.",
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "description": "The provisioning state is not specified.",
            "name": "NotSpecified",
            "value": "NotSpecified"
          },
          {
            "description": "The provisioning state is accepted, and indicates provisioning is ongoing.",
            "name": "Accepted",
            "value": "Accepted"
          },
          {
            "description": "The provisioning state is failed, and indicates the data is potentially out-of-sync with third parties.",
            "name": "Failed",
            "value": "Failed"
          },
          {
            "description": "The provisioning state is succeeded, and indicates the data is in-sync with third-parties.",
            "name": "Succeeded",
            "value": "Succeeded"
          }
        ]
      }
    },
    "PlanAcquisitionList": {
      "description": "List of acquired plans.",
      "properties": {
        "value": {
          "description": "List of acquired plans.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanAcquisition"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URI to the next page."
        }
      }
    }
  },
  "parameters": {
    "TargetSubscriptionIdParameter": {
      "name": "targetSubscriptionId",
      "in": "path",
      "description": "The target subscription ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PlanAcquisitionIdParameter": {
      "name": "planAcquisitionId",
      "in": "path",
      "description": "The plan acquisition Identifier",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "NewAcquiredPlanParameter": {
      "name": "newAcquiredPlan",
      "in": "body",
      "description": "The new acquired plan.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PlanAcquisition"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2015-11-01"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Acquired Plans",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Create",
  "x-internal-operation-name": "Create"
}