{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-31-preview",
    "contact": {
      "name": "Microsoft",
      "email": "wlmengg@microsoft.com"
    },
    "title": "Workload Monitor API",
    "description": "APIs for workload monitoring"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "MonitorsCollection": {
      "description": "Model for collection of Monitor.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL for next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of Monitor.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "readOnly": true
        }
      }
    },
    "Monitor": {
      "description": "Model for Monitor",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorProperties",
          "description": "Properties of monitor instance",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorProperties": {
      "description": "Model for properties of a Monitor.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorDisplayName": {
          "description": "User friendly display name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorName": {
          "description": "Name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorDisplayName": {
          "description": "User friendly display name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Category of the monitor",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "componentTypeId": {
          "description": "Component Type Id of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Component Type Name of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeDisplayName": {
          "description": "Component Type Display Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorState": {
          "description": "Is the monitor state enabled or disabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorState",
            "modelAsString": false
          }
        },
        "criteria": {
          "description": "Collection of MonitorCriteria. For PATCH calls, instead of partial list, complete list of expected criteria should be passed for proper updating.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorCriteria"
          },
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alerts or not",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "frequency": {
          "format": "int32",
          "description": "Frequency at which monitor condition is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "lookbackDuration": {
          "format": "int32",
          "description": "The duration in minutes in the past during which the monitor is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "documentationURL": {
          "description": "URL pointing to the documentation of the monitor",
          "type": "string",
          "readOnly": true
        },
        "signalName": {
          "description": "Name of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        },
        "signalType": {
          "description": "Type of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MonitorCriteria": {
      "description": "Criteria for monitor configuration",
      "type": "object",
      "properties": {
        "healthState": {
          "description": "Target health state of the criteria",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "threshold": {
          "format": "double",
          "description": "Threshold value for this criteria",
          "type": "number",
          "readOnly": true
        },
        "comparisonOperator": {
          "description": "Comparison enum on threshold of this criteria",
          "enum": [
            "Equals",
            "GreaterThan",
            "GreaterThanOrEqual",
            "LessThan",
            "LessThanOrEqual",
            "NotEquals"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": false
          }
        }
      }
    },
    "ComponentsCollection": {
      "description": "Model for collection of components.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of components.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "Component": {
      "description": "Model for component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ComponentProperties",
          "description": "Properties of the component.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "ComponentProperties": {
      "description": "Model for properties of a component.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this component belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeGroupCategory": {
          "description": "Component type group category. Classification of component type groups into a logical category. e.g. Network, Disk, Memory, CPU.",
          "type": "string",
          "readOnly": true
        },
        "healthState": {
          "description": "Health state of the component.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of component's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "vmId": {
          "description": "ID of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmName": {
          "description": "Name of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmTags": {
          "description": "Tags on the VM this component belongs to.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "component children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstancesCollection": {
      "description": "Model for collection of health instances.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of health instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstance": {
      "description": "Model for monitor instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorInstanceProperties",
          "description": "Properties of the monitor instance.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorInstanceProperties": {
      "description": "Model for properties of a monitor instance.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this health instance belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentId": {
          "description": "ID of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor instance.",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor.",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor. The qualifier for the health criteria depending on the functionality it performs such as Unit, Aggregate, Dependency.",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Monitor type category. Indicates the attribute of the component that the health criteria monitors such as Performance, Availability, etc.",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "healthState": {
          "description": "Health state of monitor instance.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of monitor instance's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChanges": {
          "description": "Health state changes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthStateChange"
          },
          "readOnly": true
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alert or not.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "Health instance children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
          "readOnly": true
        }
      }
    },
    "HealthStateChange": {
      "description": "Model for health state change",
      "type": "object",
      "properties": {
        "healthState": {
          "description": "Health state of monitor instance.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateChangeTime": {
          "format": "date-time",
          "description": "Time at which this Health state was reached.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NotificationSettingsCollection": {
      "description": "Model for collection of notificationSettings.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationSetting"
          }
        },
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "NotificationSetting": {
      "description": "Model for NotificationSetting.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/NotificationSettingProperties",
          "description": "Properties of Notification Settings",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "NotificationSettingProperties": {
      "description": "Model for properties of a NotificationSetting.",
      "type": "object",
      "properties": {
        "actionGroupResourceIds": {
          "description": "List of action group resource ids to be notified",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "OperationListResult": {
      "description": "Container for a list of operations supported by the resource provider.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "List of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "display": {
          "$ref": "#/definitions/OperationProperties",
          "description": "The properties of the resource operation.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource operation.",
          "type": "string",
          "readOnly": true
        },
        "origin": {
          "description": "The origin of the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the resource provider.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "This operation name.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "description": "The provider name.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorFieldContract": {
      "description": "Error field contract.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Property level error code.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of property-level error.",
          "type": "string"
        },
        "target": {
          "description": "Property name.",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error body contract.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string"
        },
        "details": {
          "description": "The list of invalid fields send in request, in case of validation error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          }
        }
      }
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "AzureEntityResource": {
      "x-ms-client-name": "AzureEntityResource",
      "description": "The resource model definition for a Azure Resource Manager resource with an etag.",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Etag."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "enum": [
        "2018-08-31-preview"
      ]
    },
    "$select": {
      "name": "$select",
      "in": "query",
      "description": "Properties to be returned in the response.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$filter": {
      "name": "$filter",
      "in": "query",
      "description": "Filter to be applied on the operation.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$apply": {
      "name": "$apply",
      "in": "query",
      "description": "Apply aggregation.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$orderby": {
      "name": "$orderby",
      "in": "query",
      "description": "Sort the result on one or more properties.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$expand": {
      "name": "$expand",
      "in": "query",
      "description": "Include properties inline in the response.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$top": {
      "name": "$top",
      "in": "query",
      "description": "Limit the result to the specified number of rows.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$skiptoken": {
      "name": "$skiptoken",
      "in": "query",
      "description": "The page-continuation token to use with a paged version of this API.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "componentId": {
      "name": "componentId",
      "in": "path",
      "description": "Component Id.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "monitorId": {
      "name": "monitorId",
      "in": "path",
      "description": "Id of the Monitor.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "monitorInstanceId": {
      "name": "monitorInstanceId",
      "in": "path",
      "description": "MonitorInstance Id.",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "notificationSettingName": {
      "name": "notificationSettingName",
      "in": "path",
      "description": "Default string modeled as parameter for URL to work correctly.",
      "required": true,
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "monitor",
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Monitor Instances Summary",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "List",
      "relativePath": "MonitorInstancesSummary/List"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}