{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Maps",
    "description": "Azure Maps REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "SubscriptionKey": {
      "name": "subscription-key",
      "description": "Azure Maps subscription key",
      "type": "string",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "client"
    },
    "ApiVersion": {
      "name": "api-version",
      "description": "Version number of Azure Maps API.  Current version is 1.0",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "client"
    },
    "AcceptLanguage": {
      "name": "Accept-Language",
      "in": "header",
      "description": "Specifies the list of acceptable ISO 639-1 language codes in which the timezone names should be returned.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TimezoneOptions": {
      "name": "options",
      "in": "query",
      "description": "Alternatively, use alias \"o\". Options available for types of information returned in the result.",
      "required": false,
      "type": "string",
      "enum": [
        "none",
        "zoneInfo",
        "transitions",
        "all"
      ],
      "x-ms-enum": {
        "name": "options",
        "modelAsString": false,
        "values": [
          {
            "value": "none",
            "description": "Do not include zoneinfo or transitions in the result."
          },
          {
            "value": "zoneInfo",
            "description": "Include additional time zone info in the result."
          },
          {
            "value": "transitions",
            "description": "Include transition information in the result (The number of transitions is currently capped at 250)."
          },
          {
            "value": "all",
            "description": "Include both zoneinfo and transitions in the result."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TimezoneTimeStamp": {
      "name": "timeStamp",
      "in": "query",
      "description": "Alternatively, use alias \"stamp\", or \"s\". Reference time, if omitted, the API will use the machine time serving the request.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsFrom": {
      "name": "transitionsFrom",
      "in": "query",
      "description": "Alternatively, use alias \"tf\". The start date from which daylight savings time (DST) transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsYears": {
      "name": "transitionsYears",
      "in": "query",
      "description": "Alternatively, use alias \"ty\". The number of years from \"transitionsFrom\" for which DST transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "TextFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are json & xml.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "json",
        "xml"
      ],
      "x-ms-parameter-location": "method"
    },
    "RasterTileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible value: png.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are png & pbf.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png",
        "pbf"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          },
          {
            "value": "pbf",
            "description": "Vector graphic in the pbf format. Supports zoom levels 0 through 20."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "xTileIndex": {
      "name": "x",
      "x-ms-client-name": "xTileIndex",
      "in": "query",
      "description": "X index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857) ",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "yTileIndex": {
      "name": "y",
      "x-ms-client-name": "yTileIndex",
      "in": "query",
      "description": "Y index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857)",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for desired tile.",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Text": {
      "name": "text",
      "in": "query",
      "description": "Yes/no value to exclude textual data from response. Only images and country names will be in response.",
      "required": false,
      "type": "string",
      "enum": [
        "yes",
        "no"
      ],
      "default": "yes",
      "x-ms-parameter-location": "method"
    },
    "Language": {
      "name": "language",
      "in": "query",
      "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Typeahead": {
      "name": "typeahead",
      "in": "query",
      "description": "Boolean.  If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
      "required": false,
      "type": "boolean",
      "default": false,
      "x-ms-parameter-location": "method"
    },
    "Limit": {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of responses that will be returned.",
      "required": false,
      "type": "integer",
      "default": 10,
      "minimum": 1,
      "maximum": 100,
      "x-ms-parameter-location": "method"
    },
    "CountrySet": {
      "name": "countrySet",
      "in": "query",
      "description": "Comma separated string of country codes, e.g. FR, ES. This will limit the search to the specified countries",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "Radius": {
      "name": "radius",
      "in": "query",
      "description": "The radius in meters to for the results to be constrained to the defined area",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Query": {
      "name": "query",
      "in": "query",
      "description": "The applicable query string and/or coordinates",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SearchResultIndexSet": {
      "name": "idxSet",
      "in": "query",
      "description": "A comma separated list of indexes which should be utilized for the search. Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo = Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross Streets (intersections)",
      "required": false,
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "Addr",
          "Geo",
          "PAD",
          "POI",
          "Str",
          "Xstr"
        ],
        "x-ms-enum": {
          "name": "idxSet",
          "modelAsString": false,
          "values": [
            {
              "value": "Addr",
              "description": "Address range interpolation"
            },
            {
              "value": "Geo",
              "description": "Geographies"
            },
            {
              "value": "PAD",
              "description": "Point Addresses"
            },
            {
              "value": "POI",
              "description": "Points of interest"
            },
            {
              "value": "Str",
              "description": "Streets"
            },
            {
              "value": "Xstr",
              "description": "Cross Streets (Intersections)"
            }
          ]
        }
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxTopLeft": {
      "x-client-name": "BoundingBoxTopLeft",
      "name": "topLeft",
      "in": "query",
      "description": "Top left position of the bounding box.  E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxBottomRight": {
      "x-client-name": "BoundingBoxBottomRight",
      "name": "btmRight",
      "in": "query",
      "description": "Bottom right position of the bounding box. E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/timezone/enumIana/{format}": {
      "get": {
        "description": "Returns all the IANA timezones",
        "operationId": "Timezone_GetTimezoneEnumIANA",
        "x-ms-examples": {
          "GetTimezoneEnumIANA": {
            "parameters": {
              "format": "json",
              "api-version": "1.0",
              "subscription-key": "{subscription-key}"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "id": "Africa/Bamako",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Banjul",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Conakry",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Dakar",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Freetown",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Lome",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Nouakchott",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Ouagadougou",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Sao_Tome",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/St_Helena",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Addis_Ababa",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Asmara",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Dar_es_Salaam",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Djibouti",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Kampala",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Mogadishu",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Indian/Antananarivo",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Indian/Comoro",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Indian/Mayotte",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Blantyre",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Bujumbura",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Gaborone",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Harare",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Kigali",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Lubumbashi",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Lusaka",
                    "isAlias": true,
                    "aliasOf": "Africa/Maputo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Bangui",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Brazzaville",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Douala",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Kinshasa",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Libreville",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Luanda",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Malabo",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Niamey",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Porto-Novo",
                    "isAlias": true,
                    "aliasOf": "Africa/Lagos",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Maseru",
                    "isAlias": true,
                    "aliasOf": "Africa/Johannesburg",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Mbabane",
                    "isAlias": true,
                    "aliasOf": "Africa/Johannesburg",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Juba",
                    "isAlias": true,
                    "aliasOf": "Africa/Khartoum",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Nicosia",
                    "isAlias": true,
                    "aliasOf": "Asia/Nicosia",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Bahrain",
                    "isAlias": true,
                    "aliasOf": "Asia/Qatar",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Aden",
                    "isAlias": true,
                    "aliasOf": "Asia/Riyadh",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kuwait",
                    "isAlias": true,
                    "aliasOf": "Asia/Riyadh",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Phnom_Penh",
                    "isAlias": true,
                    "aliasOf": "Asia/Bangkok",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Vientiane",
                    "isAlias": true,
                    "aliasOf": "Asia/Bangkok",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Muscat",
                    "isAlias": true,
                    "aliasOf": "Asia/Dubai",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Saipan",
                    "isAlias": true,
                    "aliasOf": "Pacific/Guam",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/McMurdo",
                    "isAlias": true,
                    "aliasOf": "Pacific/Auckland",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Midway",
                    "isAlias": true,
                    "aliasOf": "Pacific/Pago_Pago",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Jersey",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Guernsey",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Isle_of_Man",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Mariehamn",
                    "isAlias": true,
                    "aliasOf": "Europe/Helsinki",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Busingen",
                    "isAlias": true,
                    "aliasOf": "Europe/Zurich",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Vatican",
                    "isAlias": true,
                    "aliasOf": "Europe/Rome",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/San_Marino",
                    "isAlias": true,
                    "aliasOf": "Europe/Rome",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Vaduz",
                    "isAlias": true,
                    "aliasOf": "Europe/Zurich",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Arctic/Longyearbyen",
                    "isAlias": true,
                    "aliasOf": "Europe/Oslo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Ljubljana",
                    "isAlias": true,
                    "aliasOf": "Europe/Belgrade",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Podgorica",
                    "isAlias": true,
                    "aliasOf": "Europe/Belgrade",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Sarajevo",
                    "isAlias": true,
                    "aliasOf": "Europe/Belgrade",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Skopje",
                    "isAlias": true,
                    "aliasOf": "Europe/Belgrade",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Zagreb",
                    "isAlias": true,
                    "aliasOf": "Europe/Belgrade",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Bratislava",
                    "isAlias": true,
                    "aliasOf": "Europe/Prague",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Istanbul",
                    "isAlias": true,
                    "aliasOf": "Europe/Istanbul",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cayman",
                    "isAlias": true,
                    "aliasOf": "America/Panama",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Aruba",
                    "isAlias": true,
                    "aliasOf": "America/Curacao",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Lower_Princes",
                    "isAlias": true,
                    "aliasOf": "America/Curacao",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Kralendijk",
                    "isAlias": true,
                    "aliasOf": "America/Curacao",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Anguilla",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Antigua",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Dominica",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Grenada",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Guadeloupe",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Marigot",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Montserrat",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Barthelemy",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Kitts",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Lucia",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Thomas",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Vincent",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Tortola",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Pacific-New",
                    "isAlias": true,
                    "aliasOf": "America/Los_Angeles",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "GMT",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/Universal",
                    "isAlias": true,
                    "aliasOf": "Etc/UTC",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/Zulu",
                    "isAlias": true,
                    "aliasOf": "Etc/UTC",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/Greenwich",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/GMT-0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/GMT+0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Etc/GMT0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Africa/Asmera",
                    "isAlias": true,
                    "aliasOf": "Africa/Nairobi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Timbuktu",
                    "isAlias": true,
                    "aliasOf": "Africa/Abidjan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/ComodRivadavia",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Catamarca",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Atka",
                    "isAlias": true,
                    "aliasOf": "America/Adak",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Buenos_Aires",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Buenos_Aires",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Catamarca",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Catamarca",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Coral_Harbour",
                    "isAlias": true,
                    "aliasOf": "America/Atikokan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cordoba",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Cordoba",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Ensenada",
                    "isAlias": true,
                    "aliasOf": "America/Tijuana",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Fort_Wayne",
                    "isAlias": true,
                    "aliasOf": "America/Indiana/Indianapolis",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indianapolis",
                    "isAlias": true,
                    "aliasOf": "America/Indiana/Indianapolis",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Jujuy",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Jujuy",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Knox_IN",
                    "isAlias": true,
                    "aliasOf": "America/Indiana/Knox",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Louisville",
                    "isAlias": true,
                    "aliasOf": "America/Kentucky/Louisville",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Mendoza",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Mendoza",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Montreal",
                    "isAlias": true,
                    "aliasOf": "America/Toronto",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Porto_Acre",
                    "isAlias": true,
                    "aliasOf": "America/Rio_Branco",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Rosario",
                    "isAlias": true,
                    "aliasOf": "America/Argentina/Cordoba",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Santa_Isabel",
                    "isAlias": true,
                    "aliasOf": "America/Tijuana",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Shiprock",
                    "isAlias": true,
                    "aliasOf": "America/Denver",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Virgin",
                    "isAlias": true,
                    "aliasOf": "America/Port_of_Spain",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/South_Pole",
                    "isAlias": true,
                    "aliasOf": "Pacific/Auckland",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ashkhabad",
                    "isAlias": true,
                    "aliasOf": "Asia/Ashgabat",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Calcutta",
                    "isAlias": true,
                    "aliasOf": "Asia/Kolkata",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Chongqing",
                    "isAlias": true,
                    "aliasOf": "Asia/Shanghai",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Chungking",
                    "isAlias": true,
                    "aliasOf": "Asia/Shanghai",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Dacca",
                    "isAlias": true,
                    "aliasOf": "Asia/Dhaka",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Harbin",
                    "isAlias": true,
                    "aliasOf": "Asia/Shanghai",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kashgar",
                    "isAlias": true,
                    "aliasOf": "Asia/Urumqi",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Katmandu",
                    "isAlias": true,
                    "aliasOf": "Asia/Kathmandu",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Macao",
                    "isAlias": true,
                    "aliasOf": "Asia/Macau",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Rangoon",
                    "isAlias": true,
                    "aliasOf": "Asia/Yangon",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Saigon",
                    "isAlias": true,
                    "aliasOf": "Asia/Ho_Chi_Minh",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tel_Aviv",
                    "isAlias": true,
                    "aliasOf": "Asia/Jerusalem",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Thimbu",
                    "isAlias": true,
                    "aliasOf": "Asia/Thimphu",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ujung_Pandang",
                    "isAlias": true,
                    "aliasOf": "Asia/Makassar",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ulan_Bator",
                    "isAlias": true,
                    "aliasOf": "Asia/Ulaanbaatar",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Faeroe",
                    "isAlias": true,
                    "aliasOf": "Atlantic/Faroe",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Jan_Mayen",
                    "isAlias": true,
                    "aliasOf": "Europe/Oslo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/ACT",
                    "isAlias": true,
                    "aliasOf": "Australia/Sydney",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/Canberra",
                    "isAlias": true,
                    "aliasOf": "Australia/Sydney",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/LHI",
                    "isAlias": true,
                    "aliasOf": "Australia/Lord_Howe",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/NSW",
                    "isAlias": true,
                    "aliasOf": "Australia/Sydney",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/North",
                    "isAlias": true,
                    "aliasOf": "Australia/Darwin",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/Queensland",
                    "isAlias": true,
                    "aliasOf": "Australia/Brisbane",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/South",
                    "isAlias": true,
                    "aliasOf": "Australia/Adelaide",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/Tasmania",
                    "isAlias": true,
                    "aliasOf": "Australia/Hobart",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/Victoria",
                    "isAlias": true,
                    "aliasOf": "Australia/Melbourne",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/West",
                    "isAlias": true,
                    "aliasOf": "Australia/Perth",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Australia/Yancowinna",
                    "isAlias": true,
                    "aliasOf": "Australia/Broken_Hill",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Brazil/Acre",
                    "isAlias": true,
                    "aliasOf": "America/Rio_Branco",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Brazil/DeNoronha",
                    "isAlias": true,
                    "aliasOf": "America/Noronha",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Brazil/East",
                    "isAlias": true,
                    "aliasOf": "America/Sao_Paulo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Brazil/West",
                    "isAlias": true,
                    "aliasOf": "America/Manaus",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Atlantic",
                    "isAlias": true,
                    "aliasOf": "America/Halifax",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Central",
                    "isAlias": true,
                    "aliasOf": "America/Winnipeg",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/East-Saskatchewan",
                    "isAlias": true,
                    "aliasOf": "America/Regina",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Eastern",
                    "isAlias": true,
                    "aliasOf": "America/Toronto",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Mountain",
                    "isAlias": true,
                    "aliasOf": "America/Edmonton",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Newfoundland",
                    "isAlias": true,
                    "aliasOf": "America/St_Johns",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Pacific",
                    "isAlias": true,
                    "aliasOf": "America/Vancouver",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Saskatchewan",
                    "isAlias": true,
                    "aliasOf": "America/Regina",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Canada/Yukon",
                    "isAlias": true,
                    "aliasOf": "America/Whitehorse",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Chile/Continental",
                    "isAlias": true,
                    "aliasOf": "America/Santiago",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Chile/EasterIsland",
                    "isAlias": true,
                    "aliasOf": "Pacific/Easter",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Cuba",
                    "isAlias": true,
                    "aliasOf": "America/Havana",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Egypt",
                    "isAlias": true,
                    "aliasOf": "Africa/Cairo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Eire",
                    "isAlias": true,
                    "aliasOf": "Europe/Dublin",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Belfast",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Europe/Tiraspol",
                    "isAlias": true,
                    "aliasOf": "Europe/Chisinau",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "GB",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "GB-Eire",
                    "isAlias": true,
                    "aliasOf": "Europe/London",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "GMT+0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "GMT-0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "GMT0",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Greenwich",
                    "isAlias": true,
                    "aliasOf": "Etc/GMT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Hongkong",
                    "isAlias": true,
                    "aliasOf": "Asia/Hong_Kong",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Iceland",
                    "isAlias": true,
                    "aliasOf": "Atlantic/Reykjavik",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Iran",
                    "isAlias": true,
                    "aliasOf": "Asia/Tehran",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Israel",
                    "isAlias": true,
                    "aliasOf": "Asia/Jerusalem",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Jamaica",
                    "isAlias": true,
                    "aliasOf": "America/Jamaica",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Japan",
                    "isAlias": true,
                    "aliasOf": "Asia/Tokyo",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Kwajalein",
                    "isAlias": true,
                    "aliasOf": "Pacific/Kwajalein",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Libya",
                    "isAlias": true,
                    "aliasOf": "Africa/Tripoli",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Mexico/BajaNorte",
                    "isAlias": true,
                    "aliasOf": "America/Tijuana",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Mexico/BajaSur",
                    "isAlias": true,
                    "aliasOf": "America/Mazatlan",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Mexico/General",
                    "isAlias": true,
                    "aliasOf": "America/Mexico_City",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "NZ",
                    "isAlias": true,
                    "aliasOf": "Pacific/Auckland",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "NZ-CHAT",
                    "isAlias": true,
                    "aliasOf": "Pacific/Chatham",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Navajo",
                    "isAlias": true,
                    "aliasOf": "America/Denver",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "PRC",
                    "isAlias": true,
                    "aliasOf": "Asia/Shanghai",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Johnston",
                    "isAlias": true,
                    "aliasOf": "Pacific/Honolulu",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Ponape",
                    "isAlias": true,
                    "aliasOf": "Pacific/Pohnpei",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Samoa",
                    "isAlias": true,
                    "aliasOf": "Pacific/Pago_Pago",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Truk",
                    "isAlias": true,
                    "aliasOf": "Pacific/Chuuk",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Pacific/Yap",
                    "isAlias": true,
                    "aliasOf": "Pacific/Chuuk",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Poland",
                    "isAlias": true,
                    "aliasOf": "Europe/Warsaw",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Portugal",
                    "isAlias": true,
                    "aliasOf": "Europe/Lisbon",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "ROC",
                    "isAlias": true,
                    "aliasOf": "Asia/Taipei",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "ROK",
                    "isAlias": true,
                    "aliasOf": "Asia/Seoul",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Singapore",
                    "isAlias": true,
                    "aliasOf": "Asia/Singapore",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Turkey",
                    "isAlias": true,
                    "aliasOf": "Europe/Istanbul",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "UCT",
                    "isAlias": true,
                    "aliasOf": "Etc/UCT",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "US/Alaska",
                    "isAlias": true,
                    "aliasOf": "America/Anchorage",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Aleutian",
                    "isAlias": true,
                    "aliasOf": "America/Adak",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Arizona",
                    "isAlias": true,
                    "aliasOf": "America/Phoenix",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Central",
                    "isAlias": true,
                    "aliasOf": "America/Chicago",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/East-Indiana",
                    "isAlias": true,
                    "aliasOf": "America/Indiana/Indianapolis",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Eastern",
                    "isAlias": true,
                    "aliasOf": "America/New_York",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Hawaii",
                    "isAlias": true,
                    "aliasOf": "Pacific/Honolulu",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Indiana-Starke",
                    "isAlias": true,
                    "aliasOf": "America/Indiana/Knox",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Michigan",
                    "isAlias": true,
                    "aliasOf": "America/Detroit",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Mountain",
                    "isAlias": true,
                    "aliasOf": "America/Denver",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Pacific",
                    "isAlias": true,
                    "aliasOf": "America/Los_Angeles",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "US/Samoa",
                    "isAlias": true,
                    "aliasOf": "Pacific/Pago_Pago",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "UTC",
                    "isAlias": true,
                    "aliasOf": "Etc/UTC",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Universal",
                    "isAlias": true,
                    "aliasOf": "Etc/UTC",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "W-SU",
                    "isAlias": true,
                    "aliasOf": "Europe/Moscow",
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Zulu",
                    "isAlias": true,
                    "aliasOf": "Etc/UTC",
                    "hasZone1970Location": false
                  },
                  {
                    "id": "Africa/Abidjan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Accra",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Algiers",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Bissau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Cairo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Casablanca",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Ceuta",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/El_Aaiun",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Johannesburg",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Khartoum",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Lagos",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Maputo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Monrovia",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Nairobi",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Ndjamena",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Tripoli",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Tunis",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Africa/Windhoek",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Adak",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Anchorage",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Araguaina",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Buenos_Aires",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Catamarca",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Cordoba",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Jujuy",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/La_Rioja",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Mendoza",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Rio_Gallegos",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Salta",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/San_Juan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/San_Luis",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Tucuman",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Argentina/Ushuaia",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Asuncion",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Atikokan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Bahia",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Bahia_Banderas",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Barbados",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Belem",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Belize",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Blanc-Sablon",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Boa_Vista",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Bogota",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Boise",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cambridge_Bay",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Campo_Grande",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cancun",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Caracas",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cayenne",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Chicago",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Chihuahua",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Costa_Rica",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Creston",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Cuiaba",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Curacao",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Danmarkshavn",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Dawson",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Dawson_Creek",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Denver",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Detroit",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Edmonton",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Eirunepe",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/El_Salvador",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Fort_Nelson",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Fortaleza",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Glace_Bay",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Godthab",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Goose_Bay",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Grand_Turk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Guatemala",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Guayaquil",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Guyana",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Halifax",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Havana",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Hermosillo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Indianapolis",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Knox",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Marengo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Petersburg",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Tell_City",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Vevay",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Vincennes",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Indiana/Winamac",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Inuvik",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Iqaluit",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Jamaica",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Juneau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Kentucky/Louisville",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Kentucky/Monticello",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/La_Paz",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Lima",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Los_Angeles",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Maceio",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Managua",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Manaus",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Martinique",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Matamoros",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Mazatlan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Menominee",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Merida",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Metlakatla",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Mexico_City",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Miquelon",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Moncton",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Monterrey",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Montevideo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Nassau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/New_York",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Nipigon",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Nome",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Noronha",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/North_Dakota/Beulah",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/North_Dakota/Center",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/North_Dakota/New_Salem",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Ojinaga",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Panama",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Pangnirtung",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Paramaribo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Phoenix",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Port-au-Prince",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Port_of_Spain",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Porto_Velho",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Puerto_Rico",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Punta_Arenas",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Rainy_River",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Rankin_Inlet",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Recife",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Regina",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Resolute",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Rio_Branco",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Santarem",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Santiago",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Santo_Domingo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Sao_Paulo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Scoresbysund",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Sitka",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/St_Johns",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Swift_Current",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Tegucigalpa",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Thule",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Thunder_Bay",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Tijuana",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Toronto",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Vancouver",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Whitehorse",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Winnipeg",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Yakutat",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "America/Yellowknife",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Casey",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Davis",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/DumontDUrville",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Macquarie",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Mawson",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Palmer",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Rothera",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Syowa",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Troll",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Antarctica/Vostok",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Almaty",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Amman",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Anadyr",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Aqtau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Aqtobe",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ashgabat",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Atyrau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Baghdad",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Baku",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Bangkok",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Barnaul",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Beirut",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Bishkek",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Brunei",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Chita",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Choibalsan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Colombo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Damascus",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Dhaka",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Dili",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Dubai",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Dushanbe",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Famagusta",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Gaza",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Hebron",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ho_Chi_Minh",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Hong_Kong",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Hovd",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Irkutsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Jakarta",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Jayapura",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Jerusalem",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kabul",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kamchatka",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Karachi",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kathmandu",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Khandyga",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kolkata",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Krasnoyarsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kuala_Lumpur",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Kuching",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Macau",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Magadan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Makassar",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Manila",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Nicosia",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Novokuznetsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Novosibirsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Omsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Oral",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Pontianak",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Pyongyang",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Qatar",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Qyzylorda",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Riyadh",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Sakhalin",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Samarkand",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Seoul",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Shanghai",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Singapore",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Srednekolymsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Taipei",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tashkent",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tbilisi",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tehran",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Thimphu",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tokyo",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Tomsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ulaanbaatar",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Urumqi",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Ust-Nera",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Vladivostok",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Yakutsk",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Yangon",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Yekaterinburg",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Asia/Yerevan",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Azores",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Bermuda",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Canary",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Cape_Verde",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Faroe",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Madeira",
                    "isAlias": false,
                    "hasZone1970Location": true
                  },
                  {
                    "id": "Atlantic/Reykjavik",
[...]
