{
  "swagger": "2.0",
  "info": {
    "version": "2018-09-01",
    "title": "PrivateDnsManagementClient",
    "description": "The Private DNS Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks/{virtualNetworkLinkName}": {
      "put": {
        "tags": [
          "VirtualNetworkLinks"
        ],
        "operationId": "VirtualNetworkLinks_CreateOrUpdate",
        "description": "Creates or updates a virtual network link to the specified Private DNS zone.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "privateZoneName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Private DNS zone (without a terminating dot)."
          },
          {
            "name": "virtualNetworkLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual network link."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            },
            "description": "Parameters supplied to the CreateOrUpdate operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the virtual network link to the Private DNS zone. Omit this value to always overwrite the current virtual network link. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow a new virtual network link to the Private DNS zone to be created, but to prevent updating an existing link. Other values will be ignored."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The virtual network link to the Private DNS zone has been created.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          },
          "200": {
            "description": "The virtual network link to the Private DNS zone has been updated.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          },
          "202": {
            "description": "The operation to upsert virtual network link to the Private DNS zone has been accepted and will complete asynchronously."
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PUT Private DNS Zone Virtual Network Link": {
            "parameters": {
              "resourceGroupName": "resourceGroup1",
              "privateZoneName": "privatezone1.com",
              "virtualNetworkLinkName": "virtualNetworkLink1",
              "api-version": "2018-09-01",
              "subscriptionId": "subscriptionId",
              "parameters": {
                "location": "Global",
                "tags": {
                  "key1": "value1"
                },
                "properties": {
                  "virtualNetwork": {
                    "id": "/subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName"
                  },
                  "registrationEnabled": false
                }
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1",
                  "name": "virtualNetworkLink1",
                  "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
                  "location": "global",
                  "etag": "00000000-0000-0000-0000-000000000000",
                  "properties": {
                    "virtualNetwork": {
                      "id": "/subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName"
                    },
                    "registrationEnabled": false,
                    "virtualNetworkLinkState": "Completed",
                    "provisioningState": "Succeeded"
                  },
                  "tags": {
                    "key1": "value1"
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsZones/privatezone1.com/virtualNetworkLinks/virtualNetworkLink1",
                  "name": "virtualNetworkLink1",
                  "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
                  "location": "global",
                  "etag": "00000000-0000-0000-0000-000000000000",
                  "properties": {
                    "virtualNetwork": {
                      "id": "/subscriptions/virtualNetworkSubscriptionId/resourceGroups/virtualNetworkResourceGroup/providers/Microsoft.Network/virtualNetworks/virtualNetworkName"
                    },
                    "registrationEnabled": false,
                    "virtualNetworkLinkState": "Completed",
                    "provisioningState": "Succeeded"
                  },
                  "tags": {
                    "key1": "value1"
                  }
                }
              },
              "202": {
                "headers": {
                  "Location": "https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationResults/asyncOperationId?api-version=2018-09-01",
                  "Azure-AsyncOperation": "https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroup1/providers/Microsoft.Network/privateDnsOperationStatuses/asyncOperationId?api-version=2018-09-01",
                  "Retry-After": "60"
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "PrivateZoneProperties": {
      "properties": {
        "maxNumberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of record sets that can be created in this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "numberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of record sets in this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "maxNumberOfVirtualNetworkLinks": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of virtual networks that can be linked to this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "numberOfVirtualNetworkLinks": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of virtual networks that are linked to this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "maxNumberOfVirtualNetworkLinksWithRegistration": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of virtual networks that can be linked to this Private DNS zone with registration enabled. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "numberOfVirtualNetworkLinksWithRegistration": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of virtual networks that are linked to this Private DNS zone with registration enabled. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "description": "The provisioning state of the resource. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        }
      },
      "description": "Represents the properties of the Private DNS zone."
    },
    "PrivateZone": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the zone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrivateZoneProperties",
          "description": "Properties of the Private DNS zone."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a Private DNS zone."
    },
    "PrivateZoneListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateZone"
          },
          "description": "Information about the Private DNS zones."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a Private DNS zone list operation."
    },
    "VirtualNetworkLinkProperties": {
      "properties": {
        "virtualNetwork": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference of the virtual network."
        },
        "registrationEnabled": {
          "type": "boolean",
          "description": "Is auto-registration of virtual machine records in the virtual network in the Private DNS zone enabled?"
        },
        "virtualNetworkLinkState": {
          "type": "string",
          "description": "The status of the virtual network link to the Private DNS zone. Possible values are 'InProgress' and 'Done'. This is a read-only property and any attempt to set this value will be ignored.",
          "enum": [
            "InProgress",
            "Completed"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkLinkState",
            "modelAsString": true
          },
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "description": "The provisioning state of the resource. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        }
      },
      "description": "Represents the properties of the Private DNS zone."
    },
    "VirtualNetworkLink": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the virtual network link."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkLinkProperties",
          "description": "Properties of the virtual network link to the Private DNS zone."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a link to virtual network for a Private DNS zone."
    },
    "VirtualNetworkLinkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkLink"
          },
          "description": "Information about the virtual network links to the Private DNS zones."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a list virtual network link to Private DNS zone operation."
    },
    "ARecord": {
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address of this A record."
        }
      },
      "description": "An A record."
    },
    "AaaaRecord": {
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address of this AAAA record."
        }
      },
      "description": "An AAAA record."
    },
    "CnameRecord": {
      "properties": {
        "cname": {
          "type": "string",
          "description": "The canonical name for this CNAME record."
        }
      },
      "description": "A CNAME record."
    },
    "MxRecord": {
      "properties": {
        "preference": {
          "type": "integer",
          "format": "int32",
          "description": "The preference value for this MX record."
        },
        "exchange": {
          "type": "string",
          "description": "The domain name of the mail host for this MX record."
        }
      },
      "description": "An MX record."
    },
    "PtrRecord": {
      "properties": {
        "ptrdname": {
          "type": "string",
          "description": "The PTR target domain name for this PTR record."
        }
      },
      "description": "A PTR record."
    },
    "SoaRecord": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The domain name of the authoritative name server for this SOA record."
        },
        "email": {
          "type": "string",
          "description": "The email contact for this SOA record."
        },
        "serialNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The serial number for this SOA record."
        },
        "refreshTime": {
          "type": "integer",
          "format": "int64",
          "description": "The refresh value for this SOA record."
        },
        "retryTime": {
          "type": "integer",
          "format": "int64",
          "description": "The retry time for this SOA record."
        },
        "expireTime": {
          "type": "integer",
          "format": "int64",
          "description": "The expire time for this SOA record."
        },
        "minimumTtl": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum value for this SOA record. By convention this is used to determine the negative caching duration."
        }
      },
      "description": "An SOA record."
    },
    "SrvRecord": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority value for this SRV record."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight value for this SRV record."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port value for this SRV record."
        },
        "target": {
          "type": "string",
          "description": "The target domain name for this SRV record."
        }
      },
      "description": "An SRV record."
    },
    "TxtRecord": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The text value of this TXT record."
        }
      },
      "description": "A TXT record."
    },
    "RecordSetProperties": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata attached to the record set."
        },
        "ttl": {
          "type": "integer",
          "format": "int64",
          "description": "The TTL (time-to-live) of the records in the record set."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the record set.",
          "readOnly": true
        },
        "isAutoRegistered": {
          "type": "boolean",
          "description": "Is the record set auto-registered in the Private DNS zone through a virtual network link?",
          "readOnly": true
        },
        "aRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "description": "The list of A records in the record set."
        },
        "aaaaRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "description": "The list of AAAA records in the record set."
        },
        "cnameRecord": {
          "$ref": "#/definitions/CnameRecord",
          "description": "The CNAME record in the record set."
        },
        "mxRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MxRecord"
          },
          "description": "The list of MX records in the record set."
        },
        "ptrRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PtrRecord"
          },
          "description": "The list of PTR records in the record set."
        },
        "soaRecord": {
          "$ref": "#/definitions/SoaRecord",
          "description": "The SOA record in the record set."
        },
        "srvRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SrvRecord"
          },
          "description": "The list of SRV records in the record set."
        },
        "txtRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TxtRecord"
          },
          "description": "The list of TXT records in the record set."
        }
      },
      "description": "Represents the properties of the records in the record set."
    },
    "RecordSet": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the record set.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the record set.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the record set.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the record set."
        },
        "properties": {
          "$ref": "#/definitions/RecordSetProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the record set."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Describes a DNS record set (a collection of DNS records with the same name and type) in a Private DNS zone."
    },
    "RecordSetListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecordSet"
          },
          "description": "Information about the record sets in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a record set list operation."
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Fully qualified resource Id for the resource. Example - '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateDnsZoneName}'."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource. Example - 'Microsoft.Network/privateDnsZones'."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "The resource model definition for an ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another subresource.",
      "x-ms-azure-resource": true
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error message body"
        }
      },
      "x-ms-external": true,
      "description": "An error message"
    },
    "CloudErrorBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code"
        },
        "message": {
          "type": "string",
          "description": "A description of what caused the error"
        },
        "target": {
          "type": "string",
          "description": "The target resource of the error message"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "Extra error information"
        }
      },
      "x-ms-external": true,
      "description": "The body of an error message"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-id": "dns",
  "x-internal-service-name": "DNS",
  "x-internal-toc-name": "Virtual Network Links",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "CreateOrUpdate",
  "x-internal-operation-name": "Create Or Update"
}