{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    },
    "title": "RecoveryServicesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}": {
      "put": {
        "tags": [
          "VaultCertificates"
        ],
        "description": "Uploads a certificate for a resource.",
        "operationId": "VaultCertificates_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "Certificate friendly name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateRequest",
            "in": "body",
            "description": "Input parameters for uploading the vault certificate.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VaultCertificateResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Download vault credential file": {
            "parameters": {
              "subscriptionId": "77777777-d41f-4550-9f70-7708a3a2283b",
              "resourceGroupName": "BCDRIbzRG",
              "vaultName": "BCDRIbzVault",
              "certificateName": "BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials",
              "api-version": "2016-06-01",
              "certificateRequest": {
                "properties": {
                  "authType": "AAD",
                  "certificate": "MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7MfJaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs="
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "name": "BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials",
                  "type": "Microsoft.RecoveryServices/vaults/certificates",
                  "id": "/Subscriptions/77777777-d41f-4550-9f70-7708a3a2283b/resourceGroups/BCDRIbzRG/providers/Microsoft.RecoveryServices/vaults/BCDRIbzVault/certificates/BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials",
                  "properties": {
                    "authType": "AzureActiveDirectory",
                    "certificate": "MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7Mf                JaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs=",
                    "resourceId": 8726350008099341000,
                    "aadAuthority": "https://login.windows.net",
                    "aadTenantId": "9b0c2069-2eba-489f-95f4-eca15cb602ab",
                    "servicePrincipalClientId": "4932d0bd-b5f9-4659-94a0-7ab02d918933",
                    "servicePrincipalObjectId": "2d60221e-cef5-4e13-ba66-b33701a533bb",
                    "azureManagementEndpointAudience": "https://ppe1-id1.wus.wabppe.obs-test.com/restapi/",
                    "subject": "CN=Windows Azure Tools",
                    "validFrom": "2017-12-18T09:17:53+00:00",
                    "validTo": "2017-12-23T09:27:53+00:00",
                    "thumbprint": "019FE9BAD18A5A09A5CA53B593AF66331F3054AF",
                    "friendlyName": "",
                    "issuer": "CN=Windows Azure Tools"
                  }
                }
              }
            }
          }
        },
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "CertificateRequest": {
      "description": "Details of the certificate to be uploaded to the vault.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RawCertificateData"
        }
      }
    },
    "RawCertificateData": {
      "description": "Raw certificate data.",
      "type": "object",
      "properties": {
        "authType": {
          "description": "Specifies the authentication type.",
          "enum": [
            "Invalid",
            "ACS",
            "AAD",
            "AccessControlService",
            "AzureActiveDirectory"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AuthType",
            "modelAsString": true
          }
        },
        "certificate": {
          "format": "byte",
          "description": "The base64 encoded certificate raw data string",
          "type": "string"
        }
      }
    },
    "ResourceCertificateAndAadDetails": {
      "description": "Certificate details representing the Vault credentials for AAD.",
      "required": [
        "certificate",
        "resourceId",
        "aadAuthority",
        "aadTenantId",
        "servicePrincipalClientId",
        "servicePrincipalObjectId",
        "azureManagementEndpointAudience",
        "subject",
        "validFrom",
        "validTo",
        "thumbprint",
        "friendlyName",
        "issuer"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceCertificateDetails"
        }
      ],
      "properties": {
        "aadAuthority": {
          "description": "AAD tenant authority.",
          "type": "string"
        },
        "aadTenantId": {
          "description": "AAD tenant Id.",
          "type": "string"
        },
        "servicePrincipalClientId": {
          "description": "AAD service principal clientId.",
          "type": "string"
        },
        "servicePrincipalObjectId": {
          "description": "AAD service principal ObjectId.",
          "type": "string"
        },
        "azureManagementEndpointAudience": {
          "description": "Azure Management Endpoint Audience.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureActiveDirectory"
    },
    "ResourceCertificateAndAcsDetails": {
      "description": "Certificate details representing the Vault credentials for ACS.",
      "required": [
        "certificate",
        "resourceId",
        "globalAcsNamespace",
        "globalAcsHostName",
        "globalAcsRPRealm",
        "subject",
        "validFrom",
        "validTo",
        "thumbprint",
        "friendlyName",
        "issuer"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceCertificateDetails"
        }
      ],
      "properties": {
        "globalAcsNamespace": {
          "description": "ACS namespace name - tenant for our service.",
          "type": "string"
        },
        "globalAcsHostName": {
          "description": "Acs mgmt host name to connect to.",
          "type": "string"
        },
        "globalAcsRPRealm": {
          "description": "Global ACS namespace RP realm.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AccessControlService"
    },
    "ResourceCertificateDetails": {
      "description": "Certificate details representing the Vault credentials.",
      "required": [
        "authType"
      ],
      "type": "object",
      "properties": {
        "authType": {
          "description": "This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types.",
          "type": "string"
        },
        "certificate": {
          "format": "byte",
          "description": "The base64 encoded certificate raw data string.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Certificate friendlyname.",
          "type": "string"
        },
        "issuer": {
          "description": "Certificate issuer.",
          "type": "string"
        },
        "resourceId": {
          "format": "int64",
          "description": "Resource ID of the vault.",
          "type": "integer"
        },
        "subject": {
          "description": "Certificate Subject Name.",
          "type": "string"
        },
        "thumbprint": {
          "description": "Certificate thumbprint.",
          "type": "string"
        },
        "validFrom": {
          "format": "date-time",
          "description": "Certificate Validity start Date time.",
          "type": "string"
        },
        "validTo": {
          "format": "date-time",
          "description": "Certificate Validity End Date time.",
          "type": "string"
        }
      },
      "discriminator": "authType"
    },
    "VaultCertificateResponse": {
      "description": "Certificate corresponding to a vault that can be used by clients to register themselves with the vault.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name associated with the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Resource Id represents the complete path to the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ResourceCertificateDetails"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription Id.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group where the recovery services vault is present.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "VaultName": {
      "name": "vaultName",
      "in": "path",
      "description": "The name of the recovery services vault.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "Recovery Services",
  "x-internal-toc-name": "Vault Certificates",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create"
}