{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Location Based Services",
    "description": "Azure LBS REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "SubscriptionKey": {
      "name": "subscription-key",
      "description": "Azure LBS subscription key",
      "type": "string",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "client"
    },
    "ApiVersion": {
      "name": "api-version",
      "description": "Version number of Azure LBS API.  Current version is 1.0",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "client"
    },
    "AcceptLanguage": {
      "name": "Accept-Language",
      "in": "header",
      "description": "Specifies the list of acceptable ISO 639-1 language codes in which the timezone names should be returned.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TimezoneOptions": {
      "name": "options",
      "in": "query",
      "description": "Alternatively, use alias \"o\". Options available for types of information returned in the result.",
      "required": false,
      "type": "string",
      "enum": [
        "none",
        "zoneInfo",
        "transitions",
        "all"
      ],
      "x-ms-enum": {
        "name": "options",
        "modelAsString": false,
        "values": [
          {
            "value": "none",
            "description": "Do not include zoneinfo or transitions in the result."
          },
          {
            "value": "zoneInfo",
            "description": "Include additional time zone info in the result."
          },
          {
            "value": "transitions",
            "description": "Include transition information in the result (The number of transitions is currently capped at 250)."
          },
          {
            "value": "all",
            "description": "Include both zoneinfo and transitions in the result."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TimezoneTimeStamp": {
      "name": "timeStamp",
      "in": "query",
      "description": "Alternatively, use alias \"stamp\", or \"s\". Reference time, if omitted, the API will use the machine time serving the request.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsFrom": {
      "name": "transitionsFrom",
      "in": "query",
      "description": "Alternatively, use alias \"tf\". The start date from which daylight savings time (DST) transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "format": "date-time"
    },
    "TimezoneTransitionsYears": {
      "name": "transitionsYears",
      "in": "query",
      "description": "Alternatively, use alias \"ty\". The number of years from \"transitionsFrom\" for which DST transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "TextFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are json & xml.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "json",
        "xml"
      ],
      "x-ms-parameter-location": "method"
    },
    "RasterTileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible value: png.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "TileFormat": {
      "name": "format",
      "description": "Desired format of the response. Possible values are png & pbf.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "png",
        "pbf"
      ],
      "x-ms-enum": {
        "name": "format",
        "modelAsString": false,
        "values": [
          {
            "value": "png",
            "description": "An image in the png format. Supports zoom levels 0 through 18."
          },
          {
            "value": "pbf",
            "description": "Vector graphic in the pbf format. Supports zoom levels 0 through 20."
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "xTileIndex": {
      "name": "x",
      "x-ms-client-name": "xTileIndex",
      "in": "query",
      "description": "X index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857) ",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "yTileIndex": {
      "name": "y",
      "x-ms-client-name": "yTileIndex",
      "in": "query",
      "description": "Y index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857)",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for desired tile.",
      "required": true,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "Text": {
      "name": "text",
      "in": "query",
      "description": "Yes/no value to exclude textual data from response. Only images and country names will be in response.",
      "required": false,
      "type": "string",
      "enum": [
        "yes",
        "no"
      ],
      "default": "yes",
      "x-ms-parameter-location": "method"
    },
    "Language": {
      "name": "language",
      "in": "query",
      "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "OptionalBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLat": {
      "name": "lat",
      "in": "query",
      "description": "Latitude where results should be biased.  E.g. 37.337",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "RequiredBiasLon": {
      "name": "lon",
      "in": "query",
      "description": "Longitude where results should be biased.  E.g. -121.89",
      "required": true,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Typeahead": {
      "name": "typeahead",
      "in": "query",
      "description": "Boolean.  If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
      "required": false,
      "type": "boolean",
      "default": false,
      "x-ms-parameter-location": "method"
    },
    "Limit": {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of responses that will be returned.",
      "required": false,
      "type": "integer",
      "default": 10,
      "minimum": 1,
      "maximum": 100,
      "x-ms-parameter-location": "method"
    },
    "CountrySet": {
      "name": "countrySet",
      "in": "query",
      "description": "Comma separated string of country codes, e.g. FR, ES. This will limit the search to the specified countries",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "Radius": {
      "name": "radius",
      "in": "query",
      "description": "The radius in meters to for the results to be constrained to the defined area",
      "required": false,
      "type": "number",
      "x-ms-parameter-location": "method"
    },
    "Query": {
      "name": "query",
      "in": "query",
      "description": "The applicable query string and/or coordinates",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SearchResultIndexSet": {
      "name": "idxSet",
      "in": "query",
      "description": "A comma separated list of indexes which should be utilized for the search. Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo = Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross Streets (intersections)",
      "required": false,
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "Addr",
          "Geo",
          "PAD",
          "POI",
          "Str",
          "Xstr"
        ],
        "x-ms-enum": {
          "name": "idxSet",
          "modelAsString": false,
          "values": [
            {
              "value": "Addr",
              "description": "Address range interpolation"
            },
            {
              "value": "Geo",
              "description": "Geographies"
            },
            {
              "value": "PAD",
              "description": "Point Addresses"
            },
            {
              "value": "POI",
              "description": "Points of interest"
            },
            {
              "value": "Str",
              "description": "Streets"
            },
            {
              "value": "Xstr",
              "description": "Cross Streets (Intersections)"
            }
          ]
        }
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxTopLeft": {
      "x-client-name": "BoundingBoxTopLeft",
      "name": "topLeft",
      "in": "query",
      "description": "Top left position of the bounding box.  E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "BoundingBoxBottomRight": {
      "x-client-name": "BoundingBoxBottomRight",
      "name": "btmRight",
      "in": "query",
      "description": "Bottom right position of the bounding box. E.g. 37.553,-122.453",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/search/poi/{format}": {
      "get": {
        "description": "Returns the search results from a POI search",
        "operationId": "Search_GetSearchPOI",
        "x-ms-examples": {
          "GetSearchPOI": {
            "parameters": {
              "format": "json",
              "api-version": "1.0",
              "query": "statue of liberty",
              "subscription-key": "{subscription-key}"
            },
            "responses": {
              "200": {
                "body": {
                  "summary": {
                    "query": "statue of liberty",
                    "queryType": "NON_NEAR",
                    "queryTime": 7,
                    "numResults": 10,
                    "offset": 0,
                    "totalResults": 11,
                    "fuzzyLevel": 1
                  },
                  "results": [
                    {
                      "type": "POI",
                      "id": "US/POI/p0/2342603",
                      "score": 9.204,
                      "info": "search:ta:840369001174316-US",
                      "poi": {
                        "name": "Statue of Liberty",
                        "categories": [
                          "important tourist attraction",
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "important tourist attraction"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "New York City, NYC, New York",
                        "municipality": "New York City, NYC, NY City, NY, Manhattan, Bowling Green, New York",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "New York, NY 10004",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68955,
                        "lon": -74.04483
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69045,
                          "lon": -74.04602
                        },
                        "btmRightPoint": {
                          "lat": 40.68865,
                          "lon": -74.04364
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.69001,
                            "lon": -74.04683
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/7589836",
                      "score": 9.204,
                      "info": "search:ta:840019000670588-US",
                      "poi": {
                        "name": "Statue of Liberty",
                        "phone": "+(1)-(205)-9700251",
                        "url": "www.1bsa.org",
                        "categories": [
                          "important tourist attraction"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "important tourist attraction"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "516",
                        "streetName": "Liberty Pkwy",
                        "municipalitySubdivision": "Vestavia Hills, Vestavia",
                        "municipality": "Vestavia Hills, Vestavia HLS, Vestavia, Shoal Creek, Meadowbrook, Birmingham",
                        "countrySecondarySubdivision": "Jefferson",
                        "countryTertiarySubdivision": "Leeds",
                        "countrySubdivision": "AL",
                        "postalCode": "35242",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "516 Liberty Pkwy, Vestavia Hills, AL 35242",
                        "countrySubdivisionName": "Alabama"
                      },
                      "position": {
                        "lat": 33.48234,
                        "lon": -86.70719
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 33.48324,
                          "lon": -86.70827
                        },
                        "btmRightPoint": {
                          "lat": 33.48144,
                          "lon": -86.70611
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 33.48129,
                            "lon": -86.7065
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "FR/POI/p0/3409793",
                      "score": 8.26,
                      "info": "search:geonames:8379506",
                      "poi": {
                        "name": "Statue of Liberty replica",
                        "categories": [
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "15e Arrondissement",
                        "municipality": "Paris",
                        "countrySecondarySubdivision": "Paris",
                        "countrySubdivision": "Île-de-France",
                        "countryCode": "FR",
                        "country": "France",
                        "countryCodeISO3": "FRA",
                        "freeformAddress": "Paris (15e Arrondissement)"
                      },
                      "position": {
                        "lat": 48.85003,
                        "lon": 2.27972
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 48.85093,
                          "lon": 2.27835
                        },
                        "btmRightPoint": {
                          "lat": 48.84913,
                          "lon": 2.28109
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "GU/POI/p0/220",
                      "score": 8.26,
                      "info": "search:geonames:7839086",
                      "poi": {
                        "name": "Statue of Liberty - Small NY Replica",
                        "categories": [
                          "monument"
                        ],
                        "classifications": [
                          {
                            "code": "IMPORTANT_TOURIST_ATTRACTION",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "monument"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipality": "Hagåtña",
                        "countrySecondarySubdivision": "Guam",
                        "countrySubdivision": "Guam",
                        "countryCode": "GU",
                        "country": "Guam",
                        "countryCodeISO3": "GUM",
                        "freeformAddress": "Hagåtña, Guam"
                      },
                      "position": {
                        "lat": 13.48129,
                        "lon": 144.7534
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 13.48219,
                          "lon": 144.75248
                        },
                        "btmRightPoint": {
                          "lat": 13.48039,
                          "lon": 144.75432
                        }
                      }
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/5516176",
                      "score": 8.26,
                      "info": "search:ta:840369001522852-US",
                      "poi": {
                        "name": "Statue of Liberty Deli",
                        "phone": "+(1)-(718)-5560700",
                        "categories": [
                          "delicatessen",
                          "shop"
                        ],
                        "classifications": [
                          {
                            "code": "SHOP",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "delicatessen"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "shop"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "1",
                        "streetName": "Bay St",
                        "municipalitySubdivision": "New York City, NYC, Staten Island, New York",
                        "municipality": "New York City, NYC, Staten Island, New York",
                        "countrySecondarySubdivision": "Richmond",
                        "countryTertiarySubdivision": "Staten Island",
                        "countrySubdivision": "NY",
                        "postalCode": "10301",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "1 Bay St, Staten Island, NY 10301",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.6421,
                        "lon": -74.07509
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.643,
                          "lon": -74.07628
                        },
                        "btmRightPoint": {
                          "lat": 40.6412,
                          "lon": -74.0739
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.64212,
                            "lon": -74.07514
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/2342403",
                      "score": 8.26,
                      "info": "search:ta:840369001250480-US",
                      "poi": {
                        "name": "Statue of Liberty Information Center",
                        "phone": "+(1)-(212)-3633200",
                        "url": "www.nps.gov/stli/planyourvisit/things2do.htm#informationCenter",
                        "categories": [
                          "tourist information office"
                        ],
                        "classifications": [
                          {
                            "code": "TOURIST_INFORMATION_OFFICE",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "tourist information office"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "New York City, NYC, New York",
                        "municipality": "New York City, NYC, NY City, NY, Manhattan, Bowling Green, New York",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "New York, NY 10004",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68999,
                        "lon": -74.04609
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69089,
                          "lon": -74.04728
                        },
                        "btmRightPoint": {
                          "lat": 40.68909,
                          "lon": -74.0449
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.69027,
                            "lon": -74.04636
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/2342580",
                      "score": 8.26,
                      "info": "search:ta:840369001358614-US",
                      "poi": {
                        "name": "Statue of Liberty National Monument",
                        "categories": [
                          "historic site",
                          "park recreation area"
                        ],
                        "classifications": [
                          {
                            "code": "PARK_RECREATION_AREA",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "park recreation area"
                              },
                              {
                                "nameLocale": "en-US",
                                "name": "historic site"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "municipalitySubdivision": "New York City, NYC, New York",
                        "municipality": "New York City, NYC, NY City, NY, Manhattan, Bowling Green, New York",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10004",
                        "extendedPostalCode": "1000499",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "New York, NY 10004",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.68978,
                        "lon": -74.04512
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.69068,
                          "lon": -74.04631
                        },
                        "btmRightPoint": {
                          "lat": 40.68888,
                          "lon": -74.04393
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.68981,
                            "lon": -74.04504
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p1/3659612",
                      "score": 8.26,
                      "info": "search:ta:840369001553292-US",
                      "poi": {
                        "name": "Statue Of Liberty Ellis Island Foundation",
                        "phone": "+(1)-(212)-7517110",
                        "url": "www.libertyellisfoundation.org/",
                        "categories": [
                          "company"
                        ],
                        "classifications": [
                          {
                            "code": "COMPANY",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "company"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "100",
                        "streetName": "E 50th St",
                        "municipalitySubdivision": "New York City, NYC, New York, Midtown",
                        "municipality": "New York City, NYC, NY City, NY, Manhattan, Franklin D Roosevelt, New York",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10022",
                        "extendedPostalCode": "100226847",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "100 E 50th St, New York, NY 10022",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.75701,
                        "lon": -73.97374
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.75791,
                          "lon": -73.97493
                        },
                        "btmRightPoint": {
                          "lat": 40.75611,
                          "lon": -73.97255
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.75706,
                            "lon": -73.97371
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/2322956",
                      "score": 8.26,
                      "info": "search:ta:840361001112219-US",
                      "poi": {
                        "name": "Statue of Liberty Ellis Island Foundation",
                        "phone": "+(1)-(212)-6831986",
                        "url": "www.libertyellisfoundation.org/",
                        "categories": [
                          "tourist information office"
                        ],
                        "classifications": [
                          {
                            "code": "TOURIST_INFORMATION_OFFICE",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "tourist information office"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetNumber": "292",
                        "streetName": "Madison Ave",
                        "municipalitySubdivision": "New York City, NYC, New York, Murray Hill, Midtown",
                        "municipality": "New York City, NYC, NY City, NY, Manhattan, Grand Central, New York",
                        "countrySecondarySubdivision": "New York",
                        "countryTertiarySubdivision": "Manhattan",
                        "countrySubdivision": "NY",
                        "postalCode": "10016",
                        "extendedPostalCode": "100161141",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "292 Madison Ave, New York, NY 10016",
                        "countrySubdivisionName": "New York"
                      },
                      "position": {
                        "lat": 40.75204,
                        "lon": -73.98028
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.75294,
                          "lon": -73.98147
                        },
                        "btmRightPoint": {
                          "lat": 40.75114,
                          "lon": -73.97909
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.7519,
                            "lon": -73.97995
                          }
                        }
                      ]
                    },
                    {
                      "type": "POI",
                      "id": "US/POI/p0/7391968",
                      "score": 8.26,
                      "info": "search:ta:840349001984182-US",
                      "poi": {
                        "name": "Statue of Liberty Ellis Island Ferry To NYC Parking Lot",
                        "categories": [
                          "open parking area"
                        ],
                        "classifications": [
                          {
                            "code": "OPEN_PARKING_AREA",
                            "names": [
                              {
                                "nameLocale": "en-US",
                                "name": "open parking area"
                              }
                            ]
                          }
                        ]
                      },
                      "address": {
                        "streetName": "Audrey Zapp Dr",
                        "municipalitySubdivision": "Jersey City",
                        "municipality": "Greenville, Ellis Island, Jersey City",
                        "countrySecondarySubdivision": "Hudson",
                        "countryTertiarySubdivision": "Jersey City",
                        "countrySubdivision": "NJ",
                        "postalCode": "07305",
                        "extendedPostalCode": "073054127",
                        "countryCode": "US",
                        "country": "United States Of America",
                        "countryCodeISO3": "USA",
                        "freeformAddress": "Audrey Zapp Dr, Jersey City, NJ 07305",
                        "countrySubdivisionName": "New Jersey"
                      },
                      "position": {
                        "lat": 40.70756,
                        "lon": -74.03977
                      },
                      "viewport": {
                        "topLeftPoint": {
                          "lat": 40.70846,
                          "lon": -74.04096
                        },
                        "btmRightPoint": {
                          "lat": 40.70666,
                          "lon": -74.03858
                        }
                      },
                      "entryPoints": [
                        {
                          "type": "main",
                          "position": {
                            "lat": 40.70858,
                            "lon": -74.03998
                          }
                        },
                        {
                          "type": "minor",
                          "position": {
                            "lat": 40.70785,
                            "lon": -74.04304
                          }
                        }
                      ]
                    }
                  ]
                }
              },
              "400": {
                "headers": {},
                "body": {
                  "statuscode": "400",
                  "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
                }
              },
              "401": {
                "headers": {},
                "body": {
                  "statuscode": "401",
                  "message": "Unauthorized: Access is denied due to invalid credentials."
                }
              },
              "403": {
                "headers": {},
                "body": {
                  "statuscode": "403",
                  "message": "Permission, capacity, or authentication issues."
                }
              },
              "404": {
                "headers": {},
                "body": {
                  "statuscode": "404",
                  "message": "Not Found: the requested resource could not be found, but it may be available again in the future."
                }
              },
              "500": {
                "headers": {},
                "body": {
                  "statuscode": "500",
                  "message": "An error occurred while processing the request. Please try again later."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionKey"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/TextFormat"
          },
          {
            "$ref": "#/parameters/Query"
          },
          {
            "$ref": "#/parameters/Typeahead"
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set.",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0,
            "maximum": 1900
          },
          {
            "$ref": "#/parameters/CountrySet"
          },
          {
            "$ref": "#/parameters/OptionalBiasLat"
          },
          {
            "$ref": "#/parameters/OptionalBiasLon"
          },
          {
            "$ref": "#/parameters/Radius"
          },
          {
            "$ref": "#/parameters/BoundingBoxTopLeft"
          },
          {
            "$ref": "#/parameters/BoundingBoxBottomRight"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results. POI = Points of Interest",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchPoiResult"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "produces": [
          "application/json",
          "application/xml"
        ],
        "consumes": [],
        "x-internal-toc-name": "Get Search POI"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "statuscode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "Poi": {
      "description": "POI property",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "description": "Phone property",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL property",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "description": "Categories array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "classifications": {
          "description": "Classification array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Classification"
          }
        }
      }
    },
    "Classification": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Code property",
          "type": "string",
          "readOnly": true
        },
        "names": {
          "description": "Names array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ClassificationName"
          }
        }
      }
    },
    "ClassificationName": {
      "type": "object",
      "properties": {
        "nameLocale": {
          "description": "Name Locale property",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Address": {
      "description": "The address of the result",
      "type": "object",
      "properties": {
        "buildingNumber": {
          "description": "Building Number property",
          "type": "string",
          "readOnly": true
        },
        "street": {
          "description": "Street property",
          "type": "string",
          "readOnly": true
        },
        "crossStreet": {
          "description": "Cross Street property",
          "type": "string",
          "readOnly": true
        },
        "streetNumber": {
          "description": "Street Number property",
          "type": "string",
          "readOnly": true
        },
        "routeNumbers": {
          "description": "number of routes",
          "type": "array",
          "items": {
            "type": "integer",
            "readOnly": true
          },
          "readOnly": true
        },
        "streetName": {
          "description": "Street Name property",
          "type": "string",
          "readOnly": true
        },
        "streetNameAndNumber": {
          "description": "Street Name and Number property",
          "type": "string",
          "readOnly": true
        },
        "municipality": {
          "description": "Municipality property",
          "type": "string",
          "readOnly": true
        },
        "municipalitySubdivision": {
          "description": "Municipality Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countryTertiarySubdivision": {
          "description": "Country Tertiary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySecondarySubdivision": {
          "description": "Country Secondary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivision": {
          "description": "Country Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "description": "Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "extendedPostalCode": {
          "description": "Extended Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "Country Code property",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country property",
          "type": "string",
          "readOnly": true
        },
        "countryCodeISO3": {
          "description": "Country Code ISO3 property",
          "type": "string",
          "readOnly": true
        },
        "freeformAddress": {
          "description": "Free form Address property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivisionName": {
          "description": "Country Subdividion Name property",
          "type": "string",
          "readOnly": true
        },
        "boundingBox": {
          "description": "Bounding Box for the address",
          "type": "object",
          "properties": {
            "northEast": {
              "type": "string",
              "readOnly": true,
              "description": "The North East coordinates for the Bounding Box"
            },
            "southWest": {
              "type": "string",
              "readOnly": true,
              "description": "The South West coordinates for the Bounding Box"
            }
          }
        }
      }
    },
    "Position": {
      "description": "Coordinates of the result",
      "type": "object",
      "properties": {
        "lat": {
          "type": "number",
          "readOnly": true,
          "description": "Latitude property"
        },
        "lon": {
          "type": "number",
          "readOnly": true,
          "description": "Longitude property"
        }
      }
    },
    "Viewport": {
      "description": "The viewport that covers the result",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "description": "Top left of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        },
        "btmRightPoint": {
          "description": "Bottom right of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        }
      }
    },
    "EntryPoints": {
      "description": "Entry Points array",
      "type": "array",
      "items": {
        "$ref": "#/definitions/EntityPoint"
      }
    },
    "EntityPoint": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Name Locale property",
          "type": "string",
          "readOnly": true
        },
        "position": {
          "description": "Name property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lat": {
              "description": "Latitude property",
              "type": "number",
              "readOnly": true
            },
            "lon": {
              "description": "Longitude property",
              "type": "number",
              "readOnly": true
            }
          }
        }
      }
    },
    "Route": {
      "description": "Route object",
      "type": "object",
      "properties": {
        "routeGeometry": {
          "description": "Route geometry point(lat,lon) array",
          "type": "array",
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "routeInstructions": {
          "description": "RouteInstructions property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "list": {
              "description": "List of instructions",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/Instruction"
              }
            },
            "language": {
              "description": "Language property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "routeSummary": {
          "description": "RouteSummary property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "boundingBox": {
              "description": "BoundingBox property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "topLeftPoint": {
                  "description": "TopLeftPoint property. Format : lat,lon",
                  "type": "string",
                  "readOnly": true
                },
                "btmRightPoint": {
                  "description": "BottomRightPoint property. Format : lat,lon",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "totalDistance": {
              "description": "TotalDistance property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "value": {
                  "description": "Distance value property",
                  "type": "number",
                  "readOnly": true
                },
                "uom": {
                  "description": "Unit of Measurement property",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "totalTime": {
              "description": "TotalTime property",
              "type": "string",
              "readOnly": true
            },
            "totalTravelTime": {
              "description": "TotalTravelTime property",
              "type": "string",
              "readOnly": true
            },
            "totalWaitTime": {
              "description": "TotalWaitTime property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Instruction": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "Instruction": {
          "description": "Instruction property",
          "type": "string",
          "readOnly": true
        },
        "Point": {
          "description": "Point property. Format: Lat,Lon",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Description  property",
          "type": "string",
          "readOnly": true
        },
        "distance": {
          "description": "Distance property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "value": {
              "description": "Value  property",
              "type": "number",
              "readOnly": true
            },
            "uom": {
              "description": "Unit of Measure  property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "duration": {
          "description": "Duration property",
          "type": "string",
          "readOnly": true
        },
        "waitTime": {
          "description": "WaitTime property",
          "type": "string",
          "readOnly": true
        },
        "turnAngle": {
          "description": "TurnAngle property",
          "type": "number",
          "readOnly": true
        },
        "turn": {
          "description": "Turn property",
          "type": "string",
          "readOnly": true
        },
        "tour": {
          "description": "Tour property",
          "type": "integer",
          "readOnly": true
        },
        "sideOfStreet": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CopyrightBoundingResult": {
      "description": "This object is returned from a successful Copyright Bounding call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "copyrights": {
          "description": "Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "country": {
          "description": "Country property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "ISO3": {
              "description": "ISO3 property",
              "type": "string",
              "readOnly": true
            },
            "label": {
              "description": "Label property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "CopyrightCaptionResult": {
      "description": "This object is returned from a successful Copyright Caption call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyrightsCaption": {
          "description": "Copyrights Caption property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CopyrightWorldResult": {
      "description": "This object is returned from a successful Copyright World call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "CopyrightTileResult": {
      "description": "This object is returned from a successful Copyright Tile call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "MapStaticResult": {
      "description": "This image is returned from a successful Map Static call",
      "type": "string",
      "format": "binary",
      "readOnly": true
    },
    "MapTileResult": {
      "description": "This image is returned from a successful Map Tile call",
      "type": "string",
      "format": "binary",
      "readOnly": true
    },
    "SearchFuzzyResult": {
      "description": "This object is returned from a successful Search Fuzzy call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchFuzzyResultArray"
          }
        }
      }
    },
    "SearchFuzzyResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "boundingBox": {
          "description": "Bounding box of the result",
          "type": "object",
          "properties": {
            "topLeftPoint": {
              "description": "Top left of the viewport",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude"
                }
              }
            },
            "btmRightPoint": {
              "description": "Bottom right of the viewport",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude"
                }
              }
            }
          }
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchPoiResult": {
      "description": "This object is returned from a successful Search POI call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "$ref": "#/definitions/Poi"
              },
              "address": {
                "$ref": "#/definitions/Address"
              },
              "position": {
                "$ref": "#/definitions/Position"
              },
              "viewport": {
                "$ref": "#/definitions/Viewport"
              },
              "entryPoints": {
                "$ref": "#/definitions/EntryPoints"
              }
            }
          }
        }
      }
    },
    "SearchRoutedResult": {
      "description": "This object is returned from a successful Routed Search call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "GeoBias property",
              "type": "object",
              "readOnly": true,
              "properties": {
                "lat": {
                  "description": "Latitude property",
                  "type": "number",
                  "readOnly": true
                },
                "lon": {
                  "description": "Longitude property",
                  "type": "number",
                  "readOnly": true
                }
              }
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchRoutedResultArray"
          }
        }
      }
    },
    "SearchRoutedResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "dist": {
          "description": "Distance property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "route": {
          "$ref": "#/definitions/Route"
        }
      }
    },
    "SearchPoiCategoryResult": {
      "description": "This object is returned from a successful Search POI Category call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchPoiCategoryResultArray"
          }
        }
      }
    },
    "SearchPoiCategoryResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAddressResult": {
      "description": "This object is returned from a successful Search Address call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAddressResultArray"
          }
        }
      }
    },
    "SearchAddressResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAddressReverseResult": {
      "description": "This object is returned from a successful Search Address Reverse call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AddressResult"
          }
        }
      }
    },
    "SearchAddressReverseCrossStreetResult": {
      "description": "This object is returned from a successful Search Address Reverse CrossStreet call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AddressResult"
          }
        }
      }
    },
    "AddressResult": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "type": "string",
          "readOnly": true,
          "description": "Position property"
        }
      }
    },
    "SearchAddressStructuredResult": {
      "description": "This object is returned from a successful Search Address Structured call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "limit": {
              "description": "Maximum number of responses that will be returned",
              "readOnly": true,
              "type": "integer"
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "Geo Bias of the result",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude property"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude property"
                }
              }
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAddressStructuredResultArray"
          }
        }
      }
    },
    "SearchAddressStructuredResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "dist": {
          "description": "Dist property",
          "type": "number",
          "readOnly": true
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "addressRanges": {
          "type": "object",
          "properties": {
            "rangeLeft": {
              "type": "string"
            },
            "rangeRight": {
              "type": "string"
            },
            "from": {
              "description": "A postion of start point",
              "type": "object",
              "properties": {
                "lon": {
                  "description": "longitude of start point",
                  "type": "number",
                  "format": "double"
                },
                "lat": {
                  "description": "latitude of start point",
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "to": {
              "description": "A postion of destination",
              "type": "object",
              "properties": {
                "lon": {
                  "description": "longitude of destination",
                  "type": "number",
                  "format": "double"
                },
                "lat": {
                  "description": "latitude of destination",
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      }
    },
    "SearchGeometryResult": {
      "description": "This object is returned from a successful Search By Geometry call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchGeometryResultArray"
          }
        }
      }
    },
    "SearchGeometryResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        }
      }
    },
    "SearchAlongRouteResult": {
      "description": "This object is returned from a successful Search Along Route call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SearchAlongRouteResultArray"
          }
        }
      }
    },
    "SearchAlongRouteResultArray": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type property",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Score property",
          "type": "number",
          "readOnly": true
        },
        "info": {
          "description": "Info property",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Entity Type property",
          "type": "string",
          "readOnly": true
        },
        "poi": {
          "$ref": "#/definitions/Poi"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "viewport": {
          "$ref": "#/definitions/Viewport"
        },
        "entryPoints": {
          "$ref": "#/definitions/EntryPoints"
        },
        "dist": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "detourTime": {
          "type": "number",
          "readOnly": true
        }
      }
    },
    "RouteDirectionsResult": {
      "description": "This object is returned from a successful Route Directions call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "Copyright property",
          "type": "string",
          "readOnly": true
        },
        "privacy": {
          "description": "Privacy property",
          "type": "string",
          "readOnly": true
        },
        "routes": {
          "description": "Routes array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RouteDef"
          }
        }
      }
    },
    "RouteDef": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lengthInMeters": {
              "description": "Length In Meters property",
              "type": "integer",
              "readOnly": true
            },
            "travelTimeInSeconds": {
              "description": "Travel Time In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "trafficDelayInSeconds": {
              "description": "Traffic Delay In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "departureTime": {
              "description": "Departure Time property",
              "type": "string",
              "readOnly": true
            },
            "arrivalTime": {
              "description": "Arrival Time property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "legs": {
          "description": "Legs array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Leg"
          }
        },
        "sections": {
          "description": "Sections object",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Section"
          }
        }
      }
    },
    "Leg": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "lengthInMeters": {
              "description": "Length In Meters property",
              "type": "integer",
              "readOnly": true
            },
            "travelTimeInSeconds": {
              "description": "Travel Time In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "trafficDelayInSeconds": {
              "description": "Traffic Delay In Seconds property",
              "type": "integer",
              "readOnly": true
            },
            "departureTime": {
              "description": "Departure Time property",
              "type": "string",
              "readOnly": true
            },
            "arrivalTime": {
              "description": "Arrival Time property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "points": {
          "description": "Points array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "latitude": {
                "description": "Latitude property",
                "type": "number",
                "readOnly": true
              },
              "longitude": {
                "description": "Longitude property",
                "type": "number",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "Section": {
      "type": "object",
      "properties": {
        "startPointIndex": {
          "description": "Start Point Index property",
          "type": "integer",
          "readOnly": true
        },
        "endPointIndex": {
          "description": "End Point Index property",
          "type": "integer",
          "readOnly": true
        },
        "sectionType": {
          "description": "Section Type property",
          "type": "string",
          "readOnly": true
        },
        "travelMode": {
          "description": "Travel Mode property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimezoneByIdResult": {
      "description": "This object is returned from a successful Timezone By ID call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "timeZones": {
          "$ref": "#/definitions/TimeZones"
        },
        "count": {
          "description": "Count property",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "TimezoneByCoordinatesResult": {
      "description": "This object is returned from a successful Timezone By Coordinates call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "timeZones": {
          "$ref": "#/definitions/TimeZones"
        },
        "count": {
          "description": "Count property",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "TimezoneEnumWindowsResult": {
      "description": "This object is returned from a successful Timezone Enum Windows call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/TimezoneEnumWindow"
      }
    },
    "TimezoneEnumWindow": {
      "type": "object",
      "properties": {
        "WindowsId": {
          "description": "Windows Id property",
          "type": "string",
          "readOnly": true
        },
        "Territory": {
          "description": "Territory property",
          "type": "string",
          "readOnly": true
        },
        "IanaIds": {
          "description": "IanaIds array",
          "type": "array",
          "items": {
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "TimezoneEnumIanaResult": {
      "description": "This object is returned from a successful Timezone Enum IANA call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/IanaId"
      }
    },
    "TimezoneIanaVersionResult": {
      "description": "This object is returned from a successful Timezone IANA Version call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimezoneWindowToIanaResult": {
      "description": "This object is returned from a successful Timezone Windows To IANA call",
      "type": "array",
      "items": {
        "$ref": "#/definitions/IanaId"
      }
    },
    "IanaId": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "isAlias": {
          "description": "IsAlias property",
          "type": "boolean",
          "readOnly": true
        },
        "aliasOf": {
          "description": "AliasOf property",
          "type": "string",
          "readOnly": true
        },
        "hasZone1970Location": {
          "description": "HasZone1970Location property",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "TimeZones": {
      "description": "TimeZones array",
      "type": "array",
      "readOnly": true,
      "items": {
        "$ref": "#/definitions/Timezone"
      }
    },
    "Timezone": {
      "type": "object",
      "properties": {
        "Id": {
          "description": "Id property",
          "type": "string",
          "readOnly": true
        },
        "Aliases": {
          "description": "Aliases array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "Countries": {
          "description": "Countries array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Country"
          }
        },
        "Names": {
          "type": "object",
          "properties": {
            "ISO6391LanguageCode": {
              "description": "The ISO 639-1 language code of the Names",
              "type": "string",
              "readOnly": true
            },
            "Generic": {
              "description": "Generic Name",
              "type": "string",
              "readOnly": true
            },
            "Standard": {
              "description": "Standard Name",
              "type": "string",
              "readOnly": true
            },
            "Daylight": {
              "description": "Daylight Name",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "ReferenceTime": {
          "description": "Reference Time object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "Tag": {
              "description": "Tag property",
              "type": "string",
              "readOnly": true
            },
            "StandardOffset": {
              "description": "Standard Offset property",
              "type": "string",
              "readOnly": true
            },
            "DaylightSavings": {
              "description": "Daylight Savings property",
              "type": "string",
              "readOnly": true
            },
            "WallTime": {
              "description": "Wall Time property",
              "type": "string",
              "readOnly": true
            },
            "PosixTimezoneValidYear": {
              "description": "Posix Timezone Valid Year property",
              "type": "integer",
              "readOnly": true
            },
            "PosixTimezone": {
              "description": "Posix timezone property",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "RepresentativePoint": {
          "description": "Representative point property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "Latitude": {
              "description": "Latitude property",
              "type": "number",
              "readOnly": true
            },
            "Longitude": {
              "description": "Longitude property",
              "type": "number",
              "readOnly": true
            }
          }
        },
        "TimeTransitions": {
          "description": "TimeTransitions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TimeTransition"
          }
        }
      }
    },
    "Country": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Country Name",
          "type": "string",
          "readOnly": true
        },
        "Code": {
          "description": "Country Code",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimeTransition": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "Tag": {
          "description": "Tag property",
          "type": "string",
          "readOnly": true
        },
        "StandardOffset": {
          "description": "StandardOffset property",
          "type": "string",
          "readOnly": true
        },
        "DaylightSavings": {
          "description": "DaylightSavings property",
          "type": "string",
          "readOnly": true
        },
        "UtcStart": {
          "description": "UtcStart property",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "UtcEnd": {
[...]
