{
  "swagger": "2.0",
  "info": {
    "version": "2018-01-01",
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "PublicIPAddressSku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of a public IP address SKU.",
          "enum": [
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "PublicIPAddressSkuName",
            "modelAsString": false
          }
        }
      },
      "description": "SKU of a public IP address"
    },
    "PublicIPAddressPropertiesFormat": {
      "properties": {
        "publicIPAllocationMethod": {
          "type": "string",
          "description": "The public IP allocation method. Possible values are: 'Static' and 'Dynamic'.",
          "enum": [
            "Static",
            "Dynamic"
          ],
          "x-ms-enum": {
            "name": "IPAllocationMethod",
            "modelAsString": false
          }
        },
        "publicIPAddressVersion": {
          "type": "string",
          "description": "The public IP address version. Possible values are: 'IPv4' and 'IPv6'.",
          "enum": [
            "IPv4",
            "IPv6"
          ],
          "x-ms-enum": {
            "name": "IPVersion",
            "modelAsString": false
          }
        },
        "ipConfiguration": {
          "readOnly": true,
          "$ref": "#/definitions/SubResource",
          "description": "The IP configuration associated with the public IP address."
        },
        "dnsSettings": {
          "$ref": "#/definitions/PublicIPAddressDnsSettings",
          "description": "The FQDN of the DNS record associated with the public IP address."
        },
        "ipTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpTag"
          },
          "description": "The list of tags associated with the public IP address."
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address associated with the public IP address resource."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The idle timeout of the public IP address."
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the public IP resource."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the PublicIP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        }
      },
      "description": "Public IP address properties.",
      "required": [
        "publicIPAllocationMethod"
      ]
    },
    "PublicIPAddress": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/PublicIPAddressSku",
          "description": "The public IP address SKU."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PublicIPAddressPropertiesFormat",
          "description": "Public IP address properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of availability zones denoting the IP allocated for the resource needs to come from."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Public IP address resource."
    },
    "PublicIPAddressListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PublicIPAddress"
          },
          "description": "A list of public IP addresses that exists in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListPublicIpAddresses API service call."
    },
    "PublicIPAddressDnsSettings": {
      "properties": {
        "domainNameLabel": {
          "type": "string",
          "description": "Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system."
        },
        "fqdn": {
          "type": "string",
          "description": "Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone."
        },
        "reverseFqdn": {
          "type": "string",
          "description": "Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. "
        }
      },
      "description": "Contains FQDN of the DNS record associated with the public IP address",
      "required": [
        "domainNameLabel"
      ]
    },
    "IpTag": {
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "Gets or sets the ipTag type: Example FirstPartyUsage."
        },
        "tag": {
          "type": "string",
          "description": "Gets or sets value of the IpTag associated with the public IP. Example SQL, Storage etc"
        }
      },
      "description": "Contains the IpTag associated with the public IP address"
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Common resource representation.",
      "x-ms-azure-resource": true,
      "required": [
        "location"
      ]
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another subresource.",
      "x-ms-azure-resource": true,
      "required": [
        "id"
      ]
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  },
  "x-internal-service-name": "Virtual Networks",
  "x-internal-toc-name": "Public IP Addresses",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "PublicIPAddresses/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "PublicIPAddresses/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "PublicIPAddresses/Get"
    },
    {
      "displayName": "List",
      "relativePath": "PublicIPAddresses/List"
    },
    {
      "displayName": "List All",
      "relativePath": "PublicIPAddresses/ListAll"
    },
    {
      "displayName": "Update Tags",
      "relativePath": "PublicIPAddresses/UpdateTags"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}