{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01",
    "title": "SubscriptionsManagementClient",
    "description": "The Admin Subscriptions Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}": {
      "get": {
        "x-ms-examples": {
          "Get the specified location.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "api-version": "2015-11-01"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local",
                  "name": "local",
                  "displayName": "local",
                  "latitude": "",
                  "longitude": ""
                }
              }
            }
          }
        },
        "description": "Get the specified location.",
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "Location": {
      "description": "Contains information about a geographical location where resource providers can be deployed.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the location.",
          "type": "string"
        },
        "id": {
          "description": "Location identifier.",
          "type": "string"
        },
        "latitude": {
          "description": "Latitude of the location.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location.",
          "type": "string"
        },
        "name": {
          "description": "Location name.",
          "type": "string"
        }
      }
    },
    "LocationList": {
      "description": "List of locations.",
      "properties": {
        "value": {
          "description": "List of locations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    },
    "OperationsStatus": {
      "description": "A long running operation status.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The operation status identifier.",
          "$ref": "#/definitions/OperationsStatusIdentifier"
        },
        "status": {
          "description": "The status of the operation.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "percentComplete": {
          "description": "The completion percentage of the operation.",
          "type": "number"
        },
        "properties": {
          "description": "The internal operation properties.",
          "type": "object"
        },
        "error": {
          "description": "The operation error.",
          "$ref": "#/definitions/ExtendedErrorInfo"
        },
        "retryAfter": {
          "description": "The amount of time clients should wait..",
          "type": "string"
        },
        "terminalHttpStatusCode": {
          "description": "The terminal http status code for the operation.",
          "type": "string"
        },
        "responseContent": {
          "description": "The content of the response.",
          "type": "object"
        }
      }
    },
    "OperationsStatusIdentifier": {
      "description": "The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus resource type.",
      "properties": {
        "location": {
          "description": "The location of the operations status.",
          "type": "string"
        },
        "name": {
          "description": "The name of the operations status.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "The subscription identifier..",
          "type": "string"
        }
      }
    },
    "ExtendedErrorInfo": {
      "description": "The extended error information.",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string"
        },
        "message": {
          "description": "The error message.",
          "type": "string"
        },
        "details": {
          "description": "The detailed error message details.",
          "$ref": "#/definitions/ExtendedErrorInfoList"
        }
      }
    },
    "ExtendedErrorInfoList": {
      "description": "List of the extended error information.",
      "properties": {
        "value": {
          "description": "List of the extended error information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtendedErrorInfo"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "NewLocationParameter": {
      "description": "The new location",
      "name": "newLocation",
      "required": true,
      "in": "body",
      "schema": {
        "$ref": "#/definitions/Location"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2015-11-01"
    },
    "OperationsStatusParameter": {
      "description": "The operation status name.",
      "name": "operationsStatusName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "description": "The AzureStack location.",
      "name": "location",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Locations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}