{
  "swagger": "2.0",
  "info": {
    "version": "2017-11-15",
    "title": "TimeSeriesInsightsClient",
    "description": "Time Series Insights client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.TimeSeriesInsights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available Time Series Insights related operations.",
        "x-ms-examples": {
          "List available operations for the Time Series Insights resource provider": {
            "parameters": {
              "api-version": "2016-03-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/Start/action",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job",
                        "operation": "Start Stream Analytics Job",
                        "description": "Start Stream Analytics Job"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/Stop/action",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job",
                        "operation": "Stop Stream Analytics Job",
                        "description": "Stop Stream Analytics Job"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/Read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job",
                        "operation": "Read Stream Analytics Job",
                        "description": "Read Stream Analytics Job"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/Write",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job",
                        "operation": "Write Stream Analytics Job",
                        "description": "Write Stream Analytics Job"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/Delete",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job",
                        "operation": "Delete Stream Analytics Job",
                        "description": "Delete Stream Analytics Job"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/inputs/Read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Input",
                        "operation": "Read Stream Analytics Job Input",
                        "description": "Read Stream Analytics Job Input"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/inputs/Write",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Input",
                        "operation": "Write Stream Analytics Job Input",
                        "description": "Write Stream Analytics Job Input"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/inputs/Delete",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Input",
                        "operation": "Delete Stream Analytics Job Input",
                        "description": "Delete Stream Analytics Job Input"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/outputs/Read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Output",
                        "operation": "Read Stream Analytics Job Output",
                        "description": "Read Stream Analytics Job Output"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/outputs/Write",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Output",
                        "operation": "Write Stream Analytics Job Output",
                        "description": "Write Stream Analytics Job Output"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/outputs/Delete",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Output",
                        "operation": "Delete Stream Analytics Job Output",
                        "description": "Delete Stream Analytics Job Output"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/transformations/Read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Transformation",
                        "operation": "Read Stream Analytics Job Transformation",
                        "description": "Read Stream Analytics Job Transformation"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/transformations/Write",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Transformation",
                        "operation": "Write Stream Analytics Job Transformation",
                        "description": "Write Stream Analytics Job Transformation"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/transformations/Delete",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "Stream Analytics Job Transformation",
                        "operation": "Delete Stream Analytics Job Transformation",
                        "description": "Delete Stream Analytics Job Transformation"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/metricDefinitions/read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "The metric definition of streamingjobs",
                        "operation": "Read streamingjobs metric definitions",
                        "description": "Gets the available metrics for streamingjobs"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/logDefinitions/read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "The log definition of streamingjobs",
                        "operation": "Read streamingjobs log definitions",
                        "description": "Gets the available logs for streamingjobs"
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/diagnosticSettings/read",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "streamingjobs",
                        "operation": "Read diagnostic setting.",
                        "description": "Read diagnostic setting."
                      }
                    },
                    {
                      "name": "Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/diagnosticSettings/write",
                      "display": {
                        "provider": "Microsoft Azure Stream Analytics",
                        "resource": "streamingjobs",
                        "operation": "Write diagnostic setting.",
                        "description": "Write diagnostic setting."
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed the available operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Time Series Insights operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of Time Series Insights operations supported by the Microsoft.TimeSeriesInsights resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A Time Series Insights REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation being performed on this particular object.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "Contains the localized display information for this particular operation / action.",
          "readOnly": true,
          "properties": {
            "provider": {
              "description": "The localized friendly form of the resource provider name.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "The localized friendly form of the resource type related to this action/operation.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "The localized friendly name for the operation.",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "The localized friendly description for the operation.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        }
      },
      "description": "Time Series Insights resource",
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "location"
      ],
      "description": "Time Series Insights resource that is tracked by Azure Resource Manager."
    },
    "ResourceProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Provisioning state of the resource.",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Succeeded",
            "Failed",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          }
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the resource was created."
        }
      },
      "description": "Properties that are common to all tracked resources."
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this SKU.",
          "enum": [
            "S1",
            "S2"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": false
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "The capacity of the sku. This value can be changed to support scale out of environments after they have been created.",
          "minimum": 1,
          "maximum": 10
        }
      },
      "required": [
        "name",
        "capacity"
      ],
      "description": "The sku determines the capacity of the environment, the SLA (in queries-per-minute and total capacity), and the billing rate."
    },
    "CreateOrUpdateTrackedResourceProperties": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional properties for the resource."
        }
      },
      "required": [
        "location"
      ],
      "description": "Properties required to create any resource tracked by Azure Resource Manager."
    },
    "EnvironmentCreateOrUpdateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnvironmentCreationProperties"
        }
      },
      "required": [
        "sku",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CreateOrUpdateTrackedResourceProperties"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate Environment operation."
    },
    "EnvironmentUpdateParameters": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the environment."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional properties for the environment."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnvironmentMutableProperties",
          "description": "Properties of the environment."
        }
      },
      "description": "Parameters supplied to the Update Environment operation."
    },
    "EnvironmentListResponse": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentResource"
          },
          "description": "Result of the List Environments operation."
        }
      },
      "description": "The response of the List Environments operation."
    },
    "EnvironmentResource": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnvironmentResourceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "An environment is a set of time-series data avaliable for query, and is the top level Azure Time Series Insights resource."
    },
    "EnvironmentCreationProperties": {
      "properties": {
        "dataRetentionTime": {
          "type": "string",
          "format": "duration",
          "description": "ISO8601 timespan specifying the minimum number of days the environment's events will be available for query."
        },
        "storageLimitExceededBehavior": {
          "type": "string",
          "description": "The behavior the Time Series Insights service should take when the environment's capacity has been exceeded. If \"PauseIngress\" is specified, new events will not be read from the event source. If \"PurgeOldData\" is specified, new events will continue to be read and old events will be deleted from the environment. The default behavior is PurgeOldData.",
          "enum": [
            "PurgeOldData",
            "PauseIngress"
          ],
          "x-ms-enum": {
            "name": "StorageLimitExceededBehavior",
            "modelAsString": false
          }
        }
      },
      "required": [
        "dataRetentionTime"
      ],
      "description": "Properties used to create an environment."
    },
    "EnvironmentResourceProperties": {
      "properties": {
        "dataAccessId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "An id used to access the environment data, e.g. to query the environment's events or upload reference data for the environment."
        },
        "dataAccessFqdn": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified domain name used to access the environment data, e.g. to query the environment's events or upload reference data for the environment."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EnvironmentCreationProperties"
        },
        {
          "$ref": "#/definitions/ResourceProperties"
        }
      ],
      "required": [
        "dataRetentionTime"
      ],
      "description": "Properties of the environment."
    },
    "EnvironmentMutableProperties": {
      "description": "An object that represents a set of mutable environment resource properties.",
      "type": "object",
      "properties": {
        "dataRetentionTime": {
          "type": "string",
          "format": "duration",
          "description": "ISO8601 timespan specifying the minimum number of days the environment's events will be available for query."
        },
        "storageLimitExceededBehavior": {
          "type": "string",
          "description": "The behavior the Time Series Insights service should take when the environment's capacity has been exceeded. If \"PauseIngress\" is specified, new events will not be read from the event source. If \"PurgeOldData\" is specified, new events will continue to be read and old events will be deleted from the environment. The default behavior is PurgeOldData.",
          "enum": [
            "PurgeOldData",
            "PauseIngress"
          ],
          "x-ms-enum": {
            "name": "StorageLimitExceededBehavior",
            "modelAsString": false
          }
        }
      }
    },
    "EventSourceCreateOrUpdateParameters": {
      "discriminator": "kind",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of the event source.",
          "enum": [
            "Microsoft.EventHub",
            "Microsoft.IoTHub"
          ],
          "x-ms-enum": {
            "name": "Kind",
            "modelAsString": false
          }
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CreateOrUpdateTrackedResourceProperties"
        }
      ],
      "description": "Parameters supplied to the Create or Update Event Source operation."
    },
    "EventHubEventSourceCreateOrUpdateParameters": {
      "x-ms-discriminator-value": "Microsoft.EventHub",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EventHubEventSourceCreationProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceCreateOrUpdateParameters"
        }
      ],
      "description": "Parameters supplied to the Create or Update Event Source operation for an EventHub event source."
    },
    "IoTHubEventSourceCreateOrUpdateParameters": {
      "x-ms-discriminator-value": "Microsoft.IoTHub",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/IoTHubEventSourceCreationProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceCreateOrUpdateParameters"
        }
      ],
      "description": "Parameters supplied to the Create or Update Event Source operation for an IoTHub event source."
    },
    "EventSourceUpdateParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional properties for the event source."
        }
      },
      "description": "Parameters supplied to the Update Event Source operation."
    },
    "EventHubEventSourceUpdateParameters": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EventHubEventSourceMutableProperties",
          "description": "Properties of the EventHub event source."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceUpdateParameters"
        }
      ],
      "description": "Parameters supplied to the Update Event Source operation to update an EventHub event source."
    },
    "IoTHubEventSourceUpdateParameters": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/IoTHubEventSourceMutableProperties",
          "description": "Properties of the IoTHub event source."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceUpdateParameters"
        }
      ],
      "description": "Parameters supplied to the Update Event Source operation to update an IoTHub event source."
    },
    "EventSourceListResponse": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventSourceResource"
          },
          "description": "Result of the List EventSources operation."
        }
      },
      "description": "The response of the List EventSources operation."
    },
    "EventSourceResource": {
      "type": "object",
      "discriminator": "kind",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of the event source.",
          "enum": [
            "Microsoft.EventHub",
            "Microsoft.IoTHub"
          ]
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "An environment receives data from one or more event sources. Each event source has associated connection info that allows the Time Series Insights ingress pipeline to connect to and pull data from the event source"
    },
    "EventHubEventSourceResource": {
      "x-ms-discriminator-value": "Microsoft.EventHub",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EventHubEventSourceResourceProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceResource"
        }
      ],
      "description": "An event source that receives its data from an Azure EventHub."
    },
    "IoTHubEventSourceResource": {
      "x-ms-discriminator-value": "Microsoft.IotHub",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/IoTHubEventSourceResourceProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceResource"
        }
      ],
      "description": "An event source that receives its data from an Azure IoTHub."
    },
    "EventSourceCommonProperties": {
      "properties": {
        "timestampPropertyName": {
          "type": "string",
          "description": "The event property that will be used as the event source's timestamp. If a value isn't specified for timestampPropertyName, or if null or empty-string is specified, the event creation time will be used."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceProperties"
        }
      ],
      "description": "Properties of the event source."
    },
    "AzureEventSourceProperties": {
      "properties": {
        "eventSourceResourceId": {
          "type": "string",
          "description": "The resource id of the event source in Azure Resource Manager."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceCommonProperties"
        }
      ],
      "required": [
        "eventSourceResourceId"
      ],
      "description": "Properties of an event source that reads events from an event broker in Azure."
    },
    "EventHubEventSourceCommonProperties": {
      "properties": {
        "serviceBusNamespace": {
          "type": "string",
          "description": "The name of the service bus that contains the event hub."
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the event hub."
        },
        "consumerGroupName": {
          "type": "string",
          "description": "The name of the event hub's consumer group that holds the partitions from which events will be read."
        },
        "keyName": {
          "type": "string",
          "description": "The name of the SAS key that grants the Time Series Insights service access to the event hub. The shared access policies for this key must grant 'Listen' permissions to the event hub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureEventSourceProperties"
        }
      ],
      "required": [
        "serviceBusNamespace",
        "eventHubName",
        "consumerGroupName",
        "keyName"
      ],
      "description": "Properties of the EventHub event source."
    },
    "EventHubEventSourceCreationProperties": {
      "properties": {
        "sharedAccessKey": {
          "type": "string",
          "description": "The value of the shared access key that grants the Time Series Insights service read access to the event hub. This property is not shown in event source responses."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventHubEventSourceCommonProperties"
        }
      ],
      "required": [
        "sharedAccessKey"
      ],
      "description": "Properties of the EventHub event source that are required on create or update requests."
    },
    "EventHubEventSourceResourceProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EventHubEventSourceCommonProperties"
        }
      ],
      "description": "Properties of the EventHub event source resource."
    },
    "IoTHubEventSourceCommonProperties": {
      "properties": {
        "iotHubName": {
          "type": "string",
          "description": "The name of the iot hub."
        },
        "consumerGroupName": {
          "type": "string",
          "description": "The name of the iot hub's consumer group that holds the partitions from which events will be read."
        },
        "keyName": {
          "type": "string",
          "description": "The name of the Shared Access Policy key that grants the Time Series Insights service access to the iot hub. This shared access policy key must grant 'service connect' permissions to the iot hub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureEventSourceProperties"
        }
      ],
      "required": [
        "iotHubName",
        "consumerGroupName",
        "keyName"
      ],
      "description": "Properties of the IoTHub event source."
    },
    "IoTHubEventSourceCreationProperties": {
      "properties": {
        "sharedAccessKey": {
          "type": "string",
          "description": "The value of the Shared Access Policy key that grants the Time Series Insights service read access to the iot hub. This property is not shown in event source responses."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/IoTHubEventSourceCommonProperties"
        }
      ],
      "required": [
        "sharedAccessKey"
      ],
      "description": "Properties of the IoTHub event source that are required on create or update requests."
    },
    "IoTHubEventSourceResourceProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/IoTHubEventSourceCommonProperties"
        }
      ],
      "description": "Properties of the IoTHub event source resource."
    },
    "LocalTimestamp": {
      "description": "An object that represents the local timestamp property. It contains the format of local timestamp that needs to be used and the corresponding timezone offset information. If a value isn't specified for localTimestamp, or if null, then the local timestamp will not be ingressed with the events.",
      "type": "object",
      "properties": {
        "format": {
          "description": "An enum that represents the format of the local timestamp property that needs to be set.",
          "type": "string",
          "enum": [
            "Embedded",
            "Iana",
            "TimeSpan"
          ],
          "x-ms-enum": {
            "name": "LocalTimestampFormat",
            "modelAsString": false
          }
        },
        "timeZoneOffset": {
          "description": "An object that represents the offset information for the local timestamp format specified. Should not be specified for LocalTimestampFormat - Embedded.",
          "type": "object",
          "properties": {
            "propertyName": {
              "type": "string",
              "description": "The event property that will be contain the offset information to calculate the local timestamp. When the LocalTimestampFormat is Iana, the property name will contain the name of the column which contains IANA Timezone Name (eg: Americas/Los Angeles). When LocalTimestampFormat is Timespan, it contains the name of property which contains values representing the offset (eg: P1D or 1.00:00:00)"
            }
          }
        }
      }
    },
    "EventSourceMutableProperties": {
      "description": "An object that represents a set of mutable event source resource properties.",
      "type": "object",
      "properties": {
        "timestampPropertyName": {
          "type": "string",
          "description": "The event property that will be used as the event source's timestamp. If a value isn't specified for timestampPropertyName, or if null or empty-string is specified, the event creation time will be used."
        },
        "localTimestamp": {
          "$ref": "#/definitions/LocalTimestamp"
        }
      }
    },
    "EventHubEventSourceMutableProperties": {
      "description": "An object that represents a set of mutable EventHub event source resource properties.",
      "type": "object",
      "properties": {
        "sharedAccessKey": {
          "type": "string",
          "description": "The value of the shared access key that grants the Time Series Insights service read access to the event hub. This property is not shown in event source responses."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceMutableProperties"
        }
      ]
    },
    "IoTHubEventSourceMutableProperties": {
      "description": "An object that represents a set of mutable IoTHub event source resource properties.",
      "type": "object",
      "properties": {
        "sharedAccessKey": {
          "type": "string",
          "description": "The value of the shared access key that grants the Time Series Insights service read access to the iot hub. This property is not shown in event source responses."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EventSourceMutableProperties"
        }
      ]
    },
    "ReferenceDataSetCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReferenceDataSetCreationProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CreateOrUpdateTrackedResourceProperties"
        }
      ]
    },
    "ReferenceDataSetUpdateParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional properties for the reference data set."
        }
      },
      "description": "Parameters supplied to the Update Reference Data Set operation."
    },
    "ReferenceDataSetListResponse": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReferenceDataSetResource"
          },
          "description": "Result of the List Reference Data Sets operation."
        }
      },
      "description": "The response of the List Reference Data Sets operation."
    },
    "ReferenceDataSetResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReferenceDataSetResourceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "A reference data set provides metadata about the events in an environment. Metadata in the reference data set will be joined with events as they are read from event sources. The metadata that makes up the reference data set is uploaded or modified through the Time Series Insights data plane APIs."
    },
    "ReferenceDataSetCreationProperties": {
      "properties": {
        "keyProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReferenceDataSetKeyProperty"
          },
          "description": "The list of key properties for the reference data set."
        }
      },
      "required": [
        "keyProperties"
      ],
      "description": "Properties used to create a reference data set."
    },
    "ReferenceDataSetResourceProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/ReferenceDataSetCreationProperties"
        },
        {
          "$ref": "#/definitions/ResourceProperties"
        }
      ],
      "required": [
        "keyProperties"
      ],
      "description": "Properties of the reference data set."
    },
    "ReferenceDataSetKeyProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the key property."
        },
        "type": {
          "type": "string",
          "description": "The type of the key property.",
          "enum": [
            "String",
            "Double",
            "Bool",
            "DateTime"
          ],
          "x-ms-enum": {
            "name": "ReferenceDataKeyPropertyType",
            "modelAsString": false
          }
        }
      },
      "description": "A key property for the reference data set. A reference data set can have multiple key properties."
    },
    "AccessPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccessPolicyResourceProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "AccessPolicyUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccessPolicyMutableProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "AccessPolicyListResponse": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessPolicyResource"
          },
          "description": "Result of the List access policies operation."
        }
      },
      "description": "The response of the List access policies operation."
    },
    "AccessPolicyResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccessPolicyResourceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "An access policy is used to grant users and applications access to the environment. Roles are assigned to service principals in Azure Active Directory. These roles define the actions the principal can perform through the Time Series Insights data plane APIs."
    },
    "AccessPolicyResourceProperties": {
      "properties": {
        "principalObjectId": {
          "type": "string",
          "description": "The objectId of the principal in Azure Active Directory."
        },
        "description": {
          "type": "string",
          "description": "An description of the access policy."
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A role defining the data plane operations that a principal can perform on a Time Series Insights client.",
            "enum": [
              "Reader",
              "Contributor"
            ],
            "x-ms-enum": {
              "name": "AccessPolicyRole",
              "modelAsString": false
            }
          },
          "description": "The list of roles the principal is assigned on the environment."
        }
      }
    },
    "AccessPolicyMutableProperties": {
      "description": "An object that represents a set of mutable access policy resource properties.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "An description of the access policy."
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A role defining the data plane operations that a principal can perform on a Time Series Insights client.",
            "enum": [
              "Reader",
              "Contributor"
            ],
            "x-ms-enum": {
              "name": "AccessPolicyRole",
              "modelAsString": false
            }
          },
          "description": "The list of roles the principal is assigned on the environment."
        }
      }
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "Contains information about an API error.",
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "Describes a particular API error with an error code and a message.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that describes the error condition more precisely than an HTTP status code. Can be used to programatically handle specific error cases."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error in detail and provides debugging information."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "Contains nested errors that are related to this error."
        }
      },
      "x-ms-external": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    },
    "EnvironmentNameParameter": {
      "name": "environmentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Time Series Insights environment associated with the specified resource group.",
      "x-ms-parameter-location": "method"
    },
    "EventSourceNameParameter": {
      "name": "eventSourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Time Series Insights event source associated with the specified environment.",
      "x-ms-parameter-location": "method"
    },
    "ReferenceDataSetNameParameter": {
      "name": "referenceDataSetName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Time Series Insights reference data set associated with the specified environment.",
      "x-ms-parameter-location": "method"
    },
    "AccessPolicyNameParameter": {
      "name": "accessPolicyName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Time Series Insights access policy associated with the specified environment.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Time Series Insights Management",
  "x-internal-toc-name": "Operations",
  "x-internal-split-type": "Operation"
}