{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "termsOfService": "https://dev.loganalytics.io/tos",
    "contact": {
      "name": "AIAPI Team",
      "url": "https://dev.loganalytics.io/support",
      "email": "aiapi@microsoft.com"
    },
    "license": {
      "name": "Microsoft",
      "url": "https://dev.loganalytics.io/license"
    },
    "title": "Azure Log Analytics",
    "description": "This API exposes Azure Log Analytics query capabilities"
  },
  "host": "api.loganalytics.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/workspaces/{workspaceId}/query": {
      "get": {
        "operationId": "Query_Get",
        "summary": "Execute an Analytics query",
        "description": "Executes an Analytics query for data",
        "x-ms-examples": {
          "simple-query": {
            "title": "Simple Query",
            "description": "A simple query that returns query results.",
            "parameters": {
              "workspaceId": "63613592-b6f7-4c3d-a390-22ba13102111",
              "query": "Usage | take 10",
              "timespan": "PT12H"
            },
            "responses": {
              "200": {
                "headers": {
                  "x-ms-request-id": "58a37988-2c05-427a-891f-5e0e1266fcc5",
                  "x-ms-correlation-request-id": "58a37988-2c05-427a-891f-5e0e1266fcc5"
                },
                "body": {
                  "tables": [
                    {
                      "name": "PrimaryResult",
                      "columns": [
                        {
                          "name": "TenantId",
                          "type": "string"
                        },
                        {
                          "name": "Computer",
                          "type": "string"
                        },
                        {
                          "name": "TimeGenerated",
                          "type": "datetime"
                        },
                        {
                          "name": "SourceSystem",
                          "type": "string"
                        },
                        {
                          "name": "StartTime",
                          "type": "datetime"
                        },
                        {
                          "name": "EndTime",
                          "type": "datetime"
                        },
                        {
                          "name": "ResourceUri",
                          "type": "string"
                        },
                        {
                          "name": "LinkedResourceUri",
                          "type": "string"
                        },
                        {
                          "name": "DataType",
                          "type": "string"
                        },
                        {
                          "name": "Solution",
                          "type": "string"
                        },
                        {
                          "name": "BatchesWithinSla",
                          "type": "long"
                        },
                        {
                          "name": "BatchesOutsideSla",
                          "type": "long"
                        },
                        {
                          "name": "BatchesCapped",
                          "type": "long"
                        },
                        {
                          "name": "TotalBatches",
                          "type": "long"
                        },
                        {
                          "name": "AvgLatencyInSeconds",
                          "type": "real"
                        },
                        {
                          "name": "Quantity",
                          "type": "real"
                        },
                        {
                          "name": "QuantityUnit",
                          "type": "string"
                        },
                        {
                          "name": "IsBillable",
                          "type": "bool"
                        },
                        {
                          "name": "MeterId",
                          "type": "string"
                        },
                        {
                          "name": "LinkedMeterId",
                          "type": "string"
                        },
                        {
                          "name": "Type",
                          "type": "string"
                        }
                      ],
                      "rows": [
                        [
                          "b438b4f6-912a-46d5-9cb1-b44069212abc",
                          "ContosoSQLSrv1",
                          "2017-08-24T06:59:59Z",
                          "OMS",
                          "2017-08-24T06:00:00Z",
                          "2017-08-24T06:59:59Z",
                          "/subscriptions/e4272367-5645-4c4e-9c67-3b74b59a6982/resourcegroups/contosoazurehq/providers/microsoft.operationalinsights/workspaces/contosoretail-it",
                          null,
                          "Perf",
                          "LogManagement",
                          "1",
                          "0",
                          "0",
                          "1",
                          "1.286",
                          "0.076408",
                          "MBytes",
                          "true",
                          "a4e29a95-5b4c-408b-80e3-113f9410566e",
                          "00000000-0000-0000-0000-000000000000",
                          "Usage"
                        ],
                        [
                          "b438b4f6-912a-46d5-9cb1-b44069212abc",
                          "Store010Web3",
                          "2017-08-24T06:59:59Z",
                          "OMS",
                          "2017-08-24T06:00:00Z",
                          "2017-08-24T06:59:59Z",
                          "/subscriptions/e4272367-5645-4c4e-9c67-3b74b59a6982/resourcegroups/contosoazurehq/providers/microsoft.operationalinsights/workspaces/contosoretail-it",
                          null,
                          "Perf",
                          "LogManagement",
                          "1",
                          "0",
                          "0",
                          "1",
                          "1.7",
                          "0.106767",
                          "MBytes",
                          "true",
                          "a4e29a95-5b4c-408b-80e3-113f9410566e",
                          "00000000-0000-0000-0000-000000000000",
                          "Usage"
                        ]
                      ]
                    }
                  ]
                }
              }
            }
          },
          "cross-workspace": {
            "title": "Cross Workspace Query",
            "description": "A cross workspace query that the type and count of each row per workspace.",
            "parameters": {
              "workspaceId": "63613592-b6f7-4c3d-a390-22ba13102111",
              "query": "union * | where TimeGenerated > ago(1h) | summarize count() by Type, TenantId",
              "workspaces": "draft-test,draft-test-2"
            },
            "responses": {
              "200": {
                "body": {
                  "tables": [
                    {
                      "name": "PrimaryResult",
                      "columns": [
                        {
                          "name": "Type",
                          "type": "string"
                        },
                        {
                          "name": "TenantId",
                          "type": "string"
                        },
                        {
                          "name": "count_",
                          "type": "long"
                        }
                      ],
                      "rows": [
                        [
                          "Usage",
                          "63613592-b6f7-4c3d-a390-22ba13102111",
                          "1"
                        ],
                        [
                          "Usage",
                          "d436f322-a9f4-4aad-9a7d-271fbf66001c",
                          "1"
                        ],
                        [
                          "BillingFact",
                          "63613592-b6f7-4c3d-a390-22ba13102111",
                          "1"
                        ],
                        [
                          "BillingFact",
                          "d436f322-a9f4-4aad-9a7d-271fbf66001c",
                          "1"
                        ],
                        [
                          "Operation",
                          "63613592-b6f7-4c3d-a390-22ba13102111",
                          "7"
                        ],
                        [
                          "Operation",
                          "d436f322-a9f4-4aad-9a7d-271fbf66001c",
                          "5"
                        ]
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/workspaceId"
          },
          {
            "$ref": "#/parameters/queryParam"
          },
          {
            "$ref": "#/parameters/timespanParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API call succeeded and the Analytics query result is in the response payload",
            "schema": {
              "$ref": "#/definitions/queryResults"
            }
          },
          "default": {
            "description": "An error response object.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "parameters": {
    "workspaceId": {
      "name": "workspaceId",
      "description": "ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "workspacesParam": {
      "name": "workspaces",
      "description": "Comma separated workspace IDs to include in cross-workspace queries.",
      "in": "query",
      "collectionFormat": "csv",
      "required": false,
      "default": "",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "queryParam": {
      "name": "query",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "method",
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "string"
    },
    "queryBody": {
      "name": "body",
      "in": "body",
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "required": true,
      "schema": {
        "$ref": "#/definitions/queryBody"
      },
      "x-ms-parameter-location": "method"
    },
    "timespanParam": {
      "name": "timespan",
      "in": "query",
      "required": false,
      "format": "duration",
      "x-ms-parameter-location": "method",
      "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
      "type": "string"
    }
  },
  "definitions": {
    "queryParam": {
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "string"
    },
    "timespanParam": {
      "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
      "type": "string"
    },
    "workspacesParam": {
      "description": "Workspace IDs to include in cross-workspace queries.",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "queryBody": {
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "object",
      "properties": {
        "query": {
          "description": "The query to execute.",
          "$ref": "#/definitions/queryParam"
        },
        "timespan": {
          "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
          "$ref": "#/definitions/timespanParam"
        },
        "workspaces": {
          "description": "A list of workspaces that are included in the query.",
          "$ref": "#/definitions/workspacesParam"
        }
      },
      "required": [
        "query"
      ]
    },
    "queryResults": {
      "title": "A query response.",
      "description": "Contains the tables, columns & rows resulting from a query.",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The list of tables, columns and rows.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/table"
          }
        }
      },
      "required": [
        "tables"
      ]
    },
    "table": {
      "title": "A query response table.",
      "description": "Contains the columns and rows for one table in a query response.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table.",
          "type": "string"
        },
        "columns": {
          "description": "The list of columns in this table.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/column"
          }
        },
        "rows": {
          "description": "The resulting rows from this query.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "name",
        "columns",
        "rows"
      ]
    },
    "column": {
      "title": "A table column.",
      "description": "A column in a table.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this column.",
          "type": "string"
        },
        "type": {
          "description": "The data type of this column.",
          "type": "string"
        }
      }
    },
    "errorDetail": {
      "title": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error's code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        },
        "value": {
          "description": "Indicates which value in 'target' is responsible for the error.",
          "type": "string"
        },
        "resources": {
          "description": "Indicates resources which were responsible for the error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "errorInfo": {
      "title": "The code and message for an error.",
      "type": "object",
      "properties": {
        "code": {
          "description": "A machine readable error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "details": {
          "description": "error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetail"
          }
        },
        "innererror": {
          "description": "Inner error details if they exist.",
          "$ref": "#/definitions/errorInfo"
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "errorResponse": {
      "title": "Error details.",
      "description": "Contains details when the response code indicates an error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error details.",
          "$ref": "#/definitions/errorInfo"
        }
      },
      "required": [
        "error"
      ]
    }
  },
  "x-internal-service-id": "loganalytics",
  "x-internal-service-name": "Log Analytics",
  "x-internal-toc-name": "Query",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}