{
  "swagger": "2.0",
  "info": {
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2017-04-01",
    "title": "Azure Action Groups API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}/subscribe": {
      "post": {
        "description": "Enable a receiver in an action group. This changes the receiver's status from Disabled to Enabled.",
        "operationId": "ActionGroups_EnableReceiver",
        "x-ms-examples": {
          "Enable the receiver": {
            "parameters": {
              "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d",
              "resourceGroupName": "Default-NotificationRules",
              "actionGroupName": "SampleActionGroup",
              "api-version": "2017-04-01",
              "enableRequest": {
                "receiverName": "John Doe's mobile"
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": null
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "name": "enableRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableRequest"
            },
            "description": "The receiver to re-enable."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The receiver was successfully enabled."
          },
          "409": {
            "description": "The receiver is already enabled in the action group."
          },
          "default": {
            "description": "An error occurred and the receiver could not be enabled, e.g.: 404: The action group was not found or no matching receiver was found in the action group.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Enable Receiver"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "ActionGroupResource": {
      "description": "An action group resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActionGroup",
          "description": "The action groups properties of the resource."
        }
      }
    },
    "ActionGroupList": {
      "description": "A list of action groups.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionGroupResource"
          },
          "description": "The list of action groups."
        },
        "nextLink": {
          "type": "string",
          "description": "Provides the link to retrieve the next set of elements."
        }
      }
    },
    "ActionGroup": {
      "description": "An Azure action group.",
      "properties": {
        "groupShortName": {
          "type": "string",
          "maxLength": 15,
          "description": "The short name of the action group. This will be used in SMS messages."
        },
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receivers will receive communications."
        },
        "emailReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "description": "The list of email receivers that are part of this action group."
        },
        "smsReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "description": "The list of SMS receivers that are part of this action group."
        },
        "webhookReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "description": "The list of webhook receivers that are part of this action group."
        }
      },
      "required": [
        "groupShortName",
        "enabled"
      ]
    },
    "EmailReceiver": {
      "description": "An email receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the email receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of this receiver."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The receiver status of the e-mail."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "SmsReceiver": {
      "description": "An SMS receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the SMS receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the SMS receiver."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The status of the receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "WebhookReceiver": {
      "description": "A webhook receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        }
      },
      "required": [
        "name",
        "serviceUri"
      ]
    },
    "ReceiverStatus": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ReceiverStatus",
        "modelAsString": false
      },
      "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications."
    },
    "EnableRequest": {
      "description": "Describes a receiver that should be resubscribed.",
      "properties": {
        "receiverName": {
          "type": "string",
          "description": "The name of the receiver to resubscribe."
        }
      },
      "required": [
        "receiverName"
      ]
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ActionGroupNameParameter": {
      "name": "actionGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the action group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Action Groups",
  "x-internal-split-type": "Operation"
}