{
  "swagger": "2.0",
  "info": {
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2017-04-01",
    "title": "Azure Action Groups API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/actionGroups": {
      "get": {
        "description": "Get a list of all action groups in a subscription.",
        "operationId": "ActionGroups_ListBySubscriptionId",
        "x-ms-examples": {
          "List action groups": {
            "parameters": {
              "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d",
              "resourceGroupName": "Default-NotificationRules",
              "api-version": "2017-04-01"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup",
                      "type": "Microsoft.Insights/ActionGroups",
                      "name": "SampleActionGroup",
                      "location": "Global",
                      "tags": {},
                      "properties": {
                        "groupShortName": "sample",
                        "enabled": true,
                        "emailReceivers": [
                          {
                            "name": "John Doe's email",
                            "emailAddress": "johndoe@email.com",
                            "status": "Enabled"
                          },
                          {
                            "name": "Jane Smith's email",
                            "emailAddress": "janesmith@email.com",
                            "status": "Disabled"
                          }
                        ],
                        "smsReceivers": [
                          {
                            "name": "John Doe's mobile",
                            "countryCode": "1",
                            "phoneNumber": "1234567890",
                            "status": "Disabled"
                          },
                          {
                            "name": "Jane Smith's mobile",
                            "countryCode": "1",
                            "phoneNumber": "0987654321",
                            "status": "Enabled"
                          }
                        ],
                        "webhookReceivers": [
                          {
                            "name": "Sample webhook",
                            "serviceUri": "http://www.example.com/webhook"
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup2",
                      "type": "Microsoft.Insights/ActionGroups",
                      "name": "SampleActionGroup2",
                      "location": "Global",
                      "tags": {},
                      "properties": {
                        "groupShortName": "sample2",
                        "enabled": false,
                        "emailReceivers": [
                          {
                            "name": "John Doe's email",
                            "emailAddress": "johndoe@email.com",
                            "status": "Enabled"
                          }
                        ],
                        "smsReceivers": [
                          {
                            "name": "Jane Smith's mobile",
                            "countryCode": "1",
                            "phoneNumber": "0987654321",
                            "status": "Enabled"
                          }
                        ],
                        "webhookReceivers": []
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "$ref": "#/definitions/ActionGroupList"
            }
          },
          "default": {
            "description": "An error occurred and the list of action groups could not be retrieved."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Subscription Id"
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "ActionGroupResource": {
      "description": "An action group resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActionGroup",
          "description": "The action groups properties of the resource."
        }
      }
    },
    "ActionGroupList": {
      "description": "A list of action groups.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionGroupResource"
          },
          "description": "The list of action groups."
        },
        "nextLink": {
          "type": "string",
          "description": "Provides the link to retrive the next set of elements."
        }
      }
    },
    "ActionGroup": {
      "description": "An Azure action group.",
      "properties": {
        "groupShortName": {
          "type": "string",
          "maxLength": 15,
          "description": "The short name of the action group. This will be used in SMS messages."
        },
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receviers will receive communications."
        },
        "emailReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "description": "The list of email receivers that are part of this action group."
        },
        "smsReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "description": "The list of SMS receivers that are part of this action group."
        },
        "webhookReceivers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "description": "The list of webhook receivers that are part of this action group."
        }
      },
      "required": [
        "groupShortName",
        "enabled"
      ]
    },
    "EmailReceiver": {
      "description": "An email receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the email receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of this receiver."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The receiver status of the e-mail."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "SmsReceiver": {
      "description": "An SMS receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the SMS receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the SMS receiver."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The status of the receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "WebhookReceiver": {
      "description": "A webhook receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        }
      },
      "required": [
        "name",
        "serviceUri"
      ]
    },
    "ReceiverStatus": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ReceiverStatus",
        "modelAsString": false
      },
      "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications."
    },
    "EnableRequest": {
      "description": "Describes a receiver that should be resubscribed.",
      "properties": {
        "receiverName": {
          "type": "string",
          "description": "The name of the receiver to resubscribe."
        }
      },
      "required": [
        "receiverName"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ActionGroupNameParameter": {
      "name": "actionGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the action group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-service-name": "Monitor",
  "x-internal-toc-name": "Action Groups",
  "x-internal-split-type": "Operation"
}