{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "Infrastructure role operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all infrastructure roles at a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryCertificateServices",
                      "name": "ActiveDirectoryCertificateServices",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-CA01"
                        ],
                        "displayName": "Certificate management",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryDomainServices",
                      "name": "ActiveDirectoryDomainServices",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-DC01"
                        ],
                        "displayName": "Directory management",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryFederationServices",
                      "name": "ActiveDirectoryFederationServices",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01"
                        ],
                        "displayName": "Active Directory Federation Services",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ApplicationGateway",
                      "name": "ApplicationGateway",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Partition request broker (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceAdmin",
                      "name": "AuthorizationServiceAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Authorization service (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceUser",
                      "name": "AuthorizationServiceUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Authorization service (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureBridge",
                      "name": "AzureBridge",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Azure bridge",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureConsistentStorageRing",
                      "name": "AzureConsistentStorageRing",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ACS01"
                        ],
                        "displayName": "Storage services",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerAdmin",
                      "name": "AzureResourceManagerAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Azure Resource Manager (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerUser",
                      "name": "AzureResourceManagerUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Azure Resource Manager (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/BackupController",
                      "name": "BackupController",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01"
                        ],
                        "displayName": "Backup controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/BackupRestoreResourceProvider",
                      "name": "BackupRestoreResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Infrastructure backup",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ComputeController",
                      "name": "ComputeController",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Compute controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ComputeResourceProvider",
                      "name": "ComputeResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Compute",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/EnterpriseCloudEngine",
                      "name": "EnterpriseCloudEngine",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01"
                        ],
                        "displayName": "Infrastructure deployment",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricControllerRing",
                      "name": "FabricControllerRing",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Infrastructure management controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricResourceProvider",
                      "name": "FabricResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Capacity",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceAdmin",
                      "name": "GalleryServiceAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Gallery service (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceUser",
                      "name": "GalleryServiceUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Gallery service (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthMonitoring",
                      "name": "HealthMonitoring",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Health controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthResourceProvider",
                      "name": "HealthResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Region Management",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceAdmin",
                      "name": "InsightsServiceAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Insights service (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceUser",
                      "name": "InsightsServiceUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Insights service (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultControlPlane",
                      "name": "KeyVaultControlPlane",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault controller (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultDataPlane",
                      "name": "KeyVaultDataPlane",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault service (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalControlPlane",
                      "name": "KeyVaultInternalControlPlane",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault controller (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalDataPlane",
                      "name": "KeyVaultInternalDataPlane",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault service (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultNamingService",
                      "name": "KeyVaultNamingService",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault name manager",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultResourceProvider",
                      "name": "KeyVaultResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Key Vault",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/MicrosoftSQLServer",
                      "name": "MicrosoftSQLServer",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Sql01"
                        ],
                        "displayName": "Internal data store",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NetworkControllerRing",
                      "name": "NetworkControllerRing",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-NC01"
                        ],
                        "displayName": "Network controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NetworkResourceProvider",
                      "name": "NetworkResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Network",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NonPrivilegedApplicationGateway",
                      "name": "NonPrivilegedApplicationGateway",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Partition request broker (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalAdmin",
                      "name": "PortalAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Portal (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalUser",
                      "name": "PortalUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Portal (User)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/RASGateway",
                      "name": "RASGateway",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Gwy01"
                        ],
                        "displayName": "Edge gateway",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SeedRing",
                      "name": "SeedRing",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01"
                        ],
                        "displayName": "Privileged endpoint",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ServicesController",
                      "name": "ServicesController",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Infrastructure role controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SLBMultiplexer",
                      "name": "SLBMultiplexer",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-SLB01"
                        ],
                        "displayName": "Load balancer multiplexer",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageController",
                      "name": "StorageController",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Storage controller",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageResourceProvider",
                      "name": "StorageResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Storage",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SubscriptionsServices",
                      "name": "SubscriptionsServices",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Subscriptions service",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UpdateResourceProvider",
                      "name": "UpdateResourceProvider",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Updates",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageBridge",
                      "name": "UsageBridge",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Usage bridge",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageBridgeHost",
                      "name": "UsageBridgeHost",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01"
                        ],
                        "displayName": "Usage Bridge host",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceAdmin",
                      "name": "UsageServiceAdmin",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01"
                        ],
                        "displayName": "Usage service (Administrator)",
                        "restartable": false
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceUser",
                      "name": "UsageServiceUser",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/infraRoles",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "instances": [
                          "subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01"
                        ],
                        "displayName": "Usage service (User)",
                        "restartable": false
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "tags": [
          "InfraRoles"
        ],
        "description": "Returns a list of all infrastructure roles at a location.",
        "operationId": "InfraRoles_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InfraRoleList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/InfraRole",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "InfraRole": {
      "description": "Infrastructure role description.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Infrastructure role properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InfraRoleModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "InfraRoleModel": {
      "description": "Infrastructure role properties.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "List of infrastructure role instances.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Display name for the infrastructure role.",
          "type": "string"
        },
        "restartable": {
          "description": "Value indicating whether the infrastructure role can be restarted.",
          "type": "boolean"
        }
      }
    },
    "InfraRoleList": {
      "description": "Pageable list of infrastructure roles.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of infrastructure roles.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InfraRole"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "InfraRoleParameter": {
      "name": "infraRole",
      "description": "Infrastructure role name.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Infra Roles",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}