{
  "swagger": "2.0",
  "info": {
    "version": "2016-03-01",
    "title": "Recommendations API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "Recommendation": {
      "description": "Represents a recommendation result generated by the recommendation engine.",
      "type": "object",
      "properties": {
        "creationTime": {
          "format": "date-time",
          "description": "Timestamp when this instance was created.",
          "type": "string"
        },
        "recommendationId": {
          "format": "uuid",
          "description": "A GUID value that each recommendation object is associated with.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "resourceId": {
          "description": "Full ARM resource ID string that this recommendation object is associated with.",
          "type": "string"
        },
        "resourceScope": {
          "description": "Name of a resource type this recommendation applies, e.g. Subscription, ServerFarm, Site.",
          "enum": [
            "ServerFarm",
            "Subscription",
            "WebSite"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceScopeType",
            "modelAsString": true
          }
        },
        "ruleName": {
          "description": "Unique name of the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "UI friendly name of the rule (may not be unique).",
          "type": "string"
        },
        "message": {
          "description": "Recommendation text.",
          "type": "string"
        },
        "level": {
          "description": "Level indicating how critical this recommendation can impact.",
          "enum": [
            "Critical",
            "Warning",
            "Information",
            "NonUrgentSuggestion"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NotificationLevel",
            "modelAsString": false
          }
        },
        "channels": {
          "description": "List of channels that this recommendation can apply.",
          "enum": [
            "Notification",
            "Api",
            "Email",
            "Webhook",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Channels",
            "modelAsString": false
          }
        },
        "tags": {
          "description": "The list of category tags that this recommendation belongs to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actionName": {
          "description": "Name of action recommended by this object.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The beginning time in UTC of a range that the recommendation refers to.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time in UTC of a range that the recommendation refers to.",
          "type": "string"
        },
        "nextNotificationTime": {
          "format": "date-time",
          "description": "When to notify this recommendation next in UTC. Null means that this will never be notified anymore.",
          "type": "string"
        },
        "notificationExpirationTime": {
          "format": "date-time",
          "description": "Date and time in UTC when this notification expires.",
          "type": "string"
        },
        "notifiedTime": {
          "format": "date-time",
          "description": "Last timestamp in UTC this instance was actually notified. Null means that this recommendation hasn't been notified yet.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "description": "A metric value measured by the rule.",
          "type": "number"
        },
        "isDynamic": {
          "description": "True if this is associated with a dynamically added rule",
          "type": "boolean"
        },
        "extensionName": {
          "description": "Extension name of the portal if exists.",
          "type": "string"
        },
        "bladeName": {
          "description": "Deep link to a blade on the portal.",
          "type": "string"
        },
        "forwardLink": {
          "description": "Forward link to an external document associated with the rule.",
          "type": "string"
        }
      }
    },
    "RecommendationRule": {
      "description": "Represents a recommendation rule that the recommendation engine can perform.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Unique name of the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "UI friendly name of the rule.",
          "type": "string"
        },
        "message": {
          "description": "Localized name of the rule (Good for UI).",
          "type": "string"
        },
        "recommendationId": {
          "format": "uuid",
          "description": "Recommendation ID of an associated recommendation object tied to the rule, if exists.\nIf such an object doesn't exist, it is set to null.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "description": {
          "description": "Localized detailed description of the rule.",
          "type": "string"
        },
        "actionName": {
          "description": "Name of action that is recommended by this rule in string.",
          "type": "string"
        },
        "level": {
          "description": "Level of impact indicating how critical this rule is.",
          "enum": [
            "Critical",
            "Warning",
            "Information",
            "NonUrgentSuggestion"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NotificationLevel",
            "modelAsString": false
          }
        },
        "channels": {
          "description": "List of available channels that this rule applies.",
          "enum": [
            "Notification",
            "Api",
            "Email",
            "Webhook",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Channels",
            "modelAsString": false
          }
        },
        "tags": {
          "description": "An array of category tags that the rule contains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isDynamic": {
          "description": "True if this is associated with a dynamically added rule",
          "type": "boolean"
        },
        "extensionName": {
          "description": "Extension name of the portal if exists. Applicable to dynamic rule only.",
          "type": "string"
        },
        "bladeName": {
          "description": "Deep link to a blade on the portal. Applicable to dynamic rule only.",
          "type": "string"
        },
        "forwardLink": {
          "description": "Forward link to an external document associated with the rule. Applicable to dynamic rule only.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "App Service",
  "x-internal-toc-name": "Recommendations",
  "x-internal-split-members": [
    {
      "displayName": "Disable All For Web App",
      "relativePath": "Recommendations/DisableAllForWebApp"
    },
    {
      "displayName": "Get Rule Details By Web App",
      "relativePath": "Recommendations/GetRuleDetailsByWebApp"
    },
    {
      "displayName": "List",
      "relativePath": "Recommendations/List"
    },
    {
      "displayName": "List History For Web App",
      "relativePath": "Recommendations/ListHistoryForWebApp"
    },
    {
      "displayName": "List Recommended Rules For Web App",
      "relativePath": "Recommendations/ListRecommendedRulesForWebApp"
    },
    {
      "displayName": "Reset All Filters",
      "relativePath": "Recommendations/ResetAllFilters"
    },
    {
      "displayName": "Reset All Filters For Web App",
      "relativePath": "Recommendations/ResetAllFiltersForWebApp"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}