{
  "swagger": "2.0",
  "info": {
    "version": "1.6",
    "title": "GraphRbacManagementClient",
    "description": "The Graph RBAC Management Client"
  },
  "host": "graph.windows.net",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "GraphError": {
      "type": "object",
      "properties": {
        "odata.error": {
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OdataError",
          "description": "A Graph API error."
        }
      },
      "description": "Active Directory error information."
    },
    "OdataError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ErrorMessage",
          "description": "Error Message."
        }
      },
      "description": "Active Directory OData error information."
    },
    "ErrorMessage": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-client-name": "message",
          "description": "Error message value."
        }
      },
      "description": "Active Directory error message."
    },
    "DirectoryObject": {
      "type": "object",
      "discriminator": "objectType",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID.",
          "readOnly": true
        },
        "objectType": {
          "type": "string",
          "description": "The object type.",
          "readOnly": true
        },
        "deletionTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the directory object was deleted.",
          "readOnly": true
        }
      },
      "description": "Represents an Azure Active Directory object."
    },
    "KeyCredential": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date."
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date."
        },
        "value": {
          "type": "string",
          "description": "Key value."
        },
        "keyId": {
          "type": "string",
          "description": "Key ID."
        },
        "usage": {
          "type": "string",
          "description": "Usage. Acceptable values are 'Verify' and 'Sign'."
        },
        "type": {
          "type": "string",
          "description": "Type. Acceptable values are 'AsymmetricX509Cert' and 'Symmetric'."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory Key Credential information."
    },
    "PasswordCredential": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date."
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date."
        },
        "keyId": {
          "type": "string",
          "description": "Key ID."
        },
        "value": {
          "type": "string",
          "description": "Key value."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory Password Credential information."
    },
    "RequiredResourceAccess": {
      "type": "object",
      "properties": {
        "resourceAccess": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceAccess"
          },
          "description": "The list of OAuth2.0 permission scopes and app roles that the application requires from the specified resource."
        },
        "resourceAppId": {
          "type": "string",
          "description": "The unique identifier for the resource that the application requires access to. This should be equal to the appId declared on the target resource application."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "resourceAccess"
      ],
      "description": "Specifies the set of OAuth 2.0 permission scopes and app roles under the specified resource that an application requires access to. The specified OAuth 2.0 permission scopes may be requested by client applications (through the requiredResourceAccess collection) when calling a resource application. The requiredResourceAccess property of the Application entity is a collection of ReqiredResourceAccess."
    },
    "ResourceAccess": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for one of the OAuth2Permission or AppRole instances that the resource application exposes."
        },
        "type": {
          "type": "string",
          "description": "Specifies whether the id property references an OAuth2Permission or an AppRole. Possible values are \"scope\" or \"role\"."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "id"
      ],
      "description": "Specifies an OAuth 2.0 permission scope or an app role that an application requires. The resourceAccess property of the RequiredResourceAccess type is a collection of ResourceAccess."
    },
    "ApplicationCreateParameters": {
      "type": "object",
      "properties": {
        "availableToOtherTenants": {
          "type": "boolean",
          "description": "Whether the application is available to other tenants."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the application."
        },
        "homepage": {
          "type": "string",
          "description": "The home page of the application."
        },
        "identifierUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of URIs for the application."
        },
        "replyUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of reply URLs for the application."
        },
        "keyCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyCredential"
          },
          "description": "The list of KeyCredential objects."
        },
        "passwordCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PasswordCredential"
          },
          "description": "The list of PasswordCredential objects."
        },
        "oauth2AllowImplicitFlow": {
          "type": "boolean",
          "description": "Whether to allow implicit grant flow for OAuth2"
        },
        "requiredResourceAccess": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequiredResourceAccess"
          },
          "description": "Specifies resources that this application requires access to and the set of OAuth permission scopes and application roles that it needs under each of those resources. This pre-configuration of required resource access drives the consent experience."
        }
      },
      "required": [
        "availableToOtherTenants",
        "displayName",
        "identifierUris"
      ],
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for creating a new application."
    },
    "ApplicationUpdateParameters": {
      "type": "object",
      "properties": {
        "availableToOtherTenants": {
          "type": "boolean",
          "description": "Whether the application is available to other tenants"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the application."
        },
        "homepage": {
          "type": "string",
          "description": "The home page of the application."
        },
        "identifierUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of URIs for the application."
        },
        "replyUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of reply URLs for the application."
        },
        "keyCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyCredential"
          },
          "description": "The list of KeyCredential objects."
        },
        "passwordCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PasswordCredential"
          },
          "description": "The list of PasswordCredential objects."
        },
        "oauth2AllowImplicitFlow": {
          "type": "boolean",
          "description": "Whether to allow implicit grant flow for OAuth2"
        },
        "requiredResourceAccess": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequiredResourceAccess"
          },
          "description": "Specifies resources that this application requires access to and the set of OAuth permission scopes and application roles that it needs under each of those resources. This pre-configuration of required resource access drives the consent experience."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for updating an existing application."
    },
    "Application": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DirectoryObject"
        }
      ],
      "properties": {
        "appId": {
          "type": "string",
          "description": "The application ID."
        },
        "appPermissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The application permissions."
        },
        "availableToOtherTenants": {
          "type": "boolean",
          "description": "Whether the application is be available to other tenants."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the application."
        },
        "identifierUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of URIs for the application."
        },
        "replyUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of reply URLs for the application."
        },
        "homepage": {
          "type": "string",
          "description": "The home page of the application."
        },
        "oauth2AllowImplicitFlow": {
          "type": "boolean",
          "description": "Whether to allow implicit grant flow for OAuth2"
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory application information."
    },
    "ApplicationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "description": "A collection of applications."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Application list operation result."
    },
    "ApplicationAddOwnerParameters": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A owner object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\", where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\" is the objectId of the owner (user, application, servicePrincipal, group) to be added."
        }
      },
      "required": [
        "url"
      ],
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for adding a owner to an application."
    },
    "KeyCredentialListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyCredential"
          },
          "description": "A collection of KeyCredentials."
        }
      },
      "description": "KeyCredential list operation result."
    },
    "DirectoryObjectListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DirectoryObject"
          },
          "description": "A collection of DirectoryObject."
        }
      },
      "description": "DirectoryObject list operation result."
    },
    "KeyCredentialsUpdateParameters": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyCredential"
          },
          "description": "A collection of KeyCredentials."
        }
      },
      "required": [
        "value"
      ],
      "description": "Request parameters for a KeyCredentials update operation"
    },
    "PasswordCredentialListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PasswordCredential"
          },
          "description": "A collection of PasswordCredentials."
        }
      },
      "description": "PasswordCredential list operation result."
    },
    "PasswordCredentialsUpdateParameters": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PasswordCredential"
          },
          "description": "A collection of PasswordCredentials."
        }
      },
      "required": [
        "value"
      ],
      "description": "Request parameters for a PasswordCredentials update operation."
    },
    "AADObject": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the object."
        },
        "objectType": {
          "type": "string",
          "description": "The type of AAD object."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the object."
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The principal name of the object."
        },
        "mail": {
          "type": "string",
          "description": "The primary email address of the object."
        },
        "mailEnabled": {
          "type": "boolean",
          "description": "Whether the AAD object is mail-enabled."
        },
        "mailNickname": {
          "type": "string",
          "description": "The mail alias for the user.",
          "readOnly": true
        },
        "securityEnabled": {
          "type": "boolean",
          "description": "Whether the AAD object is security-enabled."
        },
        "signInName": {
          "type": "string",
          "description": "The sign-in name of the object."
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of service principal names associated with the object."
        },
        "userType": {
          "type": "string",
          "description": "The user type of the object."
        },
        "usageLocation": {
          "type": "string",
          "description": "A two letter country code (ISO standard 3166). Required for users that will be assigned licenses due to legal requirement to check for availability of services in countries. Examples include: \"US\", \"JP\", and \"GB\".",
          "readOnly": true
        },
        "appId": {
          "type": "string",
          "description": "The application ID.",
          "readOnly": true
        },
        "appPermissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The application permissions.",
          "readOnly": true
        },
        "availableToOtherTenants": {
          "type": "boolean",
          "description": "Whether the application is be available to other tenants.",
          "readOnly": true
        },
        "identifierUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of URIs for the application.",
          "readOnly": true
        },
        "replyUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of reply URLs for the application.",
          "readOnly": true
        },
        "homepage": {
          "type": "string",
          "description": "The home page of the application.",
          "readOnly": true
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "The properties of an Active Directory object."
    },
    "GetObjectsResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AADObject"
          },
          "description": "A collection of Active Directory objects."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The response to an Active Directory object inquiry API request."
    },
    "GroupAddMemberParameters": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A member object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\", where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\" is the objectId of the member (user, application, servicePrincipal, group) to be added."
        }
      },
      "required": [
        "url"
      ],
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for adding a member to a group."
    },
    "GroupCreateParameters": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Group display name"
        },
        "mailEnabled": {
          "type": "boolean",
          "description": "Whether the group is mail-enabled. Must be false. This is because only pure security groups can be created using the Graph API.",
          "enum": [
            false
          ]
        },
        "mailNickname": {
          "type": "string",
          "description": "Mail nickname"
        },
        "securityEnabled": {
          "type": "boolean",
          "description": "Whether the group is a security group. Must be true. This is because only pure security groups can be created using the Graph API.",
          "enum": [
            true
          ]
        }
      },
      "required": [
        "displayName",
        "mailEnabled",
        "mailNickname",
        "securityEnabled"
      ],
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for creating a new group."
    },
    "ADGroup": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DirectoryObject"
        }
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the group."
        },
        "securityEnabled": {
          "type": "boolean",
          "description": "Whether the group is security-enable."
        },
        "mail": {
          "type": "string",
          "description": "The primary email address of the group."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "x-ms-discriminator-value": "Group",
      "description": "Active Directory group information."
    },
    "GroupListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ADGroup"
          },
          "description": "A collection of Active Directory groups."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Server response for Get tenant groups API call"
    },
    "GroupGetMemberGroupsParameters": {
      "type": "object",
      "properties": {
        "securityEnabledOnly": {
          "type": "boolean",
          "description": "If true, only membership in security-enabled groups should be checked. Otherwise, membership in all groups should be checked."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "securityEnabledOnly"
      ],
      "description": "Request parameters for GetMemberGroups API call."
    },
    "GroupGetMemberGroupsResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of group IDs of which the group is a member."
        }
      },
      "description": "Server response for GetMemberGroups API call."
    },
    "CheckGroupMembershipParameters": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The object ID of the group to check."
        },
        "memberId": {
          "type": "string",
          "description": "The object ID of the contact, group, user, or service principal to check for membership in the specified group."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "groupId",
        "memberId"
      ],
      "description": "Request parameters for IsMemberOf API call."
    },
    "CheckGroupMembershipResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "boolean",
          "description": "True if the specified user, group, contact, or service principal has either direct or transitive membership in the specified group; otherwise, false."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Server response for IsMemberOf API call"
    },
    "ServicePrincipalCreateParameters": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "application Id"
        },
        "accountEnabled": {
          "type": "boolean",
          "description": "Whether the account is enabled"
        },
        "keyCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyCredential"
          },
          "description": "A collection of KeyCredential objects."
        },
        "passwordCredentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PasswordCredential"
          },
          "description": "A collection of PasswordCredential objects"
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "appId",
        "accountEnabled"
      ],
      "description": "Request parameters for creating a new service principal."
    },
    "ServicePrincipal": {
      "allOf": [
        {
          "$ref": "#/definitions/DirectoryObject"
        }
      ],
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the service principal."
        },
        "appId": {
          "type": "string",
          "description": "The application ID."
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of service principal names."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory service principal information."
    },
    "ServicePrincipalListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServicePrincipal"
          },
          "description": "the list of service principals."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "the URL to get the next set of results."
        }
      },
      "description": "Server response for get tenant service principals API call."
    },
    "PasswordProfile": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Password"
        },
        "forceChangePasswordNextLogin": {
          "type": "boolean",
          "description": "Whether to force a password change on next login."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "password"
      ],
      "description": "The password profile associated with a user."
    },
    "UserBase": {
      "type": "object",
      "properties": {
        "immutableId": {
          "type": "string",
          "description": "This must be specified if you are using a federated domain for the user's userPrincipalName (UPN) property when creating a new user account. It is used to associate an on-premises Active Directory user account with their Azure AD user object."
        },
        "usageLocation": {
          "type": "string",
          "description": "A two letter country code (ISO standard 3166). Required for users that will be assigned licenses due to legal requirement to check for availability of services in countries. Examples include: \"US\", \"JP\", and \"GB\"."
        },
        "givenName": {
          "type": "string",
          "description": "The given name for the user."
        },
        "surname": {
          "type": "string",
          "description": "The user's surname (family name or last name)."
        },
        "userType": {
          "type": "string",
          "description": "A string value that can be used to classify user types in your directory, such as 'Member' and 'Guest'.",
          "enum": [
            "Member",
            "Guest"
          ],
          "x-ms-enum": {
            "name": "UserType",
            "modelAsString": true
          }
        }
      },
      "additionalProperties": {
        "type": "object"
      }
    },
    "UserCreateParameters": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/UserBase"
        }
      ],
      "properties": {
        "accountEnabled": {
          "type": "boolean",
          "description": "Whether the account is enabled."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "passwordProfile": {
          "$ref": "#/definitions/PasswordProfile",
          "description": "Password Profile"
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The user principal name (someuser@contoso.com). It must contain one of the verified domains for the tenant."
        },
        "mailNickname": {
          "type": "string",
          "description": "The mail alias for the user."
        },
        "mail": {
          "type": "string",
          "description": "The primary email address of the user."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "accountEnabled",
        "displayName",
        "passwordProfile",
        "userPrincipalName",
        "mailNickname"
      ],
      "description": "Request parameters for creating a new work or school account user."
    },
    "UserUpdateParameters": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/UserBase"
        }
      ],
      "properties": {
        "accountEnabled": {
          "type": "boolean",
          "description": "Whether the account is enabled."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "passwordProfile": {
          "$ref": "#/definitions/PasswordProfile",
          "description": "The password profile of the user."
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The user principal name (someuser@contoso.com). It must contain one of the verified domains for the tenant."
        },
        "mailNickname": {
          "type": "string",
          "description": "The mail alias for the user."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Request parameters for updating an existing work or school account user."
    },
    "User": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DirectoryObject"
        }
      ],
      "properties": {
        "immutableId": {
          "type": "string",
          "description": "This must be specified if you are using a federated domain for the user's userPrincipalName (UPN) property when creating a new user account. It is used to associate an on-premises Active Directory user account with their Azure AD user object."
        },
        "usageLocation": {
          "type": "string",
          "description": "A two letter country code (ISO standard 3166). Required for users that will be assigned licenses due to legal requirement to check for availability of services in countries. Examples include: \"US\", \"JP\", and \"GB\"."
        },
        "givenName": {
          "type": "string",
          "description": "The given name for the user."
        },
        "surname": {
          "type": "string",
          "description": "The user's surname (family name or last name)."
        },
        "userType": {
          "type": "string",
          "description": "A string value that can be used to classify user types in your directory, such as 'Member' and 'Guest'.",
          "enum": [
            "Member",
            "Guest"
          ],
          "x-ms-enum": {
            "name": "UserType",
            "modelAsString": true
          }
        },
        "accountEnabled": {
          "type": "boolean",
          "description": "Whether the account is enabled."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The principal name of the user."
        },
        "mailNickname": {
          "type": "string",
          "description": "The mail alias for the user."
        },
        "mail": {
          "type": "string",
          "description": "The primary email address of the user."
        },
        "signInNames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SignInName"
          },
          "description": "The sign-in names of the user."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory user information."
    },
    "SignInName": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "A string value that can be used to classify user sign-in types in your directory, such as 'emailAddress' or 'userName'."
        },
        "value": {
          "type": "string",
          "description": "The sign-in used by the local account. Must be unique across the company/tenant. For example, 'johnc@example.com'."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "description": "Contains information about a sign-in name of a local account user in an Azure Active Directory B2C tenant."
    },
    "UserGetMemberGroupsParameters": {
      "type": "object",
      "properties": {
        "securityEnabledOnly": {
          "type": "boolean",
          "description": "If true, only membership in security-enabled groups should be checked. Otherwise, membership in all groups should be checked."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "securityEnabledOnly"
      ],
      "description": "Request parameters for GetMemberGroups API call."
    },
    "UserGetMemberGroupsResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of group IDs of which the user is a member."
        }
      },
      "description": "Server response for GetMemberGroups API call."
    },
    "UserListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          },
          "description": "the list of users."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Server response for Get tenant users API call."
    },
    "GetObjectsParameters": {
      "type": "object",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The requested object IDs."
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The requested object types."
        },
        "includeDirectoryObjectReferences": {
          "type": "boolean",
          "description": "If true, also searches for object IDs in the partner tenant."
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "includeDirectoryObjectReferences"
      ],
      "description": "Request parameters for the GetObjectsByObjectIds API."
    },
    "Domain": {
      "type": "object",
      "properties": {
        "authenticationType": {
          "type": "string",
          "description": "the type of the authentication into the domain.",
          "readOnly": true
        },
        "isDefault": {
          "type": "boolean",
          "description": "if this is the default domain in the tenant.",
          "readOnly": true
        },
        "isVerified": {
          "type": "boolean",
          "description": "if this domain's ownership is verified.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "the domain name."
        }
      },
      "required": [
        "name"
      ],
      "additionalProperties": {
        "type": "object"
      },
      "description": "Active Directory Domain information."
    },
    "DomainListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Domain"
          },
          "description": "the list of domains."
        }
      },
      "description": "Server response for Get tenant domains API call."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "tenantIDInPath": {
      "name": "tenantID",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The tenant ID."
    }
  },
  "x-internal-service-name": "Graph RBAC",
  "x-internal-toc-name": "Objects",
  "x-internal-split-members": [
    {
      "displayName": "Get Current User",
      "relativePath": "Objects/GetCurrentUser"
    },
    {
      "displayName": "Get Objects By Object Ids",
      "relativePath": "Objects/GetObjectsByObjectIds"
    },
    {
      "displayName": "Get Objects By Object Ids Next",
      "relativePath": "Objects/GetObjectsByObjectIdsNext"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}