{
  "swagger": "2.0",
  "info": {
    "version": "2015-11-01",
    "title": "SubscriptionsManagementClient",
    "description": "The Admin Subscriptions Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "Plan": {
      "description": "A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a plan.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PlanProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PlanProperties": {
      "description": "Properties of a plan.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the plan.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name.",
          "type": "string"
        },
        "externalReferenceId": {
          "description": "External reference identifier.",
          "type": "string"
        },
        "quotaIds": {
          "description": "Quota identifiers under the plan.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the plan.",
          "type": "string"
        },
        "subscriptionCount": {
          "description": "Subscription count.",
          "type": "integer"
        },
        "skuIds": {
          "description": "SKU identifiers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlanList": {
      "description": "List of plans",
      "properties": {
        "value": {
          "description": "Array of plans.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plan"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "URI of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "MetricAvailability": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "The time grain. Metrics will be available for this time grain.",
          "type": "string"
        },
        "retention": {
          "description": "the retention. Metrics may be queried for this interval.",
          "type": "string"
        }
      }
    },
    "MetricAvailabilityList": {
      "description": "List of metric definitions.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricAvailability"
      }
    },
    "MetricPrimaryAggregationType": {
      "description": "The primary aggregation type for resource metric.",
      "type": "string",
      "enum": [
        "None",
        "Average",
        "Total",
        "Minimum",
        "Maximum",
        "Last"
      ],
      "x-ms-enum": {
        "name": "MetricPrimaryAggregationType",
        "modelAsString": true,
        "values": [
          {
            "description": "No aggregation applied to resource.",
            "name": "None",
            "value": "None"
          },
          {
            "description": "The average aggregation type.",
            "name": "Average",
            "value": "Average"
          },
          {
            "description": "The total aggregation type.",
            "name": "Total",
            "value": "Total"
          },
          {
            "description": "The minimum aggregation type.",
            "name": "Minimum",
            "value": "Minimum"
          },
          {
            "description": "The maximum aggregation type.",
            "name": "Maximum",
            "value": "Maximum"
          },
          {
            "description": "The last aggregation type.",
            "name": "Last",
            "value": "Last"
          }
        ]
      }
    },
    "MetricUnit": {
      "description": "The resource metric unit.",
      "type": "string",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond"
      ],
      "x-ms-enum": {
        "name": "MetricUnit",
        "modelAsString": true,
        "values": [
          {
            "description": "The count.",
            "name": "Count",
            "value": "Count"
          },
          {
            "description": "The bytes.",
            "name": "Bytes",
            "value": "Bytes"
          },
          {
            "description": "The seconds.",
            "name": "Seconds",
            "value": "Seconds"
          },
          {
            "description": "The count per second.",
            "name": "CountPerSecond",
            "value": "CountPerSecond"
          },
          {
            "description": "The bytes per second.",
            "name": "BytesPerSecond",
            "value": "BytesPerSecond"
          }
        ]
      }
    },
    "MetricDefinition": {
      "description": "Metric Definition",
      "type": "object",
      "properties": {
        "name": {
          "description": "Metric definition name.",
          "type": "string"
        },
        "unit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "primaryAggregationType": {
          "description": "Type of the primary aggregation.",
          "$ref": "#/definitions/MetricPrimaryAggregationType"
        },
        "metricAvailabilities": {
          "description": "Metric availabilities.",
          "$ref": "#/definitions/MetricAvailabilityList"
        }
      }
    },
    "MetricDefinitionList": {
      "description": "List of metric definitions.",
      "properties": {
        "value": {
          "description": "Array of metric definitions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    },
    "MetricValue": {
      "description": "Metric value",
      "type": "object",
      "properties": {
        "timeStamp": {
          "description": "Timestamp of when the metric value was collected.",
          "type": "string",
          "format": "date-time"
        },
        "average": {
          "description": "Average value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "minimum": {
          "description": "Minimum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Maximum value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "total": {
          "description": "Total value for metric sample period.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "description": "Number of measurements for metric sample period.",
          "type": "integer"
        },
        "properties": {
          "x-ms-client-name": "extendedProperties",
          "description": "Extended properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "MetricValueList": {
      "description": "List of metric values.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/MetricValue"
      }
    },
    "Metric": {
      "description": "The resource metric set that represents the metrics for a particular resource.",
      "type": "object",
      "properties": {
        "metricUnit": {
          "description": "Unit of metrics.",
          "$ref": "#/definitions/MetricUnit"
        },
        "timeGrain": {
          "description": "Timespan of the metric.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "End time of the metric.",
          "type": "string",
          "format": "date-time"
        },
        "metricValues": {
          "description": "Collected metric values in the timespan.",
          "$ref": "#/definitions/MetricValueList"
        }
      }
    },
    "MetricList": {
      "description": "List of metrics.",
      "properties": {
        "value": {
          "description": "List of metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Continuation token"
        }
      }
    }
  },
  "parameters": {
    "NewPlanParameter": {
      "description": "New plan.",
      "name": "newPlan",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Plan"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2015-11-01"
    },
    "PlanParameter": {
      "description": "Name of the plan.",
      "name": "plan",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The resource group the resource is located under.",
      "name": "resourceGroupName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Plans",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Plans/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Plans/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Plans/Get"
    },
    {
      "displayName": "List",
      "relativePath": "Plans/List"
    },
    {
      "displayName": "List All",
      "relativePath": "Plans/ListAll"
    },
    {
      "displayName": "List Metric Definitions",
      "relativePath": "Plans/ListMetricDefinitions"
    },
    {
      "displayName": "List Metrics",
      "relativePath": "Plans/ListMetrics"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}