{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "InfrastructureInsightsManagementClient",
    "description": "Resource health operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "ResourceHealth": {
      "description": "Health information related to a resource.",
      "properties": {
        "properties": {
          "description": "Health information related to a resource.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ResourceHealthModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "ResourceHealthModel": {
      "description": "Health information related to a resource.",
      "properties": {
        "resourceLocation": {
          "description": "Resource location.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name.",
          "type": "string"
        },
        "resourceDisplayName": {
          "description": "Resource display name.",
          "type": "string"
        },
        "resourceType": {
          "description": "Resource type.",
          "type": "string"
        },
        "resourceURI": {
          "description": "Gets or sets the resource URI.",
          "type": "string"
        },
        "rpRegistrationId": {
          "description": "Gets or sets the resource provider registration ID.",
          "type": "string"
        },
        "usageMetrics": {
          "description": "Usage metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UsageMetrics"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseHealth"
        }
      ]
    },
    "ResourceHealthList": {
      "description": "Pageable list of resource health objects.",
      "properties": {
        "value": {
          "description": "List of resource health objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceHealth"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    },
    "AlertSummary": {
      "description": "Summary of the alerts.",
      "properties": {
        "criticalAlertCount": {
          "description": "The number of critical alerts for the service.",
          "type": "integer"
        },
        "warningAlertCount": {
          "description": "The number of warning alerts for the service.",
          "type": "integer"
        }
      }
    },
    "BaseHealth": {
      "description": "Models the base properties for health resource.",
      "properties": {
        "alertSummary": {
          "description": "Alert summary.",
          "$ref": "#/definitions/AlertSummary"
        },
        "healthState": {
          "description": "Health state.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace of the health resource.",
          "type": "string"
        },
        "registrationId": {
          "description": "Registration ID.",
          "type": "string"
        },
        "routePrefix": {
          "description": "Route prefix.",
          "type": "string"
        }
      }
    },
    "MetricsUnit": {
      "type": "string",
      "description": "The unit of the metric.",
      "enum": [
        "One",
        "Percentage",
        "B",
        "KB",
        "MB",
        "GB",
        "TB"
      ],
      "x-ms-enum": {
        "name": "MetricsUnit",
        "modelAsString": true
      }
    },
    "MetricsSourceType": {
      "type": "string",
      "description": "The origin of the metric.",
      "enum": [
        "PhysicalNode",
        "VirtualMachine",
        "ResourceProvider"
      ],
      "x-ms-enum": {
        "name": "MetricsSourceType",
        "modelAsString": true
      }
    },
    "Metrics": {
      "description": "Metrics for a source.",
      "properties": {
        "name": {
          "description": "Name of the usage metric.",
          "type": "string"
        },
        "maCounterName": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "observedTimestamp": {
          "description": "Time counter was observed.",
          "type": "string",
          "format": "date-time"
        },
        "sourceType": {
          "description": "Type of the source.",
          "type": "string"
        },
        "sourceName": {
          "description": "Name of the source.",
          "$ref": "#/definitions/MetricsSourceType"
        },
        "unit": {
          "description": "Unit for the metric.",
          "$ref": "#/definitions/MetricsUnit"
        },
        "value": {
          "description": "Name of the usage metric.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "UsageMetrics": {
      "description": "Metrics of resource usage.",
      "properties": {
        "name": {
          "description": "Name of the usage metric.",
          "type": "string"
        },
        "metricsValue": {
          "description": "List of usage metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metrics"
          }
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "ResourceRegistrationIdParameter": {
      "description": "Resource registration ID.",
      "name": "resourceRegistrationId",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ServiceRegistrationIdParameter": {
      "description": "Service registration ID.",
      "name": "serviceRegistrationId",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "description": "Name of the region",
      "name": "location",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Resource Healths",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Get",
      "relativePath": "ResourceHealths/Get"
    },
    {
      "displayName": "List",
      "relativePath": "ResourceHealths/List"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}