{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "UpdateAdminClient",
    "description": "Update operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "Update": {
      "description": "Information pertaining to an update.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of an update.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpdateModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "UpdateModel": {
      "description": "Properties of an update.",
      "properties": {
        "installedDate": {
          "description": "Date update was installed.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Description of the update.",
          "type": "string"
        },
        "state": {
          "description": "Current state of the update.",
          "$ref": "#/definitions/UpdateState"
        },
        "kbLink": {
          "description": "Link to the KB article about the update.",
          "type": "string"
        },
        "minVersionRequired": {
          "description": "The minimum version required to install.",
          "type": "string"
        },
        "minOemVersionRequired": {
          "description": "The minimum OEM version required to install.",
          "type": "string"
        },
        "packagePath": {
          "description": "Path to the update package.",
          "type": "string"
        },
        "packageSizeInMb": {
          "description": "Size of update package.",
          "type": "integer",
          "format": "int64"
        },
        "displayName": {
          "description": "Name of the update.",
          "type": "string"
        },
        "version": {
          "description": "Version of the update.",
          "type": "string"
        },
        "oemVersion": {
          "description": "OEM version of the update.",
          "type": "string"
        },
        "publisher": {
          "description": "Publisher of the update.",
          "type": "string"
        }
      }
    },
    "UpdateList": {
      "description": "List of updates.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of updates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Update"
          }
        },
        "nextLink": {
          "description": "URI to the next page of updates.",
          "type": "string"
        }
      }
    },
    "UpdateState": {
      "description": "State of the update.",
      "type": "string",
      "enum": [
        "HasPrerequisite",
        "Obsolete",
        "Ready",
        "NotApplicableBecauseAnotherUpdateIsInProgress",
        "Preparing",
        "Installing",
        "Installed",
        "PreparationFailed",
        "InstallationFailed"
      ],
      "x-ms-enum": {
        "name": "UpdateState",
        "modelAsString": true
      }
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Region location of resource.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "UpdateRunState": {
      "description": "State of the update run.",
      "type": "string",
      "enum": [
        "Unknown",
        "Succeeded",
        "InProgress",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "UpdateRunState",
        "modelAsString": true
      }
    },
    "Step": {
      "description": "Information about each step of the update process.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the step.",
          "type": "string"
        },
        "description": {
          "description": "Description of the step.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message, if any.",
          "type": "string"
        },
        "status": {
          "description": "State of the step.",
          "type": "string"
        },
        "startTimeUtc": {
          "description": "Time at which this step started executing",
          "type": "string",
          "format": "date-time"
        },
        "endTimeUtc": {
          "description": "Time at which this step stopped executing",
          "type": "string",
          "format": "date-time"
        },
        "steps": {
          "description": "Inner steps",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "UpdateRunModel": {
      "description": "Properties of an update run.",
      "type": "object",
      "properties": {
        "progress": {
          "description": "Current progress of the update run.",
          "$ref": "#/definitions/Step"
        },
        "timeStarted": {
          "description": "Update start time.",
          "type": "string",
          "format": "date-time"
        },
        "duration": {
          "description": "Duration of the update.",
          "type": "string"
        },
        "state": {
          "description": "State of the update run.",
          "$ref": "#/definitions/UpdateRunState"
        }
      }
    },
    "UpdateRun": {
      "description": "Representation of a update run resource.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a update run.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpdateRunModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    }
  },
  "parameters": {
    "UpdateParameter": {
      "name": "updateName",
      "description": "Name of the update.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "UpdateLocationParameter": {
      "name": "updateLocation",
      "description": "The name of the update location.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Resource group name.",
      "name": "resourceGroupName",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Updates",
  "x-internal-product-uid": null,
  "x-internal-split-members": [
    {
      "displayName": "Apply",
      "relativePath": "Updates/Apply"
    },
    {
      "displayName": "Get",
      "relativePath": "Updates/Get"
    },
    {
      "displayName": "List",
      "relativePath": "Updates/List"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}