{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/objectDataTypes/{typeName}/fields": {
      "get": {
        "tags": [
          "ObjectDataTypes"
        ],
        "operationId": "ObjectDataTypes_ListFieldsByModuleAndType",
        "description": "Retrieve a list of fields of a given type identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/objectdatatypeoperations"
        },
        "x-ms-examples": {
          "Get a list of fields of a given type": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "MyAutomationAccount",
              "moduleName": "MyModule",
              "typeName": "MyCustomType",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "name": "Name",
                      "type": "System.String"
                    },
                    {
                      "name": "Id",
                      "type": "System.Integer"
                    },
                    {
                      "name": "Details",
                      "type": "MyModule.AnotherCustomType"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "name": "typeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of type."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeFieldListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List Fields By Module And Type"
      }
    }
  },
  "definitions": {
    "ActivityParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional."
        },
        "isDynamic": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is dynamic."
        },
        "position": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the position of the activity parameter."
        },
        "valueFromPipeline": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object."
        },
        "valueFromPipelineByPropertyName": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. "
        },
        "valueFromRemainingArguments": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the activity parameter."
        },
        "validationSet": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameterValidationSet"
          },
          "description": "Gets or sets the validation set of activity parameter."
        }
      },
      "description": "Definition of the activity parameter."
    },
    "ActivityParameterSet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter set."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameter"
          },
          "description": "Gets or sets the parameters of the activity parameter set."
        }
      },
      "description": "Definition of the activity parameter set."
    },
    "ActivityParameterValidationSet": {
      "properties": {
        "memberValue": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter validation set member."
        }
      },
      "description": "Definition of the activity parameter validation set."
    },
    "ActivityOutputType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity output type."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity output type."
        }
      },
      "description": "Definition of the activity output type."
    },
    "ActivityProperties": {
      "properties": {
        "definition": {
          "type": "string",
          "description": "Gets or sets the user name of the activity."
        },
        "parameterSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameterSet"
          },
          "description": "Gets or sets the parameter sets of the activity."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityOutputType"
          },
          "description": "Gets or sets the output types of the activity."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the activity."
    },
    "Activity": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the activity."
        },
        "properties": {
          "$ref": "#/definitions/ActivityProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the activity."
        }
      },
      "description": "Definition of the activity."
    },
    "ActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          },
          "description": "Gets or sets a list of activities."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list activity operation."
    },
    "ModuleErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Module"
          },
          "description": "Gets or sets a list of modules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list module operation."
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "ModuleCreateOrUpdateProperties": {
      "properties": {
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "required": [
        "contentLink"
      ],
      "description": "The parameters supplied to the create or update module properties."
    },
    "ModuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module create properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update module operation."
    },
    "ModuleProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": false
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        },
        "isComposite": {
          "type": "boolean",
          "description": "Gets or sets type of module, if its composite or not."
        }
      },
      "description": "Definition of the module property type."
    },
    "ModuleUpdateProperties": {
      "properties": {
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "description": "The parameters supplied to the update properties."
    },
    "ModuleUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update module operation."
    },
    "Module": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the module type."
    },
    "TypeField": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the field."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the field."
        }
      },
      "description": "Information about a field of a type."
    },
    "TypeFieldListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeField"
          },
          "description": "Gets or sets a list of fields."
        }
      },
      "description": "The response model for the list fields operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Object Data Types",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListFieldsByModuleAndType",
  "x-internal-operation-name": "List Fields By Module And Type"
}