{
  "swagger": "2.0",
  "info": {
    "version": "2017-12-01",
    "title": "MySQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, log files and configurations with new business model."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/configurations": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_ListByServer",
        "x-ms-examples": {
          "ConfigurationList": {
            "parameters": {
              "serverName": "mysqltestsvc1",
              "resourceGroupName": "testrg",
              "api-version": "2017-12-01",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "Indicates the status of the Event Scheduler.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF,DISABLED",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/event_scheduler",
                      "name": "event_scheduler",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "4",
                        "description": "Number of digits by which to increase the scale of the result of division operations.",
                        "defaultValue": "4",
                        "dataType": "Integer",
                        "allowedValues": "0-30",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/div_precision_increment",
                      "name": "div_precision_increment",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1024",
                        "description": "Maximum allowed result length in bytes for the GROUP_CONCAT().",
                        "defaultValue": "1024",
                        "dataType": "Integer",
                        "allowedValues": "4-16777216",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/group_concat_max_len",
                      "name": "group_concat_max_len",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "ON",
                        "description": "Whether innodb adaptive hash indexes are enabled or disabled.",
                        "defaultValue": "ON",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_adaptive_hash_index",
                      "name": "innodb_adaptive_hash_index",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "50",
                        "description": "The length of time in seconds an InnoDB transaction waits for a row lock before giving up.",
                        "defaultValue": "50",
                        "dataType": "Integer",
                        "allowedValues": "1-3600",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_lock_wait_timeout",
                      "name": "innodb_lock_wait_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1800",
                        "description": "Number of seconds the server waits for activity on an interactive connection before closing it.",
                        "defaultValue": "1800",
                        "dataType": "Integer",
                        "allowedValues": "10-1800",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/interactive_timeout",
                      "name": "interactive_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "Logs queries that are expected to retrieve all rows to slow query log.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/log_queries_not_using_indexes",
                      "name": "log_queries_not_using_indexes",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Limits the number of such queries per minute that can be written to the slow query log.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-4294967295",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/log_throttle_queries_not_using_indexes",
                      "name": "log_throttle_queries_not_using_indexes",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "Include slow administrative statements in the statements written to the slow query log.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/log_slow_admin_statements",
                      "name": "log_slow_admin_statements",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "When the slow query log is enabled, this variable enables logging for queries that have taken more than long_query_time seconds to execute on the slave.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/log_slow_slave_statements",
                      "name": "log_slow_slave_statements",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "This variable applies when binary logging is enabled. It controls whether stored function creators can be trusted not to create stored functions that will cause unsafe events to be written to the binary log.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/log_bin_trust_function_creators",
                      "name": "log_bin_trust_function_creators",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "10",
                        "description": "If a query takes longer than this many seconds, the server increments the Slow_queries status variable.",
                        "defaultValue": "10",
                        "dataType": "Numeric",
                        "allowedValues": "0-1E+100",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/long_query_time",
                      "name": "long_query_time",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "Can be used to cause queries which examine fewer than the stated number of rows not to be logged.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-18446744073709551615",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/min_examined_row_limit",
                      "name": "min_examined_row_limit",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "Enable or disable the slow query log",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/slow_query_log",
                      "name": "slow_query_log",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "",
                        "description": "The current server SQL mode.",
                        "defaultValue": "",
                        "dataType": "Set",
                        "allowedValues": ",ALLOW_INVALID_DATES,ANSI_QUOTES,ERROR_FOR_DIVISION_BY_ZERO,HIGH_NOT_PRECEDENCE,IGNORE_SPACE,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_BACKSLASH_ESCAPES,NO_DIR_IN_CREATE,NO_ENGINE_SUBSTITUTION,NO_FIELD_OPTIONS,NO_KEY_OPTIONS,NO_TABLE_OPTIONS,NO_UNSIGNED_SUBTRACTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,PAD_CHAR_TO_FULL_LENGTH,PIPES_AS_CONCAT,REAL_AS_FLOAT,STRICT_ALL_TABLES,STRICT_TRANS_TABLES",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/sql_mode",
                      "name": "sql_mode",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "120",
                        "description": "The number of seconds the server waits for activity on a noninteractive connection before closing it.",
                        "defaultValue": "120",
                        "dataType": "Integer",
                        "allowedValues": "60-86400",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/wait_timeout",
                      "name": "wait_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "120",
                        "description": "The number of seconds the server waits for network reading action, especially for LOAD DATA LOCAL FILE.",
                        "defaultValue": "120",
                        "dataType": "Integer",
                        "allowedValues": "10-3600",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/net_read_timeout",
                      "name": "net_read_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "240",
                        "description": "The number of seconds the server waits for network writing action, especially for LOAD DATA LOCAL FILE.",
                        "defaultValue": "240",
                        "dataType": "Integer",
                        "allowedValues": "10-3600",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/net_write_timeout",
                      "name": "net_write_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1381286943",
                        "description": "The server ID, used in replication to give each master and slave a unique identity.",
                        "defaultValue": "1000",
                        "dataType": "Integer",
                        "allowedValues": "1000-4294967295",
                        "source": "user-override"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/server_id",
                      "name": "server_id",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "536870912",
                        "description": "The maximum size of one packet or any generated/intermediate string, or any parameter sent by the mysql_stmt_send_long_data() C API function.",
                        "defaultValue": "536870912",
                        "dataType": "Integer",
                        "allowedValues": "1024-1073741824",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/max_allowed_packet",
                      "name": "max_allowed_packet",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "60",
                        "description": "The number of seconds to wait for more data from the master before the slave considers the connection broken, aborts the read, and tries to reconnect.",
                        "defaultValue": "60",
                        "dataType": "Integer",
                        "allowedValues": "30-3600",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/slave_net_timeout",
                      "name": "slave_net_timeout",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "SYSTEM",
                        "description": "The server time zone",
                        "defaultValue": "SYSTEM",
                        "dataType": "String",
                        "allowedValues": "[+|-][0]{0,1}[0-9]:[0-5][0-9]|[+|-][1][0-2]:[0-5][0-9]|SYSTEM",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/time_zone",
                      "name": "time_zone",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1000",
                        "description": "Controls how many microseconds the binary log commit waits before synchronizing the binary log file to disk.",
                        "defaultValue": "1000",
                        "dataType": "Integer",
                        "allowedValues": "0,11-1000000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/binlog_group_commit_sync_delay",
                      "name": "binlog_group_commit_sync_delay",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "The maximum number of transactions to wait for before aborting the current delay as specified by binlog-group-commit-sync-delay.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-1000000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/binlog_group_commit_sync_no_delay_count",
                      "name": "binlog_group_commit_sync_no_delay_count",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "latin1",
                        "description": "Use charset_name as the default server character set.",
                        "defaultValue": "latin1",
                        "dataType": "Enumeration",
                        "allowedValues": "BIG5,DEC8,CP850,HP8,KOI8R,LATIN1,LATIN2,SWE7,ASCII,UJIS,SJIS,HEBREW,TIS620,EUCKR,KOI8U,GB2312,GREEK,CP1250,GBK,LATIN5,ARMSCII8,UTF8,UCS2,CP866,KEYBCS2,MACCE,MACROMAN,CP852,LATIN7,UTF8MB4,CP1251,UTF16,CP1256,CP1257,UTF32,BINARY,GEOSTD8,CP932,EUCJPMS",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/character_set_server",
                      "name": "character_set_server",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "262144",
                        "description": "The minimum size of the buffer that is used for plain index scans, range index scans, and joins that do not use indexes and thus perform full table scans.",
                        "defaultValue": "262144",
                        "dataType": "Integer",
                        "allowedValues": "128-2097152",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/join_buffer_size",
                      "name": "join_buffer_size",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "2000",
                        "description": "The number of open tables for all threads.",
                        "defaultValue": "2000",
                        "dataType": "Integer",
                        "allowedValues": "1-4000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/table_open_cache",
                      "name": "table_open_cache",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1",
                        "description": "If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive. If set to 2, table names are stored as given but compared in lowercase.",
                        "defaultValue": "1",
                        "dataType": "Enumeration",
                        "allowedValues": "1,2",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/lower_case_table_names",
                      "name": "lower_case_table_names",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "OFF",
                        "description": "This option places an upper limit on the total size in bytes of all relay logs on the slave.",
                        "defaultValue": "OFF",
                        "dataType": "Enumeration",
                        "allowedValues": "ON,OFF",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/slave_compressed_protocol",
                      "name": "slave_compressed_protocol",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "200",
                        "description": "Sets an upper limit on I/O activity performed by InnoDB background tasks, such as flushing pages from the buffer pool and merging data from the change buffer.",
                        "defaultValue": "200",
                        "dataType": "Integer",
                        "allowedValues": "100-1500",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_io_capacity",
                      "name": "innodb_io_capacity",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "4",
                        "description": "The number of I/O threads for read operations in InnoDB.",
                        "defaultValue": "4",
                        "dataType": "Integer",
                        "allowedValues": "1-64",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_read_io_threads",
                      "name": "innodb_read_io_threads",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "0",
                        "description": "InnoDB tries to keep the number of operating system threads concurrently inside InnoDB less than or equal to the limit given by this variable.",
                        "defaultValue": "0",
                        "dataType": "Integer",
                        "allowedValues": "0-1000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_thread_concurrency",
                      "name": "innodb_thread_concurrency",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "4",
                        "description": "The number of I/O threads for write operations in InnoDB.",
                        "defaultValue": "4",
                        "dataType": "Integer",
                        "allowedValues": "1-64",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_write_io_threads",
                      "name": "innodb_write_io_threads",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "4",
                        "description": "The number of page cleaner threads that flush dirty pages from buffer pool instances.",
                        "defaultValue": "4",
                        "dataType": "Integer",
                        "allowedValues": "1-64",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_page_cleaners",
                      "name": "innodb_page_cleaners",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "134217728",
                        "description": "Specifies an upper limit on the size of the temporary log files used during online DDL operations for InnoDB tables.",
                        "defaultValue": "134217728",
                        "dataType": "Integer",
                        "allowedValues": "65536-2147483648",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_online_alter_log_max_size",
                      "name": "innodb_online_alter_log_max_size",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "",
                        "description": "A string to be executed by the server for each client that connects.",
                        "defaultValue": "",
                        "dataType": "String",
                        "allowedValues": "",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/init_connect",
                      "name": "init_connect",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "REPEATABLE-READ",
                        "description": "The default transaction isolation level.",
                        "defaultValue": "REPEATABLE-READ",
                        "dataType": "Enumeration",
                        "allowedValues": "READ-UNCOMMITTED,READ-COMMITTED,REPEATABLE-READ,SERIALIZABLE",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/tx_isolation",
                      "name": "tx_isolation",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "200",
                        "description": "This variable indicates the number of equality ranges in an equality comparison condition when the optimizer should switch from using index dives to index statistics in estimating the number of qualifying rows.",
                        "defaultValue": "200",
                        "dataType": "Integer",
                        "allowedValues": "0-4294967295",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/eq_range_index_dive_limit",
                      "name": "eq_range_index_dive_limit",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "37",
                        "description": "Specifies the approximate percentage of the InnoDB buffer pool used for the old block sublist.",
                        "defaultValue": "37",
                        "dataType": "Integer",
                        "allowedValues": "5-95",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_old_blocks_pct",
                      "name": "innodb_old_blocks_pct",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1000",
                        "description": "Non-zero values protect against the buffer pool being filled by data that is referenced only for a brief period, such as during a full table scan.",
                        "defaultValue": "1000",
                        "dataType": "Integer",
                        "allowedValues": "0-4294967295",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_old_blocks_time",
                      "name": "innodb_old_blocks_time",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "56",
                        "description": "Controls the sensitivity of linear read-ahead that InnoDB uses to prefetch pages into the buffer pool.",
                        "defaultValue": "56",
                        "dataType": "Integer",
                        "allowedValues": "0-64",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_read_ahead_threshold",
                      "name": "innodb_read_ahead_threshold",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "1024",
                        "description": "The cutoff on the size of index values that determines which filesort algorithm to use.",
                        "defaultValue": "1024",
                        "dataType": "Integer",
                        "allowedValues": "4-8388608",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/max_length_for_sort_data",
                      "name": "max_length_for_sort_data",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "100",
                        "description": "If more than this many successive connection requests from a host are interrupted without a successful connection, the server blocks that host from further connections.",
                        "defaultValue": "100",
                        "dataType": "Integer",
                        "allowedValues": "1-18446744073709551615",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/max_connect_errors",
                      "name": "max_connect_errors",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "10000",
                        "description": "Defines how long InnoDB threads sleep before joining the InnoDB queue, in microseconds.",
                        "defaultValue": "10000",
                        "dataType": "Integer",
                        "allowedValues": "0-1000000",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_thread_sleep_delay",
                      "name": "innodb_thread_sleep_delay",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    },
                    {
                      "properties": {
                        "value": "Barracuda",
                        "description": "Indicates the InnoDB file format for file-per-table tablespaces.",
                        "defaultValue": "Barracuda",
                        "dataType": "Enumeration",
                        "allowedValues": "Antelope,Barracuda",
                        "source": "system-default"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMySQL/servers/mysqltestsvc1/configurations/innodb_file_format",
                      "name": "innodb_file_format",
                      "type": "Microsoft.DBforMySQL/servers/configurations"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "List all the configurations in a given server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Server"
      }
    }
  },
  "definitions": {
    "ServerVersion": {
      "type": "string",
      "description": "The version of a server.",
      "enum": [
        "5.6",
        "5.7"
      ],
      "x-ms-enum": {
        "name": "ServerVersion",
        "modelAsString": true
      }
    },
    "SslEnforcement": {
      "type": "string",
      "description": "Enable ssl enforcement or not when connect to server.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "SslEnforcementEnum",
        "modelAsString": false
      }
    },
    "ProxyResource": {
      "description": "Resource properties.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "Resource properties including location and tags for track resources.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location the resource resides in."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "required": [
        "location"
      ]
    },
    "ServerProperties": {
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation)."
        },
        "version": {
          "$ref": "#/definitions/ServerVersion",
          "description": "Server version."
        },
        "sslEnforcement": {
          "$ref": "#/definitions/SslEnforcement",
          "description": "Enable ssl enforcement or not when connect to server."
        },
        "userVisibleState": {
          "type": "string",
          "description": "A state of a server that is visible to user.",
          "enum": [
            "Ready",
            "Dropping",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ServerState",
            "modelAsString": true
          }
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of a server."
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore point creation time (ISO8601 format)"
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Storage profile of a server."
        }
      },
      "description": "The properties of a server."
    },
    "StorageProfile": {
      "properties": {
        "backupRetentionDays": {
          "type": "integer",
          "description": "Backup retention days for the server."
        },
        "geoRedundantBackup": {
          "type": "string",
          "description": "Enable Geo-redundant or not for server backup.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "GeoRedundantBackup",
            "modelAsString": true
          }
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        }
      },
      "description": "Storage Profile properties of a server"
    },
    "ServerPropertiesForCreate": {
      "discriminator": "createMode",
      "required": [
        "createMode"
      ],
      "properties": {
        "version": {
          "$ref": "#/definitions/ServerVersion",
          "description": "Server version."
        },
        "sslEnforcement": {
          "$ref": "#/definitions/SslEnforcement",
          "description": "Enable ssl enforcement or not when connect to server."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Storage profile of a server."
        },
        "createMode": {
          "type": "string",
          "description": "The mode to create a new server.",
          "enum": [
            "Default",
            "PointInTimeRestore",
            "GeoRestore"
          ],
          "x-ms-enum": {
            "name": "CreateMode",
            "modelAsString": true
          }
        }
      },
      "description": "The properties used to create a new server."
    },
    "ServerPropertiesForDefaultCreate": {
      "x-ms-discriminator-value": "Default",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation)."
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The password of the administrator login."
        }
      },
      "required": [
        "administratorLogin",
        "administratorLoginPassword"
      ],
      "description": "The properties used to create a new server."
    },
    "ServerPropertiesForRestore": {
      "x-ms-discriminator-value": "PointInTimeRestore",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "sourceServerId": {
          "type": "string",
          "description": "The source server id to restore from."
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format), specifying the time to restore from."
        }
      },
      "required": [
        "sourceServerId",
        "restorePointInTime"
      ],
      "description": "The properties used to create a new server by restoring from a backup."
    },
    "ServerPropertiesForGeoRestore": {
      "x-ms-discriminator-value": "GeoRestore",
      "allOf": [
        {
          "$ref": "#/definitions/ServerPropertiesForCreate"
        }
      ],
      "properties": {
        "sourceServerId": {
          "type": "string",
          "description": "The source server id to restore from."
        }
      },
      "required": [
        "sourceServerId"
      ],
      "description": "The properties used to create a new server by restoring to a different region from a geo replicated backup."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sku, typically, tier + family + cores, e.g. B_Gen4_1, GP_Gen5_8."
        },
        "tier": {
          "type": "string",
          "description": "The tier of the particular SKU, e.g. Basic.",
          "enum": [
            "Basic",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "The scale up/out capacity, representing server's compute units."
        },
        "size": {
          "type": "string",
          "description": "The size code, to be interpreted by resource as appropriate."
        },
        "family": {
          "type": "string",
          "description": "The family of hardware."
        }
      },
      "description": "Billing information related properties of a server."
    },
    "Server": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "x-ms-client-flatten": true,
          "description": "Properties of the server."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a server."
    },
    "ServerForCreate": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "$ref": "#/definitions/ServerPropertiesForCreate",
          "x-ms-client-flatten": false,
          "description": "Properties of the server."
        },
        "location": {
          "type": "string",
          "description": "The location the resource resides in."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "required": [
        "properties",
        "location"
      ],
      "description": "Represents a server to be created."
    },
    "ServerUpdateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "properties": {
            "storageProfile": {
              "$ref": "#/definitions/StorageProfile",
              "description": "Storage profile of a server."
            },
            "administratorLoginPassword": {
              "type": "string",
              "format": "password",
              "description": "The password of the administrator login."
            },
            "version": {
              "$ref": "#/definitions/ServerVersion",
              "description": "The version of a server."
            },
            "sslEnforcement": {
              "$ref": "#/definitions/SslEnforcement",
              "description": "Enable ssl enforcement or not when connect to server."
            }
          },
          "x-ms-client-flatten": true,
          "description": "The properties that can be updated for a server."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application-specific metadata in the form of key-value pairs."
        }
      },
      "description": "Parameters allowd to update for a server."
    },
    "ServerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "description": "The list of servers"
        }
      },
      "description": "A list of servers."
    },
    "FirewallRuleProperties": {
      "properties": {
        "startIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The start IP address of the server firewall rule. Must be IPv4 format."
        },
        "endIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The end IP address of the server firewall rule. Must be IPv4 format."
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ],
      "description": "The properties of a server firewall rule."
    },
    "FirewallRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallRuleProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a firewall rule."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "Represents a server firewall rule."
    },
    "FirewallRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          },
          "description": "The list of firewall rules in a server."
        }
      },
      "description": "A list of firewall rules."
    },
    "DatabaseProperties": {
      "properties": {
        "charset": {
          "type": "string",
          "description": "The charset of the database."
        },
        "collation": {
          "type": "string",
          "description": "The collation of the database."
        }
      },
      "description": "The properties of a database."
    },
    "Database": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a database."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of databases housed in a server"
        }
      },
      "description": "A List of databases."
    },
    "ConfigurationProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the configuration."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Description of the configuration."
        },
        "defaultValue": {
          "type": "string",
          "readOnly": true,
          "description": "Default value of the configuration."
        },
        "dataType": {
          "type": "string",
          "readOnly": true,
          "description": "Data type of the configuration."
        },
        "allowedValues": {
          "type": "string",
          "readOnly": true,
          "description": "Allowed values of the configuration."
        },
        "source": {
          "type": "string",
          "description": "Source of the configuration."
        }
      },
      "description": "The properties of a configuration."
    },
    "Configuration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a configuration."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Configuration."
    },
    "ConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "description": "The list of server configurations."
        }
      },
      "description": "A list of server configurations."
    },
    "OperationDisplay": {
      "properties": {
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Operation resource provider name."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Resource on which the operation is performed."
        },
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "Localized friendly name for the operation."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Operation description."
        }
      },
      "description": "Display metadata associated with the operation."
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the operation being performed on this particular object."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "readOnly": true,
          "description": "The localized display information for this particular operation or action."
        },
        "origin": {
          "type": "string",
          "readOnly": true,
          "description": "The intended executor of the operation.",
          "enum": [
            "NotSpecified",
            "user",
            "system"
          ],
          "x-ms-enum": {
            "name": "OperationOrigin",
            "modelAsString": true
          }
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "readOnly": true,
          "x-ms-client-flatten": false,
          "description": "Additional descriptions for the operation."
        }
      },
      "description": "REST API operation definition."
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of resource provider operations."
        }
      },
      "description": "A list of resource provider operations."
    },
    "LogFileProperties": {
      "properties": {
        "sizeInKB": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the log file."
        },
        "createdTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Creation timestamp of the log file."
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Last modified timestamp of the log file."
        },
        "type": {
          "type": "string",
          "description": "Type of the log file."
        },
        "url": {
          "type": "string",
          "description": "The url to download the log file from."
        }
      },
      "description": "The properties of a log file."
    },
    "LogFile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the log file."
        },
        "properties": {
          "$ref": "#/definitions/LogFileProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the log file."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a log file."
    },
    "LogFileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogFile"
          },
          "description": "The list of log files."
        }
      },
      "description": "A list of log files."
    },
    "PerformanceTierServiceLevelObjectives": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID for the service level objective."
        },
        "edition": {
          "type": "string",
          "description": "Edition of the performance tier."
        },
        "vCore": {
          "type": "integer",
          "description": "vCore associated with the service level objective"
        },
        "hardwareGeneration": {
          "type": "string",
          "description": "Hardware generation associated with the service level objective"
        },
        "maxBackupRetentionDays": {
          "type": "integer",
          "description": "Maximum Backup retention in days for the performance tier edition"
        },
        "minBackupRetentionDays": {
          "type": "integer",
          "description": "Minimum Backup retention in days for the performance tier edition"
        },
        "maxStorageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        },
        "minStorageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage allowed for a server."
        }
      },
      "description": "Service level objectives for performance tier."
    },
    "PerformanceTierProperties": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the performance tier."
        },
        "serviceLevelObjectives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerformanceTierServiceLevelObjectives"
          },
          "description": "Service level objectives associated with the performance tier"
        }
      },
      "description": "Performance tier properties"
    },
    "PerformanceTierListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerformanceTierProperties"
          },
          "description": "The list of performance tiers"
        }
      },
      "description": "A list of performance tiers."
    },
    "NameAvailabilityRequest": {
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name to verify."
        },
        "type": {
          "type": "string",
          "description": "Resource type used for verification."
        }
      },
      "description": "Request from client to check resource name availability."
    },
    "NameAvailability": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Error Message."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates whether the resource name is available."
        },
        "reason": {
          "type": "string",
          "description": "Reason for name being unavailable."
        }
      },
      "description": "Represents a resource name availability."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "FirewallRuleNameParameter": {
      "name": "firewallRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server firewall rule.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the database.",
      "x-ms-parameter-location": "method"
    },
    "ConfigurationNameParameter": {
      "name": "configurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server configuration.",
      "x-ms-parameter-location": "method"
    },
    "LocationNameParameter": {
      "name": "locationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the location.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "MySQL",
  "x-internal-toc-name": "Configurations",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Server"
}