{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    },
    "title": "RecoveryServicesClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages": {
      "get": {
        "tags": [
          "VaultUsages"
        ],
        "description": "Fetches the usages of the vault.",
        "operationId": "Usages_ListByVaults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VaultUsageList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Gets vault usages": {
            "parameters": {
              "subscriptionId": "77777777-b0c6-47a2-b37c-d8e65a629c18",
              "resourceGroupName": "Default-RecoveryServices-ResourceGroup",
              "vaultName": "swaggerExample",
              "api-version": "2016-06-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "unit": "Count",
                      "currentValue": 6,
                      "limit": -1,
                      "name": {
                        "value": "MABContainersCount",
                        "localizedValue": "Backup management servers"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 3,
                      "limit": -1,
                      "name": {
                        "value": "ProtectedItemCount",
                        "localizedValue": "Backup items/Azure virtual machine backup"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "ProtectedItemCriticalCount",
                        "localizedValue": "Critical"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "ProtectedItemWarningCount",
                        "localizedValue": "Warning"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "IaaSVMProtectedItemCount",
                        "localizedValue": "Azure Virtual Machines"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "IaaSVMProtectedItemCriticalCount",
                        "localizedValue": "Critical"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "IaaSVMProtectedItemWarningCount",
                        "localizedValue": "Warning"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "MABProtectedItemCount",
                        "localizedValue": "File-Folders"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 1,
                      "limit": -1,
                      "name": {
                        "value": "DPMProtectedItemCount",
                        "localizedValue": "DPM Protected Items Count"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 2,
                      "limit": -1,
                      "name": {
                        "value": "AzureBackupServerProtectedItemCount",
                        "localizedValue": "Azure Backup Server Protected Items Count"
                      }
                    },
                    {
                      "unit": "Count",
                      "quotaPeriod": "P1D",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "InProgressJobsCount",
                        "localizedValue": "In progress"
                      }
                    },
                    {
                      "unit": "Count",
                      "quotaPeriod": "P1D",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "FailedJobsCount",
                        "localizedValue": "Failed"
                      }
                    },
                    {
                      "unit": "Bytes",
                      "currentValue": 117007930,
                      "limit": -1,
                      "name": {
                        "value": "GRSStorageUsage",
                        "localizedValue": "Cloud - GRS"
                      }
                    },
                    {
                      "unit": "Bytes",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "LRSStorageUsage",
                        "localizedValue": "Cloud - LRS"
                      }
                    },
                    {
                      "unit": "Count",
                      "currentValue": 5,
                      "limit": -1,
                      "name": {
                        "value": "ManagedInstances",
                        "localizedValue": "Protected Instances"
                      }
                    },
                    {
                      "unit": "Bytes",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "GRSDedupStorageUsage",
                        "localizedValue": "Dedup - GRS"
                      }
                    },
                    {
                      "unit": "Bytes",
                      "currentValue": 0,
                      "limit": -1,
                      "name": {
                        "value": "LRSDedupStorageUsage",
                        "localizedValue": "Dedup - LRS"
                      }
                    },
                    {
                      "unit": "Bytes",
                      "currentValue": 117851553792,
                      "limit": -1,
                      "name": {
                        "value": "UsedDiskSize",
                        "localizedValue": "Backup Engines' Disk Used"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Vaults"
      }
    }
  },
  "definitions": {
    "VaultUsage": {
      "description": "Usages of a vault.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Unit of the usage.",
          "enum": [
            "Count",
            "Bytes",
            "Seconds",
            "Percent",
            "CountPerSecond",
            "BytesPerSecond"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UsagesUnit",
            "modelAsString": true
          }
        },
        "quotaPeriod": {
          "description": "Quota period of usage.",
          "type": "string"
        },
        "nextResetTime": {
          "format": "date-time",
          "description": "Next reset time of usage.",
          "type": "string"
        },
        "currentValue": {
          "format": "int64",
          "description": "Current value of usage.",
          "type": "integer"
        },
        "limit": {
          "format": "int64",
          "description": "Limit of usage.",
          "type": "integer"
        },
        "name": {
          "$ref": "#/definitions/NameInfo",
          "description": "Name of usage."
        }
      }
    },
    "VaultUsageList": {
      "description": "Usage for vault.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of usages for the given vault.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VaultUsage"
          }
        }
      }
    },
    "NameInfo": {
      "description": "The name of usage.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of usage.",
          "type": "string"
        },
        "localizedValue": {
          "description": "Localized value of usage.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription Id.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group where the recovery services vault is present.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "VaultName": {
      "name": "vaultName",
      "in": "path",
      "description": "The name of the recovery services vault.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "Recovery Services",
  "x-internal-toc-name": "Usages",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Vaults"
}