{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "Edge gateway pool operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all edge gateway pool objects at a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default",
                      "name": "default",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "gatewayType": "S2sIPsec",
                        "numberOfGateways": 1,
                        "redundantGatewayCount": 0,
                        "gatewayCapacityKiloBitsPerSecond": 100000000,
                        "publicIpAddress": "00000000-5555-0000-0001-000000000000",
                        "edgeGateways": [
                          "local/AzS-Gwy01"
                        ]
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "tags": [
          "EdgeGatewayPools"
        ],
        "description": "Returns a list of all edge gateway pool objects at a location.",
        "operationId": "EdgeGatewayPools_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EdgeGatewayPoolList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/EdgeGatewayPool",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "EdgeGatewayPool": {
      "description": "This object represents an edge gateway pool, which contains a list of gateways.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties of an edge gateway pool.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EdgeGatewayPoolModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "EdgeGatewayPoolModel": {
      "description": "An object that contains the properties of an edge gateway pool.",
      "type": "object",
      "properties": {
        "gatewayType": {
          "description": "The gateway type, for example, S2sIPsec, S2sGre, and so on.",
          "type": "string"
        },
        "numberOfGateways": {
          "description": "The number of gateways in the pool.",
          "format": "int32",
          "type": "integer"
        },
        "redundantGatewayCount": {
          "description": "The number of redundant gateways.",
          "format": "int64",
          "type": "integer"
        },
        "gatewayCapacityKiloBitsPerSecond": {
          "description": "Gateway capacity in kilobits per second.",
          "format": "int32",
          "type": "integer"
        },
        "publicIpAddress": {
          "description": "The public IP address.",
          "type": "string"
        },
        "greVipSubnet": {
          "description": "The GRE VIP subnet.",
          "type": "string"
        },
        "edgeGateways": {
          "description": "List of the edge gateways in the pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EdgeGatewayPoolList": {
      "description": "A pageable list of edge gateway pools objects.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of edge gateway pool objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeGatewayPool"
          }
        },
        "nextLink": {
          "description": "The URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "EdgeGatewayPoolParameter": {
      "name": "edgeGatewayPool",
      "description": "Name of the edge gateway pool.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Edge Gateway Pools",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}