{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01-preview",
    "title": "Compute Admin Client"
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/VMExtension": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all Virtual Machine Extension Image.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "api-version": "2015-12-01-preview"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft/types/MicroExtension/versions/0.2.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Linux",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": true,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Compute/types/BGInfo/versions/2.1",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Compute/types/CustomScriptExtension/versions/1.8",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.OSTCExtensions/types/CustomScriptForLinux/versions/1.5.2.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Linux",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Azure.Extensions/types/DockerExtension/versions/1.1.1606092330",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Linux",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Powershell/types/DSC/versions/2.19.0.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Azure.Security/types/IaaSAntimalware/versions/1.4.0.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Azure.Diagnostics/types/IaaSDiagnostics/versions/1.10.1.1",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Compute/types/JsonADDomainExtension/versions/1.3",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.EnterpriseCloud.Monitoring/types/MicrosoftMonitoringAgent/versions/1.0.10900.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.OSTCExtensions/types/OSPatchingForLinux/versions/2.3.0.1",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Linux",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.Compute/types/VMAccessAgent/versions/2.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Windows",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  },
                  {
                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/VMExtension/publishers/Microsoft.OSTCExtensions/types/VMAccessForLinux/versions/1.4.0.0",
                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/VMExtension/publishers/types/versions/",
                    "location": "local",
                    "properties": {
                      "vmOsType": "Linux",
                      "computeRole": "N/A",
                      "vmScaleSetEnabled": false,
                      "supportMultipleExtensions": false,
                      "isSystemExtension": false,
                      "provisioningState": "Succeeded"
                    }
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "VMExtensions"
        ],
        "summary": "Returns a list of all Virtual Machine Extension Images.",
        "description": "List of all Virtual Machine Extension Images for the current location are returned.",
        "operationId": "VMExtensions_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VMExtensionList"
            }
          }
        },
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "VMExtension": {
      "description": "Virtual Machine Extension Image.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Inner properties of a Virtual Machine Extension Image.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VMExtensionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "VMExtensionProperties": {
      "description": "Properties of a Virtual Machine Extension Image.",
      "type": "object",
      "properties": {
        "vmOsType": {
          "description": "Target virtual machine operating system type necessary for deploying the extension handler.",
          "$ref": "#/definitions/OsType"
        },
        "computeRole": {
          "description": "Compute role",
          "type": "string"
        },
        "vmScaleSetEnabled": {
          "description": "Value indicating whether the extension is enabled for virtual machine scale set support.",
          "type": "boolean"
        },
        "supportMultipleExtensions": {
          "description": "True if supports multiple extensions.",
          "type": "boolean"
        },
        "isSystemExtension": {
          "description": "Indicates if the extension is for the system.",
          "type": "boolean"
        },
        "sourceBlob": {
          "description": "URI to Azure or AzureStack blob.",
          "$ref": "#/definitions/AzureBlob"
        },
        "provisioningState": {
          "description": "Provisioning state of extension.",
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "AzureBlob": {
      "description": "Azure or AzureStack blob information.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI to Azure or AzureStack blob.",
          "type": "string"
        }
      }
    },
    "VMExtensionList": {
      "description": "List of virtual machine extensions.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/VMExtension"
      }
    },
    "VMExtensionParameters": {
      "description": "Parameters used to create a new Virtual Machine Extension Image.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a Virtual Machine Extension Image.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VMExtensionProperties"
        }
      }
    },
    "ProvisioningState": {
      "description": "The provisioning state of the resource.",
      "enum": [
        "Creating",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState"
      }
    },
    "OsType": {
      "description": "Operating system type.",
      "enum": [
        "Unknown",
        "Windows",
        "Linux"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "OsType"
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "ID of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of Resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "VMExtensionParameter": {
      "description": "Virtual Machine Extension Image creation properties.",
      "name": "extension",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/VMExtensionParameters"
      },
      "x-ms-parameter-location": "method"
    },
    "TypeParameter": {
      "description": "Type of extension.",
      "name": "type",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2015-12-01-preview"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "VersionParameter": {
      "description": "The version of the resource.",
      "name": "version",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PublisherParameter": {
      "description": "Name of the publisher.",
      "name": "publisher",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "VM Extensions",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}