{
  "swagger": "2.0",
  "info": {
    "version": "2017-04-01",
    "title": "ServiceBusManagementClient",
    "description": "Azure Service Bus client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_List",
        "x-ms-examples": {
          "NameSpaceList": {
            "parameters": {
              "api-version": "2017-04-01",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                      "name": "NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                        "createdAt": "2016-08-23T02:40:17.27Z",
                        "updatedAt": "2017-02-11T07:15:30.78Z",
                        "serviceBusEndpoint": "https://NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                      "name": "NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                        "createdAt": "2016-08-23T03:50:38.98Z",
                        "updatedAt": "2017-02-11T10:42:58.003Z",
                        "serviceBusEndpoint": "https://NS-41dc63f4-0b08-4029-b3ef-535a131bfa65.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
                      "name": "NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-df52cf51-e831-4bf2-bd92-e9885f68a996",
                        "createdAt": "2016-09-16T01:17:54.997Z",
                        "updatedAt": "2017-02-11T06:44:39.737Z",
                        "serviceBusEndpoint": "https://NS-df52cf51-e831-4bf2-bd92-e9885f68a996.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Premium",
                        "tier": "Premium",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPremium",
                      "name": "SBPremium",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbpremium",
                        "createdAt": "2016-10-10T22:01:00.42Z",
                        "updatedAt": "2016-10-10T22:01:00.42Z",
                        "serviceBusEndpoint": "https://SBPremium.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.ServiceBus/namespaces/rrama-ns2",
                      "name": "rrama-ns2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns2",
                        "createdAt": "2016-08-23T04:14:00.013Z",
                        "updatedAt": "2017-02-03T22:53:32.927Z",
                        "serviceBusEndpoint": "https://rrama-ns2.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
                      "name": "NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-20e57600-29d0-4035-ac85-74f4c54dcda1",
                        "createdAt": "2016-08-23T03:30:49.16Z",
                        "updatedAt": "2017-02-11T04:17:58.483Z",
                        "serviceBusEndpoint": "https://NS-20e57600-29d0-4035-ac85-74f4c54dcda1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                      "name": "NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                        "createdAt": "2016-09-16T18:07:30.05Z",
                        "updatedAt": "2017-02-11T10:42:57.747Z",
                        "serviceBusEndpoint": "https://NS-3e538a1a-58fb-4315-b2ce-76f5c944114c.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Premium",
                        "tier": "Premium",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/prem-ns123",
                      "name": "prem-ns123",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:prem-ns123",
                        "createdAt": "2016-09-13T00:02:39.997Z",
                        "updatedAt": "2016-09-13T00:02:39.997Z",
                        "serviceBusEndpoint": "https://prem-ns123.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                      "name": "NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                        "createdAt": "2016-09-16T01:01:58.73Z",
                        "updatedAt": "2017-02-11T03:02:59.8Z",
                        "serviceBusEndpoint": "https://NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                      "name": "NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                        "createdAt": "2016-08-23T03:22:45.327Z",
                        "updatedAt": "2017-02-11T06:08:01.207Z",
                        "serviceBusEndpoint": "https://NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
                      "name": "NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-c05e9df3-7737-44ee-a321-15f6e0545b97",
                        "createdAt": "2016-08-05T03:29:19.75Z",
                        "updatedAt": "2017-02-11T08:10:35.527Z",
                        "serviceBusEndpoint": "https://NS-c05e9df3-7737-44ee-a321-15f6e0545b97.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                      "name": "NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                        "createdAt": "2016-08-05T03:34:35.363Z",
                        "updatedAt": "2017-02-11T05:33:00.957Z",
                        "serviceBusEndpoint": "https://NS-dcb4152c-231b-4c16-a683-07cc6b38fa46.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-f501f5e6-1f24-439b-8982-9af665156d40",
                      "name": "NS-f501f5e6-1f24-439b-8982-9af665156d40",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-f501f5e6-1f24-439b-8982-9af665156d40",
                        "createdAt": "2016-09-16T01:25:55.707Z",
                        "updatedAt": "2017-02-11T07:42:59.687Z",
                        "serviceBusEndpoint": "https://NS-f501f5e6-1f24-439b-8982-9af665156d40.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                      "name": "NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                        "createdAt": "2016-08-23T02:32:08.227Z",
                        "updatedAt": "2017-02-11T06:32:57.77Z",
                        "serviceBusEndpoint": "https://NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                      "name": "NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                        "createdAt": "2016-09-16T00:54:05.103Z",
                        "updatedAt": "2017-02-11T10:43:50.313Z",
                        "serviceBusEndpoint": "https://NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
                      "name": "NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6520cc09-01ac-40a3-bc09-c5c431116e92",
                        "createdAt": "2016-09-16T01:49:59.243Z",
                        "updatedAt": "2017-02-11T08:15:36.95Z",
                        "serviceBusEndpoint": "https://NS-6520cc09-01ac-40a3-bc09-c5c431116e92.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                      "name": "NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                        "createdAt": "2016-08-05T03:23:32.083Z",
                        "updatedAt": "2017-02-11T09:02:57.433Z",
                        "serviceBusEndpoint": "https://NS-bfba6d5c-a425-42d9-85db-0f4da770e29a.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Premium",
                        "tier": "Premium",
                        "capacity": 1
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPrem",
                      "name": "SBPrem",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbprem",
                        "createdAt": "2016-10-10T22:16:30.87Z",
                        "updatedAt": "2016-10-10T22:16:30.87Z",
                        "serviceBusEndpoint": "https://SBPrem.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
                      "name": "NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-43b136b4-8716-40b2-97c5-0d77cac0062c",
                        "createdAt": "2016-08-23T03:14:50.577Z",
                        "updatedAt": "2017-02-11T09:23:01.067Z",
                        "serviceBusEndpoint": "https://NS-43b136b4-8716-40b2-97c5-0d77cac0062c.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7c0443de-5f88-450c-b574-83f60a097dd1",
                      "name": "NS-7c0443de-5f88-450c-b574-83f60a097dd1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7c0443de-5f88-450c-b574-83f60a097dd1",
                        "createdAt": "2016-08-23T04:07:15.397Z",
                        "updatedAt": "2017-02-11T04:03:03.097Z",
                        "serviceBusEndpoint": "https://NS-7c0443de-5f88-450c-b574-83f60a097dd1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                      "name": "NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                        "createdAt": "2016-09-16T01:33:50.45Z",
                        "updatedAt": "2017-02-11T05:35:33.053Z",
                        "serviceBusEndpoint": "https://NS-62dd7753-a5f9-42fd-a354-ca38a4505d69.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ae18a18c-97ab-4089-965d-8acbf4794091",
                      "name": "NS-ae18a18c-97ab-4089-965d-8acbf4794091",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ae18a18c-97ab-4089-965d-8acbf4794091",
                        "createdAt": "2016-08-23T02:43:36.517Z",
                        "updatedAt": "2017-02-11T12:40:30.587Z",
                        "serviceBusEndpoint": "https://NS-ae18a18c-97ab-4089-965d-8acbf4794091.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                      "name": "NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                        "createdAt": "2016-09-16T00:46:03.773Z",
                        "updatedAt": "2017-02-11T04:43:54.56Z",
                        "serviceBusEndpoint": "https://NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                      "name": "NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                        "createdAt": "2016-08-23T03:59:12.1Z",
                        "updatedAt": "2017-02-11T06:33:52.23Z",
                        "serviceBusEndpoint": "https://NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                      "name": "NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                        "createdAt": "2016-08-05T03:45:09.27Z",
                        "updatedAt": "2017-02-11T06:20:31.863Z",
                        "serviceBusEndpoint": "https://NS-d9337efd-9b27-454c-b2a5-dcfea56920d9.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                      "name": "NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                        "createdAt": "2016-08-23T02:34:36.447Z",
                        "updatedAt": "2017-02-11T06:15:31.607Z",
                        "serviceBusEndpoint": "https://NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
                      "name": "NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d447fb03-c7da-40fe-b5eb-14f36888837b",
                        "createdAt": "2016-08-05T00:53:46.697Z",
                        "updatedAt": "2017-02-11T11:09:41.26Z",
                        "serviceBusEndpoint": "https://NS-d447fb03-c7da-40fe-b5eb-14f36888837b.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/ReproSB",
                      "name": "ReproSB",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:reprosb",
                        "createdAt": "2017-02-27T19:29:34.523Z",
                        "updatedAt": "2017-02-27T19:29:58.64Z",
                        "serviceBusEndpoint": "https://ReproSB.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
                      "name": "NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4c90097f-19a8-42e7-bb3c-4ac088994719",
                        "createdAt": "2016-09-16T17:35:32.61Z",
                        "updatedAt": "2017-02-11T09:13:52.27Z",
                        "serviceBusEndpoint": "https://NS-4c90097f-19a8-42e7-bb3c-4ac088994719.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-1-23-17",
                      "name": "rrama-1-23-17",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-1-23-17",
                        "createdAt": "2017-01-23T22:54:40.907Z",
                        "updatedAt": "2017-02-04T00:53:28.777Z",
                        "serviceBusEndpoint": "https://rrama-1-23-17.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                      "name": "NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                        "createdAt": "2016-09-16T17:43:25.71Z",
                        "updatedAt": "2017-02-11T11:05:31.89Z",
                        "serviceBusEndpoint": "https://NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-be903820-3533-46e8-90e4-72c132411848",
                      "name": "NS-be903820-3533-46e8-90e4-72c132411848",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-be903820-3533-46e8-90e4-72c132411848",
                        "createdAt": "2016-08-05T03:24:01.923Z",
                        "updatedAt": "2017-02-11T10:09:42.513Z",
                        "serviceBusEndpoint": "https://NS-be903820-3533-46e8-90e4-72c132411848.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-namespace1",
                      "name": "rrama-namespace1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-namespace1",
                        "createdAt": "2016-08-05T00:47:22.963Z",
                        "updatedAt": "2016-08-05T00:47:27.297Z",
                        "serviceBusEndpoint": "https://rrama-namespace1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                      "name": "NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                        "createdAt": "2016-09-16T00:38:02.517Z",
                        "updatedAt": "2017-02-11T05:03:55.96Z",
                        "serviceBusEndpoint": "https://NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                      "name": "NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                        "createdAt": "2016-08-23T03:42:40.01Z",
                        "updatedAt": "2017-02-11T06:33:02.363Z",
                        "serviceBusEndpoint": "https://NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                      "name": "NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                        "createdAt": "2016-08-05T04:28:10.71Z",
                        "updatedAt": "2017-02-11T08:43:51.587Z",
                        "serviceBusEndpoint": "https://NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                      "name": "sdk-Namespace-2924",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                        "createdAt": "2017-05-25T22:26:36.76Z",
                        "updatedAt": "2017-05-25T22:26:59.35Z",
                        "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-sb1",
                      "name": "rrama-sb1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-sb1",
                        "createdAt": "2017-05-01T21:47:34.903Z",
                        "updatedAt": "2017-05-02T02:10:03.083Z",
                        "serviceBusEndpoint": "https://rrama-sb1.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/WhackWhack",
                      "name": "WhackWhack",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:whackwhack",
                        "createdAt": "2016-10-10T23:39:01.347Z",
                        "updatedAt": "2017-02-04T00:56:32.687Z",
                        "serviceBusEndpoint": "https://WhackWhack.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                      "name": "NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                        "createdAt": "2016-09-16T17:51:27.73Z",
                        "updatedAt": "2017-02-11T08:19:43.383Z",
                        "serviceBusEndpoint": "https://NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                      "name": "NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "South Central US",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                        "createdAt": "2016-08-05T01:14:25.613Z",
                        "updatedAt": "2017-02-11T12:33:01.727Z",
                        "serviceBusEndpoint": "https://NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e.servicebus.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo1",
                      "name": "bn3-rrama-foo1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "East US 2",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo1",
                        "createdAt": "2017-04-28T23:54:26.927Z",
                        "updatedAt": "2017-04-28T23:54:26.927Z",
                        "serviceBusEndpoint": "https://bn3-rrama-foo1.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo3",
                      "name": "bn3-rrama-foo3",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "East US 2",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo3",
                        "createdAt": "2017-04-29T00:24:09.907Z",
                        "updatedAt": "2017-04-29T00:24:33.233Z",
                        "serviceBusEndpoint": "https://bn3-rrama-foo3.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo2",
                      "name": "bn3-rrama-foo2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "East US 2",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Created",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo2",
                        "createdAt": "2017-04-28T23:57:40.82Z",
                        "updatedAt": "2017-04-28T23:57:40.82Z",
                        "serviceBusEndpoint": "https://bn3-rrama-foo2.servicebus.int7.windows-int.net:443/"
                      }
                    },
                    {
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/db3-rrama-foo2",
                      "name": "db3-rrama-foo2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "location": "North Europe",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Succeeded",
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo2",
                        "createdAt": "2017-04-29T00:10:43.463Z",
                        "updatedAt": "2017-04-29T00:11:09.133Z",
                        "serviceBusEndpoint": "https://db3-rrama-foo2.servicebus.int7.windows-int.net:443/"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Gets all the available namespaces within the subscription, irrespective of the resource groups.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespaces successfully returned.",
            "schema": {
              "$ref": "#/definitions/SBNamespaceListResult"
            }
          },
          "default": {
            "description": "ServiceBus error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "TrackedResource": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Geo-location where the resource lives"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "location"
      ],
      "description": "The Resource definition."
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        }
      },
      "x-ms-azure-resource": true,
      "description": "The Resource definition for other than namespace."
    },
    "ResourceNamespacePatch": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "The Resource definition."
    },
    "SBNamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SBNamespace"
          },
          "description": "Result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces."
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "SBNamespace": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/SBSku",
          "description": "Porperties of Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SBNamespaceProperties",
          "description": "Properties of the namespace."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Description of a namespace resource."
    },
    "SBNamespaceUpdateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/SBSku",
          "description": "Porperties of Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SBNamespaceProperties",
          "description": "Properties of the namespace."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceNamespacePatch"
        }
      ],
      "description": "Description of a namespace resource."
    },
    "SBNamespaceProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Provisioning state of the namespace."
        },
        "createdAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "The time the namespace was created."
        },
        "updatedAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "The time the namespace was updated."
        },
        "serviceBusEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Endpoint you can use to perform Service Bus operations."
        },
        "metricId": {
          "readOnly": true,
          "type": "string",
          "description": "Identifier for Azure Insights metrics"
        }
      },
      "description": "Properties of the namespace."
    },
    "SBSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this SKU.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "The billing tier of this particular SKU.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": false
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "The specified messaging units for the tier. For Premium tier, capacity are 1,2 and 4."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU of the namespace."
    },
    "SBAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SBAuthorizationRule"
          },
          "description": "Result of the List Authorization Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Authorization Rules."
        }
      },
      "description": "The response to the List Namespace operation."
    },
    "SBAuthorizationRule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "rights": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Manage",
                  "Send",
                  "Listen"
                ],
                "x-ms-enum": {
                  "name": "AccessRights",
                  "modelAsString": false
                }
              },
              "description": "The rights associated with the rule."
            }
          },
          "required": [
            "rights"
          ],
          "description": "AuthorizationRule properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a namespace authorization rule."
    },
    "AuthorizationRuleProperties": {
      "properties": {
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        }
      },
      "required": [
        "rights"
      ],
      "description": "AuthorizationRule properties."
    },
    "AccessKeys": {
      "properties": {
        "primaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Primary connection string of the created namespace authorization rule."
        },
        "secondaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Secondary connection string of the created namespace authorization rule."
        },
        "aliasPrimaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Primary connection string of the alias if GEO DR is enabled"
        },
        "aliasSecondaryConnectionString": {
          "readOnly": true,
          "type": "string",
          "description": "Secondary  connection string of the alias if GEO DR is enabled"
        },
        "primaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "secondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "keyName": {
          "readOnly": true,
          "type": "string",
          "description": "A string that describes the authorization rule."
        }
      },
      "description": "Namespace/ServiceBus Connection String"
    },
    "RegenerateAccessKeyParameters": {
      "properties": {
        "keyType": {
          "type": "string",
          "description": "The access key to regenerate.",
          "enum": [
            "PrimaryKey",
            "SecondaryKey"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": false
          }
        },
        "key": {
          "type": "string",
          "description": "Optional, if the key value provided, is reset for KeyType value or autogenerate Key value set for keyType"
        }
      },
      "required": [
        "keyType"
      ],
      "description": "Parameters supplied to the Regenerate Authorization Rule operation, specifies which key neeeds to be reset."
    },
    "SBQueueListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SBQueue"
          },
          "description": "Result of the List Queues operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of queues."
        }
      },
      "description": "The response to the List Queues operation."
    },
    "SBQueue": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SBQueueProperties",
          "description": "Queue Properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of queue Resource."
    },
    "SBQueueProperties": {
      "properties": {
        "countDetails": {
          "readOnly": true,
          "$ref": "#/definitions/MessageCountDetails",
          "description": "Message Count Details."
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was created."
        },
        "updatedAt": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was updated."
        },
        "accessedAt": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Last time a message was sent, or the last time there was a receive request to this queue."
        },
        "sizeInBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "The size of the queue, in bytes."
        },
        "messageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "The number of messages in the queue."
        },
        "lockDuration": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 timespan duration of a peek-lock; that is, the amount of time that the message is locked for other receivers. The maximum value for LockDuration is 5 minutes; the default value is 1 minute."
        },
        "maxSizeInMegabytes": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum size of the queue in megabytes, which is the size of memory allocated for the queue. Default is 1024."
        },
        "requiresDuplicateDetection": {
          "type": "boolean",
          "description": "A value indicating if this queue requires duplicate detection."
        },
        "requiresSession": {
          "type": "boolean",
          "description": "A value that indicates whether the queue supports the concept of sessions."
        },
        "defaultMessageTimeToLive": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "deadLetteringOnMessageExpiration": {
          "type": "boolean",
          "description": "A value that indicates whether this queue has dead letter support when a message expires."
        },
        "duplicateDetectionHistoryTimeWindow": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 timeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
        },
        "maxDeliveryCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum delivery count. A message is automatically deadlettered after this number of deliveries. default value is 10."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "autoDeleteOnIdle": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8061 timeSpan idle interval after which the queue is automatically deleted. The minimum duration is 5 minutes."
        },
        "enablePartitioning": {
          "type": "boolean",
          "description": "A value that indicates whether the queue is to be partitioned across multiple message brokers."
        },
        "enableExpress": {
          "type": "boolean",
          "description": "A value that indicates whether Express Entities are enabled. An express queue holds a message in memory temporarily before writing it to persistent storage."
        },
        "forwardTo": {
          "type": "string",
          "description": "Queue/Topic name to forward the messages"
        },
        "forwardDeadLetteredMessagesTo": {
          "type": "string",
          "description": "Queue/Topic name to forward the Dead Letter message"
        }
      },
      "description": "The Queue Properties definition."
    },
    "MessageCountDetails": {
      "type": "object",
      "properties": {
        "activeMessageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of active messages in the queue, topic, or subscription."
        },
        "deadLetterMessageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of messages that are dead lettered."
        },
        "scheduledMessageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of scheduled messages."
        },
        "transferMessageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of messages transferred to another queue, topic, or subscription."
        },
        "transferDeadLetterMessageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of messages transferred into dead letters."
        }
      },
      "description": "Message Count Details."
    },
    "SBTopicListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SBTopic"
          },
          "description": "Result of the List Topics operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of topics."
        }
      },
      "description": "The response to the List Topics operation."
    },
    "SBTopic": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SBTopicProperties",
          "description": "Properties of topic resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of topic resource."
    },
    "SBTopicProperties": {
      "properties": {
        "sizeInBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Size of the topic, in bytes."
        },
        "createdAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Exact time the message was created."
        },
        "updatedAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "The exact time the message was updated."
        },
        "accessedAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Last time the message was sent, or a request was received, for this topic."
        },
        "subscriptionCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Number of subscriptions."
        },
        "countDetails": {
          "readOnly": true,
          "$ref": "#/definitions/MessageCountDetails",
          "description": "Message count deatils"
        },
        "defaultMessageTimeToLive": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "maxSizeInMegabytes": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the topic in megabytes, which is the size of the memory allocated for the topic. Default is 1024."
        },
        "requiresDuplicateDetection": {
          "type": "boolean",
          "description": "Value indicating if this topic requires duplicate detection."
        },
        "duplicateDetectionHistoryTimeWindow": {
          "format": "duration",
          "type": "string",
          "description": "ISO8601 timespan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
        },
        "enableBatchedOperations": {
          "type": "boolean",
          "description": "Value that indicates whether server-side batched operations are enabled."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "supportOrdering": {
          "type": "boolean",
          "description": "Value that indicates whether the topic supports ordering."
        },
        "autoDeleteOnIdle": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 timespan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
        },
        "enablePartitioning": {
          "type": "boolean",
          "description": "Value that indicates whether the topic to be partitioned across multiple message brokers is enabled."
        },
        "enableExpress": {
          "type": "boolean",
          "description": "Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage."
        }
      },
      "description": "The Tpoic Properties definition."
    },
    "SBSubscriptionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SBSubscription"
          },
          "description": "Result of the List Subscriptions operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of subscriptions."
        }
      },
      "description": "The response to the List Subscriptions operation."
    },
    "SBSubscription": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SBSubscriptionProperties",
          "description": "Properties of subscriptions resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of subscription resource."
    },
    "SBSubscriptionProperties": {
      "properties": {
        "messageCount": {
          "readOnly": true,
          "format": "int64",
          "type": "integer",
          "description": "Number of messages."
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Exact time the message was created."
        },
        "accessedAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Last time there was a receive request to this subscription."
        },
        "updatedAt": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "The exact time the message was updated."
        },
        "countDetails": {
          "readOnly": true,
          "$ref": "#/definitions/MessageCountDetails",
          "description": "Message count details"
        },
        "lockDuration": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8061 lock duration timespan for the subscription. The default value is 1 minute."
        },
        "requiresSession": {
          "type": "boolean",
          "description": "Value indicating if a subscription supports the concept of sessions."
        },
        "defaultMessageTimeToLive": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8061 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "deadLetteringOnMessageExpiration": {
          "type": "boolean",
          "description": "Value that indicates whether a subscription has dead letter support when a message expires."
        },
        "duplicateDetectionHistoryTimeWindow": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8601 timeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
        },
        "maxDeliveryCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of maximum deliveries."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "enableBatchedOperations": {
          "type": "boolean",
          "description": "Value that indicates whether server-side batched operations are enabled."
        },
        "autoDeleteOnIdle": {
          "format": "duration",
          "type": "string",
          "description": "ISO 8061 timeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
        },
        "forwardTo": {
          "type": "string",
          "description": "Queue/Topic name to forward the messages"
        },
        "forwardDeadLetteredMessagesTo": {
          "type": "string",
          "description": "Queue/Topic name to forward the Dead Letter message"
        }
      },
      "description": "Description of Subscription Resource."
    },
    "EntityStatus": {
      "type": "string",
      "enum": [
        "Active",
        "Disabled",
        "Restoring",
        "SendDisabled",
        "ReceiveDisabled",
        "Creating",
        "Deleting",
        "Renaming",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "EntityStatus",
        "modelAsString": false
      },
      "description": "Entity status."
    },
    "UnavailableReason": {
      "type": "string",
      "enum": [
        "None",
        "InvalidName",
        "SubscriptionIsDisabled",
        "NameInUse",
        "NameInLockdown",
        "TooManyNamespaceInCurrentSubscription"
      ],
      "x-ms-enum": {
        "name": "UnavailableReason",
        "modelAsString": false
      },
      "description": "Specifies the reason for the unavailability of the service."
    },
    "CheckNameAvailability": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The Name to check the namespce name availability and The namespace name can contain only letters, numbers, and hyphens. The namespace must start with a letter, and it must end with a letter or number."
        }
      },
      "required": [
        "name"
      ],
      "description": "Description of a Check Name availability request properties."
    },
    "CheckNameAvailabilityResult": {
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The detailed info regarding the reason associated with the namespace."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Value indicating namespace is availability, true if the namespace is available; otherwise, false."
        },
        "reason": {
          "$ref": "#/definitions/UnavailableReason",
          "description": "The reason for unavailability of a namespace."
        }
      },
      "description": "Description of a Check Name availability request properties."
    },
    "OperationListResult": {
      "description": "Result of the request to list ServiceBus operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "description": "List of ServiceBus operations supported by the Microsoft.ServiceBus resource provider.",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "A ServiceBus REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "readOnly": true,
              "type": "string",
              "description": "Service provider: Microsoft.ServiceBus"
            },
            "resource": {
              "readOnly": true,
              "type": "string",
              "description": "Resource on which the operation is performed: Invoice, etc."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "Operation type: Read, write, delete, etc."
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error reponse indicates ServiceBus service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Rule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Ruleproperties",
          "description": "Properties of Rule resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of Rule Resource."
    },
    "Ruleproperties": {
      "properties": {
        "action": {
          "$ref": "#/definitions/Action",
          "description": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
        },
        "filterType": {
          "$ref": "#/definitions/FilterType",
          "description": "Filter type that is evaluated against a BrokeredMessage."
        },
        "sqlFilter": {
          "$ref": "#/definitions/SqlFilter",
          "description": "Properties of sqlFilter"
        },
        "correlationFilter": {
          "$ref": "#/definitions/CorrelationFilter",
          "description": "Properties of correlationFilter"
        }
      },
      "description": "Description of Rule Resource."
    },
    "RuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "description": "Result of the List Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of rules"
        }
      },
      "description": "The response of the List rule operation."
    },
    "FilterType": {
      "type": "string",
      "enum": [
        "SqlFilter",
        "CorrelationFilter"
      ],
      "x-ms-enum": {
        "name": "FilterType",
        "modelAsString": false
      },
      "description": "Rule filter types"
    },
    "SqlFilter": {
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "The SQL expression. e.g. MyProperty='ABC'"
        },
        "compatibilityLevel": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "default": 20,
          "description": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents a filter which is a composition of an expression and an action that is executed in the pub/sub pipeline."
    },
    "CorrelationFilter": {
      "type": "object",
      "properties": {
        "correlationId": {
          "type": "string",
          "description": "Identifier of the correlation."
        },
        "messageId": {
          "type": "string",
          "description": "Identifier of the message."
        },
        "to": {
          "type": "string",
          "description": "Address to send to."
        },
        "replyTo": {
          "type": "string",
          "description": "Address of the queue to reply to."
        },
        "label": {
          "type": "string",
          "description": "Application specific label."
        },
        "sessionId": {
          "type": "string",
          "description": "Session identifier."
        },
        "replyToSessionId": {
          "type": "string",
          "description": "Session identifier to reply to."
        },
        "contentType": {
          "type": "string",
          "description": "Content type of the message."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents the correlation filter expression."
    },
    "Action": {
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "SQL expression. e.g. MyProperty='ABC'"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "description": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
    },
    "SqlRuleAction": {
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "SQL expression. e.g. MyProperty='ABC'"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "description": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Action"
        }
      ],
      "description": "Represents set of actions written in SQL language-based syntax that is performed against a ServiceBus.Messaging.BrokeredMessage "
    },
    "PremiumMessagingRegions": {
      "properties": {
        "properties": {
          "properties": {
            "code": {
              "readOnly": true,
              "type": "string",
              "description": "Region code"
            },
            "fullName": {
              "readOnly": true,
              "type": "string",
              "description": "Full name of the region"
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceNamespacePatch"
        }
      ],
      "description": "Premium Messaging Region"
    },
    "PremiumMessagingRegionsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PremiumMessagingRegions"
          },
          "description": "Result of the List PremiumMessagingRegions type."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of PremiumMessagingRegions."
        }
      },
      "description": "The response of the List PremiumMessagingRegions operation."
    },
    "Eventhub": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "partitionIds": {
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Current number of shards on the Event Hub."
            },
            "createdAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "Exact time the Event Hub was created."
            },
            "updatedAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The exact time the message was updated."
            },
            "messageRetentionInDays": {
              "format": "int64",
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to retain the events for this Event Hub, value should be 1 to 7 days"
            },
            "partitionCount": {
              "format": "int64",
              "type": "integer",
              "maximum": 32,
              "minimum": 1,
              "description": "Number of partitions created for the Event Hub, allowed values are from 1 to 32 partitions."
            },
            "status": {
              "type": "string",
              "description": "Enumerates the possible values for the status of the Event Hub.",
              "enum": [
                "Active",
                "Disabled",
                "Restoring",
                "SendDisabled",
                "ReceiveDisabled",
                "Creating",
                "Deleting",
                "Renaming",
                "Unknown"
              ],
              "x-ms-enum": {
                "name": "EntityStatus",
                "modelAsString": false
              }
            },
            "captureDescription": {
              "$ref": "#/definitions/CaptureDescription",
              "description": "Properties of capture description"
            }
          },
          "description": "Properties supplied to the Create Or Update Event Hub operation."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Event Hub operation"
    },
    "EventHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Eventhub"
          },
          "description": "Result of the List EventHubs operation."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of EventHubs."
        }
      },
      "description": "The result of the List EventHubs operation."
    },
    "CaptureDescription": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "A value that indicates whether capture description is enabled. "
        },
        "encoding": {
          "type": "string",
          "description": "Enumerates the possible values for the encoding format of capture description.",
          "enum": [
            "Avro",
            "AvroDeflate"
          ],
          "x-ms-enum": {
            "name": "EncodingCaptureDescription",
            "modelAsString": false
          }
        },
        "intervalInSeconds": {
          "format": "int32",
          "type": "integer",
          "maximum": 900,
          "minimum": 60,
          "description": "The time window allows you to set the frequency with which the capture to Azure Blobs will happen, value should between 60 to 900 seconds"
        },
        "sizeLimitInBytes": {
          "format": "int32",
          "type": "integer",
          "maximum": 524288000,
          "minimum": 10485760,
          "description": "The size window defines the amount of data built up in your Event Hub before an capture operation, value should be between 10485760 and 524288000 bytes"
        },
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "Properties of Destination where capture will be stored. (Storage Account, Blob Names)"
        }
      },
      "description": "Properties to configure capture description for eventhub"
    },
    "Destination": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for capture destination"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "storageAccountResourceId": {
              "type": "string",
              "description": "Resource id of the storage account to be used to create the blobs"
            },
            "blobContainer": {
              "type": "string",
              "description": "Blob container Name"
            },
            "archiveNameFormat": {
              "type": "string",
              "description": "Blob naming convention for archive, e.g. {Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}. Here all the parameters (Namespace,EventHub .. etc) are mandatory irrespective of order"
            }
          },
          "description": "Properties describing the storage account, blob container and acrchive name format for capture destination"
        }
      },
      "description": "Capture storage details for capture description"
    },
    "ArmDisasterRecovery": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "provisioningState": {
              "readOnly": true,
              "type": "string",
              "description": "Provisioning state of the Alias(Disaster Recovery configuration) - possible values 'Accepted' or 'Succeeded' or 'Failed'",
              "enum": [
                "Accepted",
                "Succeeded",
                "Failed"
              ],
              "x-ms-enum": {
                "name": "ProvisioningStateDR",
                "modelAsString": false
              }
            },
            "partnerNamespace": {
              "type": "string",
              "description": "ARM Id of the Primary/Secondary eventhub namespace name, which is part of GEO DR pairning"
            },
            "alternateName": {
              "type": "string",
              "description": "Primary/Secondary eventhub namespace name, which is part of GEO DR pairning"
            },
            "role": {
              "readOnly": true,
              "type": "string",
              "description": "role of namespace in GEO DR - possible values 'Primary' or 'PrimaryNotReplicating' or 'Secondary'",
              "enum": [
                "Primary",
                "PrimaryNotReplicating",
                "Secondary"
              ],
              "x-ms-enum": {
                "name": "RoleDisasterRecovery",
                "modelAsString": false
              }
            }
          },
          "description": "Properties required to the Create Or Update Alias(Disaster Recovery configurations)"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Single item in List or Get Alias(Disaster Recovery configuration) operation"
    },
    "ArmDisasterRecoveryListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmDisasterRecovery"
          },
          "description": "List of Alias(Disaster Recovery configurations)"
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Alias(Disaster Recovery configuration)"
        }
      },
      "description": "The result of the List Alias(Disaster Recovery configuration) operation."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    },
    "namespaceNameParameter": {
      "name": "namespaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 6,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The namespace name"
    },
    "authorizationRuleNameParameter": {
      "name": "authorizationRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The authorizationrule name."
    },
    "queueNameParameter": {
      "name": "queueName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "description": "The queue name."
    },
    "topicNameParameter": {
      "name": "topicName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "description": "The topic name."
    },
    "subscriptionNameParameter": {
      "name": "subscriptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The subscription name."
    },
    "ruleNameParameter": {
      "name": "ruleName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The rule name."
    },
    "skuNameParameter": {
      "name": "sku",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The sku type."
    },
    "aliasNameParameter": {
      "name": "alias",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The Disaster Recovery configuration name"
    }
  },
  "x-internal-service-name": "Service Bus",
  "x-internal-toc-name": "Namespaces",
  "x-internal-split-type": "Operation"
}