{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "termsOfService": "https://dev.applicationinsights.io/tos",
    "contact": {
      "name": "AIAPI Team",
      "url": "https://dev.applicationinsights.io/support",
      "email": "aiapi@microsoft.com"
    },
    "license": {
      "name": "Microsoft",
      "url": "https://dev.applicationinsights.io/license"
    },
    "title": "Application Insights Data Plane",
    "description": "This API exposes AI metric & event information and associated metadata"
  },
  "host": "api.applicationinsights.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/apps/{appId}/metrics/metadata": {
      "get": {
        "operationId": "Metrics_GetMetadata",
        "summary": "Retrieve metric metadata",
        "description": "Gets metadata describing the available metrics",
        "x-ms-examples": {
          "metricMetadata": {
            "title": "Get Metric Metadata",
            "description": "Gets metadata data for metrics.",
            "parameters": {
              "appId": "DEMO_APP"
            },
            "responses": {
              "200": {
                "body": {
                  "metrics": {
                    "requests/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Server requests",
                      "supportedGroupBy": {
                        "all": [
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/DeveloperMode"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "requests/duration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Server response time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/DeveloperMode"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "requests/failed": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Failed requests",
                      "supportedGroupBy": {
                        "all": [
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/DeveloperMode"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "pageViews/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Page views",
                      "supportedGroupBy": {
                        "all": [
                          "pageView/name",
                          "pageView/urlPath",
                          "pageView/urlHost",
                          "pageView/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "pageViews/duration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Page view load time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "pageView/name",
                          "pageView/urlPath",
                          "pageView/urlHost",
                          "pageView/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "browserTimings/networkDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Page load network connect time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "browserTimings/sendDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Send request time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "browserTimings/receiveDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Receiving response time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "browserTimings/processingDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Client processing time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "browserTimings/totalDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Browser page load time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "users/count": {
                      "supportedAggregations": [
                        "unique"
                      ],
                      "displayName": "Users",
                      "supportedGroupBy": {
                        "all": [
                          "trace/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "type",
                          "customDimensions/AgentSession",
                          "customDimensions/AgentVersion",
                          "customDimensions/MachineName",
                          "customDimensions/RunningMode",
                          "customDimensions/Source",
                          "customDimensions/AgentAssemblyVersion",
                          "customDimensions/AgentProcessSession",
                          "customDimensions/HashedMachineName",
                          "customDimensions/DataCube",
                          "customDimensions/DeveloperMode",
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "user/authenticated",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "pageView/name",
                          "pageView/urlPath",
                          "pageView/urlHost",
                          "pageView/performanceBucket",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "customDimensions/Container",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customEvent/name",
                          "customDimensions/EventName",
                          "customDimensions/Page Title",
                          "customDimensions/ServiceProfilerContent",
                          "customDimensions/ExecutingAssemblyFileVersion",
                          "customDimensions/ServiceProfilerVersion",
                          "customDimensions/ProcessId",
                          "customDimensions/RequestId",
                          "customDimensions/RunningSession",
                          "customDimensions/ProblemId",
                          "customDimensions/SnapshotContext",
                          "customDimensions/SnapshotVersion",
                          "customDimensions/Duration",
                          "customDimensions/SnapshotId",
                          "customDimensions/StampId",
                          "customDimensions/DeOptimizationId",
                          "customDimensions/Method",
                          "customDimensions/parentProcessId",
                          "customDimensions/Section",
                          "customDimensions/Configuration",
                          "customDimensions/dumpFolder",
                          "customDimensions/Reason",
                          "customDimensions/ExtensionVersion",
                          "customDimensions/SiteName",
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "customDimensions/FullTestResultAvailable",
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type",
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket"
                        ]
                      },
                      "defaultAggregation": "unique"
                    },
                    "users/authenticated": {
                      "supportedAggregations": [
                        "unique"
                      ],
                      "displayName": "Users, authenticated",
                      "supportedGroupBy": {
                        "all": [
                          "trace/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "type",
                          "customDimensions/AgentSession",
                          "customDimensions/AgentVersion",
                          "customDimensions/MachineName",
                          "customDimensions/RunningMode",
                          "customDimensions/Source",
                          "customDimensions/AgentAssemblyVersion",
                          "customDimensions/AgentProcessSession",
                          "customDimensions/HashedMachineName",
                          "customDimensions/DataCube",
                          "customDimensions/DeveloperMode",
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "user/authenticated",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "pageView/name",
                          "pageView/urlPath",
                          "pageView/urlHost",
                          "pageView/performanceBucket",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "customDimensions/Container",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customEvent/name",
                          "customDimensions/EventName",
                          "customDimensions/Page Title",
                          "customDimensions/ServiceProfilerContent",
                          "customDimensions/ExecutingAssemblyFileVersion",
                          "customDimensions/ServiceProfilerVersion",
                          "customDimensions/ProcessId",
                          "customDimensions/RequestId",
                          "customDimensions/RunningSession",
                          "customDimensions/ProblemId",
                          "customDimensions/SnapshotContext",
                          "customDimensions/SnapshotVersion",
                          "customDimensions/Duration",
                          "customDimensions/SnapshotId",
                          "customDimensions/StampId",
                          "customDimensions/DeOptimizationId",
                          "customDimensions/Method",
                          "customDimensions/parentProcessId",
                          "customDimensions/Section",
                          "customDimensions/Configuration",
                          "customDimensions/dumpFolder",
                          "customDimensions/Reason",
                          "customDimensions/ExtensionVersion",
                          "customDimensions/SiteName",
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "customDimensions/FullTestResultAvailable",
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type",
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket"
                        ]
                      },
                      "defaultAggregation": "unique"
                    },
                    "sessions/count": {
                      "supportedAggregations": [
                        "unique"
                      ],
                      "displayName": "Sessions",
                      "supportedGroupBy": {
                        "all": [
                          "trace/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "type",
                          "customDimensions/AgentSession",
                          "customDimensions/AgentVersion",
                          "customDimensions/MachineName",
                          "customDimensions/RunningMode",
                          "customDimensions/Source",
                          "customDimensions/AgentAssemblyVersion",
                          "customDimensions/AgentProcessSession",
                          "customDimensions/HashedMachineName",
                          "customDimensions/DataCube",
                          "customDimensions/DeveloperMode",
                          "request/source",
                          "request/name",
                          "request/urlHost",
                          "request/urlPath",
                          "request/success",
                          "request/resultCode",
                          "request/performanceBucket",
                          "user/authenticated",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "pageView/name",
                          "pageView/urlPath",
                          "pageView/urlHost",
                          "pageView/performanceBucket",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "customDimensions/Container",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customEvent/name",
                          "customDimensions/EventName",
                          "customDimensions/Page Title",
                          "customDimensions/ServiceProfilerContent",
                          "customDimensions/ExecutingAssemblyFileVersion",
                          "customDimensions/ServiceProfilerVersion",
                          "customDimensions/ProcessId",
                          "customDimensions/RequestId",
                          "customDimensions/RunningSession",
                          "customDimensions/ProblemId",
                          "customDimensions/SnapshotContext",
                          "customDimensions/SnapshotVersion",
                          "customDimensions/Duration",
                          "customDimensions/SnapshotId",
                          "customDimensions/StampId",
                          "customDimensions/DeOptimizationId",
                          "customDimensions/Method",
                          "customDimensions/parentProcessId",
                          "customDimensions/Section",
                          "customDimensions/Configuration",
                          "customDimensions/dumpFolder",
                          "customDimensions/Reason",
                          "customDimensions/ExtensionVersion",
                          "customDimensions/SiteName",
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "customDimensions/FullTestResultAvailable",
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type",
                          "browserTiming/name",
                          "browserTiming/urlHost",
                          "browserTiming/urlPath",
                          "browserTiming/performanceBucket"
                        ]
                      },
                      "defaultAggregation": "unique"
                    },
                    "customEvents/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Events",
                      "supportedGroupBy": {
                        "all": [
                          "customEvent/name",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/EventName",
                          "customDimensions/Page Title",
                          "customDimensions/ServiceProfilerContent",
                          "customDimensions/ExecutingAssemblyFileVersion",
                          "customDimensions/ServiceProfilerVersion",
                          "customDimensions/DeveloperMode",
                          "customDimensions/ProcessId",
                          "customDimensions/RequestId",
                          "customDimensions/RunningSession",
                          "customDimensions/ProblemId",
                          "customDimensions/SnapshotContext",
                          "customDimensions/SnapshotVersion",
                          "customDimensions/Duration",
                          "customDimensions/SnapshotId",
                          "customDimensions/StampId",
                          "customDimensions/DeOptimizationId",
                          "customDimensions/Method",
                          "customDimensions/parentProcessId",
                          "customDimensions/Section",
                          "customDimensions/Configuration",
                          "customDimensions/dumpFolder",
                          "customDimensions/Reason",
                          "customDimensions/ExtensionVersion",
                          "customDimensions/SiteName"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "dependencies/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Dependency calls",
                      "supportedGroupBy": {
                        "all": [
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/Container",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "dependencies/failed": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Dependency failures",
                      "supportedGroupBy": {
                        "all": [
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/Container",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "dependencies/duration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Dependency duration",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "dependency/target",
                          "dependency/type",
                          "dependency/name",
                          "dependency/success",
                          "dependency/resultCode",
                          "dependency/performanceBucket",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/Container",
                          "customDimensions/_MS.ProcessedByMetricExtractors",
                          "customDimensions/Blob",
                          "customDimensions/ErrorMessage",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "exceptions/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Exceptions",
                      "supportedGroupBy": {
                        "all": [
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/_MS.ProcessedByMetricExtractors"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "exceptions/browser": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Browser exceptions",
                      "supportedGroupBy": {
                        "all": [
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/_MS.ProcessedByMetricExtractors"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "exceptions/server": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Server exceptions",
                      "supportedGroupBy": {
                        "all": [
                          "exception/problemId",
                          "exception/handledAt",
                          "exception/type",
                          "exception/assembly",
                          "exception/method",
                          "exception/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/url",
                          "customDimensions/ai.snapshot.stampid",
                          "customDimensions/ai.snapshot.id",
                          "customDimensions/ai.snapshot.version",
                          "customDimensions/DeveloperMode",
                          "customDimensions/IbizaSessionId",
                          "customDimensions/PartInstance",
                          "customDimensions/ai.snapshot.planid",
                          "customDimensions/_MS.Example",
                          "customDimensions/_MS.ProcessedByMetricExtractors"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "availabilityResults/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Availability test results count",
                      "supportedGroupBy": {
                        "all": [
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/FullTestResultAvailable"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "availabilityResults/duration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "Test duration",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/FullTestResultAvailable"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "availabilityResults/availabilityPercentage": {
                      "supportedAggregations": [
                        "avg",
                        "count"
                      ],
                      "displayName": "Availability",
                      "units": "percent",
                      "supportedGroupBy": {
                        "all": [
                          "availabilityResult/name",
                          "availabilityResult/location",
                          "availabilityResult/success",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/FullTestResultAvailable"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "billingMeters/telemetryCount": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Data point count",
                      "supportedGroupBy": {
                        "all": [
                          "billing/telemetryItemSource",
                          "billing/telemetryItemType"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "billingMeters/telemetrySize": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Data point volume",
                      "units": "bytes",
                      "supportedGroupBy": {
                        "all": [
                          "billing/telemetryItemSource",
                          "billing/telemetryItemType"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "performanceCounters/requestExecutionTime": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count"
                      ],
                      "displayName": "ASP.NET request execution time",
                      "units": "ms",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/requestsPerSecond": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "ASP.NET request rate",
                      "units": "perSec",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/requestsInQueue": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "ASP.NET requests in application queue",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/memoryAvailableBytes": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Available memory",
                      "units": "bytes",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/exceptionsPerSecond": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Exception rate",
                      "units": "perSec",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/processCpuPercentage": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Process CPU",
                      "units": "percent",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/processCpuPercentageTotal": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Process CPU (all cores)",
                      "units": "percent",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/processIOBytesPerSecond": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Process IO rate",
                      "units": "bytesPerSec",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/processPrivateBytes": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Process private bytes",
                      "units": "bytes",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "performanceCounters/processorCpuPercentage": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "count"
                      ],
                      "displayName": "Processor time",
                      "units": "percent",
                      "supportedGroupBy": {
                        "all": [
                          "performanceCounter/name",
                          "performanceCounter/category",
                          "performanceCounter/counter",
                          "performanceCounter/instance",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/CounterInstanceName",
                          "customDimensions/CustomPerfCounter"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "traces/count": {
                      "supportedAggregations": [
                        "sum"
                      ],
                      "displayName": "Traces",
                      "supportedGroupBy": {
                        "all": [
                          "trace/severityLevel",
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/AgentSession",
                          "customDimensions/AgentVersion",
                          "customDimensions/MachineName",
                          "customDimensions/RunningMode",
                          "customDimensions/Source",
                          "customDimensions/AgentAssemblyVersion",
                          "customDimensions/AgentProcessSession",
                          "customDimensions/HashedMachineName",
                          "customDimensions/DataCube",
                          "customDimensions/DeveloperMode"
                        ]
                      },
                      "defaultAggregation": "sum"
                    },
                    "customMetrics/Dependency duration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "Dependency duration",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/Exceptions thrown": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "Exceptions thrown",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/Server response time": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "Server response time",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/AzureDependencyFailureRate5Min": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "AzureDependencyFailureRate5Min",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/AzureBlobSuccessRate": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "AzureBlobSuccessRate",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/Customer Lead Time": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "Customer Lead Time",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/ChrisRequestDuration": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "ChrisRequestDuration",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/AvgResponseTime": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "AvgResponseTime",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/CriticalOperationFailureRate": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "CriticalOperationFailureRate",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/CritFailureRate2": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "CritFailureRate2",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/Blah": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "Blah",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/SyntheticExceptions": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "SyntheticExceptions",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/test01": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "test01",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/PredictedPerformanceOnNextHour": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
                      "displayName": "PredictedPerformanceOnNextHour",
                      "supportedGroupBy": {
                        "all": [
                          "operation/name",
                          "operation/synthetic",
                          "operation/syntheticSource",
                          "user/authenticated",
                          "application/version",
                          "client/type",
                          "client/model",
                          "client/os",
                          "client/city",
                          "client/stateOrProvince",
                          "client/countryOrRegion",
                          "client/browser",
                          "cloud/roleName",
                          "cloud/roleInstance",
                          "customDimensions/SA_OriginAppId",
                          "customDimensions/baseSdkTargetFramework",
                          "customDimensions/runtimeFramework",
                          "customDimensions/DeveloperMode",
                          "customDimensions/_MS.AggregationIntervalMs",
                          "customDimensions/problemId",
                          "customDimensions/operationName",
                          "customDimensions/Request.Success",
                          "customDimensions/_MS.MetricId",
                          "customDimensions/Dependency.Success",
                          "customDimensions/_MS.IsAutocollected",
                          "customDimensions/Dependency.Type"
                        ]
                      },
                      "defaultAggregation": "avg"
                    },
                    "customMetrics/HeartbeatState": {
                      "supportedAggregations": [
                        "avg",
                        "min",
                        "max",
                        "sum",
                        "count",
                        "unique"
                      ],
[...]
