{
  "swagger": "2.0",
  "info": {
    "title": "ServiceBusManagementClient",
    "description": "Azure Service Bus client",
    "version": "2015-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListAll",
        "description": "Lsit all the subscriptions under a specified topic.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "topicName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The topic name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of subscriptions.",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_CreateOrUpdate",
        "description": "Creates a topic subscription.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "topicName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The topic name."
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create a subscription resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription create request accepted.",
            "schema": {
              "$ref": "#/definitions/SubscriptionResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Delete",
        "description": "Deletes a subscription from the specified topic.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "topicName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The topic name."
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "200": {
            "description": "Subscription successfully deleted."
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Returns a subscription description for the specified topic.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "topicName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The topic name."
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved subscription description.",
            "schema": {
              "$ref": "#/definitions/SubscriptionResource"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "NamespaceCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Namespace location."
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Namespace tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Namespace operation."
    },
    "NamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "description": "Result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces."
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "NamespaceResource": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a namespace resource."
    },
    "NamespaceProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the namespace."
        },
        "status": {
          "type": "string",
          "description": "State of the namespace.",
          "enum": [
            "Unknown",
            "Creating",
            "Created",
            "Activating",
            "Enabling",
            "Active",
            "Disabling",
            "Disabled",
            "SoftDeleting",
            "SoftDeleted",
            "Removing",
            "Removed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "NamespaceState",
            "modelAsString": false
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was created."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was updated."
        },
        "serviceBusEndpoint": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Endpoint you can use to perform Service Bus operations."
        },
        "createACSNamespace": {
          "type": "boolean",
          "description": "Indicates whether to create an ACS namespace."
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether this instance is enabled."
        }
      },
      "description": "Properties of the namespace."
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this SKU.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "The billing tier of this particular SKU.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "The specified messaging units for the tier."
        }
      },
      "required": [
        "tier"
      ],
      "description": "SKU of the namespace."
    },
    "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "data center location."
        },
        "name": {
          "type": "string",
          "description": "Name of the authorization rule."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
        }
      },
      "description": "Parameters supplied to the Create Or Update Authorization Rules operation."
    },
    "SharedAccessAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "description": "Result of the List Authorization Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Authorization Rules."
        }
      },
      "description": "The response to the List Namespace operation."
    },
    "SharedAccessAuthorizationRuleResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a namespace authorization rule."
    },
    "SharedAccessAuthorizationRuleProperties": {
      "properties": {
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        }
      },
      "required": [
        "rights"
      ],
      "description": "SharedAccessAuthorizationRule properties."
    },
    "ResourceListKeys": {
      "properties": {
        "primaryConnectionString": {
          "type": "string",
          "description": "Primary connection string of the created namespace authorization rule."
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "Secondary connection string of the created namespace authorization rule."
        },
        "primaryKey": {
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "secondaryKey": {
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "keyName": {
          "type": "string",
          "description": "A string that describes the authorization rule."
        }
      },
      "description": "Namespace/ServiceBus Connection String"
    },
    "RegenerateKeysParameters": {
      "properties": {
        "Policykey": {
          "type": "string",
          "description": "Key that needs to be regenerated.",
          "enum": [
            "PrimaryKey",
            "SecondaryKey"
          ],
          "x-ms-enum": {
            "name": "Policykey",
            "modelAsString": false
          }
        }
      },
      "description": "Parameters supplied to the Regenerate Authorization Rule operation."
    },
    "QueueCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Queue name."
        },
        "location": {
          "type": "string",
          "description": "location of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QueueProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Queue operation."
    },
    "QueueListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueueResource"
          },
          "description": "Result of the List Queues operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of queues."
        }
      },
      "description": "The response to the List Queues operation."
    },
    "QueueResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QueueProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of queue Resource."
    },
    "QueueProperties": {
      "properties": {
        "lockDuration": {
          "type": "string",
          "description": "The duration of a peek-lock; that is, the amount of time that the message is locked for other receivers. The maximum value for LockDuration is 5 minutes; the default value is 1 minute."
        },
        "accessedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last time a message was sent, or the last time there was a receive request to this queue."
        },
        "autoDeleteOnIdle": {
          "type": "string",
          "description": "the TimeSpan idle interval after which the queue is automatically deleted. The minimum duration is 5 minutes."
        },
        "entityAvailabilityStatus": {
          "$ref": "#/definitions/EntityAvailabilityStatus",
          "description": "Entity availability status for the queue."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was created."
        },
        "defaultMessageTimeToLive": {
          "type": "string",
          "description": "The default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "duplicateDetectionHistoryTimeWindow": {
          "type": "string",
          "description": "TimeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
        },
        "enableBatchedOperations": {
          "type": "boolean",
          "description": "A value that indicates whether server-side batched operations are enabled."
        },
        "deadLetteringOnMessageExpiration": {
          "type": "boolean",
          "description": "A value that indicates whether this queue has dead letter support when a message expires."
        },
        "enableExpress": {
          "type": "boolean",
          "description": "A value that indicates whether Express Entities are enabled. An express queue holds a message in memory temporarily before writing it to persistent storage."
        },
        "enablePartitioning": {
          "type": "boolean",
          "description": "A value that indicates whether the queue is to be partitioned across multiple message brokers."
        },
        "isAnonymousAccessible": {
          "type": "boolean",
          "description": "A value that indicates whether the message is accessible anonymously."
        },
        "maxDeliveryCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum delivery count. A message is automatically deadlettered after this number of deliveries."
        },
        "maxSizeInMegabytes": {
          "format": "int64",
          "type": "integer",
          "description": "The maximum size of the queue in megabytes, which is the size of memory allocated for the queue."
        },
        "messageCount": {
          "format": "int64",
          "type": "integer",
          "description": "The number of messages in the queue."
        },
        "countDetails": {
          "$ref": "#/definitions/MessageCountDetails"
        },
        "requiresDuplicateDetection": {
          "type": "boolean",
          "description": "A value indicating if this queue requires duplicate detection."
        },
        "requiresSession": {
          "type": "boolean",
          "description": "A value that indicates whether the queue supports the concept of sessions."
        },
        "sizeInBytes": {
          "format": "int64",
          "type": "integer",
          "description": "The size of the queue, in bytes."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "supportOrdering": {
          "type": "boolean",
          "description": "A value that indicates whether the queue supports ordering."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was updated."
        }
      }
    },
    "MessageCountDetails": {
      "type": "object",
      "properties": {
        "activeMessageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of active messages in the queue, topic, or subscription."
        },
        "deadLetterMessageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of messages that are dead lettered."
        },
        "scheduledMessageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of scheduled messages."
        },
        "transferDeadLetterMessageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of messages transferred into dead letters."
        },
        "transferMessageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of messages transferred to another queue, topic, or subscription."
        }
      },
      "description": "Message Count Details."
    },
    "TopicCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Topic name."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TopicProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Topic operation."
    },
    "TopicListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TopicResource"
          },
          "description": "Result of the List Topics operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of topics."
        }
      },
      "description": "The response to the List Topics operation."
    },
    "TopicResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TopicProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of topic resource."
    },
    "TopicProperties": {
      "properties": {
        "accessedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last time the message was sent, or a request was received, for this topic."
        },
        "autoDeleteOnIdle": {
          "type": "string",
          "description": "TimeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
        },
        "entityAvailabilityStatus": {
          "$ref": "#/definitions/EntityAvailabilityStatus",
          "description": "Entity availability status for the topic."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Exact time the message was created."
        },
        "countDetails": {
          "$ref": "#/definitions/MessageCountDetails"
        },
        "defaultMessageTimeToLive": {
          "type": "string",
          "description": "Default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "duplicateDetectionHistoryTimeWindow": {
          "type": "string",
          "description": "TimeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
        },
        "enableBatchedOperations": {
          "type": "boolean",
          "description": "Value that indicates whether server-side batched operations are enabled."
        },
        "enableExpress": {
          "type": "boolean",
          "description": "Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage."
        },
        "enablePartitioning": {
          "type": "boolean",
          "description": "Value that indicates whether the topic to be partitioned across multiple message brokers is enabled."
        },
        "enableSubscriptionPartitioning": {
          "type": "boolean",
          "description": "Value that indicates whether partitioning is enabled or disabled."
        },
        "filteringMessagesBeforePublishing": {
          "type": "boolean",
          "description": "Whether messages should be filtered before publishing."
        },
        "isAnonymousAccessible": {
          "type": "boolean",
          "description": "Value that indicates whether the message is accessible anonymously."
        },
        "isExpress": {
          "type": "boolean",
          "description": ""
        },
        "maxSizeInMegabytes": {
          "format": "int64",
          "type": "integer",
          "description": "Maximum size of the topic in megabytes, which is the size of the memory allocated for the topic."
        },
        "requiresDuplicateDetection": {
          "type": "boolean",
          "description": "Value indicating if this topic requires duplicate detection."
        },
        "sizeInBytes": {
          "format": "int64",
          "type": "integer",
          "description": "Size of the topic, in bytes."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "subscriptionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of subscriptions."
        },
        "supportOrdering": {
          "type": "boolean",
          "description": "Value that indicates whether the topic supports ordering."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was updated."
        }
      }
    },
    "SubscriptionCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Subscription data center location."
        },
        "type": {
          "type": "string",
          "description": "Resource manager type of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriptionProperties"
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create Or Update Subscription operation."
    },
    "SubscriptionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionResource"
          },
          "description": "Result of the List Subscriptions operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of subscriptions."
        }
      },
      "description": "The response to the List Subscriptions operation."
    },
    "SubscriptionResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriptionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of subscription resource."
    },
    "SubscriptionProperties": {
      "properties": {
        "accessedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last time there was a receive request to this subscription."
        },
        "autoDeleteOnIdle": {
          "type": "string",
          "description": "TimeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
        },
        "countDetails": {
          "$ref": "#/definitions/MessageCountDetails"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Exact time the message was created."
        },
        "defaultMessageTimeToLive": {
          "type": "string",
          "description": "Default message time to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
        },
        "deadLetteringOnFilterEvaluationExceptions": {
          "type": "boolean",
          "description": "Value that indicates whether a subscription has dead letter support on filter evaluation exceptions."
        },
        "deadLetteringOnMessageExpiration": {
          "type": "boolean",
          "description": "Value that indicates whether a subscription has dead letter support when a message expires."
        },
        "enableBatchedOperations": {
          "type": "boolean",
          "description": "Value that indicates whether server-side batched operations are enabled."
        },
        "entityAvailabilityStatus": {
          "$ref": "#/definitions/EntityAvailabilityStatus",
          "description": "Entity availability status for the topic."
        },
        "isReadOnly": {
          "type": "boolean",
          "description": "Value that indicates whether the entity description is read-only."
        },
        "lockDuration": {
          "type": "string",
          "description": "The lock duration time span for the subscription."
        },
        "maxDeliveryCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of maximum deliveries."
        },
        "messageCount": {
          "format": "int64",
          "type": "integer",
          "description": "Number of messages."
        },
        "requiresSession": {
          "type": "boolean",
          "description": "Value indicating if a subscription supports the concept of sessions."
        },
        "status": {
          "$ref": "#/definitions/EntityStatus",
          "description": "Enumerates the possible values for the status of a messaging entity."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The exact time the message was updated."
        }
      },
      "description": "Description of Subscription Resource."
    },
    "EntityAvailabilityStatus": {
      "type": "string",
      "enum": [
        "Available",
        "Limited",
        "Renaming",
        "Restoring",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "EntityAvailabilityStatus",
        "modelAsString": false
      },
      "description": "Entity availability status."
    },
    "EntityStatus": {
      "type": "string",
      "enum": [
        "Active",
        "Creating",
        "Deleting",
        "Disabled",
        "ReceiveDisabled",
        "Renaming",
        "Restoring",
        "SendDisabled",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "EntityStatus",
        "modelAsString": false
      },
      "description": "Entity status."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  }
}