{
  "swagger": "2.0",
  "info": {
    "version": "2016-01-01",
    "title": "AzureBridgeAdminClient",
    "description": "AzureBridge Admin Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}": {
      "get": {
        "x-ms-examples": {
          "Gets the specified downloaded product.": {
            "parameters": {
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "location": "local",
              "api-version": "2015-06-01-preview",
              "resourceGroup": "azurestack",
              "activationName": "default",
              "productName": "Canonical.UbuntuServer1710-ARM.1.0.6"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6",
                  "name": "default/Canonical.UbuntuServer1710-ARM.1.0.6",
                  "type": "Microsoft.AzureBridge.Admin/activations/downloadedProducts",
                  "properties": {
                    "displayName": "Ubuntu Server 17.10",
                    "description": "Ubuntu Server 17.10 amd64 20180109 Public Azure, 20180109 Azure China, 20180109 Azure Germany. Ubuntu Server is the world's most popular Linux for cloud environments. Updates and patches for Ubuntu 17.10 will be available until July 2018.  Ubuntu Server is the perfect virtual machine (VM) platform for all workloads from web applications to NoSQL databases and Hadoop. For more information see <a href='http://partners.ubuntu.com/microsoft' target='_blank'>Ubuntu on Azure</a> and <a href='http://juju.ubuntu.com' target='_blank'>using Juju to deploy your workloads</a>.<p><h3 class='msportalfx-text-header'>Legal Terms</h3></p><p>By clicking the Create button, I acknowledge that I am getting this software from Canonical and that the <a href='http://www.ubuntu.com/project/about-ubuntu/licensing' target='_blank'>legal terms</a> of Canonical apply to it. Microsoft does not provide rights for third-party software. Also see the <a href='http://www.ubuntu.com/aboutus/privacypolicy' target='_blank'>privacy statement</a> from Canonical.</p>",
                    "publisherDisplayName": "Canonical",
                    "publisherIdentifier": "Canonical",
                    "provisioningState": "Downloading",
                    "offer": "UbuntuServer",
                    "offerVersion": "1.0.6",
                    "sku": "17.10",
                    "billingPartNumber": "",
                    "galleryItemIdentity": "Canonical.UbuntuServer1710-ARM.1.0.6",
                    "iconUris": {
                      "large": "https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png",
                      "wide": "https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png",
                      "medium": "https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png",
                      "small": "https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png"
                    },
                    "links": [
                      {
                        "displayName": "Linux VM Documentation",
                        "uri": "https://docs.microsoft.com/azure/virtual-machines/linux/"
                      },
                      {
                        "displayName": "Ubuntu Documentation",
                        "uri": "https://help.ubuntu.com/17.10/index.html"
                      },
                      {
                        "displayName": "FAQ",
                        "uri": "https://help.ubuntu.com/community/ServerFaq"
                      },
                      {
                        "displayName": "Pricing details",
                        "uri": "http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux"
                      }
                    ],
                    "legalTerms": "http://www.ubuntu.com/project/about-ubuntu/licensing",
                    "privacyPolicy": "http://www.ubuntu.com/aboutus/privacypolicy",
                    "payloadLength": 32212288186,
                    "productKind": "VirtualMachine",
                    "productProperties": {
                      "version": "17.10.201801090"
                    }
                  }
                }
              },
              "404": {}
            }
          }
        },
        "description": "Get a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "DownloadedProductResourcesPage": {
      "description": "Holds an array of downloaded products and the URI to the next page.",
      "properties": {
        "value": {
          "description": "Array of downloaded products.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DownloadedProductResource"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    },
    "CompatibilityIssue": {
      "description": "Compatibility issue",
      "type": "string",
      "enum": [
        "HigherDeviceVersionRequired",
        "LowerDeviceVersionRequired",
        "CapacityBillingModelRequired",
        "PayAsYouGoBillingModelRequired",
        "DevelopmentBillingModelRequired",
        "AzureADIdentitySystemRequired",
        "ADFSIdentitySystemRequired",
        "ConnectionToInternetRequired",
        "ConnectionToAzureRequired",
        "DisconnectedEnvironmentRequired"
      ],
      "x-ms-enum": {
        "name": "CompatibilityIssue",
        "modelAsString": true
      }
    },
    "Compatibility": {
      "description": "Product compatibility",
      "type": "object",
      "properties": {
        "isCompatible": {
          "description": "Tells if product is compatible with current device",
          "type": "boolean"
        },
        "message": {
          "description": "Short error message if any compatibility issues are found",
          "type": "string"
        },
        "description": {
          "description": "Full error message if any compatibility issues are found",
          "type": "string"
        },
        "issues": {
          "description": "List of all issues found",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompatibilityIssue"
          }
        }
      }
    },
    "ProductProperties": {
      "description": "Additional properties of the product",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the product",
          "type": "string"
        }
      }
    },
    "GalleryIcons": {
      "description": "Icons for the gallery items.",
      "type": "object",
      "properties": {
        "hero": {
          "description": "The hero (815x290) icon relative path.",
          "type": "string"
        },
        "large": {
          "description": "The large (115x115) icon relative path.",
          "type": "string"
        },
        "wide": {
          "description": "The wide (255x115) icon relative path.",
          "type": "string"
        },
        "medium": {
          "description": "The medium (90x90) icon relative path.",
          "type": "string"
        },
        "small": {
          "description": "The small (40x40) icon relative path.",
          "type": "string"
        }
      }
    },
    "DataDiskImage": {
      "description": "Data disk image.",
      "type": "object",
      "properties": {
        "lun": {
          "description": "The LUN.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sourceBlobSasUri": {
          "description": "SAS key for source blob.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperatingSystem": {
      "description": "Operating system type (Windows or Linux).",
      "type": "string",
      "enum": [
        "None",
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "name": "OperatingSystem",
        "modelAsString": true
      }
    },
    "OsDiskImage": {
      "description": "OS disk image.",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "OS operating system type.",
          "$ref": "#/definitions/OperatingSystem",
          "readOnly": true
        },
        "sourceBlobSasUri": {
          "description": "SAS key for source blob.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Uri": {
      "description": "The URI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ComputeRole": {
      "description": "Compute role type (IaaS or PaaS).",
      "type": "string",
      "enum": [
        "None",
        "IaaS",
        "PaaS"
      ],
      "x-ms-enum": {
        "name": "ComputeRole",
        "modelAsString": true
      }
    },
    "ExtendedProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/VirtualMachineExtensionProductProperties"
        },
        {
          "$ref": "#/definitions/VirtualMachineProductProperties"
        }
      ]
    },
    "VirtualMachineExtensionProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {
        "computeRole": {
          "description": "Specifies kind of compute role included in the package.",
          "$ref": "#/definitions/ComputeRole",
          "readOnly": true
        },
        "isSystemExtension": {
          "description": "Specifies if product is a Virtual Machine Extension.",
          "type": "boolean",
          "readOnly": true
        },
        "sourceBlob": {
          "description": "Specifies a download location where content can be downloaded from.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Uri",
          "readOnly": true
        },
        "supportMultipleExtensions": {
          "description": "Indicates if specified product supports multiple extensions.",
          "type": "boolean",
          "readOnly": true
        },
        "version": {
          "description": "Specifies product version.",
          "type": "string",
          "readOnly": true
        },
        "vmOsType": {
          "description": "Specifies operating system used by the product.",
          "$ref": "#/definitions/OperatingSystem",
          "readOnly": true
        },
        "vmScaleSetEnabled": {
          "description": "Indicates if virtual machine Scale Set is enabled in the specified product.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "VirtualMachineProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies product version.",
          "type": "string",
          "readOnly": true
        },
        "osDiskImage": {
          "description": "OS disk image used by product.",
          "$ref": "#/definitions/OsDiskImage",
          "readOnly": true
        },
        "dataDiskImages": {
          "description": "List of attached data disks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDiskImage"
          },
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "description": "The provisioning state of the resource.",
      "type": "string",
      "enum": [
        "Stopped",
        "Starting",
        "Running",
        "Stopping",
        "Succeeded",
        "Downloading"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "ProductLink": {
      "description": "Link to a product.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Displayed name of product.",
          "type": "string"
        },
        "uri": {
          "description": "URI to product.",
          "type": "string"
        }
      }
    },
    "ProductLinks": {
      "description": "List of product links.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ProductLink"
      }
    },
    "DownloadedProduct": {
      "description": "Properties for aggregate usage.",
      "type": "object",
      "properties": {
        "vmExtensionType": {
          "description": "Extension type of the VM.",
          "type": "string"
        },
        "links": {
          "description": "Gallery item identity.",
          "$ref": "#/definitions/ProductLinks"
        },
        "legalTerms": {
          "description": "Legal terms for the product.",
          "type": "string"
        },
        "privacyPolicy": {
          "description": "Privacy policy of the product.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "galleryPackageBlobSasUri": {
          "description": "The URI to the .azpkg file that provides information required for showing product in the gallery.",
          "type": "string",
          "readOnly": true
        },
        "productDetailsProperties": {
          "description": "Specifies additional properties describing the product.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExtendedProductProperties",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProductBase"
        }
      ]
    },
    "ProductBase": {
      "description": "Base object for all product classes.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name displayed for the product.",
          "type": "string"
        },
        "description": {
          "description": "Description of the product.",
          "type": "string"
        },
        "publisherDisplayName": {
          "description": "Name of publisher.",
          "type": "string"
        },
        "publisherIdentifier": {
          "description": "Publisher identifier.",
          "type": "string"
        },
        "offer": {
          "description": "Offer name.",
          "type": "string"
        },
        "offerVersion": {
          "description": "Offer version.",
          "type": "string"
        },
        "sku": {
          "description": "Product SKU.",
          "type": "string"
        },
        "billingPartNumber": {
          "description": "Billing part number.",
          "type": "string"
        },
        "galleryItemIdentity": {
          "description": "Gallery item identity.",
          "type": "string"
        },
        "iconUris": {
          "description": "Information about gallery icons.",
          "$ref": "#/definitions/GalleryIcons"
        },
        "payloadLength": {
          "description": "Size in bytes.",
          "type": "integer",
          "format": "int64"
        },
        "productKind": {
          "description": "The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.",
          "type": "string"
        },
        "productProperties": {
          "description": "the product properties. At the moment only VirtualMachineProductProperties is allowed.",
          "$ref": "#/definitions/ProductProperties"
        },
        "compatibility": {
          "description": "Product compatibility with current device.",
          "$ref": "#/definitions/Compatibility"
        }
      }
    },
    "DownloadedProductResource": {
      "description": "Downloaded product resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties of the resource.",
          "$ref": "#/definitions/DownloadedProduct"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "URI of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of resource.",
          "type": "string"
        },
        "location": {
          "readOnly": true,
          "description": "Location of the resource",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "List of key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "DownloadedProductParameter": {
      "description": "Downloaded product resource definition.",
      "name": "downloadedProduct",
      "in": "body",
      "required": true,
      "x-ms-parameter-location": "method",
      "schema": {
        "$ref": "#/definitions/DownloadedProductResource"
      }
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "default": "2016-01-01"
    },
    "ProductNameParameter": {
      "name": "productName",
      "in": "path",
      "description": "Name of the product.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ActivationNameParameter": {
      "name": "activationName",
      "in": "path",
      "description": "Name of the activation.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The resource group the resource is located under.",
      "name": "resourceGroup",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Downloaded Products",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}