{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2018-07-01",
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework."
  },
  "host": "management.azure.com",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "Provider": {
      "description": "A resource provider.",
      "properties": {
        "providerName": {
          "description": "The provider name.",
          "type": "string"
        }
      },
      "type": "object",
      "required": [
        "providerName"
      ]
    },
    "OperationDisplay": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "The service provider."
        },
        "resource": {
          "type": "string",
          "description": "Resource on which the operation is performed."
        },
        "operation": {
          "type": "string",
          "description": "The operation type."
        },
        "description": {
          "type": "string",
          "description": "The operation description."
        }
      },
      "type": "object",
      "description": "Operation details."
    },
    "MetricDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric dimension name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the dimension.",
          "readOnly": true
        },
        "toBeExportedForShoebox": {
          "type": "boolean",
          "description": "Whether to export metric to shoebox.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "type": "object",
      "description": "A metric dimension."
    },
    "Metric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The metric display name.",
          "readOnly": true
        },
        "displayDescription": {
          "type": "string",
          "description": "The metric display description.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "enum": [
            "Bytes",
            "Count",
            "Milliseconds"
          ],
          "x-ms-enum": {
            "name": "MetricUnit",
            "values": [
              {
                "value": "Bytes",
                "description": "The number of bytes."
              },
              {
                "value": "Count",
                "description": "The count."
              },
              {
                "value": "Milliseconds",
                "description": "The number of milliseconds."
              }
            ],
            "modelAsString": true
          },
          "description": "The metric unit",
          "readOnly": true,
          "x-nullable": false
        },
        "aggregationType": {
          "type": "string",
          "enum": [
            "Average",
            "Count",
            "Total"
          ],
          "x-ms-enum": {
            "name": "MetricAggregationType",
            "values": [
              {
                "value": "Average",
                "description": "The average."
              },
              {
                "value": "Count",
                "description": "The count of a number of items, usually requests."
              },
              {
                "value": "Total",
                "description": "The sum."
              }
            ],
            "modelAsString": true
          },
          "description": "The metric aggregation type",
          "readOnly": true,
          "x-nullable": false
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "description": "The metric dimensions.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A metric emitted by service."
    },
    "ServiceSpecification": {
      "properties": {
        "metricSpecifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "description": "List of metric specifications.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The service metric specifications."
    },
    "MetricProperties": {
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "The service specifications.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metric properties."
    },
    "Operation": {
      "description": "An operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The operation display name."
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation."
        },
        "properties": {
          "$ref": "#/definitions/MetricProperties",
          "description": "Operation properties format."
        }
      },
      "type": "object",
      "required": [
        "name"
      ]
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "required": [
        "name"
      ]
    },
    "EntityNameAvailabilityCheckOutput": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Specifies if the name is available."
        },
        "reason": {
          "type": "string",
          "description": "Specifies the reason if the name is not available."
        },
        "message": {
          "type": "string",
          "description": "Specifies the detailed reason if the name is not available."
        }
      },
      "type": "object",
      "required": [
        "nameAvailable"
      ],
      "description": "The response from the check name availability request."
    },
    "StorageAccount": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the storage account resource. Media Services relies on tables and queues as well as blobs, so the primary storage account must be a Standard Storage account (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts can be added as secondary storage accounts."
        },
        "type": {
          "type": "string",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "StorageAccountType",
            "values": [
              {
                "value": "Primary",
                "description": "The primary storage account for the Media Services account."
              },
              {
                "value": "Secondary",
                "description": "A secondary storage account for the Media Services account."
              }
            ],
            "modelAsString": true
          },
          "description": "The type of the storage account."
        }
      },
      "type": "object",
      "required": [
        "type"
      ],
      "description": "The storage account details."
    },
    "SyncStorageKeysInput": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the storage account resource."
        }
      },
      "type": "object",
      "description": "The input to the sync storage keys request."
    },
    "MediaServiceProperties": {
      "properties": {
        "mediaServiceId": {
          "type": "string",
          "format": "uuid",
          "description": "The Media Services account ID.",
          "readOnly": true,
          "x-nullable": false
        },
        "storageAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "description": "The storage accounts for this resource."
        }
      },
      "type": "object",
      "description": "Properties of the Media Services account."
    },
    "MediaService": {
      "description": "A Media Services account.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaServiceProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "SubscriptionMediaService": {
      "description": "A Media Services account.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaServiceProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "OperationCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "A collection of Operation items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of Operation items."
    },
    "MediaServiceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaService"
          },
          "description": "A collection of MediaService items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of MediaService items."
    },
    "CheckNameAvailabilityInput": {
      "description": "The input to the check name availability request.",
      "properties": {
        "name": {
          "description": "The account name.",
          "type": "string"
        },
        "type": {
          "description": "The account type. For a Media Services account, this should be 'MediaServices'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscriptionMediaServiceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionMediaService"
          },
          "description": "A collection of SubscriptionMediaService items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of SubscriptionMediaService items."
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}": {
      "get": {
        "summary": "Get a Media Services account",
        "description": "Get the details of a Media Services account",
        "operationId": "Mediaservices_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaService"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Services account name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get a Media Services account by name": {
            "parameters": {
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "contoso",
              "accountName": "contosotv",
              "api-version": "2018-07-01"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "contosotv",
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv",
                  "type": "Microsoft.Media/mediaservices",
                  "location": "South Central US",
                  "tags": {
                    "key1": "value1",
                    "key2": "value2"
                  },
                  "properties": {
                    "mediaServiceId": "6ac94f91-283c-4492-85a7-57976928c17d",
                    "storageAccounts": [
                      {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore",
                        "type": "Primary"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get"
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  },
  "x-internal-service-id": "media",
  "x-internal-service-name": "Media Services",
  "x-internal-toc-name": "Mediaservices",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Get",
  "x-internal-operation-name": "Get"
}