{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Location Based Services",
    "description": "Azure Location Based Services REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "parameters": {
    "api-version": {
      "name": "api-version",
      "description": "Version of the API",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "method"
    },
    "format": {
      "name": "format",
      "description": "Format of the response",
      "type": "string",
      "in": "path",
      "required": true,
      "default": "json",
      "enum": [
        "json",
        "png",
        "pbf"
      ],
      "x-ms-parameter-location": "method"
    },
    "zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for tile",
      "required": true,
      "default": "6",
      "type": "string"
    },
    "x": {
      "name": "x",
      "in": "query",
      "description": "X value for tile",
      "required": true,
      "default": "10",
      "type": "string"
    },
    "y": {
      "name": "y",
      "in": "query",
      "description": "Y value for tile",
      "required": true,
      "default": "22",
      "type": "string"
    },
    "query": {
      "name": "query",
      "in": "query",
      "description": "The query applicable string/coordinates",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "paths": {
    "/traffic/incident/detail/{format}": {
      "get": {
        "description": "Get the traffic incident detail for a given coordinates",
        "operationId": "GetTrafficIncidentDetail",
        "x-ms-examples": {
          "GetTrafficIncidentDetail": {
            "parameters": {
              "api-version": "1.0",
              "format": "json",
              "style": "s3",
              "boundingbox": "6841263.950712,511972.674418,6886056.049288,582676.925582",
              "boundingzoom": "11",
              "trafficmodelid": "1335294634919"
            },
            "responses": {
              "200": {
                "body": {
                  "tm": {
                    "@id": "1504808382074",
                    "poi": [
                      {
                        "id": "europe_HD_NL_TTR116644998797312",
                        "p": {
                          "x": 580422.3,
                          "y": 6838149.5
                        },
                        "ic": 9,
                        "ty": 3,
                        "cs": 0,
                        "d": "roadworks",
                        "f": "Hilversum (A27)",
                        "t": "Eemnes - A1 (A27)",
                        "l": 1930,
                        "r": "A27"
                      },
                      {
                        "id": "europe_CLUSTER_11_-2073393694",
                        "p": {
                          "x": 530237.8,
                          "y": 6846831.2
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 530087.5,
                          "y": 6846563.1
                        },
                        "ctr": {
                          "x": 530388,
                          "y": 6847099.2
                        },
                        "cs": 3,
                        "l": 660
                      },
                      {
                        "id": "europe_CLUSTER_11_-1917825365",
                        "p": {
                          "x": 560825.5,
                          "y": 6849038.2
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 559696.8,
                          "y": 6847817.6
                        },
                        "ctr": {
                          "x": 561954.2,
                          "y": 6850258.9
                        },
                        "cs": 4,
                        "l": 740
                      },
                      {
                        "id": "europe_HD_NL_TTR116081757901248",
                        "p": {
                          "x": 514843.1,
                          "y": 6851673.7
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Nieuw Vennep",
                        "t": "Nieuwe Bennebroekerweg",
                        "l": 1640
                      },
                      {
                        "id": "europe_CLUSTER_11_-1342983925",
                        "p": {
                          "x": 582279.6,
                          "y": 6853992.2
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 582174.4,
                          "y": 6853648.6
                        },
                        "ctr": {
                          "x": 582384.8,
                          "y": 6854335.8
                        },
                        "cs": 2,
                        "l": 400
                      },
                      {
                        "id": "europe_CLUSTER_11_-1165890041",
                        "p": {
                          "x": 548159.4,
                          "y": 6854312.8
                        },
                        "ic": 9,
                        "ty": 1,
                        "cbl": {
                          "x": 547927.5,
                          "y": 6853850.6
                        },
                        "ctr": {
                          "x": 548391.4,
                          "y": 6854775.1
                        },
                        "cs": 2,
                        "l": 1160
                      },
                      {
                        "id": "europe_CLUSTER_11_413608372",
                        "p": {
                          "x": 530177.8,
                          "y": 6855826.2
                        },
                        "ic": 6,
                        "ty": 2,
                        "cbl": {
                          "x": 529899.8,
                          "y": 6855588.3
                        },
                        "ctr": {
                          "x": 530455.7,
                          "y": 6856064.2
                        },
                        "cs": 2,
                        "l": 870
                      },
                      {
                        "id": "europe_HD_NL_TTR116340297907776",
                        "p": {
                          "x": 572457,
                          "y": 6855538.5
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "IJsselmeerweg",
                        "t": "IJsselmeerweg",
                        "l": 2180
                      },
                      {
                        "id": "europe_HD_NL_TTR116238729677248",
                        "p": {
                          "x": 556497.7,
                          "y": 6858280.9
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "A9",
                        "t": "Kromwijkdreef (s113)",
                        "l": 1340
                      },
                      {
                        "id": "europe_HD_NL_TTR116090993484864",
                        "p": {
                          "x": 529513.4,
                          "y": 6858365.5
                        },
                        "ic": 9,
                        "ty": 3,
                        "cs": 0,
                        "d": "roadworks",
                        "f": "Schipholweg (N232)",
                        "t": "Westelijke Randweg",
                        "l": 230
                      },
                      {
                        "id": "europe_CLUSTER_11_1266569129",
                        "p": {
                          "x": 564817.7,
                          "y": 6858983.4
                        },
                        "ic": 9,
                        "ty": 3,
                        "cbl": {
                          "x": 564290.4,
                          "y": 6858956.7
                        },
                        "ctr": {
                          "x": 565345,
                          "y": 6859010.1
                        },
                        "cs": 2,
                        "l": 1370
                      },
                      {
                        "id": "europe_HD_NL_TTR116090993856256",
                        "p": {
                          "x": 533528,
                          "y": 6860131.2
                        },
                        "ic": 9,
                        "ty": 1,
                        "cs": 0,
                        "d": "roadworks",
                        "f": "Rijksweg A4 (E19)",
                        "t": "Rijksweg A9 (A9)",
                        "l": 1000,
                        "dl": 2
                      },
                      {
                        "id": "europe_HD_NL_TTL116127928320256",
                        "p": {
                          "x": 542898.5,
                          "y": 6861199.8
                        },
                        "ic": 6,
                        "ty": 1,
                        "cs": 0,
                        "d": "slow traffic",
                        "f": "Amsterdam-Oud Zuid - s108 (Ring Amsterdam/A10)",
                        "t": "Amstel - A2 (Ring Amsterdam/A10)",
                        "l": 970,
                        "dl": 27,
                        "r": "A10"
                      },
                      {
                        "id": "europe_CLUSTER_11_-1540203637",
                        "p": {
                          "x": 529991.3,
                          "y": 6862174.4
                        },
                        "ic": 9,
                        "ty": 2,
                        "cbl": {
                          "x": 529873.6,
                          "y": 6861453.1
                        },
                        "ctr": {
                          "x": 530109.1,
                          "y": 6862895.8
                        },
                        "cs": 3,
                        "l": 630
                      },
                      {
                        "id": "europe_CLUSTER_11_151401409",
                        "p": {
                          "x": 552627,
                          "y": 6862223
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 552502.4,
                          "y": 6861999.9
                        },
                        "ctr": {
                          "x": 552751.6,
                          "y": 6862446.1
                        },
                        "cs": 2,
                        "l": 440
                      },
                      {
                        "id": "europe_CLUSTER_11_1445812343",
                        "p": {
                          "x": 539676.4,
                          "y": 6863391.1
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 538429.6,
                          "y": 6863158.5
                        },
                        "ctr": {
                          "x": 540923.2,
                          "y": 6863623.6
                        },
                        "cs": 3,
                        "l": 1750
                      },
                      {
                        "id": "europe_CLUSTER_11_1259273200",
                        "p": {
                          "x": 516998.7,
                          "y": 6864731.8
                        },
                        "ic": 13,
                        "ty": 0,
                        "cbl": {
                          "x": 516753.3,
                          "y": 6864602.6
                        },
                        "ctr": {
                          "x": 517244.1,
                          "y": 6864860.9
                        },
                        "cs": 3,
                        "l": 440
                      },
                      {
                        "id": "europe_CLUSTER_11_1846323001",
                        "p": {
                          "x": 544669.4,
                          "y": 6864972.6
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 542716.6,
                          "y": 6863792.4
                        },
                        "ctr": {
                          "x": 546622.1,
                          "y": 6866152.9
                        },
                        "cs": 8,
                        "l": 3220
                      },
                      {
                        "id": "europe_CLUSTER_11_-750599194",
                        "p": {
                          "x": 533759.1,
                          "y": 6865416.4
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 532691.5,
                          "y": 6865080.6
                        },
                        "ctr": {
                          "x": 534826.7,
                          "y": 6865752.1
                        },
                        "cs": 3,
                        "l": 910
                      },
                      {
                        "id": "europe_HD_NL_TTR116072528806704",
                        "p": {
                          "x": 547341.1,
                          "y": 6866118.5
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Alexanderplein (s113)",
                        "t": "Stadhouderskade",
                        "l": 880,
                        "r": "S100"
                      },
                      {
                        "id": "europe_HD_NL_TTR115850925427392",
                        "p": {
                          "x": 515384.3,
                          "y": 6870135.4
                        },
                        "ic": 8,
                        "ty": 4,
                        "cs": 0,
                        "d": "closed",
                        "f": "Kenaupark / Parklaan",
                        "t": "Wilhelminastraat",
                        "l": 360
                      },
                      {
                        "id": "europe_CLUSTER_11_828112344",
                        "p": {
                          "x": 533712,
                          "y": 6870767
                        },
                        "ic": 9,
                        "ty": 3,
                        "cbl": {
                          "x": 533494.5,
                          "y": 6870724.3
                        },
                        "ctr": {
                          "x": 533929.4,
                          "y": 6870809.7
                        },
                        "cs": 2,
                        "l": 340
                      },
                      {
                        "id": "europe_CLUSTER_11_-1703934532",
                        "p": {
                          "x": 546987.3,
                          "y": 6871110.3
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 546704.5,
                          "y": 6870422
                        },
                        "ctr": {
                          "x": 547270.1,
                          "y": 6871798.6
                        },
                        "cs": 5,
                        "l": 600
                      },
                      {
                        "id": "europe_HD_NL_TTR115850927795360",
                        "p": {
                          "x": 541316.5,
                          "y": 6878958.7
                        },
                        "ic": 9,
                        "ty": 3,
                        "cs": 0,
                        "d": "roadworks",
                        "c": "new roadworks layout",
                        "f": "A8: Zaanstad-Zuid - A8/s118 (N516)",
                        "t": "Zaandam (N516)",
                        "l": 430,
                        "r": "N516"
                      },
                      {
                        "id": "europe_CLUSTER_11_-1729257718",
                        "p": {
                          "x": 514540.9,
                          "y": 6882576.9
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 513284.1,
                          "y": 6882205.6
                        },
                        "ctr": {
                          "x": 515797.7,
                          "y": 6882948.2
                        },
                        "cs": 5,
                        "l": 2600
                      },
                      {
                        "id": "europe_CLUSTER_11_-1639924075",
                        "p": {
                          "x": 516371.6,
                          "y": 6886131.5
                        },
                        "ic": 8,
                        "ty": 0,
                        "cbl": {
                          "x": 516149.2,
                          "y": 6886045.2
                        },
                        "ctr": {
                          "x": 516594,
                          "y": 6886217.9
                        },
                        "cs": 2,
                        "l": 160
                      },
                      {
                        "id": "europe_HD_NL_TTR115786295206960",
                        "p": {
                          "x": 551124.7,
                          "y": 6885011.1
                        },
                        "ic": 9,
                        "ty": 1,
                        "cs": 0,
                        "d": "roadworks",
                        "f": "Ilpendam (N235)",
                        "t": "Purmerend (N235)",
                        "l": 1930,
                        "dl": 126,
                        "r": "N235"
                      }
                    ]
                  }
                }
              },
              "400": {
                "headers": {},
                "body": {
                  "statuscode": "400",
                  "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
                }
              },
              "401": {
                "headers": {},
                "body": {
                  "statuscode": "401",
                  "message": "Unauthorized: Access is denied due to invalid credentials."
                }
              },
              "403": {
                "headers": {},
                "body": {
                  "statuscode": "403",
                  "message": "Permission, capacity, or authentication issues."
                }
              },
              "404": {
                "headers": {},
                "body": {
                  "statuscode": "404",
                  "message": "Not Found: the requested resource could not be found, but it may be available again in the future."
                }
              },
              "500": {
                "headers": {},
                "body": {
                  "statuscode": "500",
                  "message": "An error occurred while processing the request. Please try again later."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "style",
            "in": "query",
            "description": "The style to be used to render the tile",
            "required": true,
            "default": "s3",
            "type": "string"
          },
          {
            "name": "boundingbox",
            "in": "query",
            "description": "The bounding box coordinates",
            "required": true,
            "type": "string"
          },
          {
            "name": "boundingzoom",
            "in": "query",
            "description": "The zoom level of the bounding box",
            "required": true,
            "type": "string"
          },
          {
            "name": "trafficmodelid",
            "in": "query",
            "description": "The traffic model id",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "ISO 639-1 code for the output language",
            "required": false,
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "The projection used to specify the coordinates in the request and response",
            "required": false,
            "type": "string"
          },
          {
            "name": "geometries",
            "in": "query",
            "description": "The type of vector geometry added to incidents",
            "required": false,
            "type": "string"
          },
          {
            "name": "expandCluster",
            "in": "query",
            "description": "List all traffic incidents in a cluster separately",
            "required": false,
            "type": "string"
          },
          {
            "name": "originalPosition",
            "in": "query",
            "description": "Return the original position of the incident (<op>) as well as the one shifted to the beginning of the traffic tube (<p>)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficincidentdetail200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "produces": [
          "application/json",
          "application/xml"
        ],
        "consumes": [],
        "x-internal-toc-name": "Get Traffic Incident Detail"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "statuscode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "poi": {
      "description": "POI property",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "description": "Phone property",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL property",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "description": "Categories array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "classifications": {
          "description": "Classification array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "Code property",
                "type": "string",
                "readOnly": true
              },
              "names": {
                "description": "Names array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "nameLocale": {
                      "description": "Name Locale property",
                      "type": "string",
                      "readOnly": true
                    },
                    "name": {
                      "description": "Name property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "address": {
      "description": "The address of the result",
      "type": "object",
      "properties": {
        "buildingNumber": {
          "description": "Building Number property",
          "type": "string",
          "readOnly": true
        },
        "street": {
          "description": "Street property",
          "type": "string",
          "readOnly": true
        },
        "crossStreet": {
          "description": "Cross Street property",
          "type": "string",
          "readOnly": true
        },
        "streetNumber": {
          "description": "Street Number property",
          "type": "string",
          "readOnly": true
        },
        "streetName": {
          "description": "Street Name property",
          "type": "string",
          "readOnly": true
        },
        "streetNameAndNumber": {
          "description": "Street Name and Number property",
          "type": "string",
          "readOnly": true
        },
        "municipality": {
          "description": "Municipality property",
          "type": "string",
          "readOnly": true
        },
        "municipalitySubdivision": {
          "description": "Municipality Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countryTertiarySubdivision": {
          "description": "Country Tertiary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySecondarySubdivision": {
          "description": "Country Secondary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivision": {
          "description": "Country Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "description": "Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "extendedPostalCode": {
          "description": "Extended Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "Country Code property",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country property",
          "type": "string",
          "readOnly": true
        },
        "countryCodeISO3": {
          "description": "Country Code ISO3 property",
          "type": "string",
          "readOnly": true
        },
        "freeformAddress": {
          "description": "Free form Address property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivisionName": {
          "description": "Country Subdividion Name property",
          "type": "string",
          "readOnly": true
        },
        "boundingBox": {
          "description": "Bounding Box for the address",
          "type": "object",
          "properties": {
            "northEast": {
              "type": "string",
              "readOnly": true,
              "description": "The North East coordinates for the Bounding Box"
            },
            "southWest": {
              "type": "string",
              "readOnly": true,
              "description": "The South West coordinates for the Bounding Box"
            }
          }
        }
      }
    },
    "position": {
      "description": "Coordinates of the result",
      "type": "object",
      "properties": {
        "lat": {
          "type": "number",
          "readOnly": true,
          "description": "Latitude property"
        },
        "lon": {
          "type": "number",
          "readOnly": true,
          "description": "Longitude property"
        }
      }
    },
    "viewport": {
      "description": "The viewport that covers the result",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "description": "Top left of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        },
        "btmRightPoint": {
          "description": "Bottom right of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        }
      }
    },
    "entrypoints": {
      "description": "Entry Points array",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Name Locale property",
            "type": "string",
            "readOnly": true
          },
          "position": {
            "description": "Name property",
            "type": "object",
            "readOnly": true,
            "properties": {
              "lat": {
                "description": "Latitude property",
                "type": "number",
                "readOnly": true
              },
              "lon": {
                "description": "Longitude property",
                "type": "number",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "copyrightbounding200": {
      "description": "This object is returned from a successful Copyright Bounding call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrightcaption200": {
      "description": "This object is returned from a successful Copyright Caption call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyrightsCaption": {
          "description": "Copyrights Caption property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "copyrightworld200": {
      "description": "This object is returned from a successful Copyright World call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrighttile200": {
      "description": "This object is returned from a successful Copyright Tile call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "mapstatic200": {
      "description": "This object is returned from a successful Map Static call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "maptile200": {
      "description": "This object is returned from a successful Map Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "searchfuzzy200": {
      "description": "This object is returned from a successful Search Fuzzy call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "boundingBox": {
                "description": "Bounding box of the result",
                "type": "object",
                "properties": {
                  "topLeftPoint": {
                    "description": "Top left of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  },
                  "btmRightPoint": {
                    "description": "Bottom right of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "searchpoi200": {
      "description": "This object is returned from a successful Search POI call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchpoicategory200": {
      "description": "This object is returned from a successful Search POI Category call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },
              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddress200": {
      "description": "This object is returned from a successful Search Address call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddressreverse200": {
      "description": "This object is returned from a successful Search Address Reverse call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressreversecrossstreet200": {
      "description": "This object is returned from a successful Search Address Reverse CrossStreet call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressstructured200": {
      "description": "This object is returned from a successful Search Address Structured call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "Geo Bias of the result",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude property"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude property"
                }
              }
            }
          }
        },
        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "dist": {
                "description": "Dist property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "routedirections200": {
      "description": "This object is returned from a successful Route Directions call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "Copyright property",
          "type": "string",
          "readOnly": true
        },
        "privacy": {
          "description": "Privacy property",
          "type": "string",
          "readOnly": true
        },
        "routes": {
          "description": "Routes array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "summary": {
                "description": "Summary object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "lengthInMeters": {
                    "description": "Length In Meters property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "travelTimeInSeconds": {
                    "description": "Travel Time In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "trafficDelayInSeconds": {
                    "description": "Traffic Delay In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "departureTime": {
                    "description": "Departure Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "arrivalTime": {
                    "description": "Arrival Time property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              },
              "legs": {
                "description": "Legs array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "description": "Summary object",
                      "type": "object",
                      "readOnly": true,
                      "properties": {
                        "lengthInMeters": {
                          "description": "Length In Meters property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "travelTimeInSeconds": {
                          "description": "Travel Time In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "trafficDelayInSeconds": {
                          "description": "Traffic Delay In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "departureTime": {
                          "description": "Departure Time property",
                          "type": "string",
                          "readOnly": true
                        },
                        "arrivalTime": {
                          "description": "Arrival Time property",
                          "type": "string",
                          "readOnly": true
                        }
                      }
                    },
                    "points": {
                      "description": "Points array",
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "description": "Latitude property",
                            "type": "number",
                            "readOnly": true
                          },
                          "longitude": {
                            "description": "Longitude property",
                            "type": "number",
                            "readOnly": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "sections": {
                "description": "Sections object",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "startPointIndex": {
                      "description": "Start Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "endPointIndex": {
                      "description": "End Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "sectionType": {
                      "description": "Section Type property",
                      "type": "string",
                      "readOnly": true
                    },
                    "travelMode": {
                      "description": "Travel Mode property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezonebyid200": {
      "description": "This object is returned from a successful Timezone By ID call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true
        },
        "timeZones": {
          "description": "TimeZones array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "Id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "ReferenceTime": {
                "description": "Reference Time object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "Tag": {
                    "description": "Tag property",
                    "type": "string",
                    "readOnly": true
                  },
                  "StandardOffset": {
                    "description": "Standard Offset property",
                    "type": "string",
                    "readOnly": true
                  },
                  "DaylightSavings": {
                    "description": "Daylight Savings property",
                    "type": "string",
                    "readOnly": true
                  },
                  "WallTime": {
                    "description": "Wall Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "PosixTzValidYear": {
                    "description": "Posix Tz Valid Year property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "PosixTz": {
                    "description": "Posix Tz property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezonebycoordinates200": {
      "description": "This object is returned from a successful Timezone By Coordinates call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true
        },
        "timeZones": {
          "description": "TimeZones array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "Id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "ReferenceTime": {
                "description": "Reference Time object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "Tag": {
                    "description": "Tag property",
                    "type": "string",
                    "readOnly": true
                  },
                  "StandardOffset": {
                    "description": "Standard Offset property",
                    "type": "string",
                    "readOnly": true
                  },
                  "DaylightSavings": {
                    "description": "Daylight Savings property",
                    "type": "string",
                    "readOnly": true
                  },
                  "WallTime": {
                    "description": "Wall Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "PosixTzValidYear": {
                    "description": "Posix Tz Valid Year property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "PosixTz": {
                    "description": "Posix Tz property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "timezoneenumwindows200": {
      "description": "This object is returned from a successful Timezone Enum Windows call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "windowsId": {
            "description": "Windows Id property",
            "type": "string",
            "readOnly": true
          },
          "territory": {
            "description": "Territory property",
            "type": "string",
            "readOnly": true
          },
          "ianaIds": {
            "description": "IanaIds object",
            "type": "array",
            "items": {
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "timezoneenumiana200": {
      "description": "This object is returned from a successful Timezone Enum IANA call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Id property",
            "type": "string",
            "readOnly": true
          },
          "isAlias": {
            "description": "IsAlias property",
            "type": "string",
            "readOnly": true
          },
          "aliasOf": {
            "description": "AliasOf property",
            "type": "string",
            "readOnly": true
          },
          "hasZone1970Location": {
            "description": "HasZone1970Location property",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "timezoneianaversion200": {
      "description": "This object is returned from a successful Timezone IANA Version call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "timezonewindowstoiana200": {
      "description": "This object is returned from a successful Timezone Windows To IANA call",
      "type": "object",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Id property",
            "type": "string",
            "readOnly": true
          },
          "isAlias": {
            "description": "IsAlias property",
            "type": "string",
            "readOnly": true
          },
          "hasZone1970Location": {
            "description": "HasZone1970Location property",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "trafficflowtile200": {
      "description": "This object is returned from a successful Traffic Flow Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "trafficflowsegment200": {
      "description": "This object is returned from a successful Traffic Flow Segment call",
      "type": "object",
      "properties": {
        "flowSegmentData": {
          "description": "Flow Segment Data property",
          "type": "object",
          "readOnly": true,
          "properties": {
            "frc": {
              "description": "FRC property",
              "type": "string",
              "readOnly": true
            },
            "currentSpeed": {
              "description": "Current Speed property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowSpeed": {
              "description": "Free Flow Speed property",
              "type": "integer",
              "readOnly": true
            },
            "currentTravelTime": {
              "description": "Current Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "freeFlowTravelTime": {
              "description": "Free Flow Travel Time property",
              "type": "integer",
              "readOnly": true
            },
            "confidence": {
              "description": "Confidence property",
              "type": "number",
              "readOnly": true
            },
            "coordinates": {
              "description": "Coordinates of the result",
              "type": "object",
              "properties": {
                "coordinate": {
                  "description": "Coordinate array",
                  "type": "array",
                  "readOnly": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "description": "Latitude property",
                        "type": "number",
                        "readOnly": true
                      },
                      "Longitude": {
                        "description": "Longitude property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "trafficincidenttile200": {
      "description": "This object is returned from a successful Traffic Incident Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "trafficincidentdetail200": {
      "description": "This object is returned from a successful Traffic incident Detail call",
      "type": "object",
      "properties": {
        "tm": {
          "description": "TM object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "@id": {
              "description": "@ID property",
              "type": "string",
              "readOnly": true
            },
            "poi": {
              "description": "POI array",
              "type": "array",
              "readOnly": true,
              "items": {
                "type": "object",
                "readOnly": true,
                "properties": {
                  "id": {
                    "description": "ID property",
                    "type": "string",
                    "readOnly": true
                  },
                  "p": {
                    "description": "ID property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "ic": {
                    "description": "IC property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "ty": {
                    "description": "TY property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "cbl": {
                    "description": "CBL property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "ctr": {
                    "description": "CTR property",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "x": {
                        "description": "X property",
                        "type": "number",
                        "readOnly": true
                      },
                      "y": {
                        "description": "Y property",
                        "type": "number",
                        "readOnly": true
                      }
                    }
                  },
                  "cs": {
                    "description": "CS property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "l": {
                    "description": "L property",
                    "type": "integer",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "trafficincidentviewport200": {
      "description": "This object is returned from a successful Traffic Incident Viewport call",
      "type": "object",
      "properties": {
        "viewpResp": {
          "description": "Viewport Response object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "trafficState": {
              "description": "Traffic State array",
              "type": "object",
              "readOnly": true,
              "properties": {
                "@trafficAge": {
                  "description": "@Traffic Age property",
                  "type": "integer",
                  "readOnly": true
                },
                "@trafficModelId": {
                  "description": "@Traffic Model Id property",
                  "type": "string",
                  "readOnly": true
                }
              }
            },
            "copyrightIds": {
              "description": "Copyright Ids property",
              "type": "string",
              "readOnly": true
            },
            "@version": {
              "description": "@Version property",
              "type": "string",
              "readOnly": true
            },
            "@maps": {
              "description": "@maps property",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    }
  },
  "x-internal-service-name": "IoT Location Based Services",
  "x-internal-toc-name": "Get Traffic Incident Detail",
  "x-internal-split-type": "Operation"
}