{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-31-preview",
    "contact": {
      "name": "Microsoft",
      "email": "wlmengg@microsoft.com"
    },
    "title": "Workload Monitor API",
    "description": "APIs for workload monitoring"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.WorkloadMonitor/monitorInstancesSummary": {
      "get": {
        "tags": [
          "WorkloadInsights"
        ],
        "summary": "Get subscription wide health instances.",
        "operationId": "MonitorInstancesSummary_List",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/$select"
          },
          {
            "$ref": "#/parameters/$filter"
          },
          {
            "$ref": "#/parameters/$apply"
          },
          {
            "$ref": "#/parameters/$orderby"
          },
          {
            "$ref": "#/parameters/$expand"
          },
          {
            "$ref": "#/parameters/$top"
          },
          {
            "$ref": "#/parameters/$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MonitorInstancesCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MonitorInstancesSummary_List": {
            "parameters": {
              "subscriptionId": "a7f23fdb-e626-4f95-89aa-3a360a90861e",
              "$select": "MonitorId,MonitorName,MonitorDisplayName,MonitorType,MonitorCategory,ComponentName,ComponentTypeDisplayName",
              "$filter": "(ResourceGroupId eq 'viv_rg') and WorkloadType eq 'BaseOS' and HealthStateCategory eq 'CustomGroup' and MonitorKind eq 'Custom' and (MonitorType eq 'Unit') and (MonitorCategory eq 'PerformanceHealth' or MonitorCategory eq 'AvailabilityHealth' or MonitorCategory eq 'ConfigurationHealth' or MonitorCategory eq 'SecurityHealth')",
              "$apply": "groupby((MonitorName,HealthState),aggregate($count as Instances))",
              "$orderby": "Unhealthy desc",
              "api-version": "2018-08-31-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "75472fe7-e406-32a6-4198-0502ecee1bfe",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.PercentCommittedBytesInUse",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "2",
                          "unknownInstances": "4",
                          "successInstances": "0",
                          "monitorDisplayName": "Percentage of Committed Memory in Use",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "c9db5e55-f3c8-7366-6b98-bc727e726a4b",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.DHCPClientServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "1",
                          "unknownInstances": "4",
                          "successInstances": "1",
                          "monitorDisplayName": "DHCP Client Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "052f9b7d-7bf0-7f61-966b-f372e207ef4e",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.FirewallServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "1",
                          "unknownInstances": "4",
                          "successInstances": "1",
                          "monitorDisplayName": "Windows Firewall Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "6799aaae-533c-9a8d-331f-ea833db85d1d",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.RPCServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "1",
                          "unknownInstances": "4",
                          "successInstances": "1",
                          "monitorDisplayName": "RPC Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "37232a87-988f-6256-3033-ea0c102c2d43",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.DNSClientServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "1",
                          "unknownInstances": "4",
                          "successInstances": "1",
                          "monitorDisplayName": "DNS Client Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "4585a2f7-87c5-54e7-2b76-81af1073aec8",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.ServerServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "1",
                          "unknownInstances": "4",
                          "successInstances": "1",
                          "monitorDisplayName": "Server Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "3c184dff-8813-38f9-e965-2a9561425180",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.TotalDPCTime",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Total DPC Time Percentage",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "9a86ee3f-d133-b183-a400-6ad3a3834c86",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.WindowsRemoteManagementServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Windows Remote Management Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "94df5e8c-989a-f595-86b0-0baba4662bfb",
                        "monitorName": "Microsoft.Windows.Server.10.0.Processor.CPUUtilization",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "CPU0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "CPU Percentage Utilization",
                          "componentTypeDisplayName": "Windows Server 2016 Processor"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "41eccc60-5578-2eea-e104-8bf7022ed5af",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.MemoryPagesPerSecond",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Memory Pages Per Second",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "33f2143c-d677-6d10-c676-2f2bac54bbbd",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.EventLogServiceHealth",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Windows Event Log Service Health",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "8966cbe8-38d2-57be-5937-3d43e38a3df5",
                        "monitorName": "Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerTransfer",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Disk 1",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "8",
                          "successInstances": "4",
                          "monitorDisplayName": "Average Disk Seconds Per Transfer",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "f69b8b3f-3ba6-adf0-cdec-7c01b385d13c",
                        "monitorName": "Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerRead",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "C:",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "10",
                          "successInstances": "2",
                          "monitorDisplayName": "Average Logical Disk Seconds Per Read",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "887e162a-74f4-2951-64e5-87dd5f076342",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.MemoryFreeSystemPageTableEntries",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Free System Page Table Entries",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "728733ca-14e2-9ddc-8ec8-5de911bdf35f",
                        "monitorName": "Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedWrites",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ethernet 2",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "5",
                          "successInstances": "1",
                          "monitorDisplayName": "Percent Bandwidth Used Write",
                          "componentTypeDisplayName": "Windows Server 2016 Network Adapter"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "850400b6-9fd2-d927-bc47-9934dfe28845",
                        "monitorName": "Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerTransfer",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "D:",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "10",
                          "successInstances": "2",
                          "monitorDisplayName": "Average Logical Disk Seconds Per Transfer",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "c688a072-2a8f-6409-1895-a0cc363cb326",
                        "monitorName": "Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerRead",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Disk 1",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "8",
                          "successInstances": "4",
                          "monitorDisplayName": "Average Disk Seconds Per Read",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "e80001dc-3aa8-e5c8-f782-5b4ef144fd5c",
                        "monitorName": "Microsoft.Windows.Server.10.0.Processor.PercentDPCTime",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "CPU0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "CPU DPC Time Percentage",
                          "componentTypeDisplayName": "Windows Server 2016 Processor"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "07cacb31-615d-5c7a-e118-fd55c17b5a2c",
                        "monitorName": "Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedReads",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ethernet 2",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "5",
                          "successInstances": "1",
                          "monitorDisplayName": "Percent Bandwidth Used Read",
                          "componentTypeDisplayName": "Windows Server 2016 Network Adapter"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "8a16058b-d31e-c156-3460-2c6cae7bfc49",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.TotalCPUUtilization",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Total CPU Utilization Percentage",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "584e5846-a4a3-a17a-26fd-25014f727ee9",
                        "monitorName": "Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerWrite",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Disk 0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "8",
                          "successInstances": "4",
                          "monitorDisplayName": "Average Disk Seconds Per Write",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "062d163a-0742-73d9-1d9d-a582c82127e4",
                        "monitorName": "Microsoft.Windows.Server.10.0.PhysicalDisk.CurrentDiskQueueLength",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Disk 1",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "8",
                          "successInstances": "4",
                          "monitorDisplayName": "Current Disk Queue Length",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "99dbb2f7-9335-40c1-562e-0bee9e43b029",
                        "monitorName": "Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerWrite",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "C:",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "10",
                          "successInstances": "2",
                          "monitorDisplayName": "Average Disk Seconds Per Write (Logical Disk)",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "b12539ea-7122-af29-6af6-0047432bab6a",
                        "monitorName": "Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedTotal",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ethernet 2",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "5",
                          "successInstances": "1",
                          "monitorDisplayName": "Percent Bandwidth Used Total",
                          "componentTypeDisplayName": "Windows Server 2016 Network Adapter"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "08ec2bb4-32be-2fae-2d5a-6b65feb200a6",
                        "monitorName": "Microsoft.Windows.Server.10.0.LogicalDisk.PercentIdleTime",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "D:",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "10",
                          "successInstances": "2",
                          "monitorDisplayName": "Logical Disk Percent Idle Time",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "22e3b675-109e-9292-952e-7554604e3605",
                        "monitorName": "Microsoft.Windows.Server.10.0.LogicalDisk.CurrentDiskQueueLength",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "D:",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "10",
                          "successInstances": "2",
                          "monitorDisplayName": "Current Disk Queue Length (Logical Disk)",
                          "componentTypeDisplayName": "Windows Server 2016 Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "7af5bcb4-31e9-5ec9-268f-178c265a6c2c",
                        "monitorName": "Microsoft.Windows.Server.10.0.OperatingSystem.MemoryAvailableMBytes",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "4",
                          "successInstances": "2",
                          "monitorDisplayName": "Available Megabytes of Memory",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "c2396f9e-22eb-9a72-0149-ea3b9a219e64",
                        "monitorName": "Microsoft.Windows.Server.10.0.PhysicalDisk.PercentIdleTime",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Disk 1",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "8",
                          "successInstances": "4",
                          "monitorDisplayName": "Disk Percent Idle Time",
                          "componentTypeDisplayName": "Windows Server 2016 Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "d2d5f441-8445-c966-40e2-7678f5b56ea5",
                        "monitorName": "Microsoft.Linux.Universal.LogicalDisk.PercentFreeSpace.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "/",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "1",
                          "successInstances": "1",
                          "monitorDisplayName": "Logical Disk % Free Space",
                          "componentTypeDisplayName": "Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "f12a45f0-8f3a-7fb6-8282-e737564ede6f",
                        "monitorName": "Microsoft.Linux.Universal.LogicalDisk.PercentFreeInodes.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "/mnt",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "1",
                          "successInstances": "1",
                          "monitorDisplayName": "Logical Disk % Free Inodes",
                          "componentTypeDisplayName": "Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "c6767c76-e3a1-9325-0af3-77480268b100",
                        "monitorName": "Microsoft.Linux.Universal.PhysicalDisk.AverageDiskReadTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "sdb",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "2",
                          "monitorDisplayName": "Disk Avg. Disk sec/Read",
                          "componentTypeDisplayName": "Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "e0a59c91-0156-ee90-d5c2-1b9042c15f81",
                        "monitorName": "Microsoft.Linux.Universal.OperatingSystem.TotalPercentProcessorTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ubuntu 16.04 (x86_64)",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Operating System Total Percent Processor Time",
                          "componentTypeDisplayName": "Universal Linux Operating System"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "ca5b387a-6b11-ddaa-f87e-61ba59c92009",
                        "monitorName": "Microsoft.Linux.Universal.LogicalDisk.FreeSpace.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "/mnt",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "1",
                          "successInstances": "1",
                          "monitorDisplayName": "Logical Disk Free Space",
                          "componentTypeDisplayName": "Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "b6e2320f-b09c-1075-ed42-d2044b12dc8c",
                        "monitorName": "Microsoft.Linux.Universal.OperatingSystem.AvailableMBytes.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ubuntu 16.04 (x86_64)",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Operating System Available Megabytes Memory",
                          "componentTypeDisplayName": "Universal Linux Operating System"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "c1c43ce8-1334-0673-2b67-0c778c1777d1",
                        "monitorName": "Microsoft.Linux.Universal.PhysicalDisk.DiskHealth.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "sdb",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "2",
                          "monitorDisplayName": "Disk Health",
                          "componentTypeDisplayName": "Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "ab6dbe24-4877-43fe-ed57-00275eceb655",
                        "monitorName": "Microsoft.Linux.Universal.PhysicalDisk.AverageDiskTransferTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "sda",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "2",
                          "monitorDisplayName": "Disk Avg. Disk sec/Transfer",
                          "componentTypeDisplayName": "Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "5304e4ed-54c3-ab52-62fa-e07da44cb840",
                        "monitorName": "Microsoft.Linux.Universal.PhysicalDisk.AverageDiskWriteTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "sda",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "2",
                          "monitorDisplayName": "Disk Avg. Disk sec/Write",
                          "componentTypeDisplayName": "Physical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "d8651e54-d2f0-358c-4b51-10434cc525c7",
                        "monitorName": "Microsoft.Linux.Universal.LogicalDisk.DiskHealth.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "/",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "1",
                          "successInstances": "1",
                          "monitorDisplayName": "Logical Disk Health",
                          "componentTypeDisplayName": "Logical Disk"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "f5ba8972-426f-5ab7-1fa3-b124b54fec57",
                        "monitorName": "Microsoft.Linux.Universal.NetworkAdapter.Health.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "eth0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Network Adapter Health",
                          "componentTypeDisplayName": "Network Adapter"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "a8bc2cc6-dd99-5fbb-27c7-7ad2eac0e2ad",
                        "monitorName": "Microsoft.Linux.Universal.OperatingSystem.TotalPercentDPCTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Ubuntu 16.04 (x86_64)",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Operating System Total Percent DPC Time",
                          "componentTypeDisplayName": "Universal Linux Operating System"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "cf7aa0a0-ac57-0dc6-1251-b0225783f735",
                        "monitorName": "Microsoft.Linux.Universal.Processor.PercentProcessorTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Processor Percent Processor Time",
                          "componentTypeDisplayName": "Processor"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "99a75b34-dbf4-2b33-c0c2-0fdd888f23b7",
                        "monitorName": "Microsoft.Linux.Universal.Processor.PercentDPCTime.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "PerformanceHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "0",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "0",
                          "successInstances": "1",
                          "monitorDisplayName": "Processor Percent DPC Time",
                          "componentTypeDisplayName": "Processor"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    },
                    {
                      "properties": {
                        "componentId": null,
                        "monitorId": "1aa535e9-d09c-3557-297f-62923069ba81",
                        "monitorName": "Microsoft.Windows.Server.10.0.MaxConcurrentAPI.Monitor",
                        "monitorType": "Unit",
                        "monitorCategory": "AvailabilityHealth",
                        "healthStateChanges": null,
                        "alertGeneration": null,
                        "children": null,
                        "workspaceId": null,
                        "solutionId": null,
                        "workloadType": null,
                        "componentName": "Windows Operating System",
                        "componentTypeId": null,
                        "componentTypeName": null,
                        "healthState": "Uninitialized",
                        "healthStateCategory": null,
                        "healthStateChangesStartTime": null,
                        "healthStateChangesEndTime": null,
                        "lastHealthStateChangeTime": null,
                        "aggregateProperties": {
                          "unhealthyInstances": "0",
                          "unknownInstances": "2",
                          "successInstances": "0",
                          "monitorDisplayName": "Windows Server 2016 Max Concurrent API Monitor",
                          "componentTypeDisplayName": "Windows Server 2016 Operating System (Full)"
                        }
                      },
                      "etag": null,
                      "id": "/providers/Microsoft.WorkloadMonitor/healthInstancesSummary",
                      "name": "healthInstancesSummary",
                      "type": "Microsoft.WorkloadMonitor/healthInstancesSummary"
                    }
                  ],
                  "nextLink": null
                }
              }
            }
          }
        },
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "MonitorsCollection": {
      "description": "Model for collection of Monitor.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL for next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of Monitor.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "readOnly": true
        }
      }
    },
    "Monitor": {
      "description": "Model for Monitor",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorProperties",
          "description": "Properties of monitor instance",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorProperties": {
      "description": "Model for properties of a Monitor.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorDisplayName": {
          "description": "User friendly display name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorName": {
          "description": "Name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "parentMonitorDisplayName": {
          "description": "User friendly display name of the parent monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Category of the monitor",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "componentTypeId": {
          "description": "Component Type Id of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Component Type Name of monitor",
          "type": "string",
          "readOnly": true
        },
        "componentTypeDisplayName": {
          "description": "Component Type Display Name of the monitor",
          "type": "string",
          "readOnly": true
        },
        "monitorState": {
          "description": "Is the monitor state enabled or disabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorState",
            "modelAsString": false
          }
        },
        "criteria": {
          "description": "Collection of MonitorCriteria. For PATCH calls, instead of partial list, complete list of expected criteria should be passed for proper updating.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorCriteria"
          },
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alerts or not",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "frequency": {
          "format": "int32",
          "description": "Frequency at which monitor condition is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "lookbackDuration": {
          "format": "int32",
          "description": "The duration in minutes in the past during which the monitor is evaluated",
          "type": "integer",
          "readOnly": true
        },
        "documentationURL": {
          "description": "URL pointing to the documentation of the monitor",
          "type": "string",
          "readOnly": true
        },
        "signalName": {
          "description": "Name of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        },
        "signalType": {
          "description": "Type of the signal on which this monitor is configured.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MonitorCriteria": {
      "description": "Criteria for monitor configuration",
      "type": "object",
      "properties": {
        "healthState": {
          "description": "Target health state of the criteria",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "threshold": {
          "format": "double",
          "description": "Threshold value for this criteria",
          "type": "number",
          "readOnly": true
        },
        "comparisonOperator": {
          "description": "Comparison enum on threshold of this criteria",
          "enum": [
            "Equals",
            "GreaterThan",
            "GreaterThanOrEqual",
            "LessThan",
            "LessThanOrEqual",
            "NotEquals"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": false
          }
        }
      }
    },
    "ComponentsCollection": {
      "description": "Model for collection of components.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of components.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "Component": {
      "description": "Model for component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ComponentProperties",
          "description": "Properties of the component.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "ComponentProperties": {
      "description": "Model for properties of a component.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this component belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeGroupCategory": {
          "description": "Component type group category. Classification of component type groups into a logical category. e.g. Network, Disk, Memory, CPU.",
          "type": "string",
          "readOnly": true
        },
        "healthState": {
          "description": "Health state of the component.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of component's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "vmId": {
          "description": "ID of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmName": {
          "description": "Name of the VM this component belongs to.",
          "type": "string",
          "readOnly": true
        },
        "vmTags": {
          "description": "Tags on the VM this component belongs to.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "component children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstancesCollection": {
      "description": "Model for collection of health instances.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URL to the next set of results.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Collection of health instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
          "readOnly": true
        }
      }
    },
    "MonitorInstance": {
      "description": "Model for monitor instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "For optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/MonitorInstanceProperties",
          "description": "Properties of the monitor instance.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "MonitorInstanceProperties": {
      "description": "Model for properties of a monitor instance.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "ID of the workspace.",
          "type": "string",
          "readOnly": true
        },
        "solutionId": {
          "description": "ID of the OMS solution this health instance belong to.",
          "type": "string",
          "readOnly": true
        },
        "workloadType": {
          "description": "Type of the workload.",
          "enum": [
            "BaseOS",
            "SQL",
            "IIS",
            "Apache"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "componentId": {
          "description": "ID of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentName": {
          "description": "Name of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeId": {
          "description": "ID of the component type.",
          "type": "string",
          "readOnly": true
        },
        "componentTypeName": {
          "description": "Name of the component type. Qualifies the type of component such as whether it is a SQL database, logical disk, website, etc.",
          "type": "string",
          "readOnly": true
        },
        "monitorId": {
          "description": "ID of the monitor instance.",
          "type": "string",
          "readOnly": true
        },
        "monitorName": {
          "description": "Name of the monitor.",
          "type": "string",
          "readOnly": true
        },
        "monitorType": {
          "description": "Type of the monitor. The qualifier for the health criteria depending on the functionality it performs such as Unit, Aggregate, Dependency.",
          "enum": [
            "Aggregate",
            "Dependency",
            "Unit"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorType",
            "modelAsString": false
          }
        },
        "monitorCategory": {
          "description": "Monitor type category. Indicates the attribute of the component that the health criteria monitors such as Performance, Availability, etc.",
          "enum": [
            "AvailabilityHealth",
            "Configuration",
            "EntityHealth",
            "PerformanceHealth",
            "Security"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MonitorCategory",
            "modelAsString": false
          }
        },
        "healthState": {
          "description": "Health state of monitor instance.",
          "enum": [
            "Error",
            "Warning",
            "Success",
            "Unknown",
            "Uninitialized"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthState",
            "modelAsString": false
          }
        },
        "healthStateCategory": {
          "description": "Category of monitor instance's health state.",
          "enum": [
            "Identity",
            "CustomGroup"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "HealthStateCategory",
            "modelAsString": true
          }
        },
        "healthStateChanges": {
          "description": "Health state changes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthStateChange"
          },
          "readOnly": true
        },
        "healthStateChangesStartTime": {
          "format": "date-time",
          "description": "Start time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "healthStateChangesEndTime": {
          "format": "date-time",
          "description": "End time for health state changes.",
          "type": "string",
          "readOnly": true
        },
        "lastHealthStateChangeTime": {
          "format": "date-time",
          "description": "Time of last health state change.",
          "type": "string",
          "readOnly": true
        },
        "alertGeneration": {
          "description": "Generates alert or not.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AlertGeneration",
            "modelAsString": true
          }
        },
        "aggregateProperties": {
          "description": "Properties requested in aggregation queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "children": {
          "description": "Health instance children.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorInstance"
          },
[...]
