{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "Fabric location operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all fabric locations.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local",
                      "name": "local",
                      "type": "Microsoft.Fabric.Admin/fabricLocations",
                      "location": "local",
                      "tags": {},
                      "properties": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "FabricLocations"
        ],
        "description": "Returns a list of all fabric locations.",
        "operationId": "FabricLocations_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FabricLocationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/FabricLocation",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "FabricLocation": {
      "description": "Fabric Location resource.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a FabricLocation.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FabricLocationModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "FabricLocationModel": {
      "description": "All properties of a fabric location resource.",
      "type": "object",
      "properties": {
        "pepIpAddresses": {
          "description": "The IP addresses of the privileged endpoints.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeServer": {
          "description": "The IP address of the time server.",
          "type": "string"
        },
        "stampInformationId": {
          "description": "The deployment id of the stamp.",
          "type": "string"
        },
        "externalDNSIPAddress01": {
          "description": "First external IP address of the DNS server.",
          "type": "string"
        },
        "externalDNSIPAddress02": {
          "description": "Second external IP Address of the DNS server.",
          "type": "string"
        },
        "exclusiveAdminOperationRunning": {
          "description": "Value for whether an exclusive admin operation is running.",
          "type": "boolean"
        },
        "exclusiveAdminOperationName": {
          "description": "Name of the running exclusive admin operation.",
          "type": "string"
        },
        "startUpActionPlanStartTime": {
          "description": "Last known stamp start time for the start up action plan.",
          "type": "string",
          "format": "date-time"
        },
        "startUpActionPlanEndTime": {
          "description": "Last known stamp stop time for the start up action plan.",
          "type": "string",
          "format": "date-time"
        },
        "shutDownActionPlanStartTime": {
          "description": "Last known stamp start time for the shut down action plan",
          "type": "string",
          "format": "date-time"
        },
        "shutDownActionPlanEndTime": {
          "description": "Last known stamp stop time for the shut down action plan.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "FabricLocationList": {
      "description": "Pageable list of fabric locations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of fabric locations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FabricLocation"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "FabricLocationParameter": {
      "description": "Fabric location.",
      "name": "fabricLocation",
      "type": "string",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "Fabric Locations",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}