{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_Pause",
        "description": "Pauses a data warehouse.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the data warehouse to pause."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_Resume",
        "description": "Resumes a data warehouse.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the data warehouse to resume."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Creates a new database or updates an existing database. Location is a required property in the request body, and it must be the same as the location of the SQL server.",
        "x-ms-examples": {
          "Create a database min": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-5961",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                  "edition": "Standard",
                  "status": "Online",
                  "createMode": "Default",
                  "serviceLevelObjective": "S0",
                  "collation": "SQL_Latin1_General_CP1_CI_AS",
                  "maxSizeBytes": "268435456000",
                  "creationDate": "2017-02-10T01:37:18.847Z",
                  "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveName": "S0",
                  "defaultSecondaryLocation": "Japan West",
                  "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                  "containmentState": 2,
                  "readScale": "Disabled",
                  "sampleName": "AdventureWorksLT"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                    "edition": "Standard",
                    "status": "Online",
                    "createMode": "Default",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "creationDate": "2017-02-10T01:37:18.847Z",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "sourceDatabaseId": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                    "edition": "Standard",
                    "status": "Online",
                    "createMode": "Default",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "creationDate": "2017-02-10T01:37:18.847Z",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "sourceDatabaseId": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a copy": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "Copy",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as an online secondary": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "OnlineSecondary",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a non-readable secondary": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "NonReadableSecondary",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a point in time restore": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "PointInTimeRestore",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "restorePointInTime": "2017-02-16T21:24:37.467Z"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Update a database's elastic pool'": {
            "parameters": {
              "subscriptionId": "9d4e2ad0-e20b-4464-9219-353bded52513",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "properties": {
                  "elasticPoolName": "7537"
                },
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Update a database max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-5961",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "edition": "Standard",
                  "status": "Online",
                  "createMode": "Default",
                  "serviceLevelObjective": "S0",
                  "collation": "SQL_Latin1_General_CP1_CI_AS",
                  "maxSizeBytes": "268435456000",
                  "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveName": "S0",
                  "defaultSecondaryLocation": "Japan West",
                  "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                  "containmentState": 2,
                  "readScale": "Disabled"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Update a database min": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-5961",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to be operated on (updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            },
            "description": "The required parameters for creating or updating a database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Delete",
        "description": "Deletes a database.",
        "x-ms-examples": {
          "Delete a database": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6852",
              "serverName": "sqlcrudtest-2080",
              "databaseName": "sqlcrudtest-331",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": ""
              },
              "204": {
                "body": ""
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        }
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Get",
        "description": "Gets a database.",
        "x-ms-examples": {
          "Get a database": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6852",
              "serverName": "sqlcrudtest-2080",
              "databaseName": "sqlcrudtest-9187",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187",
                  "name": "sqlcrudtest-9187",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "databaseId": "200216b2-dc19-4866-85aa-f73fe4a1ebac",
                    "edition": "Basic",
                    "status": "Online",
                    "serviceLevelObjective": "Basic",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "2147483648",
                    "creationDate": "2017-02-10T00:56:19.2Z",
                    "currentServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
                    "requestedServiceObjectiveId": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
                    "requestedServiceObjectiveName": "Basic",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:06:29.78Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to be retrieved."
          },
          {
            "$ref": "#/parameters/DatabaseExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListByServer",
        "description": "Returns a list of databases in a server.",
        "x-ms-examples": {
          "List databases by server": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6845",
              "serverName": "sqlcrudtest-7177",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master",
                      "name": "master",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,system",
                      "properties": {
                        "databaseId": "e760a51c-3dce-4d8c-976b-a2b929a73e08",
                        "edition": "System",
                        "status": "Online",
                        "serviceLevelObjective": "System2",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "32212254720",
                        "creationDate": "2017-02-10T00:59:33.483Z",
                        "currentServiceObjectiveId": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                        "requestedServiceObjectiveId": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                        "requestedServiceObjectiveName": "System2",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": null,
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142",
                      "name": "sqlcrudtest-1142",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,user",
                      "properties": {
                        "databaseId": "11c1813c-52db-4d17-95d7-119eda1850b1",
                        "edition": "Standard",
                        "status": "Online",
                        "serviceLevelObjective": "S0",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "268435456000",
                        "creationDate": "2017-02-10T01:03:34.04Z",
                        "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveName": "S0",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": "2017-02-10T01:14:10.233Z",
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788",
                      "name": "sqlcrudtest-2788",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,user",
                      "properties": {
                        "databaseId": "d63e118b-41cf-49b9-8dac-aa6ef6f91731",
                        "edition": "Standard",
                        "status": "Online",
                        "serviceLevelObjective": "S0",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "268435456000",
                        "creationDate": "2017-02-10T01:00:21.067Z",
                        "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveName": "S0",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": "2017-02-10T01:10:52.25Z",
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877",
                      "name": "sqlcrudtest-6877",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,user",
                      "properties": {
                        "databaseId": "40ac16e8-855c-439c-b495-c97e918a771c",
                        "edition": "Standard",
                        "status": "Online",
                        "serviceLevelObjective": "S0",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "268435456000",
                        "creationDate": "2017-02-10T01:02:28.853Z",
                        "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveName": "S0",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": "2017-02-10T01:13:21.66Z",
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888",
                      "name": "sqlcrudtest-9888",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,user",
                      "properties": {
                        "databaseId": "59daf4ad-082f-4ac5-b38a-ed656b937980",
                        "edition": "Standard",
                        "status": "Online",
                        "serviceLevelObjective": "S0",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "268435456000",
                        "creationDate": "2017-02-10T01:01:25.347Z",
                        "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                        "requestedServiceObjectiveName": "S0",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": "2017-02-10T01:12:05.303Z",
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "List databases by server with filter": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6845",
              "serverName": "sqlcrudtest-7177",
              "api-version": "2014-04-01",
              "$filter": "properties/edition eq 'System'"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master",
                      "name": "master",
                      "type": "Microsoft.Sql/servers/databases",
                      "location": "Japan East",
                      "kind": "v12.0,system",
                      "properties": {
                        "databaseId": "e760a51c-3dce-4d8c-976b-a2b929a73e08",
                        "edition": "System",
                        "status": "Online",
                        "serviceLevelObjective": "System2",
                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                        "maxSizeBytes": "32212254720",
                        "creationDate": "2017-02-10T00:59:33.483Z",
                        "currentServiceObjectiveId": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                        "requestedServiceObjectiveId": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                        "requestedServiceObjectiveName": "System2",
                        "sampleName": null,
                        "defaultSecondaryLocation": "Japan West",
                        "earliestRestoreDate": null,
                        "elasticPoolName": null,
                        "containmentState": 2,
                        "readScale": "Disabled",
                        "failoverGroupId": null
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseExpandParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData filter expression that describes a subset of databases to return."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListUsages",
        "description": "Returns database usages.",
        "x-ms-examples": {
          "List database usage metrics": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6730",
              "serverName": "sqlcrudtest-9007",
              "databaseName": "3481",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "database_size",
                      "resourceName": "3481",
                      "displayName": "Database Size",
                      "currentValue": 4194304,
                      "limit": 268435456000,
                      "unit": "Bytes",
                      "nextResetTime": null
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_GetServiceTierAdvisor",
        "description": "Gets a service tier advisor.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "name": "serviceTierAdvisorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of service tier advisor."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisor"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_ListServiceTierAdvisors",
        "description": "Returns service tier advisors for specified database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current": {
      "put": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_CreateOrUpdateTransparentDataEncryptionConfiguration",
        "description": "Creates or updates a database's transparent data encryption configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which setting the transparent data encryption applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            },
            "description": "The required parameters for creating or updating transparent data encryption."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_GetTransparentDataEncryptionConfiguration",
        "description": "Gets a database's transparent data encryption configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which the transparent data encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current/operationResults": {
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_ListTransparentDataEncryptionActivity",
        "description": "Returns a database's transparent data encryption operation result.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which the transparent data encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CheckNameAvailabilityRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name whose availability is to be checked."
        },
        "type": {
          "type": "string",
          "description": "The type of resource that is used as the scope of the availability check.",
          "enum": [
            "Microsoft.Sql/servers"
          ],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityResourceType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "name",
        "type"
      ],
      "description": "A request to check whether the specified name for a resource is available."
    },
    "CheckNameAvailabilityResponse": {
      "properties": {
        "available": {
          "type": "boolean",
          "description": "True if the name is available, otherwise false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A message explaining why the name is unavailable. Will be null if the name is available.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name whose availability was checked.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "The reason code explaining why the name is unavailable. Will be null if the name is available.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityReason",
            "modelAsString": false
          },
          "readOnly": true
        }
      },
      "description": "A response indicating whether the specified name for a resource is available."
    },
    "RecommendedElasticPoolMetric": {
      "properties": {
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time of metric (ISO8601 format)."
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/"
        },
        "sizeGB": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets size in gigabytes."
        }
      },
      "description": "Represents recommended elastic pool metric."
    },
    "RecommendedElasticPoolProperties": {
      "properties": {
        "databaseEdition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEdition",
            "modelAsString": true
          }
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "The DTU for the recommended elastic pool."
        },
        "databaseDtuMin": {
          "type": "number",
          "format": "double",
          "description": "The minimum DTU for the database."
        },
        "databaseDtuMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum DTU for the database."
        },
        "storageMB": {
          "type": "number",
          "format": "double",
          "description": "Gets storage size in megabytes."
        },
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "maxObservedDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed DTU."
        },
        "maxObservedStorageMB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed storage in megabytes."
        },
        "databases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of databases in this pool. Expanded property"
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of databases housed in the server. Expanded property"
        }
      },
      "description": "Represents the properties of a recommented elastic pool."
    },
    "RecommendedElasticPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecommendedElasticPoolProperties",
          "description": "The properites representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a recommented elastic pool."
    },
    "RecommendedElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPool"
          },
          "description": "The list of recommended elastic pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list recommended elastic pool request."
    },
    "RecommendedElasticPoolListMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of recommended elastic pools metrics."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list recommended elastic pool metrics request."
    },
    "ElasticPoolProperties": {
      "properties": {
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the elastic pool (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Creating",
            "Ready",
            "Disabled"
          ],
          "description": "The state of the elastic pool.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ElasticPoolState"
          }
        },
        "edition": {
          "type": "string",
          "description": "The edition of the elastic pool.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEdition",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The total shared DTU for the database elastic pool."
        },
        "databaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum DTU any one database can consume."
        },
        "databaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum DTU all databases are guaranteed."
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets storage limit for the database elastic pool in MB."
        }
      },
      "description": "Represents the properties of an elastic pool."
    },
    "ElasticPool": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of elastic pool.  This is metadata used for the Azure portal experience."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a database elastic pool."
    },
    "ElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPool"
          },
          "description": "The list of elastic pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool request."
    },
    "ElasticPoolActivityProperties": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique operation ID.",
          "x-nullable": false
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedDatabaseDtuMax": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested max DTU per database if available."
        },
        "requestedDatabaseDtuMin": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested min DTU per database if available."
        },
        "requestedDtu": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU for the pool if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The requested name for the elastic pool if available."
        },
        "requestedStorageLimitInGB": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The requested storage limit for the pool in GB if available."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the elastic pool."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server the elastic pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        },
        "requestedStorageLimitInMB": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested storage limit in MB."
        },
        "requestedDatabaseDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per database DTU guarantee."
        },
        "requestedDatabaseDtuCap": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per database DTU cap."
        },
        "requestedDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU guarantee."
        }
      },
      "description": "Represents the properties of an elastic pool."
    },
    "ElasticPoolActivity": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents the activity on an elastic pool."
    },
    "ElasticPoolActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolActivity"
          },
          "description": "The list of elastic pool activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool activity request."
    },
    "ElasticPoolDatabaseActivityProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The database name."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique operation ID.",
          "x-nullable": false
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the elastic pool the database is moving into if available."
        },
        "currentElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current elastic pool the database is in if available."
        },
        "currentServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current service objective if available."
        },
        "requestedServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the requested service objective if available."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server the elastic pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        }
      },
      "description": "Represents the properties of an elastic pool database activity."
    },
    "ElasticPoolDatabaseActivity": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolDatabaseActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents the activity on an elastic pool."
    },
    "ElasticPoolDatabaseActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolDatabaseActivity"
          },
          "description": "The list of elastic pool database activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool database activity request."
    },
    "RecommendedIndexProperties": {
      "properties": {
        "action": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Create",
            "Drop",
            "Rebuild"
          ],
          "description": "The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.",
          "x-ms-enum": {
            "name": "RecommendedIndexAction"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "Active",
            "Pending",
            "Executing",
            "Verifying",
            "Pending Revert",
            "Reverting",
            "Reverted",
            "Ignored",
            "Expired",
            "Blocked",
            "Success"
          ],
          "type": "string",
          "description": "The current recommendation state.",
          "x-ms-enum": {
            "name": "RecommendedIndexState"
          }
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime showing when this resource was created (ISO8601 format)."
        },
        "lastModified": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime of when was this resource last changed (ISO8601 format)."
        },
        "indexType": {
          "readOnly": true,
          "enum": [
            "CLUSTERED",
            "NONCLUSTERED",
            "COLUMNSTORE",
            "CLUSTERED COLUMNSTORE"
          ],
          "type": "string",
          "description": "The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)",
          "x-ms-enum": {
            "name": "RecommendedIndexType"
          }
        },
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "The schema where table to build index over resides"
        },
        "table": {
          "readOnly": true,
          "type": "string",
          "description": "The table on which to build index."
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns over which to build index"
        },
        "includedColumns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of column names to be included in the index"
        },
        "indexScript": {
          "readOnly": true,
          "type": "string",
          "description": "The full build index script"
        },
        "estimatedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The estimated impact of doing recommended index action."
        },
        "reportedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The values reported after index action is complete."
        }
      },
      "description": "Represents the properties of a database recommended index."
    },
    "RecommendedIndex": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendedIndexProperties",
          "readOnly": true,
          "x-ms-client-flatten": true,
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a database recommended index."
    },
    "TransparentDataEncryptionProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the database transparent data encryption.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionStatus"
          }
        }
      },
      "description": "Represents the properties of a database transparent data encryption."
    },
    "TransparentDataEncryption": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents a database transparent data encryption ."
    },
    "DatabaseProperties": {
      "properties": {
        "collation": {
          "type": "string",
          "description": "The collation of the database. If createMode is not Default, this value is ignored.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format)."
        },
        "containmentState": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The containment state of the database."
        },
        "currentServiceObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The current service level objective ID of the database. This is the ID of the service level objective that is currently active."
        },
        "databaseId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The ID of the database."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "This records the earliest start date and time that restore is available for this database (ISO8601 format)."
        },
        "createMode": {
          "type": "string",
          "description": "Specifies the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.\n\nOnlineSecondary/NonReadableSecondary: creates a database as a (readable or nonreadable) secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.\n\nPointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.\n\nRestore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.\n\nCopy, NonReadableSecondary, OnlineSecondary and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.",
          "enum": [
            "Copy",
            "Default",
            "NonReadableSecondary",
            "OnlineSecondary",
            "PointInTimeRestore",
            "Recovery",
            "Restore",
            "RestoreLongTermRetentionBackup"
          ],
          "x-ms-enum": {
            "name": "CreateMode",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceDatabaseId": {
          "type": "string",
          "description": "Conditional. If createMode is Copy, NonReadableSecondary, OnlineSecondary, PointInTimeRestore, Recovery, or Restore, then this value is required. Specifies the resource ID of the source database. If createMode is NonReadableSecondary or OnlineSecondary, the name of the source database must be the same as the new database being created.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceDatabaseDeletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Conditional. If createMode is Restore and sourceDatabaseId is the deleted database's original resource id when it existed (as opposed to its current restorable dropped database id), then this value is required. Specifies the time that the database was deleted.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Conditional. If createMode is PointInTimeRestore, this value is required. If createMode is Restore, this value is optional. Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database. Must be greater than or equal to the source database's earliestRestoreDate value.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "recoveryServicesRecoveryPointResourceId": {
          "type": "string",
          "description": "Conditional. If createMode is RestoreLongTermRetentionBackup, then this value is required. Specifies the resource ID of the recovery point to restore from.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "edition": {
          "type": "string",
          "description": "The edition of the database. The DatabaseEditions enumeration contains all the valid editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: \"Capabilities_ListByLocation.\"",
          "enum": [
            "Web",
            "Business",
            "Basic",
            "Standard",
            "Premium",
            "Free",
            "Stretch",
            "DataWarehouse",
            "System",
            "System2"
          ],
          "x-ms-enum": {
            "name": "DatabaseEdition",
            "modelAsString": true
          }
        },
        "maxSizeBytes": {
          "type": "string",
          "description": "The max size of the database expressed in bytes. If createMode is not Default, this value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: \"Capabilities_ListByLocation.\""
        },
        "requestedServiceObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "The configured service level objective ID of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of currentServiceObjectiveId property. If requestedServiceObjectiveId and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveId overrides the value of requestedServiceObjectiveName. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: \"Capabilities_ListByLocation.\""
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "enum": [
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "System",
            "System2",
            "ElasticPool"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          },
          "description": "The name of the configured service level objective of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of serviceLevelObjective property. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: \"Capabilities_ListByLocation.\""
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "System",
            "System2",
            "ElasticPool"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          },
          "description": "The current service level objective of the database."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the database."
        },
        "elasticPoolName": {
          "type": "string",
          "description": "The name of the elastic pool the database is in. If elasticPoolName and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveName is ignored. Not supported for DataWarehouse edition."
        },
        "defaultSecondaryLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The default secondary region for this database."
        },
        "serviceTierAdvisors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for this database. Expanded property"
        },
        "transparentDataEncryption": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryption"
          },
          "description": "The transparent data encryption info for this database."
        },
        "recommendedIndex": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedIndex"
          },
          "description": "The recommended indices for this database."
        },
        "failoverGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "The resource identifier of the failover group containing this database."
        },
        "readScale": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "description": "Conditional. If the database is a geo-secondary, readScale indicates whether read-only connections are allowed to this database or not. Not supported for DataWarehouse edition.",
          "x-ms-enum": {
            "name": "ReadScale"
          }
        },
        "sampleName": {
          "type": "string",
          "enum": [
            "AdventureWorksLT"
          ],
          "description": "Indicates the name of the sample schema to apply when creating this database. If createMode is not Default, this value is ignored. Not supported for DataWarehouse edition.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "SampleName"
          },
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "description": "Represents the properties of a database."
    },
    "Database": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of database.  This is metadata used for the Azure portal experience."
        },
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of databases housed in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list database request."
    },
    "ServiceTierAdvisorProperties": {
      "properties": {
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
[...]
