{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database replication links",
    "description": "Provides read, delete, and failover functionality for Azure SQL Database replication links.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}": {
      "delete": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_DeleteReplicationLink",
        "description": "Deletes a database replication link. Cannot be done during failover.",
        "x-ms-examples": {
          "Delete a replication link": {
            "$ref": "#/definitions/ReplicationLinkDelete"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database that has the replication link to be dropped."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        }
      },
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_GetReplicationLink",
        "description": "Gets a database replication link.",
        "x-ms-examples": {
          "Get a replication link": {
            "$ref": "#/definitions/ReplicationLinkGet"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to get the link for."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The replication link ID to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicationLink"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_FailoverReplicationLink",
        "description": "Sets which replica database is primary by failing over from the current primary replica database.",
        "x-ms-examples": {
          "Failover a replication link": {
            "$ref": "#/definitions/ReplicationLinkFailover"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be failed over."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_FailoverReplicationLinkAllowDataLoss",
        "description": "Sets which replica database is primary by failing over from the current primary replica database. This operation might result in data loss.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be failed over."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks": {
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_ListReplicationLinks",
        "description": "Lists a database's replication links.",
        "x-ms-examples": {
          "List Replication links": {
            "$ref": "#/definitions/ReplicationLinkList"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to retrieve links for."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicationLinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "SubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID."
        }
      }
    },
    "ReplicationLinkProperties": {
      "properties": {
        "isTerminationAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Legacy value indicating whether termination is allowed.  Currently always returns true."
        },
        "replicationMode": {
          "readOnly": true,
          "type": "string",
          "description": "Replication mode of this replication link."
        },
        "partnerServer": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server hosting the partner database."
        },
        "partnerDatabase": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the partner database."
        },
        "partnerLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The Azure Region of the partner database."
        },
        "role": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "partnerRole": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the partner database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The start time for the replication link."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage of seeding complete for the replication link."
        },
        "replicationState": {
          "readOnly": true,
          "type": "string",
          "description": "The replication state for the replication link.",
          "enum": [
            "PENDING",
            "SEEDING",
            "CATCH_UP",
            "SUSPENDED"
          ],
          "x-ms-enum": {
            "name": "ReplicationState",
            "modelAsString": true
          }
        }
      },
      "description": "Represents the properties of a database replication link."
    },
    "ReplicationLink": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the server that contains this firewall rule.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of resource this is.",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReplicationLinkProperties",
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents a database replication link."
    },
    "ReplicationLinkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReplicationLink"
          },
          "description": "The list of database replication links housed in the database."
        }
      },
      "description": "Represents the response to a List database replication link request."
    },
    "ReplicationLinkDelete": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "linkId": "5b301b68-03f6-4b26-b0f4-73ebb8634238",
        "api-version": "2014-04-01"
      },
      "responses": {
        "200": {
          "body": ""
        },
        "204": {
          "body": ""
        }
      }
    },
    "ReplicationLinkGet": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-8931",
        "serverName": "sqlcrudtest-2137",
        "databaseName": "testdb",
        "linkId": "f0550bf5-07ce-4270-8e4b-71737975973a",
        "api-version": "2014-04-01"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-2137/databases/testdb/replicationLinks/f0550bf5-07ce-4270-8e4b-71737975973a",
            "name": "f0550bf5-07ce-4270-8e4b-71737975973a",
            "type": "Microsoft.Sql/servers/databases/replicationLinks",
            "location": "Japan East",
            "properties": {
              "partnerServer": "sqlcrudtest-1932",
              "partnerDatabase": "testdb",
              "partnerLocation": "Japan East",
              "role": "Secondary",
              "partnerRole": "Primary",
              "replicationMode": "ASYNC",
              "startTime": "2017-02-10T01:37:49.153",
              "percentComplete": 100,
              "replicationState": "CATCH_UP",
              "isTerminationAllowed": true
            }
          }
        }
      }
    },
    "ReplicationLinkFailover": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-8931",
        "serverName": "sqlcrudtest-2137",
        "databaseName": "testdb",
        "linkId": "f0550bf5-07ce-4270-8e4b-71737975973a",
        "api-version": "2014-04-01"
      },
      "responses": {
        "202": {},
        "204": {}
      }
    },
    "ReplicationLinkList": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb/replicationLinks/5b301b68-03f6-4b26-b0f4-73ebb8634238",
                "name": "5b301b68-03f6-4b26-b0f4-73ebb8634238",
                "type": "Microsoft.Sql/servers/databases/replicationLinks",
                "location": "Japan East",
                "properties": {
                  "partnerServer": "sqlcrudtest-5961",
                  "partnerDatabase": "testdb",
                  "partnerLocation": "Japan East",
                  "role": "Secondary",
                  "partnerRole": "Primary",
                  "replicationMode": "ASYNC",
                  "startTime": "2017-02-10T01:44:27.117",
                  "percentComplete": 100,
                  "replicationState": "CATCH_UP",
                  "isTerminationAllowed": true
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-operation-group-name": "DatabaseReplicationLinks"
}