{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database API spec",
    "description": "Provides create, read, update and delete functionality for Azure SQL resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_PauseDataWarehouse",
        "description": "Pause an Azure SQL Data Warehouse database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to pause."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_ResumeDataWarehouse",
        "description": "Resume an Azure SQL Data Warehouse database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to resume."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "tags": [
          "DatabaseBackup"
        ],
        "operationId": "Databases_ListRestorePoints",
        "description": "Returns a list of Azure SQL database restore points.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database from which to retrieve available restore points."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorePointListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Creates a new Azure SQL database or updates an existing Azure SQL database. Location is a required property in the request body, and it must be the same as the location of the SQL server.",
        "x-ms-examples": {
          "Create a database min": {
            "$ref": "#/definitions/DatabaseCreateMin"
          },
          "Create a database max": {
            "$ref": "#/definitions/DatabaseCreateMax"
          },
          "Create a database as a copy": {
            "$ref": "#/definitions/DatabaseCreateCopy"
          },
          "Create a database as an online secondary": {
            "$ref": "#/definitions/DatabaseCreateOnlineSecondary"
          },
          "Create a database as a non-readable secondary": {
            "$ref": "#/definitions/DatabaseCreateNonReadableSecondary"
          },
          "Create a database as a point in time restore": {
            "$ref": "#/definitions/DatabaseCreatePointInTimeRestore"
          },
          "Update a database's elastic pool'": {
            "$ref": "#/definitions/DatabaseUpdateElasticPool"
          },
          "Update a database max": {
            "$ref": "#/definitions/DatabaseUpdateMax"
          },
          "Update a database min": {
            "$ref": "#/definitions/DatabaseUpdateMin"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database to be operated on (updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            },
            "description": "The required parameters for creating or updating a database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Delete",
        "description": "Deletes an Azure SQL database.",
        "x-ms-examples": {
          "Delete a database": {
            "$ref": "#/definitions/DatabaseDelete"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        }
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Get",
        "description": "Gets information about an Azure SQL database.",
        "x-ms-examples": {
          "Get a database": {
            "$ref": "#/definitions/DatabaseGet"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database to be retrieved."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, upgradeHint, transparentDataEncryption."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListByServer",
        "description": "Returns information about an Azure SQL database.",
        "x-ms-examples": {
          "List databases by server": {
            "$ref": "#/definitions/DatabaseList"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListUsages",
        "description": "Returns information about Azure SQL database usages.",
        "x-ms-examples": {
          "List database usage metrics": {
            "$ref": "#/definitions/DatabaseUsageMetricsList"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_GetServiceTierAdvisor",
        "description": "Gets information about a service tier advisor.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "name": "serviceTierAdvisorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of service tier advisor."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisor"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_ListServiceTierAdvisors",
        "description": "Returns information about service tier advisors for specified database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current": {
      "put": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_CreateOrUpdateTransparentDataEncryptionConfiguration",
        "description": "Creates or updates an Azure SQL Database Transparent Data Encryption Operation.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database for which setting the Transparent Data Encryption applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            },
            "description": "The required parameters for creating or updating transparent data encryption."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_GetTransparentDataEncryptionConfiguration",
        "description": "Gets an Azure SQL Database Transparent Data Encryption Response.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database for which the Transparent Data Encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current/operationResults": {
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_ListTransparentDataEncryptionActivity",
        "description": "Returns an Azure SQL Database Transparent Data Encryption Activity Response.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database for which the Transparent Data Encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "RecommendedElasticPoolMetric": {
      "properties": {
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time of metric (ISO8601 format)."
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/"
        },
        "sizeGB": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets size in gigabytes."
        }
      },
      "description": "Represents Azure SQL recommended elastic pool metric."
    },
    "RecommendedElasticPoolProperties": {
      "properties": {
        "databaseEdition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the Azure SQL Recommended Elastic Pool. The ElasticPoolEditions enumeration contains all the valid editions.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEditions",
            "modelAsString": true
          }
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "The DTU for the Azure Sql Recommended Elastic Pool."
        },
        "databaseDtuMin": {
          "type": "number",
          "format": "double",
          "description": "The minimum DTU for the database."
        },
        "databaseDtuMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum DTU for the database."
        },
        "storageMB": {
          "type": "number",
          "format": "double",
          "description": "Gets storage size in megabytes."
        },
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "maxObservedDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed DTU."
        },
        "maxObservedStorageMB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed storage in megabytes."
        },
        "databases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of Azure SQL Databases in this pool. Expanded property"
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of Azure SQL Databases housed in the server. Expanded property"
        }
      },
      "description": "Represents the properties of an Azure SQL Recommended Elastic Pool."
    },
    "RecommendedElasticPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecommendedElasticPoolProperties",
          "description": "The properites representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Recommended Elastic Pool."
    },
    "RecommendedElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPool"
          },
          "description": "The list of Azure SQL Recommended Elastic Pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Recommended Elastic Pool request."
    },
    "RecommendedElasticPoolListMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of Azure SQL Recommended Elastic Pools metrics."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Recommended Elastic Pool metrics request."
    },
    "ElasticPoolProperties": {
      "properties": {
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Azure SQL Elastic Pool (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Creating",
            "Ready",
            "Disabled"
          ],
          "description": "The state of the Azure SQL Elastic Pool.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ElasticPoolState"
          }
        },
        "edition": {
          "type": "string",
          "description": "The edition of the Azure SQL Elastic Pool.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEditions",
            "modelAsString": true
          }
        },
        "dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The total shared DTU for the Azure Sql Database Elastic Pool."
        },
        "databaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum DTU any one Azure Sql Database can consume."
        },
        "databaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum DTU all Azure Sql Databases are guaranteed."
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets storage limit for the Azure Sql Database Elastic Pool in MB."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool."
    },
    "ElasticPool": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of elastic pool.  This is metadata used for the Azure portal experience."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database elastic pool."
    },
    "ElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPool"
          },
          "description": "The list of Azure SQL Elastic Pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Elastic Pool request."
    },
    "ElasticPoolActivityProperties": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "The unique operation ID."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedDatabaseDtuMax": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested max DTU per database if available."
        },
        "requestedDatabaseDtuMin": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested min DTU per database if available."
        },
        "requestedDtu": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU for the pool if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The requested name for the Elastic Pool if available."
        },
        "requestedStorageLimitInGB": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The requested storage limit for the pool in GB if available."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Elastic Pool."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Azure SQL server the Elastic Pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        },
        "requestedStorageLimitInMB": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested storage limit in MB."
        },
        "requestedDatabaseDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per Database DTU guarantee."
        },
        "requestedDatabaseDtuCap": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per Database DTU cap."
        },
        "requestedDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU guarantee."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool."
    },
    "ElasticPoolActivity": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents the activity on an Azure SQL Elastic Pool."
    },
    "ElasticPoolActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolActivity"
          },
          "description": "The list of Azure SQL Elastic Pool Activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Elastic Pool Activity request."
    },
    "ElasticPoolDatabaseActivityProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The database name."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "The unique operation ID."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the Elastic Pool the database is moving into if available."
        },
        "currentElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current Elastic Pool the database is in if available."
        },
        "currentServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current service objective if available."
        },
        "requestedServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the requested service objective if available."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Azure SQL server the Elastic Pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool Database Activity."
    },
    "ElasticPoolDatabaseActivity": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolDatabaseActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents the activity on an Azure SQL Elastic Pool."
    },
    "ElasticPoolDatabaseActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolDatabaseActivity"
          },
          "description": "The list of Azure SQL Elastic Pool Database Activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Elastic Pool Database Activity request."
    },
    "ServerProperties": {
      "properties": {
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified domain name of the server."
        },
        "version": {
          "type": "string",
          "enum": [
            "2.0",
            "12.0"
          ],
          "description": "The version of the server.",
          "x-ms-enum": {
            "name": "ServerVersion",
            "modelAsString": true
          }
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator username for the server. Can only be specified when the server is being created (and is required for creation).",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator login password (required for server creation).",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "externalAdministratorSid": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The ID of the Active Azure Directory object with admin permissions on this server. Legacy parameter, always null. To check for Active Directory admin, query .../servers/{serverName}/administrators."
        },
        "externalAdministratorLogin": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the Azure Active Directory object with admin permissions on this server. Legacy parameter, always null. To check for Active Directory admin, query .../servers/{serverName}/administrators"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the server.",
          "enum": [
            "Ready",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ServerState"
          }
        }
      },
      "description": "Represents the properties of an Azure SQL server."
    },
    "Server": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of sql server.  This is metadata used for the Azure portal experience."
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "Represents the properties of the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL server."
    },
    "ServerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "description": "The list of Azure SQL servers."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a Get Azure SQL server request."
    },
    "UpgradeRecommendedElasticPoolProperties": {
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "Edition": {
          "type": "string",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "description": "The target edition for the Azure SQL Recommended Elastic Pool being upgraded.",
          "x-ms-enum": {
            "name": "TargetElasticPoolEditions"
          }
        },
        "Dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU guarantee for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "StorageMb": {
          "type": "integer",
          "format": "int32",
          "description": "The storage limit in MB for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU guarantee for database for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU cap for database for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of database names to be put in the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "IncludeAllDatabases": {
          "type": "boolean",
          "description": "Gets or sets whether all databases to be put in the Azure SQL Recommended Elastic Pool being upgraded."
        }
      },
      "required": [
        "Name",
        "Edition"
      ],
      "description": "Represents the properties of a Azure SQL Recommended Elastic Pool being upgraded."
    },
    "RecommendedIndexProperties": {
      "properties": {
        "action": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Create",
            "Drop",
            "Rebuild"
          ],
          "description": "The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.",
          "x-ms-enum": {
            "name": "RecommendedIndexActions"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "Active",
            "Pending",
            "Executing",
            "Verifying",
            "Pending Revert",
            "Reverting",
            "Reverted",
            "Ignored",
            "Expired",
            "Blocked",
            "Success"
          ],
          "type": "string",
          "description": "The current recommendation state.",
          "x-ms-enum": {
            "name": "RecommendedIndexStates"
          }
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime showing when this resource was created (ISO8601 format)."
        },
        "lastModified": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime of when was this resource last changed (ISO8601 format)."
        },
        "indexType": {
          "readOnly": true,
          "enum": [
            "CLUSTERED",
            "NONCLUSTERED",
            "COLUMNSTORE",
            "CLUSTERED COLUMNSTORE"
          ],
          "type": "string",
          "description": "The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)",
          "x-ms-enum": {
            "name": "RecommendedIndexTypes"
          }
        },
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "The schema where table to build index over resides"
        },
        "table": {
          "readOnly": true,
          "type": "string",
          "description": "The table on which to build index."
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns over which to build index"
        },
        "includedColumns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of column names to be included in the index"
        },
        "indexScript": {
          "readOnly": true,
          "type": "string",
          "description": "The full build index script"
        },
        "estimatedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The estimated impact of doing recommended index action."
        },
        "reportedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The values reported after index action is complete."
        }
      },
      "description": "Represents the properties of an Azure SQL Database recommended index."
    },
    "RecommendedIndex": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendedIndexProperties",
          "readOnly": true,
          "x-ms-client-flatten": true,
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database recommended index."
    },
    "TransparentDataEncryptionProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the Azure SQL Database Transparent Data Encryption.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionStates"
          }
        }
      },
      "description": "Represents the properties of an Azure SQL Database Transparent Data Encryption."
    },
    "TransparentDataEncryption": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Transparent Data Encryption ."
    },
    "DatabaseProperties": {
      "properties": {
        "collation": {
          "type": "string",
          "description": "The collation of the Azure SQL database. If createMode is not Default, this value is ignored.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Azure SQL database (ISO8601 format)."
        },
        "containmentState": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The containment state of the Azure SQL database."
        },
        "currentServiceObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "enum": [
            "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
            "f1173c43-91bd-4aaa-973c-54e79e15235b",
            "1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
            "455330e1-00cd-488b-b5fa-177c226f28b7",
            "789681b8-ca10-4eb0-bdf2-e0b050601b40",
            "7203483a-c4fb-4304-9e9f-17c71c904f5d",
            "a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0",
            "a7c4c615-cfb1-464b-b252-925be0a19446",
            "26e021db-f1f9-4c98-84c6-92af8ef433d7",
            "29dd7459-4a7c-4e56-be22-f0adda49440d",
            "c99ac918-dbea-463f-a475-16ec020fdc12",
            "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
            "33d0db1f-6893-4210-99f9-463fb9b496a4",
            "da24338c-a6c9-46c2-a4bf-4ac95b496ae4"
          ],
          "description": "The current Service Level Objective ID of the Azure SQL database. This is the ID of the Service Level Objective that is currently active.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveId"
          }
        },
        "databaseId": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the Azure SQL database."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "This records the earliest start date and time that restore is available for this Azure SQL Database (ISO8601 format)."
        },
        "createMode": {
          "type": "string",
          "description": "Specifies the type of database to create. If createMode is not set to Default, sourceDatabaseId must be specified. If createMode is set to PointInTimeRestore, then restorePointInTime must be specified. If createMode is set to Restore, then sourceDatabaseDeletionDate must be specified.",
          "enum": [
            "Copy",
            "Default",
            "NonReadableSecondary",
            "OnlineSecondary",
            "PointInTimeRestore",
            "Recovery",
            "Restore"
          ],
          "x-ms-enum": {
            "name": "createMode",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceDatabaseId": {
          "type": "string",
          "description": "Conditional. If createMode is not set to Default, then this value must be specified. Specifies the resource ID of the source database. If createMode is NonReadableSecondary or OnlineSecondary, the name of the source database must be the same as this new database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Conditional. If createMode is set to PointInTimeRestore, then this value must be specified. Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database. Must be greater than or equal to the source database's earliestRestoreDate value.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "edition": {
          "type": "string",
          "description": "The edition of the Azure SQL database. The DatabaseEditions enumeration contains all the valid editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is ignored.",
          "enum": [
            "Web",
            "Business",
            "Basic",
            "Standard",
            "Premium",
            "Free",
            "Stretch",
            "DataWarehouse",
            "System"
          ],
          "x-ms-enum": {
            "name": "DatabaseEditions",
            "modelAsString": true
          }
        },
        "maxSizeBytes": {
          "type": "string",
          "description": "The max size of the Azure SQL database expressed in bytes. If createMode is not Default, this value is ignored. Note: Only the following sizes are supported (in addition to limitations being placed on each edition): { 100 MB | 500 MB |1 GB | 5 GB | 10 GB | 20 GB | 30 GB … 150 GB | 200 GB … 500 GB }"
        },
        "requestedServiceObjectiveId": {
          "type": "string",
          "format": "uuid",
          "enum": [
            "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
            "f1173c43-91bd-4aaa-973c-54e79e15235b",
            "1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
            "455330e1-00cd-488b-b5fa-177c226f28b7",
            "789681b8-ca10-4eb0-bdf2-e0b050601b40",
            "7203483a-c4fb-4304-9e9f-17c71c904f5d",
            "a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0",
            "a7c4c615-cfb1-464b-b252-925be0a19446",
            "26e021db-f1f9-4c98-84c6-92af8ef433d7",
            "29dd7459-4a7c-4e56-be22-f0adda49440d",
            "c99ac918-dbea-463f-a475-16ec020fdc12",
            "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
            "33d0db1f-6893-4210-99f9-463fb9b496a4",
            "da24338c-a6c9-46c2-a4bf-4ac95b496ae4"
          ],
          "description": "The configured Service Level Objective ID of the Azure SQL database. This is the Service Level Objective that is in the process of being applied to the Azure SQL database. Once successfully updated, it will match the value of currentServiceObjectiveId property.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveId"
          }
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "enum": [
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "System",
            "System1",
            "System2",
            "System3",
            "System4"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          },
          "description": "The name of the configured Service Level Objective of the Azure SQL database. This is the Service Level Objective that is in the process of being applied to the Azure SQL database. Once successfully updated, it will match the value of serviceLevelObjective property."
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "System",
            "System1",
            "System2",
            "System3",
            "System4"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          },
          "description": "The current Service Level Objective of the Azure SQL database."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL database."
        },
        "elasticPoolName": {
          "type": "string",
          "description": "The name of the Azure SQL Elastic Pool the database is in."
        },
        "defaultSecondaryLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The default secondary region for this database."
        },
        "serviceTierAdvisors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for this database. Expanded property"
        },
        "schemas": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schema"
          },
          "description": "The schemas from this database."
        },
        "transparentDataEncryption": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryption"
          },
          "description": "The transparent data encryption info for this database."
        },
        "recommendedIndex": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedIndex"
          },
          "description": "The recommended indices for this database."
        },
        "failoverGroupId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The id indicating the failover group containing this database."
        },
        "readScale": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "description": "Conditional.  If the database is a geo-secondary, readScale indicates whether read-only connections are allowed to this database or not.",
          "x-ms-enum": {
            "name": "ReadScale"
          }
        },
        "sampleName": {
          "type": "string",
          "enum": [
            "AdventureWorksLT"
          ],
          "description": "Indicates the name of the sample schema to apply when creating this database. If createMode is not Default, this value is ignored.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "SampleName"
          },
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "description": "Represents the properties of an Azure SQL Database."
    },
    "Database": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of database.  This is metadata used for the Azure portal experience."
        },
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of Azure SQL Databases housed in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Database request."
    },
    "ServiceTierAdvisorProperties": {
      "properties": {
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "activeTimeRatio": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The activeTimeRatio for service tier advisor."
        },
        "minDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets minDtu for service tier advisor."
        },
        "avgDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets avgDtu for service tier advisor."
        },
        "maxDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxDtu for service tier advisor."
        },
        "maxSizeInGB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxSizeInGB for service tier advisor."
        },
        "serviceLevelObjectiveUsageMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SloUsageMetric"
          },
          "description": "Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor."
        },
        "currentServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets currentServiceLevelObjective for service tier advisor."
        },
        "currentServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets currentServiceLevelObjectiveId for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "overallRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets overallRecommendationServiceLevelObjective for service tier advisor."
        },
        "overallRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets confidence for service tier advisor."
        }
      },
      "description": "Represents the properties of a Service Tier Advisor."
    },
    "ServiceTierAdvisor": {
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "#/definitions/ServiceTierAdvisorProperties",
          "description": "The properites representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents a Service Tier Advisor."
    },
    "SloUsageMetric": {
      "properties": {
        "serviceLevelObjective": {
          "type": "string",
          "description": "The serviceLevelObjective for SLO usage metric.",
          "enum": [
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "System",
            "System1",
            "System2",
            "System3",
            "System4"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          }
        },
        "serviceLevelObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "The serviceLevelObjectiveId for SLO usage metric.",
          "enum": [
            "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
            "f1173c43-91bd-4aaa-973c-54e79e15235b",
            "1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
            "455330e1-00cd-488b-b5fa-177c226f28b7",
            "789681b8-ca10-4eb0-bdf2-e0b050601b40",
            "7203483a-c4fb-4304-9e9f-17c71c904f5d",
            "a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0",
            "a7c4c615-cfb1-464b-b252-925be0a19446",
            "26e021db-f1f9-4c98-84c6-92af8ef433d7",
            "29dd7459-4a7c-4e56-be22-f0adda49440d",
            "c99ac918-dbea-463f-a475-16ec020fdc12",
            "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
            "33d0db1f-6893-4210-99f9-463fb9b496a4",
            "da24338c-a6c9-46c2-a4bf-4ac95b496ae4"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveId"
          }
        },
        "inRangeTimeRatio": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets inRangeTimeRatio for SLO usage metric."
        }
      },
      "description": "Represents a Slo Usage Metric."
    },
    "UpgradeHint": {
      "properties": {
        "targetServiceLevelObjective": {
          "type": "string",
          "description": "TargetServiceLevelObjective for upgrade hint."
        },
        "targetServiceLevelObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "TargetServiceLevelObjectiveId for upgrade hint."
        }
      },
      "description": "Represents a Upgrade Hint."
    },
    "TableProperties": {
      "properties": {
        "tableType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure SQL Database table.",
          "enum": [
            "BaseTable",
            "View"
          ],
          "x-ms-enum": {
            "name": "TableType"
          }
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Column"
          },
          "description": "The columns from this table."
        },
        "recommendedIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedIndex"
          },
          "description": "The recommended indices for this table."
        }
      },
      "description": "Represents the properties of an Azure SQL Database table."
    },
    "ColumnProperties": {
      "properties": {
        "columnType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure SQL Database table column."
        }
      },
      "description": "Represents the properties of an Azure SQL Database table column."
    },
    "OperationImpact": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the impact dimension."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The unit in which estimated impact to dimension is measured."
        },
        "changeValueAbsolute": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The absolute impact to dimension."
        },
        "changeValueRelative": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The relative impact to dimension (null if not applicable)"
        }
      },
      "description": "Represents impact of an operation, both in absolute and relative terms."
    },
    "Column": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ColumnProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database table column."
    },
    "Table": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/TableProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database table."
    },
    "SchemaProperties": {
      "properties": {
        "tables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          },
          "description": "The tables from this database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database schema."
    },
    "Schema": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SchemaProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database schema."
    },
    "RestorePointProperties": {
      "properties": {
        "restorePointType": {
          "readOnly": true,
          "type": "string",
          "description": "The restore point type of the Azure SQL database restore point.",
          "enum": [
            "DISCRETE",
            "CONTINUOUS"
          ],
          "x-ms-enum": {
            "name": "RestorePointTypes"
          }
        },
        "restorePointCreationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise."
        }
      },
      "description": "Represents the properties of an Azure SQL Database restore point."
    },
    "RestorePoint": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorePointProperties",
          "description": "The properties representing the restore point.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database restore point."
    },
    "RestorePointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorePoint"
          },
          "description": "The list of a given Azure SQL Database restore points."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Database restore points request."
    },
    "DatabaseMetric": {
      "properties": {
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The metric display name."
        },
        "currentValue": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current limit of the metric."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units of the metric."
        },
        "nextResetTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The next reset time for the metric (ISO8601 format)."
        }
      },
      "description": "Represents Azure SQL Database metrics.",
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ]
    },
    "DatabaseMetricListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseMetric"
          },
          "description": "The list of Azure SQL Database metrics for the database."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Database metrics request."
    },
    "ServerMetric": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the server usage metric."
        },
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The metric display name."
        },
        "currentValue": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current limit of the metric."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units of the metric."
        },
        "nextResetTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The next reset time for the metric (ISO8601 format)."
        }
      },
      "description": "Represents Azure SQL server metrics."
    },
    "ServerMetricListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerMetric"
          },
          "description": "The list of Azure SQL server metrics for the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL server metrics request."
    },
    "ServiceTierAdvisorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for specified database."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list service tier advisor request."
    },
    "ServiceObjectiveProperties": {
      "properties": {
        "serviceObjectiveName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the service objective."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is the default service objective."
        },
        "isSystem": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is a system service objective."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description for the service level objective."
        },
        "enabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is enabled."
        }
      },
      "description": "Represents the properties of an Azure SQL Database Service Objective."
    },
    "ServiceObjective": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceObjectiveProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Service Objective."
    },
    "ServiceObjectiveListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceObjective"
          },
          "description": "The list of Azure SQL Database Service Objectives."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a Get Azure SQL Database Service Objectives request."
    },
    "TransparentDataEncryptionActivityProperties": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL database.",
          "enum": [
            "Encrypting",
            "Decrypting"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionActivityStates",
            "modelAsString": true
          }
        },
        "percentComplete": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "The percent complete of the transparent data encryption scan for a Azure SQL Database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database Transparent Data Encryption Scan."
    },
    "TransparentDataEncryptionActivity": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionActivityProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Transparent Data Encryption Scan."
    },
    "TransparentDataEncryptionActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryptionActivity"
          },
          "description": "The list of Azure SQL Database Transparent Data Encryption Activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a List Azure SQL Database Transparent Data Encryption Activity request."
    },
    "Resource": {
      "description": "Resource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SqlSubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID."
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list SQL operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of SQL operations supported by the SQL resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "SQL REST API operation definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft SQL Database.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Server, Database, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "DatabaseCreateMin": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-5961",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East"
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseCreateMax": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East",
          "properties": {
            "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
            "edition": "Standard",
            "status": "Online",
            "createMode": "Default",
            "serviceLevelObjective": "S0",
            "collation": "SQL_Latin1_General_CP1_CI_AS",
            "maxSizeBytes": "268435456000",
            "creationDate": "2017-02-10T01:37:18.847Z",
            "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
            "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
            "requestedServiceObjectiveName": "S0",
            "defaultSecondaryLocation": "Japan West",
            "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
            "containmentState": 2,
            "readScale": "Disabled",
            "sampleName": "AdventureWorksLT"
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
              "edition": "Standard",
              "status": "Online",
              "createMode": "Default",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "creationDate": "2017-02-10T01:37:18.847Z",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "sourceDatabaseId": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
              "edition": "Standard",
              "status": "Online",
              "createMode": "Default",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "creationDate": "2017-02-10T01:37:18.847Z",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "sourceDatabaseId": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseCreateCopy": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East",
          "properties": {
            "createMode": "Copy",
            "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseCreateOnlineSecondary": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East",
          "properties": {
            "createMode": "OnlineSecondary",
            "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseCreateNonReadableSecondary": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East",
          "properties": {
            "createMode": "NonReadableSecondary",
            "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseCreatePointInTimeRestore": {
      "parameters": {
        "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
        "resourceGroupName": "sqlcrudtest-8412",
        "serverName": "sqlcrudtest-3584",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "location": "Japan East",
          "properties": {
            "createMode": "PointInTimeRestore",
            "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
            "restorePointInTime": "2017-02-16T21:24:37.467Z"
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "201": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
              "defaultSecondaryLocation": "Japan West",
              "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
              "elasticPoolName": null,
              "containmentState": 2,
              "readScale": "Disabled",
              "failoverGroupId": null
            }
          }
        },
        "202": {}
      }
    },
    "DatabaseUpdateElasticPool": {
      "parameters": {
        "subscriptionId": "9d4e2ad0-e20b-4464-9219-353bded52513",
        "resourceGroupName": "sqlcrudtest-4799",
        "serverName": "sqlcrudtest-6440",
        "databaseName": "testdb",
        "api-version": "2014-04-01",
        "parameters": {
          "properties": {
            "elasticPoolName": "7537"
          },
          "location": "Japan East"
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases",
            "location": "Japan East",
            "kind": "v12.0,user",
            "properties": {
              "edition": "Standard",
              "status": "Online",
              "serviceLevelObjective": "S0",
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": "268435456000",
              "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
              "requestedServiceObjectiveName": "S0",
              "sampleName": null,
[...]
