{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_List",
        "description": "Returns a list of servers.",
        "x-ms-examples": {
          "List servers": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                      "name": "sqlcrudtest-4645",
                      "type": "Microsoft.Sql/servers",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                        "administratorLogin": "dummylogin",
                        "administratorLoginPassword": null,
                        "externalAdministratorLogin": null,
                        "externalAdministratorSid": null,
                        "version": "12.0",
                        "state": "Ready"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-6661",
                      "name": "sqlcrudtest-6661",
                      "type": "Microsoft.Sql/servers",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "fullyQualifiedDomainName": "sqlcrudtest-6661.database.windows.net",
                        "administratorLogin": "dummylogin",
                        "administratorLoginPassword": null,
                        "externalAdministratorLogin": null,
                        "externalAdministratorSid": null,
                        "version": "12.0",
                        "state": "Ready"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}": {
      "put": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_CreateOrUpdate",
        "description": "Creates or updates a new server.",
        "x-ms-examples": {
          "Create server min": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2014-04-01",
              "parameters": {
                "properties": {
                  "administratorLogin": "dummylogin",
                  "administratorLoginPassword": "Un53cuRE!"
                },
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "Japan East",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "administratorLoginPassword": "Un53cuRE!",
                    "externalAdministratorLogin": null,
                    "externalAdministratorSid": null,
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "Japan East",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "administratorLoginPassword": "Un53cuRE!",
                    "externalAdministratorLogin": null,
                    "externalAdministratorSid": null,
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              }
            }
          },
          "Create server max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2014-04-01",
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "Japan East",
                "properties": {
                  "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                  "administratorLogin": "dummylogin",
                  "administratorLoginPassword": "Un53cuRE!",
                  "version": "12.0",
                  "state": "Ready"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "Japan East",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "administratorLoginPassword": "Un53cuRE!",
                    "externalAdministratorLogin": null,
                    "externalAdministratorSid": null,
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "Japan East",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "administratorLoginPassword": "Un53cuRE!",
                    "externalAdministratorLogin": null,
                    "externalAdministratorSid": null,
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "description": "The required parameters for creating or updating a server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Delete",
        "description": "Deletes a SQL server.",
        "x-ms-examples": {
          "Delete SQL Server": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-6661",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": ""
              },
              "204": {
                "body": ""
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Accepted"
          }
        }
      },
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Get",
        "description": "Gets a server.",
        "x-ms-examples": {
          "Get Server": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "Japan East",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "administratorLoginPassword": null,
                    "externalAdministratorLogin": null,
                    "externalAdministratorSid": null,
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListByResourceGroup",
        "description": "Returns a list of servers in a resource group.",
        "x-ms-examples": {
          "List servers by resource group": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                      "name": "sqlcrudtest-4645",
                      "type": "Microsoft.Sql/servers",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                        "administratorLogin": "dummylogin",
                        "administratorLoginPassword": null,
                        "externalAdministratorLogin": null,
                        "externalAdministratorSid": null,
                        "version": "12.0",
                        "state": "Ready"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-6661",
                      "name": "sqlcrudtest-6661",
                      "type": "Microsoft.Sql/servers",
                      "location": "Japan East",
                      "kind": "v12.0",
                      "properties": {
                        "fullyQualifiedDomainName": "sqlcrudtest-6661.database.windows.net",
                        "administratorLogin": "dummylogin",
                        "administratorLoginPassword": null,
                        "externalAdministratorLogin": null,
                        "externalAdministratorSid": null,
                        "version": "12.0",
                        "state": "Ready"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListUsages",
        "description": "Returns server usages.",
        "x-ms-examples": {
          "List servers usages": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6730",
              "serverName": "sqlcrudtest-9007",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "server_dtu_quota",
                      "resourceName": "sqlcrudtest-9007",
                      "displayName": "Database Throughput Unit Quota",
                      "currentValue": 0,
                      "limit": 45000,
                      "unit": "DTUs",
                      "nextResetTime": null
                    },
                    {
                      "name": "server_dtu_quota_current",
                      "resourceName": "sqlcrudtest-9007",
                      "displayName": "Database Throughput Unit Quota",
                      "currentValue": 0,
                      "limit": 45000,
                      "unit": "DTUs",
                      "nextResetTime": null
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_GetServiceObjective",
        "description": "Gets a database service objective.",
        "x-ms-examples": {
          "Get a service objective": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "group1",
              "serverName": "sqlcrudtest",
              "serviceObjectiveName": "29dd7459-4a7c-4e56-be22-f0adda49440d",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "id": "/subscriptions/b6a6e0c5-e79c-4c6d-a878-72eafbca4cf2/resourceGroups/QA/providers/Microsoft.Sql/servers/nafantest/serviceObjectives/29dd7459-4a7c-4e56-be22-f0adda49440d",
                "name": "29dd7459-4a7c-4e56-be22-f0adda49440d",
                "type": "Microsoft.Sql/servers/serviceObjectives",
                "location": "Central US",
                "properties": {
                  "serviceObjectiveName": "System0",
                  "isDefault": false,
                  "isSystem": true,
                  "description": null,
                  "enabled": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "serviceObjectiveName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service objective to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjective"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_ListServiceObjectives",
        "description": "Returns database service objectives.",
        "x-ms-examples": {
          "List service objectives": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "group1",
              "serverName": "sqlcrudtest",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "value": [
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/26e021db-f1f9-4c98-84c6-92af8ef433d7",
                    "name": "26e021db-f1f9-4c98-84c6-92af8ef433d7",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/29dd7459-4a7c-4e56-be22-f0adda49440d",
                    "name": "29dd7459-4a7c-4e56-be22-f0adda49440d",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System0",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/c99ac918-dbea-463f-a475-16ec020fdc12",
                    "name": "c99ac918-dbea-463f-a475-16ec020fdc12",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System1",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                    "name": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System2",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/33d0db1f-6893-4210-99f9-463fb9b496a4",
                    "name": "33d0db1f-6893-4210-99f9-463fb9b496a4",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System3",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/da24338c-a6c9-46c2-a4bf-4ac95b496ae4",
                    "name": "da24338c-a6c9-46c2-a4bf-4ac95b496ae4",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System4",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9",
                    "name": "53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System2L",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/e79cd55c-689f-48d9-bffa-0dd12c772248",
                    "name": "e79cd55c-689f-48d9-bffa-0dd12c772248",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System3L",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/4b37bb6d-e004-47ac-8f7a-be56ac9fb490",
                    "name": "4b37bb6d-e004-47ac-8f7a-be56ac9fb490",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "System4L",
                      "isDefault": false,
                      "isSystem": true,
                      "description": null,
                      "enabled": false
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/6aa3bb3e-7f50-40d6-95ef-5497c30d99d8",
                    "name": "6aa3bb3e-7f50-40d6-95ef-5497c30d99d8",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "Free",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
                    "name": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "Basic",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "name": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "S0",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
                    "name": "1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "S1",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/455330e1-00cd-488b-b5fa-177c226f28b7",
                    "name": "455330e1-00cd-488b-b5fa-177c226f28b7",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "S2",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/789681b8-ca10-4eb0-bdf2-e0b050601b40",
                    "name": "789681b8-ca10-4eb0-bdf2-e0b050601b40",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "S3",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/7203483a-c4fb-4304-9e9f-17c71c904f5d",
                    "name": "7203483a-c4fb-4304-9e9f-17c71c904f5d",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P1",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0",
                    "name": "a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P2",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc",
                    "name": "afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P4",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/43940481-9191-475a-9dba-6b505615b9aa",
                    "name": "43940481-9191-475a-9dba-6b505615b9aa",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P6",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dd00d544-bbc0-4f61-ba60-cdce0c410288",
                    "name": "dd00d544-bbc0-4f61-ba60-cdce0c410288",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P11",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/5bc86cca-9a96-4a94-90ef-bbdfcfbf2d71",
                    "name": "5bc86cca-9a96-4a94-90ef-bbdfcfbf2d71",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "P15",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dfdc102c-ed02-4349-9756-e227f0e43bb8",
                    "name": "dfdc102c-ed02-4349-9756-e227f0e43bb8",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "PRS1",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/a089506e-b47a-4f42-8a32-cc19af4c86fb",
                    "name": "a089506e-b47a-4f42-8a32-cc19af4c86fb",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "PRS2",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/39cb8faf-cba8-4b1b-b580-1e1202f2a024",
                    "name": "39cb8faf-cba8-4b1b-b580-1e1202f2a024",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "PRS4",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/1e8da92e-efcd-4682-9140-bf6582120d1f",
                    "name": "1e8da92e-efcd-4682-9140-bf6582120d1f",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "PRS6",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/4e63cb0e-91b9-46fd-b05c-51fdd2367618",
                    "name": "4e63cb0e-91b9-46fd-b05c-51fdd2367618",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW100",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/99e78a92-d724-4e1b-857b-2be661f3d153",
                    "name": "99e78a92-d724-4e1b-857b-2be661f3d153",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW200",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/284f1aff-fee7-4d3b-a211-5b8ebdd28fea",
                    "name": "284f1aff-fee7-4d3b-a211-5b8ebdd28fea",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW300",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/3bdaeefe-8a9d-41d3-91c4-46ef896b19af",
                    "name": "3bdaeefe-8a9d-41d3-91c4-46ef896b19af",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW400",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/5f759b78-8ec0-4dfb-97cc-c1455a3b5b4d",
                    "name": "5f759b78-8ec0-4dfb-97cc-c1455a3b5b4d",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW500",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/efd65c5b-af7b-4389-9109-f6a69d6a3885",
                    "name": "efd65c5b-af7b-4389-9109-f6a69d6a3885",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW600",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b89b9c6a-4ec2-4eb8-99db-6d2807e6aabb",
                    "name": "b89b9c6a-4ec2-4eb8-99db-6d2807e6aabb",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW1000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/9a7a374e-b95c-4fd5-a68e-131d60796c47",
                    "name": "9a7a374e-b95c-4fd5-a68e-131d60796c47",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW1200",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b930f58e-86b5-43e0-a2da-d8bf8769c557",
                    "name": "b930f58e-86b5-43e0-a2da-d8bf8769c557",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW1500",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/99165ede-a5ab-4b52-b317-e391d92ec370",
                    "name": "99165ede-a5ab-4b52-b317-e391d92ec370",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW2000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/8e28c923-5cf2-43cb-bd25-28c8c69b30ff",
                    "name": "8e28c923-5cf2-43cb-bd25-28c8c69b30ff",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW3000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/ee1df062-4f3c-42ad-91bf-58b2a7c351e4",
                    "name": "ee1df062-4f3c-42ad-91bf-58b2a7c351e4",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DW6000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/9cfc850f-d57f-4760-b5a6-bb640d268bf0",
                    "name": "9cfc850f-d57f-4760-b5a6-bb640d268bf0",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS100",
                      "isDefault": true,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/053407ef-f01c-46f4-b829-96e01a14f449",
                    "name": "053407ef-f01c-46f4-b829-96e01a14f449",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS200",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/013a9e10-cafc-45a8-8fcf-93095655d2ce",
                    "name": "013a9e10-cafc-45a8-8fcf-93095655d2ce",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS300",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/79f61db4-8c10-46ba-a93a-d7d02dddd61c",
                    "name": "79f61db4-8c10-46ba-a93a-d7d02dddd61c",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS400",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/44eaac33-df00-4ef4-a2bb-f7ff87899eea",
                    "name": "44eaac33-df00-4ef4-a2bb-f7ff87899eea",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS500",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/f8e0f3a6-888b-459c-a9dd-d74d8b2b0e72",
                    "name": "f8e0f3a6-888b-459c-a9dd-d74d8b2b0e72",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS600",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b9ed8f51-a414-42dc-8348-e4a1de25e12b",
                    "name": "b9ed8f51-a414-42dc-8348-e4a1de25e12b",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS1000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/07479569-6d70-47a5-8db6-0af55d34f2c1",
                    "name": "07479569-6d70-47a5-8db6-0af55d34f2c1",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS1200",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/2d79baec-2879-46d5-9f5d-fb70eb004c4e",
                    "name": "2d79baec-2879-46d5-9f5d-fb70eb004c4e",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS1500",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/7fb5389f-6d15-4e0b-9540-fe5ecdfdbeee",
                    "name": "7fb5389f-6d15-4e0b-9540-fe5ecdfdbeee",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "DS2000",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  },
                  {
                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/d1737d22-a8ea-4de7-9bd0-33395d2a7419",
                    "name": "d1737d22-a8ea-4de7-9bd0-33395d2a7419",
                    "type": "Microsoft.Sql/servers/serviceObjectives",
                    "location": "Central US",
                    "properties": {
                      "serviceObjectiveName": "ElasticPool",
                      "isDefault": false,
                      "isSystem": false,
                      "description": null,
                      "enabled": true
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjectiveListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID."
        }
      }
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ServerProperties": {
      "properties": {
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified domain name of the server."
        },
        "version": {
          "type": "string",
          "enum": [
            "2.0",
            "12.0"
          ],
          "description": "The version of the server.",
          "x-ms-enum": {
            "name": "ServerVersion",
            "modelAsString": true
          }
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator username for the server. Can only be specified when the server is being created (and is required for creation).",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator login password (required for server creation).",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "externalAdministratorSid": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The ID of the Active Azure Directory object with admin permissions on this server. Legacy parameter, always null. To check for Active Directory admin, query .../servers/{serverName}/administrators."
        },
        "externalAdministratorLogin": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the Azure Active Directory object with admin permissions on this server. Legacy parameter, always null. To check for Active Directory admin, query .../servers/{serverName}/administrators"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the server.",
          "enum": [
            "Ready",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ServerState"
          }
        }
      },
      "description": "Represents the properties of a server."
    },
    "Server": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of sql server.  This is metadata used for the Azure portal experience."
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "Represents the properties of the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a server."
    },
    "ServerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "description": "The list of servers."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a get server request."
    },
    "ServerMetric": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the server usage metric."
        },
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The metric display name."
        },
        "currentValue": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current limit of the metric."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units of the metric."
        },
        "nextResetTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The next reset time for the metric (ISO8601 format)."
        }
      },
      "description": "Represents server metrics."
    },
    "ServerMetricListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerMetric"
          },
          "description": "The list of server metrics for the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list server metrics request."
    },
    "ServiceObjective": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceObjectiveProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents a database service objective."
    },
    "ServiceObjectiveProperties": {
      "properties": {
        "serviceObjectiveName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the service objective."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is the default service objective.",
          "x-nullable": false
        },
        "isSystem": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is a system service objective.",
          "x-nullable": false
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description for the service level objective."
        },
        "enabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is enabled.",
          "x-nullable": false
        }
      },
      "description": "Represents the properties of a database service objective."
    },
    "ServiceObjectiveListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceObjective"
          },
          "description": "The list of database service objectives."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a get database service objectives request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    }
  }
}