{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "tags": [
          "AutomationAccount"
        ],
        "operationId": "AutomationAccount_ListByResourceGroup",
        "description": "Retrieve a list of accounts within a given resource group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "x-ms-examples": {
          "List automation accounts by resource group": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myaccount",
                      "location": "eastus2",
                      "name": "myaccount",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2016-09-24T00:47:04.227+00:00",
                        "lastModifiedTime": "2017-02-09T21:35:16.4+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123",
                      "location": "eastus2",
                      "name": "myAccount123",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2016-09-29T00:32:32.52+00:00",
                        "lastModifiedTime": "2017-02-09T21:35:16.4+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads",
                      "location": "East US 2",
                      "name": "myAccountasfads",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-24T23:21:03.27+00:00",
                        "lastModifiedTime": "2017-03-24T23:21:03.27+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1",
                      "location": "East US 2",
                      "name": "myAutomationAccount1",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-24T23:22:33.26+00:00",
                        "lastModifiedTime": "2017-03-24T23:22:33.26+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11",
                      "location": "East US 2",
                      "name": "myAutomationAccount11",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-26T02:10:24.523+00:00",
                        "lastModifiedTime": "2017-03-26T02:11:12.027+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2",
                      "location": "East US 2",
                      "name": "myAutomationAccount2",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-24T23:24:20.31+00:00",
                        "lastModifiedTime": "2017-03-24T23:24:20.31+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3",
                      "location": "East US 2",
                      "name": "myAutomationAccount3",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-24T23:24:43.967+00:00",
                        "lastModifiedTime": "2017-03-24T23:24:43.967+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4",
                      "location": "East US 2",
                      "name": "myAutomationAccount4",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-25T02:04:56.9+00:00",
                        "lastModifiedTime": "2017-03-25T02:04:56.9+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6",
                      "location": "East US 2",
                      "name": "myAutomationAccount6",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-25T02:10:44.567+00:00",
                        "lastModifiedTime": "2017-03-25T02:10:44.567+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7",
                      "location": "East US 2",
                      "name": "myAutomationAccount7",
                      "type": "Microsoft.Automation/AutomationAccounts",
                      "properties": {
                        "creationTime": "2017-03-25T02:19:17.943+00:00",
                        "lastModifiedTime": "2017-03-25T02:19:17.943+00:00",
                        "lastModifiedBy": "myEmailId@microsoft.com",
                        "state": "Ok"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutomationAccountListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Resource Group"
      }
    }
  },
  "definitions": {
    "AutomationAccount": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the automation account properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the automation account type."
    },
    "AutomationAccountProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of account."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Gets status of account.",
          "enum": [
            "Ok",
            "Unavailable",
            "Suspended"
          ],
          "x-ms-enum": {
            "name": "AutomationAccountState",
            "modelAsString": true
          }
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the account property."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the SKU name of the account.",
          "enum": [
            "Free",
            "Basic"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        },
        "family": {
          "type": "string",
          "description": "Gets or sets the SKU family."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "The account SKU."
    },
    "AutomationAccountCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets account create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the create or update automation account operation."
    },
    "AutomationAccountCreateOrUpdateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets account SKU."
        }
      },
      "description": "The parameters supplied to the create or update account properties."
    },
    "AutomationAccountListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutomationAccount"
          },
          "description": "Gets or sets list of accounts."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list account operation."
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Automation operations supported by the Automation resource provider."
        }
      },
      "description": "The response model for the list of Automation operations"
    },
    "Operation": {
      "description": "Automation REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Automation",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Runbooks, Jobs etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          },
          "description": "Provider, Resource and Operation values"
        }
      }
    },
    "Statistics": {
      "properties": {
        "counterProperty": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the property value of the statistic."
        },
        "counterValue": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "Gets the value of the statistic."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the startTime of the statistic.",
          "x-nullable": false
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the endTime of the statistic.",
          "x-nullable": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id."
        }
      },
      "description": "Definition of the statistic."
    },
    "StatisticsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Statistics"
          },
          "description": "Gets or sets a list of statistics."
        }
      },
      "description": "The response model for the list statistics operation."
    },
    "Usage": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "$ref": "#/definitions/UsageCounterName",
          "description": "Gets or sets the usage counter name."
        },
        "unit": {
          "type": "string",
          "description": "Gets or sets the usage unit name."
        },
        "currentValue": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the current usage value."
        },
        "limit": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets max limit. -1 for unlimited"
        },
        "throttleStatus": {
          "type": "string",
          "description": "Gets or sets the throttle status."
        }
      },
      "description": "Definition of Usage."
    },
    "UsageCounterName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the usage counter name."
        },
        "localizedValue": {
          "type": "string",
          "description": "Gets or sets the localized usage counter name."
        }
      },
      "description": "Definition of usage counter name."
    },
    "UsageListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Usage"
          },
          "description": "Gets or sets usage."
        }
      },
      "description": "The response model for the get usage operation."
    },
    "Key": {
      "properties": {
        "KeyName": {
          "readOnly": true,
          "type": "string",
          "description": "Automation key name.",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "AutomationKeyName",
            "modelAsString": true
          }
        },
        "Permissions": {
          "readOnly": true,
          "type": "string",
          "description": "Automation key permissions.",
          "enum": [
            "Read",
            "Full"
          ],
          "x-ms-enum": {
            "name": "AutomationKeyPermissions",
            "modelAsString": true
          }
        },
        "Value": {
          "readOnly": true,
          "type": "string",
          "description": "Value of the Automation Key used for registration."
        }
      },
      "description": "Automation key which is used to register a DSC Node"
    },
    "KeyListResult": {
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Key"
          },
          "description": "Lists the automation keys."
        }
      }
    },
    "AutomationAccountUpdateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets account SKU."
        }
      },
      "description": "The parameters supplied to the update account properties."
    },
    "AutomationAccountUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationAccountUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets account update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update automation account operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Automation Account",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "ListByResourceGroup",
  "x-internal-operation-name": "List By Resource Group"
}