{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "title": "Update Management API",
    "description": "APIs for managing software update configurations."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns": {
      "get": {
        "tags": [
          "Software Update Configuration Machine Run"
        ],
        "description": "Return list of software update configuration machine runs",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "List software update configuration machine runs": {
            "parameters": {
              "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
              "resourceGroupName": "mygroup",
              "automationAccountName": "myaccount",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f",
                      "name": "ca440719-34a4-4234-a1a9-3f84faf7788f",
                      "properties": {
                        "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm",
                        "targetComputerType": "AzureVirtualMachines",
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "osType": "Windows",
                        "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                        "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                        "startTime": "2017-10-23T02:33:30.7484961+00:00",
                        "endTime": "2017-10-23T02:33:36.4166667+00:00",
                        "configuredDuration": "PT2H",
                        "job": {},
                        "creationTime": "2017-10-23T02:33:30.7484961+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:34:32.4366667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f",
                      "name": "ca440719-34a4-4234-a1a9-3f84faf7789f",
                      "properties": {
                        "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2",
                        "targetComputerType": "AzureVirtualMachines",
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "osType": "Windows",
                        "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                        "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                        "startTime": "2017-10-23T02:33:30.7484961+00:00",
                        "endTime": "2017-10-23T02:33:36.4166667+00:00",
                        "configuredDuration": "PT2H",
                        "job": {},
                        "creationTime": "2017-10-23T02:33:30.7484961+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:34:32.4366667+00:00"
                      }
                    }
                  ],
                  "nextLink": "https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
                }
              },
              "404": {
                "code": "NotFound",
                "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
              }
            }
          },
          "List software update configuration machine runs for a specific software update configuration run": {
            "parameters": {
              "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
              "resourceGroupName": "mygroup",
              "automationAccountName": "myaccount",
              "$filter": "$filter=properties/correlationId%20eq%200b943e57-44d3-4f05-898c-6e92aa617e59",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f",
                      "name": "ca440719-34a4-4234-a1a9-3f84faf7788f",
                      "properties": {
                        "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm",
                        "targetComputerType": "AzureVirtualMachines",
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "osType": "Windows",
                        "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                        "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                        "startTime": "2017-10-23T02:33:30.7484961+00:00",
                        "endTime": "2017-10-23T02:33:36.4166667+00:00",
                        "configuredDuration": "PT2H",
                        "job": {},
                        "creationTime": "2017-10-23T02:33:30.7484961+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:34:32.4366667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f",
                      "name": "ca440719-34a4-4234-a1a9-3f84faf7789f",
                      "properties": {
                        "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2",
                        "targetComputerType": "AzureVirtualMachines",
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "osType": "Windows",
                        "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                        "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                        "startTime": "2017-10-23T02:33:30.7484961+00:00",
                        "endTime": "2017-10-23T02:33:36.4166667+00:00",
                        "configuredDuration": "PT2H",
                        "job": {},
                        "creationTime": "2017-10-23T02:33:30.7484961+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:34:32.4366667+00:00"
                      }
                    }
                  ],
                  "nextLink": "https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
                }
              },
              "404": {
                "code": "NotFound",
                "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
              }
            }
          }
        },
        "operationId": "softwareUpdateConfigurationMachineRuns_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/automationAccountName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "$ref": "#/parameters/clientRequestId"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "number of entries you skip before returning results"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Maximum number of entries returned in the results collection"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'"
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of software update configuration machine runs.",
            "schema": {
              "$ref": "#/definitions/softwareUpdateConfigurationMachineRunListResult"
            }
          },
          "404": {
            "description": "Resource group, or account doesn't exist."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "jobNavigation": {
      "description": "Software update configuration machine run job navigation properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the job associated with the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "updateConfigurationNavigation": {
      "description": "Software update configuration Run Navigation model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the software update configuration triggered the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "updateConfigurationMachineRunProperties": {
      "description": "Software update configuration machine run properties.",
      "properties": {
        "targetComputer": {
          "type": "string",
          "description": "name of the updated computer",
          "readOnly": true
        },
        "targetComputerType": {
          "type": "string",
          "description": "type of the updated computer.",
          "readOnly": true
        },
        "softwareUpdateConfiguration": {
          "description": "software update configuration triggered this run",
          "$ref": "#/definitions/updateConfigurationNavigation"
        },
        "status": {
          "type": "string",
          "description": "Status of the software update configuration machine run.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "Operating system target of the software update configuration triggered this run",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "format": "uuid",
          "description": "correlation id of the software update configuration machine run",
          "readOnly": true
        },
        "sourceComputerId": {
          "type": "string",
          "format": "uuid",
          "description": "source computer id of the software update configuration machine run",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the software update configuration machine run.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the software update configuration machine run.",
          "readOnly": true
        },
        "configuredDuration": {
          "type": "string",
          "description": "configured duration for the software update configuration run.",
          "readOnly": true
        },
        "job": {
          "description": "Job associated with the software update configuration machine run",
          "$ref": "#/definitions/jobNavigation"
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationMachineRun": {
      "description": "Software update configuration machine run model.",
      "x-ms-azure-resource": false,
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration machine run"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration machine run"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration machine run properties.",
          "$ref": "#/definitions/updateConfigurationMachineRunProperties"
        }
      }
    },
    "softwareUpdateConfigurationMachineRunListResult": {
      "description": "result of listing all software update configuration machine runs",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configuration machine runs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/softwareUpdateConfigurationMachineRun"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "link to next page of results."
        }
      }
    }
  },
  "parameters": {
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    },
    "apiVersion": {
      "name": "api-version",
      "description": "The API version.",
      "type": "string",
      "required": true,
      "in": "query"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group within user's subscription.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "subscription id for tenant issuing the request.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "softwareUpdateConfigurationMachineRunId": {
      "name": "softwareUpdateConfigurationMachineRunId",
      "description": "The Id of the software update configuration machine run.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "software Update Configuration Machine Runs",
  "x-internal-split-type": "Operation"
}