{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-01",
    "title": "FabricAdminClient",
    "description": "File share operation endpoints and objects."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all fabric file shares at a certain location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "resourceGroupName": "System.local",
              "location": "local"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_1",
                      "name": "SU1_Infrastructure_1",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_Infrastructure_1"
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_2",
                      "name": "SU1_Infrastructure_2",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_Infrastructure_2"
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_3",
                      "name": "SU1_Infrastructure_3",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_Infrastructure_3"
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_ObjStore",
                      "name": "SU1_ObjStore",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore"
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Public",
                      "name": "SU1_Public",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_Public"
                      }
                    },
                    {
                      "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp",
                      "name": "SU1_VmTemp",
                      "type": "Microsoft.Fabric.Admin/fabricLocations/fileShares",
                      "location": "local",
                      "tags": {},
                      "properties": {
                        "associatedVolume": "05c1cbb7",
                        "uncPath": "\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_VmTemp"
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "tags": [
          "FileShares"
        ],
        "description": "Returns a list of all fabric file shares at a certain location.",
        "operationId": "FileShares_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileShareList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-odata": "#/definitions/FileShare",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "FileShare": {
      "description": "Object that contains properties of the file share resource.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a file share resource.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FileShareModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "FileShareModel": {
      "description": "Properties of a file share resource.",
      "type": "object",
      "properties": {
        "associatedVolume": {
          "description": "Associated volume ID.",
          "type": "string"
        },
        "uncPath": {
          "description": "The UNCPath for the fileshare.",
          "type": "string"
        }
      }
    },
    "FileShareList": {
      "description": "Pageable list of fabric file share locations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of fabric file shares.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileShare"
          }
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The region where the resource is located.",
          "type": "string"
        },
        "tags": {
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "FileShareParameter": {
      "name": "fileShare",
      "description": "Fabric file share name.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "description": "OData filter parameter.",
      "name": "$filter",
      "in": "query",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2016-05-01"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "Name of the resource group.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-id": "azurestack",
  "x-internal-service-name": "Azure Stack Admin",
  "x-internal-toc-name": "File Shares",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "List",
  "x-internal-operation-name": "List"
}