{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Maps Mobility Service"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "These are the [Azure Active Directory OAuth2](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-overview)  Flows. When paired with [Azure Role Based Access](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview)  control it can be used to control access to Azure Maps REST APIs. Azure Role based access controls are used to designate access to one or more Azure Maps resource account or sub-resources. Any user, group, or service principal can be granted access via a  built in role or a custom role composed of one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios we recommend viewing [authentication concepts](https://aka.ms/amauth). In summary, this security definition provides a solution  for modeling application(s) via objects capable of access control on specific APIs and scopes.\n\n#### Note\n* This security definition **requires** the use of the `x-ms-client-id` header to indicate which Azure Maps resource the application is requesting access to.  This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n* The `Authorization URL` is specific to the Azure public cloud instance. Sovereign clouds have unique Authorization URLs and Azure Active directory configurations. \n* The Azure role based access control is configured from the [Azure management plane](https://aka.ms/amrbac) via Azure portal, Powershell, CLI, Azure SDKs, or REST APIs.\n* Usage of the [Azure Maps Web SDK](https://aka.ms/amaadmc) allows for configuration based setup of an application for multiple use cases.\n* Currently Azure Active Directory [v1.0](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison) tokens are supported.",
      "scopes": {
        "user_impersonation": "Impersonates a user's Azure Active Directory account."
      }
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "description": "This is a shared key which is provisioned when creating an [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane  via Azure portal, Powershell, CLI, Azure SDKs, or REST APIs. With this key, any application is authorized to access  all REST APIs. In other words, these can currently be treated as master keys to the account which they are issued for.  For publicly exposed applications our recommendation is to use server to server access of Azure Maps REST APIs where this key can be  securely stored.",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "azure_auth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "401": {
      "description": "Access denied due to invalid subscription key or invalid Azure Active Directory bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided AAD bearer token.",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      },
      "headers": {
        "WWW-Authenticate": {
          "type": "string",
          "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\""
        }
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "parameters": {
    "ClientId": {
      "name": "x-ms-client-id",
      "description": "Specifies which account is intended for usage in conjunction with the Azure AD security model.  It represents a unique ID for the Azure Maps account and can be retrieved from Azure Maps management  plane Account API. To use Azure AD security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.    ",
      "type": "string",
      "in": "header",
      "required": false,
      "x-ms-parameter-location": "client"
    },
    "SubscriptionKey": {
      "name": "subscription-key",
      "description": "One of the Azure Maps keys provided from an Azure Map Account. Please refer to this [article](https://docs.microsoft.com/azure/azure-maps/how-to-manage-authentication) for details on how to manage authentication.",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "client"
    },
    "ApiVersion": {
      "name": "api-version",
      "description": "Version number of Azure Maps API. Current version is 1.0",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "client"
    },
    "JsonFormat": {
      "name": "format",
      "description": "Desired format of the response. Only `json` format is supported.",
      "type": "string",
      "in": "path",
      "required": true,
      "enum": [
        "json"
      ],
      "x-ms-enum": {
        "name": "JsonFormat",
        "modelAsString": false,
        "values": [
          {
            "value": "json",
            "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "MetroId": {
      "name": "metroId",
      "description": "The unique id of the metro area. Required parameter specifying the required metro area to search in. Can be retrieved via [Get Metro Area API](https://aka.ms/AzureMapsMobilityMetro).",
      "type": "integer",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "MobilityLanguage": {
      "name": "language",
      "description": "Language in which search results will be returned.  Only NGT is supported. Please refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/mobility/transit/line/{format}": {
      "get": {
        "x-publish": true,
        "operationId": "Mobility_GetTransitLineInfoPreview",
        "description": "**Transit Line Info API**\n\n**Applies to**: S1 pricing tier.\nYour scenario might require requesting transit line specific data such as stops and line geometry. Transit Line Info service  allows you to request line group by line group id returning a line group comprised a set of lines.  Additional information such  as 24 hours static schedule, active alerts for the line group and line patterns is also available, depending on the options  selected. Mobility services uses a parallel data model for public transit lines and line groups. Usually line group contains  2 lines, one going from A to B, and the other returning from B to A, both operating by the same Public Transport Agency having  the same line number. We recommend you review our guidance [article](https://aka.ms/AMapsPublicTRansitConcepts) to understand  the concepts of lines and line groups.",
        "x-ms-examples": {
          "TransitLineInfo": {
            "parameters": {
              "api-version": "1.0",
              "format": "json",
              "metroId": 121,
              "query": "121---373227",
              "detailType": [
                "stops"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "lineGroup": {
                    "lineGroupId": "121---373227",
                    "agencyId": "121---857463",
                    "agencyName": "MTA Bus",
                    "lineNumber": "B25",
                    "caption1": "Dwntn Bklyn & DUMBO - Broadway Junction",
                    "caption2": "B25 Dwntn Bklyn & DUMBO - Broadway Junction",
                    "color": "6CBE45",
                    "transitType": "Bus"
                  },
                  "lines": [
                    {
                      "lineId": "121---1227940",
                      "lineGroupId": "121---373227",
                      "direction": "forward",
                      "agencyId": "121---857463",
                      "agencyName": "MTA Bus",
                      "lineNumber": "B25",
                      "lineDestination": "Broadway Jct Alabama Av Via Fulton",
                      "mostFrequentPatternId": "121---1581548",
                      "transitType": "Bus"
                    },
                    {
                      "lineId": "121---1227941",
                      "lineGroupId": "121---373227",
                      "direction": "backward",
                      "agencyId": "121---857463",
                      "agencyName": "MTA Bus",
                      "lineNumber": "B25",
                      "lineDestination": "Downtown Bklyn Front St Via Fulton",
                      "mostFrequentPatternId": "121---1701359",
                      "transitType": "Bus"
                    }
                  ],
                  "stops": [
                    {
                      "stopId": "121---14011984",
                      "stopKey": "303017",
                      "stopName": "Fulton St/Ashland Pl",
                      "position": {
                        "latitude": 40.687781,
                        "longitude": -73.978221
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013637",
                      "stopKey": "307259",
                      "stopName": "Fulton St/Thomas S Boyland St",
                      "position": {
                        "latitude": 40.678336,
                        "longitude": -73.913138
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013639",
                      "stopKey": "307263",
                      "stopName": "Fulton St/Van Sinderen Av",
                      "position": {
                        "latitude": 40.677816,
                        "longitude": -73.903542
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013638",
                      "stopKey": "307260",
                      "stopName": "Fulton St/Rockaway Av",
                      "position": {
                        "latitude": 40.678189,
                        "longitude": -73.910359
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013633",
                      "stopKey": "307255",
                      "stopName": "Fulton St/Ralph Av",
                      "position": {
                        "latitude": 40.678762,
                        "longitude": -73.92125
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013632",
                      "stopKey": "307254",
                      "stopName": "Fulton St/Buffalo Av",
                      "position": {
                        "latitude": 40.67894,
                        "longitude": -73.924108
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---31066255",
                      "stopKey": "901211",
                      "stopName": "East New York Av/Alabama Av",
                      "position": {
                        "latitude": 40.676719,
                        "longitude": -73.900118
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013635",
                      "stopKey": "307257",
                      "stopName": "Fulton St/Saratoga Av",
                      "position": {
                        "latitude": 40.678489,
                        "longitude": -73.915892
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013634",
                      "stopKey": "307256",
                      "stopName": "Fulton St/Howard Av",
                      "position": {
                        "latitude": 40.678615,
                        "longitude": -73.918564
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011701",
                      "stopKey": "302376",
                      "stopName": "Fulton St/Grand  Av",
                      "position": {
                        "latitude": 40.682362,
                        "longitude": -73.961824
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011700",
                      "stopKey": "302375",
                      "stopName": "Fulton St/St James Pl",
                      "position": {
                        "latitude": 40.682662,
                        "longitude": -73.9633
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14193658",
                      "stopName": "Front St/York St",
                      "position": {
                        "latitude": 40.702464,
                        "longitude": -73.991858
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011703",
                      "stopKey": "302378",
                      "stopName": "Fulton St/Franklin Av",
                      "position": {
                        "latitude": 40.680982,
                        "longitude": -73.955289
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013751",
                      "stopKey": "307631",
                      "stopName": "Fulton St/Eastern Py",
                      "position": {
                        "latitude": 40.678066,
                        "longitude": -73.908188
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011702",
                      "stopKey": "302377",
                      "stopName": "Fulton St/Classon Av",
                      "position": {
                        "latitude": 40.681579,
                        "longitude": -73.958134
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011697",
                      "stopKey": "302371",
                      "stopName": "Fulton St/Clermont Av",
                      "position": {
                        "latitude": 40.683904,
                        "longitude": -73.968617
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011696",
                      "stopKey": "302370",
                      "stopName": "Fulton St/Carlton Av",
                      "position": {
                        "latitude": 40.68478,
                        "longitude": -73.970798
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011699",
                      "stopKey": "302374",
                      "stopName": "Fulton St/Washington Av",
                      "position": {
                        "latitude": 40.682882,
                        "longitude": -73.964338
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011698",
                      "stopKey": "302372",
                      "stopName": "Fulton St/Clinton Av",
                      "position": {
                        "latitude": 40.683332,
                        "longitude": -73.966593
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013629",
                      "stopKey": "307251",
                      "stopName": "Fulton St/Troy Av",
                      "position": {
                        "latitude": 40.679501,
                        "longitude": -73.934459
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011964",
                      "stopKey": "302948",
                      "stopName": "Fulton St/Flatbush Av Ext",
                      "position": {
                        "latitude": 40.688976,
                        "longitude": -73.981278
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011708",
                      "stopKey": "302383",
                      "stopName": "Fulton St/Kingston Av",
                      "position": {
                        "latitude": 40.67988,
                        "longitude": -73.941381
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013631",
                      "stopKey": "307253",
                      "stopName": "Fulton St/Utica Av",
                      "position": {
                        "latitude": 40.67919,
                        "longitude": -73.928636
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013630",
                      "stopKey": "307252",
                      "stopName": "Fulton St/Schenectady Av",
                      "position": {
                        "latitude": 40.679398,
                        "longitude": -73.932497
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013689",
                      "stopKey": "307491",
                      "stopName": "Fulton St/Hoyt St",
                      "position": {
                        "latitude": 40.69069,
                        "longitude": -73.985547
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011705",
                      "stopKey": "302380",
                      "stopName": "Fulton St/Nostrand Av",
                      "position": {
                        "latitude": 40.680301,
                        "longitude": -73.949161
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013881",
                      "stopKey": "307926",
                      "stopName": "Fulton St/Albany Av",
                      "position": {
                        "latitude": 40.679664,
                        "longitude": -73.937573
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011704",
                      "stopKey": "302379",
                      "stopName": "Fulton St/Bedford Av",
                      "position": {
                        "latitude": 40.6805,
                        "longitude": -73.952805
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011963",
                      "stopKey": "302947",
                      "stopName": "Fulton St/Bond St",
                      "position": {
                        "latitude": 40.689709,
                        "longitude": -73.983099
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011707",
                      "stopKey": "302382",
                      "stopName": "Fulton St/Brooklyn Av",
                      "position": {
                        "latitude": 40.680033,
                        "longitude": -73.944167
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011962",
                      "stopKey": "302945",
                      "stopName": "Fulton St/Smith St",
                      "position": {
                        "latitude": 40.69148,
                        "longitude": -73.987534
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011706",
                      "stopKey": "302381",
                      "stopName": "Fulton St/Marcy Av",
                      "position": {
                        "latitude": 40.680116,
                        "longitude": -73.945667
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14406637",
                      "stopName": "Tillary St/Cadman Pz E",
                      "position": {
                        "latitude": 40.696046,
                        "longitude": -73.990383
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011693",
                      "stopKey": "302359",
                      "stopName": "Cadman Plz W/Cadman Tower",
                      "position": {
                        "latitude": 40.698348,
                        "longitude": -73.991565
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011692",
                      "stopKey": "302358",
                      "stopName": "Cadman Pz W/Clark St",
                      "position": {
                        "latitude": 40.696696,
                        "longitude": -73.991464
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013676",
                      "stopKey": "307460",
                      "stopName": "Adams St/Bklyn Supreme Crt",
                      "position": {
                        "latitude": 40.69256,
                        "longitude": -73.989131
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011695",
                      "stopKey": "302369",
                      "stopName": "Fulton St/S Portland Av",
                      "position": {
                        "latitude": 40.686059,
                        "longitude": -73.974034
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14013934",
                      "stopKey": "308025",
                      "stopName": "Water St/Main St",
                      "position": {
                        "latitude": 40.703318,
                        "longitude": -73.991102
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011694",
                      "stopKey": "302368",
                      "stopName": "Fulton St/Lafayette Av",
                      "position": {
                        "latitude": 40.687146,
                        "longitude": -73.97669
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011689",
                      "stopKey": "302355",
                      "stopName": "Old Fulton St/Elizabeth Pl",
                      "position": {
                        "latitude": 40.702666,
                        "longitude": -73.993952
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011691",
                      "stopKey": "302357",
                      "stopName": "Cadman Pz W/Middagh St",
                      "position": {
                        "latitude": 40.699591,
                        "longitude": -73.99129
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    },
                    {
                      "stopId": "121---14011690",
                      "stopKey": "302356",
                      "stopName": "Old Fulton St/Henry St",
                      "position": {
                        "latitude": 40.701021,
                        "longitude": -73.991449
                      },
                      "mainTransitType": "Bus",
                      "mainAgencyId": "121---857463",
                      "mainAgencyName": "MTA Bus"
                    }
                  ]
                }
              },
              "400": {
                "headers": {},
                "body": {
                  "error": {
                    "code": "400 BadRequest",
                    "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
                  }
                }
              },
              "401": {
                "headers": {},
                "body": {
                  "error": {
                    "code": "401 Unauthorized",
                    "message": "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."
                  }
                }
              },
              "403": {
                "headers": {},
                "body": {
                  "error": {
                    "code": "403 Forbidden",
                    "message": "Permission, capacity, or authentication issues."
                  }
                }
              },
              "404": {
                "headers": {},
                "body": {
                  "error": {
                    "code": "404 NotFound",
                    "message": "Not Found: the requested resource could not be found, but it may be available again in the future."
                  }
                }
              },
              "500": {
                "headers": {},
                "body": {
                  "error": {
                    "code": "500 InternalServerError",
                    "message": "An error occurred while processing the request. Please try again later."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/SubscriptionKey"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/MetroId"
          },
          {
            "name": "query",
            "description": "lineGroupId, for example,'666074'. Typically contains 2 lines having the same agency and line, one going from A to B, and the other from B to A.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "detailType",
            "description": "Specify additional details requested respective to the line group as a comma separated list. As a default service returns line basic info. Supported values are:\n  * `alerts` - Return any active service alerts for the specified stop. Response provides brief information for disruption in service and all basic data associated with the alert.\n  * `alertDetails` - Can only be used in conjunction with detailType=alerts.Return additional details associated with the active service alerts.\n  * `lines` - Return transit lines that stops at the specified stop.\n  * `stops` - Return list of stops the line group goes through.\n  * `schedule` - Return a 24h static schedule for the specified line group from the current time of the day to the end of the current day.\n  * `patterns` - Return list of patterns this group is comprised of. A pattern consists of a stop sequence and shape per line.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "alerts",
                "alertDetails",
                "lines",
                "stops",
                "schedule",
                "patterns"
              ],
              "x-ms-enum": {
                "name": "TransitLineDetailType",
                "modelAsString": false,
                "values": [
                  {
                    "value": "alerts",
                    "description": "Return any active service alerts for the specified stop. Response provides brief information for disruption in service and all basic data associated with the alert."
                  },
                  {
                    "value": "alertDetails",
                    "description": "Can only be used in conjunction with detailType=alerts.Return additional details associated with the active service alerts."
                  },
                  {
                    "value": "lines",
                    "description": "Return transit lines that stops at the specified stop."
                  },
                  {
                    "value": "stops",
                    "description": "Return list of stops the line group goes through."
                  },
                  {
                    "value": "schedule",
                    "description": "Return a 24h static schedule for the specified line group from the current time of the day to the end of the current day."
                  },
                  {
                    "value": "patterns",
                    "description": "Return list of patterns this group is comprised of. A pattern consists of a stop sequence and shape per line."
                  }
                ]
              }
            }
          },
          {
            "$ref": "#/parameters/MobilityLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransitLineInfoResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [],
        "x-internal-toc-name": "Get Transit Line Info Preview"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "description": "This response object is returned when an error occurs in the Maps API",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Maps API",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "The HTTP status code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "Coordinate": {
      "description": "A location represented as a latitude and longitude.",
      "type": "object",
      "properties": {
        "latitude": {
          "description": "Latitude property",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "longitude": {
          "description": "Longitude property",
          "type": "number",
          "format": "double",
          "readOnly": true
        }
      }
    },
    "GeoJSONGeometry": {
      "description": "A valid `GeoJSON` geometry object. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1) for details.",
      "type": "object",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "description": "Specifies the `GeoJSON` geometry type. Must be one of the seven valid GeoJSON geometry types - Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon and GeometryCollection.",
          "type": "string",
          "enum": [
            "Point",
            "MultiPoint",
            "LineString",
            "MultiLineString",
            "Polygon",
            "MultiPolygon",
            "GeometryCollection"
          ],
          "x-ms-enum": {
            "name": "GeoJSONGeometryType",
            "modelAsString": false,
            "values": [
              {
                "value": "Point",
                "description": "`GeoJSON Point` geometry."
              },
              {
                "value": "MultiPoint",
                "description": "`GeoJSON MultiPoint` geometry."
              },
              {
                "value": "LineString",
                "description": "`GeoJSON LineString` geometry."
              },
              {
                "value": "MultiLineString",
                "description": "`GeoJSON MultiLineString` geometry."
              },
              {
                "value": "Polygon",
                "description": "`GeoJSON Polygon` geometry."
              },
              {
                "value": "MultiPolygon",
                "description": "`GeoJSON MultiPolygon` geometry."
              },
              {
                "value": "GeometryCollection",
                "description": "`GeoJSON GeometryCollection` geometry."
              }
            ]
          }
        }
      }
    },
    "Polygon": {
      "description": "A valid `GeoJSON Polygon` geometry type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.6) for details.    ",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/GeoJSONGeometry"
        },
        {
          "properties": {
            "type": {
              "description": "Specifies the `type` for the object. Value should always be equal to \"Polygon\".",
              "type": "string"
            },
            "coordinates": {
              "description": "Coordinates for the `Polygon` geometry type.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/GeoJSONLinearRing"
              }
            }
          },
          "required": [
            "coordinates"
          ]
        }
      ]
    },
    "LineString": {
      "description": "A valid `GeoJSON LineString` geometry type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.4) for details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/GeoJSONGeometry"
        },
        {
          "properties": {
            "type": {
              "description": "Specifies the `type` for the geometry. Value should always be equal to \"LineString\".",
              "type": "string"
            },
            "coordinates": {
              "description": "Coordinates for the `LineString` geometry.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/GeoJSONPosition"
              }
            }
          },
          "required": [
            "coordinates"
          ]
        }
      ]
    },
    "GeoJSONLinearRing": {
      "description": "Though a linear ring is not explicitly represented as a GeoJSON geometry type, it helps in defining the polygon as an array of linear rings. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.6) for details.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/GeoJSONPosition"
      }
    },
    "GeoJSONPosition": {
      "description": "A valid `GeoJSON Position` geometry type. A `Position` is an array of numbers with two or more elements. The first two elements are _longitude_ and _latitude_, precisely in that order. _Altitude/Elevation_ is an optional third element. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.1) for details.",
      "type": "array",
      "items": {
        "type": "number",
        "format": "double"
      }
    },
    "MetroAreaResponse": {
      "description": "This object is returned from a successful Get Metro Area call",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetroAreaResult"
          }
        }
      }
    },
    "MetroAreaInfoResponse": {
      "description": "This object is returned from a successful Metro Area call.",
      "type": "object",
      "properties": {
        "metroName": {
          "type": "string",
          "description": "The name of the metro area."
        },
        "transitTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransitTypeResult"
          }
        },
        "agencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Agency"
          }
        },
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        }
      }
    },
    "NearbyTransitResponse": {
      "description": "This object is returned from a successful Get Nearby Transit call",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransitObjectResult"
          }
        }
      }
    },
    "TransitStopInfoResponse": {
      "description": "This object is returned from a successful Get Transit Stop Info call",
      "type": "object",
      "properties": {
        "stop": {
          "$ref": "#/definitions/Stop"
        },
        "lines": {
          "$ref": "#/definitions/Lines"
        },
        "lineGroups": {
          "$ref": "#/definitions/LineGroups"
        },
        "alerts": {
          "$ref": "#/definitions/Alerts"
        }
      }
    },
    "TransitRouteResponse": {
      "description": "This object is returned from a successful Get Transit Stop Info call",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItineraryResult"
          }
        }
      }
    },
    "TransitItineraryResponse": {
      "description": "This object is returned from a successful Get Transit Itinerary call",
      "type": "object",
      "properties": {
        "departureTime": {
          "description": "The date and time of departure from the origin point in ISO 8601 format, e.g. 1996-12-19T16:39:57-08:00.",
          "type": "string"
        },
        "arrivalTime": {
          "description": "The date and time of arrival at the destination point in ISO 8601 format, e.g. 1996-12-19T19:39:57-08:00.",
          "type": "string"
        },
        "legs": {
          "$ref": "#/definitions/ItinerarySummary"
        }
      }
    },
    "CarShareResponse": {
      "description": "Details of the car share vehicle. Name is always returned. Level of other returned details depends on car share operator.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Car share provider specific value – most often will be the vehicle's license plate.",
          "type": "string"
        },
        "model": {
          "description": "Model of the car.",
          "type": "string"
        },
        "seatCount": {
          "description": "Total number of seats in the vehicle.",
          "type": "integer"
        },
        "fuelLevel": {
          "description": "Percentage of fuel indicating the fuel level, 100 being full, 0 empty. Unit: percentage (%).",
          "type": "integer"
        },
        "batteryLevel": {
          "description": "Percentage of battery indicating the battery level, 100 being full, 0 empty. Unit: percentage (%).",
          "type": "integer"
        },
        "pricing": {
          "description": "Pricing details including currency, reservation price and usage price.",
          "$ref": "#/definitions/Pricing"
        },
        "position": {
          "description": "Last known location of the vehicle.",
          "$ref": "#/definitions/Coordinate"
        },
        "operatorInfo": {
          "description": "Details of the share operator.",
          "$ref": "#/definitions/OperatorInfo"
        }
      }
    },
    "TransitDockInfoResponse": {
      "description": "This object is returned from a successful Transit Dock Info call.",
      "type": "object",
      "properties": {
        "availableVehicles": {
          "description": "Number of available bikes / scooters in the given bike or scooter docking station.",
          "type": "integer"
        },
        "vacantLocations": {
          "description": "Number of vacant dock locations in the given bike or scooter docking station.",
          "type": "integer"
        },
        "position": {
          "description": "The dock's position.",
          "$ref": "#/definitions/Coordinate"
        },
        "lastUpdated": {
          "description": "When the vacancy and availability information was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "operatorInfo": {
          "description": "Details of the share operator. Id is always returned. Level of other returned details depends on the operator.",
          "$ref": "#/definitions/OperatorInfo"
        }
      }
    },
    "TransitLineInfoResponse": {
      "description": "This object is returned from a successful Transit Line Info call.",
      "type": "object",
      "properties": {
        "lineGroup": {
          "description": "Groups together all lines that are logically part of the same group. Typically contains 2 lines having the same agency and line, one going from A to B, and the other from B to A.",
          "$ref": "#/definitions/LineGroup"
        },
        "lines": {
          "description": "The line group’s basic info and list of the lines.",
          "$ref": "#/definitions/Lines"
        },
        "stops": {
          "description": "List of stops the line group goes through.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Stop"
          }
        },
        "patterns": {
          "description": "List of patterns this group is comprised of. A pattern consists of a stop sequence and shape per a line in GeoJSON format.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Pattern"
          }
        },
        "schedule": {
          "description": "Line schedule for the current 24h. May be null in case no schedule exists for the current time.",
          "$ref": "#/definitions/LineArrival"
        }
      }
    },
    "RealTimeArrivalsResponse": {
      "description": "This object is returned from a successful Get Real Time Arrival Info call.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Results array. Contains results related details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RealTimeArrivalResult"
          }
        }
      }
    },
    "MetroAreaResult": {
      "description": "Details of the metro area.",
      "type": "object",
      "properties": {
        "metroId": {
          "description": "The metro area's Id for use with other API calls.",
          "type": "integer"
        },
        "metroName": {
          "description": "The main display name of the metro.",
          "type": "string"
        },
        "geometry": {
          "$ref": "#/definitions/Polygon"
        },
        "viewport": {
          "$ref": "#/definitions/ResultViewport"
        }
      }
    },
    "ResultViewport": {
      "description": "The viewport that covers the result represented by the top-left and bottom-right coordinates of the  viewport.",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "$ref": "#/definitions/Coordinate"
        },
        "btmRightPoint": {
          "$ref": "#/definitions/Coordinate"
        }
      }
    },
    "TransitObjectResult": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The object identifier found as a result of the query, for example, stopId for stops.",
          "type": "string"
        },
        "type": {
          "description": "The type of object found as a result of the query.",
          "type": "string"
        },
        "objectDetails": {
          "description": "The object specific details.",
          "type": "object"
        },
        "position": {
          "description": "The transit object's position.",
          "$ref": "#/definitions/Coordinate"
        },
        "viewport": {
          "$ref": "#/definitions/ResultViewport"
        }
      }
    },
    "Stop": {
      "description": "The stop's basic info",
      "type": "object",
      "properties": {
        "stopId": {
          "description": "The unique Azure Maps identifier for the respective public transit stop. When referring stops overtime, it is suggested to use stopId that will not change if the physical stop exists.",
          "type": "string"
        },
        "stopKey": {
          "description": "The GTFS stop Id. GTFS stop Ids are provided by the transit authority and subject to change.",
          "type": "string"
        },
        "stopName": {
          "description": "The name of the stop.",
          "type": "string"
        },
        "stopCode": {
          "description": "The stop code displayed at the physical stop. Returned if available.",
          "type": "string"
        },
        "position": {
          "description": "The Stop's location, latitude and longitude.",
          "$ref": "#/definitions/Coordinate"
        },
        "mainTransitType": {
          "description": "The transit type of most lines stopping at this stop. One of Tram, Subway, Rail, Bus, Ferry, CableCar, Gondola, Funicular",
          "type": "string"
        },
        "mainAgencyId": {
          "description": "The Id of the transit agency of most lines stopping at this stop. For example '5872'.",
          "type": "string"
        },
        "mainAgencyName": {
          "description": "The name of the agency of most lines stopping at this stop, for example, 'Metro Transit'.",
          "type": "string"
        }
      }
    },
    "Lines": {
      "description": "A list of stop lines",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Line"
      }
    },
    "Line": {
      "description": "A stop line",
      "type": "object",
      "properties": {
        "lineId": {
          "description": "Line Id.",
          "type": "string"
        },
        "lineGroupId": {
          "description": "Line group Id. Typically contains 2 lines having the same agency and line, one going from A to B, and the other from B to A.",
          "type": "string"
        },
        "direction": {
          "description": "Line direction. Possible values 'forward' or 'backward'.",
          "type": "string"
        },
        "agencyId": {
          "description": "The Id of the transit agency, for example, '5872'.",
          "type": "string"
        },
        "agencyName": {
          "description": "The name of the transit agency, for example, 'NJ Transit'.",
          "type": "string"
        },
        "lineNumber": {
          "description": "The transit line number.",
          "type": "string"
        },
        "origin": {
          "description": "The line’s origin, will be present according to metro settings.",
          "type": "string"
        },
        "lineDestination": {
          "description": "The line’s user displayable destination.",
          "type": "string"
        },
        "mostFrequentPatternId": {
          "description": "Most common pattern for the line.",
          "type": "string"
        },
        "transitType": {
          "description": "The public transit type of the line.",
          "$ref": "#/definitions/TransitType"
        }
      }
    },
    "LineGroups": {
      "description": "A list of line groups",
      "type": "array",
      "items": {
        "$ref": "#/definitions/LineGroup"
      }
    },
    "LineGroup": {
      "description": "A line group",
      "type": "object",
      "properties": {
        "lineGroupId": {
          "description": "Line group Id. Typically contains 2 lines having the same agency and line, one going from A to B, and the other from B to A.",
          "type": "string"
        },
        "agencyId": {
          "description": "The Id of the transit agency, for example, '5872'.",
          "type": "string"
        },
        "agencyName": {
          "description": "The name of the transit agency, e.g. Metro Transit.",
          "type": "string"
        },
        "lineNumber": {
          "description": "The transit line number.",
          "type": "string"
        },
        "caption1": {
          "description": "A descriptive string. In case caption2 is null, should be used alone as a subtitle to the line number (i.e. Circular). In case caption2 has a value present, should be used in conjunction with it (i.e. Rome ↔ Napoli).",
          "type": "string"
        },
        "caption2": {
          "description": "A descriptive string.",
          "type": "string"
        },
        "color": {
          "description": "HEX color for the line.",
          "type": "string"
        },
        "transitType": {
          "description": "The public transit type of the line.",
          "$ref": "#/definitions/TransitType"
        }
      }
    },
    "Alerts": {
      "description": "A list of stop alerts",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Alert"
      }
    },
    "Alert": {
      "description": "Basic information associated with the active alert.",
      "type": "object",
      "properties": {
        "alertSummary": {
          "description": "Text summarizing the alert.",
          "type": "string"
        },
        "publicationDate": {
          "description": "The date and time in ISO 8601 format, e.g. 2019-04-05T14:24:18-04:00.",
          "type": "string",
          "format": "date-time"
        },
        "category": {
          "description": "The category of the alert. One of None, Regular, Info, Modified, Critical.",
          "type": "string"
        },
        "alertLevel": {
          "description": "The level at which the respective alert extents to. One of Metro, Agency, Line, Stop.",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/AlertDetail"
        }
      }
    },
    "AlertDetail": {
      "description": "A list of alert details.",
      "type": "object",
      "properties": {
        "agencyId": {
          "description": "The Id of the relevant transit agency, for example, '5872'.",
          "type": "string"
        },
        "agencyName": {
          "description": "Name of the relevant transit agency, e.g. Metro Transit.",
          "type": "string"
        },
        "title": {
          "description": "The title of the alert.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the alert.",
          "$ref": "#/definitions/AlertDescription"
        },
        "activeFrom": {
          "description": "The start time of the alert in the local time in ISO format (2019-04-05T14:24:18-04:00).",
          "type": "string",
          "format": "date-time"
        },
        "activeTo": {
          "description": "The estimated end time of the alert in the local time in ISO format (2019-04-05T14:24:18-04:00).",
          "type": "string",
          "format": "date-time"
        },
        "effect": {
          "description": "Service Alert effect - one of SA_NO_SERVICE, SA_REDUCED_SERVICE, SA_SIGNIFICANT_DELAYS, SA_DETOUR, SA_ADDITIONAL_SERVICE, SA_MODIFIED_SERVICE, SA_OTHER_EFFECT, SA_STOP_MOVED, SA_GOOD_SERVICE, SA_SLEEPING, SA_OTHER_EFFECT",
          "type": "string"
        }
      }
    },
    "ItineraryResult": {
      "type": "object",
      "properties": {
        "itineraryId": {
          "description": "A unique identifier of the returned itinerary.",
          "type": "string"
        },
        "departureTime": {
          "description": "The date and time of departure from the origin point in ISO 8601 format, e.g. 1996-12-19T16:39:57-08:00.",
          "type": "string",
          "format": "date-time"
        },
        "arrivalTime": {
          "description": "The date and time of arrival at the destination point in ISO 8601 format, e.g. 1996-12-19T19:39:57-08:00.",
          "type": "string",
          "format": "date-time"
        },
        "travelTimeInSeconds": {
          "description": "Estimated travel time in seconds.",
          "type": "integer"
        },
        "numberOfLegs": {
          "description": "Number of legs.",
          "type": "integer"
        },
        "legs": {
          "description": "An array summarizing the legs of this itinerary.",
          "$ref": "#/definitions/RouteItinerarySummary"
        }
      }
    },
    "RouteItinerarySummary": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RouteItineraryLeg"
      }
    },
    "RouteItineraryLeg": {
      "type": "object",
      "properties": {
        "legType": {
          "description": "The travel mode of the leg.",
          "$ref": "#/definitions/LegType"
        },
        "legStartTime": {
          "description": "Start time for the leg in ISO 8601 format, e.g. 1996-12-19T19:39:57-08:00.",
          "type": "string"
        },
        "legEndTime": {
          "description": "End time for the leg in ISO 8601 format, e.g. 1996-12-19T19:39:57-08:00.",
          "type": "string"
        },
        "caption": {
          "description": "For Public Transit legs the caption of the line serving the leg, for example, line number.",
          "type": "string"
        },
        "lengthInMeters": {
          "description": "The total distance of the leg in meters.",
          "type": "integer"
        }
      }
    },
    "ItinerarySummary": {
      "description": "An array summarizing the legs of this itinerary.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Leg"
      }
    },
    "Leg": {
      "type": "object",
      "properties": {
        "legType": {
          "description": "The travel mode of the leg.",
          "$ref": "#/definitions/LegType"
        },
        "legStartTime": {
          "description": "Start time for the leg.",
          "type": "string"
        },
        "legEndTime": {
          "description": "End time for the leg.",
          "type": "string"
        },
        "steps": {
          "description": "In case of walk or bike leg, the directions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        },
        "origin": {
          "description": "The walk/bike leg’s origin.",
          "$ref": "#/definitions/LegPoint"
        },
        "destination": {
          "description": "The walk/bike leg’s destination.",
          "$ref": "#/definitions/LegPoint"
        },
        "geometry": {
          "$ref": "#/definitions/LineString"
        },
        "lineGroup": {
          "description": "In case of a public transit leg, the line group serving this leg.",
          "$ref": "#/definitions/LineGroup"
        },
        "line": {
          "description": "In case of a public transit leg, the line serving this leg.",
          "$ref": "#/definitions/Line"
        },
        "stops": {
          "description": "List of stops comprising the line’s route within the leg (e.g. the stops the leg passes through).",
          "$ref": "#/definitions/Stops"
        },
        "departures": {
          "description": "Relevant for Public Transit and Wait legs only",
          "$ref": "#/definitions/Departures"
        },
        "waitOnVehicle": {
          "description": "Indicates whether it’s necessary to wait for the next leg on the same vehicle (i.e. the bus will only change its line number).",
          "type": "string"
        }
      }
    },
    "LegType": {
      "type": "string",
      "enum": [
        "Walk",
        "Bicycle",
        "Tram",
        "Subway",
        "Rail",
        "Bus",
        "Ferry",
        "Cable",
        "Gondola",
        "Funicular",
        "PathWayWalk",
        "Wait",
        "WaitOnVehicle"
      ],
      "x-ms-enum": {
        "name": "LegType",
        "modelAsString": false,
        "values": [
          {
            "value": "Walk",
            "description": "Pedestrian walk"
          },
          {
            "value": "Bicycle",
            "description": "Bicycle"
          },
          {
            "value": "Tram",
            "description": "Tram"
          },
          {
            "value": "Subway",
            "description": "Subway"
          },
          {
            "value": "Rail",
            "description": "Rail"
          },
          {
            "value": "Bus",
            "description": "Bus"
          },
          {
            "value": "Ferry",
            "description": "Ferry"
          },
          {
            "value": "Cable",
            "description": "Cable Car"
          },
          {
            "value": "Gondola",
            "description": "Gondola"
          },
          {
            "value": "Funicular",
            "description": "Funicular"
          },
          {
            "value": "PathWayWalk",
            "description": "A Leg describing a walk within a compound, e.g. Central Station"
          },
          {
            "value": "Wait",
            "description": "A Leg describing a wait for the next public transit leg"
          },
          {
            "value": "WaitOnVehicle",
            "description": "It’s necessary to wait for the next leg on the same vehicle (i.e. the bus will only change its line number)"
          }
        ]
      }
    },
    "LegPoint": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/Coordinate"
        }
      }
    },
    "Stops": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Stop"
      }
    },
    "Step": {
      "type": "object",
      "properties": {
        "direction": {
          "description": "The walking direction associated with this step.",
          "$ref": "#/definitions/Direction"
        },
        "streetName": {
          "description": "The name of the street in which this step takes place.",
          "type": "string"
        }
      }
    },
    "Direction": {
      "description": "The walking directions guidance.",
      "type": "object",
      "properties": {
        "relativeDirection": {
          "description": "The relative walking direction associated with applicable step.",
          "type": "string",
          "enum": [
            "depart",
            "hardLeft",
            "left",
            "slightlyLeft",
            "continue",
            "slightlyRight",
            "right",
            "hardRight",
            "circleClockwise",
            "circleCounterclockwise",
            "elevator",
            "uturnLeft",
            "uturnRight"
          ],
          "x-ms-enum": {
            "name": "RelativeDirection",
            "modelAsString": false,
            "values": [
              {
                "value": "depart",
                "description": "Leave"
              },
              {
                "value": "hardLeft",
                "description": "Turn sharp left."
              },
              {
                "value": "left",
                "description": "Turn left."
              },
              {
                "value": "slightlyLeft",
                "description": "Turn slightly left."
              },
              {
                "value": "continue",
                "description": "Keep going."
              },
              {
                "value": "slightlyRight",
                "description": "Turn slightly right."
              },
              {
                "value": "right",
                "description": "Turn right."
              },
              {
                "value": "hardRight",
                "description": "Turn sharp right."
              },
              {
                "value": "circleClockwise",
                "description": "Circle clockwise."
              },
              {
                "value": "circleCounterclockwise",
                "description": "Circle counter clockwise."
              },
              {
                "value": "elevator",
                "description": "Take the elevator."
              },
              {
                "value": "uturnLeft",
                "description": "Make a U-turn left."
              },
              {
                "value": "uturnRight",
                "description": "Make a U-turn right."
              }
            ]
          }
        },
        "absoluteDirection": {
          "description": "The absolute walking direction associated with this step.",
          "type": "string",
          "enum": [
            "north",
            "northeast",
            "east",
            "southeast",
            "south",
            "southwest",
            "west",
            "northwest"
          ],
          "x-ms-enum": {
            "name": "AbsoluteDirection",
            "modelAsString": false,
            "values": [
              {
                "value": "north",
                "description": "North"
              },
              {
                "value": "northeast",
                "description": "NorthEast"
              },
              {
                "value": "east",
                "description": "East"
              },
              {
                "value": "southeast",
                "description": "SouthEast"
              },
              {
                "value": "south",
                "description": "South"
              },
              {
                "value": "southwest",
                "description": "SouthWest"
              },
              {
                "value": "west",
                "description": "West"
              },
              {
                "value": "northwest",
                "description": "NorthWest"
              }
            ]
          }
        }
      }
    },
    "Departures": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LineArrival"
      }
    },
    "LineArrival": {
      "type": "object",
      "properties": {
        "lineId": {
          "description": "Line Id.",
          "type": "string"
        },
        "stopId": {
          "description": "The unique Azure Maps identifier for the respective public transit stop. When referring stops overtime, it is suggested to use stopId that will not change if the physical stop exists.",
          "type": "string"
        },
        "scheduleTime": {
          "description": "The date and time of departure from the stop in ISO 8601 format, e.g. 1996-12-19T19:39:57-08:00.",
          "type": "string",
          "format": "date-time"
        },
        "scheduleType": {
          "description": "Whether the result is based on real-time or static data.",
          "$ref": "#/definitions/ScheduleType"
        }
      }
    },
    "Pricing": {
      "type": "object",
      "description": "Pricing details including currency, reservation price and usage price.",
      "properties": {
        "currency": {
          "description": "The [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of returned prices. Will be returned in case any of the other pricing fields were returned.",
          "type": "string"
        },
        "usagePrice": {
          "description": "The price per minute charged when the vehicle is in use.",
          "type": "string"
        },
        "reservationPrice": {
          "description": "The price per minute charged when the vehicle has been reserved but not yet in use.",
          "type": "string"
        }
      }
    },
    "OperatorInfo": {
      "description": "Contains information about the operator. Apart form Id and name, all other fields are optional and nor always returned.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The Id of the operator operating this object.",
          "type": "string"
        },
        "name": {
          "description": "The name of the operator operating this object.",
          "type": "string"
        },
        "description": {
          "description": "Short description about the operator.",
          "type": "string"
        },
        "siteUrl": {
          "description": "Operator's home page.",
          "type": "string"
        }
      }
    },
    "Pattern": {
      "type": "object",
      "description": "Stop-shape-segments of the trip pattern, which are an ordered list of the stops and the shapes connecting them.",
      "properties": {
        "patternId": {
          "description": "Pattern Id, for example, '3267995'.",
          "type": "string"
        },
        "lineId": {
          "description": "Line Id.",
          "type": "string"
        },
        "stopIds": {
          "description": "Stops the line goes through.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geometry": {
          "description": "Stop sequence and shape per a line in GeoJSON format.",
          "$ref": "#/definitions/LineString"
        }
      }
    },
    "TransitTypeResult": {
      "type": "object",
      "properties": {
        "transitType": {
          "description": "Supported public transit type.",
          "$ref": "#/definitions/TransitType"
        },
        "captionOverride": {
          "description": "For metro areas in which local name is different than the GFTS supported transit type, original name is returned.",
          "type": "string"
        }
      }
    },
    "Agency": {
      "type": "object",
      "description": "Details of the agency.",
      "properties": {
        "agencyId": {
          "description": "The Id of the relevant transit agency, for example, '5872'",
          "type": "string"
        },
        "agencyKey": {
          "description": "The agency’s GTFS Id.",
          "type": "string"
        },
        "agencyName": {
          "description": "Name of the relevant transit agency, e.g. Metro Transit.",
          "type": "string"
        },
        "transitType": {
          "description": "Supported public transit type. One of Tram, Subway, Rail, Bus, Ferry, CableCar, Gondola, Funicular.",
          "$ref": "#/definitions/TransitTypeResult"
        }
      }
    },
    "TransitType": {
      "type": "string",
      "enum": [
        "Bus",
        "CableCar",
        "Ferry",
        "Funicular",
        "Gondola",
        "Rail",
        "Tram",
        "Subway"
      ],
      "x-ms-enum": {
        "name": "TransitType",
        "modelAsString": false,
        "values": [
          {
            "value": "Bus",
            "description": "bus"
          },
          {
            "value": "CableCar",
            "description": "cableCar"
          },
          {
            "value": "Ferry",
            "description": "ferry"
          },
          {
            "value": "Funicular",
            "description": "funicular"
          },
          {
            "value": "Gondola",
            "description": "gondola"
          },
          {
            "value": "Rail",
            "description": "rail"
          },
          {
            "value": "Tram",
            "description": "tram"
          },
          {
            "value": "Subway",
            "description": "subway"
          }
        ]
      }
    },
    "AlertDescription": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Description of the alert.",
          "type": "string"
        },
        "format": {
          "description": "Format of the alert description.",
          "type": "string"
        },
        "sourceUrl": {
          "description": "Source URL.",
          "type": "string"
        }
      }
    },
    "RealTimeArrivalResult": {
      "description": "Contains real-time arrival related details.",
      "type": "object",
      "properties": {
        "arrivalMinutes": {
          "description": "The estimated time of arrival in minutes.",
          "type": "integer"
        },
        "scheduleType": {
          "description": "Whether the result is based on real-time or static data.",
          "$ref": "#/definitions/ScheduleType"
        },
        "patternId": {
          "description": "The pattern Id.",
          "type": "string"
        },
        "line": {
          "description": "The public transit type of the line.",
          "$ref": "#/definitions/Line"
        },
        "stop": {
          "description": "Object for the given stop.",
          "$ref": "#/definitions/Stop"
        }
      }
    },
    "ScheduleType": {
      "description": "Whether the result is based on real-time or static data.",
      "type": "string",
      "enum": [
        "scheduledTime",
        "realTime"
      ],
      "x-ms-enum": {
        "name": "ScheduleType",
        "modelAsString": false,
        "values": [
          {
            "value": "scheduledTime",
            "description": "Returned when estimated time of arrival is based on real-time data."
          },
          {
            "value": "realTime",
            "description": "Returned when estimated time of arrival is based on static data."
          }
        ]
      }
    }
  },
  "x-internal-service-id": "maps",
  "x-internal-service-name": "Maps",
  "x-internal-toc-name": "Mobility",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "GetTransitLineInfoPreview",
  "x-internal-operation-name": "Get Transit Line Info Preview"
}