{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "title": "Update Management API",
    "description": "APIs for managing software update configurations."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns/{softwareUpdateConfigurationRunId}": {
      "get": {
        "tags": [
          "Software Update Configuration Run"
        ],
        "description": "Get a single software update configuration Run by Id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationrunoperations"
        },
        "x-ms-examples": {
          "Get software update configuration runs by Id": {
            "parameters": {
              "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
              "resourceGroupName": "mygroup",
              "automationAccountName": "myaccount",
              "softwareUpdateConfigurationRunId": "2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                  "name": "2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                  "properties": {
                    "softwareUpdateConfiguration": {
                      "name": "mypatch"
                    },
                    "status": "Succeeded",
                    "configuredDuration": "PT2H",
                    "osType": "Windows",
                    "startTime": "2017-10-23T02:30:36.2401233+00:00",
                    "endTime": "2017-10-23T02:30:42.8466667+00:00",
                    "computerCount": 1,
                    "failedCount": 0,
                    "creationTime": "2017-10-23T02:30:36.2401233+00:00",
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-10-23T02:31:39.3966667+00:00"
                  }
                }
              },
              "404": {
                "code": "NotFound",
                "message": "Software update configuration run not found"
              }
            }
          }
        },
        "operationId": "SoftwareUpdateConfigurationRuns_GetById",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/automationAccountName"
          },
          {
            "name": "softwareUpdateConfigurationRunId",
            "description": "The Id of the software update configuration run.",
            "type": "string",
            "required": true,
            "in": "path",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "A single software update configuration Run.",
            "schema": {
              "$ref": "#/definitions/softwareUpdateConfigurationRun"
            }
          },
          "404": {
            "description": "Resource group, account, or software update configuration doesn't exist."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Get By Id"
      }
    }
  },
  "definitions": {
    "updateConfigurationNavigation": {
      "description": "Software update configuration Run Navigation model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the software update configuration triggered the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationRunProperties": {
      "description": "Software update configuration properties.",
      "properties": {
        "softwareUpdateConfiguration": {
          "description": "software update configuration triggered this run",
          "$ref": "#/definitions/updateConfigurationNavigation"
        },
        "status": {
          "type": "string",
          "description": "Status of the software update configuration run.",
          "readOnly": true
        },
        "configuredDuration": {
          "type": "string",
          "description": "configured duration for the software update configuration run.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "Operating system target of the software update configuration triggered this run",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Etart time of the software update configuration run.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the software update configuration run.",
          "readOnly": true
        },
        "computerCount": {
          "type": "integer",
          "description": "Number of computers in the software update configuration run.",
          "readOnly": true
        },
        "failedCount": {
          "type": "integer",
          "description": "Number of computers with failed status.",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationRun": {
      "description": "Software update configuration Run properties.",
      "x-ms-azure-resource": false,
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration run."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration run"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration Run properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationRunProperties"
        }
      }
    },
    "softwareUpdateConfigurationRunListResult": {
      "description": "result of listing all software update configuration runs",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configuration runs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/softwareUpdateConfigurationRun"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "link to next page of results."
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Software Update Configuration Runs",
  "x-internal-split-type": "Operation"
}