{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "title": "Update Management API",
    "description": "APIs for managing software update configurations."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns": {
      "get": {
        "tags": [
          "Software Update Configuration Run"
        ],
        "description": "Return list of software update configuration runs",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "List software update configuration machine runs": {
            "parameters": {
              "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
              "resourceGroupName": "mygroup",
              "automationAccountName": "myaccount",
              "softwareUpdateConfigurationRunId": "a2c7c4b8-55d6-4505-bea7-756e93b18a35",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                      "name": "2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                      "properties": {
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "configuredDuration": "PT2H",
                        "osType": "Windows",
                        "startTime": "2017-10-23T02:30:36.2401233+00:00",
                        "endTime": "2017-10-23T02:30:42.8466667+00:00",
                        "computerCount": 1,
                        "failedCount": 0,
                        "creationTime": "2017-10-23T02:30:36.2401233+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:31:39.3966667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8",
                      "name": "5dabff55-9812-4a58-af16-b0cb1d9384e8",
                      "properties": {
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Succeeded",
                        "configuredDuration": "PT2H",
                        "osType": "Windows",
                        "startTime": "2017-10-23T01:33:01.8818952+00:00",
                        "endTime": "2017-10-23T01:33:08.1133333+00:00",
                        "computerCount": 1,
                        "failedCount": 0,
                        "creationTime": "2017-10-23T01:33:01.8818952+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T01:34:03.94+00:00"
                      }
                    }
                  ],
                  "nextLink": "https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
                }
              },
              "404": {
                "code": "NotFound",
                "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
              }
            }
          },
          "List software update configuration machine run with status equal to 'Failed'": {
            "parameters": {
              "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
              "resourceGroupName": "mygroup",
              "automationAccountName": "myaccount",
              "softwareUpdateConfigurationRunId": "a2c7c4b8-55d6-4505-bea7-756e93b18a35",
              "$filter": "properties/status%20eq%20'Failed'",
              "api-version": "2017-05-15-preview"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                      "name": "2bd77cfa-2e9c-41b4-a45b-684a77cfeca9",
                      "properties": {
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Failed",
                        "configuredDuration": "PT2H",
                        "osType": "Windows",
                        "startTime": "2017-10-23T02:30:36.2401233+00:00",
                        "endTime": "2017-10-23T02:30:42.8466667+00:00",
                        "computerCount": 1,
                        "failedCount": 0,
                        "creationTime": "2017-10-23T02:30:36.2401233+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T02:31:39.3966667+00:00"
                      }
                    },
                    {
                      "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8",
                      "name": "5dabff55-9812-4a58-af16-b0cb1d9384e8",
                      "properties": {
                        "softwareUpdateConfiguration": {
                          "name": "mypatch"
                        },
                        "status": "Failed",
                        "configuredDuration": "PT2H",
                        "osType": "Windows",
                        "startTime": "2017-10-23T01:33:01.8818952+00:00",
                        "endTime": "2017-10-23T01:33:08.1133333+00:00",
                        "computerCount": 1,
                        "failedCount": 0,
                        "creationTime": "2017-10-23T01:33:01.8818952+00:00",
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-10-23T01:34:03.94+00:00"
                      }
                    }
                  ],
                  "nextLink": "https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
                }
              },
              "404": {
                "code": "NotFound",
                "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
              }
            }
          }
        },
        "operationId": "softwareUpdateConfigurationRuns_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/automationAccountName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "$ref": "#/parameters/clientRequestId"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "number of entries you skip before returning results"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Maximum number of entries returned in the results collection"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'"
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of software update configurations runs.",
            "schema": {
              "$ref": "#/definitions/softwareUpdateConfigurationRunListResult"
            }
          },
          "404": {
            "description": "Resource group, or account doesn't exist."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "updateConfigurationNavigation": {
      "description": "Software update configuration Run Navigation model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the software update configuration triggered the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationRunProperties": {
      "description": "Software update configuration properties.",
      "properties": {
        "softwareUpdateConfiguration": {
          "description": "software update configuration triggered this run",
          "$ref": "#/definitions/updateConfigurationNavigation"
        },
        "status": {
          "type": "string",
          "description": "Status of the software update configuration run.",
          "readOnly": true
        },
        "configuredDuration": {
          "type": "string",
          "description": "configured duration for the software update configuration run.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "Operating system target of the software update configuration triggered this run",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Etart time of the software update configuration run.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the software update configuration run.",
          "readOnly": true
        },
        "computerCount": {
          "type": "integer",
          "description": "Number of computers in the software update configuration run.",
          "readOnly": true
        },
        "failedCount": {
          "type": "integer",
          "description": "Number of computers with failed status.",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationRun": {
      "description": "Software update configuration Run properties.",
      "x-ms-azure-resource": false,
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration run."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration run"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration Run properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationRunProperties"
        }
      }
    },
    "softwareUpdateConfigurationRunListResult": {
      "description": "result of listing all software update configuration runs",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configuration runs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/softwareUpdateConfigurationRun"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "link to next page of results."
        }
      }
    }
  },
  "parameters": {
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    },
    "apiVersion": {
      "name": "api-version",
      "description": "The API version.",
      "type": "string",
      "required": true,
      "in": "query"
    },
    "softwareUpdateConfigurationRunId": {
      "name": "softwareUpdateConfigurationRunId",
      "description": "The Id of the software update configuration run.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group within user's subscription.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "subscription id for tenant issuing the request.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "software Update Configuration Runs",
  "x-internal-split-type": "Operation"
}