{
  "swagger": "2.0",
  "info": {
    "version": "2017-10-01",
    "x-ms-code-generation-settings": {
      "name": "PowerBIDedicatedManagementClient"
    },
    "title": "PowerBIDedicated",
    "description": "PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}": {
      "patch": {
        "description": "Updates the current state of the specified Dedicated capacity.",
        "x-ms-examples": {
          "Update capacity parameters": {
            "parameters": {
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60",
              "resourceGroupName": "TestRG",
              "dedicatedCapacityName": "azsdktest",
              "api-version": "2017-10-01",
              "capacityUpdateParameters": {
                "sku": {
                  "name": "A1",
                  "tier": "PBIE_Azure"
                },
                "tags": {
                  "testKey": "testValue"
                },
                "properties": {
                  "capacityAdministrators": {
                    "members": [
                      "azsdktest@microsoft.com",
                      "azsdktest2@microsoft.com"
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest",
                  "location": "West US",
                  "name": "azsdktest",
                  "properties": {
                    "capacityAdministrators": {
                      "members": [
                        "azsdktest@microsoft.com",
                        "azsdktest2@microsoft.com"
                      ]
                    },
                    "provisioningState": "Provisioning",
                    "state": "Provisioning"
                  },
                  "sku": {
                    "name": "A1",
                    "tier": "PBIE_Azure"
                  },
                  "tags": {
                    "testKey": "testValue"
                  }
                }
              },
              "202": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest",
                  "location": "West US",
                  "name": "azsdktest",
                  "properties": {
                    "capacityAdministrators": {
                      "members": [
                        "azsdktest@microsoft.com",
                        "azsdktest2@microsoft.com"
                      ]
                    },
                    "provisioningState": "Provisioning",
                    "state": "Provisioning"
                  },
                  "sku": {
                    "name": "A1",
                    "tier": "PBIE_Azure"
                  },
                  "tags": {
                    "testKey": "testValue"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "name": "capacityUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedCapacityUpdateParameters"
            },
            "description": "Request object that contains the updated information for the capacity."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result listing capacities. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of capacities supported by the Microsoft.PowerBIDedicated resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Capacities REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.PowerBIDedicated.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: capacity, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: create, update, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Resource": {
      "description": "Represents an instance of an PowerBI Dedicated resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the PowerBI Dedicated resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the PowerBI Dedicated resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the PowerBI Dedicated resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the PowerBI Dedicated resource."
        },
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU of the PowerBI Dedicated resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        }
      },
      "required": [
        "location",
        "sku"
      ],
      "x-ms-azure-resource": true
    },
    "DedicatedCapacity": {
      "description": "Represents an instance of a Dedicated Capacity resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DedicatedCapacityProperties",
          "description": "Properties of the provision operation request."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "DedicatedCapacities": {
      "description": "An array of Dedicated capacities resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DedicatedCapacity"
          },
          "description": "An array of Dedicated capacities resources."
        }
      },
      "required": [
        "value"
      ]
    },
    "DedicatedCapacityUpdateParameters": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU of the Dedicated capacity resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional provisioning properties."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DedicatedCapacityMutableProperties",
          "description": "Properties of the provision operation request."
        }
      }
    },
    "DedicatedCapacityProperties": {
      "description": "Properties of Dedicated Capacity resource.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current deployment state of PowerBI Dedicatedresource. The provisioningState is to indicate states for resource provisioning."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DedicatedCapacityMutableProperties"
        }
      ]
    },
    "ResourceSku": {
      "description": "Represents the SKU name and Azure pricing tier for PowerBI Dedicated resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU level."
        },
        "tier": {
          "type": "string",
          "enum": [
            "PBIE_Azure"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          },
          "description": "The name of the Azure pricing tier to which the SKU applies."
        }
      },
      "required": [
        "name"
      ]
    },
    "DedicatedCapacityMutableProperties": {
      "description": "An object that represents a set of mutable Dedicated capacity resource properties.",
      "type": "object",
      "properties": {
        "capacityAdministrators": {
          "$ref": "#/definitions/DedicatedCapacityServerAdministrators",
          "description": "A collection of Dedicated capacity administrators"
        },
        "backupBlobContainerUri": {
          "type": "string",
          "description": "The container URI of backup blob."
        }
      }
    },
    "DedicatedCapacityServerAdministrators": {
      "description": "An array of administrator user identities",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The UPN of the user. For example: johnsmith@contoso.com."
          },
          "description": "An array of administrator user identities."
        }
      }
    },
    "SkuEnumerationForNewResourceResult": {
      "description": "An object that represents enumerating SKUs for new resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceSku"
          },
          "description": "The collection of available SKUs for new resources"
        }
      }
    },
    "SkuEnumerationForExistingResourceResult": {
      "description": "An object that represents enumerating SKUs for existing resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuDetailsForExistingResource"
          },
          "description": "The collection of available SKUs for existing resources"
        }
      }
    },
    "SkuDetailsForExistingResource": {
      "description": "An object that represents SKU details for existing resources",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The SKU in SKU details for existing resources."
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The client API version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90."
    }
  },
  "x-internal-service-name": "Power BI Embedded",
  "x-internal-toc-name": "Capacities",
  "x-internal-split-type": "Operation"
}