{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "title": "AutomationManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}": {
      "patch": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Update",
        "description": "Update the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Update webhook": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "webhookName": "TestWebhook",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "TestWebhook",
                "properties": {
                  "isEnabled": false,
                  "description": "updated webhook"
                }
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                  "name": "TestWebhook",
                  "properties": {
                    "isEnabled": false,
                    "expiryTime": "2018-03-30T23:03:14.5752078+00:00",
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "lastInvokedTime": null,
                    "runOn": null,
                    "parameters": null,
                    "uri": "",
                    "creationTime": "2017-03-30T21:52:01.272378+00:00",
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-03-30T23:03:14.9069441+00:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUpdateParameters"
            },
            "description": "The update parameters for webhook."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "WebhookProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets the value of the enabled flag of the webhook."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the webhook uri."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the expiry time.",
          "x-nullable": false
        },
        "lastInvokedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last invoked time.",
          "x-nullable": true
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook the webhook is associated with."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Details of the user who last modified the Webhook"
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the webhook properties"
    },
    "Webhook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/WebhookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the webhook properties."
        }
      },
      "description": "Definition of the webhook type.",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "WebhookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Webhook"
          },
          "description": "Gets or sets a list of webhooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list webhook operation."
    },
    "WebhookUpdateProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the value of the enabled flag of webhook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the webhook."
        }
      },
      "description": "The properties of the update webhook."
    },
    "WebhookUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the webhook."
        },
        "properties": {
          "$ref": "#/definitions/WebhookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the webhook."
        }
      },
      "description": "The parameters supplied to the update webhook operation."
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "WebhookCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the webhook."
        },
        "properties": {
          "$ref": "#/definitions/WebhookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the webhook."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update webhook operation."
    },
    "WebhookCreateOrUpdateProperties": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the value of the enabled flag of webhook."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the expiry time.",
          "x-nullable": false
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the name of the hybrid worker group the webhook job will run on."
        }
      },
      "description": "The properties of the create webhook operation."
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    }
  },
  "x-internal-service-id": "automation",
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Webhook",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Update",
  "x-internal-operation-name": "Update"
}