{
  "swagger": "2.0",
  "info": {
    "version": "2017-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "Client"
    },
    "title": "Azure Location Based Services Resource Provider",
    "description": "Resource Provider"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LocationBasedServices/accounts": {
      "get": {
        "description": "Get all Location Based Services Accounts in a Resource Group",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "ListAccountsByResourceGroup": {
            "parameters": {
              "api-version": "2017-01-01-preview",
              "subscriptionId": "21a9967a-e8a9-4656-a70b-96ff1c4d05a0",
              "resourceGroupName": "myResourceGroup"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount2",
                      "name": "myLBSAccount2",
                      "type": "Microsoft.LocationBasedServices/accounts",
                      "location": "global",
                      "tags": {
                        "test": "true"
                      },
                      "sku": {
                        "name": "S0",
                        "tier": "Standard"
                      }
                    },
                    {
                      "id": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.LocationBasedServices/accounts/myLBSAccount",
                      "name": "myLBSAccount",
                      "type": "Microsoft.LocationBasedServices/accounts",
                      "location": "global",
                      "tags": {
                        "test": "true"
                      },
                      "sku": {
                        "name": "S0",
                        "tier": "Standard"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null,
          "itemName": "value"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/LocationBasedServicesAccounts"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Resource Group"
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the Azure Resource Group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the Location Based Services Account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "If available, the component generating the error."
        },
        "details": {
          "type": "array",
          "readOnly": true,
          "description": "If available, a list of additional details about the error.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "readOnly": true,
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "readOnly": true,
                "description": "If available, a human readable description of the error."
              },
              "target": {
                "type": "string",
                "readOnly": true,
                "description": "If available, the component generating the error."
              }
            }
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified Location Based Services Account resource identifier."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Location Based Services Account, which is unique within a Resource Group."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Azure resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "LocationBasedServicesAccount": {
      "description": "An Azure resource which represents access to a suite of Location Based Services REST APIs.",
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "readOnly": true,
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "LocationBasedServicesAccountCreateParameters": {
      "description": "Parameters used to create a new Location Based Services Account.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      },
      "required": [
        "location",
        "sku"
      ]
    },
    "LocationBasedServicesAccountUpdateParameters": {
      "description": "Parameters used to update an existing Location Based Services Account.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "LocationBasedServicesAccounts": {
      "description": "A list of Location Based Services Accounts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A Location Based Services Account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/LocationBasedServicesAccount"
          }
        }
      }
    },
    "Sku": {
      "description": "The SKU of the Location Based Services Account.",
      "properties": {
        "name": {
          "description": "The name of the SKU, in standard format (such as S0).",
          "type": "string"
        },
        "tier": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the sku tier. This is based on the SKU name."
        }
      },
      "required": [
        "name"
      ]
    },
    "LocationBasedServicesAccountsMoveRequest": {
      "description": "The description of what resources to move between resource groups.",
      "type": "object",
      "required": [
        "targetResourceGroup",
        "resourceIds"
      ],
      "properties": {
        "targetResourceGroup": {
          "type": "string",
          "description": "The name of the destination resource group."
        },
        "resourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of resource names to move from the source resource group."
        }
      }
    },
    "LocationBasedServicesKeySpecification": {
      "description": "Whether the operation refers to the primary or secondary key.",
      "type": "object",
      "required": [
        "keyType"
      ],
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": true
          },
          "description": "Whether the operation refers to the primary or secondary key."
        }
      }
    },
    "LocationBasedServicesAccountKeys": {
      "description": "The set of keys which can be used to access the Location Based Services REST APIs. Two keys are provided for key rotation without interruption.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The full Azure resource identifier of the Location Based Services Account."
        },
        "primaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The primary key for accessing the Location Based Services REST APIs."
        },
        "secondaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The secondary key for accessing the Location Based Services REST APIs."
        }
      }
    },
    "LocationBasedServicesOperations": {
      "description": "The set of operations available for Location Based Services.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An operation available for Location Based Services.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "readOnly": true,
                "description": "Operation name: {provider}/{resource}/{operation}."
              },
              "display": {
                "description": "The human-readable description of the operation.",
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Service provider: Microsoft Location Based Services."
                  },
                  "resource": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource on which the operation is performed."
                  },
                  "operation": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The action that users can perform, based on their permission level."
                  },
                  "description": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The description of the operation."
                  }
                }
              },
              "origin": {
                "type": "string",
                "readOnly": true,
                "description": "The origin of the operation."
              }
            }
          }
        }
      }
    }
  },
  "x-internal-service-name": "Location Based Services",
  "x-internal-toc-name": "Accounts",
  "x-internal-split-type": "Operation"
}