{
  "swagger": "2.0",
  "info": {
    "version": "2019-11-01",
    "title": "NetworkExperiments",
    "description": "These are the Network Experiment APIs.\n"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkExperimentProfiles",
      "description": "The configuration of Network Experiment profiles"
    },
    {
      "name": "Experiments",
      "description": "The configuration of the Network Experiment experiments"
    },
    {
      "name": "PreconfiguredEndpoints",
      "description": "The preconfigured endpoints and details"
    },
    {
      "name": "Reports",
      "description": "The analysis and results of the experiments"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}": {
      "patch": {
        "tags": [
          "NetworkExperimentProfiles"
        ],
        "description": "Updates an NetworkExperimentProfiles",
        "summary": "Updates an NetworkExperimentProfiles by NetworkExperimentProfile name",
        "operationId": "NetworkExperimentProfiles_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The Profile Update Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. successful operation",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Updates an Experiment": {
            "parameters": {
              "api-version": "2019-11-01",
              "subscriptionId": "subid",
              "resourceGroupName": "MyResourceGroup",
              "profileName": "MyProfile",
              "parameters": {
                "properties": {
                  "enabledState": "Enabled"
                },
                "tags": {
                  "key1": "value1",
                  "key2": "value2"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile",
                  "name": "MyProfile",
                  "type": "Microsoft.Network/NetworkExperimentprofiles",
                  "tags": {
                    "key1": "value1",
                    "key2": "value2"
                  },
                  "location": "WestUs",
                  "properties": {
                    "enabledState": "Enabled",
                    "resourceState": "Creating"
                  }
                }
              },
              "202": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile",
                  "name": "MyProfile",
                  "type": "Microsoft.Network/NetworkExperimentprofiles",
                  "tags": {
                    "key1": "value1",
                    "key2": "value2"
                  },
                  "location": "WestUs",
                  "properties": {
                    "enabledState": "Enabled",
                    "resourceState": "Creating"
                  }
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "ProfileProperties": {
      "description": "Defines the properties of an experiment",
      "type": "object",
      "properties": {
        "resourceState": {
          "description": "Resource status.",
          "$ref": "#/definitions/NetworkExperimentResourceState"
        },
        "enabledState": {
          "type": "string",
          "description": "The state of the Experiment",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        }
      }
    },
    "ProfileList": {
      "description": "Defines a list of Profiles. It contains a list of Profile objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Profile"
          },
          "description": "List of Profiles within a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Profile objects if there are any."
        }
      }
    },
    "Profile": {
      "description": "Defines an Network Experiment Profile and lists of Experiments",
      "properties": {
        "name": {
          "description": "The name of the Profile",
          "type": "string"
        },
        "properties": {
          "description": "The properties of a Profile",
          "$ref": "#/definitions/ProfileProperties",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "Gets a unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Endpoint": {
      "description": "Defines the endpoint properties",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the endpoint",
          "type": "string"
        },
        "endpoint": {
          "description": "The endpoint URL",
          "type": "string"
        }
      }
    },
    "ProfileUpdateProperties": {
      "description": "Defines the properties of an experiment",
      "type": "object",
      "properties": {
        "enabledState": {
          "type": "string",
          "description": "The enabled state of the Profile",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        }
      }
    },
    "ProfileUpdateModel": {
      "description": "Defines modifiable attributes of a Profile",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties of a Profile",
          "$ref": "#/definitions/ProfileUpdateProperties",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      }
    },
    "ExperimentUpdateProperties": {
      "description": "Defines the properties of an experiment",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the intent or details of the Experiment",
          "type": "string"
        },
        "enabledState": {
          "type": "string",
          "description": "The state of the Experiment",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        }
      }
    },
    "ExperimentUpdateModel": {
      "description": "Defines modifiable attributes of an Experiment",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "description": "The properties of a Profile",
          "$ref": "#/definitions/ExperimentUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExperimentProperties": {
      "description": "Defines the properties of an experiment",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the details or intents of the Experiment",
          "type": "string"
        },
        "endpointA": {
          "description": "The endpoint A of an experiment",
          "$ref": "#/definitions/Endpoint"
        },
        "endpointB": {
          "description": "The endpoint B of an experiment",
          "$ref": "#/definitions/Endpoint"
        },
        "enabledState": {
          "type": "string",
          "description": "The state of the Experiment",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        },
        "resourceState": {
          "description": "Resource status.",
          "$ref": "#/definitions/NetworkExperimentResourceState"
        },
        "status": {
          "description": "The description of Experiment status from the server side",
          "type": "string",
          "readOnly": true
        },
        "scriptFileUri": {
          "description": "The uri to the Script used in the Experiment",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExperimentList": {
      "description": "Defines a list of Experiments. It contains a list of Experiment objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Experiment"
          },
          "description": "List of Experiments within a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Experiment objects if there are any."
        }
      }
    },
    "Experiment": {
      "description": "Defines the properties of an Experiment",
      "properties": {
        "name": {
          "description": "The name of the Experiment",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The properties of an Experiment",
          "$ref": "#/definitions/ExperimentProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "LatencyScorecard": {
      "description": "Defines the LatencyScorecard",
      "properties": {
        "properties": {
          "description": "The properties of a latency scorecard",
          "$ref": "#/definitions/LatencyScorecardProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "NetworkExperimentResourceState": {
      "description": "Defines the server side resource status",
      "readOnly": true,
      "enum": [
        "Creating",
        "Enabling",
        "Enabled",
        "Disabling",
        "Disabled",
        "Deleting"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "NetworkExperimentResourceState",
        "modelAsString": true
      }
    },
    "LatencyScorecardProperties": {
      "description": "Defines a the properties of a Latency Scorecard",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the Latency Scorecard",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the Latency Scorecard",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The description of the Latency Scorecard",
          "type": "string",
          "readOnly": true
        },
        "endpointA": {
          "description": "The A endpoint in the scorecard",
          "type": "string",
          "readOnly": true
        },
        "endpointB": {
          "description": "The B endpoint in the scorecard",
          "type": "string",
          "readOnly": true
        },
        "startDateTimeUTC": {
          "description": "The start time of the Latency Scorecard in UTC",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "endDateTimeUTC": {
          "description": "The end time of the Latency Scorecard in UTC",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "country": {
          "description": "The country associated with the Latency Scorecard. Values are country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html",
          "type": "string",
          "readOnly": true
        },
        "latencyMetrics": {
          "description": "The latency metrics of the Latency Scorecard",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LatencyMetric"
          }
        }
      }
    },
    "LatencyMetric": {
      "description": "Defines the properties of a latency metric used in the latency scorecard",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Latency Metric",
          "type": "string",
          "readOnly": true
        },
        "endDateTimeUTC": {
          "description": "The end time of the Latency Scorecard in UTC",
          "type": "string",
          "readOnly": true
        },
        "aValue": {
          "description": "The metric value of the A endpoint",
          "type": "number",
          "readOnly": true
        },
        "bValue": {
          "description": "The metric value of the B endpoint",
          "type": "number",
          "readOnly": true
        },
        "delta": {
          "description": "The difference in value between endpoint A and B",
          "type": "number",
          "readOnly": true
        },
        "deltaPercent": {
          "description": "The percent difference between endpoint A and B",
          "type": "number",
          "readOnly": true
        },
        "aCLower95CI": {
          "description": "The lower end of the 95% confidence interval for endpoint A",
          "type": "number",
          "readOnly": true
        },
        "aHUpper95CI": {
          "description": "The upper end of the 95% confidence interval for endpoint A",
          "type": "number",
          "readOnly": true
        },
        "bCLower95CI": {
          "description": "The lower end of the 95% confidence interval for endpoint B",
          "type": "number",
          "readOnly": true
        },
        "bUpper95CI": {
          "description": "The upper end of the 95% confidence interval for endpoint B",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "Timeseries": {
      "description": "Defines the Timeseries",
      "properties": {
        "properties": {
          "description": "The properties of a Timeseries",
          "$ref": "#/definitions/TimeseriesProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TimeseriesProperties": {
      "description": "Defines the properties of a timeseries",
      "type": "object",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "The endpoint associated with the Timeseries data point"
        },
        "startDateTimeUTC": {
          "type": "string",
          "description": "The start DateTime of the Timeseries in UTC"
        },
        "endDateTimeUTC": {
          "type": "string",
          "description": "The end DateTime of the Timeseries in UTC"
        },
        "aggregationInterval": {
          "type": "string",
          "description": "The aggregation interval of the Timeseries",
          "enum": [
            "Hourly",
            "Daily"
          ],
          "x-ms-enum": {
            "name": "aggregationInterval",
            "modelAsString": true
          }
        },
        "timeseriesType": {
          "type": "string",
          "description": "The type of Timeseries",
          "enum": [
            "MeasurementCounts",
            "LatencyP50",
            "LatencyP75",
            "LatencyP95"
          ],
          "x-ms-enum": {
            "name": "timeseriesType",
            "modelAsString": true
          }
        },
        "country": {
          "type": "string",
          "description": "The country associated with the Timeseries. Values are country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html"
        },
        "timeseriesData": {
          "description": "The set of data points for the timeseries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeseriesDataPoint"
          }
        }
      }
    },
    "TimeseriesDataPoint": {
      "description": "Defines a timeseries datapoint used in a timeseries",
      "type": "object",
      "properties": {
        "dateTimeUTC": {
          "description": "The DateTime of the Timeseries data point in UTC",
          "type": "string"
        },
        "value": {
          "description": "The Value of the Timeseries data point",
          "type": "number"
        }
      }
    },
    "PreconfiguredEndpointList": {
      "description": "Defines a list of preconfigured endpoints.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PreconfiguredEndpoint"
          },
          "description": "List of PreconfiguredEndpoints supported by NetworkExperiment."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of PreconfiguredEndpoints if there are any."
        }
      }
    },
    "PreconfiguredEndpoint": {
      "description": "Defines the properties of a preconfigured endpoint",
      "properties": {
        "name": {
          "description": "The name of the endpoint",
          "type": "string"
        },
        "properties": {
          "description": "The properties of a preconfiguredEndpoint",
          "$ref": "#/definitions/PreconfiguredEndpointProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PreconfiguredEndpointProperties": {
      "description": "Defines the properties of a preconfigured endpoint",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the endpoint",
          "type": "string"
        },
        "endpoint": {
          "description": "The endpoint that is preconfigured",
          "type": "string"
        },
        "endpointType": {
          "description": "The type of endpoint",
          "type": "string",
          "enum": [
            "AFD",
            "AzureRegion",
            "CDN",
            "ATM"
          ],
          "x-ms-enum": {
            "name": "endpointType",
            "modelAsString": true
          }
        },
        "backend": {
          "description": "The preconfigured endpoint backend",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Common resource representation.",
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$",
      "minLength": 1,
      "maxLength": 80,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    },
    "ProfileNameParameter": {
      "name": "profileName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$",
      "x-ms-parameter-location": "method",
      "description": "The Profile identifier associated with the Tenant and Partner"
    },
    "ExperimentNameParameter": {
      "name": "experimentName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$",
      "x-ms-parameter-location": "method",
      "description": "The Experiment identifier associated with the Experiment"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    }
  },
  "x-internal-service-id": "internetanalyzer",
  "x-internal-service-name": "Internet Analyzer",
  "x-internal-toc-name": "Network Experiment Profiles",
  "x-internal-product-uid": null,
  "x-internal-split-type": "Operation",
  "x-internal-operation-id": "Update",
  "x-internal-operation-name": "Update"
}